<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Stan magazynowy" />
		<ui:define name="egr_content">

			<h:form id="frmMnu" styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20 d-flex flex-wrap">

				<p:commandButton value="wróć"  icon="undo"
					style="min-width: 80px;" styleClass="ctl-home-link-menu"
					action="/faces/StanMagazynowy/StanMagazynowy.xhtml"
					ajax="false" onclick="form.target = '_self'"
					 />

				<p:commandButton value="raport" id="raportId"
					icon="content_paste"
					style="min-width: 80px;"
					actionListener="#{stanMagazynowyBean.raport()}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

			</h:form>

			<h:form id="formMgWyniki" styleClass="d-flex-1-column ov-auto m20i p20 bg-fff bsh2black">

				#{stanMagazynowyBean.loadEgListaWartosci('PP_MAG_MAGAZYNY', [])}

				<h1>Stan magazynowy</h1>
				<p:panelGrid styleClass="mw800">
					<p:row>
						<p:column>
							<p:outputLabel value="Stan na:"
								styleClass="dark-text pogrubiony-norm" />
						</p:column>
						<p:column>
							<p:outputLabel value="#{stanMagazynowyBean.getDate()}"
								styleClass=" pogrubiony-normal" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:outputLabel value="Kod magazynu:"
								styleClass="dark-text pogrubiony-norm" />
						</p:column>
						<p:column>
							<p:outputLabel
								value="#{stanMagazynowyBean.p_mag_ob_id == null ? 'Wszystkie' : stanMagazynowyBean.getSql('PP_MAG_MAGAZYNY').findAndFormat(stanMagazynowyBean.p_mag_ob_id, '%2$s')}"
								styleClass=" pogrubiony-normal" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:outputLabel value="Nazwa magazynu:"
								styleClass="dark-text pogrubiony-norm" />
						</p:column>
						<p:column>
							<p:outputLabel
								value="#{stanMagazynowyBean.p_mag_ob_id == null ? 'Wszystkie' : stanMagazynowyBean.getSql('PP_MAG_MAGAZYNY').findAndFormat(stanMagazynowyBean.p_mag_ob_id, '%3$s')}"
								styleClass=" pogrubiony-normal" />
						</p:column>
					</p:row>
				</p:panelGrid>
				<div class="flex-1 pt20">
					<c:cLookupTable id="tbMgWynikiWyszukiwania"
					 	maxColWidth="300"
						datasource="#{stanMagazynowyBean.getLW('PPL_MAG_MAG_WYNIK_WYSZ', [stanMagazynowyBean.p_mag_ob_id, 
							 stanMagazynowyBean.p_mag_ob_id
							 ,stanMagazynowyBean.p_tow_id
							 ,stanMagazynowyBean.p_tow_id
							 ,stanMagazynowyBean.p_kls_id
							 ,stanMagazynowyBean.p_kk_id
							 ,stanMagazynowyBean.p_kls_id
							 ,stanMagazynowyBean.p_kk_id
							 ,stanMagazynowyBean.p_kls_id
							 ,stanMagazynowyBean.p_kk_id
							 ,stanMagazynowyBean.p_kls_id
							 ,stanMagazynowyBean.p_kk_id
							 ,stanMagazynowyBean.p_kls_id
							 ,stanMagazynowyBean.p_kk_id
							 ,stanMagazynowyBean.p_kls_id
							 ])}"
						showSearchField="true"
						notActiveList="true"
							>
					</c:cLookupTable>
				</div>
					
			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
