<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	>

<body>

	<h:form id="frmT1" styleClass="d-flex-column">
		<f:passThroughAttribute name="autocomplete" value="off" />

		<c:cLOVMDesign
			datasource="#{stanMagazynowyBean.getLW('PP_MAG_TOWARY')}"
			lovDlgTitle="Towar"
			label="Towar:"
			value="#{stanMagazynowyBean.p_tow_id}"
			valueFormat="%1$s" lovTextFormat="%3$s"
			styleClass="pb25"/>

		<c:cSOMMDesign
			datasource="#{stanMagazynowyBean.getLW('PP_MAG_MAGAZYNY')}"
			label="Magazyn: "
			update="@(.CLbuttonsPnlGrd)"
			value="#{stanMagazynowyBean.p_mag_ob_id}" valueFormat="%1$s"
			required="true"
			textFormat="%2$s - %3$s - %4$s - %1$s" emptyLabel="Wybierz magazyn"
			styleClass="pb25"
			 />

		<c:cSOMMDesign
			datasource="#{stanMagazynowyBean.getLW('PP_MAG_KLASYFIKACJE')}"
			label="Klasyfikacja:" value="#{stanMagazynowyBean.p_kls_id}"
			textFormat="%2$s - %3$s - %1$s" valueFormat="%1$s"
			update="@(.CLkodKlasyfikacjiMag)"
			styleClass="pb25" />

		<c:cSOMMDesign styleClass="CLkodKlasyfikacjiMag pb25"
			datasource="#{stanMagazynowyBean.getLW('PP_MAG_KOD_KLASYFIKACJI', [stanMagazynowyBean.getSql('PP_MAG_KLASYFIKACJE').findAndFormat(stanMagazynowyBean.p_kls_id, '%2$s')])}"
			label="Kod klasyfikacji:" value="#{stanMagazynowyBean.p_kk_id}"
			textFormat="%2$s - %3$s - %1$s" valueFormat="%1$s" />
	</h:form>

</body>
</html>