<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:cc="http://java.sun.com/jsf/composite/components">

<body>

	<h:panelGroup>

		<h:form id="frmT3" autocomplete="off">
			<f:passThroughAttribute name="autocomplete" value="off" />
			<div class="ui-g padd-cc-mdesign-b25">
				<div class="ui-g-12">
					<c:cLOVMDesign 
						datasource="#{stanMagazynowyBean.getLW('PPL_MAG_BIBL_TOWARY')}"
						lovDlgTitle="Towar"
						value="#{stanMagazynowyBean.p_tow_id_bibl}"
						valueFormat="%1$s" lovTextFormat="%3$s"
						update="@(.CLpartieCzasopismId)" label="Towar:" />

					<c:cSOMMDesign styleClass="CLpartieCzasopismId"
						datasource="#{stanMagazynowyBean.getLW('PP_MAG_PARTIE',[stanMagazynowyBean.p_tow_id_bibl])}"
						label="Partia:" value="#{stanMagazynowyBean.p_prt_kod}"
						valueFormat="%2$s" textFormat="%1$s - %2$s"
						emptyLabel="Wybierz partię" width="500" />

					<c:cSOMMDesign
						datasource="#{stanMagazynowyBean.getLW('PP_MAG_KLASYFIKACJE')}"
						label="Klasyfikacja:" value="#{stanMagazynowyBean.p_kls_id_bibl}"
						textFormat="%2$s - %3$s - %1$s" valueFormat="%1$s"
						update="@(.CLkodKlasyfikacjiBibl)" />


					<c:cSOMMDesign styleClass="CLkodKlasyfikacjiBibl"
						datasource="#{stanMagazynowyBean.getLW('PP_MAG_KOD_KLASYFIKACJI', [stanMagazynowyBean.getSql('PP_MAG_KLASYFIKACJE').findAndFormat(stanMagazynowyBean.p_kls_id, '%2$s')])}"
						label="Kod klasyfikacji:"
						value="#{stanMagazynowyBean.p_kk_id_bibl}"
						textFormat="%2$s - %3$s - %1$s" valueFormat="%1$s" />
				</div>

			</div>
		</h:form>
	</h:panelGroup>

</body>
</html>