<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Stan magazynowy" />
		<ui:define name="egr_content">

			<h:form id="frmTMnu" styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20">

				<p:autoUpdate/>
				<p:commandButton id='searchMgBtnId' value="wyszukaj"
					icon="search" style="min-width: 100px;"
					class="ctl-home-link-menu"
					disabled="#{stanMagazynowyBean.isBtnDisabled()}"
					partialSubmit="true" process="tabViewId:frmT1 tabViewId:frmT2"
					update="formMgWyniki:tbMgWynikiWyszukiwania" ajax="false"
					action="#{stanMagazynowyBean.przejdzDoWyniku()}">
				</p:commandButton>

			</h:form>

			<div class="bg-fff bsh2black m20i p20 flex-1">
				#{ stanMagazynowyBean.resetujFiltr()  }
				#{ stanMagazynowyBean.setActiveTabIndex(0) }

				<h2>Wybierz kryteria</h2>
				<ui:include
					src="/faces/StanMagazynowy/StanMagazynowyMagazynTab.xhtml">
				</ui:include>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
