<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:cc="http://java.sun.com/jsf/composite/components">

<body>

	<h:panelGroup>

		<h:form id="frmT2" autocomplete="off">
			<f:passThroughAttribute name="autocomplete" value="off" />
			<div class="ui-g padd-cc-mdesign-b25">
				<div class="ui-g-12">
					<c:cLOVMDesign  
						datasource="#{stanMagazynowyBean.getLW('PPL_MAG_BIBL_TOWARY')}"
						lovDlgTitle="Towar"
						value="#{stanMagazynowyBean.p_tow_id_bibl}"
						valueFormat="%1$s"
						update="tabViewId:frmT2"  lovTextFormat="%3$s"
						label="Towar:" />


					<c:cSOMMDesign
						datasource="#{stanMagazynowyBean.getLW('PP_MAG_KLASYFIKACJE')}"
						label="Klasyfikacja:" value="#{stanMagazynowyBean.p_kls_id_bibl}"
						textFormat="%2$s - %3$s - %1$s" valueFormat="%1$s" update="@(.CLkodKlasyfikacjiBibl)"
						/>

	
					<c:cSOMMDesign styleClass="CLkodKlasyfikacjiBibl"
						datasource="#{stanMagazynowyBean.getLW('PP_MAG_KOD_KLASYFIKACJI', [stanMagazynowyBean.getSql('PP_MAG_KLASYFIKACJE').findAndFormat(stanMagazynowyBean.p_kls_id_bibl, '%2$s')])}"
						label="Kod klasyfikacji:"
						value="#{stanMagazynowyBean.p_kk_id_bibl}"
						textFormat="%2$s - %3$s - %1$s" valueFormat="%1$s"  />

				</div>
			</div>
		</h:form>
	</h:panelGroup>

</body>
</html>