<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Biblioteka - książki" />
		<ui:define name="egr_content">

			<h:form styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20 d-flex flex-wrap">
				<p:commandButton value="wróć"  icon="undo"
					style="min-width: 80px;" styleClass="ctl-home-link-menu"
					action="/faces/StanMagazynowy/StanMagazynowy.xhtml"
					ajax="false"
					 />
			</h:form>

			<h:form styleClass="d-flex-1-column ov-auto m20i p20 bg-fff bsh2black">

				#{stanMagazynowyBean.loadSqlData('sqlBiblioteka', '
						SELECT
						mag_ob_id,
						mag_kod_nr,
						ob_nazwa,
						ob_stan_definicji
						FROM
						gmt_magazyny,
						css_obiekty_w_przedsieb WHERE mag_ob_id = ? AND
						mag_ob_id  in css_pck_public.get_default (\'BIBLIOTEKA_MAGAZYN\'
						, gmp_app_css.get_app_id ) ', [stanMagazynowyBean.p_mag_ob_id_bibl] )}

				<div class="d-flex">
					<p:outputLabel value="Stan na:"
								   styleClass="dark-text pogrubiony-norm pr30" />
					<p:outputLabel
							value="#{stanMagazynowyBean.getDate()}"
							styleClass=" pogrubiony-normal" />
				</div>

				<div class="flex-1">

					<c:cLookupTable id="tbMgWynikiWyszukiwania"
						datasource="#{stanMagazynowyBean.getLW('PPL_MAG_BIBL_KSIAZKI_WYSZ', [stanMagazynowyBean.p_tow_id_bibl
									,stanMagazynowyBean.p_tow_id_bibl
									,stanMagazynowyBean.p_kls_id_bibl
									,stanMagazynowyBean.p_kk_id_bibl
									,stanMagazynowyBean.p_kls_id_bibl
									,stanMagazynowyBean.p_kk_id_bibl
									,stanMagazynowyBean.p_kls_id_bibl
									,stanMagazynowyBean.p_kk_id_bibl
									,stanMagazynowyBean.p_kls_id_bibl
									,stanMagazynowyBean.p_kk_id_bibl
									,stanMagazynowyBean.p_kls_id_bibl
									,stanMagazynowyBean.p_kk_id_bibl
									,stanMagazynowyBean.p_kls_id_bibl
									,stanMagazynowyBean.p_kls_id_ksiazki
									,stanMagazynowyBean.p_kk_id_ksiazki])}"
						showSearchField="false"
						notActiveList="true"
						>
					</c:cLookupTable>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
