/* spoza wzoru */
@font-face {
	font-family: SourceSansPro-Regular;
	src: url('#{resource["fonts/SourceSansPro-Regular.otf"]}')
}

.login-fa-small {
	font-size: 0.5em;
	vertical-align: middle;
}

.login-higher-footer {
	border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgb(240,241,243);
    padding: 5px 0;
}

.login-higher-footer a,
.login-higher-footer .fa,
.login-higher-footer .btn-primary {
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 0.6);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary:hover a {
	color: rgb(255, 255, 255);
}

.login-lang-flag-small {
	height: 0.8em;
	margin-left: 8px;
	position: relative;
	bottom: 2px;
}

.login-lang-flag-menu {
	height: 1em;
	margin-left: 4px;
	position: absolute;
	right: 10%;
	bottom: 6px;
}

.login-lang-menu {
	position: relative;
}

.login-higher-footer .dropdown-menu {
	background-color: #26437E;
}

.login-higher-footer .dropdown-menu > li > a {
	color: rgb(255, 255, 255);
}

.login-higher-footer .dropdown-menu > li > a:hover,
.login-higher-footer .dropdown-menu > li > a:focus {
	background-color: #3A3846;
}

/* Adaptacja kolorow */
.login-container .btn-primary:hover {
    background-color: #26437E;
}

.login-container .btn-primary:active,
.login-container .btn-primary.active,
.login-container .open > .dropdown-toggle.btn-primary {
    background-color: #26437E;
}

/* PF fixy */
.btn.btn-primary {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.help-block {
	color: #fff;
    font-size: 1em;
}

.ui-state-default {
	text-shadow: none;
}

.ui-inputfield.ui-state-error {
	color: #fff;
}

.login-login-btn.ui-button .ui-button-text {
	padding: 8px 12px;
}

/*style wyciagniete z html-a*/

body {
    font-family: SourceSansPro-Regular;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20bba5+0,26437e+28,000049+64,000000+100 */
    background: rgb(32, 187, 165);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(32, 187, 165, 1) 0%, rgba(38, 67, 126, 1) 28%, rgba(0, 0, 73, 1) 64%, rgba(0, 0, 0, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(32, 187, 165, 1) 0%, rgba(38, 67, 126, 1) 28%, rgba(0, 0, 73, 1) 64%, rgba(0, 0, 0, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(32, 187, 165, 1) 0%, rgba(38, 67, 126, 1) 28%, rgba(0, 0, 73, 1) 64%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#20bba5', endColorstr='#000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.login-container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.login-logo-firmy {
	margin-top: 10%;
	background-color: rgba(255,255,255,0);
    padding: 20px 30px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
    margin-left: auto;
    margin-right: auto;
}

.login-logo-systemu {
	margin-top: 40px;
}

.login-login-form {
	text-align: center;
	width: 85%;
	display: block;
    margin: 60px auto 10px;
}

.login-input {
	margin-bottom: 2px;
	text-align: left;
	position: relative;
}

.login-login-btn {
	margin-top: 20px;
}

.login-bottom-container {
	text-align: right;
	padding-right: 40px;
	height: 5vh;
}

.login-logo-egeria {
	max-height: 25px;
}

.login-footer {
    position: relative;
    color: lightslategrey;
    overflow: hidden;
    font-size: 1.1em;
    padding: 0 2vw 15px 2vw;
    min-height: 3vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.login-footer-info {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

@media screen and (min-width: 576px) {
    .login-footer-logo {
        margin-left: 15px;
    }
}

@media screen and (min-width: 768px) {
    .login-logo-firmy {
        margin-top: 15%;
    }
}

@media screen and (min-width: 992px) {
    .login-logo-firmy {
        margin-top: 18%;
    }
}

@media screen and (min-width: 1200px) {
    .login-logo-firmy {
        margin-top: 25%;
    }

    .login-footer-logo {
        position: absolute;
        right: 2vh;
    }

    .login-footer {
        justify-content: center;
    }
}

/* fake fontawesome */

.input-fake-fontawesome-receiver::after { /* zmodyfikowany kod z fontawesome.css */
	display: inline-block;
	color: rgba(58, 56, 70, 0.8);
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px; /*powiazane z bottom/top, luzno z right*/
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
	position: absolute;
	right: 24px; /*luzno powiazane z font-size*/
	top: 7px;
	
	width: 1.28571429em;
    text-align: center;
}

.input-fake-fontawesome-receiver.fake-fa-user::after {
	content: "\f007";
}

.input-fake-fontawesome-receiver.fake-fa-lock::after {
	 content: "\f023";
}

/* ustawienia formularzy*/

.form-group input,
.form-group textarea {
    line-height: 36px;
    padding: 0 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 0.9em;
    background-image: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.form-control[disabled] {
	background-color: rgba(0, 0, 0, 0.2);
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none !important;
    border: none;
    border-bottom: 2px solid #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
}

.form-group label {
    color: #183e75;
    font-size: 1.1em;
    font-weight: 600;
}

.form-group .checkbox label {
    color: #B3B3B3;
    font-size: 0.9em;
    font-weight: 400;
}

.form-horizontal .form-group label {
    color: #183e75;
    font-size: 0.8em;
    font-weight: 500;
}

.form-control::-moz-placeholder {
    color: #183e75;
    opacity: 1;
    font-weight: 600;
}

.form-control:-ms-input-placeholder {
    color: #183e75;
    font-weight: 600;
}

.form-control::-webkit-input-placeholder {
    color: #183e75;
    font-weight: 600;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
    font-weight: 600;
}


/* ogolny styl przyciskow */

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #E0E0E0;
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #fff;
    text-decoration: none;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}


/*styl przycisku podstawowego*/

.btn-default {
    color: #E0E0E0;
    background-color: #fff;
    border-style: 1px solid #E0E0E0;
}

.btn-default:focus,
.btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.btn-default:hover {
    color: #fff;
    background-color: #E0E0E0;
    border-color: #E0E0E0;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #ccc;
}

.btn-default .badge {
    color: #fff;
    background-color: #333;
}


/*styl przycisku glownego*/

.btn-primary {
    color: #fff;
    background: transparent;
    border-radius: 0px;
    border: none;
    max-width: 100%;
    font-weight: 300;
    width: 100%;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.btn-primary.disabled {
    opacity: 0.25;
    border-bottom: none;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}


/*bledy walidacji*/

.has-error .form-control {
    border: none;
    
    border-bottom: 2px solid rgba(255, 255, 255, 0.9);
    box-shadow: none;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.has-error .form-control:focus {
    outline: none !important;
    border: none;
   
    border-bottom: 2px solid rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
}

.has-error label {
    color: #fff;
}

.has-error .help-block {
    color: #fff;
    font-size: 0.8em;
}

a {
    color: #fff
}

a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none
}

.form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
}

.form-control:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
}

.form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
}

.form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% {transform: rotate(360deg);}
}

/* reset password dialog */
.ui-confirm-dialog .ui-dialog-content .ui-icon {
  background-image: none;
}
