<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
			template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista ocen okresowych" />
		<ui:define name="egr_content">

			<h:form styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20">
				<cc:cLovButtonJS
						lovDlgTitle="Rodzaj oceny:"
						datasource="#{listaOcenRCGWBean.getSlownik('OCE_RODZAJE')}"
						icon="add"
						value="Dodaj arkusz ..."
						rowSelectedAction="#{listaOcenRCGWBean.nowaOcena}"
				/>
			</h:form>

			<h:form id="frmData" styleClass="bg-fff m20i p20 flex-1">

				<cc:cLookupTable
						datasource="#{listaOcenRCGWBean.getLW('PPL_LISTA_OCEN_RCGW')}"
						editRowPage="OcenaRCGW"
				/>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
