<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
			template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
		<ui:param name="formName" value="Ocena okresowa RCGW"/>
		<ui:param name="ccMDesignAjaxDefault" value="true"/>
		<ui:define name="egr_content">

<!--			<ui:include-->
<!--					src="/WEB-INF/protectedElements/Dialogs/Pracownik/dlgWybierzPozycjeWnioskuAktualizacjiDanych.xhtml"/>-->

			<h:form id="frmTMnu" styleClass="p5 pl20 bg-lgrey">

				<p:commandButton
						id="usunId"
						styleClass="granatowy"
						icon="delete"
						value="usuń"
						actionListener="#{ocenaRCGWBean.usun()}"
						partialSubmit="true"
						process="@form"
						onstart="hgon();"
						oncomplete="hgoff();"
						update="template_growl"
				/>

				<cc:cObiegCzynnosci id="obiegWnk"
									idEncji="#{ocenaRCGWBean.ocena.onagId}"
									kategoriaObiegu="OC"
				/>

			</h:form>

			<div class="p20 pt0 bg-lgrey" style="height: 100vh; overflow-y: auto; overflow-x: auto !important;">

				<div id="formdiv" style="margin: 0 auto; max-width: 1000px; height: 100%">

					<h:form id="frmData" styleClass="mw900 ui-g ui-g-nopad"
							style="min-height:100%; display:block; position:relative">

						<div class="ui-g-12 p15">
							<h:panelGroup id="wnk" class="ui-g-12 bg-fff p20 border m0 bsh15slategray">

								<p:outputLabel styleClass="fs20 ui-g-4 p0" value="#{ocenaRCGWBean.ocena.rodzajWslOpis}"/>
	<!--							<p:outputLabel styleClass="fs16 ui-g-4 p0" value="(okres od: #{ocenaRCGWBean.ocena.dataOd} do: #{ocenaRCGWBean.ocena.dataDo})"/>-->

								<div class="ui-g-3 ui-g-v-center p0 pb5">

									<h:panelGroup styleClass="ui-g-6 p0 ui-g-v-center">
										<p:commandButton
												styleClass="ui-g-3 p0 m0 "
												icon="keyboard_arrow_left"
												action="#{ocenaRCGWBean.ocena.mvKwartal(-1)}"
												rendered="#{'K' eq ocenaRCGWBean.ocena.onagRodzaj}"
										/>
										<cc:cInputNumber
												styleClass="ui-g-4 p0 m0 center"
												value="#{ocenaRCGWBean.ocena.onagKwartal}"
												decimalPlaces="0"
												minValue="1" maxValue="4"
												symbol="Q" symbolPosition="p"
												rendered="#{'K' eq ocenaRCGWBean.ocena.onagRodzaj}"
										/>
										<p:commandButton
												styleClass="ui-g-3 p0 m0 "
												icon="keyboard_arrow_right"
												action="#{ocenaRCGWBean.ocena.mvKwartal(1)}"
												rendered="#{'K' eq ocenaRCGWBean.ocena.onagRodzaj}"
										/>
									</h:panelGroup>


									<h:panelGroup styleClass="ui-g-6 p0 ui-g-v-center">
										<p:commandButton
												styleClass="ui-g-3 p0 m0 "
												icon="keyboard_arrow_left"
												action="#{ocenaRCGWBean.ocena.mvRok(-1)}"
										/>
										<cc:cInputNumber
												styleClass="ui-g-6 p0 m0 center"
												value="#{ocenaRCGWBean.ocena.onagRok}"
												minValue="0"
												maxValue="3000.00"
												decimalPlaces="0"

										/>
										<p:commandButton
												styleClass="ui-g-3 p0 m0 "
												icon="keyboard_arrow_right"
												action="#{ocenaRCGWBean.ocena.mvRok(1)}"
										/>
									</h:panelGroup>
								</div>

								<p:separator styleClass="ui-g-12 p0 m0 mb20" />

								<div class="ui-g-6 p20">
									<p:outputLabel styleClass="fs16 ui-g-10 p0" value="Dane pracownika / ocenianego:"/>
									<cc:cLovJS
											styleClass="ui-g-1 p0 mw30"
											datasource="#{ocenaRCGWBean.getLW('PRC')}"
											value="#{ocenaRCGWBean.ocena.onagPrcId}"
											showInputText="false"
											showSearchField="false"
									/>
									<p:separator styleClass="ui-g-12 p0 m0 mb20" />
									<cc:cPracownikInfo
											styleClass="ui-g-12 pl0 "
											prcId="#{ocenaRCGWBean.ocena.onagPrcId}"
											labelPrcNumer="Nr"
											showWydzial="true"
											showDepartament="false"
											labelWydzial="J. org.:"
											showKsTelInfo="false"
											showAdres="false"
									/>

									<p:separator styleClass="ui-g-12 p0 m0 mt20" />
								</div>

								<div class="ui-g-6 p20">
									<p:outputLabel styleClass="fs16 ui-g-10 p0" value="Dane przełożonego / oceniającego:"/>
									<cc:cLovJS
											styleClass="ui-g-1 p0 mw30"
											datasource="#{ocenaRCGWBean.getLW('PRC')}"
											value="#{ocenaRCGWBean.ocena.onagPrcIdPrz}"
											showInputText="false"
											showSearchField="false"
									/>

									<p:separator styleClass="ui-g-12 p0 m0 mb20" />

									<cc:cPracownikInfo
											styleClass="ui-g-12 pl0 "
											prcId="#{ocenaRCGWBean.ocena.onagPrcIdPrz}"
											labelPrcNumer="Nr"
											showWydzial="true"
											showDepartament="false"
											labelWydzial="J. org.:"
											showKsTelInfo="false"
											showAdres="false"
									/>

									<p:separator styleClass="ui-g-12 p0 m0 mt20" />
								</div>
							</h:panelGroup>
						</div>

						<div class="ui-g-6 p15 ">
							<h:panelGroup id="pnl-et1" class="ui-g-12 bg-fff p20 border m0 bsh15slategray">

								<p:outputLabel styleClass="fs20 ui-g-12 p0" value="Etap I / samoocena pracownika"/>
								<p:separator styleClass="ui-g-12 p0 m0" />

								<ui:repeat value="#{ocenaRCGWBean.ocena.ocenaWaroscis}" var="owart1">
									<h:panelGroup styleClass="ui-g-12 ui-g-v-center p0 ">
										<p:outputLabel value="#{owart1.kryteriumOpis}:" styleClass="ui-g-8 fs16"/>
										<cc:cInputNumber value="#{owart1.owartWartoscE1}"
														 decimalPlaces="2" styleClass="ui-g-2 p0 m0"
														 minValue="0.00" maxValue="100.00"/>
									</h:panelGroup>
									<p:separator styleClass="ui-g-12 p0 m0" />
								</ui:repeat>
							</h:panelGroup>
						</div>

						<div class="ui-g-6 p15 ">
							<h:panelGroup id="pnl-et2" class="ui-g-12 bg-fff p20 m0 border bsh15slategray">

								<p:outputLabel styleClass="fs20 ui-g-12 p0" value="Etap II / ocena przełożonego"/>
								<p:separator styleClass="ui-g-12 p0 m0" />

								<ui:repeat value="#{ocenaRCGWBean.ocena.ocenaWaroscis}" var="owart2">
									<h:panelGroup styleClass="ui-g-12 ui-g-v-center p0">
										<p:outputLabel value="#{owart2.kryteriumOpis}:" styleClass="ui-g-8 fs16"/>
										<cc:cInputNumber value="#{owart2.owartWartoscE2}" decimalPlaces="2" styleClass="ui-g-2 p0 m0" minValue="0.00" maxValue="100.00"/>
									</h:panelGroup>
									<p:separator styleClass="ui-g-12 p0 m0" />
								</ui:repeat>

							</h:panelGroup>
						</div>

						<div class="ui-g-12 p15">
							<h:panelGroup id="pnl-et3" class="ui-g-12 bg-fff p20 border m0 bsh15slategray">

								<div class="ui-g-12 p0 ui-g-v-center">
									<p:outputLabel styleClass="fs20 ui-g-5 p0" value="Etap III / rozmowa z przełożonym"/>
									<p:outputLabel styleClass="fs16 ui-g-2 p0 right" value="Punkty"/>
									<p:outputLabel styleClass="fs16 ui-g-2 p0 right" value="Waga"/>
									<p:outputLabel styleClass="fs16 ui-g-2 p0 right" value="Wynik"/>
								</div>
								<p:separator styleClass="ui-g-12 p0 m0" />

								<ui:repeat value="#{ocenaRCGWBean.ocena.ocenaWaroscis}" var="owart3">
									<h:panelGroup styleClass="ui-g-12 ui-g-v-center p0">
										<p:outputLabel value="#{owart3.kryteriumOpis}:" styleClass="ui-g-5 fs16"/>
										<cc:cInputNumber value="#{owart3.owartWartoscE3}"
														 decimalPlaces="2" styleClass="ui-g-2 p0 m0"
														 minValue="0.00" maxValue="100.00"/>
										<p:outputLabel value="#{v.format(owart3.owartWaga,'#0.00')}"
													   styleClass="ui-g-2 p0 m0 right" readonly="true" />
										<p:outputLabel value="#{v.format(owart3.wynikE3,'#0.00')}"
													   styleClass="ui-g-2 p0 m0 right" readonly="true" />
									</h:panelGroup>
									<p:separator styleClass="ui-g-12 p0 m0" />
								</ui:repeat>

								<div class="ui-g-12 p0 mt10"></div>

								<p:outputLabel styleClass="fs18 ui-g-9 p0 right" value="Razem wyniki ocen cząstkowych:"/>
								<p:outputLabel value="#{v.format(ocenaRCGWBean.ocena.wynikE3,'#0.00')}"
											   styleClass="ui-g-2 p0 m0 right fs18"/>

								<p:separator styleClass="ui-g-12 p0 mt10 mb10 " />

							</h:panelGroup>
						</div>

					</h:form>

				</div>

				<h:form style="position: fixed; right:25px; bottom:25px; opacity: 0.6;">

					<p:commandButton value="Zapisz"
									 id="zapiszId" kuid="zapisz"
									 actionListener="#{ocenaRCGWBean.ocena.saveOrUpdate()}"
									 update="template_growl frmData"
									 styleClass="btn-dark"
									 partialSubmit="true"
									 onstart = "hgon()" oncomplete	= "hgoff()"
									 process="frmData @this"
					/>
				</h:form>

			</div>

		</ui:define>
	</ui:composition>

</h:body>
</html>
