<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>

<ui:composition
        template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
    <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
    <ui:param name="formName" value="Administrator - Lista wszystkich delegacji"/>

    <ui:define name="egr_content">


        <h:form id="frmNrth" rendered="#{user.admin}" styleClass="p5 pl20 pr20 d-flex bg-vlgrey bsh1black d-flex">
            <!--	<p:commandButton value="usuń dane obiegu..."/> -->
            <p:commandButton
                    value="kasuj ..."
                    icon="delete"
                    styleClass="granatowy bsh1gray"
                    action="#{v.seryjnieProceduraPLSQLDlaZaznaczonych(v.getLW('PPL_ADM_DELGACJE'), 'ppadm.adm_kasuj_delegacje')}"
                    update="frmCntr"
            />

            <p:commandButton
                    value="eksportuj (DML) ..."
                    icon="get_app"
                    styleClass="granatowy bsh1gray ml10"
                    update="frmCntr"
            />

        </h:form>

        <h:form id="frmCntr" rendered="#{user.admin}" styleClass="bg-fff m20i p20 bsh2black flex-1">

            <c:cLookupTable
                    datasource="#{v.getLW('PPL_ADM_DELGACJE')}"
                    multiselect="true"
            />

        </h:form>

    </ui:define>
</ui:composition>
</body>
</html>