<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	  xmlns:jsf="http://xmlns.jcp.org/jsf"
	  xmlns:shiro="http://shiro.apache.org/tags">

<f:metadata>
</f:metadata>

<h:body>
	<ui:composition
			template="/WEB-INF/protectedElements/Templates/EgrTemplateEmpty.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Test" />

		<ui:define name="egr_content">

			<h:outputStylesheet name="ctl-style.css" library="css" />
			<h:outputStylesheet name="pp-style.css" library="css" />
			<h:outputStylesheet name="pp-calendar.css" library="css" />
			<h:outputStylesheet name="pp-kafelki.css" library="css" />
			<h:outputStylesheet name="pp-gicons.css" library="css" />
			<h:outputStylesheet name="materialdesignicons.min.css" library="css" />
			<h:outputStylesheet name="pp-menu.css" library="css" />
			<h:outputStylesheet name="pp-buttons.css" library="css" />
			<h:outputStylesheet name="pp-tabs.css" library="css" />
			<h:outputStylesheet name="pp-forms.css" library="css" />
			<h:outputStylesheet name="pp-notification.css" library="css" />
			<h:outputStylesheet name="pp-ksiazka-tel.css" library="css" />
			<h:outputStylesheet name="pp-modale.css" library="css" />
			<h:outputStylesheet name="pp-scrollbars.css" library="css" />
			<h:outputStylesheet name="pp-forms-material.css" library="css" />
			<h:outputStylesheet name="pp-spinner.css" library="css" />
			<h:outputStylesheet name="tooltip-mdesign.css" library="css" />


			<h:form id="formId" styleClass="bg-white-100" style="overflow:auto" rendered="#{user.admin}">


				<ui:param name="ds" value="#{v.getSql(szczegolyListyWartosciBean.nazwaListy)}"></ui:param>

				<cc:cLWData datasource="#{ds}" height="calc(100vh - 70px)"/>

				<span style="position:absolute; left:20px; bottom:10px;">

						<p:outputLabel value="LW: #{szczegolyListyWartosciBean.nazwaListy}" />

						<p:outputLabel rendered="#{not empty ds.sqlNamedParams}"
									   value="PARAMETRY: #{ds.sqlNamedParams}"/>

						<p:outputLabel rendered="#{not empty ds.sqlParams}"
									   value="PARAMETRY: #{ds.sqlParams }"/>


						<p:outputLabel value="DEF. KOLUMN: #{ds.colNames }"/>

					</span>

			</h:form>

			<h:panelGroup rendered="#{!user.admin}">
				<h1>TA STRONA JEST DOSTĘPNA TYLKO DLA ADMINISTRATORA PORTALU</h1>
			</h:panelGroup>

		</ui:define>
	</ui:composition>
</h:body>
</html>
