<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:shiro="http://shiro.apache.org/tags">

<f:metadata>
</f:metadata>

<h:body>
    <ui:composition
            template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
        <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
        <ui:param name="formName" value="Dane translacji"/>
        <ui:define name="egr_content">

            <h:form id="frmMnu" styleClass="p5 pl20 pr20 d-flex bg-vlgrey bsh1black">

                <p:commandButton
                        value="zapisz"
                        id="zapiszId"
                        icon="save"
                        style="min-width:80px" styleClass="ctl-home-link-menu"
                        process="@form" partialSubmit="true"
                        actionListener="#{daneTranslacjiBean.zapisz()}"
                        update="@form template_growl formId"
                />

                <p:commandButton
                        value="usuń"
                        id="usunId"
                        icon="delete_forever"
                        style="min-width:80px" styleClass="ctl-home-link-menu"
                        actionListener="#{daneTranslacjiBean.usun()}"
                        process="@form" update="@form template_growl"
                        partialSubmit="true">

                    <p:confirm
                            header="Usuwanie"
                            message="Czy na pewno chcesz trwale usunąć słownik?"
                            icon="ui-icon-alert"
                    />

                </p:commandButton>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Tak" type="button"
                                     styleClass="ui-confirmdialog-yes" icon="check"/>
                    <p:commandButton value="Nie" type="button"
                                     styleClass="ui-confirmdialog-no" icon="close"/>
                </p:confirmDialog>


            </h:form>


            <h:form id="formId" styleClass="d-flex-1-column ov-y-auto p20">

                <div class="mauto">

                    <h2>Tłumaczenie w języku polskim</h2>
                    <div class="bg-fff bsh15slategray w700 mt20 p20">
                        <cc:cInputTextMDesign value="#{daneTranslacjiBean.translacja.traTlum}"
                                              label="Tłumaczenie po polsku:"/>
                    </div>


                    <h2 class="mt80">Tłumaczenia w innych językach</h2>
                    <div class="bg-fff bsh15slategray w700 mt20 p20">
                        <ui:repeat var="o" value="#{daneTranslacjiBean.listaTranslacji}">
                            <div>
                                <cc:cInputTextMDesign value="#{o.traLang}"/>
                                <cc:cInputTextMDesign value="#{o.traTlum}"/>
                            </div>
                        </ui:repeat>
                        <br/>
                    </div>

                </div>

            </h:form>


        </ui:define>
    </ui:composition>
</h:body>
</html>

