<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">


<f:metadata>
</f:metadata>


<h:body>


	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplateEmpty.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="test db all source" />

		<ui:define name="egr_content">

			<style type="text/css">
				del {
					background-color: rgba(150,0,0,0.3);
				}

				ins {
					background-color:  rgba(0,150,0,0.3);
				}
			</style>


			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Tak" type="button"
								 styleClass="ui-confirmdialog-yes granatowy" icon="check"/>
				<p:commandButton value="Nie" type="button"
								 styleClass="ui-confirmdialog-no granatowy" icon="close"/>
			</p:confirmDialog>


			<h:form id="frmDiff" styleClass="bg-fff p10 m0i bsh1 ov-hidden d-flex-1"
					rendered="#{user.admin or user.hasPermission('PP_PROGRAMISTA')}">


				<h:outputText value="#{diffCodeBean.dbObj.relativeSQLResourceLocation} ---> PPT_OBJECTS/PPT_ALL_SOURCE/SOU_OBJP_ID = #{diffCodeBean.dbObj.objpId}"
							  styleClass="bsh1 pl10 pr10"
							  style="position: fixed; bottom:10px; right: 10px; z-index: 999; opacity: 0.5;"/>

				<p:commandButton
						icon="done_outline"
						title="rekompiluj/resteuj kod w bazie do wersji PP"
						style="position: fixed; top:10px; right: 10px; z-index: 999;"
						styleClass="granatowy fs40 mw55"
						action="#{diffCodeBean.resetujObiektDoWersjiStd}"
						partialSubmit="true" process="@this"
						update="@form"
						onstart="hgon()" oncomplete="hgoff(); if (parent!=undefined) window.opener.location.reload(false);"
				>
					<p:confirm header="Rekompilacja kodu w bazie danych" message="Czy jesteś pewien, że chcesz zrekompilować kod w bazie do wersji std. PP?" />
				</p:commandButton>






				<p:tabView id="tbv" styleClass="pp-tbvw-wide flex-1">

					<p:tab title="#{diffCodeBean.dbObj.objpName} / DIFF (SYS.ALL_SOURCE -vs-> PPT_ALL_SOURCE)">
						<div style="height: calc(100vh - 80px); width:calc(100vw - 40px); overflow: auto; position: relative;">
							<h:outputText escape="false" value="#{diffCodeBean.diffCode}" styleClass="txt-nowrap fs12" style="font-family: 'Courier New', Courier, monospace"/>
						</div>
					</p:tab>

					<p:tab title="#{diffCodeBean.dbObj.objpName} / SYS.ALL_SOURCE">

<!--						<h:outputText escape="false" value="#{diffCodeBean.dbCode}" styleClass="txt-nowrap"/>-->
						<div style="height: calc(100vh - 80px); width:calc(100vw - 40px); overflow: auto; position: relative;">

							<pe:codeMirror
									id="codeMirrorDB"
									mode="text/x-plsql"
									theme="eclipse"
									value="#{diffCodeBean.dbCode}"
									lineNumbers="true"
									matchBrackets="true"
							/>

						</div>

					</p:tab>

					<p:tab title="#{diffCodeBean.dbObj.objpName} / PPT_ALL_SOURCE">

<!--						<h:outputText escape="false" value="#{diffCodeBean.ppCode}" styleClass="txt-nowrap"/>-->
						<div style="height: calc(100vh - 80px); width:calc(100vw - 40px); overflow: auto; position: relative;">



							<p:commandButton
									icon="publish"
									title="wczytaj do bazy aktualny kod #{diffCodeBean.dbObj.relativeSQLResourceLocation}"
									style="position: fixed; top:80px; right: 10px; z-index: 999;"
									styleClass="granatowy fs40 mw55"
									action="#{diffCodeBean.loadResourceFileLines2PptAllSources}"
									partialSubmit="true" process="@this"
									update="@form"
									onstart="hgon()" oncomplete="hgoff(); if (parent!=undefined) window.opener.location.reload(false);"
							>
								<p:confirm header="Wczytywanie indeksu PPT_ALL_SOURCE" message="Czy jesteś pewien, że chcesz ponownie wczytać linie kodu z pliku #{diffCodeBean.dbObj.relativeSQLResourceLocation}?" />
							</p:commandButton>


							<pe:codeMirror
									id="codeMirror"
									mode="text/x-plsql"
									theme="eclipse"
									value="#{diffCodeBean.ppCode}"
									lineNumbers="true"
									matchBrackets="true"
							/>

						</div>
					</p:tab>

				</p:tabView>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>

</html>

