<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Konfiguracja menu" />

		<ui:define name="egr_content">

			<div class="pp-center p20">

				<style type="text/css">

					#frmMenuData\:mnuTree * > i {
						max-width: 25px!important;
						margin-right: 10px;
						display: inline-block!important;
						vertical-align: middle!important;
					}

					#frmMenuData\:mnuTree * > span {
						display: inline-block!important;
						vertical-align: middle!important;
					}

				</style>

				#{egrMenuBean.generateTreeMenu()}

				<h:form id="frmMenuData" styleClass="bg-fff ui-g ui-g-nopad bsh2black" style="position: relative;">
					
					#{egrMenuBean.loadSqlData('sqlFunkcjeUzytkowe', '
						select 
						  \'PP_WSZYSCY\' FU_NAZWA
						 from dual
						union
						 select FU.FU_NAZWA
						  from EAT_FUNKCJE_UZYTKOWE fu
						   join eat_aplikacje apl on apl.APL_ID = fu.FU_APL_ID
							where apl.APL_SYMBOL = ? order by FU_NAZWA
					',  ['PP'])}



					<div class="ui-lg-4 ui-g-nopad">
						<div class="p20" style="position: relative; height: calc(100vh - 100px);">
							<div style="max-height: calc(100vh - 90px); overflow: auto; position: relative;">
								<p:tree id="mnuTree" style="width: 100%;"
									value="#{egrMenuBean.menuTree}" var="node"
									selectionMode="single" draggable="true" droppable="true"
									dragdropScope="demo">

									<p:ajax event="dragdrop" listener="#{egrMenuBean.onDragDrop}" 			partialSubmit="true" process="@this" update="@form" />

									<p:ajax event="select" 		listener="#{egrMenuBean.onNodeSelect}" 		partialSubmit="true" process="@this" update="@(.mnuItem)" />
									<p:ajax event="unselect"	listener="#{egrMenuBean.onNodeUnselect}" 	partialSubmit="true" process="@this" />
									<p:ajax event="expand" 		listener="#{egrMenuBean.onNodeExpand}" 		partialSubmit="true" process="@this" />
									<p:ajax event="collapse"  	listener="#{egrMenuBean.onNodeCollapse}" 	partialSubmit="true" process="@this" />


									<p:treeNode styleClass="#{node.mnuLabel==null ? 'hide' : ''}">
										<h:panelGroup rendered="#{node.mnuIcon!=null and  not node.mnuIcon.startsWith('mdi-')}">
											<i class="material-icons" style="color:#{'N' eq node.mnuRendered ? '#AAAAAA': 'black' }!important">#{node.mnuIcon}</i>
										</h:panelGroup>
										<h:panelGroup rendered="#{node.mnuIcon!=null and      node.mnuIcon.startsWith('mdi-')}">
											<i class="mdi #{node.mnuIcon}" style="color:#{'N' eq node.mnuRendered ? '#AAAAAA': 'black' }!important" />
										</h:panelGroup>

										<h:outputText value="#{node.mnuLabel}" rendered="#{node.mnuLabel != null}"
											style="color:#{'N' eq node.mnuRendered ? '#AAAAAA': 'black' }!important"/>

	<!-- 									<h:outputText value="Nieaktywne" -->
	<!-- 										style="background-color:LightGray; margin-left:10px; padding-left:5px; padding-right:5px" -->
	<!-- 										rendered="#{'N' eq node.mnuRendered}" /> -->
									</p:treeNode>

								</p:tree>
							</div>


							<p:commandButton icon="add" value="dodaj" style="position: absolute; right: 20px; bottom: 10px;"
								process="@form frmMenuData" partialSubmit="true"
								actionListener="#{egrMenuBean.dodajNode()}"
								update="@form frmMenuData"
								oncomplete="$(jq('frmMenuData:tanzw:inp')).select();"
								/>

						</div>
					</div>


					<div class="ui-lg-8 ui-g-nopad">
						<div class="d-flex-column p20" style="position: relative; height: calc(100vh - 100px);">
							<h:panelGroup id="mnuItemId" styleClass="mnuItem ui-g ov-auto">

								<cc:cInputTextAreaMDesign label="Pozycja menu:"
														  value="#{egrMenuBean.currentMenu.pozycjaInfo}"
														  styleClass="ui-g-11 pb20" rows="1" readonly="true"/>

								<cc:cInputTextMDesign label="Icon"
									value="#{egrMenuBean.currentMenu.mnuIcon}" styleClass="ui-g-7" />

								<cc:cSelectBooleanCheckboxTN label="Aktywne" styleClass="ui-g-2 pt30"
									value="#{egrMenuBean.currentMenu.mnuRendered}" />
								<cc:cSelectBooleanCheckboxTN label="Ajax" styleClass="ui-g-2 pt30"
									value="#{egrMenuBean.currentMenu.mnuAjax}" />

								<cc:cInputTextMDesign label="Nazwa" id="tanzw"
									value="#{egrMenuBean.currentMenu.mnuLabel}"
									styleClass="ui-g-11" />
								<p:focus for="@form:mnuItemId:tanzw"/>

								<cc:cInputTextMDesign label="Action"
									value="#{egrMenuBean.currentMenu.mnuAction}"
									styleClass="ui-g-11" />
								<cc:cInputTextMDesign label="Url"
									value="#{egrMenuBean.currentMenu.mnuUrl}" styleClass="ui-g-11" />
								<cc:cInputTextMDesign label="Kod"
									value="#{egrMenuBean.currentMenu.mnuKod}" styleClass="ui-g-11" />
								<cc:cInputTextMDesign label="Lista wartości"
									value="#{egrMenuBean.currentMenu.mnuLov}" styleClass="ui-g-11" />
								<cc:cInputTextMDesign label="LP pozycji menu"
									value="#{egrMenuBean.currentMenu.mnuLp}" styleClass="ui-g-11" />

								<span class="ui-g-11" style="font-size: 15px; font-weight: 600;">Ustawienia kafelka</span>
								<cc:cInputTextMDesign label="LP kafelka"
									value="#{egrMenuBean.currentMenu.mnuKafelekLp}" styleClass="ui-g-2" />
								<cc:cInputTextMDesign label="Nazwa kafelka"
									value="#{egrMenuBean.currentMenu.mnuKafelekLabel}" styleClass="ui-g-4" />
								<cc:cInputTextMDesign label="Ikona kafelka"
									value="#{egrMenuBean.currentMenu.mnuKafelekIcon}" styleClass="ui-g-3" />
								<cc:cSelectBooleanCheckboxTN label="Duży kafelek" styleClass="ui-g-2 pt30"
									value="#{egrMenuBean.currentMenu.mnuKafelekBigSize}" />

								<h:panelGroup id="funkUzytkId"
									styleClass="funkcjeUzytkowe ui-g-11">
									<h3>Funkcje użytkowe</h3>

									<div class="ui-g ui-g-nopad">
										<div class="ui-g-10 ui-g-nopad">
											<p:outputLabel
												value="Funkcje użytkowe nie są tu wymagane, jeśli wpisano Url i wystarczy dostęp z Kontroli Uprawnień.
												Są istotne jeśli podano tylko wartość 'Action' lub 'Lista wartości'."/>
										</div>

										<div class="ui-g-2 ui-g-nopad">
											<p:commandButton icon="add" id="nowaFunkcjaUzytkowaId"
												partialSubmit="true" process="@form @(.funkcjeUzytkowe)"
												actionListener="#{egrMenuBean.dodajFunkcjeUzytkowa()}"
												update="@(.funkcjeUzytkowe)" />

											<p:tooltip for="nowaFunkcjaUzytkowaId"
												value="Dodanie kolejnej funkcji użytkowej" />
										</div>

										<ui:repeat var="o"
											value="#{egrMenuBean.currentMenu.pptAdmMenuFus}">

											<div class="ui-g-10 ui-g-nopad">
												<cc:cSOMMDesign
													datasource="#{egrMenuBean.getSql('sqlFunkcjeUzytkowe')}"
													value="#{o.mnfuNazwaFu}" textFormat="%1$s"
													valueFormat="%1$s" />
											</div>

											<div class="ui-g-2 ui-g-nopad pt12">
												<p:commandButton icon="delete" partialSubmit="true"
													process="@this @(.funkcjeUzytkowe)"
													update="@(.funkcjeUzytkowe)"
													actionListener="#{egrMenuBean.usunFunkcjeUzytkowa(o)}"
												/>
											</div>

										</ui:repeat>
									</div>

								</h:panelGroup>

							</h:panelGroup>

							<p:outputPanel class="pt10 mnuItem">
								<p:commandButton value="zapisz element" id="zapiszId"
												 icon="save"
												 styleClass="ctl-home-link-menu mnuBtn"
												 partialSubmit="true" process="@form"
												 actionListener="#{egrMenuBean.zapisz()}"
												 update="@form:mnuTree @form:mnuItemId"
												 disabled="#{egrMenuBean.currentMenu.mnuLabel == null}" />

								<p:commandButton icon="delete" value="usuń element"
												 styleClass="ctl-home-link-menu mnuBtn"
												 partialSubmit="true" process="@form"
												 actionListener="#{egrMenuBean.usun()}"
												 update="@form:mnuTree @form:mnuItemId"
												 disabled="#{egrMenuBean.currentMenu.mnuLabel == null}" />

							</p:outputPanel>

						</div>
					</div>

				</h:form>
			</div>

		</ui:define>
	</ui:composition>

</body>
</html>