<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>
    <ui:composition
            template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
        <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
        <ui:param name="formName" value="Listy wartości"/>
        <ui:define name="egr_content">

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Tak" type="button"
                                 styleClass="ui-confirmdialog-yes granatowy" icon="check"/>
                <p:commandButton value="Nie" type="button"
                                 styleClass="ui-confirmdialog-no granatowy" icon="close"/>
            </p:confirmDialog>

            <h:form styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20">

                <p:commandButton
                        id="dodajId"
                        value="dodaj"
                        icon="add_box"
                        style="min-width: 80px;"
                        styleClass="granatowy"
                        process="@form" partialSubmit="true"
                        actionListener="#{listaListWartosciBean.dodajListe()}"
                        update="@form"
                />

<!--                <h:commandLink-->
<!--                        update="frmCntr"-->
<!--				>-->
<!--                    <p:commandButton-->
<!--                            icon="get_app"-->
<!--                            value="dmp zazn. ..."-->
<!--                            title="generuj skrypt DML dla zaznaczonych list wartości (umożliwia przenoszenie zbioru definicji do innej bazy/specfixa)"-->
<!--                            styleClass="granatowy ml10"-->
<!--                    />-->
<!--                    <p:fileDownload value="#{listaListWartosciBean.exportDml()}"/>-->
<!--                </h:commandLink>-->


                <p:commandButton
                        icon="get_app"
                        value="dmp zazn. ..."
                        title="generuj skrypt DML dla zaznaczonych list wartości (umożliwia przenoszenie zbioru definicji do innej bazy/specfixa)"
                        styleClass="granatowy ml10"
                        update="frmCntr"
                        onstart="hgon()"
                        oncomplete="hgoff()"
                        partialSubmit="true" process="@this"
                        ajax="false"
                >
                    <p:fileDownload value="#{listaListWartosciBean.exportDml()}"/>
                </p:commandButton>


<!--                <h:commandLink-->
<!--                        update="frmCntr"-->
<!--				>-->
<!--                    <p:commandButton-->
<!--                            icon="get_app"-->
<!--                            value="dmp zip ..."-->
<!--                            title="generuj plik ZIP z wieloma skryptami DML dla zaznaczonych list wartości (umożliwia przenoszenie wybranych definicji do innej bazy/specfixa)"-->
<!--                            styleClass="granatowy ml10"-->
<!--                    />-->

<!--                    <p:fileDownload value="#{listaListWartosciBean.exportDmlZip()}"/>-->
<!--                </h:commandLink>-->


                <p:commandButton
                        icon="get_app"
                        value="dmp zip ..."
                        title="generuj plik ZIP z wieloma skryptami DML dla zaznaczonych list wartości (umożliwia przenoszenie wybranych definicji do innej bazy/specfixa)"
                        styleClass="granatowy ml10"
                        update="frmCntr"
                        onstart="hgon()"
                        oncomplete="hgoff()"
                        partialSubmit="true" process="@this"
                        ajax="false"
                >
                    <p:fileDownload value="#{listaListWartosciBean.exportDmlZip()}"/>
                </p:commandButton>



				<p:commandButton
						id="btnRst2VStd"
						value="resetuj do wersji std ..."
						styleClass="granatowy ml10"
						action="#{listaListWartosciBean.wczytajDMLStdDLaZazn}"
						update="frmCntr"
						onstart="hgon()"
						oncomplete="hgoff()"
				>
					<p:confirm header="Resetowanie danych lw: " message="Czy jesteś pewien, że chcesz skasować dane zaznaczonych list wartości i odtworzyć ich standardowe definicje?" />
				</p:commandButton>


                <p:commandButton id="btnAA"  value="AA..."  styleClass="granatowy ml10"/>
                <p:overlayPanel for="btnAA" styleClass="p0">
                    <div class="d-flex-1-column p5 w200">
                        <p:commandButton
                                id="btnSetAAOff"
                                value="wyłącz flagę AA ..."
                                title="wyłącz dla zaznaczonych automatyczne aktualizacje po zmianie wersji systemu"
                                styleClass="granatowy flex-1 mb5"
                                action="#{listaListWartosciBean.updateAutoAkt(false)}"
                                update="frmCntr"
                                onstart="hgon()"
                                oncomplete="hgoff()"
                        >
                            <p:confirm header="Automatyczna aktualizacja list wartości: " message="Czy jesteś pewien, że chcesz wyłączyć dla zaznaczonych wierszy automatyczne aktualizacje (po zmianie wersji systemu)?" />
                        </p:commandButton>

                        <p:commandButton
                                id="btnSetAAOn"
                                value="włącz flagę AA ..."
                                title="włącz dla zaznaczonych automatyczne aktualizacje po zmianie wersji systemu"
                                styleClass="granatowy flex-1 mb5"
                                action="#{listaListWartosciBean.updateAutoAkt(true)}"
                                update="frmCntr"
                                onstart="hgon()"
                                oncomplete="hgoff()"
                        />
                    </div>
                </p:overlayPanel>

            </h:form>

            <h:form id="frmCntr" styleClass="bg-fff m20i p20 bsh2black flex-1">

                <!--					rowSelectAction="#{listaListWartosciBean.editSelectedRow}"-->
                <cc:cLookupTableMultiselect
                        datasource="#{listaListWartosciBean.getLW('PPL_ADM_LISTY_WARTOSCI')}"
                        insertChildrenFirst="true"
                >

                    <p:column headerText="Definicja" width="80">
                        <p:commandButton
                                icon="edit" value="edytuj..."
                                title="edytuj definicję listy wartości #{row.get('pp_lst_nazwa')} ..."
                                action="#{listaListWartosciBean.edit(row)}"
                                styleClass="granatowy"/>
                    </p:column>

                </cc:cLookupTableMultiselect>

            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>
