<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>
    <ui:composition
            template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
        <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
        <ui:param name="formName" value="Translacje"/>
        <ui:define name="egr_content">

            <h:form styleClass="p5 pl20 pr20 d-flex bg-vlgrey bsh1black">

                <p:commandButton value="dodaj" id="dodajId" icon="add_box"
                                 style="min-width:80px" styleClass="ctl-home-link-menu"
                                 process="@form" partialSubmit="true"
                                 actionListener="#{listaTranslacjiBean.dodajTranslacje()}"
                                 update="@form"
                />

            </h:form>


            <h:form styleClass="d-flex-1 bg-fff bsh1black m20i p40">

                <cc:cLookupTable
                        datasource="#{listaTranslacjiBean.getLW('PPL_ADM_TRANSLACJE')}"
                        rowSelectAction="#{listaTranslacjiBean.editSelectedRow}"/>

            </h:form>


        </ui:define>
    </ui:composition>
</h:body>
</html>

