<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplateEmpty.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Obiekty bazodanowe" />

		<ui:define name="egr_content">

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Tak" type="button"
				    styleClass="ui-confirmdialog-yes granatowy" icon="check"/>
				<p:commandButton value="Nie" type="button"
				    styleClass="ui-confirmdialog-no granatowy" icon="close"/>
			</p:confirmDialog>


			<h:form id="frmNorth" styleClass="p5 pl20 pr20 d-flex bg-fff btb1" rendered="#{user.admin or user.hasPermission('PP_PROGRAMISTA')}">
<!--						onclick="PrimeFaces.monitorDownload(hgon, hgoff);"-->
				<p:commandButton
						id="btnExpPdf"
						icon="get_app"
						value="Pobierz" title="pobierz pliki z kodem dla zaznaczonych wierszy"
						styleClass="granatowy mr10"
						ajax="false"
						partialSubmit="true" process="@this"
				>
					<p:fileDownload value="#{listyObiektowBDBean.dmpSelectedAllSource()}"/>
				</p:commandButton>


				<p:commandButton value="Resetuj zaznaczone" styleClass="granatowy mr10"
				    actionListener="#{listyObiektowBDBean.resetujZaznaczoneDoWersjiStd}"
				    onstart="hgon()" oncomplete="hgoff()" update="frmDbObjects">
				    <p:confirm header="Resetowanie obiektów"
							   message="Czy jesteś pewien, że chcesz zresetować zaznaczone obiekty i nadgrać je standardowymi wersjami?" />
				</p:commandButton>

				<p:commandButton value="Resetuj wszystkie niezgodne" styleClass="granatowy mr10"
				    actionListener="#{listyObiektowBDBean.resetujWszystkieDoWersjiStd}"
					onstart="hgon()" oncomplete="hgoff()" update="frmDbObjects">
					<p:confirm header="Resetowanie obiektów"
							   message="Czy jesteś pewien, że chcesz zresetować wszystkie niezgodne obiekty i nadgrać je standardowymi wersjami?" />
				</p:commandButton>


				<p:commandButton
						icon="delete"
						value="Skasuj zazn. z indeksu"
						title="skasuj wpis z tabeli PPT_ALL_SOURCE i PPT_OBJECTS"
						styleClass="granatowy mr10"
						actionListener="#{listyObiektowBDBean.kasujZaznaczone}"
						onstart="hgon()" oncomplete="hgoff()" update="frmDbObjects">
					<p:confirm header="Kasowanie obiektów z PPT_OBJECTS"
							   message="Czy jesteś pewien, że chcesz skasować indeks i dane akt. wersji kodu PP dla zaznaczonych obiektów?" />
				</p:commandButton>
				
				<p:commandButton value="Wczytaj PPT_ALL_SOURCE z plików" styleClass="granatowy mr10"
								 actionListener="#{listyObiektowBDBean.loadResourceFiles2pptObjectsActiveTab}"
								 onstart="hgon()" oncomplete="hgoff()" update="frmDbObjects">
					<p:confirm header="Aktualizowanie obiektów w PPT_ALL_SOURCE z plików"
							   message="Czy jesteś pewien, że chcesz zaktualizować PPT_ALL_SOURCE z plików?" />
				</p:commandButton>


				<p:commandButton id="btnAA"  value="AA..."  styleClass="granatowy ml10"/>
				<p:overlayPanel for="btnAA" styleClass="p0">
					<div class="d-flex-1-column p5 w200">
						<p:commandButton
								id="btnSetAAOff"
								value="wyłącz flagę AA ..."
								title="wyłącz dla zaznaczonych automatyczne aktualizacje po zmianie wersji systemu"
								styleClass="granatowy flex-1 mb5"
								action="#{listyObiektowBDBean.updateAutoAkt(false)}"
								update="frmDbObjects"
								onstart="hgon()"
								oncomplete="hgoff()"
						>
							<p:confirm header="Automatyczna aktualizacja: " message="Czy jesteś pewien, że chcesz wyłączyć dla zaznaczonych wierszy automatyczne aktualizacje (po zmianie wersji systemu)?" />
						</p:commandButton>

						<p:commandButton
								id="btnSetAAOn"
								value="włącz flagę AA ..."
								title="włącz dla zaznaczonych automatyczne aktualizacje po zmianie wersji systemu"
								styleClass="granatowy flex-1 mb5"
								action="#{listyObiektowBDBean.updateAutoAkt(true)}"
								update="frmDbObjects"
								onstart="hgon()"
								oncomplete="hgoff()"
						/>
					</div>
				</p:overlayPanel>


				<!--				<p:remoteCommand name="refreshLW" action="#{listyObiektowBDBean.pplAdmDbObjects.resetTs}" />-->

			</h:form>


			<h:form id="frmDbObjects" styleClass="d-flex-1-column p20 bg-fff btb1" rendered="#{user.admin or user.hasPermission('PP_PROGRAMISTA')}">

				<p:tabView
						id="tabViewId"
						dynamic="true"
						onTabChange="hgon()"
						onTabShow="hgoff()"
						styleClass="pp-tbvw-wide flex-1"
						value="#{  ['PROCEDURE', 'FUNCTION', 'VIEW', 'PACKAGE', 'PACKAGE BODY', 'TRIGGER'] }"
						var="objTyp"
						activeIndex="#{listyObiektowBDBean.tabViewActiveIndex}"
				>

					<p:ajax event="tabChange" listener="#{listyObiektowBDBean.onTabChange}" />

					<p:tab title="#{objTyp}">

						<cc:cLookupTableMultiselect datasource="#{listyObiektowBDBean.pplAdmDbObjects}" styleClass="#{listyObiektowBDBean.pplAdmDbObjects.resetTs()}">

<!--							<p:column headerText="SRC/DB" width="50">-->
<!--								<ui:param name="owner" value="#{row.get('objp_owner')}"></ui:param>-->
<!--								<ui:param name="objName" value="#{row.get('objp_name')}"></ui:param>-->
<!--								<ui:param name="objType" value="#{row.get('objp_object_type')}"></ui:param>-->
<!--								<p:commandButton-->
<!--										rendered="#{['PACKAGE','PACKAGE BODY','FUNCTION','PROCEDURE','TRIGGER','TYPE'].contains(  row.get('objp_object_type') )}"-->
<!--										icon="search"-->
<!--										title="ALL_SOURCE ..."-->
<!--										onclick="window.open('test_db_all_source.xhtml?owner=#{owner}&amp;object_name=#{objName}&amp;object_type=#{objType}')"-->
<!--								/>-->
<!--							</p:column>-->


							<p:column headerText="DIFF" width="50">
								<ui:param name="owner" value="#{row.get('objp_owner')}"></ui:param>
								<ui:param name="objName" value="#{row.get('objp_name')}"></ui:param>
								<ui:param name="objType" value="#{row.get('objp_object_type')}"></ui:param>
								<p:commandButton
										rendered="#{['PACKAGE','PACKAGE BODY','FUNCTION','PROCEDURE','TRIGGER','TYPE', 'VIEW'].contains(  row.get('objp_object_type') )}"
										icon="search"
										title="rożnice w kodzie między SYS.ALL_SOURCE oraz PPT_ALL_SOURCE ..."
										onclick="window.open('DiffDbCodeVsPPCode?owner=#{owner}&amp;object_name=#{objName}&amp;object_type=#{objType}')"
								/>
							</p:column>

						</cc:cLookupTableMultiselect>

					</p:tab>


				</p:tabView>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>

</html>