<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:shiro="http://shiro.apache.org/tags">

<f:metadata>
</f:metadata>

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Szczegóły listy wartości" />
		<ui:define name="egr_content">

			<p:confirmDialog global="true" showEffect="fade"
							 hideEffect="fade">
				<p:commandButton value="Tak" type="button"
								 styleClass="ui-confirmdialog-yes" icon="check" />
				<p:commandButton value="Nie" type="button"
								 styleClass="ui-confirmdialog-no" icon="close" />
			</p:confirmDialog>

			<h:form id="formMnu" styleClass="bg-fff bb1 p5 pl20 pr20 d-flex">

				<p:commandButton value="zapisz" id="zapiszId" icon="save"
								 style="min-width:80px"
								 styleClass="granatowy mr10"
								 process="@form formId" partialSubmit="true"
								 actionListener="#{szczegolyListyWartosciBean.zapisz()}"
								 update="@form template_growl"
				/>

				<p:commandButton value="usuń" id="usunId" icon="delete_forever"
								 style="min-width:80px"
								 styleClass="granatowy mr10"
								 actionListener="#{szczegolyListyWartosciBean.usun()}"
								 process="@form formId" update="@form template_growl"
								 partialSubmit="true"
								 disabled="#{szczegolyListyWartosciBean.czyNowy}">
					<p:confirm header="Usuwanie"
							   message="Czy na pewno chcesz trwale usunąć listę wartości?"
							   icon="ui-icon-alert"/>
				</p:commandButton>


				<p:commandButton
						id="btnSetAA"
						value="#{szczegolyListyWartosciBean.autoAkt?'wyłącz':'włącz'} AA ..."
						title="#{szczegolyListyWartosciBean.autoAkt?'wyłącz':'włącz'} automatyczne aktualizacje po zmianie wersji systemu"
						styleClass="#{not szczegolyListyWartosciBean.autoAkt?'bg-lcoral':''} granatowy mr10"
						action="#{szczegolyListyWartosciBean.updateAutoAkt(not szczegolyListyWartosciBean.autoAkt)}"
						update="@this"
						onstart="hgon()"
						oncomplete="hgoff()"
				>
					<p:confirm
							header="Automatyczne aktualizacje:"
							message="Czy na pewno chcesz wyłączyć automatyczne aktualizacje?"
							icon="ui-icon-alert" disabled="#{not szczegolyListyWartosciBean.autoAkt}"
					/>
				</p:commandButton>


				<p:commandButton
						icon="get_app"
						value="dmp ..."
						title="generuj skrypt DML (umożliwia przenoszenie zbioru definicji do innej bazy/specfixa)"
						styleClass="granatowy mr10"
						update="frmCntr"
						onstart="hgon()"
						oncomplete="hgoff()"
						partialSubmit="true" process="@this"
						ajax="false"
				>
					<p:fileDownload value="#{szczegolyListyWartosciBean.exportDml()}"/>
				</p:commandButton>

			</h:form>


			<h:form id="formId" styleClass="bg-fff p20 ov-auto flex-1">

				<p:accordionPanel id="accSql" widgetVar="accSql" dynamic="false" multiple="true" activeIndex="0,1,2,3">

					<p:tab title="Informacje podstawowe">
						<f:facet name="title">
							#{szczegolyListyWartosciBean.glownyElement.lstNazwa eq '' ? 'Nowa lista wartości': szczegolyListyWartosciBean.glownyElement.lstNazwa}
							(LST_ID: #{szczegolyListyWartosciBean.glownyElement.lstId})
						</f:facet>

						<h:panelGroup id="nazwaPg" styleClass="nazwaPg d-flex-column">

							<div class="d-flex d-spc-30">

								<cc:cInputText
										label="Nazwa listy"
										styleClass="w200"
										value="#{szczegolyListyWartosciBean.glownyElement.lstNazwa}"
								/>

								<cc:cInputText
										label="Opis listy"
										styleClass="flex-500"
										value="#{szczegolyListyWartosciBean.glownyElement.lstOpis}"
								/>

								<cc:cInputText
										label="DataSource"
										styleClass="w200"
										value="#{szczegolyListyWartosciBean.glownyElement.lstDataSource}"
								/>

							</div>


							<div class="d-flex d-spc-30 mt20">

								<cc:cSelectBooleanCheckboxTN
										id="czyKonsolidujOd"
										label="Ustaw konsolidację"
										title="Wielofirmowość: parametr decyduje czy przed wykonywaniem zapytania sql należy wykonać polecenie: EAP_GLOBALS.USTAW_KONSOLIDACJE('T'); UWAGA: włączenie konsolidacji może powodować błędy typu TOO_MANY_ROWS w zapytanich stosujących wewn. funkcje pakietowe. Ustawienie to jest resetowane do wartości 'N' zaraz po wykonaniu zapytania."
										value="#{szczegolyListyWartosciBean.glownyElement.lstKonsoliduj}"
								/>


								<cc:cSelectBooleanCheckboxTN
										label="eksport PDF"
										value="#{szczegolyListyWartosciBean.glownyElement.lstCzyPDF}"
								/>

								<cc:cSelectBooleanCheckboxTN
										label="eksport XLSX"
										value="#{szczegolyListyWartosciBean.glownyElement.lstCzyXLS}"
								/>

								<cc:cSelectBooleanCheckboxTN
										label="eksport CSV"
										value="#{szczegolyListyWartosciBean.glownyElement.lstCzyCSV}"
								/>


								<cc:cSelectBooleanCheckboxTN
										label="eksport XML"
										value="#{szczegolyListyWartosciBean.glownyElement.lstCzyXML}"
								/>

<!--								<cc:cInputText label="Nazwa raportu"-->
<!--													  value=""-->
<!--								/>-->

							</div>

						</h:panelGroup>

					</p:tab>




					<p:tab title="Zapytanie">

						<f:facet name="title">

							<h:panelGroup styleClass="acc-terminy inl">
								Zapytanie (SQL)
							</h:panelGroup>

							<div onclick="event.stopPropagation();" window.event.cancelBubble="true" class="inl ml20">

								<p:commandButton
										id="testZapytania"
										title="Test poprawności zapytania"
										icon="live_help"
										partialSubmit="true"
										process="@form @(.cntrPnl)"
										action="#{szczegolyListyWartosciBean.testOracleDependeciesTables(false)}"
										onstart="hgon();"
										update="dlgLov lstSqlStats"
										oncomplete="hgoff();"
								/>


								<p:commandButton
										id="dependecies"
										icon="call_merge"
										title="Test kompilacji SQL oraz hierarchia zależności..."
										partialSubmit="true"
										process="@this @(.cntrPnl)"
										action="#{szczegolyListyWartosciBean.testOracleDependeciesTables(true)}"
										update="dlgLov lstSqlStats"
										onstart="hgon();"
										oncomplete="hgoff();"
								/>


								<cc:cLov id="lvORADT" style="visibility:hidden; position:absolute"
									datasource="#{szczegolyListyWartosciBean.getLW('PPL_LW_DEPENDECIES')}"
									lovDlgTitle="Hierarchia zależności dla lw: '#{szczegolyListyWartosciBean.glownyElement.lstNazwa}'"/>


								<p:commandButton
										icon="pageview"
										id="wynikiZapytania"
										title="Wartości zwracane przez wpisane zapytanie"
										partialSubmit="true"
										process="@form"
										action="#{szczegolyListyWartosciBean.testZapytania(true)}"
										oncomplete="PF('wynikiTestuZapytania').show()"
										update="@(.pgEtykiety) @(.pgZapytanie) wynikiTestuZapytania"
								/>


								<p:commandButton icon="content_copy"
										onclick="
											PF('accSql').select(1);
											copyToClipboard($('#formId\\:accSql\\:lstQueryText')[0]);
											var myCM =  PF('lstQueryText').getCodeMirrorInstance();
											myCM.execCommand('selectAll');
                                  "/>

							</div>

							<h:panelGroup id="lstSqlStats" styleClass="inl" style="float:right;">
								<p:outputLabel id="lblLSTB" value="tabele (w TBTS): #{szczegolyListyWartosciBean.glownyElement.pptAdmListyTabele.size()}" style="color:#000066!important" />
								<p:tooltip id="ttLblLSTB" for="lblLSTB ttLblLSTB" hideDelay="500">
									<div class="ui-g ui-g-nopad w800">
										<p:outputLabel value="TABELA" styleClass="ui-g-5"  />
										<p:outputLabel value="ZALEŻNOŚĆ" styleClass="ui-g-7" />
										<div class="ui-g-12 ui-g-nopad border"/>
									</div>
									<div class="ui-g ui-g-nopad w800" style="max-height:800px; overflow:auto;">
										<p:repeat var="vLSTB" value="#{szczegolyListyWartosciBean.glownyElement.pptAdmListyTabele}">
											<p:outputLabel value="#{vLSTB.lstbTbtsTable}" styleClass="ui-g-5 ui-g-nopad" style="color:#000066!important" />
											<p:outputLabel value=" #{vLSTB.lstbRefByOwner}.#{vLSTB.lstbRefByName} (#{vLSTB.lstbRefByType})" styleClass="ui-g-7 ui-g-nopad"/>
										</p:repeat>
										<div class="ui-g-12 ui-g-nopad border mb10"/>
									</div>
								</p:tooltip>

								<p:outputLabel value="parametrów: #{szczegolyListyWartosciBean.glownyElement.lstSqlIleParametrow}"/>
								<p:outputLabel value="ostatni test SQL: #{szczegolyListyWartosciBean.glownyElement.lstSqlTestKiedy}" rendered="#{szczegolyListyWartosciBean.glownyElement.lstSqlTestKiedy != null}"/>
								<p:outputLabel value="wynik testu: #{szczegolyListyWartosciBean.glownyElement.lstSqlTestPoprawny == 'T' ? 'OK' : szczegolyListyWartosciBean.glownyElement.lstSqlTestPoprawny == 'N' ? 'negatywny' : '-/-'}"
								style="#{szczegolyListyWartosciBean.glownyElement.lstSqlTestPoprawny == 'T' ? '' : 'color:red'}"/>
							</h:panelGroup>

						</f:facet>


<!--						<cc:cInputTextArea-->
<!--								id="lstQueryText"-->
<!--								label="Treść zapytania"-->
<!--								value="#{szczegolyListyWartosciBean.glownyElement.lstQuery}"-->
<!--								inputStyle="font-family: 'Courier New'!important;"-->
<!--						/>-->

						<pe:codeMirror
								id="lstQueryText"
								widgetVar="lstQueryText"
								mode="text/x-plsql"
								theme="eclipse"
								value="#{szczegolyListyWartosciBean.glownyElement.lstQuery}"
								lineNumbers="true"
								matchBrackets="true"
						/>

						<p:outputLabel  rendered="v.getLW( szczegolyListyWartosciBean.nazwaListy )!=null">
							aktualne parametry: #{v.getLW( szczegolyListyWartosciBean.nazwaListy ).sqlNamedParams } / #{v.getLW( szczegolyListyWartosciBean.nazwaListy ).sqlParams }
						</p:outputLabel>

					</p:tab>








					<p:tab title="Kolumny">


						<f:facet name="title">

							<h:panelGroup styleClass="acc-terminy">
								Kolumny (#{szczegolyListyWartosciBean.glownyElement.pptAdmListyWartoscis.size()+1})
							</h:panelGroup>

							<div onclick="event.stopPropagation();" window.event.cancelBubble="true" class="inl ml35">

								<p:commandButton icon="playlist_add" partialSubmit="true"
									id="wypelnieniePol" process="@this @(.cntrPnl)"
									action="#{szczegolyListyWartosciBean.wypelnijPola()}"
									update="cTableEtykiety"/>

								<p:tooltip value="Automatyczne wypełnienie pól listy"
									for="wypelnieniePol" />

							</div>

						</f:facet>



							<cc:cTable id="cTableEtykiety"  height="#{szczegolyListyWartosciBean.glownyElement.pptAdmListyWartoscisEtykietyAll.size() * 47 + 100}px"
								  datasource="#{szczegolyListyWartosciBean.glownyElement.pptAdmListyWartoscisEtykietyAll}"
								  varName="eee"
								  styleClass="etykiety"
								  >


								  <p:column width="15">
									<div style="position:relative" class="w25 h30">
										<p:commandButton icon="keyboard_arrow_up"
											partialSubmit="true" process="@this @(.etykiety)"
											action="#{szczegolyListyWartosciBean.switchLp(eee,-1)}"
											style="position:absolute!important; top:0px!important"
											disabled="#{eee.lstLp lt 3}"
											update="@(.etykiety)"
										/>

										<p:commandButton icon="keyboard_arrow_down"
											partialSubmit="true" process="@this @(.etykiety)"
											action="#{szczegolyListyWartosciBean.switchLp(eee, 1)}"
											style="position:absolute!important; top:15px!important"
											disabled="#{eee.lstLp lt 2}"
											update="@(.etykiety)"
										/>
									</div>
								  </p:column>



								  <p:column headerText="Lp" width="23">
									<p:inputNumber value="#{eee.lstLp}" decimalPlaces="0" styleClass="right" />
								  </p:column>


								  <p:column headerText="Etykieta" width="250">
									<p:inputText value="#{eee.lstEtykieta}" />
								  </p:column>


								  <p:column headerText="Tooltip" width="250">
									<p:inputText value="#{eee.lstOpis2}" />
								  </p:column>

								  <p:column headerText="Pole" width="250">
									<p:inputText value="#{eee.lstNazwaPola}" />
								  </p:column>

								  <p:column headerText="Długość" width="60">
									<p:inputNumber value="#{eee.lstDlugosc}" decimalPlaces="0" styleClass="right" />
								  </p:column>

								  <p:column headerText="Długość PDF" width="60">
									<f:facet name="header">
										<h:outputLabel id="dlpdf" value="Długość PDF"/>
										<p:tooltip for="dlpdf" value="Względna szerokość kolumny prze eksporcie do pliku PDF (lub 0 jesli kolumna ma nie pojawiac się w PDF). "/>
									</f:facet>

									<p:inputNumber value="#{eee.lstDlugosc800600}" decimalPlaces="0" styleClass="right" />
								  </p:column>

								  <p:column headerText="Format" width="160">
									<f:facet name="header">
										<h:outputLabel id="frmt" value="Format"/>
										<p:tooltip for="frmt" value="Opcjonalnie - format wyświetlania (np. '#0.00' dla liczb albo 'yyyy-MM-dd HH:mm:ss' dla typu datetime)."/>
									</f:facet>
									<p:inputText value="#{eee.lstLbCodeEtykieta}" />

								  </p:column>

								  <p:column headerText="Ukryj" width="40">
										<cc:cSelectBooleanCheckboxTN value="#{eee.lstFUkryte}" />
								  </p:column>


								  <p:column headerText="Agregacja" width="80">
										<f:facet name="header">
											<h:outputLabel id="agr" value="Agregacja"/>
											<p:tooltip for="agr" value="Opcjonalnie - jedna z funkcji agregujących dane (możliwe ustawienia to: 'min', 'avg', 'max', 'sum', 'count')"/>
										</f:facet>

										<p:inputText value="#{eee.lstEtykieta2}" />
								  </p:column>

								  <p:column width="25">
									<f:facet name="header">
										<p:commandButton icon="add"
											partialSubmit="true" process="@this"
											action="#{szczegolyListyWartosciBean.dodajNowaEtykiete()}"
											update="@(.etykiety)"
										/>
									</f:facet>

										<p:commandButton icon="delete" disabled="#{eee.lstLp lt 2}"
												partialSubmit="true" process="@this"
												action="#{szczegolyListyWartosciBean.glownyElement.removePptAdmListyWartosci(eee)}"
												update="@(.etykiety)"
										 />
								  </p:column>

							</cc:cTable>

							<div class="h50">.</div>
					</p:tab>


				</p:accordionPanel>

			</h:form>


			<ui:include
				src="/WEB-INF/protectedElements/Dialogs/Administracja/dlgWynikiTestuZapytania.xhtml" />

		</ui:define>
	</ui:composition>
</h:body>
</html>

