<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:shiro="http://shiro.apache.org/tags">

<f:metadata>
</f:metadata>

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Szczegóły słownika" />
		<ui:define name="egr_content">


			<p:confirmDialog global="true" showEffect="fade"
							 hideEffect="fade">
				<p:commandButton value="Tak" type="button"
								 styleClass="ui-confirmdialog-yes" icon="check"/>
				<p:commandButton value="Nie" type="button"
								 styleClass="ui-confirmdialog-no" icon="close"/>
			</p:confirmDialog>

			<h:form id="frmMnu" styleClass="bsh1 bg-fff p5 pl20 pr20 d-flex">

				<p:commandButton value="zapisz" id="zapiszId" icon="save"
								 style="min-width:80px"
								 styleClass="granatowy bsh1gray mr10"
								 process="@form formId" partialSubmit="true"
								 actionListener="#{szczegolySlownikaBean.zapisz()}"
								 update="@form template_growl"/>


				<p:commandButton value="usuń" id="usunId" icon="delete_forever"
								 style="min-width:80px"
								 styleClass="granatowy bsh1gray mr10"
								 actionListener="#{szczegolySlownikaBean.usun()}"
								 process="@form formId" update="@form template_growl"
								 partialSubmit="true">

					<p:confirm header="Usuwanie"
							   message="Czy na pewno chcesz trwale usunąć słownik?"
							   icon="ui-icon-alert"/>

				</p:commandButton>

				<p:commandButton
						id="btnSetAA"
						value="#{szczegolySlownikaBean.autoAkt?'wyłącz':'włącz'} AA ..."
						title="#{szczegolySlownikaBean.autoAkt?'wyłącz':'włącz'} automatyczne aktualizacje po zmianie wersji systemu"
						styleClass="#{   szczegolySlownikaBean.autoAkt?'bg-lcoral':''} granatowy bsh1gray mr10"
						action="#{szczegolySlownikaBean.updateAutoAkt(not szczegolySlownikaBean.autoAkt)}"
						update="@this"
						onstart="hgon()"
						oncomplete="hgoff()"
				>
					<p:confirm
							header="Automatyczne aktualizacje:"
							message="Słowniki zazwyczaj zawierają dane, które niekoniecznie nalezy nadpisywać w systemach produkcyjnych. Czy na pewno chcesz włączyć automatyczne aktualizacje dla tego słownika?"
							escape="true"
							icon="ui-icon-alert" disabled="#{ szczegolySlownikaBean.autoAkt}"
					/>
				</p:commandButton>

				<p:commandButton
						icon="get_app"
						value="dmp ..."
						title="generuj skrypt DML (umożliwia przenoszenie zbioru definicji do innej bazy/specfixa)"
						styleClass="granatowy bsh1gray mr10"
						update="frmCntr"
						onstart="hgon()"
						oncomplete="hgoff()"
						partialSubmit="true" process="@this"
						ajax="false"
				>
					<p:fileDownload value="#{szczegolySlownikaBean.exportDml()}"/>
				</p:commandButton>

			</h:form>



				<h:form id="formId" styleClass="bg-fff p20 flex-1">

					<div class="ui-g">
						<div class="ui-g-12 bg-white w100p border">
							<p:outputLabel for="infPodstawowePg" styleClass="fs20"> Informacje podstawowe:  </p:outputLabel>
							<p:separator styleClass="ui-g-12 ui-g-nopad"/>

							<h:panelGroup id="infPodstawowePg" styleClass="ui-g-12 ui-g-nopad infPodstawowePg pt10 pb20">

								<div class="ui-g-3 ui-g-nopad">
									<cc:cInputTextMDesign label="Nazwa słownika:"
										value="#{szczegolySlownikaBean.nazwaSlownika}"
										readonly="#{not szczegolySlownikaBean.czyNowy}" />
								</div>

								<div class="ui-g-1 ui-g-nopad">
									<p:commandButton icon="edit" id="changeSlNameId"
										onclick="PF('edycjaNazwySlownika').show()"
										update="@(.infPodstawowePg)">
									</p:commandButton>
								</div>

								<div class="ui-g-4 ui-g-nopad">
									<cc:cInputTextMDesign label="Opis słownika:"
										value="#{szczegolySlownikaBean.slownikWartosci.slOpis}"
										readonly="false" />
								</div>

								<div class="ui-g-1 ui-g-nopad">
									<cc:cInputTextMDesign label="Max długość:"
										value="#{szczegolySlownikaBean.slownikWartosci.slMaxDlugosc}"
										readonly="false" />
								</div>
	
							#{szczegolySlownikaBean.loadEgSlownik('POZIOM_DOSTEPU')}
							#{szczegolySlownikaBean.loadEgSlownik('STAN DEFINICJI')}
	
							<div class="ui-g-2 ui-g-nopad">
									<cc:cSOMMDesign
										datasource="#{szczegolySlownikaBean.getSlownik('POZIOM_DOSTEPU')}"
										value="#{szczegolySlownikaBean.slownikWartosci.slPoziomDostepu}"
										label="Poziom dostępu:" />
							</div>

							</h:panelGroup>
						</div>
					</div>


					<div class="ui-g">
					<div class="ui-g-12 bg-white pb20 w100p border">
					
						<p:outputLabel for="pgWartosciId" styleClass="fs20"> Wartości słownika:  </p:outputLabel>
						<p:separator styleClass="ui-g-12 ui-g-nopad"/>

						<div class="ui-g ui-g-12 ui-g-nopad pt20">
							<div class="ui-g-2 ui-g -ui-g-nopad">
								<div class="ui-g-4">
									<p:outputLabel id="lblLp" styleClass="p0" value="Lp / Typ"/>
								</div>
								<div class="ui-g-8">
								<p:outputLabel id="lblWartosc" styleClass="p0" />
									<span style="color:red;  opacity:0.5">W.</span><span style="color:gray;  opacity:0.7"> /  W. z. / W. m.</span>
									<p:tooltip for="lblWartosc" value="Wartość znakowa zapisywana w bazie jako rezultat wyboru / Wartość zewnętrzna."/>
								</div>
							</div>
							
							<div class="ui-g-4">
								<p:outputLabel id="lblOpis" styleClass="p0" />
								<span style="color:red; opacity:0.5">Opis</span><span style="color:gray;  opacity:0.7"> / Opis2 / Opis3</span>
								<p:tooltip for="lblOpis" value="Opis wartości, wg którego użytkownik dokonuje wyboru np. w oknach dialogowych."/>
							</div>

							<div class="ui-g-5">
								<p:outputLabel id="lblAlias" value="Alias / Alias2 / Alias3" />
								<p:tooltip for="lblAlias" value="Aliasy i opisy techniczne dla wartości"/>
							</div>


							<div class="ui-g-1">
								<div class="ui-g-nopad ui-g-10">
									<p:outputLabel id="lblTyp" value="Stan definicji" />
									<p:tooltip for="lblTyp" value="Typ pola - np. TA - TextArea; S - Słownik (+ W.zewn. - nazwa słownika) ..."/>
								</div>
								<div class="ui-g-nopad ui-g-2 mh20">
									<p:commandButton icon="add">
										<p:ajax listener="#{szczegolySlownikaBean.dodajWartosc()}"
											update="@(.pgWartosciId)" />
									</p:commandButton>
								</div>
							</div>
						</div>
						
						<p:separator styleClass="ui-g-12 ui-g-nopad"/>

						
						<h:panelGroup id="pgWartosciId" styleClass="pgWartosciId ui-g-12 ui-g-nopad"
							rendered="true">

								<ui:repeat var="o" 
									value="#{szczegolySlownikaBean.slownikWartosci.pptAdmWartosciSlownikows}"
									varStatus="status">
								<div class="ui-g-12 ui-g-nopad pb10">

									<div class="ui-g-2 ui-g ui-g-nopad">

<!-- 										<p:inputText id="txtLp" value="#{o.wslTyp}" styleClass="fs12 ui-g-8"><f:ajax event="change" /></p:inputText> -->
										<div class="ui-g-4">
											<p:inputNumber  id="lp" value="#{o.wslLp}" decimalPlaces="0" ><f:ajax event="change" /></p:inputNumber>
											<p:inputText id="txtTyp" value="#{o.wslTyp}" styleClass="fs12"><f:ajax event="change" /></p:inputText>
										</div>
									
									
										<div class="ui-g-8">
											<p:inputText id="txtWartosc" value="#{o.wslWartosc}" style="color:red!important"><f:ajax event="change" /></p:inputText>
											<p:tooltip for="txtWartosc" value="Wartość"/>
											<br/>
											<p:inputText id="txtWartoscZewn" value="#{o.wslWartoscZewn}" styleClass="fs12"><f:ajax event="change" /></p:inputText>
											<p:tooltip for="txtWartoscZewn" value="Wartość zewnętrzna"/>
											<br/>
											<p:inputText id="txtWartoscMax" value="#{o.wslWartoscMax}" styleClass="fs12"><f:ajax event="change" /></p:inputText>
											<p:tooltip for="txtWartoscMax" value="Wartość maksymalna"/>
										</div>

									</div>

									<div class="ui-g-4">
											<p:inputText id="txtOpis" value="#{o.wslOpis}" style="color:red!important"><f:ajax event="change" /></p:inputText>
											<p:tooltip for="txtOpis" value="Opis"/>
											<br/>
											<p:inputText id="txtOpis2" value="#{o.wslOpis2}" styleClass="fs12"><f:ajax event="change" /></p:inputText>
											<p:tooltip for="txtOpis2" value="Opis2"/>
											<br/>
											<p:inputText id="txtOpis3" value="#{o.wslOpis3}" styleClass="fs12"><f:ajax event="change" /></p:inputText>
											<p:tooltip for="txtOpis3" value="Opis3"/>
									</div>
									
									<div class="ui-g-5">
											<p:inputText id="txtAlias" value="#{o.wslAlias}"><f:ajax event="change" /></p:inputText>
											<p:tooltip for="txtAlias" value="Alias"/>
											<br/>
											<p:inputText id="txtAlias2" value="#{o.wslAlias2}" styleClass="fs12"><f:ajax event="change" /></p:inputText>
											<p:tooltip for="txtAlias2" value="Alias2"/>
											<br/>
											<p:inputText id="txtAlias3" value="#{o.wslAlias3}" styleClass="fs12"><f:ajax event="change" /></p:inputText>
											<p:tooltip for="txtAlias3" value="Alias3"/>
									</div>


									<div class="ui-g-1 pt20">
										
										<div class="ui-g-nopad ui-g-10">
											<cc:cSOMMDesign
												datasource="#{szczegolySlownikaBean.getSlownik('STAN DEFINICJI')}"
												value="#{o.wslStatus}" />
										</div>

										<div class="ui-g-nopad ui-g-2 pt10">
											<p:commandButton icon="delete" 
												actionListener="#{szczegolySlownikaBean.usunWartosc(o)}"
												update="@(.pgWartosciId)">

												<p:confirm header="Usuwanie"
													message="Czy na pewno chcesz trwale wartość słownika?"
													icon="ui-icon-alert" />

											</p:commandButton>

											<p:confirmDialog global="true" showEffect="fade"
												hideEffect="fade">
												<p:commandButton value="Tak" type="button"
													styleClass="ui-confirmdialog-yes" icon="check" />
												<p:commandButton value="Nie" type="button"
													styleClass="ui-confirmdialog-no" icon="close" />
											</p:confirmDialog>
											</div>
												
									</div>

								</div>
								
								<p:separator styleClass="ui-g-12 ui-g-nopad"/>
								</ui:repeat>
								
						</h:panelGroup>
						
					</div>
					</div>
					
				</h:form>	


				<ui:include
					src="/WEB-INF/protectedElements/Dialogs/Administracja/dlgNazwaSlownika.xhtml" />
						
		</ui:define>
	</ui:composition>
</h:body>
</html>

