<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>
    <ui:composition
            template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
        <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
        <ui:param name="formName" value="Zmiana pracownika"/>

        <ui:define name="egr_content">

            <h:form id="frmCntr" styleClass="bg-fff bsh2black m20i p20 flex-1">

                <cc:cLookupTable
                        fillwidthcolumn="true"
                        insertChildrenFirst="true"
                        datasource="#{reAuthBean.getLW('PPL_UZYTKOWNICY')}">

                    <p:column headerText="Przeloguj na użytkownika" width="150">
                        <p:commandButton icon="supervisor_account" value="Przeloguj"
                                         actionListener="#{reAuthBean.reAuth(row)}"
                                         process="@this" partialSubmit="true" ajax="true"/>
                    </p:column>

                </cc:cLookupTable>

            </h:form>


        </ui:define>
    </ui:composition>
</h:body>
</html>