<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://xmlns.jcp.org/jsf/composite"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">




				


<h:form>
	<p:remoteCommand name="showDlgKU" actionListener="#{kontrolaUprawnien.showDlgKU}"/>
</h:form>


		<p:dialog widgetVar="dlgKU" height="500" width="1200"
			id="dlgKUId" appendTo="@(body)" modal="true"
			closeOnEscape="true" draggable="true" resizable="false"
			classStyle="ctl-dialog"
			onShow="showHideUsun();"
			onHide="dlgKUShown = 0;"
			>

		
				<f:facet name="header">
					<h:form id="frmKUHeader">
						<p:panelGrid style="width:100%">
						
							<p:row>						
								<p:column>
									<h:outputText value="Kontrola uprawnień"/>
								</p:column>
								
								<p:column>
									<table style="margin-left:40px; margin-top:-15px; margin-bottom:-15px; font-size:12px!important; color: gray;">
										<tr>	<td class="p0">NAZWA XHTML:	</td>
											<td class="p0">

											<p:commandButton id="btnPokazLwKU" kuid="" styleClass="p0" style="color: #AACCFF!important;"
															 value="#{view.viewId}"
															 action="#{v.getLW('ppl_web_uprawnienia').addColFilter('wupr_nazwa_xhtml', view.viewId, true)}"
															 onstart="hgon(); PF('dlgKU').hide();" oncomplete="hgoff(); window.open('KontrolaUprawnienMList');"/>
											<p:tooltip for="btnPokazLwKU" value="Zamknij to okno i pokaż w osobnej zakładce wszystkie wpisy dla tego widoku..." />

										</td>


										</tr>
<!-- 										<tr>	<td class="p0">ID POLA / ZESTAWU:	</td>	<td class="p0"> #{kontrolaUprawnien.dlgKuid} 		</td>	</tr> -->
										<tr>	<td class="p0">TYP ELEMENTU:				</td>		<td class="p0"> #{kontrolaUprawnien.componentClass} </td>	</tr>
									</table>
								</p:column>
								
								
								<p:column styleClass="r10">
									<p:commandButton id="btAnuluj" styleClass="btnDlg" kuid=""
										process="@none" onclick="PF('dlgKU').hide();" icon="close"> 
									</p:commandButton>
								</p:column>
							
							</p:row>
							
						</p:panelGrid>
					</h:form>
				</f:facet>


			<h:form id="frmKU">

				 <cc:cLookupTableMultiselect id="lkptb" kuid=""
					datasource="#{kontrolaUprawnien.getLW('PPL_DLG_KU',  view.viewId, kontrolaUprawnien.dlgKuid  )}"
					height="470px" autofocus="false"

					insertChildrenFirst="false"

					onselectionchanged="showHideUsun();"
					var="wuprrow"
					rowIndexVar="wuprrowIdx"
				/>



				<p:commandButton id="usun" kuid="" styleClass="granatowy btnConfirmUsun hide pr0 mr10" style="color:blue!important"
								 value="USUŃ..." icon="delete"
								 onclick="PF('dlgKUConfirmDelete').show(); return false;"
								 update="@form frmKUFooter"/>

				<p:commandButton id="usun1" kuid="" styleClass="granatowy btnUsun1 hide pr0 mr10"
								 value="USUŃ" icon="delete"
								 action="#{kontrolaUprawnien.usun()}"
								 oncomplete="showHideUsun();"
								 update="@form frmKUFooter"/>




				<p:commandButton id="btnU" kuid="" styleClass="granatowy btnZazn pr0 hide mr10"
								 icon="visibility_off" value="USTAW BRAK DOSTĘPU"
								 action="#{kontrolaUprawnien.ustawPoziomDostepuDlaZanzaczonych(v.getLW('PPL_DLG_KU'), 0)}"
								 onstart="hgon();" oncomplete="hgoff(); showHideUsun();"
								 update="@form frmKUFooter"/>

				<p:commandButton id="btnW" kuid="" styleClass="granatowy btnZazn hide mr10 pr0"
								 icon="visibility" value="USTAW DOSTĘP 'WYŚWIETLANIE'"
								 action="#{kontrolaUprawnien.ustawPoziomDostepuDlaZanzaczonych(v.getLW('PPL_DLG_KU'), 1)}"
								 onstart="hgon();" oncomplete="hgoff(); showHideUsun();"
								 update="@form frmKUFooter"/>


				<p:commandButton id="btnE" kuid="" styleClass="granatowy btnZazn hide pr0"
								 icon="edit" value="USTAW DOSTĘP 'EDYCJA'"
								 action="#{kontrolaUprawnien.ustawPoziomDostepuDlaZanzaczonych(v.getLW('PPL_DLG_KU'), 2)}"
								 onstart="hgon();" oncomplete="hgoff(); showHideUsun();"
								 update="@form frmKUFooter"/>





			</h:form>

			
			<f:facet name="footer">
					<h:form id="frmKUFooter">
					
						<div class="border ui-g p5" style="position:relative; min-height:40px; width:100%;">
						
						<div class="ui-g-12 p0 pr10" style="margin-top:-5px">
							<cc:cInputTextMDesign label="Identyfikator KU (id pola / zestawu pól):" value="#{kontrolaUprawnien.dlgKuid}" />
							<cc:cInputTextAreaMDesign id="taOpis" label="Opis elementu:" value="#{kontrolaUprawnien.dlgOpis}" rows="1"/>
						</div>
						
						<div class="ui-g-4 ui-g-nopad" >
							#{sessionBean.loadSqlData('sqlKuFU', '
								select FU.FU_NAZWA, FU.FU_OPIS
								from  eat_funkcje_uzytkowe fu
								where FU.FU_NAZWA like \'PP%\'
								order by   FU.FU_NAZWA
							', [])}	
							<cc:cSOMMDesign
								kuid="" 
								label="Funkcja użytkowa:"
							 	emptyLabel="-/- (wybierz funkcję użytkową)" 
							 	datasource="#{sessionBean.getSql('sqlKuFU')}"  textFormat="%1$s"
								value="#{kontrolaUprawnien.wupr.wuprFunkcjaUzytkowa}"
								update="frmKUFooter:lblWybStOb"
							/>


						</div>
						<div class="ui-g-5 ui-g-nopad" >


							<ui:param name="lwStObg" value="#{v.getLW('PPL_KU_ST_OBIEG', [ kontrolaUprawnien.kategoriaObiegu ] )}"/>

<!--							<cc:cSOMMDesign kuid=""-->
<!--								label="Stan obiegu:" -->
<!--								datasource="#{v.getLW('PPL_KU_ST_OBIEG', [ kontrolaUprawnien.kategoriaObiegu ] )}"-->
<!--								 textFormat="%1$s - %2$s" emptyLabel="-/- (wybierz stan obiegu)"-->
<!--								value="#{kontrolaUprawnien.wupr.wuprStanObiegu}"/>-->

							<h:panelGroup id="pnlStObgMultiselect" styleClass="ui-g-12 h50 p0 mt5 border granatowy">
								<i class="material-icons ui-g-1 p0 pt15">add</i>
								<div class="ui-g-11 p0">
									<p:outputLabel styleClass="ui-g-12 p0" id="lblStObgCntr" value="Wybrane stany w obiegu (#{lwStObg.getSelectedRows().size()}):"/>
									<div class="ui-g-12 p0 pr10 center">
										<ui:repeat value="#{lwStObg.getSelectedRows()}" var="rStObg">
											<span class="fs12 p0 pr10" style="color:#990000;">#{rStObg.get('dstn_nazwa')}</span>
										</ui:repeat>
									</div>
								</div>
							</h:panelGroup>

							<p:overlayPanel for="pnlStObgMultiselect" my="left bottom" at="left top" styleClass="border rounded-5 mb10">
								<div class="ui-g w800 p10" style="position: relative">
									<p:outputLabel id="lblWybStOb" for="@parent" value="Wybór stanów obiegu (FU: #{kontrolaUprawnien.wupr.wuprFunkcjaUzytkowa}):" styleClass="fs20" />
									<p:separator styleClass="ui-g-12 p0"/>
									<div class="ui-g-12 p0 w750">

										<cc:cLookupTableMultiselect id="dlgKuStObgLW" height="400px" styleClass="tbl-dlg"
														 datasource="#{lwStObg}"
														 var="krstrow"
														 rowIndexVar="krstrowIdx"
														 update="frmKUFooter:pnlStObgMultiselect"
										/>

									</div>
									<p:separator styleClass="ui-g-12 p0"/>
								</div>
							</p:overlayPanel>

						</div>

						<div class="ui-g-3 p0" >
                            <div class="ui-g-7">
								<cc:cSelectBooleanCheckboxTN id="wyswChckbx" label="Wyświetlanie" value="#{kontrolaUprawnien.wupr.wuprCzyWyswietlac}" update="@form:edytChckbx" />
								<cc:cSelectBooleanCheckboxTN id="edytChckbx" label="Edycja" value="#{kontrolaUprawnien.wupr.wuprCzyEdytowalne}" update="@form:wyswChckbx" styleClass="mt5"/>
                            </div>

                            <div class="ui-g-5" >
                                <p:commandButton id="dodaj" kuid="" styleClass="granatowy pr0 mt10" icon="add"
                                                 value="DODAJ"
                                                 partialSubmit="true" process="@this"
                                                 action="#{kontrolaUprawnien.dodaj()}"
                                                 onstart="hgon();" oncomplete="hgoff();"
                                                 update="frmKU @form"
                                />
                            </div>

						</div>




						
						</div>
						
						
						<script type=""></script>
					</h:form>
			</f:facet>
			
		</p:dialog>




	<p:dialog 
		widgetVar="dlgKUConfirmDelete" appendTo="@(body)" kuid=""
		header="Czy napewno chcesz skasować zaznaczone wiersze?"
		modal="true" closeOnEscape="true" draggable="true" resizable="false"
		classStyle="ctl-dialog noku"
		onHide="showHideUsun();">
		
		<h:form id="dlgKUConfirmDeleteForm" kuid="">
			
			<p:commandButton value="Tak" kuid=""
				action="#{kontrolaUprawnien.usun()}" 
				partialSubmit="true" process="@this" 
				oncomplete="PF('dlgKUConfirmDelete').hide(); showHideUsun();" 
				update="frmKU"/>
			
			<p:commandButton value="Nie" kuid=""
				onclick="PF('dlgKUConfirmDelete').hide()"/>

		</h:form>
		
	</p:dialog>
	



<script type="text/javascript">

	function showHideUsun(){
		var ileZazn= $( jq('frmKU:lkptb:dane:cCntrs') ).first().text();
		if (ileZazn=='0' || ileZazn=='') {
			$('.btnConfirmUsun').addClass('hide');
			$('.btnUsun1').addClass('hide');
			$('.btnZazn').addClass('hide');
		} else if (ileZazn=='1') {
			$('.btnConfirmUsun').addClass('hide');
			$('.btnUsun1').removeClass('hide');
			$('.btnZazn').removeClass('hide');
		} else {
			$('.btnConfirmUsun').removeClass('hide');
			$('.btnUsun1').addClass('hide');
			$('.btnZazn').removeClass('hide');
		}
	}

</script>
	
	
</ui:composition>