<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>
<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Ankieta Szkoleniowa" />

		<ui:define name="egr_content">

		#{ankietaSzkolBean.loadSqlData('sqlDanePrc',
			'
			select
			prc.prc_id,
			prc.prc_nazwisko || \' \' || prc.prc_imie pp_pracownik,
			prc.prc_plec pp_plec,
			floor(MONTHS_BETWEEN
				   (sysdate,
					prc.prc_data_ur) / 12 ) pp_wiek_prc,
			stz.st_lata pp_staz_pracy

			from ek_zatrudnienie ez, ek_pracownicy prc, ek_staze stz, ost_szkolenia szkol
			where ez.zat_prc_id = prc.prc_id
			  and ST_DST_KOD = \'JUBILEUSZ\'
			  and stz.st_prc_id = prc.prc_id
			  and prc.prc_id = ?

			',  [sessionBean.prc_id]
			)}


			<h:form id="frmMnu" styleClass="p5 pl20 bg-lgrey">
				<p:commandButton actionListener="#{ankietaSzkolBean.zapisz()}"
					value="Zapisz" icon="save" style="min-width:100px" partialSubmit="true" process="@form frmId" />

				<p:commandButton value="Raport" icon="picture_as_pdf"
					style="min-width:80px" styleClass="ctl-home-link-menu"
					actionListener="#{ankietaSzkolBean.raport()}" partialSubmit="true"
					process="@this" onclick="form.target = '_blank'" ajax="false" />
			</h:form>


			<div class="p20 pt0 bg-lgrey" style="height: 100vh; overflow-y: auto; overflow-x: auto !important;">
				<h:form id="frmId" styleClass="d-flex-1-column align-items-center">
					<div class="d-flex-column bg-white m0 p0"
						 style="background-color: transparent; box-shadow: none;">

						<div class="d-flex bg-fff p20 mt0 flex-wrap">
							<cc:cInputTextMDesign
								value="#{ankietaSzkolBean.usz.pptSzkolenia.pptOfertySzkolen.ofNazwa}"
								readonly="true" label="Nazwa szkolenia"
								styleClass="flex-300 pb10" />
							<cc:cCalendarMDesign
								value="#{ankietaSzkolBean.uszDR.get('pp_data_rozpoczecia')}"
								readonly="true" label="Data rozpoczęcia szkolenia"
								styleClass="flex-200" />
							<cc:cCalendarMDesign
								value="#{ankietaSzkolBean.uszDR.get('pp_data_zakonczenia')}"
								readonly="true" label="Data zakończenia szkolenia"
								styleClass="flex-200" />
						</div>

						<div class="d-flex bg-fff p20 mt15">
							<p:tabView styleClass="border-bottom-sub-tab width100p" dynamic="true">

								<p:tab titleStyleClass="sub-tab" title="Ocena szkolenia">

									<ui:repeat var="o"
										value="#{ankietaSzkolBean.usz.pptAnkietyPozycjes.stream().filter(x->x.getAnspSwykId() == null).toList()}">

										<ui:param name="nazwaSlownikaWartosciOcen"
											value="#{ankietaSzkolBean.getSql('nazwyOcenBezWykl').find(o.anspTypOceny).get('WSL_WARTOSC_ZEWN')}" />
										<ui:param name="typSlownikaWartosciOcen"
											value="#{ankietaSzkolBean.getSql('nazwyOcenBezWykl').find(o.anspTypOceny).get('WSL_TYP')}" />

										<cc:cLOVMDesign id="wartoscOcenyId" hideHeaders="true"
											label="#{ankietaSzkolBean.getSql('nazwyOcenBezWykl').findAndFormat(o.anspTypOceny,'%2$s')}"
											lovDlgTitle="#{ankietaSzkolBean.getSql('nazwyOcenBezWykl').findAndFormat(o.anspTypOceny,'%2$s')}"
											value="#{o.anspOcena}" lovTextFormat="(%2$s)"
											datasource="#{ankietaSzkolBean.getSlownik( nazwaSlownikaWartosciOcen, false, false )}"
											rendered="#{not (typSlownikaWartosciOcen  eq 'TA')}" />

										<cc:cInputTextAreaMDesign
											label="#{ankietaSzkolBean.getSql('nazwyOcenBezWykl').findAndFormat(o.anspTypOceny,'%2$s') }"
											value="#{o.anspOcenaOpis}"
											rendered="#{(typSlownikaWartosciOcen   eq 'TA')}" />

										<br />

									</ui:repeat>

								</p:tab>


								<p:tab titleStyleClass="sub-tab" title="Ocena wykładowców">

									#{ankietaSzkolBean.loadLW('PPL_SZK_WYKLADOWCY', [ankietaSzkolBean.usz.pptSzkolenia.szkId])}

									<ui:repeat var="wyk"
										value="#{ankietaSzkolBean.loadedLW('PPL_SZK_WYKLADOWCY').data}">

										<br />
										<h3>#{wyk.get('pp_tytul')} #{wyk.get('pp_wyk_osoba')}</h3>
										<br />

										<ui:param name="wykId" value="#{wyk.getIdAsLong()}" />

										<ui:repeat var="o"
											value="#{ankietaSzkolBean.usz.pptAnkietyPozycjes.stream().filter(x->x.getAnspSwykId() eq wykId ).toList()}">

											<cc:cLOVMDesign id="wartoscOcenyId" hideHeaders="true"
												label="#{ankietaSzkolBean.getSql('nazwyOcenWykl').findAndFormat(o.anspTypOceny, '%2$s')}"
												lovDlgTitle="#{ankietaSzkolBean.getSql('nazwyOcenWykl').findAndFormat(o.anspTypOceny,'%2$s')}"
												value="#{o.anspOcena}" lovTextFormat="(%2$s)"
												datasource="#{ankietaSzkolBean.getSlownik( 'OS_ANKIETA_OCENA', false, false )}" />

											<br />

										</ui:repeat>

									</ui:repeat>
								</p:tab>

							</p:tabView>
						</div>
					</div>
				</h:form>
			</div>

		</ui:define>
	</ui:composition>
</h:body>
</html>
