<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Ankiety szkoleniowe" />
		<ui:define name="egr_content">
		
		#{mojeSzkoleniaBean.cacheLoadSqlData('nazwyOcenBezWykl', '
			select K.WSL_WARTOSC, K.WSL_OPIS
			from  ppt_adm_wartosci_slownikow K
			where K.WSL_SL_NAZWA = \'OS_ANKIETA_TYP_OCENY\'
			and WSL_WARTOSC not like \'W%\'
			order by K.WSL_WARTOSC
		', [ ])}
		#{mojeSzkoleniaBean.loadSqlData('nazwyOcenWykl', '
			select K.WSL_WARTOSC, K.WSL_OPIS
			from  ppt_adm_wartosci_slownikow K
			where K.WSL_SL_NAZWA = \'OS_ANKIETA_TYP_OCENY\'
			and WSL_WARTOSC like \'W%\'
			order by K.WSL_WARTOSC
		', [ ])}


			<h:form styleClass="bg-fff m20i p20 bsh2black flex-1">

				<c:cLookupTable
					datasource="#{mojeSzkoleniaBean.getLW('PP_SZKOL_ANKIETY', user.prcIdLong)}"
					editRowPage="AnkietaSzkoleniowa" >
				</c:cLookupTable>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
