<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Budżet szkoleniowy" />
		<ui:define name="egr_content">

			<h:form styleClass="budzet p5 pl20 bg-lgrey">

				<p:commandButton icon="save" value="Zapisz zmiany"
					action="#{budzetSzkoleniowyBean.zapiszOkres()}" update="frmCntr" />

				<p:commandButton
					value="Zmień rok budżetowy: #{budzetSzkoleniowyBean.szkBudzet.bszRok}  (okres #{budzetSzkoleniowyBean.szkBudzet.bszDataOd} - #{budzetSzkoleniowyBean.szkBudzet.bszDataDo}) ..."
					onclick="PF('dlgSzkBudzetListaOkresow').show()" />

			</h:form>

			<h:form id="frmCntr" styleClass="budzet bg-fff m20i p20 bsh2black flex-1 ov-auto">

				<p:accordionPanel id="acc" dynamic="true" onTabChange="hgon()"
					onTabShow="hgoff()">

					<p:tab title="Budżet pomocniczy">
						<f:facet name="title">
							<div class="d-flex align-items-center">
								<div class="acc-terminy flex-300">
									Budżet pomocniczy (Dz. Szk.)
								</div>

								<div onclick="event.stopPropagation();"
									window.event.cancelBubble="true"
									class="flex-400">
									Plan (Dz. Szk.)/okres:
									<p:inputNumber
										value="#{budzetSzkoleniowyBean.szkBudzet.bszPlan}"
										readonly="true" style="display: inline-block; max-width: 100px;"
										styleClass="bold right" />
									PLN
								</div>
							</div>

						</f:facet>

						<h:panelGroup id="szkPlanPomocniczyPnl"
							styleClass="szk-plan-pomocniczy">

							<div style="height: calc(100vh - 320px)">
								<cc:cLookupTable
									datasource="#{budzetSzkoleniowyBean.getLW('PPL_SZK_BUDZET_POZYCJE' , budzetSzkoleniowyBean.szkBudzet.bszId)}"
									updateAfterFilter="@(.podsBudz)" btnsAddDelEdit="true"
									btnAddOnclick="PF('dlgSzkBudzetPozycjeDodaj').show();"
									btnDeleteAction="#{budzetSzkoleniowyBean.listaPozycjiDeleteRowAction(row)}"
									btnDeleteConfirmMessage="Czy chcesz skasować pozycję budżetową?"
									btnEditHide="true" insertChildrenFirst="false"
									maxColWidth="300">

<!-- 									<p:column headerText="Pełny kod komórki" width="200"> -->
<!-- 										<h:outputText value="#{row.get('ob_pelny_kod')}" -->
<!-- 											readonly="true" styleClass="w200" -->
<!-- 											style="white-space: pre-line;" /> -->
<!-- 									</p:column> -->

<!-- 									<p:column headerText="Nazwa komórki organizacyjnej" width="400"> -->
<!-- 										<h:outputText value="#{row.get('ob_nazwa')}" readonly="true" -->
<!-- 											styleClass="w400" style="white-space: pre-line;" /> -->
<!-- 									</p:column> -->

									<p:column headerText="Plan (Dz.Szk.)" exportable="true"
										width="120">
										<p:inputNumber styleClass="right bold"
											value="#{budzetSzkoleniowyBean.getPozycja(row).bspPlan}">
											<p:ajax event="change"
												partialSubmit="true" process="@this"
												onstart="hgon()" oncomplete="hgoff()"
												update="@(.sumNP)"/>
										</p:inputNumber>
										<f:facet name="footer">
											<p:inputNumber id="sumNP00"
												value="#{budzetSzkoleniowyBean.szkBudzet.sumaPozycjePlan( budzetSzkoleniowyBean.getSql('PPL_SZK_BUDZET_POZYCJE') )}"
												readonly="true"
												inputStyle="color:steelblue"
												styleClass="right ml10 sumNP" />
										</f:facet>
									</p:column>

									<p:column headerText="Angaż (Dz.Szk.)" width="130">
										<p:inputNumber value="#{row.get('angaz')}" styleClass="right"
											readonly="true" tabindex="-1" />
										<f:facet name="footer">
											<p:inputNumber id="sumA00"
												value="#{budzetSzkoleniowyBean.getSql('PPL_SZK_BUDZET_POZYCJE').suma('angaz')}"
												readonly="true"
												inputStyle="color:steelblue"
												styleClass="right ml10" />
										</f:facet>
									</p:column>

									<p:column headerText="Wykonanie (Dz.Szk.)" width="130">
										<p:inputNumber value="#{row.get('wykonanie')}"
											styleClass="right" readonly="true" tabindex="-1" />

										<f:facet name="footer">
											<p:inputNumber id="sumW0"
												value="#{budzetSzkoleniowyBean.getSql('PPL_SZK_BUDZET_POZYCJE').suma('wykonanie')}"
												readonly="true"
												inputStyle="color:steelblue"
												styleClass="right ml10" />
										</f:facet>

									</p:column>


									<p:column headerText="Ucz." width="20" exportable="false">

										<p:commandButton icon="search" value="#{row.get('ile_usz')}"
											rendered="#{row.get('angaz') gt 0}"
											action="#{budzetSzkoleniowyBean.pozycjaPokazUczestnikow(row)}"
											onstart="hgon();" oncomplete="hgoff();"
											style="max-height:20px" />
									</p:column>

								</cc:cLookupTable>
							</div>
							<p:spacer />

							<h:panelGroup id="podsBudz" styleClass="podsBudz mt20"
								layout="block" style="margin-left:750px">

								<div class="mr30 mmw90" style="display: inline-block">
								Suma (#{budzetSzkoleniowyBean.getSql('PPL_SZK_BUDZET_POZYCJE').allData.size()} w.):
								</div>

								<p:inputNumber id="sumNP0"
									value="#{budzetSzkoleniowyBean.szkBudzet.sumaPozycjePlan()}"
									readonly="true"
									style="display:inline-block; max-width:120px; margin-right:35px"
									styleClass="bold right sumNP" />

								<p:inputNumber id="sumA0"
									value="#{budzetSzkoleniowyBean.getSql('PPL_SZK_BUDZET_POZYCJE').sumaAllData('angaz')}"
									readonly="true"
									style="display:inline-block; max-width:120px; margin-right:35px"
									styleClass="bold right" />

								<p:inputNumber id="sumW0"
									value="#{budzetSzkoleniowyBean.getSql('PPL_SZK_BUDZET_POZYCJE').sumaAllData('wykonanie')}"
									readonly="true"
									style="display:inline-block; max-width:120px; margin-right:35px"
									styleClass="bold right" />

							</h:panelGroup>

							<h:panelGroup id="pozaPlanem" styleClass="podsBudz mt20"
								layout="block" style="margin-left:520px">

								<div class="mr30" style="display: inline-block">
									Uczestnictwa poza planem budżetu pomocniczego:</div>

								<p:inputNumber id="pozaPlan"
									value="#{budzetSzkoleniowyBean.szkBudzet.bszPlan - budzetSzkoleniowyBean.szkBudzet.sumaPozycjePlan()}"
									readonly="true" style="display:inline-block; max-width:120px;"
									styleClass="bold right sumNP mr35" />

								<p:inputNumber id="pozaAngaz"
									value="#{ budzetSzkoleniowyBean.getLW('PPL_SZK_BUDZET_POZA', budzetSzkoleniowyBean.szkBudzet.bszId ).data.get(0).get('angaz_poza_bsz') }"
									readonly="true" style="display:inline-block; max-width:120px;"
									styleClass="right sumNP mr35" />

								<p:inputNumber id="pozaWykon"
									value="#{ budzetSzkoleniowyBean.getLW('PPL_SZK_BUDZET_POZA', budzetSzkoleniowyBean.szkBudzet.bszId ).data.get(0).get('wykonanie_poza_bsz') }"
									readonly="true" style="display:inline-block; max-width:120px;"
									styleClass="right sumNP mr35" />

								<p:commandButton icon="search"
									value="#{ budzetSzkoleniowyBean.getLW('PPL_SZK_BUDZET_POZA', budzetSzkoleniowyBean.szkBudzet.bszId ).data.get(0).get('ile_poza_bsz') }"
									action="#{budzetSzkoleniowyBean.pozaBudzetemPokazUczestnikow()}"
									onstart="hgon();" oncomplete="hgoff();"
									style="max-height:20px" />

							</h:panelGroup>

						</h:panelGroup>
					</p:tab>

					<p:tab title=" ">

						<f:facet name="title">

							<div class="d-flex align-items-center">
								<div class="acc-terminy flex-300">
									Budżet szkoleniowy MF
								</div>
								<div onclick="event.stopPropagation();"
									window.event.cancelBubble="true"
									class="flex-400">
									Plan MF:
									<p:inputNumber
										value="#{budzetSzkoleniowyBean.getSql('PPL_BUDZET_SZKOLENIOWY').sumaAllData('plan')}"
										readonly="true" style="display:inline-block; max-width:100px;"
										styleClass="bold right" />
									PLN
								</div>
							</div>

						</f:facet>

						<div style="overflow-y: hidden">
							<div style="height: calc(100vh - 260px)">
								<cc:cLookupTable
									datasource="#{budzetSzkoleniowyBean.getLW('PPL_BUDZET_SZKOLENIOWY', [budzetSzkoleniowyBean.szkBudzet.bszRok])}"
									updateAfterFilter="@(.podsBudzMF)">
								</cc:cLookupTable>
							</div>

							<p:spacer />
							<h:panelGroup id="podsBudzMF" styleClass="podsBudzMF mt20 right"
								layout="block" style="width:100%">
							Plan: <p:inputNumber id="sumPMF"
									value="#{budzetSzkoleniowyBean.getSql('PPL_BUDZET_SZKOLENIOWY').suma('plan')}"
									readonly="true"
									style="display:inline-block; max-width:100px; margin-right:30px"
									styleClass="bold right" />
							Zaangażowanie: <p:inputNumber id="sumAMF"
									value="#{budzetSzkoleniowyBean.getSql('PPL_BUDZET_SZKOLENIOWY').suma('zaangazowanie')}"
									readonly="true"
									style="display:inline-block; max-width:100px; margin-right:30px"
									styleClass="bold right" />
							Wykonanie: <p:inputNumber id="sumWMF"
									value="#{budzetSzkoleniowyBean.getSql('PPL_BUDZET_SZKOLENIOWY').suma('wykonanie')}"
									readonly="true"
									style="display:inline-block; max-width:100px; margin-right:30px"
									styleClass="bold right" />
							</h:panelGroup>

						</div>
					</p:tab>

				</p:accordionPanel>

			</h:form>


			<p:dialog id="dlgSzkBudzetListaOkresow"
				widgetVar="dlgSzkBudzetListaOkresow" appendTo="@(body)" width="800"
				height="600" dynamic="true" modal="true" closeOnEscape="true"
				draggable="true" resizable="false" classStyle="ctl-dialog">

				<f:facet name="header">
					<h:form id="frmHeader_dlgSzkBudzetListaOkresow">
						<p:panelGrid style="width:100%">
							<p:column>
								<h:outputText value="Okresy pomocniczego planu budżetowego: " />
							</p:column>

							<p:column styleClass="r10">
								<p:commandButton id="btAnuluj" styleClass="btnDlg"
									process="@none"
									onclick="PF('dlgSzkBudzetListaOkresow').hide();" icon="clear">
								</p:commandButton>
							</p:column>

						</p:panelGrid>
					</h:form>
				</f:facet>

				<h:form id="frmCntr_dlgSzkBudzetListaOkresow"
					styleClass="budzet-lista-okresow">

					<cc:cLookupTable height="550px"
						datasource="#{budzetSzkoleniowyBean.getLW('PPL_SZK_BUDZET')}"
						rowSelectAction="#{budzetSzkoleniowyBean.listaOkresowRowSelectAction}"
						onRowSelectStart="hgon();"
						onRowSelected="PF('dlgSzkBudzetListaOkresow').hide(); hgoff();"
						update="@(.budzet)" btnsAddDelEdit="true"
						btnAddAction="#{budzetSzkoleniowyBean.listaOkresowRowEditAction(null)}"
						btnEditAction="#{budzetSzkoleniowyBean.listaOkresowRowEditAction(row)}"
						btnDeleteAction="#{budzetSzkoleniowyBean.listaOkresowRowDeleteAction(row)}" />

				</h:form>

			</p:dialog>

			<p:dialog id="dlgSzkBudzetEdycjaOkresu"
				widgetVar="dlgSzkBudzetEdycjaOkresu" appendTo="@(body)" width="400"
				height="200" dynamic="true" modal="true" closeOnEscape="true"
				draggable="true" resizable="false" classStyle="ctl-dialog">

				<f:facet name="header">
					<h:form id="frmHeader_dlgSzkBudzetEdycjaOkresu">
						<p:panelGrid style="width:100%">
							<p:column>
								<h:outputText value="Dane okresu: " />
							</p:column>

							<p:column styleClass="r10">
								<p:commandButton id="btAnuluj" styleClass="btnDlg"
									process="@none"
									onclick="PF('dlgSzkBudzetEdycjaOkresu').hide();" icon="clear">
								</p:commandButton>
							</p:column>

						</p:panelGrid>
					</h:form>
				</f:facet>

				<h:form id="frmCntr_dlgSzkBudzetEdycjaOkresu">
					<div class="ui-g ui-g-nopad">
						<cc:cInputNumberMDesign label="Rok budżetowy:" styleClass="ui-g-6"
							value="#{budzetSzkoleniowyBean.szkBudzet.bszRok}"
							decimalPlaces="0">
							<p:ajax event="change" process="@this" update="@form" />
						</cc:cInputNumberMDesign>

						<cc:cInputNumberMDesign label="Planowany budżet:"
							styleClass="ui-g-6"
							value="#{budzetSzkoleniowyBean.szkBudzet.bszPlan}" />
					</div>
					<div class="ui-g ui-g-nopad">

						<cc:cCalendarMDesign label="Data od:" styleClass="ui-g-6"
							value="#{budzetSzkoleniowyBean.szkBudzet.bszDataOd}" />

						<cc:cCalendarMDesign label="Data do:" styleClass="ui-g-6"
							value="#{budzetSzkoleniowyBean.szkBudzet.bszDataDo}" />
					</div>

				</h:form>

				<f:facet name="footer">
					<h:form id="frmFtr_dlgSzkBudzetEdycjaOkresu">
						<div class="dlgBottomBtnsBar">

							<p:commandButton value="ZAPISZ" update="@(.budzet-lista-okresow)"
								action="#{budzetSzkoleniowyBean.zapiszOkres}" onstart="hgon();"
								partialSubmit="true"
								process="@this frmCntr_dlgSzkBudzetEdycjaOkresu">

							</p:commandButton>

							<p:confirmDialog global="true" showEffect="fade"
								hideEffect="fade">
								<p:commandButton value="Tak" type="button"
									styleClass="ui-confirmdialog-yes" icon="check" />
								<p:commandButton value="Nie" type="button"
									styleClass="ui-confirmdialog-no" icon="close" />
							</p:confirmDialog>

						</div>
					</h:form>
				</f:facet>

			</p:dialog>

			<p:dialog id="dlgSzkBudzetPozycjeDodaj"
				widgetVar="dlgSzkBudzetPozycjeDodaj" appendTo="@(body)" width="1100"
				height="600" dynamic="true" modal="true" closeOnEscape="true"
				draggable="true" resizable="false" classStyle="ctl-dialog">

				<f:facet name="header">
					<h:form id="frmHeader_dlgSzkBudzetPozycjeDodaj">
						<p:panelGrid style="width:100%">
							<p:column>
								<h:outputText value="Jednostki organizacyjne: " />
							</p:column>

							<p:column styleClass="r10">
								<p:commandButton id="btAnuluj" styleClass="btnDlg"
									process="@none"
									onclick="PF('dlgSzkBudzetPozycjeDodaj').hide();" icon="clear">
								</p:commandButton>
							</p:column>

						</p:panelGrid>
					</h:form>
				</f:facet>

				<h:form id="frmCntr_dlgSzkBudzetPozycjeDodaj">

					<cc:cLookupTable id="tb1" styleClass="tbl-w100-h100"
						datasource="#{budzetSzkoleniowyBean.getLW('PPL_SZK_BUDZET_JO')}"
						height="550px" multiselect="true" />

				</h:form>
				<f:facet name="footer">
					<h:form id="frmFtr_dlgSzkBudzetPozycjeDodaj">
						<div class="dlgBottomBtnsBar">

							<p:commandButton value="ZAPISZ POZYCJE"
								update="@(.budzet-lista-okresow) frmCntr_dlgSzkBudzetPozycjeDodaj"
								onstart="hgon();"
								action="#{budzetSzkoleniowyBean.dlgSzkBudzetPozycjeDodajZapiszPozycje}"
								partialSubmit="true"
								process="@form frmCntr_dlgSzkBudzetPozycjeDodaj">
							</p:commandButton>


							<p:confirmDialog global="true" showEffect="fade"
								hideEffect="fade">
								<p:commandButton value="Tak" type="button"
									styleClass="ui-confirmdialog-yes" icon="check" />
								<p:commandButton value="Nie" type="button"
									styleClass="ui-confirmdialog-no" icon="close" />
							</p:confirmDialog>
							
							<p:inputNumber style="position:absolute; left:10px; top:5px;" styleClass="right"
								value="#{budzetSzkoleniowyBean.wartoscPlanDlaPozycji}" />
							
						</div>
						
						
					</h:form>
				</f:facet>

			</p:dialog>

			<p:dialog id="dlgSzkBudzetPozycjaPokazUczestnikow"
				widgetVar="dlgSzkBudzetPozycjaPokazUczestnikow" appendTo="@(body)"
				width="1100" height="500" dynamic="true" modal="true"
				closeOnEscape="true" draggable="true" resizable="false"
				classStyle="ctl-dialog">

				<f:facet name="header">
					<h:form id="frmHeader_dlgSzkBudzetPozycjaPokazUczestnikow">
						<p:panelGrid style="width:100%">

							<p:column>
								<h:outputText
									value="Uczestnicy szk. / wydz.: #{budzetSzkoleniowyBean.pozycja.get('ob_kod')} - #{budzetSzkoleniowyBean.pozycja.get('ob_nazwa')}" />
							</p:column>

							<p:column styleClass="r10">
								<p:commandButton id="btAnuluj" styleClass="btnDlg"
									process="@none"
									onclick="PF('dlgSzkBudzetPozycjaPokazUczestnikow').hide();"
									icon="clear">
								</p:commandButton>
							</p:column>

						</p:panelGrid>
					</h:form>
				</f:facet>

				<h:form id="frmCntr_dlgSzkBudzetPozycjaPokazUczestnikow">
					<cc:cLookupTable
						datasource="#{budzetSzkoleniowyBean.getSql('ppl_szk_budzet_poz2usz')}"
						height="450px" exportPdf="true" exportXls="true" exportCsv="true"
						exportXml="true" />

				</h:form>


				<f:facet name="footer">
					<h:form id="frmFtr_dlgSzkBudzetPozycjaPokazUczestnikow"
						styleClass="dlgBottomBtnsBar">
						<div class="ml20 p5">

							Angaż (suma k. plan.):
							<p:inputNumber id="sumaPozKPl"
								value="#{budzetSzkoleniowyBean.getSql('ppl_szk_budzet_poz2usz').suma('usz_koszt_plan')}"
								readonly="true"
								style="display:inline-block; max-width:100px; margin-right:60px"
								styleClass="bold right" />

							Wykonanie (suma k rzecz.):
							<p:inputNumber id="sumaPozKRz"
								value="#{budzetSzkoleniowyBean.getSql('ppl_szk_budzet_poz2usz').suma('usz_koszt_rzecz')}"
								readonly="true"
								style="display:inline-block; max-width:100px; margin-right:30px"
								styleClass="bold right" />
						</div>
					</h:form>
				</f:facet>

			</p:dialog>

		</ui:define>
	</ui:composition>
</h:body>
</html>

