<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>

<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
	<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
	<ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}" />

	<ui:define name="egr_content">

			<h:form styleClass="bg-fff m20i p20 d-flex-1-column">
				<div class="d-flex p10 align-items-center" style="justify-content: space-between;">
					<h1>
						Lista umów lojalnościowych
					</h1>
					<p:commandButton
							value="Dodaj umowę" id="nowaUmowaId" class="btn-dark"
							action="#{listaUmowLojBean.dodajNowyArkusz}"
					/>
				</div>

				<c:cLookupTable
						datasource="#{listaUmowLojBean.getLW('PP_SZKOL_LOJ', [user.dbLogin, '%'])}"
						rowSelectAction="#{listaUmowLojBean.editSelectedRow}"
				/>
			</h:form>

	</ui:define>
</ui:composition>

</body>
</html>