<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista wniosków o refundacje" />
		<ui:define name="egr_content">

			<h:form styleClass="bg-fff m20i p20 bsh2black flex-1">

				<c:cLookupTable
						datasource="#{sqlBean.getLW('PPL_REFUNDACJE_WNIOSKI', user.dbLogin)}"
						editRowPage="WniosekRefundacja"
				/>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>