<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Moje Szkolenia" />
		<ui:define name="egr_content">

			<h:form id="frm1" styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20">

				<p:commandButton value="Zapis na szkolenie" id="add" icon="add"
					styleClass="ctl-home-link-menu"
					partialSubmit="@form"
					action="#{mojeSzkoleniaBean.zapisNaSzkol()}" />

			</h:form>

			<div class="d-flex-1 p20 ov-auto">
				<h:form styleClass="bg-fff bsh2black p20 w100p-40px">
	
					<p:tabView styleClass="pp-tbvw-wide" dynamic="true">
						<p:tab title="Planowane szkolenia">
							<div class="d-flex" style="height: calc(100vh - 175px);">
								<!--	UWAGA - to ta sama LW - należy renderować dynamicznie -->
								<cc:cLookupTable
										insertChildrenFirst="true"
										datasource="#{v.getLW('PP_MOJ_PLAN_SZKOL', sessionBean.prc_id, 'planowane')}"

									>
	<!-- 									rowSelectedAction="#{mojeSzkoleniaBean.edytujIprzAlboSzkolenie}" -->
	<!-- editRowPage="#{row.get('zsz_id') != null ? 'ZapisySzkolenie' : 'ArkuszIPRZ'}" -->

									<p:column headerText="Zrodlo" width="160">
										<p:commandButton  action="#{row.redirectTo('ZapisySzkolenie')}"
														  value="zapis na szkolenie ..." icon="search"
														  rendered="#{row.get('zsz_id')!=null}"/>
										<p:commandButton  action="#{row.redirectTo('ArkuszIPRZ', row.get('pis_iprz_id'))}"
														  value="zapis z IPRZ ..."  icon="search"
														  rendered="#{row.get('zsz_id')==null}"/>
									</p:column>

								</cc:cLookupTable>
							</div>
						</p:tab>

						<p:tab title="Zaakceptowane szkolenia">
							<div class="d-flex" style="height: calc(100vh - 175px);">
								<!--	UWAGA - to ta sama LW - należy renderować dynamicznie -->
								<cc:cLookupTable
									datasource="#{v.getLW('PP_MOJ_PLAN_SZKOL', sessionBean.prc_id, 'zaakceptowane')}"
									insertChildrenFirst="true"
									>

									<p:column headerText="Zrodlo" width="160">
										<p:commandButton  action="#{row.redirectTo('ZapisySzkolenie')}"
														  value="zapis na szkolenie ..." icon="search"
														  rendered="#{row.get('zsz_id')!=null}"/>
										<p:commandButton  action="#{row.redirectTo('ArkuszIPRZ', row.get('pis_iprz_id'))}"
														  value="zapis z IPRZ ..."  icon="search"
														  rendered="#{row.get('zsz_id')==null}"/>
									</p:column>

								</cc:cLookupTable>
							</div>

						</p:tab>

					</p:tabView>

				</h:form>

			</div>

		</ui:define>
	</ui:composition>
</h:body>
</html>
