<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}" />
		<ui:define name="egr_content">


				<h:form id="form1" styleClass="mautoi ov-auto">
		
		
#{rejestrSzkolenBean.loadEgSlownik('RODZAJ_SZKOLENIA')}
#{rejestrSzkolenBean.loadEgSlownik('PPS_SZK_TYP_OBIEKTU')}
#{rejestrSzkolenBean.loadEgSlownik('PPP_OS_OBSZAR_WIEDZY')}
#{rejestrSzkolenBean.loadEgSlownik('PPS_SZK_FORMA_ORG')}
#{rejestrSzkolenBean.loadEgSlownik('PPS_SZK_FORMA_ZALICZENIA')}
#{rejestrSzkolenBean.loadEgSlownik('PPS_SZK_KATEGORIA_SZKOLENIA')}
		
		

					<div class="frm-header">
						<h1>Oferta szkoleń</h1>
					</div>
					<div class="bg-white">
						<div>
							<h2>Dane oferty</h2>
						</div>
						<p:panelGrid style="width: 100%">

							<p:row>
								<p:column colspan="5" style="min-height: 30px;">
									<p:spacer height="30" width="100%" />
								</p:column>
							</p:row>


							<p:row>

								<p:column>
									<cc:cInputTextMDesign autoResize="true"
										value="#{rejestrSzkolenBean.oferta.ofNazwa}" placeholder=""
										label="Nazwa: ">
									</cc:cInputTextMDesign>
								</p:column>

								<p:column>
									<cc:cInputTextMDesign autoResize="true"
										value="#{rejestrSzkolenBean.oferta.ofSkrot}" placeholder=""
										label="Skrót nazwy:">
									</cc:cInputTextMDesign>
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<cc:cSOMMDesign
										datasource="#{rejestrSzkolenBean.getSql('RODZAJ_SZKOLENIA')}"
										value="#{rejestrSzkolenBean.oferta.ofRodzaj}" label="Rodzaj:"
										width="50%" />


								</p:column>

								<p:column>

									<cc:cSOMMDesign
										datasource="#{rejestrSzkolenBean.getSql('PPS_SZK_FORMA_ORG')}"
										value="#{rejestrSzkolenBean.oferta.ofFormaOrg}"
										label="Forma organizacyjna:" width="50%" />
								</p:column>
							</p:row>
							<p:row style="width: 100%">
								<p:column>


									<cc:cSOMMDesign
										datasource="#{rejestrSzkolenBean.getSql('PPS_SZK_FORMA_ZALICZENIA')}"
										value="#{rejestrSzkolenBean.oferta.ofFormaZal}"
										label="Forma zaliczenia:" width="50%" />
								</p:column>
								<p:column>
									<cc:cSOMMDesign
										datasource="#{rejestrSzkolenBean.getSql('PPP_OS_OBSZAR_WIEDZY')}"
										value="#{rejestrSzkolenBean.oferta.ofObszarWiedzy}"
										label="Obszar wiedzy:" width="50%" />

								</p:column>

							</p:row>
							<p:row style="width: 100%">
								<p:column>
									<cc:cSOMMDesign
										datasource="#{rejestrSzkolenBean.getSql('PPS_SZK_TYP_OBIEKTU')}"
										value="#{rejestrSzkolenBean.oferta.ofTyp}" label="Typ:"
										width="50%" />
								</p:column>
								<p:column>
									<cc:cSOMMDesign
										datasource="#{rejestrSzkolenBean.getSql('PPS_SZK_KATEGORIA_SZKOLENIA')}"
										value="#{rejestrSzkolenBean.oferta.ofKategoria}"
										label="Kategoria:" width="50%" />
								</p:column>




							</p:row>
							<p:row>
								<p:column>
									<cc:cInputNumberMDesign decimalPlaces="0"
										value="#{rejestrSzkolenBean.oferta.ofIloscGodzin}"
										label="Liczba godzin:">
									</cc:cInputNumberMDesign>
								</p:column>
								<p:column>
									<cc:cInputNumberMDesign decimalPlaces="0"
										value="#{rejestrSzkolenBean.oferta.ofIloscDni}"
										label="Liczba dni:">
									</cc:cInputNumberMDesign>
								</p:column>




							</p:row>
							<p:row>

								<p:column>
									<cc:cInputTextAreaMDesign styleClass="lekka-ramka textarea-ie"
										autoResize="true" value="#{rejestrSzkolenBean.oferta.ofOpis}"
										readonly="false" label="Informacje dodatkowe: ">
									</cc:cInputTextAreaMDesign>
								</p:column>



							</p:row>
							<p:row>
								<p:column style="width: 50%;">
									<p:selectOneRadio id="wew"
										value="#{rejestrSzkolenBean.oferta.ofFWew}" styleClass="label">
										<f:selectItem itemLabel="Szkolenie wewnętrzne" itemValue="W" />
										<f:selectItem itemLabel="Szkolenie zewnętrzne" itemValue="Z" />
									</p:selectOneRadio>
								</p:column>
							</p:row>

						</p:panelGrid>
					</div>
					<div class="ui-action-buttons">
						<p:commandButton value="Zapisz" id="zapiszId"
							styleClass="btn-dark" partialSubmit="true" process="@form"
							update="@(.btns)"
							actionListener="#{rejestrSzkolenBean.zapiszOferte()}" />
					</div>

				</h:form>


		</ui:define>
	</ui:composition>
</h:body>
</html>
