<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>
    <ui:composition
            template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
        <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
        <ui:param name="formName" value="Rejestr szkoleń"/>

        <ui:define name="egr_content">

            <h:form id="frmCntr" styleClass="bg-fff bsh2black m20i p20 flex-1">

                <cc:cRejestrSzkolen
                        height="calc(100vh - 180px)"
                        whereStatusyTerminow=""/>

            </h:form>

            <ui:include src="/WEB-INF/protectedElements/Dialogs/Szkolenia/dlgOfertaSzkolen.xhtml"/>
            <ui:include src="/WEB-INF/protectedElements/Dialogs/Szkolenia/dlgTerminSzkolenia.xhtml"/>
            <ui:include src="/WEB-INF/protectedElements/Dialogs/Szkolenia/dlgWykladowcaNowy.xhtml"/>
            <ui:include src="/WEB-INF/protectedElements/Dialogs/Szkolenia/dlgWykladowcy.xhtml"/>

        </ui:define>
    </ui:composition>
</h:body>
</html>
