<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Rozliczone umowy lojalnościowe" />
		<ui:define name="egr_content">
			<h:form styleClass="bg-fff bsh2black m20i p20 flex-1">

				<div class="debug">lov: PP_SZKOL_LOJ_ROZ</div>

				#{listaUmowLojBean.loadEgListaWartosci('PP_SZKOL_LOJ_ROZ',  ['%'] )}

				<c:cLookupTable
					datasource="#{listaUmowLojBean.getSql('PP_SZKOL_LOJ_ROZ')}"
					rowSelectAction="#{listaUmowLojBean.editSelectedRow}"
					 />
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
