<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Plan szkoleniowy (zapisy na szkolenia / terminy szkoleń)" />
		<ui:define name="egr_content">

			<h:form id="frmNorth" styleClass="d-flex p5 pp-bg-lp-north-b-white-b-v pl20 pr20 align-items-center">
				
				<p:outputLabel value="Okres (rok):" styleClass="mt5 mr20"/>
				<cc:cSOM styleClass="mr50 w100"
						value="#{planSzkolenBean.rokPlanuSzk}"
						datasource="#{planSzkolenBean.getLW('PPL_SZK_BUDZET')}"
						valueFormat="%2$s"
						textFormat="%2$s"
						update="@(.planSzkoleniowy)"
						onstart="hgon()" oncomplete="hgoff()"
				/>

				<p:commandButton id="btnSetTermin" styleClass=""
					value="wybierz termin szkolenia (#{planSzkolenBean.getLW('PPL_SZK_PLAN',planSzkolenBean.rokPlanuSzk).selectedRows.size()} zazn.) ..."
					onstart="showHourGlass()"
					oncomplete="PF('dlgSetTermin').show(); hideHourGlass()"
					update="frmDlgSetTerminHeader"
					disabled="#{planSzkolenBean.invZaznPrzypisanieTerminu.size() gt 0}" />

				<p:tooltip for="btnSetTermin" 
					rendered="#{planSzkolenBean.invZaznPrzypisanieTerminu.size() gt 0}">
					<div class="ui-g ui-g-nopad" style="max-width:600px">
						<ui:repeat var="invTxt" value="#{planSzkolenBean.invZaznPrzypisanieTerminu}">
						
							<div class="ui-g-12 ui-g-nopad"> 
								<p:outputLabel value="#{invTxt}"/>
								<p:separator/>
							</div>
							
						</ui:repeat>
					</div>
				</p:tooltip>
				
			</h:form>

			<h:form id="frmCenter" styleClass="bg-fff m20i p20 bsh2black planSzkoleniowy flex-1">

				<cc:cLookupTable  id="clkptbltest1"
					multiselect="true" update="frmNorth"
					rowCheckAction="#{planSzkolenBean.calcInvZaznPrzypisanieTerminu}"
					insertChildrenFirst="false"
					datasource="#{planSzkolenBean.getLW('PPL_SZK_PLAN', planSzkolenBean.rokPlanuSzk)}">

					<p:column exportable="false" width="30">
						<cc:cZalacznikiButton dlgTitle="Plan szkoleniowy / załączniki"
							zalFkId="#{row.get('pis_id')}"
							zalFkFieldName="ZAL_PIS_ID"
							btnTitle="" />
					</p:column>

				</cc:cLookupTable>
<!-- 					rowSelectAction="#{planSzkolenBean.calcInvZaznPrzypisanieTerminu}" -->

			</h:form>

			<ui:include src="/WEB-INF/protectedElements/Dialogs/Szkolenia/dlgWykladowcaNowy.xhtml" />
			<ui:include src="/WEB-INF/protectedElements/Dialogs/Szkolenia/dlgWykladowcy.xhtml" />
			<ui:include	src="/WEB-INF/protectedElements/Dialogs/Szkolenia/dlgOfertaSzkolen.xhtml"/>
			<ui:include	src="/WEB-INF/protectedElements/Dialogs/Szkolenia/dlgTerminSzkolenia.xhtml"/>

			<p:dialog id="dlgSetTermin" widgetVar="dlgSetTermin" appendTo="@(body)" width="1100" height="600"
				dynamic="true"
				modal="true" closeOnEscape="true" draggable="true" resizable="false">

				<f:facet name="header">
					<h:form id="frmDlgSetTerminHeader">
						<p:panelGrid style="width: 100%">
							<p:column>
								<h:outputText value="Wybierz termin szkolenia dla zaznaczonych (#{planSzkolenBean.getLW('PPL_SZK_PLAN',planSzkolenBean.rokPlanuSzk).selectedRows.size() }) zapisów:" />
							</p:column>

							<p:column styleClass="r10">
								<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@none"
									onclick="PF('dlgSetTermin').hide();" icon="clear">
								</p:commandButton>
							</p:column>

						</p:panelGrid>
					</h:form>
				</f:facet>

				<div class="d-flex-1" style="height: 560px;">
					<h:form id="frmCntr" styleClass="width100p height100p">

						<cc:cRejestrSzkolen height="460px" whereStatusyTerminow="PLAN;ZATW" onDialog="true"/>

					</h:form>
				</div>

				<f:facet name="footer">
					<h:form id="frmDlgSetTerminFooter">
						<div class="dlgBottomBtnsBar">

						<p:commandButton value="ZATWIERDŹ" update="dlgSetTermin"
							action="#{planSzkolenBean.przypiszTermin}"
							onstart="showHourGlass();"
							oncomplete="PF('dlgSetTermin').hide(); hideHourGlass();"
							partialSubmit="true" process="@this">

							 <p:confirm header="Dodawanie uczestników..."
								message="Czy na pewno chcesz dodać zaznaczone zapisy jako uczestników szkolenia?"
								icon="ui-icon-alert" />

						 </p:commandButton>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
							<p:commandButton value="Tak" type="button" styleClass="ui-confirmdialog-yes" icon="check" />
							<p:commandButton value="Nie" type="button" styleClass="ui-confirmdialog-no" icon="close" />
						</p:confirmDialog>

						</div>
					</h:form>
				</f:facet>

			</p:dialog>

		</ui:define>
	</ui:composition>
</h:body>
</html>
