<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>



</f:metadata>



<body>






	<p:panelGrid>

		<p:row>
			<p:column>
				<p:outputLabel for="dataPodpId" value="Data podpisania umowy:" />
			</p:column>
			<p:column>
				<cc:cCalendar class="light-text" id="dataPodpId" locale="pl"
					showOn="button" />
			</p:column>
		</p:row>

		<p:row>
			<p:column>
				<p:outputLabel value="Przedmiot umowy" />
			</p:column>
			<p:column>
				<p:inputText />
			</p:column>
		</p:row>


		<p:row>
			<p:column>
				<p:outputLabel for="dataObId" value="Data obowiązywania umowy:" />
			</p:column>
			<p:column>
				<cc:cCalendar class="light-text" id="dataObId" locale="pl"
					showOn="button" />
			</p:column>
		</p:row>


		<p:row>
			<p:column>
				<p:outputLabel
					value="Całkowita wartość zobowiązań pracownika wynikająca z umowy " />
			</p:column>
			<p:column>
				<p:inputNumber symbol=" PLN" thousandSeparator="." value="1000"
					symbolPosition="s" decimalSeparator="," />
			</p:column>
		</p:row>


		<p:row>
			<p:column>
				<p:outputLabel value="Czy uregulowano zobowiązanie?" />
			</p:column>
			<p:column>
			<p:selectBooleanCheckbox/>
			</p:column>
		</p:row>






	</p:panelGrid>




</body>
</html>