<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Wykładowcy" />

		<ui:define name="egr_content">

			<ui:include
				src="/WEB-INF/protectedElements/Dialogs/Szkolenia/dlgWykladowcaNowy.xhtml" />

			<h:form id="frmCntr" styleClass="bg-fff m20i p20 bsh2black flex-1">

					<cc:cWykladowcy />

			</h:form>

		</ui:define>
	</ui:composition>
</body>
</html>