<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Szkolenia do akceptacji" />
		<ui:define name="egr_content">

			<h:form styleClass="bg-fff m20i p20 bsh2black flex-1">

				<cc:cLookupTable
						datasource="#{listaWartosciBean.getLW('PP_SZKOL_DO_AKCEPT',user.dbLogin)}"
						insertChildrenFirst="true">

					<p:column headerText="Zrodlo" width="160">
						<p:commandButton  action="#{row.redirectTo('ZapisySzkolenie')}"
										  value="zapis na szkolenie ..." icon="search"
										  rendered="#{row.get('id')!=null}" />
						<p:commandButton  action="#{row.redirectTo('ArkuszIPRZ', row.get('pis_iprz_id'))}"
										  value="zapis z IPRZ ..."  icon="search"
										  rendered="#{row.get('id')==null}" />
					</p:column>

				</cc:cLookupTable>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
