<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}" />

		<ui:define name="egr_content">

			<h:form id="frmMnu" styleClass="p5 pl20 bg-lgrey">

				<p:commandButton value="usuń umowę" id="usunId"
					icon="delete_forever" style="min-width: 130px;"
					disabled="#{umowaLojalBean.umowa.umszId == null || umowaLojalBean.umowa.umszId == ''}"
					actionListener="#{umowaLojalBean.usunUmowe()}"
					styleClass="ctl-home-link-menu" partialSubmit="true">
					<p:confirm header="Uwaga"
							   message="Czy na pewno chcesz usunąć umowę lojalnościową o nr #{umowaLojalBean.umowa.umszId}?"
							   icon="ui-icon-alert" />
				</p:commandButton>

				<p:confirmDialog global="true" showEffect="fade"
								 hideEffect="fade" style="width: 300px;">
					<p:commandButton value="Tak" type="button"
									 styleClass="ui-confirmdialog-yes" />
					<p:commandButton value="Nie" type="button"
									 styleClass="ui-confirmdialog-no" />
				</p:confirmDialog>

				<p:commandButton value="raport" id="raportId"
					icon="content_paste" style="min-width: 80px;"
					disabled="#{umowaLojalBean.umowa.umszId == null || umowaLojalBean.umowa.umszId == ''}"
					actionListener="#{umowaLojalBean.raport()}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<cc:cZalacznikiButton dlgTitle="Umowa lojalnościowa / załączniki"
									  zalFkId="#{umowaLojalBean.umowa.umszId}"
									  zalFkFieldName="ZAL_UMSZ_ID"/>
			</h:form>

			#{umowaLojalBean.loadEgListaWartosci('PP_PRC', [])}

			<div class="p20 pt0 bg-lgrey" style="height: 100vh; overflow-y: auto; overflow-x: auto !important;">
					
				<h:form id="umowaLojalnosciowaId" styleClass="width100p d-flex-1-column">

					<div class="d-flex-column bg-white mb0 pb0"
						 style="background-color: transparent; box-shadow: none;">

						<h1 style="text-rendering: optimizeLegibility;" class="m20">
							Umowa lojalnościowa
						</h1>
						<div class="debug">lov: PP_PRC</div>
						<div class="d-flex-column bg-fff p20 m20 mt0">
							<h2 class="mt0">
								Dane pracownika
							</h2>
							<div>
								<p:outputLabel value="Wybierz pracownika z listy:"
											   style="min-width:70px" styleClass="label"
											   readonly="true" />
								<cc:cLovLookupTable lovDlgTitle="Lista pracowników"
													showInputText="false" lovTextFormat="%1$s - %3$s %4$s"
													value="#{umowaLojalBean.umowa.umszPrcId}"
													datasource="#{umowaLojalBean.getSql('PP_PRC')}"
													update="umowaLojalnosciowaId:ccPracownik" />
							</div>
							<cc:cPracownikSluzbaP id="ccPracownik"
												  prcId="#{umowaLojalBean.umowa.umszPrcId}" />
						</div>
						<div class="d-flex-column bg-fff p20 m20 mt0">
							<h2 class="mt0">
								Szczegóły umowy lojalnościowej
							</h2>
							<div class="d-flex pb10">
								<cc:cCalendarMDesign styleClass="flex-1 light-text" id="dataPodpId"
													 locale="pl" label="Data podpisania umowy:" showOn="button"
													 value="#{umowaLojalBean.umowa.umszDataPodpisania}" />
								<cc:cCalendarMDesign styleClass="flex-1 light-text" id="dataObId" locale="pl"
													 label="Data obowiązywania umowy:" showOn="button"
													 value="#{umowaLojalBean.umowa.umszDataObowiazywania}" />
							</div>
							<cc:cInputTextAreaMDesign
									value="#{umowaLojalBean.umowa.umszPrzedmiot}"
									label="Przedmiot umowy:"
									styleClass="pb20"/>
							<div class="d-flex flex-wrap">
								<cc:cInputNumberMDesign symbol=" PLN" thousandSeparator="."
														label="Całkowita wartość zobowiązań: "
														value="#{umowaLojalBean.umowa.umszWartosc}" symbolPosition="s"
														decimalSeparator=","
														styleClass="flex-200 pb10" />
								<cc:cSelectOneMenuTN
										value="#{umowaLojalBean.umowa.umszCzyUregulowano}"
										label="Czy uregulowano zobowiązanie?"
										styleClass="flex-200 pb20" />
								<cc:cSelectOneMenuTN
										value="#{umowaLojalBean.umowa.umszFCzyDyplom}"
										label="Zaświadczenie/dyplom o ukończeniu kursu/studiów?"
										styleClass="flex-200 pb10"
										labelStyle="top: -35px !important;" />
							</div>
							<cc:cInputTextAreaMDesign styleClass="lekka-ramka" cols="30"
													  rows="3" label="Uwagi:" maxlength="2000" autoResize="true"
													  value="#{umowaLojalBean.umowa.umszUwagi}" />
						</div>
						<div class="mr20">
							<p:commandButton value="Zapisz" id="zapiszId"
											 class="btn-dark" partialSubmit="true"
											 update="frmMnu" actionListener="#{umowaLojalBean.zapisz()}" />
						</div>
					</div>

				</h:form>	
			</div>

		</ui:define>
	</ui:composition>
</body>
</html>