<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Wniosek o skierowanie na studia" />

		<ui:define name="egr_content">
			#{szkoleniaWniosekStudiaBean.loadEgListaWartosci('PP_PRC', [])}
			#{szkoleniaWniosekStudiaBean.loadEgSlownik('OS_FORMA_ORGANIZACJI')}

			<h:form id="frmMnu" styleClass="bg-lgrey p5 pl20 pr20 d-flex flex-wrap">
				<p:commandButton value="zapisz" id="zapiszBtnId" icon="save"
								 styleClass="ctl-home-link-menu" partialSubmit="true"
								 process="@form zapisyFormId" update="frmMnu"
								 actionListener="#{szkoleniaWniosekStudiaBean.zapisz}" />

				<p:commandButton value="usuń wniosek" id="usunId" icon="delete"
					style="min-width: 130px;"
					disabled="#{szkoleniaWniosekStudiaBean.wniosek.skstId == null || szkoleniaWniosekStudiaBean.wniosek.skstId == ''}"
					actionListener="#{szkoleniaWniosekStudiaBean.usunWniosek()}"
					styleClass="ctl-home-link-menu" partialSubmit="true">

				</p:commandButton>

				<p:commandButton value="raport" id="raportId"
					icon="picture_as_pdf" style="min-width: 80px;"
					disabled="#{szkoleniaWniosekStudiaBean.wniosek.skstId == null || szkoleniaWniosekStudiaBean.wniosek.skstId == ''}"
					actionListener="#{szkoleniaWniosekStudiaBean.raport()}"
					styleClass="ctl-home-link-menu" partialSubmit="true"
					process="@this" onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<cc:cObiegCzynnosci kategoriaObiegu="WN_SKIEROWANIE_STUDIA"
					idEncji="#{szkoleniaWniosekStudiaBean.wniosek.skstId}"
					reloadPage="WniosekStudia" label="etap" />

			</h:form>

			<div class="p20 pt0 bg-lgrey" style="height: 100vh; overflow-y: auto; overflow-x: auto !important;">
				<h:form id="zapisyFormId" styleClass="d-flex-1-column align-items-center pt20">
					<div class="d-flex-column bg-white m0 p0"
						 style="background-color: transparent; box-shadow: none;">

						<div class="d-flex-column bg-fff p20 mt0">
							<h2>Dane podstawowe</h2>
							<div class="debug">EgSlownik: OS_FORMA_ORGANIZACJI</div>
							<cc:cInputTextMDesign
								value="#{szkoleniaWniosekStudiaBean.wniosek.skstTemat}"
								label="Temat szkolenia"
								styleClass="pb10 lekka-ramka" />

							<cc:cInputTextMDesign
								value="#{szkoleniaWniosekStudiaBean.wniosek.skstOrganizator}"
								label="Szkolenie organizowane przez:"
								styleClass="pb10 lekka-ramka" />

							<cc:cSOMMDesign
								datasource="#{szkoleniaWniosekStudiaBean.getSql('OS_FORMA_ORGANIZACJI')}"
								value="#{szkoleniaWniosekStudiaBean.wniosek.skstForma}"
								label="Szkolenie prowadzone systemem:" />
						</div>
					</div>

					<div class="d-flex-column bg-white m0 p0 pt15"
						 style="background-color: transparent; box-shadow: none;">

						<div class="d-flex-column bg-fff p20 mt0">
							<h2>Koszty</h2>
							<div class="d-flex flex-wrap">
								<cc:cInputNumberMDesign symbol=" PLN" thousandSeparator="."
									label="Koszt szkolenia:"
									value="#{szkoleniaWniosekStudiaBean.wniosek.skstKoszt}"
									symbolPosition="s" decimalSeparator="," styleClass="lekka-ramka">

									<p:ajax event="change" partialSubmit="true" process="@this"
										update="@(.ZF)" />

								</cc:cInputNumberMDesign>

								<div class="d-flex-column flex-200 pl5">

									#{szkoleniaWniosekStudiaBean.zmianaPokrycia()}

									<p:outputLabel value="Pokrycie kosztów szkolenia"
										styleClass="pogrubiony-normal" />

									<p:selectOneRadio id="pokrycieId" layout="pageDirection"
										value="#{szkoleniaWniosekStudiaBean.wniosek.skstFCzyPokrycie}"
										styleClass="label">
										<f:selectItem itemLabel="W całości" itemValue="T" />
										<f:selectItem itemLabel="W części" itemValue="N" />
										<p:ajax event="change"
											listener="#{szkoleniaWniosekStudiaBean.zmianaPokrycia()}"
											update="zapisyFormId:kwotaPokryciaWC @(.ZF)" />

									</p:selectOneRadio>
								</div>
								<p:outputPanel id="kwotaPokryciaWC" class="d-flex flex-200 pb10">
									<cc:cInputNumberMDesign id="kwotaPokrycia"
										styleClass="kwotaPokryciaCl lekka-ramka" label="W kwocie:"
										disabled="#{not szkoleniaWniosekStudiaBean.czyPokrycie}"
										rendered="#{szkoleniaWniosekStudiaBean.czyPokrycie}"
										symbol=" PLN" thousandSeparator="."
										value="#{szkoleniaWniosekStudiaBean.wniosek.skstKwotaPokrycie}"
										symbolPosition="s" decimalSeparator=",">
										
										<p:ajax event="change" partialSubmit="true" process="@this"
											update="@(.ZF)" />
											
									</cc:cInputNumberMDesign>
								</p:outputPanel>
							</div>
							<div class="d-flex flex-wrap">
								<cc:cInputTextAreaMDesign styleClass="lekka-ramka flex-300" cols="10"
									rows="1" label="Rodzaj innych kosztów:" maxlength="500"
									autoResize="true"
									value="#{szkoleniaWniosekStudiaBean.wniosek.skstInneKoszty}" />
								<cc:cInputNumberMDesign symbol=" PLN" thousandSeparator="."
									label="Kwota innych kosztów:"
									value="#{szkoleniaWniosekStudiaBean.wniosek.skstKwotaInneKoszty}"
									symbolPosition="s" decimalSeparator="," styleClass="lekka-ramka flex-200" >

									<p:ajax event="change" partialSubmit="true" process="@this"
										update="@(.ZF)" />

								</cc:cInputNumberMDesign>
							</div>
							<div class="pb25 mt20 ov-auto">
								<cc:cZrodlaFinansowania style="min-width: 670px;"
										styleClass="ZF p0"
										kategoria="PPT_SZK_WN_SKIEROWANIE_STUDIA"
										idEncji="#{szkoleniaWniosekStudiaBean.wniosek.skstId}"
										doWykorzystaniaNaZrodla="#{szkoleniaWniosekStudiaBean.czyPokrycie eq true ?
											szkoleniaWniosekStudiaBean.wniosek.skstKwotaInneKoszty + szkoleniaWniosekStudiaBean.wniosek.skstKwotaPokrycie :
											szkoleniaWniosekStudiaBean.wniosek.skstKwotaInneKoszty + szkoleniaWniosekStudiaBean.wniosek.skstKoszt}"
										zrodlaFinansowaniaLW="#{v.getLW('PPL_SZK_STAN_KOSZTOW')}"
										height="400"
										wnioskiOAngazLW="#{v.getLW('PPL_DEL_ZAANGAZOWANIE')}"/>
							</div>

						</div>
					</div>

					<div class="d-flex-column bg-white m0 p0 pt15"
						 style="background-color: transparent; box-shadow: none;">

						<div class="d-flex-column bg-fff p20 mt0">
							<h2>Inne</h2>
							<div class="d-flex flex-wrap">
								<cc:cInputNumberMDesign
									label="Urlop szkoleniowy na przygotowanie w wymiarze:"
									value="#{szkoleniaWniosekStudiaBean.wniosek.skstUrlopPrzygot}"
									styleClass="flex-250 pb20 lekka-ramka"/>
								<cc:cInputNumberMDesign
									label="Urlop szkoleniowy na zajęcia w wymiarze:"
									value="#{szkoleniaWniosekStudiaBean.wniosek.skstUrlopZajecia}"
									styleClass="flex-250 pb20 lekka-ramka"/>
								<cc:cInputNumberMDesign
									label="Urlop szkoleniowy na pracę dyplomową:"
									value="#{szkoleniaWniosekStudiaBean.wniosek.skstUrlopPraca}"
									styleClass="flex-250 pb20 lekka-ramka"/>
							</div>

							<div class="d-flex flex-wrap">
									<cc:cCalendarMDesign label="Urlop szkoleniowy od:"
										value="#{szkoleniaWniosekStudiaBean.wniosek.skstUrlopSzkolOd}"
										styleClass="flex-150 pb20"/>
									<cc:cCalendarMDesign label="Urlop szkoleniowy do:"
										value="#{szkoleniaWniosekStudiaBean.wniosek.skstUrlopSzkolDo}"
										styleClass="flex-150 pb20" />
									<cc:cCalendarMDesign label="Urlop bezpłatny od:"
										value="#{szkoleniaWniosekStudiaBean.wniosek.skstUrlopBezplOd}"
										styleClass="flex-150 pb20" />
									<cc:cCalendarMDesign label="Urlop bezpłatny do:"
										value="#{szkoleniaWniosekStudiaBean.wniosek.skstUrlopBezplDo}"
										styleClass="flex-150 pb20" />
							</div>
							<cc:cInputTextAreaMDesign styleClass="lekka-ramka" cols="30"
								rows="3"
								label="Uzasadnienie potrzeby skierowania na szkolenie:"
								maxlength="500" autoResize="true"
								value="#{szkoleniaWniosekStudiaBean.wniosek.skstUzasadnianie}" />
							<cc:cInputTextAreaMDesign styleClass="lekka-ramka pb15" cols="30"
								rows="3" label="Opinia dyrektora:" counter="lblOpinia"
								maxlength="500" autoResize="true"
								value="#{szkoleniaWniosekStudiaBean.wniosek.skstOpinia}" />
							<cc:cPoleDefiniowalne id="pdef"
								rodzajEncji="PptSzkWnSierowanieStudia"
								nazwaFormularza="WniosekStudia.xhtml"
								encjaId="#{szkoleniaWniosekStudiaBean.wniosek.skstId}">
							</cc:cPoleDefiniowalne>
						</div>
					</div>

				</h:form>
			</div>

			<ui:include src="/WEB-INF/protectedElements/Dialogs/Wspolne/dlgNowePoleDef.xhtml" />

		</ui:define>
	</ui:composition>
</h:body>
</html>
