<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Wniosek o refundację" />
		<ui:param name="formBackground" value="rgba(20,70,140,0.5)" />

		<ui:define name="egr_content">
			#{refundacjaWniosekBean.loadEgSlownik('PPS_SZK_NAZWY_REFUNDACJI')}

			<h:form id="frmMnu" styleClass="p5 pl20 bg-lgrey">

				<p:commandButton value="zapisz" id="zapiszBtnId" icon="save"
					styleClass="ctl-home-link-menu" partialSubmit="true"
					process="@form zapisyFormId" update="frmMnu"
					actionListener="#{refundacjaWniosekBean.zapisz}" />
				<p:tooltip for="zapiszBtnId"
					rendered="#{refundacjaWniosekBean.wniosek.wnrId ne '' and refundacjaWniosekBean.wniosek.wnrId ne null}"
					value="#{refundacjaWniosekBean.wniosek.wnrId}" />

				<p:commandButton value="usuń wniosek" id="usunId" icon="delete"
					style="min-width:130px"
					disabled="#{refundacjaWniosekBean.wniosek.wnrId == null || refundacjaWniosekBean.wniosek.wnrId == ''}"
					actionListener="#{refundacjaWniosekBean.usun}"
					styleClass="ctl-home-link-menu" partialSubmit="true" >
					<p:confirm header="Uwaga"
							   message="Czy na pewno chcesz usunąć wniosek o nr #{refundacjaWniosekBean.wniosek.wnrId}?"
							   icon="ui-icon-alert" />
					<p:confirmDialog global="true" showEffect="fade"
									 hideEffect="fade" style="width: 300px;">
						<p:commandButton value="Tak" type="button"
										 styleClass="ui-confirmdialog-yes" />
						<p:commandButton value="Nie" type="button"
										 styleClass="ui-confirmdialog-no" />
					</p:confirmDialog>
				</p:commandButton>
				<p:tooltip for="usunId"
					rendered="#{refundacjaWniosekBean.wniosek.wnrId ne '' and refundacjaWniosekBean.wniosek.wnrId ne null}"
					value="#{refundacjaWniosekBean.wniosek.wnrId}" />

				<cc:cZalacznikiButton
					zalFkId="#{refundacjaWniosekBean.wniosek.wnrId}"
					zalFkFieldName="ZAL_WNREF_ID"
					dlgTitle="Wniosek o refundację / załączniki:" />

				<cc:cObiegCzynnosci kategoriaObiegu="WN_REFUNDACJA"
					idEncji="#{refundacjaWniosekBean.wniosek.wnrId}"
					reloadPage="WniosekRefundacja" label="etap" />

			</h:form>

			<div class="p20 pt0 bg-lgrey" style="height: 100vh; overflow-y: auto; overflow-x: auto !important;">
				<h:form id="zapisyFormId" styleClass="d-flex-1-column align-items-center pt20">
					<div class="d-flex-column bg-white m0 p0"
						 style="background-color: transparent; box-shadow: none;">

						<div class="d-flex-column bg-fff p20 mt0">
							<div class="d-flex" style="align-items: center; justify-content: space-between;">
								<p:outputLabel
										for="@parent"
										value="Dane podstawowe"
										styleClass="fs20 p0 pt8"/>
								<div class="d-flex-column">
									<p:outputLabel for="@parent"
												   value="#{v.getLW('PPL_PRCjZATljOB').findAndFormat( refundacjaWniosekBean.wniosek.wnrPrcId, 'pracownik: %prc_imie$s %prc_nazwisko$s')}"
												   styleClass="fs14 p0"/>
									<p:outputLabel for="@parent"
												   value="#{v.getLW('PPL_PRCjZATljOB').findAndFormat( refundacjaWniosekBean.wniosek.wnrPrcId, 'nr pracownika: %prc_numer$s (jedn. org.: %ob_kod$s)')}"
												   styleClass="fs12 p0"/>

								</div>
							</div>
							<p:separator styleClass="p0 width100p"/>
							<cc:cSOMMDesign
									datasource="#{refundacjaWniosekBean.getSql('PPS_SZK_NAZWY_REFUNDACJI')}"
									value="#{refundacjaWniosekBean.wniosek.wnrNazwa}"
									label="Nazwa:"
									styleClass="pb10" />
							<cc:cInputTextMDesign
									value="#{refundacjaWniosekBean.wniosek.wnrTematOrganizator}"
									label="Organizator/Temat"
									styleClass="pb10" />
							<div class="d-flex pb20">
								<cc:cCalendarMDesign label="Termin rozpoczęcia:"
													 value="#{refundacjaWniosekBean.wniosek.wnrTerminRozpoczecia}"
													 styleClass="flex-1" />
								<cc:cCalendarMDesign label="Termin zakończenia:"
													 value="#{refundacjaWniosekBean.wniosek.wnrTerminZakonczenia}"
													 styleClass="flex-1" />
							</div>
							<div class="d-flex flex-wrap">
								<cc:cSelectOneMenuTN
										value="#{refundacjaWniosekBean.wniosek.wnrFCzyIprz}"
										label="Czy ujęte w IPRZ?"
										labelStyle="top: -35px !important"
										styleClass="flex-200 pb20" />
								<cc:cSelectOneMenuTN
										value="#{refundacjaWniosekBean.wniosek.wnrFCzyFaktura}"
										label="Czy do wniosku została dołączona faktura?"
										labelStyle="top: -35px !important"
										styleClass="flex-200 pb20" />
								<cc:cSelectOneMenuTN
										value="#{refundacjaWniosekBean.wniosek.wnrFCzyHarmonogram}"
										label="Czy do wniosku został załączony harmonogram?"
										labelStyle="top: -35px !important"
										styleClass="flex-200 pb20" />
							</div>
							<cc:cInputTextAreaMDesign styleClass="lekka-ramka" cols="30"
													  rows="3" label="Uzasadnienie refundacji:" maxlength="500"
													  autoResize="true"
													  value="#{refundacjaWniosekBean.wniosek.wnrUwagi}" />
						</div>

					</div>

					<div class="d-flex-column bg-white m0 p0 pt15"
						 style="background-color: transparent; box-shadow: none;">

						<div class="d-flex-column bg-fff p20 mt0">
							<p:outputLabel for="@parent" value="Koszty" styleClass="fs20"/>
							<p:separator styleClass="p0 width100p"/>

							<div class="d-flex flex-wrap">
								<cc:cInputNumberMDesign symbol=" PLN"
														label="Koszt poniesiony przez pracownika:"
														value="#{refundacjaWniosekBean.wniosek.wnrKoszt}"
														styleClass="flex-200 pb10"
								>

									<p:ajax event="change" partialSubmit="true" process="@this"
											update="zapisyFormId:kwotaPokrycia zapisyFormId:procentPokrycia @(.ZF)" />

								</cc:cInputNumberMDesign>
								<div class="d-flex-column flex-200 pl5">
									<p:outputLabel value="Pokrycie kosztów szkolenia"
												   styleClass="normal-13" />

									<p:selectOneRadio id="pokrycieId" layout="pageDirection" tabindex="-1"
													  value="#{refundacjaWniosekBean.wniosek.wnrFCzyPokrycie}"
													  styleClass="label">
										<f:selectItem itemLabel="W całości" itemValue="T" />
										<f:selectItem itemLabel="W części" itemValue="N" />
										<p:ajax event="change"
												update="zapisyFormId:pokrycieWC zapisyFormId:procentPokrycia @(.ZF)" />

									</p:selectOneRadio>
								</div>
								<p:outputPanel id="pokrycieWC" class="d-flex flex-200 pb10">
									<cc:cInputNumberMDesign
											id="procentPokrycia"
											styleClass="ZF"
											symbol=" %"
											label="Procent:"
											rendered="#{refundacjaWniosekBean.wniosek.wnrFCzyPokrycie eq 'N'}"
											value="#{refundacjaWniosekBean.wniosek.wnrProcentPokrycia}"
									>

										<p:ajax event="change" partialSubmit="true" process="@this"
												update="zapisyFormId:kwotaPokrycia @(.ZF)" />

									</cc:cInputNumberMDesign>
									<cc:cInputNumberMDesign
											id="kwotaPokrycia"
											styleClass="ZF"
											label="W kwocie:"
											disabled="#{refundacjaWniosekBean.wniosek.wnrFCzyPokrycie eq 'T'}"
											rendered="#{refundacjaWniosekBean.wniosek.wnrFCzyPokrycie eq 'N'}"
											symbol=" PLN"
											value="#{refundacjaWniosekBean.wniosek.wnrKwotaPokrycia}"
									>

										<p:ajax event="change" partialSubmit="true" process="@this"
												update="@(.ZF)" />

									</cc:cInputNumberMDesign>
								</p:outputPanel>
							</div>
							<div class="d-flex flex-wrap">
								<cc:cInputTextAreaMDesign styleClass="lekka-ramka flex-300" cols="10"
														  rows="1" label="Rodzaj innych kosztów:" maxlength="500"
														  autoResize="true"
														  value="#{refundacjaWniosekBean.wniosek.wnrInneKoszty}" />
								<cc:cInputNumberMDesign symbol=" PLN"
														label="Kwota innych kosztów:"
														value="#{refundacjaWniosekBean.wniosek.wnrKwotaInneKoszty}"
														styleClass="flex-200"
								>

									<p:ajax event="change" partialSubmit="true" process="@this"
											update="@(.ZF)" />

								</cc:cInputNumberMDesign>
							</div>
							<div class="pb25 mt20 ov-auto">
								<cc:cZrodlaFinansowania style="min-width: 670px;"
										styleClass="p0 ZF"
										kategoria="PPT_SZK_WN_REFUNDACJE"
										idEncji="#{refundacjaWniosekBean.wniosek.wnrId}"
										doWykorzystaniaNaZrodla="#{'N' eq refundacjaWniosekBean.wniosek.wnrFCzyPokrycie ?
												refundacjaWniosekBean.wniosek.wnrKwotaInneKoszty + refundacjaWniosekBean.wniosek.wnrKwotaPokrycia :
												refundacjaWniosekBean.wniosek.wnrKwotaInneKoszty + refundacjaWniosekBean.wniosek.wnrKoszt}"
										zrodlaFinansowaniaLW="#{v.getLW('PPL_SZK_STAN_KOSZTOW')}" height="400"
										wnioskiOAngazLW="#{v.getLW('PPL_SZK_ZAANGAZOWANIE')}"/>
							</div>

						</div>
					</div>

					<div class="d-flex-column bg-white m0 p0 pt15"
						 style="background-color: transparent; box-shadow: none;">

						<div class="d-flex-column bg-fff p20 mt0">
							<p:outputLabel for="@parent" value="Inne" styleClass="fs20"/>
							<p:separator styleClass="p0 width100p"/>

							<cc:cInputTextAreaMDesign styleClass="lekka-ramka" cols="30"
													  rows="3"
													  label="Uzasadnienie potrzeby skierowania na szkolenie:"
													  maxlength="500" autoResize="true"
													  value="#{refundacjaWniosekBean.wniosek.wnrUzasadnianie}" />
							<cc:cInputTextAreaMDesign styleClass="lekka-ramka pb15" cols="30"
													  rows="3" label="Opinia dyrektora:" counter="lblOpinia"
													  maxlength="500" autoResize="true"
													  value="#{refundacjaWniosekBean.wniosek.wnrOpinia}" />
							<cc:cPoleDefiniowalne id="pdef"
												  rodzajEncji="PptSzkWnRefundacje"
												  nazwaFormularza="WniosekRefundacja.xhtml"
												  encjaId="#{refundacjaWniosekBean.wniosek.wnrId}">
							</cc:cPoleDefiniowalne>
						</div>
					</div>

				</h:form>
			</div>

			<ui:include src="/WEB-INF/protectedElements/Dialogs/Wspolne/dlgNowePoleDef.xhtml" />

		</ui:define>
	</ui:composition>

</h:body>

</html>