<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">
<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Zapis na szkolenie" />

		<ui:define name="egr_content">

			#{zapisySzkoleniaBean.loadEgSlownik('OS_SZKOLENIA_POWSZECHNE')}
			#{zapisySzkoleniaBean.loadEgSlownik('PPP_OS_OBSZAR_WIEDZY')}
			#{zapisySzkoleniaBean.loadEgSlownik('OS_FORMA_ORGANIZACJI')}

			<ui:include src="/WEB-INF/protectedElements/Dialogs/Szkolenia/dlgSzkoleniaZapis.xhtml" />

			<h:form id="frm1" styleClass="p5 pl20 bg-lgrey">
				<p:commandButton value="zapisz" id="zapiszId" icon="save"
					style="min-width:80px" styleClass="ctl-home-link-menu"
					update="frm1" partialSubmit="@form"
					action="#{zapisySzkoleniaBean.zapisz()}" />

				<p:commandButton value="usuń zapisy" id="usunId"
					disabled="#{zapisySzkoleniaBean.zapis.zszId == null || zapisySzkoleniaBean.zapis.zszId == ''}"
					icon="delete_forever" style="min-width:110px"
					styleClass="ctl-home-link-menu" partialSubmit="@form"
					action="#{zapisySzkoleniaBean.usun()}" />

				<cc:cObiegCzynnosci kategoriaObiegu="WN_SZKOL_ZAPISY"
					idEncji="#{zapisySzkoleniaBean.zapis.zszId}"
					reloadPage="ZapisySzkolenie" />

				<cc:cZalacznikiButton dlgTitle="Zapis na szkolenie / załączniki"
					zalFkId="#{zapisySzkoleniaBean.zapis.zszId}" zalFkFieldName="ZAL_ZSZ_ID"/>

			</h:form>

			<div class="p20 d-flex-1-column" style="height: 100vh; overflow: auto;">
				<h:form id="frm" styleClass="d-flex-column bg-fff p15 height100p ov-auto">

					<h1>Pozycje zapisu na szkolenie</h1>

					<p:panelGrid id="pnlSzkoleniaId"
						style="padding: 0; margin-top: 10px;">

						<p:column style="width:30%">
							<p:outputLabel value="Temat szkolenia"
								styleClass="pogrubiony-normal" />
						</p:column>

						<p:column style="width:10%">
							<p:outputLabel value="Obszar wiedzy"
								styleClass="pogrubiony-normal" />
						</p:column>


						<p:column style="width:10%">
							<p:outputLabel value="Miejsce szkolenia"
								styleClass="pogrubiony-normal" />
						</p:column>

						<p:column style="width:20%">
							<p:outputLabel value="Termin szkolenia od - do"
								styleClass="pogrubiony-normal" />
						</p:column>

						<p:column width="10%">
							<p:outputLabel value="Typ szkolenia"
								styleClass="pogrubiony-normal" />
						</p:column>

						<p:column style="width:1%">
							<p:commandButton icon="add" partialSubmit="true" process="@this"
								action="#{zapisySzkoleniaBean.newSzkolSpec()}"
								update=" frmDlgSzkoleniaZapis"
								oncomplete="PF('zapisNaSzkolenieSzczeg').show();" />
						</p:column>

						<p:column style="width:1%" />
						<p:column style="width:14%" />

						<ui:repeat id="rptr"
							value='#{zapisySzkoleniaBean.zapis.getOstPlanIndyws()}' var="o"
							varStatus="status">

							<p:row>
								<p:column>

									<cc:cInputTextMDesign value="#{o.pisTemat}"
										id="tematSzkoleniaId" readonly="true">
										<p:ajax event="change" />
									</cc:cInputTextMDesign>
								</p:column>

								<p:column>

									<cc:cInputTextMDesign
										value="#{zapisySzkoleniaBean.getSql('PPP_OS_OBSZAR_WIEDZY').findAndFormat(o.pisSspeObszarWiedzy, '%2$s')}"
										id="obszarWiedzyId" readonly="true">
										<p:ajax event="change" />
									</cc:cInputTextMDesign>
								</p:column>

								<p:column>

									<cc:cInputTextMDesign value="#{o.pisMiejsceSzkol}"
										id="miejsceSzkolId" readonly="true">
										<p:ajax event="change" />
									</cc:cInputTextMDesign>

								</p:column>

								<p:column>
									<div class="ui-g ui-g-nopad">
										<div class="ui-g-6">
											<cc:cCalendarMDesign value="#{o.pisTerminOd}"
												readonly="true" />
										</div>
										<div class="ui-g-6">
											<cc:cCalendarMDesign value="#{o.pisTerminDo}"
												readonly="true" />
										</div>
									</div>
								</p:column>

								<p:column>

									<cc:cInputTextMDesign
										value="#{o.pisFCzyRejestr eq 'T' ? 'Spoza rejestru':
													(o.pisSzkPowszech == 'N' ? 'Specjalistyczne' : 'Powszechne')}"
										id="typSzkolId" readonly="true">
										<p:ajax event="change" />
									</cc:cInputTextMDesign>
								</p:column>
								<p:column>

									<div style="margin-top: 20px">

										<p:commandButton disabled="#{o == null || o.pisId == 0}"
											icon="content_paste"
											rendered="#{o.pisFCzyNieSc=='N'}"
											actionListener="#{zapisySzkoleniaBean.raport(o.pisId)}"
											styleClass="ctl-home-link-menu"
											onclick="form.target = '_blank'" ajax="false" />

									</div>

								</p:column>

								<p:column>
									<cc:cZalacznikiButton dlgTitle="Pozycja zapisu na szkolenie / załączniki"
										zalFkId="#{o.pisId}" zalFkFieldName="ZAL_PIS_ID"
										btnTitle="" />
								</p:column>

								<p:column>
									<div style="margin-top: 20px">
										<p:commandButton icon="delete" partialSubmit="true"
											process=" @this" update="@form"
											action="#{zapisySzkoleniaBean.usunSzkolSpec(o)}" />

										<p:commandButton id="btnEdit" icon="edit"
											partialSubmit="true" process=" @this"
											action="#{zapisySzkoleniaBean.setCurrentSzkolSpec(o)}"
											update=" frmDlgSzkoleniaZapis"
											oncomplete="PF('zapisNaSzkolenieSzczeg').show();" />

									</div>
								</p:column>

							</p:row>
						</ui:repeat>
					</p:panelGrid>

				</h:form>

				#{zapisySzkoleniaBean.zapis.zszId}

			</div>

		</ui:define>
	</ui:composition>
</h:body>
</html>
