<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">


	<p:dialog header="#{ctlImportExcel.dlgName}" widgetVar="dlgImportExcel"
		appendTo="@(body)" modal="true" closeOnEscape="true" draggable="true"
		width="700px" resizable="false" id="dlgImportExcel"
		styleClass="ctl-dialog ctl-disable-scroll" onShow="fitColumns();"
		position="center" style="position:absolute;">

		<h:form id="formDlgImportExcel">

			<p:panelGrid styleClass="ctl-import-upload">
				<p:row rendered="#{!ctlImportExcel.resultsF}">
					<p:column>
						<p:fileUpload
							fileUploadListener="#{ctlImportExcel.handleFileUpload}"
							update="@form" sizeLimit="1000000" fileLimit="1"
							dragDropSupport="true" allowTypes="/(\.|\/)(xls|xlsx)$/"
							label="#{dic.LBL10009_wybierz_plik_upload}"
							uploadLabel="#{dic.LBL10010_importuj_plik_upload}"
							invalidSizeMessage="#{dic.LBL10011_invalid_size_message}"
							invalidFileMessage="#{dic.LBL10012_invalid_file_message_xlsx}"
							fileLimitMessage="#{dic.LBL10013_file_limit_message}"
							messageTemplate=" " />

					</p:column>
				</p:row>

			</p:panelGrid>


			<p:panelGrid styleClass="ctl-import-arkusz">
				<p:row
					rendered="#{ctlImportExcel.afterDownloadF and !ctlImportExcel.resultsF}">
					<p:column>
						<p:outputLabel for="sheetSelect" value="#{dic.LBL10014_arkusz}:" />
					</p:column>

					<p:column>
						<p:selectOneMenu id="sheetSelect"
							value="#{ctlImportExcel.selectedSheet}" style="width:300px;">

							<f:selectItems value="#{ctlImportExcel.sheetsMap.entrySet()}"
								var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}" />

							<p:ajax listener="#{ctlImportExcel.onSheetChange}"
								update="tblImport btnZatwierdz" />
						</p:selectOneMenu>
					</p:column>
				</p:row>
			</p:panelGrid>

			<p:panel styleClass="ctl-datatable-pane">
				<p:dataTable rendered="#{!empty ctlImportExcel.headerList}"
					id="tblImport" var="ob" value="#{ctlImportExcel.bodyList}"
					sortMode="multiple" paginator="false" style="height:300px"
					selectionMode="single" selection="#{ctlImportExcel.selectedRow}"
					rowKey="#{ob.get(0)}">

					<p:ajax event="rowSelect" listener="#{ctlImportExcel.onRowSelect}" />

					<p:ajax event="rowUnselect"
						listener="#{ctlImportExcel.onRowUnselect}" />

					<f:facet name="header">
						<h:outputText value="#{ctlImportExcel.headerText}" />
					</f:facet>

					<p:columns value="#{ctlImportExcel.headerList}" var="column"
						columnIndexVar="colIndex">
						<f:facet name="header">
							<h:outputText value="#{column}" />
						</f:facet>
						<h:outputText value="#{ob[colIndex+1]}"
							styleClass="ctl-column-left" />
					</p:columns>
				</p:dataTable>
			</p:panel>

			<p:messages id="messages" showDetail="true" showSummary="false"
				closable="true" showIcon="false" style="margin-top:10px">
				<p:autoUpdate/>
			</p:messages>

			<p:panelGrid styleClass="ctl-dialog-buttons">
				<p:row>
					<p:column>
						<p:commandButton id="btnAnuluj" value="#{dic.EGR70017_anuluj}"
							update="formDlgImportExcel" process="@this"
							oncomplete="PF('dlgImportExcel').hide();"
							rendered="#{!ctlImportExcel.resultsF}" />
					</p:column>

					<p:column>
						<p:commandButton id="btnZatwierdz"
							value="#{dic.EGR70016_zatwierdz}" update="formDlgImportExcel"
							actionListener="#{ctlImportExcel.executeImport}"
							disabled="#{!ctlImportExcel.correctFormatF}"
							rendered="#{!ctlImportExcel.resultsF}" />
					</p:column>

					<p:column>
						<p:commandButton id="OK" value="#{dic.EGR70010_ok}" update="formDlgImportExcel"
							process="@this" oncomplete="PF('dlgImportExcel').hide();"
							rendered="#{ctlImportExcel.resultsF}" />
					</p:column>
				</p:row>

			</p:panelGrid>

		</h:form>
	</p:dialog>

</ui:composition>
