<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

	<p:dialog dynamic="true"
		widgetVar="kartotekaRekrutacjiKandydaciRaport"
		id="kartotekaRekrutacjiKandydaciRaport" header="Edycja kandydata"
		appendTo="@(body)" 
		height="600" 
		modal="true" closeOnEscape="true"
		draggable="true" resizable="false" classStyle="ctl-dialog">

		<f:facet name="header">
			<h:form id="dlgFormKandydatRaportHeader">
				<p:panelGrid style="width: 100%;">
					<p:column>
						<h:outputText value="Raporty" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@none"
							onclick="PF('kartotekaRekrutacjiKandydaciRaport').hide();"
							icon="clear">
						</p:commandButton>
					</p:column>

				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="dlgFormKandydatRaport" styleClass="mmw900">
				#{kartotekaRekrutacjiBean.loadLW('PPL_REK_KANDYDACI',   [kartotekaRekrutacjiBean.nabor.nabId, kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ])}
		
			<c:cLookupTable height="550px"
				datasource="#{kartotekaRekrutacjiBean.getLW('PPL_REK_KANDYDACI', [kartotekaRekrutacjiBean.nabor.nabId, kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ])}"
				multiselect="true" noBorder="true"
				update="@(.dlgBtns)"
				generateColumns="false">

				<p:column headerText="Imię">
					<p:outputLabel value="#{row.get('KA_IMIE')}"/>
				</p:column>

				<p:column headerText="Nazwisko">
					<p:outputLabel value="#{row.get('KA_NAZWISKO')}"/>
				</p:column>

<!-- 					<p:column headerText="Data ur.">
					<h:outputText  value="#{row.get('KA_DATA_UR')}" styleClass="minw70">
						<f:convertDateTime pattern="yyyy-MM-dd"/>
					</h:outputText>
				</p:column>	 -->

				<p:column headerText="Czy spełnia wymagania formalne">
					<p:outputLabel value="#{row.get('KA_F_WYM_FORMALNE')}"/>
				</p:column>

				<p:column headerText="Czy wskazany w protokole naboru">
					<p:outputLabel value="#{row.get('KA_F_CZY_WSK_W_PROT')}"/>
				</p:column>


				<p:column headerText="Czy zatrudniony">
					<p:outputLabel value="#{row.get('KA_F_CZY_ZATRUDNIONY')}"/>
				</p:column>


			</c:cLookupTable>
		</h:form>


		<f:facet name="footer">
			<h:form>
				<div class="dlgBottomBtnsBar">
					<h:panelGroup id="dlgBtns" styleClass="dlgBtns">
						<p:row>
							<p:column style="min-width:30px" />
							<p:column>
								<p:commandButton value="ARKUSZ WERYFIKACJI FORMALNEJ"
									disabled="#{kartotekaRekrutacjiBean.getLW('PPL_REK_KANDYDACI', [kartotekaRekrutacjiBean.nabor.nabId, kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ]).selectedRows.size() == 0}"
									id="raportNabId" icon="picture_as_pdf" style="min-width: 80px;"
									actionListener="#{kartotekaRekrutacjiBean.raport('Arkusz_wer_for')}"
									styleClass="ctl-home-link-menu"
									onclick="form.target = '_blank'" ajax="false">
								</p:commandButton>
							</p:column>

							<p:column rendered="#{kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ne 'KSC'}">
								<p:commandButton value="PROTOKÓŁ ZNISZCZENIA OFERT"
									disabled="#{kartotekaRekrutacjiBean.getLW('PPL_REK_KANDYDACI', [kartotekaRekrutacjiBean.nabor.nabId, kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ]).selectedRows.size() == 0}"
									id="protokolNabId" icon="picture_as_pdf" style="min-width: 80px;"
									actionListener="#{kartotekaRekrutacjiBean.raport('rtf','Protokol_znisz_ofert')}"
									styleClass="ctl-home-link-menu"
									onclick="form.target = '_blank'" ajax="false">
								</p:commandButton>
							</p:column>
							
							<p:column rendered="#{kartotekaRekrutacjiBean.nabor.nabRodzajNaboru eq 'KSC'}">
											
								<p:splitButton value="PROTOKÓŁ ZNISZCZENIA OFERT I ANONIMIZACJA"
									style="min-width:80px; float: right; height: 29px;" styleClass="ctl-home-link-menu"
									onclick="$(this).siblings().click()" >
							        <p:menuitem value="Anonimizacja wybranych kandydatów" target="_blank"
							        	disabled="#{kartotekaRekrutacjiBean.getLW('PPL_REK_KANDYDACI', [kartotekaRekrutacjiBean.nabor.nabId, kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ]).selectedRows.size() == 0}"
							        	actionListener="#{kartotekaRekrutacjiBean.raport('rtf','Protokol_znisz_ofert')}"
							        	onclick="PF('potwierdzAnonimizacje').show();" ajax="false"
							        	style="width: 370px;" />
							        
							        <p:menuitem value="Anonimizacja - ETAP I" target="_blank"
							        	disabled="#{!kartotekaRekrutacjiBean.sprawdzCzyEtap1()}"
							        	actionListener="#{kartotekaRekrutacjiBean.raportEtap1('rtf','Protokol_znisz_ofert')}"
							        	onclick="PF('potwierdzAnonimizacje').show();" ajax="false"
							        	style="width: 370px;" id="etap1" />
							        
							        <p:menuitem value="Anonimizacja - ETAP II" target="_blank"
							        	disabled="#{!kartotekaRekrutacjiBean.sprawdzCzyEtap2()}"
							        	actionListener="#{kartotekaRekrutacjiBean.raportEtap2('rtf','Protokol_znisz_ofert')}"
							        	onclick="PF('potwierdzAnonimizacje').show();" ajax="false"
							        	style="width: 370px;" id="etap2" />
										
							    </p:splitButton>
								<p:tooltip for="etap1"
									rendered="#{!kartotekaRekrutacjiBean.sprawdzCzyEtap1()}"
									value="Wszyscy kandydaci spełniają wymagania formalne i zostali wskazani w protokole naboru." />
								<p:tooltip for="etap2"
									rendered="#{!kartotekaRekrutacjiBean.sprawdzCzyEtap2()}"
									value="Wszyscy kandydaci zostali zatrudnieni." />
							    
							    <p:dialog id="potwierdzAnonimizacje" showEffect="fade" modal="true"
									widgetVar="potwierdzAnonimizacje" hideEffect="fade"
									appendTo="@(body)" resizable="false"
									draggable="false" header="Anonimizacja">
									<p:outputPanel>
										<h:outputText value="Czy na pewno chcesz zanonimizować dane wybranych kandydatów?"
											style="white-space: pre-wrap;" id="confirmText2" />
									</p:outputPanel>
									<f:facet name="footer">
										<p:commandButton value="TAK"
											styleClass="ui-confirmdialog-yes" process="@this"
											actionListener="#{zalacznikiBean.resetTs()}"
											action="#{kartotekaRekrutacjiBean.anonimizujWybranych}"
											update="frmKartotekaRek kartotekaRekrutacjiKandydat dlgZalacznikiId"
											oncomplete="PF('potwierdzAnonimizacje').hide();" />
										<p:commandButton value="NIE"
											styleClass="ui-confirmdialog-no"
											oncomplete="PF('potwierdzAnonimizacje').hide();" />
									</f:facet>
								</p:dialog>
								
							</p:column>
							
							<p:column>
								<p:commandButton value="Lista kandydatów..."
									id="listaNabId" icon="picture_as_pdf" style="min-width:80px"
									actionListener="#{kartotekaRekrutacjiBean.raportListaKandydatow()}"
									styleClass="ctl-home-link-menu"
									onclick="form.target = '_blank'" ajax="false">
								</p:commandButton>
								<p:tooltip for="listaNabId"
											value="Lista kandydatów spełniających wymagania formalne" />
							</p:column>
							
						</p:row>
					</h:panelGroup>
				</div>
			</h:form>
		</f:facet>

	</p:dialog>



</ui:composition>