<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:c="http://xmlns.jcp.org/jsf/composite">



	<p:dialog widgetVar="kartotekaRekrutacjiKandydat"
		id="kartotekaRekrutacjiKandydat" header="Edycja kandydata"
		appendTo="@(body)" height="550" modal="true" closeOnEscape="true"
		draggable="true" resizable="false" classStyle="ctl-dialog">


		<f:facet name="header">
			<h:form id="dlgFormKandydatHeader">
				<p:panelGrid style="width:100%">
					<p:column>
						<h:outputText value="Dane kandydata" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							onclick="PF('kartotekaRekrutacjiKandydat').hide();" icon="clear">
						</p:commandButton>
					</p:column>

				</p:panelGrid>
			</h:form>
		</f:facet>
	
	
		#{kartotekaKandydataBean.loadEgSlownik('TYP ETATU')}
		#{kartotekaKandydataBean.loadEgSlownik('TYP_UMOWY')}
	
		<h:form id="dlgFormKandydat" style="width:900px; height:500px;">

			<p:tabView id="tabViewId" dynamic="false" cache="false"
				styleClass="pp-tbvw-wide">

				<p:tab title="Dane">
					<p:scrollPanel style="height: 350px; width: 870px;" mode="native" styleClass="DataU">

						<div class="ui-g">

							<div class="ui-g-5">

								<cc:cInputTextMDesign id="nazwiskoKandId"
								    required="true"
									value="#{kartotekaKandydataBean.kandydat.kaNazwisko}"
									placeholder=" " label="Nazwisko kandydata: ">
									<p:ajax event="change" />
								</cc:cInputTextMDesign>
							</div>

							<div class="ui-g-5">

								<cc:cInputTextMDesign id="imieKandId"
								    required="true"
									value="#{kartotekaKandydataBean.kandydat.kaImie}"
									placeholder=" " label="Imię kandydata: ">
									<p:ajax event="change" />
								</cc:cInputTextMDesign>
							</div>

							<div class="ui-g-5" >

 								<cc:cCalendarMDesign id="calDatUrId" label="Data urodzenia: "
 								    rendered="#{'T' eq kartotekaKandydataBean.kandydat.kaFCzyZatrudniony}"
 								    requiredJ="true"
									value="#{kartotekaKandydataBean.kandydat.kaDataUr}"
									maxDate="#{kartotekaKandydataBean.getCurrentDate()}"
									minDate="#{kartotekaKandydataBean.getMinDate()}"
									yearRange="c-100:c+30" locale="pl" placeholder="rrrr-mm-dd"
									converterMessage="Pole 'Data urodzenia': wprowadzono nieprawidlowy format." /> 
							</div>


							<div class="ui-g-5">

								<div class="select-label"
									style="margin-bottom: 25px; margin-top: 25px;">
									<p:selectOneMenu id="plecKandydataId"
										value="#{kartotekaKandydataBean.kandydat.kaPlec}"
										style="width: 99% !important; min-width: 99% !important;">
										<!-- styleClass="w570" -->
										<f:selectItem itemLabel="Wybierz płeć kandydata"
											style="overflow-x: hidden;" />
										<f:selectItem itemLabel="Kobieta" itemValue="K" />
										<f:selectItem itemLabel="Mężczyzna" itemValue="M" />
										<p:ajax event="change" />
										
									</p:selectOneMenu>

									<p:outputLabel value="Płeć:" for="plecKandydataId">
										<ui:include src="/resources/components/cReqrIndctr.xhtml" />
									</p:outputLabel>
								</div>
							</div>

						</div>
					</p:scrollPanel>

				</p:tab>

				<p:tab title="Adres zamieszkania">
					<p:scrollPanel style="height: 450px; width: /*840*/870px;"
						mode="native">

						<h:panelGroup style="width: calc(100% - 10px);">

	 #{kartotekaKandydataBean.loadSqlData('sqlKraje', 
		'	
		SELECT KR_ID,
			KR_NAZWA
   FROM  CSS_KRAJE
',  []
)}

 #{kartotekaKandydataBean.loadSqlData('sqlWojewodztwa', 
		'	
		SELECT WOJ_ID,
			WOJ_NAZWA
   FROM  CSS_WOJEWODZTWA
',  []
)}

							<div class="ui-g">

								<div class="ui-g-6">

									<cc:cSOMMDesign id="krajId"
										datasource="#{kartotekaKandydataBean.getSql('sqlKraje')}"
										textFormat="%2$s"
										value="#{kartotekaKandydataBean.pptAdresy.adrKrId}"
										label="Kraj:" />

								</div>

								<div class="ui-g-6">


									<cc:cSOMMDesign id="wojewodztwoId"
										datasource="#{kartotekaKandydataBean.getSql('sqlWojewodztwa')}"
										textFormat="%2$s"
										value="#{kartotekaKandydataBean.pptAdresy.adrWojId}"
										label="Województwo: " />

								</div>

								<div class="ui-g-6">

									<cc:cInputTextMDesign id="powiatId"
										value="#{kartotekaKandydataBean.pptAdresy.adrPowiat}"
										placeholder=" " label="Powiat: ">
										<p:ajax event="change" />
									</cc:cInputTextMDesign>
								</div>

								<div class="ui-g-6">

									<cc:cInputTextMDesign id="gminaId"
										value="#{kartotekaKandydataBean.pptAdresy.adrGmina}"
										placeholder=" " label="Gmina: ">
										<p:ajax event="change" />
									</cc:cInputTextMDesign>
								</div>

								<div class="ui-g-12">

									<cc:cInputTextMDesign id="miejscowoscId"
									    required="true"
										value="#{kartotekaKandydataBean.pptAdresy.adrMiejscowosc}"
										placeholder=" " label="Miejscowość: ">
										<p:ajax event="change" />
									</cc:cInputTextMDesign>
								</div>

								<div class="ui-g-4">

									<div class="input100-label"
										style="margin-top: 25px; margin-bottom: 0px;">

										<cc:cInputTextMDesign id="kodPocztowyId"
											value="#{kartotekaKandydataBean.pptAdresy.adrKodPocztowy}"
											placeholder=" - " label="Kod pocztowy: ">
											<p:ajax event="change" />
										</cc:cInputTextMDesign>

									</div>
								</div>
								<div class="ui-g-8">

									<cc:cInputTextMDesign id="pocztaId"
										value="#{kartotekaKandydataBean.pptAdresy.adrPoczta}"
										placeholder=" " label="Poczta: ">
										<p:ajax event="change" />
									</cc:cInputTextMDesign>
								</div>
								<div class="ui-g-2">

									<div class="select-label"
										style="margin-top: 21px; margin-bottom: 0px;">
										<p:selectOneMenu id="typUlicyId"
											value="#{kartotekaKandydataBean.pptAdresy.adrTypUlicy}"
											style="width: 97% !important; height: 26px; padding-top: 0px !important;">
											<f:selectItem itemLabel="Wybierz typ ulicy" />
											<f:selectItem itemLabel="Aleja" itemValue="al" />
											<f:selectItem itemLabel="Aleje" itemValue="al" />
											<f:selectItem itemLabel="Plac" itemValue="pl" />
											<f:selectItem itemLabel="Ulica" itemValue="ul" />
											<f:ajax event="change" />
										</p:selectOneMenu>

										<p:outputLabel value="Typ ulicy:" for="typUlicyId" />
									</div>
								</div>

								<div class="ui-g-6">

									<cc:cInputTextMDesign id="nazwaUlicyId"
										value="#{kartotekaKandydataBean.pptAdresy.adrUlica}"
										placeholder=" " label="Nazwa ulicy: ">
										<p:ajax event="change" />
									</cc:cInputTextMDesign>
								</div>

								<div class="ui-g-2">

									<cc:cInputTextMDesign id="numerDomuId"
										value="#{kartotekaKandydataBean.pptAdresy.adrNumerDomu}"
										placeholder=" " label="Numer domu: ">
										<p:ajax event="change" />
									</cc:cInputTextMDesign>
								</div>

								<div class="ui-g-2">

									<cc:cInputTextMDesign id="numerLokaluId"
										value="#{kartotekaKandydataBean.pptAdresy.adrNumerLokalu}"
										placeholder=" " label="Numer lokalu: ">
										<p:ajax event="change" />
									</cc:cInputTextMDesign>
								</div>

								<div class="ui-g-5">

									<cc:cInputTextMDesign id="adresMailId"
										value="#{kartotekaKandydataBean.pptAdresy.adrMail}"
										placeholder=" " label="Adres e-mail: ">
										<p:ajax event="change" />
									</cc:cInputTextMDesign>
								</div>

							</div>
						</h:panelGroup>
					</p:scrollPanel>
				</p:tab>
				<p:tab title="Dane dodatkowe" id="daneDodId">


					<p:scrollPanel style="height: 350px; width: 870px;" mode="native">

						<h:panelGroup id="daneDodPnlGrdId">


							<div class="ui-g">


								<div class="ui-g-4" style="padding-right: 30px">

									<cc:cCalendarMDesign id="calDatZlOfPrId"
										value="#{kartotekaKandydataBean.kandydat.kaDataZlozenia}"
										placeholder="rrrr-mm-dd"
										converterMessage="Pole 'Data złożenia oferty pracy': wprowadzono nieprawidlowy format."
										label="Data złożenia oferty pracy: " />

									<br />

									<p:outputLabel value="Obywatelstwo: " for="obywatelstwoId"
										styleClass="ml5" />
									<br />
									<p:selectOneMenu id="obywatelstwoId" styleClass="ml10"
										style="width:85%"
										value="#{kartotekaKandydataBean.kandydat.kaObywatelstwo}">

										<f:selectItem itemLabel="Wybierz obywatelstwo" />
										<f:selectItem itemValue="polskie" itemLabel="Polskie" />
										<f:selectItem itemValue="cudzoziemiec"
											itemLabel="Cudzoziemiec" />
										<f:ajax event="change" />
									</p:selectOneMenu>

									<br />
									<br />

									<cc:cSOMMDesign label="Źródło danych: "
										value="#{kartotekaKandydataBean.kandydat.kaZrodloDanych}"
										datasource="#{kartotekaKandydataBean.getLW('PPL_EG_SLOWNIK',['ZRODLA_DANYCH'])}"
										textFormat="%2$s" />

									<br />
									<cc:cCalendarMDesign id="calDatAnonId" readonly="true"
										value="#{kartotekaKandydataBean.kandydat.kaDataAnon}"
										label="Data anonimizacji kandydata: " />
									<!-- 										rendered="#{kartotekaKandydataBean.kandydat.kaDataAnon == null}" -->
								</div>


								<div class="ui-g-8">

									<cc:cSelectBooleanCheckboxTN
										label="Czy złożono dokument o niepełnosprawności?"
										value="#{kartotekaKandydataBean.kandydat.kaFCzyNiepelnosprawny}" />

									<br />
									<br />
									<cc:cSelectBooleanCheckboxTN
										label="Czy kandydat spełnia wymagania formalne?"
										value="#{kartotekaKandydataBean.kandydat.kaFWymFormalne}"
										update="@(.pgCzySpelnWymForm) @(.pgCzyZatr)" />

									<br />
									<br />
									<cc:cSelectBooleanCheckboxTN
										label="#{'KSAP' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ? 'Czy wyłoniony na arkuszu oceny?' : 'Czy wskazany w protokole naboru?'}"
										value="#{kartotekaKandydataBean.kandydat.kaFCzyWskWProt}" />

									<br />
									<br />
									<cc:cSelectBooleanCheckboxTN
										label="Czy kandydat wyraził zgodę na przetwarzanie danych osobowych?"
										value="#{kartotekaKandydataBean.kandydat.kaFCzyZgodaNaPrzeDanych}" />

									<br />
									<br />
									<cc:cSelectBooleanCheckboxTN id="czyZatrudniony"
										rendered="#{kartotekaKandydataBean.kandydat.kaFWymFormalne eq 'T' and kartotekaKandydataBean.kandydat.kaNumer ne null}"
										label="Czy kandydat zatwierdzony do zatrudnienia?"
										disabled="#{!kartotekaKandydataBean.czySaWakaty() and kartotekaKandydataBean.kandydat.kaFCzyZatrudniony ne 'T'}"
										value="#{kartotekaKandydataBean.kandydat.kaFCzyZatrudniony}"
										update="@(.DataU)" />
									<p:tooltip for="czyZatrudniony"
										rendered="#{!kartotekaKandydataBean.czySaWakaty() and kartotekaKandydataBean.kandydat.kaFCzyZatrudniony ne 'T'}"
										value="Zapełniono już wszystkie wakaty" />

								</div>





								<h:panelGrid id="pgCzySpelnWymForm"
									styleClass="pgCzySpelnWymForm ui-g-nopad ui-g-12">

									<cc:cInputTextAreaMDesign id="uzasaId"
										rendered="#{kartotekaKandydataBean.kandydat.kaFWymFormalne eq 'N' or kartotekaKandydataBean.kandydat.kaFWymFormalne eq null}"
										styleClass="lekka-ramka textarea-ie pgCzySpelnWymForm"
										cols="10" rows="2" counter="lblUzasa" maxlength="2000"
										autoResize="true"
										counterTemplate="Uzasadnienie niespełnienia wymagań: (pozostało znaków {0})"
										value="#{kartotekaKandydataBean.kandydat.kaNiespWfPrzyczyna}"
										placeholder=" " label="Uzasadnienie niespełnienia wymagań: ">
									</cc:cInputTextAreaMDesign>

								</h:panelGrid>


							</div>
						</h:panelGroup>
					</p:scrollPanel>
					<!-- 					<p:commandButton update="daneDodPnlGrdId"/> -->
				</p:tab>
				
				<p:tab title="Wymagania" id="wymaganiaId" rendered="#{kartotekaRekrutacjiBean.nabor.nabRodzajNaboru eq 'KSC' 
																   or kartotekaRekrutacjiBean.nabor.nabRodzajNaboru eq 'WYZ_ST_SC'}">


					<p:scrollPanel style="height: 350px; width: 870px;" mode="native">
					
					
						<p:accordionPanel id="accPnl">
							<p:tab title="Wymagania niezbędne">	
								<h:panelGrid id="wymaganiaNieZPnlGrdId">
									<div class="ui-g">
										<ui:param name="wymaganiaNieZ" value="#{kartotekaKandydataBean.kandydat.pptRekKandydatWamaganias.stream().filter(kawy -> 'T' eq kawy.kawyFNiezbedne).toList()}" />
										<cc:cTable id="wymaganiaNieZid" 
											styleClass="wymNie"
											datasource="#{wymaganiaNieZ}" 
											height="250px" 
											smallHeaders="true">
											
											<p:column headerText="Opis wymagania" width="470">
												<p:inputText value="#{o.kawyWymaganie}"/>
											</p:column>
											
											<p:column headerText="Ocena" width="75">
												<p:inputNumber value="#{o.kawyLiczbaPkt}" maxValue="4" styleClass="right"/>
											</p:column>
											
											
											<p:column width="75">
					
												<f:facet name="header">
													<p:commandButton partialSubmit="true" process="@(.wymNie)" icon="add"  style="width:20px!important"
														update="@(.wymNie)"
														action="#{kartotekaKandydataBean.kandydat.dodajNoweWymaganie('T')}"/>
												</f:facet>
												
												<p:commandButton partialSubmit="true" process="@(.wymNie)" icon="delete" 
													update="@(.wymNie)"
													action="#{kartotekaKandydataBean.kandydat.removePptRekKandydatWamagania(o)}"/>
													
											</p:column>
										</cc:cTable>	
										
									</div>
								</h:panelGrid>
							</p:tab>
							
							<p:tab title="Wymagania dodatkowe">	
								<h:panelGrid id="wymaganiaDodaPnlGrdId">
									<div class="ui-g">
										<ui:param name="wymaganiaDod" value="#{kartotekaKandydataBean.kandydat.pptRekKandydatWamaganias.stream().filter(kawy -> 'N' eq kawy.kawyFNiezbedne).toList()}" />
										<cc:cTable id="wymaganiaDodid" 
										    styleClass="wymDod"
											datasource="#{wymaganiaDod}" 
											height="250px" 
											smallHeaders="true">
											
											<p:column headerText="Opis wymagania" width="470">
												<p:inputText value="#{o.kawyWymaganie}"/>
											</p:column>
											
											<p:column headerText="Ocena" width="75">
												<p:inputNumber value="#{o.kawyLiczbaPkt}" maxValue="4" styleClass="right"/>
											</p:column>
											
											
											<p:column width="75">
					
												<f:facet name="header">
													<p:commandButton partialSubmit="true" process="@(.wymDod)" icon="add"  style="width:20px!important"
														update="@(.wymDod)"
														action="#{kartotekaKandydataBean.kandydat.dodajNoweWymaganie('N')}"/>
												</f:facet>
												
												<p:commandButton partialSubmit="true" process="@(.wymDod)" icon="delete" 
													update="@(.wymDod)"
													action="#{kartotekaKandydataBean.kandydat.removePptRekKandydatWamagania(o)}"/>
													
											</p:column>
										</cc:cTable>	
										
									</div>
								</h:panelGrid>
							</p:tab>
							
					</p:accordionPanel>	
					
					</p:scrollPanel>
				</p:tab>

			</p:tabView>

		</h:form>





		<f:facet name="footer">
			<h:form id="dlgFormKandydatFooter">
				<div class="dlgBottomBtnsBar"
					style="position: relative; min-height: 36px; width: 100%;">
					<h:panelGroup>
						<p:row>

							<p:column>
								<p:commandButton value="ZAPISZ"
									actionListener="#{kartotekaKandydataBean.zapisz()}"
									partialSubmit="true" process="@form dlgFormKandydat"
									update="@(.pnlKandydaci)" />
							</p:column>
							<p:column>
								<p:commandButton value="USUŃ" partialSubmit="true"
									action="#{kartotekaKandydataBean.usun()}" process="@form"
									disabled="#{kartotekaKandydataBean.kandydat.kaId eq null}"
									oncomplete="PF('kartotekaRekrutacjiKandydat').hide();"
									update="@(.pnlKandydaci)"  />
							</p:column>
							<p:column>
								<div style="max-width: 100px !important; float: right;">
									<cc:cZalacznikiButton dlgTitle="Załączniki kandydata"
										zalFkFieldName="ZAL_PP_KA_ID"
										zalFkId="#{kartotekaKandydataBean.kandydat.kaId}" />
								</div>
							</p:column>
							
							<p:column width="20">
								<p:commandButton
								    value="raport KSAP"
									styleClass="ctl-home-link-menu"
									rendered="#{'KSAP' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru}"
									actionListener="#{kartotekaRekrutacjiBean.raportArkuszOcenyRozmowy(kartotekaKandydataBean.kandydat.kaId,'wniosek_o_zatrudnienie_absolwenta_KSAP')}"
									onclick="form.target = '_blank'" ajax="false" />
				   			</p:column>
				   			
				   			<p:column width="20">
								<p:commandButton
								    value="analiza ofert"
									styleClass="ctl-home-link-menu"
									rendered="#{'KSC' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru or 'WYZ_ST_SC' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru}"
									actionListener="#{kartotekaRekrutacjiBean.raportArkuszOcenyRozmowy(kartotekaKandydataBean.kandydat.kaId,'arkusz_analizy_ofert_ksc_wyzsz')}"
									onclick="form.target = '_blank'" ajax="false" />
				   			</p:column>
				   			
				   			<p:column width="20">
								<p:commandButton
								    value="ocena prezentacji"
									styleClass="ctl-home-link-menu"
									rendered="#{'KSC' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru or 'WYZ_ST_SC' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru}"
									actionListener="#{kartotekaRekrutacjiBean.raportArkuszOcenyRozmowy(kartotekaKandydataBean.kandydat.kaId,'arkusz_oceny_prezentacji_ksc_wyzsz')}"
									onclick="form.target = '_blank'" ajax="false" />
				   			</p:column>
				   			
				   			<p:column width="20">
								<p:commandButton
								    value="ocena rozmowy"
									styleClass="ctl-home-link-menu"
									rendered="#{'KSC' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru or 'WYZ_ST_SC' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru}"
									actionListener="#{kartotekaRekrutacjiBean.raportArkuszOcenyRozmowy(kartotekaKandydataBean.kandydat.kaId,'arkusz_oceny_rozmowy')}"
									onclick="form.target = '_blank'" ajax="false" />
				   			</p:column>

						</p:row>
					</h:panelGroup>
				</div>
			</h:form>


		</f:facet>






	</p:dialog>



</ui:composition>