<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

	<p:dialog
	    widgetVar="rekrutacjaWniosekOgloszenie"
		id="rekrutacjaWniosekOgloszenie" header="Dodawanie ogłoszenia"
		appendTo="@(body)" modal="true" closeOnEscape="true" draggable="true"
		resizable="false" classStyle="ctl-dialog"
		>
		<!-- rendered="#{rekrutacjaWniosekBean.czyWyswietlac}" -->


		<!-- rendered="#{rekrutacjaWniosekBean.czyWyswietlac}" -->

		<f:facet name="header">
			<h:form id="dlgFormOgloszenieHeader">
				<p:panelGrid style="width:100%">
					<p:column styleClass="DlgHdrText">
						<h:outputText value="Ogłoszenie" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" icon="close" styleClass="btnDlg"
							oncomplete="PF('rekrutacjaWniosekOgloszenie').hide();"
							actionListener="#{rekrutacjaWniosekBean.anulujZmiany()}"
							update="dlgFormOgloszenie">
						</p:commandButton>
					</p:column>

				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="dlgFormOgloszenie" style="width:900px; height:500px;" styleClass="pad20">
			<p:panelGrid style="width:100%">

				<p:row>
<!-- 					<p:column> -->
<!-- 						<p:outputLabel value="Termin składania zgłoszeń na adres e-mail:" /> -->
<!-- 					</p:column> -->
					<p:column>
<!-- 						<c:cCalendar -->
<!-- 							value="#{rekrutacjaWniosekBean.nabor.nabOgTerminZglEmail}" placeholder="rrrr-mm-dd"/> -->	
						<div class="calc-label">
							<c:cCalendar id="calTermId"
								value="#{rekrutacjaWniosekBean.nabor.nabOgTerminZglEmail}"
								locale="pl" 
								placeholder="rrrr-mm-dd" />
							<span class="bar"></span>
							<p:outputLabel value="Termin składania zgłoszeń na adres e-mail: "
								for="calTermId" />
						</div>	
					</p:column>

<!-- 				</p:row> -->

<!-- 				<p:row> -->
<!-- 					<p:column> -->
<!-- 						<p:outputLabel value="Termin rozmowy kwalifikacyjnej:" /> -->
<!-- 					</p:column> -->
					<p:column>
<!-- 						<c:cCalendar -->
<!-- 							value="#{rekrutacjaWniosekBean.nabor.nabOgTerminRozm}" placeholder="rrrr-mm-dd"/> -->
						<div class="calc-label">
							<c:cCalendar id="calTermRozmId"
								value="#{rekrutacjaWniosekBean.nabor.nabOgTerminRozm}"
								locale="pl" 
								placeholder="rrrr-mm-dd" />
							<span class="bar"></span>
							<p:outputLabel value="Termin rozmowy kwalifikacyjnej: "
								for="calTermRozmId" />
						</div>
					</p:column>
				</p:row>
				
				<p:row>
					<p:column colspan="2" style="height:10px">
					</p:column>
				</p:row>
				
<!-- 				<p:row> -->
<!-- 					<p:column colspan="2"> -->
<!-- 						<h:outputText id="displayZakres" /> -->
<!-- 					</p:column> -->
<!-- 				</p:row> -->

				<p:row>
					<p:column colspan="2">
<!-- 						<p:inputTextarea styleClass="lekka-ramka" cols="10" rows="5" -->
<!-- 							counter="displayZakres" maxlength="2000" autoResize="true" -->
<!-- 							counterTemplate="Zakres obowiązków - pozostało znaków {0}" -->
<!-- 							value="#{rekrutacjaWniosekBean.nabor.nabOgZakresObow}"> -->
<!-- 							<f:ajax event="change" /> -->
<!-- 						</p:inputTextarea> -->						
						<div class="textarea-label">
							<p:inputTextarea id="zakrObowId" styleClass="lekka-ramka" cols="10" rows="4"
								counter="lblZakrObow" maxlength="2000" autoResize="true"
								counterTemplate="Zakres obowiązków: pozostało znaków {0}"
								value="#{rekrutacjaWniosekBean.nabor.nabOgZakresObow}" placeholder="wprowadź zakres obowiązków">
								<p:ajax event="change" />
							</p:inputTextarea>
							<span class="bar"></span>
							<p:outputLabel id="lblZakrObow" value="Zakres obowiązków: " for="zakrObowId"/>
						</div>
					</p:column>
				</p:row>

<!-- 				<p:row> -->
<!-- 					<p:column colspan="2"> -->
<!-- 						<h:outputText id="displayWymaganiaNiezb" /> -->
<!-- 					</p:column> -->
<!-- 				</p:row> -->

				<p:row>
					<p:column colspan="2">
<!-- 						<p:inputTextarea styleClass="lekka-ramka" cols="10" rows="5" -->
<!-- 							counter="displayWymaganiaNiezb" maxlength="2000" -->
<!-- 							autoResize="true" -->
<!-- 							counterTemplate="Wymagania niezbędne - pozostało znaków {0}" -->
<!-- 							value="#{rekrutacjaWniosekBean.nabor.nabOgWymaganiaNiezb}"> -->
<!-- 							<f:ajax event="change" /> -->
<!-- 						</p:inputTextarea> -->
						<div class="textarea-label">
							<p:inputTextarea id="WymaganiaNiezbId" styleClass="lekka-ramka" cols="10" rows="4"
								counter="lblWymaganiaNiezb" maxlength="2000" autoResize="true"
								counterTemplate="Wymagania niezbędne: pozostało znaków {0}"
								value="#{rekrutacjaWniosekBean.nabor.nabOgWymaganiaNiezb}" placeholder="wprowadź wymagania">
								<p:ajax event="change" />
							</p:inputTextarea>
							<span class="bar"></span>
							<p:outputLabel id="lblWymaganiaNiezb" value="Wymagania niezbędne: " for="WymaganiaNiezbId"/>
						</div>
					</p:column>
				</p:row>

<!-- 				<p:row> -->
<!-- 					<p:column colspan="2"> -->
<!-- 						<h:outputText id="displayWymaganiaDod" /> -->
<!-- 					</p:column> -->
<!-- 				</p:row> -->

				<p:row>
					<p:column colspan="2">
<!-- 						<p:inputTextarea styleClass="lekka-ramka" cols="10" rows="5" -->
<!-- 							counter="displayWymaganiaDod" maxlength="2000" autoResize="true" -->
<!-- 							counterTemplate="Wymagania dodatkowe - pozostało znaków {0}" -->
<!-- 							value="#{rekrutacjaWniosekBean.nabor.nabOgWymaganiaDodat}"> -->
<!-- 							<f:ajax event="change" /> -->
<!-- 						</p:inputTextarea> -->
						<div class="textarea-label">
							<p:inputTextarea id="WymaganiaDodId" styleClass="lekka-ramka" cols="10" rows="4"
								counter="lblWymaganiaDod" maxlength="2000" autoResize="true"
								counterTemplate="Wymagania dodatkowe: pozostało znaków {0}"
								value="#{rekrutacjaWniosekBean.nabor.nabOgWymaganiaDodat}" placeholder="wprowadź wymagania dodatkowe">
								<p:ajax event="change" />
							</p:inputTextarea>
							<span class="bar"></span>
							<p:outputLabel id="lblWymaganiaDod" value="Wymagania dodatkowe: " for="WymaganiaDodId"/>
						</div>
					</p:column>
				</p:row>

<!-- 				<p:row> -->
<!-- 					<p:column colspan="2"> -->
<!-- 						<h:outputText id="displayWyksztalc" /> -->
<!-- 					</p:column> -->
<!-- 				</p:row> -->

				<p:row>
					<p:column colspan="2">
<!-- 						<p:inputTextarea styleClass="lekka-ramka" cols="10" rows="5" -->
<!-- 							counter="displayWyksztalc" maxlength="500" autoResize="true" -->
<!-- 							counterTemplate="Wymagane wykształcenie - pozostało znaków {0}" -->
<!-- 							value="#{rekrutacjaWniosekBean.nabor.nabOgWymaganeWyksz}"> -->
<!-- 							<f:ajax event="change" /> -->
<!-- 						</p:inputTextarea> -->						
						<div class="textarea-label">
							<p:inputTextarea id="WyksztalcId" styleClass="lekka-ramka" cols="10" rows="4"
								counter="lblWyksztalc" maxlength="2000" autoResize="true"
								counterTemplate="Wymagane wykształcenie: pozostało znaków {0}"
								value="#{rekrutacjaWniosekBean.nabor.nabOgWymaganeWyksz}" placeholder="wprowadź wymagane wykształcenie">
								<p:ajax event="change" />
							</p:inputTextarea>
							<span class="bar"></span>
							<p:outputLabel id="lblWyksztalc" value="Wymagane wykształcenie: " for="WyksztalcId"/>
						</div>
					</p:column>
				</p:row>

<!-- 				<p:row> -->
<!-- 					<p:column colspan="2"> -->
<!-- 						<h:outputText id="displayDokum" /> -->
<!-- 					</p:column> -->
<!-- 				</p:row> -->


				<p:row>
					<p:column colspan="2">
<!-- 						<p:inputTextarea styleClass="lekka-ramka" cols="10" rows="5" -->
<!-- 							counter="displayDokum" maxlength="2000" autoResize="true" -->
<!-- 							counterTemplate="Wymagane dokumenty - pozostało znaków {0}" -->
<!-- 							value="#{rekrutacjaWniosekBean.nabor.nabOgWymDok}"> -->
<!-- 							<f:ajax event="change" /> -->
<!-- 						</p:inputTextarea> -->						
						<div class="textarea-label">
							<p:inputTextarea id="DokumId" styleClass="lekka-ramka" cols="10" rows="4"
								counter="lblDokum" maxlength="2000" autoResize="true"
								counterTemplate="Wymagane dokumenty: pozostało znaków {0}"
								value="#{rekrutacjaWniosekBean.nabor.nabOgWymDok}" placeholder="wprowadź wymagane dokumenty">
								<p:ajax event="change" />
							</p:inputTextarea>
							<span class="bar"></span>
							<p:outputLabel id="lblDokum" value="Wymagane wykształcenie: " for="DokumId"/>
						</div>
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="2">
						<h:outputText id="displayKontakt" />
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="2">
<!-- 						<p:inputTextarea styleClass="lekka-ramka" cols="10" rows="5" -->
<!-- 							counter="displayKontakt" maxlength="500" autoResize="true" -->
<!-- 							counterTemplate="Kontakt - pozostało znaków {0}" -->
<!-- 							value="#{rekrutacjaWniosekBean.nabor.nabOgKontakt}"> -->
<!-- 							<f:ajax event="change" /> -->
<!-- 						</p:inputTextarea> -->
						<div class="textarea-label">
							<p:inputTextarea id="KontaktId" styleClass="lekka-ramka" cols="10" rows="4"
								counter="lblKontakt" maxlength="2000" autoResize="true"
								counterTemplate="Kontakt: pozostało znaków {0}"
								value="#{rekrutacjaWniosekBean.nabor.nabOgKontakt}" placeholder="kontakt">
								<p:ajax event="change" />
							</p:inputTextarea>
							<span class="bar"></span>
							<p:outputLabel id="lblKontakt" value="Kontakt: " for="KontaktId"/>
						</div>
					</p:column>
				</p:row>
				<p:row>
					<p:column colspan="2" style="height:50px">
					</p:column>
				</p:row>
			</p:panelGrid>

		</h:form>

		<f:facet name="footer">
			<h:form>
				<div class="dlgBottomBtnsBar">
					<h:panelGroup>
						<p:row>
							<p:column style="min-width:30px" />
							<p:column>
								<p:commandButton id="btZapisz" value="ZAPISZ"
									actionListener="#{rekrutacjaWniosekBean.walidujOgloszenie()}"
									oncomplete="PF('rekrutacjaWniosekOgloszenie').hide();">
								</p:commandButton>
							</p:column>
							<!-- oncomplete="PF('rekrutacjaWniosekOgloszenie').hide();" -->
							<p:column>
								<p:commandButton id="btUsun" value="USUŃ OGŁOSZENIE"
									oncomplete="PF('rekrutacjaWniosekOgloszenie').hide();"
									actionListener="#{rekrutacjaWniosekBean.wyczyscOgloszenie()}"
									update="dlgFormOgloszenie">
								</p:commandButton>
							</p:column>
							
							<p:column>
								<p:commandButton value="RAPORT" id="raportId"
									style="min-width:80px"
									actionListener="#{rekrutacjaWniosekBean.raportOgl()}"
									styleClass="ctl-home-link-menu"
									onclick="form.target = '_blank'" ajax="false">
								</p:commandButton>
							</p:column>
						</p:row>
					</h:panelGroup>
				</div>
			</h:form>
		</f:facet>
	</p:dialog>
</ui:composition>