<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">



	<p:dialog
		widgetVar="dlgBhpZapis" id="dlgBhpZapis"
		appendTo="@(body)" height="550"
		modal="true" closeOnEscape="true" draggable="true" resizable="false"
		classStyle="ctl-dialog" >


		<f:facet name="header">
			<h:form id="frmDlgBhpZapisHeader">
				<p:panelGrid style="width:100%">
					<p:column>
						<h:outputText value="Zapis na szkolenie BHP" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							onclick="PF('dlgBhpZapis').hide();" icon="clear">
						</p:commandButton>
					</p:column>

				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="frmDlgBhpZapis" style="width:1000px; height:500px;">

			<p:accordionPanel id="acc" widgetVar="accOf">
				<p:tab id="t1" title="Wybierz rodzaj szkolenia BHP">

					<cc:cLookupTable height="430px"
						datasource="#{szkoleniaBhpBean.getLW('PPL_EG_RODZAJ_SZKOL_BHP')}"
						onRowSelectStart="showHourGlass()"
						value="#{szkoleniaBhpBean.szkolenieBhp.szkRodzaj}"
						onRowSelected="PF('accOf').select(1); hideHourGlass(); "
						update="@form:acc:t2:szczOfertyId @this frmDlgBhpZapis:acc:lblTabTermin" />


				</p:tab>

				<p:tab id="t2" title="Wpisz planowany termin i ważność szkolenia">

					<f:facet name="title">
						<h:panelGroup id="lblTabTermin">
							Wpisz planowany termin i ważność szkolenia #{szkoleniaBhpBean.szkolenieBhp.szkRodzaj ne null ? ' ('.concat(szkoleniaBhpBean.getLW("ppl_eg_rodzaj_szkol_bhp").find(szkoleniaBhpBean.szkolenieBhp.szkRodzaj).get("wsl_alias")).concat(')') : '' }
						</h:panelGroup>
					</f:facet>
					
					
					<h:panelGroup styleClass="szczOferty" id="szczOfertyId">
						<div class="ui-g padd-cc-mdesign-b20">

							<div class="ui-g-12">
<!-- 								<cc:cInputTextMDesign -->
<!-- 									value="#{szkoleniaBhpBean.szkolenieBhp.szkNazwa}" -->
<!-- 									label="Nazwa szkolenia:" > -->
<!-- 									<p:ajax event="change" /> -->
<!-- 								</cc:cInputTextMDesign> -->
								
<!-- 								<p:outputLabel for="nazwaSzk" value="Nazwa szkolenia:" /> -->
<!-- 								<p:selectOneMenu id="nazwaSzk" style="width:inherit;" -->
<!-- 									value="#{szkoleniaBhpBean.szkolenieBhp.szkNazwa}" -->
<!-- 									filterMatchMode="contains" filter="true"> -->
<!-- 									<f:selectItem itemLabel="Wybierz" noSelectionOption="true"/> -->
<!-- 									<f:selectItems value="#{szkoleniaBhpBean.nazwySzkolenBhp}"/> -->
<!-- 									<p:ajax event="change"/> -->
<!-- 								</p:selectOneMenu> -->
<!-- 								<span class="bar"></span> -->

							</div>
						</div>
						
						<div class="ui-g padd-cc-mdesign-b20">
							<div class="ui-g-4">
							
<!-- 								<p:calendar value="#{szkoleniaBhpBean.szkolenieBhp.szkDataOd}"> -->
<!-- 									<p:ajax event="dateSelect" partialSubmit="true" process="@this" update="bhpDataDo"/> -->
<!-- 								</p:calendar> -->
							
								<cc:cCalendarMDesign id="bhpDataOd" 
									value="#{szkoleniaBhpBean.szkolenieBhp.szkDataOd}"
									label="Termin szkolenia - od:"
									styleClass="dataOd" >
									
									<p:ajax event="dateSelect" partialSubmit="true" process="@this"
										update="@(.dataDo) @(.dataWaznosci)" />
									
								</cc:cCalendarMDesign>
							</div>

							<div class="ui-g-4" >
								<cc:cCalendarMDesign id="bhpDataDo"
									value="#{szkoleniaBhpBean.szkolenieBhp.szkDataDo}"
									label="Termin szkolenia - do:"
									styleClass="dataDo" >
									
									<p:ajax event="dateSelect" partialSubmit="true" process="@this"
										update="@(.dataOd) @(.dataWaznosci)" />
								
								</cc:cCalendarMDesign>
							</div>
							
							<div class="ui-g-4">
								<cc:cCalendarMDesign
									value="#{szkoleniaBhpBean.szkolenieBhp.szkDataWaznosci}"
									label="Data ważności:"
									styleClass="dataWaznosci" />
							</div>

						</div>
						
							
<!-- 						<br/><br/> -->
<!-- 						<cc:cInputTextMDesign -->
<!-- 							label="EGR - rodzaj szkolenia:" -->
<!-- 							value="#{szkoleniaBhpBean.getLW('ppl_eg_rodzaj_szkol_bhp').find(szkoleniaBhpBean.szkolenieBhp.szkRodzaj).get('wsl_alias')}" -->
<!-- 							readonly="true" -->
<!-- 						 /> -->

						<br/><br/>
						<cc:cInputTextMDesign
							label="EGR/EK - opis/nazwa szkolenia:"
							value="#{szkoleniaBhpBean.szkolenieBhp.szkNazwa}"
							readonly="true"
						 />


					</h:panelGroup>


				</p:tab>
			</p:accordionPanel>
		</h:form>


		<f:facet name="footer">
			<h:form id="frmDlgBhpZapisFooter">
				<div class="dlgBottomBtnsBar">
					<h:panelGroup>
						<p:row>

							<p:column>
								<p:commandButton value="zatwierdź zmiany" partialSubmit="true" 
									actionListener="#{szkoleniaBhpBean.zapisz()}"
									process="frmDlgBhpZapis @form" />
							</p:column>
						</p:row>
					</h:panelGroup>
				</div>
			</h:form>
		</f:facet>

	</p:dialog>



</ui:composition>