<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Wynik służby przygotowawczej" />

		<ui:define name="egr_content">

			#{arkuszSluzbyPrzygBean.loadEgListaWartosci('PPL_SLP_BLOKI_TEMAT', [])}
			#{arkuszSluzbyPrzygBean.zaznaczBloki()}

			<h:form id="frmMnu" styleClass="p5 pl20 bg-lgrey">

				<p:commandButton value="zapisz" id="zapiszId" icon="save"
					style="min-width:80px"
					actionListener="#{arkuszSluzbyPrzygBean.zapisz()}"
					styleClass="ctl-home-link-menu" partialSubmit="true" />

				<p:commandButton value="usuń arkusz" id="usunId"
					icon="delete_forever" style="min-width:110px"
					actionListener="#{arkuszSluzbyPrzygBean.usunArkusz()}"
					styleClass="ctl-home-link-menu" partialSubmit="true">
					<p:confirm header="Usuń arkusz"
						message="Czy na pewno chcesz usunąć arkusz słuzby przygotowawczej?"
						icon="ui-icon-alert" />
				</p:commandButton>

				<cc:cObiegCzynnosci kategoriaObiegu="WN_SLPR"
					idEncji="#{arkuszSluzbyPrzygBean.arkusz.slprId}"
					reloadPage="ArkuszSluzbyPrzygotowawczej2" />

				<p:commandButton value="raport" id="raportId"
					icon="content_paste"
					disabled="#{arkuszSluzbyPrzygBean.czyNowy}"
					style="min-width:80px"
					actionListener="#{arkuszSluzbyPrzygBean.raport('Arkusz_wyniku_sluzby_przygotowawczej')}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<cc:cZalacznikiButton dlgTitle="Załączniki"
					zalFkId="#{arkuszSluzbyPrzygBean.arkusz.slprId}"
					zalFkFieldName="ZAL_SLPR_ID" />

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Tak" type="button"
						styleClass="ui-confirmdialog-yes" icon="check" />
					<p:commandButton value="Nie" type="button"
						styleClass="ui-confirmdialog-no" icon="close" />
				</p:confirmDialog>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Tak" type="button"
						styleClass="ui-confirmdialog-yes" icon="check" />
					<p:commandButton value="Nie" type="button"
						styleClass="ui-confirmdialog-no" icon="close" />
				</p:confirmDialog>
				
			</h:form>

			<div class="p20 bg-lgrey" style="height: 100vh; overflow-y: auto; overflow-x: auto !important;">

				<h:form id="arkuszSluzbyPrzygotowawczej2Id">

					<h:panelGroup styleClass="bg-white ui-g p30 mb40 bsh15slategray">

						<p:outputLabel value="Dane pracownika" for="@parent" styleClass="fs20 ui-g-8 p0"/>

						<cc:cLovLookupTable
								width="" commandButtonIcon=""
								styleClass="ui-g-4 granatowy center p0"
								commandButtonValue="Wybierz pracownika z listy ..."
								lovDlgTitle="Lista pracowników"
								showInputText="false" lovTextFormat="%1$s - %3$s %4$s"
								value="#{arkuszSluzbyPrzygBean.arkusz.slprPrcId}"
								datasource="#{arkuszSluzbyPrzygBean.getLW('PP_PRC')}"
								update="@form:ccPracownik "/>

						<p:separator styleClass="ui-g-12 p0"/>

						<cc:cPracownikSluzbaP id="ccPracownik" styleClass="ui-g-12"
											  prcId="#{arkuszSluzbyPrzygBean.arkusz.slprPrcId}"
						/>

					</h:panelGroup>

					<h:panelGroup styleClass="bg-white ui-g p30 mb40 bsh15slategray">
						<p:outputLabel value="Wynik" for="@parent" styleClass="fs20 ui-g-12 p0"/>
						<p:separator styleClass="ui-g-12 p0 mb40"/>

						<p:outputLabel value="Bezpośredni przełożony, kierujący komórką organizacyjną" for="@parent"
									   styleClass="fs18 ui-g-12 p0"/>
						<p:separator styleClass="ui-g-12 p0"/>

						<cc:cInputTextAreaMDesign
								id="opiniaTextarea"
								styleClass="ui-g-12"
								cols="90" rows="3" maxlength="2000"
								autoResize="true"
								value="#{arkuszSluzbyPrzygBean.arkusz.slprOpTeor}"
								style="width: 100% !important;" placeholder="wprowadź opinię"
								label="Opinia dotycząca przebiegu przygotowania praktycznego: ">
							<p:ajax event="change"/>
						</cc:cInputTextAreaMDesign>

						<div class="ui-g-8 mb60">
							<p:outputLabel styleClass="ui-g-12 p0"
									value="Ocena wykonywanych przez pracownika działań: "
									for="ocenaDzialanId" />

							<p:selectOneMenu
									id="ocenaDzialanId"
									styleClass="ui-g-12 p0"
									value="#{arkuszSluzbyPrzygBean.arkusz.slprOcena}">
								<f:selectItem itemLabel="wybierz" itemValue=""/>
								<f:selectItem itemLabel="Pozytywna" itemValue="P"/>
								<f:selectItem itemLabel="Negatywna" itemValue="N"/>
								<p:ajax event="change"/>
							</p:selectOneMenu>
						</div>

						<p:outputLabel value="Biuro Dyrektora Generalnego" for="@parent" styleClass="fs18 ui-g-12 p0 mt20"/>
						<p:separator styleClass="ui-g-12 p0"/>

						<div class="ui-g-8 mb20 mt20">
							<p:outputLabel styleClass="ui-g-12 p0"
									value="Wynik egzaminu teoretycznego: "
									for="wynikEgzamId"/>

							<p:selectOneMenu styleClass="ui-g-12 p0"
											 id="wynikEgzamId"
											 value="#{arkuszSluzbyPrzygBean.arkusz.slprEgzamin}">
								<f:selectItem itemLabel="wybierz" itemValue=""/>
								<f:selectItem itemLabel="Pozytywny" itemValue="P"/>
								<f:selectItem itemLabel="Negatywny" itemValue="N"/>
								<p:ajax event="change"/>
							</p:selectOneMenu>
						</div>

						<div class="ui-g-8 mb20">
							<p:outputLabel
									styleClass="ui-g-12 p0"
									value="Wynik egzaminu kończącego służbę przygotowawczą: "
									for="wynikEgzamKonId"/>

							<p:selectOneMenu
									styleClass="ui-g-12 p0"
									id="wynikEgzamKonId"
									value="#{arkuszSluzbyPrzygBean.arkusz.slprEgzaminKoncowy}">
								<f:selectItem itemLabel="wybierz" itemValue=""/>
								<f:selectItem itemLabel="Pozytywny" itemValue="P"/>
								<f:selectItem itemLabel="Negatywny" itemValue="N"/>
								<p:ajax event="change"/>
							</p:selectOneMenu>
						</div>

					</h:panelGroup>

				</h:form>
			</div>

		</ui:define>
	</ui:composition>
</h:body>

</html>
