<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Arkusz służby przygotowawczej - z wynikiem" />

		<ui:define name="egr_content">

			#{arkuszSluzbyPrzygBean.loadEgListaWartosci('PPL_SLP_BLOKI_TEMAT', [])}
			#{arkuszSluzbyPrzygBean.zaznaczBloki()}

			<h:form id="frmMnu" styleClass="p5 pl20 bg-lgrey">

				<p:commandButton value="zapisz" id="zapiszId" icon="save"
					style="min-width:80px"
					actionListener="#{arkuszSluzbyPrzygBean.zapisz()}"
					styleClass="ctl-home-link-menu"
					partialSubmit="true" process="@this arkuszSluzbyPrzygotowawczej4Id" />

				<p:commandButton value="usuń arkusz" id="usunId"
					icon="delete_forever" style="min-width:110px"
					actionListener="#{arkuszSluzbyPrzygBean.usunArkusz()}"
					styleClass="ctl-home-link-menu" partialSubmit="true">
					<p:confirm header="Usuń arkusz"
						message="Czy na pewno chcesz usunąć arkusz słuzby przygotowawczej?"
						icon="ui-icon-alert" />
				</p:commandButton>

				<cc:cObiegCzynnosci kategoriaObiegu="WN_SLPR"
					idEncji="#{arkuszSluzbyPrzygBean.arkusz.slprId}"
					buttonDisabledWhenStop="true"
					reloadPage="ArkuszSluzbyPrzygotowawczej4" />

				<p:commandButton value="raport" id="raportId"
					icon="content_paste"
					disabled="#{arkuszSluzbyPrzygBean.czyNowy}"
					style="min-width:80px"
					actionListener="#{arkuszSluzbyPrzygBean.raport('Arkusz_sluzby_przygotowawczej')}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<p:commandButton value="Raport wyniku" id="raportWynikId"
					icon="content_paste"
					rendered="#{arkuszSluzbyPrzygBean.activeIndex eq 3}"
					style="min-width:80px"
					actionListener="#{arkuszSluzbyPrzygBean.raport('Arkusz_wyniku_sluzby_przygotowawczej')}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<cc:cZalacznikiButton dlgTitle="Załączniki"
									  zalFkId="#{arkuszSluzbyPrzygBean.arkusz.slprId}"
									  zalFkFieldName="ZAL_SLPR_ID" />

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Tak" type="button"
						styleClass="ui-confirmdialog-yes" icon="check" />
					<p:commandButton value="Nie" type="button"
						styleClass="ui-confirmdialog-no" icon="close" />
				</p:confirmDialog>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Tak" type="button"
						styleClass="ui-confirmdialog-yes" icon="check" />
					<p:commandButton value="Nie" type="button"
						styleClass="ui-confirmdialog-no" icon="close" />
				</p:confirmDialog>
				
			</h:form>

			<div class="p20 bg-lgrey" style="height: 100vh; overflow-y: auto; overflow-x: auto !important;">

				<h:form id="arkuszSluzbyPrzygotowawczej4Id">
					<h:panelGroup class="bg-white-tab ui-g p30 bsh15slategray">

						<p:outputLabel value="Dane szczegółowe" for="@parent" styleClass="fs20 ui-g-12 p0"/>
						<p:separator styleClass="ui-g-12 p0"/>

						<p:tabView id="tabViewId" dynamic="true" cache="false"
								   activeIndex="#{arkuszSluzbyPrzygBean.activeIndex}"
								   styleClass="pp-tbvw-wide ui-g-12">
							<p:ajax event="tabChange" listener="#{arkuszSluzbyPrzygBean.onTabChange}" update="frmMnu"/>

							<p:tab title="Metryczka" id="tab1">
								<div class="w100p">

									<h:panelGroup styleClass="ui-g mw700 p30 mt40 mb40">

										<div class="ui-g-12 p0">

											<p:outputLabel for="@parent" styleClass="fs20">
												<i class="material-icons fs20 p0">face</i>
												<span>Pracownik</span>
											</p:outputLabel>

											<cc:cLovLookupTable
													id="lvZmPrc"
													width=""
													styleClass="center p0"
													lovDlgTitle="Lista pracowników"
													showInputText="false" lovTextFormat="%1$s - %3$s %4$s"
													value="#{arkuszSluzbyPrzygBean.arkusz.slprPrcId}"
													datasource="#{arkuszSluzbyPrzygBean.getLW('PP_PRC')}"
													update="@form:tabViewId:tab1:ccPracownik "/>

										</div>

										<p:separator styleClass="ui-g-12 p0 mb20"/>

										<cc:cPracownikSluzbaP
												id="ccPracownik" styleClass="ui-g-12"
												prcId="#{arkuszSluzbyPrzygBean.arkusz.slprPrcId}"
										/>

										<p:separator styleClass="ui-g-12 p0 mt20 mb20"/>
									</h:panelGroup>
								</div>
							</p:tab>

							<p:tab title="Opinia kierującego komórką" id="tab2">
								<h:panelGrid styleClass="ui-g-12">
									<ui:include src="/faces/SluzbaPrzygotowawcza/ArkuszTab2.xhtml" />
								</h:panelGrid>
							</p:tab>

							<p:tab title="Decyzja Dyrektora Generalnego" id="tab3">
								<ui:include src="/faces/SluzbaPrzygotowawcza/ArkuszTab3.xhtml" />
							</p:tab>


							<p:tab title="Wynik" id="tab5">
								<ui:include src="/faces/SluzbaPrzygotowawcza/ArkuszTab5.xhtml"/>
							</p:tab>

						</p:tabView>

					</h:panelGroup>

				</h:form>
			</div>

		</ui:define>
	</ui:composition>

</h:body>
</html>
