<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">


<body>
<div class="ui-g w100p">

	<div class="ui-xl-6 ui-lg-8 ui-g-12">

		<h:panelGroup id="opiniaPrzebiegTeor" styleClass="ui-g-12">

			<p:outputLabel value="Bezpośredni przełożony:" for="@parent" styleClass="fs18 ui-g-12 p0 mt40"/>
			<p:separator styleClass="ui-g-12 p0"/>

			<div class="ui-g-12">
				<p:outputLabel id="display5" for="opiniaTextarea" value="Termin zakończenia: " styleClass="ui-g-12 p0" />
				<p:inputTextarea id="opiniaTextarea" styleClass="lekka-ramka" cols="90" rows="3"
					 maxlength="2000" autoResize="true"
					value="#{arkuszSluzbyPrzygBean.arkusz.slprOpTeor}"
					style="width: 100% !important;"
					placeholder="wprowadź opinię">
				</p:inputTextarea>


			</div>

		</h:panelGroup>



		<div class="ui-g-6 mb20" >
			<p:outputLabel value="Ocena wykonywanych przez pracownika działań: " for="ocenaDzialanId" styleClass="ui-g-12 p0"/>
			<p:selectOneMenu
					id="ocenaDzialanId"
					styleClass="ui-g-12 p0"
					value="#{arkuszSluzbyPrzygBean.arkusz.slprOcena}">
				<f:selectItem itemLabel="wybierz" itemValue="" />
				<f:selectItem itemLabel="Pozytywna" itemValue="P" />
				<f:selectItem itemLabel="Negatywna" itemValue="N" />
			</p:selectOneMenu>
			<span class="bar"></span>
		</div>
		<p:separator styleClass="ui-g-12 p0 mb40"/>


	

<!--	 <h3>Biuro Dyrektora Generalnego</h3>-->
	<p:outputLabel value="Biuro Dyrektora Generalnego:" for="@parent" styleClass="fs18 ui-g-12 p0 mt40"/>
	<p:separator styleClass="ui-g-12 p0"/>

		<div class="ui-g-6 mb20">
			<p:outputLabel value="Wynik egzaminu: " for="wynikEgzamId" styleClass="ui-g-12 p0"/>
			<p:selectOneMenu
					id="wynikEgzamId"
					styleClass="ui-g-12 p0"
					value="#{arkuszSluzbyPrzygBean.arkusz.slprEgzamin}">
				<f:selectItem itemLabel="wybierz" itemValue="" />
				<f:selectItem itemLabel="Pozytywny" itemValue="P" />
				<f:selectItem itemLabel="Negatywny" itemValue="N" />
			</p:selectOneMenu>
		</div>
		<p:separator styleClass="ui-g-12 p0 mb40"/>

	</div>

</div>
</body>
</html>