<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">


<body>


	<p:panelGrid style="min-width: 800px;">
		#{arkuszSluzbyPrzygBean.loadEgListaWartosci('PP_PRC', [])}
		
		<div class="debug">
		lov: PP_PRC
		</div>

		<p:row>

			<p:column colspan="1" style="vertical-align: middle; !important;   text-align: left;" styleClass="w20">
				<i class="material-icons first" style="font-size: 180% !important; padding-top: 30px !important;">face</i>
			</p:column>
			<p:column colspan="1" styleClass="w100" style="padding-top: 30px !important;">
				<p:inputText styleClass="naglowek_pracownik" value="Pracownik" style="font-size:115%"
					readonly="true"></p:inputText>
			</p:column>
			<p:column colspan="1" style="padding-top: 25px !important; text-align: left;" styleClass="left">
				<cc:cLovLookupTable lovDlgTitle="Lista pracowników"
					showInputText="false" lovTextFormat="%1$s - %3$s %4$s"
					value="#{arkuszSluzbyPrzygBean.arkusz.slprPrcId}"
					datasource="#{arkuszSluzbyPrzygBean.getSql('PP_PRC')}" 
					update="@form:tabViewId:ccPracownik "/>	
					<!-- update arkuszSluzbyPrzygotowawczejId:tabViewId:ccPracownik4 -->
			</p:column>
			<p:column colspan="3">
				<p:spacer width="20" /> 
			</p:column>
		</p:row>

		<p:row>
			<p:column colspan="1" styleClass="w15" />
			<p:column colspan="2">
				<cc:cPracownikSluzbaP id="ccPracownik"
					prcId="#{arkuszSluzbyPrzygBean.arkusz.slprPrcId}" />
			</p:column>
			<p:column colspan="2">
								<!-- <p:spacer width="20" /> --> 
			</p:column>
			<p:column colspan="1">
								<p:spacer width="40" /> 
							</p:column>
		</p:row>
		<p:row>
			<p:column colspan="5">
				<p:spacer height="2"/>
			</p:column>
		</p:row>
	</p:panelGrid>

<!-- <p:separator styleClass="line-light" style="width: 100% !important; margin-left: 24px !important;"/>  -->



</body>
</html>