<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>

	<ui:composition
			template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Arkusz służby przygotowawczej" />

		<ui:define name="egr_content">

			#{arkuszSluzbyPrzygBean.loadEgListaWartosci('PPL_SLP_BLOKI_TEMAT', [])}

			#{arkuszSluzbyPrzygBean.zaznaczBloki()}

			<h:form id="frmMnu" styleClass="p5 pl20 bg-lgrey">
				<p:commandButton value="usuń arkusz" id="usunId"
								 disabled="#{arkuszSluzbyPrzygBean.arkusz.slprId == null}"
								 icon="delete_forever" style="min-width:110px"
								 actionListener="#{arkuszSluzbyPrzygBean.usunArkusz()}"
								 styleClass="ctl-home-link-menu" partialSubmit="true">
					<p:confirm header="Usuń arkusz"
							   message="Czy na pewno chcesz usunąć arkusz słuzby przygotowawczej?"
							   icon="ui-icon-alert" />
				</p:commandButton>
				<cc:cObiegCzynnosci kategoriaObiegu="WN_SLPR"
									buttonDisabledWhenStop="true"
									idEncji="#{arkuszSluzbyPrzygBean.arkusz.slprId}"
									reloadPage="ArkuszSluzbyPrzygotowawczej" />
				<p:commandButton value="raport" id="raportId"
								 icon="content_paste"
								 disabled="#{arkuszSluzbyPrzygBean.czyNowy}"
								 style="min-width:80px"
								 actionListener="#{arkuszSluzbyPrzygBean.raport('Arkusz_sluzby_przygotowawczej')}"
								 styleClass="ctl-home-link-menu"
								 onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<p:commandButton value="Raport wyniku" id="raportWynikId"
								 icon="content_paste"
								 rendered="#{arkuszSluzbyPrzygBean.activeIndex eq 3}"
								 style="min-width:80px"
								 actionListener="#{arkuszSluzbyPrzygBean.raport('Arkusz wyniku służby przygotowawczej')}"
								 styleClass="ctl-home-link-menu"
								 onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>
				<cc:cZalacznikiButton dlgTitle="Załączniki"
									  zalFkId="#{arkuszSluzbyPrzygBean.arkusz.slprId}"
									  zalFkFieldName="ZAL_SLPR_ID" />

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Tak" type="button"
									 styleClass="ui-confirmdialog-yes" icon="check" />
					<p:commandButton value="Nie" type="button"
									 styleClass="ui-confirmdialog-no" icon="close" />
				</p:confirmDialog>
			</h:form>

			<div class="p20 bg-lgrey" style="height: 100vh; overflow-y: auto; overflow-x: auto !important;">

				<h:form id="arkuszSluzbyPrzygotowawczejId">

					<h:panelGroup styleClass="bg-white ui-g p30 mb40 bsh15slategray">

						<p:outputLabel value="Dane pracownika" for="@parent" styleClass="fs20 ui-g-8 p0"/>

						<cc:cLovLookupTable
								width="" commandButtonIcon=""
								styleClass="ui-g-4 granatowy center p0"
								commandButtonValue="Wybierz pracownika z listy ..."
								lovDlgTitle="Lista pracowników"
								showInputText="false" lovTextFormat="%1$s - %3$s %4$s"
								value="#{arkuszSluzbyPrzygBean.arkusz.slprPrcId}"
								datasource="#{arkuszSluzbyPrzygBean.getLW('PP_PRC')}"
								update="@form:ccPracownik "/>

						<p:separator styleClass="ui-g-12 p0"/>

						<cc:cPracownikSluzbaP id="ccPracownik" styleClass="ui-g-12"
											  prcId="#{arkuszSluzbyPrzygBean.arkusz.slprPrcId}"
						/>
					</h:panelGroup>

					<h:panelGroup class="bg-white ui-g p30 bsh15slategray">

						<p:outputLabel value="Dane szczegółowe" for="@parent" styleClass="fs20 ui-g-12 p0"/>
						<p:separator styleClass="ui-g-12 p0"/>

						<p:tabView id="tabViewId" dynamic="true" cache="false"
								   activeIndex="#{arkuszSluzbyPrzygBean.activeIndex}"
								   styleClass="pp-tbvw-wide w100p">
							<p:ajax event="tabChange"
									listener="#{arkuszSluzbyPrzygBean.onTabChange}"
									update="frmMnu" />


							<p:tab title="Opinia kierującego komórką" id="tab2">

								<ui:include src="/faces/SluzbaPrzygotowawcza/ArkuszTab2.xhtml" />

							</p:tab>

							<p:tab title="Decyzja Dyrektora Generalnego" id="tab3">

								<ui:include src="/faces/SluzbaPrzygotowawcza/ArkuszTab3.xhtml" />

							</p:tab>

						</p:tabView>
					</h:panelGroup>

					<div class="ui-action-buttons" style="position: fixed; right: 20px; bottom: 30px;">
						<p:commandButton value="Zapisz" id="zapiszId" class="btn-dark"
										 actionListener="#{arkuszSluzbyPrzygBean.zapisz()}"
										 partialSubmit="true" update="frmMnu" />
					</div>

				</h:form>

			</div>

		</ui:define>

	</ui:composition>
</h:body>
</html>