<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf">


<body id="bodyId">
	<div
		jsf:rendered="#{'N' eq arkuszSluzbyPrzygBean.arkusz.slprCzyZwol or arkuszSluzbyPrzygBean.arkusz.slprCzyZwol == null }" 
		class="ui-g-12 mt20">

		<p:outputLabel value="Bloki tematyczne niezbędne do ustalenia zakresu służby przygotowawczej:" for="@parent" styleClass="fs16 ui-g-12 p0"/>
		<p:separator styleClass="ui-g-12 p0"/>


			<div class="ui-g-12">
				<cc:cLookupTable height="350px" fillwidthcolumn="false"
					datasource="#{arkuszSluzbyPrzygBean.getLW('PPL_SLP_BLOKI_TEMAT')}"
					colNames="pp_opis_bloku" multiselect="true" showSearchField="false"
					hideHeaders="true" noBorder="true" exportPdf="true"
					exportXls="true" exportCsv="true" exportXml="true" />
			</div>

		<p:separator styleClass="ui-g-12 p0"/>


		<div class="ui-g-12">
			<cc:cInputTextAreaMDesign id="poziomTextarea"
				styleClass="lekka-ramka" cols="140" rows="3"
				label="Poziom przygotowania: " maxlength="2000" autoResize="true"
				value="#{arkuszSluzbyPrzygBean.arkusz.slprPoziomPrzy}"
				placeholder="wprowadź informacje o poziomie przygotowania pracownika do wykonywania obowiązków wynikających z zajmowanego stanowiska, w szczególności z uwzględnieniem profilu wykształcenia i doświadczenia zawodowego">
				<p:ajax event="change" />
			</cc:cInputTextAreaMDesign>
		</div>


	</div>



	<h:panelGroup id="cntnt" styleClass="cntntCL ui-g-12 mt20 mb20">

		<cc:cSelectBooleanCheckboxTN
				styleClass="ui-g-12"
				label="Wniosek o zwolnienie pracownika z obowiązku odbywania służby przygotowawczej: "
				value="#{arkuszSluzbyPrzygBean.arkusz.slprCzyZwol}"
				update="@form"
		/>
		<p:separator styleClass="ui-g-12 p0 mb40" rendered="#{ 'T' eq arkuszSluzbyPrzygBean.arkusz.slprCzyZwol }"/>

		<cc:cInputTextAreaMDesign
				id="uzasadTextarea"
				label="Uzasadnienie:"
				rendered="#{ 'T' eq arkuszSluzbyPrzygBean.arkusz.slprCzyZwol }"
				styleClass="lekka-ramka ui-g-12"
				cols="140" rows="3"
				maxlength="2000" autoResize="true"
				value="#{arkuszSluzbyPrzygBean.arkusz.slprUzasZwol}"
				placeholder="wprowadź treść uzasadnienia">
			<p:ajax event="change"/>
		</cc:cInputTextAreaMDesign>

		<p:separator styleClass="ui-g-12 p0 mt20" rendered="#{ 'T' eq arkuszSluzbyPrzygBean.arkusz.slprCzyZwol }"/>

	</h:panelGroup>
</body>
</html>