<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Arkusz służby przygotowawczej" />

		<ui:define name="egr_content">

			#{arkuszSluzbyPrzygBean.loadEgListaWartosci('PPL_SLP_BLOKI_TEMAT', [])}
			#{arkuszSluzbyPrzygBean.zaznaczBloki()}

			<h:form id="frmMnu" styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20 d-flex flex-wrap">
				<p:commandButton value="zapisz" id="zapiszId" icon="save"
					style="min-width: 80px;"
					actionListener="#{arkuszSluzbyPrzygBean.zapisz()}"
					styleClass="ctl-home-link-menu" partialSubmit="true" />

				<p:commandButton value="usuń arkusz" id="usunId"
					icon="delete_forever" style="min-width: 110px;"
					actionListener="#{arkuszSluzbyPrzygBean.usunArkusz()}"
					styleClass="ctl-home-link-menu" partialSubmit="true">
					<p:confirm header="Usuń arkusz"
						message="Czy na pewno chcesz usunąć arkusz słuzby przygotowawczej?"
						icon="ui-icon-alert" />
				</p:commandButton>

				<cc:cObiegCzynnosci kategoriaObiegu="WN_SLPR"
					idEncji="#{arkuszSluzbyPrzygBean.arkusz.slprId}"
					reloadPage="ArkuszSluzbyPrzygotowawczej3" />

				<p:commandButton value="raport" id="raportId"
					icon="content_paste"
					disabled="#{arkuszSluzbyPrzygBean.czyNowy}"
					style="min-width: 80px;"
					actionListener="#{arkuszSluzbyPrzygBean.raport('Arkusz sluzby przygotowawczej')}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<p:commandButton value="Raport wyniku" id="raportWynikId"
					icon="content_paste"
					rendered="#{arkuszSluzbyPrzygBean.activeIndex eq 3}"
					style="min-width: 80px;"
					actionListener="#{arkuszSluzbyPrzygBean.raport('Arkusz wyniku służby przygotowawczej')}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<cc:cZalacznikiButton dlgTitle="Załączniki"
									  zalFkId="#{arkuszSluzbyPrzygBean.arkusz.slprId}"
									  zalFkFieldName="ZAL_SLPR_ID"/>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Tak" type="button"
						styleClass="ui-confirmdialog-yes" icon="check" />
					<p:commandButton value="Nie" type="button"
						styleClass="ui-confirmdialog-no" icon="close" />
				</p:confirmDialog>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Tak" type="button"
						styleClass="ui-confirmdialog-yes" icon="check" />
					<p:commandButton value="Nie" type="button"
						styleClass="ui-confirmdialog-no" icon="close" />
				</p:confirmDialog>

			</h:form>

			<h:form id="arkuszSluzbyPrzygotowawczej3Id" styleClass="d-flex-1-column ov-auto m20i p20 bg-fff bsh2black">

				<p:tabView id="tabViewId" dynamic="true" cache="false" activeIndex="#{arkuszSluzbyPrzygBean.activeIndex}"
					styleClass="pp-tbvw-wide">
					<p:ajax event="tabChange" listener="#{arkuszSluzbyPrzygBean.onTabChange}" update="frmMnu"/>

						<p:tab title="Metryczka" id="tab1">
							<h:panelGrid>
								<ui:include src="/faces/SluzbaPrzygotowawcza/ArkuszTab1.xhtml" />
							</h:panelGrid>
					</p:tab>

					<p:tab title="Wynik" id="tab5">
						<h:panelGrid style="width: 100% !important;">
							<ui:include src="/faces/SluzbaPrzygotowawcza/ArkuszTab5.xhtml"
								style="width: 100% !important;" />
						</h:panelGrid>
					</p:tab>

				</p:tabView>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
