<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">


<body>

	<p:panelGrid>
		<p:row>
			<p:column>
				<h:outputText value="Wynik egzaminu: " styleClass="label"/>
			</p:column>
			<p:column>
				<p:selectOneMenu value="#{arkuszSluzbyPrzygBean.arkusz.slprEgzamin}"
					style="width:100px">
					<f:selectItem itemLabel="" itemValue="" />
					<f:selectItem itemLabel="Pozytywny" itemValue="P" />
					<f:selectItem itemLabel="Negatywny" itemValue="N" />
					<f:ajax event="change"/>
				</p:selectOneMenu>
			</p:column>
		</p:row>
	</p:panelGrid>


</body>
</html>