<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">


<body>

	<p:panelGrid style="width:calc(100% - 48px)!important; margin-left: 24px !important;">

		<p:row>
			<p:column colspan="2" styleClass="w350">
				<cc:cPracownikSluzbaP id="ccPracownik4"
					prcId="#{arkuszSluzbyPrzygBean.arkusz.slprPrcId}" />
			</p:column>
			<p:column />
		</p:row>
		
	</p:panelGrid>


</body>
</html>