<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf">


<body>

<div class="ui-g mw800 mt20 mb20">

	<cc:cSelectBooleanCheckboxTN styleClass="ui-g-12"
			label="Zwolnienie ze służby przygotowawczej"
			update="@(.sluzbaDaneCL)"
			value="#{arkuszSluzbyPrzygBean.arkusz.slprDecZwol}"
	/>

	<h:panelGroup id="sluzbaDaneId" styleClass="sluzbaDaneCL ui-g ui-g-12 ">

		<div jsf:rendered="#{'T' eq arkuszSluzbyPrzygBean.arkusz.slprDecZwol}" class="ui-g-12 p0">

			<p:separator styleClass="ui-g-12 p0 mt20"/>
			<p:outputLabel value="Pracownik zwolniony ze służby przygotowawczej." styleClass="fs20 ui-g-12 center" for="@parent" />
			<p:separator styleClass="ui-g-12 p0 mb40"/>

<!--			<cc:cInputTextAreaMDesign styleClass="ui-g-12"-->
<!--					placeholder="ZWOLNIENIE ZE SŁUŻBY PRZYGOTOWAWCZEJ (OPIS / UZASADNIENIE)"-->
<!--					value="#{arkuszSluzbyPrzygBean.arkusz.slprDecZwolOpis}"-->
<!--			/>-->

		</div>

		
		<div jsf:rendered="#{'N' eq arkuszSluzbyPrzygBean.arkusz.slprDecZwol or arkuszSluzbyPrzygBean.arkusz.slprDecZwol==null}" class="ui-g-12 p0">
			<p:separator styleClass="ui-g-12 p0"/>

				<div class="ui-g-12 mt40 mb40 ">

					<p:outputLabel styleClass="ui-g-12 p0" value="Przygotowanie teoretyczne: " for="przygotowId"/>

					<p:selectOneMenu id="przygotowId"
						styleClass="ui-g-12"
						value="#{arkuszSluzbyPrzygBean.arkusz.slprPrzygTeor}"
					>
						<f:selectItem itemLabel="wybierz" itemValue="" noSelectionOption="true"/>
						<f:selectItem itemLabel="Zgodnie z programem" itemValue="P" />
						<f:selectItem itemLabel="Zgodnie z blokami tematycznymi"
							itemValue="B" />
						<f:ajax event="change" />
					</p:selectOneMenu>

				</div>


				<p:outputLabel for="@parent" value="Czas trwania służby przygotowawczej:" styleClass="ui-g-12 fs16 p0"/>
				<p:separator styleClass="ui-g-12 p0"/>

				<cc:cCalendarMDesign id="calTermRozp"
									 styleClass="ui-g-6"
									 label="Termin rozpoczęcia: " value="#{arkuszSluzbyPrzygBean.arkusz.slprDataOd}"
									 placeholder="rrrr-mm-dd"
				/>

				<cc:cCalendarMDesign id="calTermZako"
									 label="Termin zakończenia: "
									 styleClass="ui-g-6"
									 value="#{arkuszSluzbyPrzygBean.arkusz.slprDataDo}"
									 placeholder="rrrr-mm-dd"
				/>
				<p:separator styleClass="ui-g-12 p0"/>

		</div>

	</h:panelGroup>

</div>
</body>
</html>