<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>

<ui:composition
        template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
    <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
    <ui:param name="formName" value="Służba przygotowawcza - lista arkuszy"/>

    <ui:define name="egr_content">

        <h:form id="frmNrth" styleClass="bg-fff bsh1black p5 pl20 pr20 d-flex">

            <p:commandButton
                    value="Dodaj arkusz"
                    id="nowyArkuszId"
                    styleClass="granatowy bsh1gray"
                    action="#{appBean.redirect('ArkuszSluzbyPrzygotowawczej')}"
                    ajax="false"
            />

        </h:form>

        <h:form id="spla" styleClass="bg-fff m20i p20 bsh1black flex-1">

            <c:cLookupTable
                    datasource="#{sqlBean.getLW('PP_SLPR_LISTA', '%', 'arkusze', user.dbLogin)}"
                    editRowPage="ArkuszSluzbyPrzygotowawczej"
            />

        </h:form>

    </ui:define>
</ui:composition>
</body>
</html>