<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>


<ui:composition
        template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
    <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
    <ui:param name="formName" value="Służba przygotowawcza - lista arkuszy w obiegu"/>

    <ui:define name="egr_content">


        <h:form styleClass="bg-fff bsh1black m20i p20 flex-1">

            <c:cLookupTable
                    datasource="#{sqlBean.getLW('pp_slpr_lista', '%', 'obieg', user.dbLogin)}"
                    editRowPage="ArkuszSluzbyPrzygotowawczej"
            />


        </h:form>

    </ui:define>

</ui:composition>


</body>
</html>