<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<body>

<ui:composition
        template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
    <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
    <ui:param name="formName" value="Służba przygotowawcza - lista arkuszy wyniku"/>

    <ui:define name="egr_content">

        <h:form styleClass="bg-fff m20i p20 bsh1black flex-1">

            <c:cLookupTable
                    datasource="#{sqlBean.getLW('pp_slpr_lista', '%', 'wyniki', user.dbLogin)}"
                    editRowPage="ArkuszSluzbyPrzygotowawczej3"
            />

        </h:form>

    </ui:define>

</ui:composition>
</body>
</html>