<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:shiro="http://shiro.apache.org/tags">

<f:metadata>
</f:metadata>

<h:body>
    <ui:composition
            template="/WEB-INF/protectedElements/Templates/EgrTemplateEmpty.xhtml">
        <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
        <ui:param name="formName" value="Akcja obiegu"/>
        <ui:define name="egr_content">

            <h:form id="frmAkcKod" styleClass="bg-fff p20 m0i d-flex-1-column ov-hidden" rendered="#{user.admin}">

                <div class="d-flex-column position-fixed" style="z-index: 99999; top:90px; right: 40px;">

                    <p:commandButton id="saveBtn" icon="save"
                                     styleClass="fs30 m10 mmw40"
                                     title="zapisz zmiany"
                                     action="#{akcjaObieguBean.zapisz}"
                                     partialSubmit="true" process="@form"
                                     disabled="#{not user.admin}"
                    />

                    <p:commandButton id="cpKod"
                                     icon="content_copy"
                                     styleClass="fs30 m10 mmw40"
                                     title="zaznacz i skopiuj kod do schowka ..."
                                     onclick="$(jq('frmAkcKod:kodAkcji:inpTxtArea')).select(); document.execCommand('copy'); return false; "
                    />

                    <p:commandButton id="selKod"
                                     icon="select_all"
                                     styleClass="fs30 m10 mmw40"
                                     title="zaznacz kod ..."
                                     onclick="$(jq('frmAkcKod:kodAkcji:inpTxtArea')).select();  return false; "
                    />
                </div>


                <div class="d-flex p0">

                    <cc:cInputText
                            styleClass="flex-300 p0 m10"
                            label="Nazwa akcji:"
                            value="#{akcjaObieguBean.akcja.nazwaAkcji}"
                    />

                    <cc:cInputText
                            styleClass="flex-300 p0 m10"
                            label="Nazwa czynności:"
                            value="#{akcjaObieguBean.nazwaCzynnosci}"
                            readonly="true"
                    />

                    <cc:cInputText
                            styleClass="flex-300 p0 m10"
                            label="Kategoria obiegu:"
                            value="#{akcjaObieguBean.kategoriaObiegu}"
                            readonly="true"
                    />

                </div>



<!--				<p:outputLabel value="Kod akcji:" styleClass="mt20 ml10 mb5"/>-->
				<div class="flex-1 ov-auto p20 bb1">

                    <pe:codeMirror
                            id="codeMirrorDB"
                            mode="text/x-plsql"
                            theme="eclipse"
                            value="#{akcjaObieguBean.akcja.kodAkcji}"
                            lineNumbers="true"
                            matchBrackets="true"
                            readonly="#{not user.admin}"

                    />


<!--                    <cc:cInputTextArea-->
<!--							id="kodAkcji"-->
<!--							value="#{akcjaObieguBean.akcja.kodAkcji}"-->
<!--							readonly="#{not user.admin}"-->
<!--					/>-->

				</div>

            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>