<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets"
      xmlns:c="http://java.sun.com/jsf/composite/components">


<f:metadata>
</f:metadata>

<h:head>
	<h:outputStylesheet name="ctl-style.css" library="css" />
	<h:outputStylesheet name="pp-style.css" library="css" />
	<h:outputStylesheet name="pp-calendar.css" library="css" />
	<h:outputStylesheet name="pp-kafelki.css" library="css" />
	<h:outputStylesheet name="pp-gicons.css" library="css" />
	<h:outputStylesheet name="materialdesignicons.min.css" library="css" />
	<h:outputStylesheet name="pp-menu.css" library="css" />
	<h:outputStylesheet name="pp-buttons.css" library="css" />
	<h:outputStylesheet name="pp-tabs.css" library="css" />
	<h:outputStylesheet name="pp-forms.css" library="css" />
	<h:outputStylesheet name="pp-notification.css" library="css" />
	<h:outputStylesheet name="pp-ksiazka-tel.css" library="css" />
	<h:outputStylesheet name="pp-modale.css" library="css" />
<!--	<h:outputStylesheet name="pp-scrollbars.css" library="css" />-->
	<h:outputStylesheet name="pp-forms-material.css" library="css" />
	<h:outputStylesheet name="pp-spinner.css" library="css" />
	<h:outputStylesheet name="tooltip-mdesign.css" library="css" />
	<script
		src="resources/js/pfLocales.js?v=#{appBean.manifestProperties.version}"
		type="text/javascript"></script>
	<script
		src="resources/js/ctlUtils.js?v=#{appBean.manifestProperties.version}"
		type="text/javascript"></script>
	<script
		src="resources/js/pf-widgets/ctlColumnToggler.js?v=#{appBean.manifestProperties.version}"
		type="text/javascript"></script>
	<script
		src="resources/js/pf-widgets/ctlMenubar.js?v=#{appBean.manifestProperties.version}"
		type="text/javascript"></script>
	<script
		src="resources/js/pf-widgets/ctlSelectOneMenu.js?v=#{appBean.manifestProperties.version}"
		type="text/javascript"></script>

	<script
		src="resources/js/pf-widgets/ppCalendar.js?v=#{appBean.manifestProperties.version}"
		type="text/javascript"></script>

	<script src="resources/js/external/jquery-element-onresize.js"
		type="text/javascript"></script>

	<script src="resources/js/external/jquery.qtip.min.js"
		type="text/javascript"></script>

</h:head>



<h:body style="height:100vh; width:100vw; padding: 20px; overflow: hidden; margin: 0;">
	<p:growl id="template_growl" for="template_growl" showDetail="true" life="15000" 
			widgetVar="template_growl" rendered="true" escape="false" />
			
	<p:tooltip globalSelector="div.ui-diagram-element" escape="false" showDelay="500" hideDelay="2000" />


	<h:form style="padding:0; margin:0; height: calc(100vh - 40px); width: calc(100vw - 40px); overflow:auto;" id="frmDiagram" styleClass="bsh1">
<!--		<div style="position: absolute; top:0px; right: 25px;">-->
<!--		</div>-->
	<p:outputLabel
			value="kategoria: '#{obiegStateMachineBean.kategoria}'; tenc_kod: '#{obiegStateMachineBean.obieg.typEncji.kod}'; tenc_nazwa: '#{obiegStateMachineBean.obieg.typEncji.nazwa}'"
			style="position: absolute; bottom:3px; left: 20px;"
			styleClass="fs12"
	/>

		<div style="position: absolute; top:30px; right:40px; z-index: 100;">
		
			<p:commandButton id="resetBtn" icon="refresh" iconSize="30px"
				actionListener="#{obiegStateMachineBean.resetujUklad()}"
				update="frmDiagram:diagramObiegu"
				partialSubmit="true" process="@form @this" />
			<p:tooltip for="resetBtn" value="Resetuj układ diagramu" />
			
			<p:commandButton id="saveBtn" icon="save" iconSize="30px"
				actionListener="#{obiegStateMachineBean.pobierzPozycje()}"
				oncomplete="zapiszUklad()"
				partialSubmit="true" process="@form @this" 
				disabled="#{not user.hasAnyPermission('PP_ADMINISTRATOR', 'PP_OBIEG_ADMINISTRATOR')}"/>
			<p:tooltip for="saveBtn" value="Zapisz układ diagramu" />
			
			<p:remoteCommand name="pobierzXY" actionListener="#{obiegStateMachineBean.pobierzXY()}" />
			<p:remoteCommand name="zapiszUklad" actionListener="#{obiegStateMachineBean.zapiszUklad()}" />
		</div>
		
		
		<p:diagram id="diagramObiegu"
			value="#{obiegStateMachineBean.model}" 
			style="height:100%; padding:0; margin:0; border:none"
			var="el" >
<!--  			el jest typu   -->
<!--  			com.comarch.egeria.pp.Obiegi.ObiegStateMachineBean.CzynnElem -->
<!--  			albo  -->
<!-- 			com.comarch.egeria.pp.Obiegi.ObiegStateMachineBean.StanElem   -->
		
		
			<f:facet name="element">
			
				<p:outputPanel prependId="false">
				<div ondblclick="#{obiegStateMachineBean.jsElOndblclick(el)}">
				
					<p:outputLabel styleClass="lbl-kto-kiedy"  value="#{el.ktoKiedy}"  rendered="#{el.kiedyWykonana ne null}" />

					<p:outputPanel rendered="#{el.nazwa ne ''}" >
						<p:outputLabel value="#{el.nazwa}"/>
						<br/>
					</p:outputPanel>

					<p:outputLabel style="font-size:80%!important">
						<h:outputText value="#{el.opis}" />
						<h:outputText id="lblAkcje" styleClass="lbl-akcje" escape="false" value="#{el.lblAkcje}" rendered="#{el.akcje ne '' and user.admin}" />
					</p:outputLabel>
					
<!-- 					<p:outputLabel styleClass="lbl-akcje" escape="false" value="#{el.akcje}" -->
<!-- 						rendered="#{el.akcje ne '' and user.admin}" /> -->

<!-- 					<h:panelGroup style="position:absolute; left:0; bottom:25px; opacity:0.3; margin-left:-10px; padding:0;" rendered="#{user.admin and el['class'].simpleName eq 'CzynnElem'}" layout="block" styleClass="border"> -->
<!-- 						<h:commandLink onclick="showDlgCzObg( #{el.id} ); return false;" > -->
<!-- 							<i class="material-icons fs12">edit</i> -->
<!-- 						</h:commandLink> -->
<!-- 					</h:panelGroup> -->

<!-- 					<h:panelGroup style="position:absolute; left:2px; top:2px; opacity:0.3; padding:0;" rendered="#{user.admin and el['class'].simpleName eq 'StanElem'}" layout="block" styleClass="border"> -->
<!-- 						<h:commandLink onclick="showDlgStanObg( #{el.id} ); return false;" > -->
<!-- 							<i class="material-icons fs12">edit</i> -->
<!-- 						</h:commandLink> -->
<!-- 					</h:panelGroup> -->

				</div>
				</p:outputPanel>
				
			</f:facet>
			
			
		
		</p:diagram>
		
		
		<pe:remoteCommand name="showDlgCzObg"  
			actionListener="#{obiegStateMachineBean.setCzynnoscById}"
			oncomplete="PF('dlgCzynnoscObiegu').show()"
			update="dlgCzynnoscObiegu">
				<pe:methodSignature parameters="java.lang.Long"/>  
			    <pe:methodParam name="czId"/>
		</pe:remoteCommand>		


		<pe:remoteCommand name="showDlgStObg"  
			actionListener="#{obiegStateMachineBean.setStanByLp}"
			oncomplete="PF('dlgStanObiegu').show()"
			update="dlgStanObiegu">
				<pe:methodSignature parameters="java.lang.Long"/>  
			    <pe:methodParam name="czId"/>
		</pe:remoteCommand>		

	</h:form>
	
	
	<p:dialog id="dlgCzynnoscObiegu" widgetVar="dlgCzynnoscObiegu"
			dynamic="true"
			appendTo="@(body)" modal="true" closeOnEscape="true" draggable="true"
			resizable="false" classStyle="ctl-dialog" width="800"
			>
	
	
			<f:facet name="header">
				<h:form id="frmCzynnoscObieguHdr">
					<p:panelGrid style="width:100%">
						<p:column styleClass="DlgHdrText">
							<h:outputText value="Czynność obiegu (id: #{obiegStateMachineBean.czynnosc.id})" />
						</p:column>
						<p:column styleClass="r10">
							<p:commandButton id="btAnuluj" styleClass="btnDlg" icon="close"
								process="@none" 
								onclick="PF('dlgCzynnoscObiegu').hide();">
							</p:commandButton>
						</p:column>
					</p:panelGrid>
				</h:form>
			</f:facet>
	
	
			<h:form id="frmCzynnoscObiegu" class="frmDlg ui-g ui-g-nopad"
				styleClass="dlg-obiegi-table">
				
				
				<cc:cInputTextMDesign label="Nazwa czynności:" 
					value="#{obiegStateMachineBean.czynnosc.nazwa}"  styleClass="ui-g-12"/>
				
				<cc:cInputTextMDesign label="Opis czynności:" 
					value="#{obiegStateMachineBean.czynnosc.nazwa2}"  styleClass="ui-g-12"/>

				<div class="ui-g-12 right pb20">
					 
						<p:commandButton  
							value="Zatwierdź"  
							partialSubmit="true" process="@form"
							styleClass="mt20 granatowy p5"
							oncomplete="PF('dlgCzynnoscObiegu').hide();"
							update="frmDiagram"
							/>
							
				 </div>
				 
				 

			<h:panelGroup id="pnlAkcje" styleClass="ui-g-12 pt20" rendered="#{not empty obiegStateMachineBean.czynnosc.akcjeObiegu}">
				<p:outputLabel value="Akcje:" for="pnlAkcje" styleClass="ui-g-12 ui-g-nopad fs16"/>
				
				<p:separator styleClass="ui-g-12 ui-g-nopad"/>
				<div class="ui-g-12 ui-g-nopad pl20">
		 			<span style="color:gray;" class="ui-g-1 ui-g-nopad" >lp</span>
					<span style="color:gray;" class="ui-g-1 ui-g-nopad" >akc_id</span>
					<span style="color:gray;" class="ui-g-10ui-g-nopad">nazwa</span>
				</div>
				<p:separator styleClass="ui-g-12 ui-g-nopad"/>


				<ui:repeat var="akcja"
						   value="#{obiegStateMachineBean.czynnosc.akcjeObiegu
									.stream()
									.sorted( (a1,a2) -> a1.lpAkcji - a2.lpAkcji )
									.toList()}">

						<h:commandLink rendered="#{user.admin}"
								ajax="false" target="_blank"
								styleClass="uig ui-g-12 ui-g-nopad pl20"
 								onclick="window.open('AkcjaObiegu?kategoria=#{obiegStateMachineBean.kategoria}&amp;id_czynn=#{obiegStateMachineBean.czynnosc.id}&amp;id_akcji=#{akcja.idAkcji}'); return false;" >
						 			<span style="color:steelblue;" class="ui-g-1 ui-g-nopad">#{akcja.lpAkcji}</span>
 									<span style="color:steelblue;" class="ui-g-1 ui-g-nopad">#{akcja.idAkcji}</span>
 									<span style="color:steelblue;" class="ui-g-10 ui-g-nopad" >#{akcja.nazwaAkcji}</span>
						</h:commandLink>

						<h:panelGroup rendered="#{not user.admin}" styleClass="uig ui-g-12 ui-g-nopad pl20">
							<span style="color:steelblue;" class="ui-g-1 ui-g-nopad">#{akcja.lpAkcji}</span>
							<span style="color:steelblue;" class="ui-g-1 ui-g-nopad">#{akcja.idAkcji}</span>
							<span style="color:steelblue;" class="ui-g-10 ui-g-nopad" >#{akcja.nazwaAkcji}</span>
						</h:panelGroup>

				</ui:repeat>
				
				<p:separator styleClass="ui-g-12 ui-g-nopad"/>
			</h:panelGroup>				 
				 
			</h:form>
	
	</p:dialog>
	
	
	
	
	
	
	
	<p:dialog id="dlgStanObiegu" widgetVar="dlgStanObiegu"
			dynamic="true"
			appendTo="@(body)" modal="true" closeOnEscape="true" draggable="true"
			resizable="false" classStyle="ctl-dialog" width="750"
			>

	
			<f:facet name="header">
				<h:form id="frmStanObieguHdr">
					<p:panelGrid style="width:100%">
						<p:column styleClass="DlgHdrText">
							<h:outputText value="Stan obiegu (lp:  #{obiegStateMachineBean.aktualnyStan.swoLp}; dstn_id: #{obiegStateMachineBean.aktualnyStan.stanDefinicja.id})" />
						</p:column>
						<p:column styleClass="r10">
							<p:commandButton id="btAnuluj" styleClass="btnDlg" icon="close"
								process="@none" 
								onclick="PF('dlgStanObiegu').hide();">
							</p:commandButton>
						</p:column>
					</p:panelGrid>
				</h:form>
			</f:facet>
	
	
			<h:form id="frmStanObiegu"
				styleClass="frmDlg d-flex flex-wrap pt20">
				

				<cc:cInputNumber
						styleClass="mmw50 mr20"
						label="LP"
						decimalPlaces="0"
						minValue="2"
						maxValue="999"
						placeholder="#{obiegStateMachineBean.aktualnyStan.swoLp}"
						value="#{obiegStateMachineBean.aktualnyStan.swoLp}"
						readonly="#{'T' eq obiegStateMachineBean.aktualnyStan.stanDefinicja.FPredefiniowany}"
				/>


				<cc:cInputText
						styleClass="mmw250 "
						label="Nazwa stanu:"
						readonly="#{('T' eq obiegStateMachineBean.aktualnyStan.stanDefinicja.FPredefiniowany) or (not user.hasAnyPermission('PP_ADMINISTRATOR', 'PP_OBIEG_ADMINISTRATOR'))}"
						value="#{obiegStateMachineBean.aktualnyStan.stanDefinicja.nazwa}"
				/>


				<cc:cInputText
						id="txtOpisStanu"
						styleClass="flex-700 mt20"
						label="Opis stanu:"
						readonly="#{'T' eq obiegStateMachineBean.aktualnyStan.stanDefinicja.FPredefiniowany}"
						value="#{obiegStateMachineBean.aktualnyStan.stanDefinicja.opis}"
				/>
				<p:focus for="txtOpisStanu"/>


				<div class="flex-700 right pt20">
					 
						<p:commandButton  
							styleClass="mt20 granatowy p5"
							value="Zatwierdź"
							partialSubmit="true" process="@form"
							oncomplete="PF('dlgStanObiegu').hide();"
							update="frmDiagram"
						/>
							
				 </div>
				 
			</h:form>
	
	</p:dialog>
	
	
	
	
	
		<style type="text/css">
		
			.lbl-kto-kiedy{
				color:#AA5555!important;
				font-size:80%!important;
			}
			
			.lbl-akcje {
				color: #0000cd !important;
				text-decoration: none;
				margin-left: 2px;
			}
			
			.lnk-akcje {
				font-size: 80%!important;
			}


			.tt-lbl-kto,
			.tt-lbl-kiedy,
			.tt-lbl-nzw-cz{
				max-width:350px;
				text-align: center;
			}

			.tt-lbl-kto > i,
			.tt-lbl-kto > span{
				display: inline;
				vertical-align: middle;
			}

			.tt-lbl-kto{
				color:#AA5555!important;
				font-size: 140%;
			}

			.tt-lbl-kiedy{
				padding: 5px;
				color:#883333!important;
				font-size: 100%;
			}

			.tt-lbl-nzw-cz{
				color:#555555!important;
				font-size: 120%;
			}
		
		    .ui-diagram-element {
		    	display: flex;
				align-items: center;
						        
		        font-size: 12px;
		        width:14em; 
		        min-height:3.5em;
		        height: fit-content;    
		        text-align: center;
		        
		        border-radius: 4px;
		        border: 1px solid #98AFC7;
		        background-color: #FAFBFC;
		        color: #ffffff;
		    }
		    
		    .ui-diagram-element.pp-stan > .ui-outputpanel{
		    	display: block;
		    	min-width:170px!important;
		    }
		    
		    .ui-diagram-element label{
		    	padding: 0!important;
		    }
		    
		    .ui-diagram-element.pp-czynnosc {

				min-height: fit-content;
				box-shadow: none;
				font-size: 12px;
				line-height:1.0;
		 		width: fit-content;
 		 		min-width: 90px;  
 		 		max-width: 90px;
 		 		min-height: 60px;
				height: 60px;
				z-index: 9; 		 		        
				
				border: none;
				background: none;
 				/*background: green;*/

				display: flex;
				align-items: center;
			}



			.ui-diagram-element.pp-czynnosc > .ui-outputpanel {
				/*background: red!important;*/
				margin: 0;
			}

			.ui-diagram-element.pp-czynnosc label {
				display: block;
				padding: 0px !important;
				min-width:90px;
				text-align: center;

				
				text-shadow: 1px 1px 2px #FFFFFF;
 				/*vertical-align:center;*/
  				background: white;
  				opacity: 0.8;  
  				color: black;
			}

			.ui-diagram-element.pp-czynnosc-nw label{
				opacity: 0.6;
			}
			
		 
		    .ui-diagram-success {
		        background-color: #9CB071;
		        color: #ffffff;
		        border-color: #7ab02c;
		    }
		 
		    .ui-diagram-fail {
		        background-color: #C34A2C;
		        color: #ffffff;
		    }
		 
		    .flow-label {
		    	max-width:90px;
		        font-size: 9px;
		        font-weight: bold;
		        color: black;
		    }
		    
		    .pp-stan-odwiedzony {
		    	background-color: antiquewhite;
		    	box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.8);
		    	border: 1px solid #AABBBB;
		    }
		    
		    .pp-stan-aktualny {
		    	background-color: #DDEEFF;
		    	border: 1px solid #AA5555;
		    }
		    
		    .pp-stan-odwiedzony label {
		    	color: #000000c7;
		    }
		    
		    circle {
		    	fill: transparent;
		    }
		    
		    
		    path[stroke="#AA5555"] {
/* 		    	stroke-width: 2; */
		    }
		    
/* 		    path { */
/* 		    	stroke: #C7B097; */
/* 		    	stroke-width: 1; */
/* 		    } */
		    
/* 		    path:hover { */
/* 		    	stroke-width: 2; */
/* 		    } */
		    
		    .ui-tooltip-text {
		    	white-space: pre-wrap;
		    }
		    
		/*     .jsplumb-endpoint{ */
		/*     	opacity: 0.1; */
		/*     } */
		    
		
		</style>
	
</h:body>

</html>