<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>

<ui:composition
        template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
    <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
    <ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}"/>

    <ui:define name="egr_content">

        <h:form styleClass="bg-fff m20i p20 flex-1">


            <cc:cLookupTable
                    fillwidthcolumn="true"
                    insertChildrenFirst="true"
                    datasource="#{testBean.getLW('PPL_ADM_OBIEGI')}"
                    onRowSelected="#{testBean.loadLW( 'PPL_ADM_ENCJE_W_ST_OB',  [row.get('kob_kod')]   )}"
            >

                <p:column width="20">
                    <p:rowToggler/>
                </p:column>

                <p:rowExpansion>

                    <div style="padding: 25px">
                        <!-- 									<h4>Encje dla obiegu "#{row.get('kob_kod')}"</h4> -->
                        <!-- 									<br/> -->

                        #{testBean.loadLW('PPL_ADM_ENCJE_W_ST_OB',  [row.get('kob_kod')] )}
                        <cc:cLookupTable
                                height="470px"
                                datasource="#{testBean.loadedLW('PPL_ADM_ENCJE_W_ST_OB')}">

                            <p:column headerText="Diagram encji" width="35">
                                <!--						UWAGA IntelliJ niepoprawnie commituje i pushuje zmiany jeśli n/w url jest liczony bezpośrednio wewn. onclick - problemy są przy escape'owaniu wewnętrznych znaków "'" -->
                                <ui:param name="url1"
                                          value="#{row.format('DiagramObiegu?obg_id=%ews_obg_id$s&amp;kob_kod=%ews_kob_kod$s&amp;tenc_kod=%ews_tenc_kod$s&amp;id=%ews_klucz_obcy_id$s&amp;dstn_id=%ews_dstn_id$s')}"/>
                                <p:commandButton
                                        icon="search"
                                        onclick="window.open('#{url1}')"
                                />
                            </p:column>

                        </cc:cLookupTable>
                    </div>

                </p:rowExpansion>


                <p:column headerText="Diagram obiegu" width="35">
                    <!--						UWAGA IntelliJ niepoprawnie commituje i pushuje zmiany jeśli n/w url jest liczony bezpośrednio wewn. onclick - problemy są przy escape'owaniu wewnętrznych znaków "'" -->
                    <ui:param name="url0"
                              value="#{row.format('DiagramObiegu?obg_id=%obg_id$s&amp;kob_kod=%kob_kod$s')}"/>
                    <p:commandButton
                            icon="search"
                            onclick="window.open('#{url0}')"
                    />
                </p:column>


            </cc:cLookupTable>

        </h:form>


    </ui:define>

</ui:composition>


</body>
</html>
