<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions">




<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}" />

		<ui:define name="egr_content">

					<h:form id="formFiltr" styleClass="m20i p20 bg-fff">

						<p:panelGrid>
						<p:row>
								<p:column>
							Do wyświetlenia:
							</p:column>
						</p:row>
							<p:row>
								<p:column>
									<p:commandButton value="[OcenaOKresowaCzescI - PDF]"
										actionListener="#{generatorRaportow.uruchomOcenaOKresowaCzescI(127)}"
										onclick="form.target = '_blank'" ajax="false" />
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<p:commandButton value="[OcenaOKresowaCzescII - PDF]"
										actionListener="#{generatorRaportow.uruchomOcenaOKresowaCzescII(127)}"
										onclick="form.target = '_blank'" ajax="false" />
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<p:commandButton value="[ArkuszSluzbyPrzygotowawczej - PDF]"
										actionListener="#{generatorRaportow.uruchomArkuszSluzbyPrzygotowawczej(1)}"
										onclick="form.target = '_blank'" ajax="false" />
								</p:column>
							</p:row>

							<p:row>
								<p:column colspan="2">
									<p:separator />
								</p:column>
							
							</p:row>
						<p:row>
								<p:column>
							Do pobrania:
							</p:column>
						</p:row>
							<p:row>
								<p:column>
									<p:commandButton value="[OcenaOKresowaCzescI - RTF]"
										actionListener="#{generatorRaportow.uruchomOcenaOKresowaCzescIRTF(127)}"
										onclick="form.target = '_blank'" ajax="false" />
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<p:commandButton value="[OcenaOKresowaCzescII - RTF]"
										actionListener="#{generatorRaportow.uruchomOcenaOKresowaCzescIIRTF(127)}"
										onclick="form.target = '_blank'" ajax="false" />
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<p:commandButton value="[ArkuszSluzbyPrzygotowawczej - RTF]"
										actionListener="#{generatorRaportow.uruchomArkuszSluzbyPrzygotowawczejRTF(1)}"
										onclick="form.target = '_blank'" ajax="false" />
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<p:commandButton value="[UmowaLojalnosciowa - RTF]"
										actionListener="#{generatorRaportow.uruchomUmowaLojalnosciowaRTF(1)}"
										onclick="form.target = '_blank'" ajax="false" />
								</p:column>
							</p:row>
							
						</p:panelGrid>

					</h:form>

					<h:form id="formPdf">

					</h:form>

		</ui:define>
	</ui:composition>
</h:body>

</html>
