<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">



	<p:dialog id="dlgOfertaSzkolenSzczeg" widgetVar="dlgOfertaSzkolenSzczeg" 
		dynamic="true"
		classStyle="ctl-dialog" height="450" width="1000" closeOnEscape="true"
		draggable="true" resizable="false" modal="true"  appendTo="@(body)">


		<f:facet name="header">
			<h:form id="frmDlgOfertaSzkolenSzczegHdr">
				<p:panelGrid style="width:100%">
					<p:column>
						<h:outputText value="Oferta szkoleń" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							onclick="PF('dlgOfertaSzkolenSzczeg').hide();" icon="clear">
						</p:commandButton>
					</p:column>

				</p:panelGrid>
			</h:form>
		</f:facet>
		
		
		<h:form id="frmDlgOfertaSzkolenSzczegCntr">
		
#{rejestrSzkolenBean.loadEgSlownik('RODZAJ_SZKOLENIA')}
#{rejestrSzkolenBean.loadEgSlownik('PPS_SZK_TYP_OBIEKTU')}
#{rejestrSzkolenBean.loadEgSlownik('PPP_OS_OBSZAR_WIEDZY')}
#{rejestrSzkolenBean.loadEgSlownik('PPS_SZK_FORMA_ORG')}
#{rejestrSzkolenBean.loadEgSlownik('PPS_SZK_FORMA_ZALICZENIA')}
#{rejestrSzkolenBean.loadEgSlownik('PPS_SZK_KATEGORIA_SZKOLENIA')}
		
				<p:panelGrid style="width: 100%">
					<p:row>

						<p:column>
							<cc:cInputTextMDesign cols="12" rows="1" autoResize="true"
								value="#{rejestrSzkolenBean.oferta.ofNazwa}" placeholder=""
								label="Nazwa: ">
							</cc:cInputTextMDesign>
						</p:column>

						<p:column>
							<cc:cInputTextMDesign autoResize="true"
								value="#{rejestrSzkolenBean.oferta.ofSkrot}" placeholder=""
								label="Skrót nazwy:">
							</cc:cInputTextMDesign>
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<cc:cSOMMDesign
								datasource="#{rejestrSzkolenBean.getSql('RODZAJ_SZKOLENIA')}"
								value="#{rejestrSzkolenBean.oferta.ofRodzaj}" label="Rodzaj:"
								width="50%" />
						</p:column>
						<p:column>

							<cc:cSOMMDesign
								datasource="#{rejestrSzkolenBean.getSql('PPS_SZK_FORMA_ORG')}"
								value="#{rejestrSzkolenBean.oferta.ofFormaOrg}"
								label="Forma organizacyjna:" width="50%" />
						</p:column>
					</p:row>
					<p:row style="width: 100%">
						<p:column>


							<cc:cSOMMDesign
								datasource="#{rejestrSzkolenBean.getSql('PPS_SZK_FORMA_ZALICZENIA')}"
								value="#{rejestrSzkolenBean.oferta.ofFormaZal}"
								label="Forma zaliczenia:" width="50%" />
						</p:column>
						<p:column>
							<cc:cSOMMDesign
								datasource="#{rejestrSzkolenBean.getSql('PPP_OS_OBSZAR_WIEDZY')}"
								value="#{rejestrSzkolenBean.oferta.ofObszarWiedzy}"
								label="Obszar wiedzy:" width="50%" />

						</p:column>

					</p:row>
					<p:row style="width: 100%">
						<p:column>
							<cc:cSOMMDesign
								datasource="#{rejestrSzkolenBean.getSql('PPS_SZK_TYP_OBIEKTU')}"
								value="#{rejestrSzkolenBean.oferta.ofTyp}" label="Typ:"
								width="50%" />

						</p:column>
						<p:column>
							<cc:cSOMMDesign
								datasource="#{rejestrSzkolenBean.getSql('PPS_SZK_KATEGORIA_SZKOLENIA')}"
								value="#{rejestrSzkolenBean.oferta.ofKategoria}"
								label="Kategoria:" width="50%" />
						</p:column>

					</p:row>
					<p:row>
						<p:column>
							<cc:cInputNumberMDesign decimalPlaces="0"
								value="#{rejestrSzkolenBean.oferta.ofIloscGodzin}"
								label="Liczba godzin:">
							</cc:cInputNumberMDesign>
						</p:column>
						<p:column>
							<cc:cInputNumberMDesign decimalPlaces="0"
								value="#{rejestrSzkolenBean.oferta.ofIloscDni}"
								label="Liczba dni:">
							</cc:cInputNumberMDesign>
						</p:column>
					</p:row>
					<p:row>

						<p:column>
							<cc:cInputTextAreaMDesign styleClass="lekka-ramka textarea-ie"
								autoResize="true" value="#{rejestrSzkolenBean.oferta.ofOpis}"
								readonly="false" label="Informacje dodatkowe: ">
							</cc:cInputTextAreaMDesign>
						</p:column>
						<p:column>
						<p:selectOneRadio id="pow"
								value="#{rejestrSzkolenBean.oferta.ofCzyPowszechne}" styleClass="label">
								<f:selectItem itemLabel="Szkolenie powszechne" itemValue="T" />
								<f:selectItem itemLabel="Szkolenie specjalistyczne" itemValue="N" />
							</p:selectOneRadio>
						</p:column>
					</p:row>
					<p:row>
						<p:column style="width: 50%;">
							<p:selectOneRadio id="wew"
								value="#{rejestrSzkolenBean.oferta.ofFWew}" styleClass="label">
								<f:selectItem itemLabel="Szkolenie wewnętrzne" itemValue="W" />
								<f:selectItem itemLabel="Szkolenie zewnętrzne" itemValue="Z" />
							</p:selectOneRadio>
						</p:column>
						
						<p:column style="width: 50%;">
							<cc:cSelectBooleanCheckboxTN 
								label="Szkolenia niebędące szkoleniami w służbie cywilnej" 
								id="szkolNieSC" 
								value="#{rejestrSzkolenBean.oferta.ofFCzyNieSc}" />
							
							<cc:cSelectBooleanCheckboxTN 
								label="Szkolenie płatne" 
								id="szkolPlatne" 
								value="#{rejestrSzkolenBean.oferta.ofFCzyPlatne}" />
						</p:column>
					</p:row>

				</p:panelGrid>
		</h:form>


		<f:facet name="footer">
			<h:form id="frmDlgOfertaSzkolenSzczegFtr">
				<div class="dlgBottomBtnsBar">
					<h:panelGroup>
						<p:row>

							<p:column>
								<p:commandButton value="Zapisz" 
								    partialSubmit="true" process="frmDlgOfertaSzkolenSzczegCntr @this"
									actionListener="#{rejestrSzkolenBean.zapiszOferte()}"
									update="@(.acc-terminy)"/>
									
							</p:column>
						</p:row>
					</h:panelGroup>
				</div>
			</h:form>
		</f:facet>


	</p:dialog>
</ui:composition>