<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://java.sun.com/jsf/composite/components">

	<p:dialog header="Ocena wykładowcy" height="250" width="850"
		widgetVar="dlgSzkolenieSpec" appendTo="@(body)" modal="true"
		closeOnEscape="true" draggable="true" resizable="false"
		classStyle="ctl-dialog" id="dlgSzkolenieSpec"
		>

		<f:facet name="header">
			<h:form>
				<p:panelGrid style="width:100%">

					<p:column>
						<p:commandButton value="Zapisz szkolenie"
							style="color:White;right: 15px !important;"
							oncomplete="PF('dlgSzkolenieSpec').hide();"
							actionListener="#{arkuszIPRZBean.zapiszSzkolenieSpec()}">
						</p:commandButton>
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" value="Wyjdź" styleClass="btnDlg"
							process="@this" oncomplete="PF('dlgSzkolenieSpec').hide();"
							onclick="#{arkuszIPRZBean.anulujSzkolenieSpec()}">
						</p:commandButton>
					</p:column>
				</p:panelGrid>


			</h:form>
		</f:facet>

		<h:form id="formSzkolenieSpec">
#{arkuszIPRZBean.loadEgSlownik('OS_FORMA_ORGANIZACJI')}

			<div style="position: relative" class="ctl-datatable-pane">
				<p:row>
					<p:column>
						<p:outputLabel for="tematSzkoleniaId" value="Temat szkolenia:" />
					</p:column>
					<p:column>
						<p:inputText value="#{arkuszIPRZBean.tematSzkolenia}"
							id="tematSzkoleniaId">
							<p:ajax event="change" />
						</p:inputText>
					</p:column>
				</p:row>
				<!-- <cc:cRowInputText label="Temat szkolenia"
						value="#{arkuszIPRZBean.tematSzkolenia}">
					</cc:cRowInputText> -->
				<p:row>


					<p:column>
						<p:outputLabel for="sposobProwadzeniaId"
							value="Sposób prowadzenia szkolenia"
							styleClass="pogrubiony-normal" />
					</p:column>
					<p:column>


						<p:selectOneMenu id="sposobProwadzeniaId"
							value="#{arkuszIPRZBean.formaProwadzenia}">
							<f:selectItem itemLabel="Wybierz sposób prowadzenia" />
							<f:selectItems value="#{arkuszIPRZBean.formyOrganizacji}" />
							<f:ajax event="change" />
						</p:selectOneMenu>

					</p:column>
				</p:row>
				<p:row>
					<!-- <p:outputLabel for="szkoleniaObszarWiedzyId"
								value="Wybrane szkolenia specjalistyczne"
								styleClass="pogrubiony-normal" /> -->
					<p:column>
					
						<cc:cLookupTable multiselect="true" id="szkoleniaObszarWiedzyId"
							datasource="#{arkuszIPRZBean.getSql('OS_OBSZAR_WIEDZY')}"
							height="300px" showSearchField="false"
							hideHeaders="true" colWidths="600" />
					</p:column>
				</p:row>
			</div>

		</h:form>

	</p:dialog>

</ui:composition>