<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">


	<p:dialog
		widgetVar="zapisNaSzkolenieIPRZ"
        id="zapisNaSzkolenieIPRZ"
		header="Zapis na szkolenie"
        appendTo="@(body)" height="550"
		modal="true"
        closeOnEscape="true"
        draggable="true"
        resizable="false"
    >


		<f:facet name="header">
			<h:form id="dlgSzkoleniaZapisHeader">
				<p:panelGrid style="width:100%">
					<p:column>
						<h:outputText value="Szczegóły zapisu na szkolenie" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							onclick="PF('zapisNaSzkolenieIPRZ').hide();" icon="clear">
						</p:commandButton>
					</p:column>

				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="frmDlgSzkoleniaIPRZ" style="width:1000px; height:400px;">

<!-- 			#{arkuszIPRZBean.loadEgSlownik('PPP_OS_OBSZAR_WIEDZY')} -->
<!-- 			#{arkuszIPRZBean.loadEgSlownik('PPS_SZK_FORMA_ORG')} -->
<!-- 			#{arkuszIPRZBean.loadEgSlownik('PPS_FORMA_ORG_SZK_SPEC')} -->
<!-- 			#{arkuszIPRZBean.loadEgSlownik('PPS_FORMA_ORG_SZK_SPOZA_REJ')} -->

			<cc:cSelectBooleanCheckboxTN
				value="#{arkuszIPRZBean.currentPlanTmp.pisFCzyRejestr}"
				update="@form" label="Szkolenie spoza rejestru">
				<p:ajax event="change" onstart="showHourGlass()"
					 oncomplete="hideHourGlass()" />
			</cc:cSelectBooleanCheckboxTN>
			<br />
			<br />

			<p:accordionPanel id="acc" widgetVar="accOf"
				activeIndex="#{arkuszIPRZBean.accIndex}">
				<p:tab id="t1" title="Wybierz szkolenie z oferty (w tym maksymalnie 3 płatne)"
					rendered="#{'T' eq arkuszIPRZBean.currentPlanTmp.pisFCzyRejestr ? false : true}">

					<cc:cLookupTable
						height="370px"
						datasource="#{arkuszIPRZBean.getLW('PPL_SZK_OFERTY_SZKOLEN',user.dbLogin)}"
						onRowSelectStart="showHourGlass()"
						rowSelectAction="#{arkuszIPRZBean.onCurrentTmpPisOfIdChanged()}"
						value="#{arkuszIPRZBean.currentPlanTmp.pisOfId}"
						onRowSelected="PF('accOf').select(1); hideHourGlass(); "
						update="@form:acc:t2:szczOfertyId @this" />


				</p:tab>

				<p:tab id="t2" title="Wpisz miejsce i planowany termin szkolenia">

					<h:panelGroup styleClass="szczOferty" id="szczOfertyId">
						<div class="ui-g padd-cc-mdesign-b20">

							<div class="ui-g-12">
								<cc:cInputTextMDesign
									value="#{arkuszIPRZBean.currentPlanTmp.pisTemat}"
									label="Temat:"
									required="true"
									readonly="#{'T' eq arkuszIPRZBean.currentPlanTmp.pisFCzyRejestr ? false : true}">
									<p:ajax event="change" />
								</cc:cInputTextMDesign>

							</div>
						</div>

						<div class="ui-g padd-cc-mdesign-b20">
							<div class="ui-g-12 ui-lg-6 ui-xl-6">
								<cc:cSOMMDesign
										disabled="#{'T' eq arkuszIPRZBean.currentPlanTmp.pisFCzyRejestr ? false : true}"
										datasource="#{arkuszIPRZBean.getSlownik('RODZAJ_SZKOLENIA')}"
										value="#{arkuszIPRZBean.currentPlanTmp.pisSspeObszarWiedzy}"
										label="Obszar wiedzy:"
										width="100%"
										required="true"
                                />
							</div>

							<div class="ui-g-12 ui-lg-6 ui-xl-6">

                                <!-- 									z rejestru / powszechne -->
								<cc:cSOMMDesign
										rendered="#{('T' ne arkuszIPRZBean.currentPlanTmp.pisFCzyRejestr) and ('N' ne arkuszIPRZBean.currentPlanTmp.pisSzkPowszech)}"
										datasource="#{arkuszIPRZBean.getSlownik('PPS_SZK_FORMA_ORG')}"
										value="#{arkuszIPRZBean.currentPlanTmp.pisSspeForma}"
										label="Forma organizacyjna:"
										required="true"
										width="100%"
                                />

								<!-- 									z rejestru / specjalistyczne juz nie przez PPS_FORMA_ORG_SZK_SPEC bo w rejestrze szkolen jest stosowany tylko PPS_SZK_FORMA_ORG -->
                                <cc:cSOMMDesign
                                        rendered="#{('T' ne arkuszIPRZBean.currentPlanTmp.pisFCzyRejestr) and ('N' eq arkuszIPRZBean.currentPlanTmp.pisSzkPowszech)}"
                                        datasource="#{arkuszIPRZBean.getSlownik('PPS_SZK_FORMA_ORG')}"
                                        value="#{arkuszIPRZBean.currentPlanTmp.pisSspeForma}"
                                        label="Forma organizacyjna:"
                                        required="true"
                                        width="100%"
                                />

                                <!-- 									spoza rejestru Uwaga na odwrót zastosowano wartość T/N ('T' jest kiedy zaznaczonu spoza rejestru) -->
                                <cc:cSOMMDesign
                                        rendered="#{'T' eq arkuszIPRZBean.currentPlanTmp.pisFCzyRejestr}"
                                        datasource="#{arkuszIPRZBean.getSlownik('PPS_FORMA_ORG_SZK_SPOZA_REJ')}"
                                        value="#{arkuszIPRZBean.currentPlanTmp.pisSspeForma}"
                                        label="Forma organizacyjna:"
                                        required="true"
                                        width="100%"
                                />

                            </div>
						</div>



						<div class="ui-g padd-cc-mdesign-b20">
							<div class="ui-g-12 ui-lg-6 ui-xl-6">
								<cc:cInputTextMDesign
									value="#{arkuszIPRZBean.currentPlanTmp.pisMiejsceSzkol}"
									label="Miejsce szkolenia:" id="miejsceSzkolId">
									<p:ajax event="change" />
								</cc:cInputTextMDesign>
							</div>



							<div class="ui-g-3">
								<cc:cCalendarMDesign
									value="#{arkuszIPRZBean.currentPlanTmp.pisTerminOd}"
									label="Termin szkolenia - od:" />

							</div>
							<div class="ui-g-3">
								<cc:cCalendarMDesign
									value="#{arkuszIPRZBean.currentPlanTmp.pisTerminDo}"
									label="Termin szkolenia - do:" />
							</div>

						</div>


						<div style="height: 10px;"></div>

						<div class="ui-g padd-cc-mdesign-b20">
							<div class="ui-g-12">
								<cc:cInputTextAreaMDesign
									value="#{arkuszIPRZBean.currentPlanTmp.pisUzasadnienie}"
									rows="1" id="uzasadnienieId" label="Uzasadnienie:">
									<p:ajax event="change" />
								</cc:cInputTextAreaMDesign>
							</div>
						</div>
					</h:panelGroup>
				</p:tab>
			</p:accordionPanel>
		</h:form>


		<f:facet name="footer">
			<h:form id="dlgSzkoleniaZapisFooter">
				<div class="dlgBottomBtnsBar">
					<h:panelGroup>
						<p:row>
							<p:column>
								<p:commandButton value="zatwierdź zmiany" partialSubmit="true"
									actionListener="#{arkuszIPRZBean.zatwierdzCurrentTmp()}"
									process="frmDlgSzkoleniaIPRZ @form"
									update="@(.pgSzkolSpec)"
									oncomplete="PF('zapisNaSzkolenieIPRZ').hide();" />
							</p:column>
						</p:row>
					</h:panelGroup>
				</div>
			</h:form>
		</f:facet>
	</p:dialog>

</ui:composition>