<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<!--	rendered="#{sessionBean.currentViewRootId().endsWith('ZapisNaSzkolenie.xhtml')}"-->
	<p:dialog
		widgetVar="zapisNaSzkolenieSzczeg"
		id="zapisNaSzkolenieSzczeg"
		header="Szczegóły zapisu na szkolenie"
		appendTo="@(body)" height="550"
		modal="true"
		closeOnEscape="true"
		draggable="true" resizable="false"
	>

		<f:facet name="header">
			<h:form id="dlgSzkoleniaZapisHeader">
				<p:panelGrid style="width: 100%;">
					<p:column>
						<h:outputText value="Szczegóły zapisu na szkolenie" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							onclick="PF('zapisNaSzkolenieSzczeg').hide();" icon="clear">
						</p:commandButton>
					</p:column>

				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="frmDlgSzkoleniaZapis" styleClass="w1000 h400">
			
<!--			#{zapisySzkoleniaBean.loadEgSlownik('OS_SZKOLENIA_POWSZECHNE')}-->
<!--			#{zapisySzkoleniaBean.loadEgSlownik('PPP_OS_OBSZAR_WIEDZY')}-->
<!--			#{zapisySzkoleniaBean.loadEgSlownik('PPS_SZK_FORMA_ORG')}-->
<!--			#{zapisySzkoleniaBean.loadEgSlownik('PPS_FORMA_ORG_SZK_SPEC')}-->
<!--			#{zapisySzkoleniaBean.loadEgSlownik('PPS_FORMA_ORG_SZK_SPOZA_REJ')}-->
			
			<cc:cSelectBooleanCheckboxTN
				value="#{zapisySzkoleniaBean.currentPlanTmp.pisFCzyRejestr}"
				update="@form" label="Szkolenie spoza rejestru">
				<p:ajax event="change" onstart="showHourGlass()"
					 oncomplete="hideHourGlass()" />
			</cc:cSelectBooleanCheckboxTN>
			<br />
			<br />

			<p:accordionPanel id="acc" widgetVar="accOf"
				activeIndex="#{zapisySzkoleniaBean.accIndex}">
				<p:tab id="t1" title="Wybierz szkolenie z oferty"
					rendered="#{zapisySzkoleniaBean.currentPlanTmp.pisFCzyRejestr eq 'T' ? false : true}">

					<cc:cLookupTable
						datasource="#{zapisySzkoleniaBean.getLW('PPL_SZK_OFERTY_SZKOLEN',user.dbLogin)}"
						onRowSelectStart="showHourGlass()"
						rowSelectAction="#{zapisySzkoleniaBean.onCurrentTmpPisOfIdChanged()}"
						value="#{zapisySzkoleniaBean.currentPlanTmp.pisOfId}"
						onRowSelected=" PF('accOf').select(1); hideHourGlass(); "
						update="@form:acc:t2:szczOfertyId @this" />

				</p:tab>

				<p:tab id="t2" title="Wpisz miejsce i planowany termin szkolenia">

					<h:panelGroup styleClass="szczOferty" id="szczOfertyId">
						<div class="ui-g padd-cc-mdesign-b20">

							<div class="ui-g-12">
								<cc:cInputTextMDesign
									value="#{zapisySzkoleniaBean.currentPlanTmp.pisTemat}"
									label="Temat:"
									readonly="#{zapisySzkoleniaBean.currentPlanTmp.pisFCzyRejestr eq 'T' ? false : true}">
									<p:ajax event="change" />
								</cc:cInputTextMDesign>

							</div>
						</div>

<!--						<div class="ui-g padd-cc-mdesign-b20">-->
<!--							<div class="ui-g-12 ui-lg-6 ui-xl-6">-->
<!--								<cc:cSOMMDesign-->
<!--									datasource="#{zapisySzkoleniaBean.getSql('PPP_OS_OBSZAR_WIEDZY')}"-->
<!--									value="#{zapisySzkoleniaBean.currentPlanTmp.pisSspeObszarWiedzy}"-->
<!--									disabled="#{zapisySzkoleniaBean.currentPlanTmp.pisFCzyRejestr eq 'T' ? false : true}"-->
<!--									label="Obszar wiedzy:" width="100%" />-->
<!--							</div>-->

<!--							<div class="ui-g-12 ui-lg-6 ui-xl-6">-->
<!--								<cc:cSOMMDesign-->
<!--									rendered="#{(zapisySzkoleniaBean.currentPlanTmp.pisFCzyRejestr ne 'T') and (zapisySzkoleniaBean.currentPlanTmp.pisSzkPowszech ne 'N')}"-->
<!--									datasource="#{zapisySzkoleniaBean.getSql('PPS_SZK_FORMA_ORG')}"-->
<!--									value="#{zapisySzkoleniaBean.currentPlanTmp.pisSspeForma}"-->
<!--									label="Forma organizacyjna:" width="100%" />-->
<!--								<cc:cSOMMDesign-->
<!--									rendered="#{(zapisySzkoleniaBean.currentPlanTmp.pisFCzyRejestr ne 'T') and (zapisySzkoleniaBean.currentPlanTmp.pisSzkPowszech eq 'N')}"-->
<!--									datasource="#{zapisySzkoleniaBean.getSql('PPS_FORMA_ORG_SZK_SPEC')}"-->
<!--									value="#{zapisySzkoleniaBean.currentPlanTmp.pisSspeForma}"-->
<!--									label="Forma organizacyjna:" width="100%" />-->
<!--								<cc:cSOMMDesign-->
<!--									rendered="#{zapisySzkoleniaBean.currentPlanTmp.pisFCzyRejestr eq 'T'}"-->
<!--									datasource="#{zapisySzkoleniaBean.getSql('PPS_FORMA_ORG_SZK_SPOZA_REJ')}"-->
<!--									value="#{zapisySzkoleniaBean.currentPlanTmp.pisSspeForma}"-->
<!--									label="Forma organizacyjna:" width="100%" />-->
<!--							</div>-->
<!--						</div>-->




						<div class="ui-g padd-cc-mdesign-b20">
							<div class="ui-g-12 ui-lg-6 ui-xl-6">
								<cc:cSOMMDesign
										label="Obszar wiedzy:"
										datasource="#{zapisySzkoleniaBean.getSlownik('RODZAJ_SZKOLENIA')}"
										value="#{zapisySzkoleniaBean.currentPlanTmp.pisSspeObszarWiedzy}"
										disabled="#{'T' eq zapisySzkoleniaBean.currentPlanTmp.pisFCzyRejestr ? false : true}"
										required="true"
										width="100%"
								/>
							</div>

							<div class="ui-g-12 ui-lg-6 ui-xl-6">

								<!-- 									z rejestru / powszechne -->
								<cc:cSOMMDesign
										rendered="#{('T' ne zapisySzkoleniaBean.currentPlanTmp.pisFCzyRejestr) and ('N' ne zapisySzkoleniaBean.currentPlanTmp.pisSzkPowszech)}"
										datasource="#{zapisySzkoleniaBean.getSlownik('PPS_SZK_FORMA_ORG')}"
										value="#{zapisySzkoleniaBean.currentPlanTmp.pisSspeForma}"
										label="Forma organizacyjna:"
										required="true"
										width="100%"
								/>

								<!-- 									z rejestru / specjalistyczne juz nie przez PPS_FORMA_ORG_SZK_SPEC bo w rejestrze szkolen jest stosowany tylko PPS_SZK_FORMA_ORG -->
								<cc:cSOMMDesign
										rendered="#{('T' ne zapisySzkoleniaBean.currentPlanTmp.pisFCzyRejestr) and ('N' eq zapisySzkoleniaBean.currentPlanTmp.pisSzkPowszech)}"
										datasource="#{zapisySzkoleniaBean.getSlownik('PPS_SZK_FORMA_ORG')}"
										value="#{zapisySzkoleniaBean.currentPlanTmp.pisSspeForma}"
										label="Forma organizacyjna:"
										required="true"
										width="100%"
								/>

								<!-- 									spoza rejestru Uwaga na odwrót zastosowano wartość T/N ('T' jest kiedy zaznaczonu spoza rejestru) -->
								<cc:cSOMMDesign
										rendered="#{'T' eq zapisySzkoleniaBean.currentPlanTmp.pisFCzyRejestr}"
										datasource="#{zapisySzkoleniaBean.getSlownik('PPS_FORMA_ORG_SZK_SPOZA_REJ')}"
										value="#{zapisySzkoleniaBean.currentPlanTmp.pisSspeForma}"
										label="Forma organizacyjna:"
										required="true"
										width="100%"
								/>

							</div>
						</div>


						<div class="ui-g padd-cc-mdesign-b20">
							<div class="ui-g-12 ui-lg-6 ui-xl-6">
								<cc:cInputTextMDesign
									value="#{zapisySzkoleniaBean.currentPlanTmp.pisMiejsceSzkol}"
									label="Miejsce szkolenia:" id="miejsceSzkolId">
									<p:ajax event="change" />
								</cc:cInputTextMDesign>
							</div>



							<div class="ui-g-3">

								<cc:cCalendarMDesign
									value="#{zapisySzkoleniaBean.currentPlanTmp.pisTerminOd}"
									label="Termin szkolenia - od:" />

							</div>
							<div class="ui-g-3">
								<cc:cCalendarMDesign
									value="#{zapisySzkoleniaBean.currentPlanTmp.pisTerminDo}"
									label="Termin szkolenia - do:" />
							</div>

						</div>												

						<div class="ui-g padd-cc-mdesign-b20">
							<div class="ui-g-9">
								<cc:cInputTextAreaMDesign
									value="#{zapisySzkoleniaBean.currentPlanTmp.pisUzasadnienie}"
									rows="1" id="uzasadnienieId" label="Uzasadnienie:">
									<p:ajax event="change" />
								</cc:cInputTextAreaMDesign>
							</div>
							<div class="ui-g-3">
								<cc:cInputNumberMDesign label="Koszt szkolenia:"
									value="#{zapisySzkoleniaBean.currentPlanTmp.pisKoszt}"
									symbol=" PLN" decimalPlaces="2"									
									rendered="#{zapisySzkoleniaBean.currentPlanTmp.pisFCzyRejestr eq 'T' ? true : false}" />
							</div>
						</div>
						
						<div class="ui-g padd-cc-mdesign-b20">
							<div class="ui-g-3" style="display: grid;">
								<p:outputLabel for="czyIPRZ" value="Czy szkolenie IPRZ?"
									style="padding-left: 5px;" />
								<p:selectOneMenu id="czyIPRZ" autoWidth="false"
									style="margin-left: 9px;"
									value="#{zapisySzkoleniaBean.currentPlanTmp.pisFCzyIprz}">
									<f:selectItem itemLabel="Wybierz" itemValue="#{null}" itemDisabled="true" />
						            <f:selectItem itemLabel="Tak" itemValue="T" />
						            <f:selectItem itemLabel="Nie" itemValue="N" />
						            <f:selectItem itemLabel="Brak IPRZ" itemValue="B" />
								</p:selectOneMenu>
							</div>
						</div>
						
					</h:panelGroup>


				</p:tab>
			</p:accordionPanel>
		</h:form>


		<f:facet name="footer">
			<h:form id="dlgSzkoleniaZapisFooter">
				<div class="dlgBottomBtnsBar">
					<h:panelGroup>
						<p:row>

							<p:column>
								<p:commandButton value="zatwierdź zmiany" partialSubmit="true"
									actionListener="#{zapisySzkoleniaBean.zatwierdzCurrentTmp()}"
									process="frmDlgSzkoleniaZapis @form"
									update="template_growl frm" />
							</p:column>
						</p:row>
					</h:panelGroup>
				</div>
			</h:form>
		</f:facet>

	</p:dialog>



</ui:composition>