<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

	<p:dialog widgetVar="rejestrSzkolenTermin" id="rejestrSzkolenTermin"
		dynamic="true" header="Edycja terminu szkolenia" appendTo="@(body)"
		height="550" modal="true" closeOnEscape="true" draggable="true"
		resizable="false" classStyle="ctl-dialog">

		<f:facet name="header">
			<h:form id="dlgFormTerminHeader">
				<p:panelGrid style="width:100%">
					<p:column>
						<h:outputText value="Termin szkolenia" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							onclick="PF('rejestrSzkolenTermin').hide();" icon="clear">
						</p:commandButton>
					</p:column>

				</p:panelGrid>
			</h:form>
		</f:facet>


#{terminySzkolenBean.loadSqlData('nazwyOcenBezWykl', '
	select K.WSL_WARTOSC, K.WSL_OPIS
	from  ppt_adm_wartosci_slownikow K 
	where K.WSL_SL_NAZWA = \'OS_ANKIETA_TYP_OCENY\'	
	and WSL_WARTOSC not like \'W%\'
	and WSL_WARTOSC_ZEWN like \'OS_ANKIETA_OCENA%\'
	order by K.WSL_WARTOSC
', [ ])}

#{terminySzkolenBean.loadSqlData('nazwyOcenWykl', '
	select K.WSL_WARTOSC, K.WSL_OPIS
	from  ppt_adm_wartosci_slownikow K 
	where K.WSL_SL_NAZWA = \'OS_ANKIETA_TYP_OCENY\'	
	and WSL_WARTOSC like \'W%\'
	order by K.WSL_WARTOSC
', [ ])}


		<h:form id="dlgFormTermin" styleClass="w1100 h500">

			<p:tabView id="tabViewId" dynamic="false" cache="false"
				styleClass="pp-tbvw-wide">

				<p:tab title="Dane">
					<p:scrollPanel style="height: 470px; width: 1070px;" mode="native">


						<div class="ui-g padd-cc-mdesign-b20">
							<div class="ui-g-6">
								<cc:cCalendarMDesign styleClass="light-text"
									id="poczatekSzkoleniaId" label="Początek szkolenia:"
									value="#{terminySzkolenBean.terminSzkolenia.szkDataOd}" />
							</div>
							<div class="ui-g-6">
								<cc:cCalendarMDesign styleClass="light-text"
									id="koniecSzkoleniaId" label="Koniec szkolenia:"
									value="#{terminySzkolenBean.terminSzkolenia.szkDataDo}" />
							</div>
						</div>


						<div class="ui-g padd-cc-mdesign-b20">

							<div class="ui-g-6">
								<cc:cSOMMDesign
									datasource="#{terminySzkolenBean.getSlownik('PPS_SZK_STATUS')}"
									value="#{terminySzkolenBean.terminSzkolenia.szkStatus}"
									label="Status:" />
							</div>

							<div class="ui-g-6">
								<cc:cCalendarMDesign styleClass="light-text"
									id="terminWaznosciId" label="Termin ważności szkolenia:"
									value="#{terminySzkolenBean.terminSzkolenia.szkDataWaznosci}" />
							</div>

						</div>

						<div class="ui-g padd-cc-mdesign-b20">

							<div class="ui-g-6">
								<cc:cInputTextMDesign label="Lokalizacja:"
									value="#{terminySzkolenBean.terminSzkolenia.szkLokalizacja}"
									placeholder="" />
							</div>

							<div class="ui-g-6">
								<cc:cInputTextMDesign
									label="Dodatkowa informacja o lokalizacji:"
									value="#{terminySzkolenBean.terminSzkolenia.szkAdres}"
									placeholder="" />
							</div>
						</div>
						<div class="ui-g padd-cc-mdesign-b20">
							<div class="ui-g-6">
								<cc:cInputNumberMDesign id="minUczestSzk" decimalPlaces="0"
									label="Minimalna liczba uczestników:"
									value="#{terminySzkolenBean.terminSzkolenia.szkMinUczestnikow}" />
							</div>

							<div class="ui-g-6">
								<cc:cInputNumberMDesign id="maxUczestSzk" decimalPlaces="0"
									label="Maksymalna liczba uczestników:"
									value="#{terminySzkolenBean.terminSzkolenia.szkMaxUczestnikow}" />
							</div>
						</div>

						<div class="ui-g padd-cc-mdesign-b20">
							<div class="ui-g-6">
								<cc:cInputTextMDesign id="kodSzkoleniaId" label="Kod szkolenia:"
									value="#{terminySzkolenBean.terminSzkolenia.szkSzkKod}" />
							</div>
						</div>
					</p:scrollPanel>

				</p:tab>


				<p:tab title="Wykładowcy">
					<p:scrollPanel style="height: 470px; width: 1070px;" mode="native">

						<!-- 						<p:panelGrid styleClass="gdListaWykladowcow"> -->
						<!-- 							<p:column> -->

						<!-- 								<cc:cLov lovDlgTitle="Wybór wykładowców szkolenia" -->
						<!-- 									rowsMultiSelectedAction="#{terminySzkolenBean.zapiszWykladowcow()}" -->
						<!-- 									datasource="#{terminySzkolenBean.getLW('PPL_SZK_WYKLADOWCY_LISTA')}" -->
						<!-- 									multiselect="true" showInputText="false" -->
						<!-- 									update="@(.gdWykladowcySzkolenia)" /> -->


						<!-- 							</p:column> -->

						<!-- 						</p:panelGrid> -->
						<p:panelGrid styleClass="gdWykladowcySzkolenia wykladowcy"
							style="width:100%;">
							<p:column style="width:10%; ">
								<p:outputLabel value="Numer wykładowcy"
									styleClass="pogrubiony-normal" />
							</p:column>

							<p:column style="width:10%; ">
								<p:outputLabel value="Tytuł naukowy"
									styleClass="pogrubiony-normal" />
							</p:column>

							<p:column style="width:50%; ">
								<p:outputLabel value="Wykładowca" styleClass="pogrubiony-normal" />
							</p:column>

							<p:column style="width:5%">

								<!-- 							action="#{terminySzkolenBean.ustawZaznaczeniaWykladowcow()}" -->
								<!-- 							update="@(.gdWykladowcySzkolenia) dlgWykladowcaNowy" -->
								<p:commandButton icon="add" id="btnAddWyk"
									onclick="PF('dlgWykladowcy').show();">
								</p:commandButton>

								<p:tooltip for="btnAddWyk"
									value="Dodaj wykładowców szkolenia ..." />

							</p:column>



							<ui:repeat
								value="#{terminySzkolenBean.terminSzkolenia.pptSzkWykladowcySzkolenies}"
								var="o" varStatus="status">

								<p:row>

									<p:column>
										<p:inputText id="wykId"
											value="#{terminySzkolenBean.getLW('PPL_SZK_WYKLADOWCY_LISTA').findAndFormat(o.pptSzkWykladowcy.swykId, '%1$s')}"
											styleClass="lekka-ramka" style="width:90%; height: 15px;"
											readonly="true">
											<p:ajax event="change" />
										</p:inputText>
									</p:column>

									<p:column>
										<p:inputText id="tytulNaukowyId"
											value="#{terminySzkolenBean.getLW('PPL_SZK_WYKLADOWCY_LISTA').findAndFormat(o.pptSzkWykladowcy.swykId, '%4$s')}"
											styleClass="lekka-ramka" style="width:90%; height: 15px;"
											readonly="true">
											<p:ajax event="change" />
										</p:inputText>
									</p:column>

									<p:column>
										<p:inputText id="daneWykladowcyId"
											value="#{terminySzkolenBean.getLW('PPL_SZK_WYKLADOWCY_LISTA').findAndFormat(o.pptSzkWykladowcy.swykId, '%2$s  %3$s')}"
											styleClass="lekka-ramka" style="width:90%; height: 15px;"
											readonly="true">
											<p:ajax event="change" />
										</p:inputText>
									</p:column>

									<p:column>
										<p:commandButton icon="delete" id="btnDelWyk"
											update="@(.gdWykladowcySzkolenia)" async="true"
											actionListener="#{ terminySzkolenBean.terminSzkolenia.removePptSzkWykladowcySzkoleny(o) }"
											action="#{terminySzkolenBean.lwUkryjDodanychWykladowcow()}"
											onstart="hgon()" oncomplete="hgoff()">
										</p:commandButton>
										<p:tooltip for="btnDelWyk"
											value="Usuń wykładowce ze szkolenia ..." />
									</p:column>
								</p:row>
							</ui:repeat>

						</p:panelGrid>
					</p:scrollPanel>
				</p:tab>


				<p:tab title="Uczestnicy / Koszty">

						#{terminySzkolenBean.loadEgListaWartosci('PP_PRC', [])}
						
						#{terminySzkolenBean.loadSqlData( 'sqlUczestnicySzkolen', '
							SELECT USZ_ID usz_id
							FROM PPADM.PPT_SZK_UCZESTNICY_SZKOLEN
							WHERE USZ_SZK_ID = ?
							',  [terminySzkolenBean.selectedTerminSzkoleniaId] )}

		
					<p:scrollPanel style="height: 45px; width: 1070px;" mode="native">
						<div class="ui-g ui-g-nopad" style="max-height: 30px !important">

							<div class="ui-g-2 ui-g ui-g-nopad">

								<p:outputLabel value="LP" styleClass="ui-g-4 pb0 pl20" />

								<p:outputLabel value="Nr prac." styleClass="ui-g-8 pb0 pl20" />

							</div>

							<p:outputLabel value="Pracownik" styleClass="ui-g-3 pb0 pl20" />

							<p:outputLabel value="Komórka organizacyjna"
								styleClass="ui-g-1 pb0 pl20" />

							<p:outputLabel value="Koszt pl./ucz." styleClass="ui-g-2 pb0 pl20" />

							<p:outputLabel value="Koszt rz./ucz." styleClass="ui-g-2 pb0 pl20" />


							<div class="ui-g ui-g-2 ui-g-nopad mt10">

								<div class="ui-g-4 ui-g-nopad">
									<p:outputLabel id="lblRezerwowy" value="Rez."
										styleClass="pogrubiony-normal" />
									<p:tooltip for="lblRezerwowy" value="Rezerwowy" />
								</div>

								<div class="ui-g-4 ui-g-nopad">

									<cc:cSelectBooleanCheckboxTN id="ObecnoscId"
										styleClass="uszObecnosc-tgglr Obecnosc" label="O."
										value="#{ terminySzkolenBean.zaznWszystkieObecnosci }"
										disabled="false" style="margin-right:-1px">
										<p:ajax event="change" update="@(.uszObecnosc)" />
									</cc:cSelectBooleanCheckboxTN>

									<p:tooltip for="ObecnoscId"
										value="Obecny (zaznacz nierezerwowych jako obecnych)" />

									<!-- 									<p:outputLabel value="O." styleClass="pogrubiony-normal" -->
									<!-- 										style="margin-bottom:5px; display: inline-block" /> -->

								</div>


								<div class="ui-g-4 ui-g-nopad">


									<p:commandButton id="btnDodajUSZ" icon="add"
										onstart="PF('dlgSzkDodajUczestnikow').show()" />



									<!-- 									<cc:cLov icon="add" id="btnDodajUSZ" -->
									<!-- 										lovDlgTitle="Wybór uczestników szkolenia" -->
									<!-- 										rowsMultiSelectedAction="#{terminySzkolenBean.zapiszUczestnikow()}" -->
									<!-- 										datasource="#{terminySzkolenBean.getSql('PP_PRC')}" -->
									<!-- 										multiselect="true" showInputText="false" -->
									<!-- 										update="@(.gdUczestnicySzkolenia) @(.Obecnosc)" /> -->

									<p:tooltip for="btnDodajUSZ"
										value="Dodaj uczestników szkolenia ..." />
								</div>

							</div>


						</div>
					</p:scrollPanel>


					<p:separator />


					<p:scrollPanel style="height: 330px; width: 1070px;" mode="native"
						styleClass="gdUczestnicySzkolenia">

						<ui:repeat
							value="#{terminySzkolenBean.terminSzkolenia.pptUczestnicySzkolens}"
							var="o" varStatus="status">

							<div class="ui-g ui-g-nopad" style="max-height: 35px !important">

								<div class="ui-g-2 ui-g-nopad">

									<cc:cInputTextMDesign value="#{status.index + 1}"
										readonly="true" styleClass="ui-g-4" />

									<cc:cInputTextMDesign
										value="#{terminySzkolenBean.getSql('PP_PRC').findAndFormat(o.uszPrcId, '%1$s')}"
										readonly="true" styleClass="ui-g-8" />
								</div>


								<cc:cInputTextMDesign styleClass="ui-g-3"
									value="#{terminySzkolenBean.getLW('PP_PRC').findAndFormat(o.uszPrcId, '%3$s')}"
									readonly="true" />

								<cc:cInputTextMDesign styleClass="ui-g-1"
									value="#{terminySzkolenBean.getLW('PP_PRC').findAndFormat(o.uszPrcId, '%7$s')}"
									readonly="true" />


								<cc:cInputNumberMDesign value="#{o.uszKosztPlan}"
									styleClass="ui-g-2 uszKosztProp" readonly="true" />

								<cc:cInputNumberMDesign value="#{o.uszKosztRzecz}"
									styleClass="ui-g-2 uszKosztProp" readonly="true" />


								<div class="ui-g ui-g-2 ui-g-nopad mt20">

									<cc:cSelectBooleanCheckboxTN value="#{o.uszRez}"
										update="@(.uszObecnoscpnl) @(.uszKosztProp)"
										styleClass="ui-g-4 ui-g-nopad" style=" ">

										<p:ajax event="change" partialSubmit="true" process="@this"
											listener="#{terminySzkolenBean.terminSzkolenia.recalcProporcjoanlnieKoszty}"
											update="@(.uszObecnoscpnl) @(.uszKosztProp)" async="true"
											onstart="hgon()" oncomplete="hgoff()" />

									</cc:cSelectBooleanCheckboxTN>

									<h:panelGroup id="uszObecnoscpnl" layout="block"
										styleClass="uszObecnoscpnl ui-g-4 ui-g-nopad">
										<cc:cSelectBooleanCheckboxTN
											styleClass="uszObecnosc ui-g-nopad" value="#{o.uszObecnosc}"
											rendered="#{not ('T' eq o.uszRez)}">
											<p:ajax event="change" update="@(.uszObecnosc-tgglr)" />
										</cc:cSelectBooleanCheckboxTN>
									</h:panelGroup>

									<div class="ui-g-4 ui-g-nopad">
										<p:commandButton icon="delete"
											actionListener="#{terminySzkolenBean.terminSzkolenia.removePptUczestnicySzkolen(o)}"
											action="#{terminySzkolenBean.lwUkryjDodanychUczestnikow()}"
											onstart="hgon()" oncomplete="hgoff()"
											update="@(.gdUczestnicySzkolenia)" />
									</div>

								</div>

							</div>
						</ui:repeat>

					</p:scrollPanel>

					<p:separator />
					<p:panelGrid>
					
					
					#{szkoleniaKosztyBean.loadSqlData( 'sqlKosztySzkolen', '
					SELECT PKS_ID pks_id FROM PPADM.PPT_SZK_KOSZTY_SZKOLEN WHERE PKS_SZK_ID = ?
					',  [terminySzkolenBean.selectedTerminSzkoleniaId] )}
					

						<p:row>

							<p:column>
								<cc:cInputNumberMDesign id="kosztPlanId"
									label="Planowany koszt dostawcy:"
									value="#{terminySzkolenBean.terminSzkolenia.szkKosztPlDost}"
									symbol=" PLN" symbolPosition="s">
									<p:ajax event="change" partialSubmit="true" process="@this"
										listener="#{terminySzkolenBean.terminSzkolenia.recalcProporcjoanlnieKoszty}"
										update="@(.gdUczestnicySzkolenia) @(.gdKosztySzkolenia)" />
								</cc:cInputNumberMDesign>

							</p:column>

							<p:column style="padding-left: 25px !important">
								<cc:cInputNumberMDesign id="kosztRzeczId"
									label="Planowany koszt jednostki podległej:"
									value="#{terminySzkolenBean.terminSzkolenia.szkKosztPlJPod}"
									symbol=" PLN" symbolPosition="s">
									<p:ajax event="change" partialSubmit="true" process="@this"
										listener="#{terminySzkolenBean.terminSzkolenia.recalcProporcjoanlnieKoszty}"
										update="@(.gdUczestnicySzkolenia) @(.gdKosztySzkolenia)" />
								</cc:cInputNumberMDesign>

							</p:column>

							<p:column style="padding-left: 25px !important">
								<cc:cSOMMDesign
									datasource="#{terminySzkolenBean.getSlownik('PPS_SZK_FORMA_ROZLICZENIA')}"
									value="#{terminySzkolenBean.terminSzkolenia.szkFormaRozl}"
									label="Forma rozliczenia:" width="100%" />
							</p:column>


							<p:column style="padding-left: 25px !important">
								<cc:cInputNumberMDesign id="kwotaId" label="Koszt rzeczywisty"
									value="#{terminySzkolenBean.terminSzkolenia.szkKwota}"
									symbol=" PLN" symbolPosition="s">
									<p:ajax event="change" partialSubmit="true" process="@this"
										listener="#{terminySzkolenBean.terminSzkolenia.recalcProporcjoanlnieKoszty}"
										update="@(.gdUczestnicySzkolenia)" />
								</cc:cInputNumberMDesign>

							</p:column>

							<p:column style="padding-left: 25px !important">
							
								<cc:cLOVMDesign
									label="Kod Kontrahenta (skrót): "
									lovDlgTitle="Kod Kontrahenta (skrót):"
									datasource="#{rejestrSzkolenBean.getLW('PPL_SZK_KONTRAHENCI')}"
									value="#{terminySzkolenBean.terminSzkolenia.szkKlKod}"
									lovTextFormat="%1$s (%2$s)" valueFormat="%1$s"
									readonly="#{not user.hasPermission('PP_SZKOL_ADMINISTRATOR')}"
									width="100%" />
									
							</p:column>
						</p:row>

					</p:panelGrid>

				</p:tab>

				<p:tab title="Ocena szkolenia" id="tab4">
				
					<div style="position: absolute; right: 20px; top: 53px; z-index: 9999;">
						<p:commandButton value="Raport XLS" id="raportId"
							icon="content_paste" style="min-width: 80px;"
							actionListener="#{terminySzkolenBean.raport()}"
							styleClass="ctl-home-link-menu" onclick="form.target = '_blank'"
							ajax="false"/>
					</div>

<!-- 					<p:scrollPanel style="height: 470px; width: 1070px;" mode="native"> -->
					<div style="height: 450px;">
						<cc:cLookupTable
							datasource="#{terminySzkolenBean.getLW('PPL_SZK_SREDNIE_OCENY', [ terminySzkolenBean.terminSzkolenia.szkId, '%' ])}"
						/>
					</div>
					
<!-- 						<div class="ui-g"> -->
<!-- 							<div class="ui-g-4"> -->
<!-- 								<p:outputLabel value="Oceniane:" /> -->
<!-- 							</div> -->
<!-- 							<div class="ui-g-4"> -->
<!-- 								<p:outputLabel value="Średnia ocena:" /> -->
<!-- 							</div> -->
<!-- 						</div> -->

<!-- 						<ui:repeat var="o" -->
<!-- 							value="#{terminySzkolenBean.listaAnkietyPozycje}"> -->
<!-- 							<div class="ui-g"> -->
<!-- 								<div class="ui-g-4"> -->
<!-- 									<p:outputLabel -->
<!-- 										value="#{terminySzkolenBean.getSql('nazwyOcenBezWykl').findAndFormat(o.anspTypOceny,'%2$s')}" /> -->
<!-- 								</div> -->
<!-- 								<div class="ui-g-4"> -->
<!-- 									<cc:cInputNumberMDesign readonly="true" -->
<!-- 										value="#{terminySzkolenBean.wyliczSrednia(o)}" /> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</ui:repeat> -->

<!-- 						<p:accordionPanel value="#{terminySzkolenBean.listaWykladowcow}" -->
<!-- 							var="wykl"> -->
<!-- 							<p:tab title="#{wykl.swykImie} #{wykl.swykNazwisko}"> -->
							
							
<!-- 							TODO: Oceny wykladowcow wg LW z parametrem! -->
							
<!-- 								<div class="ui-g"> -->
<!-- 									<div class="ui-g-4"> -->
<!-- 										<p:outputLabel value="Oceniane:" /> -->
<!-- 									</div> -->
<!-- 									<div class="ui-g-4"> -->
<!-- 										<p:outputLabel value="Średnia ocena:" /> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 								<ui:repeat var="o" -->
<!-- 									value="#{terminySzkolenBean.listaWykladowcyPozycje}"> -->

<!-- 									<div class="ui-g"> -->
<!-- 										<div class="ui-g-4"> -->
<!-- 											<p:outputLabel -->
<!-- 												value="#{terminySzkolenBean.getSql('nazwyOcenWykl').findAndFormat(o.anspTypOceny,'%2$s')}" /> -->
<!-- 										</div> -->
<!-- 										<div class="ui-g-4"> -->
<!-- 											<cc:cInputNumberMDesign readonly="true" -->
<!-- 												value="#{terminySzkolenBean.wyliczSrednia(o)}" /> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 								</ui:repeat> -->
							
<!-- 							</p:tab> -->

<!-- 						</p:accordionPanel> -->
						
						
<!-- 					</p:scrollPanel> -->
				</p:tab>

			</p:tabView>

		</h:form>


		<f:facet name="footer">
			<h:form id="dlgFormTerminFooter">
				<div class="dlgBottomBtnsBar">
					<h:panelGroup>
						<p:row>

							<p:column style="min-width:30px" />


							<!-- 							<p:column> -->
							<!-- 								<p:commandButton value="USUŃ" partialSubmit="true" -->
							<!-- 									action="#{terminySzkolenBean.usun()}" process="@form" -->
							<!-- 									disabled="#{terminySzkolenBean.terminSzkolenia.szkId == null}" -->
							<!-- 									oncomplete="PF('rejestrSzkolenTermin').hide();" /> -->
							<!-- 							</p:column> -->
							<p:column>
								<p:commandButton value="ZAPISZ ZMIANY" partialSubmit="true"
									process="@this dlgFormTermin"
									action="#{terminySzkolenBean.zapisz()}"
									update="@(.pnlTerm) @(.pgTerminySzkol)" onstart="hgon()"
									oncomplete="PF('rejestrSzkolenTermin').hide(); hgoff()" />
							</p:column>
						</p:row>
					</h:panelGroup>
				</div>
			</h:form>
		</f:facet>

	</p:dialog>

	<!-- position="right,top"  -->
	<!-- position="300,50" -->

	<p:dialog widgetVar="dlgSzkDodajUczestnikow"
		id="dlgSzkDodajUczestnikow" header="Dodaj uczestników szkolenia"
		appendTo="@(body)" height="550" modal="false" closeOnEscape="true"
		draggable="true" resizable="false" classStyle="ctl-dialog">


		<f:facet name="header">
			<h:form id="frmDlgSzkDodajUczestnikowHeader">
				<p:panelGrid style="width:100%">
					<p:column>
						<h:outputText value="Dodaj uczestników szkolenia" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							onclick="PF('dlgSzkDodajUczestnikow').hide();" icon="clear">
						</p:commandButton>
					</p:column>

				</p:panelGrid>
			</h:form>
		</f:facet>


		<h:form id="frmDlgSzkDodajUczestnikow" styleClass="w1100 h500">
			<p:accordionPanel id="accPis2Usz">

				<p:tab
					title="Wybierz pozycję zapisu na szkolenie (plan szkoleniowy): ">

					<div style="height: 420px">
						<cc:cLookupTable multiselect="true"
							datasource="#{terminySzkolenBean.getLW('PPL_SZK_PIS4SZK')}" />
					</div>

					<p:focus />

				</p:tab>

				<p:tab title="Wybierz pracownika (poza planem szkoleniowym): ">
					<div style="height: 420px">
						<cc:cLookupTable multiselect="true"
							datasource="#{terminySzkolenBean.getLW('PP_PRC')}" />
					</div>
					<p:focus />


					<!-- 									<cc:cLov icon="add" id="btnDodajUSZ" -->
					<!-- 										lovDlgTitle="Wybór uczestników szkolenia" -->
					<!-- 										rowsMultiSelectedAction="#{terminySzkolenBean.zapiszUczestnikow()}" -->
					<!-- 										datasource="#{terminySzkolenBean.getSql('PP_PRC')}" -->
					<!-- 										multiselect="true" showInputText="false" -->
					<!-- 										update="@(.gdUczestnicySzkolenia) @(.Obecnosc)" />					 -->

				</p:tab>

			</p:accordionPanel>
		</h:form>


		<f:facet name="footer">
			<h:form id="frmDlgSzkDodajUczestnikowFooter">
				<div class="dlgBottomBtnsBar">
					<h:panelGroup>
						<p:row>
							<p:column style="min-width:30px" />
							<!-- 							<p:column> -->
							<!-- 								<p:commandButton value="Update" partialSubmit="true" process="@this" -->
							<!-- 									update="frmDlgSzkDodajUczestnikow"/> -->
							<!-- 							</p:column> -->

							<p:column>
								<p:commandButton value="DODAJ" partialSubmit="true"
									process="@this"
									action="#{terminySzkolenBean.dodajZaznaczonychUczestnikow()}"
									onstart="showHourGlass()"
									oncomplete="hideHourGlass(); PF('dlgSzkDodajUczestnikow').hide()"
									update="@(.gdUczestnicySzkolenia) @(.chkx) @(.chkxtgglr)" />

							</p:column>

						</p:row>
					</h:panelGroup>
				</div>
			</h:form>
		</f:facet>


	</p:dialog>

</ui:composition>