<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

	<p:dialog header="Wykładowcy" height="550" width="850" 
		dynamic="true"
		widgetVar="dlgWykladowcy" appendTo="@(body)" modal="false"
		closeOnEscape="true" draggable="true" resizable="false"
		classStyle="ctl-dialog" id="dlgWykladowcy">

		<f:facet name="header">
			<h:form id="dlgWykladowcyHeader">
				<p:panelGrid style="width:100%">

					<p:column>
						<h:outputText value="Wykładowcy" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							onclick="PF('dlgWykladowcy').hide();" icon="clear">
						</p:commandButton>
					</p:column>
				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="formWykladowcyId" styleClass="height95p">
			<cc:cWykladowcy multiselect="true" styleClass="d-flex"/>
		</h:form>

		<f:facet name="footer">
			<h:form id="dlgWykladowcyFooter">
				<div class="dlgBottomBtnsBar">
					<h:panelGroup>
						<p:row>
							<p:column>
								<p:commandButton value="DODAJ" 
									action="#{terminySzkolenBean.dodajWykladowcow()}"
									onstart="hgon();"
									oncomplete="PF('dlgWykladowcy').hide(); hgoff()"
									partialSubmit="true" process="@this" 
									update="@(.wykladowcy) @(.chkx)  @(.chkxtgglr)" />
							</p:column>
						</p:row>
					</h:panelGroup>
				</div>
			</h:form>
		</f:facet>

	</p:dialog>

</ui:composition>