<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsf/composite/components">

	<p:dialog header="Dane wykładowcy" height="250" width="850" 
		dynamic="true"
		widgetVar="dlgWykladowcaNowy" appendTo="@(body)" modal="false"
		closeOnEscape="true" draggable="true" resizable="false"
		classStyle="ctl-dialog" id="dlgWykladowcaNowy">

		<f:facet name="header">
			<h:form id="dlgWykladowcaNowyHeader">
				<p:panelGrid style="width:100%">

					<p:column>
						<h:outputText value="Dane wykładowcy" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							onclick="PF('dlgWykladowcaNowy').hide();" icon="clear">
						</p:commandButton>
					</p:column>
				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="formWyklId">


			<div class="ui-g">
				<div class="ui-g-6">

					<c:cInputTextMDesign label="Imię:"
						value="#{wykladowcyBean.wykladowca.swykImie}">
						<p:ajax event="change" />
					</c:cInputTextMDesign>

				</div>
				<div class="ui-g-6">

					<c:cInputTextMDesign label="Nazwisko:"
						value="#{wykladowcyBean.wykladowca.swykNazwisko}">
						<p:ajax event="change" />
					</c:cInputTextMDesign>

				</div>
				<div class="ui-g-6">

					<c:cInputTextMDesign label="Stopień naukowy:"
						value="#{wykladowcyBean.wykladowca.swykStopienNauk}">
						<p:ajax event="change" />
					</c:cInputTextMDesign>

				</div>
				<div class="ui-g-6">

					<c:cInputTextMDesign label="Tytuł naukowy:"
						value="#{wykladowcyBean.wykladowca.swykTytul}">
						<p:ajax event="change" />
					</c:cInputTextMDesign>

				</div>


			</div>
		</h:form>
		<f:facet name="footer">
			<h:form id="dlgWykladowcaNowyFooter">
				<div class="dlgBottomBtnsBar">
					<h:panelGroup>
						<p:row>
							<p:column>
								<p:commandButton value="Zapisz" partialSubmit="true"
									actionListener="#{wykladowcyBean.zapisz()}"
									process="@this formWyklId" update="template_growl" />
							</p:column>
						</p:row>
					</h:panelGroup>
				</div>
			</h:form>
		</f:facet>

	</p:dialog>

</ui:composition>