<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista wniosków o aktualizacje danych" />

		<ui:define name="egr_content">

			<h:form id="frmNorth" styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20">

				<p:commandButton icon="add" value="Nowy wniosek"
								 action="#{v.redirectTo('WniosekAktualizacja')}"
								 styleClass="granatowy mr10 bsh1gray"  />

			</h:form>

			<h:form styleClass="bg-fff m20i p20 bsh2black flex-1">

				<cc:cLookupTable
						datasource="#{v.getLW('PPL_WNIOSKI_AKL_DANYCH')}"
						editRowPage="WniosekAktualizacja"
				/>

			</h:form>

		</ui:define>
	</ui:composition>
</body>
</html>