<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
    <ui:composition
            template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
        <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
        <ui:param name="formName" value="Wniosek o aktualizację danych"/>
        <ui:param name="ccMDesignAjaxDefault" value="true"/>
        <ui:define name="egr_content">

            <ui:include
                    src="/WEB-INF/protectedElements/Dialogs/Pracownik/dlgWybierzPozycjeWnioskuAktualizacjiDanych.xhtml"/>


                <h:form id="frmTMnu" styleClass="bg-fff bsh1gray p5 pl20 pr20">
                    <div style="margin: 0 auto; max-width: 800px;">

                        <p:commandButton value="zapisz" id="zapiszId" icon="save"
                                         style="min-width:80px" styleClass="granatowy ml10 bsh1gray"
                                         actionListener="#{aktualizacjaDanychBean.zapisz()}"
                                         process="@form frmWniosek"
                                         update="template_growl"
                                         partialSubmit="true"
                        />

                        <p:commandButton value="usuń" id="usunId" icon="delete"
                                         style="min-width:80px" styleClass="granatowy ml10 bsh1gray"
                                         actionListener="#{aktualizacjaDanychBean.usun()}"
                                         process="@form"
                                         update="template_growl"
                                         partialSubmit="true"
                                         disabled="#{aktualizacjaDanychBean.wniosek.wadId == null or aktualizacjaDanychBean.wniosek.wadId == 0}"
                        />


                        <cc:cObiegCzynnosci id="obiegWnk" styleClass="granatowy ml10 bsh1gray"
                                            idEncji="#{aktualizacjaDanychBean.wniosek.wadId}"
                                            kategoriaObiegu="WN_AKT_DANYCH"
                        />


                        <cc:cZalacznikiButton styleClass="granatowy ml10 bsh1gray"
                                dlgTitle="Załączniki wniosek o aktualizację danych:"
                                zalFkId="#{aktualizacjaDanychBean.wniosek.wadId}"
                                zalFkFieldName="ZAL_WAD_ID"/>

                    </div>

                </h:form>






                <h:form id="frmWniosek" styleClass="flex-1 d-flex-column ov-y-auto p20">

                    <div id="wnk" class="bg-fff p20 border bsh15slategray mmw750 d-flex-column mautoi mt10i mb10i">

                            <p:outputLabel styleClass="fs20" value="Dane wniosku"/>
                            <p:separator styleClass="w100p"/>

                            <cc:cPracownikInfo
                                    styleClass="pl0 pt30"
                                    prcId="#{aktualizacjaDanychBean.wniosek.wadPrcId}"
                                    showPesel="true"
                                    showWydzial="true"
                                    showDepartament="false"
                                    labelWydzial="Jednostka organizacyjna:"
                                    labelsColumnStyleClass="w120"
                                    showKsTelInfo="false"
                                    showAdres="false"
                            />




                            <ui:param name="lwRodzajeWniosku"
                                      value="#{aktualizacjaDanychBean.getSL('WN_AKT_DANYCH')}"/>

                            <cc:cLOVMDesign id="lvrw" styleClass="p0 pt30"
                                            label="Rodzaj wniosku"
                                            placeholder="Wybierz rodzaj aktualizowanych danych"
                                            datasource="#{lwRodzajeWniosku}"
                                            value="#{aktualizacjaDanychBean.wniosek.wadRodzaj}"

                                            lovTextFormat="%wsl_opis$s"
                                            disabled="#{aktualizacjaDanychBean.wniosek.pptWnioskiAktualizPozycjes.size() gt 0}"
                                            required="true"
                            />


                            <ui:param name="rRodzajWniosku"
                                      value="#{aktualizacjaDanychBean.getSL('WN_AKT_DANYCH').find( aktualizacjaDanychBean.wniosek.wadRodzaj  ) }"/>

                            <cc:cLOVMDesign id="lvrnfid" styleClass="p0 pt30"
                                            rendered="#{rRodzajWniosku.get('wsl_wartosc_max') != null}"
                                            label="#{rRodzajWniosku.get('wsl_opis3')}"
                                            datasource="#{aktualizacjaDanychBean.getLW( rRodzajWniosku.get('wsl_wartosc_max') )}"
                                            value="#{aktualizacjaDanychBean.wniosek.wadInfId}"
                                            lovTextFormat="#{ rRodzajWniosku.get('wsl_alias3') }"
                                            required="true"
                            />


                        <h:panelGroup styleClass="p0 mt20 mb20 d-flex a-i-start" style="position: relative">


                            <cc:cInputTextAreaMDesign
                                    id="taUzasadnienie"
                                    styleClass="p0 flex-1"
                                    value="#{aktualizacjaDanychBean.wniosek.wadOpis}"
                                    placeholder="Szczegółowy opis aktualizowanych danych"
                                    label="Opis / Uzasadnienie wniosku"
                                    required="#{'INNE' eq  aktualizacjaDanychBean.wniosek.wadRodzaj}"
                            />

<!--                                    style="z-index:999; position:absolute; right:0px; top:5px;"-->
                            <cc:cLovButtonJS styleClass="ml-45i"
                                    datasource="#{v.getSL('WN_AKT_DANYCH_UZASADNIENIA')}"
                                    rowSelectedAction="#{aktualizacjaDanychBean.wniosek.setWadOpisDR}"
                            />

                        </h:panelGroup>

                    </div>





                    <h:panelGroup id="wadp1" styleClass="bg-fff p20 border bsh15slategray mmw750 d-flex-column mautoi mt10i mb10i">


                        <div class="d-flex w100p">
                            <p:outputLabel styleClass="fs20 ui-g-11" value="Pozycje wniosku"/>

                            <p:commandButton icon="add"
                                             id="btnDodaj"
                                             styleClass="mlauto"
                                             title="Dodaj pozycję wniosku od aktualizacji"
                                             partialSubmit="true" process="@this"
                                             onclick="PF('dlgPozycjeAktualizacji').show()"
                                             disabled="#{'INNE' eq  aktualizacjaDanychBean.wniosek.wadRodzaj}"
                            />

                        </div>

                        <p:separator styleClass="w100p p0 m0"/>


                        <ui:repeat id="rpt1" var="wniosekPozycja"
                                   value="#{aktualizacjaDanychBean.wniosek.pptWnioskiAktualizPozycjes}">

                            <div class="w100p d-flex p0 pb5 pt5">

                                <ui:param name="lwpoz"
                                          value="#{v.getLW('PPL_AKT_DANYCH_WSL', aktualizacjaDanychBean.wniosek.wadPrcId, aktualizacjaDanychBean.wniosek.wadInfId, aktualizacjaDanychBean.wniosek.wadRodzaj )}"/>

                                <ui:param name="rpoz" value="#{lwpoz.find( wniosekPozycja.wadpRodzaj )}"/>

                                <div class="flex-700 pr20 p0">

                                    <cc:cInputTextMDesign
                                            label="#{rpoz.format( '%wsl_opis$s (aktualnie: %aktualna_wartosc$s)' ) }:"
                                            value="#{wniosekPozycja.wadpWartosc}"
                                            placeholder="wpisz wartość"
                                            rendered="#{ 'VARCHAR2'   eq  rpoz.format( '%wsl_typ$s') }"
                                    />

                                    <cc:cInputNumberMDesign
                                            label="#{rpoz.format( '%wsl_opis$s (aktualnie: %aktualna_wartosc$s)' ) }:"
                                            value="#{wniosekPozycja.wadpWartoscNumber}"
                                            decimalPlaces="0"
                                            placeholder="wpisz wartość (liczbę)"
                                            rendered="#{ 'NUMBER'   eq   rpoz.format( '%wsl_typ$s') }"
                                    />

                                    <cc:cCalendarMDesign
                                            label="#{rpoz.format( '%wsl_opis$s (aktualnie: %aktualna_wartosc$s)' ) }:"
                                            value="#{wniosekPozycja.wadpWartoscDate}"
                                            rendered="#{ 'DATE'   eq   rpoz.format( '%wsl_typ$s') }"
                                    />


                                    <cc:cLOVMDesign
                                            label="#{rpoz.format( '%wsl_opis$s' ) }:"
                                            datasource="#{v.getLW(    rpoz.format( '%lw$s')   )}"
                                            value="#{wniosekPozycja.wadpWartosc}"
                                            lovTextFormat="%2$s"
                                            rendered="#{ 'LW'   eq   rpoz.format( '%wsl_typ$s') }"
                                    />

                                </div>

                                <p:commandButton icon="delete"
                                                 styleClass="mlauto"
                                                 actionListener="#{aktualizacjaDanychBean.wniosek.removePptWnioskiAktualizPozycje(wniosekPozycja)}"
                                                 process="@this frmWniosek"
                                                 partialSubmit="true"
                                                 rendered="#{aktualizacjaDanychBean.wniosek.pptWnioskiAktualizPozycjes.size() gt 0}"
                                />

                            </div>

                        </ui:repeat>

                    </h:panelGroup>








                    <ui:param name="drRegulamin" value="#{v.getSlownik('WN_AKT_DANYCH_KONFIGURACJA').find('URL_REGULAMIN')}"/>

                    <h:panelGroup  styleClass="bg-fff p20 border m10 bsh15slategray mmw750 d-flex-column mautoi mt10i mb10i"
                                      rendered="#{not empty drRegulamin}">

                        <p:separator styleClass="ui-g-12 p0 mt10"/>

                        <div class="ui-g-12 center ">
                            <cc:cSelectBooleanCheckboxTN
                                    styleClass="ui-g-12"
                                    label="#{drRegulamin.get('rv_abbreviation')}"
                                   value="#{aktualizacjaDanychBean.wniosek.wadFZgodaRegulamin}"
                            />
<!--                                partialSubmit="true" process="@this"-->
                            <br/>

                            <h:outputLink
                                    value="#{drRegulamin.get('rv_meaning')}"
                                    target="_blank"
                                    title="pokaż w nowej zakładce przeglądarki"
                            >
                                <h:outputText value="#{drRegulamin.get('rv_meaning')}" />
                            </h:outputLink>
                        </div>

                        <p:separator styleClass="ui-g-12 p0 mb10"/>

                    </h:panelGroup>

                </h:form>

        </ui:define>
    </ui:composition>


</h:body>
</html>
