<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista wniosków urlopowych" />

		<ui:define name="egr_content">

			<h:form id="frmDane" styleClass="bg-fff bsh2black m20i p20 flex-1">

				<p:accordionPanel id="listaWnioskow" dynamic="false">

					<p:tab id="urlopyMoje" title="Moje wnioski urlopowe">
						<div class="d-flex-1">
							<c:cLookupTable
									datasource="#{listaWniskowUrlopowychBean.getLW('PPL_URL_LISTA_MOICH', user.prcIdLong)}"
									height="calc(100vh - 175px)"
									/>
						</div>
					</p:tab>

					<p:tab id="urlopyPodwladnych" title="Wnioski urlopowe do akceptacji"
						   rendered="#{listaWniskowUrlopowychBean.getLW('PP_URL_LISTA_PRC_Z_WN', user.prcId, user.dbLogin, user.prcId, user.prcId ).data.size() gt 0}">

						<div class="d-flex-1">
							<c:cLookupTable fillwidthcolumn="true" virtualScroll="false" height="calc(100vh - 175px)"
								datasource="#{listaWniskowUrlopowychBean.getLW('PP_URL_LISTA_PRC_Z_WN', user.prcId, user.dbLogin, user.prcId, user.prcId )}"
								onRowSelected="#{listaWniskowUrlopowychBean.loadLW('PP_URL_WNIOSKI',   [row.get('pp_prc_id'), row.get('pp_prc_id'), user.prcId, user.dbLogin, user.prcId ] )}" >

								<p:column exportable="false" width="20">
									<p:rowToggler />
								</p:column>

								<p:rowExpansion>
								#{listaWniskowUrlopowychBean.loadLW('PP_URL_WNIOSKI',  [row.get('pp_prc_id'), row.get('pp_prc_id'), user.prcId, user.dbLogin, user.prcId ] )}
									<div style="width:98%">
										<c:cLookupTable height="420px" showSearchField="true"  styleClass="clkptbl-h250" scrollHeight="250"
												insertChildrenFirst="false"
												datasource="#{listaWniskowUrlopowychBean.loadedLW('PP_URL_WNIOSKI')}">

											<!-- <p:column style="width:100px!important"
											rendered="#{(row.get('UPRW_STATUS') == null or row.get('UPRW_STATUS') lt 10 and row.get('UPRW_STATUS') gt -1) and user.hasPermission('PP_URL_ZATWIERDZ') }"
											>
												<p:commandButton styleClass="granatowy" id="btnZatwierdz"
													kuid="btnzatwierdz"
													rendered="#{(row.get('UPRW_STATUS') == null or row.get('UPRW_STATUS') lt 10 and row.get('UPRW_STATUS') gt -1) and user.hasPermission('PP_URL_ZATWIERDZ') }"
													actionListener="#{listaWniskowUrlopowychBean.getSql('PP_URL_WNIOSKI').resetTs() }"
													action="#{listaWniskowUrlopowychBean.zatwierdzWniosek(row, 'jeden')}"
													value="akceptuj" widgetVar="btnZatwierdz" ajax="true"
													update="dane" icon="check">
												</p:commandButton>
												<p:outputLabel style="color:green" value="zaakceptowano"
													rendered="#{(row.get('UPRW_STATUS') eq 10) and user.hasPermission('PP_URL_ZATWIERDZ')}" />
											</p:column> -->

											<p:column style="width:150px!important" headerText=" " width="80">
												<p:commandButton styleClass="granatowy"
													id="btnZatwierdzOstatecznie" kuid="btnzatwierdzwcalosci"
													rendered="#{(row.get('UPRW_STATUS') == null or row.get('UPRW_STATUS') lt 10 and row.get('UPRW_STATUS') gt -1) and row.get('pp_prc_id') != user.prcId}"
													actionListener="#{listaWniskowUrlopowychBean.getSql('PP_URL_WNIOSKI').resetTs() }"
													action="#{listaWniskowUrlopowychBean.zatwierdzWniosek(row, 'calosc')}"
													value="zatwierdź"
													widgetVar="btnZatwierdz"
													ajax="true" update="dane" icon="check">
												</p:commandButton>
												<p:outputLabel style="color:green" value="zatwierdzono"
													rendered="#{(row.get('UPRW_STATUS') eq 10)}" />
											</p:column>

											<p:column style="width:100px!important" headerText=" " width="80">
											<!-- actionListener="#{listaWniskowUrlopowychBean.getSql('PP_URL_WNIOSKI').resetTs() }" -->
												<p:commandButton styleClass="granatowy" id="btnOdrzuc"
													kuid="btnodrzuc"
													rendered="#{(row.get('UPRW_STATUS') == null or row.get('UPRW_STATUS') lt 10) and (not (row.get('UPRW_STATUS') eq -1))}"
													oncomplete="PF('dlgUwagaDoAnulowaniaWniosku').show();"
													action="#{listaWniskowUrlopowychBean.setUprwIdDoOdrzucenia(row.get('pp_id'))}"
													value="odrzuć"
													widgetVar="btnOdrzuc"
													ajax="true"
													partialSubmit="true"
													process="@this"
													update="dlgUwagaDoAnulowaniaWniosku"
													icon="cancel">
												</p:commandButton>
												<p:outputLabel style="color:red" value="odrzucono"
													rendered="#{row.get('UPRW_STATUS') eq -1 and row.get('pp_opis') eq null}" />
												<p:outputLabel id="odrz" style="color:red" value="odrzucono, powód: #{row.get('pp_opis')}"
													rendered="#{row.get('UPRW_STATUS') eq -1 and not(row.get('pp_opis') eq null)}" />
												<p:tooltip for="odrz"
													value="odrzucono, powód: #{row.get('pp_opis')}"/>
											</p:column>

										</c:cLookupTable>
									</div>
								</p:rowExpansion>

							</c:cLookupTable>
						</div>

					</p:tab>
				</p:accordionPanel>

			</h:form>

			<ui:include src="/WEB-INF/protectedElements/Dialogs/Urlopy/dlgUwagaDoAnulowaniaWniosku.xhtml" />

		</ui:define>
	</ui:composition>
</body>
</html>