<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista planów urlopowych" />

		<ui:define name="egr_content">

			<h:form id="frmTMnu" styleClass="pp-bg-lp-north-b-white-b-v pb5 pl20 pr20">

				<p:selectOneMenu styleClass="bor-bottom normal-16" id="somY"
					value="#{listaRocznyPlanUrlBean.rok}"
					style="width:70px; margin-left: 0;">
					<f:selectItems value="#{listaRocznyPlanUrlBean.lata}" />
					<p:ajax update="frmDane" delay="10" />
				</p:selectOneMenu>

			</h:form>

			<h:form id="frmDane" styleClass="bg-fff m20i p20 bsh2black flex-1">

				<p:accordionPanel id="accUrlPlan" widgetVar="accUrlPlan" dynamic="false">
					<p:tab id="tabUrlPlan">
						<div class="d-flex-1">
							<f:facet name="title">
								<div class="d-flex align-items-center">
									<h:outputLabel value="Plany urlopowe pracowników" style="color: black;"/>
									<p:commandLink id="raportWsz"
												ajax="false"
												process="@this" partialSubmit="true"
												style="text-decoration: none; color: black;"
												actionListener="#{listaRocznyPlanUrlBean.raportWszyscy()}"
												immediate="true"
												target="_blank"
												styleClass="p0 m0"
									>
										<i class="material-icons pp-commandbutton-icon">picture_as_pdf</i>
									</p:commandLink>
								</div>

							</f:facet>

							<div class="d-flex-1 width100p" style="height: calc(100vh - 230px);">
								<cc:cLookupTable
									datasource="#{listaRocznyPlanUrlBean.getLW('PPL_URLOPY_PLANOWANE', user.prcIdLong , user.dbLogin , listaRocznyPlanUrlBean.rok)}"
									height="calc(100vh - 230px)"
									value="#{listaRocznyPlanUrlBean.selectedPracownikId}"
									onRowSelected="#{listaRocznyPlanUrlBean.setSelectedPracownik( listaRocznyPlanUrlBean.selectedPracownikId )}; PF('accUrlPlan').select(1);"
									update="frmDane:accUrlPlan"
									insertChildrenFirst="false"
									>

									<p:column width="280">
										<p:commandButton styleClass="granatowy"
											id="btnZatwierdz"
											rendered="#{(row.get('URPL_STATUS') eq 'N')}"
											actionListener="#{listaWnioskowBean.getLW('PPL_URLOPY_PLANOWANE').resetTs() }"
											action="#{listaRocznyPlanUrlBean.zatwierdzPlan(row.get('pp_prc_id'), listaRocznyPlanUrlBean.rok)}"
											value="zatwierdź roczny plan urlopowy"
											ajax="true" update="frmDane" icon="check">
										</p:commandButton>
										<p:outputLabel style="color:green" value="zatwierdzono"
											rendered="#{(row.get('URPL_STATUS') eq 'Z')}" />
									</p:column>

									<p:column width="150">
										<p:commandButton styleClass="granatowy" id="btnOdrzuc"
											rendered="#{(row.get('URPL_STATUS') eq 'N')}"
											oncomplete="PF('dlgUwagaDoAnulowaniaPlanu').show();"
											action="#{listaRocznyPlanUrlBean.setSelectedPracownik( row.get('pp_prc_id') )}"
											value="odrzuć"
											update="dlgUwagaDoAnulowaniaPlanu"
											icon="cancel">
										</p:commandButton>
										<p:outputLabel style="color:red" value="odrzucono"
											rendered="#{row.get('URPL_STATUS') eq 'O'}" />
									</p:column>

								</cc:cLookupTable>
							</div>
						</div>
					</p:tab>

					<p:tab id="tabUrlTerminy" >
						<div class="d-flex-1">
							<f:facet name="title">
								<div class="d-flex align-items-center">
									<h:outputLabel id="lblPrcData"
												   value="Planowane urlopy #{listaRocznyPlanUrlBean.selectedPracownik eq null  ? '' : listaRocznyPlanUrlBean.selectedPracownik.get('pp_pracownik')}"
												   style="color: black"/>

									<p:commandLink id="raportPrac"
										ajax="false"
										process="@this" partialSubmit="true"
										style="text-decoration: none; color: black;"
										actionListener="#{listaRocznyPlanUrlBean.raportPracownik()}"
										immediate="true"
										target="_blank"
										rendered="#{not(listaRocznyPlanUrlBean.selectedPracownik eq null)}"
										styleClass="p0"
										>
										<i class="material-icons pp-commandbutton-icon" style="font-size: null;">picture_as_pdf</i>
									</p:commandLink>
								</div>
							</f:facet>

							<div class="d-flex-1 width100p" style="height: calc(100vh - 230px);">
								<cc:cLookupTable styleClass="prcdata"
									datasource="#{listaRocznyPlanUrlBean.getLW('PPL_URLOPY_PLANOWANE_PRC', listaRocznyPlanUrlBean.selectedPracownikId , listaRocznyPlanUrlBean.rok)}"
									height="calc(100vh - 230px)"
									/>
							</div>
						</div>
					</p:tab>
				</p:accordionPanel>

			</h:form>

			<ui:include src="/WEB-INF/protectedElements/Dialogs/Urlopy/dlgUwagaDoAnulowaniaPlanu.xhtml" />

		</ui:define>
	</ui:composition>
</body>
</html>