<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Nieobecności" />

		<ui:define name="egr_content">

			<h:form styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20">

				<p:commandButton value="drukuj" icon="print"
					style="min-width:80px" styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'">
					<p:printer target="printContent1" />

				</p:commandButton>

			</h:form>

			<div class="d-flex-1 p20 bg-lgrey">
				<h:form id="formAbsencjeData" styleClass="width100p">

					<p:selectOneMenu value="#{pracownikAbsencjeSqlBean.year}"
									 id="yearsDropdownNieob" style="width: 100px;"
									 styleClass="mb10">
						<f:selectItems value="#{pracownikAbsencjeSqlBean.years}" />
						<p:ajax update="formAbsencjeData" delay="500" onstart="hgon()" oncomplete="hgoff()"/>
					</p:selectOneMenu>

					#{pracownikAbsencjeSqlBean.loadEgListaWartosci('PP_PRC_NIEOBECNOSCI',
					[sessionBean.prc_id, pracownikAbsencjeSqlBean.year])}

					<div class="bg-white d-flex-1" style="width: calc(100% - 40px); margin: 0; height: calc(100vh - 150px)">
						<cc:cLookupTable height="calc(100vh - 145px)"
							datasource="#{pracownikAbsencjeSqlBean.getSql('PP_PRC_NIEOBECNOSCI')}"
							notActiveList="true">
						</cc:cLookupTable>
					</div>

				</h:form>
			</div>

			<ui:include
				src="/WEB-INF/protectedElements/Wydruki/common/wydrukNieobecnosci.xhtml" />
		</ui:define>

	</ui:composition>

</h:body>

</html>
