<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>

</f:metadata>

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Roczny plan urlopowy" />

		<ui:define name="egr_content">

			<ui:include
				src="/WEB-INF/protectedElements/Dialogs/Narzedzia/dlgWczytywanieDanych.xhtml">
			</ui:include>

				<div class="ui-g ui-g-nopad" style="background: white; height: 100vh;">

						<div class="ui-g-9 ui-xl-8 ui-g-nopad" style="height: 100%; overflow-y: scroll; overflow-x: hidden">
							<ui:include src="/faces/Urlopy/RocznyPlanKalendarzSTD.xhtml"></ui:include>
						</div>

						<div class="d-flex-column ui-g-3 ui-xl-4 ui-g-nopad"
							 style="padding:20px; height: 100%; overflow-y: scroll; overflow-x: hidden">

							<p:outputLabel value="Planowanie / usuwanie urlopu:"
										   styleClass="pogrubiony"
										   style="margin-bottom: 15px;"/>

							<h:form id="formFltrYr"
								styleClass="ui-g-v-center">

								<p:outputLabel for="somY" value="rok:"/>

								<p:selectOneMenu styleClass="bor-bottom normal-16 mr20 pt0" id="somY"
												 value="#{rokPlanUrlopBeanSTD.rok}"
												 style="width:70px; margin-left: 0;">
									<f:selectItems value="#{rokPlanUrlopBeanSTD.lata}" />
									<p:ajax update="formData" />
									<p:ajax update="formData formPlanuj" delay="10" />
								</p:selectOneMenu>

							</h:form>

							<div style="height: calc(20vh)"></div>

							<h:form id="formPlanuj"
								style="padding-top: 30px !important;">

								<cc:cCalendarMDesign styleClass="clndr-wnioskiUrl mw250" id="dtOd"
													 label="od:" value="#{rokPlanUrlopBeanSTD.urlop.urplDataOd}"
													 placeholder="rrrr-mm-dd"
													 dateFormat="yyyy-MM-dd"
													 mask =     "9999-99-99"
													 minDate="#{rokPlanUrlopBeanSTD.dateSerial(rokPlanUrlopBeanSTD.rok, 1, 1)}"
													 maxDate="#{rokPlanUrlopBeanSTD.dateSerial(rokPlanUrlopBeanSTD.rok, 12, 31)}">

									<p:ajax event="dateSelect" update="formData:clndrY"
											process="formPlanuj" />

									<p:ajax event="keyup" update="formData:clndrY"
											process="formPlanuj" />

								</cc:cCalendarMDesign>

								<cc:cCalendarMDesign styleClass="clndr-wnioskiUrl mw250" id="dtDo"
													 label="do:" value="#{rokPlanUrlopBeanSTD.urlop.urplDataDo}"
													 placeholder="rrrr-mm-dd"
													 dateFormat="yyyy-MM-dd"
													 mask =     "9999-99-99"
													 minDate="#{rokPlanUrlopBeanSTD.dateSerial(rokPlanUrlopBeanSTD.rok, 1, 1)}"
													 maxDate="#{rokPlanUrlopBeanSTD.dateSerial(rokPlanUrlopBeanSTD.rok, 12, 31)}">

									<p:ajax event="dateSelect" update="formData:clndrY"
											process="formPlanuj" />

									<p:ajax event="keyup" update="formData:clndrY"
											process="formPlanuj" />

								</cc:cCalendarMDesign>

								<cc:cLOVMDesign
										id="roUrlopu"
										label="Rodzaj urlopu"
										tooltip="Rodzaje urlopów z wprowadzonym limitem"
										lovDlgTitle="Wybór typu urlopu"
										datasource="#{rokPlanUrlopBeanSTD.getLW('PPL_PLANY_LIMIT_STD', user.getPrcId(), rokPlanUrlopBeanSTD.rok)}"
										value="#{rokPlanUrlopBeanSTD.urlop.urplTyp}"
										lovTextFormat="%rda_nazwa$s"
										update="formPlanuj"
								/>

								<div class="d-flex-column" style="margin-top: 35px;">
									<div class="p5">
										<p:outputLabel value="Łącznie dni: " styleClass="normal-13" />
										<p:outputLabel id="liczbaDni"
													   value="#{rokPlanUrlopBeanSTD.liczbaDniWniosekLacznie}"
													   styleClass="lighter-text" />
									</div>
									<div class="p5">
										<p:outputLabel value="Pozostało do wykorzystania: "
													   styleClass="normal-13" />
										<p:outputLabel id="liczbaDniDoWykorzystania"
													   value="#{rokPlanUrlopBeanSTD.pozostaloDni gt 0 ? rokPlanUrlopBeanSTD.pozostaloDni  : 0}"
													   styleClass="lighter-text" />
									</div>
									<div class="p5">
										<p:outputLabel value="Do zaplanowania na rok: " styleClass="normal-13" />
										<p:outputLabel id="liczbaDniDoWykorzystaniaNaRok"
													   value="#{rokPlanUrlopBeanSTD.liczbaDniNaRok}"
													   styleClass="lighter-text" />
									</div>
								</div>
								<div class="d-flex" style="margin-top: 30px;">
									<p:commandButton styleClass="granatowy m5" id="btnPlanujUrlop"
													 disabled="#{rokPlanUrlopBeanSTD.urlop.urplId > 0}"
													 value="planuj urlop" widgetVar="btnPlanujUrlopVW"
													 update="formData formPlanuj formFltrYr"
													 actionListener="#{rokPlanUrlopBeanSTD.zapiszNowyUrlOdDo()}"
													 icon="add_box">
										<p:ajax update="formData" delay="10"></p:ajax>
									</p:commandButton>
									<p:commandButton styleClass="granatowy m5" id="btnOdPlanujUrlop"
													 disabled="#{rokPlanUrlopBeanSTD.urlop.urplId eq 0}"
													 value="usuń urlop" widgetVar="btnUsunUrlop" ajax="true"
													 update="formData formPlanuj formFltrYr"
													 actionListener="#{rokPlanUrlopBeanSTD.odplanujUrlopOdDo()}"
													 icon="delete">
										<!-- 												icon="fa fa-minus-square" -->
										<p:ajax update="formData" delay="10"></p:ajax>
									</p:commandButton>
								</div>
								<p:panelGrid style="margin-top: 30px;" rendered="#{not('' eq rokPlanUrlopBeanSTD.uwaga)}">
									<br/>
									<cc:cInputTextAreaMDesign id="uzasadnienie" width="400"
															  label="Uzasadnienie odrzucenia planu urlopowego przez przełożonego"
															  value="#{rokPlanUrlopBeanSTD.uwaga}"
															  readonly="true"
															  styleClass="lekka-ramka uwaga" rows="2"/>
								</p:panelGrid>

							</h:form>
							
							<br/>

							<h:form>
							
								<div>
									<p:accordionPanel activeIndex="-1">
												<p:tab title="Legenda">
												
													<br/>
													<p:outputLabel value="Plany urlopowe" styleClass="fs20" /><br/>
													<p:outputLabel value="wniosek/odrzucony/zatwierdzony" />
													<br /><div style="width:100%; border: 1px solid lightgray"></div>
													<h:panelGroup id="lwn">
				
														<p:repeat
															value="#{rokPlanUrlopBeanSTD.getLW('PPL_PLANY_LIMIT_STD', user.getPrcId(), rokPlanUrlopBeanSTD.rok).data}"
															var="r">
				
															<ui:param name="kolor" value="" />
															
															<h:panelGroup styleClass="wniosek o-#{r.get('RDA_KOD')}" >
																<h:outputText value="#{r.get('RDA_KOD')}"  style="margin:auto!important" />
															</h:panelGroup>
															
															<p:spacer width="10" />
				
															<h:panelGroup  styleClass="wniosek n-#{r.get('RDA_KOD')}" >
																<h:outputText value="#{r.get('RDA_KOD')}"  style="margin:auto!important" />
															</h:panelGroup>
															
															<p:spacer width="10" />
				
															<!-- <h:outputText value="#{r.get('RDA_KOD')}" 
																styleClass="wniosek o-#{r.get('RDA_KOD')}" />
															<p:spacer width="10" /> -->
				
															<h:panelGroup  styleClass="wniosek t-#{r.get('RDA_KOD')}">
																<h:outputText value="#{r.get('RDA_KOD')}" style="margin:auto!important" />
															</h:panelGroup>		
															
															<p:spacer width="10" />
				
															<h:outputText value="#{r.get('RDA_NAZWA')}" />
															
															<br />
															
														</p:repeat>
													
													</h:panelGroup>
													
													<div style="width:100%; border: 1px solid lightgray"></div>
													
												</p:tab>
									</p:accordionPanel>
								</div>						
							
							</h:form>
						
						</div>

				</div>
			
<h:outputStylesheet>

	span.zRP,
	    div.ui-datepicker-group > table > tbody > tr > td.cday.zRP > a {
	    	opacity: 0.8;
			//background-color: #F4E3AA;
			padding: 1px !important;
		    border-radius: 20% !important;  
		}

	<ui:repeat 	value="#{rokPlanUrlopBeanSTD.getLW('PPL_PLANY_LIMIT_STD', user.getPrcId(), rokPlanUrlopBeanSTD.rok).data}" var="r">
		<ui:param name="kolorek" value="#{rokPlanUrlopBeanSTD.mapujBySL('PPS_ABS_KOLORY', r.get('RDA_KOD'), 'lightgray')}" />
		<ui:param name="cssClass" value="#{r.get('RDA_KOD')}" />	
			
		<!-- wniosek złożony i nie rozpatrzony -->
		span.o-#{cssClass},
	    div.ui-datepicker-group > table > tbody > tr > td.cday.o-#{cssClass} > a {
	    	opacity: 1.0;
			background-color: #{kolorek};
			padding: 1px !important;
		    border-radius: 20% !important;   
		    box-shadow: 3px 3px 3px #888888 !important; 
		    color: white: important;
		}


		<!-- wniosek odrzucony -->
		span.n-#{cssClass},
		div.ui-datepicker-group > table > tbody > tr > td.cday.n-#{cssClass} > a {
			opacity: 0.4; 
			background-color: #{kolorek};
			padding: 1px !important;
		    border-radius: 20% !important;  
		    border: 2px solid red!important;
		    box-shadow: 3px 3px 3px #888888 !important; 	
		    color: white: important;	    
		}

		
 		<!--wniosek procedowany/oczekujacy -->
<!--		span.o-#{cssClass},
		div.ui-datepicker-group > table > tbody > tr > td.cday.o-#{cssClass} > a {
			opacity: 0.6; 
			background-color: #{kolorek};
			padding: 1px !important;
		    border-radius: 20% !important;
		    border: 2px solid green!important;  
		} -->



		<!-- wniosek zatwierdzony ale jeszcze bez absencji w EGR (co moze sie zdażyć w wyniku błedu w kodzie przepisujacym wniosek do EGR po zatwierdzeniu)  -->
		span.t-#{cssClass},
		div.ui-datepicker-group > table > tbody > tr > td.cday.t-#{cssClass} > a {
			opacity: 1.0; 
			background-color: #{kolorek};
			padding: 1px !important;
		    border-radius: 20% !important;  
		    border: 2px solid black!important;
		}

		

		

	
	</ui:repeat>
	




</h:outputStylesheet>
			
		</ui:define>
	</ui:composition>

</h:body>

</html>
