<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">


<f:metadata>

</f:metadata>

<h:body>


	<div id="clndrCntnr" class="cc-mdesign">




		<h:form id="formData">

			<script type="text/javascript">
			
			var blueDays = '#{wnUrlopowyBean2.blueDays()}';

			var absencjeDays = '#{wnUrlopowyBean2.absencjeDays()}';
			
			var lightBlueDays = '#{wnUrlopowyBean2.lightBlueDays()}';

			var swietaDays = '#{wnUrlopowyBean2.swietaDays()}';

			var planowaneDays = '#{wnUrlopowyBean2.rocznyPlanDays()}';

	
			function sunDays(date) {

				var ret = 'cday'
				var dateString = date.getFullYear() + '/'
						+ (date.getMonth() + 1) + '/' + date.getDate() + ',';

				var day = date.getDay();

				if (planowaneDays.indexOf(dateString) !== -1) {
					ret = ret + ' zRP wniosek'
				}

				if (lightBlueDays.indexOf(dateString) !== -1) {
					ret = ret + ' lightBlue';
				}


				if (blueDays.indexOf(dateString) !== -1) {
					ret = ret + ' blue wniosek ' + blueDays.substring( (blueDays.indexOf(dateString)-9) , blueDays.indexOf(dateString))
				}

				if (absencjeDays.indexOf(dateString) !== -1) {
					ret = ret + ' absencja t-' + absencjeDays.substring( (absencjeDays.indexOf(dateString)-9) , absencjeDays.indexOf(dateString))
				}

				

								
				if (swietaDays.indexOf(dateString) !== -1) {
					ret = ret + ' sw';
				}
				
				if (day == 0) { 
					ret = ret + ' nd';
				}

				if (day == 6) { 
					ret = ret + ' so';
				}


				return [ true, ret ];

				
			}
			
		</script>

				
				<h:outputStylesheet name="cc-mdesign.css" library="css" />

				<p:calendar id="clndrY" widgetVar="clndrYWV" locale="pl" styleClass="bbbbbbbbbbbbbb"
					value="#{ wnUrlopowyBean2.dzien }" 
					mindate="#{wnUrlopowyBean2.dateSerial(wnUrlopowyBean2.rok, 1, 1)}"
					maxdate="#{wnUrlopowyBean2.dateSerial(wnUrlopowyBean2.rok, 12, 31)}" mode="inline"
					beforeShowDay="sunDays" beforeShow="sunDays" pages="12" >

					<p:ajax event="dateSelect" process="@this"
						partialSubmit="true" >
					</p:ajax> 
					<!-- update="@form formPlanuj" -->


				</p:calendar>

				


		</h:form>
	</div>

</h:body>

</html>
