<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions">


<f:metadata>

</f:metadata>

<h:body>

	<div id="clndrCntnr">

		<h:form id="formData">

			<script type="text/javascript">
			
				var blueDays = '#{rokPlanUrlopBeanSTD.blueDays()}';
				
				var lightBlueDays = '#{rokPlanUrlopBeanSTD.lightBlueDays()}';
				
				var swietaDays = '#{rokPlanUrlopBeanSTD.swietaDays()}';

		
				function sunDays(date) {
	
					var ret = 'cday'
	
					var dateString = date.getFullYear() + '/'
							+ (date.getMonth() + 1) + '/' + date.getDate() + ',';
	
					var day = date.getDay();
	
	
					if (lightBlueDays.indexOf(dateString) !== -1) {
						console.log(dateString);
						ret = ret + ' lightBlue';
					}
	
					if (blueDays.indexOf(dateString) !== -1) {
						ret = ret + ' blue wniosek ' + blueDays.substring( (blueDays.indexOf(dateString)-7) , blueDays.indexOf(dateString));						
					}
	
									
					if (swietaDays.indexOf(dateString) !== -1) {
						ret = ret + ' sw';
					}
	
					if (day == 0) {
						ret = ret + ' nd';
					}
	
					if (day == 6) {
						ret = ret + ' so';
					}
	
					return [ true, ret ];
				}
				
			</script>


			<h:outputStylesheet name="cc-mdesign.css" library="css" />
				

			<p:calendar id="clndrY" widgetVar="clndrYWV" locale="pl"
				value="#{rokPlanUrlopBeanSTD.dzien}"
				mindate="#{rokPlanUrlopBeanSTD.dateSerial(rokPlanUrlopBeanSTD.rok, 1, 1)}"
				maxdate="#{rokPlanUrlopBeanSTD.dateSerial(rokPlanUrlopBeanSTD.rok, 12, 31)}" mode="inline"
				beforeShowDay="sunDays" beforeShow="sunDays" pages="12">

				<p:ajax event="dateSelect" process="@this"
						partialSubmit="true" update="@form formPlanuj">
				</p:ajax>

			</p:calendar>

		</h:form>
	</div>

</h:body>

</html>
