<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">


<f:metadata>

</f:metadata>


<h:body>


	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Roczny plan urlopowy" />

		<ui:define name="egr_content">






			<ui:include
				src="/WEB-INF/protectedElements/Dialogs/Narzedzia/dlgWczytywanieDanych.xhtml">
			</ui:include>



				<div class="d-flex bg-fff ov-y-hidden" style="height: 100vh">

						<div class="p0 bg-fff flex-1" style="overflow-y: scroll; overflow-x: hidden">
							<ui:include src="/faces/Urlopy/RocznyPlanKalendarz.xhtml"></ui:include>
						</div>


						<div class="bg-fff p20 mmw300 d-flex-column ov-y-auto ov-x-hidden">

							<h:form id="formFltrYr" styleClass="p20i">

								<p:panelGrid style="margin-top: 20px; margin-bottom: 15px;">
									<p:row>
										<p:column style="padding-left: 0px !important;">
											<p:outputLabel value="Planowanie / usuwanie urlopu:"
												styleClass="pogrubiony" />
										</p:column>
									</p:row>

								</p:panelGrid>

								<p:panelGrid style="padding-top: 10px;  margin-bottom: 10px;">
									<p:row>
										<p:column styleClass="w25">
											<p:outputLabel for="somY" value="rok:"/> 
										</p:column>
										<p:column style="margin-left: 0px !important;">
											<p:selectOneMenu styleClass="bor-bottom normal-16" id="somY"
												value="#{rokPlanUrlopBean.rok}"
												style="width:70px; margin-left: 0px;">
												<f:selectItems value="#{rokPlanUrlopBean.lata}" />
												<p:ajax update="formData" />
												<p:ajax update="formData formPlanuj" delay="10" />
											</p:selectOneMenu>
										</p:column>
									</p:row>
								</p:panelGrid>
							</h:form>



							<h:form id="formPlanuj" styleClass="p20i pt80i">

								<p:panelGrid
									style="margin-top: 20px !important; margin-bottom: 8px !important;">
									<p:row style="width: 50px;">
									
										<cc:cCalendar styleClass="clndr-wnioskiUrl mw250" id="dtOd" 
														label="od:" value="#{rokPlanUrlopBean.urlop.urplDataOd}"
													    placeholder="rrrr-mm-dd"
														dateFormat="yyyy-MM-dd" 
														mask =     "9999-99-99"
														minDate="#{rokPlanUrlopBean.dateSerial(rokPlanUrlopBean.rok, 1, 1)}"
														maxDate="#{rokPlanUrlopBean.dateSerial(rokPlanUrlopBean.rok, 12, 31)}"
														updateOnDateSelect="formData"
														process="@this"
														partialSubmit="true">
														
<!-- 														<p:ajax event="dateSelect" update="formData"
																process="formPlanuj" />
															
														<p:ajax event="keyup" update="formData"
																process="formPlanuj" /> -->
																
										</cc:cCalendar>
									</p:row>
									
									<p:row style="width: 50px; height: 5px;">
									</p:row>
									
									<p:row style="width: 50px;">
										<cc:cCalendar styleClass="clndr-wnioskiUrl mw250" id="dtDo" 
														label="do:" value="#{rokPlanUrlopBean.urlop.urplDataDo}"
													    placeholder="rrrr-mm-dd"
														dateFormat="yyyy-MM-dd" 
														mask =     "9999-99-99"
														minDate="#{rokPlanUrlopBean.dateSerial(rokPlanUrlopBean.rok, 1, 1)}"
														maxDate="#{rokPlanUrlopBean.dateSerial(rokPlanUrlopBean.rok, 12, 31)}"
														updateOnDateSelect="formData"
														process="@this"
														partialSubmit="true">
														
<!-- 														<p:ajax event="dateSelect" update="formData:clndrY"
																process="formPlanuj" />
															
														<p:ajax event="keyup" update="formData:clndrY"
																process="formPlanuj" /> -->
																
										</cc:cCalendar>
									
									</p:row>
								</p:panelGrid>

								<p:panelGrid style="margin-top: 35px;">
									<p:row>

										<p:column>
											<p:outputLabel value="Łącznie dni: " styleClass="normal-13" />
										</p:column>
										<p:column>
											<p:outputLabel id="liczbaDni"
												value="#{rokPlanUrlopBean.liczbaDniWniosekLacznie}"
												styleClass="lighter-text" />
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Pozostało do wykorzystania: "
												styleClass="normal-13" />
										</p:column>
										<p:column>
											<p:outputLabel id="liczbaDniDoWykorzystania"
												value="#{rokPlanUrlopBean.pozostaloDni gt 0 ? rokPlanUrlopBean.pozostaloDni  : 0}"
												styleClass="lighter-text" />
										</p:column>
									</p:row>
								</p:panelGrid>
								<p:panelGrid style="margin-top: 30px;">
									<p:row>
										<p:column>

											<p:commandButton styleClass="granatowy" id="btnPlanujUrlop"
											    disabled="#{rokPlanUrlopBean.urlop.urplId > 0}"
												value="planuj urlop" widgetVar="btnPlanujUrlopVW"
												update="formData formPlanuj formFltrYr"
												actionListener="#{rokPlanUrlopBean.zapiszNowyUrlOdDo()}"
												icon="add_box">
												<p:ajax update="formData" delay="10"></p:ajax>
											</p:commandButton>
										</p:column>
									
										<p:column>

											<p:commandButton styleClass="granatowy" id="btnOdPlanujUrlop"
											    disabled="#{rokPlanUrlopBean.urlop.urplId eq 0}"
												value="usuń urlop" widgetVar="btnUsunUrlop" ajax="true"
												update="formData formPlanuj formFltrYr"
												actionListener="#{rokPlanUrlopBean.odplanujUrlopOdDo()}"
												icon="delete">

												<p:ajax update="formData" delay="10"></p:ajax>
											</p:commandButton>
										</p:column>																				
									</p:row>
								</p:panelGrid>
								
								<p:panelGrid style="margin-top: 30px;" rendered="#{not('' eq rokPlanUrlopBean.uwaga)}">
								     <br/>
								     <cc:cInputTextAreaMDesign id="uzasadnienie" width="400" 
										label="Uzasadnienie odrzucenia planu urlopowego przez przełożonego"
										value="#{rokPlanUrlopBean.uwaga}"
										readonly="true"
										styleClass="lekka-ramka uwaga" rows="2"/>
								</p:panelGrid>
							</h:form>
							
							<br/>

							<h:form styleClass="p20i">
							
								<div>
									<p:accordionPanel activeIndex="-1">
										<p:tab title="Legenda">
											<div class="ui-g-nopad">
													<div class="ui-g-12 ui-g-nopad">										
														<h:outputText value="Nowy roczny plan urlopowy" 
															style="background: #{rokPlanUrlopBean.mapujBySL('PPS_ABS_KOLORY_TYPY', 'wniosek', 'lightgray')}; 
																   display:block; 
																   border-radius:7%!important; 
																   padding:6px!important;
																   box-shadow: 2px 2px 2px #F0F0F0 !important;
																   border: 1px solid gray!important;
																   opacity: 1.0;
																   min-width: 225px!important;"
															styleClass="planUrlop N mw250 center mt5" />

													</div>	

													<div class="ui-g-12 ui-g-nopad">	
														<h:outputText value="Zatwierdzony roczny plan urlopowy"
														    style="background: #{rokPlanUrlopBean.mapujBySL('PPS_ABS_KOLORY_TYPY', 'zatwierdzony', 'lightgray')};
														           display:block; 
														           border-radius:7%!important; 
														           padding:6px!important;
														           box-shadow: 2px 2px 2px #F0F0F0 !important;
														           border: 1px solid darkgreen!important;
														           opacity: 1.0;
														    	   min-width: 225px!important;"
															styleClass="planUrlop Z mw250 center mt5" />

													</div>

													<div class="ui-g-12 ui-g-nopad">
														<h:outputText value="Odrzucony roczny plan urlopowy" 
														    style="background: #{rokPlanUrlopBean.mapujBySL('PPS_ABS_KOLORY_TYPY', 'odrzucony', 'lightgray')};
														           display:block; 
														           border-radius:7%!important; 
														           padding:6px!important;
														           box-shadow: 2px 2px 2px #F0F0F0 !important;
														           border: 1px solid darkred!important;
														           opacity: 0.8;
														    	   min-width: 225px!important;"
															styleClass="planUrlop O mw250 center mt5" />

													</div>
											</div>
										</p:tab>
									</p:accordionPanel>
								</div>						
							
							</h:form>
						
						</div>	

				</div>
				

			
			
<h:outputStylesheet>		
		<!-- nowy roczny plan urlopowy -->
	    div.ui-datepicker-group > table > tbody > tr > td.cday.N > a {
<!-- 	    	border-color: #{rokPlanUrlopBean.mapujBySL('PPS_ABS_KOLORY_TYPY', 'wniosek', 'lightgray')};   -->
	    	opacity: 1.0; 
			background: #{rokPlanUrlopBean.mapujBySL('PPS_ABS_KOLORY_TYPY', 'wniosek', 'lightgray')};  
			box-shadow: 2px 2px 2px #F0F0F0 !important; 
			padding: 1px !important;
			border-radius: 0!important;
			border: 1px solid gray!important;
			
		}


		<!-- zatwierdzony plan urlopowy -->
		div.ui-datepicker-group > table > tbody > tr > td.cday.Z > a {
<!-- 			border-color: #{rokPlanUrlopBean.mapujBySL('PPS_ABS_KOLORY_TYPY', 'zatwierdzony', 'lightgray')}; -->
			opacity: 1.0; 
			background: #{rokPlanUrlopBean.mapujBySL('PPS_ABS_KOLORY_TYPY', 'zatwierdzony', 'lightgray')};
			border: 1px solid darkgreen!important;
			box-shadow: 2px 2px 2px #F0F0F0 !important; 
			padding: 1px !important;
			border-radius: 0!important;
		}

		
		<!--odrzucony plan urlopowy -->
		div.ui-datepicker-group > table > tbody > tr > td.cday.O > a {
<!-- 			border-color: #{rokPlanUrlopBean.mapujBySL('PPS_ABS_KOLORY_TYPY', 'odrzucony', 'lightgray')};    -->
			opacity: 0.8; 
			background: #{rokPlanUrlopBean.mapujBySL('PPS_ABS_KOLORY_TYPY', 'odrzucony', 'lightgray')};  
			border: 1px solid darkred!important;
			box-shadow: 2px 2px 2px #F0F0F0 !important; 
			padding: 1px !important;
			border-radius: 0!important;
		}
</h:outputStylesheet>
			
		</ui:define>
	</ui:composition>

</h:body>

</html>
