<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">


<f:metadata>

</f:metadata>


<h:body>


	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Wniosek urlopowy" />

		<ui:define name="egr_content">






<!-- 			<pe:layoutPane position="north" resizable="false" closable="false" spacingOpen="0" spacingClosed="0" styleClassContent="pp-btns-bar"> -->




				<h:form id="frmTMnu" class="bg-fff">

					<p:panelGrid>

						<p:column style="padding-top: 8px !important">

							<p:outputLabel value="Rok: " style="margin-left: 20px"/>

						</p:column>

						<p:column>

							<p:selectOneMenu styleClass="bor-bottom normal-16" id="somY"
								value="#{wnUrlopowyBean2.rok}"
								style="width:70px; margin-left: 0px;">
								<f:selectItems value="#{wnUrlopowyBean2.lata}" />
								<p:ajax update="formData" />
								<p:ajax update="formData formPlanuj" delay="10" />
							</p:selectOneMenu>

						</p:column>

						<p:column>

							<p:commandButton value="Raport" icon="picture_as_pdf"
								disabled="#{wnUrlopowyBean2.getCurrentWniosek().getUprwId() eq 0}"
								style="min-width:80px"
								actionListener="#{wnUrlopowyBean2.raport()}"
								styleClass="ctl-home-link-menu" partialSubmit="true"
								process="@this" onclick="form.target = '_blank'" ajax="false" />

						</p:column>
						
						<p:column>

							<p:commandButton value="test" icon="picture_as_pdf"
								style="min-width:80px"
								actionListener="#{wnUrlopowyBean2.test_raport()}"
								styleClass="ctl-home-link-menu" partialSubmit="true"
								process="@this" onclick="form.target = '_blank'" ajax="false" />

						</p:column>




					</p:panelGrid>


				</h:form>
<!-- 			</pe:layoutPane> -->



			<!-- <ui:include
				src="/WEB-INF/protectedElements/Dialogs/Narzedzia/dlgWczytywanieDanych.xhtml"></ui:include> -->

<!-- 			<pe:layoutPane position="center" resizable="false" closable="false" spacingOpen="0" spacingClosed="0"> -->





				<div class="ui-g ui-g-nopad"
					style="background: white; max-height: calc(100vh - 31px)">



					<div class="ui-g-8 ui-xl-8 ui-g-nopad" 
						style="max-height: calc(100vh - 31px); overflow-y: auto; overflow-x: hidden">
						<ui:include src="/faces/Urlopy/RocznyKalendarzWniosek2.xhtml"></ui:include>
					</div>


					<div id="dvscrl" class="ui-g-4 ui-xl-4 ui-g-nopad"
						style="padding: 20px; max-height: calc(100vh - 31px); overflow-y: auto; overflow-x: hidden">




						<h:form id="formPlanuj">

							<h:panelGroup id="pgPozostalo" styleClass="pgPozostalo">

								<h:panelGroup id="pgLimity" class="ui-g">

									<div class="ui-g-12 ui-g-nopad">

											<p:outputLabel for="pgLimity" styleClass="fs20">Limit nieobecności aktualny na #{wnUrlopowyBean2.format(wnUrlopowyBean2.currentWniosek.getRdaKodLW().getSqlNamedParams().get('P_DATA_DO'))}</p:outputLabel>

										<div style="width: 100%; border: 1px solid lightgray"></div>
									</div>

									<div class="ui-lg-4 ui-g-12">
										<cc:cInputNumberMDesign readonly="true" label="Przysługujący:"
											tooltip="ilość dni urlopu według limitu w systemie EK"
											value="#{wnUrlopowyBean2.currentWniosek.getRdaKodRow().get('przyslugujacy')}"
											styleClass="lighter-text pozostaloDni" decimalPlaces="3" />

									</div>
									<div class="ui-lg-4 ui-g-12">
										<cc:cInputNumberMDesign readonly="true" label="Bieżący:"
											tooltip="ilość dni urlopu dla bieżącego roku/okresu w systemie EK"
											value="#{wnUrlopowyBean2.currentWniosek.getRdaKodRow().get('przyslugujacy') - wnUrlopowyBean2.currentWniosek.getRdaKodRow().get('zalegly')}"
											styleClass="lighter-text pozostaloDni" decimalPlaces="3" />

									</div>
									<div class="ui-lg-4 ui-g-12">
										<cc:cInputNumberMDesign readonly="true" label="Zaległy:"
											tooltip="ilość dni urlopu niewykorzystana w poprzednich latach/okresach w systemie EK"
											value="#{wnUrlopowyBean2.currentWniosek.getRdaKodRow().get('zalegly')}"
											styleClass="lighter-text pozostaloDni" decimalPlaces="3" />

									</div>




									<div class="ui-lg-4 ui-g-12">
									
									
									
										<cc:cInputNumberMDesign id="inmdDniDoWyk" readonly="true"
											label="Do wykorzystania:"
											value="#{wnUrlopowyBean2.currentWniosek.getRdaKodRow().get('dni_do_wykorzystania')}"
											styleClass="lighter-text pozostaloDni" decimalPlaces="3" />

										<p:tooltip for="inmdDniDoWyk"
											rendered="#{'UŹ' ne wnUrlopowyBean2.currentWniosek.getRdaKodRow().get('RDA_KOD')}">
											ilość dni pozostających do wykorzystania wg limitu EK pomniejszona o ilości dni z niezatwierdzonych wniosków w systemie PP<br />
											<h:outputLabel
												value="#{wnUrlopowyBean2.currentWniosek.getRdaKodRow().get('dni_do_wykorzystania')} = 
																			 #{wnUrlopowyBean2.currentWniosek.getRdaKodRow().get('dni_do_wykorzystania_EG')} (z abs. wg. EGR) 
																		   - #{wnUrlopowyBean2.currentWniosek.getRdaKodRow().get('dni_juz_zawnioskowanych')} (wn. w PP)" />
										</p:tooltip>
									</div>

									<div class="ui-lg-4 ui-g-12">
										<cc:cInputNumberMDesign readonly="true" label="Zawnioskowano:"
											tooltip="ilość zawnioskowanych dni urlopu w systemie PP (objęty wnioskami czas z harmonogramu pracy po przeliczeniu na normę urlopu)"
											value="#{wnUrlopowyBean2.currentWniosek.getRdaKodRow().get('dni_juz_zawnioskowanych')}"
											styleClass="lighter-text pozostaloDni" decimalPlaces="3" />
									</div>

									<div class="ui-lg-4 ui-g-12">
										<cc:cInputNumberMDesign readonly="true" label="Zatwierdzono:"
											tooltip="ilość zatwierdzonych dni urlopu w systemie PP"
											value="#{wnUrlopowyBean2.currentWniosek.getRdaKodRow().get('zatwierdzone')}"
											styleClass="lighter-text pozostaloDni" decimalPlaces="3" />
									</div>





									<div class="ui-g-2"></div>

									<div class="ui-lg-4 ui-g-12">
										<cc:cInputTextMDesign readonly="true" id="normaDobowa"
											label="Norma dobowa:"
											value="#{wnUrlopowyBean2.getNormaDobowaString( wnUrlopowyBean2.currentWniosek.uprwDataOd )}"
											styleClass="lighter-text pozostaloDni"
											styleClassInputText="right" />
										<p:tooltip for="normaDobowa" rendered="#{user.admin}"
											value="Wyliczana na podstawie funkcji ek_pck_limity.norma_dobowa_na_dzien" />
									</div>


									<div class="ui-lg-4 ui-g-12">
										<cc:cInputTextMDesign readonly="true" id="normaUrlopowa"
											label="Norma urlopowa:"
											value="#{wnUrlopowyBean2.getNormaUrlopowaString( wnUrlopowyBean2.currentWniosek.uprwDataOd )}"
											styleClass="lighter-text pozostaloDni right"
											styleClassInputText="right" />
										<p:tooltip for="normaUrlopowa" rendered="#{user.admin}"
											value="Wyliczana na podstawie funkcji ek_pck_absencje.il_godz_na_dzien_urlopu" />
									</div>

									<div class="ui-g-2"></div>

									<div style="width: 100%; border: 1px solid lightgray"></div>

									<h:panelGroup id="pgLimityNaZadanie"
										rendered="#{wnUrlopowyBean2.currentWniosek.czyWybranoUrlopNaZadanie()}"
										class="ui-g"
									>

										<div class="ui-g-12 ui-g-nopad">
												<p:outputLabel for="pgLimity" styleClass="fs20">Limit urlopu na żądanie</p:outputLabel>
										</div>


										<div class="ui-lg-4 ui-g-12">
											<cc:cInputNumberMDesign readonly="true" label="Pozostało dni:"
												tooltip="ilość dni urlopu na żądanie pozostała do dyspozycji"
												value="#{wnUrlopowyBean2.currentWniosek.getUrlopNaZadanieDataRow().get('dni_do_wykorzystania')}"
												styleClass="lighter-text pozostaloDni" decimalPlaces="3" />
										</div>
										
										<div class="ui-lg-4 ui-g-12">
											<cc:cInputNumberMDesign readonly="true" label="Wykorzystane dni:"
												tooltip="ilość dniu urlopu na żądanie zatwierdzona przez przełożonego"
												value="#{ 4 - wnUrlopowyBean2.currentWniosek.getUrlopNaZadanieDataRow().get('dni_do_wykorzystania_EG')}"
												styleClass="lighter-text pozostaloDni" decimalPlaces="3" />
										</div>
										
										<div class="ui-lg-4 ui-g-12">
											<cc:cInputNumberMDesign readonly="true" label="Wnioskowane dni w PP:"
												tooltip="ilość dni urlopu na żądanie wprowadzona do systemu przez Portal Pracowniczy"
												value="#{wnUrlopowyBean2.currentWniosek.getUrlopNaZadanieDataRow().get('dni_juz_zawnioskowanych')}"
												styleClass="lighter-text pozostaloDni" decimalPlaces="3" />
										</div>
										
									</h:panelGroup>

									<div style="width: 100%; border: 1px solid lightgray"></div>
								</h:panelGroup>

								<br />
								<br />


								<div class="ui-g">

									<p:outputLabel for="pgPozostalo" styleClass="fs20">Planuj / usuń urlop</p:outputLabel>
									<div style="width: 100%; border: 1px solid lightgray"></div>

									<h:panelGroup id="datyGodziny" styleClass="datyGodziny ui-g">

										<div class="ui-xl-5 ui-lg-12 ui-g-noppad">

											<cc:cCalendarMDesign styleClass="clndr-wnioskiUrl mmw200"
												id="dtOd" label="od:" required="true"
												value="#{wnUrlopowyBean2.currentWniosek.uprwDataOd}"
												placeholder="rrrr-mm-dd" dateFormat="yyyy-MM-dd"
												mask="9999-99-99"
												minDate="#{wnUrlopowyBean2.dateSerial(wnUrlopowyBean2.rok, 1, 1)}"
												maxDate="#{wnUrlopowyBean2.dateSerial(wnUrlopowyBean2.rok, 12, 31)}">

												<p:ajax event="dateSelect"
													update="@(.Lacznie) formData formPlanuj:idPrcZast @(.datyGodziny) "
													partialSubmit="true" process="dtOd" />

												<p:ajax event="keyup"
													update="@(.Lacznie) formData formPlanuj:idPrcZast @(.datyGodziny) "
													partialSubmit="true" process="dtOd " />

											</cc:cCalendarMDesign>

											<p:outputLabel for="tpOd" value="Godzina od:"
												rendered="#{wnUrlopowyBean2.currentWniosek.getCzyGodzinowy()}" />
											<pe:timePicker id="tpOd" mode="popup" locale="pl_PL"
												rendered="#{wnUrlopowyBean2.currentWniosek.getCzyGodzinowy()}"
												value="#{wnUrlopowyBean2.currentWniosek.uprwGodzinaOd}">
												<p:ajax event="close" partialSubmit="true" process="@this"
													update="@(.Lacznie) formData" />
											</pe:timePicker>



										</div>


										<div class="ui-xl-5 ui-lg-12 ui-g-noppad center">


											<cc:cCalendarMDesign styleClass="clndr-wnioskiUrl mmw200"
												id="dtDo" label="do:" required="true"
												value="#{wnUrlopowyBean2.currentWniosek.uprwDataDo}"
												placeholder="rrrr-mm-dd" dateFormat="yyyy-MM-dd"
												mask="9999-99-99"
												minDate="#{wnUrlopowyBean2.dateSerial(wnUrlopowyBean2.rok, 1, 1)}"
												maxDate="#{wnUrlopowyBean2.dateSerial(wnUrlopowyBean2.rok, 12, 31)}">

												<p:ajax event="dateSelect"
													update="@form formData @(.datyGodziny)"
													partialSubmit="true" process="dtDo" />

												<p:ajax event="keyup"
													update="@form formData @(.datyGodziny)"
													partialSubmit="true" process="dtDo" />

											</cc:cCalendarMDesign>



											<p:outputLabel for="tpDo" value="Godzina do:"
												rendered="#{wnUrlopowyBean2.currentWniosek.getCzyGodzinowy()}" />
											<pe:timePicker id="tpDo" mode="popup"
												rendered="#{wnUrlopowyBean2.currentWniosek.getCzyGodzinowy()}"
												locale="pl_PL"
												value="#{wnUrlopowyBean2.currentWniosek.uprwGodzinaDo}">
												<p:ajax event="close" partialSubmit="true" process="@this"
													update="@(.Lacznie) formData" />
											</pe:timePicker>


										</div>



										<h:panelGroup id="lacznie" styleClass="Lacznie ui-g"
											style="width: 100%;">





											<div class="ui-xl-5 ui-lg-12 ui-g-noppad">
												<cc:cInputNumberMDesign
													label="Łącznie zaznaczonych dni pracy: " id="liczbaDni"
													readonly="true"
													value="#{wnUrlopowyBean2.currentWniosek.getCzyGodzinowy()?
																wnUrlopowyBean2.pplAbsCzasPracy.data.get(0).get('url_godz_D')
																:wnUrlopowyBean2.pplAbsCzasPracy.data.get(0).get('z_dni_harm_ind_trunc') }"
													styleClass="lighter-text mmw200" decimalPlaces="3" />
											</div>


											<div class="ui-xl-5 ui-lg-12 ui-g-noppad">
												<cc:cInputNumberMDesign label="Łącznie godzin w dniach:"
													id="liczbaGodzin" readonly="true"
													value="#{wnUrlopowyBean2.currentWniosek.getCzyGodzinowy()?
																wnUrlopowyBean2.pplAbsCzasPracy.data.get(0).get('url_godz_H')
																:wnUrlopowyBean2.pplAbsCzasPracy.data.get(0).get('z_godz_harm_ind_trunc') }"
													styleClass="lighter-text mmw200" decimalPlaces="3" />
											</div>


										</h:panelGroup>

									</h:panelGroup>

								</div>
							</h:panelGroup>





							<h:panelGroup>

								<div class="ui-g">

									<div class="ui-g-10">
										<cc:cLOVMDesign id="gUrlopu" styleClass="rUrlopu"
											label="Grupy absencji" required="true"
											tooltip="Dostępne grupy absencji"
											lovDlgTitle="Wybór grupy absencji"
											datasource="#{wnUrlopowyBean2.currentWniosek.dgKodLW}"
											value="#{wnUrlopowyBean2.currentWniosek.uprwDgKod}"
											lovTextFormat="%2$s" valueFormat="%1$s"
											update="@(.pgPozostalo) @(.datyGodziny) @(.pgGodziny) template_growl" />
									</div>

									<div class="ui-g-8">
										<cc:cLOVMDesign id="rUrlopu" styleClass="rUrlopu"
											label="Rodzaj urlopu" required="true"
											tooltip="Rodzaje urlopów z wprowadzonym limitem"
											lovDlgTitle="Wybór typu urlopu"
											datasource="#{wnUrlopowyBean2.currentWniosek.rdaKodLW}"
											value="#{wnUrlopowyBean2.currentWniosek.uprwRdaKod}"
											lovTextFormat="%2$s" valueFormat="%1$s"
											update="@(.pgPozostalo) @(.datyGodziny) @(.pgGodziny) template_growl" />



									</div>



									<div class="ui-g-12 ui-g-nopad p0 m0"></div>



									<!-- 									<div class="ui-g-1"></div> -->
									<div class="ui-g-8">
										<cc:cLOVMDesign id="idPrcZast" label="Pracownik zastępujący:"
											lovDlgTitle="Wybór pracownika na zastępstwo"
											datasource="#{wnUrlopowyBean2.getLW('PP_PRC_IM_NAZ_LACZNIE_DZI', wnUrlopowyBean2.currentWniosek.uprwDataOd,
											 																wnUrlopowyBean2.currentWniosek.uprwDataOd,
											 																wnUrlopowyBean2.currentWniosek.uprwDataOd,
											 																wnUrlopowyBean2.currentWniosek.uprwDataOd)}"
											lovTextFormat="%3$s" valueFormat="%1$s"
											value="#{ wnUrlopowyBean2.currentWniosek.uprwZastPrcId }"
											update="formPlanuj:btnUsunZastepstwo" />
									</div>

									<div class="ui-g-1" style="position: relative; min-width: 60px">
										<p:commandButton style="position:absolute; bottom:0; left:0"
											disabled="#{wnUrlopowyBean2.currentWniosek.uprwZastPrcId == null}"
											id="btnUsunZastepstwo" ajax="true" update="@this idPrcZast"
											actionListener="#{ wnUrlopowyBean2.currentWniosek.setUprwZastPrcId(null) }"
											icon="clear">
										</p:commandButton>

									</div>

									<div class="ui-g-12 ui-g-nopad p0 m0"></div>

									<!-- 									<div class="ui-g-1"></div> -->
									<div class="ui-g-8">
										<cc:cLOVMDesign id="idPrcZatw" label="Pracownik rozpatrujący:"
											required="true"
											lovDlgTitle="Wybór pracownika do rozpatrzenia wniosku urlopowego"
											datasource="#{wnUrlopowyBean2.getLW('PPL_ZATWIERDZAJACY_URLOP',user.getPrcId())}"
											lovTextFormat="%3$s" valueFormat="%1$s"
											value="#{ wnUrlopowyBean2.currentWniosek.uprwZatwPrcId }"
											update="formPlanuj:btnUsunZatwierdzajacego"
											rendered="#{'T' eq wnUrlopowyBean2.czyRozpatrujacy}" />
										<!-- 											update="formPlanuj" NaN  -->
									</div>
									<div class="ui-g-1" style="position: relative; min-width: 60px">
										<p:commandButton style="position:absolute; bottom:0; left:0"
											disabled="#{wnUrlopowyBean2.currentWniosek.uprwZatwPrcId == null}"
											id="btnUsunZatwierdzajacego" ajax="true"
											update="@this idPrcZatw"
											actionListener="#{ wnUrlopowyBean2.currentWniosek.setUprwZatwPrcId(null) }"
											icon="clear"
											rendered="#{'T' eq wnUrlopowyBean2.czyRozpatrujacy}">
										</p:commandButton>
									</div>




									<!-- 										<div style="width:100%; border: 1.0px solid lightgray" class="mt10"></div> -->
									<div class="ui-g-12 pt20 center">

										<div class="center"
											style="display: inline-block; margin: auto;">

											<p:commandButton styleClass="granatowy w180 m5"
												id="btnPlanujUrlop"
												value="#{wnUrlopowyBean2.currentWniosek.uprwId eq 0? 'wnioskuj o urlop':'modyfikuj wniosek'}"
												update="formData formPlanuj"
												actionListener="#{wnUrlopowyBean2.zapiszNowyUrlOdDo()}"
												icon="add_box" partialSubmit="true" process="@this">
												<p:ajax update="formData formPlanuj" delay="10"></p:ajax>
											</p:commandButton>

											<p:commandButton styleClass="granatowy w180 m5"
												id="btnOdPlanujUrlop"
												disabled="#{wnUrlopowyBean2.currentWniosek.uprwId eq 0? true : false}"
												value="anuluj wniosek" ajax="true"
												update="formData @all formPlanuj"
												action="#{wnUrlopowyBean2.odplanujUrlopOdDo()}"
												partialSubmit="true" process="@this" icon="delete">
												<p:ajax update="formData formPlanuj" delay="10"></p:ajax>
											</p:commandButton>

										</div>

									</div>

								</div>

							</h:panelGroup>
							<br />
							<div style="width: 100%; border: 1px solid lightgray"></div>



							<br />
							<br />
							<br />
							<br />



							<p:accordionPanel activeIndex="-1"
								onTabShow="

								var objDv = document.getElementById('dvscrl');
								$('#dvscrl').animate({
									scrollTop: objDv.scrollHeight
								}, 800);
							
							">

								<p:tab title="Legenda">

									<br />
									<p:outputLabel value="Wnioski i absencje urlopowe"
										styleClass="fs20" />
									<br />
									<p:outputLabel value="wniosek/zatwierdzony/odrzucony" />
									<br />
									<div style="width: 100%; border: 1px solid lightgray"></div>
									<h:panelGroup id="lwn">

										<p:repeat
											value="#{wnUrlopowyBean2.getLW('PPL_ABS_RDA_KOD_PRZ_ALL',user.getPrcId()).data}"
											var="r">

											<ui:param name="kolor" value="" />

											<h:panelGroup styleClass="wniosek #{r.get('RDA_KOD')}">
												<h:outputText value="#{r.get('RDA_KOD')}"
													style="margin:auto!important" />
											</h:panelGroup>

											<p:spacer width="10" />

											<h:panelGroup styleClass="wniosek t-#{r.get('RDA_KOD')}">
												<h:outputText value="#{r.get('RDA_KOD')}"
													style="margin:auto!important" />
											</h:panelGroup>



											<p:spacer width="10" />

											<!-- <h:outputText value="#{r.get('RDA_KOD')}" 
												styleClass="wniosek o-#{r.get('RDA_KOD')}" />
											<p:spacer width="10" /> -->
											<h:panelGroup styleClass="wniosek n-#{r.get('RDA_KOD')}">
												<h:outputText value="#{r.get('RDA_KOD')}"
													style="margin:auto!important" />
											</h:panelGroup>



											<p:spacer width="10" />

											<h:outputText value="#{r.get('RDA_NAZWA')}" />

											<br />

										</p:repeat>

									</h:panelGroup>

									<div style="width: 100%; border: 1px solid lightgray"></div>


									<br />
									<br />
									<p:outputLabel for="lzrp" value="Roczny plan urlopowy"
										styleClass="fs20 mt20" />
									<br />
									<div style="width: 100%; border: 1px solid lightgray"></div>
									<h:panelGroup id="lzrp">
										<!-- 										<h:panelGroup  styleClass="wniosek" style="border:3px solid transparent!important;"/> -->
										<!-- 										<p:spacer width="10" /> -->

										<h:panelGroup styleClass="wniosek zRP">
											<h:outputText value="zRP"
												style="margin:auto!important; color:gray!important;" />
										</h:panelGroup>
										<p:spacer width="10" />

										<!-- 										<h:panelGroup  styleClass="wniosek" style="border:3px solid transparent!important;"/> -->
										<!-- 										<p:spacer width="10" /> -->

										<h:outputText value="Urlop zaplanowany" styleClass="ml120" />
										<br />
									</h:panelGroup>

									<div style="width: 100%; border: 1px solid lightgray"></div>

								</p:tab>
							</p:accordionPanel>

						</h:form>
					</div>
				</div>

<!-- 			</pe:layoutPane> -->





			<h:outputStylesheet>

	span.zRP,
	    div.ui-datepicker-group > table > tbody > tr > td.cday.zRP > a {
	    	opacity: 0.8;
			background: #{wnUrlopowyBean2.mapujBySL('PPS_ABS_KOLORY', 'zRP', 'lightgray')};
			border: 1px solid #{wnUrlopowyBean2.getSL('PPS_ABS_KOLORY_TYPY').get('wniosek').get('wsl_opis2')} !important;
			box-shadow: 2px 2px 2px #F0F0F0 !important;
			padding: 1px !important;
		    border-radius: 20%!important;  
		}

	<ui:repeat
					value="#{wnUrlopowyBean2.getLW('PPL_ABS_RDA_KOD_PRZ_ALL',user.getPrcId()).data}"
					var="r">
					<ui:param name="kolorek"
						value="#{wnUrlopowyBean2.mapujBySL('PPS_ABS_KOLORY', r.get('RDA_KOD'), 'lightgray')}" />
					<ui:param name="cssClass" value="#{r.get('RDA_KOD')}" />



					<!-- wniosek złożony i nie rozpatrzony background: #{wnUrlopowyBean2.mapujBySL('PPS_ABS_KOLORY_TYPY', 'wniosek', 'lightgray')}; -->
		span.#{cssClass},
	    div.ui-datepicker-group > table > tbody > tr > td.cday.#{cssClass} > a {
	    	opacity: 1.0;
		    background: #{wnUrlopowyBean2.mapujBySL('PPS_ABS_KOLORY_TYPY', 'wniosek', 'lightgray')};
			border: 1px solid #{wnUrlopowyBean2.getSL('PPS_ABS_KOLORY_TYPY').get('wniosek').get('wsl_opis2')} !important;
			box-shadow: 3px 3px 2px #{kolorek} !important;
			padding: 1px !important;
		    border-radius: 20%!important;		    	    
		}
		
		

     
     	<!-- wniosek zatwierdzony ale jeszcze bez absencji w EGR (co moze sie zdażyć w wyniku błedu w kodzie przepisujacym wniosek do EGR po zatwierdzeniu)  -->
		span.t-#{cssClass},
		div.ui-datepicker-group > table > tbody > tr > td.cday.t-#{cssClass} > a {
			opacity: 1.0; 
			background: #{wnUrlopowyBean2.mapujBySL('PPS_ABS_KOLORY_TYPY', 'zatwierdzony', 'lightgray')};  
			border: 1px solid #{wnUrlopowyBean2.getSL('PPS_ABS_KOLORY_TYPY').get('zatwierdzony').get('wsl_opis2')} !important;
			box-shadow: 3px 3px 2px #{kolorek} !important; 
			padding: 1px !important;
			border-radius: 20%!important;
		     
		}

<!-- 		    border-radius: 20% !important; -->
<!-- 			background-color: #{kolorek}; -->

<!-- border-color: #{wnUrlopowyBean2.mapujBySL('PPS_ABS_KOLORY_TYPY', 'zatwierdzony', 'lightgray')} !important; -->
		

<!-- border-color: #{wnUrlopowyBean2.mapujBySL('PPS_ABS_KOLORY_TYPY', 'wniosek', 'lightgray')} !important; -->

		<!-- wniosek odrzucony -->
		span.n-#{cssClass},
		div.ui-datepicker-group > table > tbody > tr > td.cday.n-#{cssClass} > a {
			opacity: 0.8; 
			background: #{wnUrlopowyBean2.mapujBySL('PPS_ABS_KOLORY_TYPY', 'odrzucony', 'lightgray')};  
			border: 1px solid #{wnUrlopowyBean2.getSL('PPS_ABS_KOLORY_TYPY').get('odrzucony').get('wsl_opis2')} !important;
			box-shadow: 3px 3px 2px #{kolorek} !important; 
			padding: 1px !important;
			border-radius: 20%!important;
		    	    
		}
		
<!-- 		    box-shadow: 3px 3px 3px #888888 !important; -->

<!-- border-color: #{wnUrlopowyBean2.mapujBySL('PPS_ABS_KOLORY_TYPY', 'odrzucony', 'lightgray')} !important; -->
		
 		<!--wniosek procedowany/oczekujacy -->
					<!--		span.o-#{cssClass},
		div.ui-datepicker-group > table > tbody > tr > td.cday.o-#{cssClass} > a {
			opacity: 0.6; 
			background-color: #{kolorek};
			padding: 1px !important;
		    border-radius: 20% !important;
		    border: 2px solid green!important;  
		} -->



		

		

	
	</ui:repeat>





			</h:outputStylesheet>



		</ui:define>
	</ui:composition>





</h:body>






</html>
