<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Wniosek urlopowy" />

		<ui:define name="egr_content">

			<h:form id="frmTMnu" styleClass="ui-g-v-center pl20 pr20 pt3 pb2 pp-bg-lp-north-b-white-b-v">

				<p:outputLabel value="Rok:" for="somY" styleClass="mr10"/>

				<p:selectOneMenu styleClass="mr20 pt0" id="somY"
					value="#{wnUrlopowyBean.rok}"
					style="width:70px; margin-left: 0;">
					<f:selectItems value="#{wnUrlopowyBean.lata}" />
					<p:ajax update="formData" />
					<p:ajax update="formData formPlanuj" delay="10" />
				</p:selectOneMenu>

				<p:commandButton value="Raport" icon="picture_as_pdf"
					style="min-width:80px"
					actionListener="#{wnUrlopowyBean.raport()}"
					styleClass="ctl-home-link-menu"
					partialSubmit="true" process="@this"
					onclick="form.target = '_blank'" ajax="false" />

			</h:form>

			<div class="ui-g p6 pp-bg-gradient-gray-blue-6" style="overflow: hidden;">

				<div class="ui-g-6 ui-lg-7 ui-xl-8 ui-g-nopad">
					<div class="bg-fff bsh1black mr10" style="max-height:calc(100vh - 43px); height:calc(100vh - 43px); overflow-y: auto; overflow-x: hidden;">
						<div style="margin: -15px auto!important; overflow: hidden;">
							<ui:include src="/faces/Urlopy/RocznyKalendarzWniosek.xhtml" />
						</div>
					</div>
				</div>

				<div id="dvscrl" class="ui-g-6 ui-lg-5 ui-xl-4 ui-g-nopad bg-fff bsh1black"  style="padding:20px; height:calc(100vh - 43px); max-height:calc(100vh - 43px); overflow-y: auto; overflow-x: hidden;">

					<h:form id="formPlanuj">
						<p:remoteCommand name="r3" partialSubmit="true" />

						<h:panelGroup id="pgPozostalo" styleClass="pgPozostalo">

							<h:panelGroup id="pgLimity"  class="ui-g">

								<div class="ui-g-12 ui-g-nopad">
									<h:panelGroup rendered="#{wnUrlopowyBean.currentWniosek.uprwDataDo != null}">
										<p:outputLabel for="pgLimity" styleClass="fs20">Limit nieobecności aktualny na #{wnUrlopowyBean.format(wnUrlopowyBean.currentWniosek.uprwDataDo)}</p:outputLabel>
									</h:panelGroup>
									<h:panelGroup rendered="#{wnUrlopowyBean.currentWniosek.uprwDataDo == null}">
										<p:outputLabel for="pgLimity" styleClass="fs20">Limit nieobecności aktualny na #{wnUrlopowyBean.format(wnUrlopowyBean.today())}</p:outputLabel>
									</h:panelGroup>
									<div style="width:100%; border: 1px solid lightgray"></div>
								</div>

								<div class="ui-lg-4 ui-g-12">
									<cc:cInputNumberMDesign readonly="true"
										label="Przysługujący:"
										tooltip="ilość dni urlopu według limitu w systemie EK"
										value="#{wnUrlopowyBean.currentAbsRodzajDR.get('przyslugujacy')}"
										styleClass="lighter-text pozostaloDni"
										decimalPlaces="3"/>

								</div>
								<div class="ui-lg-4 ui-g-12">
									<cc:cInputNumberMDesign readonly="true"
										label="Bieżący:"
										tooltip="ilość dni urlopu dla bieżącego roku/okresu w systemie EK"
										value="#{wnUrlopowyBean.currentAbsRodzajDR.get('przyslugujacy') - wnUrlopowyBean.currentAbsRodzajDR.get('zalegly')}"
										styleClass="lighter-text pozostaloDni"
										decimalPlaces="3"/>

								</div>
								<div class="ui-lg-4 ui-g-12">
									<cc:cInputNumberMDesign readonly="true"
										label="Zaległy:"
										tooltip="ilość dni urlopu niewykorzystana w poprzednich latach/okresach w systemie EK"
										value="#{wnUrlopowyBean.currentAbsRodzajDR.get('zalegly')}"
										styleClass="lighter-text pozostaloDni"
										decimalPlaces="3" />

								</div>

								<div class="ui-lg-4 ui-g-12">
									<cc:cInputNumberMDesign id="inmdDniDoWyk" readonly="true"
										label="Do wykorzystania:"
										value="#{wnUrlopowyBean.currentAbsRodzajDR.get('dni_do_wykorzystania')}"
										styleClass="lighter-text pozostaloDni"
										decimalPlaces="3"/>

									<p:tooltip for="inmdDniDoWyk"
										rendered="#{'UŻ' ne wnUrlopowyBean.currentAbsRodzajDR.get('RDA_KOD_SERWIS')}">
										ilość dni pozostających do wykorzystania wg limitu EK pomniejszona o ilości dni z niezatwierdzonych wniosków w systemie PP<br/>
										<h:outputLabel value="#{wnUrlopowyBean.currentAbsRodzajDR.get('dni_do_wykorzystania')} =
																		 #{wnUrlopowyBean.currentAbsRodzajDR.get('dni_do_wykorzystania_EG')} (z abs. wg. EGR)
																	   - #{wnUrlopowyBean.currentAbsRodzajDR.get('dni_juz_zawnioskowanych')} (wn. w PP)" />
									</p:tooltip>
								</div>

								<div class="ui-lg-4 ui-g-12">
									<cc:cInputNumberMDesign readonly="true"
										label="Zawnioskowano:"
										tooltip="ilość zawnioskowanych dni urlopu w systemie PP (objęty wnioskami czas z harmonogramu pracy po przeliczeniu na normę urlopu)"
										value="#{wnUrlopowyBean.currentAbsRodzajDR.get('dni_juz_zawnioskowanych')}"
										styleClass="lighter-text pozostaloDni"
										decimalPlaces="3"/>
								</div>

								<div class="ui-lg-4 ui-g-12">
									<cc:cInputNumberMDesign readonly="true"
										label="Zatwierdzono:"
										tooltip="ilość zatwierdzonych dni urlopu w systemie PP"
										value="#{wnUrlopowyBean.currentAbsRodzajDR.get('zatwierdzone')}"
										styleClass="lighter-text pozostaloDni"
										decimalPlaces="3" />
								</div>

								<div class="ui-g-2"></div>

								<div class="ui-lg-4 ui-g-12">
									<cc:cInputTextMDesign readonly="true" id="normaDobowa"
										label="Norma dobowa:"
										value="#{wnUrlopowyBean.getNormaDobowaString( wnUrlopowyBean.currentWniosek.uprwDataOd )}"
										styleClass="lighter-text pozostaloDni"
										styleClassInputText="right"
									/>
									<p:tooltip for="normaDobowa" rendered="#{user.admin}"
										   value="Wyliczana na podstawie funkcji ek_pck_limity.norma_dobowa_na_dzien"/>
								</div>

								<div class="ui-lg-4 ui-g-12">
									<cc:cInputTextMDesign readonly="true" id="normaUrlopowa"
										label="Norma urlopowa:"
										value="#{wnUrlopowyBean.getNormaUrlopowaString( wnUrlopowyBean.currentWniosek.uprwDataOd )}"
										styleClass="lighter-text pozostaloDni right"
										styleClassInputText="right"
									/>
									<p:tooltip for="normaUrlopowa" rendered="#{user.admin}"
										   value="Wyliczana na podstawie funkcji ek_pck_absencje.il_godz_na_dzien_urlopu"/>
								</div>

								<div class="ui-g-2"></div>

								<div style="width:100%; border: 1px solid lightgray"></div>
							</h:panelGroup>

							<br/><br/><br/><br/>

							<div class="ui-g">

								<p:outputLabel for="pgPozostalo" styleClass="fs20">Planuj / usuń urlop</p:outputLabel>
								<div style="width:100%; border: 1px solid lightgray"></div>

								<h:panelGroup id="datyGodziny" styleClass="datyGodziny ui-g">

									<div class="ui-xl-5 ui-lg-12 ui-g-noppad">

											<cc:cCalendarMDesign styleClass="clndr-wnioskiUrl mmw200" id="dtOd"
												label="od:"
												required="true"
												value="#{wnUrlopowyBean.currentWniosek.uprwDataOd}"
												placeholder="rrrr-mm-dd"
												dateFormat="yyyy-MM-dd"
												mask =     "9999-99-99"
												minDate="#{wnUrlopowyBean.dateSerial(wnUrlopowyBean.rok, 1, 1)}"
												maxDate="#{wnUrlopowyBean.dateSerial(wnUrlopowyBean.rok, 12, 31)}"
											>

												<p:ajax event="dateSelect" update="@(.Lacznie) formData formPlanuj:idPrcZast @(.datyGodziny) "
														partialSubmit="true" process="dtOd" />

												<p:ajax event="keyup" update="@(.Lacznie) formData formPlanuj:idPrcZast @(.datyGodziny) "
														partialSubmit="true" process="dtOd " />

											</cc:cCalendarMDesign>

											<p:outputLabel for="tpOd" value="Godzina od:" rendered="#{wnUrlopowyBean.currentWniosek.getCzyGodzinowy()}"/>
											<pe:timePicker id="tpOd" mode="popup" locale="pl_PL"
												rendered="#{wnUrlopowyBean.currentWniosek.getCzyGodzinowy()}"
												value="#{wnUrlopowyBean.currentWniosek.uprwGodzinaOd}" >
												<p:ajax event="close" partialSubmit="true" process="@this" update="@(.Lacznie) formData"/>
											</pe:timePicker>

									</div>

									<div class="ui-xl-5 ui-lg-12 ui-g-noppad center">

										<cc:cCalendarMDesign styleClass="clndr-wnioskiUrl mmw200" id="dtDo"
											label="do:"
											required="true"
											value="#{wnUrlopowyBean.currentWniosek.uprwDataDo}"
											placeholder="rrrr-mm-dd"
											dateFormat="yyyy-MM-dd"
											mask =     "9999-99-99"
											minDate="#{wnUrlopowyBean.dateSerial(wnUrlopowyBean.rok, 1, 1)}"
											maxDate="#{wnUrlopowyBean.dateSerial(wnUrlopowyBean.rok, 12, 31)}"
										>
											<p:ajax event="dateSelect" update="@form formData @(.datyGodziny)"
												partialSubmit="true" process="dtDo" />

											<p:ajax event="keyup" update="@form formData @(.datyGodziny)"
												partialSubmit="true" process="dtDo" />

										</cc:cCalendarMDesign>

										<p:outputLabel for="tpDo" value="Godzina do:" rendered="#{wnUrlopowyBean.currentWniosek.getCzyGodzinowy()}"/>
										<pe:timePicker id="tpDo" mode="popup"
											rendered="#{wnUrlopowyBean.currentWniosek.getCzyGodzinowy()}" locale="pl_PL"
											value="#{wnUrlopowyBean.currentWniosek.uprwGodzinaDo}" >
											<p:ajax event="close" partialSubmit="true" process="@this" update="@(.Lacznie) formData"/>
										</pe:timePicker>

									</div>

									<h:panelGroup id="lacznie" styleClass="Lacznie ui-g" style="width: 100%;">

										<div class="ui-xl-5 ui-lg-12 ui-g-noppad">
											<cc:cInputNumberMDesign label="Łącznie zaznaczonych dni pracy: "
												id="liczbaDni" readonly="true"
												value="#{wnUrlopowyBean.currentWniosek.getCzyGodzinowy()?
																wnUrlopowyBean.pplAbsCzasPracy.data.get(0).get('url_godz_D')
																:wnUrlopowyBean.pplAbsCzasPracy.data.get(0).get('z_dni_harm_ind_trunc') }"
												styleClass="lighter-text mmw200"
												decimalPlaces="3"/>
										</div>

										<div class="ui-xl-5 ui-lg-12 ui-g-noppad">
											<cc:cInputNumberMDesign label="Łącznie godzin w dniach:"
												id="liczbaGodzin" readonly="true"
												value="#{wnUrlopowyBean.currentWniosek.getCzyGodzinowy()?
																wnUrlopowyBean.pplAbsCzasPracy.data.get(0).get('url_godz_H')
																:wnUrlopowyBean.pplAbsCzasPracy.data.get(0).get('z_godz_harm_ind_trunc') }"
												styleClass="lighter-text mmw200"
												decimalPlaces="3"/>
										</div>

									</h:panelGroup>

								</h:panelGroup>

							</div>
						</h:panelGroup>

						<h:panelGroup>

							<div class="ui-g">
<!-- 									<div class="ui-g-1"></div> -->
								<div class="ui-g-8">
									<cc:cLOVMDesign
											id="rUrlopu" styleClass="rUrlopu"
											label="Rodzaj urlopu"
											required="true"
											tooltip="Rodzaje urlopów z wprowadzonym limitem"
											lovDlgTitle="Wybór typu urlopu"
											datasource="#{wnUrlopowyBean.rodzajeAbsencjiLW}"
											value="#{wnUrlopowyBean.currentWniosek.uprwRdaKod}"
											lovTextFormat="%2$s" valueFormat="%1$s"
											update="@(.pgPozostalo) @(.datyGodziny) @(.pgGodziny) template_growl"
									/>

<!-- 									rowSelectAction="#{wnUrlopowyBean.currentWniosek.setUprwRdaId(wnUrlopowyBean.rodzajeAbsencjiLW.currentRow.get('RDA_ID') )}" -->

								</div>

								<div class="ui-g-12 ui-g-nopad p0 m0"></div>

<!-- 									<div class="ui-g-1"></div> -->
								<div class="ui-g-8">
									<cc:cLOVMDesign id="idPrcZast"
										label="Pracownik zastępujący:"
										lovDlgTitle="Wybór pracownika na zastępstwo"
										datasource="#{wnUrlopowyBean.getLW('PP_PRC_IM_NAZ_LACZNIE_DZI', wnUrlopowyBean.currentWniosek.uprwDataOd,
																										wnUrlopowyBean.currentWniosek.uprwDataOd,
																										wnUrlopowyBean.currentWniosek.uprwDataOd,
																										wnUrlopowyBean.currentWniosek.uprwDataOd)}"
										lovTextFormat="%3$s" valueFormat="%1$s"
										value="#{ wnUrlopowyBean.currentWniosek.uprwZastPrcId }"
										update="formPlanuj:btnUsunZastepstwo" />
								</div>

								<div class="ui-g-1" style="position:relative; min-width:60px">
									<p:commandButton style="position:absolute; bottom:0; left:0"
										disabled="#{wnUrlopowyBean.currentWniosek.uprwZastPrcId == null}"
										id="btnUsunZastepstwo"
										ajax="true" update="@this idPrcZast"
										actionListener="#{ wnUrlopowyBean.currentWniosek.setUprwZastPrcId(null) }"
										icon="clear">
									</p:commandButton>

								</div>

								<div class="ui-g-12 ui-g-nopad p0 m0"></div>

<!-- 									<div class="ui-g-1"></div> -->
								<div class="ui-g-8">
									<cc:cLOVMDesign id="idPrcZatw"
										label="Pracownik rozpatrujący:"
										required="true"
										lovDlgTitle="Wybór pracownika do rozpatrzenia wniosku urlopowego"
										datasource="#{wnUrlopowyBean.getLW('PPL_ZATWIERDZAJACY_URLOP',user.getPrcId())}"
										lovTextFormat="%3$s" valueFormat="%1$s"
										value="#{ wnUrlopowyBean.currentWniosek.uprwZatwPrcId }"
										update="formPlanuj:btnUsunZatwierdzajacego"
										rendered="#{'T' eq wnUrlopowyBean.czyRozpatrujacy}"
										/>
<!-- 											update="formPlanuj" NaN  -->
								</div>
								<div class="ui-g-1" style="position:relative; min-width:60px">
									<p:commandButton style="position:absolute; bottom:0; left:0"
										disabled="#{wnUrlopowyBean.currentWniosek.uprwZatwPrcId == null}"
										id="btnUsunZatwierdzajacego"
										ajax="true" update="@this idPrcZatw"
										actionListener="#{ wnUrlopowyBean.currentWniosek.setUprwZatwPrcId(null) }"
										icon="clear"
										rendered="#{'T' eq wnUrlopowyBean.czyRozpatrujacy}"
										>
									</p:commandButton>
								</div>

<!-- 										<div style="width:100%; border: 1.0px solid lightgray" class="mt10"></div> -->
								<div class="ui-g-12 pt20 center">

									<div class="center"  style="display: inline-block; margin:auto;">

										<p:commandButton styleClass="granatowy w160 m5 " id="btnPlanujUrlop"
											value="#{wnUrlopowyBean.currentWniosek.uprwId eq 0? 'wnioskuj o urlop':'modyfikuj wniosek'}"
											update="formData formPlanuj"
											actionListener="#{wnUrlopowyBean.zapiszNowyUrlOdDo()}"
											icon="add_box"
											partialSubmit="true"
											process="@this">
											<p:ajax update="formData formPlanuj" delay="10" />
										</p:commandButton>

										<p:commandButton styleClass="granatowy w160  m5" id="btnOdPlanujUrlop"
											disabled="#{wnUrlopowyBean.currentWniosek.uprwId eq 0? true : false}"
											value="anuluj wniosek" ajax="true"
											update="formData @all formPlanuj"
											action="#{wnUrlopowyBean.odplanujUrlopOdDo()}"
											partialSubmit="true"
											process="@this"
											icon="delete">
											<p:ajax update="formData formPlanuj" delay="10" />
										</p:commandButton>

									</div>

								</div>

							</div>

						</h:panelGroup>
						<br/>
						<div style="width:100%; border: 1px solid lightgray"></div>

						<br/><br/><br/><br/>

						<p:accordionPanel activeIndex="-1" onTabShow="

							var objDv = document.getElementById('dvscrl');
							$('#dvscrl').animate({
								scrollTop: objDv.scrollHeight
							}, 800);

						" >

							<p:tab title="Legenda">

								<br/>
								<p:outputLabel value="Wnioski i absencje urlopowe" styleClass="fs20" /><br/>
								<p:outputLabel value="wniosek/odrzucony/zatwierdzony" />
								<br /><div style="width:100%; border: 1px solid lightgray"></div>
								<h:panelGroup id="lwn">

									<p:repeat
										value="#{wnUrlopowyBean.getLW('PPL_ABS_RODZ_ALL',user.getPrcId()).data}"
										var="r">

										<ui:param name="kolor" value="" />

										<h:panelGroup styleClass="wniosek #{r.get('RDA_KOD')}" >
											<h:outputText value="#{r.get('RDA_KOD')}"  style="margin:auto!important" />
										</h:panelGroup>

										<p:spacer width="10" />

										<h:panelGroup  styleClass="wniosek n-#{r.get('RDA_KOD')}" >
											<h:outputText value="#{r.get('RDA_KOD')}"  style="margin:auto!important" />
										</h:panelGroup>

										<p:spacer width="10" />

										<!-- <h:outputText value="#{r.get('RDA_KOD')}"
											styleClass="wniosek o-#{r.get('RDA_KOD')}" />
										<p:spacer width="10" /> -->

										<h:panelGroup  styleClass="absencja #{r.get('RDA_KOD')}">
											<h:outputText value="#{r.get('RDA_KOD')}" style="margin:auto!important" />
										</h:panelGroup>

										<p:spacer width="10" />

										<h:outputText value="#{r.get('RDA_NAZWA')}" />

										<br />

									</p:repeat>

								</h:panelGroup>

								<div style="width:100%; border: 1px solid lightgray"></div>


								<br /><br />
								<p:outputLabel for="lzrp" value="Roczny plan urlopowy" styleClass="fs20 mt20"/>
								<br />
								<div style="width:100%; border: 1px solid lightgray"></div>
								<h:panelGroup id="lzrp">
<!-- 										<h:panelGroup  styleClass="wniosek" style="border:3px solid transparent!important;"/> -->
<!-- 										<p:spacer width="10" /> -->

									<h:panelGroup  styleClass="wniosek zRP">
										<h:outputText value="zRP" style="margin:auto!important; color:gray!important;"/>
									</h:panelGroup>
									<p:spacer width="10" />

<!-- 										<h:panelGroup  styleClass="wniosek" style="border:3px solid transparent!important;"/> -->
<!-- 										<p:spacer width="10" /> -->

									<h:outputText value="Urlop zaplanowany" styleClass="ml120"/>
									<br />
								</h:panelGroup>

								<div style="width:100%; border: 1px solid lightgray"></div>

							</p:tab>
						</p:accordionPanel>

					</h:form>
				</div>
			</div>

<h:outputStylesheet>

	span.zRP,
	    div.ui-datepicker-group > table > tbody > tr > td.cday.zRP > a {
	    	opacity: 0.8;
			//background-color: #F4E3AA;
			padding: 1px !important;
		    border-radius: 20% !important;  
		}

	<ui:repeat 	value="#{wnUrlopowyBean.getLW('PPL_ABS_RODZ_ALL',user.getPrcId()).data}" var="r">
		<ui:param name="kolorek" value="#{wnUrlopowyBean.mapujBySL('PPS_ABS_KOLORY', r.get('RDA_KOD'), 'lightgray')}" />
		<ui:param name="cssClass" value="#{r.get('RDA_KOD')}" />	
			
		<!-- wniosek złożony i nie rozpatrzony -->
		span.#{cssClass},
	    div.ui-datepicker-group > table > tbody > tr > td.cday.#{cssClass} > a {
	    	opacity: 1.0;
			background-color: #{kolorek};
			padding: 1px !important;
		    border-radius: 20% !important;
		    box-shadow: 3px 3px 3px #888888 !important;
		    color: white: important;
		}


		<!-- wniosek odrzucony -->
		span.n-#{cssClass},
		div.ui-datepicker-group > table > tbody > tr > td.cday.n-#{cssClass} > a {
			opacity: 0.4;
			background-color: #{kolorek};
			padding: 1px !important;
		    border-radius: 20% !important;
		    border: 2px solid red!important;
		    box-shadow: 3px 3px 3px #888888 !important;
		    color: white: important;	    
		}

		
 		<!--wniosek procedowany/oczekujacy -->
<!--		span.o-#{cssClass},
		div.ui-datepicker-group > table > tbody > tr > td.cday.o-#{cssClass} > a {
			opacity: 0.6; 
			background-color: #{kolorek};
			padding: 1px !important;
		    border-radius: 20% !important;
		    border: 2px solid green!important;  
		} -->



		<!-- wniosek zatwierdzony ale jeszcze bez absencji w EGR (co moze sie zdażyć w wyniku błedu w kodzie przepisujacym wniosek do EGR po zatwierdzeniu)  -->
		span.t-#{cssClass},
		div.ui-datepicker-group > table > tbody > tr > td.cday.t-#{cssClass} > a {
			opacity: 1.0; 
			background-color: #{kolorek};
			padding: 1px !important;
		    border-radius: 20% !important;
		    border: 2px solid black!important;
		}
	
	</ui:repeat>

</h:outputStylesheet>

			<ui:include src="/WEB-INF/protectedElements/Dialogs/Urlopy/dlgUrlopyWniosekZZZ.xhtml" />

		</ui:define>
	</ui:composition>
</h:body>
</html>
