<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista szkoleń BHP" />

		<ui:define name="egr_content">

			<ui:include
				src="/WEB-INF/protectedElements/Dialogs/BHP/dlgBhpZapis.xhtml" />

			<h:form id="frm" styleClass="bg-fff m20i p20 bsh2black flex-1">
					
				<p:accordionPanel id="accLSzBHP" widgetVar="accLSzBHP" styleClass="d-flex-1-column">

					<p:tab id="tb0" title="Wybierz pracownika: ">

						<div class="d-flex-1">
						<c:cLookupTable fillwidthcolumn="true" height="calc(100vh - 230px)"
							datasource="#{szkoleniaBhpBean.getLW('PP_PRC_BHP',user.dbLogin)}"
							value="#{szkoleniaBhpBean.selectedPrcId}"
							onRowSelectStart="showHourGlass()"
							onRowSelected=" PF('accLSzBHP').select(1); hideHourGlass(); "
							update="frm:accLSzBHP:pnlSzk frm:accLSzBHP:lblTabSzk" />
						</div>

					</p:tab>

					<p:tab id="tb1" title="Szkolenia BHP pracownika:">

						<f:facet name="title">
							<h:panelGroup id="lblTabSzk">
								Szkolenia BHP pracownika #{szkoleniaBhpBean.pracownik ne null ? ' ('.concat(szkoleniaBhpBean.pracownik.get("pp_pracownik")).concat(')') : '' }
							</h:panelGroup>
						</f:facet>

						<h:panelGroup id="pnlSzk" styleClass="d-flex-1">

							<c:cLookupTable id="clkpSzk"
								height="calc(100vh - 230px)"
								showSearchField="true"
								insertChildrenFirst="false"
								datasource="#{szkoleniaBhpBean.getLW('PPL_SZK_BHP_PRACOWNIKA', szkoleniaBhpBean.selectedPrcId)}"
								exportPdf="true" exportXls="true" exportCsv="true" exportXml="true"
								btnsAddDelEdit="true"
								btnAddAction="#{szkoleniaBhpBean.dodajSzkolenieBhp()}"
								btnAddOncomplete="PF('accOf').select(0); PF('dlgBhpZapis').show();"
								btnAddUpdate="frmDlgBhpZapis"
								btnDeleteActionListener="#{szkoleniaBhpBean.usun(row)}"
								btnDeleteConfirmMessage="Czy na pewno chcesz trwale usunąć szkolenie?"
								btnEditActionListener="#{szkoleniaBhpBean.edytujSzkolenieBhp(row.get(0))}"
								btnEditUpdate="frmDlgBhpZapis"
								btnEditOncomplete="PF('accOf').select(1); PF('dlgBhpZapis').show();"
							/>
						</h:panelGroup>
					</p:tab>

					<p:tab id="tb2" title="Pracownicy którym upływa ważność szkolenia BHP w przeciągu najbliższego miesiąca">

						<c:cLookupTable fillwidthcolumn="true" height="calc(100vh - 230px)"
							datasource="#{szkoleniaBhpBean.getLW('PPL_SZK_BHP_NAJ_MIES',user.dbLogin)}"
						/>

					</p:tab>
				</p:accordionPanel>
			</h:form>

		</ui:define>
	</ui:composition>
</body>
</html>