<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<f:metadata>
</f:metadata>
<body>

<p:accordionPanel id="accPnl"  multiple="true">

<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================         PLAN TRASY          ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	<p:tab title="PLAN TRASY">
		<f:facet name="title">
			<cc:cDelTabPlanTrasyTitle kalkulacja="#{delegacjaKRBean.kalkulacjaWstepna}"/>
		</f:facet>

<!--		<f:facet name="title">-->
<!--			<h:panelGroup id="pnlPlanTrasyTtl">-->
<!--				<p:outputLabel value="PLAN TRASY" styleClass="p0" style="#{not empty delegacjaKRBean.kalkulacjaWstepna.deltTrasies ? 'color:black!important;': ''}"/>-->
<!--			</h:panelGroup>-->
<!--		</f:facet>-->
		
		
		<h:panelGroup id="trasyPnl" width="1210">
			
			<cc:cTable id="trasy" datasource="#{delegacjaKRBean.kalkulacjaWstepna.deltTrasies}"
				height="#{190 + 50*(delegacjaKRBean.kalkulacjaWstepna.deltTrasies.size())}px"
				smallHeaders="true">
					
				<p:column width="20">
		        	<p:rowToggler />
		    	</p:column>
		    	
				 <p:rowExpansion>
					 <p:panelGrid>
						<p:row styleClass="ui-g ui-g-12 ui-g-nopad">
						
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="koszt"/>
							</p:column>
							
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:inputNumber value="#{o.trsKosztBiletu}"
										symbol=" PLN" symbolPosition="s" disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa}" >
									<p:ajax event="change"
									 		process="@this" partialSubmit="true"
									/>
								</p:inputNumber>
<!--											update="@(.kosztyPnl)"-->
<!--											listener="#{delegacjaKRBean.dodajKosztBiletu(delegacjaKRBean.kalkulacjaWstepna , o)}"-->
							</p:column>
							
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="termin wykupu"/>
							</p:column>
							
							<p:column styleClass="ui-g-2 ui-g-nopad">
								<cc:cCalendarHour value="#{o.trsTerminWykupuBiletu}"/>
							</p:column>
		
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="faktura vat"/>
							</p:column>
							
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:inputText value="#{o.trsFakturaVatNaBilet}">
									<p:ajax event="change" process="@this" partialSubmit="true"/>
								</p:inputText>
							</p:column>
							
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="termin płatnosci"/>
							</p:column>
							
							<p:column styleClass="ui-g-2 ui-g-nopad">
								<cc:cCalendar  value="#{o.trsTerminPlatnosciZaBilet}"/>
							</p:column>					
							
						</p:row>	
					</p:panelGrid>
					
					<p:inputTextarea value="#{o.trsOpis}"  style="max-width:1000px"
						placeholder="... trasa - opis/uwagi ..."
						rows="2" cols="200" maxlength="4000"  
						styleClass="lekka-ramka">
							
						<p:ajax event="change" process="@this" partialSubmit="true"/>
					</p:inputTextarea>
						
					<br/><br/>
					
				 </p:rowExpansion>

				<p:column headerText="Miejscowość" width="100">
					<cc:cInputText value="#{o.trsMiejscowoscOd}"/>
				</p:column>

				<p:column headerText="Wyjazd" width="150">
					<cc:cCalendarHour id="tWyj" value="#{o.trsDataOd}"
						minDate="#{delegacjaKRBean.wniosek.wndDataWyjazdu}" 
						maxDate="#{delegacjaKRBean.zwrocMaxDateZWniosku(delegacjaKRBean.wniosek.wndDataPowrotu)}"/>
				</p:column>
				
				<p:column headerText="Miejscowość" width="100">
					<cc:cInputText value="#{o.trsMiejscowoscDo}"/>
				</p:column>		
				
				<p:column headerText="Przyjazd" width="150">
					<cc:cCalendarHour value="#{o.trsDataDo}"
						minDate="#{delegacjaKRBean.wniosek.wndDataWyjazdu}" 
						maxDate="#{delegacjaKRBean.zwrocMaxDateZWniosku(delegacjaKRBean.wniosek.wndDataPowrotu)}"/>
				</p:column>	
				
				<p:column headerText="Środek lokomocji" width="200">
						<cc:cLovJS id="srdklkmcj"
						process="@this"
						lovDlgTitle="Środki lokomocji" 
						datasource="#{delegacjaKRBean.getSql('DEL_SRODEK_LOKOMOCJI')}" width="200"
						lovTextFormat="%2$s"
						value="#{o.trsSrodekLokomocji}" 
						valueRefObject="#{o}"/>
				</p:column>	
				
				<p:column width="20">
					<f:facet name="header">
						<p:commandButton partialSubmit="true" process="@this @form:accPnl:trasy" 
							update="@form:accPnl:trasy @(.btnPlanTrs)" 
							icon="add"  
							style="width:20px!important"
							action="#{delegacjaKRBean.dodajTrase(delegacjaKRBean.kalkulacjaWstepna)}"/>
					</f:facet>
					<p:commandButton partialSubmit="true" process="@this" 
							update="@form:accPnl:trasy @form:accPnl:kosztyPnl @(.btnPlanTrs)" 
							icon="delete"  
							action="#{delegacjaKRBean.kalkulacjaWstepna.removeDeltTrasy(o)}"/>
				</p:column>
				
			</cc:cTable>
		</h:panelGroup>		
		
		
		 <p:separator/>
		 <p:commandButton value="generuj plan trasy wg miast" 
		 		styleClass="granatowy btnPlanTrs">
			
			<p:ajax process="tabViewId:frmT1 @this"
					listener="#{delegacjaKRBean.generujTrasy()}" 
					partialSubmit="true" 
					update="trasy @(.btnPlanTrs)" 
					onstart = "showHourGlass()" 
					oncomplete	= "hideHourGlass()" 
				/>		
				
			<p:confirm header="Generowanie planu trasy" 
				disabled="#{delegacjaKRBean.kalkulacjaWstepna.deltTrasies.size() eq 0}"
				message="Ponowne wygenerowanie tras spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
				icon="ui-icon-alert"/>	
		</p:commandButton> 
		
<!-- 		<p:confirmDialog global="true" showEffect="fade" -->
<!-- 			hideEffect="fade"> -->
<!-- 			<p:commandButton value="Tak" type="button" -->
<!-- 				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" /> -->
<!-- 			<p:commandButton value="Nie" type="button" -->
<!-- 				styleClass="ui-confirmdialog-no" icon="ui-icon-close" /> -->
<!-- 		</p:confirmDialog> -->
		
		<br/><br/><br/>
	 
	 </p:tab>
	 
	 
	 
<!-- 	 ====================================================================================================================== -->
<!-- 	 ==========================================                             	=========================================== -->
<!-- 	 ==========================================       CZYNNOŚCI SŁUŻBOWE        =========================================== -->
<!-- 	 ==========================================                             	=========================================== -->
<!-- 	 ====================================================================================================================== -->

	 <p:tab title="CZYNNOŚCI SŁUŻBOWE" id="czynnosciTab" disabled="#{'N' eq delegacjaKRBean.wniosek.wndFPryw}" 
	 	titletip="tą część wypełniasz jedynie w przypadku połączenia podróży służbowej z pobytem prywatnym">
	 
	 	<f:facet name="title">
			<h:panelGroup id="pnlCzynnosciSluzboweTtl">
				<p:outputLabel value="CZYNNOŚCI SŁUŻBOWE" styleClass="p0" style="#{not empty delegacjaKRBean.kalkulacjaWstepna.delCzynnosciSluzbowe ? 'color:black!important;': ''}"/>
			</h:panelGroup>
		</f:facet>
	 
		<h:panelGroup id="czynnosciSPg" styleClass="czynnosciSPg" width="1215">
		
			<cc:cTable id="czynnosciST" styleClass="czynnosciST"
				datasource="#{delegacjaKRBean.kalkulacjaWstepna.delCzynnosciSluzbowe}" 
				height="250px" 
				smallHeaders="true" >
	
				<p:column headerText="Czas od" width="150">
					<cc:cCalendarHour value="#{o.czynCzynnosciOd}" 
						updateOnDateSelect="@(.czynnosciST)" 
						required="true"
						minDate="#{delegacjaKRBean.wniosek.wndDataWyjazdu}" 
						maxDate="#{delegacjaKRBean.zwrocMaxDateZWniosku(delegacjaKRBean.wniosek.wndDataPowrotu)}"
					/>
				</p:column>
				
				<p:column headerText="Czas do" width="150">
					<cc:cCalendarHour value="#{o.czynCzynnosciDo}" 
						updateOnDateSelect="@(.czynnosciST)"
						required="true"
						minDate="#{delegacjaKRBean.wniosek.wndDataWyjazdu}" 
						maxDate="#{delegacjaKRBean.zwrocMaxDateZWniosku(delegacjaKRBean.wniosek.wndDataPowrotu)}"
					/>
				</p:column>
				
				<p:column headerText="Czas łącznie" width="120">
					<p:inputText value="#{delegacjaKRBean.formatujDniCzynnosciSluzbowe(o.czynCzas)}" readonly="true"/>
				</p:column>
				
				<p:column headerText="Opis" width="300">
					<p:inputText value="#{o.czynOpis}"/>
				</p:column>
				
				<p:column width="35">
					<f:facet name="header">
						<p:commandButton partialSubmit="true" process="@this" 
							update="@form:accPnl:czynnosciSPg @(.btnDietyP) @(.btnDietyH) @(.btnRKM) @(.btnCzynnosci)" 
							icon="add"  
							style="width:20px!important"
							action="#{delegacjaKRBean.dodajNoweCzynnosciSluzbowe(delegacjaKRBean.kalkulacjaWstepna)}"/>
					</f:facet>
					<p:commandButton partialSubmit="true" process="@this" 
						update="@form:accPnl:czynnosciSPg @(.btnDietyP) @(.btnDietyH) @(.btnRKM) @(.btnCzynnosci)" 
						icon="delete" 
						action="#{delegacjaKRBean.kalkulacjaWstepna.removeDelCzynnosciSluzbowe(o)}"/>
				</p:column>
				
			</cc:cTable>
		</h:panelGroup>	
		
		<p:separator/>
		
		<p:commandButton partialSubmit="true" process="@this" 
			value="wyznacz czynności służbowe wg planu trasy"
			update="@(.czynnosciSPg) @(.btnDietyP) @(.btnDietyH) @(.btnRKM)" 
			styleClass="granatowy btnCzynnosci"
			onstart = "showHourGlass()" 
			oncomplete	= "hideHourGlass()"
			actionListener="#{delegacjaKRBean.wyznaczCzynnosciSluzbowe(delegacjaKRBean.kalkulacjaWstepna)}">
			
			<p:confirm header="Generowanie czynności służbowych" 
				disabled="#{delegacjaKRBean.kalkulacjaWstepna.delCzynnosciSluzbowe.size() eq 0}"
				message="Ponowne wygenerowanie danych spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
				icon="ui-icon-alert"/>
					
		</p:commandButton> 
		

		<br/><br/><br/>		 
	 
	 
	 </p:tab>
	 
<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================       DIETY POBYTOWE        ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="DIETY POBYTOWE">
			
		<f:facet name="title">
			 <cc:cDelTabPklGroupTitle 
			 	title="DIETY POBYTOWE" 
			 	kalkulacja="#{delegacjaKRBean.kalkulacjaWstepna}" 
			 	typyDiet="P"
			 />
		</f:facet>
	 	
	 	<h:panelGroup id="dietyPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">

	        <cc:cDelKTabPklGroup
	                   kalkulacja="#{delegacjaKRBean.kalkulacjaWstepna}"
	                   typyDiet="P"
	                   btnAddAction="#{delegacjaKRBean.addDietaPobytowa(delegacjaKRBean.kalkulacjaWstepna)}"
	         />
		
<!-- 		<h:panelGrid id="dietyPnl" styleClass="dietyPnl" width="1300"> -->
		
<!-- 			<ui:param name="tpozIdP" value="#{delegacjaKRBean.getTpozIdByKtgDiety('P')}" /> -->
<!-- 			<ui:param name="dietyPobytowe" value="#{delegacjaKRBean.kalkulacjaWstepna.deltPozycjeKalkulacjis.stream().filter(pkl -> tpozIdP eq pkl.pklTpozId ).toList()}" /> -->
			
<!-- 			<cc:cTable id="diety" styleClass="dietyPTable" -->
<!-- 				datasource="#{dietyPobytowe}"   -->
<!-- 				height="250px"  -->
<!-- 				smallHeaders="true" > -->
	
<!-- 				<p:column headerText="Ilość diet" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklIlosc}" styleClass="right"> -->
<!-- 						<p:ajax update="inpKwota kwotaMFDP"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Stawka" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklStawka}" styleClass="right" symbol=" PLN" symbolPosition="s" readonly="true"> -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column width="75"> -->
<!-- 					<f:facet name="header"> -->
<!-- 						<div>Śniadania</div> -->
<!-- 					</f:facet> -->
<!-- 					<p:inputNumber value="#{o.pklSniadania}" styleClass="right" decimalPlaces="0"  -->
<!-- 							maxValue="#{delegacjaKRBean.ilePosilkow(o)}"> -->
<!-- 						<p:ajax update="inpKwota kwotaMFDP" listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
	
<!-- 				<p:column width="75"> -->
<!-- 					<f:facet name="header"> -->
<!-- 						<div>Obiady</div> -->
<!-- 					</f:facet> -->
<!-- 					<p:inputNumber value="#{o.pklObiady}" styleClass="right" decimalPlaces="0"  -->
<!-- 							maxValue="#{delegacjaKRBean.ilePosilkow(o)}"> -->
<!-- 						<p:ajax update="inpKwota kwotaMFDP"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column width="75"> -->
<!-- 					<f:facet name="header"> -->
<!-- 						<div>Kolacje</div> -->
<!-- 					</f:facet>						 -->
<!-- 					<p:inputNumber value="#{o.pklKolacje}" styleClass="right" decimalPlaces="0"  -->
<!-- 							maxValue="#{delegacjaKRBean.ilePosilkow(o)}"> -->
<!-- 						<p:ajax update="inpKwota kwotaMFDP"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Kwota" width="75"> -->
<!-- 					<p:inputNumber id="inpKwota" value="#{o.pklKwota}" styleClass="right"> -->
<!-- 						<p:ajax onsuccess="aktualizujKosztMfDP()" listener="#{delegacjaKRBean.aktualizujKwotyZF(o)}"/> -->
<!-- 					</p:inputNumber> -->
<!-- 					<p:tooltip for="inpKwota" value="Kwota w PLN : #{o.pklKwotaPln}"/> -->
<!-- 					<p:remoteCommand name="aktualizujKosztMfDP" update="kwotaMFDP" -->
<!-- 						actionListener="#{o.setPklKwotaMf(delegacjaKRBean.ustalKosztMf(o))}"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Koszt MF" width="75"> -->
<!-- 					<p:inputNumber id="kwotaMFDP" value="#{o.pklKwotaMf}" styleClass="right"> -->
<!-- 						<p:ajax event="change" process="@this" partialSubmit="true"/> -->
<!-- 					</p:inputNumber> -->
<!-- 					<p:tooltip for="kwotaMFDP" value="#{delegacjaKRBean.zwrocProcentKosztMF(o.pklTpozId)}% z #{o.pklKwota}"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Refundacja" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklRefundacjaKwota}" styleClass="right"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Forma płatności" width="105"> -->
<!-- 					<p:selectOneMenu value="#{o.pklFormaPlatnosci}" > -->
<!-- 						<f:selectItems id="frmWyp" value="#{delegacjaKRBean.getSql('DEL_FORMY_PLATNOSCI').data}" var="frmWyp" -->
<!-- 							itemLabel="#{frmWyp.get(1)}" -->
<!-- 							itemValue="#{frmWyp.get(0)}" /> -->
							
<!-- 						<p:ajax event="change" partialSubmit="true" process="@this"/> -->
<!-- 						<p:tooltip for="frmWyp" value="#{frmWyp.get(1)}"/> -->
<!-- 					</p:selectOneMenu> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="ZF" width="75"> -->
<!-- 					<p:commandButton styleClass="granatowy" -->
<!-- 						id="zfAng" -->
<!-- 						partialSubmit="true" process="@this" -->
<!-- 						action="#{delegacjaKRBean.getCurrentPklDlg(o)}"  -->
<!-- 						oncomplete="PFbyId('dlgZrKrFinId').show()" icon="search" /> -->
<!-- 					<p:tooltip for="zfAng" value="Pokaż źródła finansowania i angaże"/> -->
					
<!-- 					<p:commandButton id="kopiujZf" icon="vertical_align_bottom"   -->
<!-- 						partialSubmit="true" process="@this" -->
<!-- 						update="@form:accPnl:dietyPnl" -->
<!-- 						rendered="#{o.getDeltZrodlaFinansowanias() != null and o.getDeltZrodlaFinansowanias().size() gt 0}" -->
<!-- 						action="#{delegacjaKRBean.copyZFByTypPkl(o,dietyPobytowe)}"/> -->
<!-- 					<p:tooltip for="kopiujZf" value="skopiuj w/w źródła finasowania do pozostałych pozycji kosztów"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column width="75"> -->
<!-- 					<f:facet name="header"> -->
<!-- 						<p:commandButton partialSubmit="true" process="@this" update="@form:accPnl:dietyPnl @(.btnDietyP)" icon="add"  style="width:20px!important" -->
<!-- 						action="#{delegacjaKRBean.addDietaPobytowa(delegacjaKRBean.kalkulacjaWstepna)}"  -->
<!-- 						disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa or 'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt  -->
<!-- 							or dietyPobytowe.size() > 0}"/> -->
<!-- 					</f:facet> -->
					
<!-- 					<p:commandButton partialSubmit="true" process="@this" update="@form:accPnl:dietyPnl @(.btnDietyP)" icon="delete"  -->
<!-- 						action="#{delegacjaKRBean.kalkulacjaWstepna.removeDeltPozycjeKalkulacji(o)}" disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa -->
<!-- 						or 'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt}"/> -->
<!-- 				</p:column> -->
					
<!-- 			</cc:cTable> -->
<!-- 		</h:panelGrid>	 -->
		
<!-- 		<p:separator/> -->
			<div class="ui-g-12 ui-g-v-center p10">
				<p:commandButton value="generuj diety wg planu trasy" 
					styleClass="granatowy btnDietyP"  
					disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa
						or 'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt
						or delegacjaKRBean.kalkulacjaWstepna.delCzynnosciSluzbowe.size() gt 0}"
					actionListener="#{delegacjaKRBean.generujDiety('P', delegacjaKRBean.kalkulacjaWstepna)}" 
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
					<p:confirm header="Generowanie diet pobytowych" 
						disabled="#{delegacjaKRBean.kalkulacjaWstepna.getPklListByKtgDiet('P', false).size() eq 0}"
						message="Ponowne wygenerowanie diet pobytowych spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
				
				<p:commandButton value="generuj diety wg czynności służbowych" 
					styleClass="granatowy btnDietyP" 
					disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa 
						or 'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt
						or not(delegacjaKRBean.kalkulacjaWstepna.delCzynnosciSluzbowe.size() gt 0)}"
					actionListener="#{delegacjaKRBean.generujDiety_CS('P', delegacjaKRBean.kalkulacjaWstepna)}" 
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
					<p:confirm header="Generowanie diet pobytowych" 
						disabled="#{delegacjaKRBean.kalkulacjaWstepna.getPklListByKtgDiet('P', false).size() eq 0}"
						message="Ponowne wygenerowanie diet pobytowych spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton>
			</div>
		
		</h:panelGroup>
		
	 
	 </p:tab>

<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================       DIETY HOTELOWE        ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="DIETY/RYCZAŁT HOTELOWY">
			
		<f:facet name="title">
			 <cc:cDelTabPklGroupTitle 
			 	title="DIETY/RYCZAŁT HOTELOWY" 
			 	kalkulacja="#{delegacjaKRBean.kalkulacjaWstepna}" 
			 	typyDiet="H,RH"
			 />
		</f:facet>
	 	
	 	<h:panelGroup id="dietyHotelPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">

	        <cc:cDelKTabPklGroup
	                   kalkulacja="#{delegacjaKRBean.kalkulacjaWstepna}"
	                   typyDiet="H,RH"
	                   btnAddAction="#{delegacjaKRBean.addDietaHotelowa(delegacjaKRBean.kalkulacjaWstepna, true eq delegacjaKRBean.wniosek.czyDomyslnieDietaHotelowa ? 'H' : 'RH')}"
	         />
<!--			delegacjaKRBean.czyDietaHotelowa-->

			<!-- 		<h:panelGrid id="dietyHotelPnl" styleClass="dietyHotelPnl" width="1250"> -->

<!-- 			<ui:param name="tpozIdH" value="#{delegacjaKRBean.getTpozIdByKtgPozycji('H')}" /> -->
<!-- 			<ui:param name="tpozIdRH" value="#{delegacjaKRBean.getTpozIdByKtgPozycji('RH')}" /> -->
<!-- 			<ui:param name="dietyHotelowe" value="#{delegacjaKRBean.kalkulacjaWstepna.deltPozycjeKalkulacjis.stream().filter(pkl -> tpozIdH eq pkl.pklTpozId or tpozIdRH eq pkl.pklTpozId).toList()}" /> -->
			
<!-- 			<cc:cTable id="dietyHotel" styleClass="dietyHTable" -->
<!-- 				datasource="#{dietyHotelowe}"  -->
<!-- 				height="250px"  -->
<!-- 				smallHeaders="true"> -->
					

<!-- 				<p:column headerText="Ilość diet" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklIlosc}" styleClass="right"> -->
<!-- 						<p:ajax update="inpKwota kwotaMF"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Stawka" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklStawka}" styleClass="right" symbol=" PLN" symbolPosition="s"   -->
<!-- 							readonly="#{'RH' eq o.getKategoria()}" maxValue="600.0"> -->
<!-- 						<p:ajax update="inpKwota kwotaMF"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Kwota" width="75"> -->
<!-- 					<p:inputNumber id="inpKwota" value="#{o.pklKwota}" styleClass="right"> -->
<!-- 						<p:ajax  onsuccess="aktualizujKosztMf()" listener="#{delegacjaKRBean.aktualizujKwotyZF(o)}"/> -->
<!-- 					</p:inputNumber> -->
<!-- 					<p:tooltip for="inpKwota" value="Kwota w PLN : #{o.pklKwotaPln}" update="kwotaMF"/> -->
<!-- 					<p:remoteCommand name="aktualizujKosztMf" -->
<!-- 						actionListener="#{o.setPklKwotaMf(delegacjaKRBean.ustalKosztMf(o))}" update="kwotaMF"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Koszt MF" width="75"> -->
<!-- 					<p:inputNumber id="kwotaMF" value="#{o.pklKwotaMf}" styleClass="right"> -->
<!-- 						<p:ajax event="change" process="@this" partialSubmit="true"/> -->
<!-- 					</p:inputNumber> -->
<!-- 					<p:tooltip for="kwotaMF" value="#{delegacjaKRBean.zwrocProcentKosztMF(o.pklTpozId)}% z #{o.pklKwota}"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Refundacja" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklRefundacjaKwota}" styleClass="right"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Rodzaj" width="30"> -->
<!-- 					#{o.getKategoria() eq 'RH' ? 'Ryczałt':'Dieta'} -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Forma płatności" width="105"> -->
<!-- 					<p:selectOneMenu value="#{o.pklFormaPlatnosci}" > -->
<!-- 						<f:selectItems id="frmWyp" value="#{delegacjaKRBean.getSql('DEL_FORMY_PLATNOSCI').data}" var="frmWyp" -->
<!-- 							itemLabel="#{frmWyp.get(1)}" -->
<!-- 							itemValue="#{frmWyp.get(0)}" /> -->
							
<!-- 						<p:ajax event="change" partialSubmit="true" process="@this"/> -->
<!-- 						<p:tooltip for="frmWyp" value="#{frmWyp.get(1)}"/> -->
<!-- 					</p:selectOneMenu> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Termin wykupu" width="150"> -->
<!-- 					<cc:cCalendarHour value="#{o.pklTerminWykupu}" rendered="#{'H' eq o.getKategoria()}"/>   -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="ZF" width="75"> -->
<!-- 					<p:commandButton styleClass="granatowy" -->
<!-- 						partialSubmit="true" process="@this" -->
<!-- 						action="#{delegacjaKRBean.getCurrentPklDlg(o)}"  -->
<!-- 						oncomplete="PFbyId('dlgZrKrFinId').show()" icon="search" /> -->
						
<!-- 					<p:commandButton id="kopiujZf" icon="vertical_align_bottom"  -->
<!-- 						partialSubmit="true" process="@this" -->
<!-- 						update="@form:accPnl:dietyHotelPnl" -->
<!-- 						rendered="#{o.getDeltZrodlaFinansowanias() != null and o.getDeltZrodlaFinansowanias().size() gt 0}" -->
<!-- 						action="#{delegacjaKRBean.copyZFByTypPkl(o,dietyHotelowe)}"/> -->
<!-- 					<p:tooltip for="kopiujZf" value="skopiuj w/w źródła finasowania do pozostałych pozycji kosztów"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column width="75"> -->
			
<!-- 					<f:facet name="header"> -->
<!-- 						<p:commandButton partialSubmit="true" process="@this" update="@form:accPnl:dietyHotelPnl @(.btnDietyH)"  -->
<!-- 						icon="add"  style="width:20px!important" -->
<!-- 						action="#{delegacjaKRBean.addDietaHotelowa(delegacjaKRBean.kalkulacjaWstepna, true eq delegacjaKRBean.czyDietaHotelowa ? 'H' : 'RH')}"  -->
<!-- 						disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa -->
<!-- 							or 'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt}"/> -->
<!-- 					</f:facet> -->
					
<!-- 					<p:commandButton partialSubmit="true" process="@this" update="@form:accPnl:dietyHotelPnl @(.btnDietyH)"  -->
<!-- 						icon="delete"  -->
<!-- 						action="#{delegacjaKRBean.kalkulacjaWstepna.removeDeltPozycjeKalkulacji(o)}"  -->
<!-- 						disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa -->
<!-- 							or 'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt}"/> -->
<!-- 				</p:column> -->
			
<!-- 			</cc:cTable> -->
		
<!-- 		</h:panelGrid>	 -->
								
<!-- 		<p:separator/> 

-->
			<div class="ui-g-12 ui-g-v-center p10">
				<p:commandButton value="generuj #{delegacjaKRBean.wniosek.czyDomyslnieDietaHotelowa eq true ? 'diety hotelowe':'ryczałt hotelowy'} wg planu trasy"
					styleClass="granatowy btnDietyH" 
					disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa 
						or 'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt
						or delegacjaKRBean.kalkulacjaWstepna.delCzynnosciSluzbowe.size() gt 0}"
					actionListener="#{delegacjaKRBean.generujDiety(true eq delegacjaKRBean.wniosek.czyDomyslnieDietaHotelowa ? 'H' : 'RH', delegacjaKRBean.kalkulacjaWstepna)}"
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
					<p:confirm header="Generowanie diet" 
						disabled="#{delegacjaKRBean.kalkulacjaWstepna.getPklListByKtgDiet('H,RH', false).size() eq 0}"
						message="Ponowne wygenerowanie diet hotelowych spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton>
				
				<p:commandButton value="generuj #{delegacjaKRBean.wniosek.czyDomyslnieDietaHotelowa eq true ? 'diety hotelowe':'ryczałt hotelowy'} wg czynności służbowych"
					styleClass="granatowy btnDietyH" 
					disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa
						or 'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt
						or not(delegacjaKRBean.kalkulacjaWstepna.delCzynnosciSluzbowe.size() gt 0)}"
					actionListener="#{delegacjaKRBean.generujDiety_CS(true eq delegacjaKRBean.wniosek.czyDomyslnieDietaHotelowa ? 'H' : 'RH', delegacjaKRBean.kalkulacjaWstepna)}"
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
					<p:confirm header="Generowanie diet" 
						disabled="#{delegacjaKRBean.kalkulacjaWstepna.getPklListByKtgDiet('H,RH', false).size() eq 0}"
						message="Ponowne wygenerowanie diet/ryczałtu hotelowego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton>  
				
				<p:selectOneRadio id="format" value="#{delegacjaKRBean.wniosek.czyDomyslnieDietaHotelowa}" styleClass="radioLabel"
				 	disabled="'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt" 
					style="display:inline-block">
					<f:selectItem itemLabel="Dieta hotelowa" itemValue="true" />
					<f:selectItem itemLabel="Ryczałt" itemValue="false" />
					<p:ajax event="valueChange" update="@(.btnDietyH)"/>
				</p:selectOneRadio>
			
			</div>
		</h:panelGroup>
	 
	 </p:tab>

<!-- 	 ============================================================================================================================= -->
<!-- 	 ==========================================                             		============================================== -->
<!-- 	 ==========================================       RYCZAŁT NA KOMUNIKACJE        ============================================== -->
<!-- 	 ==========================================                             		============================================== -->
<!-- 	 ============================================================================================================================= -->

	 <p:tab title="RYCZAŁT NA KOMUNIKACJĘ MIEJSKĄ">
	 
	 	<f:facet name="title">
			 <cc:cDelTabPklGroupTitle 
			 	title="RYCZAŁT NA KOMUNIKACJĘ MIEJSKĄ" 
			 	kalkulacja="#{delegacjaKRBean.kalkulacjaWstepna}" 
			 	typyDiet="KM"
			 />
		</f:facet>
	 	
	 	<h:panelGroup id="ryczaltKM" styleClass="ui-g ui-g-12 p0 mt20 mb50">

	        <cc:cDelKTabPklGroup
	                   kalkulacja="#{delegacjaKRBean.kalkulacjaWstepna}"
	                   typyDiet="KM"
	                   btnAddAction="#{delegacjaKRBean.addRyczaltKM(delegacjaKRBean.kalkulacjaWstepna)}"
	         />	 
	 
<!-- 		<h:panelGrid id="ryczaltKM" styleClass="ryczaltKM" width="1003"> -->

<!-- 			<ui:param name="tpozIdKM" value="#{delegacjaKRBean.getTpozIdByKtgPozycji('KM')}" /> -->
<!-- 			<ui:param name="ryczaltKM" value="#{delegacjaKRBean.kalkulacjaWstepna.deltPozycjeKalkulacjis.stream().filter(pkl -> tpozIdKM eq pkl.pklTpozId).toList()}" /> -->
			
<!-- 			<cc:cTable id="ryczaltKMTable" styleClass="ryczaltKMTable" -->
<!-- 				datasource="#{ryczaltKM}"  -->
<!-- 				height="250px"  -->
<!-- 				smallHeaders="true"> -->
					

<!-- 				<p:column headerText="Ilość diet" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklIlosc}" styleClass="right"> -->
<!-- 						<p:ajax update="inpKwota kwotaMF"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Stawka" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklStawka}" styleClass="right" symbol=" PLN" symbolPosition="s" readonly="true"> -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Kwota" width="75"> -->
<!-- 					<p:inputNumber id="inpKwota" value="#{o.pklKwota}" styleClass="right"> -->
<!-- 						<p:ajax  onsuccess="aktualizujKosztMf()" listener="#{delegacjaKRBean.aktualizujKwotyZF(o)}"/> -->
<!-- 					</p:inputNumber> -->
<!-- 					<p:tooltip for="inpKwota" value="Kwota w PLN : #{o.pklKwotaPln}" update="kwotaMF"/> -->
<!-- 					<p:remoteCommand name="aktualizujKosztMf" -->
<!-- 						actionListener="#{o.setPklKwotaMf(delegacjaKRBean.ustalKosztMf(o))}" update="kwotaMF"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Koszt MF" width="75"> -->
<!-- 					<p:inputNumber id="kwotaMF" value="#{o.pklKwotaMf}" styleClass="right"> -->
<!-- 						<p:ajax event="change" process="@this" partialSubmit="true"/> -->
<!-- 					</p:inputNumber> -->
<!-- 					<p:tooltip for="kwotaMF" value="#{delegacjaKRBean.zwrocProcentKosztMF(o.pklTpozId)}% z #{o.pklKwota}"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Refundacja" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklRefundacjaKwota}" styleClass="right"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Forma płatności" width="105"> -->
<!-- 					<p:selectOneMenu value="#{o.pklFormaPlatnosci}" > -->
<!-- 						<f:selectItems id="frmWyp" value="#{delegacjaKRBean.getSql('DEL_FORMY_PLATNOSCI').data}" var="frmWyp" -->
<!-- 							itemLabel="#{frmWyp.get(1)}" -->
<!-- 							itemValue="#{frmWyp.get(0)}" /> -->
							
<!-- 						<p:ajax event="change" partialSubmit="true" process="@this"/> -->
<!-- 						<p:tooltip for="frmWyp" value="#{frmWyp.get(1)}"/> -->
<!-- 					</p:selectOneMenu> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="ZF" width="75"> -->
<!-- 					<p:commandButton styleClass="granatowy" -->
<!-- 						partialSubmit="true" process="@this" -->
<!-- 						action="#{delegacjaKRBean.getCurrentPklDlg(o)}"  -->
<!-- 						oncomplete="PFbyId('dlgZrKrFinId').show()" icon="search" /> -->
						
<!-- 					<p:commandButton id="kopiujZf" icon="vertical_align_bottom"   -->
<!-- 						partialSubmit="true" process="@this" -->
<!-- 						update="@(.ryczaltKMTable)" -->
<!-- 						rendered="#{o.getDeltZrodlaFinansowanias() != null and o.getDeltZrodlaFinansowanias().size() gt 0}" -->
<!-- 						action="#{delegacjaKRBean.copyZFByTypPkl(o,dietyHotelowe)}"/> -->
<!-- 					<p:tooltip for="kopiujZf" value="skopiuj w/w źródła finasowania do pozostałych pozycji kosztów"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column width="75"> -->
			
<!-- 					<f:facet name="header"> -->
<!-- 						<p:commandButton partialSubmit="true" process="@this"  -->
<!-- 						update="@(.ryczaltKMTable) @(.btnRKM)"  -->
<!-- 						icon="add"  style="width:20px!important" -->
<!-- 						action="#{delegacjaKRBean.addRyczaltKM(delegacjaKRBean.kalkulacjaWstepna)}"  -->
<!-- 						disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa or ryczaltKM.size() > 0}"/> -->
<!-- 					</f:facet> -->
					
<!-- 					<p:commandButton partialSubmit="true" process="@this"  -->
<!-- 						update="@(.ryczaltKMTable) @(.btnRKM)" icon="delete"  -->
<!-- 						action="#{delegacjaKRBean.kalkulacjaWstepna.removeDeltPozycjeKalkulacji(o)}"  -->
<!-- 						disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa}"/> -->
<!-- 				</p:column> -->
			
<!-- 			</cc:cTable> -->
			
<!-- 		</h:panelGrid>	 -->
		
<!-- 		<p:separator/> -->
			<div class="ui-g-12 ui-g-v-center p10">		
				<p:commandButton 
					value="generuj kwote ryczałtu na komunikację miejską" 
					styleClass="granatowy btnRKM" 
					actionListener="#{delegacjaKRBean.generujDiety('KM', delegacjaKRBean.kalkulacjaWstepna)}"
					onstart = "hgon()" 
					oncomplete="hgoff()"
					disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa or delegacjaKRBean.kalkulacjaWstepna.delCzynnosciSluzbowe.size() gt 0}"
				>
					<p:confirm header="Ryczałt komunikacyjny"
						disabled="#{delegacjaKRBean.kalkulacjaWstepna.getPklListByKtgDiet('KM', false).size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu komunikacyjnego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton>
				
				<p:commandButton value="generuj kwote ryczałtu na komunikację miejską wg czynności służbowych" 
					styleClass="granatowy btnRKM" 
					disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa
						or not(delegacjaKRBean.kalkulacjaWstepna.delCzynnosciSluzbowe.size() gt 0)}"
					actionListener="#{delegacjaKRBean.generujDiety_CS('KM', delegacjaKRBean.kalkulacjaWstepna)}" 
					onstart = "hgon()" 
					oncomplete="hgoff()"
				>
					<p:confirm header="Generowanie diet" 
						disabled="#{delegacjaKRBean.kalkulacjaWstepna.getPklListByKtgDiet('KM', false).size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu komunikacyjnego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton>  
			</div>
		
		</h:panelGroup>
	 </p:tab>

<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================            KOSZTY           ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->
	 
	 
	 <p:tab title="KOSZTY PRZEJAZDU/POZOSTAŁE">
	 
	 	<f:facet name="title">
			 <cc:cDelTabPklGroupTitle 
			 	title="KOSZTY PRZEJAZDU/POZOSTAŁE" 
			 	kalkulacja="#{delegacjaKRBean.kalkulacjaWstepna}" 
			 	typyDiet="P,H,RH,KM"
			 	typyDietExclude="true"
			 />
		</f:facet>
	 	
	 	<h:panelGroup id="kosztyPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">

	        <cc:cDelKTabPklGroup
	            kalkulacja="#{delegacjaKRBean.kalkulacjaWstepna}"
			 	typyDiet="P,H,RH,KM"
			 	typyDietExclude="true"
	            btnAddAction="#{delegacjaKRBean.addKoszt(delegacjaKRBean.kalkulacjaWstepna)}"
	        />	 


<!-- 		<h:panelGrid id="kosztyPnl" styleClass="kosztyPnl" width="1300"> -->
	
<!-- 		<ui:param name="tpozIdP" value="#{delegacjaKRBean.getTpozIdByKtgDiety('P')}" /> -->
<!-- 		<ui:param name="tpozIdH" value="#{delegacjaKRBean.getTpozIdByKtgDiety('H')}" /> -->
<!-- 		<ui:param name="tpozIdRH" value="#{delegacjaKRBean.getTpozIdByKtgPozycji('RH')}" /> -->
<!-- 		<ui:param name="tpozIdKM" value="#{delegacjaKRBean.getTpozIdByKtgPozycji('KM')}" /> -->
	
<!-- 		<ui:param name="kosztyInne" value="#{delegacjaKRBean.kalkulacjaWstepna.deltPozycjeKalkulacjis.stream().filter(pkl -> pkl.pklTpozId != tpozIdP and pkl.pklTpozId != tpozIdH and pkl.pklTpozId != tpozIdKM -->
<!-- 			and pkl.pklTpozId != tpozIdRH).toList() }" /> -->
	
<!-- 			<cc:cTable id="koszty" styleClass="kTable" -->
<!-- 				datasource="#{kosztyInne}" rowKey="#{o.pklId}"  -->
<!-- 				height="300px" -->
<!-- 				smallHeaders="true"> -->
	
<!-- 				<p:column id="c1" headerText="Opis rodzaju kosztu" width="200"> -->
<!-- 						<p:inputText value="#{o.pklOpis}" id="opisKosztuPklWst"> -->
<!-- 							<p:ajax event="change" process="@this" partialSubmit="true"/> -->
<!-- 						</p:inputText> -->
<!-- 						<p:tooltip value="#{o.pklOpis}" for="opisKosztuPklWst"/> -->
<!-- 				</p:column> -->
		
<!-- 				<p:column id="c2" headerText="Wart. jednostkowa" width="120"> -->
<!-- 						<p:inputNumber value="#{o.pklStawka}" symbol=" PLN" symbolPosition="s"> -->
<!-- 							<p:ajax update="inpKwota kwotaMFInne"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 							<p:ajax disabled="#{not ('T' eq o.getKategoria())}"  -->
<!-- 								update="@form:accPnl:trasy" -->
<!-- 								listener="#{delegacjaKRBean.zmienKosztNaPlanie(delegacjaKRBean.kalkulacjaWstepna, o)}"/> -->
<!-- 						</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column id="c3" headerText="Ilość" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklIlosc}"> -->
<!-- 						<p:ajax update="inpKwota kwotaMFInne"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
		
<!-- 				<p:column id="c4" headerText="Kwota" width="75"> -->
<!-- 					<p:inputNumber id="inpKwota" value="#{o.pklKwota}"> -->
<!-- 						<p:ajax onsuccess="aktualizujKosztMfInne()" listener="#{delegacjaKRBean.aktualizujKwotyZF(o)}"/> -->
<!-- 					</p:inputNumber> -->
<!-- 					<p:remoteCommand name="aktualizujKosztMfInne" update="kwotaMFInne" -->
<!-- 						actionListener="#{o.setPklKwotaMf(delegacjaKRBean.ustalKosztMf(o))}"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column id="c5" headerText="Koszt MF" width="75"> -->
<!-- 					<p:inputNumber id="kwotaMFInne" value="#{o.pklKwotaMf}" styleClass="right"> -->
<!-- 						<p:ajax event="change" process="@this" partialSubmit="true"/> -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
		
<!-- 				<p:column id="c6" headerText="Refundacja" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklRefundacjaKwota}"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Forma płatności" width="105"> -->
<!-- 					<p:selectOneMenu value="#{o.pklFormaPlatnosci}" > -->
<!-- 						<f:selectItems id="frmWyp" value="#{delegacjaKRBean.getSql('DEL_FORMY_PLATNOSCI').data}" var="frmWyp" -->
<!-- 							itemLabel="#{frmWyp.get(1)}" -->
<!-- 							itemValue="#{frmWyp.get(0)}" /> -->
							
<!-- 						<p:ajax event="change" partialSubmit="true" process="@this"/> -->
<!-- 						<p:tooltip for="frmWyp" value="#{frmWyp.get(1)}"/> -->
<!-- 					</p:selectOneMenu> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="ZF" width="75"> -->
<!-- 					<p:commandButton styleClass="granatowy" -->
<!-- 						partialSubmit="true" process="@this" -->
<!-- 						action="#{delegacjaKRBean.getCurrentPklDlg(o)}"  -->
<!-- 						oncomplete="PFbyId('dlgZrKrFinId').show()" icon="search" /> -->
						
<!-- 					<p:commandButton id="kopiujZf" icon="vertical_align_bottom"  -->
<!-- 						partialSubmit="true" process="@this" -->
<!-- 						update="@form:accPnl:kosztyPnl" -->
<!-- 						rendered="#{o.getDeltZrodlaFinansowanias() != null and o.getDeltZrodlaFinansowanias().size() gt 0}" -->
<!-- 						action="#{delegacjaKRBean.copyZFByTypPkl(o,kosztyInne)}"/> -->
						
<!-- 						<p:tooltip for="kopiujZf" value="skopiuj w/w źródła finasowania do pozostałych pozycji kosztów #{o.getDeltZrodlaFinansowanias().size() gt 0} #{o.getDeltZrodlaFinansowanias().size()}"/> -->
<!-- 				</p:column> -->
					
<!-- 				<p:column width="30"> -->
<!-- 					<f:facet name="header"> -->
<!-- 						<p:commandButton partialSubmit="true" process="@this" update="@form:accPnl:kosztyPnl" icon="add"  style="width:20px!important" -->
<!-- 						action="#{delegacjaKRBean.addKoszt(delegacjaKRBean.kalkulacjaWstepna)}" disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa}"/> -->
<!-- 					</f:facet> -->
<!-- 					<p:commandButton partialSubmit="true" process="@this"  -->
<!-- 						update="@form:accPnl:kosztyPnl  #{'T' eq o.getKategoria() ? '@form:accPnl:trasy' : ''}"  -->
<!-- 						icon="delete"  -->
<!-- 						action="#{delegacjaKRBean.usunKoszt(delegacjaKRBean.kalkulacjaWstepna,o)}" disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa}"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column width="45"> -->
<!-- 						<cc:cZalacznikiButton style="margin-top:-18px" -->
<!-- 							dlgTitle="Załączniki pozycji:" -->
<!-- 							btnTitle=""  -->
<!-- 							zalFkId="#{o.pklId}"  -->
<!-- 							zalFkFieldName="ZAL_PKL_ID"/> -->
<!-- 				</p:column> -->
				
				
<!-- 			</cc:cTable> -->
		
<!-- 		</h:panelGrid>	  -->
		
<!-- 		<p:separator/> -->

<!-- 			<div class="ui-g-12 ui-g-v-center p10"> -->

<!-- 				<p:commandButton value="kopiuj nowe pozycje kalkulacji" styleClass="granatowy"  -->
<!-- 					disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa}" -->
<!-- 				    actionListener="#{delegacjaKRBean.kopiujKoszty}"  -->
<!-- 					onstart="hgon()"  -->
<!-- 					oncomplete="hgoff()"  -->
<!-- 				/> -->
			
<!-- 			</div> -->
		
		</h:panelGroup>
	 
	 </p:tab>

<!-- 	 ============================================================================================================================== -->
<!-- 	 ==========================================                            			 ============================================== -->
<!-- 	 ==========================================        ZALICZKI         			 ============================================== -->
<!-- 	 ==========================================                             		 ============================================== -->
<!-- 	 ============================================================================================================================== -->


	 <p:tab title="PODSUMOWANIE KOSZTÓW I ZALICZKI" kuid="tabZaliczki">
	 
	 	<f:facet name="title">
			<cc:cDelTabPodsumowanieKosztowTitle kalkulacja="#{delegacjaKRBean.kalkulacjaWstepna}"/>
		</f:facet>

		<cc:cDelKalkulacjaPodsumowanieKosztowByDKZ rendered="#{user.admin or 'T' eq delegacjaKRBean.wniosek.wndFZaliczka}" kalkulacja="#{delegacjaKRBean.kalkulacjaWstepna}" styleClass="ui-g ui-g-12 p0"/>

		<cc:cDelKalkulacjaPodsumowanieKosztowByAngaze kalkulacja="#{delegacjaKRBean.kalkulacjaWstepna}" styleClass="ui-g ui-g-12 p0 mt50" rendered="#{user.admin}"/>
	 
<!-- 	 	<f:facet name="title"> -->
<!-- 			 <h:panelGroup id="pnlZaliczkiTtl"> -->
<!-- 				 <p:outputLabel value="PODSUMOWANIE KOSZTÓW I ZALICZKI" styleClass="p0" style="#{not empty delegacjaKRBean.kalkulacjaWstepna.delZaliczki ? 'color:black!important;': ''}"/> -->
<!-- 			 </h:panelGroup> -->
<!-- 		</f:facet> -->
	 
<!-- 	 	<h:panelGroup id="zaliczki" styleClass="zaliczki"> -->
<!-- 	 	#{delegacjaKRBean.podsumowanieWst eq 0 ? delegacjaKRBean.obliczPodsumowanie(delegacjaKRBean.kalkulacjaWstepna, false): ""} -->
<!-- 	 		<h:panelGroup rendered="#{delegacjaKRBean.kalkulacjaWstepna.delZaliczki.size() gt 0}"> -->
<!-- 				<div class="ui-g ui-g-nopad"> -->
<!-- 					<div class="ui-g-12 ui-lg-12 ui-xl-12 ui-g-nopad"> -->
<!-- 						<div class="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"><p:outputLabel value="Kwota zaliczki"/></div> -->
<!-- 						<div class="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"><p:outputLabel value="Data wypłaty "/></div> -->
<!-- 						<div class="ui-g-1 ui-lg-2 ui-xl-1 ui-g-nopad"><p:outputLabel value="Forma wypłaty"/></div> -->
<!-- 						<div class="ui-g-3 ui-lg-2 ui-xl-3 ui-g-nopad"><p:outputLabel value="Nr konta"/></div> -->
<!-- 						<div class="ui-g-3 ui-lg-2 ui-xl-3 ui-g-nopad"><p:outputLabel value="Nr dokumentu w FIN"/></div> -->
<!-- 			 		</div> -->
			 		
<!-- 			 		<ui:param name="daneKsgKalLW" value="#{ delegacjaKRBean.getLW('PPL_DEL_DANE_KSIEGOWE_KAL',[ delegacjaKRBean.kalkulacjaWstepna.kalId ] )}" /> -->
<!-- 				<ui:param name="zal" value="#{delegacjaKRBean.kalkulacjaWstepna.delZaliczki.get(0)}"/> -->
			 	
<!-- 			 	<ui:repeat var="zal" value="#{delegacjaKRBean.kalkulacjaWstepna.delZaliczki}"> -->
<!-- 			 		<ui:param name="kgtRow" value="#{ daneKsgKalLW.find(zal.dkzDokId) }" /> -->
			 		
<!-- 			 			<div class="ui-g-12 ui-lg-12 ui-xl-12"> -->
			 			
<!-- 				 				<cc:cInputNumberMDesign value="#{zal.dkzKwota}" symbol=" PLN" -->
<!-- 				 						styleClass="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad" id="zalKwota" readonly="true" -->
<!-- 				 						disabled="#{zal.dkzDokId ne null}">   -->
<!-- 				 				</cc:cInputNumberMDesign> -->
				 			
<!-- 			 					<cc:cCalendarMDesign value="#{zal.dkzDataWyp}" styleClass="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad" -->
<!-- 			 							process="@(.zaliczki)" -->
<!-- 			 							readonly="#{delegacjaKRBean.wniosek.getWndDataWyjazdu().before(delegacjaKRBean.today())  -->
<!-- 			 							or ('T' eq kgtRow.get('dok_f_zatwierdzony')) }" -->
<!-- 			 							maxDate="#{delegacjaKRBean.wniosek.wndDataWyjazdu}" -->
<!-- 								 /> -->
			 							
			 							
<!-- 			 				<cc:cSOMMDesign value="#{zal.dkzFormaWyplaty}" process="@this" -->
<!-- 			 							disabled="#{zal.dkzDokId ne null}"   -->
<!-- 			 							update="@(.zaliczki)" datasource="#{delegacjaKRBean.getSql('DEL_FORMY_WYPLATY')}" styleClass="ui-g-1 ui-lg-2 ui-xl-1 ui-g-nopad"/> -->
			 				
			 				
<!-- 			 				<h:panelGroup id="nrKontaID" styleClass="ui-g-3 nrKonta#{status.index}"  layout="block" -->
<!-- 											style="display:#{'B' eq zal.dkzFormaWyplaty ? 'block;':'none;'}"> -->
									
<!-- 								<cc:cLovJS lovDlgTitle="Lista kont" process="@this" style="margin-top:2px" -->
<!-- 									lovTextFormat="%2$s" -->
<!-- 									readonly="#{zal.dkzDokId ne null}" -->
<!-- 									width="300" -->
<!-- 									update="@(.zaliczki)" -->
<!-- 									datasource="#{delegacjaKRBean.getLW('PPL_DEL_KONTA_PRC_PLN', delegacjaKRBean.wniosek.wndPrcId)}" -->
<!-- 									value="#{zal.dkzNrKonta}"  -->
<!-- 									/> -->
<!-- 							</h:panelGroup> -->
								
<!-- 							<h:panelGroup id="opisKasa" styleClass="ui-g-3 opisKasa#{status.index}"  layout="block" -->
<!-- 											style="display:#{'K' eq zal.dkzFormaWyplaty ? 'block;':'none;'};"> -->
<!-- 			 				</h:panelGroup> -->
			 				
<!-- 			 				<p:column rendered="#{zal.dkzFormaWyplaty eq null or zal.dkzFormaWyplaty.isEmpty()}"> -->
<!-- 			 					<cc:cInputTextMDesign value="nie wybrano formy wypłaty" readonly="true" styleClass="ui-g-3 ui-lg-3 ui-xl-3 ui-g-nopad"/> -->
<!-- 			 				</p:column> -->
			 				
<!-- 							<p:column rendered="#{zal.dkzDokId ne null}"> -->
<!-- 								<cc:cInputTextMDesign value="#{zal.dkzDokId}" readonly="true" styleClass="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"/> -->
<!-- 							</p:column> -->
							 
<!-- 							<p:column rendered="#{zal.dkzDokId eq null}"> -->
<!-- 								<cc:cInputTextMDesign value="#{'brak'}" readonly="true" styleClass="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"/> -->
<!-- 							</p:column> -->
							
<!-- 							<p:commandButton styleClass="granatowy btnZatwierdz" id="btnZatwierdz"  -->
<!-- 								onstart = "hgon()"  oncomplete="hgoff()" -->
<!-- 								value="polecenie przelewu/wypłaty"   -->
<!-- 								disabled="#{zal.dkzDokId ne null}" -->
<!-- 								update="@(.zaliczki)" -->
<!-- 								partialSubmit="true" process="@this" -->
<!-- 								action="#{delegacjaKRBean.wyplacZaliczke (zal, delegacjaKRBean.kalkulacjaWstepna)}" -->
<!-- 								icon="check"> -->
								
								
<!-- 								<p:confirm header="Wypłata zaliczki" -->
<!-- 										message="Czy na pewno chcesz wypłacić zaliczkę w podanej kwocie? Operacji nie będzie można powtórzyć" -->
<!-- 										icon="ui-icon-alert"/> -->
										
<!-- 							</p:commandButton> -->

							
<!-- 							<p:commandButton id="usunZal" icon="delete"  -->
<!-- 								partialSubmit="true" process="@this" -->
<!-- 								update="@(.zaliczki)" -->
<!-- 								action="#{delegacjaKRBean.usunZalKW(zal, delegacjaKRBean.kalkulacjaWstepna)}" -->
<!-- 								disabled="#{ kgtRow!=null and 'T' eq kgtRow.get('dok_f_zatwierdzony')}"  -->
<!-- 								rendered="#{'N' eq delegacjaKRBean.wniosek.wndFZaliczka ? false : true}" -->
<!-- 								onstart="showHourGlass()" oncomplete="hideHourGlass()" > -->
								
<!-- 								<p:confirm header="Usunięcie zaliczki" -->
<!-- 										message="Czy chcesz anulować realizację dla wskazanej zaliczki?" -->
<!-- 										icon="ui-icon-alert"/> -->
										
<!-- 								<p:tooltip for="usunZal" value="Usunięcie zaliczki możliwe jest jeśli nie została zatwierdzona w module księgowym"/> -->
								
<!-- 							</p:commandButton> -->
							
<!-- 							<p:outputLabel style="color:red;" value="Zaliczka zatwierdzona, nie można edytować/usunąć"  -->
<!-- 								rendered="#{ kgtRow!=null and 'T' eq kgtRow.get('dok_f_zatwierdzony') }"/> -->
<!-- 							<p:outputLabel value="Zaliczka została juz wypłacona pracownikowi"  -->
<!-- 								rendered="#{ kgtRow!=null and kgtRow.get('dok_dok_id_zap' ne null) }"/>	 -->
								
<!-- 							<p:commandButton id ="btnSzczegoly" icon="expand_more" /> -->
<!-- 							<p:tooltip for="btnSzczegoly" value="Wyświetl dane księgowe dla wygenerowanego dokumentu"/> -->
							
<!-- 							<p:overlayPanel for="btnSzczegoly" hideEffect="fade" styleClass="ui-g-9"> -->
<!-- 								<h:panelGroup rendered="#{zal.dkzDokId ne null}"> -->
<!-- 									<div class="ui-g-12 ui-lg-12 ui-xl-12 ui-g-nopad"> -->
<!-- 						 				<div class="ui-g-3 ui-lg-3 ui-xl-3"><p:outputLabel value="Status"/> -->
<!-- 						 					<br/> -->
<!-- 						 					<cc:cInputTextMDesign readonly="true" value="#{kgtRow.get('status')}"  -->
<!-- 						 						color="#{kgtRow.get('kolor')}"/> -->
<!-- 						 				</div> -->
						 				
<!-- 						 				<div class="ui-g-2 ui-lg-2 ui-xl-2"><p:outputLabel value="Kwota"/> -->
<!-- 						 					<br/> -->
<!-- 						 					<cc:cInputNumberMDesign readonly="true" value="#{kgtRow.get('dok_kwota')}"/>  -->
<!-- 						 				</div> -->
						 				
<!-- 						 				<div class="ui-g-3 ui-lg-3 ui-xl-3"><p:outputLabel value="Data wystawienia"/> -->
<!-- 						 					<br/> -->
<!-- 						 					<cc:cCalendarMDesign readonly="true" value="#{kgtRow.get('dok_data_wystawienia')}"/>  -->
<!-- 						 				</div> -->
						 				
<!-- 						 				<div class="ui-g-3 ui-lg-3 ui-xl-3"><p:outputLabel value="Data operacji"/> -->
<!-- 						 					<br/> -->
<!-- 						 					<cc:cCalendarMDesign readonly="true" value="#{kgtRow.get('dok_data_operacji')}"/>  -->
<!-- 						 				</div> -->
						 										 				
<!-- 						 				<div class="ui-g-1 ui-lg-1 ui-xl-1"> -->
<!-- 						 					<p:commandButton value="Odśwież dane" icon="refresh" actionListener="#{daneKsgKalLW.resetTs()}" -->
<!-- 						 						update="@(.zaliczki)"/> -->
<!-- 						 				</div> -->
<!-- 						 			</div> -->
<!-- 								</h:panelGroup> -->
<!-- 								<h:outputLabel rendered="#{zal.dkzDokId eq null}" value="Dla podanej zaliczki nie wygenerowano dokumentu księgowego" /> -->
<!-- 							</p:overlayPanel> -->
<!-- 						</div> -->
<!-- 					</ui:repeat> -->
<!-- 			 	</div> -->
		 
<!--  			</h:panelGroup> -->
 			
<!--  			<p:outputLabel rendered="#{delegacjaKRBean.kalkulacjaWstepna.delZaliczki.size() eq 0 and 'T' eq delegacjaKRBean.wniosek.wndFZaliczka}" value="Brak zaliczek, wygeneruj zaliczki"/> -->
 			
<!--  			<p:outputLabel rendered="#{'N' eq delegacjaKRBean.wniosek.wndFZaliczka}" value="Pracownik nie wnioskował o zaliczkę na delegacje"/> -->
 			
<!--  			<p:outputLabel rendered="#{not(delegacjaKRBean.czyZaldoWyplacenia(delegacjaKRBean.kalkulacjaWstepna))}" -->
<!--  				 value="Brak pozycji kalkulacji z formą płatności gotówka bądź przelew, umowa oraz karta nie wliczają się do zaliczki"/> -->
<!--  			<br/><br/> -->
 			
<!--  			<cc:cInputNumberMDesign value="#{delegacjaKRBean.podsumowanieWst}"  -->
<!--  					readonly="true"  -->
<!--  					label="Podsumowanie" -->
<!--  					decimalPlaces="2" -->
<!--  					symbol=" PLN" -->
<!--  					styleClass="ui-g-1 ui-lg-2 ui-xl-1 ui-g-nopad"/> -->
 					
 					
<!-- 	 		<div class="ui-g-2 ui-lg-2 ui-xl-2 ui-g-nopad"> -->
<!-- 				<p:commandButton id ="btnZF" icon="expand_more" styleClass="search_button"  /> -->
			
<!-- 				<p:overlayPanel for="btnZF" hideEffect="fade" styleClass="ui-g-8"> -->
<!-- 					<h:panelGroup rendered="#{delegacjaKRBean.listaZfKalkWst.size() gt 0}" layout="block" styleClass="ui-g ui-g-nopad"> -->
<!-- 						<div class="ui-g-12 ui-lg-12 ui-xl-12 ui-g-nopad"> -->
<!-- 			 				<div class="ui-g-8 ui-lg-8 ui-xl-8"><p:outputLabel value="Źródło finansowania "/></div> -->
<!-- 			 				<div class="ui-g-1 ui-lg-1 ui-xl-1"><p:outputLabel value="Kwota "/></div> -->
<!-- 			 			</div> -->
			 			
<!-- 					 	<ui:repeat var="zf" value="#{delegacjaKRBean.listaZfKalkWst}"> -->
					 	
<!-- 					 			<div class="ui-g-12 ui-lg-12 ui-xl-12 ui-g-nopad"> -->
<!-- 					 				<div class="ui-g-8 ui-lg-8 ui-xl-8"> -->
<!-- 					 					<p:inputText readonly="true" value="#{delegacjaKRBean.kodZF(zf.pkzfSkId)}"/> -->
<!-- 					 				</div> -->
<!-- 					 				<div class="ui-g-1 ui-lg-1 ui-xl-1"> -->
<!-- 					 					<p:inputNumber readonly="true" value="#{zf.pkzfKwota}"/> -->
<!-- 					 				</div> -->
<!-- 					 			</div> -->
<!-- 					 	</ui:repeat> -->
<!-- 				 	</h:panelGroup> -->
<!-- 				 	<h:outputLabel rendered="#{delegacjaKRBean.listaZfKalkWst.size() eq 0}" value="Brak podpiętych źródel finansowania" /> -->
<!-- 				 </p:overlayPanel> -->
				 
<!-- 				 <p:tooltip for="btnZF" value="Wyświetl źródła finansowania"/> -->
<!-- 			 </div> -->
 			
 			
<!--  			<br/><br/><br/> -->
					
<!-- 			<p:separator/> -->
		
<!-- 			<div class="ui-g ui-g-nopad"> -->
<!-- 				<p:commandButton value="Wygeneruj dane" styleClass="granatowy" partialSubmit="true" process="@form"  -->
<!-- 					update="@(.zaliczki)"  -->
<!-- 					action="#{delegacjaKRBean.obliczPodsumowanie(delegacjaKRBean.kalkulacjaWstepna, true)}" -->
<!-- 					onstart="showHourGlass()" oncomplete="hideHourGlass()" /> -->
					 
<!-- 			</div> -->
	 
<!-- 	 		<br/> -->
<!--  		</h:panelGroup> -->
	 </p:tab>
	 	 
	</p:accordionPanel>

	<p:tabView />

</body>
</html>