<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<f:metadata>
</f:metadata>
<body>


		
	 
<p:accordionPanel id="accPnl" multiple="true">

<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================         PLAN TRASY          ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="PLAN TRASY">
	 
	 	<f:facet name="title">
			<h:panelGroup id="pnlPlanTrasyTtl">
				<p:outputLabel value="PLAN TRASY" styleClass="p0" style="#{not empty delegacjaKRBean.kalkulacjaRozliczenia.deltTrasies ? 'color:black!important;': ''}"/>
			</h:panelGroup>
		</f:facet>
		
		<h:panelGroup id="trasyPnl" width="1210">
		
			<cc:cTable id="trasy" datasource="#{delegacjaKRBean.kalkulacjaRozliczenia.deltTrasies}" 
				height="#{190 + 50*(delegacjaKRBean.kalkulacjaRozliczenia.deltTrasies.size())}px"
				smallHeaders="true"
				>
				
				<p:column width="20">
					<f:facet name="header">
						<div style="width:30px"></div>
					</f:facet>
		        	<p:rowToggler />
		    	</p:column>
		    	
				 <p:rowExpansion>
					 <p:panelGrid>
						<p:row styleClass="ui-g ui-g-12 ui-g-nopad">
						
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="koszt"/>
							</p:column>
							
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:inputNumber value="#{o.trsKosztBiletu}"
										symbol=" PLN" symbolPosition="s" 
										> 
<!-- 																				disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa}" -->
									<p:ajax event="change"
									 		process="@this" partialSubmit="true"
									/>
								</p:inputNumber>
<!--											update="@(.kosztyPnl)" -->
<!--									 		listener="#{delegacjaKRBean.dodajKosztBiletu(delegacjaKRBean.kalkulacjaRozliczenia , o)}"-->
							</p:column>
							
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="termin wykupu"/>
							</p:column>
							
							<p:column styleClass="ui-g-2 ui-g-nopad">
								<cc:cCalendarHour value="#{o.trsTerminWykupuBiletu}"/>
							</p:column>
		
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="faktura vat"/>
							</p:column>
							
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:inputText value="#{o.trsFakturaVatNaBilet}">
									<p:ajax event="change" process="@this" partialSubmit="true"/>
								</p:inputText>
							</p:column>
							
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="termin płatnosci"/>
							</p:column>
							
							<p:column styleClass="ui-g-2 ui-g-nopad">
								<cc:cCalendar  value="#{o.trsTerminPlatnosciZaBilet}"/>
							</p:column>					
							
						</p:row>	
		
					</p:panelGrid>
					<p:inputTextarea value="#{o.trsOpis}"  style="max-width:1000px"
						placeholder="... trasa - opis/uwagi ..."
						rows="2" cols="200" maxlength="4000"  
						styleClass="lekka-ramka">
						
						<p:ajax event="change" process="@this" partialSubmit="true"/>	
					</p:inputTextarea>
					<br/><br/>
					
				 </p:rowExpansion>		
		
				<p:column headerText="Wyjazd" width="150">
					<cc:cCalendarHour id="tWyj" value="#{o.trsDataOd}"/>
				</p:column>		
				
				<p:column headerText="Miejscowość" width="100">
					<cc:cInputText value="#{o.trsMiejscowoscOd}"/>
				</p:column>
				
<!-- 				<p:column headerText="Czynności służbowe od" width="150"> -->
<!-- 					<cc:cCalendarHour id="tCzynnSluzbOd" value="#{o.trsCzynnosciSluzboweOd}"/> -->
<!-- 				</p:column>	 -->
	
				<p:column headerText="Przyjazd" width="150">
					<cc:cCalendarHour value="#{o.trsDataDo}"/>
				</p:column>	
					
				<p:column headerText="Miejscowość" width="100">
					<cc:cInputText value="#{o.trsMiejscowoscDo}"/>
				</p:column>	
				
<!-- 				<p:column headerText="Czynności służbowe do" width="150"> -->
<!-- 					<cc:cCalendarHour id="tCzynnSluzbDo" value="#{o.trsCzynnosciSluzboweDo}"/> -->
<!-- 				</p:column>	 -->
				
				<p:column headerText="Środek lokomocji" width="200">
						<cc:cLovJS id="srdklkmcj"
						process="@this"
						lovDlgTitle="Środki lokomocji" 
						datasource="#{delegacjaKRBean.getSql('DEL_SRODEK_LOKOMOCJI')}" width="200"
						lovTextFormat="%2$s"
						value="#{o.trsSrodekLokomocji}" 
						valueRefObject="#{o}"/>
				</p:column>	
				
				<p:column style="min-width:15px">
					<f:facet name="header">
						<p:commandButton partialSubmit="true" process="@this @form:accPnl:trasy" 
							update="@form:accPnl:trasy" icon="add"  style="width:20px!important"
							action="#{delegacjaKRBean.dodajTrase(delegacjaKRBean.kalkulacjaRozliczenia)}"/>
					</f:facet>
					<p:commandButton partialSubmit="true" process="@this" update="@form:accPnl:trasy" icon="delete"  
						action="#{delegacjaKRBean.kalkulacjaRozliczenia.removeDeltTrasy(o)}"/>
				</p:column>
				
			</cc:cTable>
		    
		</h:panelGroup>		
		
	 </p:tab>
	 
	 
<!-- 	 ====================================================================================================================== -->
<!-- 	 ==========================================                             	=========================================== -->
<!-- 	 ==========================================       CZYNNOŚCI SŁUŻBOWE        =========================================== -->
<!-- 	 ==========================================                             	=========================================== -->
<!-- 	 ====================================================================================================================== -->

	 <p:tab title="CZYNNOŚCI SŁUŻBOWE" id="czynnosciTab" disabled="#{'N' eq delegacjaKRBean.wniosek.wndFPryw}">
	 
	 	 <f:facet name="title">
			<h:panelGroup id="pnlCzynnosciSluzboweTtl">
				<p:outputLabel value="CZYNNOŚCI SŁUŻBOWE" styleClass="p0" style="#{not empty delegacjaKRBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe ? 'color:black!important;': ''}"/>
			</h:panelGroup>
		</f:facet>
	 
		<h:panelGroup id="czynnosciSPg" styleClass="czynnosciSPg" width="1215">
		
			<cc:cTable id="czynnosciST" styleClass="czynnosciST"
				datasource="#{delegacjaKRBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe}" 
				height="250px" 
				smallHeaders="true" >
	
				
				<p:column headerText="Czas od" width="150">
					<cc:cCalendarHour value="#{o.czynCzynnosciOd}" updateOnDateSelect="@(.czynnosciST)" required="true"/>
				</p:column>
				
				<p:column headerText="Czas do" width="150">
					<cc:cCalendarHour value="#{o.czynCzynnosciDo}" updateOnDateSelect="@(.czynnosciST)" required="true"/>
				</p:column>
				
				<p:column headerText="Czas łącznie" width="120">
					<p:inputText value="#{delegacjaKRBean.formatujDniCzynnosciSluzbowe(o.czynCzas)}" readonly="true"/>
				</p:column>
				
				<p:column headerText="Opis" width="300">
					<p:inputText value="#{o.czynOpis}"/>
				</p:column>
				
				<p:column width="35">
					<f:facet name="header">
						<p:commandButton partialSubmit="true" process="@this" 
							update="@form:accPnl:czynnosciSPg @(.btnDietyP) @(.btnDietyH) @(.btnRD) @(.btnRKM)" 
							icon="add"  
							style="width:20px!important"
							action="#{delegacjaKRBean.kalkulacjaRozliczenia.addNewDelCzynnosciSluzbowe()}"/>
					</f:facet>
					<p:commandButton partialSubmit="true" process="@this" 
						update="@form:accPnl:czynnosciSPg @(.btnDietyP) @(.btnDietyH) @(.btnRD) @(.btnRKM)" 
						icon="delete" 
						action="#{delegacjaKRBean.kalkulacjaRozliczenia.removeDelCzynnosciSluzbowe(o)}"/>
				</p:column>
				
			</cc:cTable>
		</h:panelGroup>	
		
		<p:separator/>
		
		<p:commandButton partialSubmit="true" process="@this" 
			value="wyznacz czynności służbowe wg planu trasy"
			update="@(.czynnosciSPg) @(.btnDietyP) @(.btnDietyH) @(.btnRD) @(.btnRKM)" 
			styleClass="granatowy"
			onstart = "showHourGlass()" 
			oncomplete	= "hideHourGlass()"
			actionListener="#{delegacjaKRBean.wyznaczCzynnosciSluzbowe(delegacjaKRBean.kalkulacjaRozliczenia)}">
		</p:commandButton>

		<p:tooltip for="czynnosciTab" value="tą część wypełniasz jedynie w przypadku połączenia podróży służbowej z pobytem prywatnym"/>	

		<br/><br/><br/>		 
	 
	 
	 </p:tab>
	 
<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================       DIETY POBYTOWE        ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="DIETY POBYTOWE">
	 
	 	<f:facet name="title">
			 <cc:cDelTabPklGroupTitle 
			 	title="DIETY POBYTOWE" 
			 	kalkulacja="#{delegacjaKRBean.kalkulacjaRozliczenia}" 
			 	typyDiet="P"
			 />
		</f:facet>
	 	
	 	<h:panelGroup id="dietyRozlPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">

	        <cc:cDelKTabPklGroup
	                   kalkulacja="#{delegacjaKRBean.kalkulacjaRozliczenia}"
	                   typyDiet="P"
	                   btnAddAction="#{delegacjaKRBean.addDietaPobytowa(delegacjaKRBean.kalkulacjaRozliczenia)}"
	         />
	 
<!-- 		<h:panelGrid id="dietyPnl" width="1300"> -->
		
<!-- 			<ui:param name="tpozIdP" value="#{delegacjaKRBean.getTpozIdByKtgDiety('P')}" /> -->
<!-- 			<ui:param name="dietyPobytoweR" value="#{delegacjaKRBean.kalkulacjaRozliczenia.deltPozycjeKalkulacjis.stream().filter(pkl -> tpozIdP eq pkl.pklTpozId ).toList()}" /> -->
<!-- 			<cc:cTable id="diety"  -->
<!-- 				datasource="#{dietyPobytoweR}"  -->
<!-- 				height="250px"  -->
<!-- 				smallHeaders="true"> -->
					
<!-- 				<p:column headerText="Ilość diet" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklIlosc}" styleClass="right"> -->
<!-- 						<p:ajax update="inpKwota kwotaMFDP"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Stawka" style="min-width:75px"> -->
<!-- 					<p:inputNumber value="#{o.pklStawka}" styleClass="right" symbol=" PLN" symbolPosition="s" readonly="true"> -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column width="75"> -->
<!-- 					<f:facet name="header"> -->
<!-- 						<div>Sniadania</div> -->
<!-- 					</f:facet> -->
<!-- 					<p:inputNumber value="#{o.pklSniadania}" styleClass="right" decimalPlaces="0"  -->
<!-- 							maxValue="#{delegacjaKRBean.ilePosilkow(o)}"> -->
<!-- 						<p:ajax update="inpKwota kwotaMFDP"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
	
<!-- 				<p:column width="75"> -->
<!-- 					<f:facet name="header"> -->
<!-- 						<div>Obiady</div> -->
<!-- 					</f:facet> -->
<!-- 					<p:inputNumber value="#{o.pklObiady}" styleClass="right" decimalPlaces="0"  -->
<!-- 							maxValue="#{delegacjaKRBean.ilePosilkow(o)}"> -->
<!-- 						<p:ajax update="inpKwota kwotaMFDP"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column width="75"> -->
<!-- 					<f:facet name="header"> -->
<!-- 						<div>Kolacje</div> -->
<!-- 					</f:facet>						 -->
<!-- 					<p:inputNumber value="#{o.pklKolacje}" styleClass="right" decimalPlaces="0"  -->
<!-- 							maxValue="#{delegacjaKRBean.ilePosilkow(o)}"> -->
<!-- 						<p:ajax update="inpKwota kwotaMFDP"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Kwota" width="75"> -->
<!-- 					<p:inputNumber id="inpKwota" value="#{o.pklKwota}" styleClass="right"> -->
<!-- 						<p:ajax listener="#{delegacjaKRBean.aktualizujKwotyZF(o)}" onsuccess="aktualizujKosztMfDP()"/> -->
<!-- 					</p:inputNumber> -->
<!-- 					<p:tooltip for="inpKwota" value="Kwota w PLN : #{o.pklKwotaPln}"/> -->
<!-- 					<p:remoteCommand name="aktualizujKosztMfDP" update="kwotaMFDP"  -->
<!-- 						actionListener="#{o.setPklKwotaMf(delegacjaKRBean.ustalKosztMf(o))}"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Koszt MF" width="75"> -->
<!-- 					<p:inputNumber id="kwotaMFDP" value="#{o.pklKwotaMf}" styleClass="right"> -->
<!-- 						<p:ajax event="change" process="@this" partialSubmit="true"/> -->
<!-- 					</p:inputNumber> -->
<!-- 					<p:tooltip for="kwotaMFDP" value="#{delegacjaKRBean.zwrocProcentKosztMF(o.pklTpozId)}% z #{o.pklKwota}"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Refundacja" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklRefundacjaKwota}" styleClass="right"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Forma płatności" width="105"> -->
<!-- 					<p:selectOneMenu value="#{o.pklFormaPlatnosci}" > -->
<!-- 						<f:selectItems id="frmWyp" value="#{delegacjaKRBean.getSql('DEL_FORMY_PLATNOSCI').data}" var="frmWyp" -->
<!-- 							itemLabel="#{frmWyp.get(1)}" -->
<!-- 							itemValue="#{frmWyp.get(0)}" /> -->
							
<!-- 						<p:ajax event="change" partialSubmit="true" process="@this"/> -->
<!-- 						<p:tooltip for="frmWyp" value="#{frmWyp.get(1)}"/> -->
<!-- 					</p:selectOneMenu> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="ZF" width="75"> -->
<!-- 					<p:commandButton styleClass="granatowy" -->
<!-- 						id="zfAng" -->
<!-- 						partialSubmit="true" process="@this" -->
<!-- 						action="#{delegacjaKRBean.getCurrentPklDlg(o)}"  -->
<!-- 						oncomplete="PFbyId('dlgZrKrFinId').show()" icon="search" /> -->
<!-- 					<p:tooltip for="zfAng" value="Pokaż źródła finansowania i angaże"/> -->
					
<!-- 					<p:commandButton id="kopiujZf" icon="vertical_align_bottom"   -->
<!-- 						partialSubmit="true" process="@this" -->
<!-- 						update="@form:accPnl:dietyPnl" -->
<!-- 						rendered="#{o.getDeltZrodlaFinansowanias() != null and o.getDeltZrodlaFinansowanias().size() gt 0}" -->
<!-- 						action="#{delegacjaKRBean.copyZFByTypPkl(o,dietyPobytoweR)}"/> -->
<!-- 					<p:tooltip for="kopiujZf" value="skopiuj w/w źródła finasowania do pozostałych pozycji kosztów"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column width="75"> -->
<!-- 					<f:facet name="header"> -->
<!-- 						<p:commandButton partialSubmit="true" process="@this" update="@form:accPnl:dietyPnl" icon="add"  style="width:20px!important" -->
<!-- 						action="#{delegacjaKRBean.addDietaPobytowa(delegacjaKRBean.kalkulacjaRozliczenia)}"  -->
<!-- 						disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa  -->
<!-- 							or 'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt or dietyPobytoweR.size() > 0}"/> -->
<!-- 					</f:facet> -->
	
<!-- 					<p:commandButton partialSubmit="true" process="@this" update="@form:accPnl:dietyPnl" icon="delete"  -->
<!-- 						action="#{delegacjaKRBean.kalkulacjaRozliczenia.removeDeltPozycjeKalkulacji(o)}"  -->
<!-- 						disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa or 'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt}"/> -->
<!-- 				</p:column> -->
				

<!-- 			</cc:cTable> -->
<!-- 		</h:panelGrid>	 -->
		
		
<!-- 		<p:separator/> -->

			<div class="ui-g-12 ui-g-v-center p10">
				<p:commandButton value="generuj diety wg planu trasy" 
					styleClass="granatowy btnDietyP"  
					disabled="#{
						'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt
						or delegacjaKRBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe.size() gt 0}"
					actionListener="#{delegacjaKRBean.generujDiety('P', delegacjaKRBean.kalkulacjaRozliczenia)}" 
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
<!-- 										'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa -->
					<p:confirm header="Generowanie diet pobytowych" 
						disabled="#{delegacjaKRBeankalkulacjaRozliczenia.getPklListByKtgDiet('P', false).size() eq 0}"
						message="Ponowne wygenerowanie diet pobytowych spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
				
				<p:commandButton value="generuj diety wg czynności służbowych" 
					styleClass="granatowy btnDietyP" 
					disabled="#{
						'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt
						or not(delegacjaKRBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe.size() gt 0)}"
					actionListener="#{delegacjaKRBean.generujDiety_CS('P', delegacjaKRBean.kalkulacjaRozliczenia)}" 
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
<!-- 				'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa  -->
					<p:confirm header="Generowanie diet pobytowych" 
						disabled="#{delegacjaKRBeankalkulacjaRozliczenia.getPklListByKtgDiet('P', false).size() eq 0}"
						message="Ponowne wygenerowanie diet pobytowych spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton>
			</div>
		
		</h:panelGroup>
		
	 </p:tab>

<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================       DIETY HOTELOWE        ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="DIETY/RYCZAŁT HOTELOWY">
			
		<f:facet name="title">
			 <cc:cDelTabPklGroupTitle 
			 	title="DIETY/RYCZAŁT HOTELOWY" 
			 	kalkulacja="#{delegacjaKRBean.kalkulacjaRozliczenia}" 
			 	typyDiet="H,RH"
			 />
		</f:facet>
	 	
	 	<h:panelGroup id="dietyHotelRozlPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">

	        <cc:cDelKTabPklGroup
	                   kalkulacja="#{delegacjaKRBean.kalkulacjaRozliczenia}"
	                   typyDiet="H,RH"
	                   btnAddAction="#{delegacjaKRBean.addDietaHotelowa(delegacjaKRBean.kalkulacjaRozliczenia, true eq delegacjaKRBean.wniosek.czyDomyslnieDietaHotelowa ? 'H' : 'RH')}"
	         />	
			
<!-- 		<h:panelGrid id="dietyHotelPnl" styleClass="dietyHotelPnl" width="1250"> -->
		
<!-- 			<ui:param name="tpozIdH" value="#{delegacjaKRBean.getTpozIdByKtgDiety('H')}" /> -->
<!-- 			<ui:param name="tpozIdRH" value="#{delegacjaKRBean.getTpozIdByKtgPozycji('RH')}" /> -->
<!-- 			<ui:param name="dietyHoteloweR" value="#{delegacjaKRBean.kalkulacjaRozliczenia.deltPozycjeKalkulacjis.stream().filter(pkl -> tpozIdH eq pkl.pklTpozId or tpozIdRH eq pkl.pklTpozId).toList()}" /> -->
			
<!-- 			<cc:cTable id="dietyHotel"  -->
<!-- 				datasource="#{dietyHoteloweR}"  -->
<!-- 				height="250px"  -->
<!-- 				smallHeaders="true"> -->
			
<!-- 				<p:column headerText="Ilość diet" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklIlosc}" styleClass="right"> -->
<!-- 						<p:ajax update="inpKwota kwotaMF"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Stawka" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklStawka}" styleClass="right" symbol=" PLN" symbolPosition="s" -->
<!-- 							readonly="#{'RH' eq o.getKategoria()}" maxValue="600.0"> -->
<!-- 						<p:ajax update="inpKwota kwotaMF"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Kwota" width="75"> -->
<!-- 					<p:inputNumber id="inpKwota" value="#{o.pklKwota}" styleClass="right"> -->
<!-- 						<p:ajax update="kwotaMF" onsuccess="aktualizujKosztMf()" listener="#{delegacjaKRBean.aktualizujKwotyZF(o)}"/> -->
<!-- 					</p:inputNumber> -->
<!-- 					<p:tooltip for="inpKwota" value="Kwota w PLN : #{o.pklKwotaPln}"/> -->
<!-- 					<p:remoteCommand name="aktualizujKosztMf" update="kwotaMF"  -->
<!-- 						actionListener="#{o.setPklKwotaMf(delegacjaKRBean.ustalKosztMf(o))}"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Koszt MF" width="75"> -->
<!-- 					<p:inputNumber id="kwotaMF" value="#{o.pklKwotaMf}" styleClass="right"> -->
<!-- 						<p:ajax event="change" process="@this" partialSubmit="true"/> -->
<!-- 					</p:inputNumber> -->
<!-- 					<p:tooltip for="kwotaMF" value="#{delegacjaKRBean.zwrocProcentKosztMF(o.pklTpozId)}% z #{o.pklKwota}"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Refundacja" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklRefundacjaKwota}" styleClass="right"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Rodzaj" width="30"> -->
<!-- 					#{o.getKategoria() eq 'RH' ? 'Ryczałt':'Dieta'} -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Forma płatności" width="105"> -->
<!-- 					<p:selectOneMenu value="#{o.pklFormaPlatnosci}" > -->
<!-- 						<f:selectItems id="frmWyp" value="#{delegacjaKRBean.getSql('DEL_FORMY_PLATNOSCI').data}" var="frmWyp" -->
<!-- 							itemLabel="#{frmWyp.get(1)}" -->
<!-- 							itemValue="#{frmWyp.get(0)}" /> -->
							
<!-- 						<p:ajax event="change" partialSubmit="true" process="@this"/> -->
<!-- 						<p:tooltip for="frmWyp" value="#{frmWyp.get(1)}"/> -->
<!-- 					</p:selectOneMenu> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Termin wykupu" width="150"> -->
<!-- 					<cc:cCalendarHour value="#{o.pklTerminWykupu}" rendered="#{'H' eq o.getKategoria()}"/>   -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="ZF" width="75"> -->
<!-- 					<p:commandButton styleClass="granatowy" -->
<!-- 						partialSubmit="true" process="@this" -->
<!-- 						action="#{delegacjaKRBean.getCurrentPklDlg(o)}"  -->
<!-- 						oncomplete="PFbyId('dlgZrKrFinId').show()" icon="search" /> -->
						
<!-- 					<p:commandButton id="kopiujZf" icon="vertical_align_bottom"   -->
<!-- 						partialSubmit="true" process="@this" -->
<!-- 						update="@form:accPnl:dietyHotelPnl" -->
<!-- 						rendered="#{o.getDeltZrodlaFinansowanias() != null and o.getDeltZrodlaFinansowanias().size() gt 0}" -->
<!-- 						action="#{delegacjaKRBean.copyZFByTypPkl(o,dietyHoteloweR)}"/> -->
<!-- 					<p:tooltip for="kopiujZf" value="skopiuj w/w źródła finasowania do pozostałych pozycji kosztów"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column width="75"> -->
<!-- 					<f:facet name="header"> -->
<!-- 						<p:commandButton partialSubmit="true" process="@this" update="@form:accPnl:dietyHotelPnl" icon="add"  style="width:20px!important" -->
<!-- 						action="#{delegacjaKRBean.addDietaHotelowa(delegacjaKRBean.kalkulacjaRozliczenia, false eq delegacjaKRBean.czyDietaHotelowa ? 'H' : 'RH')}"  -->
<!-- 						disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa -->
<!-- 							or 'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt}"/> -->
<!-- 					</f:facet> -->
	
<!-- 					<p:commandButton partialSubmit="true" process="@this" update="@form:accPnl:dietyHotelPnl" icon="delete"  -->
<!-- 						action="#{delegacjaKRBean.kalkulacjaRozliczenia.removeDeltPozycjeKalkulacji(o)}"  -->
<!-- 						disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa -->
<!-- 							or 'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt}"/> -->
<!-- 				</p:column> -->
				
				
<!-- 			</cc:cTable> -->
<!-- 		</h:panelGrid>	 -->
		
<!-- 		<p:separator/> -->

			<div class="ui-g-12 ui-g-v-center p10">
			
				<p:commandButton value="generuj #{delegacjaKRBean.wniosek.czyDomyslnieDietaHotelowa eq true ? 'diety hotelowe':'ryczałt hotelowy'} wg planu trasy" 
					styleClass="granatowy btnDietyH" 
					disabled="#{
						'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt
						or delegacjaKRBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe.size() gt 0}"
					actionListener="#{delegacjaKRBean.generujDiety(true eq delegacjaKRBean.wniosek.czyDomyslnieDietaHotelowa ? 'H' : 'RH', delegacjaKRBean.kalkulacjaRozliczenia)}" 
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
<!-- 				'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa  -->
					<p:confirm header="Generowanie diet" 
						disabled="#{delegacjaKRBean.kalkulacjaRozliczenia.getPklListByKtgDiet('H,RH', false).size() eq 0}"
						message="Ponowne wygenerowanie diet hotelowych spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton>
				
				<p:commandButton value="generuj #{delegacjaKRBean.wniosek.czyDomyslnieDietaHotelowa eq true ? 'diety hotelowe':'ryczałt hotelowy'} wg czynności służbowych" 
					styleClass="granatowy btnDietyH ss"
					disabled="#{
						'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt
						or not(delegacjaKRBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe.size() gt 0)}"
					actionListener="#{delegacjaKRBean.generujDiety_CS(true eq delegacjaKRBean.wniosek.czyDomyslnieDietaHotelowa ? 'H' : 'RH', delegacjaKRBean.kalkulacjaRozliczenia)}"
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
<!-- 				'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa -->
					<p:confirm header="Generowanie diet" 
						disabled="#{delegacjaKRBean.kalkulacjaRozliczenia.getPklListByKtgDiet('H,RH', false).size() eq 0}"
						message="Ponowne wygenerowanie diet/ryczałtu hotelowego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton>  
				
				<p:selectOneRadio id="format" value="#{delegacjaKRBean.wniosek.czyDomyslnieDietaHotelowa}" styleClass="radioLabel" 
					disabled="'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt"
					style="display:inline-block">
					<f:selectItem itemLabel="Dieta hotelowa" itemValue="true" />
					<f:selectItem itemLabel="Ryczałt" itemValue="false" />
					<p:ajax event="valueChange" update="@(.btnDietyH)"/>
					
					<p:tooltip for="format" value="Zmiana wartości wpływa na rodzaj dodawanej pozycji hotelowej"/>
				</p:selectOneRadio>
			
			</div>
		
		</h:panelGroup>
		
	 </p:tab>
	 
	 
<!-- 	 ============================================================================================================================= -->
<!-- 	 ==========================================                             		============================================== -->
<!-- 	 ==========================================       RYCZAŁT NA KOMUNIKACJE        ============================================== -->
<!-- 	 ==========================================                            			============================================== -->
<!-- 	 ============================================================================================================================= -->

	 <p:tab title="RYCZAŁT NA KOMUNIKACJĘ MIEJSKĄ">
	 
	 	<f:facet name="title">
			 <cc:cDelTabPklGroupTitle 
			 	title="RYCZAŁT NA KOMUNIKACJĘ MIEJSKĄ" 
			 	kalkulacja="#{delegacjaKRBean.kalkulacjaRozliczenia}" 
			 	typyDiet="KM"
			 />
		</f:facet>
	 	
	 	<h:panelGroup id="ryczaltKMRozlPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">

	        <cc:cDelKTabPklGroup
	                   kalkulacja="#{delegacjaKRBean.kalkulacjaRozliczenia}"
	                   typyDiet="KM"
	                   btnAddAction="#{delegacjaKRBean.addRyczaltKM(delegacjaKRBean.kalkulacjaRozliczenia)}"
	         />	
	 
<!-- 		<h:panelGrid id="ryczaltKM" styleClass="ryczaltKM" width="1003"> -->

<!-- 			<ui:param name="tpozIdKM" value="#{delegacjaKRBean.getTpozIdByKtgPozycji('KM')}" /> -->
<!-- 			<ui:param name="ryczaltKMR" value="#{delegacjaKRBean.kalkulacjaRozliczenia.deltPozycjeKalkulacjis.stream().filter(pkl -> tpozIdKM eq pkl.pklTpozId).toList()}" /> -->
			
<!-- 			<cc:cTable id="ryczaltKMTable" styleClass="ryczaltKMTable" -->
<!-- 				datasource="#{ryczaltKMR}"  -->
<!-- 				height="250px"  -->
<!-- 				smallHeaders="true"> -->
					
<!-- 				<p:column headerText="Ilość diet" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklIlosc}" styleClass="right"> -->
<!-- 						<p:ajax update="inpKwota kwotaMF"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Stawka" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklStawka}" styleClass="right" symbol=" PLN" symbolPosition="s" readonly="true"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Kwota" width="75"> -->
<!-- 					<p:inputNumber id="inpKwota" value="#{o.pklKwota}" styleClass="right"> -->
<!-- 						<p:ajax  onsuccess="aktualizujKosztMf()" listener="#{delegacjaKRBean.aktualizujKwotyZF(o)}"/> -->
<!-- 					</p:inputNumber> -->
<!-- 					<p:tooltip for="inpKwota" value="Kwota w PLN : #{o.pklKwotaPln}" update="kwotaMF"/> -->
<!-- 					<p:remoteCommand name="aktualizujKosztMf" -->
<!-- 						actionListener="#{o.setPklKwotaMf(delegacjaKRBean.ustalKosztMf(o))}" update="kwotaMF"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Koszt MF" width="75"> -->
<!-- 					<p:inputNumber id="kwotaMF" value="#{o.pklKwotaMf}" styleClass="right"> -->
<!-- 						<p:ajax event="change" process="@this" partialSubmit="true"/> -->
<!-- 					</p:inputNumber> -->
<!-- 					<p:tooltip for="kwotaMF" value="#{delegacjaKRBean.zwrocProcentKosztMF(o.pklTpozId)}% z #{o.pklKwota}"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Refundacja" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklRefundacjaKwota}" styleClass="right"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Forma płatności" width="105"> -->
<!-- 					<p:selectOneMenu value="#{o.pklFormaPlatnosci}" > -->
<!-- 						<f:selectItems id="frmWyp" value="#{delegacjaKRBean.getSql('DEL_FORMY_PLATNOSCI').data}" var="frmWyp" -->
<!-- 							itemLabel="#{frmWyp.get(1)}" -->
<!-- 							itemValue="#{frmWyp.get(0)}" /> -->
							
<!-- 						<p:ajax event="change" partialSubmit="true" process="@this"/> -->
<!-- 						<p:tooltip for="frmWyp" value="#{frmWyp.get(1)}"/> -->
<!-- 					</p:selectOneMenu> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="ZF" width="75"> -->
<!-- 					<p:commandButton styleClass="granatowy" -->
<!-- 						partialSubmit="true" process="@this" -->
<!-- 						action="#{delegacjaKRBean.getCurrentPklDlg(o)}"  -->
<!-- 						oncomplete="PFbyId('dlgZrKrFinId').show()" icon="search" /> -->
						
<!-- 					<p:commandButton id="kopiujZf" icon="vertical_align_bottom"   -->
<!-- 						partialSubmit="true" process="@this" -->
<!-- 						update="@(.ryczaltKMTable)" -->
<!-- 						rendered="#{o.getDeltZrodlaFinansowanias() != null and o.getDeltZrodlaFinansowanias().size() gt 0}" -->
<!-- 						action="#{delegacjaKRBean.copyZFByTypPkl(o,ryczaltKMR)}"/> -->
<!-- 					<p:tooltip for="kopiujZf" value="skopiuj w/w źródła finasowania do pozostałych pozycji kosztów"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column width="75"> -->
			
<!-- 					<f:facet name="header"> -->
<!-- 						<p:commandButton partialSubmit="true" process="@this" update="@(.ryczaltKMTable)" icon="add"  style="width:20px!important" -->
<!-- 						action="#{delegacjaKRBean.addRyczaltKM(delegacjaKRBean.kalkulacjaRozliczenia)}"  -->
<!-- 						disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa or ryczaltKMR.size() > 0}"/> -->
<!-- 					</f:facet> -->
					
<!-- 					<p:commandButton partialSubmit="true" process="@this" update="@(.ryczaltKMTable)" icon="delete"  -->
<!-- 						action="#{delegacjaKRBean.kalkulacjaRozliczenia.removeDeltPozycjeKalkulacji(o)}" disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa}"/> -->
<!-- 				</p:column> -->
			
<!-- 			</cc:cTable> -->
			
<!-- 		</h:panelGrid>	 -->
		
<!-- 		<p:separator/> -->

			<div class="ui-g-12 ui-g-v-center p10">
				<p:commandButton 
					value="generuj kwote ryczałtu na komunikację miejską" 
					styleClass="granatowy btnRKM" 
					actionListener="#{delegacjaKRBean.generujDiety('KM', delegacjaKRBean.kalkulacjaRozliczenia)}"
					onstart="hgon()"  
					oncomplete="hgoff()"
					disabled="#{
						'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt
						or delegacjaKRBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe.size() gt 0}"
				>
<!-- 				'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa  -->
					<p:confirm header="Ryczałt komunikacyjny" 
						disabled="#{delegacjaKRBean.kalkulacjaRozliczenia.getPklListByKtgDiet('KM', false).size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu komunikacyjnego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton>
				
				<p:commandButton value="generuj kwote ryczałtu na komunikację miejską wg czynności służbowych" 
					styleClass="granatowy btnRKM" 
					disabled="#{
						'T' eq delegacjaKRBean.wniosek.wndFMiejscowoscPobyt
						or not(delegacjaKRBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe.size() gt 0)}"
					actionListener="#{delegacjaKRBean.generujDiety_CS('KM', delegacjaKRBean.kalkulacjaRozliczenia)}" 
					onstart="hgon()"  
					oncomplete="hgoff()"
				>
<!-- 				'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa -->
					<p:confirm header="Generowanie diet" 
						disabled="#{delegacjaKRBean.kalkulacjaRozliczenia.getPklListByKtgDiet('KM', false).size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu komunikacyjnego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton>  
			</div>
			
		</h:panelGroup>
	 
	 </p:tab>
	 
	 
	 
<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================            KOSZTY           ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->
	 
	 <p:tab title="KOSZTY PRZEJAZDU/POZOSTAŁE">
	 
	 	 <f:facet name="title">
			 <cc:cDelTabPklGroupTitle 
			 	title="KOSZTY PRZEJAZDU/POZOSTAŁE" 
			 	kalkulacja="#{delegacjaKRBean.kalkulacjaRozliczenia}" 
			 	typyDiet="P,H,RH,KM"
			 	typyDietExclude="true"
			 />
		</f:facet>
	 	
	 	<h:panelGroup id="kosztyRozlPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">

	        <cc:cDelKTabPklGroup
	                   kalkulacja="#{delegacjaKRBean.kalkulacjaRozliczenia}"
	                   typyDiet="P,H,RH,KM"
			 		   typyDietExclude="true"
	                   btnAddAction="#{delegacjaKRBean.addKoszt(delegacjaKRBean.kalkulacjaRozliczenia)}"
	         />	


<!-- 		<h:panelGrid id="kosztyPnl" styleClass="kosztyPnl" width="1300"> -->
		
<!-- 		<ui:param name="tpozIdP" value="#{delegacjaKRBean.getTpozIdByKtgDiety('P')}" /> -->
<!-- 		<ui:param name="tpozIdH" value="#{delegacjaKRBean.getTpozIdByKtgDiety('H')}" /> -->
<!-- 		<ui:param name="tpozIdRH" value="#{delegacjaKRBean.getTpozIdByKtgPozycji('RH')}" /> -->
<!-- 		<ui:param name="tpozIdKM" value="#{delegacjaKRBean.getTpozIdByKtgPozycji('KM')}" /> -->
		
<!-- 		<ui:param name="kosztyInne" value="#{delegacjaKRBean.kalkulacjaRozliczenia.deltPozycjeKalkulacjis.stream().filter(pkl -> pkl.pklTpozId != tpozIdP and pkl.pklTpozId != tpozIdH and pkl.pklTpozId != tpozIdKM -->
<!-- 			and pkl.pklTpozId != tpozIdRH).toList() }" /> -->
			
<!-- 			<cc:cTable id="koszty"  -->
<!-- 				datasource="#{kosztyInne}"  -->
<!-- 				height="300px" -->
<!-- 				smallHeaders="true"> -->

<!-- 				<p:column id="c1" headerText="Opis rodzaju kosztu" width="200"> -->
<!-- 						<p:inputText value="#{o.pklOpis}" id="opisKosztuPklRoz"> -->
<!-- 							<p:ajax event="change" process="@this" partialSubmit="true"/> -->
<!-- 						</p:inputText> -->
<!-- 						<p:tooltip value="#{o.pklOpis}" for="opisKosztuPklRoz"/> -->
<!-- 				</p:column> -->
		
<!-- 				<p:column headerText="Wart. jednostkowa" width="120"> -->
<!-- 					<p:inputNumber value="#{o.pklStawka}" symbol=" PLN" symbolPosition="s"> -->
<!-- 						<p:ajax update="inpKwota kwotaMFInne"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>  -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Ilość" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklIlosc}"> -->
<!-- 						<p:ajax update="inpKwota kwotaMFInne"  listener="#{delegacjaKRBean.przeliczKwote(o)}"/>   -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
		
<!-- 				<p:column id="c4" headerText="Kwota" width="75"> -->
<!-- 					<p:inputNumber id="inpKwota" value="#{o.pklKwota}"> -->
<!-- 						<p:ajax onsuccess="aktualizujKosztMfInne()" listener="#{delegacjaKRBean.aktualizujKwotyZF(o)}"/> -->
<!-- 					</p:inputNumber> -->
<!-- 					<p:remoteCommand name="aktualizujKosztMfInne" update="kwotaMFInne" -->
<!-- 						actionListener="#{o.setPklKwotaMf(delegacjaKRBean.ustalKosztMf(o))}"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column id="c5" headerText="Koszt MF" width="75"> -->
<!-- 					<p:inputNumber id="kwotaMFInne" value="#{o.pklKwotaMf}" styleClass="right"> -->
<!-- 						<p:ajax event="change" process="@this" partialSubmit="true"/> -->
<!-- 					</p:inputNumber> -->
<!-- 				</p:column> -->
		
<!-- 				<p:column headerText="Refundacja" width="75"> -->
<!-- 					<p:inputNumber value="#{o.pklRefundacjaKwota}"/> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="Forma płatności" width="105"> -->
<!-- 					<p:selectOneMenu value="#{o.pklFormaPlatnosci}" > -->
<!-- 						<f:selectItems id="frmWyp" value="#{delegacjaKRBean.getSql('DEL_FORMY_PLATNOSCI').data}" var="frmWyp" -->
<!-- 							itemLabel="#{frmWyp.get(1)}" -->
<!-- 							itemValue="#{frmWyp.get(0)}" /> -->
							
<!-- 						<p:ajax event="change" partialSubmit="true" process="@this"/> -->
<!-- 						<p:tooltip for="frmWyp" value="#{frmWyp.get(1)}"/> -->
<!-- 					</p:selectOneMenu> -->
<!-- 				</p:column> -->
				
<!-- 				<p:column headerText="ZF" width="75"> -->
<!-- 					<p:commandButton styleClass="granatowy" -->
<!-- 						partialSubmit="true" process="@this" -->
<!-- 						action="#{delegacjaKRBean.getCurrentPklDlg(o)}"  -->
<!-- 						oncomplete="PFbyId('dlgZrKrFinId').show()" icon="search" /> -->
						
<!-- 					<p:commandButton id="kopiujZf" icon="vertical_align_bottom"   -->
<!-- 							partialSubmit="true" process="@this" -->
<!-- 							update="@form:accPnl:kosztyPnl" -->
<!-- 							rendered="#{o.getDeltZrodlaFinansowanias() != null and o.getDeltZrodlaFinansowanias().size() gt 0}" -->
<!-- 							action="#{delegacjaKRBean.copyZFByTypPkl(o,kosztyInne)}"/> -->
<!-- 						<p:tooltip for="kopiujZf" value="skopiuj w/w źródła finasowania do pozostałych pozycji kosztów #{o.getDeltZrodlaFinansowanias().size() gt 0} #{o.getDeltZrodlaFinansowanias().size()}"/> -->
<!-- 				</p:column> -->
					
<!-- 				<p:column width="75"> -->
<!-- 					<f:facet name="header"> -->
<!-- 						<p:commandButton partialSubmit="true" process="@this" update="@form:accPnl:kosztyPnl" icon="add"  style="width:20px!important" -->
<!-- 						action="#{delegacjaKRBean.addKoszt(delegacjaKRBean.kalkulacjaRozliczenia)}"  -->
<!-- 						disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa}"/> -->
<!-- 					</f:facet> -->
	
<!-- 					<p:commandButton partialSubmit="true" process="@this"  -->
<!-- 						update="@form:accPnl:kosztyPnl  #{'T' eq o.getKategoria() ? '@form:accPnl:trasy' : ''}"  -->
<!-- 						icon="delete"  -->
<!-- 						action="#{delegacjaKRBean.usunKoszt(delegacjaKRBean.kalkulacjaRozliczenia,o)}"  -->
<!-- 						disabled="#{'T' eq delegacjaKRBean.wniosek.wndFBezkosztowa}"/> -->
<!-- 				</p:column> -->
				
<!-- 			</cc:cTable> -->
<!-- 		</h:panelGrid>	  -->
		</h:panelGroup>
	 </p:tab>
	 

<!-- 	 ============================================================================================================================== -->
<!-- 	 ==========================================                            			 ============================================== -->
<!-- 	 ==========================================        PODSUMOWANIE KOSZTÓW          ============================================== -->
<!-- 	 ==========================================                             		 ============================================== -->
<!-- 	 ============================================================================================================================== -->


	 <p:tab title="PODSUMOWANIE KOSZTÓW I ROZLICZENIE" kuid="tabZaliczki">
	 
		<f:facet name="title">
			<cc:cDelTabPodsumowanieKosztowTitle kalkulacja="#{delegacjaKRBean.kalkulacjaRozliczenia}"/>
		</f:facet>
		
		<cc:cDelKalkulacjaPodsumowanieKosztowByDKZ kalkulacja="#{delegacjaKRBean.kalkulacjaWstepna}" 
			readonly="true" czyPodsumowanie="false" label="Otrzymane zaliczki:" styleClass="ui-g ui-g-12 p0"/>
	
		<cc:cDelKalkulacjaPodsumowanieKosztowByDKZ label="Rozliczenie zaliczki - kwoty do zwrotu/do wypłaty:" kalkulacja="#{delegacjaKRBean.kalkulacjaRozliczenia}" styleClass="ui-g ui-g-12 p0"/>
	
	
		<cc:cDelKalkulacjaPodsumowanieKosztowByAngaze kalkulacja="#{delegacjaKRBean.kalkulacjaRozliczenia}" styleClass="ui-g ui-g-12 p0 mt50"/>
			
		<h:panelGroup id="terminRozliczenia" styleClass="ui-g-12">
			<cc:cCalendarMDesign label="Obowiązujący termin rozliczenia" 
				styleClass="ui-g-2" 
				readonly="true" 
				value="#{delegacjaKRBean.wyznaczDateRozl()}"
				rendered="#{delegacjaKRBean.wyznaczDateRozl() ne null}"
			/>
		</h:panelGroup>	
	 
	 
<!-- 	 	<f:facet name="title"> -->
<!-- 			 <h:panelGroup id="pnlZaliczkiTtl"> -->
<!-- 				 <p:outputLabel value="PODSUMOWANIE KOSZTÓW I ROZLICZENIE" styleClass="p0" style="#{not empty delegacjaKRBean.kalkulacjaRozliczenia.delZaliczki ? 'color:black!important;': ''}"/> -->
<!-- 			 </h:panelGroup> -->
<!-- 		</f:facet> -->
	 
	 
<!-- 	 	<h:panelGroup id="rozliczenie" styleClass="rozliczenie"> -->
<!-- 	 					#{delegacjaKRBean.kalkulacjaRozliczenia.deltPozycjeKalkulacjis.isEmpty() ? "" : delegacjaKRBean.obliczPodsumowanieRozliczenie(false)} -->
<!-- 	 		<p:row rendered="#{delegacjaKRBean.kalkulacjaWstepna.delZaliczki.size() gt 0 and 'T' eq delegacjaKRBean.wniosek.wndFZaliczka}"> -->
<!-- 				<div class="ui-g ui-g-nopad"> -->
<!-- 				<h:outputFormat value="Wypłacone zaliczki"  style="padding: 10px;"/> -->
				
<!-- 					<div class="ui-g-12 ui-lg-12 ui-xl-12 ui-g-nopad"> -->
<!-- 						<div class="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"><p:outputLabel value="Kwota zaliczki "/></div> -->
<!-- 						<div class="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"><p:outputLabel value="Data wypłaty "/></div> -->
<!-- 						<div class="ui-g-1 ui-lg-2 ui-xl-1 ui-g-nopad"><p:outputLabel value="Forma wypłaty"/></div> -->
<!-- 						<div class="ui-g-3 ui-lg-2 ui-xl-3 ui-g-nopad"><p:outputLabel value="Nr konta"/></div> -->
<!-- 						<div class="ui-g-3 ui-lg-2 ui-xl-3 ui-g-nopad"><p:outputLabel value="Nr dokumentu w FIN"/></div> -->
<!-- 			 		</div> -->
			 	
<!-- 			 		<ui:repeat var="zal" value="#{delegacjaKRBean.kalkulacjaWstepna.delZaliczki}"> -->
<!-- 			 			<div class="ui-g-12 ui-lg-12 ui-xl-12"> -->
			 			
<!-- 			 				<cc:cInputNumberMDesign value="#{zal.dkzKwota}" symbol=" PLN" styleClass="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad" readonly="true"/> -->
<!-- 			 				<cc:cCalendarMDesign value="#{zal.dkzDataWyp}" styleClass="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad" readonly="true"/> -->
<!-- 			 				<cc:cSOMMDesign value="#{zal.dkzFormaWyplaty}" update="@(.rozliczenie)" datasource="#{delegacjaKRBean.getSql('DEL_FORMY_WYPLATY')}"  -->
<!-- 			 					styleClass="ui-g-1 ui-lg-2 ui-xl-1 ui-g-nopad" disabled="true"/> -->
			 				
			 				
<!-- 			 				<h:panelGroup id="nrKontaWstID" styleClass="ui-g-3 nrKonta#{status.index}"  layout="block" -->
<!-- 											style="display:#{'B' eq zal.dkzFormaWyplaty ? 'block;':'none;'}"> -->
									
<!-- 								<cc:cLovJS lovDlgTitle="Lista kont" process="@this" style="margin-top:2px" -->
<!-- 									lovTextFormat="%2$s" -->
<!-- 									width="300" readonly="true" -->
<!-- 									update="@(.rozliczenie)" -->
<!-- 									datasource="#{delegacjaKRBean.getLW('PPL_DEL_KONTA_PRC_PLN', delegacjaKRBean.wniosek.wndPrcId)}" -->
									
<!-- 									value="#{zal.dkzNrKonta}"  -->
<!-- 									/> -->
									
<!-- 							</h:panelGroup> -->
								
<!-- 							<h:panelGroup id="opisKasa" styleClass="ui-g-3 opisKasa#{status.index}"  layout="block" -->
<!-- 											style="display:#{'K' eq zal.dkzFormaWyplaty ? 'block;':'none;'};"> -->
<!-- 			 				</h:panelGroup> -->
			 				
<!-- 							<p:column rendered="#{zal.dkzDokId ne null}"> -->
<!-- 								<cc:cInputTextMDesign value="#{zal.dkzDokId}" readonly="true" styleClass="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"/> -->
<!-- 							</p:column> -->
							 
<!-- 						</div> -->
<!-- 					</ui:repeat> -->
<!-- 			 	</div> -->
<!-- 			 </p:row> -->
		 
<!--  			<p:outputLabel rendered="#{'N' eq delegacjaKRBean.wniosek.wndFZaliczka}" value="Pracownik nie wnioskował o zaliczki na delegacje"/> -->
	 	
<!-- 	 		<p:row rendered="#{delegacjaKRBean.kalkulacjaRozliczenia.delZaliczki.size() gt 0}"> -->
<!-- 				<div class="ui-g ui-g-nopad"> -->
				
<!-- 					<h:outputFormat value="Kwota do rozliczenia : #{delegacjaKRBean.zwrocKwoteDoRozliczen()} PLN"  style="padding: 10px;"/> -->
<!-- 					<div class="ui-g-12 ui-lg-12 ui-xl-12 ui-g-nopad"> -->
<!-- 						<div class="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"><p:outputLabel value="Otrzymana zaliczka "/></div> -->
<!-- 						<div class="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"><p:outputLabel value="Do zwrotu"/></div> -->
<!-- 						<div class="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"><p:outputLabel value="Do wypłaty"/></div> -->
<!-- 						<div class="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"><p:outputLabel value="Data utworzenia "/></div> -->
<!-- 						<div class="ui-g-1 ui-lg-2 ui-xl-1 ui-g-nopad"><p:outputLabel value="Forma rozliczenia"/></div> -->
<!-- 						<div class="ui-g-3 ui-lg-2 ui-xl-3 ui-g-nopad"><p:outputLabel value="Nr konta"/></div> -->
<!-- 						<div class="ui-g-3 ui-lg-2 ui-xl-3 ui-g-nopad"><p:outputLabel value="Nr dokumentu w FIN"/></div> -->
<!-- 			 		</div> -->
			 		
<!-- 			 		<ui:param name="daneKsgKalLW" -->
<!-- 			 			 value="#{ delegacjaKRBean.getLW('PPL_DEL_DANE_KSIEGOWE_KAL',[ delegacjaKRBean.kalkulacjaRozliczenia.kalId ] )}" /> -->
			 			 
<!-- 			 		<ui:repeat var="zal" value="#{delegacjaKRBean.kalkulacjaRozliczenia.delZaliczki}"> -->
<!-- 			 			<div class="ui-g-12 ui-lg-12 ui-xl-12"> -->
<!-- 			 			<ui:param name="kgtRow" value="#{ daneKsgKalLW.find(zal.dkzDokId) }" /> -->
			 			

<!-- 			 				<cc:cInputNumberMDesign value="#{zal.dkzZalWydano}" symbol=" PLN" symbolPosition="s" -->
<!-- 			 							readonly="true"  -->
<!-- 			 							disabled="#{'N' eq delegacjaKRBean.wniosek.wndFZaliczka}"	styleClass="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"> -->
<!-- 			 						<p:ajax update="@(.rozliczenie)" event="change"  -->
<!-- 			 								process="@this" partialSubmit="true" -->
<!-- 			 								listener="#{delegacjaKRBean.aktualizujKwoteRozl(zal)}"/> -->
<!-- 			 				</cc:cInputNumberMDesign> -->
			 				
<!-- 			 				<cc:cInputNumberMDesign value="#{zal.dkzKwota}" symbol=" PLN" symbolPosition="s" readonly="true" -->
<!-- 			 						 styleClass="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"/> -->
			 				
<!-- 			 				<cc:cInputNumberMDesign value="#{zal.dkzSrodkiWlasne}" symbol=" PLN"  -->
<!-- 			 						readonly="true" -->
<!-- 			 						symbolPosition="s"  -->
<!-- 			 						styleClass="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"> -->
<!-- 			 						<p:ajax update="@(.rozliczenie)" event="change"  -->
<!-- 			 						 		process="@this" partialSubmit="true" -->
<!-- 			 								listener="#{delegacjaKRBean.aktualizujKwoteRozl(zal)}"/> -->
<!-- 			 				</cc:cInputNumberMDesign> -->
			 				
<!-- 			 				<cc:cCalendarMDesign value="#{zal.dkzDataWyp}"  -->
<!-- 			 							styleClass="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad" -->
<!-- 			 							readonly="true" -->
<!-- 			 							/> -->
<!-- 			 				<cc:cSOMMDesign value="#{zal.dkzFormaWyplaty}" process="@this"  -->
<!-- 			 							update="@(.rozliczenie)" -->
<!-- 			 							disabled="#{zal.dkzDokId ne null}"  -->
<!-- 			 							datasource="#{delegacjaKRBean.getSql('DEL_FORMY_WYPLATY')}"  -->
<!-- 			 							styleClass="ui-g-1 ui-lg-2 ui-xl-1 ui-g-nopad"/> -->
			 				
			 				
<!-- 			 				<h:panelGroup id="nrKontaID" styleClass="ui-g-3 nrKonta#{status.index}"  layout="block" -->
<!-- 											style="display:#{'B' eq zal.dkzFormaWyplaty ? 'block;':'none;'}"> -->
									
<!-- 								<cc:cLovJS lovDlgTitle="Lista kont" process="@this" style="margin-top:2px" -->
<!-- 									lovTextFormat="%2$s" -->
<!-- 									readonly="#{zal.dkzDokId ne null}" -->
<!-- 									width="300" -->
<!-- 									update="@(.rozliczenie)" -->
<!-- 									datasource="#{delegacjaKRBean.getLW('PPL_DEL_KONTA_PRC_PLN', delegacjaKRBean.wniosek.wndPrcId)}" -->
<!-- 									rendered = "#{zal.dkzSrodkiWlasne gt zal.dkzKwota}" -->
<!-- 									value="#{zal.dkzNrKonta}"  -->
<!-- 									/> -->
									
<!-- 								<cc:cLovJS lovDlgTitle="Lista kont MF" process="@this" style="margin-top:2px" -->
<!-- 									lovTextFormat="%2$s" -->
<!-- 									readonly="#{zal.dkzDokId ne null}" -->
<!-- 									width="300" -->
<!-- 									update="@(.rozliczenie)" -->
<!-- 									datasource="#{delegacjaKRBean.getLW('PPL_DEL_KONTA_MF')}" -->
<!-- 									rendered = "#{zal.dkzKwota gt zal.dkzSrodkiWlasne}" -->
<!-- 									value="#{zal.dkzNrKonta}"  -->
<!-- 								/> -->
									
<!-- 							</h:panelGroup> -->
								
<!-- 							<h:panelGroup id="opisKasa1" styleClass="ui-g-3 opisKasa#{status.index}"  layout="block" -->
<!-- 											style="display:#{'K' eq zal.dkzFormaWyplaty ? 'block;':'none;'};"> -->
<!-- 			 				</h:panelGroup> -->
			 				
<!-- 			 				<p:column rendered="#{zal.dkzFormaWyplaty eq null or zal.dkzFormaWyplaty.isEmpty()}"> -->
<!-- 			 					<cc:cInputTextMDesign value="nie wybrano formy rozliczenia" readonly="true" styleClass="ui-g-3 ui-lg-3 ui-xl-3 ui-g-nopad"/> -->
<!-- 			 				</p:column> -->
			 				
<!-- 							<p:column rendered="#{zal.dkzDokId ne null}"> -->
<!-- 								<cc:cInputTextMDesign value="#{zal.dkzDokId}" readonly="true" styleClass="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"/> -->
<!-- 							</p:column> -->
							 
<!-- 							<p:column rendered="#{zal.dkzDokId eq null}"> -->
<!-- 								<cc:cInputTextMDesign value="#{'brak'}" readonly="true" styleClass="ui-g-1 ui-lg-1 ui-xl-1 ui-g-nopad"/> -->
<!-- 							</p:column> -->
							
<!-- 							<p:commandButton styleClass="granatowy ml10" id="btnZatwierdz"  -->
<!-- 								onstart = "hgon()"  oncomplete="hgoff()" -->
<!-- 								value="#{zal.dkzKwota gt 0 ? 'Wpłać różnicę' : 'Polecenie wypłaty'}"   -->
<!-- 								partialSubmit="true" process="@this" -->
<!-- 								disabled="#{zal.dkzDokId ne null  or (zal.dkzKwota eq 0 and zal.dkzSrodkiWlasne eq 0)}" -->
<!-- 								update="@(.rozliczenie)" -->
<!-- 								action="#{delegacjaKRBean.generujDokumentNZ (zal, delegacjaKRBean.kalkulacjaRozliczenia)}" -->
<!-- 								icon="check"> -->
								
<!-- 								<p:confirm header="Rozliczenie" -->
<!-- 										message="Czy na pewno chcesz wysłać rozliczenie w podanej kwocie? Operacji nie będzie można powtórzyć" -->
<!-- 										icon="ui-icon-alert"/> -->
										
<!-- 							</p:commandButton> -->

<!-- 							<p:commandButton id="usunZal" icon="delete"  -->
<!-- 								partialSubmit="true" process="@this" -->
<!-- 								update="@(.rozliczenie)"  -->
<!-- 								action="#{delegacjaKRBean.usunZalKW(zal, delegacjaKRBean.kalkulacjaRozliczenia)}" -->
<!-- 								disabled="#{ kgtRow!=null and 'T' eq kgtRow.get('dok_f_zatwierdzony')}"  -->
<!-- 								rendered="#{'N' eq delegacjaKRBean.wniosek.wndFZaliczka ? false : true}" -->
<!-- 								onstart="showHourGlass()" oncomplete="hideHourGlass()" > -->
								
<!-- 								<p:confirm header="Usunięcie zaliczki" -->
<!-- 										message="Czy chcesz anulować realizację dla wskazanej zaliczki?" -->
<!-- 										icon="ui-icon-alert"/> -->
										
<!-- 								<p:tooltip for="usunZal" value="Usunięcie zaliczki możliwe jest jeśli nie została zatwierdzona w module księgowym"/> -->
								
<!-- 							</p:commandButton> -->
							
<!-- 							<p:commandButton id ="btnSzczegoly" icon="expand_more" /> -->
<!-- 							<p:tooltip for="btnSzczegoly" value="Wyświetl dane księgowe dla wygenerowanego dokumentu"/> -->
							
<!-- 							<p:overlayPanel for="btnSzczegoly" hideEffect="fade" styleClass="ui-g-9"> -->
<!-- 								<h:panelGroup rendered="#{zal.dkzDokId ne null}"> -->
<!-- 									<div class="ui-g-12 ui-lg-12 ui-xl-12 ui-g-nopad"> -->
<!-- 						 				<div class="ui-g-3 ui-lg-3 ui-xl-3"><p:outputLabel value="Status"/> -->
<!-- 						 					<br/> -->
<!-- 						 					<cc:cInputTextMDesign readonly="true" value="#{kgtRow.get('status')}"  -->
<!-- 						 						color="#{kgtRow.get('kolor')}"/> -->
<!-- 						 				</div> -->
						 				
<!-- 						 				<div class="ui-g-2 ui-lg-2 ui-xl-2"><p:outputLabel value="Kwota"/> -->
<!-- 						 					<br/> -->
<!-- 						 					<cc:cInputNumberMDesign readonly="true" value="#{kgtRow.get('dok_kwota')}"/>  -->
<!-- 						 				</div> -->
						 				
<!-- 						 				<div class="ui-g-3 ui-lg-3 ui-xl-3"><p:outputLabel value="Data wystawienia"/> -->
<!-- 						 					<br/> -->
<!-- 						 					<cc:cCalendarMDesign readonly="true" value="#{kgtRow.get('dok_data_wystawienia')}"/>  -->
<!-- 						 				</div> -->
						 				
<!-- 						 				<div class="ui-g-3 ui-lg-3 ui-xl-3"><p:outputLabel value="Data operacji"/> -->
<!-- 						 					<br/> -->
<!-- 						 					<cc:cCalendarMDesign readonly="true" value="#{kgtRow.get('dok_data_operacji')}"/>  -->
<!-- 						 				</div> -->
						 				
<!-- 						 				<div class="ui-g-1 ui-lg-1 ui-xl-1"> -->
<!-- 						 					<p:commandButton value="Odśwież dane" icon="refresh" actionListener="#{daneKsgKalLW.resetTs()}" -->
<!-- 						 						update="@(.rozliczenie)"/> -->
<!-- 						 				</div> -->
						 				
<!-- 						 			</div> -->
<!-- 								</h:panelGroup> -->
<!-- 								<h:outputLabel rendered="#{zal.dkzDokId eq null}" value="Dla podanej zaliczki nie wygenerowano dokumentu księgowego" /> -->
<!-- 							</p:overlayPanel> -->
							
<!-- 						</div> -->
<!-- 					</ui:repeat> -->
<!-- 			 	</div> -->
<!--  			</p:row> -->
 			
<!--  			<br/><br/> -->
 			
<!--  			<div class="ui-g ui-g-nopad"> -->
<!--  				<h:outputFormat value="Łączny koszt delegacji wraz z źródłami finansowania"  style="padding: 10px;"/> -->
<!--  			</div> -->
 			
<!--  			<cc:cInputNumberMDesign value="#{delegacjaKRBean.podsumowanieRozl}"  -->
<!--  					readonly="true"  -->
<!--  					label="Podsumowanie" -->
<!--  					decimalPlaces="2" -->
<!--  					symbol=" PLN" -->
<!--  					styleClass="ui-g-1 ui-lg-2 ui-xl-1 ui-g-nopad"/> -->
 					
 					
<!-- 	 		<div class="ui-g-2 ui-lg-2 ui-xl-2 ui-g-nopad"> -->
<!-- 				<p:commandButton id ="btnZF" icon="expand_more" styleClass="search_button"  /> -->
			
<!-- 				<p:overlayPanel for="btnZF" hideEffect="fade" styleClass="ui-g-8"> -->
<!-- 					<h:panelGroup rendered="#{delegacjaKRBean.zfDoRozliczenia.size() gt 0}" layout="block" styleClass="ui-g ui-g-nopad"> -->
<!-- 						<div class="ui-g-12 ui-lg-12 ui-xl-12 ui-g-nopad"> -->
<!-- 			 				<div class="ui-g-8 ui-lg-8 ui-xl-8"><p:outputLabel value="Źródło finansowania "/></div> -->
<!-- 			 				<div class="ui-g-1 ui-lg-1 ui-xl-1"><p:outputLabel value="Kwota "/></div> -->
<!-- 			 			</div> -->
			 			
<!-- 					 	<ui:repeat var="zf" value="#{delegacjaKRBean.zfDoRozliczenia}"> -->
					 	
<!-- 					 			<div class="ui-g-12 ui-lg-12 ui-xl-12 ui-g-nopad"> -->
<!-- 					 				<div class="ui-g-8 ui-lg-8 ui-xl-8"> -->
<!-- 					 					<p:inputText readonly="true" value="#{delegacjaKRBean.kodZF(zf.pkzfSkId)}"/> -->
<!-- 					 				</div> -->
<!-- 					 				<div class="ui-g-1 ui-lg-1 ui-xl-1"> -->
<!-- 					 					<p:inputNumber readonly="true" value="#{zf.pkzfKwota}"/> -->
<!-- 					 				</div> -->
<!-- 					 			</div> -->
<!-- 					 	</ui:repeat> -->
<!-- 				 	</h:panelGroup> -->
<!-- 				 	<h:outputLabel rendered="#{delegacjaKRBean.zfDoRozliczenia.size() eq 0}" value="Brak podpiętych źródel finansowania" /> -->
<!-- 				 </p:overlayPanel> -->
				 
<!-- 				 <p:tooltip for="btnZF" value="Wyświetl źródła finansowania"/> -->
<!-- 			 </div> -->
 			
<!--  			<br/><br/><br/> -->
					
<!-- 			<p:separator/> -->
		
<!-- 			<div class="ui-g ui-g-nopad"> -->
<!-- 				<p:commandButton value="Przelicz koszty" styleClass="granatowy" partialSubmit="true" process="@form"  -->
<!-- 					update="@(.rozliczenie)"  -->
<!-- 					action="#{delegacjaKRBean.obliczPodsumowanieRozliczenie(true)}" -->
<!-- 					onstart="showHourGlass()" oncomplete="hideHourGlass()" /> -->
					
<!-- 				<p:commandButton id="btnPobierz"  -->
<!-- 					ajax="false" onclick="form.target = '_blank'" -->
<!-- 					actionListener="#{delegacjaKRBean.pobierzDokMF('wniosek_o_swiadczenie_niestandardowe.docx')}" -->
<!-- 					partialSubmit="true" process="@this" -->
<!-- 				 	value="POBIERZ WNIOSEK"> -->
<!-- 				<p:tooltip for="btnPobierz" value="Pobierz wniosek o świadczenia niestandardowe"/> -->
<!-- 			</p:commandButton> -->
<!-- 			</div> -->
			
<!-- 	 		<br/> -->
<!--  		</h:panelGroup> -->
	 </p:tab>
	 
	 <!-- 	 ============================================================================================================== -->
<!-- 	 ==========================================                      ============================================== -->
<!-- 	 ==========================================         UWAGI		 ============================================== -->
<!-- 	 ==========================================                      ============================================== -->
<!-- 	 ============================================================================================================== -->		
	
		<p:tab title="UWAGI">
<!-- 			<egr:ku kuid="cz1-5"> -->
			<p:panelGrid>
				<p:row>
					<p:column>
						<cc:cInputTextAreaMDesign id="uwagi"
							label="Uwagi: "
							value="#{delegacjaKRBean.kalkulacjaRozliczenia.kalOpis}"
							placeholder="... uwagi ..." styleClass="lekka-ramka" rows="5"
							cols="150" maxlength="4000" />
					</p:column>
				</p:row>
			</p:panelGrid>
			
			<br/><br/><br/>
			
<!-- 			</egr:ku>				 -->
		</p:tab>
	 
	 
</p:accordionPanel>



	<p:tabView />

</body>
</html>