<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}" />
		<ui:define name="egr_content">
			<h:form styleClass="bg-fff bsh2black m20i p20 flex-1">
					
				#{sessionBean.loadEgListaWartosci('PP_DEL_KRAJ_ROZL_OBIEG',  [] )}

				<c:cLookupTable
					datasource="#{sessionBean.getSql('PP_DEL_KRAJ_ROZL_OBIEG')}"
					 />

			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
