<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:i="http://java.sun.com/jsp/jstl/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">

<!--<f:metadata>-->
<!--</f:metadata>-->
<h:body>

	<i:set  value="#{delegacjaKRBean.wniosek}" var="wnd"/>


	<p:accordionPanel id="accPnl" multiple="true">
	
<!-- 	 ================================================================================================================================= -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ==========================================         RODZAJ I CEL DELEGACJI          ============================================== -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ================================================================================================================================= -->	

		<p:tab title="RODZAJ I CEL DELEGACJI" kuid="tabRodzajCel">
			
			<p:panelGrid id="headerGrid">
				<p:row>
					<p:column> 
						<c:cInputTextMDesign label="Nr: " width="100"
							value="#{delegacjaKRBean.wniosek.wndNumer}" 
							id="nrDel" />
					</p:column>
		
					<p:column>
						<c:cCalendarMDesign styleClass="clndr-ie"
							value="#{delegacjaKRBean.wniosek.wndDataWniosku}"
							readonly="true"
							label="Data złożenia wniosku: " 
						/>
					</p:column>
	
				</p:row>
		
			</p:panelGrid>
			
			<br/>
			
			<p:panelGrid id="chkboxes" styleClass="chkboxes">
			#{delegacjaKRBean.sprawdzStanObiegu()}
				<p:row>
					<p:column style="min-width: 0" />
					
					<p:column>
						<c:cSelectBooleanCheckboxTN 
							id="szkolenieChckbx"
							label="Czy szkoleniowa"
							value="#{delegacjaKRBean.wniosek.wndFCzySzkolenie}"
							partialSubmit="true"
							process="@this"
							update="@(.rdKsztZF) @(.rdKszt) @(.dlgLovJS_Źródła_finansowania_ppl_del_zrodla_fin)"
						>
							<p:tooltip for="szkolenieChckbx">
								Czy masz zgodę  na udział  w szkoleniu  komórki szkoleniowej? Nie zapomnij o załączeniu zgody
							</p:tooltip>
						</c:cSelectBooleanCheckboxTN>
					</p:column>
		
					<p:column style="min-width: 20px" />
		
					<p:column>
						<c:cSelectBooleanCheckboxTN
							id="konferencjaChckbx" 
							label="Czy konferencja"
							partialSubmit="true"
							process="@this"
							onstart="toggleShowHide('.konfKoszt')"
							value="#{delegacjaKRBean.wniosek.wndFKonferencyjna}">
							
							<p:tooltip for="konferencjaChckbx">
								Czy masz zgodę  na udział  w konferencji  komórki szkoleniowej? Nie zapomnij o załączeniu zgody
							</p:tooltip>
							
						</c:cSelectBooleanCheckboxTN>
					</p:column>
					
					
					<p:column styleClass="konfKoszt" rendered="#{'T' eq delegacjaKRBean.wniosek.wndFKonferencyjna}">
						<c:cSelectBooleanCheckboxTN 
								value="#{delegacjaKRBean.wniosek.wndFKonfKosztowa}"
								label="Delegacja konferencyjna - kosztowa ? "
								valueChangeListener="#{delegacjaKRBean.delKonfKosztKomunikat}"
								/>
					</p:column>
					
					<p:column style="min-width: 20px" />
		
<!-- 					<p:column> -->
<!-- 						<p:outputLabel value="Czy projekt" /> -->
<!-- 					</p:column> -->
					
					<p:column>
						<c:cSelectBooleanCheckboxTN label="Czy projekt" 
							partialSubmit="true"
							process="@this"
							value="#{delegacjaKRBean.wniosek.wndFProjektowa}"
							update="@(.rdKsztZF) @(.rdKszt) @(.dlgLovJS_Źródła_finansowania_ppl_del_zrodla_fin) @(.chkboxes)"
						/>
					</p:column>
			
					<h:panelGroup id="prjkt" styleClass="projekt"
						rendered = "#{'T' eq delegacjaKRBean.wniosek.wndFProjektowa}">
						<p:column>
							<p:outputLabel value="Projekt" />
						</p:column>
			
						<p:column id="cProjekt">
							<c:cLovJS width="280"
								process="@this"
								datasource="#{delegacjaKRBean.getLW('PPL_DEL_PROJEKTY')}"
								lovDlgTitle="Lista projektów"
								value="#{delegacjaKRBean.wniosek.wndProjKod}"
								lovTextFormat="%2$s"
								update="@(.rdKsztZF) @(.rdKszt) @(.dlgLovJS_Źródła_finansowania_ppl_del_zrodla_fin)"
							/>
						</p:column>
					</h:panelGroup>
		
					<p:column style="min-width: 20px" />
		
				</p:row>
		
			</p:panelGrid>
			<br />
				
			<p:panelGrid>
				<p:row>
					<p:column>
						<c:cInputTextAreaMDesign id="opisMiejscaDoc"
							value="#{delegacjaKRBean.wniosek.wndMiejsceDocelowe}"
							label="Miejsce docelowe wraz z adresem i nazwą jednostki:"
							placeholder="... miejsce docelowe podróży(adres i nazwa jednostki) ..." styleClass="lekka-ramka"
							rows="3" cols="150" maxlength="255"
							requiredJ="true" />
					</p:column>
				</p:row>
			</p:panelGrid>	
				
			<p:panelGrid>
				<p:row>
					<p:column>
						<c:cInputTextAreaMDesign id="opisCelu"
							value="#{delegacjaKRBean.wniosek.wndOpis}"
							label="Opis celu delegacji:"
							placeholder="... opis celu delegacji ..." styleClass="lekka-ramka"
							rows="5" cols="150" maxlength="4000"
							requiredJ="true" />
					</p:column>
				</p:row>
			</p:panelGrid>
			
			<br />
			<br />	
				
				
		</p:tab>
	
<!-- 	 ================================================================================================================================= -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ==========================================         SKŁAD DELEGACJI I ZAPRASZAJĄCY  ============================================== -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ================================================================================================================================= -->	
	
		<p:tab title="SKŁAD DELEGACJI I ZAPRASZAJĄCY"  kuid="tabSkladDelegacji">

			<ui:include src="/faces/DelegacjeMF/DelPracownicyInfoPart.xhtml"/>

			<h:panelGroup id="pnlZprszjc" styleClass="d-flex-column mmw300 p0 pb10 bb1 mt40 mb20">

				<div class="d-flex a-i-center bb1">

					<p:outputLabel value="Zapraszający" style="flex:100" for="@parent"/>

					<p:commandButton
							icon="add"
							partialSubmit="true"
							process="@this"
							update="@(.panel1)"
							action="#{wnd.addNewZapraszajacy}"
					/>

				</div>

				<ui:repeat
						id="rpt1"
						value='#{wnd.deltZapraszajacys}'
						var="zprszjc"
						varStatus="status">

					<div class="d-flex a-i-center mt10 ml5">

						<c:cInputText
								style="flex:100"
								value="#{zprszjc.zaprOpis}"
								placeholder="Zapraszający"
						/>

						<p:commandButton
								icon="delete"
								partialSubmit="true" process="@this"
								action="#{wnd.removeDeltZapraszajacy(zprszjc)}"
						/>
					</div>
				</ui:repeat>

			</h:panelGroup>

		</p:tab>



<!-- 	 ========================================================================================================================================= -->
<!-- 	 ==========================================                             			    	============================================== -->
<!-- 	 ==========================================         TRASA - MIASTA I ŚRODKI TRANSPORTU  	============================================== -->
<!-- 	 ==========================================                             			    	============================================== -->
<!-- 	 ========================================================================================================================================= -->	

		<p:tab title="TRASA - MIASTA I ŚRODKI TRANSPORTU">
		
			<h:panelGroup id="panelMiejscowosci">
			
				<div class="ui-g ui-g-nopad" style="padding-top: 9px;">
					<div class="ui-g-12 ui-g-nopad">
					
						<div class="ui-g-2 ui-g-nopad">
							<p:outputLabel value="Cele delegacji"/>
						</div>
						
						<div class="ui-g-6 ui-g-nopad">
							<p:commandButton icon="add" 
									partialSubmit="true"
									process="tabViewId:frmT1:accPnl:panelMiejscowosci @this"
									update="tabViewId:frmT1:accPnl:panelMiejscowosci"
									action="#{delegacjaKRBean.addNewCDEL}"/>
						</div>
		
						<ui:repeat value='#{delegacjaKRBean.wniosek.deltCeleDelegacjis}'
									var="o" varStatus="status">
						
							<div class="ui-g-12 ui-g-nopad">
								<div class="ui-g-3 ui-g-nopad">
									<c:cInputTextMDesign id="mscwscOd" 
											requiredJ="true" placeholder="#{status.index eq 0? '': 'Miejscowość'}" label="#{status.index eq 0? 'Miejscowość rozpoczęcia delegacji': ''}"
											value="#{delegacjaKRBean.wniosek.deltCeleDelegacjis.get(status.index).cdelMiejscowoscOd}"/>
								</div>	
							
								<div class="ui-g-3 ui-g-nopad">
									<c:cInputTextMDesign id="mscwsc" 
											requiredJ="true" placeholder="#{status.index eq 0? '': 'Miejscowość'}" label="#{status.index eq 0? 'Miejscowość docelowa': ''}"
											value="#{delegacjaKRBean.wniosek.deltCeleDelegacjis.get(status.index).cdelMiejscowosc}"/>
								</div>	
							
								<div class="ui-g-3 ui-g-nopad">
									<c:cInputTextMDesign 
											rendered="#{status.first}"
											id="mscwscZakonczenia" 
											requiredJ="true" placeholder="#{status.index eq 0? '': 'Miejscowość'}" 
											label="Miejscowość zakończenia delegacji"
											value="#{delegacjaKRBean.wniosek.deltCeleDelegacjis.get(status.index).cdelMiejscowoscZakonczenia}"/>
								</div>	
								
								<div class="ui-g-3 ui-g-nopad" style="padding-top:#{status.index eq 0 ? '20px;' : '8px'};">
									<p:commandButton icon="delete"
										partialSubmit="true" 
										process="tabViewId:frmT1:accPnl:panelMiejscowosci @this"
										update="tabViewId:frmT1:accPnl:panelMiejscowosci"
										action="#{delegacjaKRBean.deleteCity(status.index)}" />
								</div>
							</div>
							
						</ui:repeat>
						
					</div>
					
					
					<c:cSelectBooleanCheckboxTN styleClass="mt30" id="pobytChckbx"
						label="Pobyt stały lub czasowy delegowanego miejscowością delegowania"
						value="#{delegacjaKRBean.wniosek.wndFMiejscowoscPobyt}">
					<p:tooltip for="pobytChckbx">
						W przypadku zaznaczenia tego pola oświadczasz, że twoje miejsce zamieszkania (pobyt stały lub czasowy),<br /> 
						jest miejscowością gdzie deleguje Cię Pracodawca. 
						<b>Uwaga – wówczas nie należy Ci się dieta.</b>
					</p:tooltip>
						
					</c:cSelectBooleanCheckboxTN>
					
				</div>
			</h:panelGroup>
		
		
			<br />
			<br />		


			<h:panelGroup id="datyPodrozyGrid">
			
				<div class="ui-g ui-g-nopad">
					<div class="ui-g-12 ui-g-nopad">
					
						<div class="ui-g-5 ui-g-nopad">
							<p:outputLabel value="Termin delegacji"/>
						</div>
						
					
		
						<div class="ui-g-12 ui-g-nopad">
						
							<div class="ui-g-2 ui-g-nopad">
								<c:cCalendarMDesign 
									value="#{delegacjaKRBean.wniosek.wndDataWyjazdu}" 
									styleClass="clndr-ie"
									label="data od" 
									requiredJ="true"
										
								/>
							</div>
<!-- 							minDate="#{delegacjaKRBean.today()}" -->
							<div class="ui-g-2 ui-g-nopad">
								<c:cCalendarMDesign 
									value="#{delegacjaKRBean.wniosek.wndDataPowrotu}" 
									styleClass="clndr-ie dataDo"
									label="data do" 
									requiredJ="true" 
									
								/>
							</div>
<!-- 							minDate="#{delegacjaKRBean.today()}" -->
							<div class="ui-g-1"> </div>
							
							<h:panelGroup layout="block" styleClass="ui-g-2 ui-g-nopad wndFPryw"
								rendered="#{'T' eq delegacjaKRBean.wniosek.wndFPryw}"> 
<!-- 											style="display:#{'T' eq delegacjaKRBean.wniosek.wndFPryw ? 'block':'none'}" > -->
								<c:cCalendarMDesign value="#{delegacjaKRBean.wniosek.wndPrywDataWyjazdu}" styleClass="clndr-ie"
									label="data od"/>
							</h:panelGroup>
							
							<h:panelGroup layout="block" styleClass="ui-g-2 ui-g-nopad wndFPryw"
								rendered="#{'T' eq delegacjaKRBean.wniosek.wndFPryw}">  
<!-- 											style="display:#{'T' eq delegacjaKRBean.wniosek.wndFPryw ? 'block':'none'}" > -->
								<c:cCalendarMDesign value="#{delegacjaKRBean.wniosek.wndPrywDataPowrotu}" styleClass="clndr-ie"
									label="data do"/>
							</h:panelGroup>
							
							<div class="ui-g-3 ui-g-nopad">
								<c:cSelectBooleanCheckboxTN styleClass="mt20 ml20"
									label="Powiązana podróż prywatna"
									value="#{delegacjaKRBean.wniosek.wndFPryw}"
									update="tabViewId:frmT2 tabViewId:frmT3"
									onstart="toggleShowHide('.wndFPryw')" />
							</div>	
								
						</div>
						
					</div>
				</div>
			</h:panelGroup>

			<br />
			<br />
		
			<h:panelGroup id="panel4" styleClass="slok">
			
				<div class="ui-g ui-g-nopad">
					<div class="ui-g-12 ui-g-nopad">
					
						<div class="ui-g-6 ui-g-nopad">
							<p:outputLabel value="Środki lokomocji"/>
						</div>
						
						<div class="ui-g-6 ui-g-nopad">
							<p:commandButton icon="add" partialSubmit="true"
								process="tabViewId:frmT1:accPnl:panel4 @this"
								update="tabViewId:frmT1:accPnl:panel4"
								action="#{delegacjaKRBean.addNewSLOK()}" />
						</div>
		
						<ui:repeat value='#{delegacjaKRBean.wniosek.deltSrodkiLokomocjis}'
									var="o" varStatus="status">
							
							<div class="ui-g-12 ui-g-nopad">
								<div class="ui-g-3 ui-g-nopad">
									<c:cSOMMDesign emptyLabel="Wybierz typ transportu"
										requiredJ="true" process="@this"
										update="@(.slok)"
										datasource="#{delegacjaKRBean.getSql('DEL_SRODEK_LOKOMOCJI')}"
										value="#{delegacjaKRBean.wniosek.deltSrodkiLokomocjis.get(status.index).slokSrodekLokomocji}"
										label="#{status.index eq 0? 'Typ transportu': ''}"/>
								</div>
								
								<div class="ui-g-3 ui-g-nopad">
									<c:cInputTextMDesign id="opisSl" 
										placeholder="Opis"
										value="#{delegacjaKRBean.wniosek.deltSrodkiLokomocjis[status.index].slokOpisSrodkaLokomocji}"
										label="#{status.index eq 0? 'Opis': ''}"/>
								</div>	
									
								<div class="ui-g-1 ui-g-nopad" style="padding-top:#{status.index eq 0 ? '20px' : '8px'};">
									<p:commandButton icon="delete"
										partialSubmit="true" 
										process="tabViewId:frmT1:accPnl:panel4 @this"
										update="tabViewId:frmT1:accPnl:panel4"
										action="#{delegacjaKRBean.deleteSrodekLokomocji(status.index)}" />
								</div>
								
								<div class="ui-g-5 ui-g-nopad">
								
<!-- 									<c:cSelectBooleanCheckboxTN value="#{o.slokFCzyUmowaZWyk}"  -->
<!-- 										styleClass="mt20 ml20" -->
<!-- 										label="Czy w ramach umowy z wykonawcą?" -->
<!-- 										rendered="#{o.slokSrodekLokomocji eq 01  -->
<!-- 													or o.slokSrodekLokomocji eq 04 -->
<!-- 													or o.slokSrodekLokomocji eq 06}"/> -->
													
									<c:cSelectBooleanCheckboxTN value="#{o.slokFCzyZgodaPojazdPryw}" 
										styleClass="mt20 ml20"
										label="Czy dołączono wniosek o wyrażenie zgody na przejazd służbowy pojazdem prywatnym?"
										rendered="#{o.slokSrodekLokomocji eq 03 
													or o.slokSrodekLokomocji eq 07}"/>
													
									<!-- <p:commandButton id="btnPobierz" 
											ajax="false" onclick="form.target = '_blank'"
												 
											rendered="#{o.slokSrodekLokomocji eq 03 
											or o.slokSrodekLokomocji eq 07}"
											
											actionListener="#{delegacjaKRBean.pobierzDokMF('wniosek o wyrażenie zgody na przejazd służbowy pojazdem prywatnym.docx')}"	 
											partialSubmit="true" process="@this"
										 	value="POBIERZ WNIOSEK">
										
									</p:commandButton> -->
									
									<p:commandButton
											id="btnPobierzWSP"
											value="POBIERZ WNIOSEK"
											partialSubmit="true" process="@this"
											style="min-width:80px"
											styleClass="ctl-home-link-menu"
											rendered="#{(o.slokSrodekLokomocji eq 03 or o.slokSrodekLokomocji eq 07)  and  delegacjaKRBean.wniosek.wndId gt 0}"
											actionListener="#{delegacjaKRBean.raportyDodatkowe('pojazd_prywatny_wniosek')}"
											onclick="form.target = '_blank'" ajax="false" />
													
									<c:cSelectBooleanCheckboxTN value="#{o.slokFCzyZgodaPojazdSlu}" 
										styleClass="mt20 ml20"
										label="Potwierdzam uzyskanie akceptacji zapotrzebowania na samochód służbowy"
										rendered="#{o.slokSrodekLokomocji eq 02}"/>
													
								</div>
								
							</div>
							
						</ui:repeat>
						
					</div>
				</div>
				
			</h:panelGroup>




			<div class="d-flex flex-wrap mt40 mb40">

				<c:cInputTextArea
						styleClass="mr30 flex-400"
						id="trasawyjazdu"
						label="Opis trasy wyjazdu:"
						value="#{wnd.wndTrasaWyjazdu}"
						placeholder="... trasa wyjazdu ..."
						rows="3" maxlength="2000"
				/>
				<c:cInputTextArea
						styleClass="mr30 flex-400"
						id="trasapowrotu"
						label="Opis trasy powrotu: "
						value="#{wnd.wndTrasaPowrotu}"
						placeholder="... trasa powrotu ..."
						rows="3" maxlength="2000"
				/>

			</div>

		
<!--			<p:panelGrid>-->
<!--				<p:row>-->
<!--					<p:column>-->
<!--						<c:cInputTextAreaMDesign id="trasawyjazdu"-->
<!--							label="Opis trasy wyjazdu:"-->
<!--							value="#{delegacjaKRBean.wniosek.wndTrasaWyjazdu}"-->
<!--							placeholder="... trasa wyjazdu ..." styleClass="lekka-ramka"-->
<!--							cols="97" rows="3" maxlength="2000" />-->
<!--					</p:column>-->
<!--		-->
<!--					<p:column>-->
<!--						<c:cInputTextAreaMDesign id="trasapowrotu"-->
<!--							label="Opis trasy powrotu: "-->
<!--							value="#{delegacjaKRBean.wniosek.wndTrasaPowrotu}"-->
<!--							placeholder="... trasa powrotu ..." styleClass="lekka-ramka"-->
<!--							cols="97" rows="3" maxlength="2000" />-->
<!--					</p:column>-->
<!--		-->
<!--				</p:row>-->
<!--			</p:panelGrid>-->
<!--		-->
<!--			<br />-->
<!--			<br />		-->
		
		</p:tab>

<!-- 	 ========================================================================================================================= -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ==========================================         RODZAJE KOSZTÓW  		============================================== -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ========================================================================================================================= -->	

		<p:tab title="RODZAJE KOSZTÓW">
		
<!--		<h:panelGroup styleClass="rdKsztZF" id="filtrowanieZF">-->
<!--			#{delegacjaKRBean.przeliczFiltryDomyslnegoZF()}-->
<!--		</h:panelGroup>-->

<!--		<h:panelGroup styleClass="rdKsztAngaz" id="filtrowanieAngaz">-->
<!--			#{delegacjaKRBean.ustawDomyslneZaangazowanieSrodkow(delegacjaKRBean.getLW("PPL_DEL_ZRODLA_FIN"))}-->
<!--		</h:panelGroup>-->
		
		<h:panelGroup id="rdKszt" styleClass="rdKszt d-block">
		

			<c:cSelectBooleanCheckboxTN
					label="Czy dołączono wniosek o świadczenie niestandardowe"
					value="#{delegacjaKRBean.wniosek.wndFCzySwiadczNiestd}" 
					process="@this" partialSubmit="true"
					onstart="hgon();" oncomplete="hgoff();"
			/>

			<div>
			<p:commandButton
					id="btnPobierzWSN"
					value="POBIERZ WNIOSEK"
					styleClass="mt10 mb20 granatowy"
					rendered="#{'T' eq delegacjaKRBean.wniosek.wndFCzySwiadczNiestd}"
					ajax="false"
					actionListener="#{delegacjaKRBean.pobierzDokMF('wniosek_o_swiadczenie_niestandardowe.docx')}"
					partialSubmit="true" process="@this"
					onclick="form.target = '_blank'"
			/>
			</div>



			<c:cDelWndDomyslneZF wnd="#{wnd}" styleClass="mt10"/>


			<c:cDelKalWniosekRodzajeKosztow wnd="#{wnd}" tableStyleClass="h300">
				<egr:col label="ZF" styleClass="mr0">
					<p:commandButton
							icon="search"
							styleClass="granatowy mmw35"
							title="źródła finansowania i angaże"
							partialSubmit="true" process="@this"
							action="#{delegacjaKRBean.showDlgZF4CurrentPklDlg(pkl)}"
							style="#{empty pkl.deltZrodlaFinansowanias ? '' :  'background: rgba(200, 255, 255, 0.9)!important; '}"
					/>
				</egr:col>
			</c:cDelKalWniosekRodzajeKosztow>



		</h:panelGroup>

		</p:tab>

<!-- 	 ========================================================================================================================= -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ==========================================         ZALICZKI          		============================================== -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ========================================================================================================================= -->

		<p:tab title="ZALICZKI">
		
			<h:panelGroup id="zaliczkiId" styleClass="zaliczki">
			
				#{delegacjaKRBean.sprawdzStanObiegu()}


					<div class="d-flex-column mt20 mb20">

						<c:cSelectBooleanCheckboxTN
								label="Czy zaliczka"
								styleClass="mb10"
								value="#{delegacjaKRBean.wniosek.wndFZaliczka}"
								disabled="#{'T' eq wnd.wndFBezkosztowa or wnd.wndDataWyjazdu.before(v.today())}"
						/>


						<h:outputText  value="Masz nierozliczoną delegację. "
									   rendered="#{delegacjaKRBean.czyMogeZaliczke eq false}"
									   styleClass="mr20"
						/>

						<h:outputText  value="Brak możliwości wybrania zaliczki w bezkosztowej delegacji. "
									   rendered="#{'T' eq wnd.wndFBezkosztowa and delegacjaKRBean.czyMogeZaliczke eq true }"
									   styleClass="mr20"
						/>

						<h:outputText  value="Nie można wnioskować o zaliczkę dla rozpoczętej/zakończonej delegacji. "
									   rendered="#{wnd.wndDataWyjazdu.before(v.today())}"
									   styleClass="mr20"
						/>

					</div>




					<h:panelGroup
							id="pnlZal"
							styleClass="pb10 mt10 mb20 d-flex-column"
							rendered="#{'T' eq delegacjaKRBean.wniosek.wndFZaliczka}"
					>
<!--						<p:commandButton-->
<!--									icon="add"-->
<!--									partialSubmit="true" process="@(.zaliczki) @this"-->
<!--									action="#{wnd.kalkulacjaWniosek.addNewDeltZaliczki}"-->
<!--									rendered="#{not (wnd.kalkulacjaWniosek.delZaliczki.size() > 0)}"-->
<!--						/>-->

						<ui:repeat var="zzal"
								   varStatus="status"
								   value="#{wnd.kalkulacjaWniosek.delZaliczki}">

							<div class="d-flex a-i-center mt10 ml5">

								<c:cSOM label="Froma wypłaty"
										styleClass="mmw100 mr20"
										datasource="#{v.getSql('DEL_FORMY_WYPLATY')}"
										value="#{zzal.dkzFormaWyplaty}"
										onstart="hgon();" oncomplete="hgoff();"
								/>

								<c:cLovJS
										label="Nr konta"
										lovDlgTitle="Lista kont"
										styleClass="mmw350 mr20"
										value="#{zzal.dkzNrKonta}"
										lovTextFormat="%2$s"
										datasource="#{v.getLW('PPL_DEL_KONTA_PRC_PLN', delegacjaKRBean.wniosek.wndPrcId)}"
										rendered="#{'B' eq zzal.dkzFormaWyplaty}"
								/>

								<c:cInputText
										label="Uzasadnienie wypłaty zaliczki w kasie"
										styleClass="flex-1 mr20"
										value="#{zzal.dkzOpis}"
										rendered="#{'K' eq zzal.dkzFormaWyplaty}"
								/>

							</div>

						</ui:repeat>



						<p:outputLabel
								for="@parent"
								styleClass="ui-g-12 bsh1 mt40 mb20"
								value="Rozliczenia zaliczki należy dokonać w terminie 14 dni od dnia zakończenia podróży, pod rygorem potrącenia z wynagrodzenia albo uposażenia równowartości pobranej zaliczki na podstawie art. 87 § 1 pkt 3 ustawy z dnia 26 czerwca 1974 r. – Kodeks pracy (Dz. U. z 2018 r. poz. 917, 1000, 1076, 1608 i 1629)."/>

					</h:panelGroup>


			</h:panelGroup>
			
		</p:tab>


<!-- 	 ============================================================================================================== -->
<!-- 	 ==========================================                      ============================================== -->
<!-- 	 ==========================================         UWAGI		 ============================================== -->
<!-- 	 ==========================================                      ============================================== -->
<!-- 	 ============================================================================================================== -->		
	
		<p:tab title="UWAGI">
<!-- 			<egr:ku kuid="cz1-5"> -->
			<p:panelGrid>
				<p:row>
					<p:column>
						<c:cInputTextAreaMDesign id="uwagi"
							label="Uwagi: "
							value="#{delegacjaKRBean.wniosek.wndUwagi}"
							placeholder="... uwagi ..." styleClass="lekka-ramka" rows="5"
							cols="150" maxlength="4000" />
					</p:column>
				</p:row>
			</p:panelGrid>
			
			<br/><br/><br/>
			
<!-- 			</egr:ku>				 -->
		</p:tab>
		
	</p:accordionPanel>

	<p:tabView />

</h:body>
</html>