<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">



	<p:dialog
		rendered="#{sessionBean.currentViewRootId().endsWith('SzczegolySlownika.xhtml')}"
		widgetVar="edycjaNazwySlownika" id="edycjaNazwySlownika"
		header="Edycja wartości słownikowej" appendTo="@(body)" height="250"
		modal="true" closeOnEscape="true" draggable="true" resizable="false"
		classStyle="ctl-dialog">


		<f:facet name="header">
			<h:form id="dlgFormEdycjaNazwySlHeader">
				<p:panelGrid style="width:100%">
					<p:column>
						<h:outputText value="Nazwa słownika" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							onclick="PF('edycjaNazwySlownika').hide();" icon="clear">
						</p:commandButton>
					</p:column>

				</p:panelGrid>
			</h:form>
		</f:facet>


		<h:form id="dlgFormEdycjaNazwySl" style="width:400px; height:200px;">
			<div class="ui-g">

				<div class="ui-g-12">
					<cc:cInputTextMDesign id="wartoscId" label="Nazwa słownika:"
						value="#{szczegolySlownikaBean.nazwaSlownikaEdit}">
						<p:ajax event="change" />
					</cc:cInputTextMDesign>

				</div>
			</div>

		</h:form>


		<f:facet name="footer">
			<h:form id="dlgFormEdycjaNazwySlFooter">
				<div class="dlgBottomBtnsBar">
					<h:panelGroup>
						<p:row>


							<p:column>
								<p:commandButton value="ZAPISZ"
									actionListener="#{szczegolySlownikaBean.zmienNazwe()}"
									partialSubmit="true" process="@form"
									update="template_growl @(.infPodstawowePg)"
									oncomplete="PF('edycjaNazwySlownika').hide();" />
							</p:column>
						</p:row>
					</h:panelGroup>
				</div>
			</h:form>
		</f:facet>

	</p:dialog>



</ui:composition>