<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">



	<p:dialog
		widgetVar="wynikiTestuZapytania" id="wynikiTestuZapytania"
		header="Wynik testowanego zapytania" appendTo="@(body)" height="600"
		modal="true" closeOnEscape="true" draggable="true" resizable="false"
		classStyle="ctl-dialog">


		<f:facet name="header">
			<h:form id="dlgFormTestZapytanieHeader">
				<p:panelGrid style="width:100%">
					<p:column>
						<h:outputText value="Wynik testowanego zapytania" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							onclick="PF('wynikiTestuZapytania').hide();" icon="clear">
						</p:commandButton>
					</p:column>

				</p:panelGrid>
			</h:form>
		</f:facet>


		<h:form id="dlgFormTestZapytanie" style="width:1200px; height:550px;">
			<h:panelGroup id="pgZapytanie" styleClass="pgZapytanie">

				<div class="ui-g">

					<ui:repeat var="key"
						value="#{szczegolyListyWartosciBean.mapaArgumentow.keySet().toArray() }">

						<ui:param name="ph"
							value="#{szczegolyListyWartosciBean.mapaArgumentow.get(key)}" />

						<cc:cInputTextMDesign label="#{key}" value="#{ph.value}" />

						<br />

					</ui:repeat>

					<p:spacer />

					<br />

					<br />
					<p:commandButton value="Zastosuj argumenty" partialSubmit="true"
						process="@form"
						rendered="#{not empty szczegolyListyWartosciBean.mapaArgumentow}"
						action="#{szczegolyListyWartosciBean.wykonajZapytanieZParametrami()}"
						oncomplete="onClearFilterActionDlg()"
						update="@(.pgZapytanie)"/>
						
						<p:remoteCommand name="onClearFilterActionDlg"
							update="tblWynikiZapytaniaId:dane" />

					<br />


					<c:cLookupTable id="tblWynikiZapytaniaId"
						datasource="#{szczegolyListyWartosciBean.getSql('sqlTest')}"
						height="530px"
						exportXls="true" exportCsv="true" exportXml="true"
					/>

				</div>
			</h:panelGroup>
		</h:form>


	</p:dialog>



</ui:composition>