<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="ZFŚS / Lista oświadczeń" />
		<ui:define name="egr_content">

			<h:form id="frmNorth" styleClass="p5 pl20 pr20 d-flex bg-vlgrey bsh1black">

				<p:commandButton icon="add" value="Dodaj oświadczenie..."
								 action="#{listaOswiadczenZFSSBean.dodajOswiadczenie}"
								 onstart="hgon();" styleClass="granatowy bsh1gray" />
<!--					<p:commandButton value="test" icon="save" action="#{testBean.testAction()}" actionListener="#{testBean.testActionListener}" />-->
<!--					<p:commandButton value="test" icon="delete" action="#{testBean.testAction()}" actionListener="#{testBean.testActionListener}" />-->

			</h:form>

			<h:form id="frmListaOswiadczenZFSS" styleClass="bg-fff m20i p20 bsh2black flex-1">

				<cc:cLookupTable
						datasource="#{listaOswiadczenZFSSBean.getLW('PPL_ZFSS_LISTA_OSWIADCZEN')}"
						editRowPage="OswiadczenieZFSS"
				/>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
