<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista wniosków ZFŚS" />
		<ui:define name="egr_content">

			<h:form id="frmNorth" styleClass="p5 pl20 pr20 d-flex bg-vlgrey bsh1black">

<!--				datasource="#{listaWnioskowZFSSBean.getLW('PPL_SLOWNIK','ZFSS_WNIOSKI')}"-->
				<cc:cLovButtonJS
						styleClass="granatowy"
						lovDlgTitle="Rodzaj wniosku:"
						datasource="#{listaWnioskowZFSSBean.getSL('ZFSS_WNIOSKI')}"
						icon="add"
						value="Dodaj wniosek ..."
						rowSelectedAction="#{listaWnioskowZFSSBean.nowyWniosek}"
				/>

			</h:form>


			<h:form id="frmListaWnioskowZFSS" styleClass="bg-fff m20i p20 bsh2black flex-1">

				<cc:cLookupTable
						datasource="#{listaWnioskowZFSSBean.getLW('PPL_ZFSS_LISTA_WNIOSKOW')}"
						rowSelectedAction="#{listaWnioskowZFSSBean.edytujWniosek}"
				/>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
