<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
			template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="ZFŚS / Oświadczenie o dochodach" />
		<ui:param name="ccMDesignAjaxDefault" value="true" />

		<ui:define name="egr_content">

				<h:form id="frmNorth" styleClass="p5 pl20 pr20 bg-vlgrey bb1 d-flex">

					<p:commandButton 
						value="Zapisz" 
						icon="save" 
						action="#{oswiadczenieZFSSBean.oswiadczenie.zapisz()}" 
						partialSubmit="true" process="frmOswiadczenie @this" update="@form"/>
					
					<p:commandButton value="usuń" id="usunId" icon="delete"
									style="min-width:80px" styleClass="ctl-home-link-menu"
									actionListener="#{oswiadczenieZFSSBean.oswiadczenie.usun()}" 
									process="@form"
									update="template_growl"
									partialSubmit="true"
									disabled="#{oswiadczenieZFSSBean.oswiadczenie.zfsId == null or oswiadczenieZFSSBean.oswiadczenie.zfsId == 0}" 
									/>
									
					<!--					<p:commandButton value="Usuń" icon="delete" action="#{...}" />-->

					<!--Obieg do oświadczeń do zrobienia -->
					<cc:cObiegCzynnosci id="obiegWnk"
										idEncji="#{oswiadczenieZFSSBean.oswiadczenie.zfsId}"
										kategoriaObiegu="WN_ZFSS_OSWIADCZENIE"
										hibernateRefreshPoWykonaniuCzynnosc="#{oswiadczenieZFSSBean.oswiadczenie}"
					/>
					
					
					<p:commandButton value="Raport" id="raportId"
						icon="content_paste"
						disabled="#{oswiadczenieZFSSBean.oswiadczenie.zfsId == null or oswiadczenieZFSSBean.oswiadczenie.zfsId == 0}" 
						style="min-width:80px"
						actionListener="#{oswiadczenieZFSSBean.raport()}"
						styleClass="ctl-home-link-menu"
						onclick="form.target = '_blank'" ajax="false">
					</p:commandButton>
					
				</h:form>



				<h:form id="frmOswiadczenie" styleClass="d-flex-1-column ov-y-auto pb20">

					<cc:cZFSSWniosekDaneWnioskodawcy wniosek="#{oswiadczenieZFSSBean.oswiadczenie}" styleClass="bg-white w800 bsh1black p20 mauto mt20" />

					<cc:cZFSSWniosekRodzina wniosek="#{oswiadczenieZFSSBean.oswiadczenie}" styleClass="bg-white w800 bsh1black p20 mauto mt20"  />

					<h:panelGroup id="pnlPrzecietnyDochod" styleClass="bg-white w800 bsh1black p20 mauto mt20" >
						<p:outputLabel value="Przeciętny miesięczny dochód netto" styleClass="fs20" for="@parent" />
						<p:separator styleClass="ui-g-12 p0"/>

						<div class="ui-g-12 p0 pr20 mt10 mb10">
							<p:outputLabel id="txtoswiadczenie" value="Oświadczam, że przeciętny  miesięczny dochód netto w oparciu o wszystkie
                                 dochody członków rodziny w przeliczeniu na jedną osobę:"  />
							<p:tooltip for="txtoswiadczenie" value="Przeciętny  miesięczny dochód netto = ((Przychód - Zaliczka pobrana przez płatnika
                                 	- Składki na ubezpieczenie społeczne - Składki na ubezpieczenie zdrowotne) + (inne wpływy finansowe))
                                 	: liczba uprawnionych członków rodziny : 12 miesięcy." position="top"  style="max-width:900px"/>
						</div>


						<div class="ui-g-5 p20">
							<cc:cSelectBooleanCheckboxTN
									label="przekroczył 6000,00 PLN"
									value="#{oswiadczenieZFSSBean.oswiadczenie.zfsCzyPrzekroczono6k}"
							/>
						</div>

						<div class="ui-g-5 p0">
							<cc:cInputNumberMDesign 
									label="Nie przekroczył 6000,00 PLN i wynosi:"
									value="#{oswiadczenieZFSSBean.oswiadczenie.zfsKwotaPonizej6k}"
									decimalPlaces="2" symbol=" PLN"
									rendered="#{not ('T' eq oswiadczenieZFSSBean.oswiadczenie.zfsCzyPrzekroczono6k)}" /> 
						</div>

						<div class="ui-g-12 p0">
							<p:outputLabel id="txtinnewplywy" styleClass="fs14 ui-g-8 p0" value="Oświadczam, że w wyliczonym dochodzie netto inne wpływy finansowe wyniosły:"  />
							<p:tooltip for="txtinnewplywy" value="Inne wpływy finansowe - to wszystkie inne uzyskiwane świadczenia pieniężne,
                                 	        mające wpływy na sytuację materialną rodziny" position="top"/>
                            <p:inputNumber id="txtinnewplywykwota" styleClass="fs14 ui-g-2 p0 right" value="#{oswiadczenieZFSSBean.oswiadczenie.zfsKwotaInneWplywy}" symbol=" PLN" symbolPosition="s"/>
                                 	
						</div>

						<p:separator styleClass="ui-g-12 p0 mb20"/>

					</h:panelGroup>

				</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
