<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="ZFŚS / Wniosek o zgłoszenie do program MultiSport" />
		<ui:param name="ccMDesignAjaxDefault" value="true" />

		<ui:define name="egr_content">


				<h:form id="frmNorth" styleClass="p5 pl20 pr20 bg-vlgrey bb1 d-flex">

					<p:commandButton
						value="Zapisz"
						icon="save"
						action="#{multiSportZFSSBean.wniosek.zapisz()}"
						partialSubmit="true" process="frmWniosekZFSS @this"
						update="@form"
					/>

					<p:commandButton value="usuń" id="usunId" icon="delete"
						style="min-width:80px" styleClass="ctl-home-link-menu"
						actionListener="#{multiSportZFSSBean.wniosek.usun()}"
						process="@form"
						update="template_growl"
						partialSubmit="true"
						disabled="#{multiSportZFSSBean.wniosek.zfsId == null or multiSportZFSSBean.wniosek.zfsId == 0}"
					/>

					<cc:cObiegCzynnosci id="obiegWnk"
						idEncji="#{multiSportZFSSBean.wniosek.zfsId}"
						kategoriaObiegu="WN_ZFSS_DOFINANSOWANIE"
						hibernateRefreshPoWykonaniuCzynnosc="#{multiSportZFSSBean.wniosek}"
					/>

					<cc:cZalacznikiButton
						dlgTitle="Załączniki wniosek o dofinansowanie do wypoczynku zimowego/wiosennego organizowanego we własnym zakresie:"
						zalFkId="#{multiSportZFSSBean.wniosek.zfsId}"
						zalFkFieldName="ZAL_ZFS_ID"
					/>

					<p:commandButton value="Raport" id="raportId"
						icon="content_paste"
						disabled="#{multiSportZFSSBean.wniosek.zfsId == null or multiSportZFSSBean.wniosek.zfsId == 0}"
						style="min-width:80px"
						actionListener="#{multiSportZFSSBean.raport()}"
						styleClass="ctl-home-link-menu"
						onclick="form.target = '_blank'" ajax="false"
					/>

				</h:form>





                <h:form id="frmWniosekZFSS" styleClass="d-flex-1-column ov-y-auto pb20">

					<cc:cZFSSWniosekDaneWnioskodawcy  wniosek="#{multiSportZFSSBean.wniosek}" styleClass="bg-white w800 bsh1black p20 mauto mt20" />

					<h:panelGroup id="pnlDaneMultiSport" styleClass="bg-white w800 bsh1black p20 mauto mt20" >
                        <p:separator styleClass="ui-g-12 p0 mt20"/>
                        <p:outputLabel value="Dane wymagane do wniosku o dołączenie do programu MultiSport" styleClass="fs20" for="@parent" />
                        <p:separator styleClass="ui-g-12 p0"/>

                        <div class="ui-g-12">


							<cc:cLOVMDesign id="lvProgramMultiSport" styleClass="ui-g-12"
									label="Zwracam się z prośbą o zgłoszenie mojej osoby do programu Multisport:"
									datasource="#{v.getSL('ZFSS_PROGRAMY_MULTISPORT').hideRowsByColumnValue('wsl_status', 'A') }"
									placeholder="wybierz nazwę programu MultiSport"
									lovTextFormat="%wsl_opis$s (%wsl_wartosc$s)"
									value="#{multiSportZFSSBean.wniosek.zfsMultisport}"/>


							<cc:cInputNumberMDesign id="txtWysokoscPotracenia" styleClass="ui-g-12"
													label="Jednocześnie wyrażam zgodę na potrącenie z mojego comiesięcznego wynagrodzenia kwoty:"
													placeholder="podaj kwotę w PLN"
													value="#{multiSportZFSSBean.wniosek.zfsMultisWartMiesie}"
                            						symbol=" PLN"/>
                            						
                            						
                            <cc:cLOVMDesign id="lvMiesiaceMultiSport" styleClass="ui-g-6"
									label="Począwszy od miesiąca:"
									datasource="#{v.getLW('PPL_MIESIACE')}"
									placeholder="Wybierz miesiąc:"
									value="#{multiSportZFSSBean.wniosek.zfsMultisPotracenieOdMies}"
									lovTextFormat="%wsl_opis$s"
							/>						



							<cc:cInputNumberMDesign id="txtProgramRok" styleClass="ui-g-6"
													label="roku:"
													placeholder="wpisz rok"
													value="#{multiSportZFSSBean.wniosek.zfsMultisPotracenieOdRok}" decimalPlaces="0"/>


						    <p:separator styleClass="ui-g-12 p0 mt20 mb70"/>







                            <p:separator styleClass="ui-g-12 p0 mb20"/>
							<cc:cSelectBooleanCheckboxTN
									label="Jestem zainteresowany dofinansowaniem do karty MultiSport dla osoby towarzyszącej (pow. 15 lat)."
									value="#{multiSportZFSSBean.wniosek.zfsMultisCzyTowarzyszaca}"
									styleClass="ui-g-12"/>

                            <h:panelGroup rendered="#{'T' eq multiSportZFSSBean.wniosek.zfsMultisCzyTowarzyszaca}"
                                styleClass="ui-g-12">

                                <cc:cLOVMDesign id="lvProgramMultiSportOsTow" styleClass="ui-g-12"
                                                label="Zwracam się z prośbą o zgłoszenie osoby towarzyszącej do programu Multisport:"
                                                datasource="#{v.getSL('ZFSS_PROGRAMY_MULTISPORT').hideRowsByColumnValue('wsl_status', 'A') }"
                                                placeholder="wybierz nazwę programu MultiSport"
                                                lovTextFormat="%wsl_opis$s (%wsl_wartosc$s)"
                                                value="#{multiSportZFSSBean.wniosek.zfsMultisOsbTowProgram}"/>


							  	<cc:cInputTextMDesign id="txtProgramMultiSportOsobaTowaImieNazw" styleClass="ui-g-12"
													label="Imię i nazwisko osoby towarzyszącej:"
													placeholder="wpisz imię i nazwisko osoby towarzyszącej"
													value="#{multiSportZFSSBean.wniosek.zfsMultisOsbTowImieNaz}"/>

                                <cc:cInputNumberMDesign id="txtProgramMultiSportOsobaTowaKwota" styleClass="ui-g-12"
                                                        label="Wyrażam zgodę na potrącenie z mojego comiesięcznego wynagrodzenia kwoty:"
                                                        placeholder="podaj kwotę w PLN"
                                                        value="#{multiSportZFSSBean.wniosek.zfsMultisFinansDodatkKarty}"
                                                        symbol=" PLN"/>
                            </h:panelGroup>

                            <p:separator styleClass="ui-g-12 p0 mt20 mb70"/>





                            <p:separator styleClass="ui-g-12 p0"/>
                             <cc:cZFSSWniosekRodzina wniosek="#{multiSportZFSSBean.wniosek}"
                                    czyPoleNazwaSzkoly="false"
                                    czyBtsWczytajRodzine="false"
                                    czyBtnsWczytajDzieciDo15Lat="true"
                                    label="Członkowie rodziny (dzieci do 15 lat):" />
                                    
                           <cc:cLOVMDesign id="lvProgramMultiSportDziecka" styleClass="ui-g-12"
                                     label="Wybór programu Multisport dla zgłoszonych dzieci:"
                                     datasource="#{v.getSL('ZFSS_PROGRAMY_MULTISPORT').hideRowsByColumnValue('wsl_status', 'A') }"
                                     placeholder="wybierz nazwę programu MultiSport"
                                     lovTextFormat="%wsl_opis$s (%wsl_wartosc$s)"
                                     value="#{multiSportZFSSBean.wniosek.zfsMultisDzieckoProgram}"
                                     rendered="#{multiSportZFSSBean.wniosek.pptZfssRodzinas != null and multiSportZFSSBean.wniosek.pptZfssRodzinas.size() gt 0}"/> 
                                     
                           <p:separator styleClass="ui-g-12 p0"/>                 

                            <p:outputLabel
                                    for="@parent"
                                    styleClass="ui-g-12 center p0"
                                    value="Wyrażam zgodę na potrącanie z comiesięcznego wynagrodzenia kwoty #{v.formatNzNumber( multiSportZFSSBean.wniosek.zfsMultisWartMiesieDziecko )} PLN za każde zgłoszone przeze mnie dziecko."/>

                            <p:outputLabel
                                    for="@parent"
                                    styleClass="fs20 ui-g-12 center"
                                    rendered="#{multiSportZFSSBean.wniosek.sumaPotracenZaDzieci gt 0}"
                                    value="Razem potrącenia za program MultiSport dla zgłoszonych dzieci: #{v.formatNzNumber( multiSportZFSSBean.wniosek.sumaPotracenZaDzieci )} PLN"/>

                            <p:separator styleClass="ui-g-12 p0 mb70"/>

                        </div>
                        
                        <p:separator styleClass="ui-g-12 p0"/>
							<p:outputLabel
                                    for="@parent"
                                    styleClass="ui-g-12 p0 mb15"
                                    value="W przypadku zagubienia Karty zostanie wydany duplikat. Koszt wydania każdego duplikatu Karty wynosi 30 zł (trzydzieści złotych) netto. Do wymienionej kwoty zostanie doliczony podatek VAT zgodnie z obowiązującymi przepisami."/>
                                    

                             <p:outputLabel
                                    for="@parent"
                                    styleClass="ui-g-12 p0"
                                    value="Oświadczam, że zapoznałem/am się z obowiązującym zasadami korzystania z kart MultiSport"/>	   



                        <p:separator styleClass="ui-g-12 p0"/>

                            <p:outputLabel
                                for="@parent"
                                rendered="#{multiSportZFSSBean.wniosek.sumaMiesiecznychPotracen!=null}"
                                styleClass="fs24 ui-g-12 center"
                                value="Łącznie kwota miesięcznych potrąceń: #{v.formatNzNumber( multiSportZFSSBean.wniosek.sumaMiesiecznychPotracen )} PLN"/>

                        <p:separator styleClass="ui-g-12 p0 mb20"/>

                    </h:panelGroup>




                </h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
