<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="ZFŚS / Wniosek o przyznanie dofinansowania do wypoczynku zorganizowanego we własnym zakresie" />
		<ui:param name="ccMDesignAjaxDefault" value="true" />

		<ui:define name="egr_content">

				<h:form id="frmNorth"  styleClass="p5 pl20 pr20 bg-vlgrey bb1 d-flex">

					<p:commandButton
							value="Zapisz"
							icon="save"
							action="#{wypoczynekZFSSBean.wniosek.zapisz()}"
							partialSubmit="true" process="frmWniosekZFSS @this"
							update="@form"
					/>

					<p:commandButton
							value="usuń"
							id="usunId"
							icon="delete"
							style="min-width:80px" styleClass="ctl-home-link-menu"
							actionListener="#{wypoczynekZFSSBean.wniosek.usun()}"
							process="@form"
							update="template_growl"
							partialSubmit="true"
							disabled="#{wypoczynekZFSSBean.wniosek.zfsId == null or wypoczynekZFSSBean.wniosek.zfsId == 0}"
					/>

					<cc:cObiegCzynnosci
							id="obiegWnk"
							idEncji="#{wypoczynekZFSSBean.wniosek.zfsId}"
							kategoriaObiegu="WN_ZFSS_DOFINANSOWANIE"
							hibernateRefreshPoWykonaniuCzynnosc="#{wypoczynekZFSSBean.wniosek}"
					/>

					<cc:cZalacznikiButton
							dlgTitle="Załączniki wniosku o dofinansowanie do wypoczynku zorganizowanego we własnym zakresie:"
							zalFkId="#{wypoczynekZFSSBean.wniosek.zfsId}"
							zalFkFieldName="ZAL_ZFS_ID"/>

					<p:commandButton value="Raport" id="raportId"
									 icon="content_paste"
									 disabled="#{wypoczynekZFSSBean.wniosek.zfsId == null or wypoczynekZFSSBean.wniosek.zfsId == 0}"
									 style="min-width:80px"
									 actionListener="#{wypoczynekZFSSBean.raport()}"
									 styleClass="ctl-home-link-menu"
									 onclick="form.target = '_blank'" ajax="false"
					/>

				</h:form>

                <h:form id="frmWniosekZFSS" styleClass="d-flex-1-column ov-y-auto pb20">

					<cc:cZFSSWniosekDaneWnioskodawcy wniosek="#{wypoczynekZFSSBean.wniosek}"
													 styleClass="bg-white w800 bsh1black p20 mauto mt20"/>

     				<h:panelGroup id="pnlDaneWniosku" styleClass="bg-white w800 bsh1black p20 mauto mt20">
                        <p:outputLabel value="Dane wymagane do wniosku o dofinansowanie wypoczynku"
									   styleClass="fs20" for="@parent" />
                        <p:separator styleClass="ui-g-12 p0"/>

                        <div class="ui-g-12 p20">
	                        <span class="ui-g-12">
								Zwracam się z prośbą o dofinansowanie wypoczynku dla niżej wymienionych osób:
								(uprawnione dzieci pracowników, emerytów i rencistów, do ukończenia nauki nie później jednak niż do ukończenia 26 roku życia - udokumentowane zaświadczeniem)
							</span>

							<div class="ui-g-11">
								<cc:cInputText label="Nazwisko"
											   value="#{v.getLW('prc').findAndFormat(wypoczynekZFSSBean.wniosek.zfsPrcId , '%prc_nazwisko$s')}"
											   styleClass="ui-g-4" readonly="true"/>
								<cc:cInputText label="Imię"
											   value="#{v.getLW('prc').findAndFormat(wypoczynekZFSSBean.wniosek.zfsPrcId , '%prc_imie$s')}"
											   styleClass="ui-g-4" readonly="true" />
<!-- 								<cc:cInputText label="Pokrewieństwo:" value="wnioskodawca" styleClass="ui-g-4" readonly="true" /> -->
							</div>						

							<p:separator styleClass="ui-g-12 p0 mt20"/>

							<cc:cZFSSWniosekRodzina wniosek="#{wypoczynekZFSSBean.wniosek}"
													label=" "
													czyPoleNazwaSzkoly="false" czyBtnsWczytajDzieciDo15Lat="false" czyBtsWczytajRodzine="true"/>

						</div>

						<p:separator styleClass="ui-g-12 p0 mt20"/>

                   </h:panelGroup>

                    <h:panelGroup id="pnlDecyzjeKomisjiZFSS" styleClass="bg-white w800 bsh1black p20 mauto mt20">
                    	<p:outputLabel value="Decyzje komisji ZFŚS" styleClass="fs20" for="@parent" />
                    	<p:separator styleClass="ui-g-12 p0"/>

						<div class="ui-g-5 p0">
							<p:outputLabel id="txtDofinansowanieWypoczynek" 
								value="Przyznano dofinansowanie w wysokości:"  />
						</div>
                         
						<div class="ui-g-2 p0">
	                         <cc:cInputNumber id="DofinansowanieWypoczynekKwota" symbol=" PLN" symbolPosition="s"
	                            value="#{wypoczynekZFSSBean.wniosek.zfsKwotaDofin}"
	                            title="#{wypoczynekZFSSBean.wniosek.opisUstawKwoteDoFin}"/>
						</div>

                        <p:separator styleClass="ui-g-12 p0"/>
                        <div class="ui-g-12 d-flex">
							<cc:cLookupTable  height="200px" hideHeaders="true"
											  showSearchField="false" styleClass="d-flex"
											  datasource="#{ v.getLW('PPL_ZFSS_DECYZJE_KOMISJI', obiegBean.idEncji, obiegBean.kategoriaObiegu )}"/>
						</div>
                        <p:separator styleClass="ui-g-12 p0 mb20"/>
                    </h:panelGroup>

                </h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
