<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">

<f:metadata>
</f:metadata>
<h:body>

<!-- 	uwaga musi byc dostarczony ui:param wniosek -->


      <h:panelGroup id="pnlDaneWnioskodawcy" styleClass="bg-white ui-g-12" >

            <p:outputLabel value="Dane wnioskodawcy" styleClass="fs20 ui-g-10 p0" for="@parent"/>
            
                    <cc:cLovJS id="lvjsprc" styleClass="ui-g-1 p0 mt5"
							   lovDlgTitle="Lista pracowników"
							   showInputText="false" required="true"
							   width="50"
							   process="@this"
							   value="#{wniosek.zfsPrcId}"
							   datasource="#{v.getLW('prc')}"
					/>
            
            <p:separator styleClass="ui-g-12 p0 mb20"/>

            <div class="ui-g-12 p0 pl20 pr20">

                <cc:cPracownikBasicInfo
                        prcId="#{wniosek.zfsPrcId}"
                        showPesel="true"
                />

                <p:separator styleClass="mt20"/>

                <cc:cInputTextMDesign readonly="true"
                        label="Adres zameldowania:"
                        value="#{bezzwrotnaPomocZFSSBean
                                     .getLW('PPL_ADRESY_PRC', wniosek.zfsPrcId, 'zameldowania') 
                                    .firstRowFormat('%adres$s')}" 
                />

                <p:separator/>
                
                
     		<p:outputLabel for="@parent" value="BRAK OŚWIADCZENIA NA TEN ROK" styleClass="fs20" style="color:#AA0000" rendered="#{wniosek.oswiadczenie == null}" />
			<p:outputLabel for="@parent" value="#{wniosek.oswiadczenie}" rendered="#{not wniosek.oswiadczenie == null}" />


         </div>

         <p:separator styleClass="ui-g-12 p0 mt20"/>

     </h:panelGroup> 

</h:body>
</html>