<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="ZFŚS / Uniwersalny wniosek dot. pozostałych niewymienionych celów" />
        <ui:param name="ccMDesignAjaxDefault" value="true" />

		<ui:define name="egr_content">


				<h:form id="frmNorth" styleClass="p5 pl20 pr20 bg-vlgrey bb1 d-flex">

					<p:commandButton
							value="Zapisz" icon="save"
							action="#{uniwersalnyWniosekZFSSBean.wniosek.zapisz()}"
							update="@form"
					/>

					<p:commandButton
							value="usuń"
							id="usunId"
							icon="delete"
							style="min-width:80px" styleClass="ctl-home-link-menu"
							actionListener="#{uniwersalnyWniosekZFSSBean.wniosek.usun()}"
							process="@form"
							update="template_growl"
							partialSubmit="true"
							disabled="#{uniwersalnyWniosekZFSSBean.wniosek.zfsId == null or uniwersalnyWniosekZFSSBean.wniosek.zfsId == 0}"
					/>

					<cc:cObiegCzynnosci
							id="obiegWnk"
							idEncji="#{uniwersalnyWniosekZFSSBean.wniosek.zfsId}"
							kategoriaObiegu="WN_ZFSS_DOFINANSOWANIE"
							whereCzynnosci="not(nvl(COB_NAZWA2,'-')) like '%#do%'"
							hibernateRefreshPoWykonaniuCzynnosc="#{uniwersalnyWniosekZFSSBean.wniosek}"
					/>

					<cc:cZalacznikiButton
							dlgTitle="Załączniki uniwersalnego wniosku:"
							zalFkId="#{uniwersalnyWniosekZFSSBean.wniosek.zfsId}"
							zalFkFieldName="ZAL_ZFS_ID"
					/>

				</h:form>




                <h:form id="frmWniosekZFSS" styleClass="d-flex-1-column ov-y-auto pb20">



					<cc:cZFSSWniosekDaneWnioskodawcy  wniosek="#{uniwersalnyWniosekZFSSBean.wniosek}" styleClass="bg-white w800 bsh1black p20 mauto mt20"/>



                    <h:panelGroup id="pnlDaneWniosku" styleClass="bg-white w800 bsh1black p20 mauto mt20">
                        <p:outputLabel value="Dane wniosku" styleClass="fs20" for="@parent" />
                        <p:separator styleClass="ui-g-12 p0"/>

                        <div class="ui-g-12 p20">

                            <cc:cInputTextAreaMDesign
                                styleClass="ui-g-12 p0"
                                label="Opis wniosku:"
                                placeholder="wpisz opis wniosku"
                                value="#{uniwersalnyWniosekZFSSBean.wniosek.zfsOpis}" />

                        </div>

                        <p:separator styleClass="ui-g-12 p0 mt20"/>

                    </h:panelGroup>





                    <h:panelGroup id="pnlDecyzjeKomisjiZFSS" styleClass="bg-white w800 bsh1black p20 mauto mt20">
                        <p:outputLabel value="Decyzje komisji ZFŚS" styleClass="fs20" for="@parent" />
                        <p:separator styleClass="ui-g-12 p0"/>
                        <div class="ui-g-12 d-flex">
							<cc:cLookupTable height="200px" hideHeaders="true"
											 showSearchField="false" styleClass="d-flex"
											 datasource="#{ v.getLW('PPL_ZFSS_DECYZJE_KOMISJI', obiegBean.idEncji, obiegBean.kategoriaObiegu )}"/>
                        </div>
                        <p:separator styleClass="ui-g-12 p0 mb20"/>
                    </h:panelGroup>


                </h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
