<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="ZFŚS / Wniosek o udzielnie pożyczki" />
        <ui:param name="ccMDesignAjaxDefault" value="true" />

		<ui:define name="egr_content">

            <h:form id="frmNorth" styleClass="p5 pl20 pr20 bg-vlgrey bb1 d-flex">

                <p:commandButton
                        value="Zapisz"
                        icon="save"
                        action="#{wniosekPozyczkaZFSSBean.wniosek.zapisz()}"
                        update="@form"
                />

                <p:commandButton
                        value="usuń" id="usunId" icon="delete"
                        style="min-width:80px" styleClass="ctl-home-link-menu"
                        actionListener="#{wniosekPozyczkaZFSSBean.wniosek.usun()}"
                        process="@form"
                        update="template_growl"
                        partialSubmit="true"
                        disabled="#{wniosekPozyczkaZFSSBean.wniosek.zfsId == null or wniosekPozyczkaZFSSBean.wniosek.zfsId == 0}"
                />

                <cc:cObiegCzynnosci
                        id="obiegWnk"
                        idEncji="#{wniosekPozyczkaZFSSBean.wniosek.zfsId}"
                        kategoriaObiegu="WN_ZFSS_POZYCZKA"
                        whereCzynnosci="not(nvl(COB_NAZWA2,'-')) like '%#do%'"
                        hibernateRefreshPoWykonaniuCzynnosc="#{wniosekPozyczkaZFSSBean.wniosek}"
                />

                <cc:cZalacznikiButton
                        dlgTitle="Załączniki wniosku o udzielnie pożyczki:"
                        zalFkId="#{wniosekPozyczkaZFSSBean.wniosek.zfsId}"
                        zalFkFieldName="ZAL_ZFS_ID"
                />

                <p:commandButton
                        id="raportId"
                        value="Raport"
                        icon="content_paste"
                        disabled="#{wniosekPozyczkaZFSSBean.wniosek.zfsId == null or wniosekPozyczkaZFSSBean.wniosek.zfsId == 0}"
                        style="min-width:80px"
                        actionListener="#{wniosekPozyczkaZFSSBean.raport()}"
                        styleClass="ctl-home-link-menu"
                        onclick="form.target = '_blank'" ajax="false"
                />

            </h:form>

            <h:form id="frmWniosekZFSS" styleClass="d-flex-1-column ov-y-auto pb20">

                <cc:cZFSSWniosekDaneWnioskodawcy wniosek="#{wniosekPozyczkaZFSSBean.wniosek}"
                                                 styleClass="bg-white w800 bsh1black p20 mauto mt20" />


                <h:panelGroup id="pnlDanePozyczki" styleClass="bg-white w800 bsh1black p20 mauto mt20" >
                    <p:outputLabel value="Dane pożyczki" styleClass="fs20" for="@parent" />
                    <p:separator styleClass="ui-g-12 p0"/>

                    <div class="ui-g-12 p20">

                        <cc:cLOVMDesign styleClass="ui-g-7"
                                label="Przeznaczenie pożyczki:"
                                lovDlgTitle="Przeznaczenie pożyczki"
                                datasource="#{v.getSL('ZFSS_RODZAJE_POZYCZEK')}"
                                value="#{wniosekPozyczkaZFSSBean.wniosek.zfsCelPozyczki}"
                                lovTextFormat="%wsl_opis$s"
                                required="true"
                                />

                        <cc:cInputNumberMDesign styleClass="ui-g-3"
                                label="Wysokość pożyczki:"
                                value="#{wniosekPozyczkaZFSSBean.wniosek.zfsKwotaPozyczki}"
                                decimalPlaces="2" symbol="PLN"
                                required="true"/>

                        <cc:cInputNumberMDesign styleClass="ui-g-2"
                                label="Liczba rat:"
                                value="#{wniosekPozyczkaZFSSBean.wniosek.zfsLiczbaRat}"
                                decimalPlaces="0"
                                required="true"/>

                    </div>

                    <p:separator styleClass="ui-g-12 p0 mt20"/>

                </h:panelGroup>

                <h:panelGroup id="pnlPoreczyciele" styleClass="bg-white w800 bsh1black p20 mauto mt20" >
                    <p:outputLabel value="Poręczyciele" styleClass="fs20 ui-g-11 p0" for="@parent" />

                    <cc:cLovButtonJS styleClass="ui-g-1 p0"
                                     icon="add" value="" tooltip="dodaj poręczyciela"
                                     lovDlgTitle="Pracownicy / poręczyciele:"
                                     datasource="#{wniosekPozyczkaZFSSBean.getLW('PPL_PORECZYCIELE')}"
                                     rowSelectedAction="#{wniosekPozyczkaZFSSBean.wniosek.dodajPoreczyciela}"
                    />
                    <p:separator styleClass="ui-g-12 p0"/>

                    <ui:repeat value="#{wniosekPozyczkaZFSSBean.wniosek.pptZfssPoreczycieles}" var="poreczyciel">

                        <h:panelGroup id="pnlPoreczyciel" styleClass="ui-g-12 ui-g-nopad pt5 pb5 pl10">

                            <div class="ui-g-6 p0">

                                <p:outputLabel value="#{v.getLW('PPL_PORECZYCIELE').findAndFormat(poreczyciel.zfspPrcId ,'%prc_imie$s %prc_nazwisko$s' )}"
                                               styleClass="ui-g-6 p0 fs18" />

                                <p:outputLabel value="#{v.getLW('PPL_PORECZYCIELE').findAndFormat(poreczyciel.zfspPrcId ,'(#%prc_numer$s)' )}"
                                               styleClass="ui-g-6 p0 fs18" />

                                <p:outputLabel value="#{v.getLW('PPL_ADRESY_PRC', poreczyciel.zfspPrcId, 'zameldowania').firstRowFormat('%adres$s')}"
                                               styleClass="ui-g-12 p0 fs12" />
                            </div>

                            <div class="ui-g-5 p0">

                                <p:outputLabel
                                        value="brak potwierdzenia"
                                        rendered="#{poreczyciel.zfspDataPotwierdzenia == null}"
                                        styleClass="ui-g-12 p0 fs18" style="color:#990000!important;"/>

                                <p:outputLabel
                                        rendered="#{poreczyciel.zfspDataPotwierdzenia != null}"
                                        value="#{v.format( poreczyciel.zfspDataPotwierdzenia, 'yyyy-MM-dd HH:mm:ss' )}"
                                        styleClass="ui-g-12 p0 fs18" style="color:#007722!important;"/>
                            </div>

                            <p:commandButton styleClass="ui-g-1 p0"
                                             icon="delete"
                                             action="#{wniosekPozyczkaZFSSBean.wniosek.removePptZfssPoreczyciele(poreczyciel)}"  />

                        </h:panelGroup>

                    </ui:repeat>

                    <p:separator styleClass="ui-g-12 p0 mb20 mt0"/>
                </h:panelGroup>

                <h:panelGroup id="pnlPoswiadczenia" styleClass="bg-white w800 bsh1black p20 mauto mt20" >

                    <p:outputLabel value="Poświadczenia Działu Spraw Osobowych"
                                   styleClass="fs20 ui-g-10 p0" for="@parent" />

                    <p:separator styleClass="ui-g-12 p0"/>

                    <cc:cInputTextAreaMDesign
                            styleClass="ui-g-12" style="margin-top:-25px;"
                            value="#{wniosekPozyczkaZFSSBean.wniosek.zfsOpis}"
                    />

                    <p:separator styleClass="ui-g-12 p0"/>
                    <div class="ui-g-12 d-flex">
                        <cc:cLookupTable  height="200px" hideHeaders="true"
                                          showSearchField="false" styleClass="d-flex"
                                          datasource="#{ v.getLW('PPL_ZFSS_DECYZJE_KOMISJI', obiegBean.idEncji, obiegBean.kategoriaObiegu )}"/>
                    </div>
                    <p:separator styleClass="ui-g-12 p0 mb20"/>
                </h:panelGroup>

                <h:panelGroup id="pnlDecyzjeKomisjiZFSS" styleClass="bg-white w800 bsh1black p20 mauto mt20" >
                    <p:outputLabel value="Decyzje komisji ZFŚS" styleClass="fs20" for="@parent" />
                    <p:separator styleClass="ui-g-12 p0"/>

                    <cc:cInputTextMDesign
                            styleClass="ui-g-8"
                            label="Numer umowy:"
                            value="#{wniosekPozyczkaZFSSBean.wniosek.zfsNumerUmowy}" />

                    <cc:cCalendarMDesign
                            styleClass="ui-g-4"
                            label="Umowa z dnia:"
                            value="#{wniosekPozyczkaZFSSBean.wniosek.zfsDataUmowy}" />

                    <cc:cInputTextAreaMDesign
                            styleClass="ui-g-12"
                            label="Przyczyna odmowy pożyczki:"
                            value="#{wniosekPozyczkaZFSSBean.wniosek.zfsPowodOdmowy}"/>

                    <p:separator styleClass="ui-g-12 p0"/>
                    <div class="ui-g-12 d-flex">
                        <cc:cLookupTable  height="200px" hideHeaders="true"
                                          showSearchField="false" styleClass="d-flex"
                                          datasource="#{ v.getLW('PPL_ZFSS_DECYZJE_KOMISJI', obiegBean.idEncji, obiegBean.kategoriaObiegu )}"/>
                    </div>
                    <p:separator styleClass="ui-g-12 p0 mb20"/>
                </h:panelGroup>

            </h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
