<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="ZFŚS / Wniosek o przyznanie bezzwrotnej pomocy finansowej lub rzeczowej" />
		<ui:param name="ccMDesignAjaxDefault" value="true" />

		<ui:define name="egr_content">

			<h:form id="frmNorth" styleClass="p5 pl20 pr20 bg-vlgrey bb1 d-flex">

				<p:commandButton
					value="Zapisz"
					icon="save"
					action="#{bezzwrotnaPomocZFSSBean.wniosek.zapisz()}"
					partialSubmit="true" process="frmWniosekZFSS @this"
					update="@form"
				/>

				<p:commandButton value="usuń" id="usunId" icon="delete"
					style="min-width:80px" styleClass="ctl-home-link-menu"
					actionListener="#{bezzwrotnaPomocZFSSBean.wniosek.usun()}"
					process="@form"
					update="template_growl"
					partialSubmit="true"
					disabled="#{bezzwrotnaPomocZFSSBean.wniosek.zfsId == null or bezzwrotnaPomocZFSSBean.wniosek.zfsId == 0}"/>

				<cc:cObiegCzynnosci id="obiegWnk"
					idEncji="#{bezzwrotnaPomocZFSSBean.wniosek.zfsId}"
					kategoriaObiegu="WN_ZFSS_BEZZWROTNA_POMOC"
					hibernateRefreshPoWykonaniuCzynnosc="#{bezzwrotnaPomocZFSSBean.wniosek}"
				/>

				<cc:cZalacznikiButton
					dlgTitle="Załączniki wniosek o bezzwrotną pomoc finansową lub rzeczową:"
					zalFkId="#{bezzwrotnaPomocZFSSBean.wniosek.zfsId}"
					zalFkFieldName="ZAL_ZFS_ID"/>

				<p:commandButton value="Raport" id="raportId"
					icon="content_paste"
					disabled="#{bezzwrotnaPomocZFSSBean.wniosek.zfsId == null or bezzwrotnaPomocZFSSBean.wniosek.zfsId == 0}"
					style="min-width:80px"
					actionListener="#{bezzwrotnaPomocZFSSBean.raport()}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

			</h:form>

			<h:form id="frmWniosekZFSS" styleClass="d-flex-1-column ov-y-auto pb20">

				<cc:cZFSSWniosekDaneWnioskodawcy wniosek="#{bezzwrotnaPomocZFSSBean.wniosek}"
												 styleClass="bg-white w800 bsh1black p20 mauto mt20" />

				<h:panelGroup id="pnlDaneBezzwrotnejPomocy"
							  styleClass="bg-white w800 bsh1black p20 mauto mt20" >

					<p:outputLabel value="Dane wymagane do wniosku o bezzwrotną pomoc" styleClass="fs20" for="@parent" />
					<p:separator styleClass="ui-g-12 p0"/>

					<div class="p20 ui-g block">

						<cc:cInputTextAreaMDesign id="txtUzasadnienie" styleClass="ui-g-12 p0 mb20"
												  label="Uzasadnienie wniosku (choroba własna lub członka rodziny, wypadek losowy itp.):"
												  placeholder="wpisz uzasadnienie"
												  value="#{bezzwrotnaPomocZFSSBean.wniosek.zfsOpis}"/>


						<cc:cInputNumberMDesign id="txtWysokoscZarobkowKwota" styleClass="ui-g-12 p0 mb20"
												label="Wyskość zarobków wnioskodawcy:"
												tooltip="Wyskość zarobków wnioskodawcy potwierdzona przez Dział Spraw Administracyjno-Osobowych lub Dział Finanosowy (odcinek renty lub emerytury)."
												placeholder="podaj kwotę w PLN"
												value="#{bezzwrotnaPomocZFSSBean.wniosek.zfsZarobkiWnioskodawcy}"
												symbol=" PLN" symbolPosition="s"/>


						<cc:cInputNumberMDesign id="txtWysokoscZarobkowWspolKwota" styleClass="ui-g-12 p0 mb20"
												label="Wysokość zarobków współmałżonka:"
												tooltip="Wysokość zarobków współmałżonka (dołączyć odcinek wypłaty, emerytury lub renty)."
												placeholder="podaj kwotę w PLN"
												value="#{bezzwrotnaPomocZFSSBean.wniosek.zfsZarobkiWspolmalzonka}"
												symbol=" PLN" symbolPosition="s"/>


						<cc:cInputNumberMDesign id="txtInneZrodloKwota" styleClass="ui-g-12 p0 mb50"
												label="Inne źródła dochodów:"
												tooltip="Inne źródła dochodów (zasiłki rodzinne i inne)."
												placeholder="podaj kwotę w PLN"
												value="#{bezzwrotnaPomocZFSSBean.wniosek.zfsInneDochody}"
												symbol=" PLN" symbolPosition="s"/>


						<cc:cZFSSWniosekRodzina wniosek="#{bezzwrotnaPomocZFSSBean.wniosek}"
												label="Osoby na utrzymaniu:"
												czyPoleNazwaSzkoly="false"/>
					</div>

					<p:separator styleClass="p0 mt20"/>

			   </h:panelGroup>

			   <h:panelGroup id="pnlDecyzjeKomisjiZFSS" styleClass="bg-white w800 bsh1black p20 mauto mt20" >
					<p:outputLabel value="Decyzje komisji ZFŚS" styleClass="fs20" for="@parent" />
					<p:separator styleClass="ui-g-12 p0"/>

					<div class="ui-g-12 p0">
						<p:outputLabel id="txtKwotaZapomogi" styleClass="fs14 ui-g-5 p0"
							value="Proponuję się przyznanie zapomogi w wysokości:"  />
						<p:inputNumber id="kwotaZapomogi" styleClass="fs14 ui-g-2 p0 right" value="#{bezzwrotnaPomocZFSSBean.wniosek.zfsPropKwotaZapomogi}"
							symbol=" PLN" symbolPosition="s"/>
					</div>

					<p:separator styleClass="ui-g-12 p0 mt20"/>

					<div class="ui-g-12 p0">
						<p:outputLabel id="txtOdmowaZapomogi" styleClass="fs14 ui-g-12 p0"
							value="Odmawia się przyznania zapomogi z powodu:"  />
					</div>

				   	<div class="ui-g-12 p0">
						 <p:inputTextarea id="txtOdmowaZapomogiUzaTekst" value="#{bezzwrotnaPomocZFSSBean.wniosek.zfsPowodOdmowy}"/>
					</div>

					<p:separator styleClass="ui-g-12 p0"/>
					<div class="ui-g-12 d-flex">
						<cc:cLookupTable  height="200px" hideHeaders="true"
										  showSearchField="false" styleClass="d-flex"
										  datasource="#{ v.getLW('PPL_ZFSS_DECYZJE_KOMISJI', obiegBean.idEncji, obiegBean.kategoriaObiegu )}"/>
					</div>
					<p:separator styleClass="ui-g-12 p0 mb20"/>

				</h:panelGroup>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
