<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="ZFŚS / Wniosek o przyznanie dofinansowania za bilety/karnety" />
        <ui:param name="ccMDesignAjaxDefault" value="true" />

		<ui:define name="egr_content">

			<h:form id="frmNorth" styleClass="p5 pl20 pr20 bg-vlgrey bb1 d-flex">

				<p:commandButton
					value="Zapisz"
					icon="save"
					action="#{biletyKarnetyZFSSBean.wniosek.zapisz()}"
					partialSubmit="true" process="frmWniosekZFSS @this"
					update="@form"
				/>

				<p:commandButton value="usuń" id="usunId" icon="delete"
					style="min-width:80px" styleClass="ctl-home-link-menu"
					actionListener="#{biletyKarnetyZFSSBean.wniosek.usun()}"
					process="@form"
					update="template_growl"
					partialSubmit="true"
					disabled="#{biletyKarnetyZFSSBean.wniosek.zfsId == null or biletyKarnetyZFSSBean.wniosek.zfsId == 0}"/>

				<cc:cObiegCzynnosci id="obiegWnk"
					idEncji="#{biletyKarnetyZFSSBean.wniosek.zfsId}"
					kategoriaObiegu="WN_ZFSS_DOFINANSOWANIE"
					hibernateRefreshPoWykonaniuCzynnosc="#{biletyKarnetyZFSSBean.wniosek}"
				/>

				<cc:cZalacznikiButton
					dlgTitle="Załączniki wniosek o dofinansowanie do wypoczynku zimowego/wiosennego organizowanego we własnym zakresie:"
					zalFkId="#{biletyKarnetyZFSSBean.wniosek.zfsId}"
					zalFkFieldName="ZAL_ZFS_ID"/>

				<p:commandButton value="Raport" id="raportId"
					icon="content_paste"
					disabled="#{biletyKarnetyZFSSBean.wniosek.zfsId == null or biletyKarnetyZFSSBean.wniosek.zfsId == 0}"
					style="min-width:80px"
					actionListener="#{biletyKarnetyZFSSBean.raport()}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

			</h:form>

			<h:form id="frmWniosekZFSS" styleClass="d-flex-1-column ov-y-auto pb20">

				<cc:cZFSSWniosekDaneWnioskodawcy wniosek="#{biletyKarnetyZFSSBean.wniosek}"
												 styleClass="bg-white w800 bsh1black p20 mauto mt20"/>


				<cc:cZFSSWniosekBiletyKarnetyFaktury wniosek="#{biletyKarnetyZFSSBean.wniosek}"
													 styleClass="bg-white w800 bsh1black p20 mauto mt20"/>


				<h:panelGroup id="pnlDecyzjeKomisjiZFSS" styleClass="bg-white w800 bsh1black p20 mauto mt20">

					<p:outputLabel value="Decyzja Komisji ZFŚS" styleClass="fs20 ui-g-11 p0" for="@parent" />

					<p:separator styleClass="ui-g-12 p0"/>

					<div class="ui-g-5 p0">
						<p:outputLabel id="txtDofinansowanieWypoczynek"
							value="Przyznano dofinansowanie w wysokości:"  />
					 </div>

					 <div class="ui-g-2 p0">
						 <p:inputNumber id="DofinansowanieWypoczynekKwota" symbol=" PLN" symbolPosition="s"
							value="#{biletyKarnetyZFSSBean.wniosek.zfsKwotaDofin}"/>
					 </div>


					<p:separator styleClass="ui-g-12 p0"/>
					<div class="ui-g-12 d-flex">
						<cc:cLookupTable  height="200px" hideHeaders="true"
										  showSearchField="false" styleClass="d-flex"
										  datasource="#{ v.getLW('PPL_ZFSS_DECYZJE_KOMISJI', obiegBean.idEncji, obiegBean.kategoriaObiegu )}"/>
					</div>
					<p:separator styleClass="ui-g-12 p0 mb20"/>

				</h:panelGroup>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
