<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">


<f:metadata>
</f:metadata>

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplateEmpty.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}" />

		<ui:define name="egr_content">
			#{dlgBean.test}

				<div style="position:absolute; right:150px; top:20px;"> wczytywanie okien dialogowych ... </div>
				<p:commandButton icon="clear" 
					onstart="parent.document.getElementById('dlgDv').style.zIndex='-9999999'"
					style="position:absolute; right:20px; top:20px;"
				/>
	
<!-- 				<div class="dvwczytywanie" id="hourGlass" -->
<!-- 					style="font-size: 300% !important;  position: absolute; bottom: 100px; right: 100px; max-height: 40% !important"> -->
<!-- 				</div> -->

		<h:form>
		
			<pe:remoteCommand id="showDlgCmd" name="showDlg" process="@this" actionListener="#{dlgBean.showDlg}">  
			    <pe:methodSignature parameters="java.lang.String, java.lang.String"/>  
			    <pe:methodParam name="dlgid"/>
			    <pe:methodParam name="id"/>  
			</pe:remoteCommand> 	
			
			
			<pe:remoteCommand id="updateCmd" name="update" process="@this" actionListener="#{user.update}">  
			    <pe:methodSignature parameters="java.lang.String, java.lang.String"/>  
			    <pe:methodParam name="id"/>
			    <pe:methodParam name="id"/>  
			</pe:remoteCommand> 	
			
		</h:form>


<!-- 	TODO: warunkowe dlg jak w egrteplate -->
<!-- 			<ui:include -->
<!-- 				src="/WEB-INF/protectedElements/Dialogs/Szkolenia/dlgOfertaSzkolen.xhtml" /> -->
	


		</ui:define>

	</ui:composition>

</h:body>

</html>


