<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista wniosków o okulary" />
		<ui:define name="egr_content">
					
				<h:form id="form1" styleClass="bg-fff bsh2black m20i p20 flex-1">

					<cc:cLookupTable
						datasource="#{v.getLW('PPL_BHP_WNIOSKI_O_OKULARY')}"
                        editRowPage="WniosekOkulary"
                    />

				</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
