<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Wniosek o okulary" />
		<ui:define name="egr_content">

<!-- 				<pe:layoutPane position="north" resizable="false" closable="false" -->
<!-- 					spacingOpen="0" spacingClosed="0" styleClassContent="p5 pl20 pp-bg-lp-north-b-white-b-v"> -->

<!-- 					<div style="margin: 0 auto; max-width: 820px; height: 100%"> -->
					<h:form styleClass="btns pp-bg-lp-north-b-white-b-v p5 pl20 pr20">
					<div class="center" style="margin: 0 auto; max-width: 820px;">

						<p:remoteCommand autoRun="true" timeout="1000" update="btnsID"/>

						<h:panelGroup id="btnsID">

							<p:commandButton value="usuń" id="usunId" icon="delete_forever"
								disabled="#{wniosekOkularyBean.wniosekOkulary.wnoId==null}"
								styleClass="granatowy bsh1gray mr10" partialSubmit="true"
								actionListener="#{wniosekOkularyBean.usun()}">

							</p:commandButton>

							<p:commandButton value="Pobierz pdf" id="raportId"
								icon="content_paste" style="min-width:80px"
								disabled="#{wniosekOkularyBean.wniosekOkulary.wnoId==null}"
								actionListener="#{wniosekOkularyBean.raport()}"
											 styleClass="granatowy bsh1gray mr10"
								onclick="form.target = '_blank'" ajax="false">
							</p:commandButton>


							<cc:cZalacznikiButton dlgTitle="Załączniki wniosku" styleClass="granatowy bsh1gray mr10"
								disabled="#{wniosekOkularyBean.wniosekOkulary.wnoId == null}"
								zalFkId="#{wniosekOkularyBean.wniosekOkulary.wnoId}"
								zalFkFieldName="ZAL_OKUL_ID"/>

							<cc:cObiegCzynnosci kategoriaObiegu="WN_OKULARY" styleClass="granatowy bsh1gray mr10"
								idEncji="#{wniosekOkularyBean.wniosekOkulary.wnoId}"
								reloadPage="WniosekOkulary"
								disabled="#{empty zalacznikiBean.getSql('sqlZalaczniki').data}"
								disabledMessage="Brak wymaganych załączników."
								hibernateRefreshPoWykonaniuCzynnosc="#{wniosekOkularyBean.wniosekOkulary}"
							/>

						</h:panelGroup>
					</div>
					</h:form>
<!-- 					</div> -->
<!-- 				</pe:layoutPane> -->








<!-- 				<pe:layoutPane position="center" resizable="false" closable="false" -->
<!-- 					spacingOpen="0" spacingClosed="0" styleClassContent="p20 pp-bg-gradient-gray-blue-6"> -->

		<div class="pp-center p20">

			<h:form id="form1">
				
				<h:panelGroup styleClass="bg-white ui-g bsh15slategray border p20">

					<p:outputLabel for="@parent" value="Dane pracownika" styleClass="ui-g-11 fs20 p0" />
						<div class="ui-g-1">
							<cc:cLovLookupTable
									lovDlgTitle="Lista pracowników"
									showInputText="false"
									lovTextFormat="%1$s - %3$s %4$s"
									value="#{wniosekOkularyBean.wniosekOkulary.wnoPrcId}"
									datasource="#{wniosekOkularyBean.getLW('PP_PRC')}"
							/>
						</div>
					<p:separator styleClass="ui-g-12 p0 m0"/>


					<div class="ui-g-12">
						<cc:cPracownikSluzbaP id="ccPracownik"
								prcId="#{wniosekOkularyBean.wniosekOkulary.wnoPrcId}" />
					</div>

				</h:panelGroup>


				<h:panelGroup styleClass="bg-white ui-g bsh15slategray border p20 mt20">

					<p:outputLabel for="@parent" value="Szczegóły wniosku" styleClass="ui-g-12 fs20" />
					<p:separator styleClass="ui-g-12 p0"/>
					
					<div class="ui-g-12">

						<cc:cInputNumberMDesign id="kosztId" styleClass="ui-g-6" 
							label="Kwota do zwrotu:"
							value="#{wniosekOkularyBean.wniosekOkulary.wnoKoszt}"
							symbol=" PLN" symbolPosition="s"
							decimalSeparator="," >
							<p:ajax event="change"/>
						</cc:cInputNumberMDesign>
						<p:focus for="kosztId"/>
						
						<cc:cCalendarMDesign
								id="dataId"
								styleClass="ui-g-6"
								label="Data złożenia wniosku:"
								value="#{wniosekOkularyBean.wniosekOkulary.wnoDataZlozenia}"
						/>

					</div>
					<p:separator styleClass="ui-g-12 p0"/>	
					
	
					<h:panelGroup id="pg-zr-finansowania" styleClass="ui-g-12 ui-g-nopad mt30">

						<p:outputLabel for="@parent" value="Źródło finansowania" styleClass="ui-g-11 fs20 p0" />
						<div class="ui-g-1">
							<cc:cLovLookupTable
									id="lovZF"
									lovDlgTitle="Źródła finansowania:"
									showInputText="false"
									lovTextFormat="%1$s - %3$s %4$s"
									value="#{wniosekOkularyBean.wniosekOkulary.wnoSkId}"
									datasource="#{wniosekOkularyBean.getLW('PPL_BHP_OKU_STN_KSZT_WSZ')}"
							/>
						</div>
						<p:separator styleClass="ui-g-12 p0 m0"/>


					
						<div class="ui-g-12"> 
						
							<cc:cInputTextMDesign id="kodId"  styleClass="ui-g-4" readonly="false"
									label="Kod budżetu zadaniowego:"
									value="#{wniosekOkularyBean.wniosekOkulary.wnoKodBudzZad}" />
									
							
							<cc:cLOVMDesign
								lovDlgTitle="Lista wniosków o angaż"
								datasource="#{wniosekOkularyBean.getLW('PPL_BHP_ANGAZE')}"
								label="Nr wniosku o angaż:"
								styleClass="ui-g-4"
								lovTextFormat="%2$s"
								value="#{wniosekOkularyBean.wniosekOkulary.wnoWnrId}"
							/>

							<cc:cInputTextMDesign
								label="Nr wydatku:"
								styleClass="ui-g-4"
								value="#{wniosekOkularyBean.wniosekOkulary.wnoNrWydatku}"
							/>
								
							<br/>
						
							<cc:cInputTextMDesign id="kodZrodla"  styleClass="ui-g-12"
							    label="Kod źródła finansowania:"
								value="#{wniosekOkularyBean.wniosekOkulary.kodZrodlaFinansowania}"
								readonly="true"/>
							
							<br/>
							
							<cc:cInputTextMDesign id="opisZrodla" styleClass="ui-g-12"
								label="Opis źródła:" 
								value="#{wniosekOkularyBean.wniosekOkulary.opisZrodlaFinansowania}"
								readonly="true"/>	
							
						</div>
						
						<div class="ui-g-12"><br/></div>
							
					</h:panelGroup>

				</h:panelGroup>
					
					<div class="ui-action-buttons" style="position: absolute; right: 25px; bottom: 25px;">
						<p:commandButton value="Zapisz" id="zapiszId"
							styleClass="btn-dark bsh1gray" partialSubmit="true"
							process="@form" 
							update="@(.btns)"
							actionListener="#{wniosekOkularyBean.zapisz()}" />
					</div>
						
				</h:form>	
<!-- 				</pe:layoutPane> -->
			</div>

		</ui:define>
	</ui:composition>
</h:body>
</html>
