<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>


</f:metadata>

<h:body>

	<ui:composition template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Arkusz IPRZ" />

		<ui:define name="egr_content">

		<ui:include src="/WEB-INF/protectedElements/Dialogs/Szkolenia/dlgSzkoleniaIPRZ.xhtml" />


#{arkuszIPRZBean.loadEgSlownik('IPRZ_OBSZAR_DZIALAN')}
#{arkuszIPRZBean.loadEgSlownik('IPRZ_DZIALANIA')}
#{arkuszIPRZBean.loadEgSlownik('IPRZ_SCIEZKA_KARIERY')}
#{arkuszIPRZBean.loadEgSlownik('IPRZ_PROGRAM_ROZWOJOWY')}
#{arkuszIPRZBean.loadEgSlownik('OS_SZKOLENIA_POWSZECHNE')}
<!-- #{arkuszIPRZBean.loadEgSlownik('IPRZ_OBSZAR_WIEDZY')} -->
			<!-- #{arkuszIPRZBean.loadEgSlownik('IPRZ_SPOSOB_PROWADZENIA')} -->
#{arkuszIPRZBean.loadEgSlownik('PPP_OS_OBSZAR_WIEDZY')}
#{arkuszIPRZBean.loadEgSlownik('PPS_SZK_FORMA_ORG')}
#{arkuszIPRZBean.loadEgSlownik('IPRZ_LUKI_KOMPETENCYJNE')}

				<h:form id="frmTMnu" styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20">
					#{arkuszIPRZBean.addUpdateAfterSave('frmTMnu')}

					<p:commandButton value="usuń arkusz" id="usunId"
						icon="delete_forever" style="min-width:110px"
						styleClass="ctl-home-link-menu" partialSubmit="true"
						actionListener="#{arkuszIPRZBean.usun()}">
						<p:confirm header="Usuń arkusz"
							message="Czy na pewno chcesz usunąć arkusz IPRZ?"
							icon="ui-icon-alert" />
					</p:commandButton>

					<cc:cObiegCzynnosci kategoriaObiegu="WN_IPRZ_ARKUSZ"
						idEncji="#{arkuszIPRZBean.arkusz.iprzId}"
						reloadPage="ArkuszIPRZ" />

					<cc:cZalacznikiButton dlgTitle="Załączniki do arkusza IPRZ:"
						zalFkId="#{arkuszIPRZBean.arkusz.iprzId}"
						zalFkFieldName="ZAL_IPRZ_ID" />

					<p:commandButton value="Podgląd arkusza IPRZ" id="raportId"
						icon="content_paste" disabled="#{arkuszIPRZBean.czyNowy}"
						style="min-width:80px"
						actionListener="#{arkuszIPRZBean.raport()}"
						styleClass="ctl-home-link-menu"
						onclick="form.target = '_blank'" ajax="false">
					</p:commandButton>

					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<p:commandButton value="TAK" type="button"
							styleClass="ui-confirmdialog-yes" />
						<p:commandButton value="NIE" type="button"
							styleClass="ui-confirmdialog-no" />
					</p:confirmDialog>

				</h:form>

				<div class="pp-center p20" style="overflow-y:auto;">

					<h:form id="frm2" styleClass="ui-g" style="height:100%;" >

						#{arkuszIPRZBean.addUpdateAfterSave('frm2')}
						#{arkuszIPRZBean.loadEgListaWartosci('PP_PRC', [])}
						#{arkuszIPRZBean.loadEgListaWartosci('PP_SZKOL_SPEC', [sessionBean.iprz_id])}


						<div class="ui-lg-5 ui-g-12 p5">
							<div class="bg-fff p20" style="height:210px">
								<h2 class="mt0">Dane pracownika</h2>
								<div class="ui-g">
									<p:outputLabel value="Wybierz pracownika z listy:"
										style="min-width:70px" styleClass="label" readonly="true" />
									<cc:cLovLookupTable lovDlgTitle="Lista pracowników"
										showInputText="false" lovTextFormat="%1$s - %3$s %4$s"
										value="#{arkuszIPRZBean.arkusz.iprzPrcId}"
										datasource="#{arkuszIPRZBean.getSql('PP_PRC')}"
										update="frm2:ccPracownik" />
								</div>
								<div class="ui-g">
									<div class="ui-g-12">
										<cc:cPracownikSluzbaP id="ccPracownik"
											prcId="#{arkuszIPRZBean.arkusz.iprzPrcId}" />
									</div>
								</div>
							</div>
						</div>

						<div class="ui-lg-7 ui-g-12 p5">
							<div class="bg-fff p20" style="height:210px">
								<div class="ui-g-10">
									<h2 class="mt0 mb0">Zdiagnozowane luki kompetencyjne</h2>
								</div>

								<div class="ui-g-2">
									<p:commandButton
										icon="add"
										styleClass="mt5"
										actionListener="#{arkuszIPRZBean.addLuka()}"
										update="panelLuki" />
								</div>


								<h:panelGroup id="panelLuki" styleClass="ui-g-12 ui-g-nopad pgLukiKom"  style="min-height:160px; max-height:160px; overflow:auto; " >

									<ui:repeat
										value='#{ arkuszIPRZBean.arkusz.pptIprLukiKompetencyjnes }'
										var="o" varStatus="status">
										<div class="ui-g">
											<div class="ui-g-10">
												<cc:cSOMMDesign id="idLukiTresc" emptyLabel="Wybierz lukę"
													datasource="#{arkuszIPRZBean.getSql('IPRZ_LUKI_KOMPETENCYJNE')}"
													value="#{o.iplkWartosc}" />
											</div>
											<div class="ui-g-2">
												<p:commandButton icon="delete" update="frm2:panelLuki"
													partialSubmit="true" process="frm2:panelLuki"
													action="#{ arkuszIPRZBean.arkusz.removeLuka(o) }" />
											</div>
										</div>
									</ui:repeat>

								</h:panelGroup>

							</div>
						</div>

						<div class="ui-g-12 p5">
							<div class="bg-fff p20 ui-g-12">

								<h2 class="mt0">Dane szczegółowe</h2>


								<div class="ui-g-12 ui-md-6 ui-lg-4">
									<cc:cSOMMDesign id="idSciezkaKarier" width="300"
										emptyLabel="Wybierz ścieżkę kariery"
										datasource="#{arkuszIPRZBean.getSql('IPRZ_SCIEZKA_KARIERY')}"
										value="#{arkuszIPRZBean.arkusz.iprzSciezka}"
										label="Ścieżka kariery: " />
								</div>

								<div class="ui-g-12 ui-md-6 ui-lg-4">
									<cc:cSOMMDesign label="Program rozwojowy:" width="300"
										emptyLabel="Wybierz program rozwojowy"
										datasource="#{arkuszIPRZBean.getSql('IPRZ_PROGRAM_ROZWOJOWY')}"
										value="#{arkuszIPRZBean.arkusz.iprzProgram}" />
								</div>

								<div class="ui-g-12 ui-md-6 ui-lg-4"
									style="margin-top: auto; margin-bottom: auto;">
									<cc:cSelectBooleanCheckboxTN id="czyProgramTalentowId"
										value="#{arkuszIPRZBean.arkusz.iprzTalenty}" />
									<p:outputLabel styleClass="label left" for="czyProgramTalentowId"
										value="Program zarządzania talentami: " />
								</div>


								<div class="ui-g-12 mt30" />


								<div class="ui-g-12 ui-lg-6 ui-xl-6">
									<cc:cCalendarMDesign
										value="#{arkuszIPRZBean.arkusz.iprzDataObowiazywaniaOd}"
										label="Data obowiązywania od:" />
								</div>

								<div class="ui-g-12 ui-lg-6 ui-xl-6">
									<cc:cCalendarMDesign
										value="#{arkuszIPRZBean.arkusz.iprzDataObowiazywaniaDo}"
										label="Data obowiązywania do:" />
								</div>

								<div class="ui-g-12 mt10" />


		<!-- 						<div class="ui-g-12 ui-lg-6 ui-xl-6"> -->
		<!-- 							<cc:cInputTextAreaMDesign id="opis1Id" styleClass="lekka-ramka" -->
		<!-- 								cols="40" rows="3" label="Opis 1: " counter="lblOpis1" -->
		<!-- 								maxlength="2000" autoResize="true" -->
		<!-- 								value="#{arkuszIPRZBean.arkusz.iprzOpis1}"> -->
		<!-- 								<p:ajax event="change" /> -->
		<!-- 							</cc:cInputTextAreaMDesign> -->
		<!-- 						</div> -->

		<!-- 						<div class="ui-g-12 ui-lg-6 ui-xl-6"> -->
		<!-- 							<cc:cInputTextAreaMDesign id="opis2Id" styleClass="lekka-ramka" -->
		<!-- 								cols="40" rows="3" label="Opis 2: " counter="lblOpis2" -->
		<!-- 								maxlength="2000" autoResize="true" -->
		<!-- 								value="#{arkuszIPRZBean.arkusz.iprzOpis2}"> -->
		<!-- 								<p:ajax event="change" /> -->
		<!-- 							</cc:cInputTextAreaMDesign> -->
		<!-- 						</div> -->

								<div class="ui-g-12 mt30" />



								<div class="ui-g-12">
									<cc:cInputTextAreaMDesign id="podsumowId"
										styleClass="lekka-ramka" cols="40" rows="3"
										label="Podsumowanie działań rozwojowych: "
										counter="lblPodsumowanie" maxlength="2000" autoResize="true"
										value="#{arkuszIPRZBean.arkusz.iprzPodsumowanie}"
										placeholder="wprowadź podsumowanie działań rozwojowych">
										<p:ajax event="change" />
									</cc:cInputTextAreaMDesign>
								</div>
								<div class="ui-g-12 mt10" />
							</div>
						</div>



						<div class="ui-g-12 p5">
							<div class="bg-fff p20">
								<h2 class="mt0">Szkolenia</h2>


								<cc:cLov
									datasource="#{arkuszIPRZBean.getLW('PPL_SZKOL_SPEC_LIST')}"
									multiselect="true" style="visibility:hidden" valueFormat="%2$s"
									lovTextFormat="%2$s" />

								<p:scrollPanel style="min-height:200px" id="panelSzkol">
									<div class="ui-g">

										<div class="ui-g-4">
												<p:outputLabel value="Temat szkolenia"
													styleClass="pogrubiony-normal" />
										</div>

										<div class="ui-g-2">
												<p:outputLabel value="Obszar wiedzy"
													styleClass="pogrubiony-normal" />
										</div>

										<div class="ui-g-3">
												<p:outputLabel value="Miejsce szkolenia"
													styleClass="pogrubiony-normal" />
										</div>

										<div class="ui-g-2">
												<p:outputLabel value="Typ szkolenia"
													styleClass="pogrubiony-normal" />
										</div>

										<div class="ui-g-1">
												<p:commandButton icon="add"
													id="btnAddSzkol"
													styleClass="pgSzkolSpec"
													partialSubmit="true" process="@this"
													action="#{arkuszIPRZBean.addNewSzkol()}"
													update="frmDlgSzkoleniaIPRZ"
													oncomplete="PF('zapisNaSzkolenieIPRZ').show();"
													/>
		<!-- 										disabled="#{arkuszIPRZBean.arkusz.szkoleniaBedaceSzkoleniamiWSluzbieCywilnej.size() gt 2}" -->
		<!-- 										<p:tooltip for="btnAddSzkol" value="Dodaj szkolenie (w tej częsci można dodać maksymalnie trzy szkolenia)..."/>											 -->
										</div>
									</div>

									<h:panelGroup id="pgSzkolSpec" styleClass="pgSzkolSpec">
										<div class="ui-g">

											<ui:repeat
												value='#{ arkuszIPRZBean.arkusz.szkoleniaBedaceSzkoleniamiWSluzbieCywilnej }'
												var="o" varStatus="status">

												<div class="ui-g-4">
													<cc:cInputTextMDesign value="#{o.pisTemat}"
														id="tematSzkoleniaId" readonly="true">
														<p:ajax event="change" />
													</cc:cInputTextMDesign>

												</div>

												<div class="ui-g-2">
														<cc:cInputTextMDesign
															value="#{arkuszIPRZBean.getSql('PPP_OS_OBSZAR_WIEDZY').findAndFormat(o.pisSspeObszarWiedzy, '%2$s')}"
															id="obszarWiedzyId" readonly="true">
															<p:ajax event="change" />
														</cc:cInputTextMDesign>
												</div>

												<div class="ui-g-3">
														<cc:cInputTextMDesign value="#{o.pisMiejsceSzkol}"
															id="miejsceSzkolId" readonly="true">
															<p:ajax event="change" />
														</cc:cInputTextMDesign>
												</div>

												<div class="ui-g-2">
													<cc:cInputTextMDesign
														value="#{o.pisFCzyRejestr eq 'T'?'Spoza rejestru':
															o.pisSzkPowszech eq 'T'?'Powszechne':'Specjalistyczne' }"
														id="typSzkoleniaId" readonly="true">
														<p:ajax event="change" />
													</cc:cInputTextMDesign>
												</div>

												<div class="ui-g-1">
														<p:commandButton id="btnEdit" icon="edit"
															partialSubmit="true" process=" @this"
															action="#{arkuszIPRZBean.setCurrentSzkolSpec(o)}"
															update=" frmDlgSzkoleniaIPRZ"
															oncomplete="PF('zapisNaSzkolenieIPRZ').show();" />

														<p:commandButton icon="delete" update="frm2:panelSzkol"
															partialSubmit="true" process="frm2:panelSzkol"
															action="#{ arkuszIPRZBean.arkusz.removeOstPlanIndyw(o) }" />


												</div>

											</ui:repeat>
										</div>
									</h:panelGroup>

									<br />
								</p:scrollPanel>
							</div>
						</div>

						<div class="ui-g-12 p5">
							<div class="bg-fff p20 mb10">
								<h2 class="mt0">Szkolenia niebędące szkoleniami w służbie cywilnej</h2>

<!--								<cc:cLov datasource="#{arkuszIPRZBean.getLW('PPL_SZKOL_NIE_SC')}"-->
<!--									multiselect="true" style="visibility:hidden" valueFormat="%2$s"-->
<!--									lovTextFormat="%2$s" />-->

								<p:scrollPanel style="min-height:150px ; min-width:200px"
									id="panelNiecywilne">
									<div class="ui-g">

										<div class="ui-g-5">
												<p:outputLabel value="Nazwa" styleClass="pogrubiony-normal" />
										</div>

										<div class="ui-g-5">
												<p:outputLabel value="Temat" styleClass="pogrubiony-normal" />
										</div>

										<div class="ui-g-2">
												<p:commandButton width="10%"
													actionListener="#{arkuszIPRZBean.addSzkolenieNiecywilne()}"
													update="panelNiecywilne" icon="add" />
										</div>
									</div>

									<h:panelGroup id="pgNiecywilneKom" styleClass="pgNiecywilneKom">


										<ui:repeat
											value='#{ arkuszIPRZBean.arkusz.szkoleniaNiebedaceSzkoleniamiWSluzbieCywilnej }'
											var="o" varStatus="status">
											<div class="ui-g">
												<div class="ui-g-5">
													<cc:cSOMMDesign id="idSzkolNazwa" emptyLabel="Wybierz nazwę"
														datasource="#{arkuszIPRZBean.getLW('PPL_SZKOL_NIE_SC')}"
														value="#{o.pisOfId}" />
												</div>
												<div class="ui-g-5">
													<cc:cInputTextMDesign value="#{o.pisTemat}"
														id="typSzkoleniaNiecywilnegoTemat" readonly="false">
														<p:ajax event="change" />
													</cc:cInputTextMDesign>
												</div>
												<div class="ui-g-2">
													<p:commandButton icon="delete" update="frm2:panelNiecywilne"
														partialSubmit="true" process="frm2:panelNiecywilne"
														action="#{arkuszIPRZBean.arkusz.removeOstPlanIndyw(o) }" />
												</div>
											</div>
										</ui:repeat>

									</h:panelGroup>

									<br />
								</p:scrollPanel>
							</div>
						</div>

						<p:commandButton value="Zapisz" id="zapiszId" class="btn-dark"
							style="position: fixed; right: 20px; bottom: 25px;"
							partialSubmit="true" process="@this frm2"
							action="#{arkuszIPRZBean.zapisz()}" />

					</h:form>
				</div>

		</ui:define>

	</ui:composition>

</h:body>

</html>
