<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://java.sun.com/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Raporty IPRZ" />
		<ui:define name="egr_content">

			<h:form id="frmTMnu" styleClass="p5 pl20 bg-lgrey">
				<p:commandButton value="drukuj raport" id="wydRapId" icon="print"
					style="min-width:80px"
					onclick="form.target = '_blank'" actionListener="#{raportyBean.drukuj()}"
					ajax="false"
					>
				</p:commandButton>
			</h:form>

			<div class="p20 bg-lgrey" style="height: 100vh; overflow-y: auto; overflow-x: auto !important;">
				<h:form styleClass="bg-white-100">
					
					#{raportyBean.loadEgListaWartosci('PPL_IPR_PARAMETRY_RAPORTY', [293287])}
					#{raportyBean.setIdRaportu(293287)}
					#{raportyBean.ustawParametry()}


					<cc:cTable datasource="#{raportyBean.parametry}"
						smallHeaders="true">

						<p:column headerText="Parametry"
							style="min-width:450px!important" styleClass="ciem-niebieski">
							<p:outputLabel value="#{o.etykieta}" />
						</p:column>

						<p:column headerText="Wartość"
							style="padding-bottom: 10px;  padding-top: 10px;"
							styleClass="ciem-niebieski">


								#{raportyBean.loadEgListaWartosci(o.lovName, ['%', '%', '%', '%', '%'])}
								<cc:cLOVMDesign id="typOcenyId"
									lovDlgTitle="Lista wartości:" width="270" value="#{o.value}"
									lovTextFormat="%1$s"
									datasource="#{raportyBean.getLW(o.lovName)}" />
						</p:column>

					</cc:cTable>
					
				</h:form>	
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
