<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista arkuszy IPRZ" />

		<ui:define name="egr_content">

			<h:form styleClass="p5 pl20 pr20 bg-fff bb1">
				<p:commandButton
						id="nowyArkuszId"
						styleClass="granatowy bsh1gray"
						value="Dodaj arkusz"
					    action="#{listaArkuszyIPRZBean.dodajNowyArkusz}"/>
			</h:form>

			#{listaArkuszyIPRZBean.loadEgListaWartosci('PP_IPRZ_LISTA',  [user.dbLogin] )}

<!--			<div class="d-flex-1 p20 pt10 bg-lgrey" style="height: calc(100vh - 170px);">-->
				<h:form id="spla" styleClass="bg-fff m20i p20 flex-1">
					<c:cLookupTable
						datasource="#{listaArkuszyIPRZBean.getSql('PP_IPRZ_LISTA')}"
						editRowPage="ArkuszIPRZ"
					/>

				</h:form>

<!--			</div>-->

		</ui:define>
	</ui:composition>
</body>
</html>