<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista arkuszy IPRZ - filtrowanie" />

		<ui:define name="egr_content">
			<h:form styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20 d-flex flex-wrap">

				<p:commandButton value="Wyszukaj" update="@(.pgLista)"
					process="@all"
					actionListener="#{listaArkuszyIPRZBean.wyszukaj()}"
					icon="search" />

			</h:form>

			<h:form styleClass="d-flex-1-column ov-auto m20i p20 bg-fff bsh2black">

				<div class="debug">lov: PPL_IPR_IPRZ_FILTROWANE</div>

				<div class="d-flex-column pb20">
					<h2>Filtry</h2>
					<div class="pgFiltr d-flex flex-wrap">

						<div class="d-flex">
								<c:cCalendarMDesign label="Data obowiązywania od:"
									value="#{listaArkuszyIPRZBean.dataObOd}">
								</c:cCalendarMDesign>
								<p:commandButton icon="cancel" id="wyczyscDataOd"
									actionListener="#{listaArkuszyIPRZBean.wyczyscDataOd()}"
									update="@(.pgLista) @(.pgFiltr)" />
								<p:tooltip for="wyczyscDataOd" value="Wyczyść datę od" />
						</div>
						<div class="d-flex">
								<c:cCalendarMDesign label="Data obowiązywania do:"
									value="#{listaArkuszyIPRZBean.dataObDo}">
								</c:cCalendarMDesign>
								<p:commandButton icon="cancel" id="wyczyscDateDo"
									actionListener="#{listaArkuszyIPRZBean.wyczyscDataDo()}"
									update="@(.pgLista) @(.pgFiltr)" />
								<p:tooltip for="wyczyscDateDo" value="Wyczyść datę do" />
						</div>
						<div class="d-flex">
								<c:cLOVMDesign
									datasource="#{listaArkuszyIPRZBean.getLW('PP_JEDNOSTKI')}"
									value="#{listaArkuszyIPRZBean.obId}" valueFormat="%1$s"
									lovTextFormat="%2$s" label="Jednostka organizacyjna"/>
						</div>

					</div>
				</div>
				<p:outputPanel styleClass="flex-1 pgLista">

					<c:cLookupTable
						datasource="#{listaArkuszyIPRZBean.getLW('PPL_IPR_IPRZ_FILTROWANE',  [listaArkuszyIPRZBean.obId,
								 listaArkuszyIPRZBean.strDataOd, listaArkuszyIPRZBean.strDataOd,listaArkuszyIPRZBean.strDataOd, listaArkuszyIPRZBean.strDataDo,listaArkuszyIPRZBean.strDataDo,
								 listaArkuszyIPRZBean.strDataDo] )}"
						editRowPage="ArkuszIPRZ" />
				</p:outputPanel>
			</h:form>

		</ui:define>
	</ui:composition>
</body>
</html>