<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"

      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>
    <ui:composition
            template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
        <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
        <ui:param name="formName" value="Telefony MF"/>
        <ui:define name="egr_content">


            <h:form styleClass="bg-fff bsh1black m20i p20 flex-1">

                <cc:cLookupTable styleClass="dane"
                                 datasource="#{wyszukiwanieMFFiltrBean.przypisaniaTelefonow}"
                                 generateColumns="false" autofocus="false"
                >

                    <p:column headerText="Typ" styleClass="w150 darker_blue"
                              sortBy="#{row.get('TYP')}">
                        <p:commandLink styleClass="ctl-oLink"
                                       action="#{wyszukiwanieMFFiltrBean.setFilterTyp(row.get('TYP'))}"
                                       partialSubmit="true" process="@this" update="@(.dane) @(.Typ)"
                                       onstart="showHourGlass()" oncomplete="hideHourGlass()">
                            <h:outputText value="#{row.get('TYP')}"/>
                        </p:commandLink>
                    </p:column>

                    <p:column headerText="Nazwa" styleClass="w300 tresc_pracownik"
                              sortBy="#{row.get('NAZWA')}">
                        <p:commandLink styleClass="ctl-oLink">
                            <h:outputText value="#{row.get('NAZWA')}"/>
                        </p:commandLink>
                    </p:column>

                    <p:column headerText="Lokalizacja" styleClass="w300 darker_blue"
                              sortBy="#{row.get('Lokalizacja')}">
                        <p:commandLink styleClass="ctl-oLink"
                                       action="#{wyszukiwanieMFFiltrBean.setFilterLokalizacja(row.get('Lokalizacja'))}"
                                       partialSubmit="true" process="@this" update="@(.dane) @(.Lokalizacja)"
                                       onstart="showHourGlass()" oncomplete="hideHourGlass()">
                            <h:outputText value="#{row.get('Lokalizacja')}"/>
                        </p:commandLink>
                    </p:column>

                    <p:column headerText="Numer telefonu" styleClass="w150 darker_blue"
                              sortBy="#{row.get('NT_NUMER_TELEFONU')}">
                        <p:commandLink styleClass="ctl-oLink"
                                       action="#{wyszukiwanieMFFiltrBean.setFilterNumer(row.get('NT_NUMER_TELEFONU'))}"
                                       partialSubmit="true" process="@this" update="@(.dane) @(.NrTelefonu)"
                                       onstart="showHourGlass()" oncomplete="hideHourGlass()">
                            <h:outputText value="#{row.get('NT_NUMER_TELEFONU')}"/>
                        </p:commandLink>
                    </p:column>

                    <p:column headerText="Rodzaj telefonu" styleClass="w150 darker_blue"
                              sortBy="#{row.get('RODZAJ')}">
                        <p:commandLink styleClass="ctl-oLink"
                                       action="#{wyszukiwanieMFFiltrBean.setFilterRodzaj(row.get('RODZAJ'))}"
                                       partialSubmit="true" process="@this" update="@(.dane) @(.Rodzaj)"
                                       onstart="showHourGlass()" oncomplete="hideHourGlass()">
                            <h:outputText value="#{row.get('RODZAJ')}"/>
                        </p:commandLink>
                    </p:column>

                </cc:cLookupTable>


            </h:form>


        </ui:define>
    </ui:composition>
</h:body>
</html>

