<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Telefony MF" />
		<ui:define name="egr_content">

				<h:form styleClass="bg-fff bsh2black m20i p20 flex-1">

					<cc:cLookupTable
						datasource="#{telefonyMFBean.getLW('PPL_KS_TEL_MF')}"
						generateColumns="false" >

							<p:column width="#{cc.attrs.datasource.getColWidth('NAZWA')}"
								sortBy="#{Nazwa}" rendered="#{'N' eq cc.attrs.datasource.getColumn('NAZWA').lstFUkryte}">

								<f:facet name="header">
									<h:outputText id="colNzwHdr" value="Pracownik / Nazwa"
										title="#{cc.attrs.datasource.getColHeaderTooltip('NAZWA')}" />
								</f:facet>

<!--									<h:outputText styleClass="ctl-oLink" value="#{row.get('Nazwa')}" />-->

								<p:commandLink styleClass="ctl-oLink"
											   action="#{telefonyMFBean.getLW('PPL_KS_TEL_MF').setColFilter('NAZWA', row.get('NAZWA'), false, true )}"
											   partialSubmit="true" process="@this"
											   update="@form"
											   onstart="hgon()" oncomplete="hgoff()">
									<h:outputText value="#{row.get('NAZWA')}" />
								</p:commandLink>

							</p:column>

							<p:column headerText="Numer telefonu" width="#{cc.attrs.datasource.getColWidth('NT_NUMER_TELEFONU')}"
								sortBy="#{NT_NUMER_TELEFONU}" rendered="#{'N' eq cc.attrs.datasource.getColumn('NT_NUMER_TELEFONU').lstFUkryte}">

								<p:commandLink styleClass="ctl-oLink"
										action="#{telefonyMFBean.getLW('PPL_KS_TEL_MF').setColFilter('NT_NUMER_TELEFONU', row.get('NT_NUMER_TELEFONU'), false, true )}"
										partialSubmit="true" process="@this"
										update="@form"
										onstart="hgon()" oncomplete="hgoff()">
									<h:outputText value="#{row.get('NT_NUMER_TELEFONU')}" />
								</p:commandLink>

							</p:column>

							<p:column headerText="Departament" width="#{cc.attrs.datasource.getColWidth('Departament')}"
								sortBy="#{Departament}" rendered="#{'N' eq cc.attrs.datasource.getColumn('Departament').lstFUkryte}">

								<p:commandLink styleClass="ctl-oLink"
										action="#{telefonyMFBean.getLW('PPL_KS_TEL_MF').setColFilter('Departament', row.get('Departament'), false, true )}"
										partialSubmit="true" process="@this"
										update="@form"
										onstart="hgon()" oncomplete="hgoff()">
									<h:outputText value="#{row.get('Departament')}" />
								</p:commandLink>

							</p:column>

							<p:column headerText="Wydział" width="#{cc.attrs.datasource.getColWidth('Wydzial')}"
								sortBy="#{wydzial}" rendered="#{'N' eq cc.attrs.datasource.getColumn('Wydzial').lstFUkryte}">

								<p:commandLink styleClass="ctl-oLink"
										action="#{telefonyMFBean.getLW('PPL_KS_TEL_MF').setColFilter('wydzial', row.get('wydzial'), false, true )}"
										partialSubmit="true" process="@this"
										update="@form"
										onstart="hgon()" oncomplete="hgoff()">
									<h:outputText value="#{row.get('wydzial')}" />
								</p:commandLink>

							</p:column>

							<p:column headerText="Stanowisko" width="#{cc.attrs.datasource.getColWidth('Stanowisko')}"
								sortBy="#{Stanowisko}" rendered="#{'N' eq cc.attrs.datasource.getColumn('Stanowisko').lstFUkryte}">

								<p:commandLink styleClass="ctl-oLink"
										action="#{telefonyMFBean.getLW('PPL_KS_TEL_MF').setColFilter('Stanowisko', row.get('Stanowisko'), false, true )}"
										partialSubmit="true" process="@this"
										update="@form"
										onstart="hgon()" oncomplete="hgoff()">
									<h:outputText value="#{row.get('Stanowisko')}" />
								</p:commandLink>

							</p:column>

							<p:column headerText="Typ" width="#{cc.attrs.datasource.getColWidth('TYP')}"
								sortBy="#{Typ}" rendered="#{'N' eq cc.attrs.datasource.getColumn('TYP').lstFUkryte}">

								<p:commandLink styleClass="ctl-oLink"
										action="#{telefonyMFBean.getLW('PPL_KS_TEL_MF').setColFilter('Typ', row.get('Typ'), false, true )}"
										partialSubmit="true" process="@this"
										update="@form"
										onstart="hgon()" oncomplete="hgoff()">
									<h:outputText value="#{row.get('Typ')}" />
								</p:commandLink>

							</p:column>


							<p:column headerText="Rodzaj" width="#{cc.attrs.datasource.getColWidth('RODZAJ')}"
								sortBy="#{Rodzaj}" rendered="#{'N' eq cc.attrs.datasource.getColumn('RODZAJ').lstFUkryte}">

								<p:commandLink styleClass="ctl-oLink"
										action="#{telefonyMFBean.getLW('PPL_KS_TEL_MF').setColFilter('Rodzaj', row.get('Rodzaj'), false, true )}"
										partialSubmit="true" process="@this"
										update="@form"
										onstart="hgon()" oncomplete="hgoff()">
									<h:outputText value="#{row.get('Rodzaj')}" />
								</p:commandLink>

							</p:column>

							<p:column headerText="Nr pokoju" width="#{cc.attrs.datasource.getColWidth('nr_pokoju')}"
								sortBy="#{nr_pokoju}" rendered="#{'N' eq cc.attrs.datasource.getColumn('nr_pokoju').lstFUkryte}">

								<p:commandLink styleClass="ctl-oLink"
										action="#{telefonyMFBean.getLW('PPL_KS_TEL_MF').setColFilter('nr_pokoju', row.get('nr_pokoju'), false, true )}"
										partialSubmit="true" process="@this"
										update="@form"
										onstart="hgon()" oncomplete="hgoff()">
									<h:outputText value="#{row.get('nr_pokoju')}" />
								</p:commandLink>

							</p:column>

							<p:column headerText="Nazwisko" width="#{cc.attrs.datasource.getColWidth('nazwisko')}"
								sortBy="#{Nazwisko}" rendered="#{'N' eq cc.attrs.datasource.getColumn('nazwisko').lstFUkryte}">
									<p:commandLink styleClass="ctl-oLink"
										action="#{telefonyMFBean.getLW('PPL_KS_TEL_MF').setColFilter('nazwisko', row.get('nazwisko'), false, true )}"
										partialSubmit="true" process="@this"
										update="@form"
										onstart="hgon()" oncomplete="hgoff()">
											<h:outputText  value="#{row.get('nazwisko')}" />
									</p:commandLink>
							</p:column>

							<p:column headerText="Imię" width="#{cc.attrs.datasource.getColWidth('imie')}"
								sortBy="#{imie}" rendered="#{'N' eq cc.attrs.datasource.getColumn('imie').lstFUkryte}">
								<p:commandLink styleClass="ctl-oLink"
										action="#{telefonyMFBean.getLW('PPL_KS_TEL_MF').setColFilter('imie', row.get('imie'), false, true )}"
										partialSubmit="true" process="@this"
										update="@form"
										onstart="hgon()" oncomplete="hgoff()">
									<h:outputText value="#{row.get('imie')}" />
								</p:commandLink>
							</p:column>

					</cc:cLookupTable>

				</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>

