<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">



	<f:metadata>

	</f:metadata>

	<p:dialog id="dlgHistoriaObieguId"
			  widgetVar="dlgHistoriaObiegu"
			  rendered="#{obiegBean.idEncji != null}"
			  dynamic="false"
			  appendTo="@(body)" modal="true" closeOnEscape="true" draggable="true"
			  resizable="false" width="1000"
	>
	
	
			<f:facet name="header">
				<h:form id="frmDlgObiegHistHdr">
					<p:panelGrid style="width:100%">
						<p:column styleClass="DlgHdrText">
							<h:outputText value="Historia obiegu:" />
						</p:column>
						<p:column styleClass="r10">
							<p:commandButton id="btAnuluj" styleClass="btnDlg" icon="close"
								process="@none" 
								onclick="
									PF('dlgHistoriaObiegu').hide();
									">
							</p:commandButton>
						</p:column>
					</p:panelGrid>
				</h:form>
			</f:facet>
	
			<h:form id="frmDlgObiegHist" class="frmDlg" styleClass="dlg-obiegi-table">
	
					<cc:cLookupTable id="clkptbl1"
									 height="400px"
									 hideHeaders="false"
									 datasource="#{obiegBean.lwPplWspHistoriaObiegu}"
									 defaultDateFormat="yyyy-MM-dd HH:mm"
									 update="@(.opisCzHist)">
					</cc:cLookupTable>

<!-- 				<div style="width: 100%" class="right"> -->
<!-- 					<p:commandButton id="btDrukuj" value="Drukuj historię..." icon="print" styleClass="granatowy p5"> -->
<!-- 						<p:printer target="frmDlgObiegHistWydr" /> -->
<!-- 					</p:commandButton> -->

					<!--				<p:commandButton value="test" update="pnlHistoriaWydruk"/>-->

<!-- 				</div> -->
			</h:form>


<!--		<h:panelGroup id="pnlHistoriaWydruk" style="position: absolute; z-index: -999; height: 0px; width: 0px; overflow: auto;"  class="bsh1 p0 m0">-->
<!--			<h:form id="frmDlgObiegHistWydr" styleClass="frmDlg ui-g" >-->

<!--				<div class="ui-g ui-g-12">-->

<!--					<p:separator styleClass="p0 ui-g-12 m0"/>-->
<!--					<p:outputLabel for="@parent" value="HISTORIA OBIEGU / KATEGORIA:  #{obiegBean.kategoriaObiegu} / ENCJA: #{obiegBean.idEncji}" styleClass="fs18 ui-g-12 center"/>-->
<!--					<p:separator styleClass="p0 ui-g-12 m0"/>-->

<!--					<ui:repeat var="o" value="#{obiegBean.lwPplWspHistoriaObiegu.getData()}">-->

<!--						<cc:cInputTextMDesign readonly="true"-->
<!--											  value="#{not empty o.get(4) ? o.get(4) : 'Rozpoczęcie obiegu'}"-->
<!--											  label="Wykonana czynność"   styleClass="ui-g-12 mt10"/>-->

<!--						<cc:cInputTextMDesign readonly="true"-->
<!--											  value="#{v.format(o.get(1),'yyyy-MM-dd HH:mm:ss')}"-->
<!--											  label="Data i godzina wykonania" styleClass="ui-g-4"/>-->

<!--						<cc:cInputTextMDesign readonly="true"-->
<!--											  value="#{o.get(2)}"-->
<!--											  label="Użytkownik" styleClass="ui-g-4"/>-->

<!--						<cc:cInputTextMDesign readonly="true"-->
<!--											  value="#{o.get(13)}"-->
<!--											  label="Nazwisko i imię" styleClass="ui-g-4" />-->

<!--						<cc:cInputTextMDesign readonly="true"-->
<!--											  value="#{o.get(14)}"-->
<!--											  label="Komórka organizacyjna" styleClass="ui-g-4" />-->

<!--						<cc:cInputTextMDesign readonly="true"-->
<!--											  value="#{o.get(15)}"-->
<!--											  label="Stanowisko" styleClass="ui-g-8"/>-->

<!--						<cc:cInputTextMDesign readonly="true" rendered="#{not empty o.get(3)}"-->
<!--											  value="#{o.get(3)}"-->
<!--											  label="Komentarz do czynności" styleClass="ui-g-12" />-->

<!--						<p:separator styleClass="p0 ui-g-12 m0 mt10"/>-->
<!--					</ui:repeat>-->

<!--				</div>-->

<!--			</h:form>-->
<!--		</h:panelGroup>-->


	</p:dialog>


</ui:composition>