<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">



	<f:metadata>
	
	</f:metadata>

	<p:dialog id="dlgObiegCzynnosciId"
			  widgetVar="dlgObiegCzynnosci"
			  rendered="#{obiegBean.idEncji != null}"
			  dynamic="false"
			  appendTo="@(body)" modal="true"
			  closeOnEscape="true" draggable="true" resizable="false"
			  width="1000"
			  styleClass="dlg-flex"
			  style="max-width: 100vw!important; max-height: 100vh!important;"
	>
	

			<f:facet name="header">
				<h:form id="frmDlgObiegHdr" styleClass="obieg d-flex">

					<h:outputText value="Obieg / zmiana stanu: "/>

					<p:commandButton id="btAnuluj"
									 styleClass="txt-white mmw40 fs30 mlauto"
									 icon="close"
									 process="@none"
									 onclick="PF('dlgObiegCzynnosci').hide(); return false;"
					/>

				</h:form>
			</f:facet>
						
			<h:form id="frmDlgObieg" styleClass="obieg d-flex-1-column" style="height:400px; max-height: calc(100vh - 40px)!important;">

				<cc:cLookupTable  id="clkptbl"
								  checkOneRow="true"
								  datasource="#{obiegBean.czynnosci}"
								  scrollWidth="100%"
								  showSearchField="false"
								  insertChildrenFirst="false"
								  generateColumns="false"
								  value="#{obiegBean.czynnoscDoWykonania}">

					<p:column width="840" headerText="#{obiegBean.czynnosci.size() eq 1 ? 'Czynność' : 'Czynności'} do wykonania / stan docelowy:">
							<label class="p0 fs16 txt-vdblue" style="white-space:normal!important;">#{row.get('cdw_nazwa')}</label>
							<br/>
							<i class="material-icons fs12 txt-lgrey p0">arrow_forward</i>
							<label class="p0 fs16" style="white-space:normal!important;">#{row.get('DSTN_OPIS')}</label>
					</p:column>

				</cc:cLookupTable>


	
				<cc:cInputTextArea
						id="opisCzId"
						label="Komentarz:"
						value="#{obiegBean.opisCzynnosciDoWykonania}" placeholder="wprowadź komentarz"
						rows="2"
						maxlength="2000"
						styleClass="mt10"
				/>


				<h:panelGroup id="frmDlgObiegFtr" styleClass="obieg right mt15 d-flex a-i-center" >
					<div class="mlauto"/>
					<p:commandButton id="btnusunDaneObieguId"
									 styleClass="granatowy ml20 p5"
									 rendered="#{user.admin}"

									 value="USUŃ DANE OBIEGU" action="#{obiegBean.usunDaneObiegu}"

									 partialSubmit="true" process="frmDlgObieg @this"

									 oncomplete="
												PF('dlgObiegCzynnosci').hide();
												updateObieg();"
					/>

					<p:commandButton id="btnWykonajCzynnoscId1"
									 styleClass="granatowy ml20 p5"
									 value="WYKONAJ CZYNNOŚĆ" action="#{obiegBean.wykonajCzynnosc}"
									 disabled="#{empty obiegBean.czynnoscDoWykonania}"
									 partialSubmit="true" process="@form frmDlgObieg"

									 onclick="hgon();PF('dlgObiegCzynnosci').hide();"
									 oncomplete="
											updateObieg();
											var ifrm = parent.document.getElementById('ifrmEgrMsgs');
											if (ifrm != null) {
												ifrm.contentWindow.rcProcessNewMsgs();
											}
											hgoff();"

					/>

				</h:panelGroup>

			</h:form>

	</p:dialog>

</ui:composition>