<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<![CDATA[
#{odwolanieOdOcenyBean.loadSqlData('sqlOkresyOceny', 
		'	
		select 
  			OOC_ID            pp_ooc_id,
  			OOC_NAZWA         pp_ooc_nazwa
		from OCT_OKRESY_OCENY
	
',  []
)}
]]>



	<p:dialog header="Odwolanie od oceny"
		widgetVar="dlgOdwolanieOdOceny" appendTo="@(body)" modal="true"
		closeOnEscape="true" draggable="true" resizable="false"
		id="dlgOdwolanieOdOcenyId" classStyle="ctl-dialog">

		<h:form id="formDlgOdwolanieOdOcenyId">

			<p:growl id="growl" showDetail="true"
				rendered="#{not facesContext.validationFailed}" />

			<p:panelGrid>
				<!-- (Content) Pairs: Label - Input -->
				<!-- _DIALOG_NAME_ - nazwa okna dialogowego -->
				<!-- _FORM_NAME_ - nazwa formularza wykorzystującego okno dialogowe -->
			</p:panelGrid>
			<p:panelGrid columns="2" columnClasses="w200, w300" styleClass=" mt10 w300  h200">
				Ocena:
				<p:selectOneMenu id="ocenaListId" filter="true" value="#{odwolanieOdOcenyBean.selectedOkres}"
					filterMatchMode="startsWith" style="width:275px">
					<f:selectItem itemLabel="Wybierz ocenę" itemValue="" />
					<f:selectItems value="#{odwolanieOdOcenyBean.okresyOceny}" />
					<p:ajax event="change" />
				</p:selectOneMenu>

                Uwagi:
                <p:inputTextarea rows="5" cols="40" counter="display"
                value="#{odwolanieOdOcenyBean.uwagiPrac}"
					maxlength="2000" counterTemplate="Pozostało {0} znaków."
					autoResize="true">
					<p:ajax event="change" />
					</p:inputTextarea>
				<h:outputText id="display" />
			</p:panelGrid>
			<p:panelGrid styleClass="ctl-dialog-buttons">

				<p:column>

					<p:commandButton id="btAnuluj" value="#{dic.EGR70017_anuluj}"
						update="formDlgOdwolanieOdOcenyId" process="@this"
						oncomplete="PF('dlgOdwolanieOdOceny').hide();">

						<p:resetInput target="formDlgOdwolanieOdOcenyId" />

					</p:commandButton>

				</p:column>

				 	<p:column>

					<p:commandButton id="btZapisz" value="Zapisz"
                        update="formDlgOdwolanieOdOcenyId" process="@this"
                        oncomplete="location.reload();">
                        <p:ajax listener="#{odwolanieOdOcenyBean.confirmAction}" />
                    </p:commandButton>


				</p:column> 

			</p:panelGrid>

		</h:form>

	</p:dialog>

</ui:composition>