<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">


	<p:dialog header="Decyzja końcowa" id="dlgOpiniaKoncowaId"
		widgetVar="dlgOpiniaKoncowa" appendTo="@(body)" modal="true"
		closeOnEscape="true" draggable="true" resizable="false"
		classStyle="ctl-dialog">

		<h:form id="formdlgOpiniaKoncowa">

			<p:panelGrid columns="2" columnClasses="w300, w300"
				styleClass="mt10 w400  h50">
					Decyzja:
					<p:selectOneMenu id="decisionSelectId" style="width:275px"
					value="#{odwolanieOdOcenyBean.opiniaKoncowa}">
					<p:ajax event="change" />
					<f:selectItem itemLabel="" itemValue="" />
					<f:selectItem itemLabel="Zatwierdzenie oceny" itemValue="Y" />
					<f:selectItem itemLabel="Powtórzenie oceny" itemValue="N" />
				</p:selectOneMenu>

			</p:panelGrid>

			<p:panelGrid styleClass="ctl-dialog-buttons">

				<p:column>
					<p:commandButton id="btZatwierdz" value="Zatwierdź"
						styleClass="btnDlg" oncomplete="PF('dlgOpiniaKoncowa').hide();">
						<p:ajax listener="#{odwolanieOdOcenyBean.zapiszOpinieKoncowa()}"
							render="formSzk" oncomplete="location.reload();" />
					</p:commandButton>
				</p:column>

				<p:column>
					<p:commandButton id="btAnuluj" value="#{dic.EGR70017_anuluj}"
						styleClass="btnDlg" process="@this"
						oncomplete="PF('dlgOpiniaKoncowa').hide();">
						<p:resetInput target="formdlgOpiniaKoncowa" />
					</p:commandButton>
				</p:column>
			</p:panelGrid>
		</h:form>

	</p:dialog>


</ui:composition>