<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">


	<p:dialog header="Uwagi kierownika" id="dlgUwagiKierownikaId"
		widgetVar="dlgUwagiKierownika" appendTo="@(body)" modal="true"
		closeOnEscape="true" draggable="true" resizable="false"
		classStyle="ctl-dialog">

		<h:form id="formdlgUwagiKierownika" style="width:850px; height:250px;">
			<p:column>
				<p:inputTextarea id="uzasadnienieId" rows="4" cols="30"
					counter="display" maxlength="2000"
					counterTemplate="Pozostało {0} znaków." autoResize="false"
					value="#{odwolanieOdOcenyBean.uwagiKierownika}">
					<p:ajax event="change" />
				</p:inputTextarea>
				<h:outputText id="display" />
			</p:column>

			<p:panelGrid styleClass="ctl-dialog-buttons">

				<p:column>
					<p:commandButton id="btZatwierdz" value="Zatwierdź"
						styleClass="btnDlg" oncomplete="PF('dlgUwagiKierownika').hide();">
						<p:ajax listener="#{odwolanieOdOcenyBean.zapiszUwagiKierownika()}"
							render="formSzk" oncomplete="location.reload();" />
					</p:commandButton>
				</p:column>

				<p:column>
					<p:commandButton id="btAnuluj" value="#{dic.EGR70017_anuluj}"
						styleClass="btnDlg" process="@this"
						oncomplete="PF('dlgUwagiKierownika').hide();">
						<p:resetInput target="formdlgUwagiKierownika" />
					</p:commandButton>
				</p:column>
			</p:panelGrid>
		</h:form>

	</p:dialog>


</ui:composition>