<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:dialog header="Dodawanie wniosku rekrutacyjnego"
		id="dlgWniosekRekrutacyjnyDodajId"
		widgetVar="dlgWniosekRekrutacyjnyDodaj" appendTo="@(body)"
		modal="true" closeOnEscape="true" draggable="true" resizable="false"
		classStyle="ctl-dialog">

		<h:form id="formdlgWniosekRekrutacyjnyDodaj"
			style="width:650px; height:400px;">

			<p:panelGrid columns="2">
				Data wniosku
				<h:inputText value="#{wniosekORekrutacjeBean.todaysDate}"
					converter="mycnv" />
				
				Stanowisko
				<h:selectOneMenu value="#{wniosekORekrutacjeBean.stanowisko}">
					<f:selectItem itemLabel="Wybierz stanowisko" />
					<f:selectItems value="#{wniosekORekrutacjeBean.stanowiska}" />
					<p:ajax event="change" />
				</h:selectOneMenu>
				
				Ilość etatów
				<p:selectOneMenu id="workTime"
					style="width: 50px" value="#{wniosekORekrutacjeBean.etaty}">
					<p:ajax partialSubmit="true" event="change" />
					<f:selectItem itemLabel="Wybierz ilość"/>
					<f:selectItems value="#{wniosekORekrutacjeBean.workTime}" />
				</p:selectOneMenu>
				
				Uwagi
				<p:inputTextarea id="uzasadnienieId" rows="4" cols="100"
					maxlength="200" autoResize="false" styleClass="unresizable"
					counter="display" counterTemplate="Pozostało {0} znaków."
					style="resize: none; min-width:400px;"
					value="#{wniosekORekrutacjeBean.uwagi}">
					<p:ajax partialSubmit="true" event="change" />
				</p:inputTextarea>
				<h:outputText id="display" />

			</p:panelGrid>

			<p:panelGrid styleClass="ctl-dialog-buttons">

				<p:column>
					<p:commandButton id="btZatwierdz" value="Zatwierdź"
						styleClass="btnDlg"
						oncomplete="PF('dlgWniosekRekrutacyjnyDodaj').hide();">
						<p:ajax listener="#{wniosekORekrutacjeBean.dodajWniosek()}"
							oncomplete="location.reload();" />
					</p:commandButton>
				</p:column>

				<p:column>
					<p:commandButton id="btAnuluj" value="#{dic.EGR70017_anuluj}"
						styleClass="btnDlg" process="@this"
						oncomplete="PF('dlgWniosekRekrutacyjnyDodaj').hide();">
						<p:resetInput target="formdlgWniosekRekrutacyjnyDodaj" />
					</p:commandButton>
				</p:column>
			</p:panelGrid>
		</h:form>

	</p:dialog>


</ui:composition>