<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:dialog header="#{dic.LBL10005_zmiana_hasla}"
		widgetVar="dlgFZmianaHasla" appendTo="@(body)" modal="true"
		closeOnEscape="true" draggable="true" resizable="false"
		id="dlgFZmianaHasla" styleClass="ctl-dialog">

		<h:form id="formDlgFZmianaHasla">

			<p:panelGrid id="formZmianaHasla">
				<p:row>
					<p:column>
						<h:outputLabel for="stareHsalo"
							value="#{dic.LBL10006_stare_haslo}" />
					</p:column>

					<p:column colspan="2">
						<p:inputText id="stareHsalo" value="#{zmianaHaslaBean.stareHaslo}"
							type="password" style="width: 200px;" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="noweHsalo" value="#{dic.LBL10007_nowe_haslo}" />
					</p:column>

					<p:column colspan="2">
						<p:inputText id="noweHsalo" value="#{zmianaHaslaBean.noweHaslo}"
							type="password" style="width: 200px;" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="potwNoweHsalo"
							value="#{dic.LBL10008_pot_nowego_hasla}" />
					</p:column>

					<p:column colspan="2">
						<p:inputText id="potwNoweHsalo"
							value="#{zmianaHaslaBean.potwNoweHaslo}" type="password"
							style="width: 200px;" />
					</p:column>
				</p:row>

				<p:row styleClass="ctl-message-error">
					<p:column colspan="3">
						<p:messages id="messages" showIcon="false" showSummary="false"
							showDetail="true" closable="true"
							style="max-width: 390px" >
							<p:autoUpdate/>
						</p:messages>
					</p:column>
				</p:row>

			</p:panelGrid>

			<p:panelGrid styleClass="ctl-dialog-buttons">

				<p:column>
					<p:commandButton id="btAnuluj" value="#{dic.EGR70017_anuluj}"
						process="@this" oncomplete="PF('dlgFZmianaHasla').hide();">

					</p:commandButton>
				</p:column>

				<p:column>

					<p:commandButton id="btZatwierdz" value="#{dic.EGR70016_zatwierdz}"
						actionListener="#{zmianaHaslaBean.zmienHaslo}" />

				</p:column>

			</p:panelGrid>

		</h:form>

	</p:dialog>

</ui:composition>
