<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

	<p:dialog
			header="Zmiana kontekstu pracy" height="550" width="1000"
			id="dlgKontekstPracownika"
			dynamic="false"
			widgetVar="dlgKontekstPracownika" appendTo="@(body)" modal="false"
			closeOnEscape="true" draggable="true" resizable="false"
	>

		<f:facet name="header">
			<h:form id="dlgKontekstPracownikaHeader">
				<p:panelGrid style="width:100%">

					<p:column>
						<h:outputText value="Zmiana kontekstu pracy" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							onclick="PF('dlgKontekstPracownika').hide();" icon="clear">
						</p:commandButton>
					</p:column>
				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="formKontekstPracownika" style="height: 95% !important;">
			<cc:cLookupTable
				fillwidthcolumn="true" insertChildrenFirst="true"
				datasource="#{user.getLW('PPL_KONTEKST_PRACY')}">
				
				<p:column headerText="Wybór" width="100">
					<p:commandButton
							icon="input"
							value="przełącz"
							title="ustaw kontekst pracownika"
							styleClass="granatowy"
							action="#{user.zmienKontekst(row)}"
							process="@this" ajax="true"
							update="dlgKontekstPracownika egrHeaderForm"
							onsuccess="PF('dlgKontekstPracownika').hide()"
					/>
				</p:column>
				
			</cc:cLookupTable>
			
			
			
		</h:form>
		
		<f:facet name="footer">
			<h:form id="dlgKontekstPracownikaFooter" styleClass="dlgBottomBtnsBar">
			</h:form>
		</f:facet>

	</p:dialog>

</ui:composition>