<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<!-- 	<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" /> -->
<!-- 	<p:dialog widgetVar="statusDialog" draggable="false" closable="false" resizable="false" showHeader="false"> -->
<!-- 	    <p:graphicImage name="/images/import.png" /> -->
<!-- 	    <p:outputLabel value="wczytywanie..."></p:outputLabel> -->
<!-- 	</p:dialog>  -->
	
		<p:ajaxStatus onstart="$('.dvwczytywanie').css('visibility','visible');" onsuccess="$('.dvwczytywanie').css('visibility','hidden');" />
		

</ui:composition>
