<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Oceny planowane" />
		<ui:define name="egr_content">

			<h:form styleClass="bg-fff bsh1black m20i p20 flex-1">

				<c:cLookupTable
					datasource="#{listaOcenBean.getLW('PP_OCE_LISTA_PLAN', user.dbLogin, user.prcId, user.prcId, user.prcId)}"
					editRowPage="OcenaOkresowaZaplanuj"/>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
