<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>

</f:metadata>


<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Ocena okresowa" />

		<ui:define name="egr_content">

			<h:form id="frmTMnu" styleClass="p5 pl20 bg-lgrey">

				<p:commandButton value="usuń ocenę" id="zkasujId" icon="delete"
					actionListener="#{ocenaOkrBean.usun()}"
					styleClass="ctl-home-link-menu">

					<p:confirm header="Uwaga"
						message="Czy na pewno chcesz skasować ocenę (w tym załączniki oraz dane obiegu)?"
						icon="ui-icon-alert" />

				</p:commandButton>
				<p:confirmDialog global="true" showEffect="fade"
					hideEffect="fade" style="width:300px">
					<p:commandButton value="TAK" type="button"
						styleClass="ui-confirmdialog-yes" />

					<p:commandButton value="NIE" type="button"
						styleClass="ui-confirmdialog-no" />

				</p:confirmDialog>

				<cc:cObiegCzynnosci
						kategoriaObiegu="WN_OCENA_OKRES"
						idEncji="#{ocenaOkrBean.ocena.oceId}"
						reloadPage="OcenaOkresowa"
						hibernateRefreshPoWykonaniuCzynnosc="#{ocenaOkrBean.ocena}"
				/>

				<cc:cZalacznikiButton dlgTitle="Załączniki oceny okresowej"
					zalFkFieldName="ZAL_OCE_ID"
					zalFkId="#{ocenaOkrBean.ocena.oceId}" />


				<p:commandButton value="Raport arkusza oceny" id="raportId2" icon="picture_as_pdf"
					style="min-width:80px" styleClass="ctl-home-link-menu"
					rendered="#{ocenaOkrBean.ocena.oceId gt 0 }"
					actionListener="#{ocenaOkrBean.raportPdf2()}"
					partialSubmit="true" process="@this"
					onclick="form.target = '_blank'" ajax="false" />

				<p:commandButton value="Raport wniosku" id="raportId3" icon="picture_as_pdf"
					style="min-width:80px" styleClass="ctl-home-link-menu"
					rendered="#{ocenaOkrBean.ocena.oceId gt 0 and 'T' eq ocenaOkrBean.ocena.oceCzyWnKolStop}"
					actionListener="#{ocenaOkrBean.raportPdf3()}"
					partialSubmit="true" process="@this"
					onclick="form.target = '_blank'" ajax="false" />

			</h:form>

			<div class="p20 pt0 bg-lgrey" style="height: 100vh; overflow-y: auto; overflow-x: auto !important;">

				<h:form id="frmT2" class="d-flex-1 flex-wrap" style="overflow: auto; width:100%">

					<div class="bg-fff border p20 mr5 d-flex flex-wrap"
						 style="width: 100%; align-items: center;">

						<div class="pr10 flex-200">
							<p:outputLabel styleClass="fs20" value="Ramy czasowe"/>
							<p:separator />
						</div>

						<div class="pb20 pr10 flex-200">
							<cc:cCalendarMDesign id="calDatRozmId1" label="Termin sporządzenia oceny: "
								value="#{ocenaOkrBean.ocena.oceMaxDataOceny}"
								placeholder="rrrr-mm-dd"
								converterMessage="Pole 'Data kolejnej oceny': wprowadzono nieprawidłowy format." />
						</div>

						<div class="pb20 pr10 flex-200">
							<cc:cCalendarMDesign id="calDatRozmId" label="Data rozmowy: "
								value="#{ocenaOkrBean.ocena.oceDataOceny}"
								placeholder="rrrr-mm-dd"
								converterMessage="Pole 'Data rozmowy': wprowadzono nieprawidłowy format." />
						</div>

							#{ocenaOkrBean.setStanObiegu4Update(obiegBean.stanObiegu())}

						<div class="pb20 pr10 flex-200">
							<cc:cCalendarMDesign id="calOkrOdId"
								value="#{ocenaOkrBean.ocena.oceDataOd}" label="Okres - od: "
								placeholder="rrrr-mm-dd"
								converterMessage="Pole 'Okres - od': wprowadzono nieprawidłowy format." />
						</div>

						<div class="pb20 pr10 flex-200">
							<cc:cCalendarMDesign id="calOkrDoId" label="Okres - do: "
								value="#{ocenaOkrBean.ocena.oceDataDo}"
								placeholder="rrrr-mm-dd"
								converterMessage="Pole 'Okres - do': wprowadzono nieprawidłowy format." />
							<p:tooltip for="calOkrDoId"
								value="Wartość zostanie zaktualizowana po wykonaniu czyności: Przekazanie do ocenianego celem zapoznania się z wynikiem oceny" />
						</div>
					</div>

					<div class="d-flex flex-wrap" style="width: 100%;">

						<div class="bg-fff p20 mt5 border d-flex-column flex-500 mr5">

							<div>

								<ui:param name="lwocenycastkowe" value="#{ocenaOkrBean.getLW('PPL_OCE_OCENY_CZASTKOWE')}" />

								<div style="visibility: hidden">#{lwocenycastkowe.data.size()}</div>

								<p:outputLabel for="krObow" styleClass="fs20" value="Kryteria obowiązkowe"/>
								<p:separator styleClass="mb25"/>
								<cc:cTable id="krObow"
									datasource="#{ocenaOkrBean.kryteriaObowiazkowe}"
									height="#{(ocenaOkrBean.kryteriaObowiazkowe.size()*30+60) lt 300?(ocenaOkrBean.kryteriaObowiazkowe.size()*30+160):300}px"
									smallHeaders="true">

									<p:column headerText="Kryterium obowiązkowe" width="300"
										style="min-width:300px!important;">
										<p:outputLabel
											value="#{ocenaOkrBean.getLW('PPL_OCE_NAZWY_KRYTERIOW').findAndFormat(o.krytKryterium, '%2$s')}"
											styleClass="label-13"
											 />
									</p:column>

									<p:column headerText="Ocena cząstkowa"  width="300" styleClass="no-border">
										<cc:cLovLookupTable id="typOcenyId"
											lovDlgTitle="Wartości ocen cząstkowych:" width="300"
											lovTextFormat="%1$s - %2$s"
											value="#{o.krytOcena}" valueRefObject="#{o}"
											datasource="#{lwocenycastkowe}"
											dialogWidth="550" update="frmT2:pgOcena"
											/>
									</p:column>
								</cc:cTable>
							</div>

							<div>
								<p:outputLabel for="krDod" styleClass="fs20" value="Kryteria dodatkowe"/>
								<p:separator styleClass="mb25 ui-g-12 p0"/>
								<cc:cTable id="krDod" styleClass="ui-g-12 p0"
									datasource="#{ocenaOkrBean.kryteriaDodatkowe}"
									height="#{ocenaOkrBean.kryteriaDodatkowe.size()*30 +100}px"
									smallHeaders="true"
									rendered="#{ocenaOkrBean.kryteriaDodatkowe.size() gt 0}">

									<p:column headerText="Kryterium dodatkowe" width="300"
										style="min-width:300px!important">
										<p:outputLabel
											value="#{ocenaOkrBean.getLW('PPL_OCE_NAZWY_KRYTERIOW').findAndFormat(o.krytKryterium, '%2$s')}"
											styleClass="label-13" />
									</p:column>

									<p:column headerText="Ocena cząstkowa" styleClass="no-border" width="300">
										<cc:cLovLookupTable id="typOcenyId"
											lovDlgTitle="Wartości ocen cząstkowych:" width="300"
											lovTextFormat="%1$s - %2$s"
											value="#{o.krytOcena}"
											datasource="#{lwocenycastkowe}"
											dialogWidth="550" update="frmT2:pgOcena" />
									</p:column>

								</cc:cTable>
							</div>
						</div>

						<div class="mr5 flex-200">

							<h:panelGroup id="pgOcena" styleClass="pgOcena d-flex flex-wrap" style="height: 100%;">

								<div class="mt5 p10 with-shadow border flex-400">

									<p:outputLabel for="prcOceniany" styleClass="p0 fs16 " value="Pracownik oceniany:"/>
									<p:separator styleClass="p0"/>
									<cc:cPracownikBasicInfo id="prcOceniany" prcId="#{ocenaOkrBean.ocena.ocePrcId}" style="min-width:calc(100% - 20px)!important;" />

								</div>

								<div class="mt5 p10 with-shadow border flex-400">

									<div class="d-flex a-i-center">
										<p:outputLabel for="prcOceniajacy" value="Pracownik oceniający:" styleClass="p0 fs16"/>

										<cc:cLovJS
											lovDlgTitle="Lista pracowników (oceniający)"
											tooltip="zmień pracwnika oceniającego"
											styleClass="mmw30 pt20 d-inline-block"
											showInputText="false"
											required="true"
											value="#{ocenaOkrBean.ocena.ocePrcIdOceniajacy}"
											datasource="#{ocenaOkrBean.getLW('PPL_KAD_PRACOWNICY').setPreQuery('call ppadm.ppp_global.ustaw_date_dla_struktury_po(sysdate)')}"
											update="frmT2:prcOceniajacy"
										/>

									</div>

									<p:separator styleClass="p0"/>

									<cc:cPracownikBasicInfo id="prcOceniajacy" prcId="#{ocenaOkrBean.ocena.ocePrcIdOceniajacy}" style="min-width:calc(100% - 20px)!important;" />

								</div>


								<div class="mt5 p10 with-shadow border flex-400">

									<p:outputLabel id="lblOcena" value="Ocena" styleClass="p0 fs20"
												   style="width: 100%; display: inline-flex; justify-content: center;"/>
									<p:separator styleClass="p0"/>
									<cc:cInputTextMDesign id="srednia" readonly="true"
										label="Średnia ocen: "
										value="#{ocenaOkrBean.wyliczSrednia()}">
										<f:convertNumber for="srednia" pattern="#0.000" locale="pl_PL" />
									</cc:cInputTextMDesign>
									<cc:cInputTextMDesign id="poziom" readonly="true"
										label="Poziom spełnienia: "
										value="#{ocenaOkrBean.poziomSpelnienia()}">
									</cc:cInputTextMDesign>

								</div>

								<div class="mt5 p10 with-shadow center border flex-400">

									<p:outputLabel value="Ocena wynikowa" for="@parent" styleClass="p0 center fs20" />
									<p:separator styleClass="p0"/>

									<h:panelGroup
											rendered="#{'-/-' eq ocenaOkrBean.ocenaWynikowa()}"
											style="text-align: center; width: 100%; color: gray; margin-top: 20px; margin-bottom: 25px;">
										<i class="material-icons" style="font-size: 30px;">thumbs_up_down</i>
										<br /> (wymagane wszystkie oceny cząstkowe)
									</h:panelGroup>

									<h:panelGroup
										rendered="#{ocenaOkrBean.ocenaWynikowa().contains('NEGATYWNA')}"
										style="text-align: center; width: 100%; color: /*darkred;*/ #bb2037; font-weight: bold;">
										<i style="font-size: 500%" class="material-icons">thumb_down</i>
										<br /><pre> #{ocenaOkrBean.ocenaWynikowa()}</pre>
									</h:panelGroup>

									<h:panelGroup
											rendered="#{ocenaOkrBean.ocenaWynikowa().contains('POZYTYWNA')}"
											style="text-align: center; width: 100%; color: #20bb57; font-weight: bold;">
										<i style="font-size: 500%" class="material-icons">thumb_up</i>
										<br /> <pre>#{ocenaOkrBean.ocenaWynikowa()}</pre>
									</h:panelGroup>

								</div>
							</h:panelGroup>

						</div>
					</div>

					<h:panelGroup id="dvinne"
								  styleClass="bg-fff mt5 mr5 border p20 d-flex-column width100p">

						<div>
							<p:outputLabel for="dvinne" styleClass="fs20 p0" value="Inne"/>
							<p:separator styleClass="p0"/>
						</div>

						<cc:cInputTextAreaMDesign id="uzasadId"
							styleClass="lekka-ramka textarea-ie" cols="80" rows="3"
							label="Uzasadnienie oceny: " counter="lblUzasadnienie"
							maxlength="2000" autoResize="true"
							counterTemplate="Uzasadnienie oceny: (pozostało znaków {0})"
							value="#{ocenaOkrBean.ocena.oceOpis}" placeholder=" ">
							<p:ajax event="change" />
						</cc:cInputTextAreaMDesign>
						<cc:cInputTextAreaMDesign id="wniosId"
							styleClass="lekka-ramka textarea-ie" cols="80" rows="3"
							label="Wnioski: " counter="lblWnioski" maxlength="2000"
							autoResize="true"
							counterTemplate="Wnioski: (pozostało znaków {0})"
							value="#{ocenaOkrBean.ocena.oceOpis2}" placeholder=" ">
							<p:ajax event="change" />
						</cc:cInputTextAreaMDesign>

						<h:panelGroup id="pnlCzyAwans" styleClass="d-flex-column">

							<div class="d-flex" style="align-items: center;">
								<div class="pt10 flex-200">

									<cc:cSelectBooleanCheckboxTN id="czyWnOStopien"
										label="Czy dołączono wniosek o kolejny stopień służbowy urzędnika?"
										value="#{ocenaOkrBean.ocena.oceCzyWnKolStop}"
										update=":frmT2:pnlCzyAwans" />

								</div>

								<div class="flex-2">
									<cc:cInputTextMDesign readonly="true"
										label="Aktualny stopień: "
										value="#{ocenaOkrBean.aktualnyStopienSluzbowy}">
									</cc:cInputTextMDesign>
								</div>
							</div>

							<p:outputPanel rendered="#{'T' eq ocenaOkrBean.ocena.oceCzyWnKolStop}" styleClass="pt10">
								<cc:cInputTextAreaMDesign
									label="Umotywowanie wniosku: "
									value="#{ocenaOkrBean.ocena.oceWnKolStUmot}"
									required="#{'T' eq ocenaOkrBean.ocena.oceCzyWnKolStop}"
									rendered="#{'T' eq ocenaOkrBean.ocena.oceCzyWnKolStop}"/>
							</p:outputPanel>

						</h:panelGroup>

					</h:panelGroup>

					<div class="d-flex" style="justify-content: flex-end; padding-top: 10px; width: 100%;">
						<p:commandButton
								id="zapiszId"
								value="zapisz"
								styleClass="btn-dark"
								actionListener="#{ocenaOkrBean.zapisz(false)}"
								partialSubmit="true"
								process="frmT2 @this" update="frmTMnu frmT2 template_growl"/>
					</div>
				</h:form>

			</div>

			<div class="bg-lgrey">
				<div class="mt10 pl20">
					<p:outputLabel value="id: #{ocenaOkrBean.ocena.oceId} / #{ocenaOkrBean.ocena.oceAudytLm} " />
				</div>
			</div>

		</ui:define>

	</ui:composition>

</h:body>

</html>
