<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>

</f:metadata>


<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Zaplanuj ocenę okresową" />

		<ui:define name="egr_content">

			<h:form id="frmTMnu" styleClass="p5 pl20 bg-lgrey">

				<p:commandButton value="usuń ocenę" id="zkasujId" icon="delete"
					rendered="#{ocenaOkrBean.ocena.oceId gt 0}"
					actionListener="#{ocenaOkrBean.usun}"
					styleClass="ctl-home-link-menu" >

					 <p:confirm
						header="Uwaga"
						message="Czy na pewno chcesz skasować ocenę (w tym załączniki oraz dane obiegu)?"
						icon="ui-icon-alert"  />
				</p:commandButton>

				<p:confirmDialog global="true" showEffect="fade"
					hideEffect="fade" style="width:300px">
					<p:commandButton value="TAK" type="button"
						styleClass="ui-confirmdialog-yes" />

					<p:commandButton value="NIE" type="button"
						styleClass="ui-confirmdialog-no" />

				</p:confirmDialog>

				<cc:cObiegCzynnosci
					kategoriaObiegu="WN_OCENA_OKRES"
					idEncji="#{ocenaOkrBean.ocena.oceId}"
					rendered="#{ocenaOkrBean.ocena.oceId gt 0}"
					reloadPage="OcenaOkresowa"
					hibernateRefreshPoWykonaniuCzynnosc="#{ocenaOkrBean.ocena}"
				/>

				<p:commandButton value="Raport" id="raportId" icon="picture_as_pdf"
					style="min-width:80px" styleClass="ctl-home-link-menu"
					rendered="#{ocenaOkrBean.ocena.oceId gt 0}"
					actionListener="#{ocenaOkrBean.raportPdf1()}"
					partialSubmit="true" process="@this"
					onclick="form.target = '_blank'" ajax="false" />

			</h:form>

			<div class="p20 pt0 bg-lgrey" style="height: 100vh; overflow-y: auto; overflow-x: auto !important;">

				<h:form id="frmT1" styleClass="width100p">
					<div class="d-flex-1 flex-wrap ov-auto width100p">

						<div class="d-flex flex-wrap pb5" style="width: 100%;">
							<div class="bg-fff p10 border mr10 mb5" style="flex: 300px; overflow: auto;">

								<p:outputLabel for="ccOceniajacy" styleClass="fs20">

									Pracownik oceniający:
		<!-- 									<p:outputLabel value="Wybierz pracownika oceniającego:" styleClass="label"></p:outputLabel> -->
									<span style="position:relative" class="ml20">
										<cc:cLov tooltip="Wybierz pracownika oceniającego:"
											style="position:absolute; top:10px"
											lovDlgTitle="Lista pracowników (oceniający)"
											showInputText="false" dialogWidth="1000" required="true"
											lovTextFormat="" width="60"
											value="#{ocenaOkrBean.ocena.ocePrcIdOceniajacy}"
											datasource="#{ocenaOkrBean.getLW('PPL_KAD_PRACOWNICY_OCENY')}"
											update="frmT1" />
									</span>
								</p:outputLabel>
	<!-- update="frmT1:ccOceniajacy frmT1:oceniany frmT1:ccOceniany" -->

								<p:separator/>

								<cc:cPracownikBasicInfo id="ccOceniajacy"
									prcId="#{ocenaOkrBean.ocena.ocePrcIdOceniajacy}" />

							</div>

							<div class="bg-fff p10 border mr10 mb5" style="flex: 300px; overflow: auto;">
					
								<p:outputLabel for="ccOceniajacy" styleClass="fs20">

									Pracownik oceniany:

									<span style="position:relative" class="ml20">
										<cc:cLov tooltip="Wybierz pracownika ocenianego:"
											style="position:absolute; top:10px"
											lovDlgTitle="Lista pracowników (oceniany)"
											showInputText="false" dialogWidth="1000" required="true"
											lovTextFormat="" width="60"
											value="#{ocenaOkrBean.ocena.ocePrcId}"
											datasource="#{ocenaOkrBean.getLW('PPL_KAD_PRACOWNICY_POD',ocenaOkrBean.ocena.ocePrcIdOceniajacy)}"
											update="frmT1" />

									</span>
								</p:outputLabel>
			<!-- 						<h2>Pracownik oceniany</h2> -->
			<!-- 						<p:outputLabel value="Wybierz pracownika ocenianego:" styleClass="label"/> -->

			<!-- 									colNames="prc_id, prc_imie, prc_nazwisko, stn_nazwa,  jed_org" -->
			<!-- 									colHeaders="id,  imię, 		nazwisko, 	  stanowisko, 'jednostka org.'" -->

								<p:separator/>

								<cc:cPracownikBasicInfo id="ccOceniany"
										prcId="#{ocenaOkrBean.ocena.ocePrcId}" required="true"
										requiredMessage="pole wymagane" />

							</div>
						</div>


						<div class="d-flex flex-wrap pb5" style="width: 100%;">
							<div class="bg-fff p10 h100 border mr10 mb5 flex-200" style="overflow: auto;">

		<!-- 						<h2>Termin</h2> -->
								<p:outputLabel for="dataId" styleClass="fs20" value="Termin"/>
								<p:separator styleClass="mb25"/>
								#{ocenaOkrBean.setStanObiegu4Update(obiegBean.stanObiegu())}

								<cc:cCalendarMDesign id="dataId"
									value="#{ocenaOkrBean.ocena.oceMaxDataOceny}"
									locale="pl"
									placeholder="rrrr-mm-dd" style="min-width: 168px; max-width: 170px;"/>

							</div>

							<div class="bg-fff p10 h100 border mr10 mb5" style="flex: 2 300px; overflow: auto;">

		<!-- 					<h2>Typ oceny</h2> -->
								<p:outputLabel for="typOcenyId" styleClass="fs20" value="Typ oceny"/>
								<p:separator/>

								#{ocenaOkrBean.loadEgListaWartosci('PPL_OCE_TYP_OCENY',  [] )}

								<cc:cLOVMDesign id="typOcenyId"
												lovTextFormat="%1$s %2$s"
												value="#{ocenaOkrBean.ocena.oceTypOceny}"
												datasource="#{ocenaOkrBean.getSql('PPL_OCE_TYP_OCENY')}"
												update="frmT1"
												rowSelectAction="#{ocenaOkrBean.onTypOcenyChange()}"
												label="  "
											/>

							</div>
						</div>


						<div class="d-flex flex-wrap pb5" style="width: 100%;">
							<div class="bg-fff p10 border mr10 mb5" style="flex: 300px; overflow: auto;">

	<!-- 							<h2>Kryteria obowiązkowe</h2> -->
								<p:outputLabel for="kLvObow" styleClass="fs20" value="Kryteria obowiązkowe"/>
								<p:separator styleClass="mb25"/>

								<div class="d-flex">
									<cc:cLookupTable id="kLvObow" styleClass="d-flex"
										datasource="#{ocenaOkrBean.getLW('PPL_OCE_KRYT_OBOWIAZ', [ ocenaOkrBean.ocena.oceTypOceny, ocenaOkrBean.ocena.oceTypOceny ])}"
										height="380px"
										showSearchField="false"
										hideHeaders="true"
										exportPdf="true" exportXls="true" exportCsv="true" exportXml="true" />
										<!-- 										hideHeaders="true" TODO -->
								</div>

							</div>

							<div class="bg-fff p10 border mr10 mb5" style="flex: 300px; overflow: auto;">
<!-- 							<div> -->
<!-- 								<h2>Kryteria dodatkowe (maksymalnie 3)</h2> -->
<!-- 							</div> -->

								<p:outputLabel for="kLvDodatk" styleClass="fs20" value="Kryteria dodatkowe (maksymalnie 3)"/>
								<p:separator styleClass="mb25"/>

								#{ocenaOkrBean.zaznaczWczytaneDodatkowe()}

								<div class="d-flex">
									<cc:cLookupTable id="kLvDodatk" multiselect="true" styleClass="d-flex"
										datasource="#{ocenaOkrBean.getSql('PPL_OCE_KRYT_DODATKOWE')}"
										height="380px"
										showSearchField="false"
										hideHeaders="true"
										selectedRowsSizeLimit="3"
										/>
											<!-- 										hideHeaders="true" TODO -->
								</div>
							</div>
						</div>

					</div>


					<div class="d-flex pr10" style="justify-content: flex-end;">
						<p:tooltip for="zapiszId" value="#{ocenaOkrBean.ocena.oceId}" />
						<p:commandButton value="Zapisz" id="zapiszId" class="btn-dark"
							actionListener="#{ocenaOkrBean.zapisz(true)}"
							partialSubmit="true"
							process="frmT1 @this" update="frmTMnu template_growl" />
					</div>
				
				</h:form>
			</div>

		</ui:define>

	</ui:composition>

</h:body>

</html>

