<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">
<body>

<ui:composition
        template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
    <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
    <ui:param name="formName" value="Raport Oceny okresowe"/>

    <ui:define name="egr_content">

        <div class="p20 mb10 d-flex" style="overflow-y: hidden; height: 100vh;">

            <h:form id="frm" styleClass="bg-white-100 d-flex-column p30" style="flex: 1; overflow: auto;">

                <div class="d-flex" style="flex-wrap: wrap;">

                    <div class="" style="flex: 400px;">
                        <h3 style="margin: 0;">
                            Widoczne kolumny raportu:
                        </h3>
                        <div class="d-flex-column">
                            <cc:cSelectBooleanCheckboxTN label="Nr oceny" styleClass="p5"
                                                         value="#{ocenaRaportBean.pokazNrOceny}"/>

                            <cc:cSelectBooleanCheckboxTN label="Nr ocenianego" styleClass="p5"
                                                         value="#{ocenaRaportBean.pokazNrOcenianego}"/>

                            <cc:cSelectBooleanCheckboxTN label="Oceniany" styleClass="p5"
                                                         value="#{ocenaRaportBean.pokazOcenianego}"/>

                            <cc:cSelectBooleanCheckboxTN label="Nr oceniajacego" styleClass="p5"
                                                         value="#{ocenaRaportBean.pokazNrOceniajacego}"/>

                            <cc:cSelectBooleanCheckboxTN label="Oceniajacy" styleClass="p5"
                                                         value="#{ocenaRaportBean.pokazOceniajacego}"/>

                            <cc:cSelectBooleanCheckboxTN label="Stanowisko" styleClass="p5"
                                                         value="#{ocenaRaportBean.pokazStanowisko}"/>

                            <cc:cSelectBooleanCheckboxTN label="Rodzaj umowy" styleClass="p5"
                                                         value="#{ocenaRaportBean.pokazRodzajUmowy}"/>

                            <cc:cSelectBooleanCheckboxTN label="Termin oceny" styleClass="p5"
                                                         value="#{ocenaRaportBean.pokazTerminOceny}"/>

                            <cc:cSelectBooleanCheckboxTN label="Poziom oceny" styleClass="p5"
                                                         value="#{ocenaRaportBean.pokazPoziomOceny}"/>

                            <cc:cSelectBooleanCheckboxTN label="Data poprzedniej oceny" styleClass="p5"
                                                         value="#{ocenaRaportBean.pokazDatePoprzedniejOceny}"/>

                            <cc:cSelectBooleanCheckboxTN label="Poziom ostatniej oceny" styleClass="p5"
                                                         value="#{ocenaRaportBean.pokazPoziomPoprzedniejOceny}"/>

                            <cc:cSelectBooleanCheckboxTN label="Poprzedni stopień" styleClass="p5"
                                                         value="#{ocenaRaportBean.pokazPoprzedniStopienSluzbowy}"/>

                            <cc:cSelectBooleanCheckboxTN styleClass="p5"
                                    label="Data przyznania ostatniego stopnia służbowego"
                                    value="#{ocenaRaportBean.pokazDatePrzyznaniaOstatniegoStopnia}"/>
                        </div>
                    </div>

                    <div class="d-flex-column flex-500">
                        <h3>
                            Filtr według:
                        </h3>
                        <div class="d-flex" style="flex-wrap: wrap;">
                            <cc:cCalendarMDesign label="Termin oceny od:"
                                                 value="#{ocenaRaportBean.terminOcenyOd}"
                                                 styleClass="flex-300 p5"/>
                            <cc:cCalendarMDesign label="Termin oceny do:"
                                                 value="#{ocenaRaportBean.terminOcenyDo}"
                                                 styleClass="flex-300 p5"/>

                            <cc:cCalendarMDesign label="Okres oceny od:"
                                                 value="#{ocenaRaportBean.okresOcenyOd}"
                                                 styleClass="flex-300 p5"/>
                            <cc:cCalendarMDesign label="Okres oceny do:"
                                                 value="#{ocenaRaportBean.okresOcenyDo}"
                                                 styleClass="flex-300 p5"/>

                            <cc:cLOVMDesign id="idKomOrg"
                                            lovDlgTitle="Wybór komórki organizacyjnej"
                                            datasource="#{ocenaRaportBean.getLW('PP_DEPARTAMENTY')}"
                                            lovTextFormat="%3$s" valueFormat="%1$s"
                                            value="#{ocenaRaportBean.jednostkaId}"
                                            update="@(.filtr-wydzial)" changeValueListener="#{ocenaRaportBean.komOrgRowSelectAction()}"
                                            label="Komórka organizacyjna:"
                                            styleClass="p5 flex-500" >
                            </cc:cLOVMDesign>

                            <cc:cLOVMDesign id="idWydzial" lovDlgTitle="Wybór wydziału"
                                            styleClass="filtr-wydzial p5 flex-500"
                                            datasource="#{ocenaRaportBean.getLW('PP_WYDZIALY', [ocenaRaportBean.jednostkaId])}"
                                            value="#{ocenaRaportBean.wydzialId}"
                                            lovTextFormat="%3$s" valueFormat="%1$s"
                                            label="Wydział:" />
                        </div>
                    </div>
                </div>

                <div class="d-flex pt10 pb10" style="flex-wrap: wrap;">
                    <div class="flex-200">
                        <h3>
                            Sortowanie według:
                        </h3>

                        <p:selectOneRadio value="#{ocenaRaportBean.sortujWedlug}"
                                          columns="1" layout="grid">
                            <f:selectItems value="#{ocenaRaportBean.sortujWedlugValues}" var="sortujWedlug"
                                           itemValue="#{sortujWedlug}" itemLabel="#{sortujWedlug.label}" />
                        </p:selectOneRadio>
                    </div>

                    <div class="flex-200">
                        <h3>
                            Sortuj:
                        </h3>
                        <p:selectOneRadio
                                value="#{ocenaRaportBean.sortujRosnacoMalejaco}"
                                columns="1" layout="grid">
                            <f:selectItem itemLabel="Rosnąco" itemValue="SortujRosnaco"/>
                            <f:selectItem itemLabel="Malejąco" itemValue="SortujMalejaco"/>
                        </p:selectOneRadio>
                    </div>
                </div>

                <div class="pt20">

                    <p:commandButton value="Generuj raport (XLS)"
                                     actionListener="#{ocenaRaportBean.raportXLS()}"
                                     partialSubmit="true" process="@this frm"
                                     class="btn-dark" style="float: none"
                                     onclick="form.target = '_blank'" ajax="false"/>

                    <p:commandButton value="Generuj raport (PDF)"
                                     actionListener="#{ocenaRaportBean.raportPDF()}"
                                     partialSubmit="true" process="@this frm"
                                     class="btn-dark" style="float: none"
                                     onclick="form.target = '_blank'" ajax="false"/>
                </div>
            </h:form>
        </div>

    </ui:define>
</ui:composition>
</body>
</html>
