<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:f="http://xmlns.jcp.org/jsf/core"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:egr="http://egr.egeria.comarch.com/facelets" >

	<div class="d-flex-column #{styleClass}">
		<label class="pp-lbl">#{label}</label>

		<ui:insert/>

	</div>

</ui:composition>