<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
	<ui:composition>
		<h:form prependId="false" styleClass="ctl-float-right ctl-display-inline-block">
			<p:panelGrid styleClass="ctl-datatable-toolbar">
				<p:column styleClass="ctl-toolbar-icon-r">
					<p:commandLink type="button" id="#{refreshBtnId}" styleClass="ui-icon ctl-refresh-icon"
						onclick="#{refreshBtnOnclick}" />
				</p:column>

				<p:column styleClass="ctl-toolbar-icon-small-r">
					<p:commandLink type="button" id="#{togglerTrigger}"
						styleClass="ui-icon ctl-toggler-icon" />
				</p:column>
			</p:panelGrid>
		</h:form>
	</ui:composition>
</h:body>
</html>