<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:egr="http://egr.egeria.comarch.com/facelets" >
	
<ui:component>
<!-- <h:panelGroup> -->
<f:passThroughAttribute name="kuid" value="#{kuid}"/>
<!-- <f:passThroughAttribute name="id" value="#{kuid}"/> -->
<!-- #{kuid} -->
<!-- #{component} -->
<!-- #{kontrolaUprawnien.iterateChildren(kuid, component, null)} -->
<!-- #{kontrolaUprawnien.loadSqlData('sqlWUpr' , 'select * from PPADM.PPT_WEB_UPRAWNIENIA where WUPR_NAZWA_XHTML = ?' , [view.viewId] ) }  -->
<!-- 	kontrola uprawnień ... ... ... clientId: #{component.clientId} ; ... ... ... id: #{component.id} ... -->
<!-- 	<div id="#{component.clientId}_brdr" class="wuprbrdr"  style="position: absolute; left:0; top:0; right:0; bottom:0; border: 1px solid green; opacity: 0.5; z-index: -999998"></div> -->
<div id="#{component.clientId}_xxxxx" class="#{kuid}"  style="position:relative; width:100%; height:0px; margin-top:0; border: none; padding:0; z-index: 999998"/>
<!-- <fieldset disabled="disabled"> -->
	<ui:insert/>
<!-- </fieldset> -->
<div id="#{component.clientId}_xxxxx" class="#{kuid}"  
	style="position:relative; width:100%; height:0px; margin-top:0; border: none; padding:0; z-index: 999998">
<!-- <h:form rendered="#{user.login eq 'ek_wa_administrator'}" > -->
	<p:commandButton id="#{component.clientId}_WUPRbtn" 
		actionListener="#{kontrolaUprawnien.setDlgKuid(kuid)}"
		icon="perm_data_setting"
		oncomplete=" PF('dlgKU').show() " 
		partialSubmit="true" process="@this"
		onmouseover="
			$('#'+'#{cc.clientId.replace(':','\\\\:')}').css( 'box-shadow', '0px 0px 5px red' ).css('opacity','0.2');
			$('.#{kuid}' ).css( 'border', '1px solid #ffb3b3' );
		"
		onmouseout="
			$('#'+'#{cc.clientId.replace(':','\\\\:')}').css( 'box-shadow', 'none' ).css('opacity','1');
			$('.#{kuid}' ).css( 'border', 'none' );
		"
		rendered="#{user.login eq 'ek_wa_administrator' or user.login eq 'administrator_portal' or user.hasPermission('ek_wa_administrator')}"
		style="position: absolute; right:-10px; bottom:0px; font-size:50%!important; padding:0;  "
		styleClass="btnKU"
	>
<!-- 		onmouseover	="$('.#{kuid}' ).css( 'border', '1px solid red' );" -->
<!-- 		onmouseout 	="$('.#{kuid}' ).css( 'border', 'none'          ); 		" -->
	
<!-- 	update="frmKU" -->
	
<!-- 	alert('TODO: ustawienia uprawnień dla bloku: #{kuid} ; -->
	</p:commandButton>
<!-- 		onmouseover	="$('.wuprbrdr' ).css('border', '1px solid red');	$('.wuprbrdr' ).css('z-index', '999998');" -->
<!-- 		onmouseout 	="$('.wuprbrdr' ).css('border', 'none'); 			$('.wuprbrdr' ).css('z-index', '-999998');" -->

<!-- 	onmouseover	="$('.#{kuid}' ).css('border', '1px solid red');	$('.#{kuid}' ).css('z-index', '999998');" -->
<!-- 	onmouseout 	="$('.#{kuid}' ).css('border', 'none'); 			$('.#{kuid}' ).css('z-index', '999998');" -->
<!-- </h:form> -->
</div>
</ui:component>
<!-- </h:panelGroup> -->
</ui:composition>
