<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>


<ui:composition
        template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
    <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
    <ui:param name="formName" value="Wniosek o premię"/>

    <ui:define name="egr_content">


        <p:confirmDialog global="true" showEffect="fade"
                         hideEffect="fade">
            <p:commandButton value="Tak" type="button"
                             styleClass="ui-confirmdialog-yes" icon="check"/>
            <p:commandButton value="Nie" type="button"
                             styleClass="ui-confirmdialog-no" icon="close"/>
        </p:confirmDialog>


        <h:form id="frm1" styleClass="uZapisz bg-vlgrey bsh1black pl15 pr15 d-flex a-i-center">

            <p:commandButton
                    styleClass="m5"
                    disabled="#{premieBean.wniosek.wnpwId == 0}"
                    partialSubmit="true" process="@this"
                    value="usuń" icon="delete_forever"
                    action="#{premieBean.kasuj()}">
                <p:confirm header="Usuwanie"
                           message="Czy na pewno chcesz trwale usunąć wniosek o premie?"
                           icon="ui-icon-alert"/>
            </p:commandButton>


            <cc:cObiegCzynnosci
                    styleClass="m5"
                    rendered="#{premieBean.wniosek.wnpwId gt 0}"
                    kategoriaObiegu="WN_PREMIE"
                    idEncji="#{premieBean.wniosek.wnpwId}"
                    reloadPage="PremieWniosek"
            />

            <p:outputLabel value="eksport do:" styleClass="ml15"/>
            <h:commandLink value="xls " styleClass="m5">
                <p:dataExporter type="xls" target="frm2:premie:dane" fileName="dane"/>
            </h:commandLink>
            <h:commandLink value="pdf " styleClass="m5">
                <p:dataExporter type="pdf" target="frm2:premie:dane" fileName="dane"/>
            </h:commandLink>
            <h:commandLink value="csv " styleClass="m5">
                <p:dataExporter type="csv" target="frm2:premie:dane" fileName="dane"/>
            </h:commandLink>
            <h:commandLink value="xml " styleClass="m5">
                <p:dataExporter type="xml" target="frm2:premie:dane" fileName="dane"/>
            </h:commandLink>

        </h:form>


        <h:form id="frm2" styleClass="h100 uZapisz d-flex-1-column ov-auto">

            <div class="bg-fff m20 p20 d-flex flex-wrap">

                <p:outputLabel value="Informacje podstawowe" styleClass="fs20 w100p"/>
                <div class="h1 w100p bg-red opacity-04"></div>

                <cc:cSOMMDesign
                        styleClass="flex-600 m10"
                        label="Jednostka organizacyjna"
                        datasource="#{premieBean.getLW('PPL_KAD_PREMIE_WN_OBIE')}"
                        textFormat="%2$s (%4$s os.)"
                        value="#{premieBean.wniosek.wnpwObId}"
                        valueChangeListener="#{premieBean.onWnpwObIdChange}"
                        update="@(.uWydzial)"
                />

                <cc:cCalendarMDesign
                        styleClass="flex-200 m10"
                        label="Data wniosku" value="#{premieBean.wniosek.wnpwDataWniosku}"/>


                <cc:cInputTextAreaMDesign
                        styleClass="w100p m10"
                        label="Opis wniosku" value="#{premieBean.wniosek.wnpwOpis}"/>
            </div>


            <div class="bg-fff m20 mt0 p20 h100 d-flex-1-column">

                <p:outputLabel value="Informacje szczegółowe" styleClass="fs20 w100p mb10"/>
                <h:panelGroup id="kwoty" styleClass="flex-1 uWydzial d-block" style="width:100%">

                    <cc:cTable id="premie"
                               datasource="#{premieBean.wniosek.pptWnpkPremieKwoties}"
                               height="100%"
                               showExportMenu="true"
                    >

                        <p:column headerText="lp" styleClass="w50">
                            <p:outputLabel value=" #{oId+1}"/>
                        </p:column>

                        <p:column headerText="id" styleClass="w50">
                            <p:outputLabel value="#{o.wnpkId}"/>
                        </p:column>


                        <p:column headerText="Pracownik" styleClass="w200">
                            <p:outputLabel
                                    value="#{premieBean.getLW('PPL_KAD_PREMIE_DA_OS_WN').find(o.wnpkZatId).format( '%2$s %3$s' )}"/>
                        </p:column>


                        <p:column headerText="Stanowisko" styleClass="w200">
                            <p:outputLabel
                                    value="#{premieBean.getLW('PPL_KAD_PREMIE_DA_OS_WN').find(o.wnpkZatId).format( '%4$s' )}"/>
                        </p:column>


                        <p:column headerText="Stawka [%]" styleClass="w75">
                            <p:inputNumber value="#{o.wnpkStawkaProcent}" minValue="0.00"/>
                        </p:column>

                        <p:column headerText="Kwota" styleClass="w75">
                            <p:inputNumber value="#{o.wnpkKwota}" minValue="0.00"/>
                        </p:column>

                    </cc:cTable>

                </h:panelGroup>

            </div>

            <div class="m0 d-flex pb25 pr20">
                <p:commandButton
                        value="Zapisz"
                        styleClass="mlauto btn-dark"
                        partialSubmit="true" process="@form"
                        action="#{premieBean.zapisz()}"
                        update="@(.uZapisz)"
                />
            </div>

        </h:form>

    </ui:define>

</ui:composition>


</body>
</html>