<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>

<ui:composition
        template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
    <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
    <ui:param name="formName" value="Lista wniosków o premie"/>

    <ui:define name="egr_content">

        <h:form styleClass="d-flex bg-vlgrey bsh1black pl15 pr15">

            <p:commandButton
                    value="Dodaj wniosek"
                    styleClass="m5 granatowy bsh1gray"
                    partialSubmit="true" process="@this"
                    action="#{cLookupTableBean.goNewEntityPage('PremieWniosek')}"
            />

        </h:form>

        <h:form styleClass="bg-fff bsh1black m20i p20 flex-1">

            <c:cLookupTable
                    datasource="#{sqlBean.getLW('PPL_KAD_PREMIE_LST_WNIOSK')}"
                    editRowPage="PremieWniosek"
            />

        </h:form>


    </ui:define>

</ui:composition>


</body>
</html>