<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">
<f:metadata>

</f:metadata>

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista środków trwałych" />

		<ui:define name="egr_content">

			<h:form id="frmNrth" styleClass="p5 pl20 pp-bg-lp-north-b-white-b-v">

				<cc:cLovButtonJS icon=""
								 styleClass="granatowy bsh1gray mr10"
								 value="Zmiana pracownika ..."
								 title="generuj wnioski o zmianę pracownika dla zaznaczonych wierszy (zmiana osoby odpowiedzialnej)"
								 lovDlgTitle="Wskaż pracownika:"
								 datasource="#{listaSrodkowTrwalychPrcBean.pplPracownicy}"
								 rowSelectedAction="#{listaSrodkowTrwalychPrcBean.generujWnioskiOZmianePracownika}"
								 update="frmCntr"
				/>

				<p:commandButton icon=""
								 styleClass="granatowy bsh1gray mr10"
								 value="Likwidacja ..." title="generuj wnioski o likwidację dla zaznaczonych wierszy"
								 action="#{listaSrodkowTrwalychPrcBean.generujWnioskiOLikwidacje}"
								 update="frmCntr"
								 onstart="hgon();"
								 oncomplete="hgoff();"
				/>

			</h:form>

			<h:form id="frmCntr" styleClass="bg-fff m20i p20 bsh2black flex-1">
				<cc:cLookupTableMultiselect
						datasource="#{listaSrodkowTrwalychPrcBean.pplSrodkiTrwale}"/>
			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
