<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">
<f:metadata>

</f:metadata>

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Środki trwałe / lista wniosków" />

		<ui:define name="egr_content">

			<h:form id="frmNrth" styleClass="p5 pl20 pp-bg-lp-north-b-white-b-v">

				<p:commandButton icon="delete" styleClass="granatowy bsh1gray mr10"
								 value="Usuń" title="usuń wybrane wnioski (usunąć można tylko wnioski jeszcze niezatwierdzone lub anulowane)"
								 action="#{listaWnioskowStPrcBean.usunWybraneWnioski}"
								 update="frmCntr"
								 onstart="hgon();" oncomplete="hgoff();"
				/>

				<p:commandButton icon="clear" styleClass="granatowy bsh1gray mr10"
								 value="Anuluj"  title="anuluj wybrane wnioski (anulować można tylko wnioski jeszcze niezatwierdzone i nieanulowane)"
								 action="#{listaWnioskowStPrcBean.anulujWybraneWnioski}"
								 update="frmCntr"
								 onstart="hgon();" oncomplete="hgoff();"
				/>

				<p:commandButton icon="done" styleClass="granatowy bsh1gray mr10"
								 value="Zatwierdź" title="zatwierdź wybrane wnioski"
								 action="#{listaWnioskowStPrcBean.zatwierdzWybraneWnioski}"
								 update="frmCntr"
								 onstart="hgon();" oncomplete="hgoff();"
				/>

				<p:commandButton icon="done_all" styleClass="granatowy bsh1gray mr10"
								 value="Generuj dokumenty" title="generuj dokumenty dla wybranych wniosków"
								 action="#{listaWnioskowStPrcBean.generujDokumentyWybraneWnioski}"
								 update="frmCntr"
								 onstart="hgon();" oncomplete="hgoff();"
				/>

			</h:form>

			<h:form id="frmCntr" styleClass="bg-fff m20i p20 bsh2black flex-1">
				<cc:cLookupTableMultiselect
						datasource="#{listaWnioskowStPrcBean.pplSrodkiTrwaleWnioski}"/>
			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
