<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">
<f:metadata>

</f:metadata>

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista środków trwałych" />

		<ui:define name="egr_content">

			<ui:include
				src="/WEB-INF/protectedElements/Wydruki/common/wydrukSrodkiTrwale.xhtml" />

			<h:form styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20">

				<p:commandButton value="drukuj" icon="print"
					style="min-width: 80px" styleClass="ctl-home-link-menu">
					<p:printer target="printContent1" />
				</p:commandButton>

			</h:form>

				<h:form styleClass="bg-fff m20i p20 flex-1">

					<c:cLookupTable
						datasource="#{srodkiTrwaleBean.getLW('PPL_WSP_SRODKI_TRWALE', sessionBean.prc_id)}"
						notActiveList="true"
					/>

				</h:form>

		</ui:define>

	</ui:composition>

</h:body>

</html>
