<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<f:metadata>
</f:metadata>
<body>


		
	 
<p:accordionPanel id="accPnl" multiple="true">

<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================         PLAN TRASY          ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="PLAN TRASY">
		
		<h:panelGroup id="trasyPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">
		
			<div id="trasyHeader" class="ui-g-12 ui-g-v-center mh30">
				<p:outputLabel value="Wyjazd" styleClass="ui-g-1"/>
				<p:outputLabel value="Miejscowość" styleClass="ui-g-2"/>
				<p:outputLabel value="Data wyjazdu" styleClass="ui-g-2"/>
				<p:outputLabel value="Przyjazd" styleClass="ui-g-1"/>
				<p:outputLabel value="Miejscowość" styleClass="ui-g-2"/>
				<p:outputLabel value="Data przyjazdu" styleClass="ui-g-2"/>
				<p:outputLabel value="Środek lokomocji" styleClass="ui-g-3"/>
				<p:outputLabel value="Kilometry" styleClass="ui-g-1"/>
<!-- 				<h:panelGroup id="test" styleClass="ui-g-2 ui-g-nopad"> -->
				<p:commandButton icon="add" styleClass="ui-g-1" 
						action="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.addNewTrasa()}"
				/>
<!-- 				</h:panelGroup> -->
			</div>
			
			<p:separator styleClass="ui-g-12 p0 " />
		
			<ui:repeat var="trs" value="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.deltTrasies}" varStatus="status">
			
				<div id="trasyRow" class="ui-g-12 ui-g-v-center mh30"> 
					<cc:cLovJS lovDlgTitle="Lista krajów" 
						styleClass="ui-g-1"
						datasource="#{delegacjaZagrBean.getLW('PPL_WSP_KRAJE')}"
						lovTextFormat="%3$s" 
						value="#{trs.trsKrIdOd}" 
					/>
				
					<cc:cInputText styleClass="ui-g-2"
						value="#{trs.trsMiejscowoscOd}"
					/>
					
					<h:panelGroup styleClass="ui-g-2">
						<cc:cCalendarHour id="tWyj"  
							value="#{trs.trsDataOd}"
						/>
					</h:panelGroup>
					
					<cc:cLovJS lovDlgTitle="Lista krajów" 
						styleClass="ui-g-1"
						datasource="#{delegacjaZagrBean.getLW('PPL_WSP_KRAJE')}"
						lovTextFormat="%3$s" 
						value="#{trs.trsKrIdDo}" 
					/>
					
					<cc:cInputText styleClass="ui-g-2"
						value="#{trs.trsMiejscowoscDo}"
					/>
				
					<h:panelGroup styleClass="ui-g-2">
						<cc:cCalendarHour value="#{trs.trsDataDo}"
						/>
					</h:panelGroup>
					
<!-- 					<h:panelGroup id="test" styleClass="ui-g-2 ui-g-nopad"> -->
					<cc:cLovJS id="srdklkmcj" styleClass="ui-g-3"
						lovDlgTitle="Środki lokomocji" 
						datasource="#{delegacjaZagrBean.getSlownik('DEL_SRODEK_LOKOMOCJI')}" 
						value="#{trs.trsSrodekLokomocji}" 
						lovTextFormat="%2$s"
					/>
					
					<cc:cInputNumber styleClass="ui-g-1"
						value="#{trs.trsIloscKM}"
						symbol=" km"
						decimalPlaces="0"
					/>
					
					<p:commandButton styleClass="ui-g-1"
						icon="delete"  
						action="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.removeDeltTrasy(trs)}"
					/>
<!-- 					</h:panelGroup> -->
				</div>
			
			</ui:repeat>
							
			<p:separator styleClass="ui-g-12 p0 " />
			
			<div class="ui-g-12 ui-g-v-center p10">
				<p:commandButton value="generuj plan trasy wg miast" 
				 	styleClass="granatowy"
				 	action="#{delegacjaZagrBean.delegacja.generujPlanTrasy(delegacjaZagrBean.delegacja.kalkulacjaRozlicz)}" 
					onstart = "hgon()" 
					oncomplete	= "hgoff()" 	
				 >
					<p:confirm header="Generowanie planu trasy" 
						disabled="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.deltTrasies.size() eq 0}"
						message="Ponowne wygenerowanie tras spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
				
			</div>
		    
		</h:panelGroup>		
		
	 </p:tab>
	 
	 
<!-- 	 ====================================================================================================================== -->
<!-- 	 ==========================================                             	=========================================== -->
<!-- 	 ==========================================       CZYNNOŚCI SŁUŻBOWE        =========================================== -->
<!-- 	 ==========================================                             	=========================================== -->
<!-- 	 ====================================================================================================================== -->

	 <p:tab title="CZYNNOŚCI SŁUŻBOWE" id="czynnosciBtnGeneruj">
	 
		<h:panelGroup id="czynnosciSPnl" styleClass="ui-g ui-g-12 mt20 mb50">
		
			<div id="czynnosciHeader" class="ui-g-12 ui-g-v-center mh30">
				<p:outputLabel value="Kraj" styleClass="ui-g-1"/>
				<p:outputLabel value="Czas od" styleClass="ui-g-2"/>
				<p:outputLabel value="Czas do" styleClass="ui-g-2"/>
				<p:outputLabel value="Czas łącznie" styleClass="ui-g-2"/>
				<p:outputLabel value="Opis" styleClass="ui-g-2"/>
				<p:commandButton icon="add" styleClass="ui-g-1" 
					action="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.addNewDelCzynnosciSluzbowe()}"
				/>
			</div>
			
			<p:separator styleClass="ui-g-12 p0 " />
			
			<ui:repeat var="czs" value="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.delCzynnosciSluzbowe}">
				<div id="czynnosciRow" class="ui-g-12 ui-g-v-center mh30">
				
					<cc:cLovJS lovDlgTitle="Lista krajów" 
						styleClass="ui-g-1"
						datasource="#{delegacjaZagrBean.getLW('PPL_WSP_KRAJE')}"
						lovTextFormat="%3$s" 
						value="#{czs.czynKrajId}" 
					/>
				
					<h:panelGroup styleClass="ui-g-2">
						<cc:cCalendarHour value="#{czs.czynCzynnosciOd}"/>
					</h:panelGroup>
					
					<h:panelGroup styleClass="ui-g-2">
						<cc:cCalendarHour value="#{czs.czynCzynnosciDo}"/>
					</h:panelGroup>
					
					<cc:cInputText 
						value="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.formatujDniCzynnosciSluzbowe(czs.czynCzas)}" 
						readonly="true" 
						styleClass="ui-g-2"
					/>
					
					<cc:cInputText value="#{czs.czynOpis}" 
						styleClass="ui-g-2"
					/>
					
					<p:commandButton icon="delete" 
						styleClass="ui-g-1"
						action="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.removeDelCzynnosciSluzbowe(czs)}"
					/>
				
				</div>
			
			</ui:repeat>
			
			<p:separator styleClass="ui-g-12 p0 "/>
			
			<div class="ui-g-12 ui-g-v-center p10">
				<p:commandButton 
					value="generuj czynności służbowe wg planu trasy"
					styleClass="granatowy"
					onstart="hgon()" 
					oncomplete="hgoff()"
					actionListener="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.generujCzynnosciSluzbowe}">
					
					<p:confirm header="Czynności służbowe" 
						disabled="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.delCzynnosciSluzbowe.size() eq 0}"
						message="Ponowne wygenerowanie czynności służbowych spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				
				</p:commandButton>
			</div>
			
		</h:panelGroup>	
	 
	 </p:tab>
	 
<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================       DIETY POBYTOWE        ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="DIETY POBYTOWE" disabled="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}" 
	 	titletip="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa ? 'Delegacja bezkosztowa' : ''}">
	 
		<h:panelGroup id="dietyPobytPnl" styleClass="ui-g ui-g-12 mt20 mb50">
		
		   <cc:cDelStdTabPklGroup
	           kalkulacja="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz}"
	           typyDiet="P"
           />
           <div class="ui-g-12 ui-g-v-center p10">
			<p:commandButton 
				value="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.delCzynnosciSluzbowe.size() gt 0 ? 
				'generuj diety wg czynności służbowych':'generuj diety wg planu trasy'}" 
				styleClass="granatowy"  
	 			onstart="hgon()" 
				oncomplete="hgoff()"
				disabled="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}"
				action="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.generujDiety('DP')}">
							
				<p:confirm header="Generowanie diet pobytowych"
					disabled="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.getPozycjeKalkulacjiPobytowe().size() eq 0}"
					message="Ponowne wygenerowanie diet pobytowych spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
					icon="ui-icon-alert"/>	
			</p:commandButton> 
           </div>

		</h:panelGroup>	
		
	 </p:tab>
	 
<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================       DIETY HOTELOWE        ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="DIETY/RYCZAŁT HOTELOWY" disabled="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}" 
	 	titletip="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa ? 'Delegacja bezkosztowa' : ''}">
	 
	 <h:panelGroup id="dietyHotelPnl" styleClass="ui-g ui-g-12 mt20 mb50">
	 
		<cc:cDelStdTabPklGroup
	         kalkulacja="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz}"
	         typyDiet="H,RH"
	         btnAddAction="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.addDietaRyczaltHotel(delegacjaZagrBean.rodzajNoclegu,1.0)}"
	    />
	    <div class="ui-g-12 ui-g-v-center p10">
			<p:commandButton 
				value="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.delCzynnosciSluzbowe.size() gt 0 ? 
				'generuj diety/ryczałt wg czynności służbowych':'generuj diety/ryczałt wg planu trasy'}" 
				styleClass="granatowy"
				onstart = "hgon()"
				oncomplete	= "hgoff()" 
				disabled="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}"
				action="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.generujDiety(delegacjaZagrBean.rodzajNoclegu)}"
			>
				<p:confirm header="Generowanie diet" 
					disabled="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.getPozycjeKalkulacjiHotelowe().size() eq 0}"
					message="Ponowne wygenerowanie diet hotelowych/ ryczałtu spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
					icon="ui-icon-alert"/>	
			</p:commandButton>
			
			<p:selectOneRadio id="rodzajNoclegu" 
				value="#{delegacjaZagrBean.rodzajNoclegu}" 
				styleClass="radioLabel d-inline-block align-middle" 
			>
				<f:selectItem itemLabel="Dieta hotelowa" itemValue="DH" />
				<f:selectItem itemLabel="Ryczałt" itemValue="RH"/>
				<p:ajax event="valueChange" partialSubmit="true" process="rodzajNoclegu" update="dietyHotelPnl"/>
			</p:selectOneRadio>
	    </div>
	 
	</h:panelGroup>	
	
 	</p:tab>
 
<!-- 	 ============================================================================================================================= -->
<!-- 	 ==========================================                             		============================================== -->
<!-- 	 ==========================================       RYCZAŁT DOJAZDOWY             ============================================== -->
<!-- 	 ==========================================                            			============================================== -->
<!-- 	 ============================================================================================================================= -->

	 <p:tab title="RYCZAŁT DOJAZDOWY" disabled="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}" 
	 	titletip="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa ? 'Delegacja bezkosztowa' : ''}">
	 
		<h:panelGroup id="ryczaltD" styleClass="ui-g ui-g-12 mt20 mb50">
		
			<cc:cDelStdTabPklGroup
		        kalkulacja="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz}"
		        typyDiet="RD"
	        />
			<div class="ui-g-12 ui-g-v-center p10">
				<p:commandButton 
					value="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.delCzynnosciSluzbowe.size() gt 0 ? 
						'generuj ryczałt dojazdowy wg czynności służbowych':'generuj ryczałt dojazd wg planu trasy'}"
					styleClass="granatowy" 
					onstart="hgon()"  
					oncomplete="hgoff()"
					disabled="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}"
					action="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.generujDiety('RD')}"
				>
					<p:confirm header="Ryczałt dojazdowy" 
						disabled="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.getPozycjeKalkulacjiRDojazdowe().size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu dojazdowego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"
					/>	
				</p:commandButton>
			</div>
		</h:panelGroup>	
		
	 </p:tab>
	 
<!-- 	 ============================================================================================================================= -->
<!-- 	 ==========================================                             		============================================== -->
<!-- 	 ==========================================       RYCZAŁT NA KOMUNIKACJE        ============================================== -->
<!-- 	 ==========================================                            			============================================== -->
<!-- 	 ============================================================================================================================= -->

	 <p:tab title="RYCZAŁT - KOMUNIKACJA MIEJSKA" disabled="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}" 
	 	titletip="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa ? 'Delegacja bezkosztowa' : ''}">
	 
		<h:panelGroup id="ryczaltKM" styleClass="ui-g ui-g-12 mt20 mb50">
		
			<cc:cDelStdTabPklGroup
		        kalkulacja="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz}"
		        typyDiet="KM"
	        />
			<div class="ui-g-12 ui-g-v-center p10">
				<p:commandButton 
					value="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.delCzynnosciSluzbowe.size() gt 0 ? 
					'generuj ryczałt komunikacyjny wg czynności służbowych':'generuj ryczałt komunikacyjny wg planu trasy'}" 
					styleClass="granatowy" 
					onstart = "hgon()"  
					oncomplete="hgoff()"
					disabled="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}"
					action="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.generujDiety('RK')}"
				>
					<p:confirm header="Ryczałt komunikacyjny" 
						disabled="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.getPozycjeKalkulacjiKomunikacyjne().size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu komunikacyjnego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"
					/>	
				</p:commandButton>
			</div>
		</h:panelGroup>	
		
		
	 </p:tab>
	 
	 
<!-- 	 ========================================================================================================================================= -->
<!-- 	 ==========================================                             					============================================== -->
<!-- 	 ==========================================       Wykorzystanie samochodu prywatnego        ============================================== -->
<!-- 	 ==========================================                            						============================================== -->
<!-- 	 ========================================================================================================================================= -->

	 <p:tab title="WYKORZYSTANIE SAMOCHODU PRYWATNEGO" disabled="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}" 
	 	titletip="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa ? 'Delegacja bezkosztowa' : ''}">
	 
		<h:panelGroup id="samochodPrywatPnl" styleClass="ui-g ui-g-12 mt20 mb50">
		
			<p:outputLabel value="Samochód" styleClass="ui-g-2"/>
			<p:outputLabel value="Nr rej" styleClass="ui-g-1"/>
			<p:outputLabel value="Pojemność silnika" styleClass="ui-g-2"/>
			<p:outputLabel value="Trasa przejazdu" styleClass="ui-g-2"/>
			<p:outputLabel value="Km" styleClass="ui-g-1 right"/>
			<p:outputLabel value="Stawka" styleClass="ui-g-1 right"/>
			<p:outputLabel value="Kwota" styleClass="ui-g-1 right"/>
			
			<p:separator styleClass="ui-g-12 p0 " />

			<ui:repeat var="pklT" value="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.getPozycjeKalkulacjiTransportowe()}">
				
				<h:panelGroup id="rowT" styleClass="ui-g-12 mh30">
			
					<cc:cInputText styleClass="ui-g-2"
						value="#{pklT.pklSamochod}" 
					/>
					
					<cc:cInputText styleClass="ui-g-1"
						value="#{pklT.pklNrRej}" 
					/>
				
					<cc:cInputText styleClass="ui-g-2"
						value="#{pklT.pklPojemnosc gt 900.00 ? 'powyżej 900.00':'poniżej 900.00'} cm3"
						readonly="true"
					/>		
							
					<cc:cInputText styleClass="ui-g-2"
						value="#{pklT.pklOpis}" 
					/>
					
					<cc:cInputNumber styleClass="ui-g-1"
						value="#{pklT.pklIlosc}" 
						symbol=" km"
						readonly="true"
					/>	
					
					<cc:cInputNumber styleClass="ui-g-1"
						value="#{pklT.pklStawka}" 
						symbol=" PLN"
						decimalPlaces="4"
						readonly="true"
					/>	
					
					<cc:cInputNumber styleClass="ui-g-1"
						value="#{pklT.pklKwota}" 
						symbol=" PLN"
						readonly="true"
					/>	
					
				</h:panelGroup>
			
			</ui:repeat>
			
			<p:separator styleClass="ui-g-12 p0 " />
			
			<div class="ui-g-12 ui-g-v-center p10">
					
				<p:commandButton 
					value="Generuj koszty podróży wg planu trasy"
					styleClass="granatowy" 
					onstart = "hgon()"  
					oncomplete="hgoff()"
					disabled="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}"
					action="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.generujKosztyPrzejazdu()}"
				>
					
				</p:commandButton>
			
			</div>
			
		</h:panelGroup>	
		
		
	 </p:tab>
	 

<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================            KOSZTY           ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->
	 
	 <p:tab title="POZOSTAŁE KOSZTY" disabled="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}" 
	 	titletip="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa ? 'Delegacja bezkosztowa' : ''}">
	 
		<h:panelGroup id="kosztyPnl" styleClass="ui-g ui-g-12 mt20 mb50">
		
			<cc:cDelStdTabPklGroup
		        kalkulacja="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz}"
		        typyDiet="P,H,RH,RD,KM,T"
		        typyDietExclude="true"
	        />
			
		</h:panelGroup>	 
	 </p:tab>
	 
<!-- 	 ============================================================================================================================== -->
<!-- 	 ==========================================                            			 ============================================== -->
<!-- 	 ==========================================        PODSUMOWANIE KOSZTÓW          ============================================== -->
<!-- 	 ==========================================                             		 ============================================== -->
<!-- 	 ============================================================================================================================== -->


	 <p:tab title="PODSUMOWANIE KOSZTÓW I ZALICZEK" disabled="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}" 
	 	titletip="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa ? 'Delegacja beszkosztowa - rozliczenie jest niedostępne' : ''}">
	 
	 	<h:panelGroup id="rozliczenie" styleClass="ui-g ui-g-12 mt20 mb50">
	 
			<p:outputLabel value="Wypłacone zaliczki" styleClass="fs18 p10"/>
			
			<p:separator styleClass="ui-g-12 p0 " />
			<p:outputLabel rendered="#{'N' eq delegacjaZagrBean.delegacja.wndFZaliczka}" 
					value="Pracownik nie wnioskował o zaliczki na delegacje"/>
				
	 		<h:panelGroup id="otrzymaneZaliczki" styleClass="ui-g-12"
	 			rendered="#{delegacjaZagrBean.delegacja.kalkulacjaWniosek.delZaliczki.size() gt 0 
	 				and 'T' eq delegacjaZagrBean.delegacja.wndFZaliczka}">
				
				<div class="ui-g-10 ui-g-v-center mh30">
					<p:outputLabel value="Kwota zaliczki " styleClass="ui-g-2"/>
					<p:outputLabel value="Forma wypłaty" styleClass="ui-g-2"/>
					<p:outputLabel value="Nr konta" styleClass="ui-g-2"/>
		 		</div>
	 	
	 			<p:separator styleClass="ui-g-12 p0 " />
	 			
		 		<ui:repeat var="zalWnk" value="#{delegacjaZagrBean.delegacja.kalkulacjaWniosek.delZaliczki}">
		 			<div class="ui-g-10 ui-g-v-center mh30">
		 				<cc:cInputNumberMDesign 
		 					value="#{zalWnk.dkzKwota}" 
		 					styleClass="ui-g-2" 
		 					readonly="true"
		 					symbol="#{zalWnk.getWalSymbol(zalWnk.dkzWalId)}"
		 				/>
<!-- 		 				symbol="#{waluta}" -->
		 				<cc:cLOVMDesign styleClass="ui-g-2"
							lovDlgTitle="Formy płatności" 
							placeholder="wybierz"
							readonly="true"
							datasource="#{delegacjaZagrBean.getSlownik('DEL_FORMY_WYPLATY')}"
							value="#{zalWnk.dkzFormaWyplaty}" 
							lovTextFormat="%2$s"
						/>
		 				
						<cc:cLOVMDesign lovDlgTitle="Lista kont"
							styleClass="ui-g-6"
							lovTextFormat="%2$s"
							readonly="true"
							datasource="#{delegacjaZagrBean.getLW('PPL_DEL_KONTA_PRC', delegacjaZagrBean.delegacja.wndPrcId)}"
							value="#{zalWnk.dkzNrKonta}"
							rendered="#{'B' eq zalWnk.dkzFormaWyplaty}"
						/>
					</div>
				</ui:repeat>
			</h:panelGroup>
			
			<p:separator styleClass="ui-g-12 p0 " />
		 
			<p:outputLabel value="Sumy wydatków"  
				styleClass="p10 fs18"
			/>
			<p:separator styleClass="ui-g-12 p0 " />
			
			<h:panelGroup id="sumyWalut" styleClass="ui-g-12">
				
				<ui:repeat var="walId" value="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.zwrocMapSumyWal().keySet().toArray()}">
					<cc:cInputNumber styleClass="ui-g-1"
						readonly="true"
						value="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.zwrocMapSumyWal().get(walId)}"
						symbol="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.getWalSymbol(walId)}"
					/>
				</ui:repeat>
				
			</h:panelGroup>
			
			<div class="ui-g-12 ui-g-v-center mh30 mt30 mb20">
			
				<cc:cInputNumber 
					readonly="true" 
					label="Koszt w PLN : " 
					value="#{delegacjaZagrBean.delegacja.zwrocKwotePlnPklRozliczenia()}" 
					symbol=" PLN"
					/>
			
			</div>
			
			<div class="ui-g-12 ui-g-v-center mh30 mb30">
			
				<h:outputLabel value="Kurs Projektu : #{delegacjaZagrBean.delegacja.getKursProjektu().przelicznik}"
					styleClass="mr20"
					rendered="#{delegacjaZagrBean.delegacja.getKursProjektu().przelicznik gt 1.0}"/>
			
			</div>
			
			<p:outputLabel value="Do zwrotu/ wypłaty:"  
				styleClass="p10 fs18"
			/>
			<p:separator styleClass="ui-g-12 p0 " />
			
	 		<h:panelGroup styleClass="ui-g" id="zaliczkiRozliczenie"
	 			rendered="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.delZaliczki.size() gt 0}">
 		
 				<div class="ui-g-10 ui-g-v-center mh30">
 					<p:outputLabel value="Rodzaj" styleClass="ui-g-1"/>
					<p:outputLabel value="Kwota" styleClass="ui-g-2"/>
					<p:outputLabel value="Kurs" styleClass="ui-g-1"/>
					<p:outputLabel value="Forma rozliczenia" styleClass="ui-g-2"/>
					<p:outputLabel value="Nr konta" styleClass="ui-g-5"/>
					<p:outputLabel value="Nr dok FIN" styleClass="ui-g-1"/>
				</div>
				
				<p:separator styleClass="ui-g-12 p0 " />
		 		
		 		<ui:repeat var="zalRoz" value="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.delZaliczki}">
		 		
			 		<div class="ui-g-10 ui-g-v-center mh30">
			 		
			 			<h:outputLabel styleClass="ui-g-1"
	 						value="#{zalRoz.dkzKwota gt 0 ? 'Do wypłaty: ' : 'Do zwrotu: '}" 
	 					/>
			 		
		 				<cc:cInputNumberMDesign styleClass="ui-g-2"
		 					value="#{zalRoz.dkzKwota}"
		 					symbol=" #{zalRoz.getWalSymbol(zalRoz.dkzWalId)}" 
		 					symbolPosition="s" 
		 					readonly="true"
		 				/>
		 				
		 				<cc:cInputNumberMDesign styleClass="ui-g-1"
		 					value="#{zalRoz.dkzKurs}"
		 					decimalPlaces="4"
		 					readonly="true"
		 				/>
		 				
						<cc:cLOVMDesign styleClass="ui-g-2"
							lovDlgTitle="Forma rozliczenia" 
							placeholder="wybierz"
							datasource="#{delegacjaZagrBean.getSlownik('DEL_FORMY_WYPLATY')}"
							value="#{zalRoz.dkzFormaWyplaty}" 
							lovTextFormat="%2$s"
						/>
		 				
						<cc:cLOVMDesign lovDlgTitle="Lista kont" styleClass="ui-g-4" 
							lovTextFormat="%2$s"
							datasource="#{delegacjaZagrBean.getLW('PPL_DEL_KONTA_PRC', delegacjaZagrBean.delegacja.wndPrcId)}"
							rendered = "#{'B' eq zalRoz.dkzFormaWyplaty and zalRoz.dkzKwota gt 0}"
							value="#{zalRoz.dkzNrKonta}" 
						/>
							
						<cc:cLOVMDesign lovDlgTitle="Lista kont PWSZ" styleClass="ui-g-4"
							lovTextFormat="%2$s"
							datasource="#{delegacjaZagrBean.getLW('PPL_PWSZ_KONTA')}"
							rendered = "#{'B' eq zalRoz.dkzFormaWyplaty and zalRoz.dkzKwota lt 0}"
							value="#{zalRoz.dkzNrKonta}" 
						/>
			 				
	 					<cc:cInputTextMDesign styleClass="ui-g-4"
	 						value="nie wybrano formy rozliczenia" 
	 						readonly="true" 
	 						rendered="#{zalRoz.dkzFormaWyplaty eq null or zalRoz.dkzFormaWyplaty.isEmpty()}"
	 					/>
	 					
	 					<cc:cInputTextMDesign styleClass="ui-g-4"
	 						value="" 
	 						readonly="true" 
	 						rendered="#{zalRoz.dkzFormaWyplaty eq 'K'}"
	 					/>
		 				
						<p:commandButton id="usunZal" icon="delete" styleClass="ui-g-1"
							action="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.removeDelZaliczki(zalRoz)}"
							disabled="#{zalRoz.dkzDokId ne null}"
							onstart = "hgon()" 
							oncomplete	= "hgoff()" 
						/>
						
						<cc:cInputTextMDesign styleClass="ui-g-1"
		 					value="#{zalRoz.dkzDokId}"
		 					readonly="true"
		 					rendered="#{zalRoz.dkzDokId ne null}"
		 				/>
					</div>
				</ui:repeat>
				
						
 			</h:panelGroup>
 			
			<p:separator styleClass="ui-g-12 p0 mb20" />
			
			<div class="ui-g-10 ui-g-v-center mh30">
				<p:commandButton value="Przelicz koszty" styleClass="granatowy" 
					action="#{delegacjaZagrBean.delegacja.generujRozliczenie()}"
					onstart="hgon()" 
					oncomplete="hgoff()" 
					disabled="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}"
				/>
				
				<cc:cCalendarMDesign label="Data kursów" 
					title="Kurs z średni z wskazanego dnia w przypadku jeśli nie został wybrany projekt z kursem dla danej waluty"
					styleClass="ui-g-2"
					value="#{delegacjaZagrBean.delegacja.kalkulacjaRozlicz.kalDataKursu}"
				/>
			</div>
			
			
		</h:panelGroup>
		
	 </p:tab>
	 
</p:accordionPanel>



	<p:tabView />

</body>
</html>