<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">

<f:metadata>
</f:metadata>
<h:body>


	<p:accordionPanel id="accPnl" multiple="true">
<!-- 	 multiple="true" -->
<!-- 	 ================================================================================================================================= -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ==========================================         RODZAJ I CEL DELEGACJI          ============================================== -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ================================================================================================================================= -->	

		<p:tab title="RODZAJ I CEL DELEGACJI" kuid="tabRodzajCel">
			
			<h:panelGroup id="headerPnl" styleClass="ui-g ui-g-12">
			
				<c:cInputTextMDesign label="Nr: " 
					styleClass="ui-g-3"
					id="nrDel" 
					readonly="true"
					value="#{delegacjaZagrBean.delegacja.wndNumer}" 
				/>
	
				<c:cCalendarMDesign label="Data złożenia wniosku: "
					styleClass="ui-g-3"
					value="#{delegacjaZagrBean.delegacja.wndDataWniosku}"
					readonly="true"
				/>
		
			</h:panelGroup>
			
			<br/>
			
			<p:outputLabel value="Charakter delegacji" styleClass="ui-g-11 fs18" for="@parent"/>

			<p:separator styleClass="ui-g-12 p0 m0" />
		
			<h:panelGroup id="chkboxes" styleClass="ui-g ui-g-12 pb20">
			
				<c:cSelectBooleanCheckboxTN label="Szkoleniowa"
					styleClass="ui-g-2"
					value="#{delegacjaZagrBean.delegacja.wndFCzySzkolenie}" 
				/>
	
				<c:cSelectBooleanCheckboxTN label="Konferencja"
					styleClass="ui-g-2"
					value="#{delegacjaZagrBean.delegacja.wndFKonferencyjna}" 
				/>
				
				<c:cSelectBooleanCheckboxTN label="Bezkosztowa" id="bezkosztChckbx"
					styleClass="ui-g-2"
					value="#{delegacjaZagrBean.delegacja.wndFBezkosztowa}"
				/>
	
				<c:cSelectBooleanCheckboxTN label="Źródło finansowania / Projekt" id="projektChckbx" 
					styleClass="ui-g-2"
					value="#{delegacjaZagrBean.delegacja.wndFProjektowa}"
				/>

				<h:panelGroup id="prjkt"  styleClass="ui-g-3" rendered="#{'T' eq delegacjaZagrBean.delegacja.wndFProjektowa}">
				
					<p:outputLabel id="listaProjLabel" value="Projekt" styleClass="ui-g-2 p0" />
					<c:cLovJS lovDlgTitle="Lista projektów"
						styleClass="ui-g-10 p0"
						datasource="#{delegacjaZagrBean.getSlownik('DEL_PROJEKTY_PWSZ')}"
						value="#{delegacjaZagrBean.delegacja.wndProjKod}"
						lovTextFormat="%2$s"
					/>
				</h:panelGroup>
		
			</h:panelGroup>
			
			<p:separator styleClass="ui-g-12 p0 m0" />
				
			<c:cInputTextAreaMDesign id="opisCelu"
				styleClass="ui-g ui-g-12 pb20"
				value="#{delegacjaZagrBean.delegacja.wndOpis}"
				label="Opis celu delegacji:"
				placeholder="... opis celu delegacji ..." 
				rows="5" 
				cols="150" 
				maxlength="4000"
				requiredJ="true" 
			/>
			
			<br />
			<br />	
				
				
		</p:tab>
	
<!-- 	 ================================================================================================================================= -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ==========================================         SKŁAD DELEGACJI I ZAPRASZAJĄCY  ============================================== -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ================================================================================================================================= -->	
	
		<p:tab title="SKŁAD DELEGACJI I ZAPRASZAJĄCY"  kuid="tabSkladDelegacji">
	
			<h:panelGroup id="pracownicyInfo" styleClass="ui-g ui-g-12 pb40">
			
				<h:panelGroup id="prcDelegowany" styleClass="ui-g-4 border">
					<p:outputLabel value="Pracownik delegowany"
						styleClass="naglowek_pracownik">
	
						<c:cLovJS id="prcLista" lovDlgTitle="Lista pracowników" 
							datasource="#{delegacjaZagrBean.getLW('PPL_KAD_PRACOWNICY').setPreQuery('call ppadm.ppp_global.ustaw_date_dla_struktury_po(sysdate)')}"
							value="#{delegacjaZagrBean.delegacja.wndPrcId}"
							showInputText="false" 
							required="true"
							width="50"
						/>
	
					</p:outputLabel>
	
					<c:cPracownikBasicInfo id="prcDelInfo"
						prcId="#{delegacjaZagrBean.delegacja.wndPrcId}" 
						showKsTelInfo="true"
						showDepartament="false"
						showWydzial="true"
					/>
					
				</h:panelGroup>
				
				<h:panelGroup id="prcPrzelozony" styleClass="ui-g-4 pl40">
					<p:outputLabel value="Bezpośredni przełożony "
						styleClass="naglowek_pracownik" 
					/>
	
					<c:cPracownikBasicInfo id="prcPrzelInfo" 
						showDepartament="false"
						showWydzial="true"
						prcId="#{delegacjaZagrBean.getLW('PPL_KAD_PRACOWNICY').find(delegacjaZagrBean.delegacja.wndPrcId).get('ZAT_PRC_ID_SZEF') }"
						showKsTelInfo="true" 
					/>
				</h:panelGroup>
		
			
			</h:panelGroup>
			
			
			<h:panelGroup id="zapraszajacy" styleClass="ui-g ui-g-5 p0 pb20">
			
				<p:outputLabel value="Zapraszający" styleClass="ui-g-11 fs18" for="@parent"/>

				<p:separator styleClass="ui-g-12 p0 m0" />
				<ui:repeat value="#{delegacjaZagrBean.delegacja.deltZapraszajacys}"
					id="zaprRpt" var="zapr" varStatus="status">

						<c:cInputTextMDesign styleClass="ui-g-11"
							placeholder="Zapraszający"
							value="#{zapr.zaprOpis}"
						/>

				</ui:repeat>
				<p:separator styleClass="ui-g-12 p0 m0" />
		
			</h:panelGroup>
					
		</p:tab>


<!-- 	 ========================================================================================================================================= -->
<!-- 	 ==========================================                             			    	============================================== -->
<!-- 	 ==========================================         TRASA - MIASTA I ŚRODKI TRANSPORTU  	============================================== -->
<!-- 	 ==========================================                             			    	============================================== -->
<!-- 	 ========================================================================================================================================= -->	

		<p:tab title="TRASA - MIASTA I ŚRODKI TRANSPORTU">
		
			<h:panelGroup id="panelMiejscowosci" styleClass="ui-g ui-g-7 pb40">
			
				<p:outputLabel value="Cele delegacji" styleClass="fs18 ui-g-10" for="@parent"/>
			
				<p:commandButton icon="add" 
					styleClass="ui-g-1"
					action="#{delegacjaZagrBean.delegacja.addNewCelDel}"/>
				
				<p:separator styleClass="ui-g-11 p0 m0" />

				<ui:repeat value='#{delegacjaZagrBean.delegacja.deltCeleDelegacjis}'
							var="cel" varStatus="status">
				
					<c:cSOMMDesign emptyLabel="Wybierz kraj"
						label="#{status.index eq 0? 'Kraj': ''}"
						styleClass="ui-g-5"
						requiredJ="true" 
						datasource="#{delegacjaZagrBean.getLW('PPL_WSP_KRAJE')}"
						value="#{cel.cdelKrId}"
					/>
							
					<c:cInputTextMDesign id="mscwsc"
						label="#{status.index eq 0? 'Miejscowość': ''}"
						styleClass="ui-g-5"
						requiredJ="true" 
						placeholder="#{status.index eq 0? '': 'Miejscowość'}" 
						value="#{cel.cdelMiejscowosc}"
					/>
					
					<p:commandButton icon="delete"
						styleClass="ui-g-1"
						action="#{delegacjaZagrBean.delegacja.removeDeltCeleDelegacji(cel)}" 
					/>
					
				</ui:repeat>
				
				<p:separator styleClass="ui-g-11 p0 m0" />
					
			</h:panelGroup>

			<h:panelGroup id="datyPodrozyGrid" styleClass="ui-g-7 pb40">
			
				<p:outputLabel value="Termin delegacji" styleClass="fs18 ui-g-3" for="@parent"/>
				
				<p:separator styleClass="ui-g-11 p0 m0" />
	
				<c:cCalendarMDesign 
					value="#{delegacjaZagrBean.delegacja.wndDataWyjazdu}" 
					styleClass="ui-g-5"
					label="Data od" 
					requiredJ="true"
					minDate="#{delegacjaZagrBean.today()}"
				/>
			
				<c:cCalendarMDesign 
					value="#{delegacjaZagrBean.delegacja.wndDataPowrotu}" 
					styleClass="ui-g-5"
					label="Data do" 
					requiredJ="true"
					minDate="#{delegacjaZagrBean.today()}"
				/>
				
				<p:separator styleClass="ui-g-11 p0 m0" />
				
			</h:panelGroup>

		
			<h:panelGroup id="srodekLokPnl" styleClass="ui-g-7 pb40">
			
				<p:outputLabel value="Środek lokomocji" styleClass="fs18 ui-g-3" for="@parent"/>
				
				<p:separator styleClass="ui-g-11 p0 m0" />
	
				<ui:repeat value='#{delegacjaZagrBean.delegacja.deltSrodkiLokomocjis}'
							var="slok" varStatus="status">
					
					<c:cLOVMDesign 
						requiredJ="true"
						styleClass="ui-g-5"
						datasource="#{delegacjaZagrBean.getSlownik('DEL_SRODEK_LOKOMOCJI')}"
						value="#{slok.slokSrodekLokomocji}"
						label="#{status.index eq 0? 'Środek transportu': ''}"
						lovDlgTitle="Rodzaje środków transportu"
						placeholder="Wybierz typ transportu"
						lovTextFormat="%2$s"
					/>
				
					<c:cInputTextMDesign id="opisSl" 
						styleClass="ui-g-6"
						placeholder="Opis"
						value="#{slok.slokOpisSrodkaLokomocji}"
						label="#{status.index eq 0? 'Opis': ''}"
					/>
					
				</ui:repeat>
				
				<p:separator styleClass="ui-g-11 p0 m0" />
						
			</h:panelGroup>
		
		
		</p:tab>

<!-- 	 ========================================================================================================================= -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ==========================================         RODZAJE KOSZTÓW  		============================================== -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ========================================================================================================================= -->	

<!-- 		<p:tab title="RODZAJE KOSZTÓW"> -->
		
<!-- 			<h:panelGroup id="rdKszt" styleClass="rdKszt ui-g ui-g-12 pt40 pb40"> -->
			
<!-- 				<h:panelGroup id="kosztyListaPnl" styleClass="kosztyPnlGr1 ui-g ui-g-12 p0 pb20"  -->
<!-- 					rendered="#{'N' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}" -->
<!-- 				>		 -->
<!-- 					<p:outputLabel value="Rodzaj kosztu"	 styleClass="ui-g-2"/> -->
<!-- 					<p:outputLabel value="Koszt"			 styleClass="ui-g-2"/> -->
<!-- 					<p:outputLabel value="Waluta"			 styleClass="ui-g-1"/> -->
<!-- 					<p:outputLabel value="Koszt w PLN"		 styleClass="ui-g-2"/> -->
<!-- 					<p:outputLabel value="Opis"				 styleClass="ui-g-2"/> -->
<!-- 					<p:outputLabel value="Płatność"			 styleClass="ui-g-2"/> -->
					
<!-- 					<p:commandButton id="addPkl" styleClass="ui-g-1"  -->
<!-- 						icon="add"  -->
<!-- 						action="#{delegacjaZagrBean.delegacja.kalkulacjaWniosek.addNewPkl}" -->
<!-- 					/> -->
					
<!-- 					<p:separator styleClass="ui-g-12 p0 m0" /> -->
					
<!-- 					<ui:repeat var="pkl" value="#{delegacjaZagrBean.delegacja.kalkulacjaWniosek.deltPozycjeKalkulacjis}"> -->
					
<!-- 						<c:cLOVMDesign id="typPkl" styleClass="ui-g-2" -->
<!-- 							lovDlgTitle="Typy pozycji"  -->
<!-- 							value="#{pkl.pklTpozId}"  -->
<!-- 							datasource="#{delegacjaZagrBean.getLW('PPL_DEL_TYPY_POZYCJI_Z')}" -->
<!-- 							lovTextFormat="%3$s"  -->
<!-- 						/> -->
						
<!-- 						<c:cInputNumberMDesign id="kszt" styleClass="ui-g-2" -->
<!-- 							value="#{pkl.pklKwota}"  -->
<!-- 						/> -->
						
<!-- 						<c:cSOMMDesign id="walutyPkl" styleClass="ui-g-1" -->
<!-- 							datasource="#{delegacjaZagrBean.getLW('PPL_SYMBOLE_WALUT')}" -->
<!-- 							value="#{pkl.pklWalId}" -->
<!-- 						/> -->
						
<!-- 						<c:cInputNumberMDesign id="ksztPln" styleClass="ui-g-2" -->
<!-- 							value="#{pkl.pklKwotaPln}"  -->
<!-- 							symbol=" PLN" -->
<!-- 						/> -->
					
<!-- 						<c:cInputTextMDesign id="opisPkl" styleClass="ui-g-2" -->
<!-- 							value="#{pkl.pklOpis}" /> -->
							
							
<!-- 						<c:cLOVMDesign id="frmPlatnosci" styleClass="ui-g-2" -->
<!-- 							lovDlgTitle="Forma płatności" -->
<!-- 							datasource="#{delegacjaZagrBean.getSlownik('DEL_FORMY_PLATNOSCI')}" -->
<!-- 							value="#{pkl.pklFormaPlatnosci}" -->
<!-- 							lovTextFormat="%2$s" -->
<!-- 						/> -->
						
	
<!-- 						<p:commandButton id="rmPkl" styleClass="ui-g-1" -->
<!-- 							icon="delete" -->
<!-- 							action="#{delegacjaZagrBean.delegacja.kalkulacjaWniosek.removeDeltPozycjeKalkulacji(pkl)}" -->
<!-- 						/> -->
						
<!-- 					</ui:repeat> -->
					
				
<!-- 				</h:panelGroup> -->
				
<!-- 				<p:separator styleClass="ui-g-12 p0 m0"/> -->
				
<!-- 				<h:panelGroup id="kosztyPodsumowanie" styleClass="ui-g-12"> -->
				
<!-- 					<h:outputLabel value="Przybliżony koszt w walucie :" styleClass="fs18 ui-g-7" for="@parent" /> -->
<!-- 					<h:outputLabel value="Przybliżony koszt w PLN :" styleClass="fs18 ui-g-7" for="@parent" /> -->
				
<!-- 				</h:panelGroup> -->
			
<!-- 			</h:panelGroup> -->

<!-- 		</p:tab> -->




<!-- 	 ========================================================================================================================= -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ==========================================         OSOBY DODATKOWE         ============================================== -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ========================================================================================================================= -->

		<p:tab title="DODATKOWE OSOBY">
		
			<h:panelGroup id="osobyDodatkowe" styleClass="ui-g ui-g-4 pt20 pb30">
			
				<p:outputLabel value="Kontrahenci - dodatkowe osoby" styleClass="fs18 ui-g-11" for="@parent"/>
				
				<p:commandButton styleClass="ui-g-1"
					icon="add"
					action="#{delegacjaZagrBean.delegacja.addNewOsDodatk()}"
				/>
				
				<p:separator styleClass="ui-g-12 p0 m0" />
				
				<ui:repeat var="osobaDodatk" varStatus="status"
					value="#{delegacjaZagrBean.delegacja.deltOsobyDodatkowes}">
					
					<c:cLovJS styleClass="ui-g-11" label="Lista kontrahentów"
						lovDlgTitle="Lista kontrahentów"
						placeholder="wybierz"
						datasource="#{delegacjaZagrBean.getLW('PPL_DEL_STUDENCI')}"
						value="#{osobaDodatk.odoKlKod}"
						lovTextFormat="%2$s"
					/>
					
					<p:commandButton styleClass="ui-g-1"
						icon="delete"
						action="#{delegacjaZagrBean.delegacja.removeDeltOsobyDodatkowe(osobaDodatk)}"
					/>
					
				</ui:repeat>

				<p:separator styleClass="ui-g-12 p0 m0" />
	
			</h:panelGroup>

		</p:tab>



<!-- 	 ========================================================================================================================= -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ==========================================         ZALICZKI          		============================================== -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ========================================================================================================================= -->

		<p:tab title="ZALICZKI" disabled="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}" 
	 		titletip="#{'T' eq delegacjaZagrBean.delegacja.wndFBezkosztowa ? 'Delegacja beszkosztowa - nie można wnioskować o zaliczkę' : ''}">
		
			<h:panelGroup id="zaliczkiId" rendered="#{'N' eq delegacjaZagrBean.delegacja.wndFBezkosztowa}" styleClass="ui-g ui-g-12 pt20 pb30">
			
				<c:cSelectBooleanCheckboxTN label="Czy zaliczka" styleClass="ui-g-2" id="zaliczkaChckbx"
					value="#{delegacjaZagrBean.delegacja.wndFZaliczka}"
					disabled="#{delegacjaZagrBean.delegacja.wndDataWyjazdu.before(delegacjaZagrBean.today())}"
				/>
				<h:outputText id="zalKomunikat"
					value="Nie można wnioskować o zaliczkę dla rozpoczętej/zakończonej delegacji" 
					rendered="#{delegacjaZagrBean.delegacja.wndDataWyjazdu.before(delegacjaZagrBean.today())}"
				/>
						
				<h:panelGroup id="zaliczkaPnl" styleClass="ui-g-12" 
					rendered="#{'T' eq delegacjaZagrBean.delegacja.wndFZaliczka}"
				> 
					<div id="zalHeader" class="ui-g-12 ui-g-v-center mh30">
						<p:outputLabel value="Kwota" styleClass="ui-g-1"/>
						<p:outputLabel value="Waluta" styleClass="ui-g-1"/>
						<p:outputLabel value="Forma płatności" styleClass="ui-g-2"/>
						<p:outputLabel value="Nr konta" styleClass="ui-g-4"/>
						<p:outputLabel value="Opis" styleClass="ui-g-3"/>
						<p:outputLabel value="Nr dok FIn" styleClass="ui-g-1"/>
					</div>
					
					<ui:repeat var="zal" varStatus="status"
						value="#{delegacjaZagrBean.delegacja.kalkulacjaWniosek.delZaliczki}">
							
						<div id="zalRow"  class="ui-g-12 ui-g-v-center mh30">
						
							<c:cInputNumber styleClass="ui-g-1" id="kwotaZal"
								placeholder="podaj kwotę"
								value="#{zal.dkzKwota}"
							/>
							
							<c:cSOM
								styleClass="ui-g-1"
								datasource="#{delegacjaZagrBean.getLW('PPL_SYMBOLE_WALUT')}"
								value="#{zal.dkzWalId}"
							/>
								
							<c:cLovJS styleClass="ui-g-2" id="formaPlatnosci"
								lovDlgTitle="Formy płatności" 
								placeholder="wybierz"
								datasource="#{delegacjaZagrBean.getSlownik('DEL_FORMY_WYPLATY')}"
								value="#{zal.dkzFormaWyplaty}" 
								lovTextFormat="%2$s"
							/>
	
							<c:cLovJS styleClass="ui-g-4" id="listaKont"
								lovDlgTitle="Lista kont"
								placeholder="wybierz"
								datasource="#{delegacjaZagrBean.getLW('PPL_DEL_KONTA_PRC', delegacjaZagrBean.delegacja.wndPrcId)}"
								value="#{zal.dkzNrKonta}"
								lovTextFormat="%2$s"
								rendered="#{'B' eq zal.dkzFormaWyplaty}"
							/>
							
							<c:cInputText styleClass="ui-g-4" id="filler"
								readonly="true"
								rendered="#{not('B' eq zal.dkzFormaWyplaty)}"
							/>
							
							<c:cInputText styleClass="ui-g-3" id="opisZal"
								placeholder="opis zaliczki"
								value="#{zal.dkzOpis}" />
								
							<c:cInputText styleClass="ui-g-1" id="nrDokFin"
								rendered="#{zal.dkzDokId ne null}"
								value="#{zal.dkzDokId}" />
						</div>	
							
					</ui:repeat>
	
				</h:panelGroup>
			
			</h:panelGroup>

		</p:tab>


<!-- 	 ============================================================================================================== -->
<!-- 	 ==========================================                      ============================================== -->
<!-- 	 ==========================================         UWAGI		 ============================================== -->
<!-- 	 ==========================================                      ============================================== -->
<!-- 	 ============================================================================================================== -->		
	
		<p:tab title="UWAGI">
		
			<c:cInputTextAreaMDesign id="uwagi" styleClass="ui-g ui-g-12"
				label="Uwagi: "
				value="#{delegacjaZagrBean.delegacja.wndUwagi}"
				placeholder="... uwagi ..."  
				rows="5"
				cols="150" 
				maxlength="4000" />
		</p:tab>
		
	</p:accordionPanel>

	<p:tabView />

</h:body>
</html>