<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:body>

	<ui:composition template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">

		<ui:param name="submenuName" value="#{dic.ERR80006_error}" />
		<ui:param name="formName" value="#{dic.ERR80011_error_401}" />

		<ui:define name="egr_content">

			<h:outputText value="#{dic.ERR80006_error} / #{dic.ERR80011_error_401}" 	style="font-weight:bold; font-size:100px" />
			<h:outputText value="#{dic.ERR80012_error401_brak_uprawnien}" 				style="font-weight:bold; font-size:40px" />

		</ui:define>
	</ui:composition>


</h:body>
</html>
