<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:pe="http://primefaces.org/ui/extensions" xmlns:c="http://www.springframework.org/tags/form">

<h:body>

	<ui:composition template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">

		<ui:param name="submenuName" value="#{dic.ERR80006_error}" />
		<ui:param name="formName" value="#{dic.ERR80007_nieoczekiwany_blad}" />

		<ui:define name="egr_content">

			<div class="d-flex-1-column p30 ov-hidden bsh15slategray"
				 style="background: rgba(0,30,60,0.7); margin:3vw; color:#ffffff!important; text-shadow: -1px -1px 8px #000000, 1px 1px 8px #000000!important;">

				<h:outputText value="#{dic.ERR80008_nieoczekiwany_blad_szczeg}" styleClass="fs30 p5 pl10 pr10 mtauto" style="color:#ffffff!important; text-shadow: -1px -1px 8px #000000, 1px 1px 8px #000000!important; font-weight:bold; box-shadow:  0px -1px 0px black, 0px  1px 0px black" />
<!--				<h:outputText value="#{flash.keep.errorDetails}" styleClass="fs20 d-flex p5 pl10 pr10" />-->
<!--				<h:outputText value="#{flash.keep.errorUserViewInfo}" styleClass="fs16 d-flex p5 pl10 pr10 mbauto" style="color: #9acfea; box-shadow:  0px  1px 0px black!important;" />-->

				<h:outputText value="#{sessionScope.errorDetails}" styleClass="fs20 d-flex p5 pl10 pr10" />
				<h:outputText value="#{sessionScope.errorUserViewInfo}" styleClass="fs16 d-flex p5 pl10 pr10 mbauto" style="color: #9acfea; box-shadow:  0px  1px 0px black!important;" />

				<h:panelGroup styleClass="d-flex-1 p5 pl10 pb10 btb1i ov-auto" style="box-shadow:  0px  1px 0px black!important;"
							  rendered="#{user.admin
										or user.hasPermission('PP_PROGRAMISTA')
										or user.hasPermission('PP_TESTER')
										or ''.concat(request).contains('localhost:')}">
					<p:inputTextarea value="#{sessionScope.errorStackTrace}"  readonly="true" styleClass="fs16"
					style="color:#EEEEEE!important; text-shadow: -1px -1px 8px #000000, 1px 1px 8px #000000!important;"/>
				</h:panelGroup>

			</div>

		</ui:define>
	</ui:composition>


</h:body>
</html>
