<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<f:metadata>
</f:metadata>


<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Delegacja zagraniczna nr: #{delegacjaZagrBean.delegacja.wndNumer}" />
		<ui:param name="ccMDesignAjaxDefault" value="true" />
	
		<ui:define name="egr_content">
	
<!-- 			<pe:layoutPane position="north" resizable="false" closable="false" -->
<!-- 				spacingOpen="0" spacingClosed="0" styleClassContent="pp-btns-bar"> -->
	
				<h:form id="frmTMnu" styleClass="pp-bg-lp-north-b-white-b-v pl20 pr20">
	
					<p:panelGrid id="buttonsId">
						<p:row>
							<p:column>
								<p:commandButton value="Zapisz" 
									id="zapiszId" 
									icon="save"
									action="#{delegacjaZagrBean.delegacja.zapisz()}"
									partialSubmit="true"
									onstart="hgon();" 
									oncomplete="hgoff()" 
									process="tabViewId:frmT1 tabViewId:frmT3 frmTMnu @this"
									update = "@form @(.ctl-form-name)" 
								/>
							</p:column>
						
							<p:column>
								<cc:cZalacznikiButton 
									dlgTitle="Załączniki delegacji:" 
									zalFkId="#{delegacjaZagrBean.delegacja.wndId}" 
									zalFkFieldName="ZAL_WND_ID"
								/>
							</p:column>
							
							<p:column>
								<cc:cObiegCzynnosci id="obiegDelZagr" 
									idEncji="#{delegacjaZagrBean.delegacja.wndId}" 
									kategoriaObiegu="WN_DELZ" 
									hibernateRefreshPoWykonaniuCzynnosc="#{delegacjaZagrBean.delegacja}"
								/>
							</p:column>
							
							<p:column>
								<h:commandLink ajax="false" target="_blank">
									<p:commandButton styleClass="left" icon="search"
										value="raport polecenia podróży" partialSubmit="true"
										process="@none" />
									<p:fileDownload
										value="#{delegacjaZagrBean.generujSlElToPdfStream('PDF_DEL_ZAGR_POL')}"
										contentDisposition="inline" />
								</h:commandLink>
							</p:column>
							
							<p:column>
								<h:commandLink ajax="false" target="_blank">
									<p:commandButton styleClass="left" icon="search"
										value="raport rozliczenia" partialSubmit="true"
										process="@none" />
									<p:fileDownload
										value="#{delegacjaZagrBean.generujSlElToPdfStream('PDF_DEL_ZAGR_ROZL')}"
										contentDisposition="inline" />
								</h:commandLink>
							</p:column>
							
						</p:row>
	
					</p:panelGrid>
				</h:form>
	
<!-- 			</pe:layoutPane> -->
	
	
<!-- 			<pe:layoutPane id="pnlWyniki" position="center" resizable="false" -->
<!-- 				size="100%" styleContent="overflow-y:auto; padding:20px;" closable="false" -->
<!-- 				spacingOpen="0" spacingClosed="0" -->
<!-- 				styleClassContent="ctl-datatable-pan1111"> -->
	
		<div class="pp-center p20">

			<div class="bg-fff p20">
				
				<p:tabView id="tabViewId" 
					dynamic="true" 
					onTabChange="hgon()" 
					onTabShow="hgoff()" 
					styleClass="pp-tbvw-wide" 
				>
	
					<p:tab title="Część I - delegacja" id="t1">
						<div class="mr-10i pr15 pl15 ml-5i" style="max-height: calc(100vh - 190px); overflow-y:auto; overflow-x:hidden;">
							<h:form id="frmT1" styleClass="pr20 pt10 ml-15i mr-20i frmT1 obieg">
									<ui:include src="/faces/DelegacjeZagraniczneStd/DelZagrTab1.xhtml"></ui:include>
							</h:form>
						</div>
					</p:tab>
	
					
					<p:tab title="Część II - kalkulacja rozliczająca" id="t3">
						<div class="mr-10i pr15 pl15 ml-5i" style="max-height: calc(100vh - 190px); overflow-y:auto; overflow-x:hidden;">
							<h:form id="frmT3" styleClass="pr20 pt10 ml-15i mr-20i frmT1 obieg">
									<ui:include src="/faces/DelegacjeZagraniczneStd/DelZagrTab3.xhtml"/>
							</h:form>
						</div>
					</p:tab>
	
	
				</p:tabView>
				
					<p:confirmDialog global="true" showEffect="fade"
						hideEffect="fade">
						<p:commandButton value="Tak" type="button"
							styleClass="ui-confirmdialog-yes" icon="check" />
						<p:commandButton value="Nie" type="button"
							styleClass="ui-confirmdialog-no" icon="close" />
					</p:confirmDialog>
					
				</div>
				
			</div>
				
<!-- 			</pe:layoutPane> -->
	
		</ui:define>
	
	</ui:composition>


</h:body>

</html>

