<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista delegacji" />

		<ui:define name="egr_content">

			<h:form id="frmNorth" styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20">

				<c:cLovButtonJS
						lovDlgTitle="Rodzaj delegacji"
						datasource="#{listaDelegacjiBean.getSL('DELEGACJE_WNIOSKI')}"
						icon="add"
						styleClass="granatowy"
						value="Dodaj delegację ..."
						rowSelectedAction="#{listaDelegacjiBean.nowyWniosek}"
				/>

			</h:form>

			<h:form id="frmCntr" styleClass="bg-fff m20i p20 bsh2black flex-1">

				<c:cLookupTable
					datasource="#{listaDelegacjiBean.getLW('PPL_DEL_LISTA_DELEGACJI', user.dbLogin , user.prcId)}"
					disabled="#{row.get('wnd_status') eq 'anulowany'}"
					rowSelectedAction="#{listaDelegacjiBean.edytujWniosek}"
				/>

			</h:form>

		</ui:define>
	</ui:composition>
</body>
</html>