<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>

<!-- 		dane z ek_pracownicy -->
		<ui:param name="rUserPrc" value="#{user.ekPracownik}" />

	

			<div class="ui-g pt20">


				<div class="ui-g-12 ui-lg-3 ui-g-nopad">

					<cc:cInputText label="Imię:" 				value="#{rUserPrc.get('PRC_IMIE')}" readonly="true" styleClass="p10"/>
					
					<cc:cInputText label="Drugie imię:" 		value="#{rUserPrc.get('PRC_IMIE2')}" readonly="true" styleClass="p10"/>
					
					<cc:cInputText label="Nazwisko:" 			value="#{rUserPrc.get('PRC_NAZWISKO')}" readonly="true" styleClass="p10"/>

					<cc:cCalendar label="Data urodzenia:" 		value="#{rUserPrc.get('PRC_DATA_UR')}" readonly="true" styleClass="p10"/>
						
					<cc:cInputText label="Miejsce urodzenia:" 	value="#{rUserPrc.get('PRC_MIEJSCE_UR')}" readonly="true" styleClass="p10"/>

					<cc:cInputText label="Imię ojca:" 			value="#{rUserPrc.get('PRC_IMIE_OJCA')}" readonly="true" styleClass="p10"/>

					<cc:cInputText label="Imię matki:" 			value="#{rUserPrc.get('PRC_IMIE_MATKI')}" readonly="true" styleClass="p10"/>

				</div>




				<div class="ui-g-12 ui-lg-3 ui-g-nopad">

					<cc:cInputNumber label="Nr pracownika:" 	value="#{rUserPrc.get('PRC_NUMER')}" readonly="true" decimalPlaces="0" styleClass="p10"/>

					<cc:cInputText label="PESEL:" 							value="#{rUserPrc.get('PRC_PESEL')}" readonly="true" styleClass="p10"/>
					
					<cc:cInputText label="Dowód osobisty:" 		value="#{rUserPrc.get('PRC_DOWOD_OSOB')}" readonly="true" styleClass="p10"/>
					
					<cc:cCalendar label="Wydany dnia:" 			value="#{rUserPrc.get('PRC_DATA_WYDANIA_DOWODU')}" readonly="true" styleClass="p10"/>
					
					<cc:cCalendar label="Ważny do:" 					value="#{rUserPrc.get('PRC_DATA_WAZNOSCI_DOWODU')}" readonly="true" styleClass="p10"/>
					
					<cc:cInputText label="Wydany przez:" 			value="#{rUserPrc.get('PRC_ORGAN_WYDAJACY')}" readonly="true" styleClass="p10"/>
					
					<cc:cInputText label="Obywatelstwo:" 			value="#{rUserPrc.get('PRC_OBYWATELSTWO')}" readonly="true" styleClass="p10"/>
					
				</div>
				
				
				
				
				<div class="ui-g-12 ui-lg-6 ui-g-nopad">
					
					<cc:cInputText label="Numer NIP:" 				value="#{rUserPrc.get('PRC_NIP_PREFIKS')}#{user.ekPracownik.get('PRC_NIP_DANE')}" readonly="true" styleClass="p10"/>

					<ui:param name="lwUS" value="#{v.getLW('PPL_URZEDY_SKARBOWE')}"></ui:param>

					<cc:cInputText  label="Urząd skarbowy:"		value="#{lwUS.findAndFormat(rUserPrc.get('PRC_USK_ID'), '%usk_nazwa$s') }" readonly="true" styleClass="p10"/>

					<cc:cInputText  label="Adres urzędu skarbowego:"		value="#{lwUS.findAndFormat(rUserPrc.get('PRC_USK_ID'), '%usk_adres$s') }" readonly="true" styleClass="p10"/>

				</div>


			</div>

</body>
</html>