<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

#{pracownikZatrudnienieAktualne.loadEgListaWartosci('PPL_KAD_ZATR_AKT', [ sessionBean.prc_id ])}
	
#{pracownikZatrudnienieAktualne.loadEgListaWartosci('PPL_KAD_PREM_ZATR_AKT',  [ sessionBean.prc_id ,  pracownikZatrudnienieAktualne.getAktualneZatrId() ] )} 

	<p:separator styleClass="ui-g-12 p0 mt20"/>

	<h:panelGroup id="hzuop" styleClass="ui-g p20 mt40 mb40" style="max-height: calc(100vh - 320px); overflow-y: auto">

		<div class="ui-g-12 ui-lg-3 p0 ui-g-nopad">

			<cc:cInputTextMDesign id="dataZatrId" label="Data zatrudnienia"
								  styleClass="ui-g-12"
								  value="#{pracownikZatrudnienieAktualne.format(pracownikZatrudnienieAktualne.get('PP_Z_DATAPRZYJ') , 'yyyy-MM-dd' ) }"
								  readonly="true" />

			<cc:cInputTextMDesign id="stanowiskoId" label="Stanowisko"
								  styleClass="ui-g-12"
								  value="#{pracownikZatrudnienieAktualne.get('PP_Z_STANOWISKO')}"
								  readonly="true" />

			<cc:cInputTextMDesign id="zaszeregowanieId"
								  styleClass="ui-g-12"
								  label="Kategoria zaszeregowania"
								  value="#{pracownikZatrudnienieAktualne.get('PP_Z_ZASZEREGOWANIE')}"
								  readonly="true" />

			<cc:cInputTextMDesign id="etatId" label="Wymiar etatu"
								  styleClass="ui-g-12"
								  value="#{pracownikZatrudnienieAktualne.get('PP_Z_WYMIAR')}"
								  readonly="true" />

			<cc:cInputTextMDesign id="przelozonyId" label="Przełożony"
								  styleClass="ui-g-12"
								  value="#{pracownikZatrudnienieAktualne.get('PP_Z_PRZELOZONY')}"
								  readonly="true" />

		</div>

		<div class="ui-g-12 ui-lg-9 p0 ui-g-nopad">

			<cc:cInputTextMDesign id="dataUmowaId"
								  styleClass="ui-g-6 ui-md-4"
								  label="Data obowiązywania umowy"
								  value="#{pracownikZatrudnienieAktualne.format(pracownikZatrudnienieAktualne.get('PP_Z_DATADO') , 'yyyy-MM-dd' ) }"
								  readonly="true" />

			<cc:cInputTextMDesign id="rodzajUmowy" label="Rodzaj umowy"
								  styleClass="ui-g-6 ui-md-8"
								  value="#{pracownikZatrudnienieAktualne.get('pp_z_rodzaj')}"
								  readonly="true" />

			<cc:cInputTextMDesign id="angazId" label="Typ angażu"
								  styleClass="ui-g-12"
								  value="#{pracownikZatrudnienieAktualne.get('PP_Z_ANGAZ')}"
								  readonly="true" />

			<cc:cInputTextMDesign id="jednostkaOrganizacyjnaId"
								  styleClass="ui-g-12"
								  label="Jednostka organizacyjna"
								  value="#{pracownikZatrudnienieAktualne.get('PP_Z_JED_ORG')}"
								  readonly="true" />

			<cc:cInputNumberMDesign id="stawkaWynagrodzenia" label="Stawka wynagrodzenia"
									styleClass="ui-g-6 ui-md-4 right" decimalPlaces="2" symbol="#{pracownikZatrudnienieAktualne.get('zat_wal_id_symbol')}"
									value="#{pracownikZatrudnienieAktualne.get('PP_Z_STAWKA')}"
									readonly="true" />

			<cc:cInputTextMDesign id="typStawkiWSLO" label="Typ stawki"
								  styleClass="ui-g-6 ui-md-5 right"
								  value="#{pracownikZatrudnienieAktualne.get('zat_typ_stawki_wslo')}"
								  readonly="true"/>

			<cc:cInputTextMDesign id="warunkiId" label="Warunki szczególne"
								  styleClass="ui-g-12"
								  value="#{pracownikZatrudnienieAktualne.get('PP_Z_WAR_SZCZEG')}"
								  readonly="true" />

		</div>
	</h:panelGroup>

	<p:separator styleClass="ui-g-12 p0"/>
</h:body>
</html>
