<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Dane podstawowe" />
		<ui:param name="formBackground" value="rgba(20,70,140,0.5)" />

		<ui:define name="egr_content">

			<div class="p20 d-flex-1">
				<h:form id="pracownikForm" class="p20 bg-fff bsh2black flex-1 ov-hidden">
					
					<ui:param name="rdaneprc" value="#{sqlBean.getLW('PPL_KAD_PODST_DANE_PRC', user.prcId).data.get(0)}" />

					<table>
						<tr>
							<td><i class="material-icons fs50">face</i></td>
							<td class="fs30">#{rdaneprc.get('pp_imie')} #{rdaneprc.get('pp_imie2')} #{rdaneprc.get('pp_nazwisko')}</td>
						</tr>
					</table>

					<p:separator styleClass="p0 mb20"/>

					<p:tabView id="tabViewId" dynamic="true" cache="false"
						onTabChange="hgon();" onTabShow="hgoff();"
						styleClass="pp-tbvw-wide" >

						<p:tab id="tab1" title="Dane podstawowe">
							<div style="height:calc(100vh - 280px); overflow-y: auto; overflow-x: hidden;" class="p0 pr20 m0">
								<ui:include src="/faces/Pracownik/PracownikTab1.xhtml"/>
							</div>
						</p:tab>

						<p:tab id="tab2" title="Dane adresowe">
							<div style="height:calc(100vh - 240px); overflow-y: auto; overflow-x: hidden;" class="p0 pr20 m0">
								<ui:include src="/faces/Pracownik/PracownikTab2.xhtml"/>
							</div>
						</p:tab>


						<p:tab title="Dane kontaktowe">
							<div class="d-flex-1">
								<cc:cLookupTable datasource="#{sqlBean.getLW('PPL_KAD_KONTAKT_DANE_PRC')}"
												 height="calc(100vh - 280px)" />
							</div>
						</p:tab>


						<p:tab title="Dokumenty tożsamości">
							<div class="d-flex-1">
								<cc:cLookupTable datasource="#{sqlBean.getLW('ppl_kad_prc_dok_tozsam')}"
												 height="calc(100vh - 280px)" />
							</div>
						</p:tab>

					</p:tabView>

<!--
					<div style="position: absolute; bottom: 30px; left: 50px; right: 50px;">

						<a href="https://intranet.comarch/fileupload/Dokumenty%20Dzia%C5%82u%20Personalnego/46cd8ba1cee0fe1c93bf727beedb04f3_DANE-OSOBOWE.doc"
						   class="ctl-oLink fs16 mr40"
						   title="pobierz plik formularza zmiany danych"
						>Formularz zmiany danych</a>

					</div>
-->

				</h:form>
			</div>

		</ui:define>
	</ui:composition>
</h:body>
</html>
