<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Badania okresowe i szkolenia BHP" />
		<ui:param name="formBackground" value="rgba(20,70,140,0.5)" />

		<ui:define name="egr_content">

			<div class="p20 d-flex-1">
				<h:form class="p20 bg-fff bsh2black flex-1 ov-hidden">

					<ui:param name="rdaneprc" value="#{v.getLW('PPL_KAD_PODST_DANE_PRC', user.prcId).data.get(0)}" />
					<table>
						<tr>
							<td><i class="material-icons fs50">face</i></td>
							<td class="fs30">#{rdaneprc.get('pp_imie')} #{rdaneprc.get('pp_imie2')} #{rdaneprc.get('pp_nazwisko')} / #{formName}</td>
						</tr>
					</table>

					<p:separator styleClass="p0 mb20"/>

					<p:tabView id="tabViewId" dynamic="false" cache="false"
						   activeIndex="#{pracownikZatrudnienieAktualne.activeIndex}"
						   styleClass="pp-tbvw-wide">

						<p:tab id="tab1" title="Badania">
							<div class="p0 m0" style="height:calc(100vh - 280px); overflow: hidden;">
								<cc:cLookupTable height="calc(100vh - 240px)"
												 datasource="#{v.getLW('PPL_KAD_BADANIA', user.prcId)}"/>
							</div>
						</p:tab>

						<p:tab id="tab2" title="Szkolenia BHP">
							<div class="p0 m0" style="height:calc(100vh - 280px); overflow: hidden;">
								<cc:cLookupTable height="calc(100vh - 240px)"
												 datasource="#{v.getLW('PPL_SZKOLENIA_BHP_PRC')}"/>
							</div>
						</p:tab>

					</p:tabView>

				</h:form>
			</div>

		</ui:define>
	</ui:composition>
</h:body>
</html>







