<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Zatrudnienie" />
		<ui:param name="formBackground" value="rgba(20,70,140,0.5)" />

		<ui:define name="egr_content">

			<h:form id="pracownikZatrForm" class="bg-fff m20i p20 bsh2black flex-1">

				<ui:param name="rdaneprc" value="#{sqlBean.getLW('PPL_KAD_PODST_DANE_PRC', user.prcId).data.get(0)}" />
				<table>
					<tr>
						<td><i class="material-icons fs50">face</i></td>
						<td class="fs30">#{rdaneprc.get('pp_imie')} #{rdaneprc.get('pp_imie2')} #{rdaneprc.get('pp_nazwisko')} / #{formName}</td>
					</tr>
				</table>

				<p:tabView id="tabViewId" dynamic="false" cache="false"
					activeIndex="#{pracownikZatrudnienieAktualne.activeIndex}"
					styleClass="pp-tbvw-wide">

					<p:tab id="tab1" title="Umowa o pracę">

						<ui:include
							src="/faces/Pracownik/PracownikZatrudnienieTab1.xhtml"/>

					</p:tab>

					<p:tab id="tab2" title="Historia zmian umowy o pracę">
						<div class="d-flex-1">
							<cc:cLookupTable height="calc(100vh - 240px)"
											 datasource="#{pracownikZatrudnienieAktualne.getLW('PPL_PRC_HIST_ZATR', sessionBean.prc_id)}"
											 notActiveList="true" underTab="true"  />
						</div>
					</p:tab>

					<p:tab id="tab3" title="Inne formy zatrudnienia">
						<div class="d-flex-1">
							<cc:cLookupTable height="calc(100vh - 240px)"
											 datasource="#{pracownikZatrudnienieAktualne.getLW('PPL_KAD_PRC_FORM_ZATR')}"
											 notActiveList="true" underTab="true"  />
						</div>
					</p:tab>

					<p:tab id="tab4" title="Przebieg zatrudnienia">
						<div class="d-flex-1">
							<cc:cLookupTable height="calc(100vh - 240px)"
											 datasource="#{pracownikZatrudnienieAktualne.getLW('ppl_kad_prc_przeb_zatrud')}"
											 notActiveList="true" underTab="true"  />
						</div>
					</p:tab>
				</p:tabView>

			</h:form>

		</ui:define>
	</ui:composition>
</body>
</html>