<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Języki" />
		<ui:param name="formBackground" value="rgba(20,70,140,0.5)" />

		<ui:define name="egr_content">
			<ui:include
				src="/WEB-INF/protectedElements/Dialogs/Pracownik/dlgDaneBadania.xhtml" />

			<div class="p20 d-flex-1">
				<h:form id="frm" class="p20 bg-fff bsh2black flex-1 ov-hidden">

					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
						style="width: 300px;">
						<p:commandButton value="TAK" type="button"
							styleClass="ui-confirmdialog-yes" />
						<p:commandButton value="NIE" type="button"
							styleClass="ui-confirmdialog-no" />
					</p:confirmDialog>

					<ui:param name="rdaneprc" value="#{sqlBean.getLW('PPL_KAD_PODST_DANE_PRC', user.prcId).data.get(0)}" />
					<table>
						<tr>
							<td><i class="material-icons fs50">face</i></td>
							<td class="fs30">#{rdaneprc.get('pp_imie')} #{rdaneprc.get('pp_imie2')} #{rdaneprc.get('pp_nazwisko')} / #{formName}</td>
						</tr>
					</table>

					<p:separator styleClass="ui-g-12 p0 m0 mb20"/>

					<div class="pl10 d-flex-1" style="height: calc(100vh - 230px);">
						<cc:cLookupTable height="calc(100vh - 180px)"
							datasource="#{pracownikJezykiBean.getLW('PPL_KAD_PRC_JEZYKI', [sessionBean.prc_id])}"
							notActiveList="true" showSearchField="false"
						 />
					</div>

					<p:separator styleClass="ui-g-12 p0 mt10 m0"/>

				</h:form>
			</div>

		</ui:define>
	</ui:composition>

</h:body>

</html>







