<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>

	<ui:param name="lwAdresyPrc" value="#{v.getLW('PPL_ADRESY_PRC', user.prcId, '%')}" />
		
	<h:panelGroup id="padr">
		<p:outputLabel value="Brak zdefiniowanych adresów pracownika."  rendered="#{empty lwAdresyPrc.data}"/>
	
	<p:accordionPanel styleClass="pt20"  value="#{lwAdresyPrc.data}" var="rAdres" dynamic="false">
		<p:tab title="..." >
		<f:facet name="title">
			<p:outputLabel value="#{rAdres.format( '%adr_typ_opis$s' )}" styleClass="fs20 pl10" style="color: slategray;"/>
			<br/>
			<p:outputLabel value="#{rAdres.format( '%adres$s' )}" styleClass="fs16 pl10" style="color: black;"/>
		</f:facet>
		
		<div class="ui-g ui-g-12 pb80" style="width: calc(100vw - 180px)">
		
					<div class="ui-g-8 ui-g-nopad"> 			
					
							<cc:cInputText readonly="true" 	label="Miejscowość:"
								value="#{rAdres.get('adr_miejscowosc')}"
								styleClass="ui-g-12 "/>		
						
						
							<cc:cInputText readonly="true" 	label="Typ ulicy:"
								value="#{rAdres.get('adr_typ_ulicy_opis')}"
								styleClass="ui-g-4 ui-lg-2 "/>
	
							<cc:cInputText readonly="true" 	label="Ulica:"
								value="#{rAdres.get('adr_ulica')}"
								styleClass="ui-g-8 ui-lg-10"/>
	
							<cc:cInputText readonly="true" 	label="Nr domu:"
								value="#{rAdres.get('adr_numer_domu')}"
								styleClass="ui-g-6 "/>
								
							<cc:cInputText readonly="true" 	label="Nr lokalu:"
								value="#{rAdres.get('adr_numer_lokalu')}"
								styleClass="ui-g-6"/>							
								
							<cc:cInputText readonly="true" 	label="Kod pocztowy:"
								value="#{rAdres.get('adr_kod_pocztowy')}"
								styleClass="ui-g-3"/>							
	
							<cc:cInputText readonly="true" 	label="Poczta:"
								value="#{rAdres.get('adr_poczta')}"
								styleClass="ui-g-9"/>		
							
						
					</div>	
							
					
					<div class="ui-g-4 ui-g-nopad"> 					

							<cc:cInputText readonly="true" 	label="Kraj:"
								value="#{rAdres.get('kr_nazwa')}"
								styleClass="ui-g-12 pl30"/>																		

							<cc:cInputText readonly="true" 	label="Województwo:"
								value="#{rAdres.get('woj_nazwa')}"
								styleClass="ui-g-12 pl30"/>				
						
							<cc:cInputText readonly="true" 	label="Powiat:"
								value="#{rAdres.get('adr_powiat')}"
								styleClass="ui-g-12 pl30"/>							
							
							<cc:cInputText readonly="true" 	label="Gmina:"
								value="#{rAdres.get('adr_gmina')}"
								styleClass="ui-g-12 pl30"/>							
								
					</div>
						
				</div>
			
				
		</p:tab>
	
	</p:accordionPanel>

	</h:panelGroup>

</body>
</html>