<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Wykształcenie" />
		<ui:param name="formBackground" value="rgba(20,70,140,0.5)" />

		<ui:define name="egr_content">

			<h:form id="pracownikForm" class="m20i p20 bg-fff bsh2black flex-1 ov-hidden">

				<ui:param name="rdaneprc" value="#{sqlBean.getLW('PPL_KAD_PODST_DANE_PRC', user.prcId).data.get(0)}" />

				<table>
					<tr>
						<td><i class="material-icons fs50">face</i></td>
						<td class="fs30">#{rdaneprc.get('pp_imie')} #{rdaneprc.get('pp_imie2')} #{rdaneprc.get('pp_nazwisko')}</td>
					</tr>
				</table>

				<p:separator styleClass="p0 m0 mt10"/>

				<div class="d-flex-1">
					<cc:cLookupTable datasource="#{v.getLW('ppl_kad_prc_wykszt')}"
									 showSearchField="false"
									 smallHeaders="true" height="70px"/>
				</div>

				<p:separator styleClass="p0 m0 m0 mb10"/>

				<p:tabView id="tabViewId" dynamic="true" cache="false"
					onTabChange="hgon();" onTabShow="hgoff();"
					styleClass="pp-tbvw-wide">

					<p:tab id="tab1" title="Wykształcenie">
						<div class="p0 m0" style="height:calc(100vh - 300px);">
							<cc:cLookupTable datasource="#{v.getLW('ppl_kad_prc_szkoly')}"
											 height="calc(100vh - 350px)"
											 styleClass="mt20"/>
						</div>
					</p:tab>

					<p:tab id="tab2" title="Języki">
						<div class="p0 m0" style="height:calc(100vh - 300px);">
							<cc:cLookupTable datasource="#{v.getLW('ppl_kad_prc_jezyki',user.prcId)}"
											 height="calc(100vh - 350px)"
											 styleClass="mt20"/>
						</div>
					</p:tab>


				</p:tabView>

			</h:form>


		</ui:define>
	</ui:composition>
</h:body>
</html>
