<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Rodzina" />
		<ui:param name="formBackground" value="rgba(20,70,140,0.5)" />

		<ui:define name="egr_content">

			<div class="pp-north p0">
				<h:form styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20">

					<p:commandButton value="drukuj" icon="print" styleClass="granatowy bsh1gray">
						<p:printer target="printContent1"/>
					</p:commandButton>

				</h:form>
			</div>

			<div class="p20 d-flex-1">

				<h:form styleClass="bg-fff p20 bsh2black d-flex-1-column w100p-40px">

					<ui:param name="rdaneprc" value="#{sqlBean.getLW('PPL_KAD_PODST_DANE_PRC', user.prcId).data.get(0)}" />

					<div class="d-flex align-items-center">
						<i class="material-icons fs50">face</i>
						<p class="fs30 m0">#{rdaneprc.get('pp_imie')} #{rdaneprc.get('pp_imie2')} #{rdaneprc.get('pp_nazwisko')} / #{formName}</p>
					</div>

					<p:separator styleClass="p0 m0 mb20"/>

					<div class="pt20 pl10 d-flex-1-column">
						<div class="d-flex-1">
							<cc:cLookupTable
								datasource="#{rodzinaBean.getLW('PP_KAD_RODZINA', user.prcId)}"
								notActiveList="true"  />
						</div>
					</div>

				</h:form>
			</div>

			<ui:include
				src="/WEB-INF/protectedElements/Wydruki/common/wydrukRodzina.xhtml" />

		</ui:define>
	</ui:composition>
</h:body>
</html>











