<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<f:metadata>
</f:metadata>
<body>


		
	 
<p:accordionPanel id="accPnl" multiple="true">
<!-- multiple="true" -->
	  
<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================         PLAN TRASY          ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="PLAN TRASY">
		 <f:facet name="title">
			 <cc:cDelTabPlanTrasyTitle kalkulacja="#{delegacjaMFBean.kalkulacjaRozliczenia}"/>
		 </f:facet>

		<h:panelGroup id="trasyPnl" width="1450">
<!-- 				#{delegacjaMFBean.kalkulacjaRozliczenia.deltPozycjeKalkulacjis.isEmpty() ? "" : delegacjaMFBean.obliczPodsumowanieRozliczenie(false)} -->
				<cc:cTable id="trasy" datasource="#{delegacjaMFBean.kalkulacjaRozliczenia.deltTrasies}"
					height="#{190 + 50*(delegacjaMFBean.kalkulacjaRozliczenia.deltTrasies.size())}px"
					smallHeaders="true"
					>
					
				<p:column width="20">
		        	<p:rowToggler />
		    	</p:column>
		    	
				 <p:rowExpansion>
					 <p:panelGrid style="max-width:1200px">
						<p:row styleClass="ui-g ui-g-12 ui-g-nopad">
						
							<p:column styleClass="ui-g-1 ui-g-nopad">
						 		<p:outputLabel value="kraj delegacji"/>
						 	</p:column>
						 	
						 	<p:column styleClass="ui-g-1 ui-g-nopad">	
								<cc:cLovJS lovDlgTitle="Lista krajów" width="75"
									datasource="#{delegacjaMFBean.getLW('PPL_WSP_KRAJE')}"
									lovTextFormat="%3$s" process="@this"
									value="#{o.trsKrIdDiety}" valueRefObject="#{o}" 
								/>
							</p:column>
		
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="koszt"/>
							</p:column>
							
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:inputNumber value="#{o.trsKosztBiletu}" id="kosztBiletR"
										title="Dla danego odcinka trasy należy podać kwotę transportu a walutę uzupełnić w sekcji 'Koszty przejeazdu/ pozostałe'">
									<p:ajax event="change"
											process="@this" partialSubmit="true"
									/>
								</p:inputNumber>
<!--											update="@form:accPnl:kosztyRozlPnl"-->
<!--											listener="#{delegacjaMFBean.dodajKosztBiletu(delegacjaMFBean.kalkulacjaRozliczenia, o)}"-->
<!-- 										disabled="#{'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa}"> -->
							</p:column>
<!-- 										symbol=" PLN"  -->
<!-- 										symbolPosition="s"  -->
<!-- 																	valueChangeListener="#{delegacjaMFBean.zmienPoprzedniBilet(delegacjaMFBean.kalkulacjaRozliczenia , o)}" -->
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="termin wykupu"/>
							</p:column>
							
							<p:column styleClass="ui-g-2 ui-g-nopad">
								<cc:cCalendarHour value="#{o.trsTerminWykupuBiletu}"/>
							</p:column>
		
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="faktura vat"/>
							</p:column>
							
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:inputText value="#{o.trsFakturaVatNaBilet}">
									<p:ajax event="change" process="@this" partialSubmit="true"/>
								</p:inputText>
							</p:column>
							
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="termin płatnosci"/>
							</p:column>
							
							<p:column  styleClass="ui-g-2 ui-g-nopad">
								<cc:cCalendar value="#{o.trsTerminPlatnosciZaBilet}"/>
							</p:column>					
							
						</p:row>	
		
					</p:panelGrid>
					<p:inputTextarea value="#{o.trsOpis}"  style="max-width:1000px"
						placeholder="... trasa - opis/uwagi ..."
						rows="2" cols="200" maxlength="4000"  
						styleClass="lekka-ramka">
						
						<p:ajax event="change" process="@this" partialSubmit="true"/>	
					</p:inputTextarea>
					<br/><br/>
					
				 </p:rowExpansion>		
				 
					<p:column headerText="Wyjazd" width="150">
						<cc:cCalendarHour id="tWyj" value="#{o.trsDataOd}"/>
					</p:column>		
					
					<p:column headerText="Kraj" width="80">
						<cc:cLovJS lovDlgTitle="Lista krajów" width="80"
								datasource="#{delegacjaMFBean.getLW('PPL_WSP_KRAJE')}"
								lovTextFormat="%3$s" process="@this"
								value="#{o.trsKrIdOd}" valueRefObject="#{o}" 
							/>
						
					</p:column>
					<p:column headerText="Miejscowość" width="100">
						<cc:cInputText value="#{o.trsMiejscowoscOd}"/>
					</p:column>
		
					<p:column width="150">
						<f:facet name="header">
							<h:outputLabel id="przyjazd">Przyjazd <span style="color:red;">*</span></h:outputLabel>
							<p:tooltip for="przyjazd">
							<div>
								Data i godzina przekroczenia granicy przy podróżach pociągiem lub samochodem <br /> 
								bądź data i godzina przybycia do miejscowości docelowej dla pozostałych środków transportu
							</div>
		
							</p:tooltip>
						</f:facet>
						<cc:cCalendarHour value="#{o.trsDataDo}"/>
					</p:column>	
						
					<p:column headerText="Kraj" width="80">
						<cc:cLovJS lovDlgTitle="Lista krajów" width="80"
								datasource="#{delegacjaMFBean.getLW('PPL_WSP_KRAJE')}"
								lovTextFormat="%3$s" process="@this"
								value="#{o.trsKrIdDo}" valueRefObject="#{o}" 
							/>
					</p:column>
					<p:column headerText="Miejscowość" width="100">
						<cc:cInputText value="#{o.trsMiejscowoscDo}"/>
					</p:column>	
					
					<p:column headerText="Środek lokomocji" width="200">
							<cc:cLovJS id="srdklkmcj" process="@this"
							lovDlgTitle="Środki lokomocji" 
							datasource="#{delegacjaMFBean.getSql('DEL_SRODEK_LOKOMOCJI')}" width="200"
							lovTextFormat="%2$s"
							value="#{o.trsSrodekLokomocji}" 
							valueRefObject="#{o}"/>
					</p:column>	
						
					<p:column width="75">
						<f:facet name="header">
							<p:commandButton partialSubmit="true" process="@this @form:accPnl:trasy" 
								update="@form:accPnl:trasy" icon="add"  style="width:20px!important"
								action="#{delegacjaMFBean.dodajTrase(delegacjaMFBean.kalkulacjaRozliczenia)}"/>
						</f:facet>
						<p:commandButton partialSubmit="true" process="@this" update="@form:accPnl:trasy" icon="delete"  
								action="#{delegacjaMFBean.kalkulacjaRozliczenia.removeDeltTrasy(o)}"/>
					</p:column>
		
				</cc:cTable>
		    
		</h:panelGroup>		
		
		
<!-- 		<p:confirmDialog global="true" showEffect="fade" -->
<!-- 			hideEffect="fade"> -->
<!-- 			<p:commandButton value="Tak" type="button" -->
<!-- 				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" /> -->
<!-- 			<p:commandButton value="Nie" type="button" -->
<!-- 				styleClass="ui-confirmdialog-no" icon="ui-icon-close" /> -->
<!-- 		</p:confirmDialog> -->
		
	 </p:tab>

<!-- 	 ====================================================================================================================== -->
<!-- 	 ==========================================                             	=========================================== -->
<!-- 	 ==========================================       CZYNNOŚCI SŁUŻBOWE        =========================================== -->
<!-- 	 ==========================================                             	=========================================== -->
<!-- 	 ====================================================================================================================== -->

	 <p:tab title="CZYNNOŚCI SŁUŻBOWE" disabled="#{'N' eq delegacjaMFBean.wniosek.wndFPryw}">
		 <f:facet name="title">
			 <h:panelGroup id="pnlCzynnosciSluzboweTtl">
				 <p:outputLabel value="CZYNNOŚCI SŁUŻBOWE" styleClass="p0" style="#{not empty delegacjaMFBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe ? 'color:black!important;': ''}"/>
			 </h:panelGroup>
		 </f:facet>
	 
		<h:panelGroup id="czynnosciSPg" styleClass="czynnosciSPg" width="1215">
		
			<cc:cTable id="czynnosciST" styleClass="czynnosciST"
				datasource="#{delegacjaMFBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe}" 
				height="250px" 
				smallHeaders="true" >
	
				<p:column headerText="Kraj" width="80">	
					<cc:cLovJS lovDlgTitle="Lista krajów" width="80" required="true"
						datasource="#{delegacjaMFBean.getLW('PPL_WSP_KRAJE')}"
						lovTextFormat="%3$s" process="@this"
						value="#{o.czynKrajId}"
					/>
				</p:column>
				
				<p:column headerText="Czas od" width="150">
					<cc:cCalendarHour value="#{o.czynCzynnosciOd}" updateOnDateSelect="@(.czynnosciST)" required="true"/>
				</p:column>
				
				<p:column headerText="Czas do" width="150">
					<cc:cCalendarHour value="#{o.czynCzynnosciDo}" updateOnDateSelect="@(.czynnosciST)" required="true"/>
				</p:column>
				
				<p:column headerText="Czas łącznie" width="120">
					<p:inputText value="#{delegacjaMFBean.formatujDniCzynnosciSluzbowe(o.czynCzas)}" readonly="true"/>
				</p:column>
				
				<p:column headerText="Opis" width="300">
					<p:inputText value="#{o.czynOpis}"/>
				</p:column>
				
				<p:column width="35">
					<f:facet name="header">
						<p:commandButton partialSubmit="true" process="@this" 
							update="@form:accPnl:czynnosciSPg @(.btnDietyP) @(.btnDietyH) @(.btnRD) @(.btnRKM)" 
							icon="add"  
							style="width:20px!important"
							action="#{delegacjaMFBean.kalkulacjaRozliczenia.addNewDelCzynnosciSluzbowe()}"/>
					</f:facet>
					<p:commandButton partialSubmit="true" process="@this" 
						update="@form:accPnl:czynnosciSPg @(.btnDietyP) @(.btnDietyH) @(.btnRD) @(.btnRKM)" 
						icon="delete" 
						action="#{delegacjaMFBean.kalkulacjaRozliczenia.removeDelCzynnosciSluzbowe(o)}"/>
				</p:column>
				
			</cc:cTable>
		</h:panelGroup>	
		
		<p:separator/>
		
		<p:commandButton partialSubmit="true" process="@this" 
			value="wyznacz czynności służbowe wg planu trasy"
			update="@(.czynnosciSPg)" 
			styleClass="granatowy"
			onstart = "showHourGlass()" 
			oncomplete	= "hideHourGlass()"
			actionListener="#{delegacjaMFBean.wyznaczKrajeCzynnosciSluzbowych(delegacjaMFBean.kalkulacjaRozliczenia)}"/>

		<br/><br/><br/>		 
	 
	 
	 </p:tab>
	 
<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================       DIETY POBYTOWE        ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="DIETY POBYTOWE">
	 
	 	<f:facet name="title">
			 <cc:cDelTabPklGroupTitle 
			 	title="DIETY POBYTOWE" 
			 	kalkulacja="#{delegacjaMFBean.kalkulacjaRozliczenia}" 
			 	typyDiet="P"
			 />
		 </f:facet>
	 	
	 	<h:panelGroup id="dietyPobytRozlPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">

           <cc:cDelTabPklGroup
                   kalkulacja="#{delegacjaMFBean.kalkulacjaRozliczenia}"
                   typyDiet="P"
                   btnAddAction="#{delegacjaMFBean.addDietaPobytowa(delegacjaMFBean.kalkulacjaRozliczenia)}"
           />
           
           <div class="ui-g-12 ui-g-v-center p10">
				<p:commandButton value="generuj diety wg planu trasy" styleClass="granatowy btnDietyP" 
					disabled="#{delegacjaMFBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe.size() gt 0}"
					actionListener="#{delegacjaMFBean.generujDiety('P', delegacjaMFBean.kalkulacjaRozliczenia)}" 
					onstart="hgon()" 
					oncomplete="hgoff()">
<!-- 							'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa or  -->
					<p:confirm header="Generowanie diet pobytowych" 
						disabled="#{delegacjaMFBean.kalkulacjaRozliczenia.getPklListByKtgDiet('P', false).size() eq 0}"
						message="Ponowne wygenerowanie diet pobytowych spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
				
				<p:commandButton value="generuj diety wg czynności służbowych" 
					styleClass="granatowy btnDietyP" 
					disabled="#{not(delegacjaMFBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe.size() gt 0)}"
					actionListener="#{delegacjaMFBean.generujDiety_CS('P', delegacjaMFBean.kalkulacjaRozliczenia)}" 
					onstart="hgon()" 
					oncomplete="hgoff()">
<!-- 							'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa or  -->
					<p:confirm header="Generowanie diet pobytowych"
						disabled="#{delegacjaMFBean.kalkulacjaRozliczenia.getPklListByKtgDiet('P', false).size() eq 0}"
						message="Ponowne wygenerowanie diet pobytowych spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
			</div>
		
		</h:panelGroup>
		
	 </p:tab>


<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================       DIETY HOTELOWE        ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->



	 <p:tab title="DIETY/RYCZAŁT HOTELOWY">
	 
	 	 <f:facet name="title">
			 <cc:cDelTabPklGroupTitle title="DIETY/RYCZAŁT HOTELOWY" kalkulacja="#{delegacjaMFBean.kalkulacjaRozliczenia}" typyDiet="H,RH"/>
		 </f:facet>

	 	<h:panelGroup id="dietyHotelRozlPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">
	 	
	 	  <cc:cDelTabPklGroup
                   kalkulacja="#{delegacjaMFBean.kalkulacjaRozliczenia}"
                   typyDiet="H,RH"
                   btnAddAction="#{delegacjaMFBean.addPklByKtgPozycji(delegacjaMFBean.kalkulacjaRozliczenia, true eq delegacjaMFBean.wniosek.czyDomyslnieDietaHotelowa ? 'H' : 'RH')}"
           />
           
           <div class="ui-g-12 ui-g-v-center p10">
		
				<p:commandButton value="generuj #{delegacjaMFBean.wniosek.czyDomyslnieDietaHotelowa eq true ? 'diety hotelowe':'ryczałt hotelowy'} wg planu trasy"
					styleClass="granatowy btnDietyH" 
					disabled="#{ delegacjaMFBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe.size() gt 0}"
					actionListener="#{delegacjaMFBean.generujDiety(true eq delegacjaMFBean.wniosek.czyDomyslnieDietaHotelowa ? 'H' : 'RH', delegacjaMFBean.kalkulacjaRozliczenia)}"
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
<!-- 							 'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa or -->
					<p:confirm header="Generowanie diet" 
						disabled="#{delegacjaMFBean.kalkulacjaRozliczenia.getPklListByKtgDiet('H,RH', false).size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu hotelowego/ diet spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
				
				<p:commandButton value="generuj #{delegacjaMFBean.wniosek.czyDomyslnieDietaHotelowa eq true ? 'diety hotelowe':'ryczałt hotelowy'} wg czynności służbowych"
					styleClass="granatowy btnDietyH" 
					disabled="#{not(delegacjaMFBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe.size() gt 0)}"
					actionListener="#{delegacjaMFBean.generujDiety_CS(true eq delegacjaMFBean.wniosek.czyDomyslnieDietaHotelowa ? 'H' : 'RH', delegacjaMFBean.kalkulacjaRozliczenia)}"
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
<!-- 				'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa or  -->
					<p:confirm header="Generowanie diet" 
						disabled="#{delegacjaMFBean.kalkulacjaRozliczenia.getPklListByKtgDiet('H,RH', false).size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu hotelowego/ diet spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
				
				<p:selectOneRadio id="format" 
					value="#{delegacjaMFBean.wniosek.czyDomyslnieDietaHotelowa}"
					styleClass="radioLabel" 
					style="display:inline-block"
				>
					<f:selectItem itemLabel="Dieta hotelowa" itemValue="true" />
					<f:selectItem itemLabel="Ryczałt" itemValue="false" />
					<p:ajax event="valueChange" update="@(.btnDietyH)"/>
				</p:selectOneRadio>
			
			</div>
			
		</h:panelGroup>
		
	 </p:tab>
	 
<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================       RYCZAŁT DOJAZDOWY     ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="RYCZAŁT DOJAZDOWY" disabled="#{delegacjaMFBean.blokujRDKM}">
	 
	 	 <f:facet name="title">
			 <cc:cDelTabPklGroupTitle title="RYCZAŁT DOJAZDOWY" kalkulacja="#{delegacjaMFBean.kalkulacjaRozliczenia}" typyDiet="RD"/>
		 </f:facet>

		<h:panelGroup id="ryczaltDojazdRozlPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">
 	
 		   <cc:cDelTabPklGroup
                   kalkulacja="#{delegacjaMFBean.kalkulacjaRozliczenia}"
                   typyDiet="RD"
                   btnAddAction="#{delegacjaMFBean.addPklByKtgPozycji(delegacjaMFBean.kalkulacjaRozliczenia,'RD')}"
           />
           
          <div class="ui-g-12 ui-g-v-center p10">
				<p:commandButton value="generuj ryczałt dojazdowy wg planu trasy" 
					 styleClass="granatowy btnRD" 
					disabled="#{ 
						delegacjaMFBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe.size() gt 0}"
					 actionListener="#{delegacjaMFBean.generujDiety('RD', delegacjaMFBean.kalkulacjaRozliczenia)}"
					 onstart="hgon()" 
					 oncomplete="hgoff()"
				>
<!-- 							'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa or -->
					<p:confirm header="Ryczałt dojazdowy" 
						disabled="#{delegacjaMFBean.kalkulacjaRozliczenia.getPklListByKtgDiet('RD', false).size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu dojazdowego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
				
				<p:commandButton value="generuj ryczałt dojazdowy wg czynności służbowych" 
					styleClass="granatowy btnRD" 
					disabled="#{not(delegacjaMFBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe.size() gt 0)}"
					actionListener="#{delegacjaMFBean.generujDiety_CS('RD', delegacjaMFBean.kalkulacjaRozliczenia)}" 
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
<!-- 							'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa or  -->
					<p:confirm header="Ryczałt dojazdowy" 
						disabled="#{delegacjaMFBean.kalkulacjaRozliczenia.getPklListByKtgDiet('RD', false).size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu dojazdowego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
			
			</div>
		
		</h:panelGroup>
		
	 
	 </p:tab>
	 
	 
<!-- 	 ========================================================================================================================= -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ==========================================       RYCZAŁT KOMUNIKACYJNY     ============================================== -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ========================================================================================================================= -->

	 <p:tab title="RYCZAŁT KOMUNIKACYJNY" disabled="#{delegacjaMFBean.blokujRDKM}">
		
		<f:facet name="title">
			 <cc:cDelTabPklGroupTitle title="RYCZAŁT KOMUNIKACYJNY" kalkulacja="#{delegacjaMFBean.kalkulacjaRozliczenia}" typyDiet="KM"/>
		 </f:facet>

	 	<h:panelGroup id="ryczaltKMRozlPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">
	 	
	 	  <cc:cDelTabPklGroup
                   kalkulacja="#{delegacjaMFBean.kalkulacjaRozliczenia}"
                   typyDiet="KM"
                   btnAddAction="#{delegacjaMFBean.addPklByKtgPozycji(delegacjaMFBean.kalkulacjaRozliczenia,'KM')}"
           />
           
           <div class="ui-g-12 ui-g-v-center p10">
           
			<p:commandButton 
				value="generuj kwote ryczałtu na komunikację miejską wg planu trasy" 
				disabled="#{delegacjaMFBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe.size() gt 0}"
				styleClass="granatowy btnRKM" 
				actionListener="#{delegacjaMFBean.generujDiety('KM', delegacjaMFBean.kalkulacjaRozliczenia)}"
				onstart="hgon()"  
				oncomplete="hgoff()"
			>
<!-- 			'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa or -->
				<p:confirm header="Ryczałt komunikacyjny" 
					disabled="#{delegacjaMFBean.kalkulacjaRozliczenia.getPklListByKtgDiet('KM', false).size() eq 0}"
					message="Ponowne wygenerowanie ryczałtu komunikacyjnego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
					icon="ui-icon-alert"/>	
			</p:commandButton> 
			
			<p:commandButton value="generuj ryczałt komunikacyjny wg czynności służbowych" 
				styleClass="granatowy btnRKM" 
				disabled="#{not(delegacjaMFBean.kalkulacjaRozliczenia.delCzynnosciSluzbowe.size() gt 0)}"
				actionListener="#{delegacjaMFBean.generujDiety_CS('KM', delegacjaMFBean.kalkulacjaRozliczenia)}" 
				onstart="hgon()" 
				oncomplete="hgoff()"
			>
<!-- 			'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa or  -->
				<p:confirm header="Ryczałt komunikacyjny" 
					disabled="#{delegacjaMFBean.kalkulacjaRozliczenia.getPklListByKtgDiet('KM', false).size() eq 0}"
					message="Ponowne wygenerowanie ryczałtu komunikacyjnego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
					icon="ui-icon-alert"/>	
			</p:commandButton> 
		
		</div>
		
		</h:panelGroup>
	 
	 </p:tab>
	 


<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================            KOSZTY           ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->
	 
	 
	 
	 <p:tab title="KOSZTY PRZEJAZDU/POZOSTAŁE">
	 
		<f:facet name="title">
			 <cc:cDelTabPklGroupTitle title="KOSZTY PRZEJAZDU/POZOSTAŁE" kalkulacja="#{delegacjaMFBean.kalkulacjaRozliczenia}" typyDiet="P,H,RH,RD,KM" typyDietExclude="true"/>
		 </f:facet>

	 	<h:panelGroup id="kosztyRozlPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">
	 	
	 	  <cc:cDelTabPklGroup
               kalkulacja="#{delegacjaMFBean.kalkulacjaRozliczenia}"
               typyDiet="P,H,RH,RD,KM" 
               typyDietExclude="true"
               btnAddAction="#{delegacjaMFBean.addKoszt(delegacjaMFBean.kalkulacjaRozliczenia)}"
           />
           
	 	</h:panelGroup>
	 </p:tab>
	 
<!-- 	 ============================================================================================================================== -->
<!-- 	 ==========================================                            			 ============================================== -->
<!-- 	 ==========================================        PODSUMOWANIE KOSZTÓW          ============================================== -->
<!-- 	 ==========================================                             		 ============================================== -->
<!-- 	 ============================================================================================================================== -->


<p:tab title="PODSUMOWANIE KOSZTÓW" kuid="tabKursWaluty">

	<f:facet name="title">
		<cc:cDelTabPodsumowanieKosztowTitle kalkulacja="#{delegacjaMFBean.kalkulacjaRozliczenia}"/>
	</f:facet>



	<cc:cDelKalkulacjaPodsumowanieKosztowByDKZ
			label="Zaliczki:"
			kalkulacja="#{delegacjaMFBean.kalkulacjaWstepna}"
			readonly="true"
			czyPodsumowanie="false"
			czyPozostaleKoszty="false"
			czyUkryjBezDokNz="true"
			styleClass="ui-g ui-g-12 p0 mb30"
	/>



	<cc:cDelKalkulacjaPodsumowanieKosztowByDKZ
			label="Rozliczenie zaliczki - kwoty do zwrotu/do wypłaty:"
			kalkulacja="#{delegacjaMFBean.kalkulacjaRozliczenia}"
			styleClass="ui-g ui-g-12 p0"
	/>


	<cc:cDelKalkulacjaPodsumowanieKosztowByAngaze kalkulacja="#{delegacjaMFBean.kalkulacjaRozliczenia}" styleClass="ui-g ui-g-12 p0 mt50"/>
		
	<h:panelGroup id="terminRozliczenia" styleClass="ui-g-12">
		<cc:cCalendarMDesign 
			label="Obowiązujący termin rozliczenia" 
			styleClass="ui-g-2" 
			readonly="true" 
			value="#{delegacjaMFBean.wyznaczDateRozl()}"
			rendered="#{delegacjaMFBean.wyznaczDateRozl() ne null}"
		/>
	</h:panelGroup>	

<!--	<p:commandButton value="GENERUJ DKZ (PRZYPISZ ZF i ANGAŻE)"-->
<!--					 rendered="#{user.admin}"-->
<!--					 styleClass="granatowy"-->
<!--					 action="#{delegacjaMFBean.kalkulacjaRozliczenia.generujDKZ}"-->
<!--					 onstart="hgon();" oncomplete="hgoff();"-->
<!--	/>-->

</p:tab>
	 
	 
	 
	 
</p:accordionPanel>



	<p:tabView />

</body>
</html>