<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<f:metadata>
</f:metadata>
<body>

<p:accordionPanel id="accPnl" multiple="true">
<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================         PLAN TRASY          ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	<p:tab title="PLAN TRASY">
		<f:facet name="title">
			<cc:cDelTabPlanTrasyTitle kalkulacja="#{delegacjaMFBean.kalkulacjaWstepna}"/>
		</f:facet>

		<h:panelGroup id="trasyPnl" width="1450">
<!-- 			height="#{250 + 50*(delegacjaMFBean.kalkulacjaWstepna.deltTrasies.size())}px" -->
			<cc:cTable id="trasy" datasource="#{delegacjaMFBean.kalkulacjaWstepna.deltTrasies}"
				height="#{140 + 50*(delegacjaMFBean.kalkulacjaWstepna.deltTrasies.size())}px"
				smallHeaders="true">
					
				<p:column width="20">
		        	<p:rowToggler />
		    	</p:column>
		    	
				 <p:rowExpansion>
					 <p:panelGrid style="max-width:1200px">
						<p:row styleClass="ui-g ui-g-12 ui-g-nopad">
							<p:column styleClass="ui-g-1 ui-g-nopad">
						 		<p:outputLabel value="kraj delegacji"/>
						 	</p:column>
						 	
						 	<p:column styleClass="ui-g-1 ui-g-nopad">	
								<cc:cLovJS lovDlgTitle="Lista krajów" width="80"
									datasource="#{delegacjaMFBean.getLW('PPL_WSP_KRAJE')}"
									lovTextFormat="%3$s" process="@this"
									value="#{o.trsKrIdDiety}" valueRefObject="#{o}" 
								/>
							</p:column>
		
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="koszt"/>
							</p:column>
							
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:inputNumber value="#{o.trsKosztBiletu}" id="kosztBilet"
										title="Dla danego odcinka trasy należy podać kwotę transportu a walutę uzupełnić w sekcji 'Koszty przejeazdu/ pozostałe'"
										disabled="#{'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa}"
								>
									<p:ajax event="change"
											process="@this" partialSubmit="true"
									/>

								</p:inputNumber>
<!--											listener="#{delegacjaMFBean.dodajKosztBiletu(delegacjaMFBean.kalkulacjaWstepna, o)}" -->
<!--											update="@form:accPnl:kosztyPnl"-->
							</p:column>
<!-- 							symbol=" PLN" -->
<!-- 							symbolPosition="s" -->
							
<!-- 							valueChangeListener="#{delegacjaMFBean.zmienPoprzedniBilet(delegacjaMFBean.kalkulacjaWstepna , o)}" -->
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="termin wykupu"/>
							</p:column>
							
							<p:column styleClass="ui-g-2 ui-g-nopad">
								<cc:cCalendarHour value="#{o.trsTerminWykupuBiletu}"/>
							</p:column>
		
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="faktura vat"/>
							</p:column>
							
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:inputText value="#{o.trsFakturaVatNaBilet}">
									<p:ajax event="change" process="@this" partialSubmit="true"/>
								</p:inputText>
							</p:column>
							
							<p:column styleClass="ui-g-1 ui-g-nopad">
								<p:outputLabel value="termin płatnosci"/>
							</p:column>
							
							<p:column styleClass="ui-g-2 ui-g-nopad">
								<cc:cCalendar  value="#{o.trsTerminPlatnosciZaBilet}"/>
							</p:column>					
							
						</p:row>	
					</p:panelGrid>
					
					<p:inputTextarea value="#{o.trsOpis}"  style="max-width:1000px"
						placeholder="... trasa - opis/uwagi ..."
						rows="2" cols="200" maxlength="4000"  
						styleClass="lekka-ramka">
						
						<p:ajax event="change" process="@this" partialSubmit="true"/>	
					</p:inputTextarea>
						
					<br/><br/>
					
				 </p:rowExpansion>

				<p:column headerText="Wyjazd" width="150">
					<cc:cCalendarHour id="tWyj" value="#{o.trsDataOd}" 
						minDate="#{delegacjaMFBean.wniosek.wndDataWyjazdu}" 
						maxDate="#{delegacjaMFBean.zwrocMaxDateZWniosku(delegacjaMFBean.wniosek.wndDataPowrotu)}"/>
				</p:column>		
				
				<p:column headerText="Kraj" width="80">
					<cc:cLovJS lovDlgTitle="Lista krajów" width="80"
							datasource="#{delegacjaMFBean.getLW('PPL_WSP_KRAJE')}"
							lovTextFormat="%3$s" process="@this"
							value="#{o.trsKrIdOd}" valueRefObject="#{o}" 
						/>
				</p:column>
				
				<p:column headerText="Miejscowość" width="100">
<!-- 					<p:inputText value="#{o.trsMiejscowoscOd}"></p:inputText> -->
						<cc:cInputText value="#{o.trsMiejscowoscOd}"/>
				</p:column>
	
				<p:column width="150">
					<f:facet name="header">
						<h:outputLabel id="przyjazd">Przyjazd <span style="color:red;">*</span></h:outputLabel>
						<p:tooltip for="przyjazd">
						<div>
							Data i godzina przekroczenia granicy przy podróżach pociągiem lub samochodem <br /> 
							bądź data i godzina przybycia do miejscowości docelowej dla pozostałych środków transportu
						</div>

						</p:tooltip>
					</f:facet>
					<cc:cCalendarHour value="#{o.trsDataDo}" 
						minDate="#{delegacjaMFBean.wniosek.wndDataWyjazdu}"
						maxDate="#{delegacjaMFBean.zwrocMaxDateZWniosku(delegacjaMFBean.wniosek.wndDataPowrotu)}"/>
				</p:column>		
				
				<p:column headerText="Kraj" width="80">
					<cc:cLovJS lovDlgTitle="Lista krajów" width="80"
							datasource="#{delegacjaMFBean.getLW('PPL_WSP_KRAJE')}"
							lovTextFormat="%3$s" process="@this"
							value="#{o.trsKrIdDo}" valueRefObject="#{o}" 
						/>
				</p:column>
				
				<p:column headerText="Miejscowość" width="100">
<!-- 					<p:inputText value="#{o.trsMiejscowoscDo}"></p:inputText> -->
					<cc:cInputText value="#{o.trsMiejscowoscDo}"/>
				</p:column>	
				
				<p:column headerText="Środek lokomocji" width="200">
						<cc:cLovJS id="srdklkmcj"
							lovDlgTitle="Środki lokomocji" 
							datasource="#{delegacjaMFBean.getSlownik('DEL_SRODEK_LOKOMOCJI')}" width="200"
							lovTextFormat="%2$s" process="@this" 
							value="#{o.trsSrodekLokomocji}" 
							valueRefObject="#{o}"
						/>
				</p:column>
				
				<p:column width="75">
					<f:facet name="header">
						<p:commandButton partialSubmit="true" process="@form:accPnl:trasy @this" 
							update="@form:accPnl:trasy @(.btnPlanTrs)" 
							icon="add"  style="width:20px!important"
							action="#{delegacjaMFBean.dodajTrase(delegacjaMFBean.kalkulacjaWstepna)}"/>
					</f:facet>
					<p:commandButton partialSubmit="true" process="@this" 
							update="@form:accPnl:trasy @(.btnPlanTrs)" 
							icon="delete"  
							action="#{delegacjaMFBean.kalkulacjaWstepna.removeDeltTrasy(o)}"/>
				</p:column>
		
			</cc:cTable>
		</h:panelGroup>		
		
		
		 <p:separator/>
		 
		 <p:commandButton value="generuj plan trasy wg miast" 
		 		styleClass="granatowy btnPlanTrs">
			
			<p:ajax process="tabViewId:frmT1 @this"
					listener="#{delegacjaMFBean.generujTrasy()}" 
					partialSubmit="true" 
					update="trasy @(.btnPlanTrs)" 
					onstart = "showHourGlass()" 
					oncomplete	= "hideHourGlass()" 
				/>	
				
			<p:confirm header="Generowanie planu trasy" disabled="#{delegacjaMFBean.kalkulacjaWstepna.deltTrasies.size() eq 0}"
				message="Ponowne wygenerowanie tras spowoduje utratę wcześniej wpisanych wartości i trzeba będzie je ponownie wprowadzić, czy chcesz kontynuować?"
				icon="ui-icon-alert"/>	
		</p:commandButton> 
		
		<br/><br/><br/>
	 
	 </p:tab>


	 
<!-- 	 ====================================================================================================================== -->
<!-- 	 ==========================================                             	=========================================== -->
<!-- 	 ==========================================       CZYNNOŚCI SŁUŻBOWE        =========================================== -->
<!-- 	 ==========================================                             	=========================================== -->
<!-- 	 ====================================================================================================================== -->

	 <p:tab title="CZYNNOŚCI SŁUŻBOWE" disabled="#{'N' eq delegacjaMFBean.wniosek.wndFPryw}">
		 <f:facet name="title">
			 <h:panelGroup id="pnlCzynnosciSluzboweTtl">
				 <p:outputLabel value="CZYNNOŚCI SŁUŻBOWE" styleClass="p0" style="#{not empty delegacjaMFBean.kalkulacjaWstepna.delCzynnosciSluzbowe ? 'color:black!important;': ''}"/>
			 </h:panelGroup>
		 </f:facet>

		 <h:panelGroup id="czynnosciSPg" styleClass="czynnosciSPg" width="1215">
		
			<cc:cTable id="czynnosciST" styleClass="czynnosciST"
				datasource="#{delegacjaMFBean.kalkulacjaWstepna.delCzynnosciSluzbowe}" 
				height="250px" 
				smallHeaders="true" >
	
				<p:column headerText="Kraj" width="80">	
					<cc:cLovJS lovDlgTitle="Lista krajów" width="80" required="true"
						datasource="#{delegacjaMFBean.getLW('PPL_WSP_KRAJE')}"
						lovTextFormat="%3$s" process="@this"
						value="#{o.czynKrajId}"
					/>
				</p:column>
				
				<p:column headerText="Czas od" width="150">
					<cc:cCalendarHour value="#{o.czynCzynnosciOd}" updateOnDateSelect="@(.czynnosciST)" required="true"
						minDate="#{delegacjaMFBean.wniosek.wndDataWyjazdu}" maxDate="#{delegacjaMFBean.wniosek.wndDataPowrotu}"/>
				</p:column>
				
				<p:column headerText="Czas do" width="150">
					<cc:cCalendarHour value="#{o.czynCzynnosciDo}" updateOnDateSelect="@(.czynnosciST)" required="true"
						minDate="#{delegacjaMFBean.wniosek.wndDataWyjazdu}" maxDate="#{delegacjaMFBean.zwrocMaxDateZWniosku(delegacjaMFBean.wniosek.wndDataPowrotu)}"/>
				</p:column>
				
				<p:column headerText="Czas łącznie" width="120">
					<p:inputText value="#{delegacjaMFBean.formatujDniCzynnosciSluzbowe(o.czynCzas)}" readonly="true"/>
				</p:column>
				
				<p:column headerText="Opis" width="300">
					<p:inputText value="#{o.czynOpis}"/>
				</p:column>
				
				<p:column width="35">
					<f:facet name="header">
						<p:commandButton partialSubmit="true" process="@this" 
							update="@form:accPnl:czynnosciSPg @(.btnDietyP) @(.btnDietyH) @(.btnRD) @(.btnRKM) @(.btnCzynnosci)" 
							icon="add"  
							style="width:20px!important"
							action="#{delegacjaMFBean.kalkulacjaWstepna.addNewDelCzynnosciSluzbowe()}"/>
					</f:facet>
					<p:commandButton partialSubmit="true" process="@this" 
						update="@form:accPnl:czynnosciSPg @(.btnDietyP) @(.btnDietyH) @(.btnRD) @(.btnRKM) @form:accPnl:kosztyPnl @(.btnCzynnosci)" 
						icon="delete" 
						action="#{delegacjaMFBean.kalkulacjaWstepna.removeDelCzynnosciSluzbowe(o)}"/>
				</p:column>
				
			</cc:cTable>
		</h:panelGroup>	
		
		<p:separator/>
		
		<p:commandButton partialSubmit="true" process="@this" 
			value="wyznacz czynności służbowe wg planu trasy"
			update="@(.czynnosciSPg) @(.btnDietyP) @(.btnDietyH) @(.btnRD) @(.btnRKM)" 
			styleClass="granatowy btnCzynnosci"
			onstart = "showHourGlass()" 
			oncomplete	= "hideHourGlass()"
			actionListener="#{delegacjaMFBean.wyznaczKrajeCzynnosciSluzbowych(delegacjaMFBean.kalkulacjaWstepna)}">
			
			<p:confirm header="Generowanie czynności służbowych"
				message="Wygenerowane dane stanowią jedynie podpowiedź, należy ręcznie skorygować dane"
				icon="ui-icon-alert"/>	
		</p:commandButton> 

		<br/><br/><br/>		 
	 
	 
	 </p:tab>
	 
<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================       DIETY POBYTOWE        ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="DIETY POBYTOWE">
		 <f:facet name="title">
			 <cc:cDelTabPklGroupTitle 
			 	title="DIETY POBYTOWE" 
			 	kalkulacja="#{delegacjaMFBean.kalkulacjaWstepna}" 
			 	typyDiet="P"
			 />
		 </f:facet>
	 	
	 	<h:panelGroup id="dietyPobytPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">

           <cc:cDelTabPklGroup
                   kalkulacja="#{delegacjaMFBean.kalkulacjaWstepna}"
                   typyDiet="P"
                   btnAddAction="#{delegacjaMFBean.addDietaPobytowa(delegacjaMFBean.kalkulacjaWstepna)}"
           />


			<div class="ui-g-12 ui-g-v-center p10">
			
				<p:commandButton 
					value="generuj diety wg planu trasy" 
					styleClass="granatowy" 
					disabled="#{'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa or delegacjaMFBean.kalkulacjaWstepna.delCzynnosciSluzbowe.size() gt 0
						or delegacjaMFBean.blokujBtnJesliDpnz(delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('P', false))}"
					actionListener="#{delegacjaMFBean.generujDiety('P', delegacjaMFBean.kalkulacjaWstepna)}" 
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
					<p:confirm header="Generowanie diet pobytowych" 
						disabled="#{delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('P', false).size() eq 0}"
						message="Ponowne wygenerowanie diet pobytowych spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
				
				<p:commandButton 
					value="generuj diety wg czynności służbowych"
					styleClass="granatowy" 
					disabled="#{'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa or not(delegacjaMFBean.kalkulacjaWstepna.delCzynnosciSluzbowe.size() gt 0)
						or delegacjaMFBean.blokujBtnJesliDpnz(delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('P', false))}"
					actionListener="#{delegacjaMFBean.generujDiety_CS('P', delegacjaMFBean.kalkulacjaWstepna)}" 
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
					<p:confirm header="Generowanie diet pobytowych" 
						disabled="#{delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('P', false).size() eq 0}"
						message="Ponowne wygenerowanie diet pobytowych spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
				
				<p:outputLabel value="Typ stawek " styleClass="pl10"/>
				<cc:cSOM 
					value="#{delegacjaMFBean.wniosek.wndStdId}" 
					disabled="true"
					datasource="#{delegacjaMFBean.getLW('PPL_DEL_STAWKI')}"
					styleClass="stawkaDietyP ui-g-1"
					textFormat="%2$s">
				</cc:cSOM>
			</div>
	 
	 	
	 	</h:panelGroup>	 
	 </p:tab>

<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================       DIETY HOTELOWE        ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="DIETY/RYCZAŁT HOTELOWY">
		 <f:facet name="title">
			 <cc:cDelTabPklGroupTitle title="DIETY/RYCZAŁT HOTELOWY" kalkulacja="#{delegacjaMFBean.kalkulacjaWstepna}" typyDiet="H,RH"/>
		 </f:facet>

	 	<h:panelGroup id="dietyHotelPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">
	 	
	 	  <cc:cDelTabPklGroup
                   kalkulacja="#{delegacjaMFBean.kalkulacjaWstepna}"
                   typyDiet="H,RH"
                   btnAddAction="#{delegacjaMFBean.addPklByKtgPozycji(delegacjaMFBean.kalkulacjaWstepna, true eq delegacjaMFBean.wniosek.czyDomyslnieDietaHotelowa ? 'H' : 'RH')}"
           />

<!--			delegacjaMFBean.czyDietaHotelowa-->

			<div class="ui-g-12 ui-g-v-center p10">
			
				<p:commandButton value="generuj #{delegacjaMFBean.wniosek.czyDomyslnieDietaHotelowa eq true ? 'diety hotelowe':'ryczałt hotelowy'} wg planu trasy"
					 styleClass="granatowy btnDietyH" 
					 disabled="#{'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa
					 	or delegacjaMFBean.kalkulacjaWstepna.delCzynnosciSluzbowe.size() gt 0
					 	or delegacjaMFBean.blokujBtnJesliDpnz(delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('H,RH', false))
					 	}"
					 onstart="hgon()" 
					 oncomplete="hgoff()"
					 actionListener="#{delegacjaMFBean.generujDiety(true eq delegacjaMFBean.wniosek.czyDomyslnieDietaHotelowa ? 'H' : 'RH', delegacjaMFBean.kalkulacjaWstepna)}"
				>
							 
					<p:confirm header="Generowanie diet" 
						disabled="#{delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('H,RH', false).size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu hotelowego/ diet spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
				
				<p:commandButton value="generuj #{delegacjaMFBean.wniosek.czyDomyslnieDietaHotelowa eq true ? 'diety hotelowe':'ryczałt hotelowy'} wg czynności służbowych"
							styleClass="granatowy btnDietyH" 
							disabled="#{'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa
								or not(delegacjaMFBean.kalkulacjaWstepna.delCzynnosciSluzbowe.size() gt 0)
								or delegacjaMFBean.blokujBtnJesliDpnz(delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('H,RH', false))}"
							actionListener="#{delegacjaMFBean.generujDiety_CS(true eq delegacjaMFBean.wniosek.czyDomyslnieDietaHotelowa ? 'H' : 'RH', delegacjaMFBean.kalkulacjaWstepna)}"
							onstart = "showHourGlass()" 
							oncomplete	= "hideHourGlass()">
							
					<p:confirm header="Generowanie diet" 
						disabled="#{delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('H,RH', false).size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu hotelowego/ diet spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
		
				<p:outputLabel value="Typ stawek " 
					styleClass="pl10"
				/>
				<cc:cSOM value="#{delegacjaMFBean.wniosek.wndStdId}" 
					disabled="true"
					datasource="#{delegacjaMFBean.getLW('PPL_DEL_STAWKI')}"
					styleClass="stawkaDietyH ui-g-1"
					textFormat="%2$s" />
					
				<p:selectOneRadio id="format"
					 value="#{delegacjaMFBean.wniosek.czyDomyslnieDietaHotelowa}"
					 styleClass="radioLabel" 
					 style="display:inline-block"
				>
					<f:selectItem itemLabel="Dieta hotelowa" itemValue="true" />
					<f:selectItem itemLabel="Ryczałt" itemValue="false" />
					<p:ajax event="valueChange" update="@(.btnDietyH)"/>
				</p:selectOneRadio>
			</div>
		
		</h:panelGroup>	 
	 </p:tab>
	 
<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================       RYCZAŁT DOJAZDOWY     ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="RYCZAŁT DOJAZDOWY" disabled="#{delegacjaMFBean.blokujRDKM}">
		 <f:facet name="title">
			 <cc:cDelTabPklGroupTitle title="RYCZAŁT DOJAZDOWY" kalkulacja="#{delegacjaMFBean.kalkulacjaWstepna}" typyDiet="RD"/>
		 </f:facet>

		<h:panelGroup id="ryczaltDojazd" styleClass="ui-g ui-g-12 p0 mt20 mb50">
 	
 		   <cc:cDelTabPklGroup
                   kalkulacja="#{delegacjaMFBean.kalkulacjaWstepna}"
                   typyDiet="RD"
                   btnAddAction="#{delegacjaMFBean.addPklByKtgPozycji(delegacjaMFBean.kalkulacjaWstepna,'RD')}"
           />
 	

			<div class="ui-g-12 ui-g-v-center p10">
		
				<p:commandButton 
					value="generuj ryczałt dojazdowy wg planu trasy" 
					styleClass="granatowy" 
					disabled="#{'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa or delegacjaMFBean.kalkulacjaWstepna.delCzynnosciSluzbowe.size() gt 0
						or delegacjaMFBean.blokujBtnJesliDpnz(delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('RD', false))}"
					actionListener="#{delegacjaMFBean.generujDiety('RD', delegacjaMFBean.kalkulacjaWstepna)}" 
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
					<p:confirm header="Ryczałt dojazdowy" 
						disabled="#{delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('RD', false).size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu dojazdowego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
				
				<p:commandButton 
					value="generuj ryczałt dojazdowy wg czynności służbowych"
					styleClass="granatowy" 
					disabled="#{'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa or not(delegacjaMFBean.kalkulacjaWstepna.delCzynnosciSluzbowe.size() gt 0)
						or delegacjaMFBean.blokujBtnJesliDpnz(delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('RD', false))}"
					actionListener="#{delegacjaMFBean.generujDiety_CS('RD', delegacjaMFBean.kalkulacjaWstepna)}" 
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
					<p:confirm header="Ryczałt dojazdowy" 
						disabled="#{delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('RD', false).size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu dojazdowego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
			
			</div>
		
		</h:panelGroup>	
	 
	 </p:tab>
	 
	 
<!-- 	 ========================================================================================================================= -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ==========================================       RYCZAŁT KOMUNIKACYJNY     ============================================== -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ========================================================================================================================= -->

	 <p:tab title="RYCZAŁT KOMUNIKACYJNY" disabled="#{delegacjaMFBean.blokujRDKM}">
		 <f:facet name="title">
			 <cc:cDelTabPklGroupTitle title="RYCZAŁT KOMUNIKACYJNY" kalkulacja="#{delegacjaMFBean.kalkulacjaWstepna}" typyDiet="KM"/>
		 </f:facet>

		<h:panelGroup id="ryczaltKM" styleClass="ui-g ui-g-12 p0 mt20 mb50">
		
		 <cc:cDelTabPklGroup
                 kalkulacja="#{delegacjaMFBean.kalkulacjaWstepna}"
                 typyDiet="KM"
                 btnAddAction="#{delegacjaMFBean.addPklByKtgPozycji(delegacjaMFBean.kalkulacjaWstepna,'KM')}"
         />

				
			<div class="ui-g-12 ui-g-v-center p10">
				<p:commandButton 
					value="generuj kwote ryczałtu na komunikację miejską wg planu trasy" 
					styleClass="granatowy btnRKM" 
					actionListener="#{delegacjaMFBean.generujDiety('KM', delegacjaMFBean.kalkulacjaWstepna)}"
					onstart = "hgon()"  
					oncomplete="hgoff()"
					disabled="#{'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa 
						or delegacjaMFBean.kalkulacjaWstepna.delCzynnosciSluzbowe.size() gt 0
						or delegacjaMFBean.blokujBtnJesliDpnz(delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('KM', false))}"
				>
					<p:confirm header="Ryczałt komunikacyjny" 
						disabled="#{delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('KM', false).size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu komunikacyjnego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
				
				<p:commandButton value="generuj ryczałt komunikacyjny wg czynności służbowych" 
					styleClass="granatowy btnRKM" 
					disabled="#{'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa or not(delegacjaMFBean.kalkulacjaWstepna.delCzynnosciSluzbowe.size() gt 0)
						or delegacjaMFBean.blokujBtnJesliDpnz(delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('KM', false))}"
					actionListener="#{delegacjaMFBean.generujDiety_CS('KM', delegacjaMFBean.kalkulacjaWstepna)}" 
					onstart="hgon()" 
					oncomplete="hgoff()"
				>
							
					<p:confirm header="Ryczałt komunikacyjny" 
						disabled="#{delegacjaMFBean.kalkulacjaWstepna.getPklListByKtgDiet('KM', false).size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu komunikacyjnego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
			</div>
		</h:panelGroup>
	 
	 </p:tab>
	
<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================            KOSZTY           ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->
	 
	 
	 <p:tab title="KOSZTY PRZEJAZDU/POZOSTAŁE">
		 <f:facet name="title">
			 <cc:cDelTabPklGroupTitle title="KOSZTY PRZEJAZDU/POZOSTAŁE" kalkulacja="#{delegacjaMFBean.kalkulacjaWstepna}" typyDiet="P,H,RH,RD,KM" typyDietExclude="true"/>
		 </f:facet>

		<h:panelGroup id="kosztyPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">
		
			<cc:cDelTabPklGroup
                 kalkulacja="#{delegacjaMFBean.kalkulacjaWstepna}"
                 typyDiet="P,H,RH,RD,KM" 
                 typyDietExclude="true"
                 btnAddAction="#{delegacjaMFBean.addKoszt(delegacjaMFBean.kalkulacjaWstepna)}"
         	/>

	
<!-- 			<div class="ui-g-12 ui-g-v-center p10"> -->
<!-- 				<p:commandButton value="kopiuj nowe pozycje kalkulacji"  -->
<!-- 					styleClass="granatowy"  -->
<!-- 					disabled="#{'T' eq delegacjaMFBean.wniosek.wndFBezkosztowa}" -->
<!-- 					actionListener="#{delegacjaMFBean.kopiujKoszty}"  -->
<!-- 					onstart="hgon()"  -->
<!-- 					oncomplete="hgoff()"  -->
<!-- 				/> -->
<!-- 			</div> -->
		</h:panelGroup>
	 
	 </p:tab>
	 
	 

<!-- 	 ============================================================================================================================== -->
<!-- 	 ==========================================                            			 ============================================== -->
<!-- 	 ==========================================        PODSUMOWANIE KOSZTÓW          ============================================== -->
<!-- 	 ==========================================                             		 ============================================== -->
<!-- 	 ============================================================================================================================== -->


	<p:tab title="PODSUMOWANIE KOSZTÓW" kuid="tabKursWaluty">

		<f:facet name="title">
			<cc:cDelTabPodsumowanieKosztowTitle kalkulacja="#{delegacjaMFBean.kalkulacjaWstepna}"/>
		</f:facet>

		<cc:cDelKalkulacjaPodsumowanieKosztowByDKZ kalkulacja="#{delegacjaMFBean.kalkulacjaWstepna}" styleClass="ui-g ui-g-12 p0"/>


		<cc:cDelKalkulacjaPodsumowanieKosztowByAngaze kalkulacja="#{delegacjaMFBean.kalkulacjaWstepna}" styleClass="ui-g ui-g-12 p0 mt50" rendered="#{user.admin}"/>

	</p:tab>
	 
	 
	 
	 	 
	</p:accordionPanel>

	<p:tabView />

</body>
</html>