<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:i="http://java.sun.com/jsp/jstl/core"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">

<!--<f:metadata>-->
<!--</f:metadata>-->
<h:body>

	<i:set value="#{delegacjaMFBean.wniosek}" var="wnd"/>


	<p:accordionPanel id="accPnl" multiple="true">
<!-- 	 multiple="true" -->
<!-- 	 ================================================================================================================================= -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ==========================================         RODZAJ I CEL DELEGACJI          ============================================== -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ================================================================================================================================= -->	

		<p:tab title="RODZAJ I CEL DELEGACJI" kuid="tabRodzajCel">
			
			<p:panelGrid id="headerGrid">
				<p:row>
					<p:column> 
						<c:cInputTextMDesign label="Nr: " width="100" readonly="true"
							value="#{delegacjaMFBean.wniosek.wndNumer}" 
							id="nrDel" />
					</p:column>
		
					<p:column>
						<c:cCalendarMDesign styleClass="clndr-ie"
							value="#{delegacjaMFBean.wniosek.wndDataWniosku}"
							readonly="true"
							label="Data złożenia wniosku: "/>
					</p:column>
	
					<p:column style="padding-top: 18px !important;"
						rendered="#{not('T' eq delegacjaMFBean.wniosek.wndCzyGrupowa)}"
						styleClass="delGrupowa">
		
						<p:confirmDialog appendTo="@(body)" global="false" showEffect="fade" hideEffect="fade"
							width="300" header="Ostrzeżenie" widgetVar="confKopiujCele"
							message="Wybranie delegacji powiązanej spowoduje 
							 zastąpienie aktualnie wprowadzonych danych tymi z delegacji powiązanej.
			   				 Czy chcesz kontynuować?">
			   				 
							<p:commandButton value="Tak" oncomplete="PF('confKopiujCele').hide()"
								actionListener="#{delegacjaMFBean.wniosek.setWndWndId(delegacjaMFBean.wndWndId)}"
							 	process="@this " partialSubmit="true"
								update="@form:accPnl:chkboxes @form:accPnl:szczegolyBtn @form:accPnl:uzasadnieniePanelGroup tabViewId:frmT1" >
<!--							@form:accPnl:pracownicyInfo	tabViewId:frmT1:accPnl:pracownicyInfo-->
								<p:ajax listener="#{delegacjaMFBean.kopiujDaneZDelegacjiGrupowej()}"
								/>
							</p:commandButton>
								
							<p:commandButton value="Nie" 
								oncomplete="PF('confKopiujCele').hide()" partialSubmit="true"
								update=" @form:accPnl:chkboxes @form:accPnl:nrDelPow @form:accPnl:szczegolyBtn @form:accPnl:uzasadnieniePanelGroup"
								actionListener="#{delegacjaMFBean.setWndWndId(delegacjaMFBean.wniosek.wndWndId)}"
								process="@this" />
<!--							@form:accPnl:pracownicyInfo-->
						</p:confirmDialog>
						<h:outputLabel value="Nr delegacji powiązanej: " />
						<c:cLovJS id="nrDelPow" lovDlgTitle="Lista delegacji grupowych"
							width="300" lockInputText="true"
							process="@this "
							update="@form:accPnl:chkboxes @form:accPnl:szczegolyBtn @form:accPnl:uzasadnieniePanelGroup tabViewId:frmT1"
							value="#{delegacjaMFBean.wndWndId}"  
							lovTextFormat="%2$s"
							datasource="#{delegacjaMFBean.getLW('PPL_DEL_WNIOSKI', delegacjaMFBean.wniosek.wndRodzaj)}"/>
<!--						tabViewId:frmT1:accPnl:pracownicyInfo-->
<!-- 		label="Nr delegacji powiązanej: " -->
					</p:column>
					
					<p:column style="min-width:100px;"
						rendered="#{not('T' eq delegacjaMFBean.wniosek.wndCzyGrupowa)}"
						styleClass="delGrupowa">
					
						<p:commandButton icon="clear" partialSubmit="true"
							update="@form:accPnl:chkboxes @form:accPnl:nrDelPow @form:accPnl:szczegolyBtn @form:accPnl:uzasadnieniePanelGroup"
							actionListener="#{delegacjaMFBean.deleteWndWndId}"
							process="@this" />
<!--						@form:accPnl:pracownicyInfo-->
						<p:commandButton icon="search" id="szczegolyBtn"
							title="Szczegóły delegacji powiązanej"
							actionListener="#{delegacjaMFBean.wczytajWniosekDelegacjaPowiazana}"
							update=":szczegolyDelPowForm"
							oncomplete="PF('szczegolyDelPowDlg').show()"
							disabled="#{delegacjaMFBean.wniosek.wndWndId eq null}" />
		
					</p:column>
					
				</p:row>
		
			</p:panelGrid>
			
			<br/>
			
			<p:panelGrid id="chkboxes" styleClass="chkboxes">
			#{delegacjaMFBean.sprawdzStanObiegu()}
				<p:row>
					<p:column style="min-width: 0" />
					
					
					<p:column>
						<c:cSelectBooleanCheckboxTN label="Czy szkoleniowa"
							value="#{delegacjaMFBean.wniosek.wndFCzySzkolenie}" 
							partialSubmit="true" process="@this"
							update="@(.rdKsztZF) @(.rdKszt) @(.dlgLovJS_Źródła_finansowania_ppl_del_zrodla_fin)"
						/>
<!-- 							update="@form:accPnl:chkboxes frmTMnu:obiegDelZagr"  -->
<!-- 							disabled="#{delegacjaMFBean.delWObiegu or 'T' eq delegacjaMFBean.wniosek.wndFKonferencyjna}" -->
					</p:column>
		
					<p:column style="min-width: 20px" />
		
					<p:column>
						<c:cSelectBooleanCheckboxTN label="Czy konferencja"
			
							value="#{delegacjaMFBean.wniosek.wndFKonferencyjna}" 
							partialSubmit="true" process="@this" 
						/>
<!-- 						update="@form:accPnl:chkboxes frmTMnu:obiegDelZagr"  -->
<!-- 						disabled="#{delegacjaMFBean.delWObiegu or 'T' eq delegacjaMFBean.wniosek.wndFCzySzkolenie}" -->
					</p:column>
		
					<p:column style="min-width: 20px" />
		
					
					<p:column>
						<c:cSelectBooleanCheckboxTN label="Czy projekt" 
							process="@this"
							partialSubmit="true"
							value="#{delegacjaMFBean.wniosek.wndFProjektowa}"
							update="@(.rdKsztZF) @(.rdKszt) @(.dlgLovJS_Źródła_finansowania_ppl_del_zrodla_fin) @(.chkboxes)"
						/>
<!-- 						disabled="#{delegacjaMFBean.delWObiegu}" -->
					</p:column>
			
					<h:panelGroup id="prjkt" styleClass="projekt"  
						rendered = "#{'T' eq delegacjaMFBean.wniosek.wndFProjektowa}">
						<p:column>
							<p:outputLabel value="Projekt" />
						</p:column>
			
						<p:column id="cProjekt">
							<c:cLovJS width="280"
								datasource="#{delegacjaMFBean.getLW('PPL_DEL_PROJEKTY')}"
								lovDlgTitle="Lista projektów"
								value="#{delegacjaMFBean.wniosek.wndProjKod}"
								lovTextFormat="%2$s"
								process="@this"
								update="@(.rdKsztZF) @(.rdKszt) @(.dlgLovJS_Źródła_finansowania_ppl_del_zrodla_fin)"
							/>
						</p:column>
					</h:panelGroup>
		
					<p:column style="min-width: 20px" />
		
					<p:column rendered="#{delegacjaMFBean.wniosek.wndWndId ==null }">
						<c:cSelectBooleanCheckboxTN styleClass="chckbxGr" label="Czy grupowa"
							value="#{delegacjaMFBean.wniosek.wndCzyGrupowa}"
							onstart="toggleShowHide('.delGrupowa')"
							/>
					</p:column>
				</p:row>
		
			</p:panelGrid>
			<br />
				
<!--			<p:panelGrid>-->
<!--				<p:row>-->
<!--					<p:column>-->
						<c:cInputTextArea
								id="opisCelu"
								value="#{delegacjaMFBean.wniosek.wndOpis}"
								label="Opis celu delegacji:"
								placeholder="... opis celu delegacji ..."
								styleClass="lekka-ramka"
								rows="5" maxlength="4000"
								required="true"
						/>
<!--					</p:column>-->
<!--				</p:row>-->
<!--			</p:panelGrid>-->
			
			
<!--			<p:panelGrid id="uzasadnieniePanelGroup">-->
<!--				<p:row styleClass="delGrupowa"-->
<!--					rendered="#{'T' eq delegacjaMFBean.wniosek.wndCzyGrupowa and delegacjaMFBean.wniosek.wndWndId ==null}">-->
<!-- 					style="display:#{'T' eq delegacjaMFBean.wniosek.wndCzyGrupowa and delegacjaMFBean.wniosek.wndWndId ==null ? 'block;':'none;'};"> -->
					
<!--					<p:column>-->
						<c:cInputTextArea
								id="uzasadnieniePanelGroup"
								rendered="#{'T' eq delegacjaMFBean.wniosek.wndCzyGrupowa and delegacjaMFBean.wniosek.wndWndId ==null}"
								required="true"
								label="Uzasadnienie składu delegacji grupowej: "
								value="#{delegacjaMFBean.wniosek.wndGrUzasadnienie}"
								placeholder="... uzasadnienie składu delegacji grupowej ..."
								styleClass="lekka-ramka" rows="5"
								maxlength="4000"
						/>
<!--					</p:column>-->
<!--				</p:row>-->
<!--			</p:panelGrid>-->
			
			<br />
			<br />	
				
				
		</p:tab>
	
<!-- 	 ================================================================================================================================= -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ==========================================         SKŁAD DELEGACJI I ZAPRASZAJĄCY  ============================================== -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ================================================================================================================================= -->	
	
		<p:tab title="SKŁAD DELEGACJI I ZAPRASZAJĄCY"  kuid="tabSkladDelegacji">

			<ui:include src="/faces/DelegacjeMF/DelPracownicyInfoPart.xhtml"/>


			<h:panelGroup id="pnlZprszjc" styleClass="d-flex-column mmw400 bsh1 p0 pb10 bb1 mt40 mb20">

				<div class="d-flex a-i-center bb1">

					<p:outputLabel value="Zapraszający" for="@parent" styleClass="p0 mmw305 mr20"/>

					<p:outputLabel value="Inne" for="@parent" styleClass="p0 mmw30 mr20" />

					<p:commandButton
							icon="add"
							partialSubmit="true" process="@this"
							action="#{wnd.addNewZapraszajacy}"
					/>

				</div>

				<ui:repeat
						id="rpt1"
						value='#{wnd.deltZapraszajacys}'
						var="zprszjc"
				>

					<div class="d-flex a-i-center mt10 ml5">

						<c:cLovJS
								styleClass="mmw300 mr20"
								datasource="#{wnd.getSlownik('DEL_ZAPRASZAJACY')}"
								value="#{zprszjc.zaprOpis}"
								lovDlgTitle="Lista zapraszających"
								lovTextFormat="%2$s"
								lockInputText="true"
								process="@this"
								rendered="#{'T' ne zprszjc.zaprFInne}"
						/>

						<c:cInputText
								styleClass="mmw300 mr20"
								value="#{zprszjc.zaprOpis}"
								placeholder="Zapraszający"
								rendered="#{'T' eq zprszjc.zaprFInne}"
						/>


						<c:cSelectBooleanCheckboxTN
								style="flex:50px" styleClass="mmw30 mr20"
								title="W przypadku braku zapraszającego na liście, proszę zaznaczyć pozycję inne i wpisać nazwę zapraszającego"
								valueChangeListener="#{zprszjc.setZaprOpis('')}"
								partialSubmit="true" process="@this"
								value="#{zprszjc.zaprFInne}"
						/>

						<p:commandButton
								icon="delete"
								partialSubmit="true" process="@this"
								action="#{wnd.removeDeltZapraszajacy(zprszjc)}"
						/>

					</div>

				</ui:repeat>

			</h:panelGroup>

		</p:tab>



<!-- 	 ========================================================================================================================================= -->
<!-- 	 ==========================================                             			    	============================================== -->
<!-- 	 ==========================================         TRASA - MIASTA I ŚRODKI TRANSPORTU  	============================================== -->
<!-- 	 ==========================================                             			    	============================================== -->
<!-- 	 ========================================================================================================================================= -->	

		<p:tab title="TRASA - MIASTA I ŚRODKI TRANSPORTU">
		
			<h:panelGroup id="panelMiejscowosci">
			
				<div class="ui-g ui-g-nopad" style="padding-top: 9px;">
					<div class="ui-g-12 ui-g-nopad">
					
						<div class="ui-g-6 ui-g-nopad">
							<p:outputLabel value="Cele delegacji"/>
						</div>
						
						<div class="ui-g-6 ui-g-nopad">
							<p:commandButton icon="add" 
									partialSubmit="true"
									process="tabViewId:frmT1:accPnl:panelMiejscowosci @this"
									update="tabViewId:frmT1:accPnl:panelMiejscowosci"
									action="#{delegacjaMFBean.addNewCDEL}"/>
						</div>
		
						<ui:repeat value='#{delegacjaMFBean.wniosek.deltCeleDelegacjis}'
									var="o" varStatus="status">
						
							<div class="ui-g-12 ui-g-nopad">
								<div class="ui-g-3 ui-g-nopad">
									<c:cSOMMDesign emptyLabel="Wybierz kraj" label="#{status.index eq 0? 'Kraj': ''}"
											requiredJ="true" 
											process="@this"
											datasource="#{delegacjaMFBean.getLW('PPL_WSP_KRAJE')}"
											update="@(.zaliczki)"
											value="#{delegacjaMFBean.wniosek.deltCeleDelegacjis.get(status.index).cdelKrId}"/>
								</div>
							
								<div class="ui-g-3 ui-g-nopad">
									<c:cInputTextMDesign id="mscwsc"
											requiredJ="true" placeholder="#{status.index eq 0? '': 'Miejscowość'}" label="#{status.index eq 0? 'Miejscowość': ''}"
											value="#{delegacjaMFBean.wniosek.deltCeleDelegacjis.get(status.index).cdelMiejscowosc}"/>
								</div>	
									
								<div class="ui-g-6 ui-g-nopad" style="padding-top:#{status.index eq 0 ? '20px;' : '8px'};">
									<p:commandButton icon="delete"
										partialSubmit="true" 
										process="tabViewId:frmT1:accPnl:panelMiejscowosci @this"
										update="tabViewId:frmT1:accPnl:panelMiejscowosci"
										action="#{delegacjaMFBean.deleteCity(status.index)}" />
								</div>
							</div>
							
						</ui:repeat>
					</div>
					
				</div>
			</h:panelGroup>
		
			<br />
			<br />		


			<h:panelGroup id="datyPodrozyGrid">
			
				<div class="ui-g ui-g-nopad">
					<div class="ui-g-12 ui-g-nopad">
					
						<div class="ui-g-6 ui-g-nopad">
							<p:outputLabel value="Termin delegacji"/>
						</div>
		
						<div class="ui-g-12 ui-g-nopad">
						
							<div class="ui-g-2 ui-g-nopad">
								<c:cCalendarMDesign 
									value="#{delegacjaMFBean.wniosek.wndDataWyjazdu}" 
									styleClass="clndr-ie"
									label="data od" 
									requiredJ="true"
									
								/>
							</div>
<!-- 							minDate="#{delegacjaMFBean.today()}" -->
							<div class="ui-g-2 ui-g-nopad">
								<c:cCalendarMDesign 
									value="#{delegacjaMFBean.wniosek.wndDataPowrotu}" 
									styleClass="clndr-ie dataDo"
									label="data do" 
									requiredJ="true"
									
								/>
							</div>
<!-- 							minDate="#{delegacjaMFBean.today()}" -->
							<div class="ui-g-2 ui-lg-3  ui-xl-2 ui-g-nopad" style="padding: 25px 0 0 30px">
								<p:outputLabel value="Powiązana podróż prywatna" />
							</div>
							
							<div class="ui-g-1 ui-g-nopad" style="padding-top: 20px; width: 50px;">
								<c:cSelectBooleanCheckboxTN
									value="#{delegacjaMFBean.wniosek.wndFPryw}"
									onstart="toggleShowHide('.wndFPryw')"
									update="tabViewId:frmT2 tabViewId:frmT3"
								/>
							</div>
							
							<h:panelGroup layout="block" styleClass="ui-g-2 ui-g-nopad wndFPryw" 
										rendered="#{'T' eq delegacjaMFBean.wniosek.wndFPryw}">
<!-- 											style="display:#{'T' eq delegacjaMFBean.wniosek.wndFPryw ? 'block':'none'}" > -->
								<c:cCalendarMDesign value="#{delegacjaMFBean.wniosek.wndPrywDataWyjazdu}" styleClass="clndr-ie"
									label="data od"/>
							</h:panelGroup>
							
							<h:panelGroup layout="block" styleClass="ui-g-2 ui-g-nopad wndFPryw" 
										rendered="#{'T' eq delegacjaMFBean.wniosek.wndFPryw}">
<!-- 											style="display:#{'T' eq delegacjaMFBean.wniosek.wndFPryw ? 'block':'none'}" > -->
								<c:cCalendarMDesign value="#{delegacjaMFBean.wniosek.wndPrywDataPowrotu}" styleClass="clndr-ie"
									label="data do"/>
							</h:panelGroup>
								
						</div>
						
					</div>
				</div>
			</h:panelGroup>

			<br />
			<br />
		
			<h:panelGroup id="panel4">
			
				<div class="ui-g ui-g-nopad">
					<div class="ui-g-12 ui-g-nopad">
					
						<div class="ui-g-6 ui-g-nopad">
							<p:outputLabel value="Środki lokomocji"/>
						</div>
						
						<div class="ui-g-6 ui-g-nopad">
							<p:commandButton icon="add" partialSubmit="true"
								process="tabViewId:frmT1:accPnl:panel4 @this"
								update="tabViewId:frmT1:accPnl:panel4"
								action="#{delegacjaMFBean.addNewSLOK()}" />
						</div>
		
						<ui:repeat value='#{delegacjaMFBean.wniosek.deltSrodkiLokomocjis}'
									var="o" varStatus="status">
							
							<div class="ui-g-12 ui-g-nopad">
								<div class="ui-g-3 ui-g-nopad">
									<c:cSOMMDesign emptyLabel="Wybierz typ transportu"
										requiredJ="true" process="@this"
										datasource="#{delegacjaMFBean.getSlownik('DEL_SRODEK_LOKOMOCJI')}"
										value="#{delegacjaMFBean.wniosek.deltSrodkiLokomocjis.get(status.index).slokSrodekLokomocji}"
										label="#{status.index eq 0? 'Typ transportu': ''}"/>
								</div>
								
								<div class="ui-g-3 ui-g-nopad">
									<c:cInputTextMDesign id="opisSl" 
										placeholder="Opis"
										value="#{delegacjaMFBean.wniosek.deltSrodkiLokomocjis[status.index].slokOpisSrodkaLokomocji}"
										label="#{status.index eq 0? 'Opis': ''}"/>
								</div>	
									
								<div class="ui-g-6 ui-g-nopad" style="padding-top:#{status.index eq 0 ? '20px' : '8px'};">
									<p:commandButton icon="delete"
										partialSubmit="true" 
										process="tabViewId:frmT1:accPnl:panel4 @this"
										update="tabViewId:frmT1:accPnl:panel4"
										action="#{delegacjaMFBean.deleteSrodekLokomocji(status.index)}" />
								</div>
							</div>
							
						</ui:repeat>
						
					</div>
				</div>
				
			</h:panelGroup>
		


			<div class="d-flex flex-wrap mt40 mb40">

				<c:cInputTextArea
						styleClass="mr30 flex-400"
						id="trasawyjazdu"
						label="Opis trasy wyjazdu:"
						value="#{wnd.wndTrasaWyjazdu}"
						placeholder="... trasa wyjazdu ..."
						rows="3" maxlength="2000"
				/>
				<c:cInputTextArea
						styleClass="mr30 flex-400"
						id="trasapowrotu"
						label="Opis trasy powrotu: "
						value="#{wnd.wndTrasaPowrotu}"
						placeholder="... trasa powrotu ..."
						rows="3" maxlength="2000"
				/>

			</div>

		</p:tab>

<!-- 	 ========================================================================================================================= -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ==========================================         RODZAJE KOSZTÓW  		============================================== -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ========================================================================================================================= -->	

		<p:tab title="RODZAJE KOSZTÓW">
		
<!--			<h:panelGroup styleClass="rdKsztZF" id="filtrowanieZF">-->
<!--				#{delegacjaMFBean.przeliczFiltryDomyslnegoZF()}-->
<!--			</h:panelGroup>-->

<!--			<h:panelGroup styleClass="rdKsztAngaz" id="filtrowanieAngaz">-->
<!--				#{delegacjaMFBean.ustawDomyslneZaangazowanieSrodkow(delegacjaMFBean.getLW("PPL_DEL_ZRODLA_FIN"))}-->
<!--			</h:panelGroup>-->
		
			<h:panelGroup id="rdKszt" styleClass="rdKszt mb20" layout="block">


				<c:cDelWndDomyslneZF wnd="#{wnd}"/>


				<c:cDelKalWniosekRodzajeKosztow wnd="#{wnd}" tableStyleClass="h350">
					<egr:col label="ZF" styleClass="mr0">
						<p:commandButton
								icon="search"
								styleClass="granatowy mmw35"
								title="źródła finansowania i angaże"
								partialSubmit="true" process="@this"
								action="#{delegacjaMFBean.showDlgZF4CurrentPklDlg(pkl)}"
								style="#{empty pkl.deltZrodlaFinansowanias ? '' :  'background: rgba(200, 255, 255, 0.9)!important; '}"
						/>
					</egr:col>
				</c:cDelKalWniosekRodzajeKosztow>


				<c:cSOM
						label="Typ stawek:"
						styleClass="stawkaDietyP w100 mt20"
						datasource="#{wnd.getLW('PPL_DEL_STAWKI')}"
						value="#{wnd.wndStdId}"
						rendered="#{'N' eq wnd.wndFBezkosztowa}"
						update="@(.stawkaDietyH) tabViewId:frmT2"
						textFormat="%2$s"
						onstart="hgon();" oncomplete="hgoff();"
				/>
<!--						valueChangeListener="#{delegacjaMFBean.onTypDietChanged}"-->



			</h:panelGroup>

		</p:tab>

<!-- 	 ========================================================================================================================= -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ==========================================         ZALICZKI          		============================================== -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ========================================================================================================================= -->

		<p:tab title="ZALICZKI">
		
			<h:panelGroup id="zaliczkiId" styleClass="zaliczki d-flex-column">
			
			#{delegacjaMFBean.sprawdzStanObiegu()}


				<div class="d-flex-column mt20 mb20">

					<c:cSelectBooleanCheckboxTN
							label="Czy zaliczka?"
							styleClass="mb10"
							onstart="toggleShowHide('.wndFZaliczka')"
							value="#{wnd.wndFZaliczka}"
							disabled="#{'T' eq wnd.wndFBezkosztowa}"
					/>

						<h:outputText
								value="Nie można wnioskować o zaliczkę dla rozpoczętej/zakończonej delegacji."
								rendered="#{wnd.wndDataWyjazdu.before(delegacjaMFBean.today())}"
								styleClass="mr20"
						/>

						<h:outputText
								value="Masz nierozliczoną delegację."
								rendered="#{delegacjaMFBean.czyMogeZaliczke eq false}"
								styleClass="mr20"
						/>

						<h:outputText
								value="Brak możliwości wybrania zaliczki w bezkosztowej delegacji."
								rendered="#{'T' eq wnd.wndFBezkosztowa and delegacjaMFBean.czyMogeZaliczke eq true}"
								styleClass="mr20"
						/>

				</div>



				<h:panelGroup id="sdhfasdf"
							  layout="block"
							  styleClass="p0 d-flex-column"
							  rendered="#{'T' eq wnd.wndFZaliczka}"
				>

					<ui:param name="waluty" value="#{v.getLW('PPL_SYMBOLE_WALUT')}"/>



					<div class="d-flex a-i-center bb1">

						<p:outputLabel for="@parent" styleClass="mmw100 p0 mr20" value="Waluta:"/>
						<p:outputLabel for="@parent" styleClass="mmw100 p0 mr20" value="Forma wypłaty:" />
						<p:outputLabel for="@parent" styleClass="mmw100 p0 mr20" value="Równowartość:"  title="Równowartość waluty w PLN?:"/>
						<p:outputLabel for="@parent" styleClass="mmw300 p0 mr20" value="Nr konta / kasa:" />

						<p:commandButton
								styleClass="mmw30 mr20"
								icon="add"
								partialSubmit="true" process="@this"
								action="#{wnd.kalkulacjaWniosek.addNewDeltZaliczki}"
						/>

					</div>

					<ui:repeat var="zal"
							   varStatus="status"
							   value="#{wnd.kalkulacjaWniosek.delZaliczki}"
					>

						<div class="d-flex a-i-center bb1 pt5 pb5">

<!--									datasource="#{delegacjaMFBean.getWalutyZaliczki()}"-->
							<c:cLovJS
									styleClass="mmw100 mr20"
									datasource="#{v.getLW('WAL')}"
									value="#{zal.dkzWalId}"
									lovTextFormat="%2$s"
									allowClearValue="true"
							/>

							<c:cSOM styleClass="mmw100 mr20"
									datasource="#{v.getSL('DEL_FORMY_WYPLATY')}"
									value="#{zal.dkzFormaWyplaty}"
							/>


							<c:cSelectBooleanCheckboxTN
									styleClass="mmw100 mr20 center"
									disabled="#{zal.dkzWalId eq 1}"
									value="#{zal.dkzCzyRownowartosc}"
							/>

							<c:cLovJS
									lovDlgTitle="Lista kont"
									lovTextFormat="%2$s"
									datasource="#{v.getLW('PPL_DEL_KONTA_PRC', delegacjaMFBean.wniosek.wndPrcId)}"
									value="#{zal.dkzNrKonta}"
									styleClass="mmw300 mr20"
									rendered="#{'B' eq zal.dkzFormaWyplaty}"
							/>


							<h:panelGroup
									id="opisKasa"
									styleClass="mmw300 mr20"
									rendered="#{'K' eq zal.dkzFormaWyplaty}"
							/>

							<p:commandButton
									rendered="#{wnd.kalkulacjaWniosek.delZaliczki.size() gt 1}"
									styleClass="mmw30 mr20"
									icon="delete" partialSubmit="true" process="@this"
									update="@(.zaliczki)"
									action="#{wnd.kalkulacjaWniosek.removeDelZaliczki(zal)}"
							/>

						</div>

					</ui:repeat>


					<p:outputLabel
							for="@parent"
							styleClass="ui-g-12 bsh1 mt40 mb20"
							value="Rozliczenia zaliczki należy dokonać w terminie 14 dni od dnia zakończenia podróży, pod rygorem potrącenia z wynagrodzenia albo uposażenia równowartości pobranej zaliczki na podstawie art. 87 § 1 pkt 3 ustawy z dnia 26 czerwca 1974 r. – Kodeks pracy (Dz. U. z 2018 r. poz. 917, 1000, 1076, 1608 i 1629)."/>

				</h:panelGroup>



<!--				<p:commandButton value="test" update="@parent" partialSubmit="true" process="@this"/>-->
			</h:panelGroup>
			
		</p:tab>


<!-- 	 ============================================================================================================== -->
<!-- 	 ==========================================                      ============================================== -->
<!-- 	 ==========================================         UWAGI		 ============================================== -->
<!-- 	 ==========================================                      ============================================== -->
<!-- 	 ============================================================================================================== -->		
	
		<p:tab title="UWAGI">
<!-- 			<egr:ku kuid="cz1-5"> -->
<!--			<p:panelGrid>-->
<!--				<p:row>-->
<!--					<p:column>-->
				<c:cInputTextArea
						id="uwagi"
						label="Uwagi: "
						value="#{delegacjaMFBean.wniosek.wndUwagi}"
						placeholder="... uwagi ..."
						styleClass="mt20 mb20"
						rows="5"
				/>
<!--					</p:column>-->
<!--				</p:row>-->
<!--			</p:panelGrid>-->
			
<!--			<br/><br/><br/>-->
			
<!-- 			</egr:ku>				 -->
		</p:tab>
		
	</p:accordionPanel>

	<p:tabView />

</h:body>
</html>