<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:p="http://primefaces.org/ui"
                xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">


    <!-- rendered="#{view.viewId.contains('KartotekaRekrutacji.xhtml')}" -->
    <h:outputStylesheet name="pp-zalaczniki.css" library="css"/>


    <p:dialog
            id="dlgNowyZalacznikOpis" appendTo="@(body)"
            widgetVar="dlgNowyZalacznikOpis"
            width="700"
            modal="true" closeOnEscape="true" draggable="true" resizable="false">


    <f:facet name="header">
            <h:form id="dlgNowyZalacznikOpisHeader">
                <p:panelGrid style="width:100%">
                    <p:column>
                        <h:outputText value="Wprowadź opis nowego załącznika (pole wymagane):"/>
                    </p:column>
                    <p:column styleClass="r10">
                        <p:commandButton
                                id="btnZOAnuluj" styleClass="btnDlg" process="@none"
                                icon="clear"
                                onclick="$('.ui-fileupload-cancel').click(); PF('dlgNowyZalacznikOpis').hide(); return false;"/>
                    </p:column>
                </p:panelGrid>
            </h:form>
        </f:facet>

        <h:form id="frmOpisZalacznika" styleClass="ui-g">

			<p:inputTextarea
					style="max-height:95px;"
					id="opisZal"
					value="#{zalacznikiBean.opisZalacznika}"
					placeholder="wpisz opis załącznika"
			>
				<p:ajax event="keydown" update="btnZalOpisZatwierdz" delay="300"/>
			</p:inputTextarea>


            <h:panelGroup styleClass="ui-g-12 right">

                <p:commandButton
                        id="btnZalOpisZatwierdz"
                        disabled="#{empty zalacznikiBean.opisZalacznika}"
                        value="ZATWIERDŹ" icon="save" styleClass="granatowy right ml10 mt10"
                        partialSubmit="true" process="@form"
                        oncomplete="$('.ui-fileupload-upload').click(); PF('dlgNowyZalacznikOpis').hide(); return false;"
                 />

            </h:panelGroup>

        </h:form>

    </p:dialog>







    <p:dialog
            id="dlgZalacznikiId"
            widgetVar="dlgZalaczniki"
            appendTo="@(body)"
            modal="true" closeOnEscape="true" draggable="true" resizable="false"
			width="950"
            styleClass="dlg-flex"
            style="max-width: 100vw!important; max-height: 100vh!important;"
    >

        <p:ajax event="close" update="@(.obieg)"/>

        <f:facet name="header">
            <h:form id="dlgZalacznikiHeader" styleClass="d-flex">
                <h:outputText value="#{zalacznikiBean.dlgTitle}"/>

                <p:commandButton id="btAnuluj"
                                 styleClass="txt-white mmw40 fs30 mlauto"
                                 icon="close"
                                 process="@none"
                                 onclick="PF('dlgZalaczniki').hide(); return false;"
                />

            </h:form>
        </f:facet>


        <h:panelGroup id="dlgZalacznikiInfo"
                      rendered="#{not (zalacznikiBean.zalacznikFkId !=null and zalacznikiBean.zalacznikFkId gt 0)}">
            <div style="width:920px; max-width: 100vw!important; height:510px; max-height: calc(100vh - 120px)!important;">
                <p:outputLabel
                        value="W bazie jeszcze nie zapisano obiektu. Przed dodaniem załącznika należy zapisać encję."/>
            </div>
        </h:panelGroup>

        <h:form id="dlgZalacznikiForm"
                rendered="#{zalacznikiBean.zalacznikFkId !=null and zalacznikiBean.zalacznikFkId gt 0}">


            <div id="zalacznikiIButtonyContainer" style="height:460px; max-height: calc(100vh - 120px)!important;">

                <script>

                    var observer = new MutationObserver(function (mutations) {
                        mutations.forEach(function (mutation) {
                            var newNodes = mutation.addedNodes; // DOM NodeList
                            if (newNodes !== null) { // If there are new nodes added
                                //alert('something has been changed');
                                if ($('#dlgZalacznikiForm\\:zalfileuplid > div > button.ui-state-disabled').length == 0) {
                                    //console.log('TODO: - PF(dlg....).show()');
                                    PF('dlgNowyZalacznikOpis').show();
                                }
                            }
                        });
                    });

                    var config = {
                        attributes: true,
                        childList: true,
                        characterData: true
                    };

                    var target = $('#dlgZalacznikiForm\\:zalfileuplid > div > button.ui-fileupload-upload.ui-state-disabled')[0];

                    if (target != null) {
                        observer.observe(target, config);
                    }

                </script>


                <p:fileUpload
                        id="zalfileuplid"
                        widgetVar="zalfupl"
                        listener="#{zalacznikiBean.addAttachment}"
                        mode="advanced"
                        dragDropSupport="true"
                        styleClass="d-flex-1-column pp-hide-ui-fileupload-buttonbar"
                        style="height: 460px; width: 900px; max-width: 100vw!important; max-height: calc(100vh - 120px)!important; "
                        auto="false"
                        sizeLimit="#{15*1024*1024}"
                        allowTypes="/(\.|\/)(gif|jpg|jpeg|png|pdf|doc|docx|rtf|xls|xlsx|ppt|pptx|csv|txt|msg|xlsm|odt|ott|odm|html|oth|ods|ots|odg|otg|odp|otp|odf|odb|oxt)$/"
                        fileLimit="1"
                        update="dlgZalacznikiForm @(.cZalacznikiButton)"
                        invalidSizeMessage="Przekroczono dopuszczalny rozmiar (15MB)."
                        invalidFileMessage="Niewłaściwy typ pliku; dopuszczalne to: pdf, doc, docx, xls, xlsx, png, jpg, jpeg, ppt, pptx, csv, txt, msg, xlsm, odt, ott, odm, html, oth, ods, ots, odg, otg, odp, otp, odf, odb, oxt."
                >

                    <cc:cLookupTableMultiselect
                            id="zalacznikiTb"
                            datasource="#{zalacznikiBean.getSql('sqlZalaczniki')}"
                            showSearchField="#{zalacznikiBean.showSearchField}"
                            defaultDateFormat="yyyy-MM-dd HH:mm"
                            insertChildrenFirst="false"
                            update="@(.cLookupSelection)"
                            generateColumns="false"
                            fillwidthcolumn="false"
                    >


                        <p:column width="700">

                            <f:facet name="header">
                                <div class="ui-g ui-g-nopad mmw800">
                                    <h:outputLabel value="nazwa / opis" styleClass="ui-g-8 ui-g-nopad"/>
                                    <h:outputLabel value="rozmiar pliku (MB)" styleClass="ui-g-2 ui-g-nopad"/>
                                    <h:outputLabel value="data dod. / użytkownik" styleClass="ui-g-2 ui-g-nopad"/>
                                </div>
                            </f:facet>


                            <div class="ui-g ui-g-nopad mmw800">

                                <div class="ui-g-8 ui-g-nopad">
                                    <h:outputText value="#{row.get('zal_nazwa')}" readonly="true" styleClass="np"/>
                                </div>

                                <div class="ui-g-2 ui-g-nopad">
                                    <div class="pr20">
                                        <p:inputNumber value="#{row.get('zal_size_MB')}" decimalPlaces="6"
                                                       styleClass="right np" readonly="true"
                                                       inputStyleClass="noborder fs14"/>
                                    </div>
                                </div>

                                <div class="ui-g-2 ui-g-nopad">
                                    <h:outputText
                                            value="#{row.get('zal_audyt_dt')}"
                                            styleClass="cell-cntnt minw110 np"
                                            readonly="true">
                                        <f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss"/>
                                    </h:outputText>
                                </div>


                                <div class="ui-g ui-g-10 ui-g-nopad" style="position:relative">

                                    <div class="pr20 mh40">
                                        <h:outputLabel
                                                id="zalopis"
                                                value="#{ row.get('zal_opis')}"
                                                styleClass="np"
                                                title="#{row.get('zal_opis').length() gt 250 ? row.get('zal_opis') : ''}"
                                                style="padding:0!important; width:500px!important; white-space:normal!important; max-height:45px!important"
                                        />
                                    </div>

                                </div>
                                <div class="ui-g ui-g-2 ui-g-nopad">
                                    <h:outputLabel id="zalaudytut" value="#{ row.get('zal_audyt_ut')}"
                                                   styleClass="ui-g-2 ui-g-nopad" style="background:white!important"/>
                                </div>

                            </div>

                        </p:column>

                    </cc:cLookupTableMultiselect>
                    <p:focus id="focus" for="zalacznikiTb" context="dialog"/>


                    <h:panelGroup id="btnDodajUsun" class="cLookupSelection">

                        <p:separator/>

                        <p:commandButton id="btnDelete"
                                         disabled="#{zalacznikiBean.getSql('sqlZalaczniki').selectedRows.size()==0}"
                                         update="dlgZalacznikiForm"
                                         onclick="PF('dlgZalacznikiConfirmDelete').show()"
                                         partialSubmit="true" process="@this"
                                         styleClass="granatowy mr10"
                                         value="USUŃ" icon="delete">
                        </p:commandButton>

                        <p:commandButton id="btnPobierz" ajax="false"
                                         onclick="PrimeFaces.monitorDownload(start, stop);"
                                         disabled="#{zalacznikiBean.getSql('sqlZalaczniki').selectedRows.size()==0}"
                                         partialSubmit="true" process="@this"
                                         styleClass="granatowy mr10"
                                         value="POBIERZ" icon="get_app">
                            <p:fileDownload value="#{zalacznikiBean.pobierzSelected()}"/>
                        </p:commandButton>


                        <p:commandButton
                                id="btnAddZalacznik"
                                styleClass="granatowy mr10"
                                value="DODAJ..." icon="add"
                                onclick="$('#dlgZalacznikiForm\\:zalfileuplid_input').click(); return false;"
                        />

                    </h:panelGroup>

                </p:fileUpload>

            </div>

        </h:form>


<!--        <f:facet name="footer">-->
<!--            <h:form id="dlgZalacznikiFooter" styleClass="p20 pt0">-->

<!--                <p:fileUpload styleClass="dlgfupl"-->
<!--                              fileUploadListener="#{zalacznikiBean.addAttachment}"-->
<!--                              disabled="#{zalacznikiBean.opisZalacznika.length()==0 or zalacznikiBean.getSql('sqlZalaczniki').selectedRows.size()!=0 }"-->
<!--                              widgetVar="fileUploadWidgetVar"-->
<!--                              mode="advanced"-->
<!--                              auto="true"-->
<!--                              sizeLimit="#{15*1024*1024}"-->
<!--                              allowTypes="/(\.|\/)(gif|jpg|jpeg|png|pdf|doc|docx|rtf|xls|xlsx|ppt|pptx|csv|txt|msg|xlsm|odt|ott|odm|html|oth|ods|ots|odg|otg|odp|otp|odf|odb|oxt)$/"-->
<!--                              fileLimit="1"-->
<!--                              label="DODAJ NOWY ZAŁĄCZNIK"-->
<!--                              update="dlgZalacznikiForm dlgZalacznikiFooter @(.cZalacznikiButton)"-->
<!--                              invalidSizeMessage="Przekroczono dopuszczalny rozmiar (15MB)."-->
<!--                              invalidFileMessage="Niewłaściwy typ pliku; dopuszczalne to: pdf, doc, docx, xls, xlsx, png, jpg, jpeg, ppt, pptx, csv, txt, msg, xlsm, odt, ott, odm, html, oth, ods, ots, odg, otg, odp, otp, odf, odb, oxt."-->
<!--                />-->

<!--            </h:form>-->
<!--        </f:facet>-->


        <p:dialog modal="true"
                  widgetVar="statusDialog" appendTo="@(body)"

                  header="Trwa pobieranie załącznika" draggable="false"
                  closable="false" resizable="false">
            <p:graphicImage name="/images/statusBar.gif"/>
        </p:dialog>

        <script type="text/javascript">
            function start() {
                PF('statusDialog').show();
            }

            function stop() {
                PF('statusDialog').hide();
            }
        </script>
    </p:dialog>





    <p:dialog rendered="#{zalacznikiBean.zalacznikFkField != null}"
              widgetVar="dlgZalacznikiConfirmDelete" appendTo="@(body)"
              header="Czy chcesz skasować zaznaczone załączniki?"
              modal="true" closeOnEscape="true" draggable="true" resizable="false"
              classStyle="ctl-dialog">

        <h:form id="dlgZalacznikiConfirDeleteForm" styleClass="ui-g pb0">

            <h:panelGroup styleClass="ui-g-12 right pb0">

                <p:commandButton
                        value="Nie" icon="exit_to_app"
                        styleClass="granatowy center fs18 w80"
                        onclick="PF('dlgZalacznikiConfirmDelete').hide()"/>

                <p:commandButton
                        value="Tak" icon="delete"
                        styleClass="granatowy center fs18 w80 ml10"
                        action="#{zalacznikiBean.deleteAttachments(zalacznikiBean.getSql('sqlZalaczniki').selectedRows)}"
                        partialSubmit="true" process="@this"
                        update="dlgZalacznikiForm @(.cZalacznikiButton)"
                        oncomplete="PF('dlgZalacznikiConfirmDelete').hide()"/>

            </h:panelGroup>

        </h:form>

    </p:dialog>

</ui:composition>