<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<f:metadata>
</f:metadata>
<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Grafik pracownika" />
		<ui:define name="egr_content">


				<iframe
					src="../Grafiki/GrafikPracownika?context=PP&amp;frmId=#{egrUserSessionBean.wybranaFirma.id}&amp;odzId=#{egrUserSessionBean.wybranyOddzial.id}&amp;sessionId=#{egrUserSessionBean.sessionId}"
					style="width: 100%; height: 100%; border: none; background: white;">
				</iframe>

		</ui:define>
	</ui:composition>
</h:body>
</html>