<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>
	#{opisStanowiskaBean.loadEgListaWartosci('PP_DEPARTAMENTY', [])}
	<!-- #{opisStanowiskaBean.loadEgListaWartosci('PP_WYDZIALY', [1])} -->

	<!-- 	#{opisStanowiskaBean.loadSqlData('sqlKomOrg', ' select OB_ID, OB_OB_ID
	from CSS_OBIEKTY_W_PRZEDSIEB where ob_id = ? ',
	[opisStanowiskaBean.pptOpisStanowiska.wospObId] )} -->


	<!-- 	#{opisStanowiskaBean.ustawKomOrg()} -->

	#{opisStanowiskaBean.loadSqlData('sqlStanowiskaNadz', ' select stn_id, stn_kod, stn_nazwa from ZPT_STANOWISKA ', [] )}
<!-- 	#{opisStanowiskaBean.loadEgListaWartosci('PP_WYDZIALY', [opisStanowiskaBean.pptOpisStanowiska.wospObId] )} -->
	#{opisStanowiskaBean.loadEgListaWartosci('PP_STAN_W_JEDN', [opisStanowiskaBean.pptOpisStanowiska.wospWydzialId] )}


	<div class="ui-g padd-cc-mdesign-b25" style="padding-top: 30px;">

		<div class="ui-g-12 ui-lg-6 ui-xl-6 ">




			<cc:cLOVMDesign id="idKomOrg" 
				label="Komórka organizacyjna:"
				lovDlgTitle="Wybór komórki organizacyjnej"
				datasource="#{opisStanowiskaBean.getLW('PP_DEPARTAMENTY')}"
				lovTextFormat="%3$s" valueFormat="%1$s"
				value="#{opisStanowiskaBean.pptOpisStanowiska.wospObId}"
				update="formId:tabViewId:idWydzial formId:tabViewId:idStanowisko formId:tabViewId:idSymbolOpisuStn"
				required="true" />

			<cc:cLOVMDesign id="idWydzial" 
				label="Komórka wewnętrzna:"
				lovDlgTitle="Wybór komórki wewnętrznej" 
 				styleClass="wydzialDivId wydzial"
				datasource="#{opisStanowiskaBean.getLW('PP_WYDZIALY',  [opisStanowiskaBean.pptOpisStanowiska.wospObId])}"
				value="#{opisStanowiskaBean.pptOpisStanowiska.wospWydzialId}"
				lovTextFormat="%3$s" valueFormat="%1$s" 
				update="formId:tabViewId:idStanowisko formId:tabViewId:idSymbolOpisuStn"
				required="true" />
<!-- rowSelectAction="#{opisStanowiskaBean.loadEgListaWartosci('PP_STAN_W_JEDN', [opisStanowiskaBean.pptOpisStanowiska.wospWydzialId] )}" -->

		</div>



		<div class="ui-g-12 ui-lg-6 ui-xl-6">
			<cc:cSOMMDesign emptyLabel="Wybierz stanowisko"
				datasource="#{opisStanowiskaBean.getSql('sqlStanowiskaNadz')}"
				value="#{opisStanowiskaBean.pptOpisStanowiska.wospStnIdNadBp}"
				valueFormat="%1$s" textFormat="%3$s"
				label="Stanowisko nadzorujące bezpośrednio:" />

			<cc:cSOMMDesign emptyLabel="Wybierz stanowisko"
				datasource="#{opisStanowiskaBean.getSql('sqlStanowiskaNadz')}"
				value="#{opisStanowiskaBean.pptOpisStanowiska.wospStnIdNadPo}"
				valueFormat="%1$s" textFormat="%3$s"
				label="Stanowisko nadzorujące pośrednio: " />
		</div>


	</div>




	<div class="ui-g padd-cc-mdesign-b25">

		<div class="ui-g-6 ui-lg-6 ui-xl-6">

			<cc:cLOVMDesign id="idStanowisko" lovDlgTitle="Wybór stanowiska"
				label="Stanowisko:" required="true"
				datasource="#{opisStanowiskaBean.getLW('PP_STAN_W_JEDN', [opisStanowiskaBean.pptOpisStanowiska.wospWydzialId])}"
				value="#{opisStanowiskaBean.pptOpisStanowiska.wospStjoId}"	
				lovTextFormat="%3$s" style="min-width: 450px;"
				rowSelectAction="#{opisStanowiskaBean.setSymbolOpisu()}"
				update="formId:tabViewId:idSymbolOpisuStn" />

		</div>

		<div class="ui-g-6 ui-lg-6 ui-xl-6">

			<div class="ui-g-11 ui-lg-11 ui-xl-11 ui-g-nopad">
				<cc:cLOVMDesign id="idPracownika"
					label="Pracownik:" lovDlgTitle="Wybór pracownika"
					datasource="#{opisStanowiskaBean.getLW('PPL_KAD_PRACOWNICY').setPreQuery('call ppadm.ppp_global.ustaw_date_dla_struktury_po(sysdate)')}"
					lovTextFormat="%3$s %4$s [nr: %2$s]"
					value="#{opisStanowiskaBean.pptOpisStanowiska.wospPrcId}" />
			</div>
			<div class="ui-g-1 ui-lg-1 ui-xl-1" style="padding-top: 25px;">
				<p:commandButton icon="clear"
					actionListener="#{opisStanowiskaBean.usunWybranegoPracownika}"
					update="formId:tabViewId:idPracownika" />
			</div>

		</div>

	</div>


	<div class="ui-g padd-cc-mdesign-b25">

		<div class="ui-g-6 ui-lg-6 ui-xl-6">
			<cc:cCalendarMDesign required="true"
				value="#{opisStanowiskaBean.pptOpisStanowiska.wospDataOd}"
				label="Proponowana data od:">
			</cc:cCalendarMDesign>
		</div>

		<div class="ui-g-6 ui-lg-6 ui-xl-6">

			<cc:cCalendarMDesign
				value="#{opisStanowiskaBean.pptOpisStanowiska.wospDataDo}"
				label="Proponowana data do:">
			</cc:cCalendarMDesign>
		</div>

	</div>

	<div class="ui-g padd-cc-mdesign-b25">

		<div class="ui-g-6 ui-lg-6 ui-xl-6">
			<div class="ui-g padd-cc-mdesign-b25">
				<div class="ui-g-12 ui-lg-12 ui-xl-9" style="padding-left: 0px;">

					<cc:cInputTextMDesign id="idSymbolOpisuStn"
						label="Symbol opisu stanowiska:"
						value="#{opisStanowiskaBean.pptOpisStanowiska.wospSymbol}"
						required="true" />
				</div>
				<div class="ui-g-12 ui-lg-12 ui-xl-3">

					<cc:cInputNumberMDesign id="idEtat" decimalPlaces="2" label="Etat:" maxValue="2.000" minValue="0.000"
						value="#{opisStanowiskaBean.pptOpisStanowiska.wospEtat}">
					</cc:cInputNumberMDesign>
				</div>
			</div>
		</div>

		<div class="ui-g-6 ui-lg-6 ui-xl-6">
			<p:outputLabel style="padding-left:5px;" value="Zastępstwo" />

			<cc:cSelectBooleanCheckboxTN id="idZastepstwo"
				value="#{opisStanowiskaBean.pptOpisStanowiska.wospFZastepstwo}">
			</cc:cSelectBooleanCheckboxTN>

			<p:outputLabel style="padding-left:5px;" value="Ukończony" />
			<cc:cSelectBooleanCheckboxTN id="idUkonczony"
				value="#{opisStanowiskaBean.pptOpisStanowiska.wospFUkonczony}">
			</cc:cSelectBooleanCheckboxTN>

		</div>

	</div>

</body>
</html>