<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>

	<p:accordionPanel id="tab2AcrdPnId" style="width: 100%;">
		<p:tab title="Cel istnienia stanowiska pracy">
			<div class="ui-g-12">
				<cc:cInputTextAreaMDesign
					value="#{opisStanowiskaBean.pptOpisStanowiska.wospCelIstnienia}"
					label="Cel istnienia stanowiska pracy: " />
			</div>
		</p:tab>

		<p:tab title="Liczba podległych pracowników">
			<div class="ui-g-12">
				<p:selectOneRadio layout="grid" columns="1"
					label="Liczba podległych pracowników"
					value="#{opisStanowiskaBean.getNwDane().wospnFLpAtr01}"
					styleClass="label pp-radiobutton">
					<f:selectItem itemLabel="brak podległych pracowników" itemValue="1" />
					<f:selectItem
						itemLabel="bezpośrednio kieruje lub koordynuje pracę do 4 pracowników"
						itemValue="2" />
					<f:selectItem
						itemLabel="bezpośrednio kieruje lub koordynuje pracę od 5 do 9 pracowników"
						itemValue="3" />
					<f:selectItem
						itemLabel="bezpośrednio kieruje lub koordynuje pracę powyżej 9 pracowników"
						itemValue="4" />
					<f:selectItem
						itemLabel="bezpośrednio podlegają osoby kierujące pracą innych pracowników"
						itemValue="5" />
				</p:selectOneRadio>
			</div>
		</p:tab>


		<p:tab title="Główne zadania realizowane na stanowisku pracy">

			<div class="ui-g">
				<div class="ui-g-12 ui-lg-6 ui-xl-6">
					<h:panelGroup id="pgZadaniaGlId" styleClass="dominujace-zadania"
						rendered="true">
						<p:outputLabel value="Dominujace zadania:" />
						<ui:repeat value="#{opisStanowiskaBean.zadaniaDominujaceList}"
							var="o" varStatus="status">
							<div class="ui-g">
								<div class="ui-g-1">
									<cc:cInputTextMDesign readonly="true" value="#{status.index+1}" />
								</div>
								<div class="ui-g-9">
									<cc:cInputTextMDesign label="Opis zadania"
										value="#{o.glzadOpis}">
										<f:ajax event="change" />
									</cc:cInputTextMDesign>
								</div>
								<div class="ui-g-1">
									<p:commandButton icon="delete" partialSubmit="true"
										process="@this" update="@(.dominujace-zadania) @(.pozostale-zadania)"
										action="#{opisStanowiskaBean.zadaniaDominujaceList.remove(o)}"
										style="margin-top: 25px !important;" />
								</div>
							</div>
						</ui:repeat>
						<p:commandButton icon="add" partialSubmit="true" process="@this"
							action="#{opisStanowiskaBean.dodajNoweZadanieDominujace()}"
							update="@(.dominujace-zadania) @(.pozostale-zadania)"
							disabled="#{opisStanowiskaBean.zadaniaDominujaceList.size() ge 3}" />
					</h:panelGroup>
				</div>


				<div class="ui-g-12 ui-lg-6 ui-xl-6">
					<h:panelGroup id="pgZadaniaPGlId" styleClass="pozostale-zadania"
						rendered="true">
						<p:outputLabel value="Pozostałe zadania:" />
						<ui:repeat value="#{opisStanowiskaBean.zadaniaPozostaleList}"
							var="o" varStatus="status">
							<div class="ui-g">
								<div class="ui-g-1">
									<cc:cInputTextMDesign readonly="true" value="#{status.index+1}" />
								</div>
								<div class="ui-g-9">
									<cc:cInputTextMDesign label="Opis zadania"
										value="#{o.glzadOpis}">
										<f:ajax event="change" />
									</cc:cInputTextMDesign>
								</div>
								<div class="ui-g-1">
									<p:commandButton icon="delete" partialSubmit="true"
										process="@this" update="@(.pozostale-zadania)"
										action="#{opisStanowiskaBean.zadaniaPozostaleList.remove(o)}"
										style="margin-top: 25px !important;" />
								</div>
							</div>
						</ui:repeat>
						<p:commandButton icon="add" partialSubmit="true" process="@this"
							action="#{opisStanowiskaBean.dodajNoweZadaniePozostale()}"
							update="@(.pozostale-zadania)"
							disabled="#{opisStanowiskaBean.zadaniaDominujaceList.size() lt 1 or (opisStanowiskaBean.zadaniaPozostaleList.size() ge 5)}" />
					</h:panelGroup>
				</div>

			</div>
		</p:tab>

		<p:tab title="Upoważnienia i pełnomocnictwa">

			<div class="ui-g-12 ui-lg-6">
				<cc:cSelectBooleanCheckboxTN
					value="#{opisStanowiskaBean.getNwDane().wospnFUipAtr01}"
					label="Brak upoważnień i pełnomocnictw" />
			</div>
			<div class="ui-g-12 ui-lg-6">
				<cc:cSelectBooleanCheckboxTN
					value="#{opisStanowiskaBean.getNwDane().wospnFUipAtr02}"
					label="Upoważnienie do wydawania decyzji, postanowień i innych aktów 
								oraz podejmowania czynności, podlegających kontroli sądów administracyjnych" />
			</div>
			<div class="ui-g-12 ui-lg-6">
				<cc:cSelectBooleanCheckboxTN
					value="#{opisStanowiskaBean.getNwDane().wospnFUipAtr03}"
					label="Upoważnienie do dysponowania środkami publicznymi" />
			</div>
			<div class="ui-g-12 ui-lg-6">
				<cc:cSelectBooleanCheckboxTN
					label="Upoważnienie do przeprowadzania kontroli"
					value="#{opisStanowiskaBean.getNwDane().wospnFUipAtr04}" />
			</div>
			<div class="ui-g-12 ui-lg-6">
				<cc:cSelectBooleanCheckboxTN
					value="#{opisStanowiskaBean.getNwDane().wospnFUipAtr05}"
					label="Upoważnienie do zaciągania zobowiązań" />
			</div>
			<div class="ui-g-12 ui-lg-6">
				<cc:cSelectBooleanCheckboxTN
					value="#{opisStanowiskaBean.getNwDane().wospnFUipAtr06}"
					label="Pełnomocnictwo procesowe" />
			</div>

			<div class="ui-g-12">
				<cc:cInputTextMDesign label="Inne (należy wskazać jakie)"
					value="#{opisStanowiskaBean.getNwDane().wospnUipInne}" />
			</div>
		</p:tab>

		<p:tab title="Złożoność i kreatywność oraz niezbędna samodzielność">
			<div class="ui-g">
				<div class="ui-g-12 ui-lg-6 ui-xl-6">
					<p:outputLabel value="Złożoność i kreatywność: " />

					<cc:cInputTextAreaMDesign
						value="#{opisStanowiskaBean.getNwDane().wospnZikOpis}"
						label="Opis: " />

					<cc:cInputTextAreaMDesign
						value="#{opisStanowiskaBean.getNwDane().wospnZikPrzyklad}"
						label="Przykład: " />

				</div>
				<div class="ui-g-12 ui-lg-6 ui-xl-6">
					<p:outputLabel value="Niezbędna samodzielność i inicjatywa: " />
					<cc:cInputTextAreaMDesign
						value="#{opisStanowiskaBean.getNwDane().wospnNsiiOpis}"
						label="Opis: " />
					<cc:cInputTextAreaMDesign
						value="#{opisStanowiskaBean.getNwDane().wospnNsiiPrzyklad}"
						label="Przykład: " />
				</div>
			</div>
		</p:tab>
		<p:tab title="Horyzont czasowy planowania">

			<p:selectOneRadio layout="grid" columns="1" label="Planowanie"
				value="#{opisStanowiskaBean.getNwDane().wospnFHcpAtr01}"
				styleClass="label pp-radiobutton">
				<f:selectItem itemLabel="do 1 miesiąca" itemValue="1" />
				<f:selectItem itemLabel="powyżej 1 miesiąca do 1 kwartału"
					itemValue="2" />
				<f:selectItem itemLabel="powyżej 1 kwartału do 1 roku" itemValue="3" />
				<f:selectItem itemLabel="powyżej 1 roku" itemValue="4" />
			</p:selectOneRadio>

			<div class="ui-g-12">
				<cc:cInputTextMDesign label="Opis: "
					value="#{opisStanowiskaBean.getNwDane().wospnHcpPrzyklad}" />
			</div>

		</p:tab>

		<p:tab title="Kontakty zewnętrzne">

			<div class="ui-g-12">
				<div class="ui-g-3">
					<cc:cSelectBooleanCheckboxTN style="top: 3px;"
						label="Kilka razy dziennie"
						update="formId:tabViewId:tab2AcrdPnId:opis1"
						value="#{opisStanowiskaBean.getNwDane().wospnFKzAtr01}" />
				</div>
				<div class="ui-g-9">
					<cc:cInputTextMDesign label="Opis: " id="opis1"
						disabled="#{opisStanowiskaBean.getNwDane().wospnFKzAtr01 ne 'T'}"
						value="#{opisStanowiskaBean.getNwDane().wospnKzAtr01Opis}" />
				</div>
			</div>
			<div class="ui-g-12">
				<div class="ui-g-3">
					<cc:cSelectBooleanCheckboxTN style="top: 3px;"
						label="Kilka razy w tygodniu"
						update="formId:tabViewId:tab2AcrdPnId:opis2"
						value="#{opisStanowiskaBean.getNwDane().wospnFKzAtr02}" />
				</div>
				<div class="ui-g-9">
					<cc:cInputTextMDesign label="Opis: " id="opis2"
						disabled="#{opisStanowiskaBean.getNwDane().wospnFKzAtr02 ne 'T'}"
						value="#{opisStanowiskaBean.getNwDane().wospnKzAtr02Opis}" />
				</div>
			</div>
			<div class="ui-g-12">
				<div class="ui-g-3">
					<cc:cSelectBooleanCheckboxTN style="top: 3px;"
						label="Kilka razy w miesiącu"
						update="formId:tabViewId:tab2AcrdPnId:opis3"
						value="#{opisStanowiskaBean.getNwDane().wospnFKzAtr03}" />
				</div>
				<div class="ui-g-9">
					<cc:cInputTextMDesign label="Opis: " id="opis3"
						disabled="#{opisStanowiskaBean.getNwDane().wospnFKzAtr03 ne 'T'}"
						value="#{opisStanowiskaBean.getNwDane().wospnKzAtr03Opis}" />
				</div>
			</div>
			<div class="ui-g-12">
				<div class="ui-g-3">
					<cc:cSelectBooleanCheckboxTN style="top: 3px;"
						label="Kilka razy w roku"
						update="formId:tabViewId:tab2AcrdPnId:opis4"
						value="#{opisStanowiskaBean.getNwDane().wospnFKzAtr04}" />
				</div>
				<div class="ui-g-9">
					<cc:cInputTextMDesign label="Opis: " id="opis4"
						disabled="#{opisStanowiskaBean.getNwDane().wospnFKzAtr04 ne 'T'}"
						value="#{opisStanowiskaBean.getNwDane().wospnKzAtr04Opis}" />
				</div>
			</div>


		</p:tab>
		<p:tab title="Czynniki szczególne utrudniające wykonanie zadania">
			<h:panelGroup id="pnlCzynniki" styleClass="pnlCzynniki"
				style="max-height:calc(100vh - 470px)!important; overflow: auto"
				layout="block">

				<div class="ui-g-12 ui-lg-6 ui-xl-6">
					<cc:cSelectBooleanCheckboxTN process="@this"
						update="@(.pnlCzynniki)" label="Brak"
						value="#{opisStanowiskaBean.getNwDane().wospnFCzszAtr01}" />
				</div>
				<h:panelGroup
					rendered="#{opisStanowiskaBean.getNwDane().wospnFCzszAtr01 == null or opisStanowiskaBean.getNwDane().wospnFCzszAtr01 eq 'N'}">

					<div class="ui-g-12 ui-lg-6">
						<cc:cSelectBooleanCheckboxTN
							value="#{opisStanowiskaBean.getNwDane().wospnFCzszAtr02}"
							label="Wysiłek fizyczny" />
					</div>
					<div class="ui-g-12 ui-lg-6">
						<cc:cSelectBooleanCheckboxTN label="Praca w terenie"
							value="#{opisStanowiskaBean.getNwDane().wospnFCzszAtr03}" />
					</div>
					<div class="ui-g-12 ui-lg-6">
						<cc:cSelectBooleanCheckboxTN
							label="Praca w szczególnie trudnych warunkach środowiskowych"
							value="#{opisStanowiskaBean.getNwDane().wospnFCzszAtr04}" />
					</div>
					<div class="ui-g-12 ui-lg-6">
						<cc:cSelectBooleanCheckboxTN
							value="#{opisStanowiskaBean.getNwDane().wospnFCzszAtr05}"
							label="Nietypowe godziny pracy (w tym dyżury)" />

					</div>
					<div class="ui-g-12 ui-lg-6">
						<cc:cSelectBooleanCheckboxTN
							value="#{opisStanowiskaBean.getNwDane().wospnFCzszAtr06}"
							label="Krajowe lub zagraniczne wyjazdy służbowe" />

					</div>
					<div class="ui-g-12 ui-lg-6">
						<cc:cSelectBooleanCheckboxTN
							label="Zagrożenie naciskami grup przestępczych"
							value="#{opisStanowiskaBean.getNwDane().wospnFCzszAtr07}" />

					</div>
					<div class="ui-g-12 ui-lg-6">
						<cc:cSelectBooleanCheckboxTN label="Zagrożenie korupcją"
							value="#{opisStanowiskaBean.getNwDane().wospnFCzszAtr08}" />
					</div>
					<div class="ui-g-12 ui-lg-6">
						<cc:cSelectBooleanCheckboxTN
							label="Permanentna obsługa klientów zewnętrznych (spoza administracji, np. obywatele, przedsiębiorstwa) 
								lub przeprowadzanie kontroli w innych urzędach"
							value="#{opisStanowiskaBean.getNwDane().wospnFCzszAtr09}" />
					</div>

					<div class="ui-g-12 ui-lg-6">
						<cc:cSelectBooleanCheckboxTN
							label="Częste reprezentowanie urzędu na zewnątrz"
							value="#{opisStanowiskaBean.getNwDane().wospnFCzszAtr10}" />
					</div>
				</h:panelGroup>
				<div class="ui-g-12">
					<cc:cInputTextAreaMDesign label="Inne"
						value="#{opisStanowiskaBean.getNwDane().wospnCzszInne}" />
				</div>
				<div class="ui-g-12">
					<cc:cInputTextAreaMDesign label="Przykład: "
						value="#{opisStanowiskaBean.getNwDane().wospnCzszPrzyklad}" />
				</div>

			</h:panelGroup>
		</p:tab>
	</p:accordionPanel>

</body>
</html>