<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>
	<p:accordionPanel>
		<p:tab title="Wykształcenie">
			<cc:cInputTextAreaMDesign label="Niezbędne" 
				value="#{opisStanowiskaBean.getWsDane().wospwWkidAtr01}"/>
			<cc:cInputTextAreaMDesign label="Dodatkowe" 
				value="#{opisStanowiskaBean.getWsDane().wospwWkidAtr02}"/>
		</p:tab>
		<p:tab title="Staż pracy">
			<cc:cInputTextAreaMDesign label="Niezbędne" 
				value="#{opisStanowiskaBean.getWsDane().wospwWkidAtr03}"/>
			<cc:cInputTextAreaMDesign label="Dodatkowe" 
				value="#{opisStanowiskaBean.getWsDane().wospwWkidAtr04}"/>
		</p:tab>
		<p:tab title="Formalne uprawnienia">
			<cc:cInputTextAreaMDesign label="Niezbędne" 
				value="#{opisStanowiskaBean.getWsDane().wospwWkidAtr05}"/>
			<cc:cInputTextAreaMDesign label="Dodatkowe" 
				value="#{opisStanowiskaBean.getWsDane().wospwWkidAtr06}"/>
		</p:tab>
		<p:tab title="Języki obce">
			<cc:cInputTextAreaMDesign label="Niezbędne" 
				value="#{opisStanowiskaBean.getWsDane().wospwWkidAtr07}"/>
			<cc:cInputTextAreaMDesign label="Dodatkowe" 
				value="#{opisStanowiskaBean.getWsDane().wospwWkidAtr08}"/>
		</p:tab>
		<p:tab title="Wiedza i umiejętności">
			<cc:cInputTextAreaMDesign label="Niezbędne" 
				value="#{opisStanowiskaBean.getWsDane().wospwWkidAtr09}"/>
			<cc:cInputTextAreaMDesign label="Dodatkowe" 
				value="#{opisStanowiskaBean.getWsDane().wospwWkidAtr10}"/>
		</p:tab>
		<p:tab title="Kompetencje kierownicze">
			<cc:cInputTextAreaMDesign label="Niezbędne" 
				value="#{opisStanowiskaBean.getWsDane().wospwWkidAtr11}"/>
			<cc:cInputTextAreaMDesign label="Dodatkowe" 
				value="#{opisStanowiskaBean.getWsDane().wospwWkidAtr12}"/>
		</p:tab>
		<p:tab title="Część VI">
		
			<br/>
	     	<h3>Osoba zatwierdzająca opis stanowiska pracy:</h3>
			<h:panelGroup id="pnlZatw" styleClass="ui-g ui-g-nopad">
			
				<cc:cLOVMDesign
					label="Imię i nazwisko:"
					datasource="#{opisStanowiskaBean.getLW('PPL_KAD_PRACOWNICY').setPreQuery('call ppadm.ppp_global.ustaw_date_dla_struktury_po(sysdate)')}"
					value="#{opisStanowiskaBean.pptOpisStanowiska.wospCzIIIZatwierdzajacy}"
					valueFormat="%3$s %4$s"
					lovTextFormat="%3$s %4$s"
					lockInputText="false"
					rowSelectAction="#{opisStanowiskaBean.onCzIIIZatwierdzajacySelected()}"
					styleClass="ui-g-nopad ui-lg-3 ui-md-8 ui-sm-12"
					update="@(.zatwStn)"
				/>
					
				<cc:cCalendarMDesign
					label="Data:"
					value="#{opisStanowiskaBean.pptOpisStanowiska.wospCzIIIZatwData}"
					styleClass="ui-g-nopad ui-lg-2 ui-md-4  ui-sm-12"/>
					
				<cc:cInputTextAreaMDesign
					label="Stanowisko:" rows="1"
					value="#{opisStanowiskaBean.pptOpisStanowiska.wospCzIIIZatwStanowisko}"
					styleClass="ui-g-nopad ui-lg-7 ui-md-12 ui-sm-12 zatwStn"/>
			</h:panelGroup>
			
			<br/>
			<h3>Osoba zatwierdzająca/opiniująca opis stanowiska pracy:</h3>
			<div class="ui-g ui-g-nopad">
			
				<cc:cLOVMDesign
					label="Imię i nazwisko:"
					datasource="#{opisStanowiskaBean.getLW('PPL_KAD_PRACOWNICY')}" 
					value="#{opisStanowiskaBean.pptOpisStanowiska.wospCzIIIKierujacyJo}"
					valueFormat="%3$s %4$s"
					lovTextFormat="%3$s %4$s"
					lockInputText="false"
					rowSelectAction="#{opisStanowiskaBean.onCzIIIKierujacySelected()}"
					styleClass="ui-g-nopad ui-lg-3 ui-md-8 ui-sm-12"
					update="@(.kierStn)"
				/>
					
				<cc:cCalendarMDesign 
					label="Data:"
					value="#{opisStanowiskaBean.pptOpisStanowiska.wospCzIIIKierData}"
					styleClass="ui-g-nopad ui-lg-2 ui-md-4  ui-sm-12"/>
					
				<cc:cInputTextAreaMDesign 
					label="Stanowisko:" rows="1"
					value="#{opisStanowiskaBean.pptOpisStanowiska.wospCzIIIKierStanowisko}"
					styleClass="ui-g-nopad ui-lg-7 ui-md-12 ui-sm-12 kierStn"/>
			</div>
			
		</p:tab>

	</p:accordionPanel>


</body>
</html>