<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>
	
	<p:accordionPanel>
		<p:tab title="Wykształcenie">
<!-- 			<cc:cInputTextAreaMDesign label="Niezbędne" value="#{opisStanowiskaBean.getNwDane().wospnWkidAtr01}"/> -->
<!-- 			<cc:cInputTextAreaMDesign label="Dodatkowe" value="#{opisStanowiskaBean.getNwDane().wospnWkidAtr02}"/> -->
			
			<div class="ui-g">
				<div class="ui-g-12 ui-lg-12 ui-xl-12">
					<h:panelGroup id="pgWyksztalcenieNiezId"
						styleClass="wyksztalcenie-niezbedne">
						<p:outputLabel value="Niezbędne:" />
						<ui:repeat value="#{opisStanowiskaBean.wyksztalcenieNiezbedne}"
							var="wn" varStatus="status">
							<div class="ui-g pt5 pb5">
								<div class="ui-g-11 ui-g-nopad">
									<div class="ui-g-6 ui-g" style="display: grid;">
										<p:outputLabel value="Rodzaj wykształcenia:" styleClass="mt4" />
										<cc:cLovJS
											datasource="#{opisStanowiskaBean.getSlownik('PPS_OPS_WYKSZTALCENIE')}"
											value="#{wn.wospwmOpis01}"
											lovDlgTitle="Wykształcenie"
											lovTextFormat="%2$s"
											lockInputText="true" process="@this"
											styleClass="mt2"
  										 />
									</div>
									<div class="ui-g-6">
										<cc:cInputTextMDesign label="Kierunek/dziedzina:" 
											value="#{wn.wospwmOpis02}">
											<f:ajax event="change" />
										</cc:cInputTextMDesign>
									</div>
								</div>

								<div class="ui-g-1 ui-g-nopad">
									<div class="ui-g-6">
										<p:commandButton icon="delete" partialSubmit="true"
											process="@this" update="@(.wyksztalcenie-niezbedne)"
											action="#{opisStanowiskaBean.usunWyksztalcenieNiezbedne(wn)}"
											style="margin-top: 25px !important;" />
									</div>
									<div class="ui-g-6">
										<p:commandButton icon="add" partialSubmit="true"
											process="@this"
											action="#{opisStanowiskaBean.dodajWyksztalcenieNiezbedne()}"
											update="@(.wyksztalcenie-niezbedne)"
											style="margin-top: 25px !important;"
											rendered="#{status.index eq 0}" />
									</div>
								</div>
							</div>
						</ui:repeat>
					</h:panelGroup>

					<h:panelGroup id="pgWyksztalcenieDodId"
						styleClass="wyksztalcenie-dodatkowe">
						<p:outputLabel value="Dodatkowe:" />
						<ui:repeat value="#{opisStanowiskaBean.wyksztalcenieDodatkowe}"
							var="wd" varStatus="status">
							<div class="ui-g pt5 pb5">
								<div class="ui-g-11 ui-g-nopad">
									<div class="ui-g-6 ui-g" style="display: grid;">
										<p:outputLabel value="Rodzaj wykształcenia:" styleClass="mt4"/>
										<cc:cLovJS
											datasource="#{opisStanowiskaBean.getSlownik('PPS_OPS_WYKSZTALCENIE')}"
											value="#{wd.wospwmOpis01}"
											lovDlgTitle="Wykształcenie"
											lovTextFormat="%2$s"
											lockInputText="true" process="@this"
											styleClass="mt2"
										/>
									</div>
									<div class="ui-g-6">
										<cc:cInputTextMDesign label="Kierunek/dziedzina:"
											value="#{wd.wospwmOpis02}">
											<f:ajax event="change" />
										</cc:cInputTextMDesign>
									</div>
								</div>
								<div class="ui-g-1 ui-g-nopad">
									<div class="ui-g-6">
										<p:commandButton icon="delete" partialSubmit="true"
											process="@this" update="@(.wyksztalcenie-dodatkowe)"
											action="#{opisStanowiskaBean.usunWyksztalcenieDodatkowe(wd)}"
											style="margin-top: 25px !important;" />
									</div>
									<div class="ui-g-6">
										<p:commandButton icon="add" partialSubmit="true"
											process="@this"
											action="#{opisStanowiskaBean.dodajWyksztalcenieDodatkowe()}"
											update="@(.wyksztalcenie-dodatkowe)"
											style="margin-top: 25px !important;"
											rendered="#{status.index eq 0}" />
									</div>
								</div>
							</div>
						</ui:repeat>
					</h:panelGroup>
				</div>
			</div>
			
		</p:tab>
		<p:tab title="Przeszkolenie">
			<cc:cInputTextAreaMDesign label="Niezbędne" value="#{opisStanowiskaBean.getNwDane().wospnWkidAtr03}"/>
			<cc:cInputTextAreaMDesign label="Dodatkowe" value="#{opisStanowiskaBean.getNwDane().wospnWkidAtr04}"/>
		</p:tab>
		<p:tab title="Szczególne uprawnienia">
<!-- 			<cc:cInputTextAreaMDesign label="Niezbędne" value="#{opisStanowiskaBean.getNwDane().wospnWkidAtr05}"/> -->
<!-- 			<cc:cInputTextAreaMDesign label="Dodatkowe" value="#{opisStanowiskaBean.getNwDane().wospnWkidAtr06}"/> -->


			<div class="ui-g">
				<div class="ui-g-12 ui-lg-12 ui-xl-12">
					<h:panelGroup id="pgUprawnieniaNiezId"
						styleClass="uprawnienie-niezbedne">
						<p:outputLabel value="Niezbędne:" />
						<ui:repeat value="#{opisStanowiskaBean.uprawnienieNiezbedne}"
							var="un" varStatus="status">
							<div class="ui-g pb5">
								<div class="ui-g-11 ui-g-nopad">
									<div class="ui-g-10">
										<p:outputLabel value="" />
										<cc:cLovJS
											datasource="#{opisStanowiskaBean.getSlownik('PPS_OPS_UPRAWNIENIA')}"
											value="#{un.wospwmOpis01}"
											lovDlgTitle="Szczególne uprawnienia" lovTextFormat="%2$s"
											rendered="#{'T' ne un.wospwmFCzyInne01}" lockInputText="true"
											process="@this"
											styleClass="mt5" />

										<cc:cInputTextMDesign value="#{un.wospwmOpis01}"
											rendered="#{'T' eq un.wospwmFCzyInne01}"
											styleClass="pp-stn-nw-inp-txt">

											<p:ajax event="change" process="@this" partialSubmit="true" />
										</cc:cInputTextMDesign>
									</div>

									<div class="ui-g-2">
										<div class="ui-g">
											<p:outputLabel value="Spoza listy?" />
										</div>

										<cc:cSelectBooleanCheckboxTN
											valueChangeListener="#{un.setWospwmOpis01('')}"
											id="inneUprawnienie" update="@(.uprawnienie-niezbedne)"
											style="padding-top: 10px;" process="@this"
											partialSubmit="true" value="#{un.wospwmFCzyInne01}">

											<p:tooltip for="inneUprawnienie"
												value="W przypadku braku pozycji na liście, proszę zaznaczyć checkbox i wpisać nazwę" />
										</cc:cSelectBooleanCheckboxTN>
									</div>
								</div>
								<div class="ui-g-1 ui-g-nopad">
									<div class="ui-g-6">
										<p:commandButton icon="delete" partialSubmit="true"
											process="@this" update="@(.uprawnienie-niezbedne)"
											action="#{opisStanowiskaBean.usunUprawnienieNiezbedne(un)}"
											style="margin-top: 25px !important;" />
									</div>
									<div class="ui-g-6">
										<p:commandButton icon="add" partialSubmit="true"
											process="@this"
											action="#{opisStanowiskaBean.dodajUprawnienieNiezbedne()}"
											update="@(.uprawnienie-niezbedne)"
											style="margin-top: 25px !important;"
											rendered="#{status.index eq 0}" />
									</div>
								</div>
							</div>
						</ui:repeat>
					</h:panelGroup>

					<h:panelGroup id="pgUprawnienieDodId"
						styleClass="uprawnienie-dodatkowe">
						<p:outputLabel value="Dodatkowe:" />
						<ui:repeat value="#{opisStanowiskaBean.uprawnienieDodatkowe}"
							var="ud" varStatus="status">
							<div class="ui-g pb5">
								<div class="ui-g-11 ui-g-nopad">
									<div class="ui-g-10">
										<p:outputLabel value="" />
										<cc:cLovJS
											datasource="#{opisStanowiskaBean.getSlownik('PPS_OPS_UPRAWNIENIA')}"
											value="#{ud.wospwmOpis01}"
											lovDlgTitle="Szczególne uprawnienia" lovTextFormat="%2$s"
											rendered="#{'T' ne ud.wospwmFCzyInne01}" lockInputText="true"
											process="@this" 
											styleClass="mt5" />

										<cc:cInputTextMDesign value="#{ud.wospwmOpis01}"
											rendered="#{'T' eq ud.wospwmFCzyInne01}"
											styleClass="pp-stn-nw-inp-txt">

											<p:ajax event="change" process="@this" partialSubmit="true" />
										</cc:cInputTextMDesign>
									</div>

									<div class="ui-g-2">
										<div class="ui-g">
											<p:outputLabel value="Spoza listy?" />
										</div>

										<cc:cSelectBooleanCheckboxTN
											valueChangeListener="#{ud.setWospwmOpis01('')}"
											id="inneUprawnienieD" update="@(.uprawnienie-dodatkowe)"
											style="padding-top: 10px;" process="@this"
											partialSubmit="true" value="#{ud.wospwmFCzyInne01}">

											<p:tooltip for="inneUprawnienieD"
												value="W przypadku braku pozycji na liście, proszę zaznaczyć checkbox i wpisać nazwę" />
										</cc:cSelectBooleanCheckboxTN>
									</div>
								</div>
								<div class="ui-g-1 ui-g-nopad">
									<div class="ui-g-6">
										<p:commandButton icon="delete" partialSubmit="true"
											process="@this" update="@(.uprawnienie-dodatkowe)"
											action="#{opisStanowiskaBean.usunUprawnienieDodatkowe(ud)}"
											style="margin-top: 25px !important;" />
									</div>
									<div class="ui-g-6">
										<p:commandButton icon="add" partialSubmit="true"
											process="@this"
											action="#{opisStanowiskaBean.dodajUprawnienieDodatkowe()}"
											update="@(.uprawnienie-dodatkowe)"
											style="margin-top: 25px !important;"
											rendered="#{status.index eq 0}" />
									</div>
								</div>
							</div>
						</ui:repeat>
					</h:panelGroup>
				</div>
			</div>

		</p:tab>
		<p:tab title="Języki obce">
<!-- 			<cc:cInputTextAreaMDesign label="Niezbędne" value="#{opisStanowiskaBean.getNwDane().wospnWkidAtr07}"/> -->
<!-- 			<cc:cInputTextAreaMDesign label="Dodatkowe" value="#{opisStanowiskaBean.getNwDane().wospnWkidAtr08}"/> -->
			
			<div class="ui-g">
				<div class="ui-g-12 ui-lg-12 ui-xl-12">
					<h:panelGroup id="pgJezykiNiezId" styleClass="jezyk-niezbedny">
						<p:outputLabel value="Niezbędne:" />
						<ui:repeat value="#{opisStanowiskaBean.jezykNiezbedny}" var="jn"
							varStatus="status">
							<div class="ui-g pb5">
								<div class="ui-g-11 ui-g-nopad">
									<div class="ui-g-6">
										<div class="ui-g-10">
											<p:outputLabel value="Język obcy:" />
											<cc:cLovJS
												datasource="#{opisStanowiskaBean.getSlownik('PPS_OPS_JEZYKI_OBCE')}"
												value="#{jn.wospwmOpis01}"
												lovDlgTitle="Lista języków obcych" lovTextFormat="%2$s"
												rendered="#{'T' ne jn.wospwmFCzyInne01}"
												lockInputText="true" process="@this"
												styleClass="mt5"
												/>

											<cc:cInputTextMDesign value="#{jn.wospwmOpis01}"
												rendered="#{'T' eq jn.wospwmFCzyInne01}"
												styleClass="pp-stn-nw-inp-txt">

												<p:ajax event="change" process="@this" partialSubmit="true" />
											</cc:cInputTextMDesign>
										</div>

										<div class="ui-g-2">
											<div class="ui-g">
												<p:outputLabel value="Spoza listy?" />
											</div>

											<cc:cSelectBooleanCheckboxTN
												valueChangeListener="#{jn.setWospwmOpis01('')}" id="innyJez"
												update="@(.jezyk-niezbedny)" style="padding-top: 10px;"
												process="@this" partialSubmit="true"
												value="#{jn.wospwmFCzyInne01}">

												<p:tooltip for="innyJez"
													value="W przypadku braku języka obcego na liście, proszę zaznaczyć checkbox i wpisać nazwę języka" />
											</cc:cSelectBooleanCheckboxTN>
										</div>
									</div>
									<div class="ui-g-6">
										<div class="ui-g-10">
											<p:outputLabel value="Poziom:" />
											<cc:cLovJS
												datasource="#{opisStanowiskaBean.getSlownik('PPS_OPS_POZIOM_JEZYKA')}"
												value="#{jn.wospwmOpis02}"
												lovDlgTitle="Lista poziomów znajomości języka"
												lovTextFormat="%2$s"
												rendered="#{'T' ne jn.wospwmFCzyInne02}"
												lockInputText="true" process="@this"
												styleClass="mt5"
												/>

											<cc:cInputTextMDesign value="#{jn.wospwmOpis02}"
												rendered="#{'T' eq jn.wospwmFCzyInne02}"
												styleClass="pp-stn-nw-inp-txt">

												<p:ajax event="change" process="@this" partialSubmit="true" />
											</cc:cInputTextMDesign>
										</div>

										<div class="ui-g-2">
											<div class="ui-g">
												<p:outputLabel value="Spoza listy?" />
											</div>

											<cc:cSelectBooleanCheckboxTN
												valueChangeListener="#{jn.setWospwmOpis02('')}"
												id="innyPoziom" update="@(.jezyk-niezbedny)"
												style="padding-top: 10px;" process="@this"
												partialSubmit="true" value="#{jn.wospwmFCzyInne02}">

												<p:tooltip for="innyPoziom"
													value="W przypadku braku poziomu znajomości języka obcego na liście, proszę zaznaczyć checkbox i wpisać wymagany poziom" />
											</cc:cSelectBooleanCheckboxTN>
										</div>
									</div>
								</div>
								<div class="ui-g-1 ui-g-nopad">
									<div class="ui-g-6">
										<p:commandButton icon="delete" partialSubmit="true"
											process="@this" update="@(.jezyk-niezbedny)"
											action="#{opisStanowiskaBean.usunJezykNiezbedny(jn)}"
											style="margin-top: 25px !important;" />
									</div>
									<div class="ui-g-6">
										<p:commandButton icon="add" partialSubmit="true"
											process="@this"
											action="#{opisStanowiskaBean.dodajJezykNiezbedny()}"
											update="@(.jezyk-niezbedny)"
											style="margin-top: 25px !important;"
											rendered="#{status.index eq 0}" />
									</div>
								</div>
							</div>
						</ui:repeat>
					</h:panelGroup>

					<h:panelGroup id="pgJezykiDodId" styleClass="jezyk-dodatkowy">
						<p:outputLabel value="Dodatkowe:" />
						<ui:repeat value="#{opisStanowiskaBean.jezykDodatkowy}" var="jd"
							varStatus="status">
							<div class="ui-g pb5">
								<div class="ui-g-11 ui-g-nopad">
									<div class="ui-g-6">
										<div class="ui-g-10">
											<p:outputLabel value="Język obcy:" />
											<cc:cLovJS
												datasource="#{opisStanowiskaBean.getSlownik('PPS_OPS_JEZYKI_OBCE')}"
												value="#{jd.wospwmOpis01}"
												lovDlgTitle="Lista języków obcych" lovTextFormat="%2$s"
												rendered="#{'T' ne jd.wospwmFCzyInne01}"
												lockInputText="true" process="@this"
												styleClass="mt5"
												/>

											<cc:cInputTextMDesign value="#{jd.wospwmOpis01}"
												rendered="#{'T' eq jd.wospwmFCzyInne01}"
												styleClass="pp-stn-nw-inp-txt">

												<p:ajax event="change" process="@this" partialSubmit="true" />
											</cc:cInputTextMDesign>
										</div>

										<div class="ui-g-2">
											<div class="ui-g">
												<p:outputLabel value="Spoza listy?" />
											</div>

											<cc:cSelectBooleanCheckboxTN
												valueChangeListener="#{jd.setWospwmOpis01('')}"
												id="innyJezD" update="@(.jezyk-dodatkowy)"
												style="padding-top: 10px;" process="@this"
												partialSubmit="true" value="#{jd.wospwmFCzyInne01}">

												<p:tooltip for="innyJezD"
													value="W przypadku braku języka obcego na liście, proszę zaznaczyć checkbox i wpisać nazwę języka" />
											</cc:cSelectBooleanCheckboxTN>
										</div>
									</div>
									<div class="ui-g-6">
										<div class="ui-g-10">
											<p:outputLabel value="Poziom:" />
											<cc:cLovJS
												datasource="#{opisStanowiskaBean.getSlownik('PPS_OPS_POZIOM_JEZYKA')}"
												value="#{jd.wospwmOpis02}"
												lovDlgTitle="Lista poziomów znajomości języka"
												lovTextFormat="%2$s"
												rendered="#{'T' ne jd.wospwmFCzyInne02}"
												lockInputText="true" process="@this"
												styleClass="mt5"
												/>

											<cc:cInputTextMDesign value="#{jd.wospwmOpis02}"
												rendered="#{'T' eq jd.wospwmFCzyInne02}"
												styleClass="pp-stn-nw-inp-txt">

												<p:ajax event="change" process="@this" partialSubmit="true" />
											</cc:cInputTextMDesign>
										</div>

										<div class="ui-g-2">
											<div class="ui-g">
												<p:outputLabel value="Spoza listy?" />
											</div>

											<cc:cSelectBooleanCheckboxTN
												valueChangeListener="#{jd.setWospwmOpis02('')}"
												id="innyPoziomD" update="@(.jezyk-dodatkowy)"
												style="padding-top: 10px;" process="@this"
												partialSubmit="true" value="#{jd.wospwmFCzyInne02}">

												<p:tooltip for="innyPoziomD"
													value="W przypadku braku poziomu znajomości języka obcego na liście, proszę zaznaczyć checkbox i wpisać wymagany poziom" />
											</cc:cSelectBooleanCheckboxTN>
										</div>
									</div>
								</div>
								<div class="ui-g-1 ui-g-nopad">
									<div class="ui-g-6">
										<p:commandButton icon="delete" partialSubmit="true"
											process="@this" update="@(.jezyk-dodatkowy)"
											action="#{opisStanowiskaBean.usunJezykDodatkowy(jd)}"
											style="margin-top: 25px !important;" />
									</div>
									<div class="ui-g-6">
										<p:commandButton icon="add" partialSubmit="true"
											process="@this"
											action="#{opisStanowiskaBean.dodajJezykDodatkowy()}"
											update="@(.jezyk-dodatkowy)"
											style="margin-top: 25px !important;"
											rendered="#{status.index eq 0}" />
									</div>
								</div>
							</div>
						</ui:repeat>
					</h:panelGroup>
				</div>
			</div>
			
		</p:tab>
		<p:tab title="Inne kompetencje, wiedza i umiejętności">
<!-- 			<cc:cInputTextAreaMDesign label="Niezbędne" value="#{opisStanowiskaBean.getNwDane().wospnWkidAtr09}"/> -->
<!-- 			<cc:cInputTextAreaMDesign label="Dodatkowe" value="#{opisStanowiskaBean.getNwDane().wospnWkidAtr10}"/> -->
		
			<div class="ui-g">
				<div class="ui-g-12 ui-lg-12 ui-xl-12">
					<h:panelGroup id="pgInneNiezId" styleClass="inne-niezbedne">
						<p:outputLabel value="Niezbędne:" />
						<ui:repeat value="#{opisStanowiskaBean.inneNiezbedne}" var="in"
							varStatus="status">
							<div class="ui-g">
								<div class="ui-g-11 ui-g-nopad">
									<div class="ui-g-4">
										<div class="ui-g-10">
											<p:outputLabel value="Wiedza:" />
											<cc:cLovJS
												datasource="#{opisStanowiskaBean.getSlownik('PPS_OPS_WIEDZA')}"
												value="#{in.wospwmOpis01}"
												lovDlgTitle="Wiedza" lovTextFormat="%2$s"
												rendered="#{'T' ne in.wospwmFCzyInne01}"
												lockInputText="true" process="@this"
												styleClass="mt5"
												/>

											<cc:cInputTextMDesign value="#{in.wospwmOpis01}"
												rendered="#{'T' eq in.wospwmFCzyInne01}"
												styleClass="pp-stn-nw-inp-txt" >

												<p:ajax event="change" process="@this" partialSubmit="true" />
											</cc:cInputTextMDesign>
										</div>

										<div class="ui-g-2"
											style="padding-left: 0px; padding-right: 0px;">
											<div class="ui-g">
												<p:outputLabel value="Spoza listy?"
													style="padding-right: 0px !important;" />
											</div>

											<cc:cSelectBooleanCheckboxTN
												valueChangeListener="#{in.setWospwmOpis01('')}"
												id="innaWiedza" update="@(.inne-niezbedne)"
												style="padding-top: 10px;" process="@this"
												partialSubmit="true" value="#{in.wospwmFCzyInne01}">

												<p:tooltip for="innaWiedza"
													value="W przypadku braku wymaganej pozycji na liście, proszę zaznaczyć checkbox i wpisać inną nazwę" />
											</cc:cSelectBooleanCheckboxTN>
										</div>
									</div>
									<div class="ui-g-4">
										<div class="ui-g-10">
											<p:outputLabel value="Znajomość:" />
											<cc:cLovJS
												datasource="#{opisStanowiskaBean.getSlownik('PPS_OPS_ZNAJOMOSC')}"
												value="#{in.wospwmOpis02}"
												lovDlgTitle="Znajomość" lovTextFormat="%2$s"
												rendered="#{'T' ne in.wospwmFCzyInne02}"
												lockInputText="true" process="@this"
												styleClass="mt5"
												/>

											<cc:cInputTextMDesign value="#{in.wospwmOpis02}"
												rendered="#{'T' eq in.wospwmFCzyInne02}"
												styleClass="pp-stn-nw-inp-txt" >

												<p:ajax event="change" process="@this" partialSubmit="true" />
											</cc:cInputTextMDesign>
										</div>

										<div class="ui-g-2"
											style="padding-left: 0px; padding-right: 0px;">
											<div class="ui-g">
												<p:outputLabel value="Spoza listy?"
													style="padding-right: 0px !important;" />
											</div>

											<cc:cSelectBooleanCheckboxTN
												valueChangeListener="#{in.setWospwmOpis02('')}"
												id="innaZnajomosc" update="@(.inne-niezbedne)"
												style="padding-top: 10px;" process="@this"
												partialSubmit="true" value="#{in.wospwmFCzyInne02}">

												<p:tooltip for="innaZnajomosc"
													value="W przypadku braku wymaganej pozycji na liście, proszę zaznaczyć checkbox i wpisać inną nazwę" />
											</cc:cSelectBooleanCheckboxTN>
										</div>
									</div>
									<div class="ui-g-4">
										<div class="ui-g-10">
											<p:outputLabel value="Umiejętność:" />
											<cc:cLovJS
												datasource="#{opisStanowiskaBean.getSlownik('PPS_OPS_UMIEJETNOSCI')}"
												value="#{in.wospwmOpis03}"
												lovDlgTitle="Umiejętność" lovTextFormat="%2$s"
												rendered="#{'T' ne in.wospwmFCzyInne03}"
												lockInputText="true" process="@this"
												styleClass="mt5"
												/>

											<cc:cInputTextMDesign value="#{in.wospwmOpis03}"
												rendered="#{'T' eq in.wospwmFCzyInne03}"
												styleClass="pp-stn-nw-inp-txt" >

												<p:ajax event="change" process="@this" partialSubmit="true" />
											</cc:cInputTextMDesign>
										</div>

										<div class="ui-g-2"
											style="padding-left: 0px; padding-right: 0px;">
											<div class="ui-g">
												<p:outputLabel value="Spoza listy?"
													style="padding-right: 0px !important;" />
											</div>

											<cc:cSelectBooleanCheckboxTN
												valueChangeListener="#{in.setWospwmOpis03('')}"
												id="innaUmiejetnosc" update="@(.inne-niezbedne)"
												style="padding-top: 10px;" process="@this"
												partialSubmit="true" value="#{in.wospwmFCzyInne03}">

												<p:tooltip for="innaUmiejetnosc"
													value="W przypadku braku wymaganej pozycji na liście, proszę zaznaczyć checkbox i wpisać inną nazwę" />
											</cc:cSelectBooleanCheckboxTN>
										</div>

									</div>
								</div>

								<div class="ui-g-1 ui-g-nopad">
									<div class="ui-g-6">
										<p:commandButton icon="delete" partialSubmit="true"
											process="@this" update="@(.inne-niezbedne)"
											action="#{opisStanowiskaBean.usunInneNiezbedne(in)}"
											style="margin-top: 25px !important;" />
									</div>
									<div class="ui-g-6">
										<p:commandButton icon="add" partialSubmit="true"
											process="@this"
											action="#{opisStanowiskaBean.dodajInneNiezbedne()}"
											update="@(.inne-niezbedne)"
											style="margin-top: 25px !important;"
											rendered="#{status.index eq 0}" />
									</div>
								</div>
							</div>
						</ui:repeat>
					</h:panelGroup>

					<h:panelGroup id="pgInneDodId" styleClass="inne-dodatkowe">
						<p:outputLabel value="Dodatkowe:" />
						<ui:repeat value="#{opisStanowiskaBean.inneDodatkowe}" var="id"
							varStatus="status">
							<div class="ui-g">
								<div class="ui-g-11 ui-g-nopad">
									<div class="ui-g-4">
										<div class="ui-g-10">
											<p:outputLabel value="Wiedza:" />
											<cc:cLovJS
												datasource="#{opisStanowiskaBean.getSlownik('PPS_OPS_WIEDZA')}"
												value="#{id.wospwmOpis01}"
												lovDlgTitle="Wiedza" lovTextFormat="%2$s"
												rendered="#{'T' ne id.wospwmFCzyInne01}"
												lockInputText="true" process="@this"
												styleClass="mt5"
												/>

											<cc:cInputTextMDesign value="#{id.wospwmOpis01}"
												rendered="#{'T' eq id.wospwmFCzyInne01}"
												styleClass="pp-stn-nw-inp-txt" >

												<p:ajax event="change" process="@this" partialSubmit="true" />
											</cc:cInputTextMDesign>
										</div>

										<div class="ui-g-2"
											style="padding-left: 0px; padding-right: 0px;">
											<div class="ui-g">
												<p:outputLabel value="Spoza listy?"
													style="padding-right: 0px !important;" />
											</div>

											<cc:cSelectBooleanCheckboxTN
												valueChangeListener="#{id.setWospwmOpis01('')}"
												id="innaWiedzaD" update="@(.inne-dodatkowe)"
												style="padding-top: 10px;" process="@this"
												partialSubmit="true" value="#{id.wospwmFCzyInne01}">

												<p:tooltip for="innaWiedzaD"
													value="W przypadku braku wymaganej pozycji na liście, proszę zaznaczyć checkbox i wpisać inną nazwę" />
											</cc:cSelectBooleanCheckboxTN>
										</div>

									</div>
									<div class="ui-g-4">
										<div class="ui-g-10">
											<p:outputLabel value="Znajomość:" />
											<cc:cLovJS
												datasource="#{opisStanowiskaBean.getSlownik('PPS_OPS_ZNAJOMOSC')}"
												value="#{id.wospwmOpis02}"
												lovDlgTitle="Znajomość" lovTextFormat="%2$s"
												rendered="#{'T' ne id.wospwmFCzyInne02}"
												lockInputText="true" process="@this"
												styleClass="mt5"
												/>

											<cc:cInputTextMDesign value="#{id.wospwmOpis02}"
												rendered="#{'T' eq id.wospwmFCzyInne02}"
												styleClass="pp-stn-nw-inp-txt" >

												<p:ajax event="change" process="@this" partialSubmit="true" />
											</cc:cInputTextMDesign>
										</div>

										<div class="ui-g-2"
											style="padding-left: 0px; padding-right: 0px;">
											<div class="ui-g">
												<p:outputLabel value="Spoza listy?"
													style="padding-right: 0px !important;" />
											</div>

											<cc:cSelectBooleanCheckboxTN
												valueChangeListener="#{id.setWospwmOpis02('')}"
												id="innaZnajomoscD" update="@(.inne-dodatkowe)"
												style="padding-top: 10px;" process="@this"
												partialSubmit="true" value="#{id.wospwmFCzyInne02}">

												<p:tooltip for="innaZnajomoscD"
													value="W przypadku braku wymaganej pozycji na liście, proszę zaznaczyć checkbox i wpisać inną nazwę" />
											</cc:cSelectBooleanCheckboxTN>
										</div>

									</div>
									<div class="ui-g-4">
										<div class="ui-g-10">
											<p:outputLabel value="Umiejętność:" />
											<cc:cLovJS
												datasource="#{opisStanowiskaBean.getSlownik('PPS_OPS_UMIEJETNOSCI')}"
												value="#{id.wospwmOpis03}"
												lovDlgTitle="Umiejętność" lovTextFormat="%2$s"
												rendered="#{'T' ne id.wospwmFCzyInne03}"
												lockInputText="true" process="@this"
												styleClass="mt5"
												/>

											<cc:cInputTextMDesign value="#{id.wospwmOpis03}"
												rendered="#{'T' eq id.wospwmFCzyInne03}"
												styleClass="pp-stn-nw-inp-txt" >

												<p:ajax event="change" process="@this" partialSubmit="true" />
											</cc:cInputTextMDesign>
										</div>

										<div class="ui-g-2"
											style="padding-left: 0px; padding-right: 0px;">
											<div class="ui-g">
												<p:outputLabel value="Spoza listy?"
													style="padding-right: 0px !important;" />
											</div>

											<cc:cSelectBooleanCheckboxTN
												valueChangeListener="#{id.setWospwmOpis03('')}"
												id="innaUmiejetnoscD" update="@(.inne-dodatkowe)"
												style="padding-top: 10px;" process="@this"
												partialSubmit="true" value="#{id.wospwmFCzyInne03}">

												<p:tooltip for="innaUmiejetnoscD"
													value="W przypadku braku wymaganej pozycji na liście, proszę zaznaczyć checkbox i wpisać inną nazwę" />
											</cc:cSelectBooleanCheckboxTN>
										</div>

									</div>
								</div>

								<div class="ui-g-1 ui-g-nopad">
									<div class="ui-g-6">
										<p:commandButton icon="delete" partialSubmit="true"
											process="@this" update="@(.inne-dodatkowe)"
											action="#{opisStanowiskaBean.usunInneDodatkowe(id)}"
											style="margin-top: 25px !important;" />
									</div>
									<div class="ui-g-6">
										<p:commandButton icon="add" partialSubmit="true"
											process="@this"
											action="#{opisStanowiskaBean.dodajInneDodatkowe()}"
											update="@(.inne-dodatkowe)"
											style="margin-top: 25px !important;"
											rendered="#{status.index eq 0}" />
									</div>
								</div>
							</div>
						</ui:repeat>
					</h:panelGroup>
				</div>
			</div>
		
		</p:tab>
		<p:tab title="Doświadczenie zawodowe">
<!-- 			<cc:cInputTextAreaMDesign label="Niezbędne" value="#{opisStanowiskaBean.getNwDane().wospnWkidAtr11}"/> -->
<!-- 			<cc:cInputTextAreaMDesign label="Dodatkowe" value="#{opisStanowiskaBean.getNwDane().wospnWkidAtr12}"/> -->
		
			<div class="ui-g">
				<div class="ui-g-12 ui-lg-12 ui-xl-12">
					<h:panelGroup id="pgDoswiadczenieNiezId"
						styleClass="doswiadczenie-niezbedne">
						<p:outputLabel value="Niezbędne:" />
						<div class="ui-g">
							<div class="ui-g-6">
								<cc:cInputTextMDesign label="Rodzaj doświadczenia:"
									value="#{opisStanowiskaBean.doswiadczenieNiezbedne.get(0).wospwmOpis01}" />
							</div>
							<div class="ui-g-6">
								<cc:cInputTextMDesign label="Długość w miesiącach lub latach:"
									value="#{opisStanowiskaBean.doswiadczenieNiezbedne.get(0).wospwmOpis02}">
									<f:ajax event="change" />
								</cc:cInputTextMDesign>
							</div>
						</div>
					</h:panelGroup>

					<h:panelGroup id="pgDoswiadczenieDodId"
						styleClass="doswiadczenie-dodatkowe">
						<p:outputLabel value="Dodatkowe:" />
						<div class="ui-g">
							<div class="ui-g-6">
								<cc:cInputTextMDesign label="Rodzaj doświadczenia:"
									value="#{opisStanowiskaBean.doswiadczenieDodatkowe.get(0).wospwmOpis01}" />
							</div>
							<div class="ui-g-6">
								<cc:cInputTextMDesign label="Długość w miesiącach lub latach:"
									value="#{opisStanowiskaBean.doswiadczenieDodatkowe.get(0).wospwmOpis02}">
									<f:ajax event="change" />
								</cc:cInputTextMDesign>
							</div>
						</div>
					</h:panelGroup>
				</div>
			</div>
		
		</p:tab>
		
		
		<p:tab title="Część III">
		
			<br/>
	     	<h3>Kierujący komórką organizacyjną:</h3>
			<div class="ui-g ui-g-nopad"> 
			
				<cc:cLOVMDesign
					label="Imię i nazwisko:" 
					datasource="#{opisStanowiskaBean.getLW('PPL_KAD_PRACOWNICY').setPreQuery('call ppadm.ppp_global.ustaw_date_dla_struktury_po(sysdate)')}" 
					value="#{opisStanowiskaBean.pptOpisStanowiska.wospCzIIIKierujacyJo}"
					valueFormat="%3$s %4$s"
					lovTextFormat="%3$s %4$s"
					lovDlgTitle="Kierujący komórką organizacyjną:"					
					lockInputText="false"
					rowSelectAction="#{opisStanowiskaBean.onCzIIIKierujacySelected()}"
					styleClass="ui-g-nopad ui-lg-3 ui-md-8 ui-sm-12"
					update="@(.kierStn)"
				/>			
			
<!-- 				<cc:cInputTextMDesign  -->
<!-- 					label="Imię i nazwisko:" -->
<!-- 					value="#{opisStanowiskaBean.pptOpisStanowiska.wospCzIIIKierujacyJo}" -->
<!-- 					styleClass="ui-g-nopad ui-lg-3 ui-md-8 ui-sm-12"/> -->
					
				<cc:cCalendarMDesign 
					label="Data:"
					value="#{opisStanowiskaBean.pptOpisStanowiska.wospCzIIIKierData}"
					styleClass="ui-g-nopad ui-lg-2 ui-md-4  ui-sm-12"/>
					
				<cc:cInputTextAreaMDesign 
					label="Stanowisko:" rows="1"
					value="#{opisStanowiskaBean.pptOpisStanowiska.wospCzIIIKierStanowisko}"
					styleClass="ui-g-nopad ui-lg-7 ui-md-12 ui-sm-12 kierStn"/>
			</div>	
			
			<br/>
	     	<h3>Osoba zatwierdzająca opis stanowiska pracy:</h3>
			<h:panelGroup id="pnlZatw" styleClass="ui-g ui-g-nopad"> 
			
				<cc:cLOVMDesign
					label="Imię i nazwisko:" 
					datasource="#{opisStanowiskaBean.getLW('PPL_KAD_PRACOWNICY')}" 
					value="#{opisStanowiskaBean.pptOpisStanowiska.wospCzIIIZatwierdzajacy}"
					valueFormat="%3$s %4$s"
					lovTextFormat="%3$s %4$s"
					lovDlgTitle="Osoba zatwierdzająca opis:"
					lockInputText="false"
					rowSelectAction="#{opisStanowiskaBean.onCzIIIZatwierdzajacySelected()}"
					styleClass="ui-g-nopad ui-lg-3 ui-md-8 ui-sm-12"
					update="@(.zatwStn)"
				/>
				
				
<!-- 				<cc:cInputTextMDesign  -->
<!-- 					label="Imię i nazwisko:" -->
<!-- 					value="#{opisStanowiskaBean.pptOpisStanowiska.wospCzIIIZatwierdzajacy}" -->
<!-- 					styleClass="ui-g-nopad ui-lg-3 ui-md-8 ui-sm-12"/> -->
					
				<cc:cCalendarMDesign 
					label="Data:"
					value="#{opisStanowiskaBean.pptOpisStanowiska.wospCzIIIZatwData}"
					styleClass="ui-g-nopad ui-lg-2 ui-md-4  ui-sm-12"/>
					
				<cc:cInputTextAreaMDesign 
					label="Stanowisko:" rows="1"
					value="#{opisStanowiskaBean.pptOpisStanowiska.wospCzIIIZatwStanowisko}"
					styleClass="ui-g-nopad ui-lg-7 ui-md-12 ui-sm-12 zatwStn"/>
			</h:panelGroup>
			
		</p:tab>		

	</p:accordionPanel>

</body>
</html>