<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Opis stanowiska będący wyższym stanowiskiem w Służbie Cywilnej" />
		<ui:define name="egr_content">

			<h:form id="frmMenu" styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20">

				<p:commandButton value="zapisz" id="zapiszId" icon="save"
					style="min-width:80px" styleClass="ctl-home-link-menu"
					actionListener="#{opisStanowiskaBean.zapisz()}"
					partialSubmit="true" process="@form formId"
					update="@form template_growl @(.pgSymboleOpisu) @(.ftr)"
					/>
				<p:tooltip for="zapiszId" value="#{opisStanowiskaBean.pptOpisStanowiska.wospId}"/>

				<p:commandButton value="usuń" id="usunId" icon="delete"
					style="min-width:80px" styleClass="ctl-home-link-menu"
					actionListener="#{opisStanowiskaBean.usun()}"
					partialSubmit="true" process="@form formId"
					update="@form template_growl @(.ftr)"
					disabled="#{opisStanowiskaBean.pptOpisStanowiska.wospId == null
							or opisStanowiskaBean.pptOpisStanowiska.wospId == 0}"
					/>
				<p:tooltip for="usunId" value="#{opisStanowiskaBean.pptOpisStanowiska.wospId}"/>

				<p:commandButton value="Raport PDF" id="raportPDFId"
					icon="picture_as_pdf"
					disabled='#{opisStanowiskaBean.pptOpisStanowiska.wospId==0}'
					style="min-width:80px"
					actionListener="#{opisStanowiskaBean
							.raport('Opis stanowiska bedacego wyzszym stanowiskiem','pdf')}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<p:commandButton value="Raport RTF" id="raportWordId"
					icon="content_paste"
					disabled='#{opisStanowiskaBean.pptOpisStanowiska.wospId==0}'
					style="min-width:80px"
					actionListener="#{opisStanowiskaBean
							.raport('Opis stanowiska bedacego wyzszym stanowiskiem','rtf')}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<cc:cObiegCzynnosci kategoriaObiegu="WN_OPIS_STAN"
					idEncji="#{opisStanowiskaBean.pptOpisStanowiska.wospId}"
					whereCzynnosci=" NVL(COB_NAZWA2,'#WS') like '%#WS%'  OR NOT COB_NAZWA2 like '%#%' "
					/>

<!--					label="etap"-->
<!-- 					whereCzynnosci="not CDW_NAZWA = 'Zatwierdź (opis stanowiska nie bedącego wyższym)'" -->

				<cc:cZalacznikiButton zalFkId="#{opisStanowiskaBean.pptOpisStanowiska.wospId}"
					zalFkFieldName="ZAL_WOSP_ID"
					dlgTitle="Opis stanowiska / załączniki:"
					disabled="#{opisStanowiskaBean.pptOpisStanowiska.wospId == null or opisStanowiskaBean.pptOpisStanowiska.wospId == 0}"/>

			</h:form>

			<h:form id="formId" styleClass="bg-fff bsh2black m20i p20 flex-1">
				<p:tabView styleClass="pp-tbvw-wide" id="tabViewId">
					<p:tab title="Metryka stanowiska pracy">
						<div style="height:calc(100vh - 280px); overflow-y: auto; overflow-x: hidden;" class="p0 pr20 m0">
							<ui:include src="/faces/OpisStanowiska/MetrykaStanowiskaSCTab.xhtml" />
						</div>
					</p:tab>
					<p:tab title="Cel istnienia stanowiska pracy">
						<div style="height:calc(100vh - 280px); overflow-y: auto; overflow-x: hidden;" class="p0 pr20 m0">
							<ui:include src="/faces/OpisStanowiska/NowyOpisSCTab2.xhtml" />
						</div>
					</p:tab>
					<p:tab title="Obszary odpowiedzialności">
						<div style="height:calc(100vh - 280px); overflow-y: auto; overflow-x: hidden;" class="p0 pr20 m0">
							<ui:include src="/faces/OpisStanowiska/NowyOpisSCTab3.xhtml" />
						</div>
					</p:tab>
					<p:tab title="Wymagane kompetencje i doświadczenie zawodowe &lt;br/&gt; oraz część VI">
						<div style="height:calc(100vh - 280px); overflow-y: auto; overflow-x: hidden;" class="p0 pr20 m0">
							<ui:include src="/faces/OpisStanowiska/NowyOpisSCTab4.xhtml" />
						</div>
					</p:tab>
				</p:tabView>

				<div class="ftr d-flex-column"
					 style="position: fixed; bottom: 35px; width: calc(100% - 70px);">

					<p:outputLabel value="Egeria / Zarządzanie Personelem:" styleClass="fs16 p0 m0"/>
					<p:separator styleClass="ui-g-12 p0 m0"/>

					<div class="d-flex flex-wrap pb10">

						<div class="d-flex-column flex-400 pt10 pr10">
							<div>
								<p:outputLabel styleClass="ui-g-3 p0 m0" value="Departament:"/>
								<p:outputLabel styleClass="ui-g-9 p0 m0"
											   value="#{v.getLW('ppl_ops_lista_opisow').findAndFormat(opisStanowiskaBean.pptOpisStanowiska.wospId, '%dep_pelny_kod$s (%dep_nazwa$s)')}"/>
							</div>

<!--								<p:outputLabel styleClass="ui-g-2 p0 m0" value="Jednostka org.:"/>-->
<!--								<p:outputLabel styleClass="ui-g-10 p0 m0"-->
<!--											   value="#{v.getLW('ppl_ops_lista_opisow').findAndFormat(opisStanowiskaBean.pptOpisStanowiska.wospId, '%ob_pelny_kod$s (%ob_nazwa$s)')}"/>-->

							<div>
								<p:outputLabel styleClass="ui-g-3 p0 m0" value="Stanowisko:"/>
								<p:outputLabel styleClass="ui-g-9 p0 m0"
											   value="#{v.getLW('ppl_ops_lista_opisow').findAndFormat(opisStanowiskaBean.pptOpisStanowiska.wospId, '%stn_nazwa$s')}"/>
							</div>

						</div>

						<div class="d-flex flex-300 pt10 pr10">

							<cc:cInputText
									id="stjoSymbol"
									label="Symbol stanowiska w jednostce organizacyjnej: "
									value="#{v.getLW('ppl_ops_lista_opisow').findAndFormat(opisStanowiskaBean.pptOpisStanowiska.wospId, '%stjo_symbol$s')}"
									readonly="true"
							/>

							<p:commandButton
									styleClass="pt20"
									icon="content_copy"
									onclick="$('#formId\\:stjoSymbol\\:inp').select(); document.execCommand('copy'); "
							/>

						</div>

						<cc:cInputText
								styleClass="flex-300 pt10 pr10"
								label="Symbol opisu stanowiska:"
								value="#{v.getLW('ppl_ops_lista_opisow').findAndFormat(opisStanowiskaBean.pptOpisStanowiska.wospId, '%sto_symbol$s')}"
								readonly="true"
						/>
					</div>

					<p:separator styleClass="ui-g-12 p0 m0"/>
				</div>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
