<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsf/composite/components"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>
	<div class="ui-g">
				<div class="ui-g-12">
					<c:cInputTextAreaMDesign maxlength="2000"
						value="#{opisStanowiskaBean.pptOpisStanowiska.wospCelIstnienia}"
						label="Cel istnienia stanowiska pracy: " />
				</div>
				<div class="ui-g-12">
					<p:outputLabel 
						value="Stanowiska formalnie podległe:"
					/>
				</div>
				<div class="ui-g-12">
					<p:selectOneRadio layout="grid" columns="1"
						label="Liczba podległych zespołów:" 
						value="#{opisStanowiskaBean.getWsDane().wospwFSfAtr01}" >
						<!-- 				<f:selectItems value="#{opisStanowiskaBean.wnOpisStanowiska.wosp}" -->

				<f:selectItem itemValue="1"
					itemLabel="Brak permanentnego kierowania pracownikami – kieruje pracownikami tylko w czasie zastępowania dyrektora komórki organizacyjnej urzędu lub w czasie koordynowania projektów" />
				<f:selectItem itemValue="2"
					itemLabel="Kieruje – tylko bezpośrednio – nie więcej niż 12 pracownikami" />
				<f:selectItem itemValue="3"
					itemLabel="Kieruje co najwyżej 3 zespołami z podległymi osobami zarządzającymi niższego szczebla, albo kieruje bezpośrednio co najmniej 13 pracownikami" />
				<f:selectItem itemValue="4"
					itemLabel="Kieruje 4-8 zespołami z podległymi osobami zarządzającymi" />
				<f:selectItem itemValue="5"
					itemLabel="Kieruje więcej niż 8 zespołami z podległymi osobami zarządzającymi lub zarządza urzędem liczącym do 200 pracowników" />
				<f:selectItem itemValue="6"
					itemLabel="Zarządza urzędem liczącym powyżej 200, ale nie więcej niż 600 pracowników" />
				<f:selectItem itemValue="7"
					itemLabel="Zarządza urzędem liczącym powyżej 600, ale nie więcej niż 1000 pracowników" />
				<f:selectItem itemValue="8"
					itemLabel="Zarządza urzędem powyżej 1000 pracowników" />

			</p:selectOneRadio>
				</div>
	</div>
</body>
</html>