<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsf/composite/components"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>
	<div class="ui-g">
		<div class="ui-g-12">
<!-- 			<cc:cInputTextAreaMDesign  -->
<!-- 				label="Zarządzanie ludzmi:" -->
<!-- 			/> -->
<!-- 				value="#{opisStanowiskaBean.pptOpisStanowiska.pptOpsObOdpows.}" -->
			
<!-- 			<cc:cInputTextAreaMDesign  -->
<!-- 				label="Zarządzanie finansami:" -->
<!-- 			/> -->
<!-- 				value="#{opisStanowiskaBean.pptOpisStanowiska.pptOpsObOdpows.}" -->
			
<!-- 			<cc:cInputTextAreaMDesign  -->
<!-- 				label="Reprezentacja / Kontakty zewnętrzne" -->
<!-- 			/> -->
<!-- 				value="#{opisStanowiskaBean.pptOpisStanowiska.pptOpsObOdpows.}" -->
			<h:panelGroup id="pgOdpowiedzialnosciStnId" styleClass="pgOdpowiedzialnosciStn">
				<ui:repeat var="o" 
					value="#{opisStanowiskaBean.pptOpisStanowiska.pptOpsObOdpows}"
					varStatus="status">
					<div class="ui-g"> 
						<div class="ui-g-12 ui-lg-5 ui-xl-5">
							<cc:cInputTextMDesign 
								label="Rodzaj:"
								value="#{o.obodRodzaj}"
								readonly="#{status.index le 2}">
								<f:ajax event="change"/>
							</cc:cInputTextMDesign>
						</div>
						<div class="ui-g-11 ui-lg-6 ui-xl-6">
							<cc:cInputTextAreaMDesign
								label="Opis:" maxlength="4000"
								value="#{o.obodOpis}">
								<f:ajax event="change"/>
							</cc:cInputTextAreaMDesign>
						</div>
						<div class="ui-g-1 ui-lg-1 ui-lg-1">
							<p:commandButton icon="delete" partialSubmit="true" style="margin-top:30px!important;"
								id="usunOdpowiedzialnoscStnId"
								onclick="$(this).mouseout()"
								rendered="#{status.index gt 2}"
								process="@this"
								update="@(.pgOdpowiedzialnosciStn)"
								action="#{opisStanowiskaBean.pptOpisStanowiska.pptOpsObOdpows.remove(o)}" />
							<p:tooltip for="usunOdpowiedzialnoscStnId" 
								value="Usunięcie danej odpowiedzialności / zakresu działań" />
						</div>
					</div>
					<span class="divider2"></span>
				</ui:repeat>
				<p:commandButton icon="add" id="nowaOdpowiedzialnoscStnId"
					disabled="#{opisStanowiskaBean.pptOpisStanowiska.pptOpsObOdpows.size() ge 8}"
					partialSubmit="true" process="@this"
					action="#{opisStanowiskaBean.dodajOdpowiedzialnoscStn()}"
					update="@(.pgOdpowiedzialnosciStn)" />
				<p:tooltip for="nowaOdpowiedzialnoscStnId"
					value="Dodanie kolejnej odpowiedzialności / zakresu działań (kluczowych i dodatkowych maksymalnie 8)" />
			</h:panelGroup>
				
		</div>
	
	</div>

</body>
</html>