<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista opisów stanowisk" />
		<ui:define name="egr_content">

			<h:form styleClass="bg-fff m20i p20 bsh2black flex-1">

					<c:cLookupTable
						datasource="#{listaOpisowStanowiskBean.getLW('PPL_OPS_LISTA_OPISOW')}"
						rowSelectAction="#{listaOpisowStanowiskBean.editSelectedRow}"
					/>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>

