<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Stanowiska raporty" />

		<ui:define name="egr_content">

			<div class="pp-center p20 d-flex-1">

				<h:form id="frmId" styleClass="bg-fff bsh2black p20 width100p">
					<h:panelGroup id="pnlGr" styleClass="pnlGrCL">
						#{stanowiskaRaportyBean.loadJednostki()}
						<div class="bg-white-95">

							<p:selectOneMenu
								style="min-width:400px;!important; width:400px!important; margin-right:50px; margin-bottom:15px;"
								value="#{stanowiskaRaportyBean.selectedReport}"
								update="frmId @(.pnlGrCL)">>
								<f:selectItem itemLabel="Wybierz raport"
									noSelectionOption="true"
									itemValue="#{stanowiskaRaportyBean.selectedReport}" />
								<f:selectItem itemLabel="Wakaty" itemValue="Wakaty" />
								<f:selectItem itemLabel="Zestawienie stanowisk pracy"
									itemValue="Zestawienie_stanowisk_pracy" />
								<p:ajax event="change" update="frmId @(.pnlGrCL)" />
							</p:selectOneMenu>

							<h:panelGroup
								rendered="#{not empty stanowiskaRaportyBean.selectedReport}">
								<p:commandButton value="Raport PDF" icon="picture_as_pdf"
									style="min-width:80px" styleClass="ctl-home-link-menu"
									actionListener="#{stanowiskaRaportyBean.displayReportAsPDF()}"
									partialSubmit="true" process="@form"
									onclick="form.target = '_blank'" ajax="false" />

								<p:commandButton value="Raport RTF" icon="content_paste"
									style="min-width:80px" styleClass="ctl-home-link-menu"
									actionListener="#{stanowiskaRaportyBean.displayReportAsRTF()}"
									partialSubmit="true" process="@this"
									onclick="form.target = '_blank'" ajax="false" />

								<p:commandButton value="Raport DOCX" icon="content_paste"
									style="min-width:80px" styleClass="ctl-home-link-menu"
									actionListener="#{stanowiskaRaportyBean.displayReportAsDOCX()}"
									partialSubmit="true" process="@this"
									onclick="form.target = '_blank'" ajax="false" />

								<p:commandButton value="Raport ODT" icon="content_paste"
									style="min-width:80px" styleClass="ctl-home-link-menu"
									actionListener="#{stanowiskaRaportyBean.displayReportAsODT()}"
									partialSubmit="true" process="@this"
									onclick="form.target = '_blank'" ajax="false" />
							</h:panelGroup>
						</div>

						<div class="bg-white-95">
							<h:panelGroup
								rendered="#{not empty stanowiskaRaportyBean.selectedReport}">
								<div class="ui-g">
									<div class="ui-g-4">
										<c:cInputTextMDesign readonly="true"
											value="Jednostka organizacyjna" label="Nazwa parametru"
											renderKU="false" />
									</div>

									<div class="ui-g-5">
										<c:cLov lovDlgTitle="Wybór jednostki organizacyjnej"
											rowsMultiSelectedAction="#{stanowiskaRaportyBean.wyborJO()}"
											datasource="#{stanowiskaRaportyBean.getSql('PP_JEDNOSTKI_2')}"
											multiselect="true" update="@this" showInputText="false"
											width="50" renderKU="false" />
									</div>
								</div>

								<div class="ui-g">
									<div class="ui-g-4">
										<c:cInputTextMDesign readonly="true" value="Stan na dzień"
											renderKU="false" />
									</div>

									<div class="ui-g-5">
										<c:cCalendarMDesign
											value="#{stanowiskaRaportyBean.stanNaDzien}" renderKU="false">
											<f:ajax event="dateSelect" />
										</c:cCalendarMDesign>
									</div>
								</div>
							</h:panelGroup>
						</div>

					</h:panelGroup>

				</h:form>
			</div>

		</ui:define>
	</ui:composition>
</h:body>

</html>
