<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Zarządzanie Personelem / Struktura podległości (wg opisów stanowisk)" />

		<ui:define name="egr_content">

			<div class="p20 d-flex-1 ov-auto">
				<h:form id="frm" styleClass="bsh2black width100p" >
					
					<div class="bg-fff p20">				
					
						<p:tabView id="tv1" styleClass="pp-tbvw-wide tab-no-pad">

							<p:tab title="Przełożony / pracownicy">
	<!--
								<ui:param name="vlw"
								value="#{v.getLW('PPL_PRC_PRZELOZENI_WG_STO')
								.setPreQuery('
									declare
										v_nr number := ?;
									begin
										 ppadm.ppp_global.ustaw_date_dla_struktury_po(sysdate);
									end;'
								, 123 )}" />
	-->


	<!-- 						<ui:param name="vlw" value="#{v.getLW('PPL_PRC_PRZELOZENI_WG_STO')
								.setPreQuery('
								begin
									 ppadm.ppp_global.ustaw_date_dla_struktury_po(sysdate);
								end;'
								)}" />
	-->

								<ui:param name="vlw" value="#{v.getLW('PPL_PRC_PRZELOZENI_WG_STO').setPreQuery('call ppadm.ppp_global.ustaw_date_dla_struktury_po(sysdate)')}" />

								<p:accordionPanel id="acc1" widgetVar="acc1" activeIndex="1" dynamic="true" onTabShow="panel.find('input.inpSearch').select().focus()">

									<p:tab id="tb0" title="Wybierz przełożonego (#{vlw.data.size()} osób na stanowisku kierowniczym wg ZP): ">

										<div class="d-flex" style="height: calc(100vh - 230px);">
											<c:cLookupTable id="lkptbprz" fillwidthcolumn="true"
												datasource="#{vlw}"
												onRowSelectStart="hgon();"
												onRowSelected=" PF('acc1').select(1); hgoff(); "
												update="frm:tv1:acc1:lblTab2 frm:tv1:acc1:pnlTab2 " />
										</div>

									</p:tab>

									<p:tab id="tb1" title="...">

										<f:facet name="title">
											<h:panelGroup id="lblTab2">
												<ui:param name="vprzrow" value="#{vlw.currentRow !=null ? vlw.currentRow : vlw.find(user.prcIdLong) }"/>
												<p:outputLabel value="Stanowiska podlegające / pracownicy (przełożony: #{vprzrow.format('[%2$s] %3$s %4$s')}):" />

											</h:panelGroup>
										</f:facet>

										<h:panelGroup id="pnlTab2">
											<ui:param name="vprzrow" value="#{vlw.currentRow !=null ? vlw.currentRow : vlw.find(user.prcIdLong) }"/>
											<div class="d-flex" style="height: calc(100vh - 240px);">
												<c:cLookupTable id="clkpPrcPodl" rendered="#{vprzrow != null}"
													datasource="#{v.getLW('PPL_PRC_PODLEGLI_WG_STO', [vprzrow.idAsLong] )}"
												/>
											</div>

										</h:panelGroup>
									</p:tab>

								</p:accordionPanel>

							</p:tab>

							<p:tab id="tb2" title="Pracownik / przełożony: ">

								<div class="p20 d-flex" style="height: calc(100vh - 190px)">
									<c:cLookupTable id="lkptbprcprz" fillwidthcolumn="true"
										datasource="#{v.getLW('PPL_PRC_PRZ')}"/>
								</div>
							</p:tab>

							<p:tab id="tb3" title="Struktura podległosci wg ZP: ">
								<div class="p20 d-flex" style="height: calc(100vh - 190px)">
									<c:cLookupTable fillwidthcolumn="true"
										datasource="#{v.getLW('PPL_STR_PODL_PRC').setPreQuery('call ppadm.ppp_global.ustaw_date_dla_struktury_po(sysdate)')}"/>
								</div>
							</p:tab>

						</p:tabView>

					</div>
				</h:form>
			</div>

		</ui:define>

	</ui:composition>

</body>
</html>