
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

	<p:dialog id="dlgUwagaDoAnulowaniaPlanu"  widgetVar="dlgUwagaDoAnulowaniaPlanu"
		appendTo="@(body)" modal="true" closeOnEscape="true" draggable="true"
		resizable="false" dynamic="true">

		<f:facet name="header">
			<h:form>
				<p:panelGrid style="width: 100%;">
					<p:column>
						<h:outputText value="Anuluj plan urlopowy dla pracownika #{listaRocznyPlanUrlBean.selectedPracownik.get('pp_pracownik')}" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" icon="close" styleClass="btnDlg"
							process="@none" onclick="PF('dlgUwagaDoAnulowaniaPlanu').hide();">
						</p:commandButton>

					</p:column>
				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form styleClass="mw700 h200">
		
			<cc:cInputTextAreaMDesign id="uzasadnienie"
							label="Uzasadnienie odrzucenia planu urlopowego"
							value="#{listaRocznyPlanUrlBean.uwaga}"
							placeholder="... uzasadnienie odrzucenia planu urlopowego ..."
							styleClass="lekka-ramka uwaga" rows="5" cols="150" maxlength="1000" />
		</h:form>

		<f:facet name="footer">
			<h:form>
				<div class="dlgBottomBtnsBar">
					<h:panelGroup>
						<p:row>

							<p:column>
								<p:commandButton value="Odrzuć plan urlopowy" 
									actionListener="#{listaWnioskowBean.getLW('PPL_URLOPY_PLANOWANE').resetTs() }"
								    action="#{listaRocznyPlanUrlBean.odrzucPlan(listaRocznyPlanUrlBean.selectedPracownik.get('pp_prc_id'), listaRocznyPlanUrlBean.rok)}"
								    update="frmDane" process="@this @(.uwaga)" partialSubmit="true"
								    oncomplete="PF('dlgUwagaDoAnulowaniaPlanu').hide();"
								 />
									
							</p:column>
						</p:row>
					</h:panelGroup>
				</div>
			</h:form>
		</f:facet>

	</p:dialog>

</ui:composition>