<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">


	<p:dialog id="dlgUrlopyWniosek" widgetVar="dlgUrlopyWniosek"
		appendTo="@(body)" modal="true" closeOnEscape="true" draggable="true"
		resizable="false" dynamic="true">

		<f:facet name="header">
			<h:form>
				<p:panelGrid style="width:100%">
					<p:column>
						<h:outputText value="Wnioski o urlop" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" icon="close" styleClass="btnDlg"
							process="@none" onclick="PF('dlgUrlopyWniosek').hide();">
						</p:commandButton>

					</p:column>
				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form styleClass="mw700 h500">

			<cc:cLookupTable
				value="#{wnUrlopowyBean.selectedWniosekID}"
				valueFormat="%1$s"
				datasource="#{wnUrlopowyBean.getLW('PPL_URLOPY_WNIOSKOWANIE', sessionBean.prc_id, wnUrlopowyBean.rok, wnUrlopowyBean.rok)}"/>

			<p:commandButton id="raportBtnId" value="Generuj raport"
				styleClass="ctl-home-link-menu" actionListener="#{wnUrlopowyBean.raport()}"
				partialSubmit="true" process="@this"
				onclick="form.target = '_blank'" ajax="false"/>

		</h:form>

	</p:dialog>

</ui:composition>