<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:dialog header="Dodawanie wniosku urlopowego"
		widgetVar="dlgWniosekUrlopowy" appendTo="@(body)" modal="true"
		closeOnEscape="true" draggable="true" resizable="false"
		id="dlgWniosekUrlopowyId" classStyle="ctl-dialog">

		<f:metadata>

			<f:event type="preRenderView"
				listener="#{wniosekUrlopowyBean.loadSqlData('sqlJednostka',
		'
		SELECT 
			OB_ID 			pp_ob_id,
			OB_NAZWA		pp_ob_nazwa
		from EK_OBIEKTY_W_PRZEDSIEB

		', []
	)}" />

			<f:event type="preRenderView"
				listener="#{wniosekUrlopowyBean.loadSqlData('sqlPracownicy',
		'
		SELECT 
			prc_id				pp_prc_id,
			prc_imie			pp_prc_imie,
			prc_nazwisko		pp_prc_nazwisko
		from EK_PRACOWNICY

		', []
	)}" />

			<f:event type="preRenderView"
				listener="#{wniosekUrlopowyBean.loadSqlData('sqlRodzajeUrlopu',
		'
		SELECT 
			rda_id				pp_rda_id,
			rda_nazwa			pp_rda_nazwa
		from EK_RODZAJE_ABSENCJI

		', []
	)}" />

		</f:metadata>

		<h:form id="formDlgWniosekUrlopowyId">

			<p:growl id="growl" showDetail="true"
				rendered="#{not facesContext.validationFailed}" />

			<p:panelGrid>
				<!-- (Content) Pairs: Label - Input -->
				<!-- _DIALOG_NAME_ - nazwa okna dialogowego -->
				<!-- _FORM_NAME_ - nazwa formularza wykorzystującego okno dialogowe -->
			</p:panelGrid>
			<p:panelGrid columns="2" columnClasses="w300, w300"
				styleClass="mt10 w400  h400">
					Jednostka organizacyjna
					<p:selectOneMenu id="jednostkaOrgId"
					value="#{wniosekUrlopowyBean.jOrg}" filter="true" style="width:275px">
					<f:selectItem itemLabel="Wybierz jednostkę" />
					<f:selectItems value="#{wniosekUrlopowyBean.jednostkiOrg}" />
					<p:ajax event="change" />
				</p:selectOneMenu>
					
					Imię i nazwisko pracownika
					<p:selectOneMenu id="imieNazwiskoListId"
					value="#{wniosekUrlopowyBean.prcId}"  filter="true" style="width:275px">
					<f:selectItem itemLabel="Wybierz pracownika" />
					<f:selectItems value="#{wniosekUrlopowyBean.pracownicy}" />
					<p:ajax event="change" />
				</p:selectOneMenu>
					
					Rodzaj wniosku
					<p:selectOneMenu id="rodzajWnioskuId"
					value="#{wniosekUrlopowyBean.rodzajWniosku}" filter="true" style="width:275px">
					<f:selectItem itemLabel="Wybierz rodzaj" />
					<f:selectItems value="#{wniosekUrlopowyBean.rodzajeUrlopu}" />
					<p:ajax event="change" />
				</p:selectOneMenu>
					
					Data od
					<p:calendar id="dataOdId" required="true"
					value="#{wniosekUrlopowyBean.dataOd}" showOn="button"
					pattern="yy/MM/dd" styleClass="jsf-callendar" locale="pl">
					<p:ajax event="dateSelect" />
				</p:calendar>
					
					Czy cały dzień?
					<p:selectBooleanCheckbox id="czyCalyDzienId"
					value="#{wniosekUrlopowyBean.czyCaly}">
					<f:ajax event="change" render="formDlgWniosekUrlopowyId" />
				</p:selectBooleanCheckbox>

					
					Godzin:
					<p:selectOneMenu id="godzinId"
					value="#{wniosekUrlopowyBean.godzina}"
					rendered="#{wniosekUrlopowyBean.czyCaly eq false}">
					<f:selectItem itemLabel = "Liczba godzin"/>
					<f:selectItem itemValue="1" itemLabel="1" />
					<f:selectItem itemValue="2" itemLabel="2" />
					<f:selectItem itemValue="3" itemLabel="3" />
					<f:selectItem itemValue="4" itemLabel="4" />
					<f:selectItem itemValue="5" itemLabel="5" />
					<f:selectItem itemValue="6" itemLabel="6" />
					<f:selectItem itemValue="7" itemLabel="7" />
					<f:selectItem itemValue="8" itemLabel="8" />
					<f:ajax event="change"/>
				</p:selectOneMenu>

				<p:selectOneMenu id="godzinCaly"
					rendered="#{wniosekUrlopowyBean.czyCaly eq true}">
					<f:selectItem itemValue="8" itemLabel="8" itemDisabled="true" />
				</p:selectOneMenu>

					Data do
					<p:calendar id="dataDoId" required="true"
					value="#{wniosekUrlopowyBean.dataDo}" showOn="button"
					pattern="yy/MM/dd" styleClass="jsf-callendar" locale="pl">
					<p:ajax event="dateSelect" />
				</p:calendar>
					
					Uzasadnienie
					<p:inputTextarea id="uzasadnienieId" rows="4" cols="30"
					counter="display" maxlength="200"
					counterTemplate="Pozostało {0} znaków." autoResize="false"
					value="#{wniosekUrlopowyBean.uzasadnienie}">
					<p:ajax event="change" />
				</p:inputTextarea>
				<h:outputText id="display" />
			</p:panelGrid>

			<p:panelGrid styleClass="ctl-dialog-buttons">

				<p:column>

					<p:commandButton id="btAnuluj" value="#{dic.EGR70017_anuluj}"
						update="formDlgWniosekUrlopowyId" process="@this"
						oncomplete="PF('dlgWniosekUrlopowy').hide();">

						<p:resetInput target="formDlgWniosekUrlopowyId" />

					</p:commandButton>

				</p:column>

				<p:column>
					<p:commandButton id="btZapisz" value="Zapisz"
						process="@this"
						oncomplete="PF('dlgWniosekUrlopowy').hide();">
						<p:ajax listener="#{wniosekUrlopowyBean.zapisz()}" 
						oncomplete="location.reload();"/>
					</p:commandButton>

				</p:column>

			</p:panelGrid>

		</h:form>
	</p:dialog>

</ui:composition>