<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:head>
</h:head>

<h:body>


	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplateEmpty.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}" />

		<ui:define name="egr_content">

				
				<h:form id="frmMsgs">
				
					<div style="position:absolute; right:150px; top:20px;">  ... wczytywanie komunikatów ... </div>
					<p:commandButton icon="clear" 
						onstart="parent.hideEgrMsgs();"
						style="position:absolute; right:20px; top:20px;" 
					/>
				
					<p:remoteCommand name="rcProcessNewMsgs" action="#{msgsBean.processNewMsgs()}" async="true" autoRun="true"/> 
					
				</h:form>				

		
	
			
			
	<!-- UWAGA to musi byc dialog, bo w bardziej skomplikowanych widokach peLayout sie moze nie wyrenderowac w iframe -->
	<p:dialog id="dlgKomunikat"
		widgetVar="dlgKomunikat"
	 	width="950" 
	 	
		appendTo="@(body)" modal="false" closeOnEscape="true" draggable="false"
		resizable="false" dynamic="true" classStyle="ctl-dialog"
		
		focus="formDlgKomunikatHdr:btAnuluj"

		onHide="parent.hideEgrMsgs();">
		<f:facet name="header">
			<h:form id="formDlgKomunikatHdr" styleClass="">
				<p:panelGrid style="width:100%">
					<p:column>
						<h:outputText 
							escape="false"
							value= "#{user.currentMsg.severityIcon24px()}" 
							style="font-size: 24px !important"
							/>
								
					</p:column>
				
					<p:column>
						<h:outputText value="#{user.currentMsg.tytul}" styleClass="ml20"/>
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" icon="close" process="@this"
							styleClass="btnDlg"
							oncomplete="PF('dlgKomunikat').hide(); parent.hideEgrMsgs();">
							<p:resetInput target="formDlgKomunikat" />
				
						</p:commandButton>

					</p:column>
				</p:panelGrid>
				
			</h:form>
		</f:facet>



		<h:form id="formDlgKomunikat" styleClass="komunikat ml0 mr0"
			style=" overflow: auto; padding: 10px; height:420px; margin-bottom:25px!important; border: 2px solid #{user.currentMsg.severityColor()};">
			
<!-- 			<p:inputText/> -->
<!-- 			<p:focus/> -->
			
			
				<h:outputText 
					escape="false"
					value="#{user.currentMsg.tekst}"
					style="font-size: 18px !important"
					styleClass="right"/>
					
					
				<h:outputText rendered="#{user.msgs.size() eq 0}"
					value="W tej sesji jeszcze nie zarejestrowano komunikatów."
					style="font-size: 18px !important"
					styleClass="right"/>		
					

				<!--  UWAGA: BUG NA FireFox'ie  - nie pozycjonuje prawidlowo overlay'a ponad przyciskiem -->
				<h:outputLabel id="xyz" value="" style="position:absolute!important; bottom:240px; right:20px; z-index:-5;" /> 
				<p:overlayPanel for="xyz" widgetVar="xyz"  style="width:750px; height:200px;" styleClass="border">
				
					<h:outputText rendered="#{user.msgs.size() eq 0}"
						value="W tej sesji jeszcze nie zarejestrowano żadnych komunikatów systemowych."
						style="font-size: 18px !important"
						styleClass="right"/>
					
					<div id="pnl" class="ui-g ui-g-nopad" style="width:100%; max-height:200px; overflow: auto">	
						<ui:repeat var="msg" value="#{user.msgs}">
						
							<div class="ui-g-3 ui-g-nopad"> 
								<h:outputText 	value="#{msg.otrzymano}"  style="color:#{msg.severityColor()}">
									<f:convertDateTime pattern="yyy-MM-dd HH:mm:ss" />
								</h:outputText>
							</div>
							<div class="ui-g-8 ui-g-nopad"> 
								<h:outputText 	value="#{msg.tytul}" 				style="color:#{msg.severityColor()}" />
							</div>
							<div class="ui-g-1 ui-g-nopad"> 
								<p:commandButton icon="#{msg.severityIconName()}"   styleClass="granatowy ui-g-nopad"
									partialSubmit="true" process="@this"
									action="#{user.setCurrentMsg(msg)}" update="@(.komunikat)"
								 /> 	  
							</div>
							
						</ui:repeat>
					</div>		
				</p:overlayPanel>			

		</h:form>
		
		
		
		<f:facet name="footer">
			<div class="dlgBottomBtnsBar" style="width:100%; padding:5px">
			<h:form id="formDlgKomunikatFtr" styleClass="komunikat" rendered="#{user.msgs.size() gt 0}">
				
				<div class="ml10 mt5" style="display:inline-block;">
				<p:outputLabel value="Komunikat systemowy / otrzymano: " styleClass="ml10" />
				<h:outputText value="#{user.currentMsg.otrzymano}" >
					<f:convertDateTime pattern="yyy-MM-dd HH:mm:ss" />
				</h:outputText>
				<p:outputLabel value="rodzaj: #{user.currentMsg.severityDescPL()}" styleClass="ml20" />
				</div>
				
				<p:commandButton id="btnkomunikatyLista" value="(#{user.msgs.size()}) otrzymane komunikaty..."
					styleClass="granatowy mr30" 
					onclick="PF('xyz').show();" />
				
				</h:form>
			</div>
			
		</f:facet>
	</p:dialog>			
			
			
			
			

		</ui:define>
		
	</ui:composition>	

</h:body>

</html>
