<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplateEmpty.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}" />

		<ui:define name="egr_content">

			<div style="position:absolute; right:150px; top:20px;"> wczytywanie powiadomień ... </div>
			<p:commandButton icon="clear"
				onstart="parent.document.getElementById('dlgDvPwdmn').style.zIndex='-9999999'"
				style="position:absolute; right:20px; top:20px;"
			/>
			<div class="dvwczytywanie" id="hourGlass"
				style="font-size: 300% !important;  position: absolute; bottom: 100px; right: 100px; max-height: 40% !important">
			</div>



	<p:dialog id="dlgPowiadomieniaId" widgetVar="dlgPowiadomienia"
		appendTo="@(body)" modal="false" closeOnEscape="true" draggable="false"
		resizable="false" dynamic="true"
		onShow="parent.document.getElementById('dlgDvPwdmn').style.zIndex= '9999999'"
		onHide="parent.document.getElementById('dlgDvPwdmn').style.zIndex='-9999999'"
              width="100vw"
		>

		<f:facet name="header">
			<h:form>
				<p:panelGrid style="width:100%">
					<p:column>
						<h:outputText value="Powiadomienia" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" icon="close" styleClass="btnDlg"
							process="@this" oncomplete="PF('dlgPowiadomienia').hide();">
							<p:resetInput target="formDlgPowiadomienia" />

						</p:commandButton>
					</p:column>
				</p:panelGrid>
			</h:form>
		</f:facet>


		<h:form id="formDlgPowiadomienia" style="width:100%" styleClass="clsPowiadomienia">

			<cc:cLookupTable id="tablePowiadomieniaDlg" height="470px" fillwidthcolumn="false"
				datasource="#{pracownikPowiadomieniaSqlBean.getLW('PPL_ADM_POWIADOMIENIA', [egrLoginBean.username.toUpperCase()] )}"
				insertChildrenFirst="true" smallHeaders="true"
				generateColumns="false" 
				>

				<p:column width="120"
					headerText="Czas powiadomienia"  
					sortBy="#{pp_data_powiadomienia}">
					
					<h:outputText value="#{row.get('pp_data_powiadomienia')}"
						style="#{row.get('WDM_F_PRZECZYTANA') eq 'N' ? 'font-weight:bold' : 'font-weight:normal'}; #{'M' eq row.get('WDM_TYP') ? 'color:steelblue; ' : ''}">
						<f:convertDateTime pattern="yyy-MM-dd HH:mm:ss" />
					</h:outputText>
				</p:column>
				
				<p:column width="250"
					headerText="Temat" 
					sortBy="#{wdm_temat}">
					<h:outputText value="#{row.get('wdm_temat')}"   
						style="#{row.get('WDM_F_PRZECZYTANA') eq 'N' ? 'font-weight:bold' : 'font-weight:normal'}; #{'M' eq row.get('WDM_TYP') ? 'color:steelblue; ' : ''}">
					</h:outputText>
				</p:column>
				
				<p:column width="330"
					sortBy="#{pp_tresc_skrot}"
					headerText="Treść">
					<h:outputText value="#{row.get('pp_tresc_skrot')} ..."   
						style="#{row.get('WDM_F_PRZECZYTANA') eq 'N' ? 'font-weight:bold' : 'font-weight:normal'}; #{'M' eq row.get('WDM_TYP') ? 'color:steelblue; ' : ''}">
						<f:convertDateTime pattern="yyy-MM-dd HH:mm:ss" />
					</h:outputText>
				</p:column>

				<p:column width="20">

					<p:commandButton icon="zoom_in" 
						action="#{pracownikPowiadomieniaSqlBean.wczytajWyswietlPowiadomienie(row)}"
						onstart="hgon();"
						oncomplete="hgoff(); PF('dlgTrescPowiadomienia').show(); parent.updateIleNwchPwdmn();
									odswiezIloscNaKafelku();"
						update="@(.ileNwchPwdmn)" partialSubmit="true" process="@this"/>
						
				</p:column>


			</cc:cLookupTable>

		</h:form>

		<h:outputScript>
			function odswiezIloscNaKafelku() {
				let updateFunction = parent.document.getElementById('ifrmContent').contentWindow.updateKafelekPowiadomien;
				if (typeof updateFunction === 'function') {
					updateFunction();
				}
			}
		</h:outputScript>

	</p:dialog>



	<p:dialog id="dlgTrescPowiadomieniaId"
		widgetVar="dlgTrescPowiadomienia" appendTo="@(body)" modal="true"
		closeOnEscape="true" draggable="false" resizable="false" dynamic="true"
		onHide="PF('dlgPowiadomienia').hide();PF('dlgPowiadomienia').show();"
        width="100vw"
    >
		<f:facet name="header">

			<h:form style="max-height:25px!important; display: block;">

                <h:outputText
                        style="display: inline-block; max-width: 93vw!important;"
                        styleClass="cell-cntnt"
                        value="#{pracownikPowiadomieniaSqlBean.selectedPowiadomienie.get('wdm_temat')}"
                        title="#{pracownikPowiadomieniaSqlBean.selectedPowiadomienie.get('wdm_temat')}"
                />


				<p:commandButton
						id="btAnuluj"
						icon="close"
						process="@this"
						styleClass="btnDlg"
						style="position: absolute; right: 15px!important;"
						oncomplete="PF('dlgTrescPowiadomienia').hide();">
					<p:resetInput target="formDlgTrescPowiadomienia"/>
				</p:commandButton>

			</h:form>
		</f:facet>

		<h:form id="formDlgTrescPowiadomienia"
			style="margin-bottom:25px!important; width:100%; height:456px; overflow-y: scroll;">
			
			<div class="p20" >
				<h:outputText 
					escape="false"
					value="#{pracownikPowiadomieniaSqlBean.trescPowiadomienia}"
					style="font-size: 18px !important;"
					styleClass="right"
				/>
			</div>
	
		</h:form>
		
		<f:facet name="footer">
			<div class="dlgBottomBtnsBar" style="width:100vw; padding:5px">
				<p:outputLabel value="Przesłano: " styleClass="ml10" />
				
				
				<h:outputText value="#{pracownikPowiadomieniaSqlBean.selectedPowiadomienie.get('pp_data_powiadomienia')}">
					<f:convertDateTime pattern="yyy-MM-dd HH:mm:ss" />
				</h:outputText>
				
				<h:panelGroup rendered="#{pracownikPowiadomieniaSqlBean.selectedPowiadomienie.get('wdm_adres')!=null}">
					<h:outputText value="#{pracownikPowiadomieniaSqlBean.selectedPowiadomienie.get('wdm_adres_od')}" styleClass="ml40 mr20" style="color:steelblue;"/> 
					<p:outputLabel value="do"/>
					<h:outputText value="#{pracownikPowiadomieniaSqlBean.selectedPowiadomienie.get('wdm_adres')}" styleClass="ml10" style="color:steelblue;"/>
				</h:panelGroup>
			</div>
			
		</f:facet>
	</p:dialog>



		</ui:define>

	</ui:composition>

</h:body>

</html>


