<!--
  - Uzycie:
  - <ui:composition ...>
  -   <ui:define name="egr_bottom_overlay_content">
  -     costam
  -   </ui:define>
  -   <ui:define name="egr_content">
  -     ...
  -       <ui:include
  -         src="/WEB-INF/protectedElements/Templates/EgrBottomOverlay.xhtml" />
  -   </ui:define>
  -   ...
 -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<div id="egr-bottom-overlay-frame" class="egr-bottom-overlay-frame">
		<div id="egr-bottom-overlay-minimal"
			class="egr-bottom-overlay-minimal">
			<a class="egr-bottom-overlay-label"
				onclick="$('#egr-bottom-overlay-minimal').hide(); $('#egr-bottom-overlay-inner').show();">#{dic.LBL10045_pokaz_szczegoly}</a>
		</div>
		<div id="egr-bottom-overlay-inner" class="egr-bottom-overlay-inner">
			<a class="egr-bottom-overlay-label"
				onclick="$('#egr-bottom-overlay-minimal').show(); $('#egr-bottom-overlay-inner').hide();">#{dic.LBL10028_ukryj_szczegoly}</a>
			<br />
			<h:form>
				<p:remoteCommand autoRun="true"
					onstart="$('#egr-bottom-overlay-inner').hide();" />
			</h:form>
			<ui:insert name="egr_bottom_overlay_content" />
		</div>
	</div>
</ui:composition>
