<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
    <ui:composition>

        <h:form id="egrHeaderForm" styleClass="d-flex-1 pl15 egr-header-form">

            <!-- <c:cRefreshFormTestButton/>-->

            <p:commandButton
                    id="menuBtn"
                    icon="menu"
                    onclick="handleNav(); return false;"
                    styleClass="menu-button"
            />


            <div class="d-flex-1-column height100p" style="min-width: 0; justify-content: space-between;">

                <!--===== PIERWSZA LINIA: MENU/FORMNAME | IKONKI ======================================================================-->
                <div class="d-flex a-i-center p5 pb0">

                    <div class="flex-1 txt-white text-overflow">
                        <h:outputText styleClass="header-submenu-name" value="#{submenuName}&#160;/&#160;"/>
                        <h:outputText id="pInfo" title="#{formName}"
                                      styleClass="header-form-name"
                                      value="#{formName}"/>
                    </div>


                    <!--koljene od prawej-->
                    <div id="egrHeaderMnuIcnsDv" class="d-flex align-items-center mlautoi header-buttons-inline">

                        <p:commandButton
                                rendered="#{user.admin}"
                                id="dbobj"
                                icon="mdi-database"
                                title="obiekty bazy danych ..."
                                styleClass="header-menu-icon fs24 opacity-06 #{not empty appBean.dbObjectErrors ? 'bg-red': ''}"
                        />
<!--                                onclick=" window.open('ListaTabel'); window.open('ListyObiektowBD'); return false;"-->

                        <p:overlayPanel widgetVar="dbobjwdgvr" for="dbobj" rendered="#{user.admin}">
                            <div class="d-flex-column">
                                <p:commandButton value="indeks tabel ..."       onclick="PF('dbobjwdgvr').hide();  window.open('ListaTabel');        return false" styleClass="granatowy mt0"/>
                                <p:commandButton value="indeks el. PL/SQL ..."  onclick="PF('dbobjwdgvr').hide();  window.open('ListyObiektowBD');   return false" styleClass="granatowy mt5"/>
                                <p:commandButton value="listy wartości ..."     onclick="PF('dbobjwdgvr').hide();  window.open('ListyWartosci');     return false" styleClass="granatowy mt5"/>
                                <p:commandButton value="słowniki ..."           onclick="PF('dbobjwdgvr').hide();  window.open('ListaSlownikow');    return false" styleClass="granatowy mt5"/>
                            </div>
                        </p:overlayPanel>

                        <!--                        <p:tooltip id="dbobjtt" for="dbobj @this" showDelay="500" hideDelay="1000" rendered="#{user.admin and (not empty appBean.dbObjectErrors)}">-->
<!--                            <div class="d-flex-column" style="width: 800px; height: 600px; box-shadow: 0 0 1px 1px red;" >-->
<!--                                <p:outputLabel for="@parent" styleClass="bb1 fs20" value="Błędy z przebiegu appBean.init z ustawieniem autoResetDB=true"/>-->
<!--                                <ui:repeat value="#{appBean.dbObjectErrors}" var="o">-->
<!--                                    <div class="d-flex bb1">-->
<!--                                        <c:cInputText id="objrfile" value="#{o.resourceLocation}" readonly="true"/>-->
<!--                                        <c:cInputText id="errmsg" value="#{o.err.message}" readonly="true"/>-->
<!--                                    </div>-->
<!--                                </ui:repeat>-->
<!--                            </div>>-->
<!--                        </p:tooltip>-->


                        <p:commandButton
                                rendered="#{user.admin}"
                                id="showLogs"
                                icon="bug_report"
                                title="logi systemu ..."
                                styleClass="header-menu-icon fs24 opacity-06"
                                onclick="window.open('test_logs.xhtml'); return false;"
                        />

                        <p:commandButton
                                rendered="#{user.admin}"
                                id="showKuBtns"
                                icon="settings"
                                styleClass="header-menu-icon fs24 opacity-06"
                                style="#{user.renderKU ? 'background:red!important; ' : ''}"
                                action="#{user.setRenderKU(not user.renderKU)}"
                                partialSubmit="true" process="@this"
                                update="@this"
                                oncomplete="setIframeContentSrc('home.xhtml');"
                        />
                        <p:tooltip id="toolTipShowKuBtns" for="showKuBtns @this" showDelay="500" hideDelay="1000">
                            <p:outputLabel value="Włącz/wyłącz tryb kontroli uprawnień ..."/>
                            <br/>
                            <p:commandButton
                                    icon="build"
                                    styleClass="fs12 p0 m0 granatowy"
                                    id="btnXhtmlRes"
                                    value="test"
                                    onclick="window.open('test_res_files.xhtml?v='+formViewId,'','menubar=no, resizable=no, width=650, height=800');"
                            />
                        </p:tooltip>

                        <p:commandButton
                                rendered="#{user.admin or user.hasPermission('PP_SU')}"
                                id="przeloguj"
                                title="Przeloguj"
                                icon="people_outline"
                                styleClass="header-menu-icon fs24 opacity-06"
                                style="#{user.renderKU ? 'background:red!important; ' : ''}"
                                onclick="setIframeContentSrc('ZmianaUzytkownikaLista'); return false;"
                        />

                        <p:commandButton
                                id="home"
                                icon="home"
                                title="Strona główna"
                                styleClass="header-menu-icon fs24"
                                style="#{user.renderKU ? 'background:red!important; ' : ''}"
                                onclick="setIframeContentSrc('home.xhtml'); return false;"
                        />

                        <p:commandButton
                                id="miZmianaKontekstu"
                                icon="perm_identity"
                                styleClass="header-menu-icon fs24"
                                title="Zmiana kontekstu pracy (wybór zatrudnienia/spółki)"
                                style="#{user.renderKU ? 'background:red!important; ' : ''}"
                                onclick="PF('dlgKontekstPracownika').show(); return false;"
                        />

                        <p:commandButton
                                id="miKomunikaty"
                                icon="message"
                                styleClass="header-menu-icon fs24"
                                title="Komunikaty systemowe"
                                rendered="#{'N' ne appBean.getPpKonfiguracjaWartoscZewn('PP_HDR_KOMUNIKATY')}"
                                style="#{user.renderKU ? 'background:red!important; ' : ''}"
                                onclick="showEgrMsgs(); return false;"
                        />

                        <p:commandButton
                                id="headerMenuId"
                                icon="notifications_none"
                                styleClass="ileNwchPwdmn header-menu-icon fs24"
                                title="Powiadomienia"
                                rendered="#{'N' ne appBean.getPpKonfiguracjaWartoscZewn('PP_HDR_POWIADOMIENIA')}"
                                style="#{user.renderKU ? 'background:red!important; ' : ''}"
                                onclick="
                                            var dlgDv = document.getElementById('dlgDvPwdmn');
                                            dlgDv.style.zIndex = '9999999';
                                            var ifrm = document.getElementById('ifrmDlgPwdmn');
                                            ifrm.contentWindow.PF('dlgPowiadomienia').show();
                                            updateNotificationDialog();
                                            return false;">
                            <div>
                                <div class=" mr-30i mt-10i #{pracownikPowiadomieniaSqlBean.numberOfUnreadNotifications > 0 ? 'badge1' : ''}"
                                     style="z-index: 1"
                                     data-badge="#{pracownikPowiadomieniaSqlBean.numberOfUnreadNotifications}">
                                </div>
                            </div>
                        </p:commandButton>

                        <p:commandButton
                                id="miContextHelp"
                                icon="help_outline"
                                styleClass="header-menu-icon fs24"
                                title="Pomoc kontekstowa"
                                rendered="#{'N' ne appBean.getPpKonfiguracjaWartoscZewn('PP_HDR_POMOC')}"
                                onclick="showHelp(); return false;"
                        />

                        <p:commandButton
                                id="logout"
                                icon="exit_to_app"
                                styleClass="header-menu-icon fs24"
                                title="Wyloguj"
                                onclick="if (localStorage.getItem(usGUID) != null){ localStorage.removeItem(usGUID); } window.location.replace(urlpp+'logout.xhtml?log=out');"
                                action="#{egrLoginBean.doLogout}"
                                partialSubmit="true" process="@this"
                        />
                    </div>

                    <!--  panel z przyciskami dla mobile -->
                    <div class="header-buttons-mobile d-flex">
                        <p:commandButton
                                id="moreActions"
                                icon="more_vert"
                                styleClass="header-menu-icon fs28"
                                title="Więcej"
                                onclick="
                                    $('#egrHeaderMnuIcnsDv').addClass('header-buttons-mobile-active');
                                "
                                onblur="
                                    setTimeout(function () {
                                        $('#egrHeaderMnuIcnsDv').removeClass('header-buttons-mobile-active');
                                    }, 150);
                                "
                        />
                    </div>

                    <p:remoteCommand name="updateIleNwchPwdmn" update="@(.ileNwchPwdmn)" partialSubmit="true"
                                     process="@this"/>
                    <p:remoteCommand name="updateNotificationDialog" update="@(.dlgPowiadomienia)" partialSubmit="true"
                                     process="@this"/>

                </div>



                <!--===== DRUGA LINIA: STAN OBIEGU | DANE ZALOGOWANEGO ======================================================================-->
                <div class="d-flex a-i-center pl5">


                    <!--od lewej stan obiegu-->
                    <div class="flex-1 text-overflow txt-white">
                        <p:outputLabel id="stanLbl" escape="true" styleClass="fs18 opacity-08 txt-white"/>
                    </div>


                    <!--od prawej dane zalogowanego-->
                    <div class="d-flex text-overflow txt-white ml5">
                        <p:outputLabel
                                id="lblLogin"
                                value="#{user.pracownikLabel}"
                                styleClass="mlautoi fs13 txt-white opacity-08"/>

                        <p:tooltip id="ttlblLoogin" for="lblLogin ttlblLoogin" escape="false" showDelay="500"
                                   hideDelay="500"
                                   rendered="#{user.admin or user.hasPermission('PP_TT_UZYTKOWNIK')}">

                            <div>
                                użytkownik #{user.imie} #{user.nazwisko}<br/>
                                <p:separator/>
                                login: #{user.login} <br/>
                                egeria/login: #{user.dbLogin} <br/>
                                <p:separator/>
                                pracownik: #{user.ekPracownik.get('prc_imie')} #{user.ekPracownik.get('prc_nazwisko')} <br/>
                                prc_id: #{user.prcId} <br/>
                                prc_numer: #{user.ekPracownik.get('prc_numer')} <br/>
                                <p:separator/>
                                <h:panelGroup id="ttlblLooginPnlFU"
                                              rendered="#{user.admin or user.hasPermission('PP_TT_UZYTKOWNIK_FU')}">

                                    <c:cSelectBooleanCheckboxTN id="permissionsTgglr"
                                                                value="#{user.togglePermissionsEnalbedToglle}"
                                                                valueChangeListener="#{egrMenuBean.clearMenuModel()}"
                                                                label="Funkcje użytkowe (#{user.profil}):"
                                                                update="@form:ttlblLooginPnlFU egrMenuForm:westMnu"
                                                                partialSubmit="true" process="@this"
                                                                styleClass="pl5 pt5" disabled="#{user.admin}"/>
                                    <p:separator/>
                                    <div style="overflow:auto; max-height:500px" class="p5">
                                        <ui:repeat var="permission" value="#{user.permissions}">
                                            <c:cSelectBooleanCheckboxTN
                                                    value="#{user.permissionsEnalbledHM[permission].enabled}"
                                                    valueChangeListener="#{egrMenuBean.clearMenuModel()}"
                                                    label="#{permission}"
                                                    styleClass="pb5"
                                                    update="@this @form:permissionsTgglr egrMenuForm:westMnu"
                                                    partialSubmit="true" process="@this"
                                                    disabled="#{user.admin}"
                                            />
                                            <br/>
                                        </ui:repeat>
                                    </div>

                                </h:panelGroup>
                            </div>
                        </p:tooltip>
                    </div>

                </div>

            </div>


        </h:form>

        <ui:include src="/WEB-INF/protectedElements/Dialogs/Narzedzia/dlgKontekstPracownika.xhtml"/>

    </ui:composition>


</h:body>
</html>
