<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition>

		<h:form id="egrHeaderFormPublic" styleClass="d-flex bg-lmblue p5">

			<h:outputText id="formName" styleClass="fs22" value="#{submenuName}&#160;#{formName gt ''?'/':''}&#160;" />
			<h:outputText id="pInfo" styleClass="fs22" value="#{formName} (v.: #{appBean.manifestProperties.version})"  rendered="#{formName gt ''}" title="#{appBean.manifestTs}"/>

			<p:tooltip for="pInfo" escape="false" style="background:#4c4c4c; padding 1px;">
				<cc:cPPVersionInfo/>
			</p:tooltip>

			<p:commandButton icon="home" styleClass="fs22 mlauto granatowy d-flex w40" action="index?faces-redirect=true"/>

		</h:form>

	</ui:composition>
</h:body>
</html>
