<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	  xmlns:shiro="http://shiro.apache.org/tags">


<h:body>
	<ui:composition>

		<script src="resources/js/ppMainMenu.js"></script> 


		<div class="pp-bg-lp-west-egrmenu"
			style="overflow-y: hidden; overflow-x: hidden; height: calc(100vh - 2px); max-height: calc(100vh - 2px); box-shadow: 0 0 10px 2px black; border: 1px solid black">

			<h:form id="egrMenuForm" styleClass="egrMenuForm"
				style="font-style:Helvetica Neue, Helvetica, Arial, sans-serif; font-size:18px;">

				<p:panelGrid id="egrMenuLogo" styleClass="pp-menu-panelgrid">
					<p:row>

						<p:column style="padding: 0px; min-width:130px">

							<div style="margin-left: /*16*/10px; position:relative;">
								
								<img src="./resources/images/logoMenu.svg"
									onerror="this.onerror=null; this.src='./resources/images/logoMenu.png'" />
									
								<br/>	
								<p:outputLabel id="lblVersion"  title="#{appBean.manifestTs}"
									value="v.: #{appBean.shortVersionInfo()}" 
									style="position:absolute; z-index:99999; right:0; top:-6px; color:#999999; padding-right:3px!important; font-size:20px!important"/>
								
								<p:tooltip for="lblVersion">
									<cc:cPPVersionInfo/>
								</p:tooltip>
								
								
							</div>
							
							

						</p:column>

						<p:column style="padding: 0px">
							<p:commandButton id="hideMenu" icon="clear" styleClass="fs40" onclick="closeNav(); return false;" />
<!--							<p:commandButton id="odepnijMnBtn"-->
<!--								actionListener="#{egrUserSessionBean.setMenuShow('false')}"-->
<!--								style="#{egrUserSessionBean.menuShow ? 'display:inline-block;' : 'display:none'}; min-width:50px; max-width:50px;"-->
<!--								onclick="$(this).hide(); $('#egrMenuForm\\:przypnijMnBtn').show(); $('#egrHeaderForm\\:menuBtn').show(); PF('fpLayoutWidget').close('west')"-->
<!--								icon="clear" styleClass="fs40"-->
<!--								/>-->
<!--							<p:commandButton id="przypnijMnBtn"-->
<!--								actionListener="#{egrUserSessionBean.setMenuShow('true')}"-->
<!--								style="#{egrUserSessionBean.menuShow ? 'display:none' : 'display:inline-block'}; min-width:50px; max-width:50px;"-->
<!--								onclick="$(this).hide(); $('#egrMenuForm\\:odepnijMnBtn').show(); $('#egrHeaderForm\\:menuBtn').hide(); PF('fpLayoutWidget').open('west')"-->
<!--								icon="add" styleClass="fs40"-->
<!--								/> -->
						</p:column>
					</p:row>
				</p:panelGrid>





			


<!-- 				<p:panelMenu id="testMnu" widgetVar="testMnu" stateful="false"  > -->
<!-- 					<p:submenu label="AAAAAAAAAAAAAAAAAAAAAAAAAAAAA" expanded="false"> -->
<!-- 						<p:menuitem value="a1" ajax="true" onclick="mnuClick('Delegacje');"/> -->
<!-- 						<p:menuitem value="a2" ajax="true" onclick="mnuClick('Delegacje');"/> --> 
<!-- 					</p:submenu> -->
<!-- 					<p:submenu label="BBBBBBBBBBBBBBBBB" expanded="false"> -->
<!-- 						<p:menuitem value="b1" ajax="true" onclick="mnuClick('Delegacje');"/> -->
<!-- 						<p:menuitem value="b2" ajax="true" onclick="mnuClick('Delegacje');"/> -->
<!-- 					</p:submenu> -->
<!-- 				</p:panelMenu> -->




<!-- <p:commandButton value="test" action="#{egrMenuBean.reloadMenuModel()}" update="westMnu" /> -->

				<div style="max-height: calc(100vh - 120px); overflow-x: hidden; overflow-x: auto; box-shadow: 1px 1px 5px 1px darkslategray;" >
				<p:panelMenu id="westMnu" 
					widgetVar="westPanelMenu" 
					stateful="false"
				 	model="#{egrMenuBean.menuModel}"
					styleClass="pp-menu-glowne" style="overflow: hidden;">
					
<!-- 					<p:submenu label="AAAAAAAAAAAAAAAAAAAAAAAAAAAAA"> -->
<!-- 						<p:menuitem value="XXXXXXXXXXXXXXXXXXXXXXX" ajax="true" onclick="alert('mnu test...')"/> -->
<!-- 					</p:submenu> -->


				</p:panelMenu>
				</div>

				<p:remoteCommand name="updateWestMenu" update="@form:westMnu" />

				<script type="text/javascript">
		
					function setIframeContentSrc(url) {
						hgon();
						var ifrm = document.getElementById('ifrmContent');
						ifrm.src = url;
					}
					
				</script>


<!-- <p:commandButton value="test" action="#{egrMenuBean.reloadMenuModel()}" update="westMnu" /> -->
				<p:commandButton icon="refresh"
					style="position:absolute; bottom:0px; left:10px; opacity:0.3;"
					actionListener="#{kontrolaUprawnien.reloadWuprCHMs(null)}"			
					action="#{egrMenuBean.reloadMenuModel()}"  
					update="westMnu" onstart="hgon()" oncomplete="hgoff()"
				/>

			</h:form>
		</div>



<!--		<ui:include-->
<!--				src="/WEB-INF/protectedElements/Dialogs/Pomoc/OProgramie/dlgOProgramie.xhtml" />-->
<!--		<ui:include-->
<!--				src="/WEB-INF/protectedElements/Dialogs/Status/dlgStatus.xhtml" />-->

	</ui:composition>


		
</h:body>
</html>
