<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:egr="http://egr.egeria.comarch.com/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:head>
 	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	</f:facet> 
	
	
	<h:outputStylesheet name="ctl-style.css" library="css" />

	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-style.css?v=#{appBean.startupTime.time}" />

	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-calendar.css?v=#{appBean.startupTime.time}" />

	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-kafelki.css?v=#{appBean.startupTime.time}" />

	<h:outputStylesheet name="pp-gicons.css" library="css" />
	<link rel="stylesheet" type="text/css" href="resources/css/materialdesignicons.min.css?v=#{appBean.startupTime.time}" />

	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-menu.css?v=#{appBean.startupTime.time}" />

	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-buttons.css?v=#{appBean.startupTime.time}" />

	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-tabs.css?v=#{appBean.startupTime.time}" />

	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-forms.css?v=#{appBean.startupTime.time}" />

	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-notification.css?v=#{appBean.startupTime.time}" />

	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-ksiazka-tel.css?v=#{appBean.startupTime.time}" />

	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-modale.css?v=#{appBean.startupTime.time}" />

	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-scrollbars.css?v=#{appBean.startupTime.time}" />

	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-forms-material.css?v=#{appBean.startupTime.time}" />

	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-spinner.css?v=#{appBean.startupTime.time}" />

	<link rel="stylesheet" type="text/css"
		href="resources/css/tooltip-mdesign.css?v=#{appBean.startupTime.time}" />



	<script
		src="resources/js/pfLocales.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/ctlUtils.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/pf-widgets/ctlColumnToggler.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/pf-widgets/ctlMenubar.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/pf-widgets/ctlSelectOneMenu.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>

	<script
		src="resources/js/pf-widgets/ppCalendar.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>

	<script src="resources/js/external/jquery-element-onresize.js"
		type="text/javascript"></script>

	<script src="resources/js/external/jquery.qtip.min.js" 
		type="text/javascript"></script>



	<title>#{dic.LBL10002_nazwa_podsystemu}</title>
	<link rel="icon" type="image/png"
		href="#{request.contextPath}/resources/images/short.png" />


</h:head>

<f:view locale="#{languageBean.locale}">
<!--	beforePhase="#{sessionBean.beforePhase}"-->

	<h:body id="templateBody" renderKU="false" style="padding: 0!important; margin:0!important;">


		<p:growl id="template_growl" for="template_growl" showDetail="true" life="15000"
				 widgetVar="template_growl" rendered="true" escape="false" />

		<p:growl id="alert_growl" for="alert_growl"  showDetail="true" sticky="true"
				 widgetVar="alert_growl" rendered="true" escape="false" />

		<p:growl id="egr_growl" for="egr_growl"  showDetail="true" sticky="true"
				 widgetVar="egr_growl" rendered="true" escape="false" />


		<h:panelGroup id="lpContent" kuid="content" styleClass="p0"
					  style="height: 100vh!important; width: 100vw!important; display: flex; flex-direction: column;
					  background: #{empty formBackground ? 'rgba(20,70,140,0.2)' : formBackground};">


			<div class="dvwczytywanie" id="hourGlass"
				 style="font-size: 300% !important; visibility: hidden; z-index: 9999999999; position: fixed; bottom: 100px; right: 100px; max-height: 40% !important">
			</div>


			<ui:insert name="egr_content">
				<ui:include src="/WEB-INF/protectedElements/Templates/EgrContent.xhtml" />
			</ui:insert>

		</h:panelGroup>


	</h:body>
</f:view>
</html>
