<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:egr="http://egr.egeria.comarch.com/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:i="http://xmlns.jcp.org/jsp/jstl/core">

<h:head>

	
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	</f:facet>

	<!-- 	####################################################################################################################################################################### -->
	<!-- 	# 																     																								  # -->
	<!-- 	#   Pliki css linkujemy na dwa sposoby: gdy nie ma potrzeby przeliczania styli za pomocą EL to stosujemy zwykły znacznik html link i dopisek ?v załatwiający sprawę	  # -->
	<!-- 	#	wersjonowania, natomiast jeśli chcemy wyliczać pewne wartości to należy użyć h:outputStylesheet do podlinkowania arkuszu css z wyliczony właściwościami   		  #  -->
	<!-- 	#																     																								  # -->
	<!-- 	####################################################################################################################################################################### -->

	<h:outputStylesheet name="ctl-style.css" library="css" />
	<!-- 	<link rel="stylesheet" type="text/css" href="resources/css/ctl-style.css?v=#{appBean.startupTime.time}"/> -->

	<!-- 	<h:outputStylesheet name="pp-style.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-style.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-calendar.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-calendar.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-kafelki.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-kafelki.css?v=#{appBean.startupTime.time}" />

	<h:outputStylesheet name="pp-gicons.css" library="css" />
	<!-- 	<link rel="stylesheet" type="text/css" href="resources/css/pp-gicons.css?v=#{appBean.startupTime.time}"/> -->
	<link rel="stylesheet" type="text/css" href="resources/css/materialdesignicons.min.css?v=#{appBean.startupTime.time}" />
<!--	https://github.com/Templarian/MaterialDesign-Webfont/blob/master/license.md-->

	<!-- 	<h:outputStylesheet name="pp-menu.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-menu.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-buttons.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-buttons.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-tabs.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-tabs.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-forms.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-forms.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-notification.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-notification.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-ksiazka-tel.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-ksiazka-tel.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-modale.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-modale.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-scrollbars.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-scrollbars.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-forms-material.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-forms-material.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-spinner.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-spinner.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="tooltip-mdesign.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/tooltip-mdesign.css?v=#{appBean.startupTime.time}" />


<!-- 	<h:outputScript library="primefaces-extensions" name="primefaces-extensions.js"/> -->

	<script
		src="resources/js/pfLocales.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/sessionTimeOut.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/ctlUtils.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/pf-widgets/ctlColumnToggler.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/pf-widgets/ctlMenubar.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/pf-widgets/ctlSelectOneMenu.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>

	<script
		src="resources/js/pf-widgets/ppCalendar.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>

	<script src="resources/js/external/jquery-element-onresize.js"
		type="text/javascript"></script>

	<script src="resources/js/external/jquery.qtip.min.js" 
		type="text/javascript"></script>



	<title>#{dic.LBL10002_nazwa_podsystemu}</title>
	<link rel="icon" type="image/png"
		href="#{request.contextPath}/resources/images/short.png" />




</h:head>

<f:event listener="#{sessionBean.preRenderView}" type="preRenderView" />
<f:view locale="#{languageBean.locale}">


	<h:body id="templateBody" renderKU="false" styleClass="pp-main-body m0i p0" style="height: 100vh; width: 100vw; overflow: hidden;">

<i:if test="#{sqlBean.clearTmpUserObjectsCHM() gt ''}"></i:if>


		<p:growl id="template_growl"
				 for="template_growl" showDetail="true" life="15000"
				 widgetVar="template_growl" rendered="true" escape="false"/>

		<p:growl id="alert_growl"
				 for="alert_growl" showDetail="true" life="60000" sticky="true"
				 widgetVar="alert_growl" rendered="true" escape="false"/>

		<p:growl id="egr_growl"
				 for="egr_growl" showDetail="true" sticky="true"
				 widgetVar="egr_growl" rendered="true" escape="false"/>


		<h:panelGroup id="pnlWebsocket" styleClass="position-absolute hidden">

<script type="text/javascript">

	window.name = '#{v.windowNameGUID}';

	var usGUID = '#{user.userSessionGUID}';
	if (typeof localStorage !== 'undefined') {localStorage.setItem(usGUID, Date.now());}

	var urlpp = location.href;

	window.onload = function(){
		setlocationinfo(location.href, location.protocol, location.hostname, location.port, location.pathname);
	};

	if (window.WebSocket) {
		var ws;
		var websocketurl = initWebsocket();

		function initWebsocket()
		{
			if (ws!=null)
			{
				try {
					ws.close();
				} catch (e) {}
			}

			var wsurl = '#{appBean.webSocketUrl}';
			if (wsurl === '')
			{
				wsurl = (location.protocol === 'https:' ? '#{appBean.getPushWebSocketUrl(v.windowNameGUID, true)}' : '#{appBean.getPushWebSocketUrl(v.windowNameGUID, false)}');
			}

			try {
				ws = new WebSocket(wsurl);
				ws.onmessage = function(event)
				{
					var msg = JSON.parse(event.data);

					if (msg.severity === (usGUID+'.LOGOUT')){
						window.location.replace(urlpp+'logout.xhtml?log=ws');
					}
					if (msg.severity === (usGUID+'.TIMEOUT')){
						window.location.replace(urlpp+'logout.xhtml?timeout=2');
					}

					if (msg.severity === 'TEST'){
						console.log(msg);
					} else if(msg.severity === 'INFO 0') {
						PF('template_growl').renderMessage({"summary":b64DecodeUnicode(msg.summary), "detail":b64DecodeUnicode(msg.detail), "severity":"info"});
					} else if(msg.severity === 'WARN 1') {
						PF('template_growl').renderMessage({"summary":b64DecodeUnicode(msg.summary), "detail":b64DecodeUnicode(msg.detail), "severity":"warn"});
					} else if(msg.severity === 'ERROR 2') {
						PF('alert_growl').renderMessage({"summary":b64DecodeUnicode(msg.summary), "detail":b64DecodeUnicode(msg.detail), "severity":"error"});
					} else {
						var ifrm = document.getElementById('ifrmEgrMsgs');
						if (ifrm != null)
							ifrm.contentWindow.rcProcessNewMsgs();
					}
				};
				return wsurl;
			} catch (e) {
				console.log('!!!WEBSOCKET_ERR:' + e);
				return '';
			}
		}

	}
	else {
		console.log('!!!WEBSOCKET bad luck... browser without websockets!');
	}
</script>

</h:panelGroup>


<!-- to sie sypie		<p:socket channel="/notify/#{user.dbLogin.toLowerCase()}" onMessage="handleEgrMessage"/> -->

		


		<p:importConstants
			type="com.comarch.egeria.web.common.utils.constants.Const"
			var="Const" />

		<h:form rendered="#{egrUserSessionBean.uzId ne 0}">
			<p:remoteCommand name="dologout" actionListener="#{egrLoginBean.doLogout}"/>
			<p:poll interval="60" onstart="testWindowActivityTS(winndowActivityTS);" />
			<pe:remoteCommand name="testWindowActivityTS" process="@this" actionListener="#{v.testWindowActivityTS}">
				<pe:methodSignature parameters="java.lang.String"/>
				<pe:methodParam name="ts"/>
			</pe:remoteCommand>

		</h:form>

		<egr:egrBlocker widgetVar="egrWindowBlocker" block="templateBody" />




		<script>
			window.addEventListener('resize', function(event){
				clearStyle();
			});

			function clearStyle() {
				document.getElementById("mySidenav").style.removeProperty('margin-left');
				document.getElementById("main").style.removeProperty('margin-left');
				document.getElementById("egrHeaderForm:menuBtn").style.removeProperty('display');
			}

			function handleNav() {
				const mainElement = document.getElementById("main");
				const navOpened = getComputedStyle(mainElement).marginLeft === "230px";

				if (navOpened) {
					closeNav();
				} else {
					openNav();
				}
			}

			function openNav() {
				document.getElementById("mySidenav").style.marginLeft = "0";
				document.getElementById("main").style.marginLeft = "230px";
				document.getElementById("egrHeaderForm:menuBtn").style.display = "none";
			}

			function closeNav() {
				document.getElementById("mySidenav").style.marginLeft = "-230px";
				document.getElementById("main").style.marginLeft = "0";
				document.getElementById("egrHeaderForm:menuBtn").style.display = "block";
			}
		</script>



<div class="p0 m0" style="width: 100vw; height: 100vw;">

	<div id="mySidenav" class="sidenav zzzctl-menu-pane "
		 style="height: 100vh; max-height: 100vh; min-height: 100vh;">

		<ui:insert name="egr_menu">
			<ui:include
					src="/WEB-INF/protectedElements/Templates/EgrMenu.xhtml" />
		</ui:insert>
	</div>

	<div id="main" class="m0 d-flex-1-column main-content"
		 style="height: 100vh; max-height: 100vh; min-height: 100vh;">

		<div class="ctl-header-pane ui-widget"
			 style="#{user.frmId ne user.defaultFrmId ? user.mapujBySL('CSS_COLORS', 'ALT_COMPANY', '') : user.prcId ne user.defaultPrcId ? user.mapujBySL('CSS_COLORS', 'ALT_EMPLOYEE', '') : ''}">
			<ui:insert name="egr_header">
				<ui:include src="/WEB-INF/protectedElements/Templates/EgrHeader.xhtml"/>
			</ui:insert>
		</div>


		<h:panelGroup id="lpContent" styleClass="lpContent position-relative d-flex-1 m0i p0i " kuid="content" >

			<h:panelGroup id="pnlcntnt" styleClass="position-relative d-flex-1 m0 p0i " style="z-index: 0; background: white;">

				<div style="position: absolute; width:100%; height: 100%;
					background-image:
						linear-gradient( -35deg, rgba(121,142,163,1.0), rgba(200,210,220,0.98), rgba(255,255,255,0.96), rgba(200,210,220,0.98),  rgba(101,121,143,0.99), rgba(50,75,100,1.0) ),
						url('#{resource['images/logoEgeria.svg']}');
					background-size: 102% auto;
					background-position: bottom;
					z-index:1">
				</div>

				<iframe id="ifrmContent" onload="$('.pp-cntnt-dialog-mask').addClass('hide');"
					src="#{sessionBean.contentRedirectUrlFlash}"
					style="position: absolute; width:100%; height: 100%; z-index:2; border: none;"/>


				<div id="pp-cntnt-dialog-mask" class="pp-cntnt-dialog-mask hide"
					 style="position: absolute; width:100%; height: 100%; background:steelblue; z-index:100; opacity: 0.3;"
					 onclick="currentdlg.show();">
				</div>

			</h:panelGroup>



			<h:panelGroup id="dlgDvPwdmn" style="position: absolute; top:0; left:0; width:100%; height: 100%; z-index: -99999; background: transparent;">

				<div style="position: absolute; width:100%; height: 100%; background: steelblue; opacity:0.7; z-index:1"></div>

				<iframe id="ifrmDlgPwdmn"
					src="Powiadomienia"
					style="position: absolute; left:calc(50% - 475px); top:calc(50% - 287px); width: 1000px; height: 572px; z-index:2; border: none;"/>

			</h:panelGroup>



			<div id="dvEgrMsgs" style="position: absolute; top:0; left:0; width:100%; height: 100%; z-index: -99999; background: transparent;">
				<div style="position: absolute; width:100%; height: 100%; background: darkblue; opacity:0.4; z-index:1"></div>
				<iframe id="ifrmEgrMsgs"
					src="Msgs"
					style="position: absolute; left:calc(50% - 475px); top:calc(50% - 287px); width: 950px; height: 572px; z-index:2; border: none;"/>
			</div>

		</h:panelGroup>
	</div>

</div>
























<!-- 		<ui:include -->
<!-- 			src="#{user.renderKU -->
<!--   						? '/WEB-INF/protectedElements/Dialogs/KontrolaUprawnien/dlgKontrolaUprawnien.xhtml'   -->
<!--   						: '' }" /> -->




<!-- 		<ui:include src="/WEB-INF/protectedElements/Dialogs/LOV/dlgLov.xhtml" /> -->





		<script type="text/javascript">

			function showHelp() {
				var ifrm = document.getElementById('ifrmContent');
				ifrm.contentWindow.openContextHelp();
			}

			function showEgrMsgs() {
				var dvEgrMsgs = document.getElementById('dvEgrMsgs');
				dvEgrMsgs.style.zIndex = '9999999';
				var ifrm = document.getElementById('ifrmEgrMsgs');
				ifrm.contentWindow.PF('dlgKomunikat').show();
			}

			function hideEgrMsgs() {
				var dvEgrMsgs = document.getElementById('dvEgrMsgs');
				dvEgrMsgs.style.zIndex = '-9999999';
			}
						

			function showObieg() {
				var dlgDv = document.getElementById('dlgObgDv');
				dlgDv.style.zIndex = '9999999';
				var ifrm = document.getElementById('ifrmDlgObg');
				ifrm.contentWindow.PF('dlgObiegCzynnosci').show(); 
			}

			function showHistoriaObiegu() {
				var dlgDv = document.getElementById('dlgObgDv');
				dlgDv.style.zIndex = '9999999';
				var ifrm = document.getElementById('ifrmDlgObg');
				ifrm.contentWindow.PF('dlgHistoriaObiegu').show();
			} 

			function showPowiadomienia() {
				var dlgDv = document.getElementById('dlgDvPwdmn');
				dlgDv.style.zIndex = '9999999';
				var ifrm = document.getElementById('ifrmDlgPwdmn');
				ifrm.contentWindow.PF('dlgPowiadomienia').show(); updateNotificationDialog();
			}



		</script>			
			
			
			

		<div class="dvwczytywanie" id="hourGlass"></div>

		<div class="dvwczytywanie-1" id="hourGlass1"></div>


		
		
		<script type="text/javascript">
			var formViewId;

		    $(function () {//F5
		        $(document).keydown(function (e) {

		        	if (e.shiftKey==true || e.ctrlKey==true) return true;
			        
		            if ((e.which || e.keyCode) == 116){
		                updatef5();
		                return false;
		            }
		            
		            return true;
		        });
		    });


			function setFormName(formName){
				document.getElementById("egrHeaderForm:pInfo").innerHTML = formName;
				document.getElementById("egrHeaderForm:pInfo").title = formName;
			}

			function setViewId(viewId){
				formViewId = viewId;
				var btnViewId =  document.getElementById('egrHeaderForm:btnXhtmlRes');
				if (btnViewId!=undefined){
					btnViewId.getElementsByClassName( 'ui-button-text' )[0].innerText = viewId;
				}
			}

			function setStanObiegu(stanObiegu){
				document.getElementById("egrHeaderForm:stanLbl").innerHTML = stanObiegu;
				document.getElementById("egrHeaderForm:stanLbl").title = stanObiegu;
			}

		</script>




		<script type="text/javascript">

            var currentdlg = null;

			function showDlgLovJS(dlgwidgetvar) {
				// console.log('EgrTmplMM.showDlgLovJS (' + dlgwidgetvar + ')...');
				try {
					var dlgLv = PF(dlgwidgetvar);
					if (dlgLv==undefined){
						// console.log('EgrTmplMM.showDlgLovJS (' + dlgwidgetvar + ') / updating cLovJSDialogs ...');
						update('cLovJSDialogs');
						setTimeout(function () {
							PF(dlgwidgetvar).show();
						}, 3000);
					} else {
						dlgLv.show();
					}
				} catch (error) {
					console.error('EgrTmplMM.showDlgLovJS (' + dlgwidgetvar + ')...');
					console.error(error);
					console.error('EgrTmplMM.showDlgLovJS (' + dlgwidgetvar + ') / updating cLovJSDialogs ...');
					alert('EgrTmplMM.showDlgLovJS (' + dlgwidgetvar + ')... - ' + error);
					update('cLovJSDialogs');
				}
			}

			var invl = false;

			function invalidateComponent(id) {
				$( jq(id) ).addClass('pp-invalidated');
				invl = true;
				setTimeout(updateInvalidatedComponents,100);
			}

			function invalidateClassComponents(cclass) {
				$( '.'+cclass ).addClass('pp-invalidated');
				invl = true;
				setTimeout(updateInvalidatedComponents,100);
			}

			function updateInvalidatedComponents() {
				if (invl) {
					invl = false;
					updateInvalidatedComponentsCmd();
				}
			}

		</script>		
		
		<h:form>

			<!--			doFilterAndSelectRowByUrlParams-->
			<p:remoteCommand name="goEditUrlQueryEntity" action="#{user.doEditRowPage}" onstart="hgon()" oncomplete="hgoff()" partialSubmit="true" process="@this" />

			<p:remoteCommand name="updateInvalidatedComponentsCmd" onstart="hgon1();" update="@(.pp-invalidated)"  oncomplete="hgoff1(); $('.pp-invalidated').removeClass('pp-invalidated');" />

			<p:remoteCommand name="updatef5" update="@(form:not(.egrMenuForm))" onstart="hgon()" oncomplete="hgoff()" partialSubmit="true" process="@none"/>

			<pe:remoteCommand id="updateCmd" name="update" process="@this" actionListener="#{user.update}" onstart="hgon(); console.log('updating...');" oncomplete="hgoff(); console.log('updated');">
			    <pe:methodSignature parameters="java.lang.String"/>  
			    <pe:methodParam name="id"/>
			</pe:remoteCommand>

			<pe:remoteCommand id="reloadAndUpdateCmd" name="reloadAndUpdate" process="@this" actionListener="#{user.reloadAndUpdate}">  
			    <pe:methodSignature parameters="java.lang.String, java.lang.Object"/>  
			    <pe:methodParam name="sqlId"/>
			    <pe:methodParam name="rowId"/>
			</pe:remoteCommand> 
		
			<pe:remoteCommand name="testWebsocketPush" actionListener="#{msgsBean.testPush}"/>
			
			

			<pe:remoteCommand  name="setlocationinfo" actionListener="#{user.setClinetLocationInfo}" process="@this">
				    <pe:methodSignature parameters="java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String "/>  
				    <pe:methodParam name="href"/>
				    <pe:methodParam name="protocol"/> 
				    <pe:methodParam name="hostname"/>
				    <pe:methodParam name="port"/>   
				    <pe:methodParam name="pathname"/>  
			</pe:remoteCommand>

		</h:form>




		<h:panelGroup id="cLovJSDialogs" styleClass="xyz">



			<ui:repeat id="dlgLovJSs" value='#{cLovJS.dlgWidgetVars}' var="dlgLovJSsVar" varStatus="st">

				<!-- 					-+-#{st.index} / #{dlgLovJSsVar}-+- -->
				<!-- id="dlgLovJS_#{dlgLovJSsVar}" to nie dziala bo id jest ustawiane przez ui:repeat-->

				<h:panelGroup id="pnl" styleClass="lvJS-#{st.index}">

					<p:dialog id="dlgLovJS" rendered="#{not dlgLovJSsVar.startsWith('empty')}"
							  widgetVar="dlgLovJS_#{dlgLovJSsVar}"

							  closeOnEscape="true" draggable="true" resizable="false"
							  styleClass="dlgLovJS_#{dlgLovJSsVar}"

							  onShow="
                              currentdlg = this;
							  $('.pp-cntnt-dialog-mask').removeClass('hide');
							  PF('dlgLovJS_#{cLovJS.getLov(dlgLovJSsVar).widgetVar}_inpSearch').jq.focus().select();
							  initqtip();"

                              onHide="$('.pp-cntnt-dialog-mask').addClass('hide');
									  	var ifrm = document.getElementById('ifrmContent');
										if (ifrm!=undefined)
									 		ifrm.contentWindow.focus();"
							  >



						<!-- ustalamy jaki id został nadany do dialogu przez ui:repeat -->
						#{cLovJS.setDlgLovId(dlgLovJSsVar)}


						<f:facet name="header">
							<h:form id="frmDlgLovHdr">
								<p:panelGrid style="width:100%">

									<p:column>
										<h:outputText id="title" value="#{cLovJS.getLov(dlgLovJSsVar).title}"/>
									</p:column>

									<p:column styleClass="r10">
										<p:commandButton id="btAnuluj" styleClass="btnDlg"
														 process="@none" onclick="PF('dlgLovJS_#{dlgLovJSsVar}').hide();" icon="close">
										</p:commandButton>
									</p:column>

								</p:panelGrid>
							</h:form>
						</f:facet>


						<h:form id="frmDlgLov" rendered="#{cLovJS.getDlgLovJSDatasource(dlgLovJSsVar)!=null}">

							<pe:remoteCommand name="invokeRowSelectAction_#{cLovJS.getLov(dlgLovJSsVar).widgetVar}" actionListener="#{cLovJS.invokeRowSelectAction}" process="@form" >
								<pe:methodSignature parameters="java.lang.String"/>
								<pe:methodParam name="ccClientId"/>
							</pe:remoteCommand>

							<div style="width:950px; height:450px;" >


								<cc:cLookupTableNoAjax  id="clkptbl" styleClass="#{cLovJS.getDlgLovJSDatasource(dlgLovJSsVar).shortName.replaceAll(' ', '_')}"
														datasource="#{cLovJS.getDlgLovJSDatasource(dlgLovJSsVar)}"
														widgetVar4DataTable="dlgLovJS_#{cLovJS.getLov(dlgLovJSsVar).widgetVar}_dane"
														widgetVar4inpSearch="dlgLovJS_#{cLovJS.getLov(dlgLovJSsVar).widgetVar}_inpSearch"
														var="jslovrowjslov"
														rows="#{cLovJS.getDlgLovJSDatasource(dlgLovJSsVar).data.size() gt 50 ? 15 : cLovJS.getDlgLovJSDatasource(dlgLovJSsVar).data.size()}"

														onRowSelected="

											var ifrm = document.getElementById('ifrmContent');

											PF('dlgLovJS_#{dlgLovJSsVar}').hide();

											var inpTxt = ifrm.contentWindow.PFbyId(ifrm.contentWindow.currentLovId +  '#{cLovJS.getLov(dlgLovJSsVar).lockInputText ? ':lovInpText' : ':lovInpFreeText'}' );
											if (inpTxt != undefined){
 												inpTxt.jq.val(  PF('dlgLovJS_#{cLovJS.getLov(dlgLovJSsVar).widgetVar}_dane').getTbody().children('tr.ui-state-highlight').children()[0].innerText  );
 											}

											var inpVal = ifrm.contentWindow.PFbyId(ifrm.contentWindow.currentLovId +':val'       );
											inpVal.jq.val(  PF('dlgLovJS_#{cLovJS.getLov(dlgLovJSsVar).widgetVar}_dane').getTbody().children('tr.ui-state-highlight').children()[1].innerText  );
											inpVal.jq.change();

											var btnlv = ifrm.contentWindow.PFbyId(ifrm.contentWindow.currentLovId +':btnlv' );
											if (btnlv!=undefined) btnlv.jq.click();

 										"


								>

									<p:column headerText="lvText" style="min-width:300px" visible="false">
										<p:outputLabel id="lvTextLbl" value="#{jslovrowjslov.format(cLovJS.getLov(dlgLovJSsVar).lovTextFormat)}" />
									</p:column>


									<p:column headerText="lvValue" style="min-width:300px" visible="false" rendered="#{cLovJS.getLov(dlgLovJSsVar).lovValueFormat != ''}">
										<p:outputLabel id="lvValueLbl" value="#{jslovrowjslov.format(cLovJS.getLov(dlgLovJSsVar).lovValueFormat)}" />
									</p:column>
									<p:column headerText="lvValue1" style="min-width:300px" visible="false" rendered="#{cLovJS.getLov(dlgLovJSsVar).lovValueFormat eq ''}">
										<p:outputLabel id="lvValueLbl1" value="#{jslovrowjslov.format('%1$s')}" />
									</p:column>


								</cc:cLookupTableNoAjax>

								<p:focus for="frmDlgLov:clkptbl:inpSearch"/>
							</div>

						</h:form>

					</p:dialog>
				</h:panelGroup>

			</ui:repeat>

		</h:panelGroup>






	</h:body>
</f:view>
</html>
