<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:egr="http://egr.egeria.comarch.com/facelets"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	  xmlns:i="http://xmlns.jcp.org/jsp/jstl/core" xmlns:c="http://java.sun.com/jsf/html">

<h:head>

	
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	</f:facet>

	<!-- 	####################################################################################################################################################################### -->
	<!-- 	# 																     																								  # -->
	<!-- 	#   Pliki css linkujemy na dwa sposoby: gdy nie ma potrzeby przeliczania styli za pomocą EL to stosujemy zwykły znacznik html link i dopisek ?v załatwiający sprawę	  # -->
	<!-- 	#	wersjonowania, natomiast jeśli chcemy wyliczać pewne wartości to należy użyć h:outputStylesheet do podlinkowania arkuszu css z wyliczony właściwościami   		  #  -->
	<!-- 	#																     																								  # -->
	<!-- 	####################################################################################################################################################################### -->

	<h:outputStylesheet name="ctl-style.css" library="css" />
	<!-- 	<link rel="stylesheet" type="text/css" href="resources/css/ctl-style.css?v=#{appBean.startupTime.time}"/> -->

	<!-- 	<h:outputStylesheet name="pp-style.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-style.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-calendar.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-calendar.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-kafelki.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-kafelki.css?v=#{appBean.startupTime.time}" />

	<h:outputStylesheet name="pp-gicons.css" library="css" />
	<!-- 	<link rel="stylesheet" type="text/css" href="resources/css/pp-gicons.css?v=#{appBean.startupTime.time}"/> -->
	<link rel="stylesheet" type="text/css" href="resources/css/materialdesignicons.min.css?v=#{appBean.startupTime.time}" />
<!--	https://github.com/Templarian/MaterialDesign-Webfont/blob/master/license.md-->

	<!-- 	<h:outputStylesheet name="pp-menu.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-menu.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-buttons.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-buttons.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-tabs.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-tabs.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-forms.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-forms.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-notification.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-notification.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-ksiazka-tel.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-ksiazka-tel.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-modale.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-modale.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-scrollbars.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-scrollbars.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-forms-material.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-forms-material.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-spinner.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-spinner.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="tooltip-mdesign.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/tooltip-mdesign.css?v=#{appBean.startupTime.time}" />






	<script
		src="resources/js/pfLocales.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/ctlUtils.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/pf-widgets/ctlColumnToggler.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/pf-widgets/ctlMenubar.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/pf-widgets/ctlSelectOneMenu.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>

	<script
		src="resources/js/pf-widgets/ppCalendar.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
		
	<script
		src="resources/js/pf-widgets/ppDataTableScroll.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>

	<script src="resources/js/external/jquery-element-onresize.js"
		type="text/javascript"></script>

	<script src="resources/js/external/jquery.qtip.min.js" 
		type="text/javascript"></script>






	<title>#{dic.LBL10002_nazwa_podsystemu}</title>
	<link rel="icon" type="image/png"
		href="#{request.contextPath}/resources/images/short.png" />






</h:head>

<f:event listener="#{sessionBean.preRenderView}" type="preRenderView" />
<f:view locale="#{languageBean.locale}">
<!--	beforePhase="#{sessionBean.beforePhase}"-->
<!--	afterPhase="#{sessionBean.afterPhase}"-->


<!--  	beforePhase="#{kontrolaUprawnienComponentEventListener.beforePhase}"  -->
<!--  	afterPhase="#{kontrolaUprawnienComponentEventListener.afterPhase}"  -->

	<h:body id="templateBody" renderKU="#{user.renderKU}" onmousedown="sessionTimerReset()" onkeydown="sessionTimerReset()"
			style="margin:0; height: 100vh; width: 100vw; justify-content: center; align-items: center;" styleClass="pp-bg-gradient-gray-blue-6">
	<i:if test="#{sqlBean.clearTmpUserObjectsCHM() gt ''}"></i:if>
	#{v.clearHeaderSatnObieguInfo()}

	<!-- ///////////////////////////////////////////////////////////////////////////// KONTROLA UPRAWNIEN ///////////////////////////////////////////////////////////////////////////// -->
	<i:if test="#{user.KU}">
			
		#{ kontrolaUprawnien.loadWuprForXhtml(view.viewId)}
		#{ kontrolaUprawnien.iterateChildrenByID('lpContent') }

	</i:if>




		<p:growl id="template_growl"
				 for="template_growl" showDetail="true" life="15000"
			     widgetVar="template_growl" rendered="true" escape="false" />

		<p:growl id="alert_growl"
				 for="alert_growl"  showDetail="true" life="45000" sticky="false"
				 widgetVar="alert_growl" rendered="true" escape="false" />

		<p:growl id="egr_growl"
				 for="egr_growl"  showDetail="true" sticky="true"
				 widgetVar="egr_growl" rendered="true" escape="false" />



		<p:importConstants
			type="com.comarch.egeria.web.common.utils.constants.Const"
			var="Const" />


		

		<h:panelGroup id="lpContent" kuid="content" styleClass="p0"
					  style="height: 100vh!important; width: 100vw!important; display: flex; flex-direction: column;
					  background: #{empty formBackground ? 'rgba(20,70,140,0.2)' : formBackground};">


			<div class="dvwczytywanie" id="hourGlass"
				 style="font-size: 300% !important; visibility: hidden; z-index: 9999999999; position: fixed; bottom: 100px; right: 100px; max-height: 40% !important">
			</div>


			<ui:insert name="egr_content">
				<ui:include src="/WEB-INF/protectedElements/Templates/EgrContent.xhtml" />
			</ui:insert>

		</h:panelGroup>






		<!-- ========================================================================================================= -->
		<!-- ======================================== DIALOGI STAŁE ================================================== -->
		<!-- ========================================================================================================= -->


		<ui:include
				src="#{user.renderKU
  						? '/WEB-INF/protectedElements/Dialogs/KontrolaUprawnien/dlgKontrolaUprawnien.xhtml'
  						: '' }" />

		<ui:include src="/WEB-INF/protectedElements/Dialogs/Pomoc/Pomoc/dlgPomoc.xhtml" />

		<ui:include src="/WEB-INF/protectedElements/Dialogs/Zalaczniki/dlgZalaczniki.xhtml" />
		<ui:include src="/WEB-INF/protectedElements/Dialogs/LOV/dlgLov.xhtml" />
		<ui:include src="/WEB-INF/protectedElements/Dialogs/Obiegi/dlgObiegCzynnosci.xhtml" />
		<ui:include src="/WEB-INF/protectedElements/Dialogs/Obiegi/dlgHistoriaObiegu.xhtml" />

			
			
			
		<script type="text/javascript">

			$(document).ready(function() {
				hgoff();
				if (parent === undefined)
					alert(-1);
				else {
					parent.hgoff();
				}
			});
				
		
			function showEgrMsgs() {
				var dvEgrMsgs = document.getElementById('dvEgrMsgs');
				dvEgrMsgs.style.zIndex = '9999999';
				var ifrm = document.getElementById('ifrmEgrMsgs');
				ifrm.contentWindow.PF('dlgKomunikat').show();
			}

			function hideEgrMsgs() {
				var dvEgrMsgs = document.getElementById('dvEgrMsgs');
				dvEgrMsgs.style.zIndex = '-9999999';
				// var ifrm = document.getElementById('ifrmEgrMsgs');
				// ifrm.contentWindow.PF('dlgPowiadomienia').show(); updateNotificationDialog();
			}
						

			function showObieg() {
				//var dlgDv = document.getElementById('dlgObgDv');
				//dlgDv.style.zIndex = '9999999';
				//var ifrm = document.getElementById('ifrmDlgObg');
				//ifrm.contentWindow.PF('dlgObiegCzynnosci').show();
				PF('dlgObiegCzynnosci').show(); 
			}

			function showHistoriaObiegu() {
				//var dlgDv = document.getElementById('dlgObgDv');
				//dlgDv.style.zIndex = '9999999';
				//var ifrm = document.getElementById('ifrmDlgObg');
				//ifrm.contentWindow.PF('dlgHistoriaObiegu').show();
				PF('dlgHistoriaObiegu').show();
			} 

			function showPowiadomienia() {
				var dlgDv = document.getElementById('dlgDvPwdmn');
				dlgDv.style.zIndex = '9999999';
				var ifrm = document.getElementById('ifrmDlgPwdmn');
				ifrm.contentWindow.PF('dlgPowiadomienia').show(); updateNotificationDialog();
			}


			
			
			function showDlg(dlgWidgetVar, id) {
				var dlgDv = document.getElementById('dlgDv');
				dlgDv.style.zIndex = '9999999';
				var ifrm = document.getElementById('ifrmDlg');
				//ifrm.contentWindow.updateWidget(dlgWidgetVar);
// 				ifrm.contentWindow.PF(dlgWidgetVar).show();
				ifrm.contentWindow.showDlg(dlgWidgetVar, id); 
			}



			function setIframeContentSrc(url) {
					parent.setIframeContentSrc(url);
			}




			function showDlgLovJS(dlgwidgetvar) {
				parent.showDlgLovJS(dlgwidgetvar);
			}


			function invalidateClassComponents(cclass) {
				if (parent!=undefined) {
					parent.invalidateClassComponents(cclass);
				}
			}


			function updateInvalidatedComponents() {
				//console.log('egrtemplate.updateInvalidatedComponents...');
				if (parent!=undefined) {
					parent.updateInvalidatedComponents();
				}
			}


			function sessionTimerReset() {
				if (parent!=undefined) {
					parent.sessionTimerReset();
				}
			}

			$(document).click(function() {
				const panel = parent.document.body.getElementsByClassName('mobile-panel-buttons')[0];
				panel.style.display = 'none';
			});

		</script>			
			
			
			
			
			
			

		
		
		
		
		<script type="text/javascript">
		
		    $(function () {//przechwytujemy F5
		        $(document).keydown(function (e) {

		        	if (e.shiftKey==true || e.ctrlKey==true) return true;
			        
		            if ((e.which || e.keyCode) == 116){
		                updatef5();
		                return false;
		            }
		            
		            return true;
		            //return (e.which || e.keyCode) != 116;
		        });
		    });
		</script>		
		
		<h:form style="position: absolute; top:0; right:0;" styleClass="p0 m0">

<!--			informacja pomocnicza dot. kontroli uprawnień-->
			<h:panelGroup id="kuDbgInfo" style="z-index: 9999; height: 10px; width: 10px; cursor: crosshair;" styleClass="p0 m0" rendered="#{not user.admin}" layout="block" />

			<p:tooltip for="kuDbgInfo @this" rendered="#{not empty kontrolaUprawnien.wuprDebugInfo}" hideDelay="500" showDelay="500">
				<h:panelGroup styleClass="ui-g w800">
					<p:outputLabel for="@parent" value="Kontrola uprawnień / wykorzystane uprawnienia:" styleClass="ui-g-12 p0 fs20 mt10"/>
					<div class="ui-g-12 fs12 p0" style="max-height: 800px; overflow: auto;">
						<div class="ui-g-12 p0" style="border: 1px solid #CCCCEE"/>
						<div class="ui-g-12 p0" style="color:#777777">
							<span class="ui-g-1 p1">
								<span class="ui-g-2 p1">P.</span>
								<span class="ui-g-10 p1 pr10 right">WuprID</span>
							</span>
							<span class="ui-g-5 p1 pl10">Kuid</span>
							<span class="ui-g-4 p1">Funkcja użytkowa</span>
							<span class="ui-g-2 p1">Stan obiegu</span>
						</div>
						<div class="ui-g-12 p0" style="border: 0.5px solid #CCCCEE"/>
						<ui:repeat value="#{kontrolaUprawnien.wuprDebugInfo}" var="wuprinfo">
							<div class="ui-g-12 p0" style="#{wuprinfo.poziomCssStyle}">

								<span class="ui-g-1 p1">
									<span class="ui-g-2 p1">#{wuprinfo.poziomDostepu}</span>
									<span class="ui-g-10 p1 pr10 right">#{wuprinfo.upr.wuprId}</span>
								</span>

								<span class="ui-g-5 p1 pr10">#{wuprinfo.kuid}</span>
								<span class="ui-g-4 p1">#{wuprinfo.upr.wuprFunkcjaUzytkowa}</span>
								<span class="ui-g-2 p1">#{wuprinfo.upr.wuprStanObiegu}</span>

							</div>
							<div class="ui-g-12 p0"/>
						</ui:repeat>
						<div class="ui-g-12 p0 mb10" style="border: 1px solid #CCCCEE"/>

					</div>
				</h:panelGroup>
			</p:tooltip>


			<!--			doFilterAndSelectRowByUrlParams-->
			<p:remoteCommand name="goEditUrlQueryEntity" action="#{user.doEditRowPage}" onstart="hgon()" oncomplete="hgoff()" partialSubmit="true" process="@this" />

			<p:remoteCommand name="updatef5" update="@(form:not(.egrMenuForm))" onstart="hgon()" oncomplete="hgoff()" partialSubmit="true" process="@none"/>

			<pe:remoteCommand id="updateCmd" name="update" process="@this" actionListener="#{user.update}" onstart="hgon();" oncomplete="hgoff();">  
			    <pe:methodSignature parameters="java.lang.String"/>  
			    <pe:methodParam name="id"/>
			</pe:remoteCommand> 	


			<pe:remoteCommand id="reloadAndUpdateCmd" name="reloadAndUpdate" process="@this" actionListener="#{user.reloadAndUpdate}">  
			    <pe:methodSignature parameters="java.lang.String, java.lang.Object"/>  
			    <pe:methodParam name="sqlId"/>
			    <pe:methodParam name="rowId"/>
			</pe:remoteCommand>

			
		</h:form>
		
		
		
		
		<h:panelGroup rendered="#{''.concat(request).contains('localhost:') or user.admin}"
			style="font-size:10px; position: absolute; bottom: 0; right:0; z-index: 999999999999; ">
			
			<h:form id="frmDbgInfo">
			
<!-- 			; // #{user.sqlDataCache.totalCachedRowsCount} / #{user.sqlDataCache.size() -->
			<p:commandButton id="btnDebugInfo" widgetVar="btnDebugInfo" icon="refresh" 
			
				update="@(form:not(.egrMenuForm)) dbgpnl" onstart="hgon()" oncomplete="hgoff()" partialSubmit="true" process="@this" >
				<p:outputLabel value="id: #{v.dataRowId}" rendered="#{v.dataRowId!=null}" />
				</p:commandButton>
			
			<p:tooltip id="btnDebugInfoPnl" for="btnDebugInfo btnDebugInfoPnl" style="font-size:100%; position:fixed;" showDelay="500" hideDelay="500">

				<h:panelGroup id="dbgpnl">	

				<p:commandButton icon="refresh"
					style="position:absolute; top:2px; right:10px; opacity:0.3;"
					update="dbgpnl" onstart="hgon()" oncomplete="hgoff()"
				/>
				
					<h:outputLabel  for="frmDbgInfo" value="DEBUG #{v.format(appBean.date, 'yyyy-MM-dd HH:mm:ss') } / liczba sesji: #{appBean.sessionsUsers.size()}"/>

				 	<div style="backgrund:white; width:800px; max-height:calc(100vh - 190px); overflow: auto;">
				 		<div class="ui-g ui-g-nopad ui-g-12 border"></div>
				 		<h:outputLabel value="Listy Wartości:" styleClass="p5 m0"/>

						<div class="ui-g ui-g-nopad ui-g-11 p10">
								<div class="ui-g-5 ui-g-nopad"       style="font-size:10px; color:gray">lista wartości</div>
								<div class="ui-g-2 ui-g-nopad right" style="font-size:10px; color:gray">liczba wierszy</div>							
								<div class="ui-g-2 ui-g-nopad right" style="font-size:10px; color:gray">czas wczytywania</div>
								<div class="ui-g-2 ui-g-nopad right" style="font-size:10px; color:gray">kiedy wczytano</div>									
								<div class="ui-g-1 ui-g-nopad right" style="font-size:10px; color:gray">l. wyk. sql</div>
						
							<ui:repeat var="lwdbg" value="#{user.sqlDataCache.listyWartosci}">
									<div class="ui-g-5 ui-g-nopad" style="font-size:10px; color:steelblue">
										
												<p:commandButton value="#{lwdbg.getShortName()}" styleClass="fs10 p0 m0" style="color:steelblue" onclick="window.open('SzczegolyListyWartosci?lista=#{lwdbg.shortName}');"/>
										
												<p:outputLabel styleClass="fs10" rendered="#{not empty lwdbg.sqlNamedParams}">
													#{lwdbg.sqlNamedParams}
												</p:outputLabel>
												 <p:outputLabel styleClass="fs10" rendered="#{not empty lwdbg.sqlParams}">
													#{lwdbg.sqlParams }
												</p:outputLabel> 
												
									</div>
									<div class="ui-g-2 ui-g-nopad right" style="font-size:10px; color:steelblue">
										#{lwdbg.size()} w.
									</div>							
									<div class="ui-g-2 ui-g-nopad right" style="font-size:10px; color:steelblue">
										#{lwdbg.reloadTime} ms
									</div>
									<div class="ui-g-2 ui-g-nopad right" style="font-size:10px; color:steelblue">
										#{v.format(lwdbg.tsAsDate,'HH:mm:ss')}
									</div>									
									<div class="ui-g-1 ui-g-nopad right" style="font-size:10px; color:steelblue">
										#{lwdbg.reloadCount}  
									</div>								
							</ui:repeat>
						</div>
				 		<div class="ui-g ui-g-nopad ui-g-12 border"></div>
					 	<div class="ui-g ui-g-nopad ui-g-4">
					 		<cc:cComarchBeansDebugInfo beansInfoMap="#{appBean.sessionBeansInfo()}" label="(com.comarch.*) @Scope('session')" styleClass="mb10"/>
					 	</div>
					 	<div class="ui-g ui-g-nopad ui-g-4">
					 		<cc:cComarchBeansDebugInfo beansInfoMap="#{appBean.viewBeansInfo()}" 	label="(com.comarch.*) @Scope('view')" styleClass="mb10"/>
					 	</div>
					 	<div class="ui-g ui-g-nopad ui-g-4">
					 		<cc:cComarchBeansDebugInfo beansInfoMap="#{appBean.requestBeansInfo()}"	label="(com.comarch.*) @Scope('request')" styleClass="mb10"/>	
						</div>
						<div class="ui-g ui-g-nopad ui-g-12 border"></div>
					</div>


					<div class="ui-g ui-g-nopad pt10" style="width:800px;">

						<h:outputLabel value="session id" styleClass="ui-g-nopad ui-g-2 pt5"/>
						<div class="ui-g ui-g-nopad ui-g-9 pb10">				
							<p:inputText id="sessionIdTXT" 
								value="exec ppadm.ustaw_kontekst('#{user.sessionId}');" readonly="true"  />
						</div>
						<div class="ui-g ui-g-nopad ui-g-1">
							<p:commandButton icon="content_copy"
								onclick="$('#frmDbgInfo\\:sessionIdTXT').select(); document.execCommand('copy'); "   />
						</div>					
					
						<h:outputLabel value="view url part" styleClass="ui-g-nopad ui-g-2 pt5"/>
						<div class="ui-g ui-g-nopad ui-g-9 pb10">	
							<p:inputText id="viewRootIdTxtUrl" 
								value="#{request.getAttribute('javax.servlet.forward.request_uri')}" readonly="true" />
						</div>
						<div class="ui-g ui-g-nopad ui-g-1">	
							<p:commandButton icon="content_copy"
								onclick="$('#frmDbgInfo\\:viewRootIdTxtUrl').select(); document.execCommand('copy'); " />
						</div>

						<h:outputLabel value="view id (xhtml path)" styleClass="ui-g-nopad ui-g-2 pt5" onclick="window.open('test_res_files.xhtml?v=#{view.viewId}');"/>
						<div class="ui-g ui-g-nopad ui-g-9 pb10">
							<p:inputText id="viewRootIdTxtTT" 
								value="#{view.viewId}" readonly="true"/>
						</div>
						<div class="ui-g ui-g-nopad ui-g-1">
							<p:commandButton icon="content_copy" 
								onclick="$('#frmDbgInfo\\:viewRootIdTxtTT').select(); document.execCommand('copy'); "  />
						</div>

						<h:outputLabel value="view file name" styleClass="ui-g-nopad ui-g-2 pt5"/>
						<div class="ui-g ui-g-nopad ui-g-9 pb10">							
							<p:inputText id="viewRootIdTxtT" 
								value="#{sessionBean.currentXhtmlFile()}" readonly="true" />
						</div>
						<div class="ui-g ui-g-nopad ui-g-1">
							<p:commandButton icon="content_copy"
								onclick="$('#frmDbgInfo\\:viewRootIdTxtT').select(); document.execCommand('copy'); " />
						</div>

					</div>

				</h:panelGroup>

			</p:tooltip>

			</h:form>
			
		</h:panelGroup>
		
		
		<script type="text/javascript">
		
		    $(function () {
		        $(document).ready(function (e) {
					if (parent!=undefined){
						if (parent.setFormName!=undefined)
							parent.setFormName('#{formName}');

						if (parent.setViewId!=undefined)
							parent.setViewId('#{view.viewId}');

					}
		        });
		    });

		</script>	


		<h:panelGroup id="hpgRenderKuJSTools" rendered="#{user.renderKU and kontrolaUprawnien.viewRenderKU}"
					  styleClass="position-absolute top0 right55 d-flex-column" style="z-index: 99999;">
			<p:outputLabel id="btnkujsinfo" value="" styleClass="fs16" style="color:red!important; "/>
			<p:outputLabel id="btnkujsinfo1" value="" styleClass="fs12" style="color:gray!important; "/>
<!--			<p:inputText id="btnkujsimpfocus"><p:focus/></p:inputText>-->

			<script type="text/javascript">

				var btnkujsid;
				var btnkujstype;
				var dlgKUShown = 0;


				function msovr(el){
					console.log('msovr: ' + el + ' type: ' + el.constructor.name);
				}

				
			    $(function () {
			        $(document).ready(function (e) {
				    	$('.btnkujs:disabled').wrap(function() {
				    	    return  '<span id="' + this.id + '_btnKuIcon" class="btnkujswrapper p0 m0 btnkujs" kutype="' + this.constructor.name + '" />';
				    	});
			        });
			    });


			    $(function () {
				    
			        $(document).ready(function (e) {
						$( ".btnkujs" ).removeClass("kuhighlight");
						
						if (this.id=='templateBody')
							return;

						$( ".btnkujs" ).mouseover( function(){
							event.stopPropagation();
							//console.log('id: ' + this.id + ' type: ' + this.constructor.name + ' position: ' + $(this).attr('position'));
							btnkujsid = this.id.replace('_btnKuIcon','');

							btnkujstype = $(this).attr('kutype');
							
							if (btnkujstype==null)
								btnkujstype = this.constructor.name;

							if (btnkujsid!='templateBody') 
							if (btnkujsid!='') {
								document.getElementById("btnkujsinfo").innerHTML = btnkujsid + ' (' + btnkujstype + ')';
								document.getElementById("btnkujsinfo1").innerHTML = 'CTRL + (pr. prz. myszy)  - otw. okno uprawnień do elementu';

								$( ".btnkujs" ).removeClass("kuhighlight");
								$(this).addClass("kuhighlight");
								
							} else {
								document.getElementById("btnkujsinfo").innerHTML = '';
								document.getElementById("btnkujsinfo1").innerHTML = '';
							}

							if (btnkujsid!='') 
								event.stopPropagation();
	
						} );
	
						$( ".btnkujs" ).mouseout( function(){

							document.getElementById("btnkujsinfo").innerHTML = '';
							document.getElementById("btnkujsinfo1").innerHTML = '';

							$(this).removeClass("kuhighlight");

							
						} );




						
				        $(".btnkujs").contextmenu(function() {//rclick
 				        	 event.stopPropagation();
				        	 if (!event.ctrlKey==true) return true;
				        	 //console.log(btnkujsid);
				        	 if (dlgKUShown != 1){
				        		dlgKUShown = 1;
				        		
				        	 	showDlgKU( [ {name:'kuid' , value:btnkujsid}, {name:'class' , value:btnkujstype}  ] );
				        	 }
				        	 return false;
				        });

						
			        });


			    });

			
			</script>


		</h:panelGroup>


<!--		Ctrl+shift+x aby zobaczyć JSF component tree and UI state -->
<!--		<ui:debug rendered="#{user.admin}" hotkey="x" />-->

	</h:body>
</f:view>
</html>
