<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:egr="http://egr.egeria.comarch.com/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:head>
 	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	</f:facet> 
	
	
	<h:outputStylesheet name="ctl-style.css" library="css" />
	<!-- 	<link rel="stylesheet" type="text/css" href="resources/css/ctl-style.css?v=#{appBean.startupTime.time}"/> -->

	<!-- 	<h:outputStylesheet name="pp-style.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-style.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-calendar.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-calendar.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-kafelki.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-kafelki.css?v=#{appBean.startupTime.time}" />

	<h:outputStylesheet name="pp-gicons.css" library="css" />
	<!-- 	<link rel="stylesheet" type="text/css" href="resources/css/pp-gicons.css?v=#{appBean.startupTime.time}"/> -->
	<link rel="stylesheet" type="text/css" href="resources/css/materialdesignicons.min.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-menu.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-menu.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-buttons.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-buttons.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-tabs.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-tabs.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-forms.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-forms.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-notification.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-notification.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-ksiazka-tel.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-ksiazka-tel.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-modale.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-modale.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-scrollbars.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-scrollbars.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-forms-material.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-forms-material.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="pp-spinner.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/pp-spinner.css?v=#{appBean.startupTime.time}" />

	<!-- 	<h:outputStylesheet name="tooltip-mdesign.css" library="css" /> -->
	<link rel="stylesheet" type="text/css"
		href="resources/css/tooltip-mdesign.css?v=#{appBean.startupTime.time}" />



	<script
		src="resources/js/pfLocales.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/ctlUtils.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/pf-widgets/ctlColumnToggler.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/pf-widgets/ctlMenubar.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>
	<script
		src="resources/js/pf-widgets/ctlSelectOneMenu.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>

	<script
		src="resources/js/pf-widgets/ppCalendar.js?v=#{appBean.startupTime.time}"
		type="text/javascript"></script>

	<script src="resources/js/external/jquery-element-onresize.js"
		type="text/javascript"></script>

	<script src="resources/js/external/jquery.qtip.min.js" 
		type="text/javascript"></script>



	<title>#{dic.LBL10002_nazwa_podsystemu}</title>
	<link rel="icon" type="image/png"
		href="#{request.contextPath}/resources/images/short.png" />





</h:head>

<f:view locale="#{languageBean.locale}" >

	<h:body id="templateBody" styleClass="m0 p0">

		<!-- 		<p:growl id="template_growl" life="5000" /> -->
		<p:growl id="template_growl" showDetail="true" life="10000"
			widgetVar="template_growl" rendered="true" escape="false" />



		<script type="text/javascript">
			function handleMessage(facesmessage) {
				PF('template_growl').show([ facesmessage ]);
			}
		</script>


		<p:importConstants
			type="com.comarch.egeria.web.common.utils.constants.Const"
			var="Const" />


		<egr:egrBlocker widgetVar="egrWindowBlocker" block="templateBody" />

		<h:panelGroup id="lpContent" kuid="content" styleClass="m0i p0"
					  style="height: 100vh!important; width: 100vw!important; display: flex; flex-direction: column;">

				<ui:insert name="egr_header">
					<ui:include
						src="/WEB-INF/protectedElements/Templates/EgrHeaderPublic.xhtml" />
				</ui:insert>

				<ui:insert name="egr_content">
					<ui:include
						src="/WEB-INF/protectedElements/Templates/EgrContent.xhtml" />
				</ui:insert>

				<div class="dvwczytywanie" id="hourGlass"
					style="font-size: 300% !important; visibility: hidden; z-index: 999999999999; position: absolute; top: 40%; left: 40%; max-height: 40% !important">
				</div>

		</h:panelGroup>






















<!-- ========================================================================================================= -->
<!-- ====================================== DIALOGI WARNUKOWE ================================================ -->
<!-- ========================================================================================================= -->

<!-- 		<ui:include src="#{user.login eq 'ek_wa_administrator' or user.login eq 'administrator_portal' or user.hasPermission('ek_wa_administrator')
						? '/WEB-INF/protectedElements/Dialogs/KontrolaUprawnien/dlgKontrolaUprawnien.xhtml'
						: '' }"/>  -->


		<!-- <ui:include src="/WEB-INF/protectedElements/Dialogs/Szkolenia/dlgSzkolenieSpec.xhtml" /> -->
		
<!-- 		<ui:include src="/WEB-INF/protectedElements/Dialogs/Rekrutacja/dlgKandydat.xhtml" /> -->
<!-- 		<ui:include src="#{view.viewId.endsWith('KartotekaRekrutacji.xhtml') 
						or view.viewId.endsWith('KartotekaRekrutacjiWno5.xhtml')
						? '/WEB-INF/protectedElements/Dialogs/Rekrutacja/dlgKandydat.xhtml' 
						: '' }" />  -->
		
		
<!-- 		<ui:include src="/WEB-INF/protectedElements/Dialogs/Rekrutacja/dlgKandydaciDoRaportu.xhtml" /> -->
<!-- 		<ui:include src="#{view.viewId.endsWith('KartotekaRekrutacji.xhtml') 
						? '/WEB-INF/protectedElements/Dialogs/Rekrutacja/dlgKandydaciDoRaportu.xhtml' 
						: '' }" />  -->
		
		
<!-- 		rendered="#{view.viewId.contains('/faces/Rekrutacja/RekrutacjaWniosek1.xhtml') or view.viewId.contains('/faces/Rekrutacja/RekrutacjaWniosek3.xhtml')}"  -->
<!-- 		<ui:include src="/WEB-INF/protectedElements/Dialogs/Rekrutacja/dlgOgloszenieZZZ.xhtml"/> -->
<!-- 		<ui:include src="#{view.viewId.endsWith('/faces/Rekrutacja/RekrutacjaWniosek1.xhtml') 
						or view.viewId.endsWith('/faces/Rekrutacja/RekrutacjaWniosek3.xhtml')
						? '/WEB-INF/protectedElements/Dialogs/Rekrutacja/dlgOgloszenieZZZ.xhtml'
						: '' }" /> 	 -->	
<!-- 		rendered="#{view.viewId.contains('/faces/Rekrutacja/RekrutacjaWniosek1.xhtml')}"  -->						
<!-- 		<ui:include src="#{view.viewId.endsWith('/faces/Szkolenia/RejestrSzkolen.xhtml') 
						? '/WEB-INF/protectedElements/Dialogs/Szkolenia/dlgTerminSzkolenia.xhtml' 
						: '' }" /> -->
					
		
		
<!-- 	<ui:include
		src="#{view.viewId.endsWith('/faces/DelegacjeMF/DelegacjaMFZagr.xhtml') 
		? '/WEB-INF/protectedElements/Dialogs/Delegacje/dlgSzczegolyDelegacjiPowiazanej.xhtml'
		: '' }" /> -->
	
<!-- 	
	<ui:include
		src="#{view.viewId.endsWith('/faces/DelegacjeMF/DelegacjaMFZagr.xhtml') 
		? '/WEB-INF/protectedElements/Dialogs/Delegacje/dlgRodzajeKosztow.xhtml'
		: '' }" /> -->
			
		
			
		
<!-- 		<ui:include -->
<!-- 					src="/WEB-INF/protectedElements/Dialogs/Rekrutacja/dlgZalacznikiRekrutacja.xhtml" /> -->
		
<!-- 		<ui:include -->
<!-- 					src="/WEB-INF/protectedElements/Dialogs/SluzbaPrzygotowawcza/dlgZalacznikiSP.xhtml" /> -->
				
				
				
				
				
<!-- ========================================================================================================= -->
<!-- ======================================== DIALOGI STAŁE ================================================== -->
<!-- ========================================================================================================= -->
<!-- 		<ui:include src="/WEB-INF/protectedElements/Dialogs/Zalaczniki/dlgZalaczniki.xhtml" />			
		<ui:include src="/WEB-INF/protectedElements/Dialogs/Obiegi/dlgObiegCzynnosci.xhtml" /> -->
		<ui:include src="/WEB-INF/protectedElements/Dialogs/LOV/dlgLov.xhtml" />		<!-- to powinien byc ostatni dialog/ dlg lov sa w reapeterku renderowane wg w/w potencjalnych odwolan do cc cLovJS	-->

	</h:body>
</f:view>
</html>
