<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:p="http://primefaces.org/ui"
				xmlns:pe="http://primefaces.org/ui/extensions">

	<p:dialog header="#{dic.LBLXXXX_DIALOG_NAME_}" 
			  widgetVar="dialog_DIALOG_NAME__" 
			  appendTo="@(body)" 
			  modal="true" 
			  closeOnEscape="true" 
			  draggable="true" 
			  resizable="false" 
			  id="dlg_DIALOG_NAME_"
			  classStyle="ctl-dialog">

		<h:form id="formDlg_DIALOG_NAME_">

			<p:growl id="growl"
					 showDetail="true"
					 rendered="#{not facesContext.validationFailed}"/>

			<p:panelGrid>
				<!-- (Content) Pairs: Label - Input -->
				<!-- _DIALOG_NAME_ - nazwa okna dialogowego -->
				<!-- _FORM_NAME_ - nazwa formularza wykorzystującego okno dialogowe -->
			</p:panelGrid>

			<p:panelGrid styleClass="ctl-dialog-buttons">

				<p:column>

					<p:commandButton id="btAnuluj" 
									 value="#{dic.EGR70017_anuluj}" 
									 update="formDlg_DIALOG_NAME_" 
									 process="@this" 
									 oncomplete="PF('dialog_DIALOG_NAME_').hide();">

						<p:resetInput target="formDlg_DIALOG_NAME_"/>

					</p:commandButton>

				</p:column>

				<p:column>

					<p:commandButton id="btZatwierdz" 
									 value="#{dic.EGR70016_zatwierdz}" 
									 actionListener="#{_FORM_NAME_Bean.process_DIALOG_NAME_}" 
									 update=":form_FORM_NAME_:tbl_FORM_NAME_ formDlg_DIALOG_NAME_"/>

				</p:column>

			</p:panelGrid>

		</h:form>

	</p:dialog>

</ui:composition>