<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

	<!-- rendered="#{cLov.isNotEmpty()}" -->

	<p:dialog id="dlgNowePoleDef" widgetVar="dlgNowePoleDef" header="..."
		width="400px" appendTo="@(body)" modal="true" closeOnEscape="true"
		draggable="true" resizable="false"
		onShow="$('div.nowe-pole-dod-et > input').select();"
	>

		<f:facet name="header">
			<h:form id="frmDlgNowePoleDefHdr">
				<p:panelGrid style="width: 100%;">

					<p:column>
						<h:outputText value="Nowe pole definiowalne" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@none"
							onclick="PF('dlgNowePoleDef').hide();" icon="close">
						</p:commandButton>
					</p:column>

				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="frmDlgNowePoleDef" styleClass="ui-g-12 p0 pb10">

            <span class="ui-g-12 p10">Uwaga: po dodaniu definicji pola dodatkowego do fromularza, jego nowe (puste) wartości będą dodawane do każdego otwieranego tym formularzem dokumentu.</span>

			<c:cInputText
					styleClass="ui-g-12 nowe-pole-dod-et"
					label="Wyświetlana etykieta:"
					value="#{cPoleDefiniowalne.nowePoleDef.wpdfEtykieta}"/>

<!--			<c:cInputText-->
<!--					styleClass="ui-g-12 nowe-pole-dod-et"-->
<!--					label="Wartość:"-->
<!--					value="#{cPoleDefiniowalne.nowePoleDef.wpdfWartoscTxt}"/>-->

			<div class="ui-g-12 p0 right">
				<p:commandButton
						id="btnOK"
						icon="add"
						value="Dodaj pole"
						styleClass="granatowy mt5"
						partialSubmit="true"
						process="@form"
						action="#{cPoleDefiniowalne.dodajNowePoleDef}"
						update="@(.pgPolaDef)"
						oncomplete="PF('dlgNowePoleDef').hide();" />
			</div>
		</h:form>

	</p:dialog>

</ui:composition>






