<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

#{kontrolaUprawnienBean.loadLW('PPL_WEB_UPRAWNIENIA')}

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Kontrola Uprawnień" />
		<ui:define name="egr_content">

			<h:form id="frmNorth" kuid="" styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20">

				<h:panelGroup id="pnlBtnSetFU" kuid="">

					<div class="ui-g ui-g-nopad">

<!--							<p:commandButton id="dodaj" value="Dodaj"-->
<!--								action="#{kontrolaUprawnienBean.dodaj}"-->
<!--								update="frmCenter">-->
<!--							</p:commandButton>-->

						<p:commandButton id="usun" value="Usuń"
							action="#{kontrolaUprawnienBean.usun}"
							onstart="hgon();" oncomplete="hgoff();"
							update="frmCenter">
						</p:commandButton>

						<p:commandButton id="btnZmienPoziomDostepu"  value="Zmien poziom dostępu..." />

						<p:overlayPanel for="frmNorth:btnZmienPoziomDostepu" styleClass="w300 p5">

							<p:commandButton id="btnU" styleClass="granatowy ui-g-12 p0"
											 value="Ustaw poziom dostępu 'Brak'"
											 action="#{kontrolaUprawnien.ustawPoziomDostepuDlaZanzaczonych(v.getLW('PPL_WEB_UPRAWNIENIA'), 0)}"
											 onstart="hgon();" oncomplete="hgoff();"
											 update="frmCenter">
							</p:commandButton>

							<p:commandButton id="btnW" styleClass="granatowy ui-g-12 p0 mt10"
											 value="Ustaw poziom dostępu 'Wyświetl'"
											 action="#{kontrolaUprawnien.ustawPoziomDostepuDlaZanzaczonych(v.getLW('PPL_WEB_UPRAWNIENIA'), 1)}"
											 onstart="hgon();" oncomplete="hgoff();"
											 update="frmCenter">
							</p:commandButton>

							<p:commandButton id="btnE" styleClass="granatowy ui-g-12 p0 mt10"
											 value="Ustaw poziom dostępu 'Edycja'"
											 action="#{kontrolaUprawnien.ustawPoziomDostepuDlaZanzaczonych(v.getLW('PPL_WEB_UPRAWNIENIA'), 2)}"
											 onstart="hgon();" oncomplete="hgoff();"
											 update="frmCenter">
							</p:commandButton>

						</p:overlayPanel>

					</div>
				</h:panelGroup>
			</h:form>

			<h:form id="frmCenter" styleClass="bg-fff m20i p20 bsh2black kontrolaUprawnien flex-1" kuid="">

				<c:cLookupTableMultiselect id="clkptblku" kuid=""
					datasource="#{kontrolaUprawnienBean.getLW('PPL_WEB_UPRAWNIENIA')}"
				/>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
