<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:dialog header="#{dic.LBL10240_nowe_zlec_wyk}"
		widgetVar="dlgDZlecenieWykonania" appendTo="@(body)" modal="true"
		closeOnEscape="true" draggable="true" resizable="false"
		id="dlgDZlecenieWykonania" styleClass="ctl-dialog">

		<h:form id="dodajZlecWykForm">
			<p:growl id="rwDGrowl" showDetail="true" sticky="true"
				rendered="#{not facesContext.validationFailed}" />

			<p:panelGrid>
				<p:row>
					<p:column>
						<h:outputLabel for="somZLWystawca"
							value="#{dic.LBL10229_wystawca}" />
					</p:column>

					<p:column colspan="2">
						<p:selectOneMenu id="somZLWystawca"
							value="#{zleceniaBean.noweZlecenieWyk.ceIdK}" filter="true"
							filterMatchMode="contains" style="width: 300px;">

							<f:selectItems value="#{zleceniaBean.aktywneCentra}"
								var="aktywneCe" itemValue="#{aktywneCe.ceId}"
								itemLabel="#{aktywneCe.ceKod} - #{aktywneCe.ceNazwa}" />

							<p:ajax event="change" listener="#{zleceniaBean.otZLWystawcaChanged()}"
								update=":dodajZlecWykForm" />
							

						</p:selectOneMenu>

					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="somZLWKosztRD"
							value="#{dic.LBL10234_w_koszt_rd}" />
					</p:column>

					<p:column colspan="2">
						<p:selectOneMenu id="somZLWKosztRD"
							value="#{zleceniaBean.noweZlecenieWyk.mpkIdK}"
							style="width: 300px;" filter="true" filterMatchMode="contains">

							<f:selectItems value="#{zleceniaBean.mpkKosztRd}" var="kosztRD"
								itemLabel="#{kosztRD.mpkKod} - #{kosztRD.mpkOznaczenie}"
								itemValue="#{kosztRD.mpkId}" />

							<p:ajax event="change" listener="#{zleceniaBean.otZLWKosztRDChanged()}"
								update=":dodajZlecWykForm:somZLUmowa :dodajZlecWykForm:somZLPozycja :dodajZlecWykForm:somZLPrzychodRD" />
						</p:selectOneMenu>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="somZLAdresat" value="#{dic.LBL10235_adresat}" />
					</p:column>

					<p:column colspan="2">
						<p:selectOneMenu id="somZLAdresat"
							value="#{zleceniaBean.noweZlecenieWyk.ceIdP}"
							style="width: 300px;" filter="true" filterMatchMode="contains">

							<f:selectItems value="#{zleceniaBean.adresaciCentra}"
								var="adresaciCe"
								itemLabel="#{adresaciCe.ceKod} - #{adresaciCe.ceNazwa}"
								itemValue="#{adresaciCe.ceId}" />
						</p:selectOneMenu>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="somZLPrzychodRD"
							value="#{dic.LBL10237_przychod_RD}" />
					</p:column>

					<p:column colspan="2">
						<p:selectOneMenu id="somZLPrzychodRD"
							value="#{zleceniaBean.noweZlecenieWyk.mpkIdP}"
							style="width: 300px;" filter="true" filterMatchMode="contains">

							<f:selectItems value="#{zleceniaBean.mpkPrzychodRd}"
								var="przychodRD"
								itemLabel="#{przychodRD.mpkKod} - #{przychodRD.mpkOznaczenie}"
								itemValue="#{przychodRD.mpkId}" />
						</p:selectOneMenu>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="somZLUmowa" value="#{dic.LBL10236_umowa}" />
					</p:column>

					<p:column colspan="2">
						<p:selectOneMenu id="somZLUmowa"
							value="#{zleceniaBean.noweZlecenieWyk.umId}"
							style="width: 300px;">

							<f:selectItems value="#{zleceniaBean.umowy}" var="umowy"
								itemLabel="#{umowy.umwNumer}" itemValue="#{umowy.umwId}" />

							<p:ajax event="change" listener="#{zleceniaBean.otZLUmowaChanged()}"
								update=":dodajZlecWykForm:somZLPozycja" />
						</p:selectOneMenu>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="somZLPozycja" value="#{dic.LBL10238_pozycja}" />
					</p:column>

					<p:column colspan="2">
						<p:selectOneMenu id="somZLPozycja"
							value="#{zleceniaBean.noweZlecenieWyk.pumId}"
							style="width: 300px;">

							<f:selectItems value="#{zleceniaBean.pozycjeUmow}"
								var="pozycjaUmow"
								itemLabel="#{pozycjaUmow.pumOznaczenie} - #{pozycjaUmow.pumNazwa}"
								itemValue="#{pozycjaUmow.pumId}" />
						</p:selectOneMenu>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="somZLTypZlecenia"
							value="#{dic.LBL10225_typ_zlecenia}" />
					</p:column>

					<p:column colspan="2">
						<p:selectOneMenu id="somZLTypZlecenia"
							value="#{zleceniaBean.noweZlecenieWyk.tzlId}"
							style="width: 300px;">

							<f:selectItems value="#{zleceniaBean.typyZlecen}" var="typZlecen"
								itemLabel="#{typZlecen.tzlNazwa}" itemValue="#{typZlecen.tzlId}" />
						</p:selectOneMenu>
					</p:column>
				</p:row>

				<p:row>
					<p:column style="text-align:right">
						<p:selectBooleanCheckbox
							value="#{zleceniaBean.noweZlecenieWyk.zleceniePm}" label="">
							<p:ajax update="somZLOkresPopMies" />
						</p:selectBooleanCheckbox>
					</p:column>
					
					<p:column>
						<p:outputLabel value="#{dic.LBL10233_zlecenie_PM}" />
					</p:column>

					<p:column style="text-align:right">
						<p:selectOneMenu id="somZLOkresPopMies"
							value="#{zleceniaBean.noweZlecenieWyk.okIdPm}"
							disabled="#{not zleceniaBean.noweZlecenieWyk.zleceniePm}">

							<f:selectItems value="#{zleceniaBean.dlgOkresyPM}" var="okresyPM"
								itemLabel="#{okresyPM.okMiesiacLong}"
								itemValue="#{okresyPM.okId}" />
						</p:selectOneMenu>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="somZLKwota" value="#{dic.LBL10026_kwota}" />
					</p:column>

					<p:column colspan="2">
						<p:inputNumber id="somZLKwota"
							value="#{zleceniaBean.noweZlecenieWyk.rwKwota}" required="true"
							label="#{dic.LBL10026_kwota}" style="width: 300px;" />
					</p:column>
				</p:row>

				<p:row styleClass="ctl-error-msg">
					<p:column />

					<p:column colspan="2">
						<p:message for="somZLKwota" display="text" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="calZLDataWyk" value="#{dic.LBL10239_data_wyk}" />
					</p:column>

					<p:column colspan="2">
						<p:calendar id="calZLDataWyk"
							value="#{zleceniaBean.noweZlecenieWyk.rwDataWykonaniaUtl}"
							pattern="dd-MM-yyyy" mask="true" styleClass="ctl-calendar"
							locale="pl" navigator="true" showOtherMonths="true"
							selectOtherMonths="true" yearRange="c-10:c+10"
							style="width: 300px;" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="itZLOpis" value="#{dic.LBL10040_opis}" />
					</p:column>

					<p:column colspan="2">
						<p:inputTextarea id="itZLOpis"
							value="#{zleceniaBean.noweZlecenieWyk.rwOpis}" rows="4"
							style="max-height: 81px;" validatorMessage="#{dic.MSG1047v2}">

							<f:validateLength minimum="30" />

						</p:inputTextarea>
					</p:column>
				</p:row>

				<p:row styleClass="ctl-error-msg">
					<p:column />

					<p:column colspan="2">
						<p:message for="itZLOpis" display="text" />
					</p:column>
				</p:row>


			</p:panelGrid>
			<p:panelGrid styleClass="ctl-dialog-buttons">
				<p:row>
					<p:column colspan="2">
						<p:commandButton value="#{dic.LBL10067_anuluj}"
							oncomplete="PF('dlgDZlecenieWykonania').hide();PF('zlecTableWidget').refreshData();">
							<p:resetInput target="dodajZlecWykForm" />
						</p:commandButton>
					</p:column>

					<p:column>
						<p:commandButton id="okBtn" value="#{dic.LBL10094_zatwierdz}"
							actionListener="#{zleceniaBean.dodajZlecenieWykonania}"
							update="dodajZlecWykForm"
							oncomplete="PF('zlecTableWidget').refreshData();" />
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
	</p:dialog>
</ui:composition>