<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:dialog header="#{dic.LBL10241_nowe_zlec_PK}"
		widgetVar="dlgDZleceniePrzjeciaKosztow" appendTo="@(body)"
		modal="true" closeOnEscape="true" draggable="true" resizable="false"
		id="dlgDZleceniePrzjeciaKosztow" styleClass="ctl-dialog">

		<h:form id="dodajZlecPKForm">
			<p:growl id="rwDGrowl" showDetail="true" sticky="true"
				rendered="#{not facesContext.validationFailed}" />

			<p:panelGrid>
				<p:row>
					<p:column>
						<h:outputLabel for="somZLWystawca"
							value="#{dic.LBL10229_wystawca}" />
					</p:column>

					<p:column colspan="2">
						<p:selectOneMenu id="somZLWystawca"
							value="#{zleceniaBean.noweZlecenieWyk.ceIdK}"
							style="width: 300px;" filter="true" filterMatchMode="contains">

							<f:selectItems value="#{zleceniaBean.aktywneCentra}"
								var="aktywneCe" itemValue="#{aktywneCe.ceId}"
								itemLabel="#{aktywneCe.ceKod} - #{aktywneCe.ceNazwa}" />

							<p:ajax listener="#{zleceniaBean.otZLWystawcaChanged()}"
								update=":dodajZlecPKForm" />
						</p:selectOneMenu>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="somZLAdresat" value="#{dic.LBL10235_adresat}" />
					</p:column>

					<p:column colspan="2">
						<p:selectOneMenu id="somZLAdresat"
							value="#{zleceniaBean.noweZlecenieWyk.ceIdP}"
							style="width: 300px;" filter="true" filterMatchMode="contains">

							<f:selectItems value="#{zleceniaBean.adresaciCentra}"
								var="adresaciCe"
								itemLabel="#{adresaciCe.ceKod} - #{adresaciCe.ceNazwa}"
								itemValue="#{adresaciCe.ceId}" />
						</p:selectOneMenu>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="somZLWKosztRD"
							value="#{dic.LBL10234_w_koszt_rd}" />
					</p:column>

					<p:column colspan="2">
						<p:selectOneMenu id="somZLWKosztRD"
							value="#{zleceniaBean.noweZlecenieWyk.mpkIdK}"
							style="width: 300px;" filter="true" filterMatchMode="contains">

							<f:selectItems value="#{zleceniaBean.mpkKosztRd}" var="kosztRD"
								itemLabel="#{kosztRD.mpkKod} - #{kosztRD.mpkOznaczenie}"
								itemValue="#{kosztRD.mpkId}" />

							<p:ajax listener="#{zleceniaBean.otZLWKosztRDChanged()}"
								update=":dodajZlecPKForm:somZLPrzychodRD" />
						</p:selectOneMenu>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="somZLPrzychodRD"
							value="#{dic.LBL10237_przychod_RD}" />
					</p:column>

					<p:column colspan="2">
						<p:selectOneMenu id="somZLPrzychodRD"
							value="#{zleceniaBean.noweZlecenieWyk.mpkIdP}"
							style="width: 300px;" filter="true" filterMatchMode="contains">

							<f:selectItems value="#{zleceniaBean.mpkPrzychodRd}"
								var="przychodRD"
								itemLabel="#{przychodRD.mpkKod} - #{przychodRD.mpkOznaczenie}"
								itemValue="#{przychodRD.mpkId}" />
						</p:selectOneMenu>
					</p:column>
				</p:row>

				<p:row>
					<p:column style="text-align:right">
						<p:selectBooleanCheckbox
							value="#{zleceniaBean.noweZlecenieWyk.zleceniePm}" label="">
							<p:ajax update="somZLOkresPopMies" />
						</p:selectBooleanCheckbox>
					</p:column>
					
					<p:column>
						<p:outputLabel value="#{dic.LBL10233_zlecenie_PM}" />
					</p:column>

					<p:column style="text-align:right">
						<p:selectOneMenu id="somZLOkresPopMies"
							value="#{zleceniaBean.noweZlecenieWyk.okIdPm}"
							disabled="#{not zleceniaBean.noweZlecenieWyk.zleceniePm}">

							<f:selectItems value="#{zleceniaBean.dlgOkresyPM}" var="okresyPM"
								itemLabel="#{okresyPM.okMiesiacLong}"
								itemValue="#{okresyPM.okId}" />
						</p:selectOneMenu>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="somZLKwota" value="#{dic.LBL10026_kwota}" />
					</p:column>

					<p:column colspan="2">
						<p:inputNumber id="somZLKwota"
							value="#{zleceniaBean.noweZlecenieWyk.rwKwota}" required="true"
							label="#{dic.LBL10026_kwota}" />
					</p:column>
				</p:row>

				<p:row styleClass="ctl-error-msg">
					<p:column />

					<p:column colspan="2">
						<p:message for="somZLKwota" display="text" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="calZLDataWyk" value="#{dic.LBL10239_data_wyk}" />
					</p:column>

					<p:column colspan="2">
						<p:calendar id="calZLDataWyk"
							value="#{zleceniaBean.noweZlecenieWyk.rwDataWykonaniaUtl}"
							pattern="dd-MM-yyyy" mask="true" styleClass="ctl-calendar"
							style="width: 300px;" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="itZLOpis" value="#{dic.LBL10040_opis}" />
					</p:column>

					<p:column colspan="2">
						<p:inputTextarea id="itZLOpis"
							value="#{zleceniaBean.noweZlecenieWyk.rwOpis}" rows="4"
							style="max-height: 81px;"
							validatorMessage="#{dic.MSG1047v2}">

							<f:validateLength minimum="30" />
						</p:inputTextarea>
					</p:column>
				</p:row>

				<p:row styleClass="ctl-error-msg">
					<p:column />

					<p:column colspan="2">
						<p:message for="itZLOpis" display="text" />
					</p:column>
				</p:row>
			</p:panelGrid>
			
			<p:panelGrid styleClass="ctl-dialog-buttons">
				<p:row>
					<p:column colspan="2">
						<p:commandButton value="#{dic.LBL10067_anuluj}"
							oncomplete="PF('dlgDZleceniePrzjeciaKosztow').hide();PF('zlecTableWidget').refreshData();">
							<p:resetInput target="dodajZlecPKForm" />
						</p:commandButton>
					</p:column>

					<p:column>
						<p:commandButton id="okBtn" value="#{dic.LBL10094_zatwierdz}"
							actionListener="#{zleceniaBean.dodajZleceniePK}"
							update="dodajZlecPKForm"
							oncomplete="PF('zlecTableWidget').refreshData();" />
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
	</p:dialog>
</ui:composition>