<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:dialog header="#{zleceniaBean.dlgTytul}"
		widgetVar="dlgMZlecenieWlasne" appendTo="@(body)" modal="true"
		closeOnEscape="true" draggable="true" resizable="false"
		id="dlgMZlecenieWlasne" classStyle="ctl-dialog"
		style="max-width:600px;">

		<h:form id="modyfikujZlecForm">

			<p:growl id="growl" showDetail="true"
				rendered="#{not facesContext.validationFailed}" />

			<p:panelGrid>
				<p:row styleClass="ctl-error-msg">
					<p:column colspan="3">
						<p:messages id="messages" showDetail="true" showSummary="false"
							showIcon="false" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel for="otZLTypZlecenia"
							value="#{dic.LBL10225_typ_zlecenia}" />
					</p:column>

					<p:column colspan="2">
						<h:outputText id="otZLTypZlecenia"
							value="#{zleceniaBean.selectedZlecenie.rwTyp}" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel for="otZLWystawca" value="#{dic.LBL10229_wystawca}" />
					</p:column>

					<p:column colspan="2">
						<h:outputText id="otZLWystawca"
							value="#{zleceniaBean.selectedZlecenie.centrumK} #{zleceniaBean.selectedZlecenie.centrumKnazwa}" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel for="otZLWKosztRD" value="#{dic.LBL10224_RD_koszt}" />
					</p:column>

					<p:column colspan="2">
						<h:outputText id="otZLWKosztRD"
							value="#{zleceniaBean.selectedZlecenie.mpkP} - #{zleceniaBean.selectedZlecenie.mpkPopis}" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel for="otZLZleceniobiorca"
							value="#{dic.LBL10230_zleceniobiorca}" />
					</p:column>

					<p:column colspan="2">
						<h:outputText id="otZLZleceniobiorca"
							value="#{zleceniaBean.selectedZlecenie.centrumP} - #{zleceniaBean.selectedZlecenie.centrumPnazwa}" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel for="otZLPrzychodRD"
							value="#{dic.LBL10222_RD_przychod}" />
					</p:column>

					<p:column colspan="2">
						<h:outputText id="otZLPrzychodRD"
							value="#{zleceniaBean.selectedZlecenie.mpkK} - #{zleceniaBean.selectedZlecenie.mpkKopis}" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel for="otZLKwota" value="#{dic.LBL10026_kwota}" />
					</p:column>

					<p:column colspan="2">
						<h:outputText id="otZLKwota"
							value="#{zleceniaBean.selectedZlecenie.rwKwota}">
							<f:convertNumber pattern="#,##0.00" />
						</h:outputText>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel for="otZLDataWys"
							value="#{dic.LBL10231_data_wystawienia}"
							classStyle="ctl-dialog-text" />
					</p:column>

					<p:column colspan="2">
						<h:outputText id="otZLDataWys"
							value="#{zleceniaBean.selectedZlecenie.rwDataWystawienia}" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel for="otZLdataPrzyj"
							value="#{dic.LBL10232_data_przyjecia}" />
					</p:column>

					<p:column colspan="2">
						<h:outputText id="otZLdataPrzyj"
							value="#{zleceniaBean.selectedZlecenie.rwDataWystawienia}" />
					</p:column>
				</p:row>

				<p:row style="max-height:81px;width: 250px;">
					<p:column>
						<p:outputLabel for="otZLOpis" value="#{dic.LBL10040_opis}" />
					</p:column>

					<p:column colspan="2">
						<h:outputText id="otZLOpis"
							style="width: 100px;white-space: normal"
							value="#{zleceniaBean.selectedZlecenie.rwOpis}" />
					</p:column>
				</p:row>

				<p:row styleClass="ctl-empy-row">
					<p:column />
				</p:row>

				<p:row rendered="#{zleceniaBean.dlgRenderedOkresPM}">
					<p:column style="text-align:right">
						<p:selectBooleanCheckbox value="#{zleceniaBean.dlgZLPM}" label="">
							<p:ajax update="somZLOkresPopMies" />
						</p:selectBooleanCheckbox>
					</p:column>

					<p:column>
						<p:outputLabel value="#{dic.LBL10233_zlecenie_PM}" />
					</p:column>

					<p:column style="text-align:right">
						<p:selectOneMenu id="somZLOkresPopMies"
							value="#{zleceniaBean.dlgOkPMIdF}" style="width: 100px;"
							disabled="#{not zleceniaBean.dlgZLPM}">

							<f:selectItems value="#{zleceniaBean.dlgOkresyPM}" var="okresyPM"
								itemLabel="#{okresyPM.okMiesiacLong}"
								itemValue="#{okresyPM.okId}" />
						</p:selectOneMenu>
					</p:column>
				</p:row>

				<p:row style="text-align:center;"
					rendered="#{zleceniaBean.dlgRenderedTekst}">
					<p:column colspan="3">
						<h:outputText id="otZLPytanie" value="#{zleceniaBean.dlgTekst}"
							styleClass="ctl-wazny-tekst" />
					</p:column>
				</p:row>

				<p:row style="text-align: center"
					rendered="#{zleceniaBean.dlgRenderedTekstPK}">
					<p:column colspan="3">
						<h:outputText id="otZLPytaniePK"
							value="#{zleceniaBean.dlgTekstPK}" />
					</p:column>
				</p:row>

				<p:row rendered="#{zleceniaBean.dlgRenderedKwota}">
					<p:column>
						<p:outputLabel for="otZLKwotaProp"
							value="#{dic.LBL10216_kwota_prop}" />
					</p:column>

					<p:column>
						<p:inputNumber id="otZLKwotaProp"	value="#{zleceniaBean.dlgKwota}" />
					</p:column>
				</p:row>

				<p:row rendered="#{zleceniaBean.dlgRenderedKwotaProponowana}">
					<p:column>
						<p:outputLabel for="otZLKwotaP" value="#{dic.LBL10216_kwota_prop}" />
					</p:column>

					<p:column colspan="2">
						<h:outputText id="otZLKwotaP"
							value="#{zleceniaBean.selectedZlecenie.rwKwotaProponowana}">
							<f:convertNumber pattern="#,##0.00" />
						</h:outputText>
					</p:column>
				</p:row>

				<p:row rendered="#{zleceniaBean.dlgRenderedCentrum}">
					<p:column>
						<p:outputLabel for="somZLPrzepnij"
							value="#{dic.LBL10220_do_centrum}" />
					</p:column>

					<p:column colspan="2">
						<p:selectOneMenu id="somZLPrzepnij"
							value="#{zleceniaBean.dlgCeDoF}" style="width: 300px;">

							<f:selectItems value="#{zleceniaBean.adresaciCentra}"
								var="adresaciCe"
								itemLabel="#{adresaciCe.ceKod} - #{adresaciCe.ceNazwa}"
								itemValue="#{adresaciCe.ceId}" />
						</p:selectOneMenu>
					</p:column>
				</p:row>
			</p:panelGrid>

			<p:panelGrid styleClass="ctl-dialog-buttons">
				<p:row>
					<p:column style="width:60px">
						<p:commandButton value="#{zleceniaBean.cancel}"
							oncomplete="PF('dlgMZlecenieWlasne').hide();PF('zlecTableWidget').refreshData();">
							<p:resetInput target="dodajZlecWykForm" />
						</p:commandButton>
					</p:column>

					<p:column style="width:60px">
						<p:commandButton id="okBtn" value="#{zleceniaBean.confirm}"
							actionListener="#{zleceniaBean.dlgMZlZatwierdz}"
							update="modyfikujZlecForm"
							oncomplete="PF('zlecTableWidget').refreshData();"/>
					</p:column>
				</p:row>

			</p:panelGrid>
			
		</h:form>
	</p:dialog>
</ui:composition>