<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

 <h:form id ="szczegolyDelPowForm">

	<p:dialog widgetVar="szczegolyDelPowDlg" width="800" height="600"
		id="szczegolyDelPowDlgId" appendTo="@(body)" modal="true"
		closeOnEscape="true" draggable="true" resizable="false">

		<f:facet name="header">
				
			<p:panelGrid>

				<p:column styleClass="w100p">
					<h:outputText value="Szczegóły delegacji powiązanej" />
				</p:column>

				<p:column styleClass="r10">

					<p:commandButton id="btAnuluj" value="#{dic.EGR70017_anuluj}"
						styleClass="btnDlg" process="@this"
						oncomplete="PF('szczegolyDelPowDlg').hide();">
					</p:commandButton>

				</p:column>

			</p:panelGrid>
			 			
		</f:facet>

		<p:panelGrid
			rendered="#{delegacjaMFBean.wniosekDelegacjaPowiazana !=null}">
			<p:row>
				<p:column>
					<p:outputLabel value="Nr delegacji: " />
				</p:column>
				<p:column style="width: 140px">
					<p:inputText
						value="#{delegacjaMFBean.wniosekDelegacjaPowiazana.wndNumer}"
						readonly="true" />
				</p:column>
				<p:column>
					<p:outputLabel value="Szkoleniowa"
						rendered="#{delegacjaMFBean.wniosekDelegacjaPowiazana.wndFCzySzkolenie eq 'T'}" />
					<p:outputLabel value="Dotyczy projektu"
						rendered="#{delegacjaMFBean.wniosekDelegacjaPowiazana.wndPole10 eq 'T'}" />
					<p:outputLabel value="Bezkosztowa"
						rendered="#{delegacjaMFBean.wniosekDelegacjaPowiazana.wndPole08 eq 'T'}" />
				</p:column>
			</p:row>

			<p:row>
				<p:column>
					<p:outputLabel value="Termin delegacji:" />
				</p:column>

				<p:column>
					<p:outputLabel value="Od:  " /> #{delegacjaMFBean.wniosekDelegacjaPowiazana.wndDataWyjazdu}
				</p:column>
				<p:column>
					<p:outputLabel value="   Do:  " /> #{delegacjaMFBean.wniosekDelegacjaPowiazana.wndDataPowrotu}
				</p:column>
			</p:row>

			<p:row>
				<p:column>
					<p:outputLabel value="Opis celu delegacji: " />
				</p:column>
				<p:column>
					#{delegacjaMFBean.wniosekDelegacjaPowiazana.wndOpis}	
				</p:column>
			</p:row>
		</p:panelGrid>
		<p:panelGrid>

			<p:row>
				<p:column style="width: 140px">
					<p:outputLabel value="Miejscowości: " />
				</p:column>
				#{delegacjaMFBean.cacheLoadSqlData('PP_DLG_KRAJE','SELECT * FROM CSS_KRAJE', [])}

				<ui:repeat var="city"
					value="#{delegacjaMFBean.wniosekDelegacjaPowiazana.deltCeleDelegacjis}">
					<p:column>
						#{city.cdelMiejscowosc}, &#160; #{delegacjaMFBean.getSql('PP_DLG_KRAJE').find(city.cdelKrId).get('KR_NAZWA').concat('&#160;  &#160;  &#160;')}
					</p:column>

				</ui:repeat>
			</p:row>
		</p:panelGrid>
		<p:panelGrid>

			<p:row>
				<p:column style="width: 140px">
					<p:outputLabel value="Środki lokomocji: " />
				</p:column>

				<ui:repeat var="slok" varStatus="status"
					value="#{delegacjaMFBean.wniosekDelegacjaPowiazana.deltSrodkiLokomocjis}">
					<p:column>
						#{status.last ? slok.slokOpisSrodkaLokomocji : slok.slokOpisSrodkaLokomocji.concat(', &#160;') }
					</p:column>
				</ui:repeat>
			</p:row>
		</p:panelGrid>
		<p:panelGrid>

			<p:row>
				<p:column style="width: 140px">
					<p:outputLabel value="Zapraszający: " />
				</p:column>

				<ui:repeat var="zapr" varStatus="status"
					value="#{delegacjaMFBean.wniosekDelegacjaPowiazana.deltZapraszajacys}">
					<p:column>
						#{status.last ? zapr.zaprOpis : zapr.zaprOpis.concat(', &#160;')}
					</p:column>

				</ui:repeat>
			</p:row>
		</p:panelGrid>
		<p:panelGrid>
			<p:row>
				<p:column style="width: 140px">
					<p:outputLabel value="Projekty: " />
				</p:column>

				<ui:repeat var="proj" varStatus="status"
					value="#{delegacjaMFBean.wniosekDelegacjaPowiazana.deltProjektys}">
					<p:column>
						#{status.last ? proj.projOpis : proj.projOpis.concat(', &#160;') }
					</p:column>

				</ui:repeat>
			</p:row>

			<p:row>
				<p:column>
					<p:outputLabel value="Uwagi:  " />
				</p:column>
				<p:column>
					#{delegacjaMFBean.wniosekDelegacjaPowiazana.wndUwagi}	
				</p:column>
			</p:row>

		</p:panelGrid>

	</p:dialog>
	 
</h:form>

</ui:composition>