<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

	<p:dialog widgetVar="dlgWartoscStawkiEdycja" height="300" width="420"
		id="dlgWartoscStawkiEdycjaId" appendTo="@(body)" modal="true"
		closeOnEscape="true" draggable="true" resizable="false"
		>

		<f:facet name="header">

			<h:form id="dlgRodzajeKosztowForm">

				<p:panelGrid>

					<p:column styleClass="w100p">
						<h:outputText
							value="Nowa wartość stawki  #{stawkiDelegacjiBean.currentDelWartosciStawek.wstTypDiety eq 'H' ? 'hotelowej' : 'pobytowej'}"/>
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							icon="clear" onclick="PF('dlgWartoscStawkiEdycja').hide();">
						</p:commandButton>
					</p:column>

				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="noweWartosciStawekId" styleClass="noweWartosciStawek">
		    
			<cc:cLOVMDesign label="Kraj" update="@(.dostepPrzycisku)"
				 datasource="#{stawkiDelegacjiBean.getLW('PPL_WSP_KRAJE')}"
				 value="#{stawkiDelegacjiBean.currentDelWartosciStawek.wstKrId}"
				 lovTextFormat="%2$s"
				 lovDlgTitle="Kraje"
			/>

			<cc:cInputNumberMDesign label="Kwota"
				value="#{stawkiDelegacjiBean.currentDelWartosciStawek.wstKwota}" decimalPlaces="2">
			 
			 	<p:ajax event="change" update="@(.dostepPrzycisku)"/>
			</cc:cInputNumberMDesign>

			<cc:cLOVMDesign label="Waluta" update="@(.dostepPrzycisku)"
				datasource="#{stawkiDelegacjiBean.getLW('PPL_SYMBOLE_WALUT')}"
				value="#{stawkiDelegacjiBean.currentDelWartosciStawek.wstWalId}"
				valueFormat="%1$s" lovTextFormat="%2$s"
				lovDlgTitle="Waluty"
				tooltip="Waluta stawki (przy wprowadzaniu kolejnych podpowiadana poprzednia wartość)"
			/>

			<cc:cCalendarMDesign
			 	styleClass="clndr-ie" 
			 	label="Obowiązuje od" 
			 	updateOnDateSelect="@(.dostepPrzycisku)"
				value="#{stawkiDelegacjiBean.currentDelWartosciStawek.wstObowiazujeOd}"
				tooltip="Data od której obowiązuje stawka (przy wprowadzaniu kolejnych podpowiadana poprzednia wartość)" 
			/>

		</h:form>

		<f:facet name="footer">
			<h:form id="dlgWartoscStawkiEdycjaFooter">
				<div class="dlgBottomBtnsBar">
					<h:panelGroup>
						<p:row>
							<p:column>
							
								<ui:param name="Kraj" value="#{stawkiDelegacjiBean.currentDelWartosciStawek.wstKrId}" />
								<ui:param name="Waluta" value="#{stawkiDelegacjiBean.currentDelWartosciStawek.wstWalId}" />
								<ui:param name="Kwota" value="#{stawkiDelegacjiBean.currentDelWartosciStawek.wstKwota}" />
								<ui:param name="Data" value="#{stawkiDelegacjiBean.currentDelWartosciStawek.wstObowiazujeOd}" />
							
								<p:commandButton value="DODAJ" styleClass="dostepPrzycisku"
									action="#{stawkiDelegacjiBean.addDelWartosciStawek()}"
									partialSubmit="true" process="@form noweWartosciStawekId"
									update="@(.wartoscStawek) @(.wartoscStawekH)"
									onstart="hgon()" oncomplete="PF('dlgWartoscStawkiEdycja').hide(); hgoff();"
									disabled="#{empty Kraj or empty Waluta or empty Data or empty Kwota}"
								/>

							</p:column>
						</p:row>
					</h:panelGroup>
				</div>
			</h:form>
		</f:facet>

	</p:dialog>

</ui:composition>