<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

	<ui:param name="pkl" value="#{delegacjaKRBean.currentPkl}"/>


	<p:dialog
			id="dlgZrKrFinId"
			widgetVar="dlgZrKrFin"
			height="600"
			width="1100"
			appendTo="@(body)"
			modal="false"
			closeOnEscape="true"
			draggable="true"
			resizable="false">

		<f:facet name="header">

			<h:form id="dlgZrKrFinForm">

				<p:panelGrid>

					<p:column styleClass="w100p">
						<h:outputText value="Źródła finansowania /
						#{delegacjaKRBean.getTpozIdByKtgDiety('P') eq pkl.pklTpozId  ?
						'Diety pobytowe' : delegacjaKRBean.getTpozIdByKtgDiety('H') eq pkl.pklTpozId  ?
						'Diety hotelowe' : 'Pozostałe koszty' } / #{pkl.pklKwotaMf} PLN
						">
						</h:outputText>
					</p:column>
					
					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" 
							styleClass="btnDlg" 
							process="@this"
							icon="clear"  
							oncomplete="PF('dlgZrKrFin').hide();">
						</p:commandButton>
					</p:column>

				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="zrFinLista" styleClass="zrFinLista ui-g w100p ov-y-auto">

			<div class="ui-g-12">
				<p:outputLabel for="@parent" value="Źródło finansowania (skrócona nazwa)" styleClass="fs18 ui-g-7 pt0 pb0"/>
				<p:outputLabel for="@parent" value="Procent" styleClass="fs18 ui-g-2 pt0 pb0 right"/>
				<p:outputLabel for="@parent" value="Kwota" styleClass="fs18 ui-g-2 pt0 pb0 right"/>
			</div>

			<div class="ui-g-12 p0" style="overflow-y: auto; height: 535px!important; min-height: 535px!important; max-height: 535px!important;">

				<ui:repeat value="#{pkl.deltZrodlaFinansowanias}" var="zf">

					<p:separator styleClass="ui-g-12 p0 m0 mb20"/>

					<div class="ui-g-12 p0 mh30 ui-g-v-center">

						<c:cLovJS
								styleClass="ui-g-7  #{zf.pkzfSkId == null ? 'red-placeholder' : ''}"
								datasource="#{delegacjaKRBean.getLW('PPL_DEL_ZRODLA_FIN')}"
								placeholder="wybierz źródło finansowania"
								width="100%"
								lovDlgTitle="Stanowiska kosztów"
								lovTextFormat="%3$s"
								value="#{zf.pkzfSkId}"
								process="@this"
								update="@form @(.cc-btn-zf)"
								readonly="#{pkl.blokujPklPoWyplacieNZ()}"
						/>

						<c:cInputNumber
								styleClass="ui-g-2"
								value="#{zf.pkzfProcent}"
								symbol="%"
								readonly="#{pkl.blokujPklPoWyplacieNZ()}"
								update="@form @(.cc-btn-zf)"
						/>

						<c:cInputNumber
								styleClass="ui-g-2"
								id="zfKwota"
								title="Pozostała kwota do podziału: #{pkl.pklKwotaMf - delegacjaKRBean.sumaKwotZf(pkl)} PLN"
								value="#{zf.pkzfKwota}"
								symbol=" PLN"
								readonly="#{'WNK' eq pkl.deltKalkulacje.kalRodzaj or pkl.blokujPklPoWyplacieNZ()}"
								update="@form @(.cc-btn-zf)"
						/>

						<p:commandButton
								styleClass="ui-g-1 p0 center"
								icon="delete"
								title="usuń pozycję źródła finansowania (oraz jej wnioski o zaangażowanie)"
								action="#{pkl.removeDeltZrodlaFinansowania(zf)}"
								disabled="#{pkl.blokujPklPoWyplacieNZ()}"
								update="@form @(.cc-btn-zf)"
						/>

					</div>

					<div class="ui-g-1"></div>

					<h:panelGroup id="angaze" styleClass="ui-g-11 mt20" layout="block">

						<div class="ui-g-12 p0 mh30 ui-g-v-center">
							<p:outputLabel for="@parent" value="Wniosek o angaż" styleClass="ui-g-6"/>
							<p:outputLabel for="@parent" value="Procent w. ang." styleClass="ui-g-2 right"/>
							<p:outputLabel for="@parent" value="Kwota w. ang." styleClass="ui-g-2 right"/>
						</div>
						<ui:repeat value="#{zf.delAngazes}" var="an" varStatus="status">

							<div class="ui-g-12 p0 mh30 ui-g-v-center">

								<c:cLovJS
										styleClass="ui-g-6 angLov#{status.index} #{an.angWnrId == null ? 'red-placeholder' : ''}"
										placeholder="wybierz wniosek o zaangażowanie"
										datasource="#{delegacjaKRBean.getLW('PPL_DEL_ZAANGAZOWANIE_ZF')}"
										lovDlgTitle="Wnioski o angaż"
										lovTextFormat="%6$s"
										value="#{an.angWnrId}"
										readonly="#{pkl.blokujPklPoWyplacieNZ()}"
										update="@form @(.cc-btn-zf)"
								/>

								<c:cInputNumber
										styleClass="angazeProcent ui-g-2"
										value="#{an.angProcent}"
										symbol=" %"
										readonly="#{pkl.blokujPklPoWyplacieNZ()}"
										update="@form @(.cc-btn-zf)"
								/>

								<c:cInputNumber
										id="anKwota"
										styleClass="angazeKwota#{status.index} ui-g-2"
										value="#{an.angKwota}"
										symbol="#{waluta}"
										readonly="#{pkl.blokujPklPoWyplacieNZ()}"
										title="Pozostała kwota do podziału : #{zf.pkzfKwota - delegacjaMFBean.sumaKwotAngazy(zf)} #{waluta}"
										update="@form @(.cc-btn-zf)"
								/>

								<p:commandButton
										icon="delete"
										value=""
										styleClass="ui-g-1"
										title="usuń pozycję wniosku o zaangażowanie (id: #{an.angId})"
										action="#{zf.removeDelAngaze(an)}"
										partialSubmit="true"
										disabled="#{pkl.blokujPklPoWyplacieNZ()}"
										rocess="@parent @this"
										update="@form @(.cc-btn-zf)"
								/>

							</div>

						</ui:repeat>

						<div class="ui-g-12 p0 mh30 ui-g-v-center mt10">

							<div class="ui-g-2 p0">

								<cc:cLovButtonJS
										styleClass="granatowy p2 pr10"
										icon="add"
										value="dodaj wniosek ..."
										lovDlgTitle="Wnioski o angaż"
										title="dodaj pozycję z wniosekiem o zaangażowanie środków"
										datasource="#{delegacjaKRBean.getLW('PPL_DEL_ZAANGAZOWANIE_ZF')}"
										rowSelectedAction="#{zf.dodajAngaz}"
										readonly="#{pkl.blokujPklPoWyplacieNZ()}"
										update="@form @(.cc-btn-zf)"
								/>

							</div>

							<p:outputLabel
									styleClass="ui-g-4 right"
									value="Razem wnioski o angaż:"
							/>

							<c:cInputNumber
									inputStyle="color: #{100 eq zf.deltAngazesProcentSuma ? 'gray': 'red' }!important;"
									styleClass="ui-g-2 f16"
									title="razem procent z pozycji źródeł finasowania"
									value="#{zf.deltAngazesProcentSuma}"
									symbol=" %"
									symbolPosition="s"
									decimalPlaces="2"
									readonly="true"
							/>

							<c:cInputNumber
									styleClass="ui-g-2 fs16"
									inputStyle="color: #{zf.deltAngazesKwotaSuma eq zf.pkzfKwota ? 'gray': 'red' }!important;"
									title="suma kwot z pozycji źródeł finasowania"
									value="#{zf.deltAngazesKwotaSuma}"
									symbol=" PLN"
									symbolPosition="s"
									decimalPlaces="2"
									readonly="true"
							/>

						</div>

					</h:panelGroup>

					<div class="ui-g-12 p0 mb30"></div>

				</ui:repeat>
			</div>

			<p:separator styleClass="ui-g-12 p0 m0"/>
		
			<div class="ui-g-12 p0 pt10 pb10 ui-g-v-center">

				<div class="ui-g-7 p0">

                    <cc:cLovButtonJS
                            icon="add"
                            styleClass="granatowy center"
                            value="DODAJ ŹRÓDŁO FINANSOWANIA ..."
							lovDlgTitle="Stanowiska kosztów"
                            title="dodaj pozycję źródła finansowania"
                            datasource="#{delegacjaKRBean.getLW('PPL_DEL_ZRODLA_FIN')}"
                            rowSelectedAction="#{delegacjaKRBean.currentPkl.dodajZF}"
							readonly="#{pkl.blokujPklPoWyplacieNZ()}"
                    />

				</div>

				<p:inputNumber
						inputStyle="color: #{100 eq pkl.deltZrodlaFinansowaniasProcentSuma ? 'gray': 'red' }!important;"
						styleClass="ui-g-2 p0 pl10 pr10  right fs20"
						title="razem procent z pozycji źródeł finasowania"
						value="#{pkl.deltZrodlaFinansowaniasProcentSuma}"
						symbol=" %"
						symbolPosition="s"
						decimalPlaces="2"
						readonly="true"
				/>

				<p:inputNumber
						styleClass="ui-g-2 p0 pl10 pr10 right fs20"
						inputStyle="color: #{pkl.deltZrodlaFinansowaniasKwotaSuma eq pkl.pklKwotaMf ? 'gray': 'red' }!important;"
						title="suma kwot z pozycji źródeł finasowania"
						value="#{pkl.deltZrodlaFinansowaniasKwotaSuma}"
						symbol=" PLN"
						symbolPosition="s"
						decimalPlaces="2"
						readonly="true"
				/>

			</div>

				
		</h:form>

	</p:dialog>

</ui:composition>