<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:i="http://java.sun.com/jsp/jstl/core"
	xmlns:egr="http://egr.egeria.comarch.com/facelets"
	>



<cc:interface>
	<cc:attribute name="id"/>
	

	
	<cc:attribute name="dateFormat" default="yyyy-MM-dd" />
	
	<cc:attribute name="value" type="java.util.Date" />
	<cc:attribute name="label" type="java.lang.String" default=""/>
	<cc:attribute name="placeholder"/>
	<cc:attribute name="tooltip" />
	
	<cc:attribute name="minDate" type="java.util.Date" />
	<cc:attribute name="maxDate" type="java.util.Date" />
	
	<cc:attribute name="readonly" default="false" type="java.lang.Boolean" />
	
	<cc:attribute name="required" default="false" type="java.lang.Boolean" />
	<cc:attribute name="requiredJ" default="false" type="java.lang.Boolean" />
		
	<cc:attribute name="rendered"/>
	
	<cc:attribute name="renderKU" type="java.lang.Boolean" default="true"
				shortDescription="Czy na danej kontrolce ma być możliwość ustawienia uprawnień przez administratora" />
	
	<cc:attribute name="width" />
<!-- 	<cc:attribute name="widgetVar" /> -->
	
	<cc:attribute name="styleClass"  type="java.lang.String" />
	
	<cc:attribute name="updateOnDateSelect"  required="false"/>
	
	
	
	<cc:attribute name="yearRange" default="c-10:c+10"/>
	
	<cc:attribute name="timeInput" default="false" type="java.lang.Boolean" shortDescription="Allows direct input in time field. Default is false."/>
	
	<cc:attribute name="icon" type="java.lang.String" shortDescription="Lista icon na stronie: https://material.io/icons/ Należy podać nazwę, na przykład 'euro_symbol' "/>
	
	<cc:attribute name="mask" default="9999-99-99" type="java.lang.String"
					shortDescription="Maska pola tekstowego kalendarza. Wartością domyślną jest 9999-99-99"/>
					
	<cc:attribute name="process" type="java.lang.String"/>
					
	<cc:attribute name="requiredMessage" type="java.lang.String"/>	
	<cc:attribute name="validatorMessage" default="Podana data jest niepoprawna" type="java.lang.String"
					shortDescription="Komunikat który pojawi się jeżeli wpisana data nie przejdzie walidacji."/>
	<cc:attribute name="converterMessage" default="Podana data jest niepoprawna" type="java.lang.String"
					shortDescription="Komunikat który pojawi się jeżeli wpisana data nie przejdzie konwersji. Na przykład data 2017-01-40"/>
					
<!-- 	<cc:clientBehavior name="change" targets="inp" event="valueChange" /> -->
	<cc:attribute name="valueChangeListener" method-signature="java.lang.Object valueChange(javax.faces.event.ValueChangeEvent)" required="false" default="null" />

	<cc:clientBehavior name="dateSelect" targets="cal" event="dateSelect" />
	<cc:clientBehavior name="keyup" targets="cal" event="keyup" />
	
	<cc:attribute name="mode" default="popup"/>

	<cc:attribute name="ajax" type="java.lang.Boolean" default="true" /> <!-- uwaga: default="true" ze względu na zgodnośc wsteczną /<cc:attribute name="submitOnChange" default="true" type="java.lang.Boolean" />-->

	<cc:attribute name="title" type="java.lang.String" default=""/>

</cc:interface>

<cc:implementation>
	<ui:fragment rendered="#{cc.attrs.rendered and !kontrolaUprawnien.kuIsHidden(cc.clientId)}">
		<h:outputStylesheet name="cc-mdesign.css" library="css" />

		<div id="#{cc.clientId}"  
			class="cc-mdesign  #{ cc.attrs.styleClass }"
			onclick=" if (! $( jq('#{cc.clientId}:cal_input')).is(':focus')  ) $( jq('#{cc.clientId}:cal_input') ).focus(); "
			style="position:relative;"
			>

		<p:tooltip for="#{cc.clientId}" value="#{cc.attrs.tooltip}" rendered="#{cc.attrs.tooltip ne null}"/>
				
		
			<div class="#{ (cc.attrs.readonly or cc.attrs.disabled or kontrolaUprawnien.kuIsReadOnly(cc.clientId)) ? 'calc-label-disabled' : 'calc-label' }" 	  
				 style="position:relative; 
		  				margin-bottom:0px;
		  				box-sizing:border-box; 
		  				padding: 0 10px 0 10px;
		  				#{cc.attrs.icon != null ? 'margin-left:25px;' : ''} #{not empty cc.attrs.label ? 'margin-top: 25px;': 'margin-top: 10px;'}
		  			   "
	  		>
				
				<ui:fragment rendered = "#{cc.attrs.readonly or kontrolaUprawnien.kuIsReadOnly(cc.clientId)}">
				   <ui:include	src="/resources/components/cCalendarMDesignReadonlyPart.xhtml" />
				</ui:fragment>
				
				<ui:fragment rendered = "#{!cc.attrs.readonly and !kontrolaUprawnien.kuIsReadOnly(cc.clientId)}">
				   <ui:include	src="/resources/components/cCalendarMDesignPart.xhtml" />
				</ui:fragment>
				
				
<!-- 				<ui:include	 src="/resources/components/cCalendarMDesign#{(cc.attrs.readonly) ?'Readonly':''}Part.xhtml" /> -->
				
				<span style="width: 100%" class="bar"></span>
				
				
				<p:outputLabel 
						value = "#{cc.attrs.label}" 
						rendered="#{not empty cc.attrs.label}">
					<ui:fragment rendered="#{cc.attrs.required or cc.attrs.requiredJ}">
						<ui:include src="/resources/components/cReqrIndctr.xhtml" />
					</ui:fragment>
				</p:outputLabel>
				
				<p:tooltip rendered="#{empty cc.attrs.label and cc.attrs.required eq true}" for="#{cc.attrs.label eq ''? cc.clientId:rqrdIndctr}" value="Pole jest wymagane."/>
				
				<ui:fragment rendered="#{cc.attrs.icon != null}">
					<ui:include src="/resources/components/cIcon.xhtml" />
				</ui:fragment>
				
				
			</div>

			<ui:include src="#{cc.attrs.renderKU and user.renderKU and kontrolaUprawnien.viewRenderKU ? '/resources/components/cKuBtnPart.xhtml' : ''}" />
			
<!-- 			<p:commandButton value="test" onclick="alert('#{cc.clientId}')"/> -->
		</div>
		
		
		
		
		
	</ui:fragment>
</cc:implementation>


</html>
