<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:i="http://java.sun.com/jsp/jstl/core">

<h:body>

	<p:inputText id="calReadonly" required="#{cc.attrs.required}"
		style="max-width:#{cc.attrs.width}px;"
		placeholder="#{cc.attrs.required ? 
							cc.attrs.label ne '' ? cc.attrs.placeholder : (cc.attrs.placeholder).concat('*') : 
							cc.attrs.placeholder}"
		readonly="true" value="#{cc.attrs.value}">

		<f:convertDateTime pattern="#{cc.attrs.dateFormat}" />
	</p:inputText>

</h:body>

</html>