<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:i="http://java.sun.com/jsp/jstl/core">

<h:body>

	<p:calendar id="cal" 
		locale="pl"
		mode="#{cc.attrs.mode}"
		required="#{cc.attrs.required}"
		yearRange="#{cc.attrs.yearRange}"
		onfocus="triggerMDesignEffects($(this).parent());" 
		
		styleClass="clndr" 
		pattern="#{cc.attrs.dateFormat}"
		timeInput="#{cc.attrs.timeInput}" 
		value="#{cc.attrs.value}"
		placeholder="#{cc.attrs.required ? 
							cc.attrs.label ne '' ? cc.attrs.placeholder : (cc.attrs.placeholder).concat('*') : 
							cc.attrs.placeholder}"
		navigator="true" 
		showOn="button" 
		mindate="#{cc.attrs.minDate}"
		maxdate="#{cc.attrs.maxDate}" 
		title="#{cc.attrs.title}"
		mask="#{cc.attrs.mask}"
		validatorMessage="#{cc.attrs.validatorMessage}"
		converterMessage="#{cc.attrs.converterMessage}"
		requiredMessage="#{ cc.attrs.requiredMessage == null 
								? 'Pole \''.concat(not empty cc.attrs.label? cc.attrs.label :cc.attrs.placeholder).concat('\' jest wymagane.') 
								: cc.attrs.requiredMessage}"
		>





		<i:if test="#{(true eq cc.attrs.ajax or (cc.attrs.ajax==null and true eq ccMDesignAjaxDefault))}" >
			<p:ajax event="dateSelect" partialSubmit="true" process="#{cc.clientId}" listener="#{cc.attrs.valueChangeListener}" update="#{cc.attrs.updateOnDateSelect}"/>
			<p:ajax event="valueChange" partialSubmit="true" process="#{cc.clientId}" listener="#{cc.attrs.valueChangeListener}" update="#{cc.attrs.updateOnDateSelect}"/>
		</i:if>
		
	</p:calendar>
</h:body>

</html>