<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:i="http://java.sun.com/jsp/jstl/core"
	>



<cc:interface>

	<cc:attribute name="dateFormat" default="yyyy-MM-dd" />
	
	<cc:attribute name="value" type="java.util.Date" />
	<cc:attribute name="label" type="java.lang.String" />
	<cc:attribute name="placeholder" 	type="java.lang.String"/>
	<cc:attribute name="title" 			type="java.lang.String"/>
	
	<cc:attribute name="minDate" type="java.util.Date" />
	<cc:attribute name="maxDate" type="java.util.Date" />
	
	<cc:attribute name="readonly" default="false" type="java.lang.Boolean" />
	<cc:attribute name="required" default="false" type="java.lang.Boolean" />
	
	<cc:attribute name="width" />
	
	<cc:attribute name="updateOnDateSelect"  required="false"/>
	
	<cc:attribute name="yearRange" default="c-10:c+10"/>
	
	<cc:attribute name="mask" default="9999-99-99" type="java.lang.String"
					shortDescription="Maska pola tekstowego kalendarza. Wartością domyślną jest 9999-99-99"/>
					
	<cc:attribute name="validatorMessage" default="Podana data jest niepoprawna" type="java.lang.String"
					shortDescription="Komunikat który pojawi się jeżeli wpisana data nie przejdzie walidacji."/>
	<cc:attribute name="converterMessage" default="Podana data jest niepoprawna" type="java.lang.String"
					shortDescription="Komunikat który pojawi się jeżeli wpisana data nie przejdzie konwersji. Na przykład data 2017-01-40"/>

    <cc:attribute name="style" 			type="java.lang.String"/>
    <cc:attribute name="styleClass" 	type="java.lang.String"/>
	<cc:attribute name="inputStyle"  type="java.lang.String" />

    <cc:attribute name="ajax" type="java.lang.Boolean" default="true" />

</cc:interface>

<cc:implementation>
    <!--	<div id="#{cc.clientId}"  style="max-width:#{cc.attrs.width}px; display: inline-block; position: relative;" >-->
    <div id="#{cc.clientId}" class="#{cc.attrs.styleClass}" style="#{cc.attrs.style}">

        <ui:include src="#{empty cc.attrs.label ? '' : 'cLabelMDesignPart.xhtml'}"/>


<!--         <i:if test="#{not cc.attrs.readonly}"> -->

			<p:calendar 
					readonly="#{cc.attrs.readonly}" 
					disabled="#{cc.attrs.readonly}"
					id="inp"  
					locale="pl"
					required="#{cc.attrs.required}"
					yearRange="#{cc.attrs.yearRange}"
					inputStyle="opacity: 1.0;#{cc.attrs.inputStyle};"
					onfocus="this.parentElement.parentElement.classList.add('pp-state-focus');"
					onblur="this.parentElement.parentElement.classList.remove('pp-state-focus');"
					
					styleClass="clndr"
					pattern="#{cc.attrs.dateFormat}"
					value="#{cc.attrs.value}" placeholder="#{cc.attrs.placeholder}"
					navigator="true" showOn="button" mindate="#{cc.attrs.minDate}" maxdate="#{cc.attrs.maxDate}"
					mask="#{cc.attrs.mask}" validatorMessage="#{cc.attrs.validatorMessage}"
					converterMessage="#{cc.attrs.converterMessage}"
					style="min-width:100px; max-width:100px; width:100px;"
					title="#{cc.attrs.title}"
            >


				<i:if test="#{(true eq cc.attrs.ajax or (cc.attrs.ajax==null and true eq ccMDesignAjaxDefault))}" >
					<p:ajax event="dateSelect" partialSubmit="true" process="inp" update="#{cc.attrs.updateOnDateSelect}"/>
					<p:ajax event="valueChange" partialSubmit="true" process="inp" update="#{cc.attrs.updateOnDateSelect}"/>
				</i:if>


            </p:calendar>

<!--         </i:if> -->

<!--         <i:if test="#{cc.attrs.readonly}"> -->
<!--             <p:inputText id="inp" required="#{cc.attrs.required}" -->
<!--                 style="max-width:#{cc.attrs.width}px;" -->
<!--                 readonly="true" -->
<!--                 value="#{cc.attrs.value}"/> -->
<!--         </i:if> -->

        <i:if test="#{cc.attrs.required}">
            <div id="#{cc.clientId}_required-icon"
                style="position:absolute; left:-5px; top:-5px; color:red!important; ">
            *</div>
        </i:if>
	
	
	</div>
</cc:implementation>


</html>