<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">



<cc:interface>
	<cc:attribute name="id"/>
	<cc:attribute name="dateFormat" default="yyyy-MM-dd HH:mm" />
	<cc:attribute name="value"/>
	<cc:attribute name="minDate" />
	<cc:attribute name="maxDate" />
	<cc:attribute name="readonly" default="false" type="java.lang.Boolean" />
	<cc:attribute name="required" default="false" type="java.lang.Boolean" />
	<cc:attribute name="width" />
	<cc:attribute name="updateOnDateSelect"  required="false"/>
	<cc:attribute name="placeholder"/>

	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>
</cc:interface>

<cc:implementation>

    <div id="#{cc.clientId}" class="d-flex a-i-center #{cc.attrs.styleClass}" style="#{cc.attrs.style}">

		<p:inputText rendered="#{cc.attrs.readonly}" required="#{cc.attrs.required}"
					 readonly="true"
					 value="#{cc.attrs.value}"/>

		<p:calendar
                id="inp"
                rendered="#{!cc.attrs.readonly}"
                locale="pl"
                required="#{cc.attrs.required}"
				styleClass="zzzclndr zzzclndr-ie"
				pattern="#{cc.attrs.dateFormat}"
                value="#{cc.attrs.value}"
                placeholder="#{cc.attrs.placeholder}"
                navigator="true"
                showOn="none"
                mask="true"
                maxlength="16"

			>
<!--			nie kasować delay="100"-->
            <p:ajax event="valueChange"
					delay="100"
					partialSubmit="true"
					process="#{cc.clientId}:inp"
					update="#{cc.clientId} #{cc.attrs.updateOnDateSelect}"
					onstart="hgon();" oncomplete="hgoff();"
			/>
			
			
		</p:calendar>

        <p:commandButton id="valBtn"
						 icon="today"
						 styleClass="ml-25i mmw30 fs16"
						 onclick="var clndrhr = PFbyId('#{cc.clientId}:inp'); return false;"
						 disabled="#{cc.attrs.readonly}"
		/>

        <p:overlayPanel id="ovp"
                        for="#{cc.clientId}:valBtn"
						appendTo="@(body)"
						style="top:0;"

						onShow="
						var clndrov = PFbyId('#{cc.clientId}:inp_na');
						var clndrhr = PFbyId('#{cc.clientId}:inp');
						clndrov.setDate(clndrhr.getDate());"

						onHide="
						var clndrov = PFbyId('#{cc.clientId}:inp_na');
						var clndrhr = PFbyId('#{cc.clientId}:inp');
						clndrhr.setDate(clndrov.getDate());"
                        styleClass="btb1 mmw300 p0">
<!--	mozna tez tak:		clndrhr.setDate('2020-01-02 03:04');-->

<!--			NIE DAWAC TU FORMULARZA <h:form id="frmoclndrhrovp">-->
			<div id="ui-datepicker-div">
				<p:calendar
						id="inp_na"
						styleClass="clndr clndr-ie"
						rendered="#{!cc.attrs.readonly}"
						locale="pl"
						required="#{cc.attrs.required}"
						pattern="#{cc.attrs.dateFormat}"
						value="#{cc.attrs.value}"
						placeholder="#{cc.attrs.placeholder}"
						navigator="true"
						showOn="none"
						mask="true"
						mode="inline"
						maxlength="16"
						mindate="#{cc.attrs.minDate}"
						maxdate="#{cc.attrs.maxDate}"
				/>
			</div>
<!--			</h:form>-->

        </p:overlayPanel>


	
	</div>

</cc:implementation>


</html>











