<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface>
	<cc:attribute name="label"/>
	<cc:attribute name="value" />
	<cc:attribute name="width" />
	<cc:attribute name="minDate" />
	<cc:attribute name="readonly" default="false" type="java.lang.Boolean" />
	<cc:attribute name="placeholder"/>
</cc:interface>

<cc:implementation>
<div id="#{cc.clientId}">
	<p:column>
		<p:outputLabel value="#{cc.attrs.label}"  styleClass="pogrubiony-normal"/>
	</p:column>
	<p:column>
		<c:cCalendar id="date" value="#{cc.attrs.value}" readonly="#{cc.attrs.readonly}" placeholder="#{cc.attrs.placeholder}" width="#{cc.attrs.width}" minDate="#{cc.attrs.minDate}"
		style="min-width:#{cc.attrs.width}px; max-width:#{cc.attrs.width}px; width:#{cc.attrs.width}px; " />
	</p:column>
	<cc:insertChildren/>
</div>
</cc:implementation>
</html>