<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"

	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:i="http://java.sun.com/jsp/jstl/core"
      xmlns:c="http://java.sun.com/jsf/composite/components">



<cc:interface>

	<cc:attribute name="label"/>
	<cc:attribute name="beansInfoMap" required="true" type="java.util.Map"/>
	<cc:attribute name="style"/>
	<cc:attribute name="styleClass"/>
	
</cc:interface>

 

<cc:implementation>
<div id="#{cc.clientId}" style="width:100%; #{cc.attrs.style}" class="ui-g #{cc.attrs.styleClass}">

	<h:outputLabel value="#{cc.attrs.label}" styleClass="p5 m0"/>
<!-- 	<p:separator styleClass="mt0 mb0"/> -->
	<ui:repeat var="entryR" value="#{cc.attrs.beansInfoMap.entrySet().toArray()}">
		<h:outputLabel value="#{entryR.key}" styleClass="ui-g-12 p2 ml10" style="font-size:85%!important; color:steelblue"/>
			
<!-- 		<div class="ui-g ui-g-nopad ui-g-11 ml20"> -->
<!-- 			<ui:repeat var="sqlitmR" value="#{entryR.value.toArray()}"> -->
<!-- 					<div class="ui-g-5 ui-g-nopad" style="font-size:10px; color:blue"> -->
<!-- 						#{sqlitmR.getShortName()} -->
<!-- 					</div> -->
<!-- 					<div class="ui-g-2 ui-g-nopad right" style="font-size:10px; color:blue"> -->
<!-- 						#{sqlitmR.size()} w. -->
<!-- 					</div>							 -->
<!-- 					<div class="ui-g-2 ui-g-nopad right" style="font-size:10px; color:blue"> -->
<!-- 						#{sqlitmR.reloadTimeTotal} ms -->
<!-- 					</div> -->
<!-- 					<div class="ui-g-2 ui-g-nopad right" style="font-size:10px; color:blue"> -->
<!-- 						#{sqlBean.format(sqlitmR.tsAsDate,'HH:mm:ss')} -->
<!-- 					</div>									 -->
<!-- 					<div class="ui-g-1 ui-g-nopad right" style="font-size:10px; color:blue"> -->
<!-- 						#{sqlitmR.reloadCount}   -->
<!-- 					</div>								 -->
<!-- 			</ui:repeat> -->
<!-- 		</div> -->
	</ui:repeat>
</div>
</cc:implementation>

</html>