<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:shiro="http://shiro.apache.org/tags">

<composite:interface>
	<composite:attribute name="helpFormId" required="true" />
	<composite:attribute name="openCmdName" required="true" />
	<composite:attribute name="openCmdAction" required="true" />
	<composite:attribute name="closeCmdName" required="true" />
	<composite:attribute name="closeCmdAction" required="true" />
	<composite:attribute name="openInNewTabCmdName" required="true" />
</composite:interface>

<composite:implementation>
	<h:outputStylesheet name="pp-help.css" library="css" position="last" />

	<h:form id="#{cc.attrs.helpFormId}" style="height:100%;">
		<a id="#{cc.attrs.helpFormId}:helpLink" href="#{helpBean.src}"
			target="_blank" />

		<p:remoteCommand id="openHelpRmtCmd" name="#{cc.attrs.openCmdName}"
			update="@form" actionListener="#{helpBean.setContext()}"
			oncomplete="#{cc.attrs.openCmdAction}" />

		<p:remoteCommand id="closeHelpRmtCmd" name="#{cc.attrs.closeCmdName}"
			onstart="#{cc.attrs.closeCmdAction}" />

		<p:remoteCommand id="openInNewTabRmtCmd"
			name="#{cc.attrs.openInNewTabCmdName}"
			onstart="document.getElementById('#{cc.attrs.helpFormId}:helpLink').click()" />


		<h:outputText
				id="modul"
				value="#{helpBean.modul} / #{helpBean.region}"
				title="moduł / region"
				styleClass="fs20"
				style="color: #7DBEFF; position: absolute; top:0px; left: 150px; margin-top: calc(-26px - 1vh)!important; z-index: 9999;" />

		<p:panelGrid id="helpPanelGrid" styleClass="egr-help-panelgrid">
			<p:row>
				<p:column styleClass="egr-help-iframe-cell" colspan="6">
					<h:panelGroup rendered="#{!helpBean.noHelp}">
						<iframe id="helpIframe" class="egr-help-iframe"
							src="#{helpBean.src}" />
					</h:panelGroup>
					<h:panelGroup rendered="#{helpBean.noHelp}">
						<p:outputLabel id="noHelpLabel" styleClass="egr-no-help-label"
							value="#{helpBean.komunikat}" />
					</h:panelGroup>
				</p:column>
			</p:row>
		</p:panelGrid>
	</h:form>
</composite:implementation>
</html>