<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	  xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	  xmlns:egr="http://egr.egeria.comarch.com/facelets">

<cc:interface>

	<cc:attribute name="wnd"  required="true" type="com.comarch.egeria.pp.delegacje.model.DeltWnioskiDelegacji" />
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>
	<cc:attribute name="tableStyleClass" 	type="java.lang.String" default="h400"/>

</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}" class="d-inline-block #{cc.attrs.styleClass}" style="#{cc.attrs.style}">


		<c:cSelectBooleanCheckboxTN
				label="Czy bezkosztowa"
				value="#{wnd.wndFBezkosztowa}"
				update="@(.zaliczki)"
				process="@this" partialSubmit="true"
				onstart="hgon();" oncomplete="hgoff();"
		/>
<!--		UWAGA IE11 nie radzi sobie z flex'ami - trzeba im ustawic sztywna wysokosc np. h400 -->
		<c:cRepeatTbl
				styleClass="#{cc.attrs.tableStyleClass} mt10 d-block kosztyPnlGr1"
				value="#{cc.attrs.wnd.kalkulacjaWniosek.deltPozycjeKalkulacjis}"
				var="pkl"
				rendered="#{'N' eq cc.attrs.wnd.wndFBezkosztowa}"
		>
			<!--								<f:facet name="headerBtnsHoover">-->
			<!--									<p:commandButton icon="clear" styleClass="granatowy mlautoi mr5"/>-->
			<!--									<p:commandButton icon="delete" styleClass="granatowy mr5"/>-->
			<!--									<p:commandButton icon="add" styleClass="granatowy mr5"/>-->
			<!--								</f:facet>-->

			<div class="d-flex-column">
				<label class="pp-lbl txt-white">.</label>
				<c:cSelectBooleanCheckboxTN
						value="#{pkl.pklFWniosek}"
						styleClass="mmw30 mr20"
				/>
			</div>

			<c:cLovJS
					label="Rodzaj kosztów"
					lovDlgTitle="Rodzaje kosztów"
					process="@this"
					datasource="#{cc.attrs.wnd.lwTypyPozycji}"
					value="#{pkl.pklTpozId}"
					lovTextFormat="%3$s"
					readonly="true"
					styleClass="mmw200 mr20"
			/>

			<c:cInputText
					label="Opis pozycji"
					value="#{pkl.pklOpis}"
					styleClass="mmw300 mr20"
			/>

			<egr:col label="% koszt. [ MF / Z. / R.]" styleClass="mr20">

				<h:panelGroup id="btnRfndcj">
					<p:commandButton
							title="podział porcentowy kosztów [MF / Zapraszający / Refundacja]"
							value="#{pkl.pklKosztMFProcent}% / #{pkl.pklKosztZaprProcent}% / #{pkl.pklRefundacjaProcent}%"
							styleClass="granatowy mmw160"
							onclick="return false"
							style="box-shadow: 0 0 1px 1px rgba(#{255-100+pkl.pklKosztMFProcent}, #{255-pkl.pklKosztZaprProcent}, #{255-pkl.pklRefundacjaProcent},0.8)!important"
					/>
				</h:panelGroup>

				<p:overlayPanel for="btnRfndcj" appendTo="@(body)">
					<div id="ovpnl" class="d-flex flex-wrap w500 p10">
						<c:cInputNumber label="Koszt MF [%]:" decimalPlaces="1" maxValue="100.0" minValue="0.0"
										value="#{pkl.pklKosztMFProcent}"
										title="procent kosztów MF"
										style="flex:100px"
										styleClass="mr20"
						/>
						<c:cInputNumber label="Koszt zapraszającego [%]:" decimalPlaces="1" maxValue="100.0"
										minValue="0.0"
										value="#{pkl.pklKosztZaprProcent}"
										title="procent kosztów zapraszającego"
										style="flex:100px"
										styleClass="mr20"
						/>
						<c:cInputNumber label="Refundacja [%]:" decimalPlaces="1" maxValue="100.0" minValue="0.0"
										value="#{pkl.pklRefundacjaProcent}"
										title="procent kosztów refundowanych"
										style="flex:100px"
						/>
						<c:cInputText label="Opis refundacji:" value="#{pkl.pklRefundacjaOpis}" style="flex:400px"
									  styleClass="mt10"/>
					</div>
				</p:overlayPanel>

			</egr:col>

			<c:cSOM label="Forma płatności"
					value="#{pkl.pklFormaPlatnosci}"
					datasource="#{cc.attrs.wnd.getSlownik('DEL_FORMY_PLATNOSCI')}"
					styleClass="mmw200 mr20"
			/>


			<cc:insertChildren />

		</c:cRepeatTbl>

	</div>
</cc:implementation>
</html>