<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	  xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface>

	<cc:attribute name="readonly" 		type="java.lang.Boolean" default="false" />
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>


	<cc:attribute name="kalkulacja"     type="com.comarch.egeria.pp.delegacje.model.DeltKalkulacje"/>
	<cc:attribute name="typyDiet"       type="java.lang.String"/>
	<cc:attribute name="typyDietExclude"       type="java.lang.Boolean" default="false"/>


	<cc:attribute name="btnAddAction"  method-signature="void action()" 	/>


</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}" class="ov-x-auto d-flex-column p0 #{cc.attrs.styleClass}" style="#{cc.attrs.style}">

		<ui:param name="ccPklLst" value="#{cc.attrs.kalkulacja.getPklListByKtgDiet(cc.attrs.typyDiet, cc.attrs.typyDietExclude)}"/>

		<div id="pklPHaeder" class="d-flex a-i-center bb1">
			<p:outputLabel value="Rodzaj" styleClass="p0 w200 mr20" rendered="#{cc.attrs.typyDietExclude}"/>
			<p:outputLabel value="Opis" styleClass="p0 w200 mr20" rendered="#{cc.attrs.typyDietExclude}"/>
			<p:outputLabel value="Ilość" styleClass="p0 w80 mr20"/>
			<p:outputLabel value="Stawka" styleClass="p0 w80 mr20"/>
			<p:outputLabel value="Śniadania" styleClass="p0 w60 mr20" rendered="#{'P' eq cc.attrs.typyDiet}"/>
			<p:outputLabel value="Obiady" styleClass="p0 w60 mr20" rendered="#{'P' eq cc.attrs.typyDiet}"/>
			<p:outputLabel value="Kolacje" styleClass="p0 w60 mr20" rendered="#{'P' eq cc.attrs.typyDiet}"/>
			<p:outputLabel value="Kwota MF" styleClass="p0 w100 mr20"/>
			<p:outputLabel value="Refundacja" styleClass="p0 w100 mr20"/>
			<p:outputLabel value="Rodzaj" styleClass="p0 w80 mr20" rendered="#{'H,RH' eq cc.attrs.typyDiet}"/>
			<p:outputLabel value="Płatność" styleClass="p0 w90 mr20"/>
			<p:outputLabel value="Termin wykupu" styleClass="p0 w160 mr20" rendered="#{'H,RH' eq cc.attrs.typyDiet}"/>
			<div class="d-flex a-i-center">
				<p:outputLabel value="ŹF" styleClass="p0 mmw30"/>
				<p:commandButton styleClass="p0 mmw30" icon="add"
								 action="#{cc.attrs.btnAddAction}"
								 disabled="#{
								 cc.attrs.kalkulacja.kalRodzaj eq 'ROZ' ? false : 
								 ('T' eq cc.attrs.kalkulacja.deltWnioskiDelegacji.wndFBezkosztowa 
								 or ('P' eq cc.attrs.typyDiet and cc.attrs.kalkulacja.getPklListByKtgDiet('P', false).size() > 0)
								 or 'T' eq cc.attrs.kalkulacja.deltWnioskiDelegacji.wndFMiejscowoscPobyt)}"
				/>
			</div>
		</div>

<!--		<p:separator styleClass="ui-g-12 p0 " />-->

		<ui:repeat var="pklP" value="#{ccPklLst}">

			<div id="pklPRow" class="d-flex a-i-center bb1 mt5 mb5 pb5 #{not (pklP.isRozrachunekDelegowanego())? 'opacity-09' : ''}">

<!-- 				Rodzaj -->
				<c:cLovJS
						styleClass="p0 w200 mr20"
						value="#{pklP.pklTpozId}"
						datasource="#{v.getLW('PPL_DEL_TYPY_POZ_INNE',[cc.attrs.kalkulacja.deltWnioskiDelegacji.wndStdId])}"
						lovTextFormat="%3$s"
						readonly="true"
						rendered="#{cc.attrs.typyDietExclude}"
				/>
				
<!-- 				Miejscowość / Opis				 -->
				<c:cInputText styleClass="p0 w200 mr20"
					value="#{pklP.pklOpis}"
					readonly="#{pklP.blokujPklPoWyplacieNZ()}"
					rendered="#{cc.attrs.typyDietExclude}"
				/>				

<!-- 				Ilość -->
				<c:cInputNumber styleClass="p0 w80 mr20"
								 value="#{pklP.pklIlosc}"
								 readonly="#{pklP.blokujPklPoWyplacieNZ()}"
								 decimalPlaces="#{'P' eq cc.attrs.typyDiet ? 4 : 2}"
								 minValue="0.00"
				/>

<!-- 				Stawka -->
				<c:cInputNumber styleClass="p0 w80 mr20"
								 inputStyle="#{pklP.czyLimit() and pklP.pklStawka gt pklP.getStawkaWgLimitu() ? 'color: red!important;':''};"
								 value="#{pklP.pklStawka}"
								 symbol=" PLN"
								 readonly="#{pklP.blokujPklPoWyplacieNZ()}"
								 title="#{pklP.czyPrzekroczonoLimit()? pklP.opisPrzekroczonyLimitStawki:''}"
				/>
<!-- 								 title="#{'H' eq pklP.getKategoria() ? pklP.getTitleDlaPklHotelowej():''}" -->

<!-- 				Śniadania -->
				<c:cInputNumber styleClass="p0 w60 mr20"
								 value="#{pklP.pklSniadania}"
								 decimalPlaces="0"
								 readonly="#{pklP.blokujPklPoWyplacieNZ()}"
								 maxValue="#{pklP.ilePosilkow()}"
								 rendered="#{'P' eq cc.attrs.typyDiet}"
				/>

<!-- 				Obiady -->
				<c:cInputNumber styleClass="p0 w60 mr20"
								 value="#{pklP.pklObiady}"
								 decimalPlaces="0"
								 readonly="#{pklP.blokujPklPoWyplacieNZ()}"
								 maxValue="#{pklP.ilePosilkow()}"
								 rendered="#{'P' eq cc.attrs.typyDiet}"
				/>

<!-- 				Kolacje -->
				<c:cInputNumber styleClass="p0 w60 mr20"
								 value="#{pklP.pklKolacje}"
								 decimalPlaces="0"
								 readonly="#{pklP.blokujPklPoWyplacieNZ()}"
								 maxValue="#{pklP.ilePosilkow()}"
								 rendered="#{'P' eq cc.attrs.typyDiet}"
				/>

<!-- 				Kwota MF	 -->
				<c:cInputNumber styleClass="p0 w100 mr20"
								 inputStyle="#{pklP.czyPrzekroczonoLimit() or 0 eq pklP.pklKwotaMf ? 'color: red!important;':''};"
								 id="inpKwota"
								 value="#{pklP.pklKwotaMf}"
								 readonly="#{pklP.blokujPklPoWyplacieNZ()}"
								 title="#{pklP.czyPrzekroczonoLimit() ? 'Kwota pozycji przekroczyła wartość limitu':''}"
				/>


<!-- 				Refundacja -->
				<c:cInputNumber styleClass="p0 w100 mr20"
								 value="#{pklP.pklRefundacjaKwota}"
								 readonly="#{pklP.blokujPklPoWyplacieNZ()}"
				/>
				
				
				
<!-- 				Rodzaj -->
				<c:cInputText styleClass="p0 w80 mr20"
					value="#{'RH' eq pklP.getKategoria() ? 'Ryczałt' : 'Dieta'}"
					readonly="true"
					rendered="#{'H,RH' eq cc.attrs.typyDiet}"
				/>


<!-- 				Forma płatności -->
				<c:cLovJS styleClass="p0 w90 mr20"
						   lovDlgTitle="Formy płatności"
						   placeholder="wybierz"
						   datasource="#{v.getSlownik('DEL_FORMY_PLATNOSCI')}"
						   value="#{pklP.pklFormaPlatnosci}"
						   lovTextFormat="%2$s"
						   readonly="#{pklP.blokujPklPoWyplacieNZ()}"
				/>


<!-- 				Termin wykupu -->
				<h:panelGroup styleClass="p0 w160 mr20" rendered="#{'H' eq pklP.getKategoria()}">
					<c:cCalendarHour value="#{pklP.pklTerminWykupu}" 
						readonly="#{pklP.blokujPklPoWyplacieNZ()}"
					/>  
				</h:panelGroup>
				
				
				<h:panelGroup styleClass="p0 w160 mr20" rendered="#{'RH' eq pklP.getKategoria()}">
					<c:cCalendarHour value="#{pklP.pklTerminWykupu}" 
						readonly="true"
					/>  
				</h:panelGroup>



<!-- 				ZF i btns -->
				<div class="d-flex a-i-center">

					<c:cZFMFKrajButton pkl="#{pklP}" styleClass="p0 mmw30"
										pklList="#{ccPklLst}"/>

					<p:commandButton icon="delete" styleClass="p0 mmw30"
									 action="#{cc.attrs.kalkulacja.removeDeltPozycjeKalkulacji(pklP)}"
									 disabled="#{cc.attrs.kalkulacja.kalRodzaj eq 'ROZ' ? false : 
									 ('T' eq  cc.attrs.kalkulacja.deltWnioskiDelegacji.wndFBezkosztowa
									 or pklP.blokujPklPoWyplacieNZ())}"
					/>

				</div>

			</div>

		</ui:repeat>
<!--		<p:separator styleClass="ui-g-12 p0"/>-->

    </div>


</cc:implementation>
</html>