<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	  xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface>

	<cc:attribute name="readonly" 		type="java.lang.Boolean" default="false" />
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>


<!-- 	<cc:attribute name="title" 			type="java.lang.String"/> -->
	<cc:attribute name="kalkulacja"     type="com.comarch.egeria.pp.delegacje.model.DeltKalkulacje"/>
	<cc:attribute name="typyDiet"       type="java.lang.String"/>
	<cc:attribute name="typyDietExclude"       type="java.lang.Boolean" default="false"/>


	<cc:attribute name="btnAddAction"  method-signature="void action()" 	/>


</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}" class="ov-x-auto d-flex-column p0 #{cc.attrs.styleClass}" style="#{cc.attrs.style}">

        <ui:param name="ccPklLst" value="#{cc.attrs.kalkulacja.getPklListByKtgDiet(cc.attrs.typyDiet, cc.attrs.typyDietExclude)}"/>

		<div id="pklPHaeder" class="d-flex a-i-center bsh1 bb1">
			<p:outputLabel value="Kraj" styleClass="p0 mmw50 mr20"/>
			<p:outputLabel value="Rodzaj" styleClass="p0 w200 mr20" rendered="#{cc.attrs.typyDietExclude}"/>
			<p:outputLabel value="Miejscowowść" styleClass="p0 w200 mr20" rendered="#{'H,RH' eq cc.attrs.typyDiet}"/>
			<p:outputLabel value="Opis" styleClass="p0 w200 mr20" rendered="#{cc.attrs.typyDietExclude}"/>
			<p:outputLabel value="Ilość" styleClass="p0 w80 mr20"/>
			<p:outputLabel value="Stawka" styleClass="p0 w80 mr20"/>
			<p:outputLabel value="Waluta" styleClass="p0 mmw60 m0i mr0 p0i"/>
			<p:outputLabel value="Śniadania" styleClass="p0 w60 mr20" rendered="#{'P' eq cc.attrs.typyDiet}"/>
			<p:outputLabel value="Obiady" styleClass="p0 w60 mr20" rendered="#{'P' eq cc.attrs.typyDiet}"/>
			<p:outputLabel value="Kolacje" styleClass="p0 w60 mr20" rendered="#{'P' eq cc.attrs.typyDiet}"/>
			<p:outputLabel value="Kwota MF" styleClass="p0 w100 mr20"/>
			<p:outputLabel value="Refundacja" styleClass="p0 w100 mr20"/>
			<p:outputLabel value="Rodzaj" styleClass="p0 w80 mr20" rendered="#{'H,RH' eq cc.attrs.typyDiet}"/>
			<p:outputLabel value="Płatność" styleClass="p0 w90 mr20" title="forma płatności"/>
			<p:outputLabel value="Termin wykupu" styleClass="p0 w160 mr20" rendered="#{'H,RH' eq cc.attrs.typyDiet}"/>
			<div class="d-flex a-i-center">
				<p:outputLabel value="ŹF" styleClass="p0 mmw30"/>
				<p:commandButton styleClass="p0 mmw30" icon="add"
								 action="#{cc.attrs.btnAddAction}"
								 disabled="#{
								 cc.attrs.kalkulacja.kalRodzaj eq 'ROZ' ? false : 
								 ('T' eq cc.attrs.kalkulacja.deltWnioskiDelegacji.wndFBezkosztowa)}"
				/>
			</div>
		</div>


		<ui:repeat var="pklP" value="#{ccPklLst}">

			<div id="pklPRow" class="d-flex a-i-center bb1 mt5 mb5 pb5 #{not (pklP.isRozrachunekDelegowanego())? 'opacity-09' : ''}">

<!-- 				Kraj -->
				<c:cLovJS lovDlgTitle="Lista krajów"
						   styleClass="mmw50 mr20"
						   datasource="#{v.getLW('PPL_WSP_KRAJE')}"
						   lovTextFormat="%3$s"
						   value="#{pklP.pklKrId}"
						   readonly="#{pklP.blokujPklPoWyplacieNZ()}"
				/>
				
<!-- 				Rodzaj -->
				<c:cLovJS styleClass="w200 mr20"
					value="#{pklP.pklTpozId}" 
					datasource="#{v.getLW('PPL_DEL_TYPY_POZ_INNE',[cc.attrs.kalkulacja.deltWnioskiDelegacji.wndStdId])}"
					lovTextFormat="%3$s"
					readonly="#{pklP.blokujPklPoWyplacieNZ() or pklP.kategoria eq 'DW'}"
					rendered="#{cc.attrs.typyDietExclude}"
				/>
				
<!-- 				Miejscowość / Opis				 -->
				<c:cInputText styleClass="w200 mr20"
					value="#{pklP.pklOpis}"
					readonly="#{pklP.blokujPklPoWyplacieNZ()}"
					rendered="#{('H,RH' eq cc.attrs.typyDiet) or cc.attrs.typyDietExclude}"
				/>				

<!-- 				Ilość -->
				<c:cInputNumber styleClass="w80 mr20"
								 value="#{pklP.pklIlosc}"
								 readonly="#{pklP.blokujPklPoWyplacieNZ()}"
								 decimalPlaces="#{'P' eq cc.attrs.typyDiet ? 4 : 2}"
								 
				/>
<!-- 				minValue="0.00" -->

<!-- 				Stawka -->
				<c:cInputNumber styleClass="w80 mr20"
								 inputStyle="#{pklP.czyLimit() and pklP.pklStawka gt pklP.getStawkaWgLimitu() ? 'color: red!important;':''};"
								 value="#{pklP.pklStawka}"
								 readonly="#{pklP.blokujPklPoWyplacieNZ()}"
								 title="#{pklP.czyPrzekroczonoLimit()? pklP.opisPrzekroczonyLimitStawki:''}"
				/>
<!-- 								 title="#{pklP.getTitleDlaLimitu():''}" -->

<!-- 				Waluta -->
				<c:cSOM
						styleClass="mmw50 mr10 p0i "
						datasource="#{v.getLW('PPL_SYMBOLE_WALUT')}"
						value="#{pklP.pklWalId}"
						disabled="#{pklP.blokujPklPoWyplacieNZ()}"
				/>



<!-- 				Śniadania -->
				<c:cInputNumber styleClass="w60 mr20"
								 value="#{pklP.pklSniadania}"
								 decimalPlaces="0"
								 readonly="#{pklP.blokujPklPoWyplacieNZ()}"
								 maxValue="#{pklP.ilePosilkow()}"
								 rendered="#{'P' eq cc.attrs.typyDiet}"
				/>

<!-- 				Obiady -->
				<c:cInputNumber styleClass="w60 mr20"
								 value="#{pklP.pklObiady}"
								 decimalPlaces="0"
								 readonly="#{pklP.blokujPklPoWyplacieNZ()}"
								 maxValue="#{pklP.ilePosilkow()}"
								 rendered="#{'P' eq cc.attrs.typyDiet}"
				/>

<!-- 				Kolacje -->
				<c:cInputNumber styleClass="w60 mr20"
								 value="#{pklP.pklKolacje}"
								 decimalPlaces="0"
								 readonly="#{pklP.blokujPklPoWyplacieNZ()}"
								 maxValue="#{pklP.ilePosilkow()}"
								 rendered="#{'P' eq cc.attrs.typyDiet}"
				/>

<!-- 				Kwota MF	 -->
				<c:cInputNumber styleClass="w100 mr20"
								 id="inpKwota"
								 inputStyle="#{pklP.czyPrzekroczonoLimit() or 0 eq pklP.pklKwotaMf ? 'color: red!important;':''};"
								 value="#{pklP.pklKwotaMf}"
								 readonly="#{pklP.blokujPklPoWyplacieNZ()}"
								 title="#{pklP.czyPrzekroczonoLimit() ? 'Kwota pozycji przekroczyła wartość limitu':''}"
				/>


<!-- 				Refundacja -->
				<c:cInputNumber styleClass="w100 mr20"
								 value="#{pklP.pklRefundacjaKwota}"
								 readonly="#{pklP.blokujPklPoWyplacieNZ()}"
				/>
				
				
				
<!-- 				Rodzaj -->
				<c:cSelectOneMenu
						styleClass="w80 mr20"
						rendered="#{'H,RH' eq cc.attrs.typyDiet}"
						value="#{pklP.kategoria}"
				>
					<f:selectItem itemLabel="Dieta" itemValue="H"/>
					<f:selectItem itemLabel="Ryczałt" itemValue="RH"/>
				</c:cSelectOneMenu>

<!--				<c:cInputText styleClass="w80 mr20"-->
<!--					value="#{'RH' eq pklP.getKategoria() ? 'Ryczałt' : 'Dieta'}"-->
<!--					readonly="true"-->
<!--					rendered="#{'H,RH' eq cc.attrs.typyDiet}"-->
<!--				/>-->



				<!-- 				Forma płatności -->
				<c:cLovJS styleClass="w90 mr20"
						   lovDlgTitle="Formy płatności"
						   placeholder="wybierz"
						   datasource="#{v.getSlownik('DEL_FORMY_PLATNOSCI')}"
						   value="#{pklP.pklFormaPlatnosci}"
						   lovTextFormat="%2$s"
						   readonly="#{pklP.blokujPklPoWyplacieNZ()}"
				/>


<!-- 				Termin wykupu -->
<!--				<h:panelGroup styleClass="w160 mr20" rendered="#{'H' eq pklP.getKategoria()}">-->
					<c:cCalendarHour rendered="#{'H' eq pklP.getKategoria()}"
							styleClass="w160 mr20"
							value="#{pklP.pklTerminWykupu}"
							readonly="#{('RH' eq pklP.getKategoria()) or pklP.blokujPklPoWyplacieNZ()}"
					/>
<!--				</h:panelGroup>-->
				
				
<!--				<h:panelGroup styleClass="w160 mr20" rendered="#{'RH' eq pklP.getKategoria()}">-->
<!--					<c:cCalendarHour value="#{pklP.pklTerminWykupu}" -->
<!--						readonly="true"-->
<!--					/>  -->
<!--				</h:panelGroup>-->





<!-- 				ZF i btns -->

					<c:cZFMFZagrButton
							styleClass="mmw30"
							pkl="#{pklP}"
							pklList="#{ccPklLst}"
					/>

					<p:commandButton
							styleClass="mmw30"
							icon="delete"
							action="#{cc.attrs.kalkulacja.removeDeltPozycjeKalkulacji(pklP)}"
							disabled="#{
							cc.attrs.kalkulacja.kalRodzaj eq 'ROZ' ? false :
							('T' eq  cc.attrs.kalkulacja.deltWnioskiDelegacji.wndFBezkosztowa
								or pklP.blokujPklPoWyplacieNZ())}"
							onstart="hgon();" oncomplete="hgoff();"
							rendered="#{not pklP.blokujPklPoWyplacieNZ()}"
					/>
					
					<p:commandButton
							styleClass="mmw30"
							icon="call_missed"
							action="#{cc.attrs.kalkulacja.wystornujPkl(pklP)}"
							rendered="#{pklP.blokujPklPoWyplacieNZ()}"
							title="Wystornuj i utwórz korektę pozycji"
							onstart="hgon();" oncomplete="hgoff();"
					/>

				</div>

		</ui:repeat>

    </div>


</cc:implementation>
</html>