<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	  xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface>

	<cc:attribute name="readonly" 		type="java.lang.Boolean" default="false" />
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>

	<cc:attribute name="kalkulacja"     type="com.comarch.egeria.pp.delegacje.model.DeltKalkulacje"/>


</cc:interface>

<cc:implementation>
<div id="#{cc.clientId}" class="d-flex p10 #{cc.attrs.styleClass}" style="#{cc.attrs.style}">

<div class="d-flex-column mrauto">

    <p:outputLabel value="Zestawienie kosztów wg źródeł finansowania oraz wniosków o zaangażowanie środków: " styleClass="p0 fs20 mb20"/>

    <h:panelGroup id="pnlPodsAngHdr" styleClass="d-flex a-i-center mh20">
        <p:outputLabel styleClass="w60"  value="DKZ"/>
        <p:outputLabel styleClass="w60"  value="DOK NZ"/>
        <p:outputLabel styleClass="w40"  value="Kraj" rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"/>
        <p:outputLabel styleClass="w140"  value="Typ pozycji"/>
        <p:outputLabel styleClass="w350"  value="Żródło finansowania"/>
        <p:outputLabel styleClass="w150"  value="Wniosek nr"/>
        <p:outputLabel styleClass="w100"  value="Wartość"/>
        <p:outputLabel styleClass="w60"  value="Kurs" rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"/>
        <p:outputLabel styleClass="w100"  value="Wartość PLN" rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"/>
    </h:panelGroup>
    <div class="h1 bg-graphite opacity-03"/>
    <ui:repeat value="#{cc.attrs.kalkulacja.deltPozycjeKalkulacjisGotowkaPrzelew}" var="pkl">

        <ui:repeat value="#{pkl.deltZrodlaFinansowanias}" var="zf">
            <ui:repeat value="#{zf.delAngazes}" var="ang">

                <h:panelGroup id="pnlPodsAngRow" styleClass="d-flex a-i-center mh20 mt5">

                    <p:outputLabel
                            styleClass="w60 #{pkl.gotowka ? 'txt-dblue' :''} #{pkl.przelew ? 'txt-navy' :''}"
                            value="#{zf.delZaliczki.dkzId}"
                            title="nr DKZ"
                    />

                    <p:outputLabel
                            styleClass="w60 #{pkl.gotowka ? 'txt-dblue' :''} #{pkl.przelew ? 'txt-navy' :''}"
                            value="#{zf.delZaliczki.dkzDokId}"
                            title="nr dokumentu NZ"
                    />

                    <p:outputLabel
                            styleClass="w40 #{pkl.gotowka ? 'txt-dblue' :''} #{pkl.przelew ? 'txt-navy' :''}"
                            value="#{pkl.krajSymbol}"
                            title="#{pkl.krajNazwa}"
                            rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"
                    />

                    <p:outputLabel
                            styleClass="w140 #{pkl.gotowka ? 'txt-dblue' :''} #{pkl.przelew ? 'txt-navy' :''}"
                            value="#{pkl.delTypyPozycji.tpozNazwa}"
                    />

                    <p:outputLabel
                            styleClass="w350 #{pkl.gotowka ? 'txt-dblue' :''} #{pkl.przelew ? 'txt-navy' :''}"
                            value="#{zf.symbol}"
                    />

                    <p:outputLabel
                            styleClass="w150 #{pkl.gotowka ? 'txt-dblue' :''} #{pkl.przelew ? 'txt-navy' :''}"
                            value="#{ang.numerWniosku}"
                    />

                    <c:cInputNumber
                            styleClass="w100 mr20"
                            value="#{ang.angKwota}"
                            symbol="#{ang.kurs.walSymbol}"
                            readonly="true"
                    />


                    <c:cInputNumber
                            styleClass="w60 mr20"
                            title="#{ang.kurs.opis}"
                            value="#{ang.kurs.przelicznik}"
                            decimalPlaces="4"
                            readonly="true"
                            rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"
                    />


                    <c:cInputNumber
                            styleClass="w100"
                            inputStyleClass="#{ang.angRoznZaokrNzPln!=null and ang.angRoznZaokrNzPln ne 0 ? 'txt-vdblue':''}"
                            value="#{ang.kwotaPLN}"
                            symbol="PLN"
                            readonly="true"
                            rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"
                    />

                </h:panelGroup>

            </ui:repeat>
        </ui:repeat>
    </ui:repeat>


    <div class="d-flex">
        <div class="mlauto d-flex a-i-center">

            <h:panelGroup id="pnlPodsGotowkaPrzelew" styleClass="d-flex a-i-center mh20 mt20 mb20 opacity-06"
                          rendered="#{not empty cc.attrs.kalkulacja.deltPozycjeKalkulacjisGotowkaPrzelew and not empty cc.attrs.kalkulacja.deltPozycjeKalkulacjisNieGotowkaNiePrzelew}">

                <p:outputLabel styleClass="fs14 p0 ml80" value="Razem gotówka + przelew(y):"/>
                <c:cInputNumber
                        styleClass="w150 ml20"
                        value="#{cc.attrs.kalkulacja.sumaAngazeKwotaPLNGotowkaPrzelew()}"
                        symbol="PLN"
                        readonly="true"
                        inputStyle="color:black!important; font-size:16px!important"
                />
            </h:panelGroup>
        </div>
    </div>



    <ui:repeat value="#{cc.attrs.kalkulacja.deltPozycjeKalkulacjisNieGotowkaNiePrzelew}" var="pkl">

        <ui:repeat value="#{pkl.deltZrodlaFinansowanias}" var="zf">
            <ui:repeat value="#{zf.delAngazes}" var="ang">

                <h:panelGroup id="pnlPodsAngRow1" styleClass="d-flex a-i-center mh20 mt5">


                    <p:outputLabel
                            styleClass="w60 #{pkl.gotowka ? 'txt-dblue' :''} #{pkl.przelew ? 'txt-navy' :''}"
                            value="#{zf.delZaliczki.dkzId}"
                            title="nr DKZ"
                    />

                    <p:outputLabel
                            styleClass="w60 #{pkl.gotowka ? 'txt-dblue' :''} #{pkl.przelew ? 'txt-navy' :''}"
                            value="#{zf.delZaliczki.dkzDokId}"
                            title="nr dokumentu NZ"
                    />

                    <p:outputLabel
                            styleClass="w40 #{pkl.gotowka ? 'txt-dblue' :''} #{pkl.przelew ? 'txt-navy' :''}"
                            value="#{pkl.krajSymbol}"
                            title="#{pkl.krajNazwa}"
                            rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"
                    />

                    <p:outputLabel
                            styleClass="w140 #{pkl.gotowka ? 'txt-dblue' :''} #{pkl.przelew ? 'txt-navy' :''}"
                            value="#{pkl.delTypyPozycji.tpozNazwa}"
                    />

                    <p:outputLabel
                            styleClass="w350 #{pkl.gotowka ? 'txt-dblue' :''} #{pkl.przelew ? 'txt-navy' :''}"
                            value="#{zf.symbol}"
                    />

                    <p:outputLabel
                            styleClass="w150 #{pkl.gotowka ? 'txt-dblue' :''} #{pkl.przelew ? 'txt-navy' :''}"
                            value="#{ang.numerWniosku}"
                    />

                    <c:cInputNumber
                            styleClass="w100 mr20"
                            value="#{ang.angKwota}"
                            symbol="#{ang.kurs.walSymbol}"
                            readonly="true"
                    />


                    <c:cInputNumber
                            styleClass="w60 mr20"
                            title="#{ang.kurs.opis}"
                            value="#{ang.kurs.przelicznik}"
                            decimalPlaces="4"
                            readonly="true"
                            rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"
                    />


                    <c:cInputNumber
                            styleClass="w100"
                            value="#{ang.kwotaPLN}"
                            symbol="PLN"
                            readonly="true"
                            rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"
                    />

                </h:panelGroup>

            </ui:repeat>
        </ui:repeat>
    </ui:repeat>

    <div class="d-flex">
        <div class="mlauto d-flex a-i-center">
            <h:panelGroup id="pnlPodsNieGotowkaNiePrzelew" styleClass="d-flex a-i-center mh20 mt20 mb20 opacity-06"
                          rendered="#{not empty cc.attrs.kalkulacja.deltPozycjeKalkulacjisGotowkaPrzelew and not empty cc.attrs.kalkulacja.deltPozycjeKalkulacjisNieGotowkaNiePrzelew}">
                <p:outputLabel styleClass="fs14 p0 ml20" value="Razem pozostałe formy płatności:"/>
                <c:cInputNumber
                        styleClass="w150 ml20"
                        value="#{cc.attrs.kalkulacja.sumaAngazeKwotaPLNNieGotowkaNiePrzelew()}"
                        symbol="PLN"
                        readonly="true"
                        inputStyle="color:black!important; font-size:16px!important"
                />
            </h:panelGroup>
        </div>
    </div>





    <div class="h1 bg-graphite opacity-03 mb20"/>


    <h:panelGroup id="pnlPodsTotal" styleClass="d-flex a-i-center mh20 mt5">

        <p:commandButton rendered="#{user.admin and 'ROZ' eq cc.attrs.kalkulacja.kalRodzaj}"
                         value="GENERUJ DE#{cc.attrs.kalkulacja.isKrajowa()?'K':'Z'} #{cc.attrs.kalkulacja.wniosek.wndDokId}"
                         styleClass="granatowy mt10 mb10"
                         partialSubmit="true" process="@this"
                         onstart="hgon()" oncomplete="hgoff()"
                         action="#{cc.attrs.kalkulacja.wniosek.generujNoteKsg()}"
                         update="#{cc.clientId} @this"
        />

        <c:cLovButtonJS
                value="PSK #{cc.attrs.kalkulacja.wniosek.wndDokId}"
                icon="search"
                styleClass="granatowy ml10"
                datasource="#{v.getLW('PPL_DEL_NOTA_PSK', [cc.attrs.kalkulacja.wniosek.wndDokId])}"
                rendered="#{user.admin and 'ROZ' eq cc.attrs.kalkulacja.kalRodzaj and cc.attrs.kalkulacja.wniosek.wndDokId!=null}"
        />
        <c:cLovButtonJS
                value="POZYCJE #{cc.attrs.kalkulacja.wniosek.wndDokId}"
                icon="search"
                styleClass="granatowy ml10"
                datasource="#{v.getLW('PPL_DEL_NOTA_POZYCJE', [cc.attrs.kalkulacja.wniosek.wndDokId])}"
                rendered="#{user.admin and 'ROZ' eq cc.attrs.kalkulacja.kalRodzaj and cc.attrs.kalkulacja.wniosek.wndDokId!=null}"
        />


        <!--    exec ppadm.ustaw_kontekst('554BEFA1CBE51A03C6C6A9CF8EBDF55D');-->
        <!--    /-->
        <!--    declare-->
        <!--    v_id NUMBER(10);-->
        <!--    begin-->
        <!--    v_id := PPADM.ppp_integracja_fin.generuj_dez(618);-->
        <!--    end;-->

        <p:outputLabel styleClass="mlauto fs20 p0" value="Razem koszty delegacji:"/>

        <c:cInputNumber
                styleClass="w150 ml20"
                value="#{cc.attrs.kalkulacja.sumaAngazeKwotaPLN()}"
                symbol="PLN"
                readonly="true"
                inputStyle="color:black!important; font-size:20px!important"
        />

    </h:panelGroup>

</div>
</div>
</cc:implementation>
</html>