<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	  xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface>

	<cc:attribute name="readonly" 		type="java.lang.Boolean" default="false" />
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>

	<cc:attribute name="kalkulacja"     type="com.comarch.egeria.pp.delegacje.model.DeltKalkulacje"/>
	
	<cc:attribute name="czyPodsumowanie" 	type="java.lang.Boolean" default="true" />
	<cc:attribute name="czyPozostaleKoszty" type="java.lang.Boolean" default="true" />
	<cc:attribute name="czyUkryjBezDokNz" type="java.lang.Boolean" default="false" />

	<cc:attribute name="label" 	type="java.lang.String" default="Zestawienie kosztów do rozliczenia z pracownikiem: "/>


</cc:interface>

<cc:implementation>
<div id="#{cc.clientId}" class="d-flex-column p10 ov-x-auto #{cc.attrs.styleClass}" style="#{cc.attrs.style}">
<!--#{cc.attrs.kalkulacja.delZaliczkiReszta.size()}-->

    <p:outputLabel value="#{cc.attrs.label}" styleClass="fs20 mb20"/>

    <h:panelGroup styleClass="d-flex">
<!--		<p:outputLabel value="NZ?" styleClass="w40 p0"/>-->
		<p:outputLabel value="Dokument NZ:" styleClass="w140 p0"/>
        <p:outputLabel value="Data operacji:" styleClass="w100 p0 ml10" title="odpowiednio data wpłaty/wypłaty dla dok. KP/KW; dla przelewów data ich realizacji"/>
        <p:outputLabel value="Wartość:" styleClass="w100 p0 ml10"/>
        <p:outputLabel value="Kurs:" styleClass="w100 p0 ml10" rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"/>
        <p:outputLabel value="Wartość (PLN):" styleClass="w100 p0 ml10" rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"/>
        <p:outputLabel value="ZF:" styleClass="w25 p0"/>
        <p:outputLabel value="Płatność" styleClass="w150 p0 ml10"/>
        <p:outputLabel value="Równowartość" styleClass="w100 p0 ml10" rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"/>
        <p:outputLabel value="Nr konta" styleClass="w300 p0 ml10"/>

<!--		and cc.attrs.kalkulacja.kalRodzaj eq 'WST'-->
        <p:outputLabel value="Kurs wst." styleClass="w100 p0 mlautoi" rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2 }"/>
        <p:outputLabel value="Wartość wst. (PLN):" styleClass="w120 p0 ml10" rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2 }"/>
    </h:panelGroup>


	<div class="d-flex bg-lgrey mt5 mb5 h2"></div>


	<h:panelGroup id="dkzKalWst" styleClass="d-flex-column" rendered = "#{cc.attrs.kalkulacja.kalRodzaj eq 'WST'}">
	    <ui:repeat value="#{cc.attrs.kalkulacja.dkzListPodsumowanie}" var="dkz">
	        <c:cDelDKZCssGridRow
	                dkz="#{dkz}"
	                kalkulacja="#{cc.attrs.kalkulacja}"
	                styleClass=""
					rendered="#{(not cc.attrs.czyUkryjBezDokNz) or (cc.attrs.czyUkryjBezDokNz and dkz.dkzDokId!=null) }"
	        />

<!--			<h:panelGroup layout="block" rendered="#{v.getLW('PPL_DEL_DOKUMENTY_INNE', dkz.dkzId).getData().size() > 1}" styleClass="w1000">-->

<!--				<h:outputLabel value="Dokumenty powiązane : "/>-->

<!--				<c:cRepeatTbl var="r"-->
<!--							  value="#{v.getLW('PPL_DEL_DOKUMENTY_INNE', dkz.dkzId).getData()}"-->
<!--							  styleClass="w1000 d-block"-->
<!--				>-->

<!--					<c:cInputText value="#{r.get('dok_id_zewn')}" readonly="true" styleClass="mmw105 ml30 p0"/>-->
<!--					<c:cInputText value="#{v.format(r.get('dok_data_operacji'))}" readonly="true" styleClass="mmw100 p0 ml10"/>-->
<!--					<c:cInputNumber value="#{r.get('dok_kwota_waluty')}" symbol=" #{dkz.getWalSymbol(r.get('wal_id'))}"  readonly="true" styleClass="mmw100 p0 ml10"/>-->
<!--					<c:cInputNumber value="#{r.get('dok_kurs')}" decimalPlaces="4" readonly="true" styleClass="mmw100 p0 ml10"/>-->
<!--					<c:cInputNumber value="#{r.get('dok_kwota')}" symbol=" PLN" readonly="true" styleClass="mmw100 p0 ml10"/>-->

<!--				</c:cRepeatTbl>-->
<!--			</h:panelGroup>-->



<!--				rendered="#{(dkz.dkzDokId!=null )or (not cc.attrs.kalkulacja.blokujZmianyDkzPoNaliczeniuKalkulacjiRozliczajacej)} -->
	    </ui:repeat>
    </h:panelGroup>

    <h:panelGroup id="dkzKalRoz" styleClass="d-flex-column" rendered = "#{cc.attrs.kalkulacja.kalRodzaj eq 'ROZ'}">
	    <ui:repeat value="#{cc.attrs.kalkulacja.dkzListPodsumowanie}" var="dkz">
	        <c:cDelDKZCssGridRow
	                dkz="#{dkz}"
	                kalkulacja="#{cc.attrs.kalkulacja}"
	                styleClass=""
	                rendered="#{not dkz.isZaliczka()}"
	        />
		</ui:repeat>
    </h:panelGroup>

	<div class="d-flex bg-lgrey mt5 mb5 h2"></div>




	<h:panelGroup rendered = "#{cc.attrs.czyPodsumowanie}" styleClass="d-flex mt10">

	        <div style="width: #{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2 ? 510 : 290}px"></div>


			<c:cInputNumber
					styleClass="w100 ml10"
					label="Razem (PLN):"
					value="#{cc.attrs.kalkulacja.kwotaPLN}"
					symbol="PLN"
					readonly="true"
			/>

<!--			<c:cCalendar-->
<!--					styleClass="w100 mlautoi"-->
<!--					id="dataKursu"-->
<!--					label="Daty wst. kursów:"-->
<!--					title="Data kursów walut przyjętych do szacowania wartości w PLN (w przypadku braku kursu NBP na wprowadzony w tym polu dzień, przyjmowana jest ostatnia dostępna data kursów, która poprzedza ten dzień). "-->
<!--					value="#{cc.attrs.kalkulacja.kalDataKursu}"-->
<!--					rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2 and cc.attrs.kalkulacja.kalRodzaj eq 'ROZ'}"-->
<!--			/>-->

	        <c:cCalendar
	                styleClass="w100 mlautoi"
	                id="dataKursuSzacowanego"
	                label="Daty wst. kursów:"
	                title="Data kursów walut przyjętych do szacowania wartości w PLN (w przypadku braku kursu NBP na wprowadzony w tym polu dzień, przyjmowana jest ostatnia dostępna data kursów, która poprzedza ten dzień). "
	                value="#{cc.attrs.kalkulacja.kalDataKursu}"
	                rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2 }"
	        /><!--		rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2 and cc.attrs.kalkulacja.kalRodzaj eq 'WST'}"-->
	        
	       	<c:cInputNumber
	                styleClass="w120 ml10"
	                rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2 }"
	                label="Razem wst. (PLN):"
	                value="#{cc.attrs.kalkulacja.kwotaPLNWstepna}"
	                symbol="PLN"
	                readonly="true"
	        /><!--		rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2 and cc.attrs.kalkulacja.kalRodzaj eq 'WST'}"-->

		<div class="d-flex bg-lgrey mt5 mb5 h2"></div>
	</h:panelGroup>


	<div class="d-flex a-i-center">

		<p:commandButton
				rendered="#{user.admin or user.hasAnyPermission('PP_DELK_GENERACJA_NZ', 'PP_DELZ_GENERACJA_NZ')}"
				styleClass="granatowy center mr10"
				value="generuj dok. NZ dla zaznaczonych"
				title="generuje dokumenty NZ dla zaznaczonych zaliczek"
				actionListener="#{cc.attrs.kalkulacja.generujDokumentyNZDlaZaznaczonych}"
				partialSubmit="true" process="@this"
				onstart="hgon()" oncomplete="hgoff()"
		/>

		<p:commandButton
				styleClass="granatowy center"
				value="przelicz ponownie"
				title="przelicz kwoty dyspozycji"
				actionListener="#{cc.attrs.kalkulacja.przeliczPodzialZFvsDKZ}"
				partialSubmit="true" process="@this"
				onstart="hgon()" oncomplete="hgoff()"
		/>

	</div>

	<h:panelGroup rendered = "#{user.admin and cc.attrs.czyPozostaleKoszty}"  styleClass="d-flex opacity-05">
		<c:cInputNumber
				label="Różnica wzgl. wszystkich kosztów: "
				styleClass="w200 p0 fs20 mb20 mlautoi"
				readonly="true"
				decimalPlaces="2"
				title="Suma wszystkich kosztów nie będących częścią rozrachunków z pracownikiem (pozycje kalkulacji o innej formie płatności niż 'gotówka' lub 'przelew')"
				symbol=" PLN"
				value="#{cc.attrs.kalkulacja.sumaAngazeKwotaPLN() - cc.attrs.kalkulacja.kwotaPLN}"
		/>
	</h:panelGroup>

<!--     <h:panelGroup styleClass="ui-g-12 ui-g-v-center p0" rendered="#{cc.attrs.kalkulacja.blokujZmianyDkzPoNaliczeniuKalkulacjiRozliczajacej}"> -->
<!--         <div style="width: 340px"></div> -->

<!--         <c:cInputNumber -->
<!--                 styleClass="w210 ml10" -->
<!--                 label="Razem wg dokumentów NZ:" -->
<!--                 value="#{cc.attrs.kalkulacja.kwotaPLNwNZ}" -->
<!--                 symbol="PLN" -->
<!--                 readonly="true" -->
<!--         /> -->

<!--         <c:cInputNumber -->
<!--                 styleClass="w200 ml30" -->
<!--                 label="Część kosztów bez dok. w NZ:" -->
<!--                 value="#{cc.attrs.kalkulacja.kwotaPLNPozaNZ}" -->
<!--                 symbol="PLN" -->
<!--                 readonly="true" -->
<!--         /> -->


<!--         <c:cInputNumber -->
<!--                 styleClass="w200 ml30" -->
<!--                 label="Razem koszty z kalkulacji:" -->
<!--                 value="#{cc.attrs.kalkulacja.kwotaPLN}" -->
<!--                 symbol="PLN" -->
<!--                 readonly="true" -->
<!--         /> -->

<!--     </h:panelGroup> -->


</div>
</cc:implementation>
</html>