<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface>

	<cc:attribute name="readonly" 		type="java.lang.Boolean" default="false" />
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>


	<cc:attribute name="kalkulacja"     type="com.comarch.egeria.pp.delegacje.model.DeltKalkulacje"/>

</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}" class="#{cc.attrs.styleClass} ui-g p0" style="#{cc.attrs.style}">

        <h:panelGroup id="uicntnt" styleClass="cc-btn-zf ui-g-12 p0" >

			<p:outputLabel
					styleClass="ui-g-4 p0"
					value="PODSUMOWANIE KOSZTÓW"
					style="#{empty cc.attrs.kalkulacja.sumyPklKwotaMf() ? 'color:gray!important;' : 'color:black!important'}"
			/>


			<div class="ui-g-8 right p0" style="max-height:17px!important;">

				<div class="w220 inlblock mt-4i mb-5i right">
					<p:outputLabel
							styleClass="p0 fs18"
							value="( RAZEM: #{v.format(cc.attrs.kalkulacja.sumaAngazeKwotaPLN(),'#0.00')} PLN )"
							style="#{0 eq cc.attrs.kalkulacja.kwotaPLN ? 'color:gray!important;' : 'color:black!important'}"
							rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"
					/>
				</div>

				<ui:repeat value="#{cc.attrs.kalkulacja.walutySymbole()}" var="walsmbl">
					<ui:param name="walkwt" value="#{cc.attrs.kalkulacja.sumyPklKwotaMf()[walsmbl]}"></ui:param>
					<div class="w120 inlblock mt-2i mb-5i right">
						<p:outputLabel
								value="#{v.formatNzNumber(walkwt,'#0.00')} #{walsmbl}"
								styleClass="p0 fs16"
								style="#{     0 lt walkwt ? 'color:black!important;'
											: 0 gt walkwt ? 'color:red!important;'
									   		:               'color:lightgray!important;'
									   	}"
						/>
					</div>
				</ui:repeat>
			</div>

        </h:panelGroup>

    </div>


</cc:implementation>
</html>