<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	  xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface>

	<cc:attribute name="wnd"  required="true" type="com.comarch.egeria.pp.delegacje.model.DeltWnioskiDelegacji" />

	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>

</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}" class="#{cc.attrs.styleClass}" style="#{cc.attrs.style}">

		<c:cSelectBooleanCheckboxTN
				label="Domyślne źródło finansowania i wniosek o zaangażowanie "
				value="#{cc.attrs.wnd.wndFDomyslneZf}"
				process="@this" partialSubmit="true"
				onstart="hgon();" oncomplete="hgoff();"
		/>

		<h:panelGroup
				id="domyslneZF"
				styleClass="mt10 mb20 d-flex"
				rendered="#{'T' eq cc.attrs.wnd.wndFDomyslneZf}"
		>

			<c:cLovJS
					label="Źródło finansowania"
					lovDlgTitle="Źródła finansowania" process="@this"
					lovTextFormat="%3$s"
					styleClass="w420 mr20"
					datasource="#{cc.attrs.wnd.getLW('PPL_DEL_ZRODLA_FIN')}"
					value="#{cc.attrs.wnd.wndSkId}"
					update="@(.rdKsztAngaz) @(.domyslneZF) @(.dlgLovJS_Wnioski_o_zaangażowanie_ppl_del_zaangazowanie_zf)"
			/>

			<c:cLovJS
					label="Wniosek o zaangażowanie środków"
					lovDlgTitle="Wnioski o zaangażowanie" process="@this"
					lovTextFormat="%6$s"
					styleClass="w160 mr20"
					readonly="#{cc.attrs.wnd.wndSkId eq null}"
					datasource="#{cc.attrs.wnd.getLW('PPL_DEL_ZAANGAZOWANIE_ZF')}"
					value="#{cc.attrs.wnd.wndWnrId}"
			/>

		</h:panelGroup>


	</div>
</cc:implementation>
</html>