<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface>

	<cc:attribute name="readonly" 		type="java.lang.Boolean" default="false" />
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>


	<cc:attribute name="title" 			type="java.lang.String"/>
	<cc:attribute name="kalkulacja"     type="com.comarch.egeria.pp.delegacje.model.DeltKalkulacje"/>
	<cc:attribute name="typyDiet"       type="java.lang.String"/>
	<cc:attribute name="typyDietExclude"       type="java.lang.Boolean" default="false"/>

</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}" class="#{cc.attrs.styleClass} ui-g p0" style="#{cc.attrs.style}">

        <h:panelGroup id="uicntnt" styleClass="deltPozycjeKalkulacji validZFPklList cc-btn-zf ui-g-12 p0" >

            <ui:param name="ccPklLst" value="#{cc.attrs.kalkulacja.getPklListByKtgDiet(cc.attrs.typyDiet, cc.attrs.typyDietExclude)}"/>

            <p:outputLabel
                    value="#{cc.attrs.title} #{ccPklLst.size() gt 0 ? '('.concat( ''+ccPklLst.size() ).concat(')') : ''}"
                    styleClass="ui-g-4 p0"
                    style="#{ccPklLst.size() eq 0 ? 'color:gray!important;'
                                    : cc.attrs.kalkulacja.isValidZFPklList(ccPklLst) ? 'color:black!important;' : 'color:red!important;'}"
            />


            <div class="ui-g-8 right p0">
				<ui:repeat value="#{cc.attrs.kalkulacja.walutySymbole()}" var="walsmbl">
					<ui:param name="walkwt" value="#{cc.attrs.kalkulacja.sumyPklKwotaMf(ccPklLst)[walsmbl]}"></ui:param>
					<div class="w120 inlblock">
						<p:outputLabel
								value="#{v.formatNzNumber(walkwt,'#0.00')} #{walsmbl}"
								styleClass="p0"
								style="#{	  0 lt walkwt ? 'color:black!important;'
											: 0 gt walkwt ? 'color:red!important;'
									   		:               'color:lightgray!important;'
									   	}"
						/>
					</div>
				</ui:repeat>
            </div>


        </h:panelGroup>

    </div>


</cc:implementation>
</html>