<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	  xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface>

	<cc:attribute name="readonly" 			type="java.lang.Boolean" default="false" />
	<cc:attribute name="style" 				type="java.lang.String"/>
	<cc:attribute name="styleClass" 		type="java.lang.String"/>

	<cc:attribute name="kalkulacja"     	type="com.comarch.egeria.pp.delegacjeStd.model.Kalkulacja"/>
	<cc:attribute name="typyDiet"      		type="java.lang.String"/>
	<cc:attribute name="typyDietExclude"    type="java.lang.Boolean" default="false"/>


	<cc:attribute name="btnAddAction"  method-signature="void action()" 	/>


</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}" class=" ui-g ui-g-12 p0 #{cc.attrs.styleClass}" style="#{cc.attrs.style}">


         <ui:param name="ccPklLst" value="#{cc.attrs.kalkulacja.getPklListByKtgDiet(cc.attrs.typyDiet, cc.attrs.typyDietExclude)}"/>


		<div id="pklHaeder" class="ui-g-12 ui-g-v-center mh30">
			<p:outputLabel value="Kraj" styleClass="ui-g-1"/>
			
<!-- 			<p:outputLabel value="Rodzaj" styleClass="ui-g-2" rendered="#{cc.attrs.typyDietExclude}"/> -->
			<p:outputLabel value="Miejscowowść" styleClass="ui-g-2" rendered="#{'H,RH' eq cc.attrs.typyDiet}"/>
			<p:outputLabel value="Opis" styleClass="ui-g-2" rendered="#{cc.attrs.typyDietExclude}"/>
			<p:outputLabel value="Ilość" styleClass="ui-g-1"/>
			<p:outputLabel value="Stawka" styleClass="ui-g-1"/>
			<p:outputLabel value="Waluta" styleClass="ui-g-1"/>
			<p:outputLabel value="Śniadania" styleClass="ui-g-1" rendered="#{'P' eq cc.attrs.typyDiet}"/>
			<p:outputLabel value="Obiady" styleClass="ui-g-1" rendered="#{'P' eq cc.attrs.typyDiet}"/>
			<p:outputLabel value="Kolacje" styleClass="ui-g-1" rendered="#{'P' eq cc.attrs.typyDiet}"/>
			<p:outputLabel value="Kwota" styleClass="ui-g-1"/>
			<p:outputLabel value="Refundacja" styleClass="ui-g-1"/>
			<p:outputLabel value="Rodzaj" styleClass="ui-g-1" rendered="#{'H,RH' eq cc.attrs.typyDiet}"/>
			<p:outputLabel value="Forma płatności" styleClass="ui-g-2"/>
			<p:outputLabel value="Opłacający" styleClass="ui-g-2"/>
			<div class="ui-g-1 ui-g-v-center">
<!-- 				<p:outputLabel value="ŹF" styleClass="ui-g-6"/> -->
				<p:commandButton styleClass="ui-g-6" icon="add"
					rendered="#{not('H,RH' eq cc.attrs.typyDiet)}"
					action="#{cc.attrs.kalkulacja.addPklByKtg(cc.attrs.typyDiet)}"
					disabled="#{'T' eq cc.attrs.kalkulacja.deltWnioskiDelegacji.wndFBezkosztowa}"
				/>
				
				<p:commandButton styleClass="ui-g-6" icon="add"
					rendered="#{'H,RH' eq cc.attrs.typyDiet}"
					action="#{cc.attrs.btnAddAction}"
					disabled="#{'T' eq cc.attrs.kalkulacja.deltWnioskiDelegacji.wndFBezkosztowa}"
				/>
			</div>
		</div>

		<p:separator styleClass="ui-g-12 p0 " />

		<ui:repeat var="pkl" value="#{ccPklLst}">

			<div id="pklRow" class="ui-g-12 ui-g-v-center mh30">

<!-- 				Kraj -->
				<c:cLovJS lovDlgTitle="Lista krajów"
				    styleClass="ui-g-1"
				    datasource="#{v.getLW('PPL_WSP_KRAJE')}"
				    lovTextFormat="%3$s"
				    value="#{pkl.pklKrId}"
				/>
				
<!-- 				Rodzaj -->
<!-- 				<c:cLovJS styleClass="ui-g-2" -->
<!-- 					value="#{pkl.pklTpozId}"  -->
<!-- 					datasource="#{v.getLW('PPL_DEL_TYPY_POZ_INNE',[cc.attrs.kalkulacja.deltWnioskiDelegacji.wndStdId])}" -->
<!-- 					lovTextFormat="%3$s" -->
<!-- 					rendered="#{cc.attrs.typyDietExclude}" -->
<!-- 				/> -->
				
<!-- 				Miejscowość / Opis				 -->
				<c:cInputText styleClass="ui-g-2"
					value="#{pkl.pklOpis}"
					rendered="#{('H,RH' eq cc.attrs.typyDiet) or cc.attrs.typyDietExclude}"
				/>				

<!-- 				Ilość -->
				<c:cInputNumber styleClass="ui-g-1"
					value="#{pkl.pklIlosc}"
					decimalPlaces="#{'P' eq cc.attrs.typyDiet ? 4 : 2}"
					minValue="0.00"
				/>

<!-- 				Stawka -->
				<c:cInputNumber styleClass="ui-g-1"
					value="#{pkl.pklStawka}"
				/>

<!-- 				Waluta -->
				<c:cSOM
					styleClass="ui-g-1"
					datasource="#{v.getLW('PPL_SYMBOLE_WALUT')}"
					value="#{pkl.pklWalId}"
				/>

<!-- 				Śniadania -->
				<c:cInputNumber styleClass="ui-g-1"
					value="#{pkl.pklSniadania}"
					decimalPlaces="0"
					rendered="#{'P' eq cc.attrs.typyDiet}"
				/>

<!-- 				Obiady -->
				<c:cInputNumber styleClass="ui-g-1"
					value="#{pkl.pklObiady}"
					decimalPlaces="0"
					rendered="#{'P' eq cc.attrs.typyDiet}"
				/>

<!-- 				Kolacje -->
				<c:cInputNumber styleClass="ui-g-1"
					value="#{pkl.pklKolacje}"
					decimalPlaces="0"
					rendered="#{'P' eq cc.attrs.typyDiet}"
				/>

<!-- 				Kwota	 -->
				<c:cInputNumber styleClass="ui-g-1"
					id="inpKwota"
					value="#{pkl.pklKwota}"
				/>

<!-- 				Refundacja -->
				<c:cInputNumber styleClass="ui-g-1"
					value="#{pkl.pklRefundacjaKwota}"
				/>
				
<!-- 				Rodzaj -->
				<c:cInputText styleClass="ui-g-1"
					value="#{'RH' eq pkl.getTypPozycjiKategoria() ? 'Ryczałt' : 'Dieta'}"
					readonly="true"
					rendered="#{'H,RH' eq cc.attrs.typyDiet}"
				/>

<!-- 				Forma płatności -->
				<c:cLovJS styleClass="ui-g-2"
				   lovDlgTitle="Formy płatności"
				   placeholder="wybierz"
				   datasource="#{v.getSlownik('DEL_FORMY_PLATNOSCI')}"
				   value="#{pkl.pklFormaPlatnosci}"
				   lovTextFormat="%2$s"
				/>
				
				<c:cLovJS styleClass="ui-g-2" 
				   lovDlgTitle="Opłacający"
				   placeholder="wybierz"
				   datasource="#{v.getSlownik('DEL_OPLACAJACY_PKL')}"
				   value="#{pkl.pklOplacajacy}"
				   lovTextFormat="%2$s"
				/>

<!-- 				Termin wykupu -->
<!-- 				<h:panelGroup styleClass="ui-g-2" rendered="#{'H' eq pkl.getKategoria()}"> -->
<!-- 					<c:cCalendarHour value="#{pkl.pklTerminWykupu}"  -->
<!-- 					/>   -->
<!-- 				</h:panelGroup> -->
				
				
<!-- 				<h:panelGroup styleClass="ui-g-2" rendered="#{'RH' eq pkl.getKategoria()}"> -->
<!-- 					<c:cCalendarHour value="#{pkl.pklTerminWykupu}"  -->
<!-- 						readonly="true" -->
<!-- 					/>   -->
<!-- 				</h:panelGroup> -->


<!-- 				ZF i btns -->
				<div class="ui-g-1 ui-g-v-center">

<!-- 					<c:cZFMFZagrButton -->
<!-- 							styleClass="ui-g-6" -->
<!-- 							pkl="#{pkl}" -->
<!-- 							pklList="#{ccPklLst}" -->
<!-- 					/> -->

					<p:commandButton
							styleClass="ui-g-6"
							icon="delete"
							action="#{cc.attrs.kalkulacja.removeDeltPozycjeKalkulacji(pkl)}"
							disabled="#{'T' eq  cc.attrs.kalkulacja.deltWnioskiDelegacji.wndFBezkosztowa}"
							onstart="hgon();" oncomplete="hgoff();"
					/>

				</div>

			</div>
		</ui:repeat>

		<p:separator styleClass="ui-g-12 p0"/>

    </div>


</cc:implementation>
</html>