<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface>

	<cc:attribute name="readonly" 		type="java.lang.Boolean" default="false" />
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>

	<cc:attribute name="kalkulacja"     type="com.comarch.egeria.pp.delegacje.model.DeltKalkulacje"/>

</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}"
		 class="d-flex p0 #{empty cc.attrs.kalkulacja.deltTrasies ? 'opacity-05': ''} #{cc.attrs.styleClass} "
		 style="#{cc.attrs.style}">

            <p:outputLabel
                    value="PLAN TRASY"
                    styleClass="p0 txt-black"
             />

			<p:outputLabel
					value="#{cc.attrs.kalkulacja.opisTrasyKrajeMiasta}"
					styleClass="p0 mlautoi txt-black"
			/>

    </div>


</cc:implementation>
</html>