<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	  xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface>

	<cc:attribute name="readonly" 		type="java.lang.Boolean" default="false" />
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>


	<cc:attribute name="dkz"     type="com.comarch.egeria.pp.delegacje.model.DelZaliczki"/>
	<cc:attribute name="kalkulacja"     type="com.comarch.egeria.pp.delegacje.model.DeltKalkulacje"/>


</cc:interface>

<cc:implementation>
<div id="#{cc.clientId}" class="d-flex-column p0 #{cc.attrs.styleClass}" style="#{cc.attrs.style}">

	<div class="d-flex a-i-center p0">

		<h:panelGroup styleClass="w140">

			<p:commandButton
					styleClass="p0 pb5 pr0"
					rendered="#{cc.attrs.dkz.dkzDokId ne null}"
					id="usunDKZ"
					icon="delete_sweep"
					partialSubmit="true" process="@this"
					action="#{cc.attrs.dkz.usunDokNZ()}"
					disabled="#{cc.attrs.dkz.czyZatwierdzona or cc.attrs.dkz.czyDokAnulowany}"
					onstart="hgon();" oncomplete="hgoff();"
					title="usunięcie dokumentu polecenia z NZ jest możliwe jeśli operacja nie została zatwierdzona lub zrealizowana przez kasjera"
			>
				<p:confirm header="Usunięcie dokumentu polecenia z NZ"
						   message="Czy chcesz anulować realizację dla wskazanej zaliczki?"
						   icon="ui-icon-alert"/>
			</p:commandButton>

			<p:outputLabel
					styleClass="fs16"
					rendered="#{cc.attrs.dkz.dkzDokId ne null}"
					value="#{cc.attrs.dkz.dkzDokId}"
					style="color: #{cc.attrs.dkz.nzDokKolor}"
					title="#{cc.attrs.dkz.nzDokStatus} (DKZ #{cc.attrs.dkz.dkzId})"
			/>

			<!--	disabled="#{delegacjaMFBean.sprawdzCzyZalZatwierdzona(cc.attrs.dkz)}"-->
			<!--	rendered="#{'N' eq delegacjaMFBean.wniosek.wndFZaliczka ? false : true}"-->
			<!--	update="@(.zaliczkiR)"-->


<!-- 				actionListener="#{delegacjaMFBean.generujDokumentNZ(cc.attrs.dkz)}" -->
<!--			<p:commandButton-->
<!--					disabled="true"-->
<!--					styleClass="granatowy center p0 m0i"-->
<!--					rendered="#{cc.attrs.dkz.dkzDokId eq null}"-->
<!--					value="DYSPOZYCJA #{cc.attrs.dkz.getRodzajDyspozycji()}"-->
<!--					title="#{cc.attrs.dkz.getDyspozycjaTitle(cc.attrs.dkz.getRodzajDyspozycji())}"-->
<!--					actionListener="#{cc.attrs.dkz.generujDokumentNZ()}"-->
<!--					onstart="hgon()"-->
<!--					oncomplete="hgoff()"-->
<!--			/>-->
			<c:cSelectBooleanCheckboxTN
					label="DYSPOZYCJA #{cc.attrs.dkz.getRodzajDyspozycji()}"
					title="Czy generować dyspozycję dla DKZ #{cc.attrs.dkz.dkzId}?"
					value="#{cc.attrs.dkz.dkzFDokNz}"
					rendered="#{cc.attrs.dkz.dkzDokId eq null}"
			/>

<!--			<p:outputLabel for="@parent" rendered="#{cc.attrs.dkz.dkzDokId eq null}" value="" title="DKZ #{cc.attrs.dkz.dkzId}" />-->

		</h:panelGroup>

		
		<c:cCalendar
				styleClass="w100 ml10" inputStyle="color:darkgreen;"
				value="#{cc.attrs.dkz.dkzDataWyp}"
				rendered="#{cc.attrs.dkz.dkzDokId == null}"
				title="Data operacji z modułu PP"
		/>
<!--				inputStyle="#{cc.attrs.dkz.dkzDokId!=null ? 'color:black!important; opacity:1.0!important;' : 'color:gray!important' }"-->

		<c:cInputText
				readonly="true"
				styleClass="w100 ml10 txt-black"
				value="#{v.format(cc.attrs.dkz.nzDokDataOperacji)}"
				rendered="#{cc.attrs.dkz.dkzDokId != null}"
				title="Data operacji z modulu NZ"
		/>
		

		<c:cInputNumber
				styleClass="w100 ml10"
				value="#{cc.attrs.dkz.dkzKwota}"
				symbol="#{cc.attrs.dkz.walSymbol}"
				rendered="#{cc.attrs.dkz.dkzDokId==null}"
				inputStyle="#{cc.attrs.dkz.dkzDokId!=null ? 'color:black!important;' : cc.attrs.dkz.dkzKwota gt 0.0  ? 'color:darkgreen!important'  : 'color:darkred!important' }"
				title="DKZ: #{cc.attrs.dkz.dkzId} #{cc.attrs.dkz.delZaliczkaZWR!=null ? ' (zwrot do DOK: '.concat(cc.attrs.dkz.delZaliczkaZWR.dkzDokId)
																						.concat(' / DKZ: ').concat(cc.attrs.dkz.delZaliczkaZWR.dkzId)
																						.concat(')')
																							 : ''}"
		/>

		<c:cInputNumber
				styleClass="w100 ml10"
				value="#{cc.attrs.dkz.nzDokKwotaWaluty}"
				symbol="#{cc.attrs.dkz.walSymbol}"
				readonly="true"
				rendered="#{cc.attrs.dkz.dkzDokId!=null}"
				inputStyle="#{cc.attrs.dkz.dkzDokId!=null ? 'color:black!important;' : cc.attrs.dkz.dkzKwota gt 0.0  ? 'color:darkgreen!important'  : 'color:darkred!important' }"
				title="Kwota waluty dokumentu NZ"
		/>

		<c:cInputNumber
				styleClass="w100 ml10"
				value="#{cc.attrs.dkz.kurs.przelicznik}"
				decimalPlaces="4"
				title="#{cc.attrs.dkz.kurs.opis}"
				readonly="true"
				rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"
				inputStyle="#{cc.attrs.dkz.dkzDokId!=null ? 'color:black!important;' : 'color:gray!important' }"
		/>



		<c:cInputNumber
				styleClass="w100 ml10"
				value="#{cc.attrs.dkz.kwotaPlnDokDkz}"
				symbol="PLN"
				readonly="true"
				rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"
				inputStyle="#{cc.attrs.dkz.dkzDokId!=null ? 'color:black!important;' : 'color:gray!important' }"
		/>

		<c:cDKZ_ZFAngazeListInfo dkz="#{cc.attrs.dkz}" kalkulacja="#{cc.attrs.kalkulacja}" styleClass="w25"/>

		<c:cSOM
				styleClass="w150 ml10"
				datasource="#{v.getSlownik('DEL_FORMY_WYPLATY')}"
				value="#{cc.attrs.dkz.dkzFormaWyplaty}"
				readonly="#{cc.attrs.dkz.dkzDokId!=null}"
		/>
		
		<c:cSelectBooleanCheckboxTN
				styleClass="w100 ml10 center"
				value="#{cc.attrs.dkz.dkzCzyRownowartosc}"
				rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"
				disabled="#{cc.attrs.dkz.dkzDokId!=null or cc.attrs.dkz.dkzWalId eq 1}"
		/>

		<h:panelGroup id="nrKnt" styleClass="w300 ml10 #{cc.attrs.dkz.dkzFormaWyplaty}">

			<c:cLovJS
					styleClass="w280 p0"
					datasource="#{v.getLW('PPL_DEL_KONTA_PRC', cc.attrs.kalkulacja.getDeltWnioskiDelegacji().wndPrcId)}"
					value="#{cc.attrs.dkz.dkzNrKonta}"
					readonly="#{cc.attrs.dkz.dkzDokId!=null}"
					rendered="#{cc.attrs.dkz.dkzKwota gt 0 and 'B' eq cc.attrs.dkz.dkzFormaWyplaty and cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"
					lovTextFormat="%2$s"
					lovDlgTitle="Lista kont pracownika"
			/>
			
			<c:cLovJS
					styleClass="w280 p0"
					datasource="#{v.getLW('PPL_DEL_KONTA_PRC_PLN', cc.attrs.kalkulacja.getDeltWnioskiDelegacji().wndPrcId)}"
					value="#{cc.attrs.dkz.dkzNrKonta}"
					readonly="#{cc.attrs.dkz.dkzDokId!=null}"
					rendered="#{cc.attrs.dkz.dkzKwota gt 0 and 'B' eq cc.attrs.dkz.dkzFormaWyplaty and cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 1}"
					lovTextFormat="%2$s"
					lovDlgTitle="Lista kont pracownika"
			/>

			<c:cLovJS
					styleClass="w280 p0"
					datasource="#{v.getLW('PPL_DEL_KONTA_MF')}"
					value="#{cc.attrs.dkz.dkzNrKonta}"
					readonly="#{cc.attrs.dkz.dkzDokId!=null}"
					rendered="#{cc.attrs.dkz.dkzKwota lt 0 and 'B' eq cc.attrs.dkz.dkzFormaWyplaty}"
					lovTextFormat="%2$s"
					lovDlgTitle="Lista kont MF"
			/>
			
			
<!-- 		TODO	warunek na poniższe opcjonalny a domyślnie false, ustawisz true jedynie dla wstępnej  -->
			

		</h:panelGroup>


		<c:cInputNumber
				styleClass="w100 mlautoi"
				value="#{cc.attrs.dkz.dkzKurs}"
				decimalPlaces="4"
				readonly="#{cc.attrs.dkz.dkzDokId!=null}"
				rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"
				inputStyle="#{cc.attrs.dkz.dkzDokId!=null ? 'color:black!important;' : 'color:gray!important' }"
				title="#{cc.attrs.dkz.kursWstepny.opis}"
		/><!--	rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2 and cc.attrs.kalkulacja.kalRodzaj eq 'WST'}"-->



<!-- 				readonly="true" -->
<!-- 				 -->
		
		<c:cInputNumber
				styleClass="w120 ml10"
				value="#{cc.attrs.dkz.kwotaPlnWstepna}"
				symbol="PLN"
				readonly="true"
				rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2}"
				inputStyle="#{cc.attrs.dkz.dkzDokId!=null ? 'color:black!important;' : 'color:gray!important' }"
		/><!--	rendered="#{cc.attrs.kalkulacja.deltWnioskiDelegacji.wndRodzaj eq 2 and cc.attrs.kalkulacja.kalRodzaj eq 'WST'}"-->

<!--		<p:commandButton styleClass="w25 ml10"-->
<!--			 id="usunDkz"-->
<!--			 icon="delete"-->
<!--			 partialSubmit="true" process="@this"-->
<!--			 action="#{cc.attrs.dkz.deltKalkulacje.usunDKZ(cc.attrs.dkz)}"-->
<!--			 disabled="#{cc.attrs.dkz.czyZatwierdzona}"-->
<!--			 onstart="hgon();" oncomplete="hgoff();"-->
<!--		>-->
<!--			<p:confirm header="Usunięcie zaliczki" disabled="#{cc.attrs.dkz.dkzDokId == null}"-->
<!--					   message="Czy chcesz usunąć dokument #{cc.attrs.dkz.dkzDokId} z NZ?"-->
<!--					   icon="ui-icon-alert"/>-->
<!--		</p:commandButton>-->

<!--TODO: raczej przycik przelicz/grupuj w stopce tabelki DKZ....-->

	</div>

	<h:panelGroup rendered="#{v.getLW('PPL_DEL_DOKUMENTY_INNE', cc.attrs.dkz.dkzId).getData().size() > 0}" styleClass="d-flex-column" layout="block">
		<ui:repeat var="r" value="#{v.getLW('PPL_DEL_DOKUMENTY_INNE', cc.attrs.dkz.dkzId).getData()}">
			<div class="d-flex a-i-center">
				<p:outputLabel 	value="#{r.get('dok_id_zewn')}" styleClass="fs16 mmw105 ml35 p0"/>
				<c:cInputText 	value="#{v.format(r.get('dok_data_operacji'))}" readonly="true" styleClass="mmw100 p0 ml10"/>
				<c:cInputNumber value="#{r.get('dok_kwota_waluty')}" symbol=" #{cc.attrs.dkz.getWalSymbol(r.get('wal_id'))}"  readonly="true" styleClass="mmw100 p0 ml10"/>
				<c:cInputNumber value="#{r.get('dok_kurs')}" decimalPlaces="4" readonly="true" styleClass="mmw100 p0 ml10"/>
				<c:cInputNumber value="#{r.get('dok_kwota')}" symbol=" PLN" readonly="true" styleClass="mmw100 p0 ml10"/>

				<div class="mrauto"></div>
			</div>
		</ui:repeat>
	</h:panelGroup>


</div>
</cc:implementation>
</html>