<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	  xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface>

	<cc:attribute name="readonly" 		type="java.lang.Boolean" default="false" />
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>

	<cc:attribute name="dkz"     type="com.comarch.egeria.pp.delegacje.model.DelZaliczki" required="true"/>
    <cc:attribute name="kalkulacja"     type="com.comarch.egeria.pp.delegacje.model.DeltKalkulacje" />

</cc:interface>

<cc:implementation>
<div id="#{cc.clientId}" class="#{cc.attrs.styleClass}" style="#{cc.attrs.style}">




        <p:commandButton id="btnAngLst" icon="search" />

        <p:overlayPanel for="btnAngLst" my="bottom" at="top">

            <div class="ui-g p10 mh200 mmw700" style="overflow-y: auto;">

                <ui:param name="czyZwrot" value="#{cc.attrs.dkz.dkzKwota lt 0.0 }"/>

                <p:outputLabel value="#{czyZwrot ? 'Pozycje (angaże) wypłacone:' : 'Pozycje (angaże) związane:'}" styleClass="ui-g-12 p0 m0"/>
                <p:separator styleClass="ui-g-12 p0 m0 mt2 mb2"/>

                <ui:repeat value="#{czyZwrot ? cc.attrs.dkz.angazeDlaZwrotu : cc.attrs.dkz.getAngaze(cc.attrs.kalkulacja)}" var="ang">

                    <ui:param name="zf" value="#{ang.deltZrodlaFinansowania}"></ui:param>
                    <ui:param name="pkl" value="#{zf.deltPozycjeKalkulacji}"></ui:param>

                    <h:panelGroup id="pnlPodsAngR" styleClass="ui-g-12 p0" >

                        <h:panelGroup id="pnlPodsAngRow" styleClass="ui-g-12 p0 ui-g-v-center">

                            <div class="ui-g-6 p0">

                                <p:outputLabel
                                        value="#{zf.symbol}"
                                        styleClass="ui-g-12 p0"
                                        style="#{zf.delZaliczki!=null ? 'color:black!important;': ''}"
                                        title="#{zf.delZaliczki!=null
                                            ? 'zaliczka/rozliczenie: '.concat(zf.delZaliczki.dkzId).concat(zf.delZaliczki.dkzDokId!=null ? ' / dokument NZ: '.concat(zf.delZaliczki.dkzDokId) : '')
                                            : 'brak powiązanych dokumentów finansowych'}"
                                        for="@parent"
                                />

                                <p:outputLabel
                                        value="#{ang.numerWniosku}"
                                        styleClass="ui-g-6 p0"
                                        style="color:black!important;"
                                        for="@parent"
                                />

                                <p:outputLabel
                                        value="#{pkl.krajSymbol} / #{pkl.delTypyPozycji.tpozNazwa}"
                                        styleClass="ui-g-6 p0"
                                        for="@parent"
                                />

                            </div>

                            <div class="ui-g-6 p0">
                                <p:outputLabel value="#{v.format(ang.angKwota,'#0.00')} #{ang.deltZrodlaFinansowania.deltPozycjeKalkulacji.walSymbol}" styleClass="ui-g-4 right fs16 p0" style="color:black!important;" for="@parent"/>
                                <p:outputLabel value="#{v.format(ang.kurs.przelicznik,'#0.0000')}" title="#{ang.kurs.opis}" styleClass="ui-g-4 right fs16 p0" style="#{ang.kurs.dokId!=null ? 'color:black!important' : ''}" for="@parent"/>
                                <p:outputLabel value="#{v.format(ang.kwotaPLN,'#0.00')} PLN" styleClass="ui-g-4 right fs16 p0" style="#{ang.kurs.dokId!=null ? 'color:black!important' : ''}" for="@parent"/>
                            </div>

                        </h:panelGroup>

                        <p:separator styleClass="ui-g-12 p0 m0 mt2 mb2" style="#{cc.attrs.kalkulacja eq ang.kalkulacja ? 'border-color:steelblue!important;' : 'border-color:darkred!important;'}"/>


                    </h:panelGroup>

                </ui:repeat>




            </div>

        </p:overlayPanel>



</div>
</cc:implementation>
</html>