<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	  xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface>
	
	<cc:attribute name="viewmodel" 		type="com.comarch.egeria.pp.erd.TabVM" required="true"	/>

	<cc:attribute name="styleClass" 	type="java.lang.String"/>
	<cc:attribute name="style" 			type="java.lang.String"/>

</cc:interface>

<cc:implementation>

	<div id="#{cc.clientId}" class="d-flex-1-column #{cc.attrs.styleClass}" style=" #{cc.attrs.style}">
		
		<ui:param name="model" value="#{cc.attrs.viewmodel.model}"></ui:param>

<!--		#{model}-->

		<p:commandButton
				styleClass="position-absolute right30 top20 fs45 mmw50"
				style="z-index: 999"
				icon="save"  title="zapisz zmiany"
				action="#{tabVM.model.saveOrUpdate}"
				partialSubmit="true" process="@form"
				onstart="hgon()"
				oncomplete="if (parent!=undefined) window.opener.location.reload(false); hgoff();"
		/>

		<p:accordionPanel id="acctb" styleClass="p20" multiple="true" activeIndex="0,1">

			<p:tab title="...">

				<f:facet name="title">
					<p:outputLabel value="Dane tabeli #{model.tbColumnPrefix} / #{model.tbTableName}: " styleClass="p10 fs20"/>
				</f:facet>

				<div class="d-flex flex-wrap a-i-center">

					<c:cInputText
							label="Prefix kolumn w tabeli:"
							value="#{model.tbColumnPrefix}"
							styleClass="flex-100 m10"/>

					<c:cInputText
							label="Nazwa tabeli:"
							value="#{model.tbTableName}"
							styleClass="flex-300 m10"/>

					<c:cInputText
							label="Nazwa encji:"
							value="#{model.tbEntityName}"
							styleClass="flex-300 m10"/>

					<c:cInputTextArea
							label="Opis tabeli:"
							value="#{model.tbDesc}"
							styleClass="flex-800 m10"
							rows="1"
					/>
				</div>

			</p:tab>

		</p:accordionPanel>



		<h:panelGroup id="pnlClmns" styleClass="d-flex-1-column p30" >

			<div class="d-flex a-i-center">
				<p:outputLabel value="Kolumny (#{model.tabCols.size()}): " styleClass="fs20 mmw125"/>
				<p:inputText id="txtszukaj" placeholder="szukaj ..." value="#{cc.attrs.viewmodel.kolFilterExpr}" styleClass="mmw200">
					<p:ajax event="keyup" partialSubmit="true" delay="500" async="false"/>
					<p:focus for="txtszukaj"/>
				</p:inputText>
				<p:commandButton icon="clear" action="#{cc.attrs.viewmodel.setKolFilterExpr('')}" styleClass="mmw30"/>

				<p:commandButton
						icon="add" title="dodaj kolumnę"
						styleClass="mlautoi fs40 mmw50"
						actionListener="#{cc.attrs.viewmodel.setKolFilterExpr('')}"
						action="#{model.addNewTabCol()}"
						onstart="hgon()" oncomplete="hgoff(); $('#scrlcols').scrollTop(Number.MAX_SAFE_INTEGER);"
				/>
			</div>
			<div class="w100p bg-red mmh1 mt10 mb10 opacity-05"/>

			<div id="scrlcols" class="d-flex-1-column" style="overflow: auto;">
			<div class="h10">
				<ui:repeat value="#{cc.attrs.viewmodel.tabColsFiltered}" var="col">

					<div class="d-flex flex-wrap w100p a-i-center ui-r-hoover mt5" style="position: relative;">

						<c:cInputText value="#{ col.tcPropertyName }" label="Nazwa właściwości" 	styleClass="flex-150 m10"/>
						<c:cInputText value="#{ col.tcColumnName }" label="Nazwa kolumny" 			styleClass="flex-150 m10"/>
						<c:cInputText value="#{ col.tcDataType }" label="Typ danych" 				styleClass="flex-150 m10"/>
						<c:cInputText value="#{ col.tcIxName }" label="Indeks" 						styleClass="flex-100 m10"/>
						<c:cInputText value="#{ col.tcUkName }" label="Ind. unikatowy" 				styleClass="flex-100 m10"/>
						<c:cInputText value="#{ col.tcDesc }" 	label="Opis kolumny" 				styleClass="flex-500 m10"/>

						<div class="ui-visibility-hoover right0" style="position: absolute;">
							<p:commandButton
									icon="delete" title="usuń kolumnę"
									action="#{model.removePptTabCol(col)}"
									styleClass="fs40 mmw50"
									onstart="scrltoptmp = $('#scrlcols').scrollTop();"
									oncomplete="$('#scrlcols').scrollTop(scrltoptmp);"/>
						</div>

					</div>

					<div class="flex-850 bg-blue mmh1 mb10 opacity-03"/>

				</ui:repeat>
			</div>
			</div>

			<div class="w100p bg-red mmh1 mt10 mb10 opacity-05"/>
<!--			<div class="d-flex w100p">-->
<!--				<p:commandButton-->
<!--						value="dodaj kolumnę"-->
<!--						icon="add"-->
<!--						styleClass="granatowy mlautoi"-->
<!--						actionListener="#{cc.attrs.viewmodel.setKolFilterExpr('')}"-->
<!--						action="#{model.addNewTabCol()}"-->
<!--						onstart="hgon()" oncomplete="hgoff(); $('#scrlcols').scrollTop(Number.MAX_SAFE_INTEGER);"-->
<!--				/>-->
<!--			</div>-->


		</h:panelGroup>

	</div>
</cc:implementation>
</html>