<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">



<cc:interface>

<cc:attribute name="wuprid" /> 
	
<!-- 	<cc:attribute name="datasource" type="com.comarch.egeria.pp.data.SqlDataSelectionsHandler" required="true" /> -->
<!-- 	<cc:attribute name="textFormat"  default="%2$s" /> -->
<!-- 	<cc:attribute name="valueFormat" default="%1$s" /> -->
<!-- 	<cc:attribute name="value" /> -->
	
<!-- 	<cc:attribute name="width" default="200"  /> -->
<!-- 	<cc:attribute name="emptyLabel" default="Wybierz" /> -->

</cc:interface>

<cc:implementation>

<!-- <div id="#{cc.clientId}" style="border:1px solid gray"> -->

<!-- <p:commandButton id="WUPRbtn"  -->
<!-- 	icon="perm_data_setting"  -->
<!-- 	rendered="#{user.login eq 'ek_wa_administrator'}"  -->
<!-- 	style="position:absolute; left:0; top:0"  -->
<!-- 	onclick="alert('TODO: ustawienia uprawnień...'); "  -->
<!-- 	onmouseover	="$('#'+'#{cc.clientId.replace(':','\\\\:')}').css('border', '1px solid red');" -->
<!-- 	onmouseout 	="$('#'+'#{cc.clientId.replace(':','\\\\:')}').css('border', 'none');" -->
<!-- /> -->
<!-- <p:tooltip for="WUPRbtn" value="definicja uprawnień dla bloku: #{cc.clientId}" /> -->


<!-- <h:button value="..." onclick="alert('TODO: ustawienia uprawnień...'); return false;" -->
<!-- onmouseover ="console.log(1); $('#'+'#{cc.clientId.replace(':','\\\\:')}').css('border', '1px solid red');" -->
<!-- onmouseout	="console.log(2); $('#'+'#{cc.clientId.replace(':','\\\\:')}').css('border', '1px solid gray');" -->
<!-- /> -->

<!-- <fieldset  -->
<!-- 	jsf:id="fieldset"  -->
<!-- 	rendered="true"  -->
<!-- 	disabled="disabled" > -->
	
	<h:outputText value=".xxxxxxxxxx..test...#{cc.attrs.wuprid}...test..." escape="false" />
	<!-- 	<f:passThroughAttributes value="#{ocenaOkrBean.getFieldsetParams( ocenaOkrBean.allowUpdateCzI() )}"/> -->
	
	<cc:insertChildren/>

<!-- </fieldset> -->
						
<!-- </div> -->

</cc:implementation>

</html>









