<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">



<cc:interface>
	<cc:attribute name="wuprid" /> 
</cc:interface>

<cc:implementation>
#{testBean.iterateChildren(component)}

<div id="#{cc.clientId}" style="position:relative;">

<!-- TODO: 	jesli brak uprawnienia do odczytu (!read):  rendered = false... ew. div / visibility=hidden... -->
<!-- 		jesli brak mozliwosci edycji (!update): disabled="disabled" -->
		
<!-- 		brak możliwości dodawania (!create)... na przycisku/akcji? -->
<!-- 		brak możliwości dodawania (!delete)... na przycisku/akcji? -->
		

<p:commandButton id="WUPRbtn" 
	icon="perm_data_setting" 
	onclick="alert('TODO: ustawienia uprawnień dla bloku: #{cc.clientId}'); " 
	partialSubmit="true" process="@this"
	rendered="#{user.login eq 'ek_wa_administrator'}" 
	onmouseover	="$('#'+'#{cc.clientId.replace(':','\\\\:')}').css('border', '1px solid red');"
	onmouseout 	="$('#'+'#{cc.clientId.replace(':','\\\\:')}').css('border', 'none');"
	style="font-size:50%; opacity:0.5; position:absolute; left:0; top:0" 		
/>

<p:tooltip for="WUPRbtn" value="definicja uprawnień dla bloku: #{cc.clientId}" />



<!-- <fieldset  -->
<!-- 	jsf:id="fieldset"  -->
<!-- 	rendered="true"  -->
<!-- 	disabled="disabled" -->
<!-- 	 > -->
	
	<h:outputText value="...test...#{cc.attrs.wuprid}...test..." escape="false" />
	<!-- 	<f:passThroughAttributes value="#{ocenaOkrBean.getFieldsetParams( ocenaOkrBean.allowUpdateCzI() )}"/> -->
	<cc:insertChildren/>

<!-- </fieldset> -->
</div>

</cc:implementation>

</html>









