<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface>
	<cc:attribute name="value"/>
	<cc:attribute name="label" 			type="java.lang.String"/>
	<cc:attribute name="placeholder" 	type="java.lang.String"/>
	<cc:attribute name="title" 			type="java.lang.String"/>

	<cc:attribute name="readonly" 		type="java.lang.Boolean" default="false" />
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>

	<cc:attribute name="ajax" type="java.lang.Boolean" default="true"/>

</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}" class="#{cc.attrs.styleClass}" style="#{cc.attrs.style}">

		<ui:include src="#{empty cc.attrs.label ? '' : 'cLabelMDesignPart.xhtml'}"/>

		<p:inputText
				id="inp"
				value="#{cc.attrs.value}"
				placeholder="#{cc.attrs.placeholder}"
				title="#{cc.attrs.title}"

				onfocus="this.parentElement.classList.add('pp-state-focus');"
				onblur="this.parentElement.classList.remove('pp-state-focus');"
				readonly="#{cc.attrs.readonly}" >

			<cc:insertChildren/>

			<i:if test="#{(true eq cc.attrs.ajax or (cc.attrs.ajax==null and true eq ccMDesignAjaxDefault))}" >
				<p:ajax event="change" partialSubmit="true" process="inp"/>
			</i:if>

		</p:inputText>

	</div>
</cc:implementation>
</html>