<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:i="http://java.sun.com/jsp/jstl/core"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">



<cc:interface>

	<cc:attribute name="id"  />
	
	<cc:attribute name="value" type="java.lang.String" />
	
	<cc:attribute name="label" type="java.lang.String" default=""/>
	<cc:attribute name="placeholder" type="java.lang.String" default=""/>
		
	<cc:attribute name="thousandSeparator" type="java.lang.String" default=" " />
	<cc:attribute name="decimalSeparator" type="java.lang.String" default="," />
	<cc:attribute name="symbol" type="java.lang.String"/>
	<cc:attribute name="symbolPosition" type="java.lang.String" default="s" />
	<cc:attribute name="decimalPlaces"  />
	<cc:attribute name="emptyValue" type="java.lang.String" default="empty" />
	
	<cc:attribute name="readonly"     
					shortDescription="Ustawienie input na readonly, takie same działanie ma atrybut disabled"/>
	<cc:attribute name="disabled"     
					shortDescription="Ustawienie input na readonly, takie same działanie ma atrybut readonly"/>
	<cc:attribute name="renderKU" type="java.lang.Boolean" default="true"
					shortDescription="Czy na danej kontrolce ma być możliwość ustawienia uprawnień przez administratora" />
	
	<cc:attribute name="width" shortDescription="Należy podawać z jednostkami na przykład: px, %"/>
	<cc:attribute name="styleClass"  type="java.lang.String" />
	<cc:attribute name="style"  type="java.lang.String" />

	<cc:attribute name="inputStyleClass"  type="java.lang.String" />
	<cc:attribute name="inputStyle"  type="java.lang.String" />
	
	<cc:attribute name="required" type="java.lang.Boolean" default="false"/>
	<cc:attribute name="requiredMessage" type="java.lang.String"/>	


	<cc:attribute name="autoResize" type="java.lang.Boolean" default="true" />
	
	<cc:clientBehavior name="change" targets="inp" event="valueChange" />
	<cc:attribute name="valueChangeListener" method-signature="java.lang.Object valueChange(javax.faces.event.ValueChangeEvent)" required="false" default="null" />
	
	<cc:attribute name="minValue" type="java.lang.String" default="0.00"/> <!-- default="0.00" -->
	<cc:attribute name="maxValue" type="java.lang.String" default="999999999.99"/> <!-- default="999999999.99" --> 
	<cc:attribute name="tooltip" type="java.lang.String" />
	<cc:attribute name="title" type="java.lang.String" />
	<cc:attribute name="ajax" type="java.lang.Boolean" />
	
</cc:interface>
<cc:implementation>
<ui:fragment rendered="#{cc.attrs.rendered and !kontrolaUprawnien.kuIsHidden(cc.clientId)}">
	
<h:outputStylesheet name="cc-mdesign.css" library="css" />

<div id="#{cc.clientId}"
	class="cc-mdesign  #{ cc.attrs.styleClass }"
	onclick=" $( jq('#{cc.clientId}:inp_input') ).focus(); "
	style="position:relative; #{cc.attrs.style}"
>
		
		<p:tooltip for="#{cc.clientId}"  value="#{cc.attrs.tooltip}" rendered="#{cc.attrs.tooltip != null}" styleClass="mw500" showDelay="500"/>
	
		<div
			class="#{ (cc.attrs.readonly or cc.attrs.disabled) ? 'input-label-disabled' : 'input-nr-label' }"

			style=" position:relative;
					margin-bottom:0px;
					box-sizing:border-box;
					min-width:#{cc.attrs.width};max-width:#{cc.attrs.width};
					padding: 0 10px 0 10px;
					#{cc.attrs.icon != null ? 'margin-left:25px;' : ''};
					#{not empty cc.attrs.label ? 'margin-top: 25px;': 'margin-top: 10px;'};
				  "
			>

			<p:inputNumber id="inp"
				value="#{cc.attrs.value}"
				valueChangeListener="#{cc.attrs.valueChangeListener}"
				decimalSeparator="#{cc.attrs.decimalSeparator}"
				thousandSeparator="#{cc.attrs.thousandSeparator}"
				placeholder="#{cc.attrs.required ?
											cc.attrs.label ne '' ? cc.attrs.placeholder : (cc.attrs.placeholder).concat('*') :
											cc.attrs.placeholder}"
				readonly="#{cc.attrs.readonly}"
				disabled="#{cc.attrs.disabled}"
				symbol="#{'suffix' eq cc.attrs.symbolPosition and cc.attrs.symbol != null ? ' '.concat( cc.attrs.symbol.trim() ) : cc.attrs.symbol}"
				symbolPosition="#{cc.attrs.symbolPosition}"
				decimalPlaces="#{cc.attrs.decimalPlaces}"
				emptyValue="#{cc.attrs.emptyValue}"
				onfocus="triggerMDesignEffects($(this));"

				required="#{cc.attrs.required}"
				requiredMessage="#{ cc.attrs.requiredMessage == null
									? 'Pole \''.concat( cc.attrs.label).concat('\' jest wymagane.')
									: cc.attrs.requiredMessage} "
				minValue="#{cc.attrs.minValue}"
				maxValue="#{cc.attrs.maxValue}"
				title="#{cc.attrs.title}"
				styleClass="right"
						   inputStyleClass="#{cc.attrs.inputStyleClass}"
						   inputStyle="#{cc.attrs.inputStyle}"
			>


				<cc:insertChildren/>

				<i:if test="#{(true eq cc.attrs.ajax or (cc.attrs.ajax==null and true eq ccMDesignAjaxDefault))}" >
					<p:ajax event="change" partialSubmit="true" process="inp"/>
				</i:if>

			</p:inputNumber>

			<span class="bar"></span>

			<p:outputLabel id="txtAreaLabel" value="#{cc.attrs.label.replaceAll(' ', '&#160;')}"
			rendered="#{not empty cc.attrs.label}">
				<ui:fragment rendered="#{cc.attrs.required}">
					<ui:include src="/resources/components/cReqrIndctr.xhtml" />
				</ui:fragment>
			</p:outputLabel>

			<ui:fragment rendered="#{cc.attrs.icon != null}">
				<ui:include src="/resources/components/cIcon.xhtml" />
			</ui:fragment>

			<ui:include src="#{cc.attrs.renderKU and user.renderKU and kontrolaUprawnien.viewRenderKU ? '/resources/components/cKuBtnPart.xhtml' : ''}" />

		</div>

</div>
</ui:fragment>
</cc:implementation>
</html>
