<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:i="http://java.sun.com/jsp/jstl/core"
	xmlns:egr="http://egr.egeria.comarch.com/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf">


<cc:interface>


	<cc:attribute name="id" />

	<cc:attribute name="value" type="java.lang.String" />

	<cc:attribute name="label" type="java.lang.String" default="" />

	<cc:attribute name="placeholder" type="java.lang.String" default="" />

	<cc:attribute name="readonly"
		shortDescription="Ustawienie input na readonly, takie same działanie ma atrybut disabled" />
	<cc:attribute name="disabled"
		shortDescription="Ustawienie input na readonly, takie same działanie ma atrybut readonly" />

	<cc:attribute name="renderKU" type="java.lang.Boolean" default="true"
		shortDescription="Czy na danej kontrolce ma być możliwość ustawienia uprawnień przez administratora" />

	<cc:attribute name="marginLeft"
		shortDescription="Należy podawać z jednostkami na przykład: px, %. W przypadku używania razem z icon, podana w tym atrybucie będzie miała wyższy priorytet" />

	<cc:attribute name="width"
		shortDescription="Należy podawać z jednostkami na przykład: px, %" />

	<cc:attribute name="style" type="java.lang.String" />
	
	<cc:attribute name="color" type="java.lang.String" />

	<cc:attribute name="styleClass" type="java.lang.String" />
	<cc:attribute name="styleClassInputText" type="java.lang.String" />

	<cc:attribute name="icon" type="java.lang.String"
		shortDescription="Lista icon na stronie: https://material.io/icons/ Należy podać nazwę, na przykład 'euro_symbol' " />

	<cc:attribute name="required" type="java.lang.Boolean" default="false" />
	<cc:attribute name="requiredJ" type="java.lang.Boolean" default="false" shortDescription="Renderuje gwiazdkę i tooltipa z informacją o wymaganym polu, jednocześnie
		nie uruchamiając walidacji po stronie klienta"/>

	<cc:attribute name="widgetVar" />


	<cc:attribute name="requiredMessage" type="java.lang.String" />


	<cc:attribute name="autoResize" type="java.lang.Boolean" default="true" />

	<cc:clientBehavior name="change" targets="inp" event="valueChange" />
	<!-- 	<cc:attribute name="valueChangeListener" method-signature="void valueChange(javax.faces.event.ValueChangeEvent)" /> -->
	<cc:attribute name="valueChangeListener"
		method-signature="java.lang.Object valueChange(javax.faces.event.ValueChangeEvent)"
		required="false" default="null" />

	<cc:attribute name="ajax" type="java.lang.Boolean"/>

</cc:interface>



<cc:implementation>
	<ui:fragment
		rendered="#{cc.attrs.rendered and !kontrolaUprawnien.kuIsHidden(cc.clientId)}">

		<h:outputStylesheet name="cc-mdesign.css" library="css" />

		<div id="#{cc.clientId}"
			class="#{ cc.attrs.styleClass } cc-mdesign"
			onclick=" $( jq('#{cc.clientId}:inp') ).focus(); "
			style="position: relative; ">

			<div
				class="#{ (cc.attrs.readonly or cc.attrs.disabled) ? 'input-label-disabled' : 'input100-label' }"
				style=" position:relative; 
		  				margin-bottom:0px;
		  				box-sizing:border-box; 
		  				min-width:#{cc.attrs.width};max-width:#{cc.attrs.width};
		  				padding: 0 10px 0 10px;
		  				#{cc.attrs.icon != null ? 'margin-left:25px;' : ''}
		  				#{not empty cc.attrs.label ? 'margin-top: 25px;': 'margin-top: 10px;'}
		  			  ">

				<p:inputText id="inp" value="#{cc.attrs.value}" styleClass="#{cc.attrs.styleClassInputText}"
					style="color: #{cc.attrs.color};"
					valueChangeListener="#{cc.attrs.valueChangeListener}"
					placeholder="#{cc.attrs.required ? 
												cc.attrs.label ne '' ? cc.attrs.placeholder : (cc.attrs.placeholder).concat('*') : 
												cc.attrs.placeholder}"
					readonly="#{cc.attrs.readonly or cc.attrs.disabled }"
					disabled="#{cc.attrs.disabled }" required="#{cc.attrs.required}"
					requiredMessage="#{ cc.attrs.requiredMessage == null 
									? 'Pole \''.concat(not empty cc.attrs.label? cc.attrs.label :cc.attrs.placeholder).concat('\' jest wymagane.') 
									: cc.attrs.requiredMessage} "
					onfocus="triggerMDesignEffects($(this))"
					widgetVar="#{cc.attrs.widgetVar}">

					<cc:insertChildren/>

					<i:if test="#{(true eq cc.attrs.ajax or (cc.attrs.ajax==null and true eq ccMDesignAjaxDefault))}" >
						<p:ajax event="change" partialSubmit="true" process="inp"/>
					</i:if>

				</p:inputText>

				<span class="bar"></span>

				<p:outputLabel value="#{cc.attrs.label.replaceAll(' ', '&#160;')}"
					rendered="#{not empty cc.attrs.label}">
					<ui:fragment rendered="#{cc.attrs.required or cc.attrs.requiredJ}">
						<ui:include src="/resources/components/cReqrIndctr.xhtml" />
					</ui:fragment>
				</p:outputLabel>


				<ui:fragment rendered="#{cc.attrs.icon != null}">
					<ui:include src="/resources/components/cIcon.xhtml" />
				</ui:fragment>

				<ui:include src="#{cc.attrs.renderKU and user.renderKU and kontrolaUprawnien.viewRenderKU ? '/resources/components/cKuBtnPart.xhtml' : ''}" />

			</div>

		</div>







	</ui:fragment>
</cc:implementation>
</html>

