<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:i="http://java.sun.com/jsp/jstl/core"
	xmlns:egr="http://egr.egeria.comarch.com/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf">


<cc:interface>

	<cc:attribute name="value" type="java.lang.String" />
	<cc:clientBehavior name="change" targets="inp" event="valueChange" />
	<cc:attribute name="placeholder" type="java.lang.String" default="" />


	<cc:attribute name="id" />

	<cc:attribute name="icon" type="java.lang.String" 
		shortDescription="Lista icon na stronie: https://material.io/icons/ Należy podać nazwę, na przykład 'euro_symbol' " />

	<cc:attribute name="label" type="java.lang.String" default="" />
	<cc:attribute name="tooltip" type="java.lang.String" default="" />
	<cc:attribute name="readonly" />
	<cc:attribute name="required" type="java.lang.Boolean" default="false" />
	<cc:attribute name="requiredMessage" type="java.lang.String" />
	<cc:attribute name="styleClass" type="java.lang.String" />
	<cc:attribute name="renderKU" type="java.lang.Boolean" default="true" />	


</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}">
			
		<c:cMDBase id="md" 
			icon="#{cc.attrs.icon}" 
			label="#{cc.attrs.label}" 
			tooltip="#{cc.attrs.tooltip}" 
			readonly="#{cc.attrs.readonly}" 
			required="#{cc.attrs.required}" 
			requiredMessage="#{cc.attrs.requiredMessage}"
			styleClass="#{cc.attrs.styleClass}">
		
		
			<p:inputText id="inp" 
				onfocus="mdfocus('#{cc.clientId}');" 
				onblur="mdblur('#{cc.clientId}');"
				value="#{cc.attrs.value}"
				readonly="#{cc.attrs.readonly}"
				>
					
				<p:ajax event="change" partialSubmit="true" process="@this"/>
				
			</p:inputText>
			
		</c:cMDBase>
	</div>
</cc:implementation>
</html>

