<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface>
	<cc:attribute name="value"/>
	<cc:attribute name="label" 			type="java.lang.String"/>
	<cc:attribute name="placeholder" 	type="java.lang.String"/>
	<cc:attribute name="title" 			type="java.lang.String"/>

	<cc:attribute name="thousandSeparator" type="java.lang.String" default=" " />
	<cc:attribute name="decimalSeparator" type="java.lang.String" default="," />
	<cc:attribute name="symbol" type="java.lang.String"/>
	<cc:attribute name="symbolPosition" type="java.lang.String" default="s" />
	<cc:attribute name="decimalPlaces" 	type="java.lang.String" />
	<cc:attribute name="emptyValue" type="java.lang.String" default="empty" />
	<cc:attribute name="minValue" type="java.lang.String" default="0.00"/> <!-- default="0.00" -->
	<cc:attribute name="maxValue" type="java.lang.String" default="999999999.99"/> <!-- default="999999999.99" -->

	<cc:attribute name="readonly" 		type="java.lang.Boolean" default="false" />
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>
	<cc:attribute name="inputStyle"  type="java.lang.String" />
	<cc:attribute name="inputStyleClass"  type="java.lang.String" />
	<cc:attribute name="ajax" 			type="java.lang.Boolean"  default="true"/>

	<cc:attribute name="update" 	type="java.lang.String"/>
</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}" class="#{cc.attrs.styleClass}" style="#{cc.attrs.style}">

		<ui:include src="#{empty cc.attrs.label ? '' : 'cLabelMDesignPart.xhtml'}"/>

		<p:inputNumber
				id="inp"
				value="#{cc.attrs.value}"
				title="#{cc.attrs.title}"
				placeholder="#{cc.attrs.placeholder}"
				decimalPlaces="#{cc.attrs.decimalPlaces}"
				decimalSeparator="#{cc.attrs.decimalSeparator}"
				thousandSeparator="#{cc.attrs.thousandSeparator}"
				symbol="#{'suffix' eq cc.attrs.symbolPosition and cc.attrs.symbol != null ? ' '.concat( cc.attrs.symbol.trim() ) : cc.attrs.symbol}"
				symbolPosition="#{cc.attrs.symbolPosition}"
				emptyValue="#{cc.attrs.emptyValue}"
				required="#{cc.attrs.required}"
				requiredMessage="#{ cc.attrs.requiredMessage == null
									? 'Pole \''.concat( cc.attrs.label).concat('\' jest wymagane.')
									: cc.attrs.requiredMessage} "
				minValue="#{cc.attrs.minValue}"
				maxValue="#{cc.attrs.maxValue}"
				styleClass="right"

				onfocus="this.parentElement.parentElement.classList.add('pp-state-focus');"
				onblur="this.parentElement.parentElement.classList.remove('pp-state-focus');"
				readonly="#{cc.attrs.readonly}"

				inputStyleClass="#{cc.attrs.inputStyleClass}"
				inputStyle="#{cc.attrs.inputStyle}"
		>

			<cc:insertChildren/>

			<i:if test="#{(true eq cc.attrs.ajax or (cc.attrs.ajax==null and true eq ccMDesignAjaxDefault))}" >
				<p:ajax event="change" partialSubmit="true" process="inp" update="#{cc.attrs.update}" onstart="hgon();" oncomplete="hgoff();"/>
			</i:if>

		</p:inputNumber>

	</div>
</cc:implementation>
</html>