<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:i="http://java.sun.com/jsp/jstl/core"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">




<cc:interface>

	<cc:attribute name="id" />

	<cc:attribute name="rendered"/>

	<cc:attribute name="value" type="java.lang.String" />

	<cc:attribute name="label" type="java.lang.String" />

	<cc:attribute name="placeholder" type="java.lang.String" />

	<cc:attribute name="readonly" 
		shortDescription="Ustawienie input na readonly, takie same działanie ma atrybut disabled" />

	<cc:attribute name="disabled" 
		shortDescription="Ustawienie input na readonly, takie same działanie ma atrybut readonly" />
		
	<cc:attribute name="renderKU" type="java.lang.Boolean" default="true"
				shortDescription="Czy na danej kontrolce ma być możliwość ustawienia uprawnień przez administratora" />

	<cc:attribute name="marginLeft"
		shortDescription="Należy podawać z jednostkami na przykład: px, %" />

	<cc:attribute name="width" 
		shortDescription="Należy podawać z jednostkami na przykład: px, %" />

	<cc:attribute name="styleClass" type="java.lang.String" />
	<cc:attribute name="style" type="java.lang.String" />

	<cc:attribute name="icon" type="java.lang.String" 
		shortDescription="Lista icon na stronie: https://material.io/icons/ Należy podawać nazwę, na przykład 'euro_symbol' "/>

	<cc:attribute name="required" type="java.lang.Boolean" default="false" />


	<cc:attribute name="autoResize" type="java.lang.Boolean" default="true" />
	<cc:attribute name="maxlength" type="java.lang.String" default="0"/>
	
	<cc:attribute name="cols" type="java.lang.String" />
	<cc:attribute name="rows" type="java.lang.String" default="2"/>
	
	<cc:attribute name="counter" type="java.lang.String" default="null"/>
	<cc:attribute name="counterTemplate" type="java.lang.String" default="{1} / {2}" />
	
	

	<cc:clientBehavior name="change" targets="inpTxtArea inpTxtAreaML" event="valueChange" />
	<!-- 	<cc:attribute name="valueChangeListener" method-signature="void valueChange(javax.faces.event.ValueChangeEvent)" /> -->
	<cc:attribute name="valueChangeListener"
		method-signature="java.lang.Object valueChange(javax.faces.event.ValueChangeEvent)"
		required="false" default="null" />
	<cc:attribute name="requiredJ" type="java.lang.Boolean" default="false" />
	<cc:attribute name="title" 			type="java.lang.String"/>


	<cc:attribute name="ajax" type="java.lang.Boolean" />

</cc:interface>
<cc:implementation>
	<ui:fragment rendered="#{cc.attrs.rendered and !kontrolaUprawnien.kuIsHidden(cc.clientId)}">
		<h:outputStylesheet name="cc-mdesign.css" library="css" />
	
		<div id="#{cc.clientId}" 
			class="cc-mdesign  #{ cc.attrs.styleClass }"
			onclick=" $( jq('#{cc.clientId}:inpTxtArea') ).focus(); "
			style="position:relative; #{cc.attrs.style}"
		>
			<div class="#{ (cc.attrs.readonly or cc.attrs.disabled) ? 'textarea-label-disabled' : 'textarea-label' }" 
					  
				 style="position:relative; 
						margin-top:25px;
		  				margin-bottom:0px;
		  				box-sizing:border-box; 
		  				min-width:#{cc.attrs.width};max-width:#{cc.attrs.width};
		  				padding: 0 10px 0 10px;
		  				#{cc.attrs.icon != null ? 'margin-left:25px;' : ''}
		  			  "
	  		>


				 <p:inputTextarea id="inpTxtArea"
								  value="#{cc.attrs.value}"
								  title="#{cc.attrs.title}"
				 				rendered="#{cc.attrs.maxlength eq 0}"
								valueChangeListener="#{cc.attrs.valueChangeListener}"
								placeholder="#{cc.attrs.placeholder}"
								readonly="#{cc.attrs.readonly or cc.attrs.disabled}"
								required="#{cc.attrs.required}" cols="#{cc.attrs.cols}"
								rows="#{cc.attrs.rows}"
								requiredMessage="#{ cc.attrs.requiredMessage == null 
														? 'Pole \''.concat( cc.attrs.label).concat('\' jest wymagane.') 
														: cc.attrs.requiredMessage} "
								autoResize="#{cc.attrs.autoResize}"
								onfocus="triggerMDesignEffects($(this))"
							>

					 <cc:insertChildren/>

					 <i:if test="#{(true eq cc.attrs.ajax or (cc.attrs.ajax==null and true eq ccMDesignAjaxDefault))}" >
						 <p:ajax event="change" partialSubmit="true" process="inpTxtArea"/>
					 </i:if>

			
				</p:inputTextarea>
				
				<p:inputTextarea id="inpTxtAreaML" value="#{cc.attrs.value}"
								 title="#{cc.attrs.title}"
								rendered="#{cc.attrs.maxlength ne 0}"
								valueChangeListener="#{cc.attrs.valueChangeListener}"
								placeholder="#{cc.attrs.required ? 
												cc.attrs.label ne '' ? cc.attrs.placeholder : (cc.attrs.placeholder).concat('*') : 
												cc.attrs.placeholder}"
								readonly="#{cc.attrs.readonly or cc.attrs.disabled}"
								required="#{cc.attrs.required}" cols="#{cc.attrs.cols}"
								rows="#{cc.attrs.rows}" counter="#{cc.clientId}:txtAreaCounter"
								maxlength="#{cc.attrs.maxlength}" autoResize="#{cc.attrs.autoResize}"
								counterTemplate="#{cc.attrs.counterTemplate}"
								requiredMessage="#{ cc.attrs.requiredMessage == null 
														? 'Pole \''.concat( cc.attrs.label).concat('\' jest wymagane.') 
														: cc.attrs.requiredMessage} "
								onfocus="triggerMDesignEffects($(this))"
							>

					<cc:insertChildren/>

					<i:if test="#{(true eq cc.attrs.ajax or (cc.attrs.ajax==null and true eq ccMDesignAjaxDefault))}" >
						<p:ajax event="change" partialSubmit="true" process="inpTxtAreaML"/>
					</i:if>

				</p:inputTextarea>
	
	
				<span class="bar"></span>
				
				<p:outputLabel id="txtAreaLabel" value = "#{cc.attrs.label}" rendered="#{not empty cc.attrs.label}">
					<ui:fragment rendered="#{cc.attrs.required or cc.attrs.requiredJ}">
						<ui:include src="/resources/components/cReqrIndctr.xhtml" />
					</ui:fragment>
				</p:outputLabel>
				
				<h:outputText value="" id="txtAreaCounter" />
	
				<ui:fragment rendered="#{cc.attrs.icon != null}">
					<ui:include src="/resources/components/cIcon.xhtml" />
				</ui:fragment>

				<ui:include src="#{cc.attrs.renderKU and user.renderKU and kontrolaUprawnien.viewRenderKU ? '/resources/components/cKuBtnPart.xhtml' : ''}" />
			
			</div>
		</div>
		
		
	</ui:fragment>
</cc:implementation>
</html>










