<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface>
	<cc:attribute name="value"/>
	<cc:attribute name="label" 			type="java.lang.String"/>
	<cc:attribute name="placeholder" 	type="java.lang.String"/>
	<cc:attribute name="title" 			type="java.lang.String"/>

	<cc:attribute name="rows" 			type="java.lang.String" default="2"/>
	<cc:attribute name="maxlength" 		type="java.lang.Integer" default="4000"/>


	<cc:attribute name="readonly" 		type="java.lang.Boolean" default="false" />
	<cc:attribute name="required" 		type="java.lang.Boolean" default="false" />
<!--	<cc:attribute name="requiredMessage" type="java.lang.String"/>-->
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>
	<cc:attribute name="inputStyle" 		type="java.lang.String"/>
	<cc:attribute name="inputStyleClass" 	type="java.lang.String"/>
	<cc:attribute name="ajax" type="java.lang.Boolean" default="true"/>

</cc:interface>

<cc:implementation>
<div id="#{cc.clientId}" class="#{cc.attrs.required ? 'pp-required':''} #{cc.attrs.styleClass}" style="#{cc.attrs.style}">

		<ui:include src="#{empty cc.attrs.label ? '' : 'cLabelMDesignPart.xhtml'}"/>

		<p:inputTextarea
				id="inpTxtArea"
				value="#{cc.attrs.value}"
				placeholder="#{cc.attrs.placeholder}"
				title="#{cc.attrs.title}"
				rows="#{cc.attrs.rows}"
				onfocus="this.parentElement.classList.add('pp-state-focus');"
				onblur="this.parentElement.classList.remove('pp-state-focus');"
				required="#{cc.attrs.required and cc.attrs.requiredMessage!=null}"
				style="#{cc.attrs.inputStyle}"
				styleClass="#{cc.attrs.inputStyleClass}"
				maxlength="#{cc.attrs.maxlength}"
		>

<!--				requiredMessage="#{cc.attrs.requiredMessage}"-->
<!--				readonly="#{cc.attrs.readonly}"-->

			<cc:insertChildren/>

			<i:if test="#{(true eq cc.attrs.ajax or (cc.attrs.ajax==null and true eq ccMDesignAjaxDefault))}" >
				<p:ajax event="change" partialSubmit="true" process="inpTxtArea"/>
			</i:if>

		</p:inputTextarea>

</div>
</cc:implementation>
</html>