<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">


<cc:interface>
	<cc:attribute name="title"/>
	<cc:attribute name="opis"/>
	<cc:attribute name="page" />
	<cc:attribute name="menuItemId" />
	<cc:attribute name="actionListener"/>
	<cc:attribute name="ajax" default="false"/>
	<cc:attribute name="icon" type="java.lang.String" shortDescription="Lista icon na stronie: https://material.io/icons/ Należy podać nazwę, na przykład 'euro_symbol' "/>
	<cc:attribute name="image" type="java.lang.String" />
	<cc:attribute name="imageStyle" type="java.lang.String" />
</cc:interface>
<cc:implementation>
<div id="#{cc.clientId}"
	 class="kflk k1x2"
	 style="opacity:0.4; position: relative;"
	 onclick="if ('#{cc.attrs.menuItemId}') clickMenuItem('#{cc.attrs.menuItemId}'); else kflkRedirectTo('#{cc.attrs.page}');" >

	<ui:fragment rendered="#{not empty cc.attrs.image}">
		<img src="#{cc.attrs.image}" style="position: absolute; height: 100%; width: 100%; #{cc.attrs.imageStyle};"/>
	</ui:fragment>

	<pe:remoteCommand name="kflkRedirectTo" actionListener="#{appBean.redirect}" onstart="hgon();">
		<pe:methodSignature parameters="java.lang.String"/>
		<pe:methodParam name="page"/>
	</pe:remoteCommand>

	<h:outputText styleClass="kflktxt" value="#{cc.attrs.opis}" />

	<p:commandButton
			icon=""
			value="#{cc.attrs.title}"
			style=" height:40%;
					width:100%;
					background:linear-gradient(0deg, transparent, rgba(255,255,255,0.6), rgba(255,255,255,0.8), rgba(255,255,255,0.6), transparent)!important;
					position:absolute;
					top:0;
					left:0;
					z-index:999;
					font-size: 110% !important;"
			styleClass="k1x2_hov"
			onclick="return false;"
	>
	</p:commandButton>

	<ui:fragment rendered="#{not empty cc.attrs.icon and  not cc.attrs.icon.startsWith('mdi-')}">
		<i class="material-icons fs40"  style="position: absolute; top:35px; right:13px; color: black; z-index: 999">#{cc.attrs.icon}</i>
	</ui:fragment>
	<ui:fragment rendered="#{not empty cc.attrs.icon and      cc.attrs.icon.startsWith('mdi-')}">
		<i class='mdi #{cc.attrs.icon} fs40' style="position: absolute; top:35px; right:13px; color: black; z-index: 999" />
	</ui:fragment>

</div>
</cc:implementation>

</html>