<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface>
	<cc:attribute name="title"/>
	<cc:attribute name="page" />
	<cc:attribute name="menuItemId" />
	<cc:attribute name="menuCode" type="java.lang.String" />
	<cc:attribute name="ajax" default="false"/>
	<cc:attribute name="icon" type="java.lang.String" shortDescription="Lista icon na stronie: https://material.io/icons/ Należy podać nazwę, na przykład 'euro_symbol' "/>
	<cc:attribute name="bigSize" default="false" type="java.lang.Boolean"/>
</cc:interface>
<cc:implementation>
	<div id="#{cc.clientId}" class="kflk #{cc.attrs.bigSize ? 'k1x2' : 'k1x1'}" style="opacity: 0.4; position: relative;"
		 onclick="if ('#{cc.attrs.menuItemId}' || '#{cc.attrs.menuCode}') clickMenuItem('#{cc.attrs.menuItemId}', '#{cc.attrs.menuCode}'); else kflkRedirectTo('#{cc.attrs.page}');" >

		<pe:remoteCommand name="kflkRedirectTo" actionListener="#{appBean.redirect}" onstart="hgon();">
			<pe:methodSignature parameters="java.lang.String"/>
			<pe:methodParam name="page"/>
		</pe:remoteCommand>

		<p:commandButton value="#{cc.attrs.title}" icon=""
			style= "height: 40%;
					width: 100%;
					background: linear-gradient(0deg, transparent, rgba(255,255,255,0.6), rgba(255,255,255,0.8), rgba(255,255,255,0.6), transparent)!important;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 999;
					font-size: 110% !important;"
			styleClass="#{cc.attrs.bigSize ? 'k1x2_hov' : 'k1x1_hov'}"
			onclick="return false;"
		>
		</p:commandButton>


		<ui:fragment rendered="#{not empty cc.attrs.icon and  not cc.attrs.icon.startsWith('mdi-')}">
			<i class="material-icons fs40" style="position: absolute; top: 35px; right: 13px; color: black; z-index: 999;">#{cc.attrs.icon}</i>
		</ui:fragment>
		<ui:fragment rendered="#{not empty cc.attrs.icon and      cc.attrs.icon.startsWith('mdi-')}">
			<i class="mdi #{cc.attrs.icon} fs40" style="position: absolute; top: 35px; right: 13px; color: black; z-index: 999;" />
		</ui:fragment>

	</div>
</cc:implementation>

</html>