<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface>
	<cc:attribute name="title"/>
	<cc:attribute name="effectType" default="pulsate" />
	<cc:attribute name="checkInterval" default="60" />
	<cc:attribute name="limit" default="3" />
	<cc:attribute name="icon" type="java.lang.String" shortDescription="Lista icon na stronie: https://material.io/icons/ Należy podać nazwę, na przykład 'euro_symbol' "/>
	<cc:attribute name="image" type="java.lang.String" />
	<cc:attribute name="imageStyle" type="java.lang.String" />

</cc:interface>
<cc:implementation>
	<div id="#{cc.clientId}"
		 onclick="
				var dlgDv = parent.document.getElementById('dlgDvPwdmn');
				dlgDv.style.zIndex = '9999999';
				var ifrm = parent.document.getElementById('ifrmDlgPwdmn');
				ifrm.style.backgroundColor = 'transparent';
				ifrm.allowTransparency='true';
				ifrm.contentWindow.PF('dlgPowiadomienia').show();
				parent.updateNotificationDialog();"
	>





	<h:panelGroup styleClass="kflk k2x2" id="pnlGrpKflk" style="opacity:0.4;">

		<ui:fragment rendered="#{not empty cc.attrs.image}">
			<img src="#{cc.attrs.image}" style="position: absolute; height: 100%; width: 100%; #{cc.attrs.imageStyle};"/>
		</ui:fragment>

		<div class="kflktxtbg" />

		<h:panelGrid columns="1" class="kflktxtbgtop">
			<ui:param name="limit" value="#{cc.attrs.limit}" />
<!-- 			<p:repeat var="itemz" value="#{cc.attrs.powiadomieniaBean.getOstatniePowiadomienia()}" varStatus="status"> -->
<!-- 				<ui:fragment rendered="#{status.index lt limit}"> -->
<!-- 					<h:outputText value="#{itemz.get('pp_tresc_skrot') }" rendered="true" styleClass="kflktxttop" /><br/> -->
<!-- 				</ui:fragment> -->
<!-- 			</p:repeat> -->
		</h:panelGrid>

		<h:outputText id="ileNwchPwdmn" styleClass="kflktxt badge-kflk ileNwchPwdmn"
			value="#{pracownikPowiadomieniaSqlBean.numberOfUnreadNotifications}" />
		<p:remoteCommand name="updateKafelekPowiadomien" update="@(.ileNwchPwdmn)" />

		<p:commandButton
				value="#{cc.attrs.title}"
				icon="#{cc.attrs.icon}"
				style= "height: 40%;
						width:100%;
						background:linear-gradient(0deg, transparent, rgba(255,255,255,0.6), rgba(255,255,255,0.8), rgba(255,255,255,0.6), transparent)!important;
						position:absolute;
						top:0;
						left:0;
						z-index:9;
						font-size: 110% !important;"
				styleClass="k2x2_hov"
				onclick="return false;"
		/>

	</h:panelGroup>

	</div>
</cc:implementation>

</html>