<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:i="http://java.sun.com/jsp/jstl/core">

<h:body>
<i:if test="#{cc.attrs.renderKU and user.renderKU and kontrolaUprawnien.viewRenderKU}">
<h:panelGroup id="dvBtnKuId" kuid="" layout="block" rendered="#{not empty cc.attrs.kuid}"
			style="position:absolute; top:0px; right:0px; width:100%; height:0px; margin-top:0; border: none; padding:0; z-index: 999998; opacity: 0.3">


	<i id="#{cc.clientId}_btnKuIcon" 
	   class="material-icons pp-menuitem-icon btnkujs"
	   style=" font-size:9px!important; color:gray; cursor:crosshair; position:absolute; top:0px; right:0px; z-index:999997"
	   onmouseover="event.stopPropagation(); $( jq('#{cc.clientId}') ).addClass(    'kuhighlightCC' );"
	   onmouseout="event.stopPropagation(); $( jq('#{cc.clientId}') ).removeClass(  'kuhighlightCC' );"	   
	 >
	 settings
	 </i>


</h:panelGroup>		
</i:if>	
</h:body>

</html>