<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:i="http://java.sun.com/jsp/jstl/core">

<h:body>

<!--	<p:outputLabel styleClass="pp-lbl p0 mr-5i" style="display: block; white-space: nowrap; text-overflow: ellipsis!important; overflow: hidden!important;"-->
<!--				   value="#{cc.attrs.label}"-->
<!--				   escape="false"-->
<!--				   rendered="#{cc.attrs.label!=null}" />-->

	<label id="#{cc.clientId}:lbl"
		   for="#{cc.clientId}"
		   class="ui-outputlabel ui-widget pp-lbl p0 mr-5i"
		   style="display: block; white-space: nowrap; text-overflow: ellipsis!important; overflow: hidden!important;"
	>#{cc.attrs.label}</label>

</h:body>

</html>