<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface>
	<cc:attribute name="label" />
	<cc:attribute name="value" />
	<cc:attribute name="width" />
	
	<cc:attribute name="lovTextFormat" />
	<cc:attribute name="lovDlgTitle" default="" />
	
	<cc:attribute name="datasource" type="com.comarch.egeria.pp.data.SqlDataSelectionsHandler" required="true" />
	<cc:attribute name="colNames" />
	<cc:attribute name="colHeaders" />
	<cc:attribute name="colWidths" />
	
	<cc:attribute name="defaultDateFormat" default="yyyy-MM-dd" />
	
	<cc:attribute name="generateColumns" default="true" type="java.lang.Boolean"/>
	 
	<cc:attribute name="showSearchField" default="true" type="java.lang.Boolean"/>
	
	
	<cc:attribute name="height" type="java.lang.Integer" default="750" />
	
	<cc:attribute name="rowSelectAction" method-signature="java.lang.String action()" default="#{cLookupTableBean.show}" />
	
	<cc:attribute name="update" />
	
	<cc:attribute name="valueFormat" type="java.lang.String" default="" />
	<!-- 	valueFormat to sposób na wrzucenie do value innej wartosci niz kolumna z PK  - ma to być string formatujący DataRow wynikiem jest działanie String.format(valueFormat, row.toArray())  -->
	
	<cc:attribute name="showInputText" default="true" type="java.lang.Boolean" />
	<cc:attribute name="lockInputText" default="true" type="java.lang.Boolean"/>
	<cc:attribute name="readonly"      default="false" type="java.lang.Boolean"/>

	<cc:attribute name="dialogWidth" default="950"  />	
	
</cc:interface>

<cc:implementation>
<div id="#{cc.clientId}">
		<p:column  style="min-width:#{cc.attrs.width}px; max-width:#{cc.attrs.width}px; width:#{cc.attrs.width}px;">
			<p:outputLabel 		value				=	"#{cc.attrs.label}"  escape="false"  />
		</p:column>
		<p:column >
<!-- 			<p:inputText value="#{cc.attrs.value}" style="min-width:#{cc.attrs.width}px; max-width:#{cc.attrs.width}px; width:#{cc.attrs.width}px;" /> -->
		<c:cLovLookupTable		
								lovTextFormat		= 	"#{cc.attrs.lovTextFormat}"
								lovDlgTitle			= 	"#{cc.attrs.lovDlgTitle}"
								showInputText		= 	"#{cc.attrs.showInputText}"
								lockInputText		= 	"#{cc.attrs.lockInputText}"
								readonly			= 	"#{cc.attrs.readonly}"
								value				= 	"#{cc.attrs.value}"
								datasource			=	"#{cc.attrs.datasource}"
								colNames			=	"#{cc.attrs.colNames}" 
								colHeaders			=	"#{cc.attrs.colHeaders}" 
								colWidths			=	"#{cc.attrs.colWidths}"
								
								defaultDateFormat	=	"#{cc.attrs.defaultDateFormat}"
								generateColumns		=	"#{cc.attrs.generateColumns}"
								showSearchField		=	"#{cc.attrs.showSearchField}"
								
								height				= 	"#{cc.attrs.height}"
	
								rowSelectAction		=	"#{cc.attrs.rowSelectAction}" 
								
								update				=	"#{cc.attrs.update}" 
								width				=	"#{cc.attrs.width}"
								valueFormat			= 	"#{cc.attrs.valueFormat}"

			/>
		</p:column>

</div>
</cc:implementation>
</html>