<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets">

<h:panelGroup rendered="#{cc.attrs.showSearchField}" kuid="ku-e" styleClass="d-flex pb10 table-header-menu">

	<i class="material-icons mr-25i pb0 fs25 mb-2i" style="opacity: 0.2; color: blue;">search</i>
	<p:inputText id="inpSearch"
				 widgetVar="#{cc.attrs.widgetVar4inpSearch}"
				 styleClass="inpSearch pl25 pr0" placeholder="szukaj..." value="#{cc.ds.textFilter}"  kuid="ku-e"
				 immediate="true"
				 autocomplete="off"
				 onkeydown ="if (event.which === 13) {event.preventDefault();} else { fKey(event,'#{cc.clientId}')}"
				 onkeyup="if (event.which === 13) {event.preventDefault();} else {fKeyUp(event,'#{cc.clientId}')}" >

		<p:ajax event="keyup" partialSubmit="true"
				update="dane lCntrs @(.chkxtgglr) lblSearch #{cc.attrs.updateAfterFilter} btnClrInptSrch" delay="300" async="false"
				onstart ="
						if( $(jq('#{cc.clientId}:lblSearch')).text() == $(jq('#{cc.clientId}:inpSearch')).val() ) return false;
						$( jq('#{cc.clientId}:hglass') ).css('visibility','visible');
					"
				oncomplete	="
						$( jq('#{cc.clientId}:hglass') ).css('visibility','hidden');
					"
		/>
		<p:focus for="inpSearch" rendered="#{cc.attrs.autofocus}"/>
	</p:inputText>

	<p:outputLabel id="lblSearch" value="#{cc.ds.textFilter}" style="visibility:hidden; position: absolute;"/>

	<h:panelGroup id="pnlClmnFltr" styleClass="d-flex">
		<p:commandButton id="btnClmnFltr" icon="details" kuid="ku-e"
						 style="color: #{ cc.ds.colFiltersHM.size() == 0 ? '#26437e' : 'red' }!important" partialSubmit="true" process="@none" />
	</h:panelGroup>

	<p:overlayPanel for="pnlClmnFltr" id="btnClmnFltrPnl"  appendTo="@(body)" hideEffect="fade" style="width:350px; max-width:350px !important; max-height:650px; overflow:auto; top: 0;">
		<ui:repeat var="colName" value="#{cc.ds.colNames}">
			<p:outputLabel value="#{cc.ds.getColHeader(colName)}: "/>
			<p:inputText  id="txtColFltr" value="#{cc.ds.colFiltersHM[colName]}">
				<p:ajax event="keyup" delay="300"
						process="txtColFltr" partialSubmit="true"
						listener="#{cc.ds.setColFilter}"
						onstart="$( jq('#{cc.clientId}:hglass') ).css('visibility','visible'); "
						oncomplete="$( jq('#{cc.clientId}:hglass') ).css('visibility','hidden'); "
						update="#{cc.clientId}:btnClrInptSrch #{cc.clientId}:btnClmnFltr #{cc.clientId}:dane #{cc.clientId}:lCntrs @(.chkxtgglr) #{cc.clientId}:lblSearch #{cc.attrs.updateAfterFilter}"
				/>
			</p:inputText>
		</ui:repeat>
	</p:overlayPanel>

	<p:commandButton id="btnClrInptSrch" icon="clear" partialSubmit="true" process="@this inpSearch"  kuid="ku-e" title="czyść"
					 style="color: #{ cc.ds.data.size() == cc.ds.originalData.size() ? '#26437e' : 'red' }!important"
					 action="#{cc.ds.clearFilter}"
					 update="#{cc.clientId} #{cc.attrs.updateAfterFilter}"
					 onstart="$( jq('#{cc.clientId}:hglass') ).css('visibility','visible'); "
					 oncomplete="$(function(){PrimeFaces.focus('#{cc.clientId}:inpSearch');}); $( jq('#{cc.clientId}:hglass') ).css('visibility','hidden'); "
	/>

	<ui:include src="/resources/components/cLookupTableDataExportersPart.xhtml" />


</h:panelGroup>

<p:outputLabel
		id="lCntrs"
		styleClass=""
		style="position: absolute; right: -25px; top: #{cc.attrs.showSearchField?'4px':'21px'}; z-index: 9;"
		value="#{cc.ds.data.size()} / #{cc.ds.originalData.size()} "/>

</html>