<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:i="http://java.sun.com/jsp/jstl/core">



<p:tooltip id="ttclkptb" for="#{cc.clientId} ttclkptb" showDelay="500" hideDelay="500" style="opacity:0.4" position="top" rendered="#{user.admin}">

	<div class="ui-g ui-g-nopad" style="width:400px" onmousedown="onMousedownStopPropagation(event);">

		<div class="ui-g-1 ui-g-nopad mt3">LW:</div>

		<p:inputText id="lwId" styleClass="ui-g-8 ui-g-nopad" value="#{cc.attrs.datasource.shortName}" readonly="true" />

		<span  class="ui-g-3 ui-g-nopad mb-10 right">
				<p:commandButton id="btnCP"         icon="content_copy"     styleClass="ui-g-4"
								 onclick="$(jq('#{cc.clientId}:lwId')).select(); document.execCommand('copy'); " />

				<p:commandButton id="btnLW"         icon="build"            styleClass="ui-g-4"
								 onclick="window.open('SzczegolyListyWartosci?lista=#{cc.attrs.datasource.shortName}');"/>

				<p:commandButton id="btnLWData"     icon="view_column"      styleClass="ui-g-4"
								 onclick="window.open('DaneListyWartosci?lista=#{cc.attrs.datasource.shortName}');"/>
		</span>


		<h:panelGroup  styleClass="ui-g-12 ui-g-nopad" rendered="#{not empty cc.attrs.datasource.sqlNamedParams or not empty cc.attrs.datasource.sqlParams}">

				<p:outputLabel styleClass="fs14 #{'ppl_slownik' eq cc.attrs.datasource.shortName ? 'ui-g-9' : 'ui-g-12'}"
							   rendered="#{not empty cc.attrs.datasource.sqlNamedParams}"
							   value="parametry: #{cc.attrs.datasource.sqlNamedParams}"/>

				<p:outputLabel styleClass="fs14 #{'ppl_slownik' eq cc.attrs.datasource.shortName ? 'ui-g-9' : 'ui-g-12'}"
							   rendered="#{not empty cc.attrs.datasource.sqlParams}"
							   value="parametry: #{cc.attrs.datasource.sqlParams }"/>

				<p:commandButton id="btnSL"
								 styleClass="ui-g-3 fs13"
								 value="edytuj słownik"
								 rendered="#{'ppl_slownik' eq cc.attrs.datasource.shortName}"
								 onstart="window.open('SzczegolySlownika?sl_nazwa=#{cc.attrs.datasource.sqlParams[0]}');"/>
		</h:panelGroup>

	</div>

</p:tooltip>


</html>