<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	  xmlns:i="http://xmlns.jcp.org/jsp/jstl/core">



<cc:interface componentType="cLookupTable">

	<cc:attribute name="datasource" type="com.comarch.egeria.pp.data.SqlDataSelectionsHandler" required="true" />

	<cc:attribute name="scrollHeight" default="100%" />
	<cc:attribute name="scrollWidth"  default="100%" />
	<cc:attribute name="colNames" />
	<cc:attribute name="colHeaders" />
	<cc:attribute name="colWidths"/>
	<cc:attribute name="defaultDateFormat" default="yyyy-MM-dd" />
	<cc:attribute name="generateColumns" default="true" type="java.lang.Boolean"/>
	<cc:attribute name="showSearchField" default="true" type="java.lang.Boolean"/>
	<cc:attribute name="height" default="100%" />

	<!-- akcja kiedy kliknieto lub wiersz lub uzyto Enter'a - w tej wersji nie podajemy paramtru, bo widok głowny wie jakie SqlDataSelectionsHandler przekazał do datasource -->
	<!-- uwaga - default jest obowiazkowy - dla ajax listener= jakas akacja musi istniec dlatego w cLookupTableBean.show stworzono pustą metodę -->
	<cc:attribute name="rowSelectAction" 	method-signature="java.lang.String action()" default="#{cLookupTableBean.show}" />
	<cc:attribute name="onRowSelected"  />
	<cc:attribute name="update" />
	<cc:attribute name="value" />
	<cc:attribute name="valueFormat" type="java.lang.String" default="" />

	<cc:attribute name="smallHeaders" default="false" type="java.lang.Boolean" />
	<cc:attribute name="hideHeaders"  default="false" type="java.lang.Boolean" />
	<cc:attribute name="multiselect"  default="false" type="java.lang.Boolean" />
	<cc:attribute name="checkOneRow"  default="false" type="java.lang.Boolean" />
	<cc:attribute name="readonly"  default="false" type="java.lang.Boolean" />
	<cc:attribute name="editRowPage" />
	<cc:attribute name="disabled"  default="false" type="java.lang.Boolean" />
	<cc:attribute name="selectedRowsSizeLimit"  default="-1" type="java.lang.Integer" />
	<cc:attribute name="noBorder"  default="false" type="java.lang.Boolean" />
	<cc:attribute name="widgetVar4DataTable"/>
	<cc:attribute name="widgetVar4inpSearch"/>

	<cc:attribute name="exportPdf"  default="false" type="java.lang.Boolean" shortDescription="Czy włączyć export do pdf" />
	<cc:attribute name="exportCsv"  default="false" type="java.lang.Boolean" shortDescription="Czy włączyć export do csv" />
	<cc:attribute name="exportXls"  default="false" type="java.lang.Boolean" shortDescription="Czy włączyć export do xls" />
	<cc:attribute name="exportXml"  default="false" type="java.lang.Boolean" shortDescription="Czy włączyć export do xml" />

	<cc:attribute name="rows" default="25" type="java.lang.Integer"/>
	<cc:attribute name="styleClass"  type="java.lang.String" />

	<cc:attribute name="var" type="java.lang.String" default="row" shortDescription="Name of the iterator variable used to refer each data. TODO: wywalic default po dostosowaniu wszystkich widoków"/>
	<cc:attribute name="rowIndexVar" type="java.lang.String" default="rowIdx" shortDescription="Name of iterator to refer each row index. TODO: wywalic default po dostosowaniu wszystkich widoków"/>

</cc:interface>








<cc:implementation>
	<f:event type="postAddToView" listener="#{cc.init}"/>

	<div id="#{cc.clientId}"
		 style="position:relative; width:100%; min-height: #{cc.attrs.height}; max-height:#{cc.attrs.height};"
		 class="#{cc.attrs.styleClass}">

		#{cc.ds.setColNames(cc.attrs.colNames)}
		#{cc.ds.setColHeaders(cc.attrs.colNames)}
		#{cc.ds.setColHeaders(cc.attrs.colHeaders)}
		#{cc.ds.setColWidths(cc.attrs.colWidths)}
		#{cc.ds.setSelectedRowsSizeLimit(cc.attrs.selectedRowsSizeLimit)}

		<h:outputScript name="js/cLookupTable.js" target="head" />
		<h:outputStylesheet name="cLookupTable.css" library="css"/>



		<ui:include src="/resources/components/cLookupTableDatasourceAdminToolTipPart.xhtml"/>


		<script type="text/javascript">

			$(document).ready(function(){
				$('#dvTb').keydown(function(e, clientId){ fKey(event,'#{cc.clientId}'); } );
				$('#dvTb').keyup(  function(e, clientId){ fKeyUp(event,'#{cc.clientId}'); } );
			});

		</script>


		<ui:include src="/resources/components/cLookupTablePreHeaderMenuPart.xhtml" />


		<div id="#{cc.clientId}:dvTb" tabindex="1"
			 class="clkptb ctl-datatable-pane"
			 style="position: absolute; display:block;
				top: #{cc.attrs.showSearchField?'40px':'0px'};
				left: 0px!important;
				right: 0px!important;
			    width: 100%!important;
				height: calc(100% - #{cc.attrs.showSearchField?'40px':'0px'}) !important;
			" >


			<h:outputText value="#{cc.attrs.datasource.rowsCssBgStyle}" escape="false" />

			<!--		var="row"-->
			<!--		rowIndexVar="rowIdx"-->
<!--						 binding="#{cc.table}"-->
			<p:dataTable id="dane"
						 resizableColumns="true"
						 resizeMode="expand"
						 draggableColumns="true"
						 widgetVar="#{cc.attrs.widgetVar4DataTable}"
						 value="#{cc.attrs.datasource.lazySqlDataModel}"

						 rowKey="#{row.get(0)}"
						 selectionMode="single"
						 disabledSelection="#{cc.attrs.disabled}"
						 selection="#{cc.ds.currentRow}"
						 lazy="true"
						 scrollable="true"
						 scrollRows="#{cc.attrs.rows}"
						 virtualScroll="true"
						 rows="#{cc.attrs.rows}"
						 nullSortOrder="-1"
						 paginator="false"
						 scrollHeight="#{cc.attrs.scrollHeight}"
						 scrollWidth="#{cc.attrs.scrollWidth}"
						 styleClass="#{cc.attrs.smallHeaders ? 'smallHdrs': ''} #{cc.attrs.hideHeaders ? 'hideHdrs': ''} #{cc.attrs.noBorder ? 'noBrdr': ''}"
						 rowStyleClass="#{row.cssColorBgClass}"
			>

				<cc:insertChildren/>

				<p:columns value="#{cc.attrs.rendered ? cc.attrs.datasource.colNames : null}"
						   var="colName"
						   columnIndexVar="colIndex"
						   width="#{cc.ds.getColWidth(colName)}"
						   sortBy="#{colName}"
						   rendered="#{cc.attrs.generateColumns}"
						   exportFunction="#{cLookupTableBean.exportColumn}" >


					<f:facet name="header">
						<h:outputText id="colHdr" value="#{cc.ds.getColHeader(colName)}"
									  title="#{colName} / #{cc.ds.getColumnType(colName)}" />
					</f:facet>

					<h:outputText
							value="#{cc.table.rowData.get(colName)}"
							styleClass="cell-cntnt #{cc.attrs.defaultDateFormat != 'yyyy-MM-dd' ? 'minw110' : 'minw70'}"
							readonly="true"
							rendered="#{cc.table.rowData.get(colName)['class'].simpleName eq 'Timestamp'}">
						<f:passThroughAttribute name="style" value="color:#{cc.table.rowData.cssColor}"/>
						<f:converter converterId="myDateTimeConverter" />
						<f:attribute name="pattern" value="#{cc.ds.getColFormat(colName)}"/>
					</h:outputText>

					<h:outputText
							value="#{cc.table.rowData.get(colName)}"
							styleClass="cell-cntnt mw#{cc.attrs.maxColWidth} #{cc.table.rowData.get(colName)['class'].simpleName eq 'BigDecimal' ? 'right' : cc.table.rowData.get(colName)['class'].simpleName eq 'String' ? 'cell-cntnt-tooltip' : ''}"
							readonly="true"
							rendered="#{not (cc.table.rowData.get(colName)['class'].simpleName eq 'Timestamp')}">
						<f:passThroughAttribute name="style" value="color:#{cc.table.rowData.cssColor}"/>
						<f:converter converterId="mynumcnv" />
						<f:attribute name="pattern" value="#{cc.ds.getColFormat(colName)}"/>

					</h:outputText>

				</p:columns>

				<p:column exportable="false">
					<div class="col-ost-cntnt"></div>
				</p:column>

				<pe:javascript event="rowSelect" execute="#{cc.attrs.onRowSelected}" />

			</p:dataTable>




		</div>

	</div>
</cc:implementation>

</html>