<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:panelGroup id="exporterBtns" styleClass="d-flex inline-exporters">

		<p:commandButton
				id="btnExpPdf"
				style="padding: 0 !important;"
				ajax="false"
				rendered="#{cc.attrs.exportPdf or cc.attrs.datasource.czyPdf}"
				onclick="PrimeFaces.monitorDownload(hgon, hgoff);"
				partialSubmit="true" process="@this"
				value="pdf">

			<p:fileDownload value="#{cc.attrs.datasource.exportPDF()}" />

		</p:commandButton>

		<p:commandButton
				id="btnExpXls"
				style="padding: 0 !important;"
				ajax="false"
				rendered="#{cc.attrs.exportXls or cc.attrs.datasource.czyXls}"
				onclick="PrimeFaces.monitorDownload(hgon, hgoff);"
				partialSubmit="true" process="@this"
				value="xlsx">

			<p:fileDownload value="#{cc.attrs.datasource.exportXLSX()}" />

		</p:commandButton>

		<p:commandButton
				id="btnExpCsv"
				value="csv"
				ajax="false"
				style="padding: 0 !important;"
				rendered="#{cc.attrs.exportCsv or cc.attrs.datasource.czyCsv}"
				partialSubmit="true"
				process="@none">

			<p:dataExporter
					type="csv"
					target="dane"
					encoding="cp1250"
					fileName="#{cc.attrs.datasource.shortName}"
			/>

		</p:commandButton>

		<p:commandButton
				id="btnExpXml"
				value="xml"
				ajax="false"
				style="padding: 0 !important;"
				rendered="#{cc.attrs.exportXml or cc.attrs.datasource.czyXml}"
				partialSubmit="true"
				process="@none">

			<p:dataExporter
					type="xml"
					target="dane"
					fileName="#{cc.attrs.datasource.shortName}"
			/>

		</p:commandButton>

	</h:panelGroup>

	<p:commandButton
			id="exportActions"
			icon="file_download"
			title="Pobierz"
			styleClass="mobile-exporters-button"
			style="margin-left: auto;"
			rendered="#{cc.attrs.exportPdf or cc.attrs.datasource.czyPdf
						or cc.attrs.exportXls or cc.attrs.datasource.czyXls
						or cc.attrs.exportCsv or cc.attrs.datasource.czyCsv
						or cc.attrs.exportXml or cc.attrs.datasource.czyXml}"
	/>
	<p:contextMenu id="headerContextMenu"
				   for="exportActions"
				   event="click"
				   styleClass="mobile-panel-buttons exporters-contextmenu">

		<p:menuitem id="btnExpPdfMobile"
					ajax="false"
					rendered="#{cc.attrs.exportPdf or cc.attrs.datasource.czyPdf}"
					onclick="PrimeFaces.monitorDownload(hgon, hgoff);"
					partialSubmit="true" process="@this"
					value="pdf">

				<p:fileDownload value="#{cc.attrs.datasource.exportPDF()}" />

		</p:menuitem>

		<p:menuitem id="btnExpXlsMobile"
					ajax="false"
					rendered="#{cc.attrs.exportXls or cc.attrs.datasource.czyXls}"
					onclick="PrimeFaces.monitorDownload(hgon, hgoff);"
					partialSubmit="true" process="@this"
					value="xlsx">

				<p:fileDownload value="#{cc.attrs.datasource.exportXLSX()}" />

		</p:menuitem>

		<p:menuitem id="btnExpCsvMobile"
					value="csv"
					ajax="false"
					rendered="#{cc.attrs.exportCsv or cc.attrs.datasource.czyCsv}"
					partialSubmit="true"
					process="@none">

				<p:dataExporter
						type="csv"
						target="dane"
						encoding="cp1250"
						fileName="#{cc.attrs.datasource.shortName}"
				/>

		</p:menuitem>

		<p:menuitem id="btnExpXmlMobile"
					value="xml"
					ajax="false"
					rendered="#{cc.attrs.exportXml or cc.attrs.datasource.czyXml}"
					partialSubmit="true"
					process="@none">

				<p:dataExporter
						type="xml"
						target="dane"
						fileName="#{cc.attrs.datasource.shortName}"
				/>

		</p:menuitem>

	</p:contextMenu>

</html>