<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:i="http://java.sun.com/jsp/jstl/core">


<cc:interface>


	
</cc:interface>


	<p:column exportable="false" width="#{(cc.attrs.btnDeleteHide or cc.attrs.btnEditHide) ? 20 : 60}">

		<i:if test="#{not cc.attrs.btnAddHide}">
			<f:facet name="header">
		    <p:commandButton id="btnAdd"
		    	tabindex="-1"
				icon="add"
				partialSubmit="true" process="#{cc.attrs.btnAddProcess}"
				actionListener="#{cc.attrs.btnAddActionListener}"
				action="#{cc.attrs.btnAddAction}"
				onclick="#{cc.attrs.btnAddOnclick}"
				onstart="hgon(); #{cc.attrs.btnAddOnstart}"
				oncomplete="hgoff(); #{cc.attrs.btnAddOncomplete}"
				update="#{cc.attrs.btnAddUpdate}" 
				async="true"
				/>
			<p:tooltip for="btnAdd" value="#{cc.attrs.btnAddTooltipText}" />
			</f:facet>						
		</i:if>

	
		<div class="ui-g ui-g-nopad" style="min-width:65px; max-width: 70px">
	
		
		
		<i:if test="#{not cc.attrs.btnDeleteHide}">
			<div class="ui-g-6 ui-g-nopad" style="max-height: 20px">
		    <p:commandButton id="btnDelete" 
		    	tabindex="-1"
				icon="delete"
				partialSubmit="true" process="#{cc.attrs.btnDeleteProcess}"
				actionListener="#{cc.attrs.btnDeleteActionListener}"
				action="#{cc.attrs.btnDeleteAction}"
				onclick="#{cc.attrs.btnDeleteOnclick}"
				onstart="hgon(); #{cc.attrs.btnDeleteOnstart}"
				oncomplete="hgoff(); #{cc.attrs.btnDeleteOncomplete}"
				update="#{cc.attrs.btnDeleteUpdate}" >

			<p:confirm header="Usuwanie" 
				disabled="#{cc.attrs.btnDeleteConfirmMessage == null}" 
				message="#{cc.attrs.btnDeleteConfirmMessage}"
				icon="ui-icon-alert" />
				
			</p:commandButton>
			
				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Tak" type="button"
						styleClass="ui-confirmdialog-yes" icon="check" />
					<p:commandButton value="Nie" type="button"
						styleClass="ui-confirmdialog-no" icon="close" />
				</p:confirmDialog>
			
			<p:tooltip for="btnDelete" value="#{cc.attrs.btnDeleteTooltipText}" />
			</div>						
		</i:if>
				
			

		<i:if test="#{not cc.attrs.btnEditHide}">
			<div class="ui-g-6 ui-g-nopad" style="max-height: 20px">
		    <p:commandButton id="btnEdit" 
		    	tabindex="-1"
				icon="edit"
				partialSubmit="true" process="#{cc.attrs.btnEditProcess}"
				actionListener="#{cc.attrs.btnEditActionListener}"
				action="#{cc.attrs.btnEditAction}"
				onclick="#{cc.attrs.btnEditOnclick}"
				onstart="hgon(); #{cc.attrs.btnEditOnstart}"
				oncomplete="hgoff(); #{cc.attrs.btnEditOncomplete}"
				update="#{cc.attrs.btnEditUpdate}" />
			<p:tooltip for="btnEdit" value="#{cc.attrs.btnEditTooltipText}" />
			</div>						
		</i:if>

												
			
		</div>						
	
	</p:column>

</html>