<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">



<cc:interface>
	<cc:attribute name="lovTextFormat" />
	<cc:attribute name="lovDlgTitle" default="" />
	
	<cc:attribute name="datasource" type="com.comarch.egeria.pp.data.SqlDataSelectionsHandler" required="true" />
	<cc:attribute name="colNames" />
	<cc:attribute name="colHeaders" />
	<cc:attribute name="colWidths" />
	
	<cc:attribute name="defaultDateFormat" default="yyyy-MM-dd" />
	
	<cc:attribute name="generateColumns" default="true" type="java.lang.Boolean"/>
	 
	<cc:attribute name="showSearchField" default="true" type="java.lang.Boolean"/>
	
	
	<cc:attribute name="height" type="java.lang.Integer" default="750" />
	
	<cc:attribute name="rowSelectAction" method-signature="java.lang.String action()" default="#{cLookupTableBean.show}" />
	<cc:attribute name="rowsMultiSelectedAction" method-signature="java.lang.String action()" default="#{cLookupTableBean.show}" />
	
	<cc:attribute name="update" />
	
<!-- 	<cc:editableValueHolder name="value"/> -->	
	<cc:attribute name="valueRefObject" />
	<cc:attribute name="value" />
	<cc:attribute name="label" type="java.lang.String" />
	<cc:attribute name="valueFormat" type="java.lang.String" default="" />
	<!-- 	valueFormat to sposób na wrzucenie do value innej wartosci niz kolumna z PK  - ma to być string formatujący DataRow wynikiem jest działanie String.format(valueFormat, row.toArray())  -->
	
	<cc:attribute name="showInputText" default="true" type="java.lang.Boolean" />
	<cc:attribute name="lockInputText" default="true" type="java.lang.Boolean"/>
	<cc:attribute name="readonly"      default="false" type="java.lang.Boolean"/>
	
	<cc:attribute name="required"      default="false" type="java.lang.Boolean"/>
	<cc:attribute name="allowClearValue"      default="false" type="java.lang.Boolean"/>

	<cc:attribute name="width" default="calc(100% - 20px)"  />
	<cc:attribute name="style" />
	<cc:attribute name="styleClass" />
	
	<cc:attribute name="update" />
	<cc:attribute name="process" />

	<cc:attribute name="valueChangeListener"
		method-signature="java.lang.Object valueChange(javax.faces.event.ValueChangeEvent)"
		required="false" default="null" />
<!-- 	<cc:attribute name="dialogWidth" default="950"  /> -->
	
	
<!-- 	<cc:attribute name="multiselect" default="false" type="java.lang.Boolean"/> -->
	
	<cc:attribute name="renderKU" type="java.lang.Boolean" default="true"
		shortDescription="Czy na danej kontrolce ma być możliwość ustawienia uprawnień przez administratora" />


	<cc:attribute name="placeholder" type="java.lang.String" default="" />

	<cc:attribute name="inputTextStyleClass" type="java.lang.String" default="" />
	<cc:attribute name="inputTextStyle" type="java.lang.String" default="" />
<!--	<cc:attribute name="tooltip" type="java.lang.String" default="" />-->

	<cc:attribute name="title" type="java.lang.String" default="" />


</cc:interface>

<cc:implementation>

 <div id="#{cc.clientId}" style="position:relative; display:inline-block; #{cLovJS.calcWidthUnits(cc.attrs.width, cc.attrs.styleClass)}; #{cc.attrs.style}" class="#{cc.attrs.styleClass}">

	#{cc.attrs.datasource.setColNames(cc.attrs.colNames)}
	#{cc.attrs.datasource.setColHeaders(cc.attrs.colNames)}
	#{cc.attrs.datasource.setColHeaders(cc.attrs.colHeaders)}
	#{cc.attrs.datasource.setColWidths(cc.attrs.colWidths)}
 	#{cLookupTableBean.setCurrentAttrValue( cc.attrs.datasource , cc.attrs.value )}
 	

 	#{cLovJS.addLovDlg(cc.clientId, cc.attrs.datasource, cc.attrs.lovDlgTitle, cc.attrs.lovTextFormat, cc.attrs.valueFormat, cc.attrs.lockInputText)}

	 <ui:include src="#{empty cc.attrs.label ? '' : 'cLabelMDesignPart.xhtml'}"/>

<!--	 <div style="position:relative; padding:0; height:23px; margin 0 10px;">-->

		 <p:inputText id="val" value="#{cc.attrs.value}"
					  style="visibility:hidden; position:absolute; width:1px; height:1px;" immediate="true"
					  disabled="#{cc.attrs.disabled}"
					  valueChangeListener="#{cc.attrs.valueChangeListener}">
			 <p:ajax event="change" update="#{cc.attrs.update}" partialSubmit="true" process="@this #{cc.attrs.process}"
					 onstart="hgon();" oncomplete="hgoff();"/>
		 </p:inputText>


		 <p:inputText id="lovInpTextReadOnly" readonly="true" required="#{cc.attrs.required}"
					  placeholder="#{cc.attrs.placeholder}"
					  value="#{cc.attrs.datasource.findAndFormat(cc.attrs.value, cc.attrs.lovTextFormat)}"
					  disabled="#{cc.attrs.disabled}"
					  rendered="#{cc.attrs.readonly}"
					  styleClass="#{cc.attrs.inputTextStyleClass}"
					  style="#{cc.attrs.inputTextStyle}"
					  title="#{cc.attrs.title}"
		 />

		 <p:inputText id="lovInpText" readonly="true" required="#{cc.attrs.required}"
					  placeholder="#{cc.attrs.placeholder}"
					  value="#{cc.attrs.datasource.findAndFormat(cc.attrs.value, cc.attrs.lovTextFormat)}"
					  disabled="#{cc.attrs.disabled}"
					  styleClass="#{cc.attrs.inputTextStyleClass}"
					  style="#{cc.attrs.inputTextStyle}"
					  title="#{cc.attrs.title}"
					  onkeydown="currentLovId = '#{cc.clientId}'; showDlgLovJS('dlgLovJS_#{cLovJS.getLov(cc.clientId).widgetVar}');"
					  rendered="#{cc.attrs.showInputText and cc.attrs.lockInputText and !cc.attrs.readonly}"
					  onclick=" if (#{cc.attrs.showInputText and cc.attrs.lockInputText and !cc.attrs.readonly}) {currentLovId = '#{cc.clientId}'; showDlgLovJS('dlgLovJS_#{cLovJS.getLov(cc.clientId).widgetVar}');}"/>


		 <p:inputText id="lovInpFreeText" readonly="#{cc.attrs.lockInputText}" value="#{cc.attrs.value}"
					  required="#{cc.attrs.required}" placeholder="#{cc.attrs.placeholder}"
					  disabled="#{cc.attrs.disabled}"
					  styleClass="#{cc.attrs.inputTextStyleClass}"
					  style="#{cc.attrs.inputTextStyle}"
					  title="#{cc.attrs.title}"
					  rendered="#{cc.attrs.showInputText and !cc.attrs.lockInputText and !cc.attrs.readonly}"
					  onclick=" if (#{cc.attrs.showInputText and cc.attrs.lockInputText and !cc.attrs.readonly}) {currentLovId = '#{cc.clientId}'; showDlgLovJS('dlgLovJS_#{cLovJS.getLov(cc.clientId).widgetVar}');}"/>


	<div style="position: absolute; right: 0px; bottom: 2px; z-index:999; height:20px; background:transparent!important" class="d-flex a-i-center">

		 <p:commandButton id="lovJSBtn" value="" kuid=""
						  icon="more_horiz"
						  styleClass="mmw25 granat ml5"
						  title="wybierz wartość"
						  onclick="currentLovId = '#{cc.clientId}'; showDlgLovJS('dlgLovJS_#{cLovJS.getLov(cc.clientId).widgetVar}'); return false;"
						  rendered="#{!cc.attrs.readonly}" disabled="#{cc.attrs.disabled}"
		 />

		 <p:commandButton id="lovJSBtnClr" value="" kuid=""
						  icon="clear"
						  styleClass="granat mmw25 ml5"
						  title="wyczyść wartość"
						  onclick=" var inpValTxt = PFbyId('#{cc.clientId}:val');
									inpValTxt.jq.val('');"
						  rendered="#{!cc.attrs.readonly and cc.attrs.allowClearValue}" disabled="#{cc.attrs.disabled}"
						  partialSubmit="true" process="@this #{cc.clientId}:val"
						  update="#{cc.clientId}"
		 />

	 </div>

	 <ui:include src="#{cc.attrs.renderKU and user.renderKU and kontrolaUprawnien.viewRenderKU ? '/resources/components/cKuBtnPart.xhtml' : ''}" />

<!--	 <p:tooltip for="@composite" value="#{cc.attrs.tooltip}" />-->

</div>

</cc:implementation>

</html>









