<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">



<cc:interface>
	<cc:attribute name="lovTextFormat" />
	<cc:attribute name="lovDlgTitle" default="" />
	
	<cc:attribute name="datasource" type="com.comarch.egeria.pp.data.SqlDataSelectionsHandler" required="true" />
	<cc:attribute name="colNames" />
	<cc:attribute name="colHeaders" />
	<cc:attribute name="colWidths" />
	
	<cc:attribute name="defaultDateFormat" default="yyyy-MM-dd" />
	
	<cc:attribute name="generateColumns" default="true" type="java.lang.Boolean"/>
	 
	<cc:attribute name="showSearchField" default="true" type="java.lang.Boolean"/>
	
	
	<cc:attribute name="height" type="java.lang.Integer" default="750" />
	
	<cc:attribute name="rowSelectAction" method-signature="java.lang.String action()" default="#{cLookupTableBean.show}" />
	
	<cc:attribute name="update" />

	<cc:attribute name="commandButtonIcon" type="java.lang.String" default="more_horiz" />
	<cc:attribute name="commandButtonValue" type="java.lang.String" />

	<cc:attribute name="value" />
	<cc:attribute name="valueFormat" type="java.lang.String" default="" />
	<!-- 	valueFormat to sposób na wrzucenie do value innej wartosci niz kolumna z PK  - ma to być string formatujący DataRow wynikiem jest działanie String.format(valueFormat, row.toArray())  -->
	
	<cc:attribute name="showInputText" default="true" type="java.lang.Boolean" />
	<cc:attribute name="lockInputText" default="true" type="java.lang.Boolean"/>
	<cc:attribute name="readonly"      default="false" type="java.lang.Boolean"/>
	
	<cc:attribute name="required"      default="false" type="java.lang.Boolean"/>
	
	<cc:attribute name="width" default="300"  />
	
	<cc:attribute name="dialogWidth" default="950"  />
	
	<cc:attribute name="styleClass" />
	<cc:attribute name="process" default="@this" />
	
	
	
</cc:interface>

<cc:implementation>

 <div id="#{cc.clientId}" 
 	class="#{ cc.attrs.styleClass } " 
 	style="display:inline-block; max-width:#{cc.attrs.width}px;min-width:#{cc.attrs.width}px;width:#{cc.attrs.width}px;"
 >
	#{cc.attrs.datasource.setColNames(cc.attrs.colNames)}
	#{cc.attrs.datasource.setColHeaders(cc.attrs.colNames)}
	#{cc.attrs.datasource.setColHeaders(cc.attrs.colHeaders)}
	#{cc.attrs.datasource.setColWidths(cc.attrs.colWidths)}
 	#{cLookupTableBean.setCurrentAttrValue( cc.attrs.datasource , cc.attrs.value )}

 	#{cLovJS.addLovDlg(cc.clientId, cc.attrs.datasource, cc.attrs.lovDlgTitle, cc.attrs.lovTextFormat, cc.attrs.valueFormat, cc.attrs.lockInputText)}
	#{cLovJS.updateDlgDataSourceOnCCRender(cc.clientId, cc.attrs.datasource)}
	
			<div style="position:relative"
			 	onclick="
				  if (#{cc.attrs.showInputText and cc.attrs.lockInputText and !cc.attrs.readonly and !cc.attrs.disabled and !kontrolaUprawnien.kuIsReadOnly(cc.clientId) }){
					  currentLovHasSelectAction = #{cc.attrs.rowSelectAction != null ? 'true' : 'false'};
					  currentLovId = '#{cc.clientId}'; showDlgLovJS('dlgLovJS_#{cLovJS.getLov(cc.clientId).widgetVar}');
					 }"
			>
			
			<p:inputText id="val" value="#{cc.attrs.value}" style="visibility:hidden; position:absolute;" immediate="true" disabled="#{cc.attrs.disabled}" >
					<p:ajax event="change" update="#{cc.attrs.update}" partialSubmit="true" process="#{cc.attrs.process}"/>
			</p:inputText>
			

			<p:inputTextarea id="lovInpTextReadOnly" 
				readonly="true" 
				required="#{cc.attrs.required}" 		
				placeholder="-/-"
				value="#{cc.attrs.datasource.formatRowAsText(cc.attrs.lovTextFormat, cc.attrs.datasource.currentRow, false)}" 
				style="max-width:#{cc.attrs.width-50}px;min-width:#{cc.attrs.width-50}px;width:#{cc.attrs.width-50}px;" 
				rendered="#{cc.attrs.readonly}" 
				styleClass="no-border" rows="1"/> <!-- styleClass="input-14" -->			
			
			
			
			
		    <p:inputTextarea id="lovInpText" 
		    	readonly="true" 
		    	required="#{cc.attrs.required}"				
		    	placeholder="-/-"
				value="#{cc.attrs.datasource.formatRowAsText(cc.attrs.lovTextFormat, cc.attrs.datasource.currentRow, false)}" 
				style="max-width:#{cc.attrs.width-50}px;min-width:#{cc.attrs.width-50}px;width:#{cc.attrs.width-50}px;"  disabled="#{cc.attrs.disabled}"
				onkeydown_old="if(event.key !== 'F5') { showDialog( '#{cc.clientId}:dlgLov' ); PFbyId('#{cc.clientId}:clkptbl:inpSearch').jq.select(); }"
							 onkeydown="currentLovId = '#{cc.clientId}'; showDlgLovJS('dlgLovJS_#{cLovJS.getLov(cc.clientId).widgetVar}');"
							 rendered="#{cc.attrs.showInputText and cc.attrs.lockInputText and !cc.attrs.readonly}"
				styleClass="no-border" rows="1"/>
		
				
				<p:inputText id="lovInpFreeText" 
					value="#{cc.attrs.value}" 
					required="#{cc.attrs.required}" 
					placeholder="-/-"
					style="max-width:#{cc.attrs.width-50}px;min-width:#{cc.attrs.width-50}px;width:#{cc.attrs.width-50}px;"  
					disabled="#{cc.attrs.disabled}"
					rendered="#{cc.attrs.showInputText and !cc.attrs.lockInputText and !cc.attrs.readonly}" 
					styleClass="no-border"/> 
		
				 
		    <p:commandButton
					type="button"
					value="#{cc.attrs.commandButtonValue}"
					style="position:relative; right:0; z-index:99"
					icon="#{cc.attrs.commandButtonIcon}"
					disabled="#{cc.attrs.disabled}"
					onclick_old=" showDialog( '#{cc.clientId}:dlgLov' ); " update="clkptbl clkptbl:lCntrs"
					onclick="currentLovId = '#{cc.clientId}'; showDlgLovJS('dlgLovJS_#{cLovJS.getLov(cc.clientId).widgetVar}');"
					rendered="#{!cc.attrs.readonly}" styleClass="lovBtn granat more #{cc.attrs.value==null and cc.attrs.required?'lovBtnRequired':''}">
						<!-- <i class="material-icons dark, more-horiz">more_horiz</i> -->
		    </p:commandButton>
		    	
			</div>
			

				
</div>
</cc:implementation>

</html>