<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	>



<cc:interface>
	
	
	
	<cc:attribute name="lovDlgTitle" default="" />
	<cc:attribute name="label" />
	<cc:attribute name="tooltip" />
	<cc:attribute name="placeholder" />
	
	
	<cc:attribute name="datasource" type="com.comarch.egeria.pp.data.SqlDataSelectionsHandler" required="true" />
	<cc:attribute name="colNames" />
	<cc:attribute name="colHeaders" />
	<cc:attribute name="colWidths" />
	
	<cc:attribute name="defaultDateFormat" default="yyyy-MM-dd" />
	
	<cc:attribute name="generateColumns" default="true" type="java.lang.Boolean"/>
	 
	<cc:attribute name="showSearchField" default="true" type="java.lang.Boolean"/>
	
	
	<cc:attribute name="height" type="java.lang.Integer" default="750" />
	
	<cc:attribute name="rowSelectAction" method-signature="java.lang.String action()" />
	<cc:attribute name="rowsMultiSelectedAction" method-signature="java.lang.String action()" default="#{cLookupTableBean.show}" />
	
	<cc:attribute name="update" />
	

	<cc:attribute name="valueRefObject" />
	<cc:attribute name="value" />
	<cc:attribute name="valueFormat" type="java.lang.String" default="" />
	<cc:attribute name="lovTextFormat" />
	
	<cc:attribute name="showInputText" default="true" type="java.lang.Boolean" />
	<cc:attribute name="lockInputText" default="true" type="java.lang.Boolean"/>
	<cc:attribute name="readonly"      default="false" type="java.lang.Boolean"/>
	<cc:attribute name="disabled"      default="false" type="java.lang.Boolean"/>

	<cc:attribute name="required"      default="false" type="java.lang.Boolean"/>
	<cc:attribute name="requiredJ"     default="false" type="java.lang.Boolean"/>
	
	<cc:attribute name="width" default="300"  />
	<cc:attribute name="style" />
	<cc:attribute name="styleClass" />
	
	<cc:attribute name="update" />
	<cc:attribute name="process" default="@this" />


	<cc:attribute name="ajax" 			type="java.lang.Boolean" default="true"/>
	<cc:attribute name="changeValueListener" method-signature="java.lang.Void actionListener()" />

	
	
</cc:interface>

<cc:implementation>

<h:outputStylesheet name="cc-mdesign.css" library="css" />

<div id="#{cc.clientId}"
	class="#{ cc.attrs.styleClass } cc-mdesign textarea100-label-more"
	style="margin-bottom: 0px; position:relative; margin-top:#{empty cc.attrs.label ? '10px': '25px'}; #{cc.attrs.style}"> 

<p:tooltip for="#{cc.clientId}" value="#{cc.attrs.tooltip}" rendered="#{cc.attrs.tooltip ne null}"/>

	#{cc.attrs.datasource.setColNames(cc.attrs.colNames)}
	#{cc.attrs.datasource.setColHeaders(cc.attrs.colNames)}
	#{cc.attrs.datasource.setColHeaders(cc.attrs.colHeaders)}
	#{cc.attrs.datasource.setColWidths(cc.attrs.colWidths)}
 	
 	#{cLookupTableBean.setCurrentAttrValue( cc.attrs.datasource , cc.attrs.value )}
 	
 	
 	#{cLovJS.addLovDlg(cc.clientId, cc.attrs.datasource, cc.attrs.lovDlgTitle, cc.attrs.lovTextFormat, cc.attrs.valueFormat, cc.attrs.lockInputText)}

	#{cLovJS.updateDlgDataSourceOnCCRender(cc.clientId, cc.attrs.datasource)}

<!-- 	<f:event listener="#{cLovJS.updateDlgAfterRefrCC(cc.clientId, cc.attrs.datasource)}" type="postValidate" /> -->


		<div style=" display:inline-block; 
 			  position:relative;   
 			   margin-bottom:0px!important;         box-sizing:border-box;          padding: 0 10px 0 10px;
 			  padding: 0 10px; 
 			  box-sizing: border-box"
			onclick="
					  if (#{cc.attrs.showInputText and cc.attrs.lockInputText and !cc.attrs.readonly and !cc.attrs.disabled and !kontrolaUprawnien.kuIsReadOnly(cc.clientId) }){ 
						  currentLovHasSelectAction = #{cc.attrs.rowSelectAction != null ? 'true' : 'false'};
						  currentLovId = '#{cc.clientId}'; showDlgLovJS('dlgLovJS_#{cLovJS.getLov(cc.clientId).widgetVar}');
					     }
					  "
			class="calc-label"		  
		>
	   		   		
			
			<p:inputText id="val" value="#{cc.attrs.value}" style="visibility:hidden; position:absolute;" immediate="true" disabled="#{cc.attrs.disabled}"  readonly="#{cc.attrs.readonly}">
				<i:if test="#{true eq cc.attrs.ajax}" >
					<i:if test="#{not empty cc.attrs.changeValueListener}" >
						<p:ajax event="change" update="#{cc.attrs.update}" partialSubmit="true" process="#{cc.attrs.process}" listener="#{cc.attrs.changeValueListener}"/>
					</i:if>
					<i:if test="#{empty cc.attrs.changeValueListener}" >
						<p:ajax event="change" update="#{cc.attrs.update}" partialSubmit="true" process="#{cc.attrs.process}" />
					</i:if>

				</i:if>
			</p:inputText>


<!--			value="#{cc.attrs.datasource.formatRowAsText(cc.attrs.lovTextFormat, cc.attrs.datasource.currentRow, true)}"-->
			<p:inputText id="lovInpTextReadOnly" readonly="true" required="#{cc.attrs.required}"
				placeholder="#{cc.attrs.placeholder}"
				value="#{cc.attrs.datasource.findAndFormat(cc.attrs.value, cc.attrs.lovTextFormat)}"
				style="width:100%" 
				disabled="#{cc.attrs.disabled}"
				 rendered="#{cc.attrs.readonly}"
				 onfocus="triggerMDesignEffects($(this));"/>

<!--			value="#{cc.attrs.datasource.formatRowAsText(cc.attrs.lovTextFormat, cc.attrs.datasource.currentRow, true)}"-->
			<p:inputText id="lovInpText" readonly="true" required="#{cc.attrs.required}"
				placeholder="#{cc.attrs.placeholder}"
				value="#{cc.attrs.datasource.findAndFormat(cc.attrs.value, cc.attrs.lovTextFormat)}"
				style="width:100%" 
				disabled="#{cc.attrs.disabled}"
				 onkeydown="if (event.keyCode === 9 || event.keyCode === 16) return; currentLovId = '#{cc.clientId}'; showDlgLovJS('dlgLovJS_#{cLovJS.getLov(cc.clientId).widgetVar}');"
				 rendered="#{cc.attrs.showInputText and cc.attrs.lockInputText and !cc.attrs.readonly}"
				 onfocus="triggerMDesignEffects($(this));"/>

		
			<p:inputText id="lovInpFreeText" readonly="#{cc.attrs.lockInputText}" value="#{cc.attrs.value}" required="#{cc.attrs.required}" 
				placeholder="#{cc.attrs.placeholder}"
				style="width:100%" 
				disabled="#{cc.attrs.disabled}"
				rendered="#{cc.attrs.showInputText and !cc.attrs.lockInputText and !cc.attrs.readonly}"
				onfocus="triggerMDesignEffects($(this));"/>
		

		   		
		   		
			<p:commandButton id="lovJSBtn"  value=""
				style="position:absolute; right:0; top: 0; z-index:99"
				icon="more_horiz" 
		    	onclick="currentLovId = '#{cc.clientId}'; showDlgLovJS('dlgLovJS_#{cLovJS.getLov(cc.clientId).widgetVar}');"
		    	rendered="#{!cc.attrs.readonly}" disabled="#{cc.attrs.disabled}"
		    	styleClass="lovBtn granat more #{cc.attrs.value==null and cc.attrs.required?'lovBtnRequired':''}"
		    	partialSubmit="true" process="@this"
				tabindex="-1"
		   	/>


				
		   		   		
			<span class="bar" style="width:100%"></span>
			<p:outputLabel value="#{cc.attrs.label}"
				style="position:absolute; top:5px; left: 5px;"
				rendered="#{not empty cc.attrs.label}" for="#{cc.clientId}"
				styleClass="ui-outputlabel ui-widget">
	
				<ui:fragment rendered="#{cc.attrs.required or cc.attrs.requiredJ}">
					<ui:include src="/resources/components/cReqrIndctr.xhtml" />
				</ui:fragment>
	
			</p:outputLabel>	
		   		

		</div>

</div>

</cc:implementation>

</html>









