<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">



<cc:interface>

	<cc:attribute name="icon" default="more_horiz"/>
	<cc:attribute name="tooltip" />
	
	<cc:attribute name="lovTextFormat" />

	<cc:attribute name="lovDlgTitle" default="" />
	
	<cc:attribute name="datasource" type="com.comarch.egeria.pp.data.SqlDataSelectionsHandler" required="true" />
	<cc:attribute name="colNames" />
	<cc:attribute name="colHeaders" />
	<cc:attribute name="colWidths" />
	
	<cc:attribute name="defaultDateFormat" default="yyyy-MM-dd" />
	
	<cc:attribute name="generateColumns" default="true" type="java.lang.Boolean"/>
	 
	<cc:attribute name="showSearchField" default="true" type="java.lang.Boolean"/>
	
	
	<cc:attribute name="height" type="java.lang.Integer" default="750" />
	
	<cc:attribute name="lovBtnAction" method-signature="java.lang.Object action()" default="#{cLookupTableBean.show}" />
	
	<cc:attribute name="rowSelectAction" method-signature="java.lang.String action()" default="#{cLookupTableBean.show}" />
	<cc:attribute name="rowsMultiSelectedAction" method-signature="java.lang.String action()" default="#{cLookupTableBean.show}" />
	
	<cc:attribute name="update" />
	
	<cc:attribute name="valueRefObject" />
	<cc:attribute name="value" />
	<cc:attribute name="valueFormat" type="java.lang.String" default="" shortDescription="valueFormat to sposób na wrzucenie do value innej wartosci niz kolumna z PK  - ma to być string formatujący DataRow wynikiem jest działanie String.format(valueFormat, row.toArray())" />
	
	<cc:attribute name="showInputText" default="true" type="java.lang.Boolean" />
	<cc:attribute name="lockInputText" default="true" type="java.lang.Boolean"/>
	<cc:attribute name="readonly"      default="false" type="java.lang.Boolean"/>
	
	<cc:attribute name="required"      default="false" type="java.lang.Boolean"/>
	
	<cc:attribute name="width" default="300"  />
	
	<cc:attribute name="dialogWidth" default="950"  />
	
	
	<cc:attribute name="multiselect" default="false" type="java.lang.Boolean"/>

	<cc:attribute name="selectedRowsSizeLimit"  default="-1" type="java.lang.Integer" />
	
	<cc:attribute name="style" />
	
	<cc:attribute name="styleClass" />
	
</cc:interface>

<cc:implementation>
 <div id="#{cc.clientId}" class="#{cc.attrs.styleClass}" style="display:inline-block; #{cc.attrs.style}">
	#{cc.attrs.datasource.setColNames(cc.attrs.colNames)}
	#{cc.attrs.datasource.setColHeaders(cc.attrs.colNames)}
	#{cc.attrs.datasource.setColHeaders(cc.attrs.colHeaders)}
	#{cc.attrs.datasource.setColWidths(cc.attrs.colWidths)}
	#{cc.attrs.datasource.setSelectedRowsSizeLimit(cc.attrs.selectedRowsSizeLimit) }
 	#{cLookupTableBean.setCurrentAttrValue( cc.attrs.datasource , cc.attrs.value )}
 	
<!--  	#{cLov.setMultiselect(cc.attrs.multiselect)} -->
    #{cLov.putMultiselect(cc.clientId, cc.attrs.multiselect)} 
 	#{cLov.putDialogWidth(cc.clientId, cc.attrs.dialogWidth)}
 	#{cLov.put(cc.clientId, cc.attrs.datasource)}
 	#{cLov.put(cc.clientId, cc.attrs.lovDlgTitle)}
 	#{cLov.put(cc.clientId, cc.attrs.rowSelectAction)}
 	#{cLov.putMultiSelectAction(cc.clientId, cc.attrs.rowsMultiSelectedAction)}
 	#{cLov.putValueFormat(cc.clientId, cc.attrs.valueFormat)}
 	#{cLov.putUpdate(cc.clientId, cc.attrs.update)} 
	
<p:tooltip for="#{cc.clientId}" value="#{cc.attrs.tooltip}" rendered="#{cc.attrs.tooltip ne null}"/>
	
			<div style="position:relative">
				
				
				<p:inputText id="lovInpTextReadOnly" readonly="true" required="#{cc.attrs.required}" 		placeholder="-/-"
							 value="#{cc.attrs.datasource.findAndFormat(cc.attrs.value, cc.attrs.lovTextFormat)}"
							 style="width:#{cc.attrs.width-50}px;"
							 rendered="#{cc.attrs.readonly}"/>


				<p:inputText id="lovInpText" readonly="true" required="#{cc.attrs.required}"				placeholder="-/-"
							 value="#{cc.attrs.datasource.findAndFormat(cc.attrs.value, cc.attrs.lovTextFormat)}"
							 style="width:#{cc.attrs.width-50}px;"
							 onkeydown="PFbyId('#{cc.clientId}:lovBtn').jq.trigger('click');"
							 rendered="#{cc.attrs.showInputText and cc.attrs.lockInputText and !cc.attrs.readonly}"/>
				
			
				<p:inputText id="lovInpFreeText" value="#{cc.attrs.value}" required="#{cc.attrs.required}" placeholder="-/-"
					style="width:#{cc.attrs.width-50}px;" 
					rendered="#{cc.attrs.showInputText and !cc.attrs.lockInputText and !cc.attrs.readonly}"/>
			
					
	
			    <p:commandButton id="lovBtn"  
			    	actionListener="#{cLov.prepareDlg(cc.attrs.valueRefObject)}"
			    	action="#{cc.attrs.lovBtnAction}"
			    	oncomplete="PF('dlgLov').show();"
			    	rendered="#{!cc.attrs.readonly}" 
			    	styleClass="#{cc.attrs.showInputText ? 'lovBtn granat more' :''} #{cc.attrs.value==null and cc.attrs.required?'lovBtnRequired':''}"
			    	icon="#{cc.attrs.icon}"
			    	partialSubmit="true" process="@this"
			    	update="@(.chkx) @(.chkxtgglr)"
			   	>
	<!-- 		   		styleClass="lovBtn granat more #{cc.attrs.value==null and cc.attrs.required?'lovBtnRequired':''}" -->
			   		
		   		
		   	</p:commandButton>

			</div>
			
			<p:remoteCommand name="prepareDlg" actionListener="#{cLov.prepareDlg}"/>
			
						
</div>
</cc:implementation>

</html>