<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">



<cc:interface componentType="cLovButtonJS">
	<cc:attribute name="lovDlgTitle" default="" />
	
	<cc:attribute name="datasource" type="com.comarch.egeria.pp.data.SqlDataSelectionsHandler" required="true" />
	<cc:attribute name="colNames" />
	<cc:attribute name="colHeaders" />
	<cc:attribute name="colWidths" />

<!--	<cc:attribute name="action" method-signature="java.lang.Object action()" default="null" />-->
	<cc:attribute name="rowSelectedAction"  method-signature="void f(com.comarch.egeria.pp.data.DataRow)"/>

	<cc:attribute name="update" />

	<cc:attribute name="value" type="java.lang.String" default=""/>
	<cc:attribute name="title" type="java.lang.String" default="" />

	<cc:attribute name="commandButtonValue" default=""/>
	<cc:attribute name="icon" default="more_horiz"/>
	<cc:attribute name="commandButtonStyleClass" />

	<cc:attribute name="valueFormat" type="java.lang.String" default="" />

	<cc:attribute name="readonly"      default="false" type="java.lang.Boolean"/>
	
	<cc:attribute name="required"      default="false" type="java.lang.Boolean"/>
	
	<cc:attribute name="style" />
	<cc:attribute name="styleClass" default="granat"/>
	
	<cc:attribute name="update" type="java.lang.String" default="@none"/>
	<cc:attribute name="process" type="java.lang.String" default="@this"/>

<!--	<cc:attribute name="valueChangeListener"-->
<!--		method-signature="java.lang.Object valueChange(javax.faces.event.ValueChangeEvent)"-->
<!--		required="false" default="null" />-->

	<cc:attribute name="renderKU" type="java.lang.Boolean" default="true"
		shortDescription="Czy na danej kontrolce ma być możliwość ustawienia uprawnień przez administratora" />

	<cc:attribute name="tooltip" type="java.lang.String"/>

	<cc:attribute name="onclick" type="java.lang.String"/>
	<cc:attribute name="ajax" type="java.lang.Boolean" default="true"/>
	<cc:attribute name="onstart" 	type="java.lang.String" default="hgon();"/>
	<cc:attribute name="oncomplete" type="java.lang.String" default="hgoff();"/>


<!--	<cc:attribute name="formTargetBlankAjaxFalse" type="java.lang.Boolean" default="false"/>-->

</cc:interface>

<cc:implementation>
	<f:event type="postAddToView" listener="#{cc.init}" />
 <div id="#{cc.clientId}"
	  style="display: inline-flex; vertical-align: middle; #{cc.attrs.style}"
	  class="#{cc.attrs.styleClass}">

	#{cc.attrs.datasource.setColNames(cc.attrs.colNames)}
	#{cc.attrs.datasource.setColHeaders(cc.attrs.colNames)}
	#{cc.attrs.datasource.setColHeaders(cc.attrs.colHeaders)}
	#{cc.attrs.datasource.setColWidths(cc.attrs.colWidths)}
 	#{cLookupTableBean.setCurrentAttrValue( cc.attrs.datasource , cc.attrs.value )}
 	#{cLovJS.addLovDlg(cc.clientId, cc.attrs.datasource, cc.attrs.lovDlgTitle, cc.attrs.lovTextFormat, cc.attrs.valueFormat, false)}

	 #{cLovJS.updateDlgDataSourceOnCCRender(cc.clientId, cc.attrs.datasource)}

<!--						 binding="#{cc.val}"-->
			<p:inputText id="val"
						 style="visibility:hidden; position:absolute; width:1px; height:1px;" immediate="true" disabled="#{cc.attrs.disabled}"
			>
			<!--		    binding="#{cc.val}"  przeniesiono do CLovButtonJS.init  -->
			<!--			uwaga: binding="#{cc.val}" albo binding="#{cc.table}"-->
			<!--			problemy jeśli FULL_STATE_SAVING_VIEW_IDS albo wyłączymy PARTIAL_STATE_SAVING-->
			<!--			NPE [cc] resolved to null (przy postback/ restoreView)-->
			<!--			javax.el.PropertyNotFoundException: /resources/components/cLovButtonJS.xhtml @81,5 binding="#{cc.val}": Target Unreachable, identifier [cc] resolved to null-->



<!--				<p:ajax event="change" update="#{cc.attrs.update}" partialSubmit="true" process="#{cc.attrs.process}"-->
<!--						disabled="#{cc.attrs.action != null}" />-->
<!--				<p:ajax event="change" update="#{cc.attrs.update}" partialSubmit="true" process="#{cc.attrs.process}"-->
<!--						disabled="#{cc.attrs.action == null}" listener="#{cc.actionListener}"/>-->

<!--				<p:ajax event="change"-->
<!--						update="#{cc.attrs.update}"-->
<!--						partialSubmit="true"-->
<!--						process="#{cc.attrs.process}"-->
<!--						immediate="false"-->
<!--						listener="#{cc.actionListener}"-->
<!--						onstart="hgon();" oncomplete="hgoff();" disabled="#{cc.attrs.formTargetBlankAjaxFalse}"-->
<!--				/>-->

			</p:inputText>


<!--     przycisk triggerowany po kliknięciu w wiersz i ustawieniu val -->
			 <p:commandButton
					 id="btnlv"
					 style="position: absolute; visibility: hidden;"
					 action="#{cc.btnlvActionListener}"
					 disabled="#{cc.attrs.disabled or cc.attrs.readonly}"
                     partialSubmit="true" process="#{cc.clientId}:val #{cc.attrs.process}"
					 onstart="#{cc.attrs.onstart}" oncomplete="#{cc.attrs.oncomplete}"
					 onclick="#{cc.attrs.onclick}" ajax="#{cc.attrs.ajax}"
                     update="#{cc.attrs.update}"
             />



	 <!--     przycisk pokazujacy lov -->
			<p:commandButton id="lovJSBtn"
							 kuid=""
							 onclick="currentLovId='#{cc.clientId}'; showDlgLovJS('dlgLovJS_#{cLovJS.getLov(cc.clientId).widgetVar}'); return false;"
							 disabled="#{cc.attrs.disabled or cc.attrs.readonly}"
							 icon="#{cc.attrs.icon}"
							 value="#{cc.attrs.value}"

							 styleClass="cc-button #{cc.attrs.commandButtonStyleClass}"
							 title="#{cc.attrs.title}"
			>
				<cc:insertChildren/>
			</p:commandButton>

	 		<p:tooltip for="lovJSBtn" value="#{cc.attrs.tooltip}" rendered="#{cc.attrs.tooltip != null}" />
		   		
<!-- 		   	RESZTA W /pp/WebContent/WEB-INF/protectedElements/Dialogs/LOV/dlgLov.xhtml -->

	 <ui:include src="#{cc.attrs.renderKU and user.renderKU and kontrolaUprawnien.viewRenderKU ? '/resources/components/cKuBtnPart.xhtml' : ''}" />

</div>

</cc:implementation>

</html>









