<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	  xmlns:i="http://xmlns.jcp.org/jsp/jstl/core">



<cc:interface componentType="cLookupTable">

	<cc:attribute name="datasource" type="com.comarch.egeria.pp.data.SqlDataSelectionsHandler" required="true" />

	<cc:attribute name="scrollHeight" default="100%" />
	<cc:attribute name="scrollWidth"  default="100%" />
	<cc:attribute name="colNames" />
	<cc:attribute name="colHeaders" />
	<cc:attribute name="colWidths"/>
	<cc:attribute name="defaultDateFormat" default="yyyy-MM-dd" />
	<cc:attribute name="generateColumns" default="true" type="java.lang.Boolean"/>
	<cc:attribute name="showSearchField" default="true" type="java.lang.Boolean"/>
	<cc:attribute name="height" default="100%" />

	<!-- akcja kiedy kliknieto lub wiersz lub uzyto Enter'a - w tej wersji nie podajemy paramtru, bo widok głowny wie jakie SqlDataSelectionsHandler przekazał do datasource -->
	<!-- uwaga - default jest obowiazkowy - dla ajax listener= jakas akacja musi istniec dlatego w cLookupTableBean.show stworzono pustą metodę -->
	<cc:attribute name="rowSelectAction" 	method-signature="java.lang.String action()" default="#{cLookupTableBean.show}" />
	<cc:attribute name="onRowSelected"  />
	<cc:attribute name="update" />
	<cc:attribute name="value" />
	<cc:attribute name="valueFormat" type="java.lang.String" default="" />

	<cc:attribute name="smallHeaders" default="false" type="java.lang.Boolean" />
	<cc:attribute name="hideHeaders"  default="false" type="java.lang.Boolean" />
	<cc:attribute name="multiselect"  default="false" type="java.lang.Boolean" />
	<cc:attribute name="checkOneRow"  default="false" type="java.lang.Boolean" />
	<cc:attribute name="readonly"  default="false" type="java.lang.Boolean" />
	<cc:attribute name="editRowPage" />
	<cc:attribute name="disabled"  default="false" type="java.lang.Boolean" />
	<cc:attribute name="selectedRowsSizeLimit"  default="-1" type="java.lang.Integer" />
	<cc:attribute name="noBorder"  default="false" type="java.lang.Boolean" />
	<cc:attribute name="widgetVar4DataTable"/>
	<cc:attribute name="widgetVar4inpSearch"/>

	<cc:attribute name="exportPdf"  default="false" type="java.lang.Boolean" shortDescription="Czy włączyć export do pdf" />
	<cc:attribute name="exportCsv"  default="false" type="java.lang.Boolean" shortDescription="Czy włączyć export do csv" />
	<cc:attribute name="exportXls"  default="false" type="java.lang.Boolean" shortDescription="Czy włączyć export do xls" />
	<cc:attribute name="exportXml"  default="false" type="java.lang.Boolean" shortDescription="Czy włączyć export do xml" />

	<cc:attribute name="rows" default="25" type="java.lang.Integer"/>
	<cc:attribute name="styleClass"  type="java.lang.String" />

	<cc:attribute name="var" type="java.lang.String" default="row" shortDescription="Name of the iterator variable used to refer each data. TODO: wywalic default po dostosowaniu wszystkich widoków"/>
	<cc:attribute name="rowIndexVar" type="java.lang.String" default="rowIdx" shortDescription="Name of iterator to refer each row index. TODO: wywalic default po dostosowaniu wszystkich widoków"/>

</cc:interface>








<cc:implementation>
	<f:event type="postAddToView" listener="#{cc.init}"/>

	<div id="#{cc.clientId}"
		 style="position:relative; width:100%; min-height: #{cc.attrs.height}; max-height:#{cc.attrs.height};"
		 class="#{cc.attrs.styleClass}">



		#{cc.ds.setColNames(cc.attrs.colNames)}
		#{cc.ds.setColHeaders(cc.attrs.colNames)}
		#{cc.ds.setColHeaders(cc.attrs.colHeaders)}
		#{cc.ds.setColWidths(cc.attrs.colWidths)}
		#{cc.ds.setSelectedRowsSizeLimit(cc.attrs.selectedRowsSizeLimit)}

		<h:outputScript name="js/cLookupTable.js" target="head" />
		<h:outputStylesheet name="cLookupTable.css" library="css"/>



		<script type="text/javascript">

			$(document).ready(function(){
				$('#dvTb').keydown(function(e, clientId){ fKey(event,'#{cc.clientId}'); } );
				$('#dvTb').keyup(  function(e, clientId){ fKeyUp(event,'#{cc.clientId}'); } );
			});

		</script>


		<h:panelGroup rendered="#{cc.attrs.showSearchField}"  kuid="ku-e">
			<div class="tblCntrs" style="position:absolute; left: 260px; top: 4px; width:100px; text-align:right" >
				<p:outputLabel style="color:light-gray" id="lCntrs" value="#{cc.ds.data.size()} / #{cc.ds.originalData.size()} "/>
			</div>




			<p:inputText id="inpSearch" styleClass="inpSearch" placeholder="szukaj..." value="#{cc.ds.textFilter}"  kuid="ku-e"
						 immediate="true"
						 widgetVar="#{cc.attrs.widgetVar4inpSearch}"
						 style="max-width:350px; min-width:350px; border-bottom-width: 1px; " icon="fa-search"
						 autocomplete="off" onkeydown ="fKey(event,'#{cc.clientId}')" onkeyup="fKeyUp(event,'#{cc.clientId}')" >

				<p:ajax event="keyup" partialSubmit="true" process="@this" update="dane lCntrs btnClrInptSrch" delay="300" async="false"
						onstart 	="hgon();"
						oncomplete	="hgoff();" />
				<p:focus></p:focus>

			</p:inputText>
			<p:tooltip for="inpSearch" value="#{cc.ds.shortName}" rendered="#{user.admin}"/>


			<h:panelGroup id="pnlClmnFltr">
				<p:commandButton id="btnClmnFltr" icon="details" styleClass="search_button"   kuid="ku-e"
							 style="color: #{ cc.ds.colFiltersHM.size() == 0 ? '#26437e' : 'red' }!important" partialSubmit="true" process="@none"/>
			</h:panelGroup>
			<p:overlayPanel for="pnlClmnFltr" id="btnClmnFltrPnl"  hideEffect="fade" style="width:350px; max-width:350px">

				<ui:repeat var="colName" value="#{cc.ds.colNames}">
					<p:outputLabel value="#{cc.ds.getColHeader(colName)}: "/>
					<p:inputText id="txtColFltr" value="#{cc.ds.colFiltersHM[colName]}">
						<p:ajax event="keyup" delay="300"
								process="txtColFltr" partialSubmit="true"
								listener="#{cc.ds.setColFilter}"
								update="#{cc.clientId}:btnClrInptSrch #{cc.clientId}:btnClmnFltr #{cc.clientId}:dane #{cc.clientId}:lCntrs @(.chkxtgglr)"
						/>
					</p:inputText>
				</ui:repeat>

			</p:overlayPanel>


			<p:commandButton id="btnClrInptSrch" icon="clear" class="inl-block btn" styleClass="search_button"  kuid="ku-e" partialSubmit="true" process="@this"
							 style="color: #{ cc.ds.data.size() == cc.ds.originalData.size() ? '#26437e' : 'red' }!important"
							 action="#{cc.ds.clearFilter()}"
							 onstart="hgon()" oncomplete="PrimeFaces.focus('#{cc.clientId}:inpSearch'); hgoff();"
							 update="#{cc.clientId}"
			>
			</p:commandButton>


			<p:tooltip id="toolTipbtnClrInptSrch" for="btnClrInptSrch" value="czyść"
					   styleClass="ctl-tooltip" />

			<h:panelGroup id="exporterBtns">

				<i:if test="#{cc.attrs.exportPdf or cc.attrs.exportXls or cc.attrs.exportCsv or cc.attrs.exportXml}" >

					<p:commandButton value="pdf" ajax="false" id="btnExpPdf"
									 style="padding:0px !important;"
									 rendered="#{cc.attrs.exportPdf}" >
						<p:dataExporter
								type="pdf"
								encoding="cp1250"
								target="dane"
								fileName="#{cc.ds.shortName}"
								preProcessor="#{cc.ds.preProcessPDF}" />
					</p:commandButton>


					<p:commandButton value="xls" ajax="false" id="btnExpXls"
									 style="padding:0px !important;"
									 rendered="#{cc.attrs.exportXls}" >
						<p:dataExporter
								type="xls"
								target="dane"
								fileName="#{cc.ds.shortName}"/>
					</p:commandButton>


					<p:commandButton value="csv" ajax="false" id="btnExpCsv"
									 style="padding:0px !important;"
									 rendered="#{cc.attrs.exportCsv}" >
						<p:dataExporter
								type="csv"
								target="dane"
								encoding="cp1250"
								fileName="#{cc.ds.shortName}"/>
					</p:commandButton>


					<p:commandButton value="xml" ajax="false" id="btnExpXml"
									 style="padding:0px !important;"
									 rendered="#{cc.attrs.exportXml}" >
						<p:dataExporter type="xml"
										target="dane"
										fileName="#{cc.ds.shortName}"/>
					</p:commandButton>

				</i:if>

			</h:panelGroup>

		</h:panelGroup>

<!--#{cc.attrs.datasource.columns}-->


		<div id="#{cc.clientId}:dvTb" tabindex="1"
			 class="clkptb ctl-datatable-pane"
			 style="position: absolute; display:block;]
				top: #{cc.attrs.showSearchField?'50px':'0px'};
				left: 0px!important;
				right: 0px!important;

			    width: 100%!important;
				height: calc(100% - #{cc.attrs.showSearchField?'45px':'0px'}) !important;
			" >


<!--						 binding="#{cc.table}"-->
			<p:dataTable id="dane"
						 resizableColumns="true"
						 draggableColumns="true"
						 widgetVar="#{cc.attrs.widgetVar4DataTable}"
						 value="#{cc.attrs.datasource.lazySqlDataModel}"

						 rowKey="#{rowData.get(0)}"
						 selectionMode="single"
						 disabledSelection="#{cc.attrs.disabled}"
						 selection="#{cc.ds.currentRow}"
						 lazy="true"
						 scrollable="true"
						 scrollRows="#{cc.attrs.rows}"
						 virtualScroll="true"
						 rows="#{cc.attrs.rows}"
						 nullSortOrder="-1"
						 paginator="false"
						 scrollHeight="#{cc.attrs.scrollHeight}"
						 scrollWidth="#{cc.attrs.scrollWidth}"
						 styleClass="#{cc.attrs.smallHeaders ? 'smallHdrs': ''} #{cc.attrs.hideHeaders ? 'hideHdrs': ''} #{cc.attrs.noBorder ? 'noBrdr': ''}">

				<cc:insertChildren/>

				<p:columns value="#{cc.attrs.rendered ? cc.attrs.datasource.columns : null}"
						   var="colName"
						   columnIndexVar="colIndex"
							width="140"
						   sortBy="#{colName}"
						   rendered="#{cc.attrs.generateColumns}"
						   exportFunction="#{cLookupTableBean.exportColumn}" >


					<i class="material-icons fs10 m0 p0 block mb-15i ml-10i"
					   style="z-index: 9999; "
					   onclick="copyToClipboard( $(this).next()[0] );">
                        content_copy
					</i>

					<f:facet name="header">
                        <i class="material-icons fs10 m0 p0 pr3"
                           style="display: inline!important; color:#{cc.attrs.datasource.getColumn(colName)==null or 'T' eq cc.attrs.datasource.getColumn(colName).lstFUkryte ? 'red;' : 'blue'};"
                           onclick="copyToClipboard( $(this).next()[0]);"
                        >
                            content_copy
                        </i>
						<h:outputLabel id="colHdr"  value="#{colName}" readonly="true"  	title="#{colName} / #{cc.ds.getColumnType(colName)}" styleClass="mo p0"/>
					</f:facet>

					<h:outputText
								  value="#{cc.table.rowData.get(colName)}"
								  styleClass="inl cell-cntnt #{cc.attrs.defaultDateFormat != 'yyyy-MM-dd' ? 'minw110' : 'minw70'}"
								  readonly="true"
								  rendered="#{cc.table.rowData.get(colName)['class'].simpleName eq 'Timestamp'}">
						<f:passThroughAttribute name="style" value="color:#{cc.table.rowData.cssColor}"/>
<!--						<f:converter converterId="myDateTimeConverter" />-->
<!--						<f:attribute name="pattern" value="#{cc.ds.getColFormat(colName)}"/>-->
					</h:outputText>

					<h:outputText
								  value="#{cc.table.rowData.get(colName)}"
								  styleClass="inl cell-cntnt mw#{cc.attrs.maxColWidth} #{cc.table.rowData.get(colName)['class'].simpleName eq 'BigDecimal' ? 'right' : cc.table.rowData.get(colName)['class'].simpleName eq 'String' ? 'cell-cntnt-tooltip' : ''}"
								  readonly="true"
								  rendered="#{not (cc.table.rowData.get(colName)['class'].simpleName eq 'Timestamp')}">
						<f:passThroughAttribute name="style" value="color:#{cc.table.rowData.cssColor}"/>
<!--						<f:converter converterId="mynumcnv" />-->
<!--						<f:attribute name="pattern" value="#{cc.ds.getColFormat(colName)}"/>-->

					</h:outputText>

				</p:columns>

				<p:column exportable="false">
					<div class="col-ost-cntnt"></div>
				</p:column>

				<pe:javascript event="rowSelect" execute="#{cc.attrs.onRowSelected}" />


			</p:dataTable>




		</div>

	</div>
</cc:implementation>

</html>