<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:i="http://java.sun.com/jsp/jstl/core"
	xmlns:egr="http://egr.egeria.comarch.com/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf">


<cc:interface>


	<cc:attribute name="id" />

	<cc:attribute name="icon" type="java.lang.String"
		shortDescription="Lista icon na stronie: https://material.io/icons/ Należy podać nazwę, na przykład 'euro_symbol' " />

<!-- 	<cc:attribute name="value" type="java.lang.String" /> -->
	
	<cc:attribute name="label" type="java.lang.String" default="" />
	
	<cc:attribute name="tooltip" type="java.lang.String" default="" />

	<cc:attribute name="readonly" />
		
	<cc:attribute name="required" type="java.lang.Boolean" default="false" />
	
	<cc:attribute name="requiredMessage" type="java.lang.String" />
	
	<cc:attribute name="styleClass" type="java.lang.String" />

	<cc:attribute name="renderKU" type="java.lang.Boolean" default="true" />	
	
<!-- 	<cc:clientBehavior name="change" targets="inp" event="valueChange" /> -->
	
<!-- 	<cc:attribute name="valueChangeListener" -->
<!-- 		method-signature="java.lang.Object valueChange(javax.faces.event.ValueChangeEvent)" -->
<!-- 		required="false" default="null" /> -->


</cc:interface>



<cc:implementation>
	<ui:fragment
		rendered="#{cc.attrs.rendered and !kontrolaUprawnien.kuIsHidden(cc.clientId)}">

<!-- 		<h:outputStylesheet name="cc-mdesign.css" library="css" /> -->


	<h:outputScript library="js" name="cc-md.js" target="head" />

		<h:outputStylesheet name="cc-md.css" library="css" />

		<div id="#{cc.clientId}"
			class="cc-md #{empty cc.attrs.icon ? '' : 'cc-md-icon'} #{cc.attrs.styleClass}"
			onclick="$( jq('#{cc.clientId}:inp') ).focus(); "
			style  ="position: relative;
			 		 padding: 5px 10px 5px 10px;
					#{cc.attrs.style};">

			<div
				
				style=" position:relative; 
		  				margin-bottom:0px;
		  				box-sizing:border-box; 
		  				min-width:#{cc.attrs.width};max-width:#{cc.attrs.width};
		  				margin-top:#{empty cc.attrs.label ? '10px' : '25px'};
		  			  "
		  			 >

				
				<cc:insertChildren/>
				

				<p:outputLabel value="#{cc.attrs.label}"
				 	styleClass="lbl"
					rendered="#{not empty cc.attrs.label}">
					
					<ui:fragment rendered="#{cc.attrs.required}">
						<ui:include src="/resources/components/cReqrIndctr.xhtml" />
					</ui:fragment>
				</p:outputLabel>


				<ui:fragment rendered="#{not empty cc.attrs.icon}">
					<i class="material-icons icn" style="position: absolute; left: 5px; top:-12px;">#{cc.attrs.icon}</i>
				</ui:fragment>

				<ui:include src="#{cc.attrs.renderKU and user.renderKU and kontrolaUprawnien.viewRenderKU ? '/resources/components/cKuBtnPart.xhtml' : ''}" />
				
				<p:tooltip for="#{cc.clientId}" showDelay="500" 
					value="#{cc.attrs.tooltip}" 
					rendered="#{not empty cc.attrs.tooltip}" 
					position="top" />
			</div>

		</div>


	</ui:fragment>
</cc:implementation>
</html>

