<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:i="http://xmlns.jcp.org/jsp/jstl/core">



<cc:interface componentType="cObiegCzynnosci">

	<cc:attribute name="kategoriaObiegu" />

	<cc:attribute name="idEncji" />

	<cc:attribute name="whereCzynnosci" type="java.lang.String" default="" />

	<cc:attribute name="reloadPage" />

	<cc:attribute name="label" type="java.lang.String" default="wykonaj czynność" />

	<cc:attribute name="defaultDateFormat" default="yyyy-MM-dd" />

	<cc:attribute name="height" type="java.lang.Integer" default="750" />

	<cc:attribute name="update" />

	<cc:attribute name="valueFormat" type="java.lang.String" default="" />

	<cc:attribute name="width" default="300" />
	
	<cc:attribute name="buttonDisabledWhenStop" type="java.lang.Boolean" default="true"/>
	
	<cc:attribute name="disabled" type="java.lang.Boolean" default="false"/>
	<cc:attribute name="disabledMessage" type="java.lang.String" default=""/>

<!--	<cc:attribute name="aktualnieU" type="com.comarch.egeria.pp.data.SqlDataSelectionsHandler" />-->
<!--	<cc:attribute name="aktualnieUFormat" type="java.lang.String" />-->

	<cc:attribute name="hibernateRefreshPoWykonaniuCzynnosc" />


	<cc:attribute name="style" 	 type="java.lang.String"/>
	<cc:attribute name="styleClass"  type="java.lang.String"/>


</cc:interface>

<cc:implementation>
	<h:panelGroup rendered="#{ 
					obiegBean.setIdEncji( cc.attrs.idEncji  ) eq ''
					and (
					     obiegBean.setKategoriaObiegu( cc.attrs.kategoriaObiegu  )  eq 'zzz' 
					     or obiegBean.setCzynnosciWhere( cc.attrs.whereCzynnosci  )  eq 'zzz'
					     or obiegBean.setHibernateEntities2Refresh(cc.attrs.hibernateRefreshPoWykonaniuCzynnosc) eq 'zzz'
					    )
			      }">
	</h:panelGroup>

<div id="#{cc.clientId}" kuid="btnObiegCzynnosci" style="display: inline-flex; vertical-align: middle; #{cc.attrs.style}" class="p0 pp-button #{cc.attrs.styleClass}">

	<h:panelGroup id="pnlObCz" styleClass="obieg" layout="block" style="position:relative;"  >

<!--#{obiegBean.przygotujDiagram()}-->
#{obiegBean.setcObieCzynnosciClientId(cc.clientId)}

			<p:tooltip id="ttpnlObCz" for="pnlObCz ttpnlObCz" escape="false" showDelay="750" hideDelay="500" position="right" kuid="btnObiegCzynnosci">
				<div
					style="font-size: 100%; background: white; padding: 4px; min-height: 40px; overflow: hidden; max-width: 450px;">
					<div class="ui-g ui-g-12 ui-g-nopad">

						<div style="position: absolute">

							<p:commandButton id="historiaObieguId" styleClass="p2"
								icon="history"
								update="@(.obghst)"
								onclick="showHistoriaObiegu()"
								title="Historia obiegu"
							/>

							<p:commandButton id="diagramObieguId" styleClass="p2"
								icon="poll" disabled="#{obiegBean.diagramUrl eq null}"
								process="@this" partialSubmit="true"
								onstart="window.open('#{obiegBean.diagramUrl}')"
								title="Diagram z historią obiegu"/>

						</div>
						
						<p:outputLabel value="Opis stanu obiegu:" styleClass="ui-g-12 ui-g-nopad pt5 center"/>
						
						<p:outputLabel style="color: #009DE0 !important; font-size:120%!important;"
							value="#{obiegBean.stanObieguOpis()}" styleClass="ui-g-12 ui-g-nopad pt5 center" />
							
						<p:outputLabel value="#{cc.attrs.disabledMessage}" style="color: #AA5555!important;" styleClass="ui-g-12 ui-g-nopad center" rendered="#{cc.attrs.disabled}"/>
					
						<p:outputLabel styleClass="ui-g-12 ui-g-nopad pt10 center"
							value="STAN: #{obiegBean.stanObiegu()} / KATEGORIA: #{cc.attrs.kategoriaObiegu}" />	

					</div>
					
				</div>
			</p:tooltip>	



			<div>

				<p:commandButton id="rozpocznijObieg"
								 kuid="btnObiegCzynnosci"
								 icon="loop"
								 value="rozpocznij obieg"
								 styleClass="p0"
								 rendered="#{ ( '' eq obiegBean.stanObiegu() ) and obiegBean.idEncji != null}"
								 disabled="#{cc.attrs.disabled}"
								 action="#{obiegBean.rozpocznijObieg}"
								 partialSubmit="true" process="@this"
								 onstart="hgon()" oncomplete="hgoff();"
				/>
				
				<!--			wykonaj czynność -->
				<p:commandButton id="btnWykonajCzynnosc" kuid="btnObiegCzynnosci"
								 value="#{cc.attrs.label}"
								 icon="touch_app"
								 style="min-width:145px"
								 styleClass="p0"
								 action="#{obiegBean.preDlgCzynnosci()}"
								 onstart="hgon();" oncomplete="hgoff();"
								 partialSubmit="true" process="@this"
								 disabled="#{((obiegBean.stanObiegu() eq 'STOP' ) and cc.attrs.buttonDisabledWhenStop and !user.admin) or cc.attrs.disabled}"
								 rendered="#{(obiegBean.stanObiegu() gt '' ) and obiegBean.idEncji != null}"
				/>


			</div>


		<p:remoteCommand
				name="updateObieg"
				kuid="btnObiegCzynnosci"
				action="#{obiegBean.reset()}"
				update="pnlObCz @(.dlgObieg) @(.obieg) @(form:not(.egrMenuForm)) #{cc.attrs.update} @(.diagramBtn)"
				onstart="hgon();"
				oncomplete="hgoff();"
		/>

	</h:panelGroup>
		
</div>
</cc:implementation>

</html>