<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface>

	<cc:attribute name="nazwaFormularza" required="true" />
	<cc:attribute name="rodzajEncji" required="true" />
	<cc:attribute name="encjaId" />
	<cc:attribute name="listaPol" />
	<cc:attribute name="update" />

	<cc:attribute name="style" 			type="java.lang.String" />
	<cc:attribute name="styleClass" 	type="java.lang.String" />

</cc:interface>


<cc:implementation>
<div style="#{cc.attrs.style}" class="#{cc.attrs.styleClass}">

	<h:panelGroup id="pgPolaDef" styleClass="pgPolaDef ui-g ui-g-nopad ui-g-12">
	#{cPoleDefiniowalne.pobierzPola(cc.attrs.rodzajEncji, cc.attrs.encjaId, cc.attrs.nazwaFormularza)}
	#{cPoleDefiniowalne.uzupelnijPola(cc.attrs.rodzajEncji, cc.attrs.encjaId, cc.attrs.nazwaFormularza)}

        <p:outputLabel for="@parent" value="Pola dodatkowe: " styleClass="ui-g-4 p0 fs18"/>

		<div class="ui-g-8 p0 right">

			<p:commandButton icon="add"
							 value="Dodaj pole dodatkowe do formularza"
							 title="Dodaje nową definicję pola dodatkowego dla tego formularza"
							 styleClass="granatowy p4 mr10"
							 actionListener="#{cPoleDefiniowalne.dodajPoleDef(cc.attrs.rodzajEncji, cc.attrs.encjaId, cc.attrs.nazwaFormularza)}"
							 oncomplete="PF('dlgNowePoleDef').show()" />

<!--			<p:commandButton icon="save"-->
<!--							 value="Zapisz pola dodatkowe"-->
<!--							 styleClass="granatowy p4 mr10"-->
<!--							 disabled="#{empty cc.attrs.encjaId}"-->
<!--							 actionListener="#{cPoleDefiniowalne.zapiszPolaDef()}"-->
<!--							 id="zapiszPolaDodId" />-->
		</div>


	    <p:separator  styleClass="ui-g-12 p0" />

        <ui:repeat var="oPoleDodatkowe"  value="#{cPoleDefiniowalne.wartoscEtykieta.entrySet().toArray()}">
            <div class="ui-g-12 p0">

                <c:cInputText styleClass="ui-g-11 p0 pl20 pr20"
                        label="#{oPoleDodatkowe.key}"
                        value="#{cPoleDefiniowalne.wartoscEtykieta[oPoleDodatkowe.key]}"/>

                <p:commandButton
                        icon="delete"
                        title="usuń pole dodatkowe '#{oPoleDodatkowe.key}' z formularza"
                        styleClass="ui-g-1 p0 pt15"
                        action="#{cPoleDefiniowalne.usunPoleDef(oPoleDodatkowe.key, cc.attrs.nazwaFormularza, cc.attrs.rodzajEncji)}"
                        update="@(.pgPolaDef)">
                      <p:confirm header="Usuwanie definicji pola dodatkowego '#{oPoleDodatkowe.key}' z fromularza: "
                             message="Uwaga - skasowanie definicji pola dodakowego z formularza spowoduje,
                             że usunięte zostaną także dane/wartości tego pola ze wszystkich zapisanych kiedykolwiek wcześniej encji. Czy chcesz kontynuować?"/>
                </p:commandButton>

            </div>
        </ui:repeat>

		<p:separator  styleClass="ui-g-12 p0 mt10" />


	</h:panelGroup>


	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="1000">
		<p:commandButton value="Tak" type="button" styleClass="ui-confirmdialog-yes" />
		<p:commandButton value="Nie" type="button" styleClass="ui-confirmdialog-no" />
	</p:confirmDialog>



</div>
</cc:implementation>
</html>