<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface>

	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>

</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}" class="p10 bg-fff d-flex-column #{cc.attrs.styleClass}" style="#{cc.attrs.style}">

		<p:outputLabel value="wersja: #{appBean.manifestProperties.version}" styleClass="fs20 txt-darkslateblue"/>

		<p:outputLabel value="Kompilacja: #{appBean.manifestProperties.buildTimestamp} [UTC]" styleClass="bt1 txt-black" />
		<p:outputLabel value="Manifest: #{appBean.manifestTs}" />
		<p:outputLabel value="Uruchomiono: #{appBecan.startupTime.toLocaleString()}" styleClass="bb1" />

		<h:panelGroup rendered="#{user.admin
									or user.hasPermission('PP_PROGRAMISTA')
									or user.hasPermission('PP_TESTER')
									or ''.concat(request).contains('localhost:')
									or ''.concat(request).contains('vm.bc.krakow.comarch')}">

			<p:outputLabel value="Build-Jdk: #{appBean.manifestProperties.get('Build-Jdk')}"/>
			<p:outputLabel value="PrimeFaces: #{appBean.primeFacesBuildVersion}"/>

			<p:outputLabel  styleClass="bt1"
						   value="#{appBean.bds.username} @ #{appBean.bds.url}"
			/>

			<p:outputLabel
					value="host: #{appBean.dbInstance.get('HOST_NAME')}; inst.: #{appBean.dbInstance.get('INSTANCE_NAME')}; ver: #{appBean.dbInstance.get('VERSION')}; started: #{appBean.dbInstance.get('STARTUP_TIME')}"
			/>

			<p:outputLabel styleClass="bb1"
					value="połączenia aktywne: #{appBean.bds.numActive}; nieaktywne: #{appBean.bds.numIdle}; maks. liczba w puli połączeń: #{appBean.bds.maxTotal} ( wyk.: #{100*(appBean.bds.numIdle + appBean.bds.numActive) / appBean.bds.maxTotal}% )"
			/>

			<p:outputLabel
					value="katalog PP: #{appBean.applicationContextFolder.toPath()}"
					styleClass=""
			/>
		</h:panelGroup>


	</div>
</cc:implementation>
</html>