<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">



<cc:interface>
	<cc:attribute name="prcId" />
	<cc:attribute name="style" type="java.lang.String" default="" />
	<cc:attribute name="styleClass" type="java.lang.String" default="" />
</cc:interface>

<cc:implementation>

<div id="#{cc.clientId}" style="display: block; #{cc.attrs.style}" class="#{cc.attrs.styleClass}">

<ui:param name="vprcrow" value="#{sqlBean.getLW('PPL_PRACOWNIK_SLUZBAP', [cc.attrs.prcId] ).first()}" />

		<p:panelGrid style="width:100%">
			
			<p:row>
				<p:column styleClass="left w150">
					<p:outputLabel value="Imię i nazwisko: " styleClass="pogrubiony-normal" />
				</p:column>
				<p:column styleClass="no-border">
					<p:inputText
						value="#{vprcrow.get('pp_prc_pracownik')}"
						readonly="true" styleClass="person_info" />
				</p:column>
			</p:row>
			<p:row>
				<p:column styleClass="left w150">
					<p:outputLabel value="Jednostka: " styleClass="pogrubiony-normal" />
				</p:column>
				<p:column styleClass="w400 no-border">
					<p:inputText
						value="#{vprcrow.get('pp_ob_nazwa')}"
						readonly="true" styleClass="person_info" />
				</p:column>
			</p:row>
			<p:row>
				<p:column styleClass="left w150">
					<p:outputLabel value="Stanowisko: " styleClass="pogrubiony-normal" />
				</p:column>
				<p:column styleClass="w400 no-border">
					<p:inputText
						value="#{vprcrow.get('STN_NAZWA')}"
						readonly="true" styleClass="person_info" />
				</p:column>
			</p:row>
			<p:row>
				<p:column styleClass="left w150">
					<p:outputLabel value="Data przyjęcia do pracy:  "
						styleClass="pogrubiony-normal" />
				</p:column>
				<p:column styleClass="w400 no-border">
					<p:inputText
						value="#{vprcrow.get('pp_data_przyj')}"
						readonly="true" converter="mycnv" styleClass="person_info" />
				</p:column>
			</p:row>



		</p:panelGrid>
		
	</div>
</cc:implementation>
</html>