<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">


<cc:interface>
    <cc:attribute name="prcId"/>

    <cc:attribute name="showPrcNumer" default="true" type="java.lang.Boolean"/>
    <cc:attribute name="showStanowisko" default="true" type="java.lang.Boolean"/>
    <cc:attribute name="showDepartament" default="true" type="java.lang.Boolean"/>

    <cc:attribute name="showWydzial" default="false" type="java.lang.Boolean"/>

    <cc:attribute name="showKsTelInfo" default="false" type="java.lang.Boolean"/>

    <cc:attribute name="showPesel" default="false" type="java.lang.Boolean"/>


    <cc:attribute name="labelWydzial" default="Wydział:" type="java.lang.String"/>
    <cc:attribute name="labelDepartament" default="Departament:" type="java.lang.String"/>

    <cc:attribute name="labelsColumnStyleClass" default="w90" type="java.lang.String"/>

    <!-- 	<cc:attribute name="required" type="java.lang.Boolean" default="false" /> -->
    <!-- 	<cc:attribute name="requiredMessage" type="java.lang.String"/> -->
    <cc:attribute name="style" 			type="java.lang.String"/>
    <cc:attribute name="styleClass" 	type="java.lang.String"/>

</cc:interface>

<cc:implementation>
    <div id="#{cc.clientId}" class="w370 cPracownikBasicInfo p10 #{cc.attrs.styleClass}" style="#{cc.attrs.style}">

    #{cPracownikBasicInfoBean.setPrcId (cc.attrs.prcId) }


        <ui:param name="lwprc" value="#{v.getLW('prc')}"/>

        <h:panelGroup styleClass="d-flex-column">

            <div class="d-flex a-i-center">
                <label for="kto" class="w120 #{cc.attrs.labelsColumnStyleClass}">Pracownik:</label>
                <p:inputText
                        styleClass="fs20"
                        id="kto"
                        value="#{lwprc.findAndFormat(cc.attrs.prcId, '%prc_imie$s %prc_nazwisko$s')}"
                        title="imię i nazwisko pracownika"
                        readonly="true"
                        required="#{cc.attrs.required}"
                />
            </div>

            <h:panelGroup layout="block" styleClass="d-flex a-i-center" rendered="#{cc.attrs.showPrcNumer}">
                <label for="numerPrc" class="w120 #{cc.attrs.labelsColumnStyleClass}">Numer:</label>
                <p:inputText
                        id="numerPrc"
                        value="#{lwprc.findAndFormat(cc.attrs.prcId, '%prc_numer$s')}"
                        title="Numer pracownika"
                        readonly="true"
                        required="#{cc.attrs.required}"
                />
            </h:panelGroup>


            <h:panelGroup layout="block" rendered="#{cc.attrs.showPesel}">
                <label for="pesel" class="#{cc.attrs.labelsColumnStyleClass}">Pesel:</label>
                <p:inputText
                        id="pesel"
                        value="#{lwprc.findAndFormat(cc.attrs.prcId, '%prc_pesel$s')}"
                        readonly="true"
                        required="#{cc.attrs.required}"
                        title="Numer PESEL"
                />
            </h:panelGroup>


            <h:panelGroup layout="block" styleClass="d-flex a-i-center" rendered="#{cc.attrs.showStanowisko}">
                <label for="stanowisko" class="w120 #{cc.attrs.labelsColumnStyleClass}">Stanowisko:</label>
                <p:inputText
                        id="stanowisko"
                        value="#{cPracownikBasicInfoBean.pracownik.get('STN_NAZWA')}"
                        readonly="true"
                        title="Nazwa stanowiska"
                />
            </h:panelGroup>

			<h:panelGroup layout="block" styleClass="d-flex a-i-center" rendered="#{cc.attrs.showWydzial}">
				<label for="wydzial" class="w120 #{cc.attrs.labelsColumnStyleClass}">#{cc.attrs.labelWydzial}:</label>
				<p:inputText
						id="wydzial" value="#{cPracownikBasicInfoBean.pracownik.get('OB_NAZWA')}"
						title="Nazwa wydziału / jedn. organizacyjna (Id wydziału: #{cPracownikBasicInfoBean.pracownik.get('OB_ID')})."
						readonly="true"
				/>
			</h:panelGroup>

            <h:panelGroup layout="block" styleClass="d-flex a-i-center" rendered="#{cc.attrs.showDepartament}">
                <label for="departament" class="w120 #{cc.attrs.labelsColumnStyleClass}">#{cc.attrs.labelDepartament}:</label>
                <p:inputText
                        id="departament"
                        value="#{cPracownikBasicInfoBean.pracownik.get('nazwa_dep')}"
                        readonly="true"
                        title="Nazwa departamentu (Id departamentu: #{cPracownikBasicInfoBean.pracownik.get('dep_id')})."
                />
            </h:panelGroup>


        </h:panelGroup>




		<h:panelGroup styleClass="d-flex a-i-center" rendered="#{cc.attrs.showKsTelInfo}">

			<i class="material-icons fs16 opacity-04 pr5">phone</i>
			<p:inputText
					id="telStacjonarny"
					styleClass="flex-1"
					value="#{cPracownikBasicInfoBean.get('KKON_STACJONARNY')}"
					readonly="true"
			/>

			<i class="material-icons fs16 opacity-04 pr5">phone_android</i>
			<p:inputText
					id="telKomorkowy"
					styleClass="flex-1"
					value="#{cPracownikBasicInfoBean.get('KKON_KOMORKOWY')}"
					readonly="true"
			/>

		</h:panelGroup>




		<h:panelGroup styleClass="d-flex a-i-center" rendered="#{cc.attrs.showKsTelInfo}">

			<i class="material-icons fs16 opacity-04 pr5">email</i>
			<p:inputText
					id="email"
					styleClass="flex-1"
					value="#{cPracownikBasicInfoBean.get('PP_EMAIL')}"
					readonly="true"
			/>

		</h:panelGroup>

    </div>
</cc:implementation>
</html>