<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	  xmlns:c="http://xmlns.jcp.org/jsf/composite">



<c:interface>
	<c:attribute name="prcId" />
	
	<c:attribute name="showPrcNumer" default="true" type="java.lang.Boolean" />
	<c:attribute name="showStanowisko" default="true" type="java.lang.Boolean" />
	<c:attribute name="showDepartament" default="true" type="java.lang.Boolean" />
	
	<c:attribute name="showWydzial" default="false" type="java.lang.Boolean" />
		
	<c:attribute name="showKsTelInfo" default="false" type="java.lang.Boolean" />

	<c:attribute name="showPesel" default="false" type="java.lang.Boolean" />

	<c:attribute name="showAdres" default="true" type="java.lang.Boolean" />
	
	<c:attribute name="labelWydzial" default="Wydział:" type="java.lang.String" />

	<c:attribute name="labelPrcNumer" default="Numer:" type="java.lang.String" />

	<c:attribute name="labelDepartament" default="Departament:" type="java.lang.String" />
	
	<c:attribute name="labelsColumnStyleClass" default="w90" type="java.lang.String" />

	<c:attribute name="styleClass" type="java.lang.String" />

	<c:attribute name="style" type="java.lang.String" />
	
</c:interface>

<c:implementation>

#{cPracownikBasicInfoBean.setPrcId (cc.attrs.prcId) }


 <div id="#{cc.clientId}" class="cPracownikBasicInfo ui-g #{cc.attrs.styleClass}" style="#{cc.attrs.style}">

 <ui:param name="lwprc" value="#{v.getLW('prc')}" />

	 <h:panelGroup styleClass="ui-g-12 p0">
		 <p:outputLabel for="kto" value="Pracownik:" styleClass="ui-g-3"/>
		 <p:inputText
				 styleClass="person ui-g-6"
				 id="kto"
				 title="imię i nazwisko pracownika"
				 value="#{lwprc.findAndFormat(cc.attrs.prcId, '%prc_imie$s %prc_nazwisko$s')}" readonly="true"
				 required="#{cc.attrs.required}"
		 />


		 <p:outputLabel for="numerPrc" value="#{cc.attrs.labelPrcNumer}" styleClass="ui-g-1"  rendered="#{cc.attrs.showPrcNumer}"/>
		 <p:inputText id="numerPrc"
					  rendered="#{cc.attrs.showPrcNumer}"
					  styleClass="ui-g-2 right"
					  title="Numer pracownika"
					  value="#{lwprc.findAndFormat(cc.attrs.prcId, '%prc_numer$s')}"
					  readonly="true"
					  required="#{cc.attrs.required}"
		 />
	 </h:panelGroup>

	 <h:panelGroup styleClass="ui-g-12 p0" rendered="#{cc.attrs.showPesel}">
		 <p:outputLabel for="pesel" value="PESEL:" styleClass="ui-g-3"/>
		 <p:inputText id="pesel"
					  styleClass="ui-g-9"
					  title="Numer PESEL"
					  value="#{lwprc.findAndFormat(cc.attrs.prcId, '%prc_pesel$s')}"
					  readonly="true"
					  required="#{cc.attrs.required}"
		 />
	 </h:panelGroup>


	 <h:panelGroup styleClass="ui-g-12 p0" rendered="#{cc.attrs.showStanowisko}">
		 <p:outputLabel for="stanowisko" value="Stanowisko:" styleClass="ui-g-3"/>
		 <p:inputText id="stanowisko"
					  styleClass="ui-g-9"
					  value="#{cPracownikBasicInfoBean.pracownik.get('STN_NAZWA')}"
					  title="Nazwa stanowiska"
					  readonly="true"
		 />
	 </h:panelGroup>


	 <h:panelGroup styleClass="ui-g-12 p0" rendered="#{cc.attrs.showWydzial}">
		 <p:outputLabel for="wydzial" value="#{cc.attrs.labelWydzial}" styleClass="ui-g-3"/>
		 <p:inputText id="wydzial"
					  styleClass="ui-g-9"
					  value="#{cPracownikBasicInfoBean.pracownik.get('OB_NAZWA')}"
					  title="Nazwa wydziału / jedn. organizacyjna (Id wydziału: #{cPracownikBasicInfoBean.pracownik.get('OB_ID')})."
					  readonly="true"
		 />
	 </h:panelGroup>


	 <h:panelGroup styleClass="ui-g-12 p0" rendered="#{cc.attrs.showDepartament}">
		 <p:outputLabel for="departament" value="#{cc.attrs.labelDepartament}" styleClass="ui-g-3"/>
		 <p:inputText id="departament"
					  styleClass="ui-g-9"
					  value="#{cPracownikBasicInfoBean.pracownik.get('nazwa_dep')}"
					  title="Nazwa departamentu (Id departamentu: #{cPracownikBasicInfoBean.pracownik.get('dep_id')})."
					  readonly="true"
		 />
	 </h:panelGroup>






	 <h:panelGroup styleClass="ui-g-12 p0 pt20 " rendered="#{cc.attrs.showKsTelInfo}">
		 <div class="ui-g-3 p0">
			 <i class="material-icons ui-g-2 fs18 p0 pt3 pr5 right lbl">phone</i>
			 <p:inputText id="telStacjonarny"
						  title="telefon stacjonarny"
						  styleClass="ui-g-10"
						  value=" #{cPracownikBasicInfoBean.get('KKON_STACJONARNY')}"
						  readonly="true"
			 />
		 </div>

		 <div class="ui-g-3 p0">
			 <i class="material-icons ui-g-2 fs18 p0 pt3 pr5 right lbl">phone_android</i>
			 <p:inputText id="telKomorkowy"
						  styleClass="ui-g-10 pr20"
						  title="telefon komórkowy"
						  value="#{cPracownikBasicInfoBean.get('KKON_KOMORKOWY')}"
						  readonly="true"
			 />
		 </div>

		 <div class="ui-g-6 p0">
			 <i class="material-icons ui-g-1 fs18 p0 pt3 pr5 right lbl">email</i>
			 <p:inputText id="email"
						  styleClass="ui-g-11"
						  title="adres email"
						  value="#{cPracownikBasicInfoBean.get('PP_EMAIL')}"
						  readonly="true"
			 />
		 </div>
	 </h:panelGroup>




	 <h:panelGroup styleClass="ui-g-12 p0 pt20 " rendered="#{cc.attrs.showAdres}">
		 <cc:cInputText
				 readonly="true"
				 styleClass="ui-g-12 pr0"
				 label="Adres:"
				 value="#{v.getLW('PPL_ADRESY_PRC', cc.attrs.prcId, 'zameldowania').firstRowFormat('%adres$s')}"
		 />
	 </h:panelGroup>

	 
	 
</div>
</c:implementation>
</html>