<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:i="http://xmlns.jcp.org/jsp/jstl/core">



<cc:interface>
	<cc:attribute name="style" 			type="java.lang.String" default="position:fixed; left:0; bottom:0; background:yellow!important; opacity:0.6; width:300px;"/>
	<cc:attribute name="styleClass" 	type="java.lang.String" default="granatowy"/>
<!--	<cc:attribute name="update" 		default="@form"/>-->
</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}" style="#{cc.attrs.style}" class="#{cc.attrs.styleClass}">
		<p:commandButton
			icon="refresh"
			value="#{testBean.now()}"
			style="#{cc.attrs.style}"
			styleClass="#{cc.attrs.styleClass}"
			update="@form"
			onstart="hgon()" oncomplete="hgoff()"
		/>
	</div>
</cc:implementation>

</html>