<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface>

	<cc:attribute name="height" default="700px" />

	<cc:attribute name="rowSelectAction"
		method-signature="java.lang.String action()"
		default="#{cLookupTableBean.show}" />

	<cc:attribute name="whereStatusyTerminow" default=""
		shortDescription="lista kodów jako tekst wykorzystywany w kl. where - np. 'PLAN;ZATW'  - lista kodów statusów zapisanych w kol. PPT_SZK_SZKOLENIA.SZK_STATUS; potrzebne aby np. w planie szkoleniowym nie pozwalac wskazywac terminow juz zrealizowanych" />

	<cc:attribute name="onDialog" default="false" />

</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}" style="height: 100%;">

		<p:accordionPanel id="accTerm" widgetVar="accTerm" dynamic="false"
						  styleClass="d-flex-1-column" style="height: inherit;">

			<p:tab id="tbSzkol" title="Wybierz szkolenie" titleStyleClass="#{cc.attrs.onDialog ? 'sibling-flex' : ''}">

				<h:panelGroup id="pnlSzkol" styleClass="#{cc.attrs.onDialog ? '' : 'd-flex-1'}">

					<c:cLookupTable
						datasource="#{rejestrSzkolenBean.getLW('PPL_SZK_OFERTY_SZKOLEN',user.dbLogin)}"
						value="#{rejestrSzkolenBean.selectedOfertaId}"
						height="#{cc.attrs.height}" onRowSelectStart="showHourGlass()"
						onRowSelected=" PF('accTerm').select(1); hideHourGlass(); "
						insertChildrenFirst="false"
						update="#{cc.clientId}:accTerm:pnlTerm #{cc.clientId}:accTerm:lblTabTerminy"
						btnsAddDelEdit="true"
						btnAddActionListener="#{rejestrSzkolenBean.newOferta()}"
						btnAddOncomplete="PF('dlgOfertaSzkolenSzczeg').show();"
						btnAddUpdate="dlgOfertaSzkolenSzczeg @form"
						btnAddTooltipText="Nowa oferta szkoleniowa ..."
						btnDeleteActionListener="#{rejestrSzkolenBean.usunOferte(row)}"
						btnDeleteUpdate="@form"
						btnDeleteConfirmMessage="Czy na pewno chcesz trwale usunąć ofertę szkoleniową?"
						btnEditActionListener="#{rejestrSzkolenBean.setSelectedOfertaId(row.get(0))}"
						btnEditOncomplete="PF('dlgOfertaSzkolenSzczeg').show();"
						btnEditUpdate="dlgOfertaSzkolenSzczeg" />

				</h:panelGroup>

			</p:tab>

			<p:tab id="tabTerm" title="Terminy szkoleń" titleStyleClass="#{cc.attrs.onDialog ? 'sibling-flex' : ''}">

				<f:facet name="title">
					<h:panelGroup id="lblTabTerminy" styleClass="acc-terminy">
						Terminy szkoleń #{rejestrSzkolenBean.oferta.ofNazwa gt '' ? ' ('.concat(rejestrSzkolenBean.oferta.ofNazwa).concat(')') : '' }
					</h:panelGroup>
				</f:facet>


				<h:panelGroup id="pnlTerm" styleClass="acc-terminy #{cc.attrs.onDialog ? '' : 'd-flex-1'}">

					<c:cLookupTable
						datasource="#{rejestrSzkolenBean.getLW('PPL_SZK_TERMINY_SZKOLENIA', rejestrSzkolenBean.oferta.ofId != null ? rejestrSzkolenBean.oferta.ofId : 0, cc.attrs.whereStatusyTerminow ) }"
						height="#{cc.attrs.height}"
						rowSelectAction="#{cc.attrs.rowSelectAction}"
						insertChildrenFirst="false" btnsAddDelEdit="true"
						btnAddAction="#{terminySzkolenBean.wczytajTerminSzkoleniaDR(null)}"
						btnAddOncomplete="PF('rejestrSzkolenTermin').show();"
						btnAddUpdate=":dlgFormTerminFooter"
						btnAddTooltipText="Nowy termin szkolenia ..."
						btnDeleteAction="#{terminySzkolenBean.usun(row)}"
						btnDeleteUpdate="@(.pnlTerm) @(.pgTerminySzkol)"
						btnDeleteConfirmMessage="Czy na pewno chcesz trwale usunąć termin szkolenia?"
						btnDeleteTooltipText="Usuń termin szkolenia."
						btnEditAction="#{terminySzkolenBean.wczytajTerminSzkolenia(row)}"
						btnEditOncomplete="PF('rejestrSzkolenTermin').show();"
						btnEditUpdate="@(.pgTerminySzkol)"
						btnEditTooltipText="Szczegóły terminu szkolenia..." />

				</h:panelGroup>

			</p:tab>

		</p:accordionPanel>

	</div>

	<h:outputStylesheet>
			.ui-state-active.sibling-flex + .ui-accordion-content {
				flex: 1;
			}
	</h:outputStylesheet>
</cc:implementation>
</html>