<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	  xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface componentType="cRepeatTbl">

	<cc:attribute name="value" type="java.util.Collection" />
	<cc:attribute name="var" />

	<cc:attribute name="readonly" 		type="java.lang.Boolean" default="false" />
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>
	<cc:facet name="headerBtnsHoover"/>
</cc:interface>

<cc:implementation>
	<f:event type="postAddToView" listener="#{cc.init}" />
	<div id="#{cc.clientId}" class="ov-hidden p1 d-flex-column #{cc.attrs.styleClass}" style="width: max-content; position: relative; #{cc.attrs.style}">

		<div class="bb1" style="z-index: 5; margin-bottom: -28px;">
			<div class="btb1 h1"></div>
			<!-- height: ok 30px - trzeba przeslonic hoover naglowkom (labelki sa czescia cc)-->
			<div class="h30 ui-r-hoover">
				<div class="ui-visibility-hoover d-flex a-i-center h30 w100p" style="background: rgba(230,240,250,0.90)">
<!--					<cc:insertFacet name="headerBtnsHoover"/>-->
					<cc:renderFacet name="headerBtnsHoover"/>
				</div>
			</div>
			<div class="btb1 h1"></div>
		</div>

		<p:outputLabel value="BRAK DANYCH" rendered="#{empty cc.attrs.value}" styleClass="fs30 p30 pb0 opacity-06"/>

		<div id="#{cc.clientId}:tblbody" class="ov-auto flex-1" style="display: inline-block"
			 onscroll="{
			if (document.getElementById('#{cc.clientId}:tblbody').scrollTop>0) {
				document.getElementById('#{cc.clientId}:0:r').classList.add('mh30');
			} else {
				document.getElementById('#{cc.clientId}:0:r').classList.remove('mh30');
			}
		}">

<!--			binding="#{cc.repeat}"  -->
			<ui:repeat id="rptr" value="#{cc.attrs.value}" varStatus="stts" var="att_var_jest_ustawiany_w_kodzie_CRepeatTbl">
				<div id="#{cc.clientId}:#{stts.index}:r"
					 class="d-block #{stts.first ? 'pp-rpttbl-r-lbl-hdr' : 'pp-rpttbl-r-lbl-hide'}">
					<div class="pp-rpttbl-r #{stts.first ? 'pp-rpttbl-r-hdr' : ''} d-flex a-i-center ui-r-hoover m1 p1">
						<cc:insertChildren/>
					</div>
				</div>
			</ui:repeat>


		</div>

		<div class="btb1 h1 "></div>
	</div>
</cc:implementation>
</html>