<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface>
	<cc:attribute name="label" />
	<cc:attribute name="value" />
	<cc:attribute name="width" />
	<cc:attribute name="minDate" />
	<cc:attribute name="readonly" default="false" type="java.lang.Boolean" />
	<cc:attribute name="placeholder"/>
</cc:interface>

<cc:implementation>
<div id="#{cc.clientId}">
	<p:row>
		<c:cColInputCalendar label="#{cc.attrs.label}" value="#{cc.attrs.value}"  width="#{cc.attrs.width}" readonly="#{cc.attrs.readonly}" placeholder="#{cc.attrs.placeholder}" minDate="#{cc.attrs.minDate}"/>
		<cc:insertChildren/>
	</p:row>
</div>
</cc:implementation>
</html>