<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface>
	<cc:attribute name="label" />
	<cc:attribute name="value" />
	<cc:attribute name="numberpattern" default="" />
	<cc:attribute name="width" />
	<cc:attribute name="maxlength" default="2000" />
	<cc:attribute name="readonly" default="false" type="java.lang.Boolean" />
</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}">
		<p:column colspan="2">

			<p:row>
				<p:outputLabel value="#{cc.attrs.label}" />
			</p:row>
			<p:row>
				<p:column>
					<p:inputTextarea id="text" value="#{cc.attrs.value}"
						readonly="#{cc.attrs.readonly}" maxlength="#{cc.attrs.maxlength}"
						style="min-width:#{cc.attrs.width}px; max-width:#{cc.attrs.width}px; width:#{cc.attrs.width}px; ">
						<f:convertNumber pattern="#{cc.attrs.numberpattern}"
							locale="pl_PL" />
						<p:ajax event="change" />
					</p:inputTextarea>
				</p:column>
				<cc:insertChildren />
			</p:row>
		</p:column>
	</div>
</cc:implementation>
</html>