<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface>
	<cc:attribute name="label" />
	<cc:attribute name="value" />
	<cc:attribute name="numberpattern" default="" />
	<cc:attribute name="width" />
	<cc:attribute name="styleClass" />
	<cc:attribute name="readonly" default="false" type="java.lang.Boolean" />
</cc:interface>

<cc:implementation>
<div id="#{cc.clientId}">
	<p:row>
		<p:column>
			<p:outputLabel value="#{cc.attrs.label}" styleClass="pogrubiony-normal"/>
		</p:column>
		<p:column>
			<p:inputText id="text" value="#{cc.attrs.value}" readonly="#{cc.attrs.readonly}"
			style="min-width:#{cc.attrs.width}px; max-width:#{cc.attrs.width}px; width:#{cc.attrs.width}px; " styleClass="#{cc.attrs.styleClass}">
				<f:convertNumber pattern="#{cc.attrs.numberpattern}" locale="pl_PL"/>
			</p:inputText>
		</p:column>
		<cc:insertChildren/>
	</p:row>
</div>
</cc:implementation>
</html>