<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">


<!--  -->

<cc:interface>
	<cc:attribute name="label" type="java.lang.String" default="" />
	<cc:attribute name="value" type="java.lang.String" />
	<cc:attribute name="styleClass" type="java.lang.String" />

	<cc:attribute name="update" default=""/>
	<cc:attribute name="disabled" default="false" type="java.lang.Boolean" />
	<cc:attribute name="partialSubmit" default="false" type="java.lang.Boolean" />
	<cc:attribute name="onstart" />
	<cc:attribute name="oncomplete" />
	
	<cc:attribute name="process" default="@this"/>
	
	<cc:attribute name="valueChangeListener"
		method-signature="java.lang.Object valueChange(javax.faces.event.ValueChangeEvent)"
		required="false" default="null" />
	
	<cc:clientBehavior name="change" targets="chkbx" event="change" />
	
	<cc:attribute name="styleCheckBox" default="vertical-align: middle;"></cc:attribute>
	<cc:attribute name="style" default=""></cc:attribute>
	<cc:attribute name="styleClass" default=""></cc:attribute>
	<cc:attribute name="title" default=""></cc:attribute>
	
	<cc:attribute name="renderKU" type="java.lang.Boolean" default="true"
		shortDescription="Czy na danej kontrolce ma być możliwość ustawienia uprawnień przez administratora" />
		
</cc:interface>

<cc:implementation>

<div id="#{cc.clientId}" class="#{cc.attrs.styleClass}" style="#{cc.attrs.style}" >
	<div class="d-flex a-i-center">

		<p:selectBooleanCheckbox
				id="chkbx"
				value="#{cSelectBooleanCheckboxTN.value}"
				style="#{cc.attrs.styleCheckBox};"
				styleClass="mb-4i"
				disabled="#{cc.attrs.disabled}"
				title="#{cc.attrs.title}"
				onchange="#{cc.attrs.onstart}"
				valueChangeListener="#{cc.attrs.valueChangeListener}"
		>
			<p:ajax event="change"
					update="#{cc.attrs.update}"
					partialSubmit="#{cc.attrs.partialSubmit}" process="#{cc.attrs.process}"
					onstart="#{cc.attrs.onstart}" oncomplete="#{cc.attrs.oncomplete}"
			/>

			<cc:insertChildren/>

		</p:selectBooleanCheckbox>

		<label id="#{cc.clientId}:lbl"
			   for="#{cc.clientId}"
			   class="ui-outputlabel ui-widget pp-lbl pp-chk-lbl p0 pl10"
		>#{cc.attrs.label}</label>

		<ui:include src="#{cc.attrs.renderKU and user.renderKU and kontrolaUprawnien.viewRenderKU ? '/resources/components/cKuBtnPart.xhtml' : ''}" />

	</div>
</div>

</cc:implementation>

</html>