<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface>
	<cc:attribute name="value" />
	<cc:attribute name="width" />
	<cc:attribute name="id" default="selectOneId" />
	<cc:attribute name="emptyLabel" default="Wybierz" />
	<cc:attribute name="datasource"
		type="com.comarch.egeria.pp.data.SqlDataSelectionsHandler"
		required="true" />
	<cc:attribute name="labelStyleClass" />
	<cc:attribute name="disabled"  default="false" type="java.lang.Boolean" />

	<!-- T - slownik, N - zapytanie -->
	<cc:attribute name="czySlownik" default="T" />

	<!-- nazwy kolumn oddzielone przecinkami - id, co wyswietlac -->
	<cc:attribute name="columns" />

</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}">

		#{cSelectOneBean.put(cc.clientId, cc.attrs.datasource)}
		#{cSelectOneBean.czySlownik(cc.clientId, cc.attrs.czySlownik)}
		#{cSelectOneBean.wypelnijMape(cc.clientId, cc.attrs.datasource,
		cc.attrs.columns)}
		<p:column>
			<p:selectOneMenu id="#{cc.clientId}_som" value="#{cc.attrs.value}"
				style="width: 100% !important" disabled="#{cc.attrs.disabled}">
				<f:selectItem itemLabel="#{cc.attrs.emptyLabel}" />
				<f:selectItems value="#{cSelectOneBean.getSlownik(cc.clientId)}" />
				<f:ajax event="change" />
			</p:selectOneMenu>
		</p:column>

	</div>
</cc:implementation>
</html>