<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">



<cc:interface>
	

	<cc:attribute name="label"/>
	<cc:attribute name="value"/>
	<cc:attribute name="selectItemsValue"/>
	<cc:attribute name="selectItemsVar"/>
	<cc:attribute name="update"/>
	<cc:attribute name="onstart"/>
	<cc:attribute name="oncomplete"/>
	
</cc:interface>

<cc:implementation>
<div id="#{cc.clientId}" style="display:inline-block; min-height: 27px">
<!-- max-width:#{cc.attrs.width}#{cc.attrs.width.contains('%')?'':'px'};min-width:#{cc.attrs.width}#{cc.attrs.width.contains('%')?'':'px'};width:#{cc.attrs.width}#{cc.attrs.width.contains('%')?'':'px'}; -->


	<div style="position:relative; display:inline-block; max-height:1px;">
		<p:outputLabel value="#{cc.attrs.label}" style=" position:absolute;top:-4px; right:0"/>
		<p:outputLabel value="#{cc.attrs.label}" style="visibility:hidden"/>
	</div>	

	<div style="display:inline-block; margin-left:5px">

		<p:selectOneMenu id="fltrRok"
			value="#{cc.attrs.value}">
			<f:selectItems value="#{cc.attrs.selectItemsValue}" var="#{cc.attrs.selectItemsVar}" />
			<p:ajax 
				event="change"
				update="#{cc.attrs.update}" delay="500" onstart="#{cc.attrs.onstart}" oncomplete="#{cc.attrs.oncomplete}" />
		</p:selectOneMenu>

	</div>

						
</div>
</cc:implementation>

</html>









