<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:i="http://java.sun.com/jsp/jstl/core"
	xmlns:egr="http://egr.egeria.comarch.com/facelets"
	>

<cc:interface>
	

	<cc:attribute name="value" />
	<cc:attribute name="label" />
	
	<cc:attribute name="width"/>
	<cc:attribute name="update" />

	<cc:attribute name="onchange" />	
	
	<cc:attribute name="emptyLabel" default="Wybierz" />
	<cc:attribute name="labelYes" default="Tak" />
	<cc:attribute name="labelNo" default="Nie" />
	<cc:attribute name="styleClass" />
	<cc:attribute name="labelStyle" />
	<cc:attribute name="readonly"  />
	<cc:attribute name="disabled"   />
	
	<cc:attribute name="renderKU" type="java.lang.Boolean" default="true"
		shortDescription="Czy na danej kontrolce ma być możliwość ustawienia uprawnień przez administratora" />

	
	<cc:attribute name="required"  default="false" type="java.lang.Boolean"/>
	<cc:attribute name="requiredJ"  default="false" type="java.lang.Boolean"/>
	<cc:attribute name="requiredMessage" />
	
<!-- 	<cc:attribute name="partialSubmit" /> -->
	<cc:attribute name="process" />
	<cc:attribute name="nmt"  default="false" type="java.lang.Boolean"/>
	
	<cc:clientBehavior name="change" targets="cSOM"></cc:clientBehavior>
	<cc:attribute name="valueChangeListener" method-signature="java.lang.Object valueChange(javax.faces.event.ValueChangeEvent)" required="false" default="null" />
</cc:interface>

<cc:implementation>
	<ui:fragment rendered="#{cc.attrs.rendered and !kontrolaUprawnien.kuIsHidden(cc.clientId)}">
		<h:outputStylesheet name="cc-mdesign.css" library="css" />
		
	<div id="#{cc.clientId}" 
			class="cc-mdesign  #{ cc.attrs.styleClass }" 
			
			style="position:relative; width: #{cc.attrs.width}px"
		>					
		
		
		<div
			class="#{ (cc.attrs.readonly or cc.attrs.disabled) ? 'select100-label-disabled' : 'select100-label' } }" 
			onclick=" 
				
					if (!#{cc.attrs.readonly or cc.attrs.disabled or kontrolaUprawnien.kuIsReadOnly(cc.clientId)}) {
					$( jq('#{cc.clientId}:cSOM_input') ).focus();
					
					  PF(wid('#{cc.clientId}:cSOM')).show(); 
						}
					"	  
			style=" position:relative; 
	  				margin-bottom:0px;
	  				box-sizing:border-box; 
	  				
	  				padding: 0 32px 0 10px;
	  				#{cc.attrs.icon != null ? 'margin-left:25px;' : ''}
	  				#{cc.attrs.nmt eq true ? 'margin-top:0px;' : not empty cc.attrs.label ? 'margin-top: 25px;': 'margin-top: 10px;'}
	  			  "
	  		>
		
				<p:selectOneMenu id="cSOM" value="#{cc.attrs.value}" style="width: 100% !important; padding:1;"  
					onchange="#{cc.attrs.onchange}"
				 	filterMatchMode="contains" filter="true" disabled="#{cc.attrs.disabled}"
					onfocus=" triggerMDesignEffects($(this).parent())"
					readonly="#{cc.attrs.readonly}"
					required="#{cc.attrs.required}"
					valueChangeListener="#{cc.attrs.valueChangeListener}"
					requiredMessage="#{ cc.attrs.requiredMessage == null 
									? 'Pole \''.concat( cc.attrs.label).concat('\' jest wymagane.') 
									: cc.attrs.requiredMessage} "
				>
	
					<f:selectItem itemLabel="#{cc.attrs.emptyLabel}" itemDisabled="true"/>
					<f:selectItem itemLabel="#{cc.attrs.labelYes}" itemValue="T" />
					<f:selectItem itemLabel="#{cc.attrs.labelNo}" itemValue="N" />
					<p:ajax event="change" update="#{cc.attrs.update}"/>
	
					<cc:insertChildren/>
						
				</p:selectOneMenu> 
				

				
				<span class="bar"></span>
	
				<p:outputLabel value = "#{cc.attrs.label}" rendered="#{not empty cc.attrs.label}"
					style="#{cc.attrs.labelStyle}">
					<ui:fragment rendered="#{cc.attrs.required or cc.attrs.requiredJ}">
						<ui:include src="/resources/components/cReqrIndctr.xhtml" />
					</ui:fragment>
				</p:outputLabel>
					
	
				<ui:fragment rendered="#{cc.attrs.icon != null}">
					<ui:include src="/resources/components/cIcon.xhtml" />
				</ui:fragment>
									
			</div>

		<ui:include src="#{cc.attrs.renderKU and user.renderKU and kontrolaUprawnien.viewRenderKU ? '/resources/components/cKuBtnPart.xhtml' : ''}" />

		</div>
		
		
		
		
		
	</ui:fragment>
</cc:implementation>

</html>

