<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">



<cc:interface>
	
	<cc:attribute name="datasource" type="com.comarch.egeria.pp.data.SqlDataSelectionsHandler" required="true" />
	<cc:attribute name="textFormat"  default="%2$s" />
	<cc:attribute name="valueFormat" default="%1$s" />
	<cc:attribute name="value" />
	
	<cc:attribute name="label" type="java.lang.String"/>
	
<!-- 	<cc:attribute name="width" default="200"  /> -->
	<cc:attribute name="update" />
	<cc:attribute name="emptyLabel" default="Wybierz" />
	
	<cc:attribute name="disabled"  default="false" type="java.lang.Boolean" />
	<cc:attribute name="readonly" 		type="java.lang.Boolean" default="false" />
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>
		
	<cc:attribute name="required"  default="false" type="java.lang.Boolean"/>
	<cc:attribute name="valueChangeListener" method-signature="java.lang.Object valueChange(javax.faces.event.ValueChangeEvent)" required="false" default="null" />
	
	
	<cc:attribute name="onstart"/>
	<cc:attribute name="oncomplete"/>

</cc:interface>

<cc:implementation>
<div id="#{cc.clientId}" class="#{cc.attrs.styleClass}" style="#{cc.attrs.style}">

		<ui:include src="#{empty cc.attrs.label ? '' : 'cLabelMDesignPart.xhtml'}"/>
<!--<style type="text/css">	.csom > label{ padding:0px!important; padding-bottom:0px!important; } </style>-->

	<p:selectOneMenu
		id="#{cc.attrs.id}" 
		value="#{cc.attrs.value}" 
		styleClass="csom"
		style="width: calc(100%) !important"
	 	filterMatchMode="contains"
	 	filter="true" 
	 	disabled="#{cc.attrs.disabled  or cc.attrs.readonly}" 
	 	valueChangeListener="#{cc.attrs.valueChangeListener}"
	 	onfocus="this.parentElement.parentElement.parentElement.classList.add('div-cSOM-focus'); $('.ui-selectonemenu-filter').select()" 
		onblur="this.parentElement.parentElement.parentElement.classList.remove('div-cSOM-focus');"
		required="#{cc.attrs.required}">
		<f:selectItem itemLabel="#{cc.attrs.emptyLabel}" />
		<f:selectItems value="#{cc.attrs.datasource.genMap(cc.attrs.textFormat, cc.attrs.valueFormat)}" />
		<p:ajax event="change" update="#{cc.attrs.update}" onstart="#{cc.attrs.onstart}" oncomplete="#{cc.attrs.oncomplete}"/>
		<cc:insertChildren/>
	</p:selectOneMenu>
	
	
</div>
</cc:implementation>

</html>









