<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jsp/jstl/core">



<cc:interface>


	<cc:attribute name="virtualScroll" default="true" type="java.lang.Boolean" />

	<cc:attribute name="scrollHeight" default="100%" />
	<cc:attribute name="scrollWidth"  default="100%" />
	
	
	<cc:attribute name="datasource" required="true" />
	<cc:attribute name="sortBy" />
	<cc:attribute name="rowKey"	     />
	
	<cc:attribute name="colNames" />
	<cc:attribute name="colHeaders" />
	<cc:attribute name="colWidths"/>
	
	<cc:attribute name="defaultDateFormat" default="yyyy-MM-dd" />
	
	<cc:attribute name="generateColumns" default="true" type="java.lang.Boolean"/>
	 
<!-- 	<cc:attribute name="showSearchField" default="true" type="java.lang.Boolean"/> -->
	
	<cc:attribute name="height" default="100%" />
	
	<!-- akcja kiedy kliknieto lub wiersz lub uzyto Enter'a - w tej wersji nie podajemy paramtru, bo widok głowny wie jakie SqlDataSelectionsHandler przekazał do datasource -->
	<!-- uwaga - default jest obowiazkowy - dla ajax listener= jakas akacja musi istniec dlatego w cLookupTableBean.show stworzono pustą metodę -->
	<cc:attribute name="rowSelectAction" method-signature="java.lang.String action()" default="#{cLookupTableBean.show}" />
	
	<cc:attribute name="onRowSelected"  />
	
	<cc:attribute name="update" />
	
	<cc:attribute name="value" />
	<cc:attribute name="valueFormat" type="java.lang.String" default="" />

	<cc:attribute name="smallHeaders" default="false" type="java.lang.Boolean" />
	<cc:attribute name="hideHeaders"  default="false" type="java.lang.Boolean" />

	<cc:attribute name="showExportMenu"  default="false" type="java.lang.Boolean" />
	
	<cc:attribute name="styleClass"  type="java.lang.String" />
	
	<cc:attribute name="varName" default="o" type="java.lang.String" />
	
	<cc:attribute name="fillwidthcolumn"  default="true" type="java.lang.Boolean" shortDescription="Sztuczna pusta kolumna uzupelniajaca generowane do pelnej szerokosci kontenera tabeli. Nieistotne dla multiselect i radioselect." />

</cc:interface>





<cc:implementation>

<div id="#{cc.clientId}" style="position:relative; min-height: #{cc.attrs.height}; max-height:#{cc.attrs.height};" class="#{cc.attrs.styleClass}">


<h:outputScript name="js/cLookupTable.js" target="head" />
<h:outputStylesheet name="cLookupTable.css" library="css"/> 


	<div id="#{cc.clientId}:dvTb" tabindex="1"  
			class="clkptb ctbl ctl-datatable-pane"
			style="position: absolute; 
			top:#{cc.attrs.showSearchField?'30px':'0px'}; 
			left:0px!important;
			right:0px!important; 
			bottom:0px!important;" >		
	


			<p:dataTable id="dane" 
				value="#{cc.attrs.datasource}" 
				rowIndexVar="oId"  

				scrollable="true"
				scrollRows="25" 
				
				virtualScroll="#{cc.attrs.virtualScroll}"
				liveScroll="#{not cc.attrs.virtualScroll}"
				
				rows="#{cc.attrs.virtualScroll?40:0}"
				emptyMessage="#{dic.LBL10002_brak_rekordow}"   
				nullSortOrder="-1"
				
				  
				paginator="false" 
				scrollHeight="#{cc.attrs.scrollHeight}"
				scrollWidth="#{cc.attrs.scrollWidth}"
				styleClass="#{cc.attrs.smallHeaders ? 'smallHdrs': ''} #{cc.attrs.hideHeaders ? 'hideHdrs': ''}"
				
				>
				

				<c:set target="#{component}" property="var" value="#{cc.attrs.varName}"/>


				<cc:insertChildren/>

				<p:column rendered="#{cc.attrs.fillwidthcolumn}"/>

				<p:ajax event="rowSelect"  listener="#{cc.attrs.rowSelectAction}" oncomplete="#{cc.attrs.onRowSelected}" update="#{cc.attrs.update}" partialSubmit="true" />
				
				<p:ajax event="rowToggle" onstart="rowTggl();"/>  
				
			</p:dataTable>



			<h:panelGroup 
				id="eksprt" styleClass="position-absolute right0 top15"
				style="z-index:9999"
				rendered="#{cc.attrs.showExportMenu}">

				  <h:commandLink >
				  	<p:commandButton icon="file_download" value="xls"/>
				    <p:dataExporter type="xls" target="dane" fileName="dane"/>
		    	  </h:commandLink>

				  <h:commandLink >
				  	<p:commandButton icon="file_download" value="csv"/>
				    <p:dataExporter type="csv" target="dane" fileName="dane"/>
		    	  </h:commandLink>

				  <h:commandLink >
				  	<p:commandButton icon="file_download" value="xml"/>
				    <p:dataExporter type="xml" target="dane" fileName="dane"/>
		    	  </h:commandLink>
		    	  
			</h:panelGroup>
					
		</div>
		
</div>
</cc:implementation>

</html>