<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>

	<composite:attribute name="formID" />
	<composite:attribute name="tableID" />
	<composite:attribute name="filename" />

</composite:interface>

<composite:implementation>
	<script src="resources/js/pf-widgets/ctlContextMenu.js"></script>

	<p:contextMenu for="#{cc.attrs.formID}">

		<p:menuitem value="Export to XLSX" ajax="false">
			<p:dataExporter type="XLSXSTREAM"
				target=":#{cc.attrs.formID}:#{cc.attrs.tableID}"
				fileName="#{cc.attrs.filename}" />
		</p:menuitem>

		<p:submenu label="Wyrównaj do">
			<p:menuitem value="Lewej" onclick="$(this).doLewej()"
				icon="fa fa-align-left" />

			<p:menuitem value="Środka" onclick="$(this).doSrodka()"
				icon="fa fa-align-center" />

			<p:menuitem value="Prawej" onclick="$(this).doPrawej()"
				icon="fa fa-align-right" />
		</p:submenu>
		
	</p:contextMenu>

	<pe:blockUI widgetVar="XLSXblockUI">
		<h:panelGrid columns="2">
			<h:graphicImage value="/resources/images/caErpEgr.png"
				style="margin-right: 12px; vertical-align: middle;" />
			<h:outputText value="Please wait..." style="white-space: nowrap;" />
		</h:panelGrid>
	</pe:blockUI>


</composite:implementation>

</html>


<!-- <p:submenu label="Export" rendered="false"> -->
<!-- 	<p:menuitem value="Export to PDF" ajax="false"> -->
<!-- 		<p:dataExporter type="pdf" -->
<!-- 			target=":#{cc.attrs.formID}:#{cc.attrs.tableID}" -->
<!-- 			preProcessor="#{ctlContextMenuBean.preProcessPDF}" -->
<!-- 			fileName="#{cc.attrs.filename}" /> -->
<!-- 	</p:menuitem> -->
<!-- </p:submenu> -->

<!-- 				postProcessor="#{ctlContextMenuBean.postProcessXLSX}" -->

<!-- <p:menuitem value="Export to XLS" ajax="false"> -->
<!-- 	<p:dataExporter type="XLS" -->
<!-- 		target=":#{cc.attrs.formID}:#{cc.attrs.tableID}" -->
<!-- 		postProcessor="#{ctlContextMenuBean.postProcessXLS}" -->
<!-- 		fileName="#{cc.attrs.filename}" /> -->
<!-- </p:menuitem> -->
