<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<cc:interface>

	<cc:attribute name="dlgTitle"  default="Załączniki" required="true"/>
	<cc:attribute name="btnTitle"  default="Załączniki"/>
	<cc:attribute name="zalFkFieldName" required="true" />
	<cc:attribute name="zalFkId" required="true"/>
	<cc:attribute name="allowTypes" default="/(\.|\/)(gif|jpg|jpeg|png|pdf|doc|docx|rtf|xls|xlsx|ppt|pptx|csv|txt|msg|odt|ott|odm|html|oth|ods|ots|odg|otg|odp|otp|odf|odb|oxt)$/"/>
	<cc:attribute name="fileLimit"  default="1"/>
	<cc:attribute name="disabled"  default="false"/>

	<cc:attribute name="showSearchField" type="java.lang.Boolean" default="true"/>
	
	<cc:attribute name="style" />
	<cc:attribute name="styleClass" />
	
</cc:interface>


<cc:implementation>
<h:outputStylesheet name="pp-zalaczniki.css" library="css"/>

<!-- <p:growl id="message" autoUpdate="true" /> -->

<div id="#{cc.clientId}" style="display: inline-flex; vertical-align: middle; position: static; #{cc.attrs.style}" class="p0 pp-button cZalacznikiButton #{cc.attrs.styleClass}">
	
#{zalacznikiBean.setZalacznikFkField(cc.attrs.zalFkFieldName)}	
#{zalacznikiBean.setZalacznikFkId(cc.attrs.zalFkId)}	

<ui:param name="lwZalaczniki" value="#{zalacznikiBean.getLW('SQLZALACZNIKI',  { 'P_ID': cc.attrs.zalFkId,  'P_COL_NAME': cc.attrs.zalFkFieldName }   )}" />

<div style="position: relative;">


    <p:commandButton icon="attach_file" value="#{cc.attrs.btnTitle}"
        ajax="true"
        actionListener="#{zalacznikiBean.prepareDlgZalaczniki(cc.attrs.dlgTitle, cc.attrs.zalFkFieldName, cc.attrs.zalFkId, cc.attrs.showSearchField)}"
        partialSubmit="true" process="@this"
        onstart="hgon();"
        oncomplete =" hgoff(); PF('dlgZalaczniki').show();"
        styleClass="p0 m0"

        disabled="#{cc.attrs.disabled}"
        update="#{cc.clientId} dlgZalacznikiId"
    />


    <div style="position: absolute; top:3px; right:1px;"
         class="#{lwZalaczniki.data.size() > 0 ? 'badge1' : ''}"
         data-badge="#{lwZalaczniki.data.size()}">
    </div>


</div>

	
</div>
</cc:implementation>
</html>