<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:i="http://java.sun.com/jsp/jstl/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface>

	<cc:attribute name="readonly" 		type="java.lang.Boolean" default="false" />
	<cc:attribute name="style" 			type="java.lang.String"/>
	<cc:attribute name="styleClass" 	type="java.lang.String"/>

	<cc:attribute name="pkl" 	type="com.comarch.egeria.pp.delegacje.model.DeltPozycjeKalkulacji"/>
	<cc:attribute name="pklList"/>

</cc:interface>

<cc:implementation>
	<div id="#{cc.clientId}" class="cc-btn-zf #{cc.attrs.styleClass}" style="#{cc.attrs.style}">

		<p:commandButton
				icon="search"
				styleClass="granatowy inlblock center w35"
				style="#{cc.attrs.pkl.validZFPkl ? '' : 'color: red!important;'};"
				partialSubmit="true" process="@this"
				action="#{delegacjaMFBean.showDlgZF4CurrentPklDlg(cc.attrs.pkl)}"
				onstart="hgon();" oncomplete="hgoff();"
		/>
<!--				oncomplete="PFbyId('dlgZrFinId').show()" -->

<!-- 		kopiuje zródła fin wraz z angażami do listy pkl przekazanej w parametrze -->
<!--		<p:commandButton-->
<!--				id="kopiujZf"-->
<!--				styleClass="inlblock"-->
<!--				icon="vertical_align_bottom"-->
<!--				partialSubmit="true" process="@this"-->
<!--				update="@form:accPnl:dietyHotelPnl"-->
<!--				action="#{delegacjaMFBean.copyZFByTypPkl(cc.attrs.pkl, cc.attrs.pklList)}"-->
<!--				title="skopiuj w/w źródła finasowania do pozostałych pozycji kosztów"-->
<!--				rendered="#{km.getDeltZrodlaFinansowanias() != null and km.getDeltZrodlaFinansowanias().size() gt 0}"-->
<!--		/>-->

<!--		<p:commandButton icon="refresh" partialSubmit="true" process="@this" update="@(.cc-btn-zf)"/>-->
	</div>
</cc:implementation>
</html>