<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:c="http://xmlns.jcp.org/jsf/composite"
	xmlns:i="http://java.sun.com/jsp/jstl/core">



<c:interface>

	<c:attribute name="wniosek" required="true" type="com.comarch.egeria.pp.zfss.model.WniosekZFSS"/>
	<c:attribute name="styleClass" />
<!--	<c:attribute name="label" default="Wykaz faktur" />-->
	<c:attribute name="czyPoleNazwaSzkoly" type="java.lang.Boolean" default="true"/>
	
</c:interface>

<c:implementation>
<div id="#{cc.clientId}" class="#{cc.attrs.styleClass}">
	

		<h:panelGroup id="pnlZestawienieFaktur">

			<p:outputLabel value="Dane wniosku" styleClass="fs20 ui-g-11 p0" for="@parent" />
			<p:separator styleClass="ui-g-12 p0"/>

			<span class="ui-g-11 fs14">
				Zwracam się z prośbą o dofinansowanie do zakupionych we własnym zakresie biletów/karnetów na wydarzenia kulturalne i sportowe zgodnie z poniższym wykazem faktur za poniesione wydatki:
			</span>


			<div class="ui-g-1 p0 pl20">
				<p:commandButton partialSubmit="true" process="@this" styleClass="mt20"
							 icon="add"  style="width:20px!important"
							 action="#{cc.attrs.wniosek.addNewBiltyKarnetFaktura}"/>
			</div>




			<p:separator styleClass="ui-g-12 p0"/>

			<ui:repeat value="#{cc.attrs.wniosek.pptZfssBileties}" var="bilet" varStatus="bLP">

				
				<h:panelGroup id="pnlFaktura" styleClass="ui-g-12 ui-g-nopad pt5 pb5 pl10 mt10 mb10 ">


					<div class="ui-g-11 p0">

						<div class="ui-g-1 p0 pr20 pt5">
							<p:outputLabel for="pnlFaktura" value="#{bLP.index+1}" styleClass="fs18 right"/>
						</div>

						<div class="ui-g-5 p0 pr20">
							<p:inputText id="bNrFaltury" styleClass="fs18" value="#{bilet.zfsbNumerFaktury}"  placeholder="Nr faktury" >
								<p:ajax event="change"/>
							</p:inputText>
							<p:tooltip for="bNrFaltury" value="Numer faktury"/>
						</div>

						<div class="ui-g-3 p0 pr20">
							<p:calendar id="bDataWystawienia" styleClass="fs18 right" value="#{bilet.zfsbDataWystawienia}" placeholder="Data wystawienia" pattern="yyyy-MM-dd">
								<p:ajax event="change"/>
								<p:ajax event="dateSelect"/>
							</p:calendar>
							<p:tooltip for="bDataWystawienia" value="Data wystawienia"/>
						</div>


						<div class="ui-g-3 p0 pr20">
							<p:inputNumber id="bKwotaBrutto" styleClass="fs18 right" value="#{bilet.zfsbKwotaBrutto}"  placeholder="Kwota brutto" decimalPlaces="2" symbol=" PLN" symbolPosition="s" >
								<p:ajax event="change"/>
							</p:inputNumber>
							<p:tooltip for="bKwotaBrutto" value="Kwota brutto"/>
						</div>


					</div>

					<div class="ui-g-1 p0 pl20">
						<p:commandButton icon="delete"
										 action="#{cc.attrs.wniosek.removePptZfssBilety(bilet)}"
										 partialSubmit="true" process="@this"/>
					</div>

				</h:panelGroup>

<!--				<p:separator styleClass="ui-g-12 p0 mt10 mb10"/>-->


			</ui:repeat>
			

				<cc:cInputTextMDesign id="txtmiejscowosc" styleClass="ui-g-6  fs18" value="#{cc.attrs.wniosek.zfsMiejsceZlozeniaWniosku}" label="Miejsce złożenia wniosku">
					<p:tooltip for="txtmiejscowosc" value="Miejsce złożenia wniosku"/>
				</cc:cInputTextMDesign>
<!-- 				</p:inputText> -->
<!-- 					<p:ajax partialSubmit="true" process="txtmiejscowosc" event="change"/> -->
			
			
			
				<cc:cCalendarMDesign id="txpdatazlozeniaumowy" styleClass="ui-g-6 fs18" value="#{cc.attrs.wniosek.zfsDataZlozeniaWniosku}" label="Data złożenia wniosku">
					<p:tooltip for="txpdatazlozeniaumowy" value="Data złożenia wniosku"/>
				</cc:cCalendarMDesign>
<!--			pattern="yyyy-MM-dd"-->
<!-- 					<p:ajax partialSubmit="true" process="txpdatazlozeniaumowy" event="change"/> -->
<!-- 				</p:calendar>	 -->
			



			<p:separator styleClass="ui-g-12 p0 mt10"/>

			<p:outputLabel for="inpNumRazem" value="Łącznie:" styleClass="ui-g-8 right fs20"/>
			<p:inputNumber id="inpNumRazem" styleClass="ui-g-3 right fs20"
						   value="#{cc.attrs.wniosek.getSumPptZfssBileties()}" readonly="true" decimalPlaces="2" symbolPosition="s" symbol=" PLN"/>

			<p:separator styleClass="ui-g-12 p0 mb10"/>

		</h:panelGroup>

</div>
</c:implementation>


</html>