<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:c="http://xmlns.jcp.org/jsf/composite"
	xmlns:i="http://java.sun.com/jsp/jstl/core">



<c:interface>

	<c:attribute name="wniosek" required="true" type="com.comarch.egeria.pp.zfss.model.WniosekZFSS"/>
	<c:attribute name="styleClass" />
	
</c:interface>

<c:implementation>
<div id="#{cc.clientId}" class="#{cc.attrs.styleClass}">
	
<!--    <h:panelGroup > -->

               <p:outputLabel value="Dane wnioskodawcy" styleClass="fs20 ui-g-10 p0" for="@parent"/>
               
               	<cc:cLovJS id="lvjsprc" styleClass="ui-g-1 p0 mt5"
								   lovDlgTitle="Lista pracowników"
								   showInputText="false" required="true"
								   width="50"
								   process="#{cc.clientId}:lvjsprc"
								   value="#{cc.attrs.wniosek.zfsPrcId}"
								   datasource="#{v.getLW('prc')}"
						/>

<!-- 				<cc:cLovButtonJS datasource="#{v.getLW('prc')}" rowSelectedAction="#{cc.attrs.wniosek.ustawZfsPrcId}"/> -->
               
               <p:separator styleClass="ui-g-12 p0 mb20"/>

               <div class="ui-g-12 p0 pl20 pr20">

                   <cc:cPracownikInfo
                           prcId="#{cc.attrs.wniosek.zfsPrcId}"
                           showPesel="true"
                           showWydzial="true"
                           showDepartament="false"
                           labelWydzial="Jednostka organizacyjna:"
                           labelsColumnStyleClass="w120"
                           showKsTelInfo="true"                         
                   />

<!--                   <p:separator styleClass="mt30"/>-->

<!--                   <cc:cInputTextMDesign-->
<!--                           readonly="true"-->
<!--                           styleClass="pt20"-->
<!--                           label="Adres:"-->
<!--                           value="#{v.getLW('PPL_ADRESY_PRC', cc.attrs.wniosek.zfsPrcId, 'zameldowania')-->
<!--                                     .firstRowFormat('%adres$s')}"-->
<!--                   />-->

<!--                   <p:separator/>-->
                   
                   
                <h:panelGroup id="oswiadczenieDane" rendered="#{not ('O' eq cc.attrs.wniosek.zfsTyp)}">
                
                    <p:outputLabel for="@parent" value="BRAK OŚWIADCZENIA O DOCHODACH" styleClass="FS20 ui-g-12 center" style="color:#AA0000" rendered="#{cc.attrs.wniosek.oswiadczenie == null}" />

                    <h:panelGroup rendered="#{cc.attrs.wniosek.oswiadczenie != null}" styleClass="ui-g-12 mt30">



                            <p:outputLabel value="Oświadczenie numer #{cc.attrs.wniosek.oswiadczenie.zfsNumer==null ? '-/-': cc.attrs.wniosek.oswiadczenie.zfsNumer}
                            (id: #{cc.attrs.wniosek.oswiadczenie.zfsId})
                            z dnia: #{v.format(cc.attrs.wniosek.oswiadczenie.zfsDataZlozeniaWniosku, 'yyyy-MM-dd')}#{cc.attrs.wniosek.oswiadczenie.zfsDataZlozeniaWniosku==null ? '-/-' : ''}:"
                                           styleClass="fs16" for="@parent" />

                            <p:separator styleClass="ui-g-12 p0"/>

                            <div class="ui-g-12 p0 pr20 mt10 mb10">
                                <p:outputLabel id="txtoswiadczenie" value="Deklarowany przeciętny miesięczny dochód netto w oparciu o wszystkie
                                 dochody członków rodziny w przeliczeniu na jedną osobę:"  />
                            </div>

                            <div class="ui-g-5 p20">
                                <cc:cSelectBooleanCheckboxTN
                                        disabled="true"
                                        label="przekroczył 6000,00 PLN"
                                        value="#{cc.attrs.wniosek.oswiadczenie.zfsCzyPrzekroczono6k}"
                                />
                            </div>

                            <div class="ui-g-5 p0">
                                <cc:cInputNumberMDesign
                                        readonly="true"
                                        label="Nie przekroczył 6000,00 PLN i wynosi:"
                                        value="#{cc.attrs.wniosek.oswiadczenie.zfsKwotaPonizej6k}"
                                        decimalPlaces="2" symbol=" PLN"
                                        required="true"
                                        rendered="#{not ('T' eq cc.attrs.wniosek.oswiadczenie.zfsCzyPrzekroczono6k)}" />
                            </div>


                            <div class="ui-g-12 p0">
                                <p:outputLabel id="txtinnewplywy" styleClass="fs14 ui-g-8 p0" value="W wyliczonym dochodzie netto deklarowane inne wpływy finansowe:"  />
                                <p:inputNumber id="txtinnewplywykwota" readonly="true" styleClass="fs14 ui-g-2 p0 right" value="#{cc.attrs.wniosek.oswiadczenie.zfsKwotaInneWplywy}" symbol=" PLN" symbolPosition="s"/>

                            </div>
<!--                            <p:separator styleClass="ui-g-12 p0 mb20"/>-->
<!--                        </h:panelGroup>-->




                    </h:panelGroup>

                </h:panelGroup>

               </div>

               <p:separator styleClass="ui-g-12 p0 mt20"/>

<!--    </h:panelGroup> -->

</div>
</c:implementation>


</html>