<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:c="http://xmlns.jcp.org/jsf/composite"
	xmlns:i="http://java.sun.com/jsp/jstl/core">



<c:interface>

	<c:attribute name="wniosek" required="true" type="com.comarch.egeria.pp.zfss.model.WniosekZFSS"/>
	<c:attribute name="styleClass" />
	<c:attribute name="label" default="Członkowie rodziny" />
	<c:attribute name="czyPoleNazwaSzkoly" type="java.lang.Boolean" default="true"/>

	<c:attribute name="czyBtsWczytajRodzine" type="java.lang.Boolean" default="true"/>
	<c:attribute name="czyBtnsWczytajDzieciDo15Lat" type="java.lang.Boolean" default="false"/>

</c:interface>

<c:implementation>
<div id="#{cc.clientId}" class="#{cc.attrs.styleClass}">
	

		<h:panelGroup id="pnlRodzina">

			<p:outputLabel value="#{cc.attrs.label}" styleClass="fs20 ui-g-7 p0" for="@parent" />

			<div class="ui-g-4 p0">

				<p:commandButton id="btnWczytajRodzine" value="Wczytaj dane rodziny ..." styleClass="ui-g-12 p0 mt5i" 	partialSubmit="true" process="@none"/>

				<p:overlayPanel for="btnWczytajRodzine" styleClass="ui-g" style="top:0;">
					<div class="ui-g-12 w400">
						<p:commandButton
									styleClass="granatowy ui-g-12 p5 m5i center"
									partialSubmit="true" process="@this"
									value="Wczytaj rodzinę z danych Ewidencji Kadrowej"
									action="#{cc.attrs.wniosek.wczytajCzlonkowRodzinyWgEK}"
									rendered="#{cc.attrs.czyBtsWczytajRodzine}"
									onstart="hgon();" oncomplete="hgoff();"
						/>

						<p:commandButton
								styleClass="granatowy ui-g-12 p5 m5i center"
								partialSubmit="true" process="@this"
								value="Wczytaj rodzinę z oświadczenia"
								action="#{cc.attrs.wniosek.wczytajCzlonkowRodzinyzOswiadczenia}"
								rendered="#{ cc.attrs.czyBtsWczytajRodzine and ('O' ne cc.attrs.wniosek.zfsTyp) }"
								onstart="hgon();" oncomplete="hgoff();"

						/>

						<p:commandButton
								styleClass="granatowy ui-g-12 p5 m5i center"
								partialSubmit="true" process="@this"
								value="Wczytaj dane dzieci (do 15 lat) z Ewidencji Kadrowej"
								action="#{cc.attrs.wniosek.wczytajDzieciDo15latWgEK}"
								rendered="#{cc.attrs.czyBtnsWczytajDzieciDo15Lat}"
								onstart="hgon();" oncomplete="hgoff();"
						/>

						<p:commandButton
								styleClass="granatowy ui-g-12 p5 m5i center"
								partialSubmit="true" process="@this"
								value="Wczytaj dane dzieci (do 15 lat) z oświadczenia"
								action="#{cc.attrs.wniosek.wczytajDzieciDo15latzOswiadczenia}"
								rendered="#{ cc.attrs.czyBtnsWczytajDzieciDo15Lat and ('O' ne cc.attrs.wniosek.zfsTyp) }"
								onstart="hgon();" oncomplete="hgoff();"
						/>

					</div>
				</p:overlayPanel>

			</div>


			<p:commandButton styleClass="ui-g-1 p0 pl30 mt5i"
							 icon="add"
							 title="dodaj"
							 action="#{cc.attrs.wniosek.addNewPptZfssRodzina}"
							 partialSubmit="true" process="@this"/>



			<p:separator styleClass="ui-g-12 p0"/>

			<ui:repeat value="#{cc.attrs.wniosek.pptZfssRodzinas}" var="rodzina">

				
				<h:panelGroup id="pnlRodzina2" styleClass="ui-g-12 ui-g-nopad pt5 pb5 pl10 mt10 mb10 ">


					<div class="ui-g-11 p0">

						<div class="ui-g-4 p0 pr20">
							<p:inputText id="txtnazwisko" styleClass="fs18" value="#{rodzina.zfsrNazwisko}"  placeholder="Nazwisko">
								<p:ajax partialSubmit="true" process="txtnazwisko" event="change"/>
							</p:inputText>
							<p:tooltip for="txtnazwisko" value="Nazwisko członka rodziny"/>
						</div>

						<div class="ui-g-4 p0 pr20">
							<p:inputText id="txtimie" styleClass="fs18" value="#{rodzina.zfsrImie}" placeholder="Imię">
								<p:ajax partialSubmit="true" process="txtimie" event="change"/>
							</p:inputText>
							<p:tooltip for="txtimie" value="Imię członka rodziny"/>
						</div>


						<div class="ui-g-3 p0">
							<p:calendar id="txpdataurodzenia" styleClass="fs18" value="#{rodzina.zfsrDataUrodzenia}" placeholder="Data urodzenia" pattern="yyyy-MM-dd">
								<p:ajax partialSubmit="true" process="txpdataurodzenia" event="dateSelect"/>
							</p:calendar>	
							<p:tooltip for="txpdataurodzenia" value="Data urodzenia członka rodziny"/>
						</div>

						<div class="ui-g-12 p10 pt20">
							<p:outputLabel for="txpokrewienstwo" styleClass="fs14 ui-g-2 p0" value="Pokrewieństwo:"/>
							<cc:cLovJS id="txpokrewienstwo" styleClass="fs14 ui-g-10 p0"
									   datasource="#{v.getLW('PPL_STOPIEN_POKREWIENSTWA')}"
									   value="#{rodzina.zfsrPokrewienstwo}"
									   placeholder="Stopień pokrewieństwa"
									   inputTextStyleClass="fs14"
									   lovTextFormat="%rv_meaning$s" />
						</div>


						<h:panelGroup styleClass="ui-g-12 p10" rendered="#{cc.attrs.czyPoleNazwaSzkoly}">
							<p:outputLabel for="txnazwaszkoly" styleClass="fs14 ui-g-2 p0" value="Nazwa szkoły:" />
							<p:inputText id="txnazwaszkoly" styleClass="fs14 ui-g-10" value="#{rodzina.zfsrNazwaSzkoly}" placeholder="Nazwa szkoły lub uczelni">
								<p:ajax partialSubmit="true" process="txnazwaszkoly" event="change"/>
							</p:inputText>
						</h:panelGroup>

					</div>

						<p:commandButton icon="delete" styleClass="ui-g-1 p0 mt5i"
										 action="#{cc.attrs.wniosek.removePptZfssRodzina(rodzina)}"
										 partialSubmit="true" process="@this"/>

				</h:panelGroup>

				<p:separator styleClass="ui-g-12 p0 mt10 mb10"/>

			</ui:repeat>


		</h:panelGroup>

</div>
</c:implementation>


</html>