<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:p="http://primefaces.org/ui"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:pe="http://primefaces.org/ui/extensions"
       xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
       xmlns:cc="http://xmlns.jcp.org/jsf/composite"
       xmlns:i="http://xmlns.jcp.org/jsp/jstl/core">

<cc:interface>
       <cc:attribute name="kategoria" type="java.lang.String" required="true"  />
       <cc:attribute name="idEncji" required="true" />
       <cc:attribute name="doWykorzystaniaNaZrodla"  default="0" type="java.lang.Double" required="true"/>
       <cc:attribute name="height" default="300" shortDescription="Wysokość kontrolki w jednostce px" />
       <cc:attribute name="zrodlaFinansowaniaLW" type="com.comarch.egeria.pp.data.SqlDataSelectionsHandler" required="true"  />
       <cc:attribute name="wnioskiOAngazLW" type="com.comarch.egeria.pp.data.SqlDataSelectionsHandler" required="true"  />

		<cc:attribute name="style" type="java.lang.String" />
		<cc:attribute name="styleClass" type="java.lang.String" />
</cc:interface>

<cc:implementation>
<div id="#{cc.clientId}" style="width: 100%; #{cc.attrs.style}" class="#{cc.attrs.styleClass}" >


	<i:if test="#{zrodlaFinansowaniaBean.wczytajZrodlaFinansowaniaLista(cc.attrs.kategoria, cc.attrs.idEncji, cc.attrs.doWykorzystaniaNaZrodla) eq 'xyz'}"></i:if>

	#{zrodlaFinansowaniaBean.setDoWykorzystaniaNaZrodla(cc.attrs.doWykorzystaniaNaZrodla)}

	<h:panelGroup id="pnlZF" styleClass="ui-g panelZFILISTA">

		<div class="ui-g-12">
		<p:outputLabel  for="@parent" value="Źródła finansowania (#{v.formatNzNumber( cc.attrs.doWykorzystaniaNaZrodla )} PLN)" styleClass="fs18 ui-g-10 pt0 pb0"/>
		<p:commandButton
				styleClass="ui-g-2 granatowy center "
				id="AddZFI"
				icon="add" value="dodaj ZF"
				title="dodaj pozycję źródła finansowania"
				action="#{zrodlaFinansowaniaBean.addZFI}"
				partialSubmit="true" process="@this"
				update="pnlZF"
		/>
		</div>
		<ui:repeat value="#{zrodlaFinansowaniaBean.zrodlaFinansowaniaLista}" var="zf">

			<p:separator styleClass="ui-g-12 p0 m0 mb20"/>

			<div class="ui-g-12 p0 mh30 bottom">

				<c:cLovJS styleClass="ui-g-9 pt10 #{zf.zfiSkId == null ? 'red-placeholder' : ''}"
						  datasource="#{cc.attrs.zrodlaFinansowaniaLW}"
						  placeholder="wybierz źródło finansowania"
						  width="100%"
						  lovDlgTitle="Stanowiska kosztów"
						  lovTextFormat="%2$s"
						  value="#{zf.zfiSkId}"
						  process="@this"
						  update="@(.panelZFILISTA)"/>


				<div class="ui-g-3 p0">

					<c:cInputNumberMDesign
							styleClass="ui-g-6 p0 ml-5i"
							value="#{zf.zfiProcent}"
							symbol="%">
						<p:ajax event="change" process="@this" update="@(.panelZFILISTA)"/>

<!--								listener="#{zf.setZfiKwota(zrodlaFinansowaniaBean.ustawKwote(zrodlaFinansowaniaBean.doWykorzystaniaNaZrodla, zf))}"-->

					</c:cInputNumberMDesign>

					<c:cInputNumberMDesign
							styleClass="ui-g-5 p0 ml-10i mr-10i"
							id="zfKwota"
							value="#{zf.zfiKwota}">
						<p:ajax event="change" process="@this" update="@(.panelZFILISTA)"/>

<!--						title="Pozostała kwota do podziału : #{zrodlaFinansowaniaBean.round(zrodlaFinansowaniaBean.doWykorzystaniaNaZrodla - zrodlaFinansowaniaBean.sumaKwotZf(),2)}"-->
<!--								listener="#{zf.setZfiProcent(zrodlaFinansowaniaBean.ustawProcent(zrodlaFinansowaniaBean.doWykorzystaniaNaZrodla, zf))}"-->

					</c:cInputNumberMDesign>

					<p:commandButton
							styleClass="ui-g-1 p0 pt15"
							icon="delete"
							title="usuń pozycję źródła finansowania (oraz jej wnioski o zaangażowanie)"
							action="#{zrodlaFinansowaniaBean.removeZrodlaFinansowania(zf)}"
							update="@(.panelZFILISTA)"
					/>

				</div>

			</div>



			<h:panelGroup id="angaze" styleClass="angaze ui-g-12 pl20" layout="block">

				<div class="ui-g-12"></div>
				<ui:repeat value="#{zf.angazes}" var="an">

					<div class="ui-g-10 p0 mh30">

						<div class="ui-g-1"></div>
						<c:cLovJS
								  placeholder="wybierz wniosek o zaangażowanie"
								  styleClass="ui-g-6  #{an.zfaWnrId == null ? 'red-placeholder' : ''}"
								  datasource="#{cc.attrs.wnioskiOAngazLW}"
								  lovDlgTitle="Wnioski o angaż"
								  lovTextFormat="%2$s"
								  value="#{an.zfaWnrId}"
						/>

						<c:cInputNumberMDesign
								styleClass="angazeProcent ui-g-2 mt-10 red"
                                inputStyle="#{zf.sumAngazeProcent ne 100 ? 'color:red!important;' : ''} "
								value="#{an.zfaProcent}"
								symbol=" %"
						>
							<p:ajax event="change"
									partialSubmit="true"
                                    process="@this"
                                    update="@(.angaze)"/>

<!--								listener="#{an.setZfaKwota(zrodlaFinansowaniaBean.procentNaKwote(an.zfaProcent, zf.zfiKwota))}"-->

						</c:cInputNumberMDesign>

						<c:cInputNumberMDesign
								id="anKwota"
								styleClass="angazeKwota#{status.index} ui-g-2 mt-10"
                                inputStyle="#{zf.sumAngazeKwota ne zf.zfiKwota ? 'color:red!important;' : ''} "
								value="#{an.zfaKwota}"
						>
<!--								title="Pozostała kwota do podziału : #{zrodlaFinansowaniaBean.round(zf.zfiKwota - zrodlaFinansowaniaBean.sumaKwotAngazy(zf),2)}"-->
							<p:ajax event="change"
									partialSubmit="true"
                                    process="@this"
                                    update="@(.angaze)"/>

<!--							  	listener="#{an.setZfaProcent(zrodlaFinansowaniaBean.kwotaNaProcent(an.zfaKwota, zf.zfiKwota))}"-->

						</c:cInputNumberMDesign>



						<p:commandButton icon="delete"
										 styleClass="ui-g-1 pt10 bsh1"
										 title="usuń pozycję wniosku o zaangażowanie"
										 action="#{zf.removeAngaze(an)}"
										 update="@(.angaze)"
                                         partialSubmit="true"
                                         process="@this"
						/>


					</div>


				</ui:repeat>


				<p:commandButton icon="add"
								 value="dodaj w. ang."
								 styleClass="ui-g-2 granatowy center mt5i" title="dodaj pozycję z wniosekiem o zaangażowanie środków"
								 action="#{zf.addNewAngaze()}"
								 update="@(.angaze)"
                                 partialSubmit="true"
                                 process="@this"
				/>


			</h:panelGroup>

			<div class="ui-g-12 p0 mb30"></div>

		</ui:repeat>

		<p:separator styleClass="ui-g-12 p0 mb10"/>

	</h:panelGroup>
 
</div>
</cc:implementation>
</html>
