<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">



<cc:interface>
	<cc:attribute name="nazwaWydruku" required="true"/>
</cc:interface>
<cc:implementation>

	<h:form id="formLstPlcWydr" styleClass="ui-footer !important"
		rendered="#{cc.attrs.nazwaWydruku == 'ListaPlac'}">
		<p:separator/>
		<p:panelGrid>
				<p:panel rendered="#{pracownikListyPlacSqlBean.selectedRodzajeListy != null}">
					<h:outputText value="Rodzaje list: #{pracownikListyPlacSqlBean.selectedRodzajeListy}" style="font-size:70%!important;"/>
<!-- 					<ui:repeat -->
<!-- 						value="#{pracownikListyPlacSqlBean.selectedRodzajeListy}" -->
<!-- 						var="itemp"> -->
<!-- 						<h:outputText value="#{itemp}" style="margin-left:10px; font-size:70%!important;" />  -->
<!-- 					</ui:repeat> -->
				</p:panel>
				<p:panel rendered= "#{pracownikListyPlacSqlBean.selectedNazwyListy != null}">
					<h:outputText value="Listy płac: #{pracownikListyPlacSqlBean.selectedNazwyListy}" style="font-size:70%!important;"/>
<!-- 					<ui:repeat value="#{pracownikListyPlacSqlBean.selectedNazwyListy}" var="itemz"> -->
<!-- 						<h:outputText value="#{itemz}" style="margin-left:10px; font-size:70%!important;" /> -->
<!-- 					</ui:repeat> -->
				</p:panel>
			</p:panelGrid>
	</h:form>
</cc:implementation>


</html>