<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">



<h:body>

	<ui:composition>

		<h:form styleClass="ui-g-12 p20 m0 mt50 border bg-fff" style="font-size: 90%;">

		<div class="ui-g-12">

<!--			<div style="text-align: center;"><span style="font-size:14px;font-weight:bold">Informacja dla pracownika</span></div>-->
			<p:outputLabel for="@parent" value="Informacja dla pracownika" styleClass="fs18 ui-g-12 p0 m0" />
			<p:separator styleClass="ui-g-12 p0 m0"/>
			<div class="ui-g-12 p0 m0 ml30">
				<ul class="ui-g-12 p0 m0 mb10">
					<li>Na podstawie art. 29 § 3<sup>1</sup> Kodeksu pracy informuję, że:</li>
				</ul>
				<ol class="ui-g-12 p0 m0 ml20 mb5">
					<li>
						<b>Obowiązującą pracownika dobową i tygodniową normę czasu pracy reguluje:</b>
						<br/>art. 129 Kodeksu pracy
					</li>

					<li>
						<b>Częstotliwość wypłat wynagrodzenia za pracę regulują:</b>
						<br/>§ 27 Regulaminu pracy oraz art. 85 Kodeksu pracy

					</li>
					<li>
						<b>Wymiar przysługującego pracownikowi urlopu wypoczynkowego reguluje:</b>
						<br/>art. 153, art. 154, art. 155 - 155<sup>3</sup> Kodeksu pracy
					</li>

					<li>
						<b>Długość okresu wypowiedzenia umowy o pracę reguluje:</b>
						<br/>art. 36 Kodeksu pracy
					</li>

					<li>
						<b>U pracodawcy nie obowiązuje układ zbiorowy pracy.</b>
					</li>
				</ol>
			</div>
			<p:separator styleClass="ui-g-12 p0 m0 mt5"/>
		</div>


<!--
                    <div style="height: 200px; position: relative; overflow: auto; font-size: 90%;" class="ui-g-6">

          			<p:commandButton value="Niezbędne kontakty ..." styleClass="granatowy" style="position: absolute; bottom: 0; right: 0;"/>


			<div style="text-align: center;"><span style="font-size:14px;font-weight:bold">Pomocne informacje dotyczące Portalu Pracowniczego</span></div>
			<div style="text-align:left;width:500px">
				<ol>
					<li><b>Administracja:</b>
						<ul style="list-style-type: none">
							<li>- problemy z działaniem portalu należy zgłaszać na adres: <br/> <a href="mailto:portal.support@comarch.pl">portal.support@comarch.pl</a> </li>
						</ul>
					</li>
					<li><b>Obszar Kadrowo - Płacowy:</b>
						<ul style="list-style-type: none">
							<li>- Kwestie merytoryczne rozwiązać można bezpośrednio w Dziale Kadr i Płac,</li>
							<li>- lub pod adresem email  <a href="mailto:kadry@comarch.pl">kadry@comarch.pl</a> </li>
						</ul>
					</li>
					<li><b>Obszar Środków Trwałych:</b>
						<ol style="list-style-type: lower-alpha">
							<li> Comarch S.A.:
								<ul style="list-style-type: none">
									<li>- <a href="Renata.Mizia-Ossolinska@comarch.pl">Renata.Mizia-Ossolinska@comarch.pl</a> </li>
									<li>- <a href="mailto:Karolina.Mucha@comarch.pl">Karolina.Mucha@comarch.pl</a> </li>

								</ul>
							</li>
							<li> Pozostałe spółki:
								<ul style="list-style-type: none">

									<li>- Comarch Polska S.A. - <a href="Patrycja.Lyszczarz@comarch.pl">Patrycja.Lyszczarz@comarch.pl</a> </li>
									<li>- MKS Cracovia SSA - <a href="Marta.Bazgier@comarch.pl">Marta.Bazgier@comarch.pl</a> </li>
									<li>- Comarch Technologies sp z o.o. -  <a
											href="mailto:Monika.Kowalik@comarch.pl">Monika.Kowalik@comarch.pl</a> </li>
									<li>- Comarch Pointshub S.A.- <a href="mailto:Lila.Kapanowska@comarch.pl">Lila.Kapanowska@comarch.pl</a> </li>
									<li>- iComarch24 S.A.- <a href="mailto:Lila.Kapanowska@comarch.pl">Lila.Kapanowska@comarch.pl</a> </li>
									<li>- Comarch Healthcare S.A. - <a
											href="mailto:Katarzyna.Jozefczyk@comarch.pl">Katarzyna.Jozefczyk@comarch.pl</a> </li>
									<li>- Infrastruktura24 S.A. -  <a
											href="mailto:Katarzyna.Jozefczyk@comarch.pl">Katarzyna.Jozefczyk@comarch.pl</a> </li>
									<li>- CA Consulting S.A. - <a
											href="Magdalena.Kokosza@comarch.pl">Magdalena.Kokosza@comarch.pl</a> </li>
									<li>- Opso sp z o.o. - <a href="mailto:Patrycja.Lyszczarz@comarch.pl">Patrycja.Lyszczarz@comarch.pl</a> </li>


								</ul>

							</li>
						</ol>

					</li>
				</ol>
			</div>



		</div>
-->

		</h:form>

	</ui:composition>


</h:body>
</html>