<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	  xmlns:i="http://xmlns.jcp.org/jsp/jstl/core"
>

<h:body>

	<ui:composition>

		<h:form styleClass="mautoi d-flex flex-wrap">
				<c:cKafelekPowiadomienia
						title="Powiadomienia"
						icon="notifications_none"
						rendered="#{'N' ne appBean.getPpKonfiguracjaWartoscZewn('PP_HDR_POWIADOMIENIA')}"
				/>

				<i:if test="#{v.getLW('PPL_MNU_KAFELKI').data.size() gt 0}">
					<ui:repeat value="#{v.getLW('PPL_MNU_KAFELKI').data}" var="kafelek">
						<c:cKafelek title="#{kafelek.get('mnu_kafelek_label') != null ? kafelek.get('mnu_kafelek_label') : kafelek.get('mnu_label')}"
									icon="#{kafelek.get('mnu_kafelek_icon')}"
									menuItemId="#{kafelek.get('mnu_id')}"
									bigSize="#{'T' eq kafelek.get('mnu_kafelek_big_size')}" />
					</ui:repeat>
				</i:if>

				<i:if test="#{v.getLW('PPL_MNU_KAFELKI').data.size() eq 0}">
					<c:cKafelek title="Dane kadrowe" icon="person" menuCode="Dane-pracownicze_Dane-podstawowe" bigSize="true" />
					<c:cKafelek title="Szkolenia" icon="school" menuCode="Szkolenia_Moje-szkolenia" bigSize="true"/>
					<c:cKafelek title="Książka telefoniczna" icon="contact_phone" menuCode="Książka-telefoniczna_Telefony" bigSize="true" />
					<c:cKafelek title="Ocena okresowa" icon="poll" menuCode="Ocena-okresowa_Wyniki-oceny" bigSize="true"/>
					<c:cKafelek title="Urlopy" icon="beach_access" menuCode="Urlopy_Wniosek-urlopowy" bigSize="true"/>
					<c:cKafelek title="Delegacje" icon="business_center" menuCode="Delegacje_Lista-delegacji" bigSize="true"/>
					<c:cKafelek title="BHP" icon="directions_run" menuCode="BHP_Lista-wniosków-o-okulary"/>
					<c:cKafelek title="Środki trwałe" icon="directions_car" menuCode="Środki-trwałe_Lista-środków-trwałych"/>
				</i:if>

		</h:form>

		<script>
			jQuery(document).ready(function() {
				var x;
				$("body").delegate('.kflk','mouseover mouseleave', function(e){
					if (e.type == 'mouseover') {
						if (this != x){
							$(this).animate({opacity: '1.0'}, 200);

							if (x!=null)
								$(x).not(this).animate({opacity: '1.0'/*'0.6'*/}, 400);
							else
								$(".kflk").not(this).animate({opacity: '1.0'/*'0.6'*/}, 400);

							x = this;
						}
					}
				});

				$("body").delegate('.kflkgrid','mouseover mouseleave', function(e){
					if (e.type == 'mouseleave') {
						$(".kflk").animate({opacity: /*'0.4'*/'1.0'}, 400);
						x = null;
					}
				});
			});
		</script>

	</ui:composition>

</h:body>
</html>