<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:body>

	<ui:composition>
<!-- 		to proteza ... trzba dopracować! -->
		
		
		
		<h:panelGroup styleClass="kflk k1x2"> <!-- style=" background-image: url('#{request.contextPath}/resources/images/urlop.png'); "> -->
	    
	     	   	<div class="kflktxtbg"/>
		    	<h:outputText styleClass="kflktxt" value="Opis kafelka 1x2 ... " />

           		<p:commandButton value="Książka telefoniczna" icon="contact_phone"
           			style="height:40%;
           				width:100%;
           				background:transparent; 
           				position:absolute; 
           				top:0; 
           				left:0; 
           				z-index:999;
           				font-size: 110% !important;" styleClass="k1x2_hov">
           		</p:commandButton>
	
		</h:panelGroup>
		

	
	</ui:composition>

</h:body>
</html>