<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">


	<p:dialog id="dlgDaneBadaniaId" widgetVar="dlgDaneBadania"
		appendTo="@(body)" modal="true" closeOnEscape="true" draggable="true"
		resizable="false" classStyle="ctl-dialog">

		<f:facet name="header">
			<h:form>
				<p:panelGrid style="width:100%">
					<p:column>
						<h:outputText
							value="Badanie #{sessionBean.selectedBadanie.get('bad_rodzaj')} #{sessionBean.selectedBadanie.get('bad_data')}"
							converter="mycnv"></h:outputText>
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" value="#{dic.EGR70017_anuluj}"
							styleClass="btnDlg" process="@this"
							oncomplete="PF('dlgDaneBadania').hide();">
							<p:resetInput target="formDlgDaneBadania" />
						</p:commandButton>
					</p:column>
				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="formDlgDaneBadania" style="width:850px; height:250px;">
			<h:outputText value="#{sessionBean.selectedBadanie.get('bad_opis')}" />
		</h:form>

	</p:dialog>


</ui:composition>