<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:dialog header="Pracownik" widgetVar="dlgDanePracownika"
		appendTo="@(body)" modal="true" closeOnEscape="true" draggable="true"
		resizable="false" id="dlgDanePracownikaId" classStyle="ctl-dialog">

		<h:form id="formDlgDanePracownika">

			<p:growl id="growl" showDetail="true"
				rendered="#{not facesContext.validationFailed}" />

			<p:panelGrid>
				<p:row>
					<p:column>
						<p:outputLabel for="imieMatkiOT" value="Imie Matki: " />
					</p:column>
					<p:column>
						<h:outputText id="imieMatkiOT" value="#{pracownicyBean.selectedPracownik.prcImieMatki}" />

					</p:column>
				</p:row>
			</p:panelGrid>

			<p:panelGrid styleClass="ctl-dialog-buttons">

				<p:column>

					<p:commandButton id="btAnuluj" value="#{dic.EGR70017_anuluj}"
						process="@this" oncomplete="PF('dlgDanePracownika').hide();">

						<p:resetInput target="formDlgDanePracownika" />

					</p:commandButton>

				</p:column>

			</p:panelGrid>

		</h:form>

	</p:dialog>

</ui:composition>