<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">


	<p:dialog  widgetVar="dlgDaneRodziny" header="Członek rodziny"
		appendTo="@(body)" modal="true" closeOnEscape="true" draggable="true"
		resizable="false" classStyle="ctl-dialog" id="dlgDaneRodziny">


		<f:facet name="header">
			<h:form>
				<p:panelGrid style="width:100%">
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedRodzina.get('pp_czr_imie')} #{sessionBean.selectedRodzina.get('pp_czr_nazwisko')}"></h:outputText>
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" icon="clear"
							styleClass="btnDlg" process="@this"
							oncomplete="PF('dlgDaneRodziny').hide();">
							<p:resetInput target="formDlgDaneRodziny" />
						</p:commandButton>
					</p:column>
				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="formDlgDaneRodziny" style="width:850px; height:350px;">
			<p:panelGrid>
			
				<p:row>
<!-- 				 rendered="#{sessionBean.selectedRodzina.isNotEmpty('pp_czr_uzysk_ub')}"	 -->				
					<p:column><h:outputLabel value="Uzyskanie ubezpieczenia" /></p:column>
					<p:column><h:outputText value="#{sessionBean.selectedRodzina.get('pp_czr_uzysk_ub')}" style="min-width:500px" readonly="true" /></p:column>					
				</p:row>
				
				<p:row>
<!-- 				rendered="#{sessionBean.selectedRodzina.isNotEmpty('pp_czr_utrata_ub')}" -->					
					<p:column><h:outputLabel value="Utrata ubezpieczenia" /></p:column>
					<p:column><h:outputText value="#{sessionBean.selectedRodzina.get('pp_czr_utrata_ub')}" style="min-width:500px" readonly="true" /></p:column>					
				</p:row>
				
				<p:row>
<!-- 				 rendered="#{sessionBean.selectedRodzina.isNotEmpty('pp_czr_adres')}"	 -->				
					<p:column><h:outputLabel value="Adres" /></p:column>
					<p:column><h:outputText value="#{sessionBean.selectedRodzina.get('pp_czr_adres')}" style="min-width:500px" readonly="true" /></p:column>					
				</p:row>
				
			</p:panelGrid>
		</h:form>

	</p:dialog>


</ui:composition>