<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

	<p:dialog header="Pozycje do aktualizacji" height="550" width="850" 
		dynamic="false"
		widgetVar="dlgPozycjeAktualizacji" appendTo="@(body)" modal="false"
		closeOnEscape="true" draggable="true" resizable="false"
		classStyle="ctl-dialog" id="dlgPozycjeAktualizacji">

		<f:facet name="header">
			<h:form id="dlgPozycjeAktualizacjiHeader">
				<p:panelGrid style="width:100%">

					<p:column>
						<h:outputText value="Pozycje do aktualizacji" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							onclick="PF('dlgPozycjeAktualizacji').hide();" icon="clear">
						</p:commandButton>
					</p:column>
				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="formPozycjeAktualizacji" style="height: 95% !important;">
<!-- 		 ukrytych: #{aktualizacjaDanychBean.wniosek.pptWnioskiAktualizPozycjes.stream().map(p->p.wadpRodzaj).toList()} -->

			<cc:cLookupTable
				multiselect="true" 
				datasource="#{aktualizacjaDanychBean.getLW('PPL_AKT_DANYCH_WSL', aktualizacjaDanychBean.wniosek.wadPrcId, aktualizacjaDanychBean.wniosek.wadInfId, aktualizacjaDanychBean.wniosek.wadRodzaj)
				.hideRowsPK(
						aktualizacjaDanychBean.wniosek.pptWnioskiAktualizPozycjes.stream().map(p->p.wadpRodzaj).toList()
				)  }"
				styleClass="tbl-w100-h100"	
			/>
			
			
			
		</h:form>
		
		<f:facet name="footer">
			<h:form id="dlgPozycjeAktualizacjiFooter" styleClass="dlgBottomBtnsBar">


					<p:commandButton value="DODAJ"
						action="#{aktualizacjaDanychBean.dodajPozycje()}"
						onstart="hgon();"
						oncomplete="PF('dlgPozycjeAktualizacji').hide(); hgoff()"
						partialSubmit="true" process="@this"
						update="@(.chkx)  @(.chkxtgglr)" />


			</h:form>
		</f:facet>

	</p:dialog>

</ui:composition>