<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:dialog header="#{dic.MNU90001_o_programie}" widgetVar="dlgOProgramie"
		appendTo="@(body)" closeOnEscape="true" draggable="true"
		resizable="false" id="dlgOProgramie" classStyle="ctl-dialog">

		<h:form id="formDlgOProgramie">

			<p:panelGrid>
				<p:row>
					<p:column>
						<h:outputLabel for="copyright" value="Copyright:" />
					</p:column>

					<p:column style="width:110px">
						<h:outputText id="copyright" value="COMARCH SA" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="version" value="#{dic.EGR70006_wersja}:" />
					</p:column>

					<p:column>
						<h:outputText id="version" value="0.2.4" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="database" value="#{dic.EGR70007_baza_danych}:" />
					</p:column>

					<p:column>
						<h:outputText id="database" value="6.0.2" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="compilation" value="#{dic.EGR70008_kompilacja}:" />
					</p:column>

					<p:column>
						<h:outputText id="compilation" value="1" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="fix" value="#{dic.EGR70009_poprawka}:" />
					</p:column>

					<p:column>
						<h:outputText id="fix" value="002" />
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="3">
						<p:separator />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLink id="comarch" styleClass="ctl-oLink" target="_blank"
							value="http://www.comarch.pl">
							<h:outputText value="www.comarch.pl" styleClass="ctl-oLink" />
						</h:outputLink>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLink id="erp" target="_blank"
							value="http://www.egeria.pl">
							<h:outputText value="www.egeria.pl" styleClass="ctl-oLink" />
						</h:outputLink>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLink id="mail" value="mailto:egeria_serwis@comarch.pl">
							<h:outputText value="egeria_serwis@comarch.pl"
								styleClass="ctl-oLink" />
						</h:outputLink>
					</p:column>
				</p:row>
			</p:panelGrid>

			<p:panelGrid styleClass="ctl-dialog-buttons">

				<p:row>
					<p:column>
						<p:commandButton id="btOK" value="#{dic.EGR70010_ok}" process="@this"
							oncomplete="PF('dlgOProgramie').hide();">
						</p:commandButton>
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
	</p:dialog>
</ui:composition>
