<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsf/composite/components"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>

	<p:panelGrid style="width: 100%" id="czlonkowieKomisjiId"
		styleClass="czlonkowie-komisji">
		<p:row>
			<p:column colspan="1" style="width: 30%;">
			
									
									#{kartotekaRekrutacjiBean.loadEgListaWartosci('PP_PRC',[])}
								

<!-- 										#{kartotekaRekrutacjiBean.loadEgListaWartosci('PPL_REK_PRACOWNICY_DEP',[kartotekaRekrutacjiBean.nabor.nabObId, kartotekaRekrutacjiBean.nabor.nabObId])} -->
										#{kartotekaRekrutacjiBean.loadEgListaWartosci('PPL_REK_PRACOWNICY_DEP',[])}

										#{kartotekaRekrutacjiBean.loadEgListaWartosci('PPL_REK_PRACOWNICY_DBG', [100893, 100893])}

									<p:outputLabel value="Przewodniczący komisji rekrutacyjnej: ">

				</p:outputLabel>
			</p:column>
			<p:column colspan="1" style="vertical-align: top;">
		#{kartotekaRekrutacjiBean.getSql('sqlWybranyPrzewodniczacy').resetTs()}
		#{kartotekaRekrutacjiBean.getSql('sqlWybranyPrzewodniczacy').reLoadData()}
		
		#{kartotekaRekrutacjiBean.loadSqlData('sqlWybranyPrzewodniczacy', 
				'	
				select PRC_NAZWISKO || \' \' || PRC_IMIE Pracownik
				from PPADM.PPT_REK_NABOR_KOMISJA, EK_PRACOWNICY
				where KOM_TYP = \'P\'
				and KOM_NAB_ID = ?
                and KOM_PRC_ID = PRC_ID
		   
		',  [kartotekaRekrutacjiBean.nabor.nabId]
		)} 
		
				<cc:cLookupTable disabled="true" showSearchField="false"
					datasource="#{kartotekaRekrutacjiBean.getSql('sqlWybranyPrzewodniczacy')}"
					hideHeaders="true" noBorder="true" dataList="true"
					colWidths="300;300;300" height="90px"
					exportPdf="true" exportXls="true" exportCsv="true" exportXml="true" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9">
				<p:spacer height="45" width="100%" />
			</p:column>
		</p:row>

		<p:row>
			<p:column colspan="9">
				<span class="divider"></span>
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9">
				<p:spacer height="15" width="100%" />
			</p:column>
		</p:row>
		<p:row>
			<p:column>
				<p:outputLabel style="min-width:500px"
					value="Członkowie komisji rekrutacyjnej: ">
				</p:outputLabel>
			</p:column>
			<p:column style="vertical-align: top;">
			#{kartotekaRekrutacjiBean.getSql('sqlWybranaKomisja').resetTs()}
			#{kartotekaRekrutacjiBean.getSql('sqlWybranaKomisja').reLoadData()}
			
			#{kartotekaRekrutacjiBean.loadSqlData('sqlWybranaKomisja', 
				'	
				select PRC_NAZWISKO || \' \' || PRC_IMIE Pracownik
				from PPADM.PPT_REK_NABOR_KOMISJA, EK_PRACOWNICY
				where KOM_TYP = \'Z\'
				and KOM_NAB_ID = ?
                and KOM_PRC_ID = PRC_ID
		   
		',  [kartotekaRekrutacjiBean.nabor.nabId]
		)} 
		
				<cc:cLookupTable disabled="true" showSearchField="false"
					datasource="#{kartotekaRekrutacjiBean.getSql('sqlWybranaKomisja')}"
					hideHeaders="true" noBorder="true" dataList="true"
					colWidths="300;300;300" height="90px"
					exportPdf="true" exportXls="true" exportCsv="true" exportXml="true" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9">
				<p:spacer height="45" width="100%" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9">
				<span class="divider"></span>
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9">
				<p:spacer height="15" width="100%" />
			</p:column>
		</p:row>
		<p:row>
			<p:column>
				<p:outputLabel style="min-width:500px" value="Przedstawiciele BDG: ">
				</p:outputLabel>
			</p:column>
			<p:column style="vertical-align: top;">
			#{kartotekaRekrutacjiBean.getSql('sqlWybranaKomisjaBDG').resetTs()}
			#{kartotekaRekrutacjiBean.getSql('sqlWybranaKomisjaBDG').reLoadData()}
			
				#{kartotekaRekrutacjiBean.loadSqlData('sqlWybranaKomisjaBDG', 
				'	
				select PRC_NAZWISKO || \' \' || PRC_IMIE Pracownik
				from PPADM.PPT_REK_NABOR_KOMISJA, EK_PRACOWNICY
				where KOM_TYP = \'B\'
				and KOM_NAB_ID = ?
                and KOM_PRC_ID = PRC_ID
		   
		',  [kartotekaRekrutacjiBean.nabor.nabId]
		)} 
				<cc:cLookupTable disabled="true" showSearchField="false"
					datasource="#{kartotekaRekrutacjiBean.getSql('sqlWybranaKomisjaBDG')}"
					hideHeaders="true" noBorder="true" dataList="true"
					colWidths="300;300;300" height="90px"
					exportPdf="true" exportXls="true" exportCsv="true" exportXml="true" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9">
				<p:spacer height="45" width="100%" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9">
				<span class="divider"></span>
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9">
				<p:spacer height="15" width="100%" />
			</p:column>
		</p:row>
		<p:row>
			<p:column style="vertical-align:top;">
				<p:outputLabel style="min-width:500px"
					value="Członkowie komisji spoza MF: ">
				</p:outputLabel>
			</p:column>
			<p:column>

				<h:panelGroup id="pgCzlonkowieKomSpozaMFId"
					styleClass="pgCzlonkowieKomSpozaMF" rendered="true">
					<p:outputLabel value="Imię i nazwisko" />
					<ui:repeat var="o"
						value="#{kartotekaRekrutacjiBean.czlonkowieKomSpozaMF}"
						varStatus="status">
						<c:cInputTextMDesign value="#{o.komSpozaMf}" readonly="true">
						</c:cInputTextMDesign>
						<!-- label="Imię i nazwisko:" -->
					</ui:repeat>
				</h:panelGroup>
			</p:column>
		</p:row>

		<p:row>
			<p:column colspan="9">
				<p:spacer height="45" width="100%" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9" style="padding-top: 50px !important;">
				<span class="divider"></span>
			</p:column>
		</p:row>
	</p:panelGrid>

</body>
</html>