<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">


<f:metadata>
</f:metadata>

<body>
	<p:panelGrid style="width:100%">

		<p:row>
			<p:column>
				<c:cCalendarMDesign id="calTermId"
					value="#{kartotekaRekrutacjiBean.nabor.nabOgTerminZglEmail}"
					label="Termin składania zgłoszeń na adres e-mail:" locale="pl"
					placeholder="rrrr-mm-dd"
					converterMessage="Pole 'Termin składania zgłoszeń na adres e-mail': wprowadzono nieprawidłowy format." />
			</p:column>

			<p:column>
				<c:cCalendarMDesign id="calTermRozmId"
					label="Termin rozmowy kwalifikacyjnej:"
					value="#{kartotekaRekrutacjiBean.nabor.nabOgTerminRozm}"
					locale="pl" placeholder="rrrr-mm-dd"
					converterMessage="Pole 'Termin rozmowy kwalifikacyjnej': wprowadzono nieprawidłowy format." />
			</p:column>
		</p:row>

		<p:row>
			<p:column colspan="2" style="height:10px">
			</p:column>
		</p:row>


		<p:row>
			<p:column colspan="2">
				<c:cInputTextAreaMDesign id="zakrObowId" styleClass="lekka-ramka"
					cols="10" label="Zakres obowiązków:" rows="4" maxlength="2000"
					autoResize="true"
					value="#{kartotekaRekrutacjiBean.nabor.nabOgZakresObow}"
					/>
			</p:column>
		</p:row>


		<p:row>
			<p:column colspan="2">
				<c:cInputTextAreaMDesign id="WymaganiaNiezbId"
					styleClass="lekka-ramka" label="Wymagania niezbędne:" cols="10"
					rows="4" maxlength="2000" autoResize="true"
					value="#{kartotekaRekrutacjiBean.nabor.nabOgWymaganiaNiezb}"
					/>
			</p:column>
		</p:row>


		<p:row>
			<p:column colspan="2">
				<c:cInputTextAreaMDesign id="WymaganiaDodId"
					styleClass="lekka-ramka" label="Wymagania dodatkowe:" cols="10"
					rows="4" maxlength="2000" autoResize="true"
					value="#{kartotekaRekrutacjiBean.nabor.nabOgWymaganiaDodat}"
					/>
			</p:column>
		</p:row>

		<!-- 				<p:row> -->
		<!-- 					<p:column colspan="2"> -->
		<!-- 						<h:outputText id="displayWyksztalc" /> -->
		<!-- 					</p:column> -->
		<!-- 				</p:row> -->

		<p:row>
			<p:column colspan="2">
				<!-- 						<p:inputTextarea styleClass="lekka-ramka" cols="10" rows="5" -->
				<!-- 							counter="displayWyksztalc" maxlength="500" autoResize="true" -->
				<!-- 							counterTemplate="Wymagane wykształcenie - pozostało znaków {0}" -->
				<!-- 							value="#{rekrutacjaWniosekBean.nabor.nabOgWymaganeWyksz}"> -->
				<!-- 							<f:ajax event="change" /> -->
				<!-- 						</p:inputTextarea> -->
				<c:cInputTextAreaMDesign id="WyksztalcId" styleClass="lekka-ramka"
					label="Wymagane wykształcenie:" cols="10" rows="4" maxlength="2000"
					autoResize="true"
					value="#{kartotekaRekrutacjiBean.nabor.nabOgWymaganeWyksz}"
					/>
			</p:column>
		</p:row>



		<p:row>
			<p:column colspan="2">
				<c:cInputTextAreaMDesign id="DokumId" styleClass="lekka-ramka"
					cols="10" label="Wymagane wykształcenie:" rows="4" maxlength="2000"
					autoResize="true"
					value="#{kartotekaRekrutacjiBean.nabor.nabOgWymDok}"
					 />
			</p:column>
		</p:row>

		<p:row>
			<p:column colspan="2">
				<h:outputText id="displayKontakt" />
			</p:column>
		</p:row>

		<p:row>
			<p:column colspan="2">
				<c:cInputTextAreaMDesign id="KontaktId" styleClass="lekka-ramka"
					cols="10" label="Kontakt:" rows="4" maxlength="2000"
					autoResize="true"
					value="#{kartotekaRekrutacjiBean.nabor.nabOgKontakt}"
					/>
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="2" style="height:50px">
			</p:column>
		</p:row>
	</p:panelGrid>

</body>

</html>