<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">


<f:metadata>
</f:metadata>

<body>

	#{kartotekaRekrutacjiBean.loadEgSlownik('REK_ZAK_STATUS')}

	
	
	<p:panelGrid style="width: 100%;">


		<div class="ui-g ui-g-nopad">
		
			<p:spacer height="20" width="100%" />
			
			
			<cc:cInputTextMDesign id="ofertPracId" styleClass="ui-xl-2 ui-g-5"  
				value="#{kartotekaRekrutacjiBean.nabor.nabNrOfertyPrc}" placeholder="numer oferty pracy"
				label="Numer oferty pracy: "/>
			
			<cc:cInputNumberMDesign id="numerBIPId"  styleClass="ui-xl-2 ui-g-5"
				value="#{kartotekaRekrutacjiBean.nabor.nabNrOglBip}"
				placeholder="wprowadź wartość"
				decimalPlaces="0" decimalSeparator="" thousandSeparator=""
				label="Numer ogłoszenia BIP: "/>
			
			<div class="ui-g-2 ui-xl-1 ui-g-nopad"/>
<!-- 			<p:spacer height="10" width="100%"/> -->
			
			<cc:cCalendarMDesign id="calDataPubl" styleClass="ui-xl-2 ui-g-5"
				value="#{kartotekaRekrutacjiBean.nabor.nabDataPublikacji}"
				locale="pl" 
				placeholder="rrrr-mm-dd" 
				converterMessage="Pole 'Data publikacji ogłoszenia': wprowadzono nieprawidłowy format."
				label="Data publikacji ogłoszenia: "/>
			
			<cc:cCalendarMDesign id="calTermOfert" styleClass="ui-xl-2 ui-g-5"
				value="#{kartotekaRekrutacjiBean.nabor.nabTerminSklOf}"
				locale="pl" 
				placeholder="rrrr-mm-dd"
				converterMessage="Pole 'Termin składania ofert': wprowadzono nieprawidłowy format." 
				label="Termin składania ofert: "/>
		
		</div>

		<p:row>
			<p:column style="padding-top: 30px !important; padding-bottom: 10px;" colspan="3">
				<cc:cSelectBooleanCheckboxTN
					value="#{kartotekaRekrutacjiBean.nabor.nabCzyInfNiepeln}" style="padding-top: 30px !important; padding-bottom: 10px;"/>
				<p:outputLabel
					value="Czy zamieszczono informację zachęcającą osoby niepełnosprawne do składania ofert?"
					styleClass="label" />
			</p:column>
			<p:column>
			</p:column>
		</p:row>
		<p:row>
			<p:column style="padding-top: 10px !important; padding-bottom: 10px;" colspan="3">
				<cc:cSelectBooleanCheckboxTN
					value="#{kartotekaRekrutacjiBean.nabor.nabCzyInfWskNiepeln}" />
				<p:outputLabel
					value="Czy wskazano informację o wskaźniku zatrudnienia osób niepełnosprawnych poniżej 6%?"
					styleClass="label" />
			</p:column>
			<p:column>
			</p:column>
		</p:row>
		<p:row>
			<p:column style="padding-top: 10px !important; padding-bottom: 30px;" colspan="3"
				rendered="#{kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ne 'ST_POM' and kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ne 'WEW_ST_POM'}">
				<cc:cSelectBooleanCheckboxTN
					value="#{kartotekaRekrutacjiBean.nabor.nabCzyInfCdz}" />
				<p:outputLabel
					value="Czy wskazano za zgodą SZSC, że o stanowisko mogą ubiegać się również cudzoziemcy?"
					styleClass="label" />
			</p:column>
			<p:column>
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="4" style="min-height: 30px;">
				<p:spacer height="10" width="100%" />
			</p:column>
		</p:row>
		<p:row>	
			<p:column colspan="1">
<!-- 				<div class="calc-label clndr-ie"> -->
					<cc:cCalendarMDesign id="calZakoRekrut"
						value="#{kartotekaRekrutacjiBean.nabor.nabDataZakonc}"
						locale="pl" 
						placeholder="rrrr-mm-dd" 
						converterMessage="Pole 'Data zakończenia rekrutacji/naboru': wprowadzono nieprawidłowy format."
						label="Data zakończenia rekrutacji/naboru: "/>
<!-- 					<span class="bar"></span> -->
<!-- 					<p:outputLabel value="Data zakończenia rekrutacji/naboru: " -->
<!-- 						for="calZakoRekrut" /> -->
<!-- 				</div> -->
			</p:column>
			<p:column>
			</p:column>
			<p:column>
			</p:column>	
		</p:row>
		
		<p:row>
			<p:column>
				
				<h:panelGroup id="etapy" styleClass="ui-g-12 etapy">
		
<!-- 			<p:column>
				<cc:cSOMMDesign id="EtapyNabId"
					styleClass="mt50"
					datasource="#{kartotekaRekrutacjiBean.getSlownik('REK_ETAP')}" 
					value="#{kartotekaRekrutacjiBean.nabor.nabEtap}" 
					emptyLabel="Wybierz etap" 
					label="Etap naboru/rekrutacji: "/>		
			</p:column> -->
			

				<ui:repeat var="etapy" value="#{kartotekaRekrutacjiBean.nabor.pptRekEtapy}" varStatus="status">	
				
					<div class="ui-g-12">
						<cc:cSOMMDesign id="etapRekrutacjiId" styleClass="ui-g-5 ui-g-nopad"
								label="#{status.index eq 0? 'Etap naboru/rekrutacji:': ''}"
								value="#{etapy.nabeEtat}"
								datasource="#{kartotekaRekrutacjiBean.getSlownik('REK_ETAP')}" 
								rendered="#{'T' ne etapy.nabeFInne}"
								process="@this" 
						/>
						
						<cc:cInputTextMDesign
						        label="#{status.index eq 0? 'Etap naboru/rekrutacji:': ''}"
						        styleClass="ui-g-5 ui-g-nopad" 
								value="#{etapy.nabeEtat}"
								rendered="#{'T' eq etapy.nabeFInne}"
								placeholder="Inny Etap">
							<p:ajax event="change" process="@this" partialSubmit="true"/>		
						</cc:cInputTextMDesign>
						
						
							<cc:cSelectBooleanCheckboxTN
							    valueChangeListener="#{etapy.setNabeEtat('')}"
							    styleClass="ui-g-1 ui-g-nopad" label="Inne"
								update="@(.etapy)" style="margin-top: 20px;"
								process="@this" partialSubmit="true"
								value="#{etapy.nabeFInne}" />
							
					
						<cc:cCalendarMDesign id="dataEtapuId" styleClass="ui-g-3 ui-g-nopad"
														label="#{status.index eq 0? 'Data Etapu:': ''}"
														value="#{etapy.nabeEtapData}">
							
						</cc:cCalendarMDesign> 
					
						<h:panelGroup layout="block" styleClass="ui-g-2 ui-g-nopad"
																rendered="#{status.index eq 0}">
									<p:commandButton icon="add" partialSubmit="true"
																process="@this" update="@(.etapy)"
																action="#{kartotekaRekrutacjiBean.nabor.addNewPptRekEtapy()}" />
						</h:panelGroup>
					
						<h:panelGroup layout="block" styleClass="ui-g-2 ui-g-nopad"
																rendered="#{status.index ne 0}">
									<p:commandButton icon="delete" partialSubmit="true"
																process="@this" update="@(.etapy)"
																action="#{kartotekaRekrutacjiBean.nabor.removePptRekEtapy(etapy)}" />
						</h:panelGroup>
			
					</div>
				</ui:repeat>
	
			</h:panelGroup>
			</p:column>
		</p:row>
		
		
		<p:row>
			<p:column>
				<cc:cSOMMDesign id="WynikiNabId" 
					styleClass="mt50"
					datasource="#{kartotekaRekrutacjiBean.getSql('REK_ZAK_STATUS')}" 
					value="#{kartotekaRekrutacjiBean.nabor.nabWynik}" 
					emptyLabel="Wybierz wynik" 
					label="Wynik naboru/rekrutacji: "/>		
			</p:column>
		</p:row>		

	</p:panelGrid>

</body>
</html>