<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{kartotekaRekrutacjiBean.getSlownik('REK_RODZAJ').findAndFormat(kartotekaRekrutacjiBean.nabor.nabRodzajNaboru, '%2$s')}" />
		<ui:define name="egr_content">
			<h:form id="frmMnu" styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20 d-flex flex-wrap">

				<p:commandButton value="zapisz" id="zapiszId" icon="save"
					style="min-width: 80px;" styleClass="ctl-home-link-menu"
					partialSubmit="true" process="@form frmKartotekaRek"
					actionListener="#{kartotekaRekrutacjiBean.zapisz()}"
					update="template_growl" />

				<p:commandButton value="raporty" id="protokolId"
					icon="content_paste" style="min-width: 80px;"
					onclick="PF('kartotekaRekrutacjiKandydaciRaport').show(); return false;"
					styleClass="ctl-home-link-menu" ajax="false"
					rendered="#{kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ne 'KSC'}">
				</p:commandButton>

				<p:commandButton value="raporty i anonimizacja" id="protokolIdKSC"
					icon="content_paste" style="min-width: 80px;"
					onclick="PF('kartotekaRekrutacjiKandydaciRaport').show(); return false;"
					styleClass="ctl-home-link-menu" ajax="false"
					rendered="#{kartotekaRekrutacjiBean.nabor.nabRodzajNaboru eq 'KSC'}">
				</p:commandButton>

				<cc:cObiegCzynnosci kategoriaObiegu="ETAP_REK"
					idEncji="#{kartotekaRekrutacjiBean.nabor.nabId}"
					reloadPage="KartotekaRekrutacji" label="etap"
					rendered="#{kartotekaRekrutacjiBean.activeIndex == 1}"/>

				<p:commandButton value="anonimizuj"
					actionListener="#{zalacznikiBean.resetTs()}"
					action="#{kartotekaRekrutacjiBean.anonimizuj()}"
					icon="fingerprint"
					partialSubmit="true" process="@form frmKartotekaRek"
					update="frmKartotekaRek kartotekaRekrutacjiKandydat dlgZalacznikiId"
					rendered="#{kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ne 'KSC'}"
					>
					<p:confirm header="Anonimizacja"
						message="Czy chcesz zanonimizować dane kandydatów?"
						icon="ui-icon-alert" />
				</p:commandButton>

				<p:confirmDialog global="true" showEffect="fade"
					hideEffect="fade">
					<p:commandButton value="Tak" type="button"
						styleClass="ui-confirmdialog-yes" icon="check" />
					<p:commandButton value="Nie" type="button"
						styleClass="ui-confirmdialog-no" icon="close" />
				</p:confirmDialog>

				<cc:cZalacznikiButton
					zalFkId="#{kartotekaRekrutacjiBean.nabor.nabId}"
					zalFkFieldName="ZAL_NAB_ID"
					dlgTitle="Kartoteka rekrutacji / załączniki:" />

				<p:commandButton value="procedura naboru" id="proceduraId"
					icon="content_paste" style="min-width: 80px;"
					rendered="#{'KSC' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru or 'WYZ_ST_SC' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru}"
					actionListener="#{kartotekaRekrutacjiBean.proceduraNaboru()}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<p:commandButton
					value="ocena końcowa"
					icon="content_paste" style="min-width: 80px;"
					styleClass="ctl-home-link-menu"
					rendered="#{   'KSC' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru
								or 'WYZ_ST_SC' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru}"
					actionListener="#{kartotekaRekrutacjiBean.raportKartaOcenyKandydatow('karta_oceny_kandydatow_ksc_wyzsz')}"
					onclick="form.target = '_blank'" ajax="false" />

				<p:commandButton
					value="karta oceny"
					icon="content_paste" style="min-width: 80px;"
					styleClass="ctl-home-link-menu"
					rendered="#{'KSAP' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru}"
					actionListener="#{kartotekaRekrutacjiBean.raportKartaOcenyKandydatow('ocena_rozmow_kwalifiki_KSAP')}"
					onclick="form.target = '_blank'" ajax="false" />

				<p:commandButton
					value="ocena rozm.kw."
					icon="content_paste" style="min-width: 80px;"
					styleClass="ctl-home-link-menu"
					rendered="#{   'JED_PODL' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru
								or 'WEW_ST_POM' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru
								or 'ST_POM' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru
								or 'WEWN' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru}"
					actionListener="#{kartotekaRekrutacjiBean.raportKartaOcenyKandydatow('ocena_rozmow_kwalifiki_pom+ksc')}"
					onclick="form.target = '_blank'" ajax="false" />

				<p:commandButton
					value="protokół naboru"
					icon="content_paste" style="min-width: 80px;"
					styleClass="ctl-home-link-menu"
					rendered="#{not('WEWN' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru) and not('KSAP' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru)}"
					actionListener="#{kartotekaRekrutacjiBean.raportKartaOcenyKandydatow('protokol_z_naboru')}"
					onclick="form.target = '_blank'" ajax="false" />

				<p:commandButton
						value="ogłoszenie"
						icon="event" style="min-width: 80px;"
						styleClass="ctl-home-link-menu"
						rendered="#{'KSC' eq kartotekaRekrutacjiBean.nabor.nabRodzajNaboru}"
						actionListener="#{kartotekaRekrutacjiBean.ogloszenieRaport()}"
						onclick="form.target = '_blank'" ajax="false" />
			</h:form>

			<h:form id="frmKartotekaRek" styleClass="d-flex-1-column ov-auto m20i p20 bg-fff bsh2black">
				#{kartotekaRekrutacjiBean.loadEgSlownik('REK_SKL_RODZAJ')}

				<h2>Dane szczegółowe Kartoteki</h2>
				<p:tabView id="tabViewId" dynamic="true" cache="false"
					styleClass="pp-tbvw-wide"
					activeIndex="#{kartotekaRekrutacjiBean.activeIndex}"
					onTabChange="hgon()" onTabShow="hgoff()"
					>

					<p:tab title="Dane wniosku" >
						<ui:include src="/faces/Rekrutacja/KartotekaRekrutacjiTab1.xhtml" />
					</p:tab>

					<p:tab title="Dane naboru">
						<ui:include src="/faces/Rekrutacja/KartotekaRekrutacjiTab2.xhtml" />
					</p:tab>

					<p:tab title="Lista kandydatów">
						<ui:include src="/faces/Rekrutacja/KartotekaRekrutacjiTab3.xhtml" />
					</p:tab>

					<p:tab title="Członkowie komisji">
						<ui:include src="/faces/Rekrutacja/KartotekaRekrutacjiTab5.xhtml" />
					</p:tab>

					<p:tab title="Członkowie komisji niszczenia ofert">
						<!-- IZGL/PT 238911 x -->

						<h:panelGroup id="komisjaNO" styleClass="komisjaNO ui-g mw400">

							<p:outputLabel value="Członkowie komisji niszczenia ofert "
								styleClass="ui-g-10" />

							<p:commandButton icon="add" styleClass="ui-g-1"
								partialSubmit="true" process="@this"
								onclick="PF('dlgKomisjaNO').show();">
							</p:commandButton>

							<ui:param name="lwKNO"
								value="#{kartotekaRekrutacjiBean.getLW('PPL_REK_PRACOWNICY_DBG', 100893, 100893)}" />

							<ui:repeat var="czKNO"
								value="#{kartotekaRekrutacjiBean.nabor.zptNaborKomisjasNiszczeniaOfert}">
								<!-- 											#{czKNO}  -->
								<h:outputLabel
									value="#{lwKNO.findAndFormat(czKNO.komPrcId, '%3$s')}"
									styleClass="ui-g-10" />

								<p:commandButton icon="delete" styleClass="ui-g-1"
									action="#{kartotekaRekrutacjiBean.nabor.removeZptNaborKomisja(czKNO)}"
									onstart="hgon()" oncomplete="hgoff()"
									update="@(.komisjaNO) dlgKomisjaNO" />
							</ui:repeat>

						</h:panelGroup>
					</p:tab>

					<p:tab title="Dane ogłoszenia"
						rendered="#{kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ne 'KSC'
															and kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ne 'WYZ_ST_SC'}">
						<ui:include src="/faces/Rekrutacja/KartotekaRekrutacjiTab4.xhtml" />
					</p:tab>
				</p:tabView>
			</h:form>

			<p:dialog header="Wybór członków komisji niszczenia ofert (BDG)" height="550" width="850"
				dynamic="false"
				widgetVar="dlgKomisjaNO" appendTo="@(body)" modal="false"
				closeOnEscape="true" draggable="true" resizable="false"
				classStyle="ctl-dialog" id="dlgKomisjaNO">

				<f:facet name="header">
					<h:form id="frmDlgKomisjaNOHDR">
						<p:panelGrid style="width: 100%;">

							<p:column>
								<h:outputText value="Pracownicy BDG" />
							</p:column>

							<p:column styleClass="r10">
								<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
									onclick="PF('dlgKomisjaNO').hide();" icon="clear">
								</p:commandButton>
							</p:column>
						</p:panelGrid>
					</h:form>
				</f:facet>

				<h:form id="frmDlgKomisjaNO" styleClass="height95p d-flex-1-column">
					#{kartotekaRekrutacjiBean.ukryjWybranychKomisjaNO()}
					<div class="d-flex-1">
						<cc:cLookupTable
							datasource="#{kartotekaRekrutacjiBean.getLW('PPL_REK_PRACOWNICY_DBG', 100893, 100893)}"
							multiselect="true"
							/>
					</div>
				</h:form>

				<f:facet name="footer">
					<h:form id="frmDlgKomisjaNOFTR">
						<div class="dlgBottomBtnsBar">
							<h:panelGroup>
								<p:row>
									<p:column>
		<!-- 							action="#{terminySzkolenBean.dodajWykladowcow()}" -->
										<p:commandButton value="DODAJ"
											action="#{kartotekaRekrutacjiBean.dodajCzlonkowKomisjaNO()}"
											onstart="hgon();"
											oncomplete="PF('dlgKomisjaNO').hide(); hgoff()"
											partialSubmit="true" process="@this"
											update="dlgKomisjaNO @(.komisjaNO) @(.chkx)  @(.chkxtgglr)" />
									</p:column>
								</p:row>
							</h:panelGroup>
						</div>
					</h:form>
				</f:facet>
			</p:dialog>

			
			<ui:include src="/WEB-INF/protectedElements/Dialogs/Rekrutacja/dlgKandydat.xhtml" />
			<ui:include src="/WEB-INF/protectedElements/Dialogs/Rekrutacja/dlgKandydaciDoRaportu.xhtml" />
			
		</ui:define>
	</ui:composition>
</h:body>
</html>
