<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>

<!-- 	#{kartotekaRekrutacjiBean.loadEgListaWartosci('PPL_REK_KANDYDACI', -->
<!-- 	[kartotekaRekrutacjiBean.nabor.nabId, -->
<!-- 	kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ])} -->

	<h:panelGroup id="pnlKandydaci" styleClass="pnlKandydaci">

		<div style="position: absolute; top: 65px; right: 20px; z-index: 2;">
			<p:commandButton id="addKaId" icon="add"
				action="#{kartotekaKandydataBean.wczytajKandydat(null, 'NAB')}"
				oncomplete="PF('kartotekaRekrutacjiKandydat').show();"
				update=":dlgFormKandydatFooter" />

			<p:tooltip for="addKaId" value="Dodaj kandydata" />
		</div>

		<div class="d-flex-1">
			<c:cLookupTable height="calc(100vh - 250px)"
				insertChildrenFirst="true"
				rowSelectAction="#{kartotekaKandydataBean.wczytajKandydat(kartotekaRekrutacjiBean.getSql('PPL_REK_KANDYDACI').currentRow, 'NAB') }"
				onRowSelected="PF('kartotekaRekrutacjiKandydat').show();"
				datasource="#{kartotekaRekrutacjiBean.getLW('PPL_REK_KANDYDACI', [kartotekaRekrutacjiBean.nabor.nabId, kartotekaRekrutacjiBean.nabor.nabRodzajNaboru] )}"
				update=":dlgFormKandydatFooter"
				showColumnFooters="true"/>
		</div>

	</h:panelGroup>
</body>
</html>