<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">


<f:metadata>
</f:metadata>

<body>

	#{kartotekaRekrutacjiBean.loadEgSlownik('REK_RODZAJ')}
	#{kartotekaRekrutacjiBean.loadEgSlownik('TYP ETATU')}
	#{kartotekaRekrutacjiBean.loadEgSlownik('TYP_UMOWY')}

	#{kartotekaRekrutacjiBean.loadEgListaWartosci('PP_PRC_IM_NAZ_LACZNIE', [])}

	#{kartotekaRekrutacjiBean.loadEgListaWartosci('PP_JEDNOSTKI', [])}

    #{kartotekaRekrutacjiBean.loadEgListaWartosci('PP_STAN_W_JEDN',  [kartotekaRekrutacjiBean.nabor.nabWydzialId] )}



	#{kartotekaRekrutacjiBean.loadSqlData('sqlSymbolStn', ' select sto_id,
	sto_symbol from ZPT_STANOWISKA_OPIS where sto_id = ? ',
	[kartotekaRekrutacjiBean.nabor.nabStjoId] )}

	<p:panelGrid style="width: 100%">
		<p:row>
			<p:column colspan="4">
				<p:spacer height="20" width="100%" />
			</p:column>
		</p:row>
		
		<p:row>
			<p:column colspan="6">
					<cc:cInputTextMDesign id="JednostkaOrgId" readonly="true"
						value="#{kartotekaRekrutacjiBean.getSql('PP_JEDNOSTKI').findAndFormat(kartotekaRekrutacjiBean.nabor.nabObId, '%2$s')}" 
						label="Jednostka organizacyjna: ">
					</cc:cInputTextMDesign>
			</p:column>
		</p:row>
		
			
		<p:row>
			<p:column colspan="6">
					<cc:cInputTextMDesign id="stanowiskoId" readonly="true"
						value="#{kartotekaRekrutacjiBean.getSql('PP_STAN_W_JEDN').findAndFormat(kartotekaRekrutacjiBean.nabor.nabStjoId, '%3$s')}" 
						label="Stanowisko: ">
					</cc:cInputTextMDesign>
			</p:column>
		</p:row>	
			
			
		<p:row>
			<p:column colspan="6">
					<cc:cInputTextMDesign id="rodzNaboruId" readonly="true"
						value="#{kartotekaRekrutacjiBean.getSql('REK_RODZAJ').findAndFormat(kartotekaRekrutacjiBean.nabor.nabRodzajNaboru, '%2$s')}"
						label="Rodzaj naboru/rekrutacji: ">
					</cc:cInputTextMDesign>
			</p:column>
		</p:row>	
			
			
		<p:row>
			<p:column colspan="6">
					<cc:cInputTextMDesign id="lWakatId" readonly="true"
						value="#{kartotekaRekrutacjiBean.nabor.nabLiczbaWakatow}" 
						label="Liczba wakatów: ">
					</cc:cInputTextMDesign>
			</p:column>
		</p:row>	
			
		<p:row rendered="#{kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ne 'ST_POM' and 
			kartotekaRekrutacjiBean.nabor.nabRodzajNaboru ne 'WEW_ST_POM'}" >
			<p:column colspan="4" >
					#{kartotekaRekrutacjiBean.loadEgListaWartosci('PP_SYMB_STN',
					[kartotekaRekrutacjiBean.nabor.getNabObId(),
					kartotekaRekrutacjiBean.nabor.nabStnId] )}
					<p:panelGrid class="gdSymboleOpisu" >

						<ui:repeat value='#{kartotekaRekrutacjiBean.nabor.zptNabSymbs}'
							var="o" varStatus="status">

							<p:row>
								<p:column>
										<cc:cInputTextMDesign id="idSymbStanow" readonly="true"
												value="#{kartotekaRekrutacjiBean.getSql('PP_SYMB_STN').findAndFormat(o.nsmStoId, '%2$s')}" 
												label="#{status.index eq 0 ? 'Symbole opisu stanowiska pracy:' : ''}">
										</cc:cInputTextMDesign>
								</p:column>

								<p:column >
										<cc:cCalendarMDesign  value="#{o.nsmNabDataWolneOd}"
											locale="pl" placeholder="rrrr-mm-dd" 
											readonly="true" 
											label="#{status.index eq 0 ? 'Stanowisko pracy wolne od dnia: ' : ''}"/>
								</p:column>
							</p:row>
						</ui:repeat>
					</p:panelGrid>
					<p:column styleClass="w25"></p:column>
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="4">
				<p:spacer height="20" width="100%" />
			</p:column>
		</p:row>
			
		<p:row>
			<p:column colspan="7" >
				<p:outputLabel value="Proponowany mnożnik przez komórkę wnioskującą:" styleClass="label-small" />
			</p:column>
		</p:row>

		<p:row rendered="#{kartotekaRekrutacjiBean.nabor.nabRodzajNaboru eq 'KSC' || 
			kartotekaRekrutacjiBean.nabor.nabRodzajNaboru eq 'WEWN' || 
			kartotekaRekrutacjiBean.nabor.nabRodzajNaboru eq 'KSAP' ||
			kartotekaRekrutacjiBean.nabor.nabRodzajNaboru eq 'JED_PODL'}">
			<p:column colspan="2">
					<cc:cInputTextMDesign id="PropMnMinId" readonly="true"
						value="#{kartotekaRekrutacjiBean.nabor.nabMnoznikMin}" 
						label="Minimalny: ">
					</cc:cInputTextMDesign>
			</p:column>
			<p:column style="min-width: 30px;"></p:column>
			<p:column colspan="2">
					<cc:cInputTextMDesign id="AkcMnMinId" readonly="true"
						value="#{kartotekaRekrutacjiBean.nabor.nabMnoznikMax}" 
						label="Maksymalny: ">
					</cc:cInputTextMDesign>
			</p:column>
		</p:row>	
		
		<p:row>
			<p:column colspan="7" >
				<p:outputLabel value="Zaakceptowany mnożnik przez Dyrektora Generalnego:" styleClass="label-small" 
					style="margin-bottom:30px;"/>
			</p:column>
		</p:row>
			
		
		<p:row rendered="#{kartotekaRekrutacjiBean.nabor.nabRodzajNaboru eq 'KSC' 
		|| kartotekaRekrutacjiBean.nabor.nabRodzajNaboru eq 'WEWN' 
		|| kartotekaRekrutacjiBean.nabor.nabRodzajNaboru eq 'KSAP' 
		|| kartotekaRekrutacjiBean.nabor.nabRodzajNaboru eq 'JED_PODL'}">
			<p:column colspan="2">
					<cc:cInputTextMDesign id="AkcMnMaxId" readonly="true"
						value="#{kartotekaRekrutacjiBean.nabor.nabMnoznikMinAkc}" 
						label="Minimalny: ">
					</cc:cInputTextMDesign>
			</p:column>
			<p:column style="min-width: 30px;"></p:column>
			<p:column colspan="2">
					<cc:cInputTextMDesign id="PropMnMaxId" readonly="true"
						value="#{kartotekaRekrutacjiBean.nabor.nabMnoznikMaxAkc}" 
						label="Maksymalny: ">
					</cc:cInputTextMDesign>
			</p:column>
		</p:row>
		
			
		
		<p:row>
			<p:column colspan="2">
					<cc:cInputTextMDesign id="wymEtId" readonly="true"
						value="#{kartotekaRekrutacjiBean.getSql('TYP ETATU').findAndFormat(kartotekaRekrutacjiBean.nabor.nabWymiarEtatu, '%2$s')}" 
						label="Wymiar etatu: ">
					</cc:cInputTextMDesign>
			</p:column>
		</p:row>
		
		
		
		
		
		<p:row rendered="#{kartotekaRekrutacjiBean.nabor.nabRodzajNaboru eq 'WEW_ST_POM' 
					|| kartotekaRekrutacjiBean.nabor.nabRodzajNaboru eq 'ST_POM' }">
							
							<p:column colspan="3">
							</p:column>
							<p:column colspan="1" style="min-height: 10px;">
								<p:spacer height="7" width="100%" />
							</p:column>
							<p:column rowspan="6" >
								<p:panelGrid style="width: 100%;">
									<p:column width="400px">
										<p:outputLabel value="Rodzaj składnika" />
									</p:column>

									<p:column width="250px">
										<p:outputLabel value="Kategoria/Procent" />
									</p:column>

									<p:column width="250px">
										<p:outputLabel value="Kwota" />
									</p:column>
									<ui:repeat
										value='#{kartotekaRekrutacjiBean.zptNaborSkladSorted}'
										var="s" varStatus="status">
										<p:row>
											<p:column>
												<p:outputLabel
													value="#{kartotekaRekrutacjiBean.rodzajSkladnika(s.nskRodzaj)}"
													styleClass="label-13" />
											</p:column>

											<p:column>
													<!-- rendered="#{s.nskRodzaj ne 'WYNAGR'}" -->
													<cc:cInputNumberMDesign id="prcSkladnikaId" style="width:40px"
														readonly="true"
														
														onfocus="this.parentElement.classList.add('span-focus');"
														onblur="this.parentElement.classList.remove('span-focus');"
														value="#{s.nskProcent}" 
														symbol="#{s.nskRodzaj ne 'WYNAGR' ? '%':'' }"
														decimalPlaces="#{s.nskRodzaj ne 'WYNAGR' ? '2':'0' }" 
														symbolPosition="s"
														emptyValue="sign"
														placeholder="wprowadź wartość">
													</cc:cInputNumberMDesign>
											</p:column>

											<p:column>
													<cc:cInputNumberMDesign id="kwtaSkladnikaId" style="width:40px"
														readonly="true"
														onfocus="this.parentElement.classList.add('span-focus');"
														onblur="this.parentElement.classList.remove('span-focus');"
														value="#{s.nskWartosc}" placeholder="wprowadź wartość">
													</cc:cInputNumberMDesign>
											</p:column>
										</p:row>
									</ui:repeat>
								</p:panelGrid>
							</p:column>
						</p:row>
		
		
		
		
		
		
		
		
		<p:row>
			<p:column colspan="6">
				<p:outputLabel value="Etat:" styleClass="label-small" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="6">
				<p:selectOneRadio id="wew"
					value="#{kartotekaRekrutacjiBean.nabor.nabEtatZastepstwo}"
					disabled="true"
					styleClass="radioLabel">
					<f:selectItem itemLabel="Zwykły" itemValue="N" />
					<f:selectItem itemLabel="Na zastępstwo" itemValue="T" />
				</p:selectOneRadio>
			</p:column>
		</p:row>
		
		
		
		
		<p:row>
			<p:column colspan="4">
				<p:spacer height="20" width="100%" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="6" style="padding-bottom:30px!important;">
				<p:outputLabel value="Źródło finansowania:" />
			</p:column>
		</p:row>

		<p:row>
			<p:column colspan="2" styleClass="w450">
					<cc:cInputNumberMDesign id="zFunduszuWynagrodzenId"
						value="#{kartotekaRekrutacjiBean.nabor.nabEtatZFundWynagr}"
						onfocus="this.parentElement.classList.add('span-focus');"
						onblur="this.parentElement.classList.remove('span-focus');"
						decimalPlaces="2" symbol="%" symbolPosition="s" emptyValue="sign"
						readonly="true"
						label="Z funduszu wynagrodzeń: ">
					</cc:cInputNumberMDesign>
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="2"
				style="padding-right: 15px !important; min-width:40%;"><!-- styleClass="w450" -->

					<cc:cInputNumberMDesign id="zRezerwyCelowejId"
						onfocus="this.parentElement.classList.add('span-focus');"
						onblur="this.parentElement.classList.remove('span-focus');"
						value="#{kartotekaRekrutacjiBean.nabor.nabEtatRezerwa}"
						decimalPlaces="2" symbol="%" symbolPosition="s" emptyValue="sign"
						readonly="true"
						label="Z rezerwy celowej: ">
					</cc:cInputNumberMDesign>
			</p:column>
			<p:column style="min-width: 30px;"></p:column>
			<p:column colspan="2" styleClass="w550"> <!-- styleClass="w450" -->
					<cc:cInputTextMDesign id="zJakiejRezerwyCelowejId" 
						value="#{kartotekaRekrutacjiBean.nabor.nabEtatRezerwaTyp}"
						readonly="true"
						label="Z jakiej rezerwy celowej:">
					</cc:cInputTextMDesign>

			</p:column>

		</p:row>
		<p:row>
		</p:row>
		<p:row>

			<p:column colspan="2" styleClass="w450"
				style="padding-right: 15px !important;">

					<cc:cInputNumberMDesign id="wRamachProjektuId"
						onfocus="this.parentElement.classList.add('span-focus');"
						onblur="this.parentElement.classList.remove('span-focus');"
						value="#{kartotekaRekrutacjiBean.nabor.nabEtatProjekt}"
						decimalPlaces="2" symbol="%" symbolPosition="s" emptyValue="sign"
						placeholder="wprowadź wartość"
						readonly="true"
						label="W ramach projektu: ">
					</cc:cInputNumberMDesign>
			</p:column>
			<p:column style="min-width: 30px;"></p:column>

			<p:column colspan="2" styleClass="w550">
			
			<c:cInputTextMDesign value="#{rekrutacjaWniosekBean.getLW('PPL_WSP_PROJEKTY').findAndFormat(rekrutacjaWniosekBean.nabor.nabProjObId, '%2$s')}" readonly="true"
			 label="W ramach jakiego projektu:"/>
			


			</p:column>
		</p:row>


		<p:row>
			<p:column colspan="6">
				<p:spacer height="45" width="100%" />
			</p:column>
		</p:row>


	
		<p:row>
			<p:column colspan="6">
				
					<cc:cInputTextAreaMDesign id="uzasdId" styleClass="lekka-ramka" cols="80" rows="2"
						counter="lblPodsumowanie" autoResize="true"
						counterTemplate="Uzasadnienie: " readonly="true"
						value="#{kartotekaRekrutacjiBean.nabor.nabUzasadnienie}"
						label="Uzasadnienie: ">
					</cc:cInputTextAreaMDesign>
			</p:column>
		</p:row>
		
		<p:row>
			<p:column colspan="6">
					<cc:cInputTextAreaMDesign id="uwagiId" styleClass="lekka-ramka" cols="80" rows="2"
						counter="lblUwagi" autoResize="true"
						counterTemplate="Uwagi: " readonly="true"
						value="#{kartotekaRekrutacjiBean.nabor.nabUwagi}"
						label="Uwagi: ">
					</cc:cInputTextAreaMDesign>
			</p:column>
		</p:row>
		#{kartotekaRekrutacjiBean.loadEgListaWartosci('PP_PRC_IM_NAZ_LACZNIE', [])}

		
		<p:row>
			<p:column colspan="2">
				<p:spacer height="20" width="100%" />
			</p:column>
		</p:row>
			
		

	</p:panelGrid>
</body>
</html>