<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<body>
<ui:composition
        template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
    <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
    <ui:param name="formName" value="Lista Kartotek Rekrutacji"/>
    <ui:define name="egr_content">

        <h:form styleClass="bg-fff bsh2black m20i p20 flex-1">

            #{listaKartotekBean.loadEgListaWartosci('PP_REK_KARTOTEKI',  [user.dbLogin] )}

            <c:cLookupTable
                    datasource="#{listaKartotekBean.getSql('PP_REK_KARTOTEKI')}"
                    rowSelectAction="#{listaKartotekBean.editSelectedRow}"
            />

        </h:form>

    </ui:define>
</ui:composition>
</body>
</html>

