<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsf/composite"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">



<body>
<!-- 	<h:panelGrid styleClass="debug"> -->
<!-- 		raport Nabor_rekrutacja -->
<!-- 	</h:panelGrid> -->

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Raport Nabór/Rekrutacja" />
		
		<ui:define name="egr_content">
			
<!-- 				<pe:layoutPane position="north" resizable="false" closable="false" -->
<!-- 					spacingOpen="0" spacingClosed="0" styleClassContent="pp-btns-bar"> -->
<!-- 				</pe:layoutPane> -->

<!-- 				<pe:layoutPane position="center" resizable="false" closable="false" -->
<!-- 					spacingOpen="0" spacingClosed="0" styleContent="padding:20px"> -->
				<div class="pp-center p20">
				
				<h:form id="frm" styleClass="bg-fff bsh2black p20 ui-g" style="overflow:auto; height:calc(100vh - 40px);">	
				
						<div class="ui-g-5 ui-lg-5 ui-md-12 ui-sm-12">
							<h3 style="margin: 0;">
								Widoczne kolumny raportu:
							</h3>

								<cc:cSelectBooleanCheckboxTN label="Nazwa komórki organizacyjnej" styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazKomOrg}" />

								<cc:cSelectBooleanCheckboxTN label="Rodzaj naboru / rekrutacji" styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazRodzNaboru}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Numer oferty"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazNumOferty}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Numer ogłoszenia"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazNumerOglosz}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Nazwa stanowiska"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazNazwStanow}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Wymiar etatu"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazWymiarEtatu}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Rodzaj umowy"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazRodzajUmowy}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Liczba wakatów"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazLiczbeWakatow}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Źródło finansowania"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazZrodloFinansowania}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Termin składania dokumentów"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazTerminSklDokumentow}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Status procesu naboru / rekrutacji"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazStatusProcesuNaboru}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Symbol opisu stanowiska pracy"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazSymbolOpisuStanowiska}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Data publikacji ogłoszenia"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazDatePublikacjiOgloszenia}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Liczba kobiet"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazLiczbeKobiet}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Liczba mężczyzn"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazLiczbeMezczyzn}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Liczba kandydatów niepełnosprawnych"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazLiczbeKandydNiepelnospr}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Liczba kobiet niepełnosprawnych"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazLiczbeKobietNiepelnospr}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Liczba mężczyzn niepełnosprawnych"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazLiczbeMezczyznNiepelnospr}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Liczba kandydatów spełniających wymagania formalne"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazLiczbeKandydWymFormalne}"/>
							
								<cc:cSelectBooleanCheckboxTN label="Liczba wszystkich kandydatów"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazLiczbeKandydatow}"/> 
									
								<cc:cSelectBooleanCheckboxTN label="Data zakończenia naboru"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazDateZakonczenia}"/>
									
								<cc:cSelectBooleanCheckboxTN label="Etap"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazEtap}"/>												

								<cc:cSelectBooleanCheckboxTN label="Nazwa etapu"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazEtapNazwa}"/>												

								<cc:cSelectBooleanCheckboxTN label="Data etapu"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazEtapData}"/>		
									
								<cc:cSelectBooleanCheckboxTN label="Wynik naboru/rekrutacji"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazWynikOpis}"/>	
									
								<cc:cSelectBooleanCheckboxTN label="Imiona i nazwiska zatrudnionych kandydatów oraz daty zatrudnienia"  styleClass="ui-g-12"
									value="#{naborRekrutacjaRaportBean.pokazZatrudnionychiDaty}"/>													
																		
																		
						</div>	
						
						
						
						
						<div class="ui-g-7 ui-lg-7 ui-md-12 ui-sm-12">
							<div class="ui-g-12">
								<h3>
									Filtr według:
								</h3>
								
								<div class="ui-g-12"></div>
								<cc:cCalendarMDesign label="Data publikacji od:" value="#{naborRekrutacjaRaportBean.dataPublikacjiOd}" styleClass="ui-g-4" />
								<cc:cCalendarMDesign label="Data publikacji do:" value="#{naborRekrutacjaRaportBean.dataPublikacjiDo}" styleClass="ui-g-4" />
								
								<div class="ui-g-12"></div>
								<cc:cCalendarMDesign label="Termin ofert od:" value="#{naborRekrutacjaRaportBean.terminOfertOd}" styleClass="ui-g-4" />
								<cc:cCalendarMDesign label="Termin ofert do:" value="#{naborRekrutacjaRaportBean.terminOfertDo}" styleClass="ui-g-4" />
								
								<div class="ui-g-12"></div>
								<cc:cCalendarMDesign label="Data zakończenia od:" value="#{naborRekrutacjaRaportBean.dataZakonczeniaOd}" styleClass="ui-g-4" />
								<cc:cCalendarMDesign label="Data zakończenia do:" value="#{naborRekrutacjaRaportBean.dataZakonczeniaDo}" styleClass="ui-g-4" />

								<div class="ui-g-12 mt10">
								<cc:cSOMMDesign label="Rodzaj naboru: "  
									datasource="#{naborRekrutacjaRaportBean.getSlownik('REK_RODZAJ')}" value="#{naborRekrutacjaRaportBean.rekRodzaj}" width="540"/>								
								</div>
								
							</div>			

						<div class="ui-g-12 h25 w5"></div> 

							<div class="ui-g-12">
	
	
								<div class="ui-g-7">
									<h3>
										Sortowanie według:
									</h3>
															
									<p:selectOneRadio value="#{naborRekrutacjaRaportBean.sortujWedlug}" 
										columns="1" layout="grid">
										<f:selectItem itemLabel="Nazwy komórki organizacyjnej" itemValue="SortujWgKomorkiOrg" />
										<f:selectItem itemLabel="Rodzaj naboru" itemValue="SortujWgRodzajuNaboru"/>
										<f:selectItem itemLabel="Numeru oferty" itemValue="SortujWgNrOferty" />
										<f:selectItem itemLabel="Numeru ogłoszenia" itemValue="SortujWgNrOgloszenia" />
										<f:selectItem itemLabel="Daty" itemValue="SortujWgDaty" />
									</p:selectOneRadio>
								</div>
	
								
	<!-- 							<div class="ui-g-12 h25 w5"></div> -->
	
								
								<div class="ui-g-4">
									<h3>
										Sortuj:
									</h3>
									<p:selectOneRadio value="#{naborRekrutacjaRaportBean.sortujRosnacoMalejaco}"  
										columns="1" layout="grid">
										<f:selectItem itemLabel="Rosnąco" itemValue="SortujRosnaco" />
										<f:selectItem itemLabel="Malejąco" itemValue="SortujMalejaco" />
									</p:selectOneRadio>
								</div>
	
							</div>
							
							<div class="ui-g-12 h25 w5"></div>

							
							<div class="ui-g-12">
							
										
								<p:commandButton value="Generuj raport (XLS)" 
										actionListener="#{naborRekrutacjaRaportBean.raportXLS()}"
										partialSubmit="true" process="@this frm"
										class="btn-dark" style="float: none" 
										onclick="form.target = '_blank'" ajax="false"/>
										
								<p:commandButton value="Generuj raport (PDF)" 
										actionListener="#{naborRekrutacjaRaportBean.raport()}"
										partialSubmit="true" process="@this frm"
										class="btn-dark" style="float: none" 
										onclick="form.target = '_blank'" ajax="false"/>										
																				
							</div>
						</div>
 
					</h:form>
					</div>
<!-- 				</pe:layoutPane> -->
			</ui:define>
		</ui:composition>
	</body>
</html>				








