<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Informacje o przetwarzaniu danych" />

		<ui:define name="egr_content">

			<h:form id="frmCntr" styleClass="bg-fff bsh2black m20i p20 flex-1">

				<p:accordionPanel id="accOchD" widgetVar="accOchD" dynamic="false" styleClass="d-flex-1-column">
					<p:tab title="Wyszukiwanie">

						<f:facet name="title">
							<h:panelGroup id="lblTabOchD" styleClass="kand">
									Wyszukiwanie: #{ochronaDanychBean.kandydat.kaImie} #{ochronaDanychBean.kandydat.kaNazwisko}
							</h:panelGroup>
						</f:facet>

						<div class="d-flex-1 mt20">
							<cc:cLookupTable height="calc(100vh - 200px)"
								datasource="#{ochronaDanychBean.getLW('ppl_rek_kandydaci_rodo')}"
								value="#{ochronaDanychBean.kaId}"
								onRowSelectStart="hgon();"
								onRowSelected=" PF('accOchD').select(1); hgoff(); "
								update="@(.udst) @(.kand)"
								btnsAddDelEdit="true"
								btnAddHide="true"
								btnDeleteHide="true"
								btnEditActionListener="#{ochronaDanychBean.editKandydatOchronaDanychActionListener}"
							/>
						</div>
					</p:tab>

					<p:tab title="Ochrona danych / udostępnienia:">
						<h:panelGroup id="udst" styleClass="udst">
							<div class="d-flex-1 mt20">
								<cc:cLookupTable height="calc(100vh - 220px)"
									datasource="#{ochronaDanychBean.getLW('PPL_REK_KAND_UDST_RODO', ochronaDanychBean.kaId)}"
									btnsAddDelEdit="true"
									btnAddActionListener="#{ochronaDanychBean.addUDSTActionListener}"
									btnDeleteActionListener="#{ochronaDanychBean.deleteUDSTActionListener}"
									btnDeleteConfirmMessage="Czy na pewno chcesz skasować te dane?"
									btnEditActionListener="#{ochronaDanychBean.editUDSTActionListener}"
									/>
							</div>

							<p:commandButton value="Informacja o przetwarzaniu danych"
								icon="content_paste"
								actionListener="#{ochronaDanychBean.raport}"
								styleClass="granatowy"
								onclick="form.target = '_blank'" ajax="false" />
						</h:panelGroup>
					</p:tab>

				</p:accordionPanel>

			</h:form>

			
<p:dialog width="850" 
		dynamic="true"
		id="dlgUDST"
		widgetVar="dlgUDST" appendTo="@(body)" modal="true"
		closeOnEscape="true" draggable="true" resizable="false"
		classStyle="ctl-dialog">

		<f:facet name="header">
			<h:form id="frmDlgUDSTHdr">
				<p:panelGrid style="width:100%">

					<p:column>
						<h:outputText value="Ochrona danych / udsostępnianie" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							onclick="PF('dlgUDST').hide();" icon="clear">
						</p:commandButton>
					</p:column>
				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="frmDlgUDSTCntr">

			<div class="ui-g ui-g-nopad">
				
					<cc:cInputTextMDesign label="Udostępniono dla" value="#{ochronaDanychBean.udst.udstKomu}" required="true" styleClass="ui-g-9"/>
					
					<cc:cCalendarMDesign label="Data udostępnienia" value="#{ochronaDanychBean.udst.udstData}" required="true" styleClass="ui-g-3" />

					<cc:cSOMMDesign label="Podmiot uprawniony" 
						datasource="#{ochronaDanychBean.getLW('PPL_EG_SLOWNIK' , 'EK_PODMIOTY_UPRAWNIONE')}" 
						value="#{ochronaDanychBean.udst.udstPodmiotUprawniony}" styleClass="ui-g-9"/>
					
					<div class="ui-g-3 mt20" style="padding-left:20px">
						<cc:cSelectBooleanCheckboxTN label="Odbiorca danych" value="#{ochronaDanychBean.udst.udstFOdbiorcaDanych}"/>
					</div>

					<cc:cInputTextMDesign label="Zakres" value="#{ochronaDanychBean.udst.udstZakres}" required="true" styleClass="ui-g-12"/>
					
					<cc:cInputTextAreaMDesign label="Opis" value="#{ochronaDanychBean.udst.udstOpis}" styleClass="ui-g-12"/>

			</div>
			<br/><br/>
		</h:form>
		<f:facet name="footer">
			<h:form id="frmDlgUDSTFtr">
				<div class="dlgBottomBtnsBar">
					<h:panelGroup>
						<p:row>
							<p:column>
								<p:commandButton value="Zapisz" partialSubmit="true"
									actionListener="#{ochronaDanychBean.saveUDSTActionListener}"
									process="@this dlgUDST" update="template_growl" />
							</p:column>
						</p:row>
					</h:panelGroup>
				</div>
			</h:form>
		</f:facet>

</p:dialog>


<p:dialog width="550" 
		dynamic="true"
		id="dlgKandOchrona"
		widgetVar="dlgKandOchrona" appendTo="@(body)" modal="true"
		closeOnEscape="true" draggable="true" resizable="false"
		classStyle="ctl-dialog">

		<f:facet name="header">
			<h:form id="frmDlgKandOchronaHdr">
				<p:panelGrid style="width:100%">

					<p:column>
						<h:outputText value="#{ochronaDanychBean.kandydat.kaImie} #{ochronaDanychBean.kandydat.kaNazwisko}" />
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							onclick="PF('dlgKandOchrona').hide();" icon="clear">
						</p:commandButton>
					</p:column>
				</p:panelGrid>
			</h:form>
		</f:facet>

		<h:form id="frmDlgKandOchronaCntr">

			<div class="ui-g ui-g-nopad">

				<cc:cSOMMDesign styleClass="ui-g-12"
					label="Źródło danych: "
					value="#{ochronaDanychBean.kandydat.kaZrodloDanych}" 
					datasource="#{kartotekaKandydataBean.getLW('PPL_EG_SLOWNIK',['ZRODLA_DANYCH'])}"
					textFormat="%2$s"
					/>

				<br/><br/>
				
				<div class="ui-g-12 mt20" style="padding-left:20px"> 
				<cc:cSelectBooleanCheckboxTN 
					label="Czy kandydat wyraził zgodę na przetwarzanie danych osobowych?"
					value="#{ochronaDanychBean.kandydat.kaFCzyZgodaNaPrzeDanych}"/>
				</div>
				<br/><br/>

			</div>
			<br/><br/>
		</h:form>
		<f:facet name="footer">
			<h:form id="frmDlgKandOchronaFtr">
				<div class="dlgBottomBtnsBar">
					<h:panelGroup>
						<p:row>
							<p:column>
								<p:commandButton value="Zapisz" partialSubmit="true"
									actionListener="#{ochronaDanychBean.saveKandydatOchronaDanychActionListener}"
									process="@this dlgKandOchrona" update="template_growl" />
							</p:column>
						</p:row>
					</h:panelGroup>
				</div>
			</h:form>
		</f:facet>
</p:dialog>			

		</ui:define>
	</ui:composition>
</body>
</html>