<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Wniosek rekrutacji" />
		<ui:define name="egr_content">

			<h:form id="frm1" styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20 d-flex flex-wrap">
				<p:commandButton value="zapisz" id="zapiszId" icon="save"
					style="min-width: 80px;" styleClass="ctl-home-link-menu"
					partialSubmit="true" process="@form frmId"
					update="@form dlgZalacznikiId template_growl"
					actionListener="#{rekrutacjaWniosekBean.zapisz()}" />

				<p:commandButton value="usuń wniosek" id="usunId"
					disabled="#{rekrutacjaWniosekBean.nabor.nabId == null}"
					icon="delete_forever" style="min-width: 80px;"
					styleClass="ctl-home-link-menu"
					actionListener="#{rekrutacjaWniosekBean.usun()}">
					<p:confirm header="Uwaga"
						message="Czy na pewno chcesz usunąć wniosek?"
						icon="ui-icon-alert" />
				</p:commandButton>

				<p:confirmDialog global="true" showEffect="fade"
					hideEffect="fade" style="width: 300px;">
					<p:commandButton value="TAK" type="button"
						styleClass="ui-confirmdialog-yes" />

					<p:commandButton value="NIE" type="button"
						styleClass="ui-confirmdialog-no" />
				</p:confirmDialog>

				<cc:cZalacznikiButton dlgTitle="Załączniki wniosku"
					zalFkId="#{rekrutacjaWniosekBean.nabor.nabId}"
					zalFkFieldName="ZAL_PP_NAB_ID"
					disabled="#{rekrutacjaWniosekBean.nabor.nabId == null or rekrutacjaWniosekBean.nabor.nabId == 0}" />

				<cc:cObiegCzynnosci kategoriaObiegu="WN_NABORY"
					idEncji="#{rekrutacjaWniosekBean.nabor.nabId}"
					reloadPage="RekrutacjaWniosek3"
					whereCzynnosci="  not(C.CDW_DSTN_NAZWA_OD='POZIOM55' and C.CDW_DSTN_NAZWA_DO='POZIOM60')
								  and not(C.CDW_DSTN_NAZWA_OD='POZIOM50' and C.CDW_DSTN_NAZWA_DO='POZIOM60')"
					 />

				<p:commandButton value="raport" id="raportId"
					icon="content_paste" style="min-width: 80px;"
					actionListener="#{rekrutacjaWniosekBean.raport()}"
					disabled="#{rekrutacjaWniosekBean.czyNowy}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<p:commandButton value="oświadczenia członków komisji" id="oczkId"
					icon="content_paste" style="min-width: 80px;"
					actionListener="#{rekrutacjaWniosekBean.raportOswiadczenieCzlonkaKomisji()}"
					disabled="#{rekrutacjaWniosekBean.czyNowy}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<p:commandButton value="ogłoszenie" id="ogloszenieId"
					icon="event" style="min-width: 80px;"
					actionListener="#{rekrutacjaWniosekBean.ogloszenieRaport()}"
					disabled="#{rekrutacjaWniosekBean.czyNowy}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

			</h:form>

			<h:form id="frmId" styleClass="d-flex-1-column ov-auto p20 m20i bg-fff bsh2black">

				#{rekrutacjaWniosekBean.loadSqlData('sqlKomOrg',
					'select
						OB_ID,
						OB_OB_ID
					from CSS_OBIEKTY_W_PRZEDSIEB
					where ob_id = ?
				',  [rekrutacjaWniosekBean.nabor.nabObId]
				)}
				#{rekrutacjaWniosekBean.loadEgSlownik('REK_RODZAJ')}
				#{rekrutacjaWniosekBean.loadEgSlownik('REK_SKL_RODZAJ')}

				<h2>#{rekrutacjaWniosekBean.getSql('REK_RODZAJ').findAndFormat(rekrutacjaWniosekBean.nabor.nabRodzajNaboru, '%2$s')}</h2>

				<p:tabView styleClass="pp-tbvw-wide">
					<p:tab title="Wniosek">
						<h:panelGroup id="pnlGrdId" styleClass="pnlgrd-wnioski-rekrut">
							<div class="ui-g padd-cc-mdesign-b25">
								<div class="ui-g-12 ui-lg-6 ui-xl-6">
									<cc:cLOVMDesign id="idKomOrg"
										lovDlgTitle="Wybór komórki organizacyjnej"
										datasource="#{rekrutacjaWniosekBean.getLW('PP_DEPARTAMENTY')}"
										lovTextFormat="%3$s" valueFormat="%1$s"
										value="#{rekrutacjaWniosekBean.nabor.nabObId}"
										update="@(.pnlgrd-wnioski-rekrut) @(.czlonkowie-komisji)"
										label="Komórka organizacyjna:" />
								</div>

								<div class="ui-g-12 ui-lg-6 ui-xl-6">
									<cc:cLOVMDesign id="idWydzia" lovDlgTitle="Wybór wydziału"
										datasource="#{rekrutacjaWniosekBean.getLW('PP_WYDZIALY', [rekrutacjaWniosekBean.nabor.nabObId])}"
										value="#{rekrutacjaWniosekBean.nabor.nabWydzialId}"
										lovTextFormat="%3$s" valueFormat="%1$s"
										update="@(.pnlgrd-wnioski-rekrut) @(.czlonkowie-komisji)"
										style="min-width: 450px;" label="Wydział:" />
								</div>
							</div>

							<div class="ui-g padd-cc-mdesign-b25">
								<div class="ui-g-12 ui-lg-6 ui-xl-6">
									<cc:cSOMMDesign id="idStanow" emptyLabel="Wybierz stanowisko"
										datasource="#{rekrutacjaWniosekBean.getLW('PP_STAN_POM_W_JEDN', [rekrutacjaWniosekBean.nabor.nabWydzialId, 'STN_POM'] )}"
										value="#{rekrutacjaWniosekBean.nabor.nabStjoId}"
										textFormat="%3$s"
										update="@(.pnlgrd-wnioski-rekrut)" label="Stanowisko: " />
<!-- 												valueChangeListener="#{rekrutacjaWniosekBean.setIdStanowiska}" -->
								</div>
							</div>

							<div class="ui-g padd-cc-mdesign-b25">
								<div class="ui-g-12 ui-lg-6 ui-xl-6">
									#{rekrutacjaWniosekBean.loadEgSlownik('TYP_UMOWY')}
									<cc:cSOMMDesign id="idRodzPropUm"
										emptyLabel="#{rekrutacjaWniosekBean.nabor.nabRodzajPropUmowy}"
										datasource="#{rekrutacjaWniosekBean.getSql('TYP_UMOWY')}"
										value="#{rekrutacjaWniosekBean.nabor.nabRodzajPropUmowy}"
										disabled="true" style="min-width: 100% !important;"
										label="Rodzaj proponowanej umowy: " />
								</div>
								<div class="ui-g-12 ui-lg-6 ui-xl-6">
									#{rekrutacjaWniosekBean.loadEgSlownik('TYP ETATU')}
									<cc:cSOMMDesign id="idWymEt" emptyLabel="Wybierz wymiar etatu"
										datasource="#{rekrutacjaWniosekBean.getSql('TYP ETATU')}"
										value="#{rekrutacjaWniosekBean.nabor.nabWymiarEtatu}"
										style="min-width: 100% !important;" label="Wymiar etatu: " />
								</div>
							</div>
							<div class="ui-g padd-cc-mdesign-b25">
								<div class="ui-g-6">
									<p:outputLabel value="Etat:" styleClass="label-small" />
									<p:selectOneRadio id="wew"
										value="#{rekrutacjaWniosekBean.nabor.nabEtatZastepstwo}"
										styleClass="radioLabel">
										<f:selectItem itemLabel="Zwykły" itemValue="N" />
										<f:selectItem itemLabel="Na zastępstwo" itemValue="T" />
										<p:ajax event="change" />
									</p:selectOneRadio>
								</div>
								<div class="ui-g-6">
									<cc:cInputNumberMDesign id="liczbaWakatowId" styleClass="liczbaWakatow"
										label="Liczba etatów: "
										value="#{rekrutacjaWniosekBean.nabor.nabLiczbaWakatow}"
										readonly="false" decimalPlaces="0">
										<p:ajax event="change" />
									</cc:cInputNumberMDesign>
								</div>
							</div>

							<div class="ui-g padd-cc-mdesign-b15">
								<div class="ui-g-12">
									<p:outputLabel value="Źródło finansowania:" />
								</div>
								<div class="ui-g-12 ui-lg-6 ui-xl-6">
									<cc:cInputNumberMDesign id="zFunduszuWynagrodzenId"
										minValue="0.00" maxValue="100.00"
										value="#{rekrutacjaWniosekBean.nabor.nabEtatZFundWynagr}"
										onfocus="this.parentElement.classList.add('span-focus');"
										onblur="this.parentElement.classList.remove('span-focus');"
										decimalPlaces="2" symbol="%" symbolPosition="s"
										emptyValue="sign" label="Z funduszu wynagrodzeń: ">
										<p:ajax event="change" />
									</cc:cInputNumberMDesign>
								</div>
							</div>

							<div class="ui-g padd-cc-mdesign-b25">

								<h:panelGroup id="rezerwy" styleClass="ui-g-12 rezerwy">

									<ui:repeat var="rezerw" value="#{rekrutacjaWniosekBean.nabor.pptRekRezerwyCelowe}" varStatus="status">

										<div class="ui-g-12">
											<cc:cInputNumberMDesign id="zRezerwyCelowejId" styleClass="ui-g-5 ui-g-nopad"
												label="#{status.index eq 0? 'Z rezerwy celowej:': ''}" minValue="0.00" maxValue="100.00"
												onfocus="this.parentElement.classList.add('span-focus');"
												onblur="this.parentElement.classList.remove('span-focus');"
												value="#{rezerw.narcRezerwaEtat}"
												decimalPlaces="2" symbol="%" symbolPosition="s"
												emptyValue="sign">
												<p:ajax event="change" />
											</cc:cInputNumberMDesign>

											<cc:cInputTextMDesign id="zJakiejRezerwyCelowejId" styleClass="ui-g-5 ui-g-nopad"
												label="#{status.index eq 0? 'Z jakiej rezerwy celowej:': ''}"
												value="#{rezerw.narcRezerwaNazwa}">
												<p:ajax event="change" />
											</cc:cInputTextMDesign>

											<h:panelGroup layout="block" styleClass="ui-g-2 ui-g-nopad"
													rendered="#{status.index eq 0}">
												<p:commandButton icon="add" partialSubmit="true"
													process="@this" update="@(.rezerwy)"
													action="#{rekrutacjaWniosekBean.nabor.addNewPptRekRezerwyCelowe()}" />
											</h:panelGroup>

											<h:panelGroup layout="block" styleClass="ui-g-2 ui-g-nopad"
													rendered="#{status.index ne 0}">
												<p:commandButton icon="delete" partialSubmit="true"
													process="@this" update="@(.rezerwy)"
													action="#{rekrutacjaWniosekBean.nabor.removePptRekRezerwyCelowe(rezerw)}" />
											</h:panelGroup>
										</div>
									</ui:repeat>
								</h:panelGroup>
							</div>

							<div class="ui-g padd-cc-mdesign-b25">
								<h:panelGroup id="projekty" styleClass="ui-g-12 projekty">

									<ui:repeat var="proj" value="#{rekrutacjaWniosekBean.nabor.pptRekProjekties}" varStatus="status">

										<div class="ui-g-12">

											<cc:cInputNumberMDesign id="wRamachProjektuId" styleClass="ui-g-5 ui-g-nopad"
												label="#{status.index eq 0 ? 'W ramach projektu:': ''}" minValue="0.00" maxValue="100.00"
												value="#{proj.napEtatProjekt}"
												decimalPlaces="2" symbol="%" symbolPosition="s"
												emptyValue="sign" placeholder="wprowadź wartość">
												<p:ajax event="change" />
											</cc:cInputNumberMDesign>

											<cc:cLOVMDesign id="wRamachJakiegoProjektuId" styleClass="ui-g-5 ui-g-nopad"
												lovDlgTitle="Wybór projektu"
												datasource="#{rekrutacjaWniosekBean.getLW('PPL_WSP_PROJEKTY')}"
												lovTextFormat="%3$s" valueFormat="%1$s"
												value="#{proj.napProjObId}"
												style="width: 100%;" label="#{status.index eq 0 ? 'W ramach jakiego projektu:': ''}"
												update="@(.pnlgrd-wnioski-rekrut)" />

											<h:panelGroup layout="block" styleClass="ui-g-2 ui-g-nopad"
													rendered="#{status.index eq 0}">
												<p:commandButton icon="add" partialSubmit="true"
													process="@this" update="@(.projekty)"
													action="#{rekrutacjaWniosekBean.nabor.addNewPptRekProjekty()}" />
											</h:panelGroup>

											<h:panelGroup layout="block" styleClass="ui-g-2 ui-g-nopad"
													rendered="#{status.index ne 0}">
												<p:commandButton icon="delete" partialSubmit="true"
													process="@this" update="@(.projekty)"
													action="#{rekrutacjaWniosekBean.nabor.removePptRekProjekty(proj)}" />
											</h:panelGroup>
										</div>
									</ui:repeat>
								</h:panelGroup>
							</div>

							<p:panelGrid styleClass="m20">
								<p:row>
									<p:column styleClass="mmw200">
										<p:outputLabel value="Rodzaj składnika"/>
									</p:column>

									<p:column styleClass="mmw100">
										<p:outputLabel value="Kategoria/Procent" />
									</p:column>

									<p:column styleClass="mmw100">
										<p:outputLabel value="Kwota" />
									</p:column>

									<p:column styleClass="mmw100">
										<p:outputLabel id="lblRazem" value="Razem (pr.+kw.)" />
										<p:tooltip for="lblRazem" value="Razem składnik procentowy i kwotowy"/>
									</p:column>
								</p:row>
<!-- 														value='#{rekrutacjaWniosekBean.nabor.zptNaborSklads}'											 -->
								<ui:repeat
									value='#{rekrutacjaWniosekBean.zptNaborSkladSorted}'
									var="o" varStatus="status">
									<p:row>
										<p:column style="vertical-align: bottom;">
											<p:outputLabel
												value="#{rekrutacjaWniosekBean.rodzajSkladnika(o.nskRodzaj)}"
												styleClass="label-13 block pb2" />
										</p:column>
											   <!--  rendered="#{o.nskRodzaj ne 'WYNAGR'}" -->
										<p:column>
											<cc:cInputNumberMDesign id="prcSkladnikaId"
												onfocus="this.parentElement.classList.add('span-focus');"
												onblur="this.parentElement.classList.remove('span-focus');"
												value="#{o.nskProcent}" symbol="#{o.nskRodzaj ne 'WYNAGR' ? '%':'' }" symbolPosition="s"
												emptyValue="sign" decimalPlaces="#{o.nskRodzaj ne 'WYNAGR' ? '2':'0' }"
												placeholder="wprowadź wartość"
												maxValue="999.99">
												<p:ajax event="change" update="@(.razem)"/>
											</cc:cInputNumberMDesign>
										</p:column>

										<p:column>
											<cc:cInputNumberMDesign id="kwtaSkladnikaId"
												onfocus="this.parentElement.classList.add('span-focus');"
												onblur="this.parentElement.classList.remove('span-focus');"
												value="#{o.nskWartosc}" placeholder="wprowadź wartość">
												<p:ajax event="change" update="@(.razem)" />
											</cc:cInputNumberMDesign>
										</p:column>

										<p:column>
											<cc:cInputNumberMDesign styleClass="razem gray"
												readonly="true"
												value="#{rekrutacjaWniosekBean.calcRazem(o)}">
											</cc:cInputNumberMDesign>
										</p:column>
									</p:row>
								</ui:repeat>

								<p:row>
									<p:column colspan="3" style="vertical-align: bottom;">
										<p:outputLabel value="Razem proponowane wynagrodzenie: " styleClass="block right pb3"/>
									</p:column>

									<p:column >
										<cc:cInputNumberMDesign styleClass="razem"
											readonly="true"
											value="#{rekrutacjaWniosekBean.calcRazem()}">
										</cc:cInputNumberMDesign>
									</p:column>
								</p:row>
							</p:panelGrid>

							<div class="ui-g padd-cc-mdesign-b25">
								<div class="ui-g-12">
									<cc:cInputTextAreaMDesign id="idUzasad"
										styleClass="lekka-ramka" cols="10" rows="2"
										counter="lblUzasad" maxlength="2000" autoResize="true"
										value="#{rekrutacjaWniosekBean.nabor.nabUzasadnienie}"
										placeholder="wprowadź uzasadnienie" label="Uzasadnienie: ">
										<p:ajax event="change" />
									</cc:cInputTextAreaMDesign>
									<cc:cInputTextAreaMDesign id="idUwagi"
										styleClass="lekka-ramka textarea-ie" cols="10" rows="2"
										counter="lblUwagi" maxlength="2000" autoResize="true"
										value="#{rekrutacjaWniosekBean.nabor.nabUwagi}"
										placeholder="wprowadź uwagi" label="Uwagi: ">
										<p:ajax event="change" />
									</cc:cInputTextAreaMDesign>
								</div>
							</div>
						</h:panelGroup>
					</p:tab>

					<p:tab title="Członkowie komisji rekrutacyjnej">
						<ui:include src="/faces/Rekrutacja/RekrutacjaKomisje.xhtml"/>
					</p:tab>

					<p:tab title="Dane ogłoszenia">
						<ui:include src="/faces/Rekrutacja/RekrutacjaOgloszenie.xhtml" />
					</p:tab>
				</p:tabView>
			</h:form>

			<ui:include src="/WEB-INF/protectedElements/Dialogs/Rekrutacja/dlgOgloszenieZZZ.xhtml" />

		</ui:define>
	</ui:composition>
</body>
</html>

