<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Wniosek rekrutacji" />
		<ui:define name="egr_content">

			<h:form styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20 d-flex flex-wrap">
				<p:commandButton value="zapisz" id="zapiszId" icon="save"
					style="min-width: 80px;"
					 styleClass="ctl-home-link-menu"
					 partialSubmit="true" process="@form frmId"
					 update="@form @(.gdSymboleOpisu) dlgZalacznikiId template_growl"
					 actionListener="#{rekrutacjaWniosekBean.zapisz()}" />

				<p:commandButton value="usuń wniosek" id="usunId"
					disabled="#{rekrutacjaWniosekBean.nabor.nabId == null}"
					icon="delete_forever" style="min-width: 80px;"
					styleClass="ctl-home-link-menu"
					actionListener="#{rekrutacjaWniosekBean.usun()}">
					<p:confirm header="Uwaga"
						message="Czy na pewno chcesz usunąć wniosek?"
						icon="ui-icon-alert" />
				</p:commandButton>

				<p:confirmDialog global="true" showEffect="fade"
					hideEffect="fade" style="width: 300px;">
					<p:commandButton value="TAK" type="button"
						styleClass="ui-confirmdialog-yes" />

					<p:commandButton value="NIE" type="button"
						styleClass="ui-confirmdialog-no" />
				</p:confirmDialog>

				<cc:cZalacznikiButton dlgTitle="Załączniki wniosku"
					zalFkId="#{rekrutacjaWniosekBean.nabor.nabId}"
					zalFkFieldName="ZAL_PP_NAB_ID"
					disabled="#{rekrutacjaWniosekBean.nabor.nabId == null or rekrutacjaWniosekBean.nabor.nabId == 0}" />

				<cc:cObiegCzynnosci kategoriaObiegu="WN_NABORY"
					idEncji="#{rekrutacjaWniosekBean.nabor.nabId}"
					reloadPage="RekrutacjaWniosek5"
					whereCzynnosci="  not(C.CDW_DSTN_NAZWA_OD='POZIOM55' and C.CDW_DSTN_NAZWA_DO='POZIOM70')
								  and not(C.CDW_DSTN_NAZWA_OD='POZIOM50' and C.CDW_DSTN_NAZWA_DO='POZIOM70')" />

				<p:commandButton value="raport" id="raportId"
					icon="content_paste" style="min-width: 80px;"
					actionListener="#{rekrutacjaWniosekBean.raport()}"
					disabled="#{rekrutacjaWniosekBean.czyNowy}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<p:commandButton value="oświadczenia członków komisji" id="oczkId"
					icon="content_paste" style="min-width: 80px;"
					actionListener="#{rekrutacjaWniosekBean.raportOswiadczenieCzlonkaKomisji()}"
					disabled="#{rekrutacjaWniosekBean.czyNowy}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<p:commandButton value="ogłoszenie" id="ogloszenieId"
					icon="event" style="min-width: 80px;"
					actionListener="#{rekrutacjaWniosekBean.ogloszenieRaport()}"
					disabled="#{rekrutacjaWniosekBean.czyNowy}"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>
			</h:form>

			<h:form id="frmId" styleClass="d-flex-1-column ov-auto m20i p20 bg-fff bsh2black">
				 #{rekrutacjaWniosekBean.loadSqlData('sqlKomOrg',
						'
					select
						OB_ID,
						OB_OB_ID
					from CSS_OBIEKTY_W_PRZEDSIEB

					where ob_id = ?
				',  [rekrutacjaWniosekBean.nabor.nabObId]
				)}
				#{rekrutacjaWniosekBean.loadEgSlownik('REK_RODZAJ')}

				<h2>#{rekrutacjaWniosekBean.getSql('REK_RODZAJ').findAndFormat(rekrutacjaWniosekBean.nabor.nabRodzajNaboru, '%2$s')}</h2>

				<p:tabView styleClass="pp-tbvw-wide">
					<p:tab title="Wniosek">
						<h:panelGroup id="pnlGrdId" styleClass="pnlgrd-wnioski-rekrut">
							<div class="ui-g padd-cc-mdesign-b25">

								<div class="ui-g-12 ui-lg-6 ui-xl-6">
									<cc:cLOVMDesign id="idKomOrg"
										lovDlgTitle="Wybór departamentu"
										label="Departament:"
										datasource="#{rekrutacjaWniosekBean.getLW('PP_DEPARTAMENTY')}"
										lovTextFormat="%3$s" valueFormat="%1$s"
										value="#{rekrutacjaWniosekBean.nabor.nabObId}"
										update="@(.pnlgrd-wnioski-rekrut) @(.czlonkowie-komisji)"
										style="width: 100%;" />
								</div>

								<div class="ui-g-12 ui-lg-6 ui-xl-6">
									<cc:cLOVMDesign id="idStanow" lovDlgTitle="Wybór stanowiska"
										label="Stanowisko:"
										datasource="#{rekrutacjaWniosekBean.getLW('PP_STAN_WYZ_W_DEPART', [rekrutacjaWniosekBean.nabor.nabObId])}"
										value="#{rekrutacjaWniosekBean.nabor.nabStjoId}"
										lovTextFormat="%3$s" valueFormat="%1$s"
										update="@(.pnlgrd-wnioski-rekrut)"
										style="min-width: 450px;" />

									<h:panelGroup id="gdSymboleOpisuId"
										styleClass="gdSymboleOpisu">

										<ui:repeat
											value='#{rekrutacjaWniosekBean.nabor.zptNabSymbs}' var="o"
											varStatus="status">
											<div class="ui-g">

												<div class="ui-g-7 ui-g-nopad">
													<cc:cSOMMDesign id="idSymbStanow"
														emptyLabel="Wybierz symbol opisu stanowiska pracy"
														label="#{status.index eq 0 ? 'Symbol opisu stanowiska:' : ''}"
														datasource="#{rekrutacjaWniosekBean.getLW('PP_SYMB_STN', [rekrutacjaWniosekBean.nabor.nabWydzialId, rekrutacjaWniosekBean.nabor.nabStnId])}"
														value="#{o.nsmStoId}" />
												</div>

												<div class="ui-g-4 ui-g-nopad">
													<cc:cCalendarMDesign value="#{o.nsmNabDataWolneOd}"
														label="#{status.index eq 0 eq true ? 'Stanowisko wolne od dnia: ' : ''}"
														placeholder="rrrr-mm-dd"
														converterMessage="Pole 'Stanowisko wolne od dnia': wprowadzono nieprawidłowy format." />
												</div>

												<div class="ui-g-1 ui-g-nopad">
													<p:commandButton icon="delete" partialSubmit="true"
														process="@this @(.gdSymboleOpisu)"
														update="@(.gdSymboleOpisu) @(.liczbaWakatow)"
														action="#{rekrutacjaWniosekBean.usunSymbolOpisu(o)}"
														style="top: 25px;" />
												</div>
											</div>
										</ui:repeat>
									</h:panelGroup>
									<p:commandButton icon="add" id="nowySymbolBtnId"
										partialSubmit="true" process="@this"
										action="#{rekrutacjaWniosekBean.addNewSymbolOpisu()}"
										update="@(.gdSymboleOpisu) @(.liczbaWakatow)" />

									<p:tooltip for="nowySymbolBtnId"
										value="Dodanie kolejnego symbolu" />

								</div>
							</div>

							<div class="ui-g padd-cc-mdesign-b25">
								<div class="ui-g-12 ui-lg-6 ui-xl-6">
									<cc:cSOMMDesign id="idRodzPropUm"
										label="Rodzaj proponowanej umowy:"
										emptyLabel="#{rekrutacjaWniosekBean.nabor.nabRodzajPropUmowy}"
										datasource="#{rekrutacjaWniosekBean.getSql('TYP_UMOWY')}"
										value="#{rekrutacjaWniosekBean.nabor.nabRodzajPropUmowy}"
										disabled="true" />
								</div>

								<div class="ui-g-12 ui-lg-6 ui-xl-6">
									#{rekrutacjaWniosekBean.loadEgSlownik('TYP ETATU')}
									<cc:cSOMMDesign id="idWymEt" emptyLabel="Wybierz wymiar etatu"
										label="Wymiar etatu:"
										datasource="#{rekrutacjaWniosekBean.getSql('TYP ETATU')}"
										value="#{rekrutacjaWniosekBean.nabor.nabWymiarEtatu}" />

								</div>
							</div>

							<div class="ui-g padd-cc-mdesign-b25">
								<div class="ui-g-6">
									<p:outputLabel value="Etat:" styleClass="label-small" />
									<p:selectOneRadio id="wew"
										value="#{rekrutacjaWniosekBean.nabor.nabEtatZastepstwo}"
										styleClass="radioLabel">
										<f:selectItem itemLabel="Zwykły" itemValue="N" />
										<f:selectItem itemLabel="Na zastępstwo" itemValue="T" />
										<p:ajax event="change" />
									</p:selectOneRadio>
								</div>
								<div class="ui-g-6">
									<cc:cInputNumberMDesign id="liczbaWakatowId" styleClass="liczbaWakatow"
										label="Liczba etatów: "
										value="#{rekrutacjaWniosekBean.nabor.nabLiczbaWakatow}"
										readonly="false" decimalPlaces="0">
										<p:ajax event="change" />
									</cc:cInputNumberMDesign>
								</div>
							</div>

							<div class="ui-g padd-cc-mdesign-b15">
								<div class="ui-g-12">
									<p:outputLabel value="Źródło finansowania:" />
								</div>

								<div class="ui-g-12 ui-lg-6 ui-xl-6">
									<cc:cInputNumberMDesign id="zFunduszuWynagrodzenId"
										label="Z funduszu wynagrodzeń: " minValue="0.00"
										maxValue="100.00"
										value="#{rekrutacjaWniosekBean.nabor.nabEtatZFundWynagr}"
										onfocus="this.parentElement.classList.add('span-focus');"
										onblur="this.parentElement.classList.remove('span-focus');"
										decimalPlaces="2" symbol="%" symbolPosition="s"
										emptyValue="sign">
										<p:ajax event="change" />
									</cc:cInputNumberMDesign>
								</div>
							</div>

							<div class="ui-g padd-cc-mdesign-b25">
								<h:panelGroup id="rezerwy" styleClass="ui-g-12 rezerwy">

									<ui:repeat var="rezerw" value="#{rekrutacjaWniosekBean.nabor.pptRekRezerwyCelowe}" varStatus="status">

										<div class="ui-g-12">
											<cc:cInputNumberMDesign id="zRezerwyCelowejId" styleClass="ui-g-5 ui-g-nopad"
												label="#{status.index eq 0 ? 'Z rezerwy celowej:': ''}" minValue="0.00" maxValue="100.00"
												onfocus="this.parentElement.classList.add('span-focus');"
												onblur="this.parentElement.classList.remove('span-focus');"
												value="#{rezerw.narcRezerwaEtat}"
												decimalPlaces="2" symbol="%" symbolPosition="s"
												emptyValue="sign">
												<p:ajax event="change" />
											</cc:cInputNumberMDesign>

											<cc:cInputTextMDesign id="zJakiejRezerwyCelowejId" styleClass="ui-g-5 ui-g-nopad"
												label="#{status.index eq 0 ? 'Z jakiej rezerwy celowej:': ''}"
												value="#{rezerw.narcRezerwaNazwa}">
												<p:ajax event="change" />
											</cc:cInputTextMDesign>

											<h:panelGroup layout="block" styleClass="ui-g-2 ui-g-nopad"
													rendered="#{status.index eq 0}">
												<p:commandButton icon="add" partialSubmit="true"
													process="@this" update="@(.rezerwy)"
													action="#{rekrutacjaWniosekBean.nabor.addNewPptRekRezerwyCelowe()}" />
											</h:panelGroup>

											<h:panelGroup layout="block" styleClass="ui-g-2 ui-g-nopad"
													rendered="#{status.index ne 0}">
												<p:commandButton icon="delete" partialSubmit="true"
													process="@this" update="@(.rezerwy)"
													action="#{rekrutacjaWniosekBean.nabor.removePptRekRezerwyCelowe(rezerw)}" />
											</h:panelGroup>
										</div>

									</ui:repeat>
								</h:panelGroup>
							</div>

							<div class="ui-g padd-cc-mdesign-b25">

								<h:panelGroup id="projekty" styleClass="ui-g-12 projekty">

									<ui:repeat var="proj" value="#{rekrutacjaWniosekBean.nabor.pptRekProjekties}" varStatus="status">

										<div class="ui-g-12">

											<cc:cInputNumberMDesign id="wRamachProjektuId" styleClass="ui-g-5 ui-g-nopad"
												label="#{status.index eq 0 ? 'W ramach projektu:': ''}" minValue="0.00" maxValue="100.00"
												value="#{proj.napEtatProjekt}"
												decimalPlaces="2" symbol="%" symbolPosition="s"
												emptyValue="sign" placeholder="wprowadź wartość">
												<p:ajax event="change" />
											</cc:cInputNumberMDesign>

											<cc:cLOVMDesign id="wRamachJakiegoProjektuId" styleClass="ui-g-5 ui-g-nopad"
												lovDlgTitle="Wybór projektu"
												datasource="#{rekrutacjaWniosekBean.getLW('PPL_WSP_PROJEKTY')}"
												lovTextFormat="%3$s" valueFormat="%1$s"
												value="#{proj.napProjObId}"
												style="width: 100%;" label="#{status.index eq 0 ? 'W ramach jakiego projektu:': ''}"
												update="@(.pnlgrd-wnioski-rekrut)" />

											<h:panelGroup layout="block" styleClass="ui-g-2 ui-g-nopad"
													rendered="#{status.index eq 0}">
												<p:commandButton icon="add" partialSubmit="true"
													process="@this" update="@(.projekty)"
													action="#{rekrutacjaWniosekBean.nabor.addNewPptRekProjekty()}" />
											</h:panelGroup>

											<h:panelGroup layout="block" styleClass="ui-g-2 ui-g-nopad"
													rendered="#{status.index ne 0}">
												<p:commandButton icon="delete" partialSubmit="true"
													process="@this" update="@(.projekty)"
													action="#{rekrutacjaWniosekBean.nabor.removePptRekProjekty(proj)}" />
											</h:panelGroup>
										</div>
									</ui:repeat>
								</h:panelGroup>

								<div class="ui-g-12">
									<cc:cInputTextAreaMDesign id="idUzasad"
										styleClass="lekka-ramka" label="Uzasadnienie:" cols="10"
										rows="2" counter="lblUzasad" maxlength="2000"
										autoResize="true"
										value="#{rekrutacjaWniosekBean.nabor.nabUzasadnienie}"
										placeholder="wprowadź uzasadnienie">
										<p:ajax event="change" />
									</cc:cInputTextAreaMDesign>
									<!-- 											counterTemplate="Uzasadnienie: (pozostało znaków {0})" -->
									<cc:cInputTextAreaMDesign id="idUwagi" label="Uwagi:"
										styleClass="lekka-ramka textarea-ie" cols="10" rows="2"
										counter="lblUwagi" maxlength="2000" autoResize="true"
										value="#{rekrutacjaWniosekBean.nabor.nabUwagi}"
										placeholder="wprowadź uwagi">
										<p:ajax event="change" />
									</cc:cInputTextAreaMDesign>
									<!-- 											counterTemplate="Uwagi: (pozostało znaków {0})" -->
								</div>
							</div>
						</h:panelGroup>
					</p:tab>
					<p:tab title="Członkowie komisji rekrutacyjnej">
						<ui:include src="/faces/Rekrutacja/RekrutacjaKomisje.xhtml" />
					</p:tab>
				</p:tabView>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>
