<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Nowy wniosek" />
		<ui:define name="egr_content">

			<div class="d-flex-1 p20 ov-auto">
				<h:form id="frmRekrutacjaWniosekId" styleClass="bg-fff bsh2black p20 d-flex-1-column w100p-40px">
				
					<div class="debug">
						EgSlownik:
						OS_SZKOLENIA_POWSZECHNE,
						REK_RODZAJ,
						TYP ETATU,
						TYP_UMOWY
						<br/>
						lov:
						PP_DEPARTAMENTY,
						PP_PRC,
						PP_REK_RODZAJE
					</div>
					

#{rekrutacjaWniosekBean.loadEgSlownik('OS_SZKOLENIA_POWSZECHNE')}

#{rekrutacjaWniosekBean.loadEgSlownik('REK_RODZAJ')}
#{rekrutacjaWniosekBean.loadEgSlownik('TYP ETATU')}
#{rekrutacjaWniosekBean.loadEgSlownik('TYP_UMOWY')}

	#{rekrutacjaWniosekBean.loadEgListaWartosci('PP_DEPARTAMENTY', [])}			

	#{rekrutacjaWniosekBean.loadEgListaWartosci('PP_PRC', [])}

 #{rekrutacjaWniosekBean.loadEgListaWartosci('PP_REK_RODZAJE',  [] )}
					
					<div>
						<h2>
							Wybierz rodzaj wniosku
						</h2>
					</div>
					<div style="height: calc(100vh - 140px)">
						<c:cLookupTable
							datasource="#{rekrutacjaWniosekBean.getSql('PP_REK_RODZAJE')}"
							height="calc(100vh - 140px)"
							rowSelectAction="#{rekrutacjaWniosekBean.przejdzDoWniosku()}"
							 />
					</div>

				</h:form>
			</div>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>
