<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsf/composite/components"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>

	<p:panelGrid style="width: 100%; height: 100%; margin-top: 20px;"
		id="czlonkowieKomisjiId" styleClass="czlonkowie-komisji">
		<p:row>
			<p:column colspan="1" style="width: 35%;">
									
				#{rekrutacjaWniosekBean.loadEgListaWartosci('PP_PRC',[])}
				#{rekrutacjaWniosekBean.loadEgListaWartosci('PPL_REK_PRACOWNICY_DEP',[])}
				#{rekrutacjaWniosekBean.loadEgListaWartosci('PPL_REK_PRACOWNICY_DBG', [100893, 100893])}
				#{rekrutacjaWniosekBean.zaznaczPrzewodniczacego()}
				#{rekrutacjaWniosekBean.zaznaczKomisje()}
				#{rekrutacjaWniosekBean.zaznaczKomisjeBDG()}

				<p:outputLabel value="Przewodniczący komisji rekrutacyjnej: ">
					<cc:cLov lovDlgTitle="Wybór przewodniczącego komisji"
						rowsMultiSelectedAction="#{rekrutacjaWniosekBean.zapiszPrzewodniczacego()}"
						datasource="#{rekrutacjaWniosekBean.getSql('PP_PRC')}"
						multiselect="true" update="@(.czlonkowie-komisji)" dialogWidth="1000"
						showInputText="false" selectedRowsSizeLimit="1" width="50" />
				</p:outputLabel>
			</p:column>
			<p:column colspan="1" style="vertical-align: top;">

				#{rekrutacjaWniosekBean.getSql('sqlWybranyPrzewodniczacy').resetTs()}
				#{rekrutacjaWniosekBean.getSql('sqlWybranyPrzewodniczacy').reLoadData()}

				#{rekrutacjaWniosekBean.loadSqlData('sqlWybranyPrzewodniczacy',
						'
						select PRC_NAZWISKO || \' \' || PRC_IMIE Pracownik
						from PPADM.PPT_REK_NABOR_KOMISJA, EK_PRACOWNICY
						where KOM_TYP = \'P\'
						and KOM_NAB_ID = ?
						and KOM_PRC_ID = PRC_ID

					',  [rekrutacjaWniosekBean.nabor.nabId]
					)}
		
				<cc:cLookupTable disabled="true" showSearchField="false"
					colWidths="300"
					datasource="#{rekrutacjaWniosekBean.getSql('sqlWybranyPrzewodniczacy')}"
					hideHeaders="true" noBorder="true" dataList="true"
					exportPdf="true" exportXls="true" exportCsv="true" exportXml="true" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9">
				<p:spacer height="15" width="100%" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9" style="padding-top: 50px !important;">
				<span class="divider2" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9">
				<p:spacer height="15" width="100%" />
			</p:column>
		</p:row>

		<p:row>
			<p:column>
				<p:outputLabel style="min-width:500px"
					value="Członkowie komisji rekrutacyjnej: ">
					<cc:cLov lovDlgTitle="Wybór składu komisji"
						rowsMultiSelectedAction="#{rekrutacjaWniosekBean.zapiszKomisje()}"
						datasource="#{rekrutacjaWniosekBean.getLW('PPL_REK_PRACOWNICY_DEP')}"
						multiselect="true" update="@(.czlonkowie-komisji)"
						showInputText="false" width="50" selectedRowsSizeLimit="4" dialogWidth="1000"/>
				</p:outputLabel>
			</p:column>
			<p:column style="vertical-align: top;">
			
				#{rekrutacjaWniosekBean.getSql('sqlWybranaKomisja').resetTs()}
				#{rekrutacjaWniosekBean.getSql('sqlWybranaKomisja').reLoadData()}

				#{rekrutacjaWniosekBean.loadSqlData('sqlWybranaKomisja',
					'
					select PRC_NAZWISKO || \' \' || PRC_IMIE Pracownik
					from PPADM.PPT_REK_NABOR_KOMISJA, EK_PRACOWNICY
					where KOM_TYP = \'Z\'
					and KOM_NAB_ID = ?
					and KOM_PRC_ID = PRC_ID

				',  [rekrutacjaWniosekBean.nabor.nabId]
				)}
		
				<cc:cLookupTable disabled="true" showSearchField="false"
					colWidths="300"
					datasource="#{rekrutacjaWniosekBean.getSql('sqlWybranaKomisja')}"
					hideHeaders="true" noBorder="true" dataList="true" height="80px"
					exportPdf="true" exportXls="true" exportCsv="true" exportXml="true" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9">
				<p:spacer height="15" width="100%" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9" style="padding-top: 50px !important;">
				<span class="divider2" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9">
				<p:spacer height="15" width="100%" />
			</p:column>
		</p:row>
		<p:row>
			<p:column>
				<p:outputLabel style="min-width:250px; width:250px"
					value="Przedstawiciele BDG: ">
					<cc:cLov lovDlgTitle="Wybór składu komisji BDG"
						rowsMultiSelectedAction="#{rekrutacjaWniosekBean.zapiszKomisjeBDG()}"
						datasource="#{rekrutacjaWniosekBean.getLW('PPL_REK_PRACOWNICY_DBG', 100893, 100893)}"
						multiselect="true" update="@(.czlonkowie-komisji)"
						showInputText="false" width="50" selectedRowsSizeLimit="3" dialogWidth="1000" />
				</p:outputLabel>
			</p:column>
			<p:column style="vertical-align: top;">
			
				#{rekrutacjaWniosekBean.getSql('sqlWybranaKomisjaBDG').resetTs()}
				#{rekrutacjaWniosekBean.getSql('sqlWybranaKomisjaBDG').reLoadData()}

				#{rekrutacjaWniosekBean.loadSqlData('sqlWybranaKomisjaBDG',
					'
					select PRC_NAZWISKO || \' \' || PRC_IMIE Pracownik
					from PPADM.PPT_REK_NABOR_KOMISJA, EK_PRACOWNICY
					where KOM_TYP = \'B\'
					and KOM_NAB_ID = ?
					and KOM_PRC_ID = PRC_ID

				',  [rekrutacjaWniosekBean.nabor.nabId]
				)}
				<cc:cLookupTable disabled="true" showSearchField="false"
					colWidths="300"
					datasource="#{rekrutacjaWniosekBean.getSql('sqlWybranaKomisjaBDG')}"
					hideHeaders="true" noBorder="true" dataList="true" height="80px"
					exportPdf="true" exportXls="true" exportCsv="true" exportXml="true" />
			</p:column>
		</p:row>

		<p:row>
			<p:column colspan="9">
				<p:spacer height="15" width="100%" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9" style="padding-top: 50px !important;">
				<span class="divider2" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9">
				<p:spacer height="15" width="100%" />
			</p:column>
		</p:row>

		<p:row>
			<p:column style="vertical-align:top;">
				<p:outputLabel style="min-width:250px; width:250px;"
					value="Członkowie komisji spoza MF: ">
				</p:outputLabel>
			</p:column>
			<p:column>

				<h:panelGroup id="pgCzlonkowieKomSpozaMFId"
					styleClass="pgCzlonkowieKomSpozaMF" rendered="true">
					<div class="ui-g">
						<div class="ui-g-11">
							<p:outputLabel value="Imię i nazwisko:" />
						</div>
						<div class="ui-g-1">
							<p:commandButton icon="add" id="nowyCzlonkekKomId"
								partialSubmit="true" process="@this"
								action="#{rekrutacjaWniosekBean.dodajCzlonkaKomSpozaMF()}"
								update="@(.pgCzlonkowieKomSpozaMF)" />
							<p:tooltip for="nowyCzlonkekKomId"
								value="Dodaj kolejnego członka komisji" />
						</div>
					</div>
					<ui:repeat var="o"
						value="#{rekrutacjaWniosekBean.czlonkowieKomSpozaMF}"
						varStatus="status">
						<div class="ui-g">
							<div class="ui-g-11">
								<c:cInputTextMDesign value="#{o.komSpozaMf}">
									<f:ajax event="change" />
								</c:cInputTextMDesign>
							</div>
							<div class="ui-g-1">
								<p:commandButton icon="delete" partialSubmit="true"
									process="@this" update="@(.pgCzlonkowieKomSpozaMF)"
									action="#{rekrutacjaWniosekBean.usunCzlonkaKomSpozaMF(o)}"
									style="margin-top:25px!important;" />
							</div>
						</div>

					</ui:repeat>
				</h:panelGroup>

			</p:column>
		</p:row>

		<p:row>
			<p:column colspan="9">
				<p:spacer height="15" width="100%" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="9" style="padding-top: 50px !important;">
				<span class="divider2" />
			</p:column>
		</p:row>
	</p:panelGrid>

</body>
</html>