<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsf/composite/components"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>
	<div class="ui-g padd-cc-mdesign-b25">
		<div class="ui-g-12 ui-lg-6 ui-xl-6">

			<cc:cCalendarMDesign id="calTermId"
				value="#{rekrutacjaWniosekBean.nabor.nabOgTerminZglEmail}"
				locale="pl" placeholder="rrrr-mm-dd"
				converterMessage="Pole 'Termin składania zgłoszeń na adres e-mail': wprowadzono nieprawidłowy format."
				label="Termin składania zgłoszeń na adres e-mail: " />

		</div>
		<div class="ui-g-12 ui-lg-6 ui-xl-6">
			<cc:cCalendarMDesign id="calTermRozmId"
				value="#{rekrutacjaWniosekBean.nabor.nabOgTerminRozm}" locale="pl"
				placeholder="rrrr-mm-dd"
				converterMessage="Pole 'Termin rozmowy kwalifikacyjnej': wprowadzono nieprawidłowy format."
				label="Termin rozmowy kwalifikacyjnej: " />

		</div>
	</div>

	<div class="ui-g padd-cc-mdesign-b25">
		<div class="ui-g-12">

			<cc:cInputTextAreaMDesign id="zakrObowId" styleClass="lekka-ramka"
				cols="10" rows="3" counter="lblZakrObow" maxlength="2000"
				autoResize="true"
				value="#{rekrutacjaWniosekBean.nabor.nabOgZakresObow}"
				placeholder="wprowadź zakres obowiązków" label="Zakres obowiązków: ">
				<!-- 						counterTemplate="Zakres obowiązków: pozostało znaków {0}" -->
				<p:ajax event="change" />
			</cc:cInputTextAreaMDesign>


			<cc:cInputTextAreaMDesign id="WymaganiaNiezbId"
				styleClass="lekka-ramka" cols="10" rows="3"
				counter="lblWymaganiaNiezb" maxlength="2000" autoResize="true"
				value="#{rekrutacjaWniosekBean.nabor.nabOgWymaganiaNiezb}"
				placeholder="wprowadź wymagania" label="Wymagania niezbędne: ">
				<!-- 						counterTemplate="Wymagania niezbędne: pozostało znaków {0}" -->
				<p:ajax event="change" />
			</cc:cInputTextAreaMDesign>


			<cc:cInputTextAreaMDesign id="WymaganiaDodId"
				styleClass="lekka-ramka" cols="10" rows="3"
				counter="lblWymaganiaDod" maxlength="2000" autoResize="true"
				value="#{rekrutacjaWniosekBean.nabor.nabOgWymaganiaDodat}"
				placeholder="wprowadź wymagania dodatkowe"
				label="Wymagania dodatkowe: ">
				<!-- 						counterTemplate="Wymagania dodatkowe: pozostało znaków {0}" -->
				<p:ajax event="change" />
			</cc:cInputTextAreaMDesign>


			<cc:cInputTextAreaMDesign id="WyksztalcId" styleClass="lekka-ramka"
				cols="10" rows="3" counter="lblWyksztalc" maxlength="2000"
				autoResize="true"
				value="#{rekrutacjaWniosekBean.nabor.nabOgWymaganeWyksz}"
				placeholder="wprowadź wymagane wykształcenie"
				label="Wymagane wykształcenie: ">
				<!-- 						counterTemplate="Wymagane wykształcenie: pozostało znaków {0}" -->
				<p:ajax event="change" />
			</cc:cInputTextAreaMDesign>



			<cc:cInputTextAreaMDesign id="DokumId" styleClass="lekka-ramka"
				cols="10" rows="3" counter="lblDokum" maxlength="2000"
				autoResize="true" value="#{rekrutacjaWniosekBean.nabor.nabOgWymDok}"
				placeholder="wprowadź wymagane dokumenty"
				label="Wymagane dokumenty: ">
				<p:ajax event="change" />
				<!-- 						counterTemplate="Wymagane dokumenty: pozostało znaków {0}" -->
			</cc:cInputTextAreaMDesign>

			<cc:cInputTextAreaMDesign id="KontaktId" styleClass="lekka-ramka"
				cols="10" rows="3" counter="lblKontakt" maxlength="2000"
				autoResize="true"
				value="#{rekrutacjaWniosekBean.nabor.nabOgKontakt}"
				placeholder="kontakt" label="Kontakt: ">
				<!-- 						counterTemplate="Kontakt: pozostało znaków {0}" -->
				<p:ajax event="change" />
			</cc:cInputTextAreaMDesign>
			
			<div class="ui-g ui-g-nopad">
				<cc:cInputTextMDesign styleClass="lekka-ramka ui-g-6 ui-g-nopad"
					label="Kontakt / tel.: "
					value="#{rekrutacjaWniosekBean.nabor.nabOgTelefon}">
					<p:ajax event="change" />
				</cc:cInputTextMDesign>
				
				<cc:cInputTextMDesign styleClass="lekka-ramka ui-g-6 ui-g-nopad"
					label="Kontakt / e-mail: "
					value="#{rekrutacjaWniosekBean.nabor.nabOgEmail}">
					<p:ajax event="change" />
				</cc:cInputTextMDesign>
			</div>

		</div>
	</div>
</body>
</html>