<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Wnioski w obiegu" />
		<ui:define name="egr_content">

			<div class="d-flex-1-column p20">
				<h:form styleClass="bg-fff p20 bsh2black d-flex-1">

					#{listaWnioskowBean.loadEgListaWartosci('PP_REK_WNIOSKI_OBIEG',  [user.dbLogin] )}

					<c:cLookupTable
						datasource="#{listaWnioskowBean.getSql('PP_REK_WNIOSKI_OBIEG')}"
						rowSelectAction="#{listaWnioskowBean.editSelectedRow}" />

				</h:form>
			</div>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>
