<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
	
	
<p:dialog widgetVar="dlgStatus"  draggable="false" closable="false" resizable="false" showHeader="false" appendTo="@(body)" >
      <p:graphicImage value="resources/images/statusBar.gif" /> 
</p:dialog>

</ui:composition>

