<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<f:metadata>
</f:metadata>
<body>


		
	 
<p:accordionPanel id="accPnl" multiple="true">

<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================         PLAN TRASY          ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="PLAN TRASY">
		
		<h:panelGroup id="trasyPnl" styleClass="ui-g ui-g-12 p0 mt20 mb50">
		
			<div id="trasyHeader" class="ui-g-12 ui-g-v-center mh30">
				<p:outputLabel value="Wyjazd" styleClass="ui-g-2 mw150"/>
				<p:outputLabel value="Miejscowość" styleClass="ui-g-2 mr100"/>
				<p:outputLabel value="Przyjazd" styleClass="ui-g-2 mw150"/>
				<p:outputLabel value="Miejscowość" styleClass="ui-g-2 mr100"/>
				<p:outputLabel value="Środek lokomocji" styleClass="ui-g-2"/>
				<p:outputLabel value="Kilometry" styleClass="ui-g-1"/>
				<p:commandButton icon="add" styleClass="ui-g-1" 
					action="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.addNewTrasa()}"
				/>
			</div>
			
			<p:separator styleClass="ui-g-12 p0 " />
		
			<ui:repeat var="trs" value="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.deltTrasies}" varStatus="status">
			
				<div id="trasyRow" class="ui-g-12 ui-g-v-center mh30"> 
			
					<h:panelGroup styleClass="ui-g-2 mw150">
						<cc:cCalendarHour id="tWyj"  
							value="#{trs.trsDataOd}"
						/>
					</h:panelGroup>
				
					<cc:cInputText styleClass="ui-g-2 mr100"
						value="#{trs.trsMiejscowoscOd}"
					/>
				
					<h:panelGroup styleClass="ui-g-2 mw150">
						<cc:cCalendarHour value="#{trs.trsDataDo}"
						/>
					</h:panelGroup>
				
					<cc:cInputText styleClass="ui-g-2 mr100"
						value="#{trs.trsMiejscowoscDo}"
					/>
					
					<cc:cLovJS id="srdklkmcj" styleClass="ui-g-2"
						lovDlgTitle="Środki lokomocji" 
						datasource="#{delegacjaKrajBean.getSlownik('DEL_SRODEK_LOKOMOCJI')}" 
						value="#{trs.trsSrodekLokomocji}" 
						lovTextFormat="%2$s"
					/>
					
					<cc:cInputNumber styleClass="ui-g-1"
						value="#{trs.trsIloscKM}"
						symbol=" km"
						decimalPlaces="0"
					/>
				
					<p:commandButton styleClass="ui-g-1"
						icon="delete"  
						action="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.removeDeltTrasy(trs)}"
					/>
					
				</div>
			
			</ui:repeat>
							
			<p:separator styleClass="ui-g-12 p0 " />
			
			<div class="ui-g-12 ui-g-v-center p10">
			
				<p:commandButton value="generuj plan trasy wg miast" 
				 	styleClass="granatowy"
				 	action="#{delegacjaKrajBean.delegacja.generujPlanTrasy(delegacjaKrajBean.delegacja.kalkulacjaRozlicz)}" 
					onstart = "hgon()" 
					oncomplete	= "hgoff()" 	
				 >
					<p:confirm header="Generowanie planu trasy" 
						disabled="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.deltTrasies.size() eq 0}"
						message="Ponowne wygenerowanie tras spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
				
			</div>
		    
		</h:panelGroup>		
		
	 </p:tab>
	 
	 
<!-- 	 ====================================================================================================================== -->
<!-- 	 ==========================================                             	=========================================== -->
<!-- 	 ==========================================       CZYNNOŚCI SŁUŻBOWE        =========================================== -->
<!-- 	 ==========================================                             	=========================================== -->
<!-- 	 ====================================================================================================================== -->

	 <p:tab title="CZYNNOŚCI SŁUŻBOWE" id="czynnosciBtnGeneruj">
	 
		<h:panelGroup id="czynnosciSPg" styleClass="ui-g ui-g-12 mt20 mb50">
		
			<div id="czynnosciHeader" class="ui-g-12 ui-g-v-center mh30">
				<p:outputLabel value="Czas od" styleClass="ui-g-2"/>
				<p:outputLabel value="Czas do" styleClass="ui-g-2"/>
				<p:outputLabel value="Czas łącznie" styleClass="ui-g-2"/>
				<p:outputLabel value="Opis" styleClass="ui-g-2"/>
				<p:commandButton icon="add" styleClass="ui-g-1" 
					action="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.addNewDelCzynnosciSluzbowe()}"
				/>
			</div>
			
			<p:separator styleClass="ui-g-12 p0 " />
			
			<ui:repeat var="czs" value="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.delCzynnosciSluzbowe}">
				<div id="czynnosciRow" class="ui-g-12 ui-g-v-center mh30">
				
					<h:panelGroup styleClass="ui-g-2">
						<cc:cCalendarHour value="#{czs.czynCzynnosciOd}"/>
					</h:panelGroup>
					
					<h:panelGroup styleClass="ui-g-2">
						<cc:cCalendarHour value="#{czs.czynCzynnosciDo}"/>
					</h:panelGroup>

					<cc:cInputText 
						value="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.formatujDniCzynnosciSluzbowe(czs.czynCzas)}" 
						readonly="true" 
						styleClass="ui-g-2"
					/>

					<cc:cInputText value="#{czs.czynOpis}" styleClass="ui-g-2"/>
					
					<p:commandButton icon="delete" 
						styleClass="ui-g-1"
						action="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.removeDelCzynnosciSluzbowe(czs)}"/>
				</div>
			</ui:repeat>
				
			<p:separator styleClass="ui-g-12 p0 " />
			
			<div class="ui-g-12 ui-g-v-center p10">
				<p:commandButton 
					value="generuj czynności służbowe wg planu trasy"
					styleClass="granatowy"
					onstart="hgon()" 
					oncomplete="hgoff()"
					actionListener="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.generujCzynnosciSluzbowe}">
				
					<p:confirm header="Czynności służbowe" 
						disabled="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.delCzynnosciSluzbowe.size() eq 0}"
						message="Ponowne wygenerowanie czynności służbowych spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
					
				</p:commandButton>
			</div>
		</h:panelGroup>	
		
	 
	 </p:tab>
	 
<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================       DIETY POBYTOWE        ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="DIETY POBYTOWE" disabled="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa}" 
	 	titletip="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa ? 'Delegacja beszkosztowa' : ''}">
	 
		<h:panelGroup id="dietyPobytPnl" styleClass="ui-g ui-g-12 mt20 mb50">
		
			<cc:cDelKStdTabPklGroup
		         kalkulacja="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz}"
		         typyDiet="P"
		    />
			<div class="ui-g-12 ui-g-v-center p10">
				<p:commandButton 
					value="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.delCzynnosciSluzbowe.size() gt 0 ? 
					'generuj diety wg czynności służbowych':'generuj diety wg planu trasy'}" 
					styleClass="granatowy"  
		 			onstart="hgon()" 
					oncomplete="hgoff()"
					disabled="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa}"
					action="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.generujDiety('DP')}">
								
				<p:confirm header="Generowanie diet pobytowych"
						disabled="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.getPozycjeKalkulacjiPobytowe().size() eq 0}"
						message="Ponowne wygenerowanie diet pobytowych spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"/>	
				</p:commandButton> 
			</div>

		</h:panelGroup>	
		
		
	 </p:tab>
	 
<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================       DIETY HOTELOWE        ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->

	 <p:tab title="DIETY/RYCZAŁT HOTELOWY" disabled="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa}" 
	 	titletip="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa ? 'Delegacja beszkosztowa' : ''}">
	 
	 <h:panelGroup id="dietyHotelPnl" styleClass="ui-g ui-g-12 mt20 mb50">
		
 		<cc:cDelKStdTabPklGroup
	         kalkulacja="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz}"
	         typyDiet="H,RH"
	         btnAddAction="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.addDietaRyczaltHotel(delegacjaKrajBean.rodzajNoclegu,1.0)}"
	    />
		<div class="ui-g-12 ui-g-v-center p10">
			<p:commandButton 
				value="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.delCzynnosciSluzbowe.size() gt 0 ? 
				'generuj diety/ryczałt wg czynności służbowych':'generuj diety/ryczałt wg planu trasy'}" 
				styleClass="granatowy"
				onstart = "hgon();"
				oncomplete	= "hgoff();" 
				disabled="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa}"
				action="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.generujDiety(delegacjaKrajBean.rodzajNoclegu)}"
				partialSubmit="true" process="@this"
			>
				<p:confirm header="Generowanie diet"
				 	disabled="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.getPozycjeKalkulacjiHotelowe().size() eq 0}"
					message="Ponowne wygenerowanie diet hotelowych/ ryczałtu spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
					icon="ui-icon-alert"/>	
					
			</p:commandButton>
			
			<p:selectOneRadio id="rodzajNoclegu" 
				value="#{delegacjaKrajBean.rodzajNoclegu}" 
				styleClass="radioLabel d-inline-block align-middle" 
			>
				<f:selectItem itemLabel="Dieta hotelowa" itemValue="DH" />
				<f:selectItem itemLabel="Ryczałt" itemValue="RH"/>
				<p:ajax event="valueChange" partialSubmit="true" process="rodzajNoclegu" update="dietyHotelPnl"/>
				
				<p:tooltip for="rodzajNoclegu" value="Zmiana wartości wpływa na rodzaj dodawanej pozycji hotelowej"/>
			</p:selectOneRadio>
		</div>

		</h:panelGroup>	
		
		
	 </p:tab>
	 
<!-- 	 ============================================================================================================================= -->
<!-- 	 ==========================================                             		============================================== -->
<!-- 	 ==========================================       RYCZAŁT NA KOMUNIKACJE        ============================================== -->
<!-- 	 ==========================================                            			============================================== -->
<!-- 	 ============================================================================================================================= -->

	 <p:tab title="RYCZAŁT - KOMUNIKACJA MIEJSKA" disabled="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa}" 
	 	titletip="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa ? 'Delegacja beszkosztowa' : ''}">
	 
		<h:panelGroup id="ryczaltKM" styleClass="ui-g ui-g-12 mt20 mb50">
			 <cc:cDelKStdTabPklGroup
		         kalkulacja="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz}"
		         typyDiet="KM"
		    />
			<div class="ui-g-12 ui-g-v-center p10">
				<p:commandButton 
					value="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.delCzynnosciSluzbowe.size() gt 0 ? 
					'generuj ryczałt komunikacyjny wg czynności służbowych':'generuj ryczałt komunikacyjny wg planu trasy'}" 
					styleClass="granatowy" 
					onstart = "hgon()"  
					oncomplete="hgoff()"
					disabled="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa}"
					action="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.generujDiety('RK')}"
				>
					<p:confirm header="Ryczałt komunikacyjny" 
						disabled="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.getPozycjeKalkulacjiKomunikacyjne().size() eq 0}"
						message="Ponowne wygenerowanie ryczałtu komunikacyjnego spowoduje utratę wcześniej wpisanych wartości, czy chcesz kontynuować?"
						icon="ui-icon-alert"
					/>	
				</p:commandButton>
			</div>
		</h:panelGroup>	
		
	 </p:tab>
	 
<!-- 	 ========================================================================================================================================= -->
<!-- 	 ==========================================                             					============================================== -->
<!-- 	 ==========================================       Wykorzystanie samochodu prywatnego        ============================================== -->
<!-- 	 ==========================================                            						============================================== -->
<!-- 	 ========================================================================================================================================= -->

	 <p:tab title="WYKORZYSTANIE SAMOCHODU PRYWATNEGO" disabled="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa
	 		or delegacjaKrajBean.delegacja.kalkulacjaRozlicz.blokujSamPryw()}"
	 	titletip="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa ? 'Delegacja beszkosztowa' : ''}">
	 
		<h:panelGroup id="samochodPrywatPnl" styleClass="ui-g ui-g-12 mt20 mb50">
		
			<p:outputLabel value="Samochód" styleClass="ui-g-2"/>
			<p:outputLabel value="Nr rej" styleClass="ui-g-1"/>
			<p:outputLabel value="Pojemność silnika" styleClass="ui-g-2"/>
			<p:outputLabel value="Trasa przejazdu" styleClass="ui-g-2"/>
			<p:outputLabel value="Km" styleClass="ui-g-1 right"/>
			<p:outputLabel value="Stawka" styleClass="ui-g-1 right"/>
			<p:outputLabel value="Kwota" styleClass="ui-g-1 right"/>
			
<!-- 			<p:commandButton styleClass="ui-g-1" -->
<!-- 				icon="add"   -->
<!-- 				action="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.addKosztPrzejazdu()}"  -->
<!-- 			/> -->
			
			<p:separator styleClass="ui-g-12 p0 " />

			<ui:repeat var="pklT" value="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.getPozycjeKalkulacjiTransportowe()}">
				
				<h:panelGroup id="rowT" styleClass="ui-g-12 mh30">
			
					<cc:cInputText styleClass="ui-g-2"
						value="#{pklT.pklSamochod}" 
					/>
					
					<cc:cInputText styleClass="ui-g-1"
						value="#{pklT.pklNrRej}" 
					/>
				
					<cc:cInputText styleClass="ui-g-2"
						value="#{pklT.pklPojemnosc gt 900.00 ? 'powyżej 900.00':'poniżej 900.00'} cm3"
						readonly="true"
					/>		
							
					<cc:cInputText styleClass="ui-g-2"
						value="#{pklT.pklOpis}" 
					/>
					
					<cc:cInputNumber styleClass="ui-g-1"
						value="#{pklT.pklIlosc}" 
						symbol=" km"
						readonly="true"
					/>	
					
					<cc:cInputNumber styleClass="ui-g-1"
						value="#{pklT.pklStawka}" 
						symbol=" PLN"
						decimalPlaces="4"
						readonly="true"
					/>	
					
					<cc:cInputNumber styleClass="ui-g-1"
						value="#{pklT.pklKwota}" 
						symbol=" PLN"
						readonly="true"
					/>	
					
<!-- 					<p:commandButton icon="delete" styleClass="ui-g-1"  -->
<!-- 						action="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.removeDeltPozycjeKalkulacji(pklT)}"  -->
<!-- 					/> -->
				
				</h:panelGroup>
			
			</ui:repeat>
			
			<p:separator styleClass="ui-g-12 p0 " />
			
			<div class="ui-g-12 ui-g-v-center p10">
					
				<p:commandButton 
					value="Generuj koszty podróży wg planu trasy"
					styleClass="granatowy" 
					onstart = "hgon()"  
					oncomplete="hgoff()"
					disabled="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa}"
					action="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.generujKosztyPrzejazdu()}"
				>
					
				</p:commandButton>
			
			</div>
			
		</h:panelGroup>	
		
		
	 </p:tab>
	 
<!-- 	 ===================================================================================================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ==========================================            KOSZTY           ============================================== -->
<!-- 	 ==========================================                             ============================================== -->
<!-- 	 ===================================================================================================================== -->
	 
	 <p:tab title="POZOSTAŁE KOSZTY" disabled="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa}" 
	 	titletip="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa ? 'Delegacja beszkosztowa' : ''}">

		<h:panelGroup id="kosztyPnl" styleClass="ui-g ui-g-12 mt20 mb50">
		
			 <cc:cDelKStdTabPklGroup
		         kalkulacja="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz}"
		         typyDiet="P,H,RH,RD,KM,T"
		         typyDietExclude="true"
		    />
				
		</h:panelGroup>	 
	 </p:tab>
	 
	 
	 
	 

<!-- 	 ============================================================================================================================== -->
<!-- 	 ==========================================                            			 ============================================== -->
<!-- 	 ==========================================        PODSUMOWANIE KOSZTÓW          ============================================== -->
<!-- 	 ==========================================                             		 ============================================== -->
<!-- 	 ============================================================================================================================== -->


	 <p:tab title="PODSUMOWANIE KOSZTÓW I ZALICZEK" disabled="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa}" 
	 	titletip="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa ? 'Delegacja beszkosztowa - rozliczenie jest niedostępne' : ''}">
	 
	 	<h:panelGroup id="rozliczenie" styleClass="ui-g ui-g-12 mt20 mb50">
	 
			<p:outputLabel value="Wypłacone zaliczki" styleClass="fs18 p10"/>
			
			<p:separator styleClass="ui-g-12 p0 " />
			<p:outputLabel rendered="#{'N' eq delegacjaKrajBean.delegacja.wndFZaliczka}" 
					value="Pracownik nie wnioskował o zaliczki na delegacje"/>
				
	 		<h:panelGroup id="otrzymaneZaliczki" styleClass="ui-g-12"
	 			rendered="#{delegacjaKrajBean.delegacja.kalkulacjaWniosek.delZaliczki.size() gt 0 
	 				and 'T' eq delegacjaKrajBean.delegacja.wndFZaliczka}">
	 				
 				<div class="ui-g-10 ui-g-v-center mh30">
					<p:outputLabel value="Kwota zaliczki " styleClass="ui-g-2"/>
					<p:outputLabel value="Forma wypłaty" styleClass="ui-g-2"/>
					<p:outputLabel value="Nr konta" styleClass="ui-g-4"/>
	 			</div>
	 			<p:separator styleClass="ui-g-12 p0 " />
	 			
		 		<ui:repeat var="zalWnk" value="#{delegacjaKrajBean.delegacja.kalkulacjaWniosek.delZaliczki}">
		 			<div class="ui-g-10 ui-g-v-center mh30">
		 				<cc:cInputNumberMDesign 
		 					value="#{zalWnk.dkzKwota}" 
		 					symbol=" PLN" 
		 					styleClass="ui-g-2" 
		 					readonly="true"
		 				/>
		 				
		 				<cc:cLOVMDesign styleClass="ui-g-2"
							lovDlgTitle="Formy płatności" 
							placeholder="wybierz"
							readonly="true"
							datasource="#{delegacjaKrajBean.getSlownik('DEL_FORMY_WYPLATY')}"
							value="#{zalWnk.dkzFormaWyplaty}" 
							lovTextFormat="%2$s"
						/>
		 				
						<cc:cLOVMDesign lovDlgTitle="Lista kont"
							styleClass="ui-g-6"
							lovTextFormat="%2$s"
							readonly="true"
							datasource="#{delegacjaKrajBean.getLW('PPL_DEL_KONTA_PRC', delegacjaKrajBean.delegacja.wndPrcId)}"
							value="#{zalWnk.dkzNrKonta}"
							rendered="#{'B' eq zalWnk.dkzFormaWyplaty}"
						/>
					</div>
				</ui:repeat>
			</h:panelGroup>
			
			<p:separator styleClass="ui-g-12 p0 " />
		 
			<cc:cInputNumber 
				readonly="true" 
				label="Suma wydatków: " 
				value="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.zwrocKwoteDoRozliczen()}"  
				styleClass="p10 mt10 mb10"
				symbol=" PLN"
			/>
			
			<p:separator styleClass="ui-g-12 p0 " />
			
			<p:outputLabel value="Do zwrotu/ wypłaty:"  
				styleClass="p10 fs18"
			/>
			<p:separator styleClass="ui-g-12 p0 " />
			
	 		<h:panelGroup styleClass="ui-g-12" id="zaliczkiRozliczenie"
	 			rendered="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.delZaliczki.size() gt 0}">
	 			
	 			<div class="ui-g-10 ui-g-v-center mh30">
	 				<p:outputLabel value="Rodzaj" styleClass="ui-g-1"/>
					<p:outputLabel value="Kwota" styleClass="ui-g-2"/>
					<p:outputLabel value="Forma rozliczenia" styleClass="ui-g-2"/>
					<p:outputLabel value="Nr konta" styleClass="ui-g-5"/>
					<p:outputLabel value="Nr dok FIN" styleClass="ui-g-1"/>
					
				</div>
				<p:separator styleClass="ui-g-12 p0 " />
		 		
		 		<ui:repeat var="zalRoz" value="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.delZaliczki}">
		 		
		 			<div class="ui-g-10 ui-g-v-center mh30">
			 		
	 					<h:outputLabel styleClass="ui-g-1"
	 						value="#{zalRoz.dkzKwota gt 0 ? 'Do wypłaty: ' : 'Do zwrotu: '}" 
	 					/>
	 					
		 				<cc:cInputNumberMDesign styleClass="ui-g-2"
		 					value="#{zalRoz.dkzKwota}"
		 					symbol=" PLN" 
		 					symbolPosition="s" 
		 					readonly="true"
		 				/>
		 				
						<cc:cLOVMDesign styleClass="ui-g-2"
							lovDlgTitle="Forma rozliczenia" 
							placeholder="wybierz"
							datasource="#{delegacjaKrajBean.getSlownik('DEL_FORMY_WYPLATY')}"
							value="#{zalRoz.dkzFormaWyplaty}" 
							lovTextFormat="%2$s"
						/>
		 				
						<cc:cLOVMDesign lovDlgTitle="Lista kont" styleClass="ui-g-4" 
							lovTextFormat="%2$s"
							datasource="#{delegacjaKrajBean.getLW('PPL_DEL_KONTA_PRC', delegacjaKrajBean.delegacja.wndPrcId)}"
							rendered = "#{'B' eq zalRoz.dkzFormaWyplaty and zalRoz.dkzKwota gt 0}"
							value="#{zalRoz.dkzNrKonta}" 
						/>
							
						<cc:cLOVMDesign lovDlgTitle="Lista kont PWSZ" styleClass="ui-g-4"
							lovTextFormat="%2$s"
							datasource="#{delegacjaKrajBean.getLW('PPL_PWSZ_KONTA')}"
							rendered = "#{'B' eq zalRoz.dkzFormaWyplaty and zalRoz.dkzKwota lt 0}"
							value="#{zalRoz.dkzNrKonta}" 
						/>
			 				
	 					<cc:cInputTextMDesign styleClass="ui-g-4"
	 						value="nie wybrano formy rozliczenia" 
	 						readonly="true" 
	 						rendered="#{zalRoz.dkzFormaWyplaty eq null or zalRoz.dkzFormaWyplaty.isEmpty()}"
	 					/>
	 					
	 					<cc:cInputTextMDesign styleClass="ui-g-4"
	 						value="" 
	 						readonly="true" 
	 						rendered="#{zalRoz.dkzFormaWyplaty eq 'K'}"
	 					/>
	 					
		 				
						<p:commandButton id="usunZal" icon="delete"  styleClass="ui-g-1"
							action="#{delegacjaKrajBean.delegacja.kalkulacjaRozlicz.removeDelZaliczki(zalRoz)}"
							onstart = "hgon()" 
							disabled="#{zalRoz.dkzDokId ne null}"
							oncomplete	= "hgoff()" 
						/>
						
						<cc:cInputTextMDesign styleClass="ui-g-1"
		 					value="#{zalRoz.dkzDokId}"
		 					readonly="true"
		 					rendered="#{zalRoz.dkzDokId ne null}"
		 				/>
					
					</div>
						
				</ui:repeat>
					
 			</h:panelGroup>
 			
			<p:separator styleClass="ui-g-12 p0 " />
			
			<div class="ui-g-12 ui-g-v-center p10">
			
				<p:commandButton value="Przelicz koszty" styleClass="granatowy" 
					action="#{delegacjaKrajBean.delegacja.generujRozliczenie()}"
					onstart="hgon()" 
					oncomplete="hgoff()" 
					disabled="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa}"
				/>
				
			</div>
			
		</h:panelGroup>
		
	 </p:tab>
	 
</p:accordionPanel>



	<p:tabView />

</body>
</html>