<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">

<f:metadata>
</f:metadata>
<h:body>

		


	<p:accordionPanel id="accPnl" multiple="true">
	
<!-- 	 ================================================================================================================================= -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ==========================================         RODZAJ I CEL DELEGACJI          ============================================== -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ================================================================================================================================= -->	

		<p:tab id="tabRodzajCel" title="RODZAJ I CEL DELEGACJI" kuid="tabRodzajCel">
		
			<h:panelGroup id="headerPnl" styleClass="ui-g ui-g-12">
			
				<c:cInputTextMDesign label="Nr: "
					styleClass="ui-g-3"
					id="nrDel"
					value="#{delegacjaKrajBean.delegacja.wndNumer}" 
					readonly="true"
				/>
				
				<c:cCalendarMDesign label="Data złożenia wniosku: " 
					styleClass="ui-g-3"
					id="dataWniosek"
					value="#{delegacjaKrajBean.delegacja.wndDataWniosku}"
					readonly="true"
				/>
		
			</h:panelGroup>
			
			<br/>
			
			<p:outputLabel value="Charakter delegacji" styleClass="ui-g-11 fs18" for="@parent"/>

			<p:separator styleClass="ui-g-12 p0 m0" />
			
			<h:panelGroup id="chkboxes" styleClass="ui-g ui-g-12 pb20">
			
				<c:cSelectBooleanCheckboxTN label="Szkoleniowa" id="szkolenieChckbx"
					styleClass="ui-g-2"
					value="#{delegacjaKrajBean.delegacja.wndFCzySzkolenie}"
				/>
		
				<c:cSelectBooleanCheckboxTN label="Konferencja" id="konferencjaChckbx" 
					styleClass="ui-g-2"
					value="#{delegacjaKrajBean.delegacja.wndFKonferencyjna}"
				/>
				
				<c:cSelectBooleanCheckboxTN label="Bezkosztowa" id="bezkosztChckbx"
					styleClass="ui-g-2"
					value="#{delegacjaKrajBean.delegacja.wndFBezkosztowa}"
				/>
				
				<c:cSelectBooleanCheckboxTN label="Źródło finansowania / Projekt" id="projektChckbx"
					styleClass="ui-g-2"
					value="#{delegacjaKrajBean.delegacja.wndFProjektowa}"
				/>
				
		
				<h:panelGroup id="prjkt" styleClass="ui-g-3" rendered="#{'T' eq delegacjaKrajBean.delegacja.wndFProjektowa}">
				
					<p:outputLabel id="listaProjLabel" value="Projekt" styleClass="ui-g-2 p0" />
					<c:cLovJS id="listaProj"
						styleClass="ui-g-10 p0"
						datasource="#{delegacjaKrajBean.getSlownik('DEL_PROJEKTY_PWSZ')}"
						value="#{delegacjaKrajBean.delegacja.wndProjKod}"
						lovDlgTitle="Lista projektów"
						lovTextFormat="%2$s"
					/>
				</h:panelGroup>
				
		
			</h:panelGroup>
			
			<p:separator styleClass="ui-g-12 p0 m0" />
			
			<c:cInputTextAreaMDesign id="opisMiejscaDoc"
				styleClass="ui-g ui-g-12"
				value="#{delegacjaKrajBean.delegacja.wndMiejsceDocelowe}"
				label="Miejsce docelowe wraz z adresem i nazwą jednostki:"
				placeholder="... miejsce docelowe podróży(adres i nazwa jednostki) ..." 
				rows="3" 
				cols="150" 
				maxlength="255"
				requiredJ="true" />
	
			<c:cInputTextAreaMDesign id="opisCelu"
				styleClass="ui-g ui-g-12 pb20"
				value="#{delegacjaKrajBean.delegacja.wndOpis}"
				label="Opis celu delegacji:"
				placeholder="... opis celu delegacji ..." 
				rows="5" 
				cols="150" 
				maxlength="4000"
				requiredJ="true" 
			/>
			
			<br />
			<br />	
				
				
		</p:tab>
	
<!-- 	 ================================================================================================================================= -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ==========================================         SKŁAD DELEGACJI I ZAPRASZAJĄCY  ============================================== -->
<!-- 	 ==========================================                             			============================================== -->
<!-- 	 ================================================================================================================================= -->	
	
		<p:tab title="SKŁAD DELEGACJI I ZAPRASZAJĄCY"  kuid="tabSkladDelegacji">
	
			<h:panelGroup id="pracownicyInfo" styleClass="ui-g ui-g-12 pb40">
			
				<h:panelGroup id="prcDelegowany" styleClass="ui-g-4 border">
					<p:outputLabel value="Pracownik delegowany"
						styleClass="naglowek_pracownik">
	
						<c:cLovJS id="prcLista" lovDlgTitle="Lista pracowników" 
							datasource="#{delegacjaKrajBean.getLW('PPL_KAD_PRACOWNICY').setPreQuery('call ppadm.ppp_global.ustaw_date_dla_struktury_po(sysdate)')}"
							value="#{delegacjaKrajBean.delegacja.wndPrcId}"
							showInputText="false" 
							required="true"
							width="50"
						/>
	
					</p:outputLabel>
	
					<c:cPracownikBasicInfo id="prcDelInfo"
						prcId="#{delegacjaKrajBean.delegacja.wndPrcId}" 
						showKsTelInfo="true"
						showDepartament="false"
						showWydzial="true"
					/>
					
				</h:panelGroup>
				
				<h:panelGroup id="prcPrzelozony" styleClass="ui-g-4 pl40">
					<p:outputLabel value="Bezpośredni przełożony "
						styleClass="naglowek_pracownik" 
					/>
	
					<c:cPracownikBasicInfo id="prcPrzelInfo" 
						showDepartament="false"
						showWydzial="true"
						prcId="#{delegacjaKrajBean.getLW('PPL_KAD_PRACOWNICY').find(delegacjaKrajBean.delegacja.wndPrcId).get('ZAT_PRC_ID_SZEF') }"
						showKsTelInfo="true" 
					/>
				</h:panelGroup>
		
			
			</h:panelGroup>
			
			
			<h:panelGroup id="zapraszajacy" styleClass="ui-g ui-g-5 p0 pb20">
			
				<p:outputLabel value="Zapraszający" styleClass="ui-g-11 fs18" for="@parent"/>

				<p:separator styleClass="ui-g-12 p0 m0" />
				<ui:repeat value='#{delegacjaKrajBean.delegacja.deltZapraszajacys}'
					id="zaprRpt" var="zapr" varStatus="status">

						<c:cInputTextMDesign styleClass="ui-g-11"
							placeholder="Zapraszający"
							value="#{zapr.zaprOpis}"
						/>

				</ui:repeat>
				<p:separator styleClass="ui-g-12 p0 m0" />
		
			</h:panelGroup>
					
		</p:tab>

<!-- 	 ========================================================================================================================================= -->
<!-- 	 ==========================================                             			    	============================================== -->
<!-- 	 ==========================================         TRASA - MIASTA I ŚRODKI TRANSPORTU  	============================================== -->
<!-- 	 ==========================================                             			    	============================================== -->
<!-- 	 ========================================================================================================================================= -->	

		<p:tab title="TRASA - MIASTA I ŚRODKI TRANSPORTU">
		
			<h:panelGroup id="panelMiejscowosci" styleClass="ui-g ui-g-7 p0 pb40">
			
				<p:outputLabel value="Cele delegacji" styleClass="fs18 ui-g-10" for="@parent"/>
			
<!-- 				<p:commandButton icon="add" styleClass="ui-g-2" -->
<!-- 						action="#{delegacjaKrajBean.delegacja.addNewCelDel}" -->
<!-- 				/> -->
						
				<p:separator styleClass="ui-g-11 p0 m0" />
		
					<ui:repeat value='#{delegacjaKrajBean.delegacja.deltCeleDelegacjis}'
								var="cel" varStatus="status">
			
						<c:cInputTextMDesign id="mscwscOd" styleClass="ui-g-3" 
								label="#{status.index eq 0? 'Miejscowość rozpoczęcia delegacji': ''}"
								value="#{cel.cdelMiejscowoscOd}"
								placeholder="#{status.index eq 0? '': 'Miejscowość'}" 
								requiredJ="true" 
						/>
				
						<c:cInputTextMDesign id="mscwsc" styleClass="ui-g-3"
								label="#{status.index eq 0? 'Miejscowość docelowa': ''}"
								value="#{cel.cdelMiejscowosc}"
								placeholder="#{status.index eq 0? '': 'Miejscowość'}" 
								requiredJ="true" 
						/>
						
						<c:cInputTextMDesign id="mscwscZak" styleClass="ui-g-3"
								label="#{status.index eq 0? 'Miejscowość zakończenia': ''}"
								value="#{cel.cdelMiejscowoscZakonczenia}"
								placeholder="#{status.index eq 0? '': 'Miejscowość'}" 
								requiredJ="true" 
						/>
				
<!-- 						<p:commandButton icon="delete" styleClass="ui-g-2" -->
<!-- 							action="#{delegacjaKrajBean.delegacja.removeDeltCeleDelegacji(cel)}"  -->
<!-- 						/> -->
						
					</ui:repeat>
				
				<p:separator styleClass="ui-g-11 p0 m0" />
					
			</h:panelGroup>
		
			<h:panelGroup id="datyPodrozyPanel" styleClass="ui-g ui-g-7 p0 pb40">
					
				<p:outputLabel value="Termin delegacji" styleClass="fs18 ui-g-11" for="@parent"/>
				
				<p:separator styleClass="ui-g-11 p0 m0" />
			
				<c:cCalendarMDesign id="dataOd" styleClass="ui-g-3"
					label="Data od" 
					value="#{delegacjaKrajBean.delegacja.wndDataWyjazdu}" 
					minDate="#{delegacjaKrajBean.today()}"	
					requiredJ="true"
				/>
			
				<c:cCalendarMDesign id="dataDo" styleClass="ui-g-3"
					label="Data do" 
					value="#{delegacjaKrajBean.delegacja.wndDataPowrotu}" 
					minDate="#{delegacjaKrajBean.today()}"
					requiredJ="true" 
				/>
<!-- 				styleClass="clndr-ie  -->
				<p:separator styleClass="ui-g-11 p0 m0" />
						
			</h:panelGroup>

			<h:panelGroup id="srodkiLok" styleClass="ui-g ui-g-7 p0 pb40">
			
				<p:outputLabel value="Środki lokomocji" styleClass="fs18 ui-g-10" for="@parent"/>
			
<!-- 				<p:commandButton icon="add" styleClass="ui-g-2" -->
<!-- 					action="#{delegacjaKrajBean.delegacja.addNewSrodekLok}" -->
<!-- 				/> -->
				
				<p:separator styleClass="ui-g-11 p0 m0" />
	
				<ui:repeat value='#{delegacjaKrajBean.delegacja.deltSrodkiLokomocjis}'
							var="slok" varStatus="status">
					
					<c:cLOVMDesign id="typSl" styleClass="ui-g-6"
						label="#{status.index eq 0? 'Środek transportu': ''}"
						datasource="#{delegacjaKrajBean.getSlownik('DEL_SRODEK_LOKOMOCJI')}"
						value="#{slok.slokSrodekLokomocji}"
						lovDlgTitle="Rodzaje środków transportu"
						placeholder="Wybierz typ transportu"
						lovTextFormat="%2$s"
						requiredJ="true"
					/>
					
					<c:cInputTextAreaMDesign id="opisSl" styleClass="ui-g-7"
						label="#{status.index eq 0? 'Opis': ''}"
						value="#{slok.slokOpisSrodkaLokomocji}"
						placeholder="Opis"
						maxlength="2000"
					/>
					
<!-- 					<p:commandButton icon="delete" styleClass="ui-g-2" -->
<!-- 						action="#{delegacjaKrajBean.delegacja.removeDeltSrodkiLokomocji(slok)}"  -->
<!-- 					/> -->
						
					
				</ui:repeat>
				
				<p:separator styleClass="ui-g-11 p0 m0" />
						
				
			</h:panelGroup>
		
		</p:tab>

<!-- 	 ========================================================================================================================= -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ==========================================         RODZAJE KOSZTÓW  		============================================== -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ========================================================================================================================= -->	

<!-- 		<p:tab title="RODZAJE KOSZTÓW"> -->
		
<!-- 			<h:panelGroup id="rdKszt" styleClass="rdKszt ui-g ui-g-12 p0"> -->
			
<!-- 				<h:panelGroup id="chckbxyKoszty" styleClass="ui-g-12 pb40"> -->
<!-- 					<c:cSelectBooleanCheckboxTN id="chckbxbezKszt" styleClass="ui-g-2" -->
<!-- 						label="Czy bezkosztowa" -->
<!-- 						value="#{delegacjaKrajBean.delegacja.wndFBezkosztowa}"  -->
<!-- 					/> -->
<!-- 					TODO valueChangeListener="#{delegacjaKrajBean.usunZaliczkiDelBezkosztowa(true)}"  --> 
<!-- 					<c:cSelectBooleanCheckboxTN id="chckbxZfDomyslne" styleClass="ui-g-2" -->
<!-- 					 	label="Domyślne źródło finansowania" -->
<!-- 						value="#{delegacjaKrajBean.delegacja.wndFDomyslneZf}" -->
<!-- 						disabled="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa}" -->
<!-- 					/> -->
					
<!-- 					<h:panelGroup id="domyslneZF" styleClass="ui-g-6" -->
<!-- 						 style="display:#{'T' eq delegacjaKrajBean.delegacja.wndFDomyslneZf ? 'block':'none'}"> -->
						 
<!-- 						<p:outputLabel id="zfLbl" styleClass="ui-g-2" -->
<!-- 							value="Źródło finansowania"  -->
<!-- 							for="@parent"  -->
<!-- 						/> -->
<!-- 						<c:cLovJS id="domyslneZfLov" styleClass="ui-g-4" -->
<!-- 							lovDlgTitle="Źródła finansowania"  -->
<!-- 							value="#{delegacjaKrajBean.delegacja.wndSkId}"  -->
<!-- 							datasource="#{delegacjaKrajBean.getLW('PPL_DEL_ZRODLA_FIN')}" -->
<!-- 							lovTextFormat="%3$s" -->
<!-- 						/> -->
<!-- 	 										TODO	valueChangeListener="#{delegacjaKrajBean.delegacja.aktualizujWndSkId}" --> 
<!-- 					</h:panelGroup> -->
<!-- 				</h:panelGroup> -->
	
						
<!-- 				<h:panelGroup id="kosztyListaPnl" styleClass="kosztyPnlGr1 ui-g ui-g-12 p0"  -->
<!-- 					rendered="#{'N' eq delegacjaKrajBean.delegacja.wndFBezkosztowa}" -->
<!-- 				>		 -->
				
<!-- 					<p:outputLabel value="Rodzaj kosztu"	 styleClass="ui-g-2"/> -->
<!-- 					<p:outputLabel value="Koszt [%]"		 styleClass="ui-g-1"/> -->
<!-- 					<p:outputLabel value="Koszt Z.[%]"		 styleClass="ui-g-1"/> -->
<!-- 					<p:outputLabel value="Refundacja[%]"	 styleClass="ui-g-1"/> -->
<!-- 					<p:outputLabel value="Opis"				 styleClass="ui-g-2"/> -->
<!-- 					<p:outputLabel value="Opis refundacji"	 styleClass="ui-g-2"/> -->
<!-- 					<p:outputLabel value="Płatność"			 styleClass="ui-g-2"/> -->
<!-- 					<h:panelGroup 							 styleClass="ui-g-1"> -->
<!-- 						<p:outputLabel value="ŹF"	 styleClass="ui-g-6"/> -->
<!-- 						<p:commandButton id="addPkl" styleClass="ui-g-6"  -->
<!-- 							icon="add"  -->
<!-- 							action="#{delegacjaKrajBean.delegacja.kalkulacjaWniosek.addNewPkl}" -->
<!-- 						/> -->
<!-- 	 					TODO multiselect z dialoga i wtedy dodawanie   oncomplete="PF('dlgRodzajeKosztowKr').show()"  --> 
<!-- 					</h:panelGroup> -->
					

						
<!-- 					<p:separator styleClass="ui-g-12 p0 m0" /> -->
					
<!-- 					<ui:repeat var="pkl" value="#{delegacjaKrajBean.delegacja.kalkulacjaWniosek.deltPozycjeKalkulacjis}"> -->
					
<!-- 						<c:cLOVMDesign id="typPkl" styleClass="ui-g-2" -->
<!-- 							lovDlgTitle="Typy pozycji"  -->
<!-- 							value="#{pkl.pklTpozId}"  -->
<!-- 							datasource="#{delegacjaKrajBean.getLW('PPL_DEL_TYPY_POZYCJI_K')}" -->
<!-- 							lovTextFormat="%3$s"  -->
<!-- 						/> -->
						
<!-- 						<c:cInputNumberMDesign id="kszt" styleClass="ui-g-1" -->
<!-- 							value="#{pkl.pklKosztMFProcent}"  -->
<!-- 							symbol="%"  -->
<!-- 							symbolPosition="s"  -->
<!-- 							maxValue="100.0"  -->
<!-- 							minValue="0.0" -->
<!-- 						/> -->
					
<!-- 						<c:cInputNumberMDesign id="kosztzapr" styleClass="ui-g-1"  -->
<!-- 							value="#{pkl.pklKosztZaprProcent}"  -->
<!-- 							symbol="%"  -->
<!-- 							symbolPosition="s"  -->
<!-- 							maxValue="100.0"  -->
<!-- 							minValue="0.0" -->
<!-- 						/> -->
						
<!-- 						<c:cInputNumberMDesign id="refund" styleClass="ui-g-1"  -->
<!-- 							value="#{pkl.pklRefundacjaProcent}"  -->
<!-- 							symbol="%"  -->
<!-- 							symbolPosition="s"  -->
<!-- 							maxValue="100.0"  -->
<!-- 							minValue="0.0" -->
<!-- 						/> -->
						
<!-- 						<c:cInputTextMDesign id="opisPkl" styleClass="ui-g-2" -->
<!-- 							value="#{pkl.pklOpis}" /> -->
							
<!-- 						<c:cInputTextMDesign id="opisRefundPkl" styleClass="ui-g-2" -->
<!-- 							value="#{pkl.pklRefundacjaOpis}" /> -->
							
<!-- 						<c:cLOVMDesign id="frmPlatnosci" styleClass="ui-g-2" -->
<!-- 							lovDlgTitle="Forma płatności" -->
<!-- 							datasource="#{delegacjaKrajBean.getLW('PPL_SLOWNIK','DEL_FORMY_PLATNOSCI')}" -->
<!-- 							value="#{pkl.pklFormaPlatnosci}" -->
<!-- 							lovTextFormat="%5$s" -->
<!-- 						/> -->
						
<!-- 						<h:panelGroup styleClass="ui-g-1"> -->
<!-- 							<p:commandButton id="zfBtn" styleClass="ui-g-6" -->
<!-- 								icon="search" -->
<!-- 								oncomplete="PFbyId('dlgZrKrFinId').show()" -->
<!-- 							/> -->
<!-- 						TODO action="#{delegacjaKrajBean.getCurrentPklDlg(pkl)}"  --> 
	
<!-- 							<p:commandButton id="rmPkl" styleClass="ui-g-6" -->
<!-- 								icon="delete" -->
<!-- 								action="#{delegacjaKrajBean.delegacja.kalkulacjaWniosek.removeDeltPozycjeKalkulacji(pkl)}" -->
<!-- 							/> -->
<!-- 						</h:panelGroup> -->
						
<!-- 					</ui:repeat> -->
					
<!-- 					<p:separator styleClass="ui-g-12 p0 m0" /> -->
			
<!-- 				</h:panelGroup> -->
<!-- 			</h:panelGroup> -->

<!-- 		</p:tab> -->


<!-- 	 ========================================================================================================================= -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ==========================================         OSOBY DODATKOWE         ============================================== -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ========================================================================================================================= -->

		<p:tab title="DODATKOWE OSOBY">
		
			<h:panelGroup id="osobyDodatkowe" styleClass="ui-g ui-g-12 pt20 pb30">
			
				<p:outputLabel value="Kontrahenci - dodatkowe osoby" styleClass="fs18 ui-g-4"/>
				
				<p:commandButton styleClass="ui-g-1"
					icon="add"
					action="#{delegacjaKrajBean.delegacja.addNewOsDodatk()}"
				/>
				
				<p:separator styleClass="ui-g-12 p0 m0" />
				
				<ui:repeat var="osobaDodatk" varStatus="status"
					value="#{delegacjaKrajBean.delegacja.deltOsobyDodatkowes}">
					
					<c:cLovJS styleClass="ui-g-4" label="Lista kontrahentów"
						lovDlgTitle="Lista kontrahentów"
						placeholder="wybierz"
						datasource="#{delegacjaKrajBean.getLW('PPL_DEL_STUDENCI')}"
						value="#{osobaDodatk.odoKlKod}"
						lovTextFormat="%2$s"
					/>
					
					<p:commandButton styleClass="ui-g-1"
						icon="delete"
						action="#{delegacjaKrajBean.delegacja.removeDeltOsobyDodatkowe(osobaDodatk)}"
					/>
					
				</ui:repeat>

				<p:separator styleClass="ui-g-12 p0 m0" />
	
			</h:panelGroup>

		</p:tab>

<!-- 	 ========================================================================================================================= -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ==========================================         ZALICZKI          		============================================== -->
<!-- 	 ==========================================                             	============================================== -->
<!-- 	 ========================================================================================================================= -->

		<p:tab title="ZALICZKI" disabled="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa}" 
	 	titletip="#{'T' eq delegacjaKrajBean.delegacja.wndFBezkosztowa ? 'Delegacja bezkosztowa - nie można wnioskować o zaliczkę' : ''}">
		
			<h:panelGroup id="zaliczkiId" rendered="#{'N' eq delegacjaKrajBean.delegacja.wndFBezkosztowa}" styleClass="ui-g ui-g-12 pt20 pb30">
			
				<c:cSelectBooleanCheckboxTN label="Czy zaliczka" styleClass="ui-g-2" id="zaliczkaChckbx"
					value="#{delegacjaKrajBean.delegacja.wndFZaliczka}"
					disabled="#{delegacjaKrajBean.delegacja.wndDataWyjazdu.before(delegacjaKrajBean.today())}"
				/>
				<h:outputText id="zalKomunikat"
					value="Nie można wnioskować o zaliczkę dla rozpoczętej/zakończonej delegacji" 
					rendered="#{delegacjaKrajBean.delegacja.wndDataWyjazdu.before(delegacjaKrajBean.today())}"
				/>
				
						
				<h:panelGroup id="zaliczkaPnl" styleClass="ui-g-12 wndFZaliczka" 
					rendered="#{'T' eq delegacjaKrajBean.delegacja.wndFZaliczka}"
				>
					
					<ui:repeat var="zal" varStatus="status"
						value="#{delegacjaKrajBean.delegacja.kalkulacjaWniosek.delZaliczki}">
					
						<p:separator styleClass="ui-g-12 p0 m0" />
						
						<c:cInputNumberMDesign styleClass="ui-g-2" label="Kwota" id="kwotaZal"
							placeholder="podaj kwotę"
							symbol=" PLN"
							symbolPosition="s"
							value="#{zal.dkzKwota}"
						/>
						
						<c:cLOVMDesign styleClass="ui-g-2" label="Forma płatności" id="formaPlatnosci"
							lovDlgTitle="Formy płatności" 
							placeholder="wybierz"
							datasource="#{delegacjaKrajBean.getSlownik('DEL_FORMY_WYPLATY')}"
							value="#{zal.dkzFormaWyplaty}" 
							lovTextFormat="%2$s"
						/>

						<c:cLOVMDesign styleClass="ui-g-4" label="Lista kont" id="listaKont"
							lovDlgTitle="Lista kont"
							placeholder="wybierz"
							datasource="#{delegacjaKrajBean.getLW('PPL_DEL_KONTA_PRC', delegacjaKrajBean.delegacja.wndPrcId)}"
							value="#{zal.dkzNrKonta}"
							lovTextFormat="%2$s"
							rendered="#{'B' eq zal.dkzFormaWyplaty}"
						/>
						
						<c:cInputTextMDesign styleClass="ui-g-3"  label="Opis" id="opisZal"
							placeholder="opis zaliczki"
							value="#{zal.dkzOpis}" />
							
						<c:cInputTextMDesign styleClass="ui-g-1" id="nrDokFin"
							label="Nr dok FIN"
							rendered="#{zal.dkzDokId ne null}"
							value="#{zal.dkzDokId}" />
							
							
					</ui:repeat>
				
				</h:panelGroup>

			</h:panelGroup>
			
		</p:tab>


<!-- 	 ============================================================================================================== -->
<!-- 	 ==========================================                      ============================================== -->
<!-- 	 ==========================================         UWAGI		 ============================================== -->
<!-- 	 ==========================================                      ============================================== -->
<!-- 	 ============================================================================================================== -->		
	
		<p:tab title="UWAGI">
		
			<c:cInputTextAreaMDesign id="uwagi" styleClass="ui-g ui-g-12"
				label="Uwagi: "
				value="#{delegacjaKrajBean.delegacja.wndUwagi}"
				placeholder="... uwagi ..."  
				rows="5"
				cols="150" 
				maxlength="4000" />
		</p:tab>
			
			<br/><br/><br/>
			
		
	</p:accordionPanel>

	<p:tabView />

</h:body>
</html>