<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Delegacja krajowa nr: #{delegacjaKRBean.wniosek.wndNumer}" />

		<ui:define name="egr_content">

			<h:form id="frmTMnu" styleClass="pp-bg-lp-north-b-white-b-v pl20 pr20 p5 d-flex a-i-center">
			
				<h:panelGroup id="usunPG" rendered="true">
					<p:commandButton value="usuń" id="usunId" icon="delete"
						style="min-width:80px" styleClass="ctl-home-link-menu"
						actionListener="#{delegacjaKRBean.usun()}"
						process="@form"
						update="template_growl"
						partialSubmit="true"
						disabled="#{delegacjaKRBean.wniosek.wndId == null or delegacjaKRBean.wniosek.wndId == 0}"
						/>
				</h:panelGroup>

				<h:panelGroup id="anulujPG" rendered="true">
					<p:commandButton value="anuluj" id="anulujd" icon="delete"
						style="min-width:80px" styleClass="ctl-home-link-menu"
						actionListener="#{delegacjaKRBean.anulujWniosek()}"
						process="@form"
						update="template_growl"
						partialSubmit="true"
						disabled="#{delegacjaKRBean.wniosek.wndId == null or delegacjaKRBean.wniosek.wndId == 0}"
						/>
				</h:panelGroup>

			    <cc:cObiegCzynnosci id="obiegDelKraj" idEncji="#{delegacjaKRBean.wniosek.wndId}"
					reloadPage="DelegacjaKrajowa"
					hibernateRefreshPoWykonaniuCzynnosc="#{delegacjaKRBean.wniosek}"
					kategoriaObiegu="WN_DELKv2"
			    />

				<cc:cZalacznikiButton
						id="zalacznikiBt"
						dlgTitle="Załączniki delegacji:"
						zalFkId="#{delegacjaKRBean.wniosek.wndId}"
						zalFkFieldName="ZAL_WND_ID"
						showSearchField="false"
				/>
	
			    <p:commandButton id="raportPolecenie" value="Raport polecenia" icon="picture_as_pdf"
					style="min-width:80px" styleClass="ctl-home-link-menu"
					actionListener="#{delegacjaKRBean.raportPolecenie()}"
					rendered="#{delegacjaKRBean.wniosek.wndId gt 0}"
					partialSubmit="true" process="@this"
					title="Przed wydrukowaniem raportu należy pamiętać o uzupełnieniu danych"
					onclick="form.target = '_blank'" ajax="false" />

				<p:commandButton id="raportRozliczenie" value="Raport rozliczenia" icon="picture_as_pdf"
					style="min-width:80px" styleClass="ctl-home-link-menu"
					actionListener="#{delegacjaKRBean.raportRozliczenie()}"
					rendered="#{delegacjaKRBean.wniosek.wndId gt 0}"
					partialSubmit="true" process="@this"
					title="Przed wydrukowaniem raportu należy pamiętać o uzupełnieniu danych"
					onclick="form.target = '_blank'" ajax="false" />


				<p:commandButton id="rozliczDel" value="Rozpocznij kalkulację rozliczającą"
					partialSubmit="true" process="@this"
					action="#{delegacjaKRBean.przygotujDaneKalkRozl}"
					rendered="#{delegacjaKRBean.wniosek.wndId gt 0}"
					disabled="#{delegacjaKRBean.wniosek.wndDokId ne null}"
					update="tabViewId:frmT1 tabViewId:frmT2 tabViewId:frmT3"
					onstart="hgon(); PF('tabViewId').select(2);" oncomplete="hgoff();"
					title="Przycisk kopiuje dane z cz II na cz III celem rozpoczęcia wprowadzania rzeczywistych danych na kalkulacji rozliczającej bez konieczności przepisywania wszystkiego od podstaw"
					/>

				<p:commandButton
					value="Id noty : #{delegacjaKRBean.wniosek.wndDokId}"
					rendered="#{delegacjaKRBean.wniosek.wndDokId ne null}"
					disabled="true"
				/>
				
				<pe:remoteCommand
						name="submitTabIndex"
						actionListener="#{delegacjaKRBean.setTabDelegacji}"
						partialSubmit="true" process="@this"
						onstart="hgon();" oncomplete="hgoff();"
						update="tabViewId:frmT1 tabViewId:frmT2 tabViewId:frmT3">
					<pe:methodSignature parameters="java.lang.Integer"/>
					<pe:methodParam name="tabDelegacji"/>
				</pe:remoteCommand>

			</h:form>

			<div class="bg-fff flex-1 p1vh ov-hidden">

				<p:tabView id="tabViewId" widgetVar="tabViewId"
						   dynamic="false" cache="false"
						   onTabChange="submitTabIndex(index);"
						   styleClass="pp-tbvw-wide"
						  >
					
					<p:tab title="Część I - wniosek" id="t1">
						<div class="mr-10i pr15 pl15 ml-5i" style="max-height: calc(100vh - 190px); overflow-y:auto; overflow-x:hidden;">
							<h:form id="frmT1" styleClass="pr20 pt10 ml-15i mr-20i frmT1 obieg">
								<ui:include src="#{delegacjaKRBean.tabDelegacji == 0 ? '/faces/DelegacjeKrajowe/DelKrajTab1.xhtml' : ''}"/>
							</h:form>
						</div>
					</p:tab>

					<p:tab title="Część II - kalkulacja wstępna" id="t2" disabled="#{0 eq delegacjaKRBean.wniosek.wndId}"
								titletip="#{0 eq delegacjaKRBean.wniosek.wndId ? 'Część II dostępna jest po zapisie wniosku':''}">
						<div class="mr-10i pr15 pl15 ml-5i" style="max-height: calc(100vh - 190px); overflow-y:auto; overflow-x:hidden;">
							<h:form id="frmT2" styleClass="pr20 pt10 ml-15i mr-20i frmT1 obieg">
								<ui:include src="#{delegacjaKRBean.tabDelegacji == 1 ? '/faces/DelegacjeKrajowe/DelKrajTab2.xhtml' : ''}"/>
							</h:form>
						</div>
					</p:tab>

					<p:tab title="Część III - kalkulacja rozliczająca" id="t3" disabled="#{0 eq delegacjaKRBean.wniosek.wndId}"
								titletip="#{0 eq delegacjaKRBean.wniosek.wndId ? 'Część III dostępna jest po zapisie wniosku':''}">
						<div class="mr-10i pr15 pl15 ml-5i" style="max-height: calc(100vh - 190px); overflow-y:auto; overflow-x:hidden;">
							<h:form id="frmT3" styleClass="pr20 pt10 ml-15i mr-20i frmT1 obieg">
								<ui:include src="#{delegacjaKRBean.tabDelegacji == 2 ? '/faces/DelegacjeKrajowe/DelKrajTab3.xhtml' : ''}"/>	
							</h:form>
						</div>
					</p:tab>
					
				</p:tabView>

			</div>

			<h:form styleClass="position-fixed right25 bottom20 opacity-06">

				<p:commandButton value="Zapisz"
					id="zapiszId" kuid="zapisz"
					action="#{delegacjaKRBean.zapisz}"
					styleClass="btn-dark"
					partialSubmit="true"
					onstart = "showHourGlass()"
					oncomplete	= "hideHourGlass()"
					process="tabViewId:frmT1 tabViewId:frmT2 tabViewId:frmT3 frmTMnu @this"
					update="tabViewId:frmT1 tabViewId:frmT2 tabViewId:frmT3 frmTMnu @(.ctl-form-name) @(.dlgObieg) @(.obieg)"
				/>
			</h:form>

<!--			<ui:include src="/WEB-INF/protectedElements/Dialogs/Delegacje/dlgRodzajeKosztowKr.xhtml" />-->
			<ui:include src="/WEB-INF/protectedElements/Dialogs/Delegacje/dlgZrodlaFinansowaniaKrajowe.xhtml" />
			
			<p:confirmDialog global="true" showEffect="fade"
							 hideEffect="fade">
				<p:commandButton value="Tak" type="button"
								 styleClass="ui-confirmdialog-yes" icon="check" />
				<p:commandButton value="Nie" type="button"
								 styleClass="ui-confirmdialog-no" icon="close" />
			</p:confirmDialog>

		</ui:define>

	</ui:composition>


</h:body>

</html>

