<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
      xmlns:i="http://java.sun.com/jsp/jstl/core">

<h:body>


    <h:panelGroup id="pracownicyInfo" styleClass="d-flex flex-wrap">

        <div class="mt20 mr20">
            <p:outputLabel
                    value="#{'T' eq wnd.wndCzyGrupowa? 'Przewodniczący delegacji':'Pracownik delegowany'}"
                    styleClass="fs20 bb1"
            >

                <c:cLovJS lovDlgTitle="Lista pracowników" styleClass="mb-8i"
                          showInputText="false" required="true"
                          width="50"
                          process="@this"
                          value="#{wnd.wndPrcId}"
                          datasource="#{wnd.getLW('PPL_KAD_PRACOWNICY').setPreQuery('call ppadm.ppp_global.ustaw_date_dla_struktury_po(sysdate)')}"
                          update="tabViewId:frmT1:accPnl:prcDelInfo tabViewId:frmT1:accPnl:prcPrzelInfo @(.zaliczki)
									@(.rdKszt) @(.rdKsztZF)
									@(.dlgLovJS_Lista_kont_ppl_del_konta_prc) @(.dlgLovJS_Źródła_finansowania_ppl_del_zrodla_fin)
									"
                />

            </p:outputLabel>

            <c:cPracownikBasicInfo
                    id="prcDelInfo"
                    prcId="#{wnd.wndPrcId}" showKsTelInfo="true"
            />
        </div>


        <div class="mt20 mr20">
            <p:outputLabel value="Bezpośredni przełożony "
                           styleClass="fs20 bb1"/>

            <c:cPracownikBasicInfo id="prcPrzelInfo"
                                   prcId="#{wnd.getLW('PPL_KAD_PRACOWNICY').find(wnd.wndPrcId).get('ZAT_PRC_ID_SZEF') }"
                                   showKsTelInfo="true"/>
        </div>


        <div class="mt20 mr20">

            <p:outputLabel value="Przewodniczący delegacji"
                           styleClass="fs20 bb1"
                           rendered="#{!(wnd.wndWndId == null)}"/>

            <c:cPracownikBasicInfo id="prcPrzewodniczacy"
                                   rendered="#{wnd.wndWndId != null}"
                                   prcId="#{wnd.getLW('PPL_DEL_WNIOSKI', wnd.wndRodzaj).currentRow != null? wnd.getLW('PPL_DEL_WNIOSKI', wnd.wndRodzaj).currentRow.get('WND_PRC_ID') : null }"
                                   showKsTelInfo="true"/>
        </div>

        <h:panelGroup rendered="#{'T' eq wnd.wndCzyGrupowa}" styleClass="d-inline-block mh300">

            <!--            <h:panelGroup style="position : relative; width: 650px; height: 300px;" layout="block">-->
            <p:outputLabel value="Pozostali delegowani" style="padding-top: 45px; display: block;"
                           styleClass="fs20"
            />

            <c:cLookupTable datasource="#{wnd.getLW('PPL_DEL_PRC_GRUPOWA', wnd.wndId)}"
                            showSearchField="false"
            />
            <!--            </h:panelGroup>-->

        </h:panelGroup>

        <!--        </p:row>-->
    </h:panelGroup>

</h:body>

</html>