<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>
<ui:composition
        template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
    <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
    <ui:param name="formName" value="Lista delegacji zagranicznych"/>

    <ui:define name="egr_content">

        <h:form styleClass="bg-fff bsh2black m20i p20 flex-1">

            <c:cLookupTable
                    datasource="#{v.getLW('PPL_DELEGACJE_Z_MF')}"
                    disabled="#{row.get('wnd_status') eq 'anulowany'}"
                    editRowPage="DelegacjaZagraniczna"
            />

        </h:form>

    </ui:define>
</ui:composition>
</body>
</html>