<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	>

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Stawki delegacji" />

		<ui:define name="egr_content">

			<h:form styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20">
				<p:commandButton value="zapisz" id="zapiszId" icon="save"
								process="frmDane @this" partialSubmit="true"
								onstart="hgon()" oncomplete="hgoff()"
								update="frmDane"
								actionListener="#{stawkiDelegacjiBean.zapisz()}" />

				<p:commandButton value="usuń" id="usunId" icon="delete_forever"
							style="min-width:80px" styleClass="ctl-home-link-menu"
							actionListener="#{stawkiDelegacjiBean.usun()}"
							process="@(.frmDane) @this" partialSubmit="true">

					<p:confirm header="Usuwanie"
						message="Czy na pewno chcesz trwale usunąć stawke?"
						icon="ui-icon-alert" />
				</p:commandButton>

				<p:confirmDialog global="true" showEffect="fade"
							hideEffect="fade">
					<p:commandButton value="Tak" type="button"
						styleClass="ui-confirmdialog-yes" icon="check" />
					<p:commandButton value="Nie" type="button"
						styleClass="ui-confirmdialog-no" icon="close" />
				</p:confirmDialog>
									
			</h:form>

			<h:form id="frmDane" styleClass="frmDane bg-fff bsh2black m20i p20 flex-1">

				<p:accordionPanel>
					<p:tab title="Dane stawki">

						<div style="min-height: 60px;">

							<div class="ui-g-2 ui-g-nopad">
								<cc:cInputTextMDesign label="Kod stawki:"
									value="#{stawkiDelegacjiBean.delStawkiDelegacji.stdKodStawki}"
									readonly="false" />
							</div>

							<div class="ui-g-3 ui-g-nopad">
								<cc:cInputTextMDesign label="Nazwa stawki:"
									value="#{stawkiDelegacjiBean.delStawkiDelegacji.stdNazwaStawki}"
									readonly="false" />
							</div>

							<div class="ui-g-5 ui-g-nopad">
								<cc:cInputTextMDesign label="Opis stawki:"
									value="#{stawkiDelegacjiBean.delStawkiDelegacji.stdOpis}"
									readonly="false" />
							</div>

							<div class="ui-g-2 ui-g-nopad">
								<cc:cInputTextMDesign label="Stan definicji stawki:"
									value="#{stawkiDelegacjiBean.delStawkiDelegacji.stdStanDefinicji}"
									readonly="false" />
							</div>

						</div>
					</p:tab>
				</p:accordionPanel>

				<p:accordionPanel>
				
					<p:tab title="Wartości stawek pobytowych">

						<div class="wartoscStawek" id="wartoscStawekPId" style="height: calc(100vh - 330px)">

							<p:inputText id="szukajPId" styleClass="szukajP"
								value="#{stawkiDelegacjiBean.filterTxtP}" placeholder="szukaj..."
										 style="max-width: 300px !important">
								<p:ajax event="keyup" delay="400" update="daneWstP liczbaRekordowPId"/>
							</p:inputText>
							<p:commandButton icon="clear" partialSubmit="true"
								update=" @(.szukajP) daneWstP liczbaRekordowPId"
								process="@(.szukajP) @this"
								actionListener="#{stawkiDelegacjiBean.deleteFilterTxtP}"/>

							<p:outputLabel
								style="color:light-gray; font-size: 13px !important; margin-left: -75px;"
								id="liczbaRekordowPId" styleClass="liczbaRekordow wartoscStawek"
								value="#{stawkiDelegacjiBean.filteredSizeP} / #{ stawkiDelegacjiBean.sizeP} "
							/>

							<cc:cTable id="daneWstP" styleClass="wartoscStawek"
								datasource="#{ stawkiDelegacjiBean.wstListP }" height="calc(100vh - 460px)">

								<p:column headerText="Kraj" width="300">
									<cc:cLovJS
										lovDlgTitle="Lista krajów"
										datasource="#{stawkiDelegacjiBean.getLW('PPL_WSP_KRAJE')}"
										value="#{o.wstKrId}" lovTextFormat="%2$s" />
								</p:column>

								<p:column headerText="Waluta" width="100">
									<cc:cLovJS width="100"
										lovDlgTitle="Waluty"
										datasource="#{stawkiDelegacjiBean.getLW('PPL_SYMBOLE_WALUT')}"
										value="#{o.wstWalId}" lovTextFormat="%2$s"/>
								</p:column>

								<p:column headerText="Kwota" width="100">
									<cc:cInputNumberMDesign value="#{o.wstKwota}"/>
								</p:column>

								<p:column headerText="Obowiązuje od" width="150">
									<cc:cCalendarMDesign  styleClass="clndr-ie"
										value="#{o.wstObowiazujeOd}" />
								</p:column>

								<p:column width="20">

									<f:facet name="header">
										<p:commandButton icon="add" partialSubmit="true" process="@this"
											action="#{stawkiDelegacjiBean.newDelWartosciStawekP()}"
											onstart="hgon()" oncomplete="PFbyId('dlgWartoscStawkiEdycjaId').show(); hgoff();"
											 />
									</f:facet>

									<p:commandButton icon="delete"
										actionListener="#{ stawkiDelegacjiBean.removeDelWartosciStawek(o)}"
										action="#{stawkiDelegacjiBean.setFilterTxtP(stawkiDelegacjiBean.filterTxtP)}"
										partialSubmit="true" process="@composite"
										onstart="hgon()" oncomplete="hgoff()"
										update="@(.wartoscStawek)"
									/>

								</p:column>

							</cc:cTable>

							<cc:cTable hideHeaders="true" varName="xx" height="80px" styleClass="mt30"
								datasource="#{ stawkiDelegacjiBean.delStawkiDelegacji.delWartosciStaweksInnePobytowe }">

								<p:column width="300" >
									<cc:cInputTextMDesign value="Pozostałe kraje" readonly="true"
														  style="margin-left: -10px !important"/>
								</p:column>

								<p:column  width="100">
									<cc:cLovJS width="100"
										datasource="#{stawkiDelegacjiBean.getLW('PPL_SYMBOLE_WALUT')}"
										value="#{xx.wstWalId}" lovTextFormat="%2$s"/>
								</p:column>

								<p:column width="100">
									<cc:cInputNumberMDesign value="#{xx.wstKwota}" />
								</p:column>

								<p:column width="150">
									<cc:cCalendarMDesign  styleClass="clndr-ie"
										value="#{xx.wstObowiazujeOd}" />
								</p:column>

								<p:column>
								</p:column>

							</cc:cTable>
						</div>
					</p:tab>

					<p:tab title="Wartości stawek hotelowych">

						<div class="wartoscStawekH" id="wartoscStawekHId" style="height: calc(100vh - 330px)">

							<p:inputText id="szukajHId" styleClass="szukajH"
								value="#{stawkiDelegacjiBean.filterTxtH}" placeholder="szukaj..."
										 style="max-width: 300px !important">
								<p:ajax event="keyup" delay="400" update="daneWstH liczbaRekordowHId"/>
							</p:inputText>

							<p:commandButton icon="clear" partialSubmit="true"
								update=" @(.szukajH) daneWstH liczbaRekordowHId"
								process="@(.szukajH) @this"
								actionListener="#{stawkiDelegacjiBean.deleteFilterTxtH}"/>

							<p:outputLabel
								style="color:light-gray; font-size: 13px !important; margin-left:-75px;"
								id="liczbaRekordowHId" styleClass="liczbaRekordow wartoscStawekH"
								value="#{stawkiDelegacjiBean.filteredSizeH} / #{ stawkiDelegacjiBean.sizeH} "
							/>

							<cc:cTable id="daneWstH" styleClass="wartoscStawekH"
								 datasource="#{ stawkiDelegacjiBean.wstListH }" height="calc(100vh - 460px)">

								<p:column headerText="Kraj" width="300">
									<cc:cLovJS
										lovDlgTitle="Lista krajów"
										datasource="#{stawkiDelegacjiBean.getLW('PPL_WSP_KRAJE')}"
										value="#{o.wstKrId}" lovTextFormat="%2$s"/>
								</p:column>

								<p:column headerText="Waluta" width="100">
									<cc:cLovJS width="100"
										lovDlgTitle="Waluty"
										datasource="#{stawkiDelegacjiBean.getLW('PPL_SYMBOLE_WALUT')}"
										value="#{o.wstWalId}" lovTextFormat="%2$s"/>
								</p:column>

								<p:column headerText="Kwota" width="100">
									<cc:cInputNumberMDesign value="#{o.wstKwota}"/>
								</p:column>

								<p:column headerText="Obowiązuje od" width="150">
									<cc:cCalendarMDesign  styleClass="clndr-ie"
										value="#{o.wstObowiazujeOd}" />
								</p:column>

								<p:column width="20">

									<f:facet name="header">
										<p:commandButton icon="add" partialSubmit="true" process="@this"
											action="#{stawkiDelegacjiBean.newDelWartosciStawekH}"
											onstart="hgon()" oncomplete="PFbyId('dlgWartoscStawkiEdycjaId').show(); hgoff();"
											 />
									</f:facet>

									<p:commandButton icon="delete"
										actionListener="#{ stawkiDelegacjiBean.removeDelWartosciStawek(o)}"
										action="#{stawkiDelegacjiBean.setFilterTxtH(stawkiDelegacjiBean.filterTxtH)}"
										partialSubmit="true" process="@composite"
										onstart="hgon()" oncomplete="hgoff()"
										update="@(.wartoscStawekH)"
									/>

								</p:column>

							</cc:cTable>

							<cc:cTable varName="hhh" hideHeaders="true" height="80px" styleClass="mt30"
								datasource="#{ stawkiDelegacjiBean.delStawkiDelegacji.delWartosciStaweksInneHotelowe }">

								<p:column width="300" >
									<cc:cInputTextMDesign value="Pozostałe kraje" readonly="true"
														  style="margin-left: -10px !important"/>
								</p:column>

								<p:column width="100">
									<cc:cLovJS width="100"
										datasource="#{stawkiDelegacjiBean.getLW('PPL_SYMBOLE_WALUT')}"
										value="#{hhh.wstWalId}" lovTextFormat="%2$s"/>
								</p:column>

								<p:column width="100">
									<cc:cInputNumberMDesign value="#{hhh.wstKwota}"/>
								</p:column>

								<p:column width="150">
									<cc:cCalendarMDesign  styleClass="clndr-ie"
										value="#{hhh.wstObowiazujeOd}" />
								</p:column>

								<p:column>
								</p:column>

							</cc:cTable>
						</div>
					</p:tab>				
				
				</p:accordionPanel>

			</h:form>

			<ui:include src="/WEB-INF/protectedElements/Dialogs/Delegacje/dlgWartoscStawkiEdycja.xhtml" />

		</ui:define>
	</ui:composition>
</h:body>
</html>
