<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>
    <ui:composition
            template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
        <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
        <ui:param name="formName" value="Stawki delegacji"/>
        <ui:define name="egr_content">

            <h:form id="frmTMnu" styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20">
                <p:commandButton
                        value="dodaj" icon="add"
                        partialSubmit="true"
                        actionListener="#{sessionBean.setViewEntityId(null)}"
                        action="/faces/DelegacjeMF/StawkiDelegacjiEdycja.xhtml?faces-redirect=true" ajax="false"
                />
            </h:form>

            <h:form styleClass="bg-fff bsh2black m20i p20 flex-1">

                <cc:cLookupTable
                        datasource="#{sqlBean.getLW('PPL_DEL_STAWKI')}"
                        editRowPage="StawkiDelegacjiEdycja"
                />

            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>

