<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
    <ui:composition
            template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
        <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
        <ui:param name="formName" value="Typy pozycji delegacji"/>
        <ui:define name="egr_content">

            <h:form id="frmMnu" styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20">

                <p:commandButton
                        value="dodaj" icon="add"
                        partialSubmit="true"
                        actionListener="#{sessionBean.setViewEntityId(null)}"
                        action="/faces/DelegacjeMF/TypyPozycjiDelegacji.xhtml?faces-redirect=true" ajax="false"
                />

            </h:form>

            <h:form id="frmCntr" styleClass="bg-fff bsh2black m20i p20 flex-1">

                <c:cLookupTable
                        datasource="#{listaOcenBean.getLW('PPL_DEL_TYPY_POZYCJI')}"
                        editRowPage="TypyPozycjiDelegacji"
                />

            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>
