<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://xmlns.jcp.org/jsf/composite"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:egr="http://egr.egeria.comarch.com/facelets"
>


<f:metadata>
</f:metadata>


<h:body>
    <f:view>

        <ui:composition
                template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
            <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
            <ui:param name="formName" value="Wizard"/>

            <ui:define name="egr_content">


                <p:confirmDialog global="true" showEffect="fade"
                                 hideEffect="fade">
                    <p:commandButton value="Tak" type="button"
                                     styleClass="ui-confirmdialog-yes" icon="check"/>
                    <p:commandButton value="Nie" type="button"
                                     styleClass="ui-confirmdialog-no" icon="close"/>
                </p:confirmDialog>




                <h:form id="frmTMnu" styleClass="d-flex bg-vlgrey pl20 pr20">

                    <p:commandButton
                            value="zapisz"
                            id="zapiszId"
                            icon="save"
                            process="@(.frmDane) @this"
                            styleClass="granatowy bsh1gray m5"
                            artialSubmit="true"
                            actionListener="#{typyPozycjiDelegacjiBean.zapisz()}"
                    />

                    <p:commandButton
                            value="usuń"
                            id="usunId"
                            icon="delete_forever"
                            style="min-width:80px"
                            styleClass="granatowy bsh1gray m5"
                            actionListener="#{typyPozycjiDelegacjiBean.usun()}"
                            process="@(.pnlWyniki) @this"
                            partialSubmit="true">

                        <p:confirm
                                header="Usuwanie"
                                message="Czy na pewno chcesz trwale usunąć typ pozycji?"
                                icon="ui-icon-alert"
                        />

                    </p:commandButton>

                </h:form>


                <h:form id="frmDane" styleClass="frmDane bg-fff m20i p40 d-flex-1-column">

                    #{typyPozycjiDelegacjiBean.loadEgSlownik('DEL_TPOZ_KATEGORIA')}

                    <div class="d-flex flex-wrap a-i-center mb20">

                        <cc:cInputText
                                label="Kod typu pozycji:"
                                value="#{typyPozycjiDelegacjiBean.delTypyPozycji.tpozKod}"
                                styleClass="m10 flex-200"
                        />

                        <cc:cInputText
                                label="Nazwa typu pozycji:"
                                value="#{typyPozycjiDelegacjiBean.delTypyPozycji.tpozNazwa}"
                                styleClass="m10 flex-300"
                        />

                        <cc:cSOM
                                label="Kategoria typu pozycji:"
                                datasource="#{typyPozycjiDelegacjiBean.getSql('DEL_TPOZ_KATEGORIA')}"
                                value="#{typyPozycjiDelegacjiBean.delTypyPozycji.tpozKategoria}"
                                update="@form"
                                styleClass="m10 flex-300"
                        />


                    </div>

                    <div class="m10">

                        <cc:cSelectBooleanCheckboxTN
                                label="Czy pozycja dostępna na delegacji krajowej"
                                value="#{typyPozycjiDelegacjiBean.delTypyPozycji.tpozFCzyKraj}"
                                process="@this"
                                partialSubmit="true"
                                styleClass="m10"
                        />
                        <br/>
                        <cc:cSelectBooleanCheckboxTN
                                label="Czy pozycja dostępna na delegacji zagranicznej"
                                value="#{typyPozycjiDelegacjiBean.delTypyPozycji.tpozFCzyZagr}"
                                process="@this"
                                partialSubmit="true"
                                styleClass="m10"
                        />

                    </div>

                    <cc:cInputTextArea
                            label="Opis typu pozycji:"
                            value="#{typyPozycjiDelegacjiBean.delTypyPozycji.tpozOpis}"
                            styleClass="m10 mb20"
                    />


                    <cc:cLovJS styleClass="m10 w300"
                               label="Domyślna forma płatności"
                               lovDlgTitle="Formy płatności"
                               placeholder="wybierz"
                               datasource="#{v.getSlownik('DEL_FORMY_PLATNOSCI')}"
                               value="#{typyPozycjiDelegacjiBean.delTypyPozycji.tpozDomyslnaPlatnosc}"
                               lovTextFormat="%2$s"
                               allowClearValue="true"
                    />


                    <!-- 					 rendered = "#{'H' eq typyPozycjiDelegacjiBean.delTypyPozycji.tpozKategoria or 'P' eq typyPozycjiDelegacjiBean.delTypyPozycji.tpozKategoria}" -->
                    <h:panelGroup id="daneStawkiId" styleClass="daneStawki m10 mt80 d-flex-column">

                        <div class="d-flex flex-wrap a-i-center">

							<cc:cSOM
									styleClass="flex-100"
									label="Kod stawki"
									datasource="#{typyPozycjiDelegacjiBean.getLW('PPL_DEL_STAWKI')}"
									value="#{ typyPozycjiDelegacjiBean.tpozStdId }"
									update="@(.std)"
							/>

                            <cc:cInputText
                                    styleClass="flex-500 std"
                                    label="Nazwa stawki"
                                    value="#{typyPozycjiDelegacjiBean.delTypyPozycji.delStawkiDelegacji.stdNazwaStawki}"
                                    readonly="true"/>
                        </div>

                        <cc:cInputTextArea
                                styleClass="std mt30"
                                label="Opis stawki"
                                value="#{typyPozycjiDelegacjiBean.delTypyPozycji.delStawkiDelegacji.stdOpis}"
                                readonly="true"/>

                    </h:panelGroup>

                </h:form>

            </ui:define>

        </ui:composition>

    </f:view>
</h:body>

</html>
