<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">


<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    </f:facet>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <h:outputStylesheet library="css" name="bootstrap.css"/>
    <h:outputStylesheet library="css" name="login/egr-login-style.css"/>
    <p:importConstants
            type="com.comarch.egeria.web.common.utils.constants.Const" var="Const"/>
    <link rel="stylesheet" type="text/css"
          href="resources/css/pp-style.css?v=#{appBean.startupTime.time}"/>
    <link rel="icon" type="image/png"
          href="#{request.contextPath}/resources/images/short.png"/>
    <title>#{Const.APP_NAME}</title>
</h:head>
<f:metadata>
    <f:viewAction action="#{egrChangePasswordBean.preViewConstruct()}"/>
    <f:viewParam name="token" value="#{egrChangePasswordBean.passwordResetTokenParam}"/>
</f:metadata>

<h:body style="height: 100vh; width: 100vw; align-items: center; display: flex; flex-direction: column; overflow: hidden">


    <div id="errMsg"
         class="errMsg center"
         style="position: absolute; top: 10px; width: 100%; z-index: 999; background: transparent; color: #AA4444; font-size: 24px; text-align: center;"
    >
        #{flash['errMsg']}
    </div>

    <div style="display: flex; flex: 1; flex-direction: column; overflow-y: auto; width: 100vw">
        <div class="login-login-panel" style="margin:auto;">


            <div class="img-responsive d-flex" style="position:relative; display: inline-block; width: 300px;">
                <p:graphicImage styleClass="login-logo-systemu img-responsive upd-btn-set-new-pasword mauto"
                                library="images" name="login/logoSystemu.png"
                                style="max-height: #{egrChangePasswordBean.showPasswordComplexityInfo? '10vh' : '20vh'}"
                                alt="#{Const.APP_NAME}"/>
            </div>


            <h:form id="changePasswordForm" styleClass="login-login-form btb1 p10">
                <f:passThroughAttribute name="autocomplete" value="off"/>
                <div>
                    <div id="egr-storage-logout" class="help-block"></div>
                    <p:messages showIcon="false"
                                rendered="#{not facesContext.validationFailed}">
                        <p:autoUpdate/>
                    </p:messages>
                </div>
                <div class="form-group login-input">
                    <div class="input-fake-fontawesome-receiver fake-fa-lock">
                        <p:password id="password"
                                    required="true" match="repeatedPassword"
                                    label="#{dic.LBL_login_password}"
                                    value="#{egrChangePasswordBean.password}"
                                    styleClass="form-control">
                            <f:passThroughAttribute name="autocomplete" value="off"/>
                        </p:password>
                        <p:watermark for="password" value="#{dic.LBL_login_password}"/>
                    </div>
                    <p:message styleClass="help-block with-errors" for="password"
                               display="text"/>
                </div>
                <div class="form-group login-input">
                    <div class="input-fake-fontawesome-receiver fake-fa-lock">
                        <p:password id="repeatedPassword"
                                    required="true"
                                    label="#{dic.LBL_repeat_password}"
                                    value="#{egrChangePasswordBean.repeatedPassword}"
                                    styleClass="form-control">
                            <f:passThroughAttribute name="autocomplete" value="off"/>
                        </p:password>
                        <p:watermark for="repeatedPassword" value="#{dic.LBL_repeat_password}"/>
                    </div>
                    <p:message styleClass="help-block with-errors" for="repeatedPassword"
                               display="text"/>
                </div>
                <p:commandButton value="#{dic.LBL_set_new_password}" id="changePassword"
                                 action="#{egrChangePasswordBean.changePassword}"
                                 update="@(.upd-btn-set-new-pasword)"
                                 styleClass="btn btn-primary login-login-btn"
                                 onstart=" $('#changePasswordForm\\:setPassword').attr('disabled', true); "
                                 oncomplete="fixErrorMessages();"/>
            </h:form>
        </div>

        <h:panelGroup
                id="password-complexity-info-containter"
                styleClass="mb50 d-flex upd-btn-set-new-pasword"
                layout="block">
            <h:panelGroup id="password-complexity-info"
                          styleClass="mw700 a-i-center mauto"
                          rendered="#{egrChangePasswordBean.showPasswordComplexityInfo}"
                          layout="block">
                <ui:include src="/mailComplexityInfo.xhtml"/>
            </h:panelGroup>
        </h:panelGroup>

    </div>


    <h:outputScript library="js" name="bootstrap.min.js"/>
    <h:outputScript library="js" name="egr/loginPage.js"/>

    <!--STOPKA-->
    <ui:include src="loginFtr.xhtml"/>
</h:body>
</html>
