<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
   	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">
     
    <h:head>
	<h:outputStylesheet name="ctl-style.css" library="css" />

	<h:outputStylesheet name="pp-style.css" library="css" />
	<h:outputStylesheet name="pp-calendar.css" library="css" />
	<h:outputStylesheet name="pp-kafelki.css" library="css" />
	<h:outputStylesheet name="pp-gicons.css" library="css" />
	<h:outputStylesheet name="materialdesignicons.min.css" library="css" />
	<h:outputStylesheet name="pp-menu.css" library="css" />
	<h:outputStylesheet name="pp-buttons.css" library="css" />
	<h:outputStylesheet name="pp-tabs.css" library="css" />
	<h:outputStylesheet name="pp-forms.css" library="css" />
	<h:outputStylesheet name="pp-notification.css" library="css" />



	<script src="resources/js/pfLocales.js" type="text/javascript"></script>
	<script src="resources/js/ctlUtils.js" type="text/javascript"></script>
	<script src="resources/js/pf-widgets/ctlColumnToggler.js"
		type="text/javascript"></script>

	<script src="resources/js/pf-widgets/ctlMenubar.js"
		type="text/javascript"></script>
	<script src="resources/js/pf-widgets/ctlSelectOneMenu.js"
		type="text/javascript"></script>
	<script src="resources/js/external/jquery-element-onresize.js"
		type="text/javascript"></script>

	<script src="resources/js/pf-widgets/ppCalendar.js"
		type="text/javascript"></script>    
    
    
<!--         <title>T:#{cLov.title}</title> -->
   
    </h:head>
     
    <h:body>

		<h:form id="frmCLov" style="height:100%; width:100%;">
		<div style="width:100%; background:gray!important">
			<p:panelGrid>
				
				<p:column>
					<h:outputText value="#{cLov.title}"/>
				</p:column>
				<p:column styleClass="r10">
				
					<p:commandButton id="btAnuluj" value="#{dic.EGR70017_anuluj}" styleClass="btnDlg"
						process="@this"   actionListener="#{cLov.close(null)}" icon="clear">
					</p:commandButton>
					
				</p:column>
				
			</p:panelGrid>
		</div>	
			
			
			<p:separator/>	



			<div style="width:100%; height:500px;" >
			
<!-- 			onRowSelected="PF('dlgLov').hide();" -->
					<c:cLookupTable  id="clkptbl" 
						datasource="#{cLov.datasource}"
						rowSelectAction="#{cLov.setValueDoCcAttrsActionAndUpdate()}"
						multiselect  = "#{cLov.multiselect}"/>
						
					<p:focus for="frmCLov:clkptbl:inpSearch"/>
			</div>

        	<p:separator/>	
            <p:commandButton value="[OK]" actionListener="#{cLov.close(null)}"  rendered="#{cLov.multiselect}" />
        </h:form>
    </h:body>
</html>