<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<!--xmlns:p="http://primefaces.org/ui"-->
<h:body>

	<ui:composition
			template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}" />

		<ui:define name="egr_content">

<!--#{testBean.testHQL()}-->
<!--#{v.getLW('PPL_TEST_1234567').data.size()}-->
<!--#{v.getSL('TEST').data}-->


<!--			<h:form styleClass="d-flex-column bg-fff bsh1 p10" >-->
<!--				<p:commandButton value="test" action="#{testBean.testApachePOIInstrukcjaPPSplitBodyElements('DaneKadroweBadania')}" styleClass="granatowy mlautoi" onstart="hgon()" oncomplete="hgoff()"/>-->
<!--			</h:form>-->

				
				<div style="height: 100%; width: 100%; align-content: center; -webkit-align-content: center; overflow: auto;"
					 class="bsh1 pp-runningbg pp-bg-gradient-gray-blue-6">

					<div class="d-flex" style="width:100%; max-width: 960px; margin: 5% auto;">

						<div class="d-flex-column ml15 mr15" style="width:100%; max-width: 960px;">

                            <div class="mt20">
                                <ui:include src="/WEB-INF/protectedElements/Kafelki/KafelkiGrid.xhtml" />
                            </div>

<!--
                            <div class="ui-g-12 p0" style="margin-top: 5vh">
                                <ui:include src="/WEB-INF/protectedElements/Kafelki/Info.xhtml" />
                            </div>
-->

                            <div style="margin-top: 5vh">
                                <img src="./resources/images/logoEgeria.svg" style="width: 100%; height: 125px; opacity: 0.4;" />
                            </div>

                        </div>

					</div>

					<div style="position: fixed; bottom: 0; width: 100%;" class="p5 pp-bg-lp-north-b-white-b-v">
						<div class="center fs16" style="width: 100%;">
							<span>Copyright &#169; 2001 - #{v.now.year} COMARCH S.A.</span>
							<span class="m10">|</span><a href="http://www.comarch.com" target="_PARENT">www.comarch.com</a>
							<span class="m10">|</span><a href="mailto:#{appBean.ppKonfiguracjaAdminAdresMail}">#{appBean.ppKonfiguracjaAdminAdresMail}</a>
							<!--					<span class="m10">|</span><a href="mailto:portal.support@comarch.pl">portal.support@comarch.pl</a>-->

						</div>
					</div>

				</div>

		</ui:define>

	</ui:composition>

</h:body>

</html>
