<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">


<f:metadata>
</f:metadata>

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplateMainMenu.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}" />

		<ui:define name="egr_content">

<!-- 			<pe:layoutPane position="center" resizable="false" closable="false" -->
<!-- 				spacingOpen="0" spacingClosed="0" styleContent="padding:20px" -->
<!-- 				styleClassContent="ctl-datatable-pane"> -->

<!-- 				<div -->
<!-- 					style="width: 100%; height: 70%; margin-top: 95px; padding: 14px;"> -->
<!-- 					<ui:include -->
<!-- 						src="/WEB-INF/protectedElements/Kafelki/KafelkiGrid.xhtml" /> -->
<!-- 				</div> -->
<!-- 			</pe:layoutPane> -->

<!-- 			<ui:include -->
<!-- 				src="/WEB-INF/protectedElements/Dialogs/Narzedzia/dlgFZmianaHasla.xhtml" /> -->
		</ui:define>

	</ui:composition>




</h:body>

</html>
