<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">


<f:metadata>
</f:metadata>


<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Kontrola Uprawnień" />

		<ui:define name="egr_content">
			<div class="bsh1 m0" style="display: flex; flex-direction: column; overflow-y: hidden;">

				<h:form id="frmKuInfo" styleClass="m20i p20 bg-fff bsh1"  style="display: flex; flex-direction: column; overflow-y: auto;">

					<h1><h:outputText value="Nie masz uprawnień do przeglądania zawartości strony '#{v.urlParams['p']}'" /></h1>
					<h2><h:outputText value="Poproś administratora systemu o przyznanie stosownego dostępu dla w/w strony dla użytkownika '#{user.login}' (dblogin: '#{user.dbLogin}')." /></h2>
					
					<h3><h:outputText value="Aktualny profil użytkownika (wg DDF): #{user.profil}" /></h3>
					
					<h:panelGroup rendered="#{user.permissionsDisabled.size() eq 0}">
						<h3><h:outputText value="Funkcje użytkowe:" /></h3>
						<ui:repeat var="vKuXhtmlfu" value="#{user.permissions}">
							#{vKuXhtmlfu}<br/>
						</ui:repeat>
					</h:panelGroup>
					
					<h:panelGroup rendered="#{user.permissionsDisabled.size() gt 0}">
						<h3><h:outputText value="Funkcje użytkowe aktywne:" /></h3>
						<ui:repeat var="vKuXhtmlfuEnbld" value="#{user.permissionsEnabled}">
							#{vKuXhtmlfuEnbld}<br/>
						</ui:repeat>
					</h:panelGroup>
					
					<h:panelGroup rendered="#{user.permissionsDisabled.size() gt 0}">
						<h3><h:outputText value="Funkcje użytkowe wyłączone:" /></h3>
						<ui:repeat var="vKuXhtmlfuDsbld" value="#{user.permissionsDisabled}">
							#{vKuXhtmlfuDsbld}<br/>
						</ui:repeat>
					</h:panelGroup>
					

				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>

</html>

