<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:body>

	<ui:composition>

		<div class="login-footer d-flex a-i-center" style=" width:100vw!important;">

			<div class="login-footer-info">
				<div>
					<a href="http://www.comarch.com" target="_PARENT">www.comarch.com</a>
					<span style="margin: 1vw;">|</span>
				</div>
				<div>
					<a href="mailto:#{appBean.ppKonfiguracjaAdminAdresMail}">#{appBean.ppKonfiguracjaAdminAdresMail}</a>
					<span style="margin: 1vw;">|</span>
				</div>
				<span>Copyright © 2001 - #{v.now.year} COMARCH S.A.</span>
			</div>

<!--			<a href="http://egeria.comarch.pl">-->
<!--				<p:graphicImage-->
<!--					styleClass="login-logo-egeria"-->
<!--					style="height: 3vh; min-height: 3vh; opacity: 0.3;"-->
<!--					library="images"-->
<!--					name="login/brand_white.png" alt="#{dic.LBL_system_name}" />-->
<!--			</a>-->

		</div>
	</ui:composition>

</h:body>
</html>