<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">
  
<h:head> 
 	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	</f:facet>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="login/egr-login-style.css" />
	<link rel="stylesheet" type="text/css"
		  href="resources/css/pp-style.css?v=#{appBean.startupTime.time}" />
	<p:importConstants
		type="com.comarch.egeria.web.common.utils.constants.Const" var="Const" />
	<link rel="icon" type="image/png"
		href="#{request.contextPath}/resources/images/short.png" />

	<title>#{Const.APP_NAME} - #{dic.LBL_login_title}</title>
</h:head>

<f:metadata>
	<f:viewAction action="#{egrLoginBean.preViewConstruct()}" />
</f:metadata>

<h:body styleClass="d-flex-1-column" style="height: 100vh; width: 100vw; align-items: center;">

	<div id="errMsg" class="errMsg fs34 center"
		 style="position: absolute; z-index: 999; background: transparent; color: #AA4444; text-align: center;">
		#{flash['errMsg']}
	</div>

	<div class="flex-1 login-container">

		<div class="login-logo-firmy">
			<img class="img-responsive"
				 src="#{appBean.getWebappsRelativePath(appBean.fileLogoFirmy)}"
				alt="#{Const.APP_NAME} - #{dic.LBL_login_title}" />
		</div>

		<div class="d-flex-1-column align-items-center mautoi " style="height: 60vh; box-shadow:  0px -0.5px 0px slategrey;">

			<div class="img-responsive" style="position: relative; display: inline-block;">
				
				<p:graphicImage styleClass="login-logo-systemu img-responsive" style="max-height: 20vh"
								library="images" name="login/logoSystemu.png"
								alt="#{Const.APP_NAME}" />

				<p:outputLabel id="lblVersion" title="#{appBean.manifestTs}"
							   value="v.: #{appBean.manifestProperties.version}"
							   style="position: absolute; right: 0; bottom: 0 !important;
							   		  color:#AAAAAA; padding-right: 0 !important; font-size: 2vh !important; opacity: 0.2;"/>

				<p:tooltip for="lblVersion" styleClass="p0 m0 bg-fff">
					<cc:cPPVersionInfo/>
				</p:tooltip>

			</div>

			<h:form id="loginForm" styleClass="login-login-form" style="margin:auto!important;">
				<f:passThroughAttribute name="autocomplete" value="off"/>

				<div>
					<div id="egr-storage-logout" class="help-block"></div>
					<p:messages showIcon="false"
						rendered="#{not facesContext.validationFailed}">
						<p:autoUpdate/>
					</p:messages>
				</div>
				<div class="form-group login-input">
					<div class="input-fake-fontawesome-receiver fake-fa-user">
						<p:inputText id="username" required="true"
							disabled="#{egrLoginBean.loginDisabled}"
							styleClass="form-control" label="#{dic.LBL_login_username}"
							value="#{egrLoginBean.username}" >
							<f:passThroughAttribute name="autocomplete" value="off"/>
						</p:inputText>
						<p:watermark for="username" value="#{dic.LBL_login_username}" />

						<h:panelGroup
								id="usernamehlpr"
								rendered="#{egrLoginBean.pkiUztNazwy.size() gt 1}"
								style="position: absolute; top: 0; right: 0; padding: 0; width:100%; height: 33px; border: 1px solid lightsteelblue;"
						/>
						<p:overlayPanel
								id="usernameovpnl"
								rendered="#{egrLoginBean.pkiUztNazwy.size() gt 1}"
								for="usernamehlpr"
								widgetVar="usernameovpnl"
						>
							<ui:repeat value="#{egrLoginBean.pkiUztNazwy}" var="uzt">
								<p:commandButton
										value="#{uzt}"
										style="width:100%" action="#{egrLoginBean.setUsername(uzt)}"
										update="loginForm:username" partialSubmit="trie" process="@this"
										oncomplete="PF('usernameovpnl').hide()"/>
							</ui:repeat>
						</p:overlayPanel>

					</div>
					<p:message styleClass="help-block with-errors has-error"
						for="username" display="text" />
				</div>
				<ui:fragment rendered="#{egrLoginBean.passwordRendered}">
					<div class="form-group login-input">
						<div class="input-fake-fontawesome-receiver fake-fa-lock">
							<p:password id="password"
								required="#{egrLoginBean.passwordRequired}"
								label="#{dic.LBL_login_password}"
								value="#{egrLoginBean.password}" styleClass="form-control" >
								<f:passThroughAttribute name="autocomplete" value="off"/>
							</p:password>
							<p:watermark for="password" value="#{dic.LBL_login_password}" />
						</div>
						<p:message styleClass="help-block with-errors" for="password"
							display="text" />
					</div>
				</ui:fragment>
				<p:commandButton value="#{egrLoginBean.loginButtonLabel}" id="start"
					action="#{egrLoginBean.doLogin}" update="loginForm"
					disabled="#{egrLoginBean.disableLoginButton}"
					styleClass="btn btn-primary login-login-btn" style="z-index: 999"
					onstart=" $('#loginForm\\:start').attr('disabled', true); "
					oncomplete="fixErrorMessages();" />

			</h:form>


			<h:form>
				<p:commandButton value="#{dic.LBL_reset_password}" id="resetPassword"
								 rendered="#{egrLoginBean.resetPasswordRendered}"
								 action="#{egrLoginBean.resetPassword}" update="loginForm"
								 styleClass="btn btn-primary login-login-btn"
				>
					<p:confirm header="#{dic.LBL_change_password_dlg_confirm_header}"
							   message="#{dic.LBL_change_password_dlg_confirm_question}" />
				</p:commandButton>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{dic.LBL_yes}" type="button" styleClass="ui-confirmdialog-yes" />
					<p:commandButton value="#{dic.LBL_no}" type="button" styleClass="ui-confirmdialog-no" />
				</p:confirmDialog>
			</h:form>



			<div class="d-flex bb1 p5" style="width:100%; box-shadow:  0px -0.5px 0px slategrey, 0px  1px 0px lightgrey; ">

				<div class="btn btn-primary"><a class="txt-lgraphite fs16" href="http://egeria.comarch.pl">Comarch Egeria</a></div>

				<h:form id="languageForm">
					<div class="dropup">
						<div class="btn btn-primary dropdown-toggle"
							 data-toggle="dropdown">
							<p:outputPanel layout="inline" rendered="#{languageBean.isChoosen('pl')}">Polski
								<p:graphicImage
									styleClass="login-lang-flag-small" library="images"
									name="pol.png" alt="PL" />
							</p:outputPanel>
							<p:outputPanel layout="inline"
								rendered="#{languageBean.isChoosen('en')}">English
								<p:graphicImage
									styleClass="login-lang-flag-small" library="images"
									name="eng.png" alt="EN" />
							</p:outputPanel>
							<span class="caret"/>
						</div>
						<ul class="dropdown-menu">
							<li>
								<h:commandLink
									actionListener="#{languageBean.changeLanguage('pl')}"
									styleClass="login-lang-menu">Polski
									<p:graphicImage
										styleClass="login-lang-flag-menu" library="images"
										name="pol.png" alt="PL" />
								</h:commandLink>
							</li>
							<li>
								<h:commandLink
									actionListener="#{languageBean.changeLanguage('en')}"
									styleClass="login-lang-menu">English
									<p:graphicImage
										styleClass="login-lang-flag-menu" library="images"
										name="eng.png" alt="EN" />
								</h:commandLink>
							</li>
						</ul>
					</div>
				</h:form>
			</div>


		</div>

	</div>

	<h:outputScript library="js" name="bootstrap.min.js" />
	<h:outputScript library="js" name="egr/loginPage.js" />

	<!--STOPKA-->
	<ui:include src="loginFtr.xhtml"/>

</h:body>
</html>
