<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:head>
 	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	</f:facet>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="login/egr-login-style.css" />
	<link rel="stylesheet" type="text/css"
		  href="resources/css/pp-style.css?v=#{appBean.startupTime.time}" />
	<p:importConstants
		type="com.comarch.egeria.web.common.utils.constants.Const" var="Const" />
	<link rel="icon" type="image/png"
		href="#{request.contextPath}/resources/images/short.png" />

	<title>#{Const.APP_NAME}</title>
</h:head>

<h:body styleClass="d-flex-1-column" style="height: 100vh;  align-items: center;">

	<h:panelGroup styleClass="hide" rendered="#{not empty appBean.getPpKonfiguracjaOpis('SSO_LOGOUT_URL')}">
		<iframe src="#{appBean.getPpKonfiguracjaOpis('SSO_LOGOUT_URL')}"/>
	</h:panelGroup>


	<div id="errMsg" class="errMsg fs24 pt10"
		 style="position: absolute; z-index: 999; background: transparent; color: #AA4444; text-align: center;">
		#{flash['errMsg']}
	</div>

	<div class="flex-1 login-container">
		<div class="login-logo-firmy">
			<img class="img-responsive" src="/egeria/images/logoFirmy.png"
				 alt="#{Const.APP_NAME}" />
		</div>
		<div class="login-login-panel d-flex-1-column align-items-center">

			<div class="img-responsive" style="position: relative; display: inline-block;">

				<p:graphicImage styleClass="login-logo-systemu img-responsive"
								library="images" name="login/logoSystemu.png"
								alt="#{Const.APP_NAME}" />

				<p:outputLabel id="lblVersion" title="#{appBean.manifestTs}"
							   value="v.: #{appBean.manifestProperties.version}"
							   style="position: absolute; right: 0; bottom: 10px;
							   		  color: #AAAAAA; padding-right: 3px !important; font-size: 20px !important; opacity: 0.2;"/>

				<p:tooltip for="lblVersion" styleClass="p0 m0 bg-fff">
					<cc:cPPVersionInfo/>
				</p:tooltip>

			</div>

			<h:form id="loginForm" styleClass="login-login-form">
<!--					<p:outputLabel value="SESJA WYGASŁA" style="color:red!important;; background: wheat; padding: 20px; font-size: 20px;" rendered="#{param['timeout']!=null}"/>-->
				<div>
					<div id="egr-storage-logout" class="help-block"></div>
					<p:messages showIcon="false" styleClass="#{logoutMsgsBean != null ? '' : ''}"
								rendered="#{not facesContext.validationFailed}" >
						<p:autoUpdate/>
					</p:messages>
				</div>
				<p:link value="#{dic.LBL_login_again}" outcome="login.xhtml"
						styleClass="btn btn-primary login-login-btn" />
			</h:form>
		</div>

		<div class="login-higher-footer d-flex">
			<div class="btn btn-primary">
				<a href="http://egeria.comarch.pl">Comarch Egeria</a>
			</div>
		</div>
	</div>
	<div class="d-flex-column pr40 pb10" style="align-items: flex-end;">
		<p>
			<a href="http://egeria.comarch.pl">
				<p:graphicImage
						styleClass="login-logo-egeria" library="images"
						name="login/brand_white.png" alt="#{dic.LBL_system_name}" />
			</a>
		</p>
	</div>
	<h:outputScript library="js" name="bootstrap.min.js" />
	<h:outputScript library="js" name="egr/loginPage.js" />
</h:body>
</html>
