<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:i="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{sqlBean.getLW(sessionBean.getMenuLWValue()).name }" />
		<ui:param name="formBackground" value="rgba(20,70,140,0.5)" />

		<ui:define name="egr_content">

				<h:form id="frmSzLvCntr" styleClass="bg-fff m20i p20 bsh2black d-flex-1-column">

					<p:commandButton
						icon="build" id="hdrEditBtn"
						style="position: absolute; right: 20px; opacity: 0.1;"
						styleClass="fs12"
						onclick="window.open('test_SzablonLOVFtrHdrCode.xhtml?lw=#{szablonLovBean.lwNazwa}','','menubar=no, resizable=no, width=1200, height=780');"
						rendered="#{user.admin or user.hasPermission('PP_PROGRAMISTA')}"
					/>

					<h:panelGroup styleClass="pb10 szablonlov-lw-hdr" rendered="#{not empty szablonLovBean.lwHeader}">
						<h:outputText escape="false" value="#{v.evaluateExpressionGet(szablonLovBean.lwHeader)}" />
					</h:panelGroup>

					<div class="d-flex-1-column">

						<i:choose>

							<i:when test="#{sessionBean.getMenuLWValue() != null and sessionBean.getMenuLWValue() != ''}">
								<cc:cLookupTable datasource="#{sqlBean.getLW(sessionBean.getMenuLWValue())}"/>
							</i:when>

							<i:otherwise>
								<h1>Nie wskazano nazwy listy wartości</h1>
							</i:otherwise>

						</i:choose>

					</div>

					<h:panelGroup styleClass="pt20 pb20 szablonlov-lw-ftr" rendered="#{not empty szablonLovBean.lwFooter}">
						<ui:param name="strExpressionFooter"
								  value="#{v.getSL('SZABLONLOV_FOOTERS').findAndFormat(sessionBean.getMenuLWValue(),'%wsl_opis$s')}" />
						<h:outputText escape="false"
									  value="#{v.evaluateExpressionGet(szablonLovBean.lwFooter)}" />
					</h:panelGroup>

				</h:form>

		</ui:define>
	</ui:composition>
	
</body>
</html>