<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">


<f:metadata>
</f:metadata>


<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="test db all source" />

		<ui:define name="egr_content">


			<h:form id="frmtest" styleClass="bg-fff p20 m0i bsh1 ov-auto d-flex-1" style="position: relative" rendered="#{user.admin or user.hasPermission('PP_PROGRAMISTA')}">

				<div class="mw300 ui-g p5 bsh1" style="position: fixed; bottom: 30px; right: 40px; opacity: 0.5">
					<p:outputLabel value="OWNER:" 			styleClass="ui-g-4 p0 m0"/> <p:outputLabel value="#{param['owner']}" 		styleClass="ui-g-8 p0 m0"/>
					<p:outputLabel value="OBJECT_NAME:" 	styleClass="ui-g-4 p0 m0"/> <p:outputLabel value="#{param['object_name']}" styleClass="ui-g-8 p0 m0"/>
					<p:outputLabel value="OBJECT_TYPE:" 	styleClass="ui-g-4 p0 m0"/> <p:outputLabel value="#{param['object_type']}" styleClass="ui-g-8 p0 m0"/>
				</div>

				<ui:param name="rdata" value="#{testBean.getLW('ALL_SOURCE', param['owner'], param['object_name'], param['object_type']).data}"></ui:param>

				<div style="font-family: 'Courier New'!important;
					 height: 100%; width:100%; overflow: auto; position: relative; background: transparent;">

					<div style="overflow: hidden; white-space: pre; width: 30px; opacity: 0.5;" class="right pr10">
						<ui:repeat value="#{rdata}" var="rtxt">#{rtxt.get('LINE')}<br/></ui:repeat>
					</div>


					<div id="dvCode" style="overflow: hidden; position: absolute; top:0; left:50px; white-space: pre; color: black;" class="lp10 m0 p0">
						<ui:repeat value="#{rdata}" var="rtxt">#{rtxt.get('TEXT')}</ui:repeat>
					</div>


					<p:commandButton
							icon="content_copy"
							style="position: fixed; top: 30px; right: 30px;"
							styleClass="fs40 mw50"
							onclick="copyToClipboard( $(this).prev()[0] );"
					/>

				</div>

			</h:form>

		</ui:define>
	</ui:composition>
</h:body>

</html>

