<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">


<f:metadata>
</f:metadata>


<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplateEmpty.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="test db all source" />

		<ui:define name="egr_content">

				<h:form id="frmtest"
						styleClass="bg-fff ui-g bsh1 p10"
						style="position: relative;"
						rendered="#{user.admin or user.hasPermission('PP_PROGRAMISTA')}">

					<div style="height: calc(100vh - 40px); width:calc(100vw - 40px); overflow: auto; position: relative;">

						<pe:codeMirror
								id="codeMirror"
								mode="htmlmixed"
								theme="eclipse"
								value="#{resFileEditBean.resfile.daneAsString}"
								lineNumbers="true"
								matchBrackets="true"
						/>

					</div>

					<div class="ui-g ui-g-v-center p5 bsh1" style="position: fixed; top: 15px; right: 40px; opacity: 0.65; z-index: 9998;">
						<cc:cInputText label="plik/scieżka (rscf_id: #{resFileEditBean.resfile.rscfId}):" value="#{resFileEditBean.resfile.rscfPlikSciezka}" styleClass="w300"/>
						<p:commandButton
							icon="save"
							action="#{resFileEditBean.resfile.saveOrUpdate}"
							update="@form"
							styleClass="fs40 mw50"
							oncomplete="if (parent!=undefined) window.opener.location.reload(false);"
						/>

					</div>




				</h:form>

			<h:panelGroup
					rendered="#{'0' ne appBean.appContext.environment.getProperty('javax.faces.FACELETS_REFRESH_PERIOD')}"
					style="position: fixed; bottom: 0px; right:0px;width:100vw; color: red; z-index: 9997; background: rgba(255,255,255,0.7);" styleClass="bsh1gray p5 fs14 center"
			>
				UWAGA: parametr javax.faces.FACELETS_REFRESH_PERIOD = #{appBean.appContext.environment.getProperty('javax.faces.FACELETS_REFRESH_PERIOD')}. Aby testować zmiany kodu xhtml w czasie rzeczywistym wylącz buforowanie plików xhtml (zmień w/w parametr na 0 w pliku #{appBean.applicationContextFolder}/WEB-INF/web.xml po czym zrestartuj serwer aplikacji).
			</h:panelGroup>


		</ui:define>
	</ui:composition>
</h:body>

</html>

