<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:egr="http://egr.egeria.comarch.com/facelets">


<f:metadata>
</f:metadata>


<h:body>

    <ui:composition
            template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
        <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
        <ui:param name="formName" value="Test"/>

        <ui:define name="egr_content">

            <h:form styleClass="p40 mautoi bg-fff">

                TEST...

            </h:form>

        </ui:define>
    </ui:composition>
</h:body>

</html>

