<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets"
	>


<f:metadata>

<!-- 	<f:viewAction action="#{testBean.makeFormReadOnly(null, null)}"/> -->

test Wartosci domyslne branch

<!--  <f:event type="preRenderComponent" listener="#{testBean.iterateChildren(null)}" /> -->



</f:metadata>


<h:body>
<f:view>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Wizard" />

		<ui:define name="egr_content">


				<h:form styleClass="m20i p20 bg-fff flex-1">

					<p:outputLabel value="IKONY/BUTTONY" styleClass="fs20" for="@parent"/>

					<br/><br/><br/><br/>
					<i class="material-icons fs30">save</i>
					<a href="https://material.io/resources/icons/">https://material.io/resources/icons/</a>
					<br/><br/>
					<p:commandButton icon="save" styleClass="granatowy"/>
					<p:commandButton icon="save" value="p:commandButton" styleClass="granatowy"/>
					<p:button icon="save" value="p:button" styleClass="granatowy"/>
					<br/>
					<p:commandButton icon="save" value="zapisz" styleClass="granatowy fs30"/>


					<br/><br/><br/><br/>
					<span class="mdi mdi-fuel fs30"></span>
					<a href="http://materialdesignicons.com/cdn/4.8.95/">http://materialdesignicons.com/cdn/4.8.95/</a>
					<br/><br/>
					<p:commandButton icon="mdi-slack mdi-spin" styleClass="granatowy"/>
					<p:commandButton icon="mdi-slack mdi-spin" value="ikonki z klasą mdi-spin się kręcą..." styleClass="granatowy"/>
					<p:commandButton icon="mdi-face-woman-outline mdi-rotate-45" value="ikonki z klasą mdi-rotate-45 są pochyłe..." styleClass="granatowy"/>
					<p:button icon="mdi-face-woman-outline mdi-spin" value="p:button" styleClass="granatowy"/>
					<br/>
					<p:commandButton icon="mdi-slack mdi-spin" value="ikonki z klasą mdi-spin się kręcą..." styleClass="granatowy fs30"/>


					<br/><br/><br/><br/>
					<i class="fa fa-fw fa-forumbee fs30"></i>
					<a href="https://www.primefaces.org/showcase/ui/misc/fa.xhtml">https://www.primefaces.org/showcase/ui/misc/fa.xhtml</a>
					<br/><br/>
					<p:commandButton icon="fa fa-fw fa-forumbee" styleClass="granatowy"/>
					<p:commandButton icon="fa fa-fw fa-forumbee" value="fontawesome..." styleClass="granatowy"/>
					<p:button icon="fa fa-fw fa-forumbee" value="p:button (krzywo!)" styleClass="granatowy"/>
					<br/>
					<p:commandButton icon="fa fa-fw fa-forumbee" value="fontawesome..." styleClass="granatowy fs30"/>

				</h:form>

		</ui:define>

	</ui:composition>

</f:view>
</h:body>

</html>

