<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">


<f:metadata>
</f:metadata>


<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplateEmpty.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="test db all source" />

		<ui:define name="egr_content">

				<h:form id="frmtest"
						styleClass="bg-fff ui-g bsh1 p10"
						style="position: relative;"
						rendered="#{user.admin or user.hasPermission('PP_PROGRAMISTA')}">



					<p:outputLabel value="Kod HTML/EL nagłówka i stopki (szablon LW #{szablonLovBean.lwNazwa}):" for="hdrCode" styleClass="fs24 ui-g-12 p0"/>
					<p:separator styleClass="ui-g-12 p0 m0 mb30 mt10"/>

					<p:outputLabel value="Nagłówek: " for="hdrCode" styleClass="fs16 ui-g-12 p0"/>
					<p:separator styleClass="ui-g-12 p0 m0"/>
					<div class="ui-g-12 p0" style="height: 300px; width:calc(100vw - 40px); overflow: auto; position: relative;">
						<pe:codeMirror
								id="hdrCode"
								mode="htmlmixed"
								theme="eclipse"
								value="#{szablonLovBean.lwHeader}"
								lineNumbers="true"
								matchBrackets="true"
						/>
					</div>
					<p:separator styleClass="ui-g-12 p0 m0 mb20"/>

					<p:outputLabel value="Stopka: " for="ftrCode" styleClass="fs16 ui-g-12 p0"/>
					<p:separator styleClass="ui-g-12 p0 m0"/>
					<div class="ui-g-12 p0" style="height: 300px; width:calc(100vw - 40px); overflow: auto; position: relative;">
						<pe:codeMirror
								id="ftrCode"
								mode="htmlmixed"
								theme="eclipse"
								value="#{szablonLovBean.lwFooter}"
								lineNumbers="true"
								matchBrackets="true"
						/>
					</div>
					<p:separator styleClass="ui-g-12 p0 m0"/>


					<div class="ui-g ui-g-v-center p5 pt10" style="position: fixed; top: 15px; right: 20px; z-index: 9998;">

						<p:commandButton
								icon="delete" title="skasuj nagłówek i stopkę"
								action="#{szablonLovBean.deleteHdrFtr}"
								update="@form"
								styleClass="fs30 mw50"
								onstart="hgon()"
								oncomplete="if (parent!=undefined) window.opener.location.reload(false); hgoff();"
						/>

						<p:commandButton
								icon="save" title="zapisz zmiany"
								action="#{szablonLovBean.saveHdrFtr}"
								update="@form"
								styleClass="fs30 mw50"
								onstart="hgon()"
								oncomplete="if (parent!=undefined) window.opener.location.reload(false); hgoff();"
						/>

					</div>

				</h:form>


		</ui:define>
	</ui:composition>
</h:body>

</html>

