<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:egr="http://egr.egeria.comarch.com/facelets"
      xmlns:c="http://java.sun.com/jsf/composite/components">


<f:metadata>
</f:metadata>

<h:head>
    <h:outputStylesheet name="ctl-style.css" library="css"/>
    <h:outputStylesheet name="pp-style.css" library="css"/>
    <h:outputStylesheet name="pp-calendar.css" library="css"/>
    <h:outputStylesheet name="pp-kafelki.css" library="css"/>
    <h:outputStylesheet name="pp-gicons.css" library="css"/>
    <h:outputStylesheet name="materialdesignicons.min.css" library="css"/>
    <h:outputStylesheet name="pp-menu.css" library="css"/>
    <h:outputStylesheet name="pp-buttons.css" library="css"/>
    <h:outputStylesheet name="pp-tabs.css" library="css"/>
    <h:outputStylesheet name="pp-forms.css" library="css"/>
    <h:outputStylesheet name="pp-notification.css" library="css"/>
    <h:outputStylesheet name="pp-ksiazka-tel.css" library="css"/>
    <h:outputStylesheet name="pp-modale.css" library="css"/>
    <h:outputStylesheet name="pp-forms-material.css" library="css"/>
    <h:outputStylesheet name="pp-spinner.css" library="css"/>
    <h:outputStylesheet name="tooltip-mdesign.css" library="css"/>
    <script
            src="resources/js/pfLocales.js?v=#{appBean.manifestProperties.version}"
            type="text/javascript"></script>
    <script
            src="resources/js/ctlUtils.js?v=#{appBean.manifestProperties.version}"
            type="text/javascript"></script>
    <script
            src="resources/js/pf-widgets/ctlColumnToggler.js?v=#{appBean.manifestProperties.version}"
            type="text/javascript"></script>
    <script
            src="resources/js/pf-widgets/ctlMenubar.js?v=#{appBean.manifestProperties.version}"
            type="text/javascript"></script>
    <script
            src="resources/js/pf-widgets/ctlSelectOneMenu.js?v=#{appBean.manifestProperties.version}"
            type="text/javascript"></script>

    <script
            src="resources/js/pf-widgets/ppCalendar.js?v=#{appBean.manifestProperties.version}"
            type="text/javascript"></script>

    <script src="resources/js/external/jquery-element-onresize.js"
            type="text/javascript"></script>

    <script src="resources/js/external/jquery.qtip.min.js"
            type="text/javascript"></script>

</h:head>


<h:body style="height:100vh; width:100vw; padding: 20px; overflow: hidden; margin: 0;">

    <p:growl id="template_growl" for="template_growl" showDetail="true" life="15000"
             widgetVar="template_growl" rendered="true" escape="false"/>

    <p:tooltip globalSelector="div.ui-diagram-element" escape="false" showDelay="500" hideDelay="2000"/>

    <h:form id="frmDiagram"
            style="padding:0; margin:0; height: calc(100vh - 40px); width: calc(100vw - 40px); overflow:auto;"
            styleClass="bsh1">

        <p:outputLabel
                value="TD_ID: '#{erdVM.model.tdId}'"
                style="position: absolute; bottom:3px; left: 20px;"
                styleClass="fs12"
        />


        <div style="position: absolute; top:30px; right:40px; z-index: 100;">

            <p:commandButton
                    id="resetBtn"
                    icon="refresh"
                    title="Resetuj układ diagramu"
                    iconSize="30px"
                    actionListener="#{erdVM.model.resetXY()}"
                    update="@form"
                    partialSubmit="true"
                    process="@form"
            />

            <p:commandButton
                    id="saveBtn"
                    icon="save"
                    iconSize="30px"
                    title="Zapisz układ diagramu"
                    actionListener="#{erdVM.pobierzPozycje()}"
                    oncomplete="zapiszUklad()"
                    partialSubmit="true"
                    process="@form"
                    disabled="#{not user.admin}"
            />

            <p:remoteCommand name="pobierzXY" actionListener="#{erdVM.pobierzXY()}"/>
            <p:remoteCommand name="zapiszUklad" actionListener="#{erdVM.model.saveOrUpdate()}"/>

        </div>


        <p:diagram id="diagramErd"
                   value="#{erdVM.diagramModel}"
                   style="height:100%; padding:0; margin:0; border:none"
                   var="el">

            <f:facet name="element">

                <p:outputPanel prependId="false">

                    <div ondblclick="#{erdVM.jsElOndblclick(el)}"
                         class="d-flex center bsh1"
                         style="flex-direction: column; width: 168px">
                        <!--					<p:outputLabel value="#{el}"/>-->
                        <p:outputLabel value="#{el.entityName}"/>
                        <p:outputLabel value="#{el.tableName}" styleClass="bg-lblue"/>

                    </div>

                </p:outputPanel>

            </f:facet>


            <!--			<p:ajax event="positionChange" listener="#{erdVM.onPositionChange}" /> a to bedzie mozlwe dopiero w PF8.0 :( -->

        </p:diagram>


<!--        <pe:remoteCommand-->
<!--                name="showDlgTable"-->
<!--                actionListener="#{erdVM.setCurrent}"-->
<!--                oncomplete="PF('dlgTable').show()"-->
<!--                update="dlgTable"-->
<!--        >-->
<!--            <pe:methodSignature parameters="java.lang.String"/>-->
<!--            <pe:methodParam name="id"/>-->
<!--        </pe:remoteCommand>-->



        <!--		<pe:remoteCommand name="showDlgCzObg"  -->
        <!--			actionListener="#{obiegStateMachineBean.setCzynnoscById}"-->
        <!--			oncomplete="PF('dlgCzynnoscObiegu').show()"-->
        <!--			update="dlgCzynnoscObiegu">-->
        <!--				<pe:methodSignature parameters="java.lang.Long"/>  -->
        <!--			    <pe:methodParam name="czId"/>-->
        <!--		</pe:remoteCommand>		-->


        <!--		<pe:remoteCommand name="showDlgStObg"  -->
        <!--			actionListener="#{obiegStateMachineBean.setStanByLp}"-->
        <!--			oncomplete="PF('dlgStanObiegu').show()"-->
        <!--			update="dlgStanObiegu">-->
        <!--				<pe:methodSignature parameters="java.lang.Long"/>  -->
        <!--			    <pe:methodParam name="czId"/>-->
        <!--		</pe:remoteCommand>		-->

    </h:form>


<!--    <p:dialog-->
<!--            id="dlgTable"-->
<!--            widgetVar="dlgTable"-->
<!--            dynamic="true"-->
<!--            appendTo="@(body)"-->
<!--            modal="true"-->
<!--            closeOnEscape="true"-->
<!--            draggable="true"-->
<!--            resizable="false"-->
<!--            width="900"-->
<!--            styleClass="d-flex-column p0"-->
<!--            position="300,50"-->
<!--    >-->

<!--        <f:facet name="header">-->
<!--            <h:form id="frmDlgTableHdr" styleClass="p5 pl10 pr10">-->
<!--                <h:outputText value="Dane tabeli:" styleClass="fs20 align-self-center"/>-->
<!--                <p:commandButton-->
<!--                        id="btAnulujHdr"-->
<!--                        styleClass="mlauto fs40 mmw40"-->
<!--                        icon="close"-->
<!--                        process="@none"-->
<!--                        onclick="PF('dlgTable').hide();"-->
<!--                />-->
<!--            </h:form>-->
<!--        </f:facet>-->


<!--        <h:form id="frmDlgTable"-->
<!--                styleClass="dlg-obiegi-table d-flex-column">-->

<!--            <p:accordionPanel id="acctb" styleClass="p20">-->

<!--                <p:tab title="Dane tabeli #{erdVM.current.erdElem.table.tbTableName}: ">-->

<!--                    <div class="d-flex flex-wrap">-->

<!--                        <cc:cInputText-->
<!--                                label="Prefix kolumn w tabeli:"-->
<!--                                value="#{erdVM.current.erdElem.table.tbColumnPrefix}"-->
<!--                                styleClass="flex-100 m10"/>-->

<!--                        <cc:cInputText-->
<!--                                label="Nazwa tabeli:"-->
<!--                                value="#{erdVM.current.erdElem.table.tbTableName}"-->
<!--                                styleClass="flex-300 m10"/>-->

<!--                        <cc:cInputText-->
<!--                                label="Nazwa encji:"-->
<!--                                value="#{erdVM.current.erdElem.table.tbEntityName}"-->
<!--                                styleClass="flex-300 m10"/>-->

<!--                        <cc:cInputTextArea-->
<!--                                label="Opis tabeli:"-->
<!--                                value="#{erdVM.current.erdElem.table.tbDesc}"-->
<!--                                styleClass="flex-800 m10"/>-->
<!--                    </div>-->

<!--                </p:tab>-->


<!--                <p:tab title="Kolumny (#{erdVM.current.erdElem.table.tabCols.size()}): ">-->

<!--                    <h:panelGroup id="pnlClmns" styleClass="ov-y-auto d-flex flex-wrap" style="max-height: calc(100vh - 300px)">-->


<!--                        <div class="flex-850 bg-blue mmh1 mb10"/>-->

<!--                        <ui:repeat value="#{erdVM.current.erdElem.table.tabCols}" var="col">-->

<!--                            <cc:cInputText value="#{ col.tcPropertyName }" label="Nazwa właściwości"-->
<!--                                           styleClass="flex-100 m10"/>-->
<!--                            <cc:cInputText value="#{ col.tcColumnName }" label="Nazwa kolumny"-->
<!--                                           styleClass="flex-100 m10"/>-->
<!--                            <cc:cInputText value="#{ col.tcDataType }" label="Typ danych" styleClass="flex-100 m10"/>-->
<!--                            <cc:cInputText value="#{ col.tcIxName }" label="Indeks" styleClass="flex-100 m10"/>-->
<!--                            <cc:cInputText value="#{ col.tcUkName }" label="Ind. unikatowy" styleClass="flex-100 m10"/>-->
<!--                            <p:commandButton icon="delete" action="#{erdVM.current.erdElem.table.removePptTabCol(col)}"/>-->

<!--                            <cc:cInputText value="#{ col.tcDesc }" label="Opis kolumny" styleClass="flex-850 m10"-->
<!--                                           title="opis kolumny"/>-->

<!--                            <div class="flex-850 bg-blue mmh1 mb10"/>-->

<!--                        </ui:repeat>-->

<!--                        <p:commandButton-->
<!--                                value="dodaj kolumnę"-->
<!--                                icon="add"-->
<!--                                styleClass="granatowy"-->
<!--                                action="#{erdVM.current.erdElem.table.addNewTabCol()}"-->
<!--                                onstart="hgon()" oncomplete="hgoff()"-->
<!--                        />-->

<!--                    </h:panelGroup>-->

<!--                </p:tab>-->

<!--            </p:accordionPanel>-->


<!--            <div class="d-flex bg-lsilver bsh1 p5 mt10">-->
<!--                <p:commandButton-->
<!--                        styleClass="mlauto granatowy"-->
<!--                        value="Zapisz" icon="save"-->
<!--                        action="#{erdVM.current.erdElem.table.saveOrUpdate}"-->
<!--                        partialSubmit="true" process="@form"-->
<!--                        onstart="hgon()"-->
<!--                        oncomplete="hgoff(); PF('dlgTable').hide();"-->
<!--                        update="frmDiagram"-->
<!--                />-->
<!--            </div>-->
<!--        </h:form>-->

<!--    </p:dialog>-->


    <style type="text/css">

        .lbl-kto-kiedy {
            color: #AA5555 !important;
            font-size: 80% !important;
        }

        .lbl-akcje {
            color: #0000cd !important;
            text-decoration: none;
            margin-left: 2px;
        }

        .lnk-akcje {
            font-size: 80% !important;
        }


        .tt-lbl-kto,
        .tt-lbl-kiedy,
        .tt-lbl-nzw-cz {
            max-width: 350px;
            text-align: center;
        }

        .tt-lbl-kto > i,
        .tt-lbl-kto > span {
            display: inline;
            vertical-align: middle;
        }

        .tt-lbl-kto {
            color: #AA5555 !important;
            font-size: 140%;
        }

        .tt-lbl-kiedy {
            padding: 5px;
            color: #883333 !important;
            font-size: 100%;
        }

        .tt-lbl-nzw-cz {
            color: #555555 !important;
            font-size: 120%;
        }

        .ui-diagram-element {
            display: flex;
            align-items: center;

            font-size: 12px;
            width: 14em;
            min-height: 3.5em;
            height: fit-content;
            text-align: center;

            border-radius: 4px;
            border: 1px solid #98AFC7;
            background-color: #FAFBFC;
            color: #ffffff;
        }

        .ui-diagram-element.pp-stan > .ui-outputpanel {
            display: block;
            min-width: 170px !important;
        }

        .ui-diagram-element label {
            padding: 0 !important;
        }

        .ui-diagram-element.pp-czynnosc {

            min-height: fit-content;
            box-shadow: none;
            font-size: 12px;
            line-height: 1.0;
            width: fit-content;
            min-width: 90px;
            max-width: 90px;
            min-height: 60px;
            height: 60px;
            z-index: 9;

            border: none;
            background: none;
            /*background: green;*/

            display: flex;
            align-items: center;
        }


        .ui-diagram-element.pp-czynnosc > .ui-outputpanel {
            /*background: red!important;*/
            margin: 0;
        }

        .ui-diagram-element.pp-czynnosc label {
            display: block;
            padding: 0px !important;
            min-width: 90px;
            text-align: center;


            text-shadow: 1px 1px 2px #FFFFFF;
            /*vertical-align:center;*/
            background: white;
            opacity: 0.8;
            color: black;
        }

        .ui-diagram-element.pp-czynnosc-nw label {
            opacity: 0.6;
        }


        .ui-diagram-success {
            background-color: #9CB071;
            color: #ffffff;
            border-color: #7ab02c;
        }

        .ui-diagram-fail {
            background-color: #C34A2C;
            color: #ffffff;
        }

        .flow-label {
            max-width: 90px;
            font-size: 9px;
            font-weight: bold;
            color: black;
        }

        .pp-stan-odwiedzony {
            background-color: antiquewhite;
            box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.8);
            border: 1px solid #AABBBB;
        }

        .pp-stan-aktualny {
            background-color: #DDEEFF;
            border: 1px solid #AA5555;
        }

        .pp-stan-odwiedzony label {
            color: #000000c7;
        }

        circle {
            fill: transparent;
        }


        path[stroke="#AA5555"] {
            /* 		    	stroke-width: 2; */
        }


        .ui-tooltip-text {
            white-space: pre-wrap;
        }


    </style>


    <!--	<p:dialog id="dlgCzynnoscObiegu" widgetVar="dlgCzynnoscObiegu"-->
    <!--			dynamic="true"-->
    <!--			appendTo="@(body)" modal="true" closeOnEscape="true" draggable="true"-->
    <!--			resizable="false" classStyle="ctl-dialog" width="800"-->
    <!--			>-->
    <!--	-->
    <!--	-->
    <!--			<f:facet name="header">-->
    <!--				<h:form id="frmCzynnoscObieguHdr">-->
    <!--					<p:panelGrid style="width:100%">-->
    <!--						<p:column styleClass="DlgHdrText">-->
    <!--							<h:outputText value="Czynność obiegu (id: #{obiegStateMachineBean.czynnosc.id})" />-->
    <!--						</p:column>-->
    <!--						<p:column styleClass="r10">-->
    <!--							<p:commandButton id="btAnuluj" styleClass="btnDlg" icon="close"-->
    <!--								process="@none" -->
    <!--								onclick="PF('dlgCzynnoscObiegu').hide();">-->
    <!--							</p:commandButton>-->
    <!--						</p:column>-->
    <!--					</p:panelGrid>-->
    <!--				</h:form>-->
    <!--			</f:facet>-->
    <!--	-->
    <!--	-->
    <!--			<h:form id="frmCzynnoscObiegu" class="frmDlg ui-g ui-g-nopad"-->
    <!--				styleClass="dlg-obiegi-table">-->
    <!--				-->
    <!--				-->
    <!--				<cc:cInputTextMDesign label="Nazwa czynności:" -->
    <!--					value="#{obiegStateMachineBean.czynnosc.nazwa}"  styleClass="ui-g-12"/>-->
    <!--				-->
    <!--				<cc:cInputTextMDesign label="Opis czynności:" -->
    <!--					value="#{obiegStateMachineBean.czynnosc.nazwa2}"  styleClass="ui-g-12"/>-->

    <!--				<div class="ui-g-12 right pb20">-->
    <!--					 -->
    <!--						<p:commandButton  -->
    <!--							value="Zatwierdź"  -->
    <!--							partialSubmit="true" process="@form"-->
    <!--							styleClass="mt20 granatowy p5"-->
    <!--							oncomplete="PF('dlgCzynnoscObiegu').hide();"-->
    <!--							update="frmDiagram"-->
    <!--							/>-->
    <!--							-->
    <!--				 </div>-->
    <!--				 -->
    <!--				 -->

    <!--			<h:panelGroup id="pnlAkcje" styleClass="ui-g-12 pt20" rendered="#{not empty obiegStateMachineBean.czynnosc.akcjeObiegu}">-->
    <!--				<p:outputLabel value="Akcje:" for="pnlAkcje" styleClass="ui-g-12 ui-g-nopad fs16"/>-->
    <!--				-->
    <!--				<p:separator styleClass="ui-g-12 ui-g-nopad"/>-->
    <!--				<div class="ui-g-12 ui-g-nopad pl20">-->
    <!--		 			<span style="color:gray;" class="ui-g-1 ui-g-nopad" >lp</span>-->
    <!--					<span style="color:gray;" class="ui-g-1 ui-g-nopad" >akc_id</span>-->
    <!--					<span style="color:gray;" class="ui-g-10ui-g-nopad">nazwa</span>-->
    <!--				</div>-->
    <!--				<p:separator styleClass="ui-g-12 ui-g-nopad"/>-->
    <!--				-->
    <!--				<ui:repeat var="akcja" value="#{obiegStateMachineBean.czynnosc.akcjeObiegu}">-->
    <!--						<h:commandLink-->
    <!--								ajax="false" target="_blank"-->
    <!--								styleClass="uig ui-g-12 ui-g-nopad pl20"-->
    <!-- 								onclick="window.open('AkcjaObiegu?kategoria=#{obiegStateMachineBean.kategoria}&amp;id_czynn=#{obiegStateMachineBean.czynnosc.id}&amp;id_akcji=#{akcja.idAkcji}'); " >-->
    <!--						 			<span style="color:steelblue;" class="ui-g-1 ui-g-nopad">#{akcja.lpAkcji}</span>-->
    <!-- 									<span style="color:steelblue;" class="ui-g-1 ui-g-nopad">#{akcja.idAkcji}</span>-->
    <!-- 									<span style="color:steelblue;" class="ui-g-10 ui-g-nopad" >#{akcja.nazwaAkcji}</span>-->
    <!--						</h:commandLink>-->
    <!--				</ui:repeat>-->
    <!--				-->
    <!--				<p:separator styleClass="ui-g-12 ui-g-nopad"/>-->
    <!--			</h:panelGroup>				 -->
    <!--				 -->
    <!--			</h:form>-->
    <!--	-->
    <!--	</p:dialog>-->


</h:body>

</html>