<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets"
	>


<f:metadata>
</f:metadata>


<h:body>
<f:view>				

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePublic.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="test public template" />

		<ui:define name="egr_content">


			<div class="p5 pl40 pr40 pp-bg-lp-north-b-white-b-v">

				<h:form id="frmTMnu">
					<input type="hidden" name="id" value="#{param.id}" />

					<p:panelGrid>
						<p:row>
<!-- 							<p:column>
								<p:commandButton icon="arrow_back"  onclick="PF('wiz').back();" partialSubmit="true" process="@this"/>
								<p:commandButton icon="arrow_forward"	onclick="PF('wiz').next();" partialSubmit="true" process="@this"/>
							</p:column> -->

						</p:row>

					</p:panelGrid>
				</h:form>

			</div>


			<div class="pp-center p20" style="display: flex; flex: 1;">

				<h:form>

				
					TEST EgrTemplatePublic.xhtml
				
				
				</h:form>

			</div>>

		</ui:define>

	</ui:composition>

</f:view>
</h:body>

</html>

