<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components" xmlns:c="http://java.sun.com/jsf/html">


<f:metadata>
</f:metadata>

<h:body>

	<ui:composition
			template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}" />



		<ui:define name="egr_content">

                <h:form id="frmCntr" styleClass="flex-1">

                <script type="text/javascript">

                    function handleDrop(event, ui) {
                        var droppedCar = ui.draggable;
                        droppedCar.fadeOut('fast');
                    }

                    PrimeFaces.widget.Droppable.prototype.bindDropListener = function() {
                        var _self = this;

                        this.cfg.drop = function(event, ui) {
                            if (_self.cfg.onDrop) {
                                _self.cfg.onDrop.call(_self, event, ui);
                            }
                            if (_self.cfg.behaviors) {
                                var dropBehavior = _self.cfg.behaviors['drop'];

                                if (dropBehavior) {
                                    var ext = {
                                        params: [
                                            {name: _self.id + '_dragId', value: ui.draggable.attr('id')},
                                            {name: _self.id + '_dropId', value: _self.cfg.target},
                                            {name: ui.draggable.attr('id') + '_left', value: ui.position.left},
                                            {name: ui.draggable.attr('id') + '_top', value: ui.position.top}
                                        ]
                                    };
                                    dropBehavior.call(_self, ext);
                                }
                            }
                        };
                    }
                </script>


                    <h:panelGroup id="selecedNodes" styleClass="ui-g-12 bsh1 mt20 drggbldata">
                        <p:repeat id="selecedNodesrpt" value="#{drggblCssGridLayoutBean.layout.children}" var="ch" columns="20">
                            <cc:cInputText id="txt#{ch.elId}" label="lbl #{ch.elId}:" value="#{ch.elId}" readonly="true" styleClass="ui-g-1"/>
                        </p:repeat>
                    </h:panelGroup>

                    <p:droppable id="selecedNodesDrppble" for="selecedNodes" datasource="availnodes" onDrop="handleDrop">
                        <p:ajax listener="#{drggblCssGridLayoutBean.layout.onDrop}" update="frmCntr"/>
                    </p:droppable>


                    <p:panel id="availnodespnl" header="Dostępne pola:"
                             styleClass="ui-g-12 bsh1 mt20 mw200" style="position: absolute; top: 100px; right:0;">

                        <p:dataGrid id="availnodes" value="#{drggblCssGridLayoutBean.availableNodes.children}" var="an" columns="1" >
                            <cc:cInputText id="txtun" label="lbl #{an.elId}:" value="#{an.elId}" readonly="true" styleClass="ui-g-12"/>
                            <p:draggable for="txtun" revert="true" />
                        </p:dataGrid>

                    </p:panel>

                    <p:draggable for="availnodespnl" handle=".ui-panel-titlebar"/>


                </h:form>

		</ui:define>

	</ui:composition>




</h:body>

</html>
