<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	  xmlns:jsf="http://xmlns.jcp.org/jsf"
	  xmlns:egr="http://egr.egeria.comarch.com/facelets">


<f:metadata>
</f:metadata>


<h:body>

	<ui:composition
			template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="TEST FLEX RESPONSIVE" />

		<ui:define name="egr_content">

			<div class="p0 m0" style="display: flex; flex-direction: column; overflow-y: hidden; height: 100vh; background: rgba(20,70,140,0.5)" >


				<h:form id="frmNorth" styleClass="bsh1 m20i p5 pl20 pr20 bg-fff d-flex" style="align-self: stretch">
					<p:commandButton value="test1" icon="refresh" styleClass="ml5 granatowy" onclick="hgon(); location.reload();"/>
					<p:commandButton value="test3" styleClass="ml5 granatowy"/>
					<div class="bg-red   ml5 p5">red</div>
					<div class="bg-green ml5 p5">green</div>
					<div class="bg-blue  ml5 p5" >blue</div>
					<p:commandLink value="test4"   styleClass="ml5 pl10 pr10 granatowy"/>
					<h:commandButton value="test4"   styleClass="ml5 w80 granatowy"/>
				</h:form>



				<div class="mr15i ml15i" style="flex: 1; display: flex; flex-wrap: wrap; overflow: auto;">

					<h:form id="frmCenter" styleClass="bsh1 m5i p20 bg-fff" style="flex: 600px; overflow: auto;">
						Aby ten fromularz wypełnił wysokość kontenera, powinien mieć style='... flex: 1 ...', a kontener powinien mieć style='... display: flex; flex-direction: column ...'
						<br/>
						Aby tu działał prawidłowo pionowy scrollbar ten formularz powinien mieć style='... overflow: auto ...', a kontener powinien mieć style='... overflow-y: hidden ...'
						<br/>
						Aby ten formularz odsunął się od krawędzi o 20px trzeba go było przymuszać klasą m20i (m20 mu nie wystarczyła)'
						<br/>
						<h:outputLink target="_blank" value="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container">
							<h:outputText value="Aligning Items in a Flex Container" />
						</h:outputLink>
						<p:separator/>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. ....
					</h:form>

					<div style="flex: 300px; overflow: auto;" class="m5i p20 bg-fff bsh1">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. ...
					</div>

					<div style="flex: 300px; overflow: auto;" class="m5i p20 bg-fff bsh1">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis.
					</div>

				</div>




				<h:form id="frmSouth" styleClass="bsh1 m20i p10 pl20 pr20 bg-fff ui-g">

					<p:outputLabel
							for="@parent"
							styleClass="bsh1 center mb10 fs16" style="align-self: stretch"
							value="formularze północny ani południowy nie muszą mieć display:flex.. ( ani klasy d-flex ); jedeny wymóg to aby formularz centralny miał style='...; flex: 1; ...'"/>

					<div class="ui-g-12 d-flex p0">

						<p:commandButton
								value="test1..." icon="save"
								styleClass="granatowy  mr5i"/>

						<p:commandButton
								value="test2..." icon="save"
								styleClass="granatowy mr5i"/>

						<p:commandButton
								value="test3..." icon="save"
								styleClass="granatowy mr5i"/>

						<cc:cSelectBooleanCheckboxTN
								styleClass="pt3 pl10"
								label="Zapoznałem się z reulaminem czytania tekstu 'Lorem ipsum dolor sit ...' "/>

					</div>

				</h:form>


			</div>

		</ui:define>
	</ui:composition>
</h:body>

</html>

