<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">


<f:metadata>
</f:metadata>

<h:body>

	<ui:composition
			template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}" />



		<ui:define name="egr_content">



                <style type="text/css">
                    .ui-state-active {
                        background-color: #005b9f;
                    }

                    .ui-state-highlight {
                        background-color: #007ad9;
                    }
                </style>
                <script type="text/javascript">
                    function initDND() {
                        $('.dndnode').draggable({
                            helper: 'clone',
                            zIndex: ++PrimeFaces.zindex
                        });

                        $('.droppoint').droppable({
                            activeClass: 'ui-state-active',
                            hoverClass: 'ui-state-highlight',
                            tolerance: 'pointer',
                            drop: function(event, ui) {
                                dodrop([
                                    //{name: 'elmnt', value:  ui.draggable.find('.pp-lbl').text()}
                                    {name: 'elmnt', value:  $(ui.draggable).attr('itemid')}
                                    ,{name: 'dropto', value: $(this).attr('itemid') }
                                    ,{name: 'beforeel', value: $(this).attr('itemref') }
                                ]);
                            }
                        });
                    }

                    $(function() {
                        initDND();
                    });
                </script>


                <h:form id="form" styleClass="flex-1">

                    <p:remoteCommand name="dodrop" action="#{drggblCssGridLayoutBean.dnd}" update="tlbxdg vwrdg" oncomplete="initDND()"/>

                    <p:panel id="tlbx"
                            header="Dostępne pola:"
                            styleClass="tlbx droppoint w150 mh150 bsh1"
                            droptonodeid="#{drggblCssGridLayoutBean.availableNodes.elId}"
                            style="position: absolute; top: 150px; left: 50px; "
                    >
                        <div class="mmh200" style="overflow: auto;" >
                        <p:dataGrid id="tlbxdg"
                                    value="#{drggblCssGridLayoutBean.availableNodes.children}" var="fld" columns="1">

                                <p:outputLabel value="#{fld.elId}" styleClass="dndnode" a:itemid="#{fld.elId}"/>

                        </p:dataGrid>
                        </div>
                    </p:panel>
                    <p:draggable for="tlbx" handle=".ui-panel-titlebar"/>

                    <br/><br/>


                    <h:panelGroup id="vwrdg" styleClass="ui-g ui-g-12 bsh1">

                        <p:repeat var="ch" value="#{drggblCssGridLayoutBean.layout.children}">

                            <div id="drppnt"
                                  style="float:left;height:50px;width:10px;"
                                  class="droppoint dropleft bsh1 mr-10i"
                                  itemid="#{drggblCssGridLayoutBean.layout.elId}"
                                  itemref="#{ch.elId}"
                            />

                            <div class="dndnode ui-g-2" itemid="#{ch.elId}">
                                <cc:cInputText label="lbl - #{ch.elId}:" placeholder="... #{ch.elId} ... #{ch.elId} ... #{ch.elId} ..." styleClass="ui-g-12" />
                            </div>

                        </p:repeat>

                        <div id="drppntlast"
                             style="float:left;height:50px;width:10px;"
                             class="droppoint dropleft bsh1 mr-10i"
                             itemid="#{drggblCssGridLayoutBean.layout.elId}"
                        />

                    </h:panelGroup>


                </h:form>

		</ui:define>

	</ui:composition>




</h:body>

</html>
