<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">


<f:metadata>
</f:metadata>


<h:body>


	<h:form styleClass="w500 bg-white" style="position: absolute; right:50px; top:50px; z-index: 999;">
		TEST CC vs CCMDESIGN

		<p:separator styleClass="ui-g-12 p0"/>

		<cc:cInputText  styleClass="ui-g-2" placeholder="cInputText..." value="#{testBean.testVal2}" />
		<cc:cInputText  styleClass="ui-g-4" placeholder="cInputText..." value="#{testBean.testVal2}" />
		<cc:cInputText  styleClass="ui-g-6 bsh1" placeholder="cInputText..." value="#{testBean.testVal2}" />

		<cc:cInputTextMDesign  styleClass="ui-g-2" placeholder="cInputTextMDesign..." value="#{testBean.testVal2}" />
		<cc:cInputTextMDesign  styleClass="ui-g-4" placeholder="cInputTextMDesign..." value="#{testBean.testVal2}" />
		<cc:cInputTextMDesign  styleClass="ui-g-6 bsh1" placeholder="cInputTextMDesign..." value="#{testBean.testVal2}" />


		<p:separator styleClass="ui-g-12 p0"/>

		<cc:cInputText  styleClass="ui-g-2" label="cInputText" value="#{testBean.testVal2}" />
		<cc:cInputText  styleClass="ui-g-4" label="cInputText" value="#{testBean.testVal2}" />
		<cc:cInputText  styleClass="ui-g-6" label="cInputText" value="#{testBean.testVal2}" />

		<cc:cInputTextMDesign  styleClass="ui-g-2" label="cInputTextMDesign" value="#{testBean.testVal2}" />
		<cc:cInputTextMDesign  styleClass="ui-g-4" label="cInputTextMDesign" value="#{testBean.testVal2}" />
		<cc:cInputTextMDesign  styleClass="ui-g-6 bsh1" label="cInputTextMDesign" value="#{testBean.testVal2}" />

		<p:separator styleClass="ui-g-12 p0"/>

<!--		<cc:cInputNumberMDesign styleClass="ui-g-2" label="cInputNumber" symbol="PLN" value="#{testBean.testVal1}" />-->
<!--		<cc:cInputNumberMDesign styleClass="ui-g-4" label="cInputNumber" symbol="PLN" value="#{testBean.testVal1}" />-->
<!--		<cc:cInputNumberMDesign styleClass="ui-g-6" label="cInputNumber" symbol="PLN" value="#{testBean.testVal1}" />-->
<!--		<cc:cInputNumber styleClass="ui-g-2" label="cInputNumber" symbol="PLN" value="#{testBean.testVal1}" />-->
<!--		<cc:cInputNumber styleClass="ui-g-4" label="cInputNumber" symbol="PLN" value="#{testBean.testVal1}" />-->
<!--		<cc:cInputNumber styleClass="ui-g-6" label="cInputNumber" symbol="PLN" value="#{testBean.testVal1}" />-->

<!--		<p:separator styleClass="ui-g-12 p0"/>-->

<!--		<cc:cCalendarMDesign styleClass="ui-g-2"  label="cCalendar" value="#{testBean.testVal3}"/>-->
<!--		<cc:cCalendarMDesign styleClass="ui-g-4"  label="cCalendar" value="#{testBean.testVal3}"/>-->
<!--		<cc:cCalendarMDesign styleClass="ui-g-6"  label="cCalendar" value="#{testBean.testVal3}"/>-->
<!--		<cc:cCalendar styleClass="ui-g-2"  label="cCalendar" value="#{testBean.testVal3}"/>-->
<!--		<cc:cCalendar styleClass="ui-g-4"  label="cCalendar" value="#{testBean.testVal3}"/>-->
<!--		<cc:cCalendar styleClass="ui-g-6"  label="cCalendar" value="#{testBean.testVal3}"/>-->


<!--		<p:separator styleClass="ui-g-12 p0"/>-->

<!--		<cc:cInputTextAreaMDesign styleClass="ui-g-12" placeholder="cInputTextArea..." title="test title"  value="#{testBean.testVal4}"/>-->
<!--		<cc:cInputTextArea styleClass="ui-g-12" placeholder="cInputTextArea..." title="test title" label="cInputTextArea..." value="#{testBean.testVal4}"/>-->

<!--		<p:separator styleClass="ui-g-12 p0"/>-->
<!--		<p:separator styleClass="ui-g-12 p0"/>-->
<!--		<p:separator styleClass="ui-g-12 p0"/>-->


<!--		<cc:cInputTextMDesign styleClass="ui-g-4" label="cInputTextMDesign"/>-->
<!--		<cc:cInputTextMDesign styleClass="ui-g-4" label="cInputTextMDesign"/>-->
<!--		<cc:cInputTextMDesign styleClass="ui-g-4" label="cInputTextMDesign"/>-->

<!--		<p:separator styleClass="ui-g-12 p0"/>-->

<!--		<cc:cInputNumberMDesign styleClass="ui-g-4" label="cInputNumberMDesign" symbol="PLN"/>-->
<!--		<cc:cInputNumberMDesign styleClass="ui-g-4" label="cInputNumberMDesign" symbol="PLN"/>-->
<!--		<cc:cInputNumberMDesign styleClass="ui-g-4" label="cInputNumberMDesign" symbol="PLN"/>-->

<!--		<p:separator styleClass="ui-g-12 p0"/>-->


	</h:form>


</h:body>

</html>

