<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">


<f:metadata>
</f:metadata>

<h:head>
</h:head>



<h:body>

	<h:form style="padding:0; margin:0">
	
		<ui:repeat var="connInfo" value="#{testBean.activeConneInfos()}">
			<div style="font-size:80%; border: 1px solid #{connInfo.isClosed()?'gray':'red'}">
				<p:inputTextarea value="#{connInfo.toString()}" style="width:100%" rows="13"/>
			</div>
			<br/>
		</ui:repeat>
		
	</h:form>
	
</h:body>

</html>





