<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

<f:metadata>
</f:metadata>


<h:body>

    <ui:composition
            template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
        <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
        <ui:define name="egr_content">


            <h:form id="frmT2" styleClass="bg-fff p20 flex-1">
                UWAGA: WYJĄTKI W FAZIE 6/RENDER_RESPONSE mogą dać nieoczekiwane rezlutaty.

                <br/>
                Problem zauważony przez MG. W delegacji zagranicznej po przejściu na cz. II. i zmianie w pozycji kosztowej dla waluty wartość 'Wybierz' (pklWalId=null) oraz po kliknięciu w [Zapisz] system tworzy i zapisuje nową delegację (część wartośći kopiuje, ale nowa delegacja raczej jest pusta).
                <br/>
                Przyczyna: po ustawieniu nieprawidlowej wartosci w pklWalId w trakcie renderowania (w trakcie fazy 6/RENDER_RESPONSE) pojawia się wyjątek, który ostatecznie unieważnia stan widoku.
                <br/>
                Gdyby ten wyjątek pojawił się nieco wcześniej - np. w fazie 5. prawdopodobie JSF przekierowałby widok na stronę obsł. nieprzechwyconych wyjątków.
                Tu jednak tego nie robi, ale po kolejnym odświeżeniu strony (lub submicie jak w ZAPISZ) tworzony jest od nowa widok...

                <br/>

                <!--                <h1>testExcPh6Bean: #{testExcPh6Bean}</h1>-->
                <h3>#{testExcPh6Bean.info}</h3>
                <p:commandButton
                        value="TEST - SPROWOKUJ WYJĄTEK W FAZIE 6/RENDER_RESPONSE"
                        action="#{testExcPh6Bean.setInfo(null)}"
                        update="@form"
                        styleClass="granatowy"
                />
                <br/><br/>
                Aby zreprodukować problem kliknij w przycisk (generuje błąd w trakcie fazy 6) i potem nacisnij f5.
                Zmiana wartośći testExcPh6Bean oznaczać będzie, że utworzono nową instację klasy testExcPh6Bean.
                Ważne jest to, że zanim nie klikniesz w przycisk, użycie F5 nie tworzy nowego widoku.

            </h:form>


        </ui:define>

    </ui:composition>


</h:body>

</html>

