<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">


<f:metadata>
</f:metadata>


<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="test db" />

		<ui:define name="egr_content">

			<div class="pp-center p20" style="display: flex; flex: 1; ">

				<h:form id="frmtest" styleClass="bg-fff p20 bsh1 ui-g-12" rendered="#{user.admin or user.hasPermission('PP_PROGRAMISTA')}">

						<p:tabView id="tbv" dynamic="true">

							<p:tab title="NLS_SESSION_PARAMETERS">
								<cc:cLookupTable datasource="#{v.getLW('NLS')}" />
							</p:tab>


							<p:tab title="USER_SYS_PRIVS">
								<cc:cLookupTable datasource="#{v.getLW('USER_SYS_PRIVS')}" height="calc(100vh - 160px)"/>
							</p:tab>

							<p:tab title="USER_TAB_PRIVS">
								<cc:cLookupTable datasource="#{v.getLW('USER_TAB_PRIVS')}" height="calc(100vh - 160px)"/>
							</p:tab>

							<p:tab title="USER_ROLE_PRIVS">
								<cc:cLookupTable datasource="#{v.getLW('USER_ROLE_PRIVS')}" height="calc(100vh - 160px)"/>
							</p:tab>

							<p:tab title="ALL_OBJECTS">
								<h:panelGroup id="allObjPnl" styleClass="ui-g">

								<cc:cLookupTable datasource="#{v.getLW('ALL_OBJECTS')}" height="calc(100vh - 160px)" multiselect="true">
                                    <p:column headerText="SOURCE" width="50">

										<f:facet name="header">

<!--											<p:commandButton-->
<!--													icon="get_app"-->
<!--													title="Pobierz kod dla zaznaczonych ..."-->
<!--													partialSubmit="true" process="@this"-->
<!--											>-->

<!--												<p:fileDownload  value="#{testBean.dmpAllSourceTextData( )}" />-->
<!--												-->
<!--											</p:commandButton>-->


											<h:commandLink
													update="allObjPnl"
											>

												<p:commandButton
														icon="get_app"
														title="Pobierz kod dla zaznaczonych ..."
												/>

												<p:fileDownload value="#{testBean.dmpAllObjectsAllSource()}" />

											</h:commandLink>

										</f:facet>

										<ui:param name="owner" value="#{row.get('owner')}"></ui:param>
										<ui:param name="objName" value="#{row.get('object_name')}"></ui:param>
										<ui:param name="objType" value="#{row.get('object_type')}"></ui:param>
                                        <p:commandButton
												rendered="#{['PACKAGE','PACKAGE BODY','FUNCTION','PROCEDURE','TRIGGER','TYPE'].contains(  row.get('object_type') )}"
                                                icon="search"
                                                title="ALL_SOURCE ..."
                                                onclick="window.open('test_db_all_source.xhtml?owner=#{owner}&amp;object_name=#{objName}&amp;object_type=#{objType}')"
                                                onstart="hgon();"  oncomplete="hgoff();"
                                        />

                                    </p:column>
                                </cc:cLookupTable>

								<p:separator styleClass="ui-g-12 p0 m0"/>

								</h:panelGroup>
							</p:tab>

						</p:tabView>

				</h:form>

			</div>

		</ui:define>
	</ui:composition>
</h:body>

</html>

