<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets"
	>


<f:metadata>
</f:metadata>


<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Wizard" />

		<ui:define name="egr_content">

			<div class="p5 pl40 pr40 pp-bg-lp-north-b-white-b-v" style="flex: 0 0 auto;">
				<h:form id="frmTMnu">
					<input type="hidden" name="id" value="#{param.id}" />
					<p:commandButton value="[test update'ow z innego formularza]" action="#{testBean.testAction1()}" update=":mainForm:updateMyId :mainForm:updateMyId1 @(.updateMyClass)"/>
				</h:form>
			</div>

			<div class="pp-center p20" style="display: flex; max-height: calc(100vh - 75px);" >

				<h:form id="mainForm" styleClass="ui-g-12 p20 bg-fff" style="overflow-y: auto;" >

				<p:commandButton value="[test update'ow w tym samym formularzu]" action="#{testBean.testAction1()}" update="updateMyId updateMyId1 @(.updateMyClass)" partialSubmit="true" process="@this"/>
				
				<cc:cInputTextMDesign id="updateMyId" label="c1 txt"     value="#{testBean.testVal1}" readonly="false" />
				<cc:cInputNumberMDesign id="updateMyId1" label="c1 numer"     value="#{testBean.testVal1 + 1505381020000}" readonly="false" />
				

				<h2>maks. 2 kolumny</h2>
				<div class="ui-g"> 
				
				    <div class="ui-g-12 ui-lg-6 ui-g-nopad"> 
				         
			   			<cc:cInputTextMDesign 	label="c1 tekst"  required="true"   value="" readonly="false" icon="delete" id="txt1xxxxxxxxxx"/> 
				        
				        
				        <cc:cInputNumberMDesign label="c1 numer" required="true"    value="#{testBean.testVal1}" readonly="false" styleClass="updateMyClass" />
				        
				        <cc:cInputTextMDesign 	label="c1 tekst / readonly"     value="ala ma kota; #{testBean.testVal1}" styleClass="updateMyClass" readonly="true"/> 
				        <cc:cInputNumberMDesign	label="c1 numer / readonly"     value="" readonly="true"/>    
				        <cc:cCalendarMDesign 	label="c1 kal" required="true" placeholder="tekst placeholder"   value="" readonly="false"/>         
				         
				    </div> 
				    
				    <div class="ui-g-12 ui-lg-6 ui-g-nopad"> 
						<cc:cCalendarMDesign 	label="c2 kal"  placeholder="tekst placeholder"   value="" readonly="false"/>
				        <cc:cInputTextAreaMDesign icon="done"	label="c2 area"     value="" readonly="false"/> 
				        <cc:cInputNumberMDesign label="c2 numer"     value="" readonly="false" icon="save"/>
				        <cc:cInputTextMDesign 	label="c2 tekst / readonly"     value="" readonly="true"/> 
				        <cc:cInputNumberMDesign	label="c2 numer / readonly"     value="#{testBean.testVal1 / 3}"  styleClass="updateMyClass" readonly="true"/>  
				    </div> 
				</div>

				
				
				
<!-- 					#{opisStanowiskaBean.loadEgListaWartosci('PP_DEPARTAMENTY', [])} -->
<!-- 					#{opisStanowiskaBean.ustawKomOrg()} -->
<!-- 					#{opisStanowiskaBean.loadEgListaWartosci('PP_STAN_W_JEDN', -->
<!-- 					[opisStanowiskaBean.pptOpisStanowiska.wospObId] )} -->
				<br/><br/>
				<h2>maks. 3 kolumny</h2>
				<div class="ui-g"> 
				    <div class="ui-g-12 ui-lg-6 ui-xl-4 ui-g-nopad"> 
				    	<cc:cInputNumberMDesign	label="c1 numer "     value="#{testBean.testVal1 / 3}"  styleClass="updateMyClass"/>

				        
				        <cc:cInputNumberMDesign label="c1 numer"     value="" readonly="false"/>
				        <cc:cInputTextMDesign 	label="c1 tekst / readonly"     value="" readonly="true"/> 
				    </div> 
				    
				    <div class="ui-g-12 ui-lg-6 ui-xl-4 ui-g-nopad"> 
				        <cc:cInputTextMDesign 	label="c1 tekst"     value="" readonly="false"/> 
				        <cc:cInputNumberMDesign label="c1 numer"     value="" readonly="false" />
				        <cc:cInputTextMDesign 	label="c1 tekst / readonly"     value="" readonly="true"/> 
				        <cc:cInputNumberMDesign	label="c1 numer / readonly"     value="" readonly="true"/>       
				    </div> 
				    
				    <div class="ui-g-12 ui-lg-6 ui-xl-4 ui-g-nopad"> 
				        <cc:cInputTextMDesign 	label="c1 tekst"     value="" readonly="false"/> 
				        <cc:cInputNumberMDesign label="c1 numer"     value="" readonly="false"/>
				        <cc:cInputTextMDesign 	label="c1 tekst / readonly"     value="" readonly="true"/> 
				        <cc:cInputNumberMDesign	label="c1 numer / readonly"     value="" readonly="true"/>          
				    </div>    
				</div> 



				<br/><br/>
				<h2>maks. 4 kolumny</h2>
				<div class="ui-g"> 
				    <div class="ui-g-12 ui-lg-6 ui-xl-3 ui-g-nopad"> 
				        <cc:cInputTextMDesign 	label="c1 tekst"     value="" readonly="false"/> 
				        <cc:cInputNumberMDesign label="c1 numer"     value="" readonly="false"/>
				        <cc:cInputTextMDesign 	label="c1 tekst / readonly"     value="" readonly="true"/> 
				        <cc:cInputNumberMDesign	label="c1 numer / readonly"     value="" readonly="true"/>       
				    </div> 
				    
				    <div class="ui-g-12 ui-lg-6 ui-xl-3 ui-g-nopad"> 
				        <cc:cInputTextMDesign 	label="c1 tekst"     value="" readonly="false"/> 
				        <cc:cInputNumberMDesign label="c1 numer"     value="" readonly="false"/>
				        <cc:cInputTextMDesign 	label="c1 tekst / readonly"     value="" readonly="true"/> 
				        <cc:cInputNumberMDesign	label="c1 numer / readonly"     value="" readonly="true"/>           
				    </div> 
				    
				    <div class="ui-g-12 ui-lg-6 ui-xl-3 ui-g-nopad"> 
				        <cc:cInputTextMDesign 	label="c1 tekst"     value="" readonly="false"/> 
				        <cc:cInputNumberMDesign label="c1 numer"     value="" readonly="false"/>
				        <cc:cInputTextMDesign 	label="c1 tekst / readonly"     value="" readonly="true"/> 
				        <cc:cInputNumberMDesign	label="c1 numer / readonly"     value="" readonly="true"/>            
				    </div>  
				    
				    <div class="ui-g-12 ui-lg-6 ui-xl-3 ui-g-nopad"> 
				        <cc:cInputTextMDesign 	label="c1 tekst"  placeholder="tekst placeholder"   value="" readonly="false"/> 
				        <cc:cInputNumberMDesign label="c1 numer"     value="" decimalPlaces="2" placeholder="wprowadź wartość" readonly="false"/>
				        <cc:cInputTextMDesign 	label="c1 tekst / readonly"     value="" readonly="true"/> 
				        <cc:cInputNumberMDesign	label="c1 numer / readonly"     value="" readonly="true"/>           
				    </div>   
				</div> 
				
				
				<h2>maks. 4 kolumny</h2>
				<div class="ui-g"> 
				    <div class="ui-g-12 ui-lg-6 ui-xl-3 ui-g-nopad"> 
				        <cc:cCalendarMDesign 	label="c1 kal"  required="true"   value="" readonly="false"/> 
				        <cc:cCalendarMDesign label="c1 kal icon"  icon="delete"   value="" readonly="false"/>
				        <cc:cCalendarMDesign 	label="c1 kal / readonly"     value="" readonly="true"/> 
				        <cc:cCalendarMDesign	label="c1 kal / readonly"     value="" readonly="true"/>       
				    </div> 
				    
				    <div class="ui-g-12 ui-lg-6 ui-xl-3 ui-g-nopad"> 
				        <cc:cCalendarMDesign 	label="c2 kal"     value="" readonly="false"/> 
				        <cc:cCalendarMDesign label="c2 kal"     value="" readonly="false"/>
				        <cc:cCalendarMDesign 	label="c2 kal / readonly"     value="" readonly="true"/> 
				        <cc:cCalendarMDesign	label="c2 kal / readonly"     value="" readonly="true"/>           
				    </div> 
				    
				    <div class="ui-g-12 ui-lg-6 ui-xl-3 ui-g-nopad"> 
				        <cc:cCalendarMDesign 	label="c3 kal icon"   icon="save"  value="" readonly="false"/> 
				        <cc:cCalendarMDesign label="c3 kal"     value="" readonly="false"/>
				        <cc:cCalendarMDesign 	label="c3 kal icon / readonly"     value="" readonly="true"/> 
				        <cc:cCalendarMDesign	label="c3 kal / readonly"  icon="save"   value="" readonly="true"/>            
				    </div>  
				    
				    <div class="ui-g-12 ui-lg-6 ui-xl-3 ui-g-nopad"> 
				        <cc:cCalendarMDesign 	label="c4 kal"  placeholder="tekst placeholder"   value="" readonly="false"/> 
				        <cc:cCalendarMDesign label="c4 kal"     value="" decimalPlaces="2" placeholder="wprowadź wartość" readonly="false"/>
				        <cc:cCalendarMDesign 	label="c4 kal / readonly"     value="" readonly="true"/> 
				        <cc:cCalendarMDesign	label="c4 kal / readonly"     value="" readonly="true"/>           
				
				<p:inputNumber label="pInputNumber" value="" readonly="true">
				</p:inputNumber>
				    </div>   
				</div> 
				



				</h:form>

			</div>

		</ui:define>

	</ui:composition>

</h:body>

</html>

