<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplateEmpty.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Tabele" />

		<ui:define name="egr_content">

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Tak" type="button"
								 styleClass="ui-confirmdialog-yes granatowy" icon="check"/>
				<p:commandButton value="Nie" type="button"
								 styleClass="ui-confirmdialog-no granatowy" icon="close"/>
			</p:confirmDialog>

			<h:form id="frmNorth" styleClass="p5 pl20 pr20 d-flex btb1 bg-fff" rendered="#{user.admin or user.hasPermission('PP_PROGRAMISTA')}">



				<p:commandButton
						id="btnExpXml"
						icon="get_app"
						value="Pobierz XML (liquibase)" title="pobierz pliki z kodem xml/liquibase dla zaznaczonych wierszy"
						styleClass="granatowy mr10"
						ajax="false"
						partialSubmit="true" process="@this"
				>
					<p:fileDownload value="#{listaTabelAllBean.exportSelectionXML()}" />
				</p:commandButton>

				
				

			</h:form>


			<h:form id="frmTables" styleClass="d-flex-1 p20 bg-fff btb1" rendered="#{user.admin or user.hasPermission('PP_PROGRAMISTA')}">
				<cc:cLookupTableMultiselect datasource="#{listaTabelAllBean.allTables}"/>
			</h:form>

		</ui:define>
	</ui:composition>
</h:body>

</html>