<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">



	<p:dialog
		widgetVar="dlgExport2" id="dlgExport2"
		height="600" appendTo="@(body)"
		modal="true" closeOnEscape="true" >


		<h:form id="aaaa">
			<cc:cLookupTable datasource="#{testBean.getLW('ppl_test')}"
							multiselect="false"
							exportPdf="true" exportXls="true" exportCsv="true" exportXml="true" />
		</h:form>


	</p:dialog>



</ui:composition>