<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">


<f:metadata>
</f:metadata>


<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePublic.xhtml">
		<ui:param name="submenuName" value="statystyka logowania metod" />


		<ui:define name="egr_content">
		


			<div class="pp-center p20" style="display: flex; flex: 1;">


					<h:panelGroup id="pnl">
				
						<div id="pnl" class="ui-g ui-g-nopad" style="width:100%; max-height:100%; overflow: auto">
							
							<div class="ui-g-1 ui-g-nopad">
							<div class="ui-g-5 ui-g-nopad">ile razy</div>
							<div class="ui-g-1"></div>
							<div class="ui-g-5 ui-g-nopad">czas(suma)</div>
							</div>
							<div class="ui-g-10 ui-g-nopad">metoda (nazwa / opis)</div>
							<div class="ui-g-12 ui-g-nopad" style="min-height:30px"> </div>
							
							<ui:repeat var="x" value="#{appBean.logMethodsNames()}">
							
								<div class="ui-g-1 ui-g-nopad">
								<p:inputText styleClass="ui-g-5 ui-g-nopad right" readonly="true" value="#{appBean.logMethodsCountHM.get(x)}"/>
								<div class="ui-g-1"></div>
								<p:inputText styleClass="ui-g-5 ui-g-nopad right" readonly="true" value="#{appBean.logMethodsSummaryHM.get(x)}"/>
							    </div>
							    
								<p:inputText styleClass="ui-g-11 ui-g-nopad" readonly="true" value="#{x}"/>
								
								<div class="ui-g-12 ui-g-nopad" style="min-height:20px"> </div>
								<p:spacer style="width:100%"/>
								
							</ui:repeat>
						</div>
					</h:panelGroup>	

				</div>

		</ui:define>		

</ui:composition>
</h:body>

</html>

