<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	  xmlns:jsf="http://xmlns.jcp.org/jsf"
	  xmlns:egr="http://egr.egeria.comarch.com/facelets">


<f:metadata>
</f:metadata>


<h:body>
	<ui:composition
			template="/WEB-INF/protectedElements/Templates/EgrTemplatePublic.xhtml">
		<ui:param name="submenuName" value="#{logsBean.ipAddress} #{logsBean.pthTomcat}/logs/#{logsBean.currentFile.name}  [ #{v.format(logsBean.currentFileLength/(1024*1024),'#0.00')} MB ]" />

		<ui:define name="egr_content">

			<h:form id="frnNrth" styleClass="d-flex bg-lseagreen bsh1black p5 pl20 pr20 bsh1black">

				<p:commandButton id="btnGetLog"
								 icon="get_app"
								 action="#{logsBean.downloadLines()}"
								 onclick="form.target = '_blank'" ajax="false"/>

				<p:commandButton icon="content_copy"
								 onclick="$('#frmCntr\\:txtLog').select(); document.execCommand('copy'); "/>

				<p:commandButton id="btnZmien" icon="search" value="plik ..." actionListener="#{logsBean.reloadLogFiles()}" update="@form:btnZmienOvPnl:pnl"/>


				<p:outputLabel id="logMethodsLevelLbl" value="[ #{appBean.logMethodsLevel} ] - poziom/czas logowania metod ..." styleClass="ml50" style="color:#{appBean.logMethodsLevel gt -1 ? 'red' : 'gray'}"/>

				<p:overlayPanel id="logMethodsLevelOvPnl" for="logMethodsLevelLbl" style="position:fixed;">
					<div class="ui-g ui-g-nopad" style="width:400px">
						Poziom (próg czasu) logowania dla metod.<br/>
						Ustawienie wartości nieujemnej spowoduje wpisywanie do logów dodatkowych infrmacji o czasie działania metody.<br/>
						<br/>
						Typowe wartości ustawienia: <br/>
						[  -1 ] - logowanie metod wyłączone; <br/>
						[   0 ] - logowanie wszystkich oznaczonych metod; <br/>
						[ 100 ] - logowanie metod działających dłużej niż 100 [ms] ... <br/>
						<br/><br/>

						<p:inputNumber id="logMethodsLevel" value="#{appBean.logMethodsLevel}" minValue="-1" decimalPlaces="0" styleClass="ui-g-2 mt5 right" style="display: inline"/>
						<p:commandButton value="[ zastosuj ]" partialSubmit="true" process="logMethodsLevel" styleClass="ui-g-4" update="@form" />
						<p:commandButton value="[ wyłącz (-1) ]" action="#{appBean.setLogMethodsLevel(-1)}" styleClass="ui-g-4" partialSubmit="true" process="@this" update="@form" />

						<div class="ui-g-12"></div>

						<div class="ui-g-2"></div>
						<p:commandButton value="[ pokaż stat. ]" action="test_logMethodStats.xhtml" partialSubmit="true" process="@this"  styleClass="ui-g-4"/>
						<p:commandButton value="[ czyść stat. ]" action="#{appBean.logMethodClearStats()}" partialSubmit="true" process="@this" update="@form"  styleClass="ui-g-4"/>

					</div>
				</p:overlayPanel>







				<p:overlayPanel id="btnZmienOvPnl" for="frnNrth:btnZmien"  style="position:fixed; width:80vw">
					<h:panelGroup id="pnl" styleClass="pnlf">
						<div id="pnldv" class="ui-g ui-g-nopad" style="width:100%; max-height:450px; overflow: auto">
							<ui:repeat var="file" value="#{logsBean.logFiles}">

								<p:commandButton id="btnTail"
												 styleClass="ui-g-1"
												 icon="search"
												 value="tail 1000"
												 action="#{logsBean.tail(file, 1000)}"
												 update="@form frmCntr egrHeaderFormPublic"
												 onstart="showHourGlass();"
												 oncomplete="hideHourGlass();
												var el = document.getElementById('frmCntr');
												el.scrollTop = el.scrollHeight - el.clientHeight;"
								/>

								<div class="ui-g-6 ui-g-nopad"> <p:inputText	value="#{file.name}" readonly="true"/>  </div>
								<div class="ui-g-2 ui-g-nopad"> <p:calendar 	value="#{logsBean.toDate( file.lastModified() )}" pattern="yyyy-MM-dd hh:mm:ss" readonly="true" />  </div>
								<div class="ui-g-2 ui-g-nopad"> <p:inputNumber 	value="#{file.length()/1024}" decimalPlaces="4" symbol=" [KB]" symbolPosition="s" styleClass="right" readonly="true" /> </div>
								<div class="ui-g-1"></div>

							</ui:repeat>
						</div>
					</h:panelGroup>
				</p:overlayPanel>

			</h:form>



			<h:form id="frmCntr" style="flex: 1; overflow-y: auto;" styleClass="bg-fff bsh1black p20 bsh1black">

				<p:inputTextarea
						id="txtLog"
						style="font-size:90%!important; "
						value="#{logsBean.linesToText()}"
						readonly="true"/>

				<h:panelGroup style="position: absolute; right: 0; bottom: 0; opacity: 0.5;" styleClass="ui-g bsh1 p5 m5 w600">

					<p:outputLabel styleClass="ui-g-12 p0"
								   style="color:#{appBean.bds.numActive eq 0 ? 'lightgray' : 'red'}; font-size:75%!important;"
								   value="polączenia aktywne: #{appBean.bds.numActive}; nieaktywne: #{appBean.bds.numIdle}; maks. liczba w puli połączeń: #{appBean.bds.maxTotal} ( wyk.: #{100*(appBean.bds.numIdle + appBean.bds.numActive) / appBean.bds.maxTotal}% )"/>

					<p:outputLabel styleClass="ui-g-12 p0"
								   value="app.sessions: #{appBean.sessionsUsers.size()}"/>

					<p:outputLabel  rendered="#{user.admin}" styleClass="ui-g-12 p0"
									value="host: #{appBean.dbInstance.get('HOST_NAME')}; inst.: #{appBean.dbInstance.get('INSTANCE_NAME')}; ver: #{appBean.dbInstance.get('VERSION')}; started: #{appBean.dbInstance.get('STARTUP_TIME')}"/>

					<p:outputLabel  rendered="#{user.admin}"  styleClass="ui-g-12 p0"
									value="DB: #{appBean.dbInstance.get('INSTANCE_NAME')} ( #{appBean.bds.username} @ #{appBean.bds.url} ) "/>

				</h:panelGroup>

			</h:form>


		</ui:define>

	</ui:composition>
</h:body>

</html>

