<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components" xmlns:c="http://java.sun.com/jsf/html">


<f:metadata>
</f:metadata>

<h:body>

	<ui:composition
			template="/WEB-INF/protectedElements/Templates/EgrTemplateEmpty.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}" />



		<ui:define name="egr_content">


			<h:panelGroup
					rendered="#{'0' ne appBean.appContext.environment.getProperty('javax.faces.FACELETS_REFRESH_PERIOD')}"
					style="position: fixed; bottom: 0px; left:0; width:100%; color: red; z-index: 9997; background: rgba(255,255,255,0.7);" styleClass="bsh1gray p0 center"
			>
				UWAGA: parametr javax.faces.FACELETS_REFRESH_PERIOD = #{appBean.appContext.environment.getProperty('javax.faces.FACELETS_REFRESH_PERIOD')}; Aby testować zmiany kodu xhtml w czasie rzeczywistym wylącz buforowanie plików xhtml (zmień w/w parametr na 0 w pliku #{appBean.applicationContextFolder}/WEB-INF/web.xml po czym zrestartuj serwer aplikacji).
			</h:panelGroup>



			<h:form id="frm" styleClass="bg-fff bsh1"
					rendered="#{(user.admin or user.hasPermission('PP_PROGRAMISTA')) and resFilesBean.rsfcViewId!=null}"
					style="width: 100%; height: calc(100vh - 20px);">

				<div class="ui-g ui-g-12 ui-lg-6 p20" style="overflow: auto;">
				<p:outputLabel value="zasoby widoku: '#{resFilesBean.rsfcViewId}'" styleClass="ui-g-12 p0 fs20"/>

				<p:separator styleClass="ui-g-12 p0 m0 mb10" />
					<ui:repeat value="#{resFilesBean.viewFilesNames}" var="fnm">
						<h:panelGroup id="pnl" styleClass="ui-g-12 ui-g-v-center p5 m0 ui-r-hoover" style="position: relative; #{resFilesBean.rsfcViewId eq fnm ? 'background: #EEF;' : ''}" >

							<ui:param name="rfnm" value="#{resFilesBean.getRplcFile(fnm)}"></ui:param>

<!--							<p:outputLabel value="#{fnm}" 	styleClass="ui-g-11 p0 m0"  style="#{empty rfnm ? '' : 'color: red;'}"/>-->

							<p:outputLabel value="#{fnm}" 	styleClass="ui-g-11 p0 m0"  style="#{0 eq resFilesBean.rscfId(fnm) ? '' : 'color: red;'}"/>
							<div class="ui-visibility-hoover" style="position: absolute; right: 20px;">

								<p:commandButton
										icon="edit"
										onclick="window.open('test_res_files_source.xhtml?rscfid=#{resFilesBean.rscfId(fnm)}&amp;f=#{fnm}')"
										onstart="hgon();"  oncomplete="hgoff();"
								/>


								<p:commandButton icon="get_app"
												 title="pobierz plik..."
												 styleClass="p0 m0"
												 onstart="hgon();" oncomplete="hgoff();"
												 partialSubmit="true" process="@none"
												 ajax="false" target="_blank">
									<p:fileDownload value="#{resFilesBean.getResFile(fnm)}" />
								</p:commandButton>

								<p:commandButton icon="publish"
												 title="wczytaj/opublikuj wersję wdrożeniową pliku..."
												 styleClass="p0 m0"
												 action="#{resFilesBean.preparePublishResFile(fnm)}"
												 onstart="$(jq('frm:flupld_input')).click();"
												 partialSubmit="true" process="@this">


								</p:commandButton>

								<p:commandButton icon="delete"  styleClass="p0 m0"
												 action="#{resFilesBean.delteResFile(fnm)}"
												 onstart="hgon();" oncomplete="hgoff();"
												 partialSubmit="true" process="@this"
												 disabled="#{0 eq resFilesBean.rscfId(fnm)}"
												 update="pnl"
								/>

							</div>

						</h:panelGroup>

					</ui:repeat>


					<p:separator styleClass="ui-g-12 p0 m0 mt10"/>

				</div>

				<p:fileUpload style="visibility: hidden;"
						id="flupld" styleClass="fuplctl"
						label=" Wczytywanie pliku ..."
						listener="#{resFilesBean.uploadFile}"
						skinSimple="true"
						auto="true"
						mode="advanced"
						allowTypes="/(\.|\/)(xhtml?)$/"
						sizeLimit="5242880"
						fileLimit="1"
						cancelLabel="true"
						onstart="hgon();" oncomplete="hgoff();"
						update="@form"
				/>



			</h:form>



			<h:form id="frmallrplfiles" styleClass="bg-fff bsh1"
					rendered="#{(user.admin or user.hasPermission('PP_PROGRAMISTA')) and resFilesBean.rsfcViewId==null}"
					style="width: 100%; height: calc(100vh - 20px);">
			<div class="p20">

				<cc:cLookupTableMultiselect datasource="#{v.getLW('PPL_RESOURCE_FILES_RPL')}" height="calc(100vh - 100px)">
					<p:column headerText="SOURCE" width="50">

						<f:facet name="header">

							<h:commandLink
									update="@form"
							>
								<p:commandButton
										icon="get_app"
										title="pobierz zaznaczone"
								/>
								<p:fileDownload value="#{resFilesBean.dmpAllResFilesSource()}"/>
							</h:commandLink>

							<p:commandButton
									icon="delete"
									title="usuń zaznaczone"
									action="#{resFilesBean.deleteZaznaczone}"
									onstart="hgon();"  oncomplete="hgoff();"
									update="@form"
							/>

						</f:facet>




						<ui:param name="rscfIdd" value="#{row.get('rscf_id')}"></ui:param>
						<p:commandButton
								icon="edit"
								onclick="window.open('test_res_files_source.xhtml?rscfid=#{rscfIdd}')"
								onstart="hgon();"  oncomplete="hgoff();"
						/>

						<p:commandButton
								icon="delete"
								action="#{resFilesBean.delete(row)}" update="@form"
								onstart="hgon();"  oncomplete="hgoff();"
						/>

					</p:column>
				</cc:cLookupTableMultiselect>

			</div>


			<p:commandButton
					icon="add" value="dodaj ... " styleClass="granatowy ml50"
					onclick="window.open('test_res_files_source.xhtml')"
					onstart="hgon();"  oncomplete="hgoff();"
			/>



			</h:form>

		</ui:define>

	</ui:composition>




</h:body>

</html>
