<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:egr="http://egr.egeria.comarch.com/facelets"
      xmlns:c="http://java.sun.com/jsf/composite/components">


<f:metadata>
</f:metadata>

<h:head>
    <h:outputStylesheet name="ctl-style.css" library="css"/>
    <h:outputStylesheet name="pp-style.css" library="css"/>
    <h:outputStylesheet name="pp-calendar.css" library="css"/>
    <h:outputStylesheet name="pp-kafelki.css" library="css"/>
    <h:outputStylesheet name="pp-gicons.css" library="css"/>
    <h:outputStylesheet name="materialdesignicons.min.css" library="css"/>
    <h:outputStylesheet name="pp-menu.css" library="css"/>
    <h:outputStylesheet name="pp-buttons.css" library="css"/>
    <h:outputStylesheet name="pp-tabs.css" library="css"/>
    <h:outputStylesheet name="pp-forms.css" library="css"/>
    <h:outputStylesheet name="pp-notification.css" library="css"/>
    <h:outputStylesheet name="pp-ksiazka-tel.css" library="css"/>
    <h:outputStylesheet name="pp-modale.css" library="css"/>
    <h:outputStylesheet name="pp-forms-material.css" library="css"/>
    <h:outputStylesheet name="pp-spinner.css" library="css"/>
    <h:outputStylesheet name="tooltip-mdesign.css" library="css"/>
    <script
            src="resources/js/pfLocales.js?v=#{appBean.manifestProperties.version}"
            type="text/javascript"></script>
    <script
            src="resources/js/ctlUtils.js?v=#{appBean.manifestProperties.version}"
            type="text/javascript"></script>
    <script
            src="resources/js/pf-widgets/ctlColumnToggler.js?v=#{appBean.manifestProperties.version}"
            type="text/javascript"></script>
    <script
            src="resources/js/pf-widgets/ctlMenubar.js?v=#{appBean.manifestProperties.version}"
            type="text/javascript"></script>
    <script
            src="resources/js/pf-widgets/ctlSelectOneMenu.js?v=#{appBean.manifestProperties.version}"
            type="text/javascript"></script>

    <script
            src="resources/js/pf-widgets/ppCalendar.js?v=#{appBean.manifestProperties.version}"
            type="text/javascript"></script>

    <script src="resources/js/external/jquery-element-onresize.js"
            type="text/javascript"></script>

    <script src="resources/js/external/jquery.qtip.min.js"
            type="text/javascript"></script>

</h:head>


<h:body style="height:100vh; width:100vw; padding: 0px; overflow: hidden; margin: 0; display: flex; flex-direction: column;">

    <p:growl id="template_growl" for="template_growl" showDetail="true" life="15000"
             widgetVar="template_growl" rendered="true" escape="false"/>

    <p:tooltip globalSelector="div.ui-diagram-element" escape="false" showDelay="500" hideDelay="2000"/>

        <h:form id="frmTab" styleClass="d-flex-column flex-1">

            <cc:cErdTab viewmodel="#{tabVM}" />

        </h:form>


</h:body>

</html>