<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">


<f:metadata>
</f:metadata>


<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Test" />

		<ui:define name="egr_content">
			<div class="pp-center p20" style="display: flex; flex: 1;">

				TEST WS/WSS NIEAKTYWNY

<!--				<h:form id="frmWsTest" styleClass="bg-white-100">			-->
<!--				-->
<!--				<div class="ui-g ui-g-nopad">-->

<!--					<cc:cInputTextMDesign label="AppBean / websocket url: " value="#{appBean.webSocketUrl}" styleClass="ui-g-9"/>-->
<!--				-->
<!--					<div class="ui-g-nopad ui-g-34">-->
<!--					-->
<!--						<p:commandButton value="POŁĄCZ" -->
<!--							disabled="#{not user.admin}" -->
<!--							styleClass="granatowy w120 "-->
<!--							oncomplete="parent.update('pnlWebsocket'); update('frmWsTest');"-->
<!--							/>-->
<!--						<br/>-->
<!--						<p:commandButton value="TESTUJ" -->
<!--							disabled="#{not user.admin}" -->
<!--							styleClass="granatowy w120 mt5"-->
<!--							onstart="hgon();"-->
<!--							oncomplete="parent.testWebsocketPush();hgoff();"-->
<!--							/>-->
<!--							-->
<!--					</div>		-->
<!--				</div>						-->

<!--					połączone: <br/>-->
<!--					<ui:repeat var="wsckt" value="#{appBean.connectedWebSocketsInfo()}">-->
<!--						#{wsckt} <br/>-->
<!--					</ui:repeat>-->
<!--								-->
<!--				</h:form>-->
			</div>
		</ui:define>
	</ui:composition>
</h:body>

</html>

