<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets"
	>


<f:metadata>

<!-- 	<f:viewAction action="#{testBean.makeFormReadOnly(null, null)}"/> -->

test Wartosci domyslne branch

<!--  <f:event type="preRenderComponent" listener="#{testBean.iterateChildren(null)}" /> -->



</f:metadata>


<h:body>
<f:view >
<!--	beforePhase="#{testBean.makeFormReadOnly}"-->
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Wizard" />

		<ui:define name="egr_content">
			<div class="bsh1 m0" style="display: flex; flex-direction: column; overflow-y: hidden;">

				<h:form styleClass="bsh1 m20 p20 bg-fff" style="display: flex; flex-direction: column; overflow-y: hidden;">

xxxxxxxxxxxxxx
					<!-- 						<p:inputText value="#{testBean.testVal}"/> -->
					<!-- 						<p:inputText value="#{testBean.testVal1}"/> -->


					<!-- 				<cc:cInputTextMDesign value="#{testBean.testVal}"/> -->
					<!-- 				<cc:cInputTextMDesign value="#{testBean.testVal1}"/> -->
<!--					<egr:ku>-->
<!--						<p:inputText value="#{testBean.testVal}"/>-->
<!--						<p:inputText value="#{testBean.testVal1}"/>-->
<!--					</egr:ku>-->


				</h:form>


			</div>
		</ui:define>

	</ui:composition>

</f:view>
</h:body>

</html>

