<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">


<f:metadata>
</f:metadata>


<h:body>



	<h:form styleClass="w500 bg-white" style="position: absolute; right:50px; top:50px; z-index: 999;">
		<ui:param name="ccMDesignAjaxDefault" value="false"/>

TEST CC MDESIGN

		<p:separator styleClass="ui-g-12 p0"/>

		<cc:cInputTextArea styleClass="ui-g-6" 			placeholder="cInputTextArea..." title="test title"  value="#{testBean.testVal4}"/>
		<cc:cInputTextAreaMDesign styleClass="ui-g-6" 	placeholder="cInputTextAreaMDesign..." title="test title"  value="#{testBean.testVal4}"/>


		<cc:cInputText  styleClass="ui-g-6" 			placeholder="cInputText..." value="#{testBean.testVal2}" />
		<cc:cInputTextMDesign  styleClass="ui-g-6" 		placeholder="cInputTextMDesign" value="#{testBean.testVal2}" />


		<cc:cInputNumber styleClass="ui-g-6" 			placeholder="cInputNumber" symbol="PLN" 	value="#{testBean.testVal1}" />
		<cc:cInputNumberMDesign styleClass="ui-g-6"		placeholder="cInputNumber" symbol="PLN" 	value="#{testBean.testVal1}" maxValue="2.000" minValue="0.000"  />


		<cc:cCalendar styleClass="ui-g-6" 				placeholder="cCalendar" 				value="#{testBean.testVal3}"/>
		<cc:cCalendarMDesign styleClass="ui-g-6"
							 ajax="false"
							 placeholder="cCalendarMDesign"



							 value="#{testBean.testVal3}"/>


		<p:separator styleClass="ui-g-12 p0"/>


	</h:form>


</h:body>

</html>

