<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">


<f:metadata>
</f:metadata>


<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Test" />

		<ui:define name="egr_content">


			<div class="pp-center" style="display: flex; flex: 1;">

				<h:form styleClass="bg-fff ui-g-12 p10">
				
				
				<ui:repeat var="testObj" value="#{testBean.testObjects}">
					<div class="p10 mt20 ui-g-1">
						quantity: 
						<p:inputNumber value="#{testObj.quantity}">
							<p:ajax event="change"/>
						</p:inputNumber>
						
						<br/><br/>
						price:
						<p:inputNumber value="#{testObj.price}">
							<p:ajax event="change"/>
						</p:inputNumber>
						
						<br/><br/>
						value:
						<p:inputNumber value="#{testObj.value}" readonly="true" rendered="#{testObj.value ne 0}" tabindex="-1"/>
					</div>
				</ui:repeat>
				


				<ui:repeat var="testObj1" value="#{testBean.testObjects}">
					<div class="p10 mt20 ui-g-1">

						<cc:cInputNumberMDesign label="quantity: "	value="#{testObj1.quantity}" >
							<p:ajax event="change"/>
						</cc:cInputNumberMDesign>
						
						<cc:cInputNumberMDesign label="price: "	value="#{testObj1.price}" >
							<p:ajax event="change"/>
						</cc:cInputNumberMDesign>
						
						<cc:cInputNumberMDesign label="value: "	value="#{testObj1.value}" readonly="true" rendered="#{testObj1.value ne 0}"/>
					</div>
				</ui:repeat>
				
<!-- 				<ui:repeat var="testObj2" value="#{testBean.testObjects}"> -->
<!-- 					<div class="p10 mt20 ui-g-1"> -->
<!-- 						quantity:  -->
<!-- 						<p:inputNumber id="inqty"  value="#{testObj2.quantity}"> -->
<!-- 							<p:ajax event="change"/> -->
<!-- 						</p:inputNumber> -->
						
<!-- 						<br/><br/> -->
<!-- 						price: -->
<!-- 						<p:inputNumber id="inprice" value="#{testObj2.price}"> -->
<!-- 							<p:ajax event="change"/> -->
<!-- 						</p:inputNumber> -->
						
<!-- 						<br/><br/> -->
<!-- 						value: -->
<!-- 						<p:inputNumber id="invalue" value="#{testObj2.value}" readonly="true"/> -->
<!-- 					</div> -->
<!-- 				</ui:repeat>				 -->

					
					
					
				<div class="p10 mt20 ui-g-1">
					
					quantity: 
					<p:inputNumber id="inqty"  value="#{testBean.testObject.quantity}">
						<p:ajax event="change"/>
					</p:inputNumber>
					
					<br/><br/>
					price:
					<p:inputNumber id="inprice" value="#{testBean.testObject.price}">
						<p:ajax event="change"/>
					</p:inputNumber>
					
					<br/><br/>
					value:
					<p:inputNumber id="invalue" value="#{testBean.testObject.value}" rendered="#{testBean.testObject.value ne 0}" readonly="true" tabindex="-1">
						<p:ajax event="change"/>
					</p:inputNumber>
					
				</div>
				

				<div class="p10 mt20 ui-g-3">
				

	
					rx values ...: 
					<p:inputNumber value="#{testBean.testObject.value}" readonly="true"/>				
					<p:inputText value="#{testBean.testObject.value}"/>
					
					<p:outputLabel value="label: #{testBean.testObject.quantity} * #{testBean.testObject.price} = #{testBean.testObject.value}"/>	
					<p:inputTextarea value="textArea: #{testBean.testObject.quantity} [kg] * #{testBean.testObject.price} [USD] = #{testBean.testObject.value} [USD]"/>
					
					<h:panelGroup id="pnl1" styleClass="test" 
						rendered="#{ testBean.testObject.value ne 0 }">
						h:panelGroup/inline text: #{testBean.testObject.quantity} [kg] * #{testBean.testObject.price} [USD] = #{testBean.testObject.value} [USD]
						
						
						#{ testBean.testObject.value eq 0 }
					</h:panelGroup>				
	
	
					<cc:cInputTextMDesign 
						label="component cInputTextMDesign: " 
						value="#{testBean.testObject.quantity} [kg] * #{testBean.testObject.price} [USD] = #{testBean.testObject.value} [USD]"/>


					<br/><br/>
					<h:panelGroup id="pnl3" styleClass="test">
						<h3>total: #{testBean.testObjectsTotalValue}</h3>
					</h:panelGroup>				
					
					
					<br/><br/>
					<p:outputLabel value="total value / rx rendered: #{ testBean.testObjectsTotalValue gt 100 };  readonly: #{ testBean.testObjectsTotalValue gt 1000 }"/>
					
					<cc:cInputNumberMDesign label="total value: " 
						value="#{testBean.testObjectsTotalValue}" 
						rendered="#{ testBean.testObjectsTotalValue gt 100 }"
						readonly="#{ testBean.testObjectsTotalValue gt 1000 }"
					/>
					
					
				</div>



				<div class="p10 mt20 ui-g-8">
					<cc:cTable datasource="#{testBean.testObjects}">

						<p:column headerText="quantity:">
							<p:inputNumber value="#{o.quantity}">
								<p:ajax event="change"/>
							</p:inputNumber>
						</p:column>
						<p:column headerText="price:">
							<p:inputNumber value="#{o.price}">
								<p:ajax event="change"/>
							</p:inputNumber>
						</p:column>						
						<p:column headerText="value:">
							<p:inputNumber value="#{o.value}" readonly="true"/>
						</p:column>						
						
					</cc:cTable>
				</div>



				</h:form>
				



			</div>
		</ui:define>
	</ui:composition>
</h:body>

</html>

