<!-- Uzycie:
dodanie namespace egr;

<egr:egrBlocker widgetVar="blocker" block="content" />
<form id="content">
...
	<p:remoteCommand ...
		onstart="PF('blocker').show();"
		oncomplete="PF('blocker').hide();" />
</form>
 -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:egr="http://egr.egeria.comarch.com/facelets">
	<p:blockUI widgetVar="#{widgetVar}" block="#{block}">
		<div class="egr-loader"></div>
	</p:blockUI>
</ui:composition>
