<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Konta bankowe" />

		<ui:define name="egr_content">

			<h:form id="frm" styleClass="bg-fff bsh2black p40 m20i d-flex-1-column">

				<p:outputLabel value="Konta bankowe" for="@parent" styleClass="fs20 p0 m0 mb10"/>
				<p:separator styleClass="p0 m0 mb40"/>

				<cc:cLookupTable
					height="calc(100% - 80px)"
					datasource="#{v.getLW('PPL_KONTA_BANKOWE', user.prcId)}"
				/>

				<p:separator styleClass="p0 m0"/>

			</h:form>

		</ui:define>

	</ui:composition>

</h:body>

</html>
