<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista rachunków" />

		<ui:define name="egr_content">

			<div class="p20 d-flex-1">
				<h:form id="frm" class="p20 bg-fff bsh2black flex-1 ov-hidden">

					<div class="d-flex align-items-center">
						<i class="fs50 material-icons growl">attach_money</i>
						<span class="fs30">#{user.prc.format('%prc_imie$s %prc_imie2$s %prc_nazwisko$s')} / Rachunki do umów cywilnoprawnych</span>
					</div>
					<p:separator styleClass="p0 mb40" />

					<div class="pl10 d-flex-1" style="height: calc(100vh - 230px);">

						<c:cLookupTable datasource="#{rachunkiUCPBean.getLW('PPL_KAD_RACHUCP')}"
										height="calc(100vh - 230px)"
										insertChildrenFirst="true">

							<p:column width="90" >
								<h:commandLink disabled="#{row.get('nazwa_pliku')==null}" style="text-decoration: none!important;"
											   styleClass="pp-underline-none p0i"
												 id="btnPobierz"
													 ajax="false" icon="get_app" onclick="PrimeFaces.monitorDownload(null, afterDownload)" >

										<p:commandButton styleClass="granatowy left" icon="get_app" value="pobierz..." partialSubmit="true" process="@none" disabled="#{row.get('nazwa_pliku')==null}"/>
										<p:fileDownload value="#{rachunkiUCPBean.pobierz(row)}"/>

								</h:commandLink>
							</p:column>

							<p:column width="90" >
								<h:commandLink disabled="#{row.get('nazwa_pliku')==null}" style="text-decoration: none!important;"
											   styleClass="pp-underline-none p0i"
												 id="btnPodglad"
													 ajax="false" target="_blank"
													 icon="search" onclick="PrimeFaces.monitorDownload(null, afterDownload)" >

									<p:commandButton styleClass="granatowy left" icon="search" value="podgląd" partialSubmit="true" process="@none" disabled="#{row.get('nazwa_pliku')==null}"/>
									<p:fileDownload value="#{rachunkiUCPBean.pobierz(row)}"  contentDisposition="inline"/>

								</h:commandLink>
							</p:column>

						</c:cLookupTable>

					</div>

					<p:remoteCommand name="afterDownload" update="@form" />

				</h:form>

			</div>

		</ui:define>
	</ui:composition>
</body>
</html>