<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<ui:composition
			template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista Płac" />

		<ui:define name="egr_content">

			<h:form styleClass="d-flex align-items-center justify-content-center flex-wrap pb5 pl20 pr20 pp-bg-lp-north-b-white-b-v">
				<p:outputLabel
						styleClass="fs20 pr0 pt5 mr10"
						value="Wynagrodzenie za okres:"
						for="@parent"
				/>
				<div class="mt5 mmw100 mr10 granatowy bsh1gray"
					 style="max-height: 24px !important; overflow: hidden;">
					<p:selectOneMenu
							id="somOkr" autoWidth="false"
							styleClass="w80 ml10 p0 pt2 mt-4i"
							value="#{listyPlacKiBean.okres}">
						<f:selectItems value="#{listyPlacKiBean.okresy}" />
						<p:ajax event="change" delay="500" onstart="hgon();" oncomplete="hgoff();" />
						<p:focus for="somOkr"/>
					</p:selectOneMenu>
				</div>

				<p:commandButton
						disabled="#{listyPlacKiBean.okres == null}"
						id="btnPodglad"
						onclick="form.target = '_blank'" ajax="false"
						icon="print" value="Drukuj"
						styleClass="mt5 mr10 granatowy bsh1gray"
				>
					<p:fileDownload value="#{listyPlacKiBean.drukuj()}"  contentDisposition="inline"/>
				</p:commandButton>

				<cc:cLovButtonJS
						id="rmuaMscId"
						icon="content_paste"
						value="ZUS IMIR ..."
						commandButtonStyleClass="granatowy bsh1gray p0"
						readonly="#{listyPlacKiBean.okres == null}"
						rendered="#{user.admin or user.hasPermission('PP_RPT_ZUS_RMUA')}"
						datasource="#{v.getLW('PPL_RMUA_OKRESY')}"
						rowSelectedAction="#{listyPlacKiBean.raportRMUA}"
						onclick="form.target = '_blank'" ajax="false" styleClass="pt5"
				/>
			</h:form>

			<div class="pp-center p20 d-flex-1">

				<h:form id="frmCntr"
					styleClass="bg-fff p40 pl20 pr20 bsh15slategray border flex-1 mw1000 mautoi ov-hidden"
					style="scrollbar-width: auto;"
				>

					<div class="d-flex-1" style="justify-content: space-between;">
						<p:outputLabel
							value="#{user.frmNazwa}"
							styleClass="fs20"
						/>

						<div class="d-flex-column">

							<p:outputLabel
								value="pracownik: #{user.ekPracownik.get('prc_imie')} #{user.ekPracownik.get('prc_nazwisko')} (nr pracownika: #{user.ekPracownik.get('prc_numer')})"
							/>

							<p:outputLabel
								value="wynagrodzenie za okres #{listyPlacKiBean.okres}"
							/>
						</div>

					</div>
					<p:separator styleClass="ui-g-12 p0 m0 mb10"/>

					<div class="ui-g-12 p0 m0" style="overflow: auto; height: calc(100vh - 220px)">
						<p:accordionPanel
								id="accPnl"
								multiple="true"
								activeIndex="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20"
								styleClass="ui-g-12"
								value="#{listyPlacKiBean.lwGrupySkl.data}" var="gr">

							<p:tab title="#{gr.get('wsl_wartosc')} #{gr.get('dg_nazwa')}" titleStyleClass="border pt5 pb5">

								<f:facet name="title">
									<div class="d-flex p0 m0" style="justify-content: space-between;">
										<p:outputLabel value="#{gr.get('dg_nazwa')}" styleClass="fs18 p0 m0 txt-graphite"/>
										<p:outputLabel
												rendered="#{not empty gr.getAsString('wsl_wartosc_zewn')}"
												styleClass="right fs18 p0 m0 txt-graphite"
												value="#{v.format(listyPlacKiBean.getSkladnikiSuma(gr.get('dg_kod')),'#0.00')}"
										/>
									</div>
								</f:facet>

								<div class="ui-g w100p p0 mb20">

									<ui:repeat value="#{listyPlacKiBean.getSkladniki(gr.get('dg_kod'))}" var="sk">
										<div class="d-flex-1 p0 m0">
											<p:outputLabel value="#{sk.get('lst_temat')}"
														   styleClass="flex-150 left p0 m0 fs14"/>
											<p:outputLabel value="#{sk.get('dsk_nazwa')}"
														   styleClass="flex-150 left p0 m0 fs14 txt-grey"/>
											<p:outputLabel value="#{v.format(sk.get('sk_wartosc'),'#0.00')}"
														   styleClass="flex-50 right p0 m0 fs14 txt-graphite"/>
										</div>

										<div class="ui-g-12 p0 m0" style="border-bottom: 1px solid lightgray;"></div>
									</ui:repeat>
								</div>
							</p:tab>

						</p:accordionPanel>
					</div>

					<p:separator styleClass="ui-g-12 p0 m0 mt10"/>

				</h:form>
			</div>

		</ui:define>
	</ui:composition>
</h:body>
</html>
