<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista Płac" />

		<ui:define name="egr_content">

			<h:form id="formListyPlacTMNU" styleClass="pp-bg-lp-north-b-white-b-v d-flex flex-wrap p5 pl20 pr20">

				<p:commandButton value="drukuj" icon="print" style="min-width: 80px;" styleClass="ctl-home-link-menu">
					<p:printer target="printContent1" />
				</p:commandButton>

				<p:commandButton value="raport" id="raportId"
					icon="content_paste"
					style="min-width: 80px;"
					actionListener="#{pracownikListyPlacSqlBean.reportPasekMF()}"
					partialSubmit="true" process="fltrMcId"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>

				<p:commandButton value="ZUS IMIR za miesiąc" id="rmuaMscId"
					rendered="#{user.admin or user.hasPermission('PP_RPT_ZUS_RMUA')}"
					icon="content_paste"
					style="min-width: 80px;"
					actionListener="#{pracownikListyPlacSqlBean.reportRmuaZaMiesiac()}"
					partialSubmit="true" process="fltrMcId"
					styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" ajax="false">
				</p:commandButton>
							
			</h:form>

			<h:form id="formListyPlacFiltr" styleClass="p20 ui-g-12">
						
				<div class="bg-fff p20">
                    <h2>Wybierz listę płac</h2>
                    <div class="d-flex align-items-center flex-wrap">
                        <p:outputLabel value="Wypł. w miesiącu:" for="fltrMcId" />
                        <p:selectOneMenu id="fltrMcId"
                                         value="#{pracownikListyPlacSqlBean.okres}"
                                         style="width: 100px;" styleClass="mr10">
                            <f:selectItems value="#{pracownikListyPlacSqlBean.okresy}" />
                            <p:ajax listener="#{pracownikListyPlacSqlBean.okresChanged}"
                                    event="change"
                                    update="formLstPlc formLstPlcDruk formNaglowekLstPlc formLstPlcWydrFiltr selectRodzajId selectNazwaId"
                                    delay="500" />
                        </p:selectOneMenu>
                        <p:selectCheckboxMenu id="selectRodzajId"
                                              value="#{pracownikListyPlacSqlBean.selectedRodzajeListy}"
                                              label="Rodzaj listy" filter="true"
                                              filterMatchMode="startsWith" width="400px" styleClass="mr10">
                            <f:selectItems
                                    value="#{pracownikListyPlacSqlBean.rodzajeListy}" />
                            <p:ajax listener="#{pracownikListyPlacSqlBean.rodzajeChanged}"
                                    event="change" update="formLstPlc formLstPlcDruk formLstPlcWydrFiltr selectNazwaId"
                                    delay="500" />
                            <p:ajax listener="#{pracownikListyPlacSqlBean.rodzajeChanged}"
                                    event="toggleSelect" update="formLstPlc formLstPlcDruk formLstPlcWydrFiltr selectNazwaId"
                                    delay="500" />
                        </p:selectCheckboxMenu>
                        <p:selectCheckboxMenu id="selectNazwaId"
                                              value="#{pracownikListyPlacSqlBean.selectedNazwyListy}"
                                              label="Lista (nr/nazwa) " filter="true"
                                              filterMatchMode="startsWith" width="400px">
                            <f:selectItems value="#{pracownikListyPlacSqlBean.nazwyListy}" />
                            <p:ajax event="change" update="formLstPlc formLstPlcDruk formLstPlcWydrFiltr" delay="500" />
                            <p:ajax event="toggleSelect" update="formLstPlc formLstPlcDruk formLstPlcWydrFiltr" delay="500" />
                        </p:selectCheckboxMenu>
                    </div>
				</div>

			</h:form>

			<h:form id="formLstPlc" styleClass="pl20 pr20 pb20 ui-g-12">

				<div class="bg-fff p20" style="height: calc(100vh - 285px);">
                    <h2>Szczegóły listy płac</h2>

					<div style="overflow: auto; max-height: calc(100vh - 350px);">
						<ui:repeat
							value="#{pracownikListyPlacSqlBean.filteredSlownik.keySet().toArray()}"
							var="num">

							<p:fieldset toggleable="true" toggleSpeed="300" collapsed="true">
								<f:facet name="legend">

                                    <p:outputPanel kuid="xxxx1" styleClass="d-flex pt5 pb5 border curp">

                                        <div class="flex-250">
                                            <h:outputText
                                                    value="#{pracownikListyPlacSqlBean.filteredSlownik.get(num).get(0).get('PP_DG_NAZWA')}"
                                                    styleClass="ui-font-bold16" />
                                        </div>
                                        <div class="flex-200"></div>
                                        <div class="flex-55">
                                            <h:outputText
                                                    value="#{pracownikListyPlacSqlBean.liczSume(num)}"
                                                    style="float: right;" styleClass="ui-font-bold16"
                                                    rendered="#{!pracownikListyPlacSqlBean.filteredSlownik.get(num).get(0).get('PP_DG_NAZWA').contains('Opisowe')}">
                                                <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                            </h:outputText>
                                        </div>
                                    </p:outputPanel>

								</f:facet>

								<ui:repeat var="item" value="#{pracownikListyPlacSqlBean.filteredSlownik.get(num)}">

                                    <p:outputPanel styleClass="d-flex pb10">
                                        <div class="flex-250 pr5">#{item.get('PP_LST_NAZWA')}</div>
                                        <div class="flex-200 pr5">#{item.get('PP_DSK_NAZWA')}</div>
                                        <div class="flex-55">
                                            <h:outputText value="#{item.get('PP_SK_WARTOSC')}"
                                                          style="float: right;">
                                                <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                            </h:outputText>
                                        </div>
                                    </p:outputPanel>

								</ui:repeat>

								<br/><br/>

							</p:fieldset>

						</ui:repeat>
					</div>
				</div>
			</h:form>

			<h:outputStylesheet>
                .ui-fieldset-legend {
                    width: 99%;
                    width: -webkit-fill-available;
                    width: -moz-available;
                    padding-left: 0 !important;
                }
				.ui-icon-minusthick, .ui-icon-plusthick {
					display: none;
				}
				.ui-fieldset-content {
					padding-right: 1em;
				}
			</h:outputStylesheet>

			<ui:include
				src="/WEB-INF/protectedElements/Wydruki/common/wydrukListaPlac.xhtml" />

		</ui:define>
	</ui:composition>
</h:body>
</html>
