<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">


	<p:dialog widgetVar="dlgDanePrzypisaniaMF" height="600" width="600"
		id="dlgDanePrzypisaniaMFId" appendTo="@(body)"
		closeOnEscape="true" draggable="true" resizable="false"
		styleClass="ctl-dialog lnkDnPrzpsnCrntRw" 
		>

		<f:facet name="header">

			<h:form id="dlgDanePrzypisaniaMFHdr">

				<p:panelGrid>

					<p:column style="w100p">
						<h:outputText value="Pracownik: #{wyszukiwanieMFFiltrBean.przypisaniaTelefonow.currentRow.get('PRC_ID')} Obiekt: #{wyszukiwanieMFFiltrBean.przypisaniaTelefonow.currentRow.get('OTCH_ID')} Klient: #{wyszukiwanieMFFiltrBean.przypisaniaTelefonow.currentRow.get('KLD_ID')}"/> 
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" styleClass="btnDlg" process="@this"
							icon="clear" oncomplete="PF('dlgDanePrzypisaniaMF').hide();">
						</p:commandButton>
					</p:column>

				</p:panelGrid>
			</h:form>
		</f:facet>




			<h:form id="dlgDanePrzypisaniaMFDane">
			
			row:
				#{wyszukiwanieMFFiltrBean.przypisaniaTelefonow.currentRow}
			...
			</h:form>


	</p:dialog>




</ui:composition>