<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:c="http://xmlns.jcp.org/jsf/composite/components"
	  xmlns:i="http://java.sun.com/jsp/jstl/core">

<h:body>

	<ui:composition
			template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Lista obecności pracowników (układ miesięczny)" />
		<ui:define name="egr_content">

<!-- 			<pe:layoutPane position="north" resizable="false" closable="false" spacingOpen="0" spacingClosed="0" styleClassContent="p5 pl20 pp-bg-lp-north-b-white-b-v"> -->

				<h:form id="frmNorth" styleClass="p5 pl20 pp-bg-lp-north-b-white-b-v">

					<p:commandButton icon="chevron_left"
									 id="btnMcPrev"
									 styleClass="granatowy bsh1gray"
									 partialSubmit="true" process="@this"
									 action="#{listaObecnosciMCBean.npMiesiac(-1)}"
									 onstart="hgon();" oncomplete="hgoff();"
									 update="frmNorth:btnZmienMc ovpnlokres frmCenter:clkpobcnmc"
					/>

					<p:commandButton id="btnZmienMc"  value="Miesiąc #{listaObecnosciMCBean.okresRokMc}" styleClass="granatowy bsh1gray" onclick="return false;"/>

					<p:commandButton icon="chevron_right"
									 id="btnMcNext"
									 styleClass="granatowy mr10 bsh1gray"
									 partialSubmit="true" process="@this"
									 action="#{listaObecnosciMCBean.npMiesiac(1)}"
									 onstart="hgon();" oncomplete="hgoff();"
									 update="frmNorth:btnZmienMc ovpnlokres frmCenter:clkpobcnmc"
					/>


					<p:commandButton id="btnDodajOBCN"  icon="add"
									 value="Dodaj obecnośc(i) ..."
									 title="Dodaj obecności dla zaznaczonyc wierszy i klumn ..."
									 styleClass="granatowy mr10 bsh1gray"
									 action="#{listaObecnosciMCBean.ustawObecnoscDlaZazn(true)}"
									 update="frmCenter:clkpobcnmc:dane"
									 onstart="hgon();" oncomplete="hgoff();"
					/>

					<p:commandButton id="btnUsunOBCN"
									 icon="delete"
									 value="Usuń obecnośc(i) ..."
									 title="Usuń obecności dla zaznaczonyc wierszy i klumn ..."
									 styleClass="granatowy mr10 bsh1gray"
									 action="#{listaObecnosciMCBean.ustawObecnoscDlaZazn(false)}"
									 update="frmCenter:clkpobcnmc:dane"
									 onstart="hgon();" oncomplete="hgoff();"
					/>

				</h:form>


				<p:overlayPanel id="ovpnlokres" for="frmNorth:btnZmienMc"  widgetVar="ovpnlokres">
					<h:form styleClass="ui-g-12 p0 pb10 w300">

						<c:cInputNumberMDesign
								ajax="false"
								label="Rok"
								value="#{listaObecnosciMCBean.rok}"
								styleClass="ui-g-4"
								decimalPlaces="0"
						/>
						<!--minValue="1900.0" maxValue="3000.0"-->

						<c:cLOVMDesign
								ajax="false"
								label="Miesiac:"
								datasource="#{v.getLW('PPL_MIESIACE')}"
								lovTextFormat="%2$s"
								value="#{listaObecnosciMCBean.miesiac}"
								styleClass="ui-g-8"
						/>

<!--						<c:cSOMMDesign-->
<!--								label="Miesiac:"-->
<!--								datasource="#{v.getLW('PPL_MIESIACE')}"-->
<!--								value="#{listaObecnosciMCBean.miesiac}"-->
<!--								styleClass="ui-g-8"-->
<!--						/>-->

						<p:commandButton
								value="Zatwierdź"
								styleClass="granatowy float-right mt10"
								update="frmNorth:btnZmienMc ovpnlokres frmCenter:clkpobcnmc"
								onstart="hgon();"
								oncomplete="hgoff(); PF('ovpnlokres').hide();"
						/>

					</h:form>

				</p:overlayPanel>






<!-- 			</pe:layoutPane> -->




<!-- 			<pe:layoutPane position="center" resizable="false" closable="false" spacingOpen="0" spacingClosed="0" styleClassContent="p20 pp-bg-gradient-gray-blue-6"> -->


                <link rel="stylesheet" type="text/css"
                      href="resources/css/pp-lista-obecnosci.css?v=#{appBean.startupTime.time}" />

				<h:form id="frmCenter" styleClass="p20 bg-fff flex-1">
					

					<c:cLookupTableMultiselect
                            styleClass="lista-obecn-mc"
							id="clkpobcnmc"
							datasource="#{listaObecnosciMCBean.pplObecnosciMC}"
							insertChildrenFirst="false"
							
							
					>

<!--                        scrollWidth="1200"-->
<!--                        frozenColumns="2"-->

<!--                        <p:column headerText="Praccownik" width="160">-->
<!--                            <div>-->
<!--                            <p:outputLabel value="#{row.get('prc_id@prc@%prc_nazwisko$s %prc_imie$s')}" styleClass="p1 m0"/>-->
<!--                            <br/>-->
<!--                            <p:outputLabel value="#{row.get('prc_id@prc@#%prc_numer$s')}" styleClass="fs10 p1 m0"/>-->
<!--                            </div>-->
<!--                        </p:column>-->

						<p:columns var="dzmc" value="#{listaObecnosciMCBean.dniMc}" width="15" resizable="false" >
                            <f:facet name="header">

                                <p:commandButton value="#{dzmc.dzMcNr}"
												 title="zaznacz/odznacz kolumnę"
                                                 styleClass="dz-col-btn w25 h20 mmw25 m0 center #{dzmc.styleClass}"
                                                 style="padding:0!important; display:inline-block!important;"
                                                 action="#{dzmc.setZaznaczony(not dzmc.zaznaczony)}"
                                                 partialSubmit="true" process="@this"
                                                 update="@this @(.dzm-#{dzmc.dzMcNr})">
								</p:commandButton>

                            </f:facet>

							<p:outputLabel id="lbldz"
									value="#{row.get('d'.concat(dzmc.dzMcNr) ) !=null ? 'T' : '-'}"
									styleClass="w25 h20 mmw25 p0 center dz-cell #{dzmc.styleClass} #{row.get('d'.concat(dzmc.dzMcNr) ) !=null ? 'dz-obcn-t' : 'dz-obcn-n'}"
									style="display:inline-block!important; cursor: pointer"
									ondblclick="ustawObecnoscCmd( #{row.idAsString}, #{dzmc.dzMcNr}, #{row.get('d'.concat(dzmc.dzMcNr) ) !=null ? 'false' : 'true'}, this.id)"
                            />


						</p:columns>


					</c:cLookupTableMultiselect>


					<pe:remoteCommand name="ustawObecnoscCmd" partialSubmit="true" process="@this"  actionListener="#{listaObecnosciMCBean.ustawObecnosc}" onstart="hgon()" oncomplete="hgoff()">
						<pe:methodSignature parameters="java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object"/>
						<pe:methodParam name="prcid"/>
						<pe:methodParam name="dznr"/>
						<pe:methodParam name="obecny"/>
						<pe:methodParam name="srcHtmlElId"/>
					</pe:remoteCommand>


				</h:form>
<!-- 			</pe:layoutPane> -->



		</ui:define>




	</ui:composition>
</h:body>
</html>
