<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsf/composite/components">

<h:body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Raporty - Jasper" />

		<ui:define name="egr_content">

			<h:form id="rapBtns" styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20 d-flex flex-wrap">

				<p:commandButton value="Raport PDF" icon="picture_as_pdf"
					style="min-width: 80px;" styleClass="ctl-home-link-menu"
					actionListener="#{jasperReportsUtils.generateReportPdf()}"
					partialSubmit="true" process="@this"
					onclick="form.target = '_blank'" ajax="false" />

				<p:commandButton value="Raport RTF" icon="content_paste"
					style="min-width: 80px;" styleClass="ctl-home-link-menu"
					actionListener="#{jasperReportsUtils.generateReportRtf()}"
					partialSubmit="true" process="@this"
					onclick="form.target = '_blank'" ajax="false" />

				<p:commandButton value="Raport DOCX" icon="content_paste"
					style="min-width: 80px;" styleClass="ctl-home-link-menu"
					actionListener="#{jasperReportsUtils.generateReportDocx()}"
					partialSubmit="true" process="@this"
					onclick="form.target = '_blank'" ajax="false" />

				<p:commandButton value="Raport ODT" icon="content_paste"
					style="min-width: 80px;" styleClass="ctl-home-link-menu"
					actionListener="#{jasperReportsUtils.generateReportOdt()}"
					partialSubmit="true" process="@this"
					onclick="form.target = '_blank'" ajax="false" />
			</h:form>

			<h:form id="frmId" styleClass="d-flex-1-column ov-auto m20i p20 bg-fff bsh2black pnlGrCL">

				<div class="d-flex flex-wrap align-items-center pb20">

					<p:selectOneMenu
						style="min-width: 400px !important; width: 400px !important; margin-right: 50px; margin-bottom: 15px;"
						value="#{jasperReportsUtils.selectedReport}"
						update="frmId @(.pnlGrCL)">
						<f:selectItems value="#{jasperReportsUtils.getReportsNames()}" />
						<f:selectItem itemLabel="Wybierz raport"
							noSelectionOption="true" itemValue=""/>
						<p:ajax event="change" update="frmId @(.pnlGrCL)" />
					</p:selectOneMenu>

					<p:commandButton value="Raport PDF" icon="picture_as_pdf"
						style="min-width: 80px;" styleClass="ctl-home-link-menu"
						actionListener="#{reportGenerator.displayReportAsPDF(jasperReportsUtils.copyReportParams, jasperReportsUtils.selectedReport)}"
						partialSubmit="true" process="@form"
						onclick="form.target = '_blank'" ajax="false" />

					<p:commandButton value="Raport RTF" icon="content_paste"
						style="min-width: 80px;" styleClass="ctl-home-link-menu"
						actionListener="#{reportGenerator.displayReportAsRTF(jasperReportsUtils.copyReportParams, jasperReportsUtils.selectedReport)}"
						partialSubmit="true" process="@this"
						onclick="form.target = '_blank'" ajax="false" />

					<p:commandButton value="Raport DOCX" icon="content_paste"
						style="min-width: 80px;" styleClass="ctl-home-link-menu"
						actionListener="#{reportGenerator.displayReportAsDOCX(jasperReportsUtils.copyReportParams, jasperReportsUtils.selectedReport)}"
						partialSubmit="true" process="@this"
						onclick="form.target = '_blank'" ajax="false" />

					<p:commandButton value="Raport ODT" icon="content_paste"
						style="min-width: 80px;" styleClass="ctl-home-link-menu"
						actionListener="#{reportGenerator.displayReportAsODT(jasperReportsUtils.copyReportParams, jasperReportsUtils.selectedReport)}"
						partialSubmit="true" process="@this"
						onclick="form.target = '_blank'" ajax="false" />

				</div>

				<ui:repeat
					value="#{jasperReportsUtils.getReportParameters(jasperReportsUtils.selectedReport)}"
					var="o" varStatus="status">
					<div class="d-flex flex-wrap pb10">

						<c:cInputTextMDesign readonly="true" value="#{o.name}" styleClass="flex-200"
							label="#{status.index eq 0 ? 'Nazwa parametru:' : ''}" renderKU="false" />

						<c:cInputTextMDesign readonly="true" styleClass="flex-200"
							value="#{o.valueClass.name}" label="#{status.index eq 0 ? 'Typ:' : '' }" renderKU="false" />

						<div class="flex-200">
							<c:cInputNumberMDesign decimalPlaces="0"
								value="#{jasperReportsUtils.reportParamsHM[o.name]}"
								label="#{status.index eq 0 ? 'Wartość:' : '' }" renderKU="false"
								rendered="#{'java.lang.Long'.equals(o.valueClass.name)}">
								<f:ajax event="change" />
							</c:cInputNumberMDesign>
							<c:cInputTextMDesign
								value="#{jasperReportsUtils.reportParamsHM[o.name]}"
								label="#{status.index eq 0 ? 'Wartość:' : '' }" renderKU="false"
								rendered="#{(not ( 'java.lang.Long'.equals(o.valueClass.name)))}">
								<f:ajax event="change" />
							</c:cInputTextMDesign>
						</div>

					</div>
				</ui:repeat>
			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
