<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Raporty" />

		<ui:define name="egr_content">

			<h:form id="rapBtns" styleClass="pp-bg-lp-north-b-white-b-v p5 pl20 pr20 d-flex flex-wrap">
				<p:commandButton value="drukuj raport" id="wydRapId" icon="print"
					style="min-width: 80px;" styleClass="ctl-home-link-menu"
					onclick="form.target = '_blank'" actionListener="#{raportyBean.drukuj()}"
					ajax="false"
					oncomplete="#{raportyBean.loadEgListaWartosci('PP_LISTA_RAP',  [] )}"
					update=":formRap">
				</p:commandButton>
			</h:form>

			<h:form id="formRap" styleClass="d-flex-1-column ov-auto m20i p20 bg-fff bsh2black">

				<div class="d-flex flex-wrap">
					<div class="d-flex align-items-center flex-400 pr10 pb10">
						<p:outputLabel for="raportId" value="Raport:" styleClass="pogrubiony-15"/>

						#{raportyBean.loadEgListaWartosci('PP_LISTA_RAP',  [''] )}

						<p:selectOneMenu id="raportId" style="width: 350px;"
										 value="#{raportyBean.idRaportu}"
										 styleClass="ddl-raporty">
							<f:selectItem itemLabel="Wybierz" />
							<f:selectItems value="#{raportyBean.getSqlData('PP_LISTA_RAP')}"
										   var="nazwa" itemLabel="#{nazwa.get(1)}"
										   itemValue="#{nazwa.get(0)}" />
							<p:ajax update=":formRap:rapParamsId" />
						</p:selectOneMenu>
					</div>
					<div class="d-flex align-items-center flex-250 pr10 pb10">
						<p:outputLabel for="format" value="Format:" styleClass="pogrubiony-15"/>
						<p:selectOneRadio id="format" value="#{raportyBean.format}" styleClass="radioLabel">
							<f:selectItem itemLabel=".pdf" itemValue="PDF" />
							<f:selectItem itemLabel=".rtf" itemValue="RTF" />
							<p:ajax event="valueChange"  />
						</p:selectOneRadio>
					</div>
				</div>
				<p:outputPanel id="rapParamsId" styleClass="pt20 pr20" style="width: 800px;">
					#{raportyBean.ustawParametry()}
					<cc:cTable datasource="#{raportyBean.parametry}"
							   height="#{raportyBean.parametry.size() * 30 + 50}px"
							   smallHeaders="true"
							   rendered="#{raportyBean.parametry.size() gt 0}">

						<p:column headerText="Parametry"
								  style="min-width: 450px !important" styleClass="ciem-niebieski">
							<p:outputLabel value="#{o.etykieta}" styleClass="label"/>
						</p:column>

						<p:column headerText="Wartość"
								  style="padding-bottom: 10px; padding-top: 10px;"
								  styleClass="ciem-niebieski">

							#{raportyBean.loadEgListaWartosciDefaultParams(o.lovName)}
							<cc:cLovLookupTable id="typOcenyId"
												lovDlgTitle="Lista wartości:" width="270" value="#{o.value}"
												lovTextFormat="%1$s"
												datasource="#{raportyBean.getSql(o.lovName)}" />
						</p:column>

					</cc:cTable>
				</p:outputPanel>

			</h:form>
		</ui:define>
	</ui:composition>
</h:body>

</html>
