<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">



<!--	#{helpBean.initModul()}-->

	<p:dialog
			id="dlgHelp"
			widgetVar="dialogHelp"
			appendTo="@(body)"
			modal="true"
			closeOnEscape="true"
			draggable="true"
			resizable="true"
			styleClass="dlg-flex pp-help-dialog"
			dynamic="false"
			width="1000"
			height="500"
			style="background: white!important; max-width: 100vw!important; max-height: 100vh!important;">

		<f:facet name="header">

			<h:form prependId="false" styleClass="d-flex">

				<h:outputText value="#{dic.MNU90002_pomoc}" styleClass="mrauto"/>

				<h:panelGroup styleClass="txt-white d-flex a-i-center p0" rendered="#{user.admin}">
					<p:fileUpload rendered="#{user.admin}"
								  id="helpFileUploader"
								  label="wczytaj plik (*.docx) ..."
								  styleClass="fs16 mt-5i" style="color:white!important;"
								  listener="#{helpBean.uploadFile}"
								  skinSimple="true"
								  update="dlgHelpCntnt @form"
								  auto="true"
								  mode="advanced"
								  allowTypes="/(\.|\/)(docx?)$/"
								  sizeLimit="5242880"
								  fileLimit="1"
								  cancelLabel="true"
					/>
				</h:panelGroup>



				<p:commandButton
						id="btnOpenInNew"
						styleClass="txt-white mmw40 fs30"
						onclick="openContextHelpInNewTab()" icon="open_in_new"
						type="button"
				/>

				<p:commandButton
						id="btnZamknij"
						styleClass="txt-white mmw40 fs30"
						icon="clear"
						type="button"
						onclick="PF('dialogHelp').hide();"
				/>

			</h:form>

		</f:facet>


		<h:panelGroup id="dlgHelpCntnt">
			<cc:cContextHelp helpFormId="contextHelpForm"
				openCmdName="openContextHelp"
				openCmdAction="PF('dialogHelp').show();"
				closeCmdName="closeContextHelp"
				closeCmdAction="PF('dialogHelp').hide()"
				openInNewTabCmdName="openContextHelpInNewTab" />
		</h:panelGroup>

	</p:dialog>

</ui:composition>
