.cc-md {
	border-radius: 5px;
}

.cc-md:hover{
	box-shadow: 0px 0px 3px steelblue!important;
}




/* input*/
.cc-md * > input {
	font-size: 16px !important;
	border-bottom: 2px solid lightgray!important;
	padding-left: 2.5px!important;
}

.cc-md * > input.ui-state-hover {
	border-bottom: 2px solid gray!important;
	transition: all 0.5s ease-in-out;
}

.cc-md-focus * > input.ui-state-focus {
	border-bottom: 2px solid #20BBA5!important;
	transition: all 0.6s ease-in-out;
}
	

/*textarea*/
.cc-md * > textarea.ui-state-hover {
	border-bottom: 2px solid gray!important;
	transition: all 0.5s ease-in-out;
}
	
.cc-md-focus * > textarea.ui-state-focus {
	border-bottom: 2px solid #20BBA5!important;
	transition: all 0.6s ease-in-out;
}



/*label*/
.cc-md * > .lbl {
	position:absolute;
	left:0;
	top:-20px;
	margin-left:2.5px;
}


.cc-md-focus * > .lbl  {
	color: #20BBA5!important;
	transition: all 0.6s ease-in-out;
}





/*icon*/
.cc-md-icon * > input {
	padding-left: 35px!important;
}

.cc-md-icon * > .lbl {
	padding-left: 35px!important;
}

.cc-md-focus * > .icn{
	color: #20BBA5!important;
	transition: all 0.6s ease-in-out;
}


/*kolizja z pp-forms.css*/
.cc-md * > .ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker.ui-state-focus{
	border-bottom-width:2px!important;	
}
