/* Tutaj bedzie stylowanie komponentow material design */

input {
	font-size: 16px !important;
}

.textarea-label > span:not(.bar){
	float: right;
} 

.readonly-label {
	color: grey !important;
	border: none !important;
	margin-left: 3px;
	margin-bottom: 0;
}


.pp-state-focus > input.ui-state-focus,
.pp-state-focus * > input.ui-state-focus,
.pp-state-focus > textarea.ui-state-focus
{
	border-bottom: 1px solid #20BBA5 !important;
	box-shadow: 0 1px #20BBA5 !important;
	transition: all 500ms linear !important;
}

.pp-state-focus > label.pp-lbl {
	color: #20BBA5 !important;
	transition: all 500ms linear !important;
}

.pp-lbl-hdr * > .pp-lbl {
	margin-top: -28px!important;
	margin-bottom: 10px!important;
}

.pp-lbl-hdr * > .pp-chk-lbl {
	margin-top: -50px!important;
	margin-left: -20px!important;
	padding:0!important;
}

.pp-lbl-hide * > .pp-lbl {
	visibility: hidden;
	position:absolute;
}
