.clkptb .ui-datatable {
	height: 100%!important;
	/* 	box-shadow: 0 0 1px 1px red; */
}

.clkptb .ui-datatable-scrollable-body{
	height: calc(100% - 58px)!important;
}

.clkptb .agr .ui-datatable-scrollable-body{
	height: calc(100% - 80px)!important;
}

.clkptb .smallHdrs .ui-datatable-scrollable-body{
	height: calc(100% - 30px)!important;
}


.clkptb .ui-datatable-scrollable-header,
.clkptb .ui-datatable-scrollable-footer{
	box-shadow: 0px -1px 0px #CCC, 0px  1px 0px #CCC;
	margin-top:1px!important;
	margin-bottom:1px!important;
}


.sum{
	color:steelblue!important;
}

.min{
	color:darkred!important;
}

.avg{
	color:darkgreen!important;
}

.max{
	color:darkblue!important;
}

.count{
	color:darkgray!important;
}


.ui-datatable .ui-datatable-scrollable-header th{
	text-align: left !important;
	padding: 0 15px !important;
	height: 58px;
}

.smallHdrs .ui-datatable-scrollable-header th
{
	text-align: left !important;
	padding: 0 15px !important;
	height: 30px;
}

.smallHdrs .ui-datatable-scrollable-theadclone{
	visibility:hidden!important;
	padding: 0px !important;
	height: 0px;
}


.hideHdrs .ui-datatable-scrollable-header
{
	visibility:hidden!important;
	position: absolute;
}

.hideHdrs .ui-datatable-scrollable-body {
	max-height: calc(100% - 0px)!important;
	min-height: calc(100% - 0px)!important;
}






.hideToggler .ui-chkbox-all{
	visibility: hidden;
}


.dtList {
	padding: 0px !important;
}

.dtList * > td {
	font-size: 17px !important;
	padding: 0px !important;
}

.dtList * > table {
	vertical-align: top !important;
}


.clkptbl-h250 * > .ui-datatable-scrollable-body{
	/*background:green!important;*/
	min-height: 250px!important
}

/* wybrane wiersze - st. disabled w clkptb (disabledSelection w tb) */
.clkptb-selectable-rows * > tr.ui-datatable-even:not(.ui-datatable-selectable),
.clkptb-selectable-rows * > tr.ui-datatable-odd:not(.ui-datatable-selectable) {
	background: #FFEEEE!important;
	opacity: 0.6!important;
}


.tbl-w100-h100 * > .ui-datatable-scrollable-header {
	min-height: 60px!important;
	min-width: 800px!important;
}


.tbl-w100-h100 * > .ui-datatable-scrollable-body {
	min-height: calc(100% - 60px)!important;
	min-width: 100%!important;
}

/* jesli tabelki wewn overlaypanle lub dlg maja zle szerkosci kolumn */
.clkptb .ui-datatable-scrollable-header .ui-datatable-scrollable-header-box > table > thead > tr:not([role=row]),
.clkptb .ui-datatable-scrollable-body .ui-datatable-scrollable-theadclone > tr:not([role=row]){
	display:none;
}






th.ui-resizable-column:hover{
	border-radius:0!important;
}

th.ui-resizable-column:hover > span.ui-column-resizer.ui-draggable{
	background-color:lightsteelblue!important;
	opacity: 0.2!important;
	min-height: 60px!important;
	min-width:12px!important;
}



.tbhbb1 .smallHdrs .ui-datatable-scrollable-header th,
.tbhbb1 .ui-datatable .ui-datatable-data th{
	border-bottom: 0.1px solid #CCCCDD!important;
	border-radius:0!important;
}



.tbp05 .smallHdrs .ui-datatable-scrollable-header th,
.tbp05 .ui-datatable .ui-datatable-data th,
.tbp05 .ui-datatable .ui-datatable-data td {
	padding:0 15px!important
}

.table-header-menu .inpSearch {
	width: 60vw;
	max-width: 350px;
}

@media screen and (max-width: 768px) {
	.inline-exporters {
		display: none !important;
	}
}

@media screen and (min-width: 769px) {
	button.ui-button.mobile-exporters-button {
		display: none;
	}
}

.ui-contextmenu.mobile-panel-buttons.exporters-contextmenu li span.ui-menuitem-text {
	color: #26437e !important;
	padding: 5px 10px !important;
	font-family: SourceSansPro-Regular !important;
	font-size: 14px !important;
}

.ui-contextmenu.mobile-panel-buttons.exporters-contextmenu li span.ui-menuitem-text:hover {
	color: #20bba5 !important;
}
