
.ui-blockui-content {
	-moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
	background: none !important;
	border: none !important;
}

.ui-blockui {
	background: #253f76 !important;
	opacity: .35 !important;
	filter: Alpha(Opacity=35) !important;
}

.egr-blocker-image {
	visibility: hidden;
	display: inline;
	position:absolute;
}

.egr-bottom-overlay-frame {
	position: fixed;
	bottom: 10px;
	left: 10px;
}

.egr-bottom-overlay-label {
	cursor: pointer;
	color: #3A3846;
	font-family: SourceSansPro-Semibold;
	font-size: 14;
}

.egr-bottom-overlay-frame {
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
}

.egr-loader {
	border-top: 16px solid #26437E;
	border-left: 16px solid rgba(38, 67, 126, 0.6);
	border-bottom: 16px solid rgba(38, 67, 126, 0.3);
	border-right: 16px solid rgba(0, 0, 0, 0);
	border-radius: 50%;
	width: 64px;
	height: 64px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% {transform: rotate(360deg);}
}
