@font-face {
	font-family: SourceSansPro-Regular;
	src: url('fonts/SourceSansPro-Regular.otf.xhtml')
}

body {
  font-family: SourceSansPro-Regular;
}

img {
	max-width: 100%;
	max-height: 100%;
}