/*.ui-button.ui-confirmdialog-yes > i,
.ui-button.ui-confirmdialog-no  > i{
	visibility: hidden;
}*/
.lovBtn > i{
	/*left:15px;*/
	top:5px;
	/*border: #EEEEEE thin solid!important;*/
	font-size: 20px !important;
	font-weight: bold;
	color: #26437e !important;
}

button.ui-button{
    display: inline-flex;
    align-items: center;
}


button{
	padding-left: 15px!important;
	padding-right: 15px!important;
}

.lovBtn{
	padding-left: 5px!important;
	padding-right: 5px!important;
}

button:HOVER {
	color: #20bba5 !important;
}

button {
	color: #26437e !important;
}

button > i {
	color: inherit!important;
}

button > span {
	color: inherit!important;
	padding-left: 0px!important;
}

.pp-btns-bar > button > i,
.pp-commandbutton-iconzzz {
	display: inline-block!important;
	position:absolute!important;
	top:0px;
	left:2px;
	max-width: 30px !important;
	font-size: 20px;
	transition: all 200ms linear;
}

.search_button > .pp-commandbutton-iconzzz {
	display: inline-block!important;
	position:absolute!important;
	top:4px;
	left:2px;
	max-width: 30px !important;
	font-size: 20px;
	font-weight: bold;
	transition: all 200ms linear;
}

.pp-btns-bar * > label,
.pp-btns-bar * > span{
	font-size:15px!important;
	font-family: SourceSansPro-Regular !important;
	padding: 0!important;
	transition: all 200ms linear;
}

.pp-btns-bar > button > span {
	display:block;
}


.ui-button-text-icon-left .ui-button-text {
	padding-left: 2px;
}






.ui-button {
	color: #26437e !important;
	/* 			background:yellow!important; */
	text-align:left;
	/*padding:3px;*/
	padding-right:8px!important;
	padding-left:8px!important;
	vertical-align:middle!important;
}

.ui-button > i {
	color: inherit!important;
	display:inline!important;
	/*vertical-align:middle!important;*/
    line-height:1em!important;
	font-size:20px;
}

.ui-button > span {
	color: inherit!important;
	/* 		background:lightblue; */
	display:inline!important;
	vertical-align:middle!important;
	line-height:15px!important;
}

/* .ui-button-icon-only{ */
/* 	padding:0!important; */
/* } */

.ui-button-icon-only > span.ui-button-text {
	display:none!important;
}






/*Buttony w rocznym planie urlopowym:*/
.granatowy, .granatowy.ui-state-focus,
.ui-panelgrid-cell > granatowy,
.ui-panelgrid-cell > granatowy.ui-state-focus,
.ui-button ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.granatowy.right {
	border: 1px solid /*#1B3C76*/ #26437E !important;
	color: /*#1B3C76*/ #26437E !important;
	/*font-size: 13px;*/
	display: inline-flex;
	align-items: center;
    padding: 0;
}

.granatowy > span,
.ui-button > span,
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.granatowy.center > span {
	padding-left: 4px !important;
	padding-right: 4px !important;
}

.granatowy:hover {
	border: 1px solid  #26437E !important;
	background-color:  #26437E !important;
	color: #FFFFFF !important;
	/*font-size: 13px;*/
	text-shadow: none !important;
	display: inline-flex;
	align-items: center;
    padding: 0;
}

.granatowy:hover span {
	color: #FFFFFF !important;
}

.granatowy.ui-state-disabled:hover span {
	color: #333333 !important;
}
.granatowy.ui-state-disabled:hover {
	background-color:  #EEEEEE !important;
}


.granatowy:hover label {
	color: #CCCCCC !important;
}


.granatowy:disabled {
	background-color: #FFFFFF !important;
	color: inherit !important;
	/*font-size: 13px;*/
}

.granatowy > i {
	padding-top: 2px;
	padding-bottom: 2px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.granatowy.center > i {
	padding-left: 3px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.btnDlg > i {
	font-size: 180%;
	padding-left: 10px;
	margin-top: -5px;
}


.btn-dark {
	background: #009DE0 !important;
	color: #FFFFFF !important;
	font-size: 16px;
	border-radius: 3px !important;
	/*padding: 0.4rem 1.0rem !important;*/
	padding: 0.3rem 1.2rem !important;
	box-sizing: border-box;
	box-shadow: inset 0 1px 0 0 #009DE0 !important;
	font-weight: 400;
	white-space: nowrap;
	cursor: pointer !important;
	text-transform: none;
	vertical-align: middle;
	-webkit-appearance: none;
	border: 1px solid #c4cdd5 !important;
	font-size: 1.0rem;
	line-height: 1.6rem;
	-webkit-tap-highlight-color: transparent;
	float: right;
}

.btn-dark > span {
	text-align: center;
	display: inline-block !important;
	width: 100%;
}

.btn-dark:hover,
.btn-dark.ui-state-focus {
	background: #008BC7 !important;
	color: #FFFFFF !important;
	text-transform: none;
	vertical-align: middle;
	-webkit-appearance: none;
	border: 1px solid #c4cdd5 !important;
	border-radius: 3px !important;
}


button.ui-g-1,
button.ui-g-2,
button.ui-g-3,
button.ui-g-4,
button.ui-g-5,
button.ui-g-6,
button.ui-g-7,
button.ui-g-8,
button.ui-g-9,
button.ui-g-10,
button.ui-g-11,
button.ui-g-12
{
	margin: 0;
}


button.ui-g-1 > .ui-button-text,
button.ui-g-2 > .ui-button-text,
button.ui-g-3 > .ui-button-text,
button.ui-g-4 > .ui-button-text,
button.ui-g-5 > .ui-button-text,
button.ui-g-6 > .ui-button-text,
button.ui-g-7 > .ui-button-text,
button.ui-g-8 > .ui-button-text,
button.ui-g-9 > .ui-button-text,
button.ui-g-10 > .ui-button-text,
button.ui-g-11 > .ui-button-text,
button.ui-g-12 > .ui-button-text
{
	padding: 0;
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-left .ui-icon, .ui-button-text-icon-right .ui-icon{
	position: static;
}