.egr-help-panelgrid {
	width: 100%;
	height: 100%;
}

.egr-help-label {
	margin-right: 5px;
	padding: 0 !important;
}

.egr-help-otxt {
	color: #3a3846;
	font-size: 15px;
	font-family: SourceSansPro-Semibold !important;
	padding-right: 20px;
}

.egr-help-fileupload-cell {
	padding: 10px !important;
	font-size: 16px;
}

.egr-help-panelgrid .ui-fileupload-content {
	display: none;
}

.egr-help-panelgrid .ui-fileupload-buttonbar.ui-widget-header {
	background: white;
	border: none;
}

.egr-help-panelgrid .ui-fileupload-buttonbar.ui-widget-header .ui-button {
	margin-right: 0;
	height: 24px;
}

.egr-help-panelgrid .ui-fileupload-buttonbar.ui-widget-header .ui-button .ui-icon {
	display: none;
}

.egr-help-panelgrid .ui-fileupload-buttonbar.ui-widget-header .ui-button .ui-button-text.ui-c {
	padding: 0 !important;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

.egr-help-panelgrid .egr-help-iframe-cell {
	height: 100% !important;
	text-align: center;
}

.egr-help-panelgrid .egr-help-iframe {
	border: none;
	width: 100%;
	height: 100%;
}

.egr-help-panelgrid .egr-no-help-label {
	font-size: 18px;
	font-family: SourceSansPro-Semibold !important;
}