.kflkgrid {
	min-width: 1000px;
	margin-top: 10px;
	position: absolute;
	top: 40%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: inline-block;
	font-size: 0;
}

.kflk {
	padding: 0;
	margin: 4px;
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
	font-family: sans-serif;
	color: white;
	font-size: 18px;
}

.kflk > button > .ui-button-text {
	padding-left: 4px !important;
	font-weight: bold;
	color: #333 !important;
}

.kflktxtbg {
	width: 100%;
	height: 26px;
	background: transparent;
	opacity: 1.0;
	position: absolute;
	bottom: 0;
	left: 0;
}

.kflktxttop {
	color: white;
	width: 100%;
	position: relative;
	left: 0;
	text-align: left;
	font-size: 8px;
}

.kflktxt {
	color: black;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
}

.k1x1 {
	width: 145px;
	height: 150px;
}

.k1x2 {
	width: 300px;
	height: 150px;
}

.k2x2 {
	width: 300px;
	height: 310px;
}

.k1x1,
.k1x2,
.k2x2{
	background-color: #fff !important;
	-webkit-box-shadow: 0 0 1px 1px black, 12px 6px 5px 0 rgba(46,61,73,0.45);
	-moz-box-shadow:  0 0 1px 1px black, 12px 6px 5px 0 rgba(46,61,73,0.45);
	box-shadow:  0 0 1px 1px black, 12px 6px 5px 0 rgba(46,61,73,0.45);
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

.k1x1:hover,
.k1x2:hover,
.k2x2:hover {
	-webkit-box-shadow: 0 0 1px 1px black, 10px 5px 3px 0 rgba(46,61,73,0.75);
	-moz-box-shadow: 0 0 1px 1px black, 10px 5px 3px 0 rgba(46,61,73,0.75);
	box-shadow: 0 0 1px 1px black, 10px 5px 3px 0 rgba(46,61,73,0.75);
	cursor: pointer;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
	transform: scale(0.99);
}

.k1x1_hov,
.k1x1_hov.ui-state-focus,
.k1x2_hov,
.k1x2_hov.ui-state-focus,
.k2x2_hov,
.k2x2_hov.ui-state-focus {
	border-left: 6px solid #26437e !important;
	margin-top: 25px !important;
}

.kflk.k1x2:hover button.k1x2_hov,
.kflk.k2x2:hover button.k2x2_hov {
	border-left: 6px solid #20BBA5 !important;
	color: #333 !important;
	margin-top: 25px !important;
}

.kflk.k1x1:hover button.k1x1_hov {
	border-left: 6px solid #20BBA5 !important;
	color: #333 !important;
	margin-top: 25px !important;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

span.kflk.k2x2:hover button.k2x2_hov,
span.kflk.k2x2:hover k2x2 > button.ui-state-hover {
	border-left: 6px solid #20BBA5 !important;
	color: #333 !important;
	font-weight: bold;
	margin-top: 25px !important;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.badge-kflk {
	position: absolute;
	top: 67px;
	left: 268px;
	font-size: .6em;
	background: #20BBA5;
	color: #FFFFFF;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	border-radius: 50%;
	box-shadow: 0 0 1px #333;
	z-index: 99 !important;
}

.badge-kflk.badge-kflk-small {
	top: 40px;
}

.badge-kflk:after {
	position: relative;
}

.k1x1 {
	display: inline-block;
}

.k1x1 > button,
.k1x2 > button,
.k2x2 > button {
	margin-top: 25px !important;
	display: inline-block !important;
	position: relative !important;
	vertical-align: middle !important;
	text-align: right;
}

.k1x1 > button > i,
.k1x2 > button > i,
.k2x2 > button > i {
	display: block !important;
	position: absolute !important;
	left: calc(100% - 75px);
	top: calc(50% - 10px);
	width: 60px !important;
	font-size: 190% !important;
}

.k1x1 > button > span,
.k1x2 > button > span,
.k2x2 > button > span{
	display: block !important;
	width: calc(100% - 60px);
}