.tel_input,
.tel_input.ui-state-focus {
	border: none !important;
}

.tel_span {
	font-size: 14px !important;
}

.tresc_bold {
	font-family: SourceSansPro-Semibold !important;
}

.tresc_pracownik > a {
	font-size: 15px !important;
	font-family: SourceSansPro-Semibold !important;
	text-decoration: none !important;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.darker_blue > a {
	color: #0079ad !important;
}

.ui-state-hover > .tresc_pracownik > a {
	font-size: 110% !important;
	text-decoration: none !important;
	color: #26437e !important;
}

/*wyszukiwanie - dane personalne*/
.personal-data,
.personal-data > div {
	background: transparent;
	border: none;
	padding-bottom: 20px !important;
}

.personal-data > div > span {
	font-size: 20px;
	padding-left: 17px;
	color: #26437E;
}


#imieNazwisko * > div.ui-dialog-content.ui-widget-content {
	overflow: hidden;
} 


.clearIcon {
	color: black;
}

.clearIcon:hover {
	color: #20bba5;
	transition: all 0.5s;
}