/*LISTA OBECNOSCI*/

.lista-obecn-mc .dz-col-btn{
	border: 1px solid lightgray!important;
	box-shadow: 4px 4px 0px 0px lightgray!important;
}

.lista-obecn-mc .dz-col-btn:hover{
	background: #26437E!important;
	color:white!important;
}


.lista-obecn-mc .dz-cell {
	border: 1px solid grey!important;
	box-shadow: 2px 2px 0px 0px #CCCCCC!important;
	color: black!important;
}
.lista-obecn-mc .dzt-so {
	border: 1px solid #4444AA!important;
	box-shadow: 2px 2px 0px 0px #CCCCCF!important;
}
.lista-obecn-mc .dzt-nd {
	border: 1px solid #AA4444!important;
	box-shadow: 2px 2px 0px 0px #CFCCCC!important;
}


.lista-obecn-mc .dz-col-btn > span {
	padding:0!important;
}

.lista-obecn-mc .dz-col-zazn {
	box-shadow: 4px 4px 0px 0px steelblue!important;
}

.lista-obecn-mc .ui-state-highlight .dz-col-zazn.dz-cell {
	box-shadow: 4px 4px 0px 0px lightsteelblue!important;
	background:#FFFFEE;
}

.lista-obecn-mc .dz-obcn-t {
	background:#EEF;
}