/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav_push*/
.sidenav {
	overflow-x: hidden;
	transition: 0.3s;
	position: fixed;
	width: 230px;
	margin-left: 0;
}

.sidenav a {
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.main-content {
	position: relative;
	margin-left: 230px;
	transition: 0.3s;
}

button.ui-button.menu-button {
	display: none;
}

@media screen and (max-width: 992px) {
	.main-content {
		margin-left: 0;
	}
	.sidenav {
		margin-left: -230px;
	}
	button.ui-button.menu-button {
		display: block;
	}
}

.ui-button.menu-button {
	width: 50px;
}

.ui-button.menu-button > i {
	font-size: 40px;
}

.text-overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.header-submenu-name, .header-form-name {
	font-size: 25px;
}

.header-form-name {
	max-width: 40vw;
}

.header-menu-icon {
	width: 40px;
}

@media screen and (max-width: 1200px) {
	.ui-button.header-menu-icon {
		width: 30px;
	}
}

@media screen and (max-width: 992px) {
	.header-submenu-name, .header-form-name {
		font-size: 22px;
	}
}

@media screen and (max-width: 576px) {
	.ui-button.menu-button {
		width: 40px;
		padding: 0 !important;
	}

	.header-submenu-name, .header-form-name {
		font-size: 20px;
	}

	.header-buttons-inline {
		display: none;
	}
}


@media screen and (min-width: 577px) {
	.header-buttons-mobile {
		display: none;
	}
}


div.header-buttons-mobile-active{
	display: flex;
	align-items:center!important;
	flex-direction: column;
	padding: 10px;
	position: absolute;
	top: 20px;
	right: 35px;
	z-index: 9999999!important;
	background: rgba(0,0,0,0.8);
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.8);
}

div.header-buttons-mobile-active > button {
	padding:5px!important;
}

div.header-buttons-mobile-active > div > div.badge1{
	margin-top:0px!important;
	margin-right:-15px!important;
}


.egr-header-form {
	align-items: flex-start;
	height: 100%;
}

/*  menu kontekstowe z przyciskami na mobile */
.ui-menu.ui-widget.mobile-panel-buttons {
	min-width: unset;
}
.ui-contextmenu.mobile-panel-buttons {
	width: 40px;
}
.mobile-panel-buttons .ui-menuitem.ui-widget.ui-corner-all.ui-menuitem-active,
.mobile-panel-buttons .ui-menuitem.ui-widget.ui-corner-all.ui-menuitem-active:active{
	border-bottom: none !important;
}
.ui-contextmenu.mobile-panel-buttons li {
	height: 30px;
	border-bottom: none !important;
}
.ui-contextmenu.mobile-panel-buttons li .ui-menuitem-link {
	padding: 0;
}
.ui-contextmenu.mobile-panel-buttons li .ui-menuitem-link.ui-state-hover {
	background: none;
	background-color: transparent !important;
}
.ui-contextmenu.mobile-panel-buttons li span.ui-menuitem-text {
	margin: 0 !important;
	padding: 0 !important;
}








.hide{
	visibility: hidden!important;
	display: none!important;
}

.ui-panelmenu-header{
	border: none !important;
}

.ui-panelmenu-panel{
	max-width:240px!important;
}


.ui-menuitem > a > span {
	display:inline-block;
	position:relative;
	margin-top:3px!important;
	max-width:170px!important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	.ui-menuitem > a > span {
		display: list-item;
		position:relative;
		margin-top:3px!important;
		max-width:170px!important;
	}


	.pp-menuitem-icon {
		font-size:130%;
		margin-left: 10px;
		display: inline-block!important;
		font-size: 22px;
		max-width: 22px !important;
		vertical-align: baseline !important;
	}

	.ui-menuitem-link.ui-corner-all {
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}

}

.ui-panelmenu .ui-panelmenu-content {
	padding: 0px !important;
	overflow:hidden!important;
}

.ui-widget-content {
	border-bottom: none !important;
}

.currentMnuItem {
	background: #F8F8F8 !important;
}

.currentMnuItem span {
	color: #26437E !important;
	font-weight: bold;
}

.currentMnuItem:hover {
	background: transparent !important;
}

h3 > currentMnuItem {
	background: yellow !important;
}

.ui-panelmenu-header{
	background: none!important;
}

.ui-widget.ui-panelmenu-header.ui-state-default.ui-state-active.ui-corner-top a:hover,
.ui-widget.ui-panelmenu-header.ui-state-default.ui-corner-all a:hover {
	background-color:  transparent !important;
	text-shadow: none !important;
	transition: all 300ms linear;
}

.ui-widget.ui-panelmenu-header.ui-state-default.ui-state-hover > i {
	color: #6F6F6F;
	transition: all 300ms linear;
}

.ui-widget.ui-panelmenu-header.ui-state-default:active > i,
.ui-widget.ui-panelmenu-header.ui-state-default:active > a{
	color: #26437E;
	transition: all 200ms linear;
}

.ui-widget.ui-panelmenu-header.ui-state-default.ui-state-active > i,
h3.ui-widget.ui-panelmenu-header.ui-state-default.ui-state-active > i {
	color: #26437E;
	transition: all 200ms linear;
}


.pp-submenu-icon{
	position:absolute!important;
	top:3px;
	left:/*3*/10px;
	display: inline-block!important;
	/*max-width:24px!important;*/
	max-width: 30px !important;
	/*font-size: 30px;*/
	font-size: 26px;
	color: #BDBDBD;
}

.pp-menuitem-icon{
	font-size:130%;
	/*margin-left: 10px;*/
	display: inline-block!important;

	font-size: 22px;
	max-width: 22px !important;
	vertical-align: top;
	/*max-width:24px!important;*/
}


.ui-menuitem-text{
	margin-left: 9px!important;
}

.ui-panelmenu .ui-panelmenu-header, .ctl-tiered-submenu-1 .ui-widget-content {
	background-color: #FFFFFF;
	border-radius: 0px;
	/* border: none !important; */
	/*padding: .5em 1.5em .5em 2.2em;*/
}

.ui-panelmenu .ui-panelmenu-header a {
	background-color: #FFFFFF;
	color: #333333;
	font-family: SourceSansPro-Regular;
	text-decoration: none;
	/*border-radius: 0px;*/
	/* border: none !important; */
	/*padding: .5em 2.5em .5em 2.2em;*/
	padding: .5em .5em .5em /*3.5*/2.9em/*2.8em*/ !important;
}

.ui-panelmenu .ui-panelmenu-header a:active {
	border: none !important;
}

.ui-widget {
	font-size: 15px;
	/* border: none !important; */
	font-family: SourceSansPro-Regular !important;
}

ui-widget ui-panelmenu-header a {
	/*padding: .5em 1.5em .5em 2.2em;*/
	border: none;
}

ui-widget ui-panelmenu-header a:visited {
	/*padding: .5em 1.5em .5em 2.2em;*/
	border: none;
}

ui-widget ui-panelmenu-header a:active {
	/*padding: .5em 1.5em .5em 2.2em;*/
	border: none;
}

.ui-panelmenu .ui-menuitem {
	background-color: /*#EEEEEE*/ /*#F3F3F3*/ #F8F8F8;
	display: block;
	outline: 0;
	text-decoration: none;
	font-weight: 200;
	/* border: none; */
	/*border: solid 1px transparent;*/
	line-height: 16px;
	cursor: pointer;
	position: relative;

	box-shadow: 0px 0px 1px 0.5px lightgray;
	margin-bottom: -1px!important;
}



.ui-panelmenu .ui-menuitem-link {
	/*background-color: #DEDEDE;*/
	display: block;
	outline: 0;
	text-decoration: none;
	font-weight: 400;
	border: none !important;
	/*border: solid 1px transparent;*/
	line-height: 16px;
	cursor: pointer;
	position: relative;
	margin-top: -1px !important;
	/*padding: 5px 0px !important;*/
	/*padding: 5px 5px 5px 10px !important;*/
	padding: 6px 8px 6px 12px !important;

}

.ui-panelmenu .ui-menuitem-link:hover {
	/*background-color: #E3E3E3;*/
	background-color: transparent;
	color: #26437E;
	/*display: block;
    outline: 0;
    text-decoration: none;
    font-weight: 400;
    border: none;*/
	/*border: solid 1px transparent;*/
	/*line-height: 16px;
    cursor: pointer;
    position: relative;*/
}

.ui-panelmenu .ui-menuitem-link:visited {
	border: none !important;
}

.ui-panelmenu .ui-menuitem-link:active {
	border: none;
}

.ui-panelmenu .ui-menuitem-text :not (pp-diabled) {
	color: #333333;
	font-size: 14px;
	font-family: SourceSansPro-Regular;
	border: none !important;
}


.ctl-menu-pane, .ui-tieredmenu {
	background-color: #FFFFFF !important;
}

/*.ui-button, .ui-button-icon-only {
	background-color: #FFFFFF !important;
}*/

.fa-thumb-tack:before {
	color: #3A3846;
	background-color: #FFFFFF !important;
}

.ctl-hide-show-menu-btn, .ctl-hide-show-menu-btn.ui-state-active, .ctl-menu-btn.ui-state-activ, .ctl-hide-show-menu-btn.ui-state-focus {
	background-color: #FFFFFF !important;

}

.ctl-hide-show-menu-btn:hover {
	background-color: #FFFFFF !important;
	/*padding-left: -80px !important;*/
	/*padding: inherit !important;*/
}

/*.ctl-menu-btn, .ctl-menu-btn:hover, .ctl-menu-btn:active, .ctl-menu-btn:visited, .ctl-menu-btn:link {
	background-color: #26437E !important;
}*/

.ctl-menu-btn, .ctl-menu-btn.ui-state-hover, .ctl-menu-btn.ui-state-active, .ctl-menu-btn.ui-state-focus {
	background-color: #26437E !important;
}

/*.ctl-hide-show-menu-btn.ui-state-hover {
	margin: inherit important;
}*/

.ui-menuitem-outline{
	outline: none !important;
}

/*#egrMenuForm:odepnijMnBtn {
	position: absolute !important;
}*/

.ui-widget-content.ui-state-hover, .ui-widget-header .ui-state-hover {
	/*padding: 2px 2px 2px 2px !important;*/
	background-color: #FFFFFF ;
	/*-webkit-transition: width 12s !important;*/ /* Safari */
	/*transition: width 12s !important;*/
}

.ui-layout-west {
	border-right-style: solid !important;
	border-color: #EEEEEE !important;
	border-width: 1px !important;
	box-shadow: 2px 2px 4px -3px #EEEEEE;
}

.pp-menu-panelgrid {
	min-height: 90px !important;
	max-height: 90px !important;
	height: 90px !important;
}

.ui-panelgrid.ui-widget.pp-menu-panelgrid {

}

/*aktywny menu item:*/
/*.pp-menuitem-active {*/
/*background-color: #333333 !important;*/
/*	color: #FFFFFF !important;
}*/

/*.pp-menuitem-active span {
	color: #FFFFFF !important;
}*/

/*div.ui-panelmenu-panel::after,*/
h3.ui-widget.ui-panelmenu-header.ui-state-default.ui-corner-all::after {
	content: '';
	background: rgba(225,225,225,.8); /*.1*/
	/*background: #E1E1E1;*/ /*#EEEEEE*/
	position: absolute;
	left: 10px;
	bottom: 0;
	width: calc(100% - 20px);
	height: 1px;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.currentMnuItem::before {
	content: '';
	background: /*#fff*/ /*#FFFFFF*/ #26437E;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 5px;
}


/*TODO: menu bez js'a:*/
#menu-icon
{
	display: block;
	position: relative;
	top: /*10*/7px;
	left: 10px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

#menu-icon input
{
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: /*2*/9999999;
	-webkit-touch-callout: none;
}

#menu-icon span
{
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: /*#cdcdcd*/#FFFFFF;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	opacity 0.55s ease;
}

#menu-icon span:first-child
{
	transform-origin: 0% 0%;
}

#menu-icon span:nth-last-child(2)
{
	transform-origin: 0% 100%;
}

#menu-icon input:checked ~ span
{
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}

#menu-icon input:checked ~ span:nth-last-child(3)
{
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-icon input:checked ~ span:nth-last-child(2)
{
	transform: rotate(-45deg) translate(0, -1px);
}

.menu-text {
	color: #FFFFFF;
	font-size: 10px;
}


#frmMenuData span.ui-tree-toggler.ui-icon.ui-icon-triangle-1-e,
#frmMenuData span.ui-tree-toggler.ui-icon.ui-icon-triangle-1-s {
	margin: 0px!important;
}

#frmMenuData li.ui-treenode.ui-treenode-leaf.hide + li.ui-tree-droppoint.ui-droppable {
	background: yellow!important;
	max-height: 0px;
	visibility: hidden;
}

#frmMenuData li.ui-tree-droppoint.ui-droppable.ui-state-hover {
	background: red!important;
}








#egrMenuForm{
	width:228px;
	max-width:228px;
}

#egrMenuForm * > .ui-menuitem {
	/* 	background:red; */
	vertical-align:middle!important;
	padding-top:5.5px;
	padding-bottom:5.5px;
	margin-top: 2px!important;
}

#egrMenuForm * > .ui-menuitem > a {
	/* 		background:lightgray; */
	display:table-row!important;
	vertical-align:middle!important;
	padding: 6px 0px 6px 0px !important;
}

#egrMenuForm * > .pp-menuitem-icon{
	/*background:yellow;*/
	color:#BDBDBD;
	max-width:22px!important;
	width:22px!important;
	display:table-cell!important;
	vertical-align: middle!important;
	padding-left:10px!important;
	padding-right:10px!important;
	margin: 0!important;
}

#egrMenuForm * > .currentMnuItem > .pp-menuitem-icon,
#egrMenuForm * > .currentMnuItem > span{
	color:#26437E!important;
}

#egrMenuForm * > .ui-menuitem > a > span{
	/*background:red;*/
	display:table-cell!important;
	vertical-align: middle!important;
	width: 170px!important;
	max-width: 170px!important;
}

.ctl-header-pane .ctl-menu-btn, .ctl-menu-btn.ui-state-hover, .ctl-menu-btn.ui-state-active, .ctl-menu-btn.ui-state-focus {
	background-color: transparent !important;
}



.pp-bg-lp-west-egrmenu {
	background-image: linear-gradient( -35deg,
	#ffffff,
	#e1e8f2,#e1e8f2,#e1e8f2,#e1e8f2,#e1e8f2,#e1e8f2,
	#ffffff, #e1e8f2
	);
}





