.ui-dialog.ui-widget-content .ui-dialog-titlebar > span.ui-dialog-title{
	width:100%;
	display:flex;
}

.ui-dialog.ui-widget-content .ui-dialog-titlebar > span.ui-dialog-title > form {
	width:100%;
}


.ui-dialog.ui-widget-content .ui-dialog-titlebar * > .ui-button {
	color:white!important;
}
.ui-dialog.ui-widget-content .ui-dialog-titlebar * > .ui-button:hover {
	color:#20bba5!important;
}



.DlgHdrText {
	color: #FFFFFF;
	font-size: 22px;
}

.ui-dialog-content {
	padding: 15px 20px 20px 20px !important;
}

.ui-dialog .ui-dialog-content {
	overflow: visible !important;
}

/*.ui-dialog-content  * > .dlgBottomBtnsBar,*/
.dlgBottomBtnsBar {
	background: #F0F1F3 !important;
	position:absolute!important;
	left:0!important;
	bottom:0!important;
	right:0!important;
	width:100%;
	padding: 5px;
}


.dlgBottomBtnsBar * > button > i {
	display: none !important;
}

.dlgBottomBtnsBar * > span {
	text-transform: uppercase !important;
}



.pp-tbvw-wide-modal > .ui-tabs-nav {
	 display: table;
	 /*table-layout: fixed; */ 
	 width:100%!important;
	 padding-top: 5px !important;
	 /*padding-left: 16px !important;
	 padding-right: 16px !important;*/
}

.pp-tbvw-wide-modal {
	 display: table;
	 table-layout: fixed;
	 width:100%!important;
	 padding-top: 5px !important;
	 /*padding-left: 16px !important;
	 padding-right: 16px !important;*/
}

.pp-tbvw-wide-modal > ul > li {
 	display: table-cell!important;
   	/*padding:5px!important;*/
    text-align: center!important;
    /*background: white!important;  */
    border-right: 2px solid /*#CCCCCC*/ #FFFFFF !important;
    border-top: none !important; 
    border-left: 2px solid #FFFFFF !important; 
    border-bottom: none !important; 
    transition: all 200ms linear;
}

.pp-tbvw-wide-modal > ul > li > a,
.pp-tbvw-wide-modal > div > table {
	width:calc(100% - 30px)!important; 
	margin-right: auto;
	margin-left: auto;
}


.pp-tbvw-wide-modal * > table > * td > span {
	overflow:visible;
	white-space: normal !important;
	line-height: 150%;
	padding-left: 1px !important;
	padding-right: 1px !important;
}

.pp-tbvw-wide-modal * > div.ctl-datatable-pane {
	/*min-height: 200px;
	max-height: 200px;*/
	min-height: 180px;
    max-height: 180px;
    width: 100% !important;
}

/*buttony w dialogach*/
.dlgBottomBtnsBar * > span  {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.dlgBottomBtnsBar * > span > button,
.dlgBottomBtnsBar * > button {
	/*transition: all 500ms linear;*/
	float: right;
	padding-right: 8px !important;
	padding-left: 9px !important;
}

.dlgBottomBtnsBar * > span > button > span,
.dlgBottomBtnsBar > button > span {
	color: #009DE0 !important;
	text-shadow: none;
	font-size: 16px;
	width:100%!important;
	font-family: SourceSansPro-Semibold;
	text-align: center;
	/*transition: all 200ms linear;*/
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	/*padding-right: 8px !important;*/
	text-align: right;
}

.dlgBottomBtnsBar > div > div > button {
	color: #009DE0 !important;
	text-shadow: none;
	font-size: 16px;
	width:100%!important;
	font-family: SourceSansPro-Semibold;
	text-align: center;
	/*transition: all 200ms linear;*/
	padding-top: /*8*/4px !important;
	padding-bottom: /*8*/2.5px !important;
	padding-right: 8px !important;
	text-align: right;
	float: left;
}

.dlgBottomBtnsBar * > button[disabled="disabled"],
.ui-state-disabled > span {
	cursor: default;
}

.dlgBottomBtnsBar * > span {
	text-shadow: none;
	font-size: 16px;
	width:100%!important;
	font-family: SourceSansPro-Semibold !important;
	text-align: center;
}

.dlgBottomBtnsBar * > span :not(.ui-messages-error-summary) {
	color: #009DE0 !important;
}

.ui-messages-error-icon{
	max-width:25px!important;
}

.ui-messages-error-summary {
	margin-left:5px!important;
	font-size: 100%!important;
}

.ui-messages-error-detail{
	display:block;
	font-size: 80%!important;
}


.dlgBottomBtnsBar > table,
.dlgBottomBtnsBar * > input,
.dlgBottomBtnsBar * button:not(.ui-state-disabled) > span {
	cursor: pointer !important;
}

.dlgBottomBtnsBar * button:not(.ui-state-disabled) > span {
	text-align: center;
	padding-left: 0px !important;
}

.dlgBottomBtnsBar * > .ui-fileupload-buttonbar {
	padding-right: 0px;
}

.dlgBottomBtnsBar > button {
	float: right;
	margin-left: 10px !important;
	margin-right: 10px !important;
}

/*.dlgBottomBtnsBar > button:hover:not(.ui-state-disabled)*/
.dlgBottomBtnsBar > span > button:hover:not(.ui-state-disabled) > span,
/*.dlgBottomBtnsBar > button:hover:not(.ui-state-disabled) > span,*/
/*.dlgBottomBtnsBar > div > div > button.ui-state-hover:not(.ui-state-disabled) > span,*/
.dlgBottomBtnsBar > div > div > button.ui-state-hover:not(.ui-state-disabled),
/*.dlgBottomBtnsBar > button.ui-state-hover:not(.ui-state-disabled) > span,*/
.dlgBottomBtnsBar > button.ui-state-hover:not(.ui-state-disabled),
.dlgBottomBtnsBar > span > div > button:hover:not(.ui-state-disabled):not(.ui-splitbutton-menubutton) > span {
	background: #26437E !important;
	transition: all 200ms linear;
	margin-left: 10px !important;
	margin-right: 10px !important;
}

/*.dlgBottomBtnsBar * td > div:hover > span.ui-state-hover:not(.ui-state-disabled),*/
.dlgBottomBtnsBar * > .ui-fileupload:hover * > span:not(.ui-fileupload-choose.ui-state-disabled) * > span:not(.ui-state-disabled)/*,
.dlgBottomBtnsBar * td > div:hover*/ /** > div*/ {
	background: #26437E !important;
	transition: all 200ms linear;
}


/*.dlgBottomBtnsBar > button:hover:not(.ui-state-disabled) > span*/
.dlgBottomBtnsBar * > span > button:hover:not(.ui-state-disabled) > span,
.dlgBottomBtnsBar * > button:hover:not(.ui-state-disabled) > span,
.dlgBottomBtnsBar * td > div:hover * > span:not(.ui-state-disabled) * > span,
.dlgBottomBtnsBar > button.ui-state-hover:not(.ui-state-disabled) > span {
	color: #FFFFFF !important;
	text-shadow: none;
}

/*TODO Zmiana wielkosci okna modalnego wew., stopka powinna byc zupelnie na dole*/


.ui-dialog-buttonpane.ui-dialog-footer.ui-widget-content.ui-helper-clearfix {
	background: #F0F1F3 !important;
}

/*.ui-confirmdialog-yes, .ui-confirmdialog-no {
	color: #009DE0 !important;
	text-shadow: none;
	font-size: 16;
	font-family: SourceSansPro-Semibold !important;
	text-align: center;
	float: right;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	transition: all 200ms linear;
}*/

.ui-confirmdialog-yes > span, 
.ui-confirmdialog-no > span {
    padding: 0 !important;
}

.ui-confirm-dialog-message { /*okno np. usuwania arkusza IPRZ*/
	padding: 15px;
	font-family: SourceSansPro-Regular;
	font-weight: normal;
	font-size: 16;
}


.ui-confirmdialog-yes:hover, .ui-confirmdialog-no:hover {
	background: #26437E !important;
	transition: all 200ms linear;
	color: #FFFFFF !important;
	text-shadow: none;
}

.ui-dialog .ui-dialog-buttonpane,
.ui-dialog .ui-dialog-footer {
	padding: 0 !important;
	margin: 0 !important;
}


/*header:*/
.ui-dialog.ui-widget-content .ui-dialog-titlebar {
	border: none;
	border-radius: 0;
	background-color: /*#009DE0*/ #26437E;
	padding: 1vh !important;
	padding-left: 2vh !important;
}




.ui-dialog.d-flex-column > .ui-dialog-titlebar {
	display: flex;
}
.ui-dialog.d-flex-column > .ui-dialog-titlebar > .ui-dialog-title,
.ui-dialog.d-flex-column > .ui-dialog-titlebar > .ui-dialog-title > form {
	flex:1;
	display: flex;
	align-self: center;
}

.ui-dialog.p0 > .ui-dialog-content,
.ui-dialog.p0 > .ui-dialog-titlebar {
	padding: 0!important;
}




.ui-dialog.ui-widget-content .ui-dialog-titlebar * > button {
	color:white!important;
}
.ui-dialog.ui-widget-content .ui-dialog-titlebar * > button:hover {
	color:#20bba5!important;
}



.ui-dialog.ui-widget-content .ui-dialog-title {
	color: #FFFFFF !important;
	font-size: 20;
	font-family: SourceSansPro-Semibold;
	margin: 0;
	white-space: nowrap;
}

.ui-dialog-titlebar-close {
	display: none !important;
}



.ui-dialog.ui-widget-content .ui-panelgrid .ui-panelgrid-cell {
	padding: 4px 0px !important;
	height: 35px;
	color: #FFFFFF !important;
	/*font-size: 20;*/
	font-family: SourceSansPro-Semibold;
	margin: 0;
	white-space: nowrap;
}

/* !!!cLovJS->dlgLov -np. Lista projektów!!!
.ui-dialog.ui-widget-content .ui-panelgrid .ui-panelgrid-cell > span {
	color: #3A3846;
	font-size: 24px;
}
*/

.ui-dialog.ui-widget-content .ui-panelgrid-cell > label {
	/*color: #3A3846;
	font-family: SourceSansPro-Regular;
	opacity: 0.6;
	padding-right: 20px;*/
	font-size: 15px !important;
    font-weight: normal !important;
    color: #3a3846 !important;
    /*font-family: 'Source Sans Pro', sans-serif !important;*/
    font-family: SourceSansPro-Regular !important;
}

.ui-dialog.ui-widget-content .ui-panelgrid .ctl-error-msg .ui-panelgrid-cell,
.ui-panelgrid .ctl-error-msg .ui-panelgrid-cell
	{
	padding: 0 !important;
	height: 0 !important;
}

.ui-dialog.ui-widget-content .ui-panelgrid .ctl-empy-row .ui-panelgrid-cell
	{
	height: 15 !important;
}

.ui-dialog-content > .ui-icon {
    display: none;
}

.dlg-title {
	padding: 4px 0px !important;
    height: 35px;
    color: #FFFFFF !important;
    font-size: 24px !important;
    font-family: SourceSansPro-Semibold;
    margin: 0;
    white-space: nowrap;
}

/*Na potrzeby dlgDaneKontaBankowego:*/

/*input[name="formDlgDaneKontaBankowego"],*/
#formDlgDaneKontaBankowego > input[value] {
	font-size: 18px !important;
	padding-top: 10px !important;
    font-family: SourceSansPro-Semibold !important;
    color:  #009DE0;
}

.dlg-konta-table * > table {
	width: 90% !important;
	text-align: center !important;
}

.ctl-datatable-pane * > .ui-datatable.ui-widget.ui-datatable-scrollable.dlg-konta-table.ntActvList {
	padding-left: 0 !important;
	padding-right: 0 !important;
}



/*Na potrzeby OGLOSZENIA w Rekrutacji*/
#rekrutacjaWniosekOgloszenie div.ui-dialog-content.ui-widget-content {
	overflow-y: auto !important;
} 

form[name=dlgFormKandydat] * > table {
	width: calc(100% - 20px)!important;
}

/* Na potrzeby dlgPomoc */
.pp-help-dialog .ui-dialog-footer {
	height: 36px;	
}