/*.ui-growl-item {
	background-color: grey !important;
}*/

.ui-growl {
	background-color: transparent !important;
}

.ui-growl-image{
	visibility: hidden; 
}


/* komunikaty przesyłane przez push na socket usera/pracownika: */

.ui-growl-INFO {
	background-color: #FFFFFF !important;
	border: 1px solid gray;
	border-left: 10px solid #009DE0;	
}

.ui-growl-WARN {
	background-color: #FFFFFF !important;
	border: 1px solid gray;
	border-left: 10px solid #20BBA5;		
}
.ui-growl-ERROR{
	background-color: #FFFFFF !important;
	border: 1px solid gray;
	border-left: 10px solid #F44336;	
}


/* komunikaty przesyłane generowane w ramach sesji usera  */
.info,
.ui-growl-info {
	background-color: #FFFFFF !important;
	border-left: 10px solid #009DE0;	
}

.warning,
.ui-growl-warn {
	background-color: #FFFFFF !important;
	border-left: 10px solid #20BBA5;		
}

.error,
.ui-growl-error {
	background-color: #FFFFFF !important;
	border-left: 10px solid #F44336;	
}

.ui-growl-title {
	color: black;
	padding-left: 8px !important;
}

.copyLink.info,
.copyLink.warning,
.copyLink.error {
	color: blue !important;
	text-shadow: none !important;
	border: none;
	text-align: right;
	padding-top: 15px;
}

.ui-growl-message {
	color: #3A3846 ;
}

/*.ui-icon-closethick {
	background-color: #d4d7dc;}*//*#f0f1f3;*/

/*.ui-icon-closethick {*/
/*    background-image: url(/PortalPracowniczy/javax.faces.resource/images/ui-icons_333333_256x240.png.xhtml?ln=primefaces-bootstrap) !important;*/
/*}*/

.ui-growl-item p {
	margin-top: 10px !important;
	/*margin-bottom: 5px !important;*/
}

.ui-growl .ui-growl-message p {
    margin-left: -35px !important;
}