::-webkit-scrollbar {
	height: 16px;
	/*width: 16px !important;*/
	width: 7px !important;
}

::-webkit-scrollbar-thumb {
	border: 1px solid #F0F1F3 !important;
	background-color: #D5D5D5;
	/*background-color: rgba(200, 200, 194, 1) !important;*/
	/*border-radius: 8px;*/
}

::-webkit-scrollbar-track {
	background-color: #F0F1F3;
}

/*scrolle w scrollpanels:*/
.ui-scrollpanel-drag {
	background-color: #D5D5D5 !important;
	background-image: none !important;
	/*border: 1px solid #F0F1F3 !important;*/
	width: 9px !important;
}

.ui-scrollpanel-track.ui-widget-header {
	background: #f5f5f5;
	width: 9px !important;
}