.dvwczytywanie {
    border: 10px solid #f3f3f3; /* siwy */
    border-top: 10px solid #009DE0; /* niebieski */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    opacity: 0.8;
    visibility: hidden;
    z-index: 999999999999;
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.dvwczytywanie-1{
    border: 10px solid #f3f3f3; /* siwy */
    border-top: 10px solid #007799; /* niebieski */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    opacity: 0.2;
    visibility: hidden;
    z-index: 999999999999;
    position: absolute;
    bottom: 100px;
    right: 100px;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}