.ui-fileupload{
	padding: 0!important;
	margin:0!important;
	position: relative;
	vertical-align: middle;
}
.ui-fileupload-content{
	display: inline-block;
	/* background: red!important; */
	background:none;
	padding: 0;
	margin:0;
	position: relative;
}

.dlgfupl * > .ui-fileupload-choose{
	border: 1px solid #26437E !important;
	color: #26437E !important;
	font-size: 13px !important;
}

.dlgfupl * > .ui-fileupload-choose:hover {
	background-color: #26437E !important;
	color: #FFFFFF !important;
	font-size: 13px !important;
	text-shadow: none !important;
}

.dlgfupl * > .ui-fileupload-choose > span.ui-button-text.ui-c {
	margin:0!important;
}

.dlgfupl * > .ui-messages-error-icon{
	display:none!important;
}

.dlgfupl * > ul{
	margin:0px;
}

.dlgfupl > .ui-fileupload-content{
	display: block!important;
	max-width:900px!important;
	white-space: normal!important;
}

.dlgfupl * > .ui-messages-error-detail{
	font-size:100%!important;
	color:darkred!important;
}


.dlgfupl * > .ui-messages-error-icon {
	visibility: hidden!important;
}



.ui-fileupload-buttonbar{
	display: inline-block;
	/* background: red!important; */
	background: none;
	border:none;
	padding: 0;
	margin: 0;
	font-weight: normal;
	position: relative;
	/* top:-3px; */
}

.ui-fileupload-buttonbar * > .ui-button-icon-left {
	visibility: hidden;
}

.ui-fileupload-buttonbar * > .ui-button-text {
	/*padding:0;*/
	top:0;
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-right: 10px;
}

.ui-fileupload-content{
	margin:0;
	vertical-align: middle;
	border-bottom-width: 0!important;
	border-bottom-style: none!important;
}

.ui-fileupload-files{
	margin:0;
	vertical-align: middle;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-fileupload-choose.ui-state-hover > input {
	cursor: pointer !important;
}

div.dlgBottomBtnsBar * > td {
	padding: 0px;
}



#dlgZalacznikiForm\:zalfileuplid > div.ui-fileupload-buttonbar{
	visibility: hidden!important;
	background: red!important;
}


.pp-hide-ui-fileupload-buttonbar > div.ui-fileupload-buttonbar{
	visibility: hidden!important;
	display: none!important;
}