.qtip{
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;
	max-width: 280px;
	min-width: 50px;
	font-size: 12px;
	line-height: 12px;
	direction: ltr;
	border: none;
	box-shadow: none;
	padding: 5px 10px;
	}
	
.qtip-default{
	background-color: #616161;
	color: white;
	}
	
.qtip-content{
	position: relative;
	padding: 5px 9px;
	overflow: hidden;
	text-align: left;
	word-wrap: break-word;}