<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:body>

	<ui:composition>

		<!-- <h:form id="formLstPlcWydrFiltr" styleClass="ui-footer" rendered="#{pracownikListyPlacSqlBean.selectedRodzajeListy != null}">
			<p:panelGrid>
				<p:panel style="text-align:center">
					<h:outputText value="Użyte filtry" />
				</p:panel>
				<p:panel rendered="#{pracownikListyPlacSqlBean.selectedRodzajeListy != null}">
					<h:outputText value="Rodzaje list: " />
					<br />
					<ui:repeat
						value="#{pracownikListyPlacSqlBean.selectedRodzajeListy}"
						var="itemp">
						<h:outputText value="#{itemp}" style="margin-left:10px" />
						<br />
					</ui:repeat>
				</p:panel>
				<p:panel rendered= "#{pracownikListyPlacSqlBean.selectedNazwyListy != null}">
					<h:outputText value="Nazwy list: " />
					<br />
					<ui:repeat value="#{pracownikListyPlacSqlBean.selectedNazwyListy}"
						var="itemz">
						<h:outputText value="#{itemz}" style="margin-left:10px" />
						<br />
					</ui:repeat>
				</p:panel>
			</p:panelGrid>
		</h:form> -->

		<h:outputLabel value="Post Footer" />
	</ui:composition>


</h:body>
</html>