<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:components="http://xmlns.jcp.org/jsf/composite/components">


<h:body>

	<div class="hide">

		<h:panelGroup id="printContent1">

<!-- 			<ui:include
				src="/WEB-INF/protectedElements/Wydruki/common/PreHeader.xhtml" /> -->


			<h:form id="formNaglowekLstPlc">

				<p:panelGrid>
					<p:panel style="text-align:center">
						<h:outputLabel id="tbNaglowek" styleClass="ui-print-title"
							value="Lista płac pracownika za okres: #{pracownikListyPlacSqlBean.okres}" />
					</p:panel>
					<p:panel style="text-align:center">
						<h:outputLabel styleClass="ui-print-content"
							value="Pracownik: #{user.ekPracownik.get('prc_imie')} #{user.ekPracownik.get('prc_nazwisko')} (numer #{user.ekPracownik.get('prc_numer')})" />
	
					</p:panel>
				</p:panelGrid>

			</h:form>
			<br />

			<h:form id="formLstPlcDruk">

				<p:repeat
					value="#{pracownikListyPlacSqlBean.filteredSlownik.keySet().toArray()}"
					var="num">

					<p:panelGrid>
						<table class="prntbrdr" align="center" width="600px">
							<tr>
								<th><h:outputText styleClass="w500 inlblock"
										value="#{pracownikListyPlacSqlBean.filteredSlownik.get(num).get(0).get('PP_DG_NAZWA')}" />
								</th>
								<th width="150px"><h:outputText styleClass="w150"
										value="#{pracownikListyPlacSqlBean.liczSume(num)}"
										rendered="#{!pracownikListyPlacSqlBean.filteredSlownik.get(num).get(0).get('PP_DG_NAZWA').contains('Opisowe')}">>
										<f:convertNumber groupingUsed="true" minFractionDigits="2" />
									</h:outputText>
								</th>
							</tr>
							<p:repeat
								value="#{pracownikListyPlacSqlBean.filteredSlownik.get(num)}"
								var="item">
								<tr>
									<td>
										<h:outputText styleClass="w500 inlblock" style="font-size:60%!important"
											value="#{item.get('PP_LST_NAZWA')}" />
											
										<h:outputText styleClass="w500 inlblock" style="font-size:80%!important"
											value="#{item.get('PP_DSK_NAZWA')}" />
											
							
									</td>
									<td width="150px" align="right"><h:outputText
											styleClass="w150" value="#{item.get('PP_SK_WARTOSC')}">
											<f:convertNumber groupingUsed="true" minFractionDigits="2" />
										</h:outputText>
									</td>
								</tr>
							</p:repeat>
						</table>
					</p:panelGrid>
					<br/>
				</p:repeat>

			</h:form>

			<br />


			<h:form id="formLstPlcWydrFiltr" styleClass="ui-footer">
				<div>
					<components:PostFooterComponent nazwaWydruku="ListaPlac"/>
				</div>
			</h:form>

		</h:panelGroup>

	</div>

</h:body>
</html>