<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:components="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<div class="hide">

		<h:panelGroup id="printContent1">

			<ui:include
				src="/WEB-INF/protectedElements/Wydruki/common/PreHeader.xhtml" />

			<p:panelGrid>
				<p:panel style="text-align:center">
					<h:outputLabel id="tbNaglowek" styleClass="ui-print-title"
						value="Zestawienie szczegółów środka trwałego pracownika" />
				</p:panel>
				<br />
				<p:panel>
					<h:outputLabel styleClass="ui-print-content"
						value="Pracownik: #{sessionBean.prc_imie} #{sessionBean.prc_nazwisko}" />
					<br />
					<h:outputLabel styleClass="ui-print-content"
						value="Środek: #{sessionBean.selectedSrodekTrwaly.get('pp_nazwa_srodka').length() gt 50 ?
												 sessionBean.selectedSrodekTrwaly.get('pp_nazwa_srodka').substring(0,47).concat('...') 
												 : sessionBean.selectedSrodekTrwaly.get('pp_nazwa_srodka')}" />
					<br />
					<h:outputLabel styleClass="ui-print-content"
						value="Szczegóły środka na dzień #{srodkiTrwaleBean.getDate()}" />
				</p:panel>
			</p:panelGrid>

			<br />
			<p:panelGrid>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_numer_inw')}">
					<p:column>
						<h:outputLabel value="Numer inwentarzowy" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_numer_inw')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_data_nabycia')}">
					<p:column>
						<h:outputLabel value="Data nabycia" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_data_nabycia')}"
							converter="mycnv" style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_kod_kreskowy')}">
					<p:column>
						<h:outputLabel value="Etykieta/Kod kreskowy" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_kod_kreskowy')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_charakterystyka')}">
					<p:column>
						<h:outputLabel value="Charakterystyka" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_charakterystyka')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_kl_nazwa')}">
					<p:column>
						<h:outputLabel value="Nazwa rodzajowa" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_kl_nazwa')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_typ_srodka')}">
					<p:column>
						<h:outputLabel value="Typ" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_typ_srodka')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_amortyzowany')}">
					<p:column>
						<h:outputLabel value="Amortyzowany?" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_amortyzowany')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_niezlikwidowany')}">
					<p:column>
						<h:outputLabel value="Aktywny?" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_niezlikwidowany')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_klasyfikacja_budzetowa')}">
					<p:column>
						<h:outputLabel value="Klasyfikacja budżetowa" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_klasyfikacja_budzetowa')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_ce_numer') || sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_ce_nazwa')}">
					<p:column>
						<h:outputLabel value="Numer i nazwa centrum" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_ce_numer')} #{itemz.get('pp_ce_nazwa')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_mpk_kod') || sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_mpk_nazwa')}">
					<p:column>
						<h:outputLabel value="Numer i nazwa projektu" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_numer_projektu')} #{itemz.get('pp_nazwa_projektu')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_lokalizacja')}">
					<p:column>
						<h:outputLabel value="Lokalizacja" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_lokalizacja')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_prc_numer')}">
					<p:column>
						<h:outputLabel value="Procent przypisany do pracownika" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_prc_numer')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_prc_nazwa')}">
					<p:column>
						<h:outputLabel value="Imię i nazwisko pracownika" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_prc_nazwa')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_sk_kod') || sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_sk_nazwa')}">
					<p:column>
						<h:outputLabel value="Kod i nazwa stanowiska kosztów" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_sk_kod')} #{itemz.get('pp_sk_nazwa')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_ps_procent')}">
					<p:column>
						<h:outputLabel value="Procent przydziału środka" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_ps_procent')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>

				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_dok_numer')}">
					<p:column>
						<h:outputLabel value="Numer dokumentu zmieniającego dane" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_dok_numer')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_rdok_kod')}">
					<p:column>
						<h:outputLabel value="Rodzaj dokumentu" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_rdok_kod')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_kdok_kod')}">
					<p:column>
						<h:outputLabel value="Kategoria dokumentu" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_kdok_kod')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_rdok_nazwa')}">
					<p:column>
						<h:outputLabel value="Nazwa dokumentu" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_rdok_nazwa')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_dok_data')}">
					<p:column>
						<h:outputLabel value="Data wystawienie dokumentu" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_dok_data')}"
							converter="mycnv" style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_dok_opis')}">
					<p:column>
						<h:outputLabel value="Opis dokumentu" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_dok_opis')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>

				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_dok_zal_numer')}">
					<p:column>
						<h:outputLabel value="Numer dokumentu powiązanego" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_dok_zal_numer')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_dok_zal_numer_obcy')}">
					<p:column>
						<h:outputLabel value="Numer obcy" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_dok_zal_numer_obcy')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_dok_sd_opis')}">
					<p:column>
						<h:outputLabel value="Opis powiązania z dokumentem ŚT" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_dok_sd_opis')}"
							style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>
				<p:row
					rendered="#{sessionBean.selectedSrodekTrwaly.isNotEmpty('pp_dok_zal_data')}">
					<p:column>
						<h:outputLabel value="Data wystawienia" />
					</p:column>
					<p:column>
						<h:outputText
							value="#{sessionBean.selectedSrodekTrwaly.get('pp_dok_zal_data')}"
							converter="mycnv" style="min-width:500px" readonly="true" />
					</p:column>
				</p:row>

			</p:panelGrid>

			<br />

			<h:form id="formStTrwSzczFooter" styleClass="ui-footer">
				<div>
					<components:PostFooterComponent nazwaWydruku="SrodkiTrwaleSzczWydr" />
				</div>
			</h:form>

			<!-- <ui:include
				src="/WEB-INF/protectedElements/Wydruki/common/PostFooter.xhtml" /> -->

		</h:panelGroup>
	</div>

</h:body>
</html>