<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:components="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<div class="hide">

		<h:panelGroup id="printContent1">

			<ui:include
				src="/WEB-INF/protectedElements/Wydruki/common/PreHeader.xhtml" />

			<p:panelGrid>
				<p:panel style="text-align:center">
					<h:outputLabel id="tbNaglowek" styleClass="ui-print-title"
						value="Zestawienie danych o nieobecnościach pracownika" />
				</p:panel>
				<br />
				<p:panel>
					<h:outputLabel styleClass="ui-print-content"
						value="Pracownik: #{sessionBean.prc_imie} #{sessionBean.prc_nazwisko}" />
					<br />
					<h:outputLabel styleClass="ui-print-content"
						value="Stan absencji na dzień #{pracownikAbsencjeSqlBean.getDate()}" />
				</p:panel>
			</p:panelGrid>

			<br />
			<p:panelGrid
				rendered="#{not empty pracownikAbsencjeSqlBean.absencjeData}">


				<table class="prntbrdr" align="center">
					<tr>
						<th><h:outputText styleClass="w200 inlblock" value="Nazwa" /></th>
						<th><h:outputText styleClass="w100 inlblock" value="Od" /></th>
						<th><h:outputText styleClass="w100 inlblock" value="Do" /></th>
						<th><h:outputText styleClass="w100 inlblock"
								value="Dni wykorzystane" /></th>
					</tr>

					<p:repeat value="#{pracownikAbsencjeSqlBean.absencjeData}" var="r">
						<tr>
							<td><h:outputText styleClass="w200 inlblock"
									value="#{r.get('pp_abs_nazwa')}" /></td>
							<td><h:outputText styleClass="w100 inlblock"
									value="#{r.get('pp_abs_data_od')}" converter="mycnv" /></td>
							<td><h:outputText styleClass="w100 inlblock"
									value="#{r.get('pp_abs_data_do')}" converter="mycnv" /></td>
							<td><h:outputText styleClass="w50 inlblock"
									value="#{r.get('pp_abs_ilosc_dni')}" /></td>
						</tr>
					</p:repeat>
				</table>
			</p:panelGrid>

			<p:panelGrid
				rendered="#{empty pracownikAbsencjeSqlBean.absencjeData}">
				<h:outputText value="-/-" />
			</p:panelGrid>

			<br />

			<h:form id="formWydrNieobFooter" styleClass="ui-footer">
				<div>
					<components:PostFooterComponent nazwaWydruku="NieobecnosciWydr" />
				</div>
			</h:form>

			<!-- <ui:include
				src="/WEB-INF/protectedElements/Wydruki/common/PostFooter.xhtml" /> -->


		</h:panelGroup>
	</div>

</h:body>
</html>