<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:components="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<div class="hide">

		<h:panelGroup id="printContent1">

			<ui:include
				src="/WEB-INF/protectedElements/Wydruki/common/PreHeader.xhtml" />



			<p:panelGrid>
				<p:panel style="text-align:center">
					<h:outputLabel id="tbNaglowek" styleClass="ui-print-title"
						value="Zestawienie środków trwałych pracownika" />
				</p:panel>
				<br />
				<p:panel>
					<h:outputLabel styleClass="ui-print-content"
						value="Pracownik: #{sessionBean.prc_imie} #{sessionBean.prc_nazwisko}" />
					<br />
					<h:outputLabel styleClass="ui-print-content"
						value="Stan środków na dzień #{srodkiTrwaleBean.getDate()}" />
				</p:panel>
			</p:panelGrid>

			<br />

			<p:panelGrid rendered="#{not empty srodkiTrwaleBean.listaSrodkow}">

				<table class="prntbrdr" align="center">
					<tr>
						<th><h:outputText styleClass="w100 inlblock"
								value="Numer inwentarzowy" /></th>
						<th><h:outputText styleClass="w400 inlblock" value="Nazwa" /></th>
						<th><h:outputText styleClass="w100 inlblock"
								value="Data nabycia" /></th>
					</tr>

					<p:repeat value="#{srodkiTrwaleBean.listaSrodkow}" var="r">
						<tr>
							<td><h:outputText styleClass="w100 inlblock"
									value="#{r.get('pp_numer_inw')}" /></td>
							<td><h:outputText styleClass="w400 inlblock"
									value="#{r.get('pp_nazwa_srodka')}" /></td>
							<td><h:outputText styleClass="w100 inlblock"
									value="#{r.get('pp_data_nabycia')}" converter="mycnv" /></td>
						</tr>
					</p:repeat>
				</table>
			</p:panelGrid>

			<p:panelGrid rendered="#{empty srodkiTrwaleBean.listaSrodkow}">
				<h:outputText value="-/-" />
			</p:panelGrid>
			<br />

			<h:form id="formStTrw" styleClass="ui-footer">
				<div>
					<components:PostFooterComponent nazwaWydruku="SrodkiTrwale" />
				</div>
			</h:form>

<!-- 			<ui:include
				src="/WEB-INF/protectedElements/Wydruki/common/PostFooter.xhtml" /> -->

		</h:panelGroup>

	</div>


</h:body>
</html>