<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:components="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<div class="hide">

		<h:panelGroup id="printContent1">

			<ui:include
				src="/WEB-INF/protectedElements/Wydruki/common/PreHeader.xhtml" />



			<p:panelGrid>
				<p:panel style="text-align:center">
					<h:outputLabel id="tbNaglowek" styleClass="ui-print-title"
						value="Zestawienie danych o badaniach pracownika" />
				</p:panel>
				<br />
				<p:panel>
					<h:outputLabel styleClass="ui-print-content"
						value="Pracownik: #{sessionBean.prc_imie} #{sessionBean.prc_nazwisko}" />
					<br />
					<h:outputLabel styleClass="ui-print-content"
						value="Stan badań na dzień #{badaniaBean.getDate()}" />
				</p:panel>
			</p:panelGrid>

			<br />

			<p:panelGrid rendered="#{not empty badaniaBean.badania}">

				<table class="prntbrdr" align="center">
					<tr>
						<th><h:outputText styleClass="w100 inlblock"
								value="Data badania" /></th>
						<th><h:outputText styleClass="w100 inlblock"
								value="Rodzaj badania" /></th>
						<th><h:outputText styleClass="w100 inlblock"
								value="Data ważności badania" /></th>
					</tr>

					<p:repeat value="#{badaniaBean.badania}" var="r">
						<tr>
							<td><h:outputText styleClass="w200 inlblock"
									value="#{r.get('bad_data')}" converter="mycnv" /></td>
							<td><h:outputText styleClass="w200 inlblock"
									value="#{r.get('bad_rodzaj')}" /></td>
							<td><h:outputText styleClass="w200 inlblock"
									value="#{r.get('bad_data_waznosci')}" converter="mycnv" /></td>
						</tr>
					</p:repeat>
				</table>
			</p:panelGrid>
			<p:panelGrid rendered="#{empty badaniaBean.badania}">
				<h:outputText value="-/-" />
			</p:panelGrid>

			<br/>
			
			<h:form id="formBadaniaPost" styleClass="ui-footer">
				<div>
					<components:PostFooterComponent nazwaWydruku="BadaniaWydr" />
				</div>
			</h:form>
			
<!-- 			<ui:include
				src="/WEB-INF/protectedElements/Wydruki/common/PostFooter.xhtml" /> -->
		</h:panelGroup>
	</div>


</h:body>
</html>