<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:components="http://xmlns.jcp.org/jsf/composite/components">

<h:body>

	<div class="hide">

		<h:panelGroup id="printContent1">

			<ui:include
				src="/WEB-INF/protectedElements/Wydruki/common/PreHeader.xhtml" />



			<p:panelGrid>
				<p:panel style="text-align:center">
					<h:outputLabel id="tbNaglowek" styleClass="ui-print-title"
						value="Zestawienie danych o rodzinie pracownika" />
				</p:panel>
				<br />
				<p:panel>
					<h:outputLabel styleClass="ui-print-content"
						value="Pracownik: #{sessionBean.prc_imie} #{sessionBean.prc_nazwisko}" />
					<br />
					<h:outputLabel styleClass="ui-print-content"
						value="Stan rodziny na dzień #{rodzinaBean.getDate()}" />
				</p:panel>
			</p:panelGrid>

			<br />
			<p:panelGrid rendered="#{not empty rodzinaBean.czlonkowieRodziny}">


				<table class="prntbrdr" align="center">
					<tr>
						<th><h:outputText styleClass="w100 inlblock" value="PESEL" /></th>
						<th><h:outputText styleClass="w100 inlblock" value="Imię" /></th>
						<th><h:outputText styleClass="w100 inlblock" value="Nazwisko" /></th>
						<th><h:outputText styleClass="w400 inlblock"
								value="Stopień pokrewieństwa" /></th>
					</tr>

					<p:repeat value="#{rodzinaBean.czlonkowieRodziny}" var="r">
						<tr>
							<td><h:outputText styleClass="w100 inlblock"
									value="#{r.get('pp_czr_pesel')}" /></td>
							<td><h:outputText styleClass="w100 inlblock"
									value="#{r.get('pp_czr_imie')}" /></td>
							<td><h:outputText styleClass="w100 inlblock"
									value="#{r.get('pp_czr_nazwisko')}" /></td>
							<td><h:outputText styleClass="w400 inlblock"
									value="#{r.get('pp_czr_pokrewienstwo')}" /></td>
						</tr>
					</p:repeat>
				</table>
			</p:panelGrid>

			<p:panelGrid rendered="#{empty rodzinaBean.czlonkowieRodziny}">
				<h:outputText value="-/-" />
			</p:panelGrid>
			<br />

			<h:form id="formRodzinaFooter" styleClass="ui-footer">
				<div>
					<components:PostFooterComponent nazwaWydruku="RodzinaWydr" />
				</div>
			</h:form>

			<!-- <ui:include
				src="/WEB-INF/protectedElements/Wydruki/common/PostFooter.xhtml" /> -->

		</h:panelGroup>
	</div>


</h:body>
</html>