<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<body>
	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="Rejestr warunków pracy" />
		<ui:param name="formBackground" value="rgba(20,70,140,0.5)" />

		<ui:define name="egr_content">

			<h:form styleClass="bg-fff m20i p20 bsh2black flex-1">

				<p:accordionPanel dynamic="true" cache="false" styleClass="d-flex-1-column">

					<p:tab title="Moje czynniki szkodliwe">

						<p:commandButton value="Raport" icon="picture_as_pdf"
							style="min-width: 80px;" styleClass="ctl-home-link-menu"
							actionListener="#{czynnikiSzkodliweBean.raport()}"
							partialSubmit="true" process="@this"
							onclick="form.target = '_blank'" ajax="false" />

						#{czynnikiSzkodliweBean.loadLW('PPL_BHP_CZYNNIKI_PRC',  [ user.prcId ] )}
						<div class="d-flex-1">
							<cc:cLookupTable styleClass="mt20"
									datasource="#{czynnikiSzkodliweBean.loadedLW('PPL_BHP_CZYNNIKI_PRC')}"
									height="calc(100vh - 220px)"/>
						</div>

					</p:tab>

					<p:tab title="Czynniki szkodliwe i uciążliwe wg pracowników">
						<div class="d-flex-1">
							<cc:cLookupTable styleClass="mt20"
								datasource="#{czynnikiSzkodliweBean.getLW('PPL_BHP_CZYNNIKI_PRC_GR',user.dbLogin)}"
								height="calc(100vh - 200px)"
								onRowSelected="#{czynnikiSzkodliweBean.loadLW('PPL_BHP_CZYNNIKI_PRC',  [row.get('pp_prc_id')] )}"
								fillwidthcolumn="true" >

								<p:column exportable="false" width="20">
									<p:rowToggler />
								</p:column>
								<p:rowExpansion>

									#{czynnikiSzkodliweBean.loadLW('PPL_BHP_CZYNNIKI_PRC',  [row.get('prc_id')] )}
									<div class="d-flex-1">
										<cc:cLookupTable
												datasource="#{czynnikiSzkodliweBean.loadedLW('PPL_BHP_CZYNNIKI_PRC')}"
												showSearchField="false" height="300px" />
									</div>
								</p:rowExpansion>


								<p:column exportable="false" width="20">
									<p:commandButton icon="picture_as_pdf"
										actionListener="#{czynnikiSzkodliweBean.raport( row.getIdAsLong() )}"
										partialSubmit="true" process="@this"
										onclick="form.target = '_blank'" ajax="false" />
								</p:column>
							</cc:cLookupTable>
						</div>
					</p:tab>
				</p:accordionPanel>

			</h:form>

		</ui:define>
	</ui:composition>
</body>
</html>
