<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
</f:metadata>

<body>

<ui:composition
        template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
    <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
    <ui:param name="formName" value="Czynniki uciążliwe"/>

    <ui:define name="egr_content">

        <h:form styleClass="flex-1 bg-fff m20i p20 bsh1black">

            <c:cLookupTable
                    datasource="#{listaWnioskowBean.getLW('PP_CZYN_UCZL')}"
                    disabled="true"
            />

        </h:form>

    </ui:define>

</ui:composition>


</body>
</html>