<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

	
		<p:dialog id="dlgLov" widgetVar="dlgLov"
			header="..."
			width="#{cLov.dialogWidth}"
			appendTo="@(body)" modal="true"
			closeOnEscape="true" draggable="true" resizable="false"
			styleClass="ctl-dialog"
			onShow="PFbyId('frmDlgLov:clkptbl:inpSearch').jq.focus().select(); initqtip();">

			<f:facet name="header">
				<h:form id="frmDlgLovHdr">
					<p:panelGrid style="width:100%">

						<p:column>
							<h:outputText value="#{cLov.title}"/>
						</p:column>

						<p:column styleClass="r10">
							<p:commandButton id="btAnuluj" styleClass="btnDlg"
								process="@none" onclick="PF('dlgLov').hide();" icon="close">
							</p:commandButton>
						</p:column>

					</p:panelGrid>
				</h:form>
			</f:facet>

			<h:form id="frmDlgLov" rendered="#{cLov.datasource!=null}">

				<div style="width: 950px; height: 450px;" >

					<cc:cLookupTable  id="#{(not cLov.multiselect) ? 'clkptbl' : 'clkptbl0'}" height="450px"
						datasource="#{cLov.datasource}"
						onRowSelected="PF('dlgLov').hide();"
						rowSelectAction="#{cLov.setValueDoCcAttrsActionAndUpdate()}"
						multiselect  = "false"
						selectedRowsSizeLimit="#{cLov.datasource.selectedRowsSizeLimit}"
						rendered="#{not cLov.multiselect}"
						rows="15"
						styleClass="tbl-w100-h100"
						/>

					<cc:cLookupTable  id="#{cLov.multiselect ? 'clkptbl' : 'clkptbl1'}" height="450px"
						datasource="#{cLov.datasource}"
						rowSelectAction="#{cLov.setValueDoCcAttrsActionAndUpdate()}"
						multiselect  = "true"
						selectedRowsSizeLimit="#{cLov.datasource.selectedRowsSizeLimit}"
						rendered="#{cLov.multiselect}"
						rows="15"
						styleClass="tbl-w100-h100"
						/>

					<p:focus for="frmDlgLov:clkptbl:inpSearch"/>

				</div>

				<p:separator/>

			</h:form>
			<f:facet name="footer">
				<h:form>
					<div class="dlgBottomBtnsBar">
						<h:panelGroup>
							<p:row>
								<p:column style="min-width:30px" />
								<p:column>
									<p:commandButton id="btnOK" value="WYBIERZ ZAZNACZONE" rendered="#{cLov.multiselect}"
										action = "#{cLov.setValueDoCcAttrsActionAndUpdate()}"
										oncomplete ="PF('dlgLov').hide();"
										update="#{cLov.toUpdate}"/>
								</p:column>

							</p:row>
						</h:panelGroup>
					</div>
				</h:form>
			</f:facet>
		</p:dialog>
				
				

				
				
</ui:composition>






