<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite/components">

<h:body>
    <ui:composition
            template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
        <ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}"/>
        <ui:param name="formName" value="Wniosek o zaświadczenie"/>
        <ui:define name="egr_content">


            <h:form id="frmTMnu" styleClass="p5 pl40 pr40 bg-fff bsh15slategray d-flex w750 mautoi mt40i">

                <p:commandButton
                        styleClass="granatowy bsh1gray minw80"
                        value="zapisz"
                        id="zapiszId"
                        icon="save"
                        actionListener="#{wnioskiZaswiadczeniaBean.zapisz()}"
                        process="@form frmWniosek"
                        update="template_growl"
                        partialSubmit="true"
                />

                <p:commandButton
                        value="usuń"
                        id="usunId"
                        icon="delete"
                        style="min-width:80px" styleClass="granatowy ml10 bsh1gray"
                        actionListener="#{wnioskiZaswiadczeniaBean.usun()}"
                        process="@form"
                        update="template_growl"
                        partialSubmit="true"
                        disabled="#{wnioskiZaswiadczeniaBean.wniosek.wzaId == null or wnioskiZaswiadczeniaBean.wniosek.wzaId == 0}"
                />

                <cc:cObiegCzynnosci
                        id="obiegWnk"
                        styleClass="granatowy ml10 bsh1gray"
                        idEncji="#{wnioskiZaswiadczeniaBean.wniosek.wzaId}"
                        kategoriaObiegu="WN_WYD_ZASWIADCZ"
                />

                <cc:cZalacznikiButton
                        styleClass="granatowy ml10 bsh1gray"
                        dlgTitle="Załączniki wniosek o zaświadczenie:"
                        zalFkId="#{wnioskiZaswiadczeniaBean.wniosek.wzaId}"
                        zalFkFieldName="ZAL_WZA_ID"
                />

            </h:form>


            <h:form id="frmWniosek" styleClass="d-flex-1-column ov-y-auto">

                <div class="bg-fff bsh15slategray w750 p40 mautoi mt20i">
                    <p:outputLabel styleClass="fs20" value="Dane wniosku"/>
                    <p:separator styleClass="mb40"/>

                    <div class="p10">
                        <!--						<cc:cPracownikBasicInfo-->
                        <!--							prcId="#{wnioskiZaswiadczeniaBean.wniosek.wzaPrcId}"-->
                        <!--							showPesel="true"-->
                        <!--						 />-->
                        <cc:cPracownikInfo
                                prcId="#{wnioskiZaswiadczeniaBean.wniosek.wzaPrcId}"
                                showPesel="true"
                                showWydzial="true"
                                showDepartament="false"
                                labelWydzial="Jednostka organizacyjna:"
                                labelsColumnStyleClass="w120"
                                showKsTelInfo="false"
                                showAdres="false"
                        />

                    </div>

                    <cc:cLOVMDesign
                            id="lvrw"
                            styleClass="mt70i"
                            label="Rodzaj zaświadczenia"
                            lovDlgTitle="Wybierz rodzaj zaświadczenia"
                            placeholder="Wybierz rodzaj zaświadczenia"
                            datasource="#{wnioskiZaswiadczeniaBean.getSL('WN_ZASWIADCZENIA')}"
                            value="#{wnioskiZaswiadczeniaBean.wniosek.wzaRodzaj}"
                            lovTextFormat="%5$s"
                            required="true"
                    />

                    <cc:cInputTextAreaMDesign
							styleClass="mt50i"
                            value="#{wnioskiZaswiadczeniaBean.wniosek.wzaOpis}"
                            placeholder="Cel wydania zaświadczenia"
                            label="Uzasadnienie">
                        <p:ajax event="change" process="@this" partialSubmit="true"/>
                    </cc:cInputTextAreaMDesign>

                    <p:separator styleClass="mt40"/>
                </div>


            </h:form>


        </ui:define>
    </ui:composition>


</h:body>
</html>
