<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions">


<f:metadata>

	<f:event type="preRenderView"
		listener="#{odwolanieOdOcenyBean.loadSqlData('sqlOdwolanieOdOceny',
		'
select 
	KO_ID                       pp_ko_id,
	KO_PRC_ID                   pp_ko_prc_id,
  	PRC_IMIE                    pp_prc_imie,
  	PRC_NAZWISKO                pp_prc_nazwisko,
	KO_POLROCZE_OCENY           pp_ko_polrocze,
	KO_UWAGI_PRAC               pp_ko_uwagi_prac,
	KO_UWAGI_KADR               pp_ko_uwagi_kadr,
	KO_UWAGI_KIER               pp_ko_uwagi_kier,
	KO_OPINIA_KONCOWA           pp_ko_opinia_konc
from ZPT_KOREKTA_OCENY, EK_PRACOWNICY
where KO_PRC_ID = PRC_ID
		', []
	)}" />

</f:metadata>
<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}" />

		<ui:define name="egr_content">


					<h:form id="formFiltr">

						<ui:include
							src="/WEB-INF/protectedElements/Dialogs/Rozwoj/dlgOpiniaKoncowa.xhtml" />

						<p:panelGrid>

							<p:row>
								<p:column>
									<p:commandButton value="Dodaj" icon="fa fa-fw fa-plus">
										<p:ajax oncomplete="PF('dlgOdwolanieOdOceny').show()" />
									</p:commandButton>
								</p:column>
							</p:row>
						</p:panelGrid>

					</h:form>


					<ui:include
						src="/WEB-INF/protectedElements/Dialogs/Rozwoj/dlgUwagiKadr.xhtml" />
					<ui:include
						src="/WEB-INF/protectedElements/Dialogs/Rozwoj/dlgUwagiKierownika.xhtml" />
					<ui:include
						src="/WEB-INF/protectedElements/Dialogs/Rozwoj/dlgOpiniaKoncowa.xhtml" />
						<ui:include
						src="/WEB-INF/protectedElements/Dialogs/Rozwoj/dlgOdwolanieOdOceny.xhtml" />

					<h:form id="formSzk" styleClass="flex-1">

						<h:outputLabel id="tbSizeSzk" for="tableSzk"
							value="#{odwolanieOdOcenyBean.getSqlData('sqlOdwolanieOdOceny').size()}"
							style="display:none;" />

						<p:dataTable id="tableSzk"
							value="#{odwolanieOdOcenyBean.getSqlData('sqlOdwolanieOdOceny')}"
							widgetVar="dataTableSt" var="itemz" rowKey="#{itemz.get(0)}"
							selectionMode="single" sortMode="multiple" paginator="false">

							<p:column headerText="Pracownik"
								sortBy="#{itemz.get('pp_prc_nazwisko')}">
								<h:outputText value="#{itemz.get('pp_prc_imie')} #{itemz.get('pp_prc_nazwisko')}"
									styleClass="ctl-column-left" />
							</p:column>
							<p:column headerText="Półrocze"
								sortBy="#{itemz.get('pp_ko_polrocze')}">
								<h:outputText value="#{itemz.get('pp_ko_polrocze')}"
									styleClass="ctl-column-left" />
							</p:column>
							<p:column headerText="Uwagi pracownika"
								sortBy="#{itemz.get('pp_ko_uwagi_prac')}">
								<h:outputText value="#{itemz.get('pp_ko_uwagi_prac')}"
									styleClass="ctl-column-left" />
							</p:column>
							<p:column headerText="Uwagi działu Kadr"
								sortBy="#{itemz.get('pp_ko_uwagi_kadr')}">
								<p:commandButton title="Edytuj uwagi" icon="fa fa-fw fa-edit">
									<p:ajax update="dlgUwagiKadrId"
										listener="#{odwolanieOdOcenyBean.ustawDialog(itemz)}"
										oncomplete="PF('dlgUwagiKadr').show()" />
										
								</p:commandButton>
							</p:column>
							<p:column headerText="Uwagi kierownika"
								sortBy="#{itemz.get('pp_ko_uwagi_kier')}">
								<p:commandButton title="Edytuj uwagi" icon="fa fa-fw fa-edit">
									<p:ajax update="dlgUwagiKierownikaId"
										listener="#{odwolanieOdOcenyBean.ustawDialog(itemz)}"
										oncomplete="PF('dlgUwagiKierownika').show()" />
								</p:commandButton>

							</p:column>
							<p:column headerText="Decyzja końcowa"
								sortBy="#{itemz.get('pp_ko_opinia_konc')}">
								<p:commandButton title="Edytuj uwagi" icon="fa fa-fw fa-edit">
									<p:ajax update="dlgOpiniaKoncowaId"
										listener="#{odwolanieOdOcenyBean.ustawDialog(itemz)}"
										oncomplete="PF('dlgOpiniaKoncowa').show()" />

								</p:commandButton>
							</p:column>



						</p:dataTable>


					</h:form>



		</ui:define>

	</ui:composition>

</h:body>

</html>
