<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<f:metadata>

	<f:event type="preRenderView"
		listener="#{wniosekORekrutacjeBean.loadSqlData('sqlPositions',
				'
					SELECT distinct		
					
						STN_NAZWA			pp_stn_nazwa,
						STN_ID				pp_stn_id
					FROM ZPT_STANOWISKA
				', 
				[])}" />

	<f:event type="preRenderView"
		listener="#{wniosekORekrutacjeBean.loadSqlData('sqlWnioskiRekrutacje',
				'
					SELECT 
						pre_id					pp_pre_id,
						pre_stn_id				pp_pre_stn_id,
						STN_NAZWA				pp_stn_nazwa,
						PRE_KOD_JEDNOSTKI_ORG	pp_pre_kod_jednostki_org,
						PRE_DATA_OD				pp_pre_data_od,
						PRE_DATA_DO				pp_pre_data_do,
						PRE_ETATY				pp_pre_etaty,
						PRE_OB_ID				pp_pre_ob_id,
						PRE_UWAGI				pp_pre_uwagi,
						PRE_STATUS				pp_pre_status
					FROM zpt_proces_rekrutacji, ZPT_STANOWISKA
					WHERE STN_ID = PRE_STN_ID
				', 
				[])}" />

</f:metadata>

<h:body>

	<ui:composition
		template="/WEB-INF/protectedElements/Templates/EgrTemplatePF70.xhtml">
		<ui:param name="submenuName" value="#{dic.LBL10001_nazwa_systemu}" />
		<ui:param name="formName" value="#{dic.LBL10002_nazwa_podsystemu}" />

		<ui:define name="egr_content">

					<ui:include
						src="/WEB-INF/protectedElements/Dialogs/Rozwoj/dlgWniosekRekrutacyjnyDodaj.xhtml" />
						
					<h:form id="formButtons">

						<p:panelGrid>
							<p:row>
								<p:column>
									<p:commandButton value="Dodaj" id="addButton"
										icon="fa fa-fw fa-plus"

										>
										<p:ajax oncomplete="PF('dlgWniosekRekrutacyjnyDodaj').show()" />
									</p:commandButton>
								</p:column>
								<p:column>
									<p:commandButton value="Usuń" id="rejectButton"
										icon="fa fa-fw fa-trash"
										actionListener="#{wniosekORekrutacjeBean.removeButtonAction()}"
										oncomplete="location.reload();" />
								</p:column>
								<p:column>
									<p:commandButton value="Zatwierdź" id="confirmButton"
										icon="fa fa-fw fa-check"
										actionListener="#{wniosekORekrutacjeBean.confirmButtonAction()}" 
										oncomplete="location.reload();"/>
								</p:column>
							</p:row>
						</p:panelGrid>
					</h:form>

					<h:form id="formTblWnioskiRekrutacjaId" styleClass="flex-1">
						<h:outputLabel id="tbSizeWnioskId" for="tableSzk"
							value="#{wniosekORekrutacjeBean.getSqlData('sqlWnioskiRekrutacje').size()}"
							style="display:none;" />

						<p:dataTable
							value="#{wniosekORekrutacjeBean.getSqlData('sqlWnioskiRekrutacje')}"
							var="item" paginator="false" binding="#{table}"
							rowKey="#{item.get(0)}" id="tableSzk">

							<p:column style="width:32px;text-align: center">

								<p:selectBooleanCheckbox value="test">
									<f:ajax event="change"
										listener="#{wniosekORekrutacjeBean.zmienListeWnioskow(item)}" />
								</p:selectBooleanCheckbox>
							</p:column>

							<p:column headerText="Data od" styleClass="w75" sortBy="#{item.get('pp_pre_data_od')}">
								<h:outputText value="#{item.get('pp_pre_data_od')}"
									converter="mycnv" />
							</p:column>

							<p:column headerText="Data do" styleClass="w75" sortBy="#{item.get('pp_pre_data_do')}">
								<h:outputText value="#{item.get('pp_pre_data_do')}"
									converter="mycnv" />
							</p:column>

							<p:column headerText="Stanowisko" sortBy="#{item.get('pp_stn_nazwa')}">
								<h:outputText value="#{item.get('pp_stn_nazwa')}" />
							</p:column>

							<p:column headerText="Liczba etatów" sortBy="#{item.get('pp_pre_etaty')}">
								<h:outputText value="#{item.get('pp_pre_etaty')}" />
							</p:column>

							<p:column headerText="Uwagi" styleClass="w150">
								<h:outputText id="uzasadnienieTblId"
									value="#{item.get('pp_pre_uwagi')}" />

							</p:column>

							<p:column headerText="Status" styleClass="w175" sortBy="#{wniosekORekrutacjeBean.getStatusNazwa(item.get('pp_pre_status'))}">
								<h:outputText
									value="#{wniosekORekrutacjeBean.getStatusNazwa(item.get('pp_pre_status'))}" />
							</p:column>

						</p:dataTable>
					</h:form>


		</ui:define>

	</ui:composition>

</h:body>

</html>
