<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">



	<p:dialog id="dlgOcenaWyborOcenianegoId"
		widgetVar="dlgOcenaWyborOcenianego" appendTo="@(body)" modal="true"
		closeOnEscape="true" draggable="true" resizable="false"
		classStyle="ctl-dialog">


		<f:facet name="header">
			<h:form>
				<p:panelGrid style="width:100%">

					<p:column>
						<p:commandButton value="Wybierz pracownika"
							style="color:White;right: 15px !important;"
							oncomplete="PF('dlgOcenaWyborOcenianego').hide();">
							<p:ajax listener="#{ocenaOkresowaBean.ustawPracownikaOcenianego(ocenaOkresowaBean.pracownikOceniany)}"/>
						</p:commandButton>
					</p:column>

					<p:column styleClass="r10">
						<p:commandButton id="btAnuluj" value="Wyjdź" styleClass="btnDlg"
							process="@this"
							oncomplete="PF('dlgOcenaWyborOcenianego').hide();" icon="clear">
						</p:commandButton>
					</p:column>
				</p:panelGrid>


			</h:form>
		</f:facet>

		<h:form id="formdlgOcenaWyborOcenianego"
			style="width:350px; height:200px;">
			<p:panelGrid>

				<p:selectOneMenu id="wyborOcenianegoId" filter="true"
					value="#{ocenaOkresowaBean.pracownikOceniany}"
					filterMatchMode="startsWith" style="width:275px">

					<f:selectItem itemLabel="Wybierz pracownika" itemValue="" />
					<f:selectItems value="#{ocenaOkresowaBean.pracownicyOceniani}" />
					<p:ajax event="change" />
				</p:selectOneMenu>

			</p:panelGrid>

		</h:form>

	</p:dialog>


</ui:composition>